{
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "protocol": "rest",
  "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Cloud Search",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "ownerName": "Google",
  "name": "cloudsearch",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1",
  "revision": "20260819",
  "title": "Cloud Search API",
  "id": "cloudsearch:v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/workspace/cloud-search/docs/guides/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "schemas": {
    "DateOperatorOptions": {
      "description": "Optional. Provides a search operator for date properties. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "id": "DateOperatorOptions",
      "type": "object",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the actual string required in the query in order to isolate the date property. For example, suppose an issue tracking schema object has a property named *closeDate* that specifies an operator with an operatorName of *closedon*. For searches on that data, queries like *closedon:<value>* show results only where the value of the *closeDate* property matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the indexed datasource. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:<value>* show results only where the value of the property named *closeDate* is earlier than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:<value>* show results only where the value of the property named *closeDate* is later than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      }
    },
    "StructuredResult": {
      "type": "object",
      "description": "Structured results that are returned as part of search request.",
      "id": "StructuredResult",
      "properties": {
        "person": {
          "description": "Representation of a person",
          "$ref": "Person"
        }
      }
    },
    "ItemCountByStatus": {
      "type": "object",
      "id": "ItemCountByStatus",
      "properties": {
        "statusCode": {
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "type": "string",
          "description": "Status of the items."
        },
        "indexedItemsCount": {
          "description": "Number of items matching the status code for which billing is done. This excludes virtual container items from the total count. This count would not be applicable for items with ERROR or NEW_ITEM status code.",
          "format": "int64",
          "type": "string"
        },
        "count": {
          "description": "Number of items matching the status code.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ObjectValues": {
      "type": "object",
      "description": "List of object values.",
      "id": "ObjectValues",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "StructuredDataObject"
          }
        }
      }
    },
    "SuggestResponse": {
      "type": "object",
      "description": "Response of the suggest API.",
      "properties": {
        "suggestResults": {
          "items": {
            "$ref": "SuggestResult"
          },
          "description": "List of suggestions.",
          "type": "array"
        }
      },
      "id": "SuggestResponse"
    },
    "RemoveActivityRequest": {
      "description": "Remove Logged Activity Request.",
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and clientId."
        },
        "userActivity": {
          "description": "User Activity containing the data to be deleted.",
          "$ref": "UserActivity"
        }
      },
      "type": "object",
      "id": "RemoveActivityRequest"
    },
    "GetCustomerIndexStatsResponse": {
      "type": "object",
      "id": "GetCustomerIndexStatsResponse",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerIndexStats"
          },
          "description": "Summary of indexed item counts, one for each day in the requested range."
        },
        "averageIndexedItemCount": {
          "type": "string",
          "description": "Average item count for the given date range for which billing is done.",
          "format": "int64"
        }
      }
    },
    "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson": {
      "id": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The profile of this person."
        },
        "query": {
          "type": "string",
          "description": "The query that can be used to produce an answer card with the same attribute, but for this person."
        }
      },
      "description": "A person that also matches the query, but was not selected due to a lower affinity with the requesting user."
    },
    "ProcessingError": {
      "id": "ProcessingError",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "The description of the error.",
          "type": "string"
        },
        "fieldViolations": {
          "type": "array",
          "description": "In case the item fields are invalid, this field contains the details about the validation errors.",
          "items": {
            "$ref": "FieldViolation"
          }
        },
        "code": {
          "type": "string",
          "description": "Error code indicating the nature of the error.",
          "enumDescriptions": [
            "Input only value. Use this value in Items.",
            "Item's ACL, metadata, or content is malformed or in invalid state. FieldViolations contains more details on where the problem is.",
            "Countent format is unsupported.",
            "Items with incomplete ACL information due to inheriting other items with broken ACL or having groups with unmapped descendants.",
            "ACL inheritance graph formed a cycle."
          ],
          "enum": [
            "PROCESSING_ERROR_CODE_UNSPECIFIED",
            "MALFORMED_REQUEST",
            "UNSUPPORTED_CONTENT_FORMAT",
            "INDIRECT_BROKEN_ACL",
            "ACL_CYCLE"
          ]
        }
      }
    },
    "PersonCore": {
      "description": "Information for rendering a person. NEXT ID: 37",
      "id": "PersonCore",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human-readable Unicode display name."
        },
        "admins": {
          "items": {
            "$ref": "PersonCore"
          },
          "type": "array",
          "description": "The profile owner's admins in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
        },
        "dottedLineManagers": {
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          },
          "description": "The profile owner's direct dotted line managers in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
        },
        "dottedLineReports": {
          "type": "array",
          "description": "A subset of the profile owner's dotted-line reports. The number of entities here may be less than total_dlr_count. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "personId": {
          "type": "string",
          "description": "The person's obfuscated Gaia ID."
        },
        "jobTitle": {
          "description": "Profile owner's job title (e.g. \"Software Engineer\"). For google.com this is the Workday preferred job title.",
          "type": "string"
        },
        "costCenter": {
          "description": "Person's cost center as a string, e.g. \"926: Googler Apps\".",
          "type": "string"
        },
        "keywords": {
          "description": "Custom keywords the domain admin has added.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "adminTo": {
          "description": "People the profile owner is an admin to. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          },
          "type": "array"
        },
        "photoUrl": {
          "description": "Person photo.",
          "$ref": "SafeUrlProto"
        },
        "totalDlrCount": {
          "type": "integer",
          "description": "Total count of the profile owner's dotted-line reports.",
          "format": "int32"
        },
        "totalDirectReportsCount": {
          "description": "Total count of the profile owner's direct reports.",
          "type": "integer",
          "format": "int32"
        },
        "addressMeAs": {
          "description": "Instructions for how to address this person (e.g. custom pronouns). For google.com this is a set of pronouns from a defined list of options.",
          "type": "string"
        },
        "employeeId": {
          "description": "Person's employee number (external ID of type \"organization\") For google.com this is the badge number (e.g. 2 for Larry Page).",
          "type": "string"
        },
        "managers": {
          "items": {
            "$ref": "PersonCore"
          },
          "description": "The profile owner's management chain from top to bottom, where managers[0] is the CEO, manager[N-2] is the person's manager's manager and managers[N-1] is the person's direct manager. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "type": "array"
        },
        "postalAddress": {
          "type": "string",
          "description": "Postal address of office/building."
        },
        "availabilityStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "OUT_OF_OFFICE",
            "OUTSIDE_WORKING_HOURS",
            "AVAILABLE"
          ]
        },
        "location": {
          "description": "Detailed desk location within the company. For google.com this is the desk location code (e.g. \"DE-MUC-ARP-6T2-6T2C0C\") if the person has a desk.",
          "type": "string"
        },
        "ftePermille": {
          "description": "Full-time equivalent (in ‰) (e.g. 800 for a person who's working 80%).",
          "type": "string",
          "format": "int64"
        },
        "directReports": {
          "type": "array",
          "description": "A subset of the profile owner's direct reports. The number of entities here may be less than total_direct_reports_count, because typically ProfileResponse does not include all the person's reports, if there are too many to retrieve efficiently. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "officeLocation": {
          "description": "Office/building identifier within the company. For google.com this is the office code (e.g. \"DE-MUC-ARP\").",
          "type": "string"
        },
        "department": {
          "description": "The person's Organization department, e.g. \"People Operations\". For google.com this is usually called \"area\".",
          "type": "string"
        },
        "geoLocation": {
          "$ref": "MapInfo"
        },
        "waldoComeBackTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "totalFteCount": {
          "format": "int64",
          "description": "The sum of all profile owner's reports and their own full-time-equivalents in ‰ (e.g. 1800 if one report is working 80% and profile owner 100%).",
          "type": "string"
        },
        "birthday": {
          "$ref": "Date",
          "description": "Person birthday."
        },
        "mission": {
          "description": "Custom mission statement the profile owner has added.",
          "type": "string"
        },
        "links": {
          "description": "Custom links the profile owner has added.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazFrontendTeamsLink"
          }
        },
        "gmailUrl": {
          "type": "string"
        },
        "emails": {
          "description": "E-mail addresses of the person. The primary or preferred email should be first.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fingerprint": {
          "description": "A fingerprint used by PAPI to reliably determine if a resource has changed Externally it is used as part of the etag.",
          "type": "string"
        },
        "chatUrl": {
          "$ref": "SafeUrlProto",
          "description": "The URL to start a chat conversation with the profile owner. For google.com this is a Hangouts URL."
        },
        "calendarUrl": {
          "description": "The URL to open the profile owner's primary calendar.",
          "$ref": "SafeUrlProto"
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber"
          }
        },
        "keywordTypes": {
          "items": {
            "type": "string"
          },
          "description": "List of keys to use from the map 'keywords'.",
          "type": "array"
        },
        "username": {
          "description": "External ID of type \"login_id\" for the profile. For google.com this is the username/LDAP.",
          "type": "string"
        }
      }
    },
    "PropertyDisplayOptions": {
      "properties": {
        "displayLabel": {
          "description": "The user friendly label for the property that is used if the property is specified to be displayed in ObjectDisplayOptions. If provided, the display label is shown in front of the property values when the property is part of the object display options. For example, if the property value is '1', the value by itself may not be useful context for the user. If the display name given was 'priority', then the user sees 'priority : 1' in the search results which provides clear context to search users. This is OPTIONAL; if not given, only the property values are displayed. The maximum length is 64 characters.",
          "type": "string"
        }
      },
      "id": "PropertyDisplayOptions",
      "description": "The display options for a property.",
      "type": "object"
    },
    "DataSourceIndexStats": {
      "type": "object",
      "id": "DataSourceIndexStats",
      "description": "Aggregation of items by status code as of the specified date.",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date for which index stats were calculated. If the date of request is not the current date then stats calculated on the next day are returned. Stats are calculated close to mid night in this case. If date of request is current date, then real time stats are returned."
        },
        "itemCountByStatus": {
          "description": "Number of items aggregrated by status code.",
          "items": {
            "$ref": "ItemCountByStatus"
          },
          "type": "array"
        }
      }
    },
    "TextValues": {
      "description": "List of text values.",
      "type": "object",
      "id": "TextValues",
      "properties": {
        "values": {
          "type": "array",
          "description": "The maximum allowable length for text values is 2048 characters.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseTopazSidekickPersonalizedDocsCardProto": {
      "properties": {
        "documentGroup": {
          "items": {
            "$ref": "EnterpriseTopazSidekickDocumentGroup"
          },
          "description": "Document group.",
          "type": "array"
        }
      },
      "id": "EnterpriseTopazSidekickPersonalizedDocsCardProto",
      "description": "Personalized docs card proto.",
      "type": "object"
    },
    "PushItemRequest": {
      "properties": {
        "connectorName": {
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "item": {
          "$ref": "PushItem",
          "description": "Item to push onto the queue."
        }
      },
      "type": "object",
      "id": "PushItemRequest"
    },
    "DoublePropertyOptions": {
      "description": "The options for double properties.",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the double should be used as a search operator.",
          "$ref": "DoubleOperatorOptions"
        }
      },
      "type": "object",
      "id": "DoublePropertyOptions"
    },
    "SafeUrlProto": {
      "id": "SafeUrlProto",
      "type": "object",
      "description": "Message containing a string that is safe to use in URL contexts in DOM APIs and HTML documents, where the URL context does not refer to a resource that loads code.",
      "properties": {
        "privateDoNotAccessOrElseSafeUrlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      }
    },
    "TimestampValues": {
      "description": "List of timestamp values.",
      "id": "TimestampValues",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      },
      "type": "object"
    },
    "QueryInterpretationConfig": {
      "type": "object",
      "description": "Default options to interpret user query.",
      "id": "QueryInterpretationConfig",
      "properties": {
        "forceDisableSupplementalResults": {
          "description": "Set this flag to disable supplemental results retrieval, setting a flag here will not retrieve supplemental results for queries associated with a given search application. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for supplemental results.",
          "type": "boolean"
        },
        "forceVerbatimMode": {
          "type": "boolean",
          "description": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental results retrieval, and usage of synonyms including custom ones. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for verbatim mode."
        }
      }
    },
    "ContextAttribute": {
      "description": "A named attribute associated with an item which can be used for influencing the ranking of the item based on the context in the request.",
      "id": "ContextAttribute",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute. It should not be empty. The maximum length is 32 characters. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The name will be normalized (lower-cased) before being matched."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Text values of the attribute. The maximum number of elements is 10. The maximum length of an element in the array is 32 characters. The value will be normalized (lower-cased) before being matched.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "EmailAddress": {
      "properties": {
        "emailUrl": {
          "type": "string",
          "description": "The URL to send email."
        },
        "emailAddress": {
          "description": "The email address.",
          "type": "string"
        },
        "type": {
          "description": "The type of the email account. Acceptable values are: \"custom\", \"home\", \"other\", \"work\".",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "Indicates if this is the user's primary email. Only one entry can be marked as primary."
        },
        "customType": {
          "description": "If the value of type is custom, this property contains the custom type string.",
          "type": "string"
        }
      },
      "id": "EmailAddress",
      "description": "A person's email address.",
      "type": "object"
    },
    "GetSearchApplicationUserStatsResponse": {
      "properties": {
        "stats": {
          "items": {
            "$ref": "SearchApplicationUserStats"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GetSearchApplicationUserStatsResponse"
    },
    "SourceConfig": {
      "type": "object",
      "description": "Configurations for a source while processing a Search or Suggest request.",
      "id": "SourceConfig",
      "properties": {
        "scoringConfig": {
          "description": "The scoring configuration for the source.",
          "$ref": "SourceScoringConfig"
        },
        "source": {
          "$ref": "Source",
          "description": "The source for which this configuration is to be used."
        },
        "crowdingConfig": {
          "$ref": "SourceCrowdingConfig",
          "description": "The crowding configuration for the source."
        }
      }
    },
    "SearchApplicationQueryStats": {
      "properties": {
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        },
        "date": {
          "description": "The date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "description": "Search application level query stats per date",
      "id": "SearchApplicationQueryStats"
    },
    "InitializeCustomerRequest": {
      "description": "Request message for `InitializeCustomer` method.",
      "id": "InitializeCustomerRequest",
      "properties": {},
      "type": "object"
    },
    "IntegerFacetingOptions": {
      "description": "Used to specify integer faceting options.",
      "id": "IntegerFacetingOptions",
      "type": "object",
      "properties": {
        "integerBuckets": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Buckets for given integer values should be in strictly ascending order. For example, if values supplied are (1,5,10,100), the following facet buckets will be formed {<1, [1,5), [5-10), [10-100), >=100}."
        }
      }
    },
    "DriveMimeTypeRestrict": {
      "id": "DriveMimeTypeRestrict",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\")."
    },
    "EnterpriseTopazSidekickNlpMetadata": {
      "description": "Metadata about the NLP interpretation of the query.",
      "type": "object",
      "id": "EnterpriseTopazSidekickNlpMetadata",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence of the interpretation that generated this card.",
          "format": "float"
        }
      }
    },
    "CustomerSearchApplicationStats": {
      "properties": {
        "date": {
          "description": "The date for which search application stats were calculated.",
          "$ref": "Date"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The count of search applications for the date."
        }
      },
      "id": "CustomerSearchApplicationStats",
      "type": "object",
      "description": "Search application stats for a customer for the given date."
    },
    "EnterpriseTopazSidekickCommonDebugInfo": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message."
        }
      },
      "description": "Container of debugging information in all object levels. Extend as needed.",
      "id": "EnterpriseTopazSidekickCommonDebugInfo"
    },
    "PollItemsRequest": {
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of items to return. The maximum value is 100 and the default value is 20."
        },
        "connectorName": {
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "queue": {
          "type": "string",
          "description": "Queue name to fetch items from. If unspecified, PollItems will fetch from 'default' queue. The maximum length is 100 characters."
        },
        "statusCodes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CODE_UNSPECIFIED",
              "ERROR",
              "MODIFIED",
              "NEW_ITEM",
              "ACCEPTED"
            ],
            "enumDescriptions": [
              "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
              "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
              "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
              "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
              "API has accepted the up-to-date data of this item."
            ]
          },
          "description": "Limit the items polled to the ones with these statuses."
        }
      },
      "type": "object",
      "id": "PollItemsRequest"
    },
    "DataSource": {
      "description": "Datasource is a logical namespace for items to be indexed. All items must belong to a datasource. This is the prerequisite before items can be indexed into Cloud Search. ",
      "id": "DataSource",
      "type": "object",
      "properties": {
        "indexingServiceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "List of service accounts that have indexing access.",
          "type": "array"
        },
        "returnThumbnailUrls": {
          "description": "Can a user request to get thumbnail URI for Items indexed in this data source.",
          "type": "boolean"
        },
        "disableServing": {
          "description": "Disable serving any search or assist results.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the datasource The maximum length is 300 characters.",
          "type": "string"
        },
        "itemsVisibility": {
          "description": "This field restricts visibility to items at the datasource level. Items within the datasource are restricted to the union of users and groups included in this field. Note that, this does not ensure access to a specific item, as users need to have ACL permissions on the contained items. This ensures a high level access on the entire datasource, and that the individual items are not shared outside this visibility.",
          "type": "array",
          "items": {
            "$ref": "GSuitePrincipal"
          }
        },
        "operationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema."
        },
        "disableModifications": {
          "type": "boolean",
          "description": "If true, sets the datasource to read-only mode. In read-only mode, the Indexing API rejects any requests to index or delete items in this source. Enabling read-only mode does not stop the processing of previously accepted data."
        },
        "shortName": {
          "type": "string",
          "description": "A short name or alias for the source. This value will be used to match the 'source' operator. For example, if the short name is *<value>* then queries like *source:<value>* will only return results for this source. The value must be unique across all datasources. The value must only contain alphanumeric characters (a-zA-Z0-9). The value cannot start with 'google' and cannot be one of the following: mail, gmail, docs, drive, groups, sites, calendar, hangouts, gplus, keep, people, teams. Its maximum length is 32 characters."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of date. Must be from 1 to 12."
        }
      },
      "description": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.",
      "id": "Date",
      "type": "object"
    },
    "EnumPropertyOptions": {
      "id": "EnumPropertyOptions",
      "properties": {
        "orderedRanking": {
          "enumDescriptions": [
            "There is no ranking order for the property. Results aren't adjusted by this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower ranking.",
            "This property is ranked in descending order. Lower values indicate higher ranking."
          ],
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "description": "Used to specify the ordered ranking for the enumeration that determines how the integer values provided in the possible EnumValuePairs are used to rank results. If specified, integer values must be provided for all possible EnumValuePair values given for this property. Can only be used if isRepeatable is false."
        },
        "operatorOptions": {
          "$ref": "EnumOperatorOptions",
          "description": "If set, describes how the enum should be used as a search operator."
        },
        "possibleValues": {
          "type": "array",
          "description": "The list of possible values for the enumeration property. All EnumValuePairs must provide a string value. If you specify an integer value for one EnumValuePair, then all possible EnumValuePairs must provide an integer value. Both the string value and integer value must be unique over all possible values. Once set, possible values cannot be removed or modified. If you supply an ordered ranking and think you might insert additional enum values in the future, leave gaps in the initial integer values to allow adding a value in between previously registered values. The maximum number of elements is 100.",
          "items": {
            "$ref": "EnumValuePair"
          }
        }
      },
      "type": "object",
      "description": "The options for enum properties, which allow you to define a restricted set of strings to match user queries, set rankings for those string values, and define an operator name to be paired with those strings so that users can narrow results to only items with a specific value. For example, for items in a request tracking system with priority information, you could define *p0* as an allowable enum value and tie this enum to the operator name *priority* so that search users could add *priority:p0* to their query to restrict the set of results to only those items indexed with the value *p0*."
    },
    "ObjectPropertyOptions": {
      "description": "The options for object properties.",
      "properties": {
        "subobjectProperties": {
          "type": "array",
          "items": {
            "$ref": "PropertyDefinition"
          },
          "description": "The properties of the sub-object. These properties represent a nested object. For example, if this property represents a postal address, the subobjectProperties might be named *street*, *city*, and *state*. The maximum number of elements is 1000."
        }
      },
      "type": "object",
      "id": "ObjectPropertyOptions"
    },
    "CompositeFilter": {
      "properties": {
        "logicOperator": {
          "enumDescriptions": [
            "Logical operators, which can only be applied to sub filters.",
            "",
            "NOT can only be applied on a single sub filter."
          ],
          "enum": [
            "AND",
            "OR",
            "NOT"
          ],
          "description": "The logic operator of the sub filter.",
          "type": "string"
        },
        "subFilters": {
          "items": {
            "$ref": "Filter"
          },
          "description": "Sub filters.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CompositeFilter"
    },
    "SourceScoringConfig": {
      "type": "object",
      "id": "SourceScoringConfig",
      "description": "Set the scoring configuration. This allows modifying the ranking of results for a source.",
      "properties": {
        "sourceImportance": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Importance of the source.",
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ],
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "FacetOptions": {
      "description": "Specifies operators to return facet results for. There will be one FacetResult for every source_name/object_type/operator_name combination.",
      "id": "FacetOptions",
      "properties": {
        "integerFacetingOptions": {
          "description": "If set, describes integer faceting options for the given integer property. The corresponding integer property in the schema should be marked isFacetable. The number of buckets returned would be minimum of this and num_facet_buckets.",
          "$ref": "IntegerFacetingOptions"
        },
        "sourceName": {
          "description": "Source name to facet on. Format: datasources/{source_id} If empty, all data sources will be used.",
          "type": "string"
        },
        "operatorName": {
          "description": "The name of the operator chosen for faceting. @see cloudsearch.SchemaPropertyOptions",
          "type": "string"
        },
        "objectType": {
          "description": "If object_type is set, only those objects of that type will be used to compute facets. If empty, then all objects will be used to compute facets.",
          "type": "string"
        },
        "numFacetBuckets": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of facet buckets that should be returned for this facet. Defaults to 10. Maximum value is 100."
        }
      },
      "type": "object"
    },
    "SearchItemsByViewUrlResponse": {
      "id": "SearchItemsByViewUrlResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickGetAndKeepAheadCardProto": {
      "properties": {
        "declinedEvents": {
          "$ref": "EnterpriseTopazSidekickGetAndKeepAheadCardProtoDeclinedEvents"
        },
        "mentionedDocuments": {
          "$ref": "EnterpriseTopazSidekickDocumentPerCategoryList"
        },
        "sharedDocuments": {
          "$ref": "EnterpriseTopazSidekickDocumentPerCategoryList"
        }
      },
      "description": "Get and keep ahead card",
      "type": "object",
      "id": "EnterpriseTopazSidekickGetAndKeepAheadCardProto"
    },
    "ResultCounts": {
      "id": "ResultCounts",
      "type": "object",
      "properties": {
        "sourceResultCounts": {
          "items": {
            "$ref": "SourceResultCount"
          },
          "type": "array",
          "description": "Result count information for each source with results."
        }
      },
      "description": "Result count information"
    },
    "PeoplePromotionCard": {
      "type": "object",
      "properties": {
        "people": {
          "items": {
            "$ref": "PersonCore"
          },
          "type": "array"
        }
      },
      "id": "PeoplePromotionCard"
    },
    "ListDataSourceResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          }
        }
      },
      "id": "ListDataSourceResponse"
    },
    "Action": {
      "type": "object",
      "id": "Action",
      "properties": {
        "title": {
          "type": "string",
          "description": "[Required] Title of the action."
        },
        "url": {
          "description": "[Optional] Url of the action.",
          "type": "string"
        }
      }
    },
    "SpellResult": {
      "id": "SpellResult",
      "type": "object",
      "properties": {
        "suggestionType": {
          "enumDescriptions": [
            "Default spell check type",
            "Spell suggestion without any results changed. The results are still shown for the original query (which has non zero / results) with a suggestion for spelling that would have results.",
            "Spell suggestion triggered when original query has no results. When the original query has no results, and spell suggestion has results we trigger results for the spell corrected query."
          ],
          "description": "Suggestion triggered for the current query.",
          "type": "string",
          "enum": [
            "SUGGESTION_TYPE_UNSPECIFIED",
            "NON_EMPTY_RESULTS_SPELL_SUGGESTION",
            "ZERO_RESULTS_FULL_PAGE_REPLACEMENT"
          ]
        },
        "suggestedQueryHtml": {
          "description": "The sanitized HTML representing the spell corrected query that can be used in the UI. This usually has language-specific tags to mark up parts of the query that are spell checked.",
          "$ref": "SafeHtmlProto"
        },
        "suggestedQuery": {
          "type": "string",
          "description": "The suggested spelling of the query."
        }
      }
    },
    "EnterpriseTopazSidekickScheduledMeeting": {
      "type": "object",
      "id": "EnterpriseTopazSidekickScheduledMeeting",
      "description": "Details about scheduled meetings.",
      "properties": {
        "meetingLocation": {
          "description": "The meeting location.",
          "type": "string"
        },
        "meetingTime": {
          "$ref": "EnterpriseTopazSidekickTimeSlot",
          "description": "The meeting time slot."
        },
        "meetingTitle": {
          "type": "string",
          "description": "The meeting title."
        }
      }
    },
    "EnumOperatorOptions": {
      "id": "EnumOperatorOptions",
      "description": "Used to provide a search operator for enum properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched. For example, if you provide no operator for a *priority* enum property with possible values *p0* and *p1*, a query that contains the term *p0* returns items that have *p0* as the value of the *priority* property, as well as any items that contain the string *p0* in other fields. If you provide an operator name for the enum, such as *priority*, then search users can use that operator to refine results to only items that have *p0* as this property's value, with the query *priority:p0*.",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the enum property. For example, if operatorName is *priority* and the property's name is *priorityVal*, then queries like *priority:<value>* show results only where the value of the property named *priorityVal* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      }
    },
    "SuggestResult": {
      "type": "object",
      "properties": {
        "querySuggestion": {
          "$ref": "QuerySuggestion",
          "description": "This field will be present if the suggested query is a word/phrase completion."
        },
        "suggestedQuery": {
          "description": "The suggested query that will be used for search, when the user clicks on the suggestion",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the suggestion."
        },
        "peopleSuggestion": {
          "$ref": "PeopleSuggestion",
          "description": "This is present when the suggestion indicates a person. It contains more information about the person - like their email ID, name etc."
        }
      },
      "description": "One suggestion result.",
      "id": "SuggestResult"
    },
    "TextPropertyOptions": {
      "type": "object",
      "description": "The options for text properties.",
      "id": "TextPropertyOptions",
      "properties": {
        "retrievalImportance": {
          "$ref": "RetrievalImportance",
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval."
        },
        "operatorOptions": {
          "$ref": "TextOperatorOptions",
          "description": "If set, describes how the property should be used as a search operator."
        }
      }
    },
    "EnumValuePair": {
      "description": "The enumeration value pair defines two things: a required string value and an optional integer value. The string value defines the necessary query term required to retrieve that item, such as *p0* for a priority item. The integer value determines the ranking of that string value relative to other enumerated values for the same property. For example, you might associate *p0* with *0* and define another enum pair such as *p1* and *1*. You must use the integer value in combination with ordered ranking to set the ranking of a given value relative to other enumerated values for the same property name. Here, a ranking order of DESCENDING for *priority* properties results in a ranking boost for items indexed with a value of *p0* compared to items indexed with a value of *p1*. Without a specified ranking order, the integer value has no effect on item ranking.",
      "type": "object",
      "id": "EnumValuePair",
      "properties": {
        "integerValue": {
          "type": "integer",
          "format": "int32",
          "description": "The integer value of the EnumValuePair which must be non-negative. Optional."
        },
        "stringValue": {
          "type": "string",
          "description": "The string value of the EnumValuePair. The maximum length is 32 characters."
        }
      }
    },
    "MapInfo": {
      "id": "MapInfo",
      "properties": {
        "long": {
          "description": "Longitude in degrees",
          "type": "number",
          "format": "double"
        },
        "lat": {
          "format": "double",
          "description": "Latitude in degrees",
          "type": "number"
        },
        "locationUrl": {
          "description": "URL to a view of a map centered on the user's work location in Campus Maps (for google.com) or Google Maps (external).",
          "$ref": "SafeUrlProto"
        },
        "mapTile": {
          "type": "array",
          "items": {
            "$ref": "MapTile"
          },
          "description": "MapTiles for the area around a user's work location"
        },
        "zoom": {
          "format": "int32",
          "description": "The zoom level of the map. A constant zoom value of 18 is used for now to match the zoom of the map shown on a Moma Teams Profile page",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Geo information used for rendering a map that shows the user's work location."
    },
    "SearchApplicationUserStats": {
      "id": "SearchApplicationUserStats",
      "type": "object",
      "properties": {
        "date": {
          "description": "The date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "thirtyDaysActiveUsersCount": {
          "type": "string",
          "description": "The count of unique active users in the past thirty days",
          "format": "int64"
        },
        "sevenDaysActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past seven days",
          "type": "string"
        },
        "oneDayActiveUsersCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of unique active users in the past one day"
        }
      }
    },
    "CustomerSessionStats": {
      "properties": {
        "date": {
          "description": "The date for which session stats were calculated. Stats are calculated on the following day, close to midnight PST, and then returned.",
          "$ref": "Date"
        },
        "searchSessionsCount": {
          "type": "string",
          "description": "The count of search sessions on the day",
          "format": "int64"
        }
      },
      "id": "CustomerSessionStats",
      "type": "object"
    },
    "HtmlPropertyOptions": {
      "id": "HtmlPropertyOptions",
      "description": "The options for html properties.",
      "properties": {
        "operatorOptions": {
          "$ref": "HtmlOperatorOptions",
          "description": "If set, describes how the property should be used as a search operator."
        },
        "retrievalImportance": {
          "$ref": "RetrievalImportance",
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval. Can only be set to DEFAULT or NONE."
        }
      },
      "type": "object"
    },
    "ThirdPartyGenericCard": {
      "type": "object",
      "properties": {
        "category": {
          "description": "Category that the card belongs to.",
          "type": "string"
        },
        "content": {
          "description": "[Required] Card content.",
          "$ref": "Content"
        },
        "context": {
          "description": "[Required] Context where the card should be triggered.",
          "$ref": "Context"
        },
        "cardId": {
          "description": "Unique identifier for the card.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of the card, where 0 is the highest priority."
        },
        "isDismissible": {
          "description": "Whether the card can be dismissed.",
          "type": "boolean"
        }
      },
      "id": "ThirdPartyGenericCard"
    },
    "PhoneNumber": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "OTHER",
            "MOBILE",
            "OFFICE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the person."
        }
      },
      "type": "object",
      "description": "A person's Phone Number",
      "id": "PhoneNumber"
    },
    "ItemContent": {
      "id": "ItemContent",
      "properties": {
        "contentDataRef": {
          "$ref": "UploadItemRef",
          "description": "Upload reference ID of a previously uploaded content via write method."
        },
        "hash": {
          "type": "string",
          "description": "Hashing info calculated and provided by the API client for content. Can be used with the items.push method to calculate modified state. The maximum length is 2048 characters."
        },
        "contentFormat": {
          "enum": [
            "UNSPECIFIED",
            "HTML",
            "TEXT",
            "RAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "contentFormat is HTML.",
            "contentFormat is free text.",
            "contentFormat is raw bytes."
          ]
        },
        "inlineContent": {
          "type": "string",
          "description": "Content that is supplied inlined within the update method. The maximum length is 102400 bytes (100 KiB).",
          "format": "byte"
        }
      },
      "description": "Content of an item to be indexed and surfaced by Cloud Search. Only UTF-8 encoded strings are allowed as inlineContent. If the content is uploaded and not binary, it must be UTF-8 encoded.",
      "type": "object"
    },
    "ObjectOptions": {
      "properties": {
        "freshnessOptions": {
          "description": "The freshness options for an object.",
          "$ref": "FreshnessOptions"
        },
        "displayOptions": {
          "$ref": "ObjectDisplayOptions",
          "description": "The options that determine how the object is displayed in the Cloud Search results page."
        },
        "suggestionFilteringOperators": {
          "description": "Operators that can be used to filter suggestions. For Suggest API, only operators mentioned here will be honored in the FilterOptions. Only TEXT and ENUM operators are supported. NOTE: \"objecttype\", \"type\" and \"mimetype\" are already supported. This property is to configure schema specific operators. Even though this is an array, only one operator can be specified. This is an array for future extensibility. Operators mapping to multiple properties within the same object are not supported. If the operator spans across different object types, this option has to be set once for each object definition.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ObjectOptions",
      "description": "The options for an object.",
      "type": "object"
    },
    "DriveFollowUpRestrict": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "FOLLOWUP_SUGGESTIONS",
            "FOLLOWUP_ACTION_ITEMS"
          ]
        }
      },
      "description": "Drive follow-up search restricts (e.g. \"followup:suggestions\").",
      "id": "DriveFollowUpRestrict"
    },
    "DataSourceRestriction": {
      "id": "DataSourceRestriction",
      "properties": {
        "filterOptions": {
          "type": "array",
          "items": {
            "$ref": "FilterOptions"
          },
          "description": "Filter options restricting the results. If multiple filters are present, they are grouped by object type before joining. Filters with the same object type are joined conjunctively, then the resulting expressions are joined disjunctively. The maximum number of elements is 20. NOTE: Suggest API supports only few filters at the moment: \"objecttype\", \"type\" and \"mimetype\". For now, schema specific filters cannot be used to filter suggestions."
        },
        "source": {
          "$ref": "Source",
          "description": "The source of restriction."
        }
      },
      "description": "Restriction on Datasource.",
      "type": "object"
    },
    "RemoveActivityResponse": {
      "properties": {},
      "type": "object",
      "id": "RemoveActivityResponse",
      "description": "Remove Logged Activity Response. will return an empty response for now. Will be revisited in later phases."
    },
    "SourceResultCount": {
      "type": "object",
      "id": "SourceResultCount",
      "properties": {
        "resultCountEstimate": {
          "format": "int64",
          "description": "The estimated result count for this source.",
          "type": "string"
        },
        "source": {
          "description": "The source the result count information is associated with.",
          "$ref": "Source"
        },
        "resultCountExact": {
          "type": "string",
          "description": "The exact result count for this source.",
          "format": "int64"
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results for this source."
        }
      },
      "description": "Per source result count information."
    },
    "GetCustomerUserStatsResponse": {
      "id": "GetCustomerUserStatsResponse",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerUserStats"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickRecentDocumentsCardProto": {
      "properties": {
        "document": {
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonDocument"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickRecentDocumentsCardProto"
    },
    "ErrorMessage": {
      "id": "ErrorMessage",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source"
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "description": "Error message per source response."
    },
    "DatePropertyOptions": {
      "type": "object",
      "description": "The options for date properties.",
      "id": "DatePropertyOptions",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the date should be used as a search operator.",
          "$ref": "DateOperatorOptions"
        }
      }
    },
    "SafeHtmlProto": {
      "type": "object",
      "id": "SafeHtmlProto",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message.",
          "type": "string"
        }
      }
    },
    "VPCSettings": {
      "type": "object",
      "properties": {
        "project": {
          "description": "The resource name of the GCP Project to be used for VPC SC policy check. VPC security settings on this project will be honored for Cloud Search APIs after project_name has been updated through CustomerService. Format: projects/{project_id}",
          "type": "string"
        }
      },
      "id": "VPCSettings"
    },
    "ItemMetadata": {
      "id": "ItemMetadata",
      "properties": {
        "hash": {
          "description": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        },
        "keywords": {
          "description": "Additional keywords or phrases that should match the item. Used internally for user generated content. The maximum number of elements is 100. The maximum length is 8192 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "containerName": {
          "type": "string",
          "description": "The name of the container for this item. Deletion of the container item leads to automatic deletion of this item. Note: ACLs are not inherited from a container item. To provide ACL inheritance for an item, use the inheritAclFrom field. The maximum length is 1536 characters."
        },
        "title": {
          "type": "string",
          "description": "The title of the item. If given, this will be the displayed title of the Search result. The maximum length is 2048 characters."
        },
        "contentLanguage": {
          "description": "The BCP-47 language code for the item, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. The maximum length is 32 characters.",
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "description": "The type of the item. This should correspond to the name of an object definition in the schema registered for the data source. For example, if the schema for the data source contains an object definition with name 'document', then item indexing requests for objects of that type should set objectType to 'document'. The maximum length is 256 characters."
        },
        "sourceRepositoryUrl": {
          "type": "string",
          "description": "Link to the source repository serving the data. Seach results apply this link to the title. Whitespace or special characters may cause Cloud Seach result links to trigger a redirect notice; to avoid this, encode the URL. The maximum length is 2048 characters."
        },
        "searchQualityMetadata": {
          "$ref": "SearchQualityMetadata",
          "description": "Additional search quality metadata of the item"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the item was last modified in the source repository."
        },
        "contextAttributes": {
          "items": {
            "$ref": "ContextAttribute"
          },
          "description": "A set of named attributes associated with the item. This can be used for influencing the ranking of the item based on the context in the request. The maximum number of elements is 10.",
          "type": "array"
        },
        "mimeType": {
          "description": "The original mime-type of ItemContent.content in the source repository. The maximum length is 256 characters.",
          "type": "string"
        },
        "interactions": {
          "description": "A list of interactions for the item. Interactions are used to improve Search quality, but are not exposed to end users. The maximum number of elements is 1000.",
          "type": "array",
          "items": {
            "$ref": "Interaction"
          }
        },
        "createTime": {
          "description": "The time when the item was created in the source repository.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Available metadata fields for the item."
    },
    "QuerySuggestion": {
      "id": "QuerySuggestion",
      "type": "object",
      "properties": {
        "sourceCorpus": {
          "enum": [
            "SOURCE_CORPUS_UNSPECIFIED",
            "GMAIL",
            "DRIVE",
            "CHAT",
            "CALENDAR"
          ],
          "enumDescriptions": [
            "Source corpus is unspecified.",
            "Source corpus is Gmail.",
            "Source corpus is Drive.",
            "Source corpus is Chat.",
            "Source corpus is Calendar."
          ],
          "type": "string",
          "description": "Source corpus of the suggestion."
        },
        "lastQueryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last query time of the suggestion for query history suggestions."
        }
      }
    },
    "EnterpriseTopazFrontendTeamsLink": {
      "properties": {
        "url": {
          "$ref": "SafeUrlProto"
        },
        "type": {
          "type": "string",
          "description": "The identifying link type"
        }
      },
      "type": "object",
      "id": "EnterpriseTopazFrontendTeamsLink"
    },
    "EnterpriseTopazSidekickMeetingNotesCardError": {
      "description": "Errors in the creation of meeting notes.",
      "properties": {
        "event": {
          "description": "The event to request meeting notes creation",
          "$ref": "EnterpriseTopazSidekickAgendaEntry"
        },
        "reason": {
          "enumDescriptions": [
            "No reason (default value).",
            "The user is not an owner.",
            "Unknown reason."
          ],
          "enum": [
            "NONE",
            "NOT_OWNER",
            "UNKNOWN"
          ],
          "type": "string",
          "description": "The reason why create-meeting-notes failed."
        },
        "description": {
          "description": "The description of the reason why create-meeting-notes failed.",
          "type": "string"
        }
      },
      "id": "EnterpriseTopazSidekickMeetingNotesCardError",
      "type": "object"
    },
    "EnterpriseTopazSidekickAgendaGroupCardProto": {
      "id": "EnterpriseTopazSidekickAgendaGroupCardProto",
      "properties": {
        "agendaItem": {
          "items": {
            "$ref": "EnterpriseTopazSidekickAgendaItem"
          },
          "type": "array"
        },
        "currentAgendaItem": {
          "$ref": "EnterpriseTopazSidekickAgendaItem"
        },
        "context": {
          "$ref": "EnterpriseTopazSidekickAgendaGroupCardProtoContext"
        }
      },
      "type": "object"
    },
    "PropertyDefinition": {
      "type": "object",
      "properties": {
        "enumPropertyOptions": {
          "$ref": "EnumPropertyOptions"
        },
        "doublePropertyOptions": {
          "$ref": "DoublePropertyOptions"
        },
        "objectPropertyOptions": {
          "$ref": "ObjectPropertyOptions"
        },
        "displayOptions": {
          "description": "The options that determine how the property is displayed in the Cloud Search results page if it's specified to be displayed in the object's display options.",
          "$ref": "PropertyDisplayOptions"
        },
        "isRepeatable": {
          "description": "Indicates that multiple values are allowed for the property. For example, a document only has one description but can have multiple comments. Cannot be true for properties whose type is a boolean. If set to false, properties that contain more than one value cause the indexing request for that item to be rejected.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the property. Item indexing requests sent to the Indexing API should set the property name equal to this value. For example, if name is *subject_line*, then indexing requests for document items with subject fields should set the name for that field equal to *subject_line*. Use the name as the identifier for the object property. Once registered as a property for an object, you cannot re-use this name for another property within that object. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters.",
          "type": "string"
        },
        "integerPropertyOptions": {
          "$ref": "IntegerPropertyOptions"
        },
        "timestampPropertyOptions": {
          "$ref": "TimestampPropertyOptions"
        },
        "booleanPropertyOptions": {
          "$ref": "BooleanPropertyOptions"
        },
        "isSuggestable": {
          "description": "Indicates that the property can be used for generating query suggestions.",
          "type": "boolean"
        },
        "isFacetable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for generating facets. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for boolean, enum, integer, and text properties."
        },
        "datePropertyOptions": {
          "$ref": "DatePropertyOptions"
        },
        "htmlPropertyOptions": {
          "$ref": "HtmlPropertyOptions"
        },
        "isWildcardSearchable": {
          "description": "Indicates that users can perform wildcard search for this property. Only supported for Text properties. IsReturnable must be true to set this option. In a given datasource maximum of 5 properties can be marked as is_wildcard_searchable. For more details, see [Define object properties](https://developers.google.com/workspace/cloud-search/docs/guides/schema-guide#properties)",
          "type": "boolean"
        },
        "isReturnable": {
          "description": "Indicates that the property identifies data that should be returned in search results via the Query API. If set to *true*, indicates that Query API users can use matching property fields in results. However, storing fields requires more space allocation and uses more bandwidth for search queries, which impacts performance over large datasets. Set to *true* here only if the field is needed for search results. Cannot be true for properties whose type is an object.",
          "type": "boolean"
        },
        "isSortable": {
          "description": "Indicates that the property can be used for sorting. Cannot be true for properties that are repeatable. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for boolean, date, double, integer, and timestamp properties.",
          "type": "boolean"
        },
        "textPropertyOptions": {
          "$ref": "TextPropertyOptions"
        }
      },
      "description": "The definition of a property within an object.",
      "id": "PropertyDefinition"
    },
    "EnterpriseTopazSidekickPersonProfileCardRelatedPeople": {
      "id": "EnterpriseTopazSidekickPersonProfileCardRelatedPeople",
      "properties": {
        "relation": {
          "description": "Relation type.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "MANAGER",
            "DIRECT_REPORT"
          ],
          "type": "string"
        },
        "relatedPerson": {
          "description": "Related people.",
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonPerson"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GetSearchApplicationSessionStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "items": {
            "$ref": "SearchApplicationSessionStats"
          },
          "type": "array"
        }
      },
      "id": "GetSearchApplicationSessionStatsResponse"
    },
    "SortOptions": {
      "id": "SortOptions",
      "properties": {
        "sortOrder": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Ascending is the default sort order",
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "operatorName": {
          "description": "The name of the operator corresponding to the field to sort on. The corresponding property must be marked as sortable.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickCommonDocumentDriveDocumentMetadata": {
      "id": "EnterpriseTopazSidekickCommonDocumentDriveDocumentMetadata",
      "description": "Meta data for drive documents.",
      "type": "object",
      "properties": {
        "isPrivate": {
          "type": "boolean",
          "description": "Additional field to identify whether a document is private since scope set to LIMITED can mean both that the doc is private or that it's shared with others. is_private indicates whether the doc is not shared with anyone except for the owner."
        },
        "lastEditTimeMs": {
          "description": "Timestamp of the most recent edit from the current user in milliseconds since epoch.",
          "format": "uint64",
          "type": "string"
        },
        "lastViewTimeMs": {
          "format": "uint64",
          "description": "Timestamp of the most recent view from the current user in milliseconds since epoch.",
          "type": "string"
        },
        "lastCommentTimeMs": {
          "description": "Timestamp of the most recent comment added to the document in milliseconds since epoch.",
          "format": "uint64",
          "type": "string"
        },
        "owner": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The owner of the document."
        },
        "scope": {
          "enum": [
            "UNKNOWN_DOCUMENT_SCOPE",
            "LIMITED",
            "DASHER_DOMAIN_WITH_LINK",
            "DASHER_DOMAIN",
            "PUBLIC_WITH_LINK",
            "PUBLIC",
            "TEAM_DRIVE"
          ],
          "description": "ACL scope of the document which identifies the sharing status of the doc (e.g., limited, shared with link, team drive, ...).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "documentId": {
          "type": "string",
          "description": "The drive document cosmo id. Client could use the id to build a URL to open a document. Please use Document.document_id.",
          "deprecated": true
        },
        "lastModificationTimeMillis": {
          "description": "Last modification time of the document (independent of the user that modified it).",
          "type": "string",
          "format": "int64"
        },
        "lastUpdatedTimeMs": {
          "type": "string",
          "format": "uint64",
          "description": "Timestamp of the last updated time of the document in milliseconds since epoch."
        }
      }
    },
    "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber": {
      "properties": {
        "phoneNumber": {
          "description": "Phone number in no particular format (as comes from the Focus profile).",
          "type": "string"
        },
        "phoneUrl": {
          "description": "Phone number URL",
          "$ref": "SafeUrlProto"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "MOBILE",
            "OFFICE",
            "OTHER"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber",
      "type": "object"
    },
    "SearchResponse": {
      "properties": {
        "resultCounts": {
          "description": "Expanded result count information.",
          "$ref": "ResultCounts"
        },
        "errorInfo": {
          "$ref": "ErrorInfo",
          "description": "Error information about the response."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "Results from a search query."
        },
        "spellResults": {
          "description": "Suggested spelling for the query.",
          "type": "array",
          "items": {
            "$ref": "SpellResult"
          }
        },
        "facetResults": {
          "type": "array",
          "description": "Repeated facet results.",
          "items": {
            "$ref": "FacetResult"
          }
        },
        "resultCountExact": {
          "type": "string",
          "description": "The exact result count for this query.",
          "format": "int64"
        },
        "queryInterpretation": {
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled.",
          "$ref": "QueryInterpretation"
        },
        "structuredResults": {
          "description": "Structured results for the user query. These results are not counted against the page_size.",
          "items": {
            "$ref": "StructuredResult"
          },
          "type": "array"
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results matching the query."
        },
        "debugInfo": {
          "$ref": "ResponseDebugInfo",
          "description": "Debugging information about the response."
        },
        "resultCountEstimate": {
          "description": "The estimated result count for this query.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SearchResponse",
      "description": "The search API response. NEXT ID: 20",
      "type": "object"
    },
    "Context": {
      "type": "object",
      "id": "Context",
      "properties": {
        "locale": {
          "type": "array",
          "description": "[Optional] The locales for which the card should be triggered (e.g., en_US and en_CA). If missing, the card is going to show to clients regardless of their locale.",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "description": "[Required only for Answer and RHS cards - will be ignored for Homepage] cards. It's the exact case-insensitive queries that will trigger the Answer or RHS card.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "app": {
          "description": "[Optional] App where the card should be shown. If missing, the card will be shown in TOPAZ.",
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN_APP",
              "TOPAZ",
              "MOMA"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "surface": {
          "items": {
            "enum": [
              "UNKNOWN_SURFACE",
              "DESKTOP",
              "ANDROID",
              "IOS",
              "MOBILE",
              "ANY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "Any mobile device.",
              ""
            ],
            "type": "string"
          },
          "description": "[Optional] Surface where the card should be shown in. If missing, the card will be shown in any surface.",
          "type": "array"
        },
        "location": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Optional] Text-free locations where the card should be shown. This is expected to match the user's location in focus. If no location is specified, the card will be shown for any location."
        },
        "dayOfWeek": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "[Optional] Day of week when the card should be shown, where 0 is Monday.",
          "type": "array"
        },
        "endDateSec": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Date (in seconds since epoch) when the card should stop being shown. If missing, end_date_sec will be set to Jan 1st, 2100."
        },
        "type": {
          "type": "array",
          "description": "[Required] Type of the card (homepage, Answer or RHS).",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "UNKNOWN_CARD_TYPE",
              "HOMEPAGE_CARD",
              "ANSWER_CARD",
              "RHS_CARD"
            ],
            "type": "string"
          }
        },
        "startDateSec": {
          "type": "string",
          "description": "[Optional] Date (in seconds since epoch) when the card should start being shown. If missing, start_date_sec will be Jan 1st, 1970 UTC.",
          "format": "int64"
        },
        "endDayOffsetSec": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] End time in seconds, within a day, when the card should stop being shown if it's within [start_date_sec, end_date_sec]. If missing, this is set to 86400 (24 hours x 3600 sec/hour), i.e., midnight next day."
        },
        "startDayOffsetSec": {
          "description": "[Optional] Start time in seconds, within a day, when the card should be shown if it's within [start_date_sec, end_date_sec]. If 0, the card will be shown from 12:00am on.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListItemNamesForUnmappedIdentityResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "itemNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListItemNamesForUnmappedIdentityResponse",
      "type": "object"
    },
    "Photo": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the photo."
        }
      },
      "type": "object",
      "id": "Photo",
      "description": "A person's photo."
    },
    "UploadItemRef": {
      "description": "Represents an upload session reference. This reference is created via upload method. This reference is valid for 30 days after its creation. Updating of item content may refer to this uploaded content via contentDataRef.",
      "id": "UploadItemRef",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the content reference. The maximum length is 2048 characters."
        }
      },
      "type": "object"
    },
    "UnreserveItemsRequest": {
      "type": "object",
      "id": "UnreserveItemsRequest",
      "properties": {
        "connectorName": {
          "type": "string",
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "queue": {
          "description": "The name of a queue to unreserve items from.",
          "type": "string"
        }
      }
    },
    "ItemAcl": {
      "description": "Access control list information for the item. For more information see [Map ACLs](https://developers.google.com/workspace/cloud-search/docs/guides/acls).",
      "type": "object",
      "properties": {
        "readers": {
          "description": "List of principals who are allowed to see the item in search results. Optional if inheriting permissions from another item or if the item is not intended to be visible, such as virtual containers. The maximum number of elements is 1000.",
          "items": {
            "$ref": "Principal"
          },
          "type": "array"
        },
        "owners": {
          "type": "array",
          "items": {
            "$ref": "Principal"
          },
          "description": "Optional. List of owners for the item. This field has no bearing on document access permissions. It does, however, offer a slight ranking boosts items where the querying user is an owner. The maximum number of elements is 5."
        },
        "inheritAclFrom": {
          "description": "The name of the item to inherit the Access Permission List (ACL) from. Note: ACL inheritance *only* provides access permissions to child items and does not define structural relationships, nor does it provide convenient ways to delete large groups of items. Deleting an ACL parent from the index only alters the access permissions of child items that reference the parent in the inheritAclFrom field. The item is still in the index, but may not visible in search results. By contrast, deletion of a container item also deletes all items that reference the container via the containerName field. The maximum length for this field is 1536 characters.",
          "type": "string"
        },
        "deniedReaders": {
          "items": {
            "$ref": "Principal"
          },
          "description": "List of principals who are explicitly denied access to the item in search results. While principals are denied access by default, use denied readers to handle exceptions and override the list allowed readers. The maximum number of elements is 100.",
          "type": "array"
        },
        "aclInheritanceType": {
          "enumDescriptions": [
            "The default value when this item does not inherit an ACL. Use NOT_APPLICABLE when inheritAclFrom is empty. An item without ACL inheritance can still have ACLs supplied by its own readers and deniedReaders fields.",
            "During an authorization conflict, the ACL of the child item determines its read access.",
            "During an authorization conflict, the ACL of the parent item specified in the inheritAclFrom field determines read access.",
            "Access is granted only if this item and the parent item specified in the inheritAclFrom field both permit read access."
          ],
          "description": "Sets the type of access rules to apply when an item inherits its ACL from a parent. This should always be set in tandem with the inheritAclFrom field. Also, when the inheritAclFrom field is set, this field should be set to a valid AclInheritanceType.",
          "enum": [
            "NOT_APPLICABLE",
            "CHILD_OVERRIDE",
            "PARENT_OVERRIDE",
            "BOTH_PERMIT"
          ],
          "type": "string"
        }
      },
      "id": "ItemAcl"
    },
    "TimestampOperatorOptions": {
      "type": "object",
      "description": "Used to provide a search operator for timestamp properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:<value>* show results only where the value of the property named *closeDate* is later than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property. For example, if operatorName is *closedon* and the property's name is *closeDate*, then queries like *closedon:<value>* show results only where the value of the property named *closeDate* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:<value>* show results only where the value of the property named *closeDate* is earlier than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "id": "TimestampOperatorOptions"
    },
    "QueryOperator": {
      "id": "QueryOperator",
      "properties": {
        "displayName": {
          "description": "Display name of the operator",
          "type": "string"
        },
        "operatorName": {
          "type": "string",
          "description": "The name of the operator."
        },
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name that can be used to isolate the property using the less-than operator."
        },
        "isSortable": {
          "description": "Can this operator be used to sort results.",
          "type": "boolean"
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name that can be used to isolate the property using the greater-than operator."
        },
        "objectType": {
          "description": "The name of the object corresponding to the operator. This field is only filled for schema-specific operators, and is unset for common operators.",
          "type": "string"
        },
        "isSuggestable": {
          "type": "boolean",
          "description": "Can get suggestions for this field."
        },
        "type": {
          "description": "The type of the operator.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "INTEGER",
            "DOUBLE",
            "TIMESTAMP",
            "BOOLEAN",
            "ENUM",
            "DATE",
            "TEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "isReturnable": {
          "description": "Will the property associated with this facet be returned as part of search results.",
          "type": "boolean"
        },
        "isFacetable": {
          "description": "Can this operator be used to get facets.",
          "type": "boolean"
        },
        "isRepeatable": {
          "type": "boolean",
          "description": "Indicates if multiple values can be set for this property."
        },
        "enumValues": {
          "description": "Potential list of values for the opeatror field. This field is only filled when we can safely enumerate all the possible values of this operator.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
[...]
