{
  "id": "cloudnumberregistry:v1alpha",
  "ownerDomain": "google.com",
  "version": "v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "SearchIpResourcesResult": {
      "type": "object",
      "id": "SearchIpResourcesResult",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "A Range matching the search query."
        },
        "realm": {
          "description": "A Realm matching the search query.",
          "$ref": "Realm"
        }
      },
      "description": "A result matching the search query, which can be either a Range or a Realm."
    },
    "CleanupIpamAdminScopeRequest": {
      "id": "CleanupIpamAdminScopeRequest",
      "type": "object",
      "description": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "RealmAggregatedData": {
      "properties": {
        "discoveredRangesCount": {
          "description": "Output only. Number of DiscoveredRanges in the Realm.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "customRangesCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of CustomRanges in the Realm.",
          "type": "integer"
        }
      },
      "id": "RealmAggregatedData",
      "description": "Aggregated data for the Realm.",
      "type": "object"
    },
    "DiscoveredRange": {
      "properties": {
        "ipv4CidrRange": {
          "type": "string",
          "description": "Optional. The IPv4 CIDR range of the DiscoveredRange."
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "Attribute"
          },
          "description": "Optional. The attributes of the DiscoveredRange."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the DiscoveredRange was created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the DiscoveredRange was last updated."
        },
        "childCidrOverlapAllowed": {
          "description": "Output only. If true, allows child DiscoveredRanges of this DiscoveredRange to overlap with each other.",
          "type": "boolean",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DiscoveredRange."
        },
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the DiscoveredRange.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`.",
          "type": "string"
        },
        "parentRange": {
          "type": "string",
          "description": "Optional. The resource name of the parent DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`."
        },
        "discoveryMetadata": {
          "$ref": "DiscoveryMetadata",
          "readOnly": true,
          "description": "Output only. Owner metadata for this DiscoveredRange. A unique set of metadata is associated with each DiscoveredRange. If an IP range is shared by multiple resources (e.g., an Address resource and an Instance resource, or multiple ForwardingRules),separate DiscoveredRanges are created, each with a distinct owner. This ensures each DiscoveredRange has its own unique set of attributes, labels, create time and update time."
        },
        "realm": {
          "description": "Optional. The Realm of the DiscoveredRange.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "registryBook": {
          "readOnly": true,
          "description": "Output only. The RegistryBook of the DiscoveredRange.",
          "type": "string"
        }
      },
      "description": "A DiscoveredRange represents an IP address range automatically detected by the discovery pipeline.",
      "id": "DiscoveredRange",
      "type": "object"
    },
    "ListOrgNumberRegistriesResponse": {
      "type": "object",
      "id": "ListOrgNumberRegistriesResponse",
      "description": "Response message for the CloudNumberRegistry.ListOrgNumberRegistries method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "orgNumberRegistries": {
          "type": "array",
          "items": {
            "$ref": "OrgNumberRegistry"
          },
          "description": "The list of OrgNumberRegistries."
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "ListRegistryBooksResponse": {
      "id": "ListRegistryBooksResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "registryBooks": {
          "type": "array",
          "items": {
            "$ref": "RegistryBook"
          },
          "description": "The list of RegistryBook"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for the CloudNumberRegistry.ListRegistryBooks method.",
      "type": "object"
    },
    "OrgNumberRegistry": {
      "type": "object",
      "description": "An OrgNumberRegistry defines a delegation of authority from an organization to a project, allowing the project to manage IP address data within specified scopes of the organization.",
      "id": "OrgNumberRegistry",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the OrgNumberRegistry was last updated."
        },
        "adminProject": {
          "description": "Required. The project that will act as the admin project for CNR resources Format: projects/{project_number} or projects/{project_id}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the OrgNumberRegistry."
        },
        "targetScopes": {
          "description": "Required. The scopes within the organization that the project is able to manage. Currently only organization scope is supported. For example, \"organizations/1234567890\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the OrgNumberRegistry was created."
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FindCustomRangeFreeIpRangesResponse": {
      "type": "object",
      "properties": {
        "freeIpCidrRanges": {
          "description": "Output only. The free IP CIDR ranges found.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Response message for the CloudNumberRegistry.FindCustomRangeFreeIpRanges method.",
      "id": "FindCustomRangeFreeIpRangesResponse"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "Range": {
      "id": "Range",
      "type": "object",
      "properties": {
        "utilization": {
          "description": "The utilization of the Range.",
          "$ref": "RangeUtilization"
        },
        "customRange": {
          "$ref": "CustomRange",
          "description": "A CustomRange."
        },
        "discoveredRange": {
          "$ref": "DiscoveredRange",
          "description": "A DiscoveredRange."
        }
      },
      "description": "Represents either a CustomRange or a DiscoveredRange."
    },
    "SearchIpResourcesResponse": {
      "id": "SearchIpResourcesResponse",
      "description": "Response message for the CloudNumberRegistry.SearchIpResources method.",
      "properties": {
        "results": {
          "items": {
            "$ref": "SearchIpResourcesResult"
          },
          "type": "array",
          "description": "The list of results matching the search query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ranges": {
          "deprecated": true,
          "description": "Deprecated: Use results field instead. The list of Ranges matching the search query.",
          "type": "array",
          "items": {
            "$ref": "Range"
          }
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "FindDiscoveredRangeFreeIpRangesResponse": {
      "type": "object",
      "id": "FindDiscoveredRangeFreeIpRangesResponse",
      "description": "Response message for the CloudNumberRegistry.FindDiscoveredRangeFreeIpRanges method.",
      "properties": {
        "freeIpCidrRanges": {
          "description": "Output only. The free IP CIDR ranges found.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ShowCustomRangeUtilizationResponse": {
      "id": "ShowCustomRangeUtilizationResponse",
      "type": "object",
      "properties": {
        "customRange": {
          "description": "The CustomRange resource.",
          "$ref": "CustomRange"
        },
        "rangeUtilization": {
          "$ref": "RangeUtilization",
          "description": "The utilization details of the CustomRange."
        }
      },
      "description": "Response message for the CloudNumberRegistry.ShowCustomRangeUtilization method."
    },
    "ListCustomRangesResponse": {
      "id": "ListCustomRangesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "customRanges": {
          "type": "array",
          "items": {
            "$ref": "CustomRange"
          },
          "description": "The list of CustomRanges."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response message for the CloudNumberRegistry.ListCustomRanges method.",
      "type": "object"
    },
    "RangeUtilization": {
      "properties": {
        "usage": {
          "type": "number",
          "description": "Output only. The usage of the Range as a percentage. This is marked as optional so that we have presence tracking and API responses show 0.0 instead of NULL.",
          "format": "double",
          "readOnly": true
        },
        "totalConsumed": {
          "type": "string",
          "description": "Output only. The total number of IP addresses consumed in the Range.",
          "readOnly": true
        },
        "totalProduced": {
          "description": "Output only. The total number of IP addresses produced in the Range.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "RangeUtilization",
      "description": "Utilization metrics for an IP Range, including consumed and produced address counts."
    },
    "IpamAdminScope": {
      "type": "object",
      "description": "An IpamAdminScope defines the administrative boundary for IP address discovery and management. It configures which platforms and organizational scopes are enabled for IP tracking.",
      "id": "IpamAdminScope",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Required. Administrative scopes enabled for IP address discovery and management. For example, \"organizations/1234567890\". Minimum of 1 scope is required. In preview, only one organization scope is allowed.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The time at which the IpamAdminScope was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Internal failure.",
            "Failure.",
            "Setup in progress.",
            "Ready for use.",
            "Deleting in progress.",
            "Updating.",
            "Recovering.",
            "Disabled.",
            "Deleting completed.",
            "Cleanup in progress.",
            "Ready for deletion."
          ],
          "description": "Output only. State of resource discovery pipeline.",
          "enum": [
            "DISCOVERY_PIPELINE_STATE_UNSPECIFIED",
            "INTERNAL_FAILURE",
            "FAILED",
            "SETUP_IN_PROGRESS",
            "READY_FOR_USE",
            "DELETING_IN_PROGRESS",
            "UPDATING",
            "RECOVERING",
            "DISABLED",
            "DELETION_COMPLETED",
            "CLEANUP_IN_PROGRESS",
            "READY_FOR_DELETION"
          ],
          "readOnly": true
        },
        "enabledAddonPlatforms": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified add-on platform.",
              "Google Compute Engine.",
              "Deprecated: Use COMPUTE_ENGINE instead."
            ],
            "enumDeprecated": [
              false,
              false,
              true
            ],
            "enum": [
              "ADD_ON_PLATFORM_UNSPECIFIED",
              "COMPUTE_ENGINE",
              "GCE"
            ]
          },
          "description": "Required. Add-on platforms that are enabled for this IpamAdminScope. Cloud Number Registry only discovers the IP addresses from the enabled platforms.",
          "type": "array"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the IpamAdminScope.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels."
        },
        "createTime": {
          "description": "Output only. The time at which the IpamAdminScope was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CustomRange": {
      "description": "A CustomRange represents a user-defined IP address range.",
      "properties": {
        "realm": {
          "description": "Optional. The resource name of the Realm associated with the CustomRange, in the format `projects/{project}/locations/{location}/realms/{realm}`. The Realm must be in the same project as the CustomRange. This field must not be set if the `parent_range` field is set, as the Realm will be inherited from the parent CustomRange.",
          "type": "string"
        },
        "parentRange": {
          "type": "string",
          "description": "Optional. The resource name of the parent CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`. If specified, the parent CustomRange must be in the same RegistryBook. This field is mutually exclusive with the `realm` field, as the Realm is inherited from the parent CustomRange."
        },
        "registryBook": {
          "type": "string",
          "description": "Output only. The RegistryBook of the CustomRange. This field is inherited from the Realm or parent CustomRange depending on which one is specified.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the CustomRange.",
          "type": "string"
        },
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the CustomRange.",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. The attributes of the CustomRange.",
          "items": {
            "$ref": "Attribute"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the CustomRange."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
          "type": "string"
        }
      },
      "id": "CustomRange",
      "type": "object"
    },
    "ListRealmsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "realms": {
          "description": "The list of Realms.",
          "items": {
            "$ref": "Realm"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListRealms method.",
      "id": "ListRealmsResponse"
    },
    "DisableIpamAdminScopeRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DisableIpamAdminScopeRequest",
      "description": "Request message for the CloudNumberRegistry.DisableIpamAdminScope method."
    },
    "SearchIpResourcesRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A token identifying a page of results the server should return."
        },
        "orderBy": {
          "description": "Optional. Hint for how to order the results. Supported sort fields are: - `name`: Sort alphabetically by the resource name. - `create_time`: Sort by the creation timestamp of the resource. - `update_time`: Sort by the last update timestamp of the resource. Supported directions are `asc` (ascending) and `desc` (descending). If unspecified, direction defaults to `asc`. Only sorting by a single field is supported.",
          "type": "string"
        },
        "showUtilization": {
          "description": "Optional. Whether to show the utilization of the Ranges in the response.",
          "type": "boolean"
        },
        "searchResourceTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified search type.",
              "Search for Ranges.",
              "Search for Realms."
            ],
            "type": "string",
            "enum": [
              "SEARCH_RESOURCE_TYPE_UNSPECIFIED",
              "RANGES",
              "REALMS"
            ]
          },
          "description": "Optional. The type of resources to search for. If not specified, the server will return Ranges."
        },
        "query": {
          "description": "Optional. Search query. This string filters resources in an AIP-160-like format. It has some limitations. You can only specify top level conjunctions or attribute level negations. Each restriction can only be used once except the attribute restriction. The available restrictions for Ranges are: - `realm`: The Realm name to search in. - `ip_address`: The IP address to search for within Ranges. - `ip_version`: The IP version to filter by (e.g., \"IPV4\", \"IPV6\"). - `parent_range`: The parent Range of the Range to search for. - `attribute_text`: The attribute text to search for within Ranges. - `attribute`: The attribute key and value to filter by. The available restrictions for Realms are: - `ip_version`: The IP version to search for. - `management_type`: The management type of the Realm (e.g., \"CNR\", \"USER\"). Only one of attribute_text or multiple attribute filters can be specified. Examples: - `realm=test-realm` - `realm=test-realm AND ip_address=10.0.0.0` - `realm=test-realm AND ip_version=IPV6` - `realm=test-realm AND attribute_text=test` - `ip_address=10.0.0.0 AND attribute:(key1=value1) AND attribute:(key2=value2)` - `attribute_text=test AND parent_range=projects/123/locations/global/discoveredRanges/test-parent-range` - `management_type=CNR`",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
        }
      },
      "id": "SearchIpResourcesRequest",
      "type": "object",
      "description": "Request message for the CloudNumberRegistry.SearchIpResources method."
    },
    "CheckAvailabilityIpamAdminScopesResponse": {
      "description": "Response message for the CloudNumberRegistry.CheckAvailabilityIpamAdminScopes method.",
      "properties": {
        "scopeAvailabilities": {
          "items": {
            "$ref": "IpamAdminScopeAvailability"
          },
          "description": "The details of the requested scopes.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CheckAvailabilityIpamAdminScopesResponse"
    },
    "RegistryBook": {
      "type": "object",
      "id": "RegistryBook",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the RegistryBook was last updated.",
          "readOnly": true
        },
        "isDefault": {
          "type": "boolean",
          "description": "Output only. Whether the RegistryBook is the default one.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the RegistryBook was created."
        },
        "claimedScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of scopes claimed by the RegistryBook. In Preview, Only project scope is supported. Each scope is in the format of projects/{project}. Each scope can only be claimed once."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "aggregatedData": {
          "readOnly": true,
          "$ref": "AggregatedData",
          "description": "Output only. Aggregated data for the RegistryBook. Populated only when the view is AGGREGATE."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the RegistryBook.",
          "type": "string"
        }
      },
      "description": "A RegistryBook organizes and manages IP address space. It claims specific scopes (such as projects) and groups related Realms and Ranges."
    },
    "ListDiscoveredRangesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "discoveredRanges": {
          "description": "The list of DiscoveredRanges.",
          "items": {
            "$ref": "DiscoveredRange"
          },
          "type": "array"
        }
      },
      "description": "Response message for the CloudNumberRegistry.ListDiscoveredRanges method.",
      "id": "ListDiscoveredRangesResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ShowDiscoveredRangeUtilizationResponse": {
      "id": "ShowDiscoveredRangeUtilizationResponse",
      "type": "object",
      "properties": {
        "rangeUtilization": {
          "description": "The utilization details of the DiscoveredRange.",
          "$ref": "RangeUtilization"
        },
        "discoveredRange": {
          "description": "The DiscoveredRange resource.",
          "$ref": "DiscoveredRange"
        }
      },
      "description": "Response message for the CloudNumberRegistry.ShowDiscoveredRangeUtilization method."
    },
    "Attribute": {
      "id": "Attribute",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the attribute."
        },
        "key": {
          "type": "string",
          "description": "Required. The key of the attribute."
        }
      },
      "description": "A key-value pair representing a custom attribute associated with a resource.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "Realm": {
      "properties": {
        "labels": {
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the Realm."
        },
        "aggregatedData": {
          "$ref": "RealmAggregatedData",
          "description": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the Realm was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the Realm was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "registryBook": {
          "description": "Required. Name of the RegistryBook that claims the Realm.",
          "type": "string"
        },
        "discoveryMetadata": {
          "$ref": "DiscoveryMetadata",
          "readOnly": true,
          "description": "Output only. Discovery metadata of the Realm."
        },
        "trafficType": {
          "description": "Required. Traffic type of the Realm.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified traffic type.",
            "Unset traffic type.",
            "Internet traffic.",
            "Private traffic.",
            "Linklocal traffic."
          ],
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "UNSET",
            "INTERNET",
            "PRIVATE",
            "LINKLOCAL"
          ]
        },
        "ipVersion": {
          "description": "Optional. IP version of the Realm.",
          "type": "string",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "enumDescriptions": [
            "Unspecified IP version.",
            "IPv4 IP version.",
            "IPv6 IP version."
          ]
        },
        "managementType": {
          "description": "Optional. Management type of the Realm.",
          "enumDescriptions": [
            "Unspecified management type.",
            "Managed by Cloud Number Registry.",
            "Managed by User."
          ],
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "CNR",
            "USER"
          ],
          "type": "string"
        }
      },
      "description": "A Realm represents a distinct network domain or security zone. It groups Ranges that share the same traffic and management characteristics. All the ranges in a Realm are routable to each other, meaning that they cannot overlap.",
      "type": "object",
      "id": "Realm"
    },
    "IpamAdminScopeAvailability": {
      "description": "Availability details for a specific IpamAdminScope.",
      "id": "IpamAdminScopeAvailability",
      "type": "object",
      "properties": {
        "scope": {
          "description": "The scope of the IpamAdminScope.",
          "type": "string"
        },
        "adminProject": {
          "description": "The admin project of the IpamAdminScope if it exists.",
          "format": "int64",
          "type": "string"
        },
        "availability": {
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "UNAVAILABLE"
          ],
          "enumDescriptions": [
            "Unspecified availability.",
            "The scope is available.",
            "The scope is not available."
          ],
          "type": "string",
          "description": "The availability of the scope."
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "DiscoveryMetadata": {
      "properties": {
        "resource": {
          "description": "Output only. The resource name of the discovered resource, should be API-agnostic. Example: \"projects/{project_number}/networks/{network_id}\".",
          "type": "string",
          "readOnly": true
        },
        "sourceSubId": {
          "readOnly": true,
          "description": "Output only. A single source resource can be the source of multiple CNR resources. This sub_id is used to distinguish between the different CNR resources derived from the same upstream resource. For example, a single subnetwork can be the source of multiple Ranges, one for each protocol. In this case, the sub_id could be \"private-ipv4\" or \"private-ipv6\".",
          "type": "string"
        },
        "sourceId": {
          "type": "string",
          "description": "Output only. The canonical google.aip.dev/122 name of the source resource.",
          "readOnly": true
        },
        "eventTime": {
          "description": "Output only. The time when the event happened.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "RESOURCE_STATE_UNSPECIFIED",
            "INVALID",
            "EXISTS",
            "DOES_NOT_EXIST",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The resource is in an invalid state.",
            "The resource exists in the backing store (is not tombstoned or completely missing) and there were no failures reading out the resource level metadata.",
            "Resource does not exist or has been deleted or soft-deleted.",
            "There was an error reading out the resource level metadata."
          ],
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the resource was last modified.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource uri of the discovered resource."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DiscoveryMetadata",
      "description": "Metadata about a discovered resource, tracking event times, state, and source information.",
      "type": "object"
    },
    "ListIpamAdminScopesResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListIpamAdminScopes method.",
      "id": "ListIpamAdminScopesResponse",
      "properties": {
        "ipamAdminScopes": {
          "description": "The list of IpamAdminScopes.",
          "items": {
            "$ref": "IpamAdminScope"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "AggregatedData": {
      "type": "object",
      "properties": {
        "discoveredRangesCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of DiscoveredRanges in the RegistryBook."
        },
        "discoveredRealmsCount": {
          "description": "Output only. Number of discovered Realms in the RegistryBook.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "uniqueScopesCount": {
          "type": "integer",
          "description": "Output only. Number of scopes unique to the RegistryBook.",
          "format": "int32",
          "readOnly": true
        },
        "customRealmsCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of custom Realms in the RegistryBook."
        },
        "customRangesCount": {
          "description": "Output only. Number of CustomRanges in the RegistryBook.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "Aggregated data for the RegistryBook.",
      "id": "AggregatedData"
    }
  },
  "mtlsRootUrl": "https://cloudnumberregistry.mtls.googleapis.com/",
  "servicePath": "",
  "name": "cloudnumberregistry",
  "protocol": "rest",
  "description": "",
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "ownerName": "Google",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudnumberregistry.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Number Registry",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://cloudnumberregistry.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "orgNumberRegistries": {
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/orgNumberRegistries",
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.create",
                  "request": {
                    "$ref": "OrgNumberRegistry"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name where the OrgNumberRegistry will be created.",
                      "location": "path",
                      "required": true
                    },
                    "orgNumberRegistryId": {
                      "type": "string",
                      "description": "Required. The ID to use for the OrgNumberRegistry, which will become the final segment of the resource name.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new OrgNumberRegistry in a given organization and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries/{orgNumberRegistriesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single OrgNumberRegistry.",
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.delete",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the OrgNumberRegistry to delete.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/orgNumberRegistries/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, for example `organizations/*/locations/*`."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    }
                  },
                  "response": {
                    "$ref": "ListOrgNumberRegistriesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/orgNumberRegistries",
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists OrgNumberRegistries in a given organization and location.",
                  "httpMethod": "GET"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/orgNumberRegistries/[^/]+$",
                      "description": "Required. The resource name of the OrgNumberRegistry to retrieve.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries/{orgNumberRegistriesId}",
                  "response": {
                    "$ref": "OrgNumberRegistry"
                  },
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.get",
                  "description": "Gets details of a single OrgNumberRegistry.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.organizations.locations.operations.delete",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}/operations",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.organizations.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "cloudnumberregistry.organizations.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1alpha/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "cloudnumberregistry.organizations.locations.operations.cancel"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "customRanges": {
              "methods": {
                "create": {
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "description": "Creates a new CustomRange in a given project and location.",
                  "parameters": {
                    "customRangeId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the CustomRange, which will become the final segment of the resource name."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name where the CustomRange will be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "path": "v1alpha/{+parent}/customRanges",
                  "httpMethod": "POST"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "response": {
                    "$ref": "ListCustomRangesResponse"
                  },
                  "path": "v1alpha/{+parent}/customRanges",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists CustomRanges in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. The resource name of the CustomRange to retrieve.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "description": "Gets details of a single CustomRange.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudnumberregistry.projects.locations.customRanges.get"
                },
                "findFreeIpRanges": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "description": "Finds free IP ranges in a single CustomRange.",
                  "parameters": {
                    "rangeCount": {
                      "type": "integer",
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "format": "int32"
                    },
                    "cidrPrefixLength": {
                      "type": "integer",
                      "location": "query",
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "format": "int32"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the CustomRange to search within."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:findFreeIpRanges"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the CustomRange to delete."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.customRanges.delete",
                  "description": "Deletes a single CustomRange."
                },
                "showUtilization": {
                  "description": "Gets the details of a single CustomRange and its utilization.",
                  "id": "cloudnumberregistry.projects.locations.customRanges.showUtilization",
                  "path": "v1alpha/{+name}:showUtilization",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:showUtilization",
                  "response": {
                    "$ref": "ShowCustomRangeUtilizationResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CustomRange.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single CustomRange.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "CustomRange"
                  }
                }
              }
            },
            "registryBooks": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.delete",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. The resource name of the RegistryBook to delete.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single RegistryBook.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "description": "Gets details of a single RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the RegistryBook to retrieve.",
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "location": "query",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ]
                    }
                  },
                  "response": {
                    "$ref": "RegistryBook"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.get"
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "description": "Optional. The view of the RegistryBook to retrieve."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListRegistryBooksResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "description": "Lists RegistryBooks in a given project and location.",
                  "path": "v1alpha/{+parent}/registryBooks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.list"
                },
                "searchIpResources": {
                  "description": "Searches IP resources in a given RegistryBook.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}:searchIpResources",
                  "response": {
                    "$ref": "SearchIpResourcesResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.searchIpResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the RegistryBook to search in.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SearchIpResourcesRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:searchIpResources",
                  "httpMethod": "POST"
                },
                "patch": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single RegistryBook.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Identifier. The resource name of the RegistryBook.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.patch",
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "RegistryBook"
                  }
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "parameters": {
                    "registryBookId": {
                      "description": "Required. The ID to use for the RegistryBook, which will become the final segment of the resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name where the RegistryBook will be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+parent}/registryBooks",
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "description": "Creates a new RegistryBook in a given project and location.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.create"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "cloudnumberregistry.projects.locations.operations.delete"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.list",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    }
                  },
                  "path": "v1alpha/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.cancel"
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "delete": {
                  "path": "v1alpha/{+name}",
                  "scopes": [
[...]
