{
  "name": "cloudnumberregistry",
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "rootUrl": "https://cloudnumberregistry.googleapis.com/",
  "description": "",
  "discoveryVersion": "v1",
  "version_module": true,
  "basePath": "",
  "id": "cloudnumberregistry:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "cloudnumberregistry.projects.locations.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "id": "cloudnumberregistry.projects.locations.get",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "id": "cloudnumberregistry.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.operations.list",
                  "path": "v1alpha/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "cloudnumberregistry.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "registryBooks": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/registryBooks",
                  "description": "Lists RegistryBooks in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListRegistryBooksResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`."
                    },
                    "view": {
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "type": "string",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ]
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression to filter the results."
                    }
                  }
                },
                "get": {
                  "id": "cloudnumberregistry.projects.locations.registryBooks.get",
                  "response": {
                    "$ref": "RegistryBook"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the RegistryBook to retrieve.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "required": true
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "location": "query",
                      "description": "Optional. The view of the RegistryBook to retrieve."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single RegistryBook.",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single RegistryBook.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "location": "path",
                      "description": "Required. Identifier. The resource name of the RegistryBook.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.patch",
                  "request": {
                    "$ref": "RegistryBook"
                  }
                },
                "create": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The parent resource name where the RegistryBook will be created.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "registryBookId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the RegistryBook, which will become the final segment of the resource name."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/registryBooks",
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new RegistryBook in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.delete",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the RegistryBook to delete.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a single RegistryBook."
                },
                "searchIpResources": {
                  "request": {
                    "$ref": "SearchIpResourcesRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the RegistryBook to search in.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}:searchIpResources",
                  "description": "Searches IP resources in a given RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.searchIpResources",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}:searchIpResources",
                  "response": {
                    "$ref": "SearchIpResourcesResponse"
                  }
                }
              }
            },
            "discoveredRanges": {
              "methods": {
                "findFreeIpRanges": {
                  "parameters": {
                    "cidrPrefixLength": {
                      "location": "query",
                      "type": "integer",
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "format": "int32"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "rangeCount": {
                      "format": "int32",
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "description": "Required. The resource name of the DiscoveredRange to search within.",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Finds free IP ranges in a single DiscoveredRange.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:findFreeIpRanges",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.findFreeIpRanges",
                  "response": {
                    "$ref": "FindDiscoveredRangeFreeIpRangesResponse"
                  },
                  "httpMethod": "GET"
                },
                "showUtilization": {
                  "response": {
                    "$ref": "ShowDiscoveredRangeUtilizationResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:showUtilization",
                  "path": "v1alpha/{+name}:showUtilization",
                  "description": "Gets the details of a single DiscoveredRange and its utilization.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the DiscoveredRange.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.showUtilization",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "DiscoveredRange"
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.get",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the DiscoveredRange to retrieve.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single DiscoveredRange.",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1alpha/{+parent}/discoveredRanges",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges",
                  "description": "Lists DiscoveredRanges in a given project and location.",
                  "response": {
                    "$ref": "ListDiscoveredRangesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "realms": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "view": {
                      "description": "Optional. The view of the Realm to retrieve.",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "id": "cloudnumberregistry.projects.locations.realms.list",
                  "path": "v1alpha/{+parent}/realms",
                  "description": "Lists Realms in a given project and location.",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+parent}/realms",
                  "httpMethod": "POST",
                  "description": "Creates a new Realm in a given project and location.",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "type": "string"
                    },
                    "realmId": {
                      "description": "Required. The ID to use for the Realm, which will become the final segment of the resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name where the Realm will be created.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.create",
                  "request": {
                    "$ref": "Realm"
                  }
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Realm to delete.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request.",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "id": "cloudnumberregistry.projects.locations.realms.delete",
                  "description": "Deletes a single Realm.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single Realm.",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Realm resource by the update.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. Identifier. The resource name of the Realm.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.patch",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Realm"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Realm to retrieve.",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "description": "Optional. The view of the Realm to retrieve.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ]
                    }
                  },
                  "description": "Gets details of a single Realm.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Realm"
                  },
                  "id": "cloudnumberregistry.projects.locations.realms.get"
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single IpamAdminScope.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "description": "Required. The resource name of the IpamAdminScope to retrieve.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.get",
                  "response": {
                    "$ref": "IpamAdminScope"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cleanup": {
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.cleanup",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:cleanup",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:cleanup",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Cleans up a single IpamAdminScope.",
                  "request": {
                    "$ref": "CleanupIpamAdminScopeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the IpamAdminScope to clean up.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists IpamAdminScopes in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to filter the results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.list",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListIpamAdminScopesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes"
                },
                "checkAvailability": {
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.checkAvailability",
                  "parameters": {
                    "scopes": {
                      "description": "Required. The administrative scopes to check for availability.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CheckAvailabilityIpamAdminScopesResponse"
                  },
                  "path": "v1alpha/{+parent}/ipamAdminScopes:checkAvailability",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes:checkAvailability",
                  "description": "Checks the availability of IpamAdminScopes in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "disable": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:disable",
                  "path": "v1alpha/{+name}:disable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disables a single IpamAdminScope.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the IpamAdminScope to disable.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.disable",
                  "request": {
                    "$ref": "DisableIpamAdminScopeRequest"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the IpamAdminScope resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. Identifier. The resource name of the IpamAdminScope.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.patch",
                  "description": "Updates the parameters of a single IpamAdminScope.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}"
                },
                "create": {
                  "description": "Creates a new IpamAdminScope in a given project and location.",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name where the IpamAdminScope will be created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "ipamAdminScopeId": {
                      "description": "Required. The ID to use for the IpamAdminScope, which will become the final segment of the resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the IpamAdminScope to delete."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single IpamAdminScope.",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}"
                }
              }
            },
            "customRanges": {
              "methods": {
                "showUtilization": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.showUtilization",
                  "description": "Gets the details of a single CustomRange and its utilization.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:showUtilization",
                  "response": {
                    "$ref": "ShowCustomRangeUtilizationResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:showUtilization",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the CustomRange.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "cloudnumberregistry.projects.locations.customRanges.get",
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single CustomRange.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the CustomRange to retrieve.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name where the CustomRange will be created."
                    },
                    "customRangeId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the CustomRange, which will become the final segment of the resource name."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new CustomRange in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/customRanges",
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CustomRange"
                  }
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the CustomRange to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "id": "cloudnumberregistry.projects.locations.customRanges.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single CustomRange."
                },
                "findFreeIpRanges": {
                  "parameters": {
                    "rangeCount": {
                      "description": "Optional. The number of free IP ranges to find.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "cidrPrefixLength": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Required. The prefix length of the free IP ranges to find."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the CustomRange to search within."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "description": "Finds free IP ranges in a single CustomRange."
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "httpMethod": "PATCH",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single CustomRange.",
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to filter the results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.list",
                  "description": "Lists CustomRanges in a given project and location.",
                  "response": {
                    "$ref": "ListCustomRangesResponse"
                  },
                  "path": "v1alpha/{+parent}/customRanges",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "orgNumberRegistries": {
              "methods": {
                "get": {
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single OrgNumberRegistry.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "OrgNumberRegistry"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/orgNumberRegistries/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the OrgNumberRegistry to retrieve."
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries/{orgNumberRegistriesId}",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name, for example `organizations/*/locations/*`."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOrgNumberRegistriesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists OrgNumberRegistries in a given organization and location.",
                  "path": "v1alpha/{+parent}/orgNumberRegistries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.list"
                },
                "create": {
                  "path": "v1alpha/{+parent}/orgNumberRegistries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new OrgNumberRegistry in a given organization and location.",
                  "request": {
                    "$ref": "OrgNumberRegistry"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name where the OrgNumberRegistry will be created.",
                      "location": "path",
                      "type": "string"
                    },
                    "orgNumberRegistryId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the OrgNumberRegistry, which will become the final segment of the resource name."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.create",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "id": "cloudnumberregistry.organizations.locations.orgNumberRegistries.delete",
                  "description": "Deletes a single OrgNumberRegistry.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/orgNumberRegistries/[^/]+$",
                      "description": "Required. The resource name of the OrgNumberRegistry to delete.",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgNumberRegistries/{orgNumberRegistriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "cloudnumberregistry.organizations.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "get": {
                  "id": "cloudnumberregistry.organizations.locations.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1alpha/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "id": "cloudnumberregistry.organizations.locations.operations.cancel",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "cloudnumberregistry.organizations.locations.operations.list",
                  "path": "v1alpha/{+name}/operations",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://cloudnumberregistry.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Number Registry",
  "version": "v1alpha",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudnumberregistry.mtls.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260819",
  "ownerDomain": "google.com",
  "title": "Cloud Number Registry API",
  "schemas": {
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "Realm": {
      "description": "A Realm represents a distinct network domain or security zone. It groups Ranges that share the same traffic and management characteristics. All the ranges in a Realm are routable to each other, meaning that they cannot overlap.",
      "id": "Realm",
      "properties": {
        "labels": {
          "description": "Optional. User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trafficType": {
          "type": "string",
          "description": "Required. Traffic type of the Realm.",
          "enumDescriptions": [
            "Unspecified traffic type.",
            "Unset traffic type.",
            "Internet traffic.",
            "Private traffic.",
            "Linklocal traffic."
          ],
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "UNSET",
            "INTERNET",
            "PRIVATE",
            "LINKLOCAL"
          ]
        },
        "ipVersion": {
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "Optional. IP version of the Realm.",
          "enumDescriptions": [
            "Unspecified IP version.",
            "IPv4 IP version.",
            "IPv6 IP version."
          ],
          "type": "string"
        },
        "registryBook": {
          "type": "string",
          "description": "Required. Name of the RegistryBook that claims the Realm."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the Realm.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the Realm was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the Realm was created.",
          "readOnly": true
        },
        "discoveryMetadata": {
          "readOnly": true,
          "description": "Output only. Discovery metadata of the Realm.",
          "$ref": "DiscoveryMetadata"
        },
        "managementType": {
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "CNR",
            "USER"
          ],
          "description": "Optional. Management type of the Realm.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified management type.",
            "Managed by Cloud Number Registry.",
            "Managed by User."
          ]
        },
        "aggregatedData": {
          "readOnly": true,
          "description": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE.",
          "$ref": "RealmAggregatedData"
        }
      },
      "type": "object"
    },
    "CustomRange": {
      "description": "A CustomRange represents a user-defined IP address range.",
      "type": "object",
      "id": "CustomRange",
      "properties": {
        "description": {
          "description": "Optional. The description of the CustomRange.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "attributes": {
          "items": {
            "$ref": "Attribute"
          },
          "description": "Optional. The attributes of the CustomRange.",
          "type": "array"
        },
        "registryBook": {
          "description": "Output only. The RegistryBook of the CustomRange. This field is inherited from the Realm or parent CustomRange depending on which one is specified.",
          "type": "string",
          "readOnly": true
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the CustomRange.",
          "type": "string"
        },
        "parentRange": {
          "type": "string",
          "description": "Optional. The resource name of the parent CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`. If specified, the parent CustomRange must be in the same RegistryBook. This field is mutually exclusive with the `realm` field, as the Realm is inherited from the parent CustomRange."
        },
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the CustomRange.",
          "type": "string"
        },
        "realm": {
          "description": "Optional. The resource name of the Realm associated with the CustomRange, in the format `projects/{project}/locations/{location}/realms/{realm}`. The Realm must be in the same project as the CustomRange. This field must not be set if the `parent_range` field is set, as the Realm will be inherited from the parent CustomRange.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
          "type": "string"
        }
      }
    },
    "FindCustomRangeFreeIpRangesResponse": {
      "description": "Response message for the CloudNumberRegistry.FindCustomRangeFreeIpRanges method.",
      "id": "FindCustomRangeFreeIpRangesResponse",
      "properties": {
        "freeIpCidrRanges": {
          "description": "Output only. The free IP CIDR ranges found.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "CleanupIpamAdminScopeRequest": {
      "id": "CleanupIpamAdminScopeRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method."
    },
    "DiscoveredRange": {
      "id": "DiscoveredRange",
      "description": "A DiscoveredRange represents an IP address range automatically detected by the discovery pipeline.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "realm": {
          "type": "string",
          "description": "Optional. The Realm of the DiscoveredRange."
        },
        "discoveryMetadata": {
[...]
