{
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://clouddeploy.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://clouddeploy.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://clouddeploy.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://clouddeploy.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://clouddeploy.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouddeploy.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://clouddeploy.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://clouddeploy.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouddeploy.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://clouddeploy.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Cloud Deploy API",
  "discoveryVersion": "v1",
  "id": "clouddeploy:v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "revision": "20260811",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "RollbackTargetConfig": {
      "type": "object",
      "id": "RollbackTargetConfig",
      "description": "Configs for the Rollback rollout.",
      "properties": {
        "rollout": {
          "description": "Optional. The rollback `Rollout` to create.",
          "$ref": "Rollout"
        },
        "startingPhaseId": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        }
      }
    },
    "Release": {
      "description": "A `Release` resource in the Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "properties": {
        "skaffoldConfigPath": {
          "description": "Optional. Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "toolVersions": {
          "description": "Optional. The tool versions to use for this release and all subsequent operations involving this release. If unset, tool versions are frozen when the release is created.",
          "$ref": "ToolVersions"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Release`. Max length is 255 characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Release`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}`. The `release` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Release`.",
          "readOnly": true,
          "type": "string"
        },
        "deliveryPipelineSnapshot": {
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time.",
          "$ref": "DeliveryPipeline",
          "readOnly": true
        },
        "renderState": {
          "type": "string",
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "description": "Output only. Current state of the render operation.",
          "readOnly": true,
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ]
        },
        "condition": {
          "readOnly": true,
          "description": "Output only. Information around the state of the Release.",
          "$ref": "ReleaseCondition"
        },
        "buildArtifacts": {
          "description": "Optional. List of artifacts to pass through to Skaffold command.",
          "items": {
            "$ref": "BuildArtifact"
          },
          "type": "array"
        },
        "targetArtifacts": {
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "additionalProperties": {
            "$ref": "TargetArtifact"
          },
          "readOnly": true,
          "type": "object"
        },
        "targetRenders": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "additionalProperties": {
            "$ref": "TargetRender"
          }
        },
        "renderStartTime": {
          "description": "Output only. Time at which the render began.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "renderEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the render completed."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Release` was created."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customTargetTypeSnapshots": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Snapshot of the custom target types referenced by the targets taken at release creation time.",
          "items": {
            "$ref": "CustomTargetType"
          }
        },
        "skaffoldVersion": {
          "description": "Optional. The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "abandoned": {
          "description": "Output only. Indicates whether this is an abandoned release.",
          "readOnly": true,
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "targetSnapshots": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "items": {
            "$ref": "Target"
          }
        },
        "skaffoldConfigUri": {
          "description": "Optional. Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for all targets in this release.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Release",
      "type": "object"
    },
    "Phase": {
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Phase."
        },
        "skipMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information on why the Phase was skipped, if available."
        },
        "childRolloutJobs": {
          "readOnly": true,
          "description": "Output only. ChildRollout job composition.",
          "$ref": "ChildRolloutJobs"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted.",
            "The Phase was skipped."
          ],
          "description": "Output only. Current state of the Phase."
        },
        "deploymentJobs": {
          "readOnly": true,
          "description": "Output only. Deployment job composition.",
          "$ref": "DeploymentJobs"
        }
      },
      "id": "Phase",
      "type": "object"
    },
    "RetryJobRequest": {
      "id": "RetryJobRequest",
      "description": "RetryJobRequest is the request object used by `RetryJob`.",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to retry belongs to.",
          "type": "string"
        },
        "jobId": {
          "description": "Required. The job ID for the Job to retry.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeployArtifact": {
      "type": "object",
      "id": "DeployArtifact",
      "description": "The artifacts produced by a deploy operation.",
      "properties": {
        "manifestPaths": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. File paths of the manifests applied during the deploy operation relative to the URI.",
          "items": {
            "type": "string"
          }
        },
        "artifactUri": {
          "description": "Output only. URI of a directory containing the artifacts. All paths are relative to this location.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AnthosCluster": {
      "type": "object",
      "description": "Information specifying an Anthos Cluster.",
      "properties": {
        "membership": {
          "type": "string",
          "description": "Optional. Membership of the GKE Hub-registered cluster to which to apply the Skaffold configuration. Format is `projects/{project}/locations/{location}/memberships/{membership_name}`."
        }
      },
      "id": "AnthosCluster"
    },
    "AutomationRuleCondition": {
      "description": "`AutomationRuleCondition` contains conditions relevant to an `Automation` rule.",
      "properties": {
        "targetsPresentCondition": {
          "description": "Optional. Details around targets enumerated in the rule.",
          "$ref": "TargetsPresentCondition"
        },
        "timedPromoteReleaseCondition": {
          "description": "Optional. TimedPromoteReleaseCondition contains rule conditions specific to a an Automation with a timed promote release rule defined.",
          "$ref": "TimedPromoteReleaseCondition"
        }
      },
      "id": "AutomationRuleCondition",
      "type": "object"
    },
    "CreateChildRolloutJobRun": {
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`.",
      "properties": {
        "rollout": {
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true,
          "type": "string"
        },
        "rolloutPhaseId": {
          "description": "Output only. The ID of the childRollout Phase initiated by this JobRun.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CreateChildRolloutJobRun",
      "type": "object"
    },
    "SerialPipeline": {
      "id": "SerialPipeline",
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "properties": {
        "stages": {
          "type": "array",
          "description": "Optional. Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "items": {
            "$ref": "Stage"
          }
        }
      },
      "type": "object"
    },
    "ExecutionConfig": {
      "type": "object",
      "description": "Configuration of the environment to use when calling Skaffold.",
      "properties": {
        "artifactStorage": {
          "description": "Optional. Cloud Storage location in which to store execution outputs. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "Optional. The resource name of the `WorkerPool`, with the format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. If this optional field is unspecified, the default Cloud Build pool will be used."
        },
        "verbose": {
          "description": "Optional. If true, additional logging will be enabled when running builds in this execution environment.",
          "type": "boolean"
        },
        "privatePool": {
          "description": "Optional. Use private Cloud Build pool.",
          "$ref": "PrivatePool"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) is used."
        },
        "usages": {
          "type": "array",
          "description": "Required. Usages when this configuration should be applied.",
          "items": {
            "enum": [
              "EXECUTION_ENVIRONMENT_USAGE_UNSPECIFIED",
              "RENDER",
              "DEPLOY",
              "VERIFY",
              "PREDEPLOY",
              "POSTDEPLOY",
              "ANALYSIS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Use for rendering.",
              "Use for deploying and deployment hooks.",
              "Use for deployment verification.",
              "Use for predeploy job execution.",
              "Use for postdeploy job execution.",
              "Use for analysis job execution."
            ]
          }
        },
        "defaultPool": {
          "description": "Optional. Use default Cloud Build pool.",
          "$ref": "DefaultPool"
        },
        "executionTimeout": {
          "format": "google-duration",
          "description": "Optional. Execution timeout for a Cloud Build Execution. This must be between 10m and 24h in seconds format. If unspecified, a default timeout of 1h is used.",
          "type": "string"
        }
      },
      "id": "ExecutionConfig"
    },
    "AdvanceRolloutOperation": {
      "type": "object",
      "id": "AdvanceRolloutOperation",
      "description": "Contains the information of an automated advance-rollout operation.",
      "properties": {
        "wait": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. How long the operation will be paused."
        },
        "rollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`."
        },
        "sourcePhase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The phase of a deployment that initiated the operation."
        },
        "destinationPhase": {
          "description": "Output only. The phase the rollout will be advanced to.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TerminateJobRunRequest": {
      "type": "object",
      "id": "TerminateJobRunRequest",
      "description": "The request object used by `TerminateJobRun`.",
      "properties": {
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SkaffoldGCBRepoSource": {
      "description": "Cloud Build V2 Repository containing Skaffold Configs.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. Relative path from the repository root to the Skaffold Config file."
        },
        "ref": {
          "description": "Optional. Branch or tag to use when cloning the repository.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Required. Name of the Cloud Build V2 Repository. Format is projects/{project}/locations/{location}/connections/{connection}/repositories/{repository}."
        }
      },
      "id": "SkaffoldGCBRepoSource",
      "type": "object"
    },
    "CustomCheck": {
      "type": "object",
      "id": "CustomCheck",
      "description": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency.",
      "properties": {
        "id": {
          "description": "Required. The ID of the custom Analysis check.",
          "type": "string"
        },
        "frequency": {
          "format": "google-duration",
          "description": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes.",
          "type": "string"
        },
        "task": {
          "description": "Required. The Task to be run for this custom check.",
          "$ref": "Task"
        }
      }
    },
    "AutomationRun": {
      "id": "AutomationRun",
      "description": "An `AutomationRun` resource in the Cloud Deploy API. An `AutomationRun` represents an execution instance of an automation rule.",
      "properties": {
        "targetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the source target that initiates the `AutomationRun`. The value of this field is the last segment of a target name."
        },
        "waitUntilTime": {
          "description": "Output only. Earliest time the `AutomationRun` will attempt to resume. Wait-time is configured by `wait` in automation rule.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "promoteReleaseOperation": {
          "readOnly": true,
          "description": "Output only. Promotes a release to a specified 'Target'.",
          "$ref": "PromoteReleaseOperation"
        },
        "ruleId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the automation rule that initiated the operation."
        },
        "name": {
          "description": "Output only. Name of the `AutomationRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automationRuns/{automation_run}`.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. Email address of the user-managed IAM service account that performs the operations against Cloud Deploy resources.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the `AutomationRun` expires. An `AutomationRun` expires after 14 days from its creation date.",
          "format": "google-datetime"
        },
        "automationSnapshot": {
          "readOnly": true,
          "description": "Output only. Snapshot of the Automation taken at AutomationRun creation time.",
          "$ref": "Automation"
        },
        "createTime": {
          "description": "Output only. Time at which the `AutomationRun` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "advanceRolloutOperation": {
          "readOnly": true,
          "description": "Output only. Advances a rollout to the next phase.",
          "$ref": "AdvanceRolloutOperation"
        },
        "automationId": {
          "description": "Output only. The ID of the automation that initiated the operation.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. The weak etag of the `AutomationRun` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "policyViolation": {
          "readOnly": true,
          "description": "Output only. Contains information about what policies prevented the `AutomationRun` from proceeding.",
          "$ref": "PolicyViolation"
        },
        "stateDescription": {
          "description": "Output only. Explains the current state of the `AutomationRun`. Present only when an explanation is needed.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time at which the automationRun was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING",
            "ABORTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The `AutomationRun` has an unspecified state.",
            "The `AutomationRun` has succeeded.",
            "The `AutomationRun` was cancelled.",
            "The `AutomationRun` has failed.",
            "The `AutomationRun` is in progress.",
            "The `AutomationRun` is pending.",
            "The `AutomationRun` was aborted."
          ],
          "description": "Output only. Current state of the `AutomationRun`."
        },
        "timedPromoteReleaseOperation": {
          "description": "Output only. Promotes a release to a specified 'Target' as defined in a Timed Promote Release rule.",
          "$ref": "TimedPromoteReleaseOperation",
          "readOnly": true
        },
        "repairRolloutOperation": {
          "description": "Output only. Repairs a failed 'Rollout'.",
          "$ref": "RepairRolloutOperation",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CancelAutomationRunRequest": {
      "type": "object",
      "description": "The request object used by `CancelAutomationRun`.",
      "properties": {},
      "id": "CancelAutomationRunRequest"
    },
    "ListReleasesResponse": {
      "description": "The response object from `ListReleases`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "releases": {
          "description": "The `Release` objects.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        }
      },
      "id": "ListReleasesResponse",
      "type": "object"
    },
    "Automation": {
      "id": "Automation",
      "description": "An `Automation` resource in the Cloud Deploy API. An `Automation` enables the automation of manually driven actions for a Delivery Pipeline, which includes Release promotion among Targets, Rollout repair and Rollout deployment strategy advancement. The intention of Automation is to reduce manual intervention in the continuous delivery process.",
      "properties": {
        "description": {
          "description": "Optional. Description of the `Automation`. Max length is 255 characters.",
          "type": "string"
        },
        "suspended": {
          "description": "Optional. When Suspended, automation is deactivated from execution.",
          "type": "boolean"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `Automation`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automations/{automation}`."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Automation`.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. The weak etag of the `Automation` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "rules": {
          "description": "Required. List of Automation rules associated with the Automation resource. Must have at least one rule and limited to 250 rules per Delivery Pipeline. Note: the order of the rules here is not the same as the order of execution.",
          "items": {
            "$ref": "AutomationRule"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the automation was created."
        },
        "selector": {
          "description": "Required. Selected resources to which the automation will be applied.",
          "$ref": "AutomationResourceSelector"
        },
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 63 characters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Email address of the user-managed IAM service account that creates Cloud Deploy release and rollout resources."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the automation was updated.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AdvanceRolloutRequest": {
      "description": "The request object used by `AdvanceRollout`.",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID to advance the `Rollout` to.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AdvanceRolloutRequest",
      "type": "object"
    },
    "RepairRolloutRule": {
      "id": "RepairRolloutRule",
      "description": "The `RepairRolloutRule` automation rule will automatically repair a failed `Rollout`.",
      "properties": {
        "condition": {
          "readOnly": true,
          "description": "Output only. Information around the state of the 'Automation' rule.",
          "$ref": "AutomationRuleCondition"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        },
        "repairPhases": {
          "description": "Required. Defines the types of automatic repair phases for failed jobs.",
          "items": {
            "$ref": "RepairPhaseConfig"
          },
          "type": "array"
        },
        "phases": {
          "description": "Optional. Phases within which jobs are subject to automatic repair actions on failure. Proceeds only after phase name matched any one in the list, or for all phases if unspecified. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jobs": {
          "description": "Optional. Jobs to repair. Proceeds only after job name matched any one in the list, or for all jobs if unspecified or empty. The phase that includes the job must match the phase ID specified in `source_phase`. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Config": {
      "type": "object",
      "id": "Config",
      "description": "Service-wide configuration.",
      "properties": {
        "defaultSkaffoldVersion": {
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version.",
          "type": "string"
        },
        "defaultToolVersions": {
          "description": "Output only. Default tool versions. These tool versions are assigned when a Release is created without specifying tool versions.",
          "$ref": "ToolVersions",
          "readOnly": true
        },
        "supportedVersions": {
          "description": "All supported versions of Skaffold.",
          "items": {
            "$ref": "SkaffoldVersion"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the configuration."
        }
      }
    },
    "MultiTarget": {
      "type": "object",
      "description": "Information specifying a multiTarget.",
      "properties": {
        "targetIds": {
          "type": "array",
          "description": "Required. The target_ids of this multiTarget.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MultiTarget"
    },
    "CustomTarget": {
      "id": "CustomTarget",
      "description": "Information specifying a Custom Target.",
      "properties": {
        "customTargetType": {
          "description": "Required. The name of the CustomTargetType. Format must be `projects/{project}/locations/{location}/customTargetTypes/{custom_target_type}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceNetworking": {
      "description": "Information about the Kubernetes Service networking configuration.",
      "properties": {
        "podSelectorLabel": {
          "description": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment.",
          "type": "string"
        },
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "disablePodOverprovisioning": {
          "description": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster.",
          "type": "boolean"
        },
        "deployment": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service."
        }
      },
      "id": "ServiceNetworking",
      "type": "object"
    },
    "RollbackAttempt": {
      "type": "object",
      "id": "RollbackAttempt",
      "description": "RollbackAttempt represents an action of rolling back a Cloud Deploy 'Target'.",
      "properties": {
        "destinationPhase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The phase to which the rollout will be rolled back to."
        },
        "rolloutId": {
          "description": "Output only. ID of the rollback `Rollout` to create.",
          "readOnly": true,
          "type": "string"
        },
        "disableRollbackIfRolloutPending": {
          "description": "Output only. If active rollout exists on the target, abort this rollback.",
          "readOnly": true,
          "type": "boolean"
        },
        "stateDesc": {
          "description": "Output only. Description of the state of the Rollback.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Valid state of this rollback action.",
          "readOnly": true,
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ],
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "type": "string"
        }
      }
    },
    "ListRolloutsResponse": {
      "type": "object",
      "description": "ListRolloutsResponse is the response object returned by `ListRollouts`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rollouts": {
          "type": "array",
          "description": "The `Rollout` objects.",
          "items": {
            "$ref": "Rollout"
          }
        }
      },
      "id": "ListRolloutsResponse"
    },
    "DeliveryPipelineNotificationEvent": {
      "id": "DeliveryPipelineNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification.",
      "properties": {
        "deliveryPipeline": {
          "description": "The name of the `Delivery Pipeline`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy.",
      "properties": {
        "cloudRun": {
          "description": "Optional. Cloud Run runtime configuration.",
          "$ref": "CloudRunConfig"
        },
        "kubernetes": {
          "description": "Optional. Kubernetes runtime configuration.",
          "$ref": "KubernetesConfig"
        }
      },
      "type": "object"
    },
    "Targets": {
      "description": "The targets involved in a single timed promotion.",
      "properties": {
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The destination target ID."
        },
        "sourceTargetId": {
          "type": "string",
          "description": "Optional. The source target ID."
        }
      },
      "id": "Targets",
      "type": "object"
    },
    "GoogleCloudAnalysis": {
      "type": "object",
      "id": "GoogleCloudAnalysis",
      "description": "GoogleCloudAnalysis is a set of Google Cloud-based checks to perform on the deployment.",
      "properties": {
        "alertPolicyChecks": {
          "type": "array",
          "description": "Optional. A list of Cloud Monitoring Alert Policy checks to perform as part of the analysis.",
          "items": {
            "$ref": "AlertPolicyCheck"
          }
        }
      }
    },
    "DefaultPool": {
      "type": "object",
      "id": "DefaultPool",
      "description": "Execution using the default Cloud Build pool.",
      "properties": {
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
        }
      }
    },
    "RetryJobResponse": {
      "type": "object",
      "description": "The response object from 'RetryJob'.",
      "properties": {},
      "id": "RetryJobResponse"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "BuildArtifact": {
      "id": "BuildArtifact",
      "description": "Description of an a image to use during Skaffold rendering.",
      "properties": {
        "image": {
          "type": "string",
          "description": "Optional. Image name in Skaffold configuration."
        },
        "tag": {
          "type": "string",
          "description": "Optional. Image tag to use. This will generally be the full path to an image, such as \"gcr.io/my-project/busybox:1.2.3\" or \"gcr.io/my-project/busybox@sha256:abc123\"."
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "DeliveryPipelineAttribute": {
      "description": "Contains criteria for selecting DeliveryPipelines.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location"
        },
        "labels": {
          "type": "object",
          "description": "DeliveryPipeline labels.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DeliveryPipelineAttribute",
      "type": "object"
    },
    "ListDeployPoliciesResponse": {
      "description": "The response object from `ListDeployPolicies`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "deployPolicies": {
          "type": "array",
          "description": "The `DeployPolicy` objects.",
          "items": {
            "$ref": "DeployPolicy"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListDeployPoliciesResponse",
      "type": "object"
    },
    "PhaseArtifact": {
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "properties": {
        "manifestPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI."
        },
        "jobManifestsPath": {
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true,
          "type": "string"
        },
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PhaseArtifact",
      "type": "object"
    },
    "TimedPromoteReleaseRule": {
      "type": "object",
      "id": "TimedPromoteReleaseRule",
      "description": "The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule.",
      "properties": {
        "schedule": {
          "type": "string",
          "description": "Required. Schedule in crontab format. e.g. \"0 9 * * 1\" for every Monday at 9am."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York)."
        },
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the rule. This ID must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        },
        "condition": {
          "description": "Output only. Information around the state of the Automation rule.",
          "$ref": "AutomationRuleCondition",
          "readOnly": true
        },
        "destinationPhase": {
          "description": "Optional. The starting phase of the rollout created by this rule. Default to the first phase.",
          "type": "string"
        }
      }
    },
    "PredeployJob": {
      "id": "PredeployJob",
      "description": "A predeploy Job.",
      "properties": {
        "tasks": {
          "description": "Output only. The tasks that are executed as part of the predeploy Job.",
          "items": {
            "$ref": "Task"
          },
          "readOnly": true,
          "type": "array"
        },
        "actions": {
          "description": "Output only. The custom actions that the predeploy Job executes.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "PolicyViolation": {
      "type": "object",
      "id": "PolicyViolation",
      "description": "Returned from an action if one or more policies were violated, and therefore the action was prevented. Contains information about what policies were violated and why.",
      "properties": {
        "policyViolationDetails": {
          "description": "Policy violation details.",
          "items": {
            "$ref": "PolicyViolationDetails"
          },
          "type": "array"
        }
      }
    },
    "TargetAttribute": {
      "description": "Contains criteria for selecting Targets. This could be used to select targets for a Deploy Policy or for an Automation.",
      "properties": {
        "id": {
          "description": "Optional. ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name * \"*\", all targets in a location",
          "type": "string"
        },
        "labels": {
          "description": "Target labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "TargetAttribute",
      "type": "object"
    },
    "CustomCanaryDeployment": {
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration.",
      "properties": {
        "phaseConfigs": {
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "items": {
            "$ref": "PhaseConfig"
          },
          "type": "array"
        }
      },
      "id": "CustomCanaryDeployment",
      "type": "object"
    },
    "Rollout": {
      "type": "object",
      "id": "Rollout",
      "description": "A `Rollout` resource in the Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Rollout` for user purposes. Max length is 255 characters."
        },
        "activeRepairAutomationRun": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The AutomationRun actively repairing the rollout."
        },
        "deployStartTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "readOnly": true,
          "type": "string"
        },
        "rollbackOfRollout": {
          "description": "Output only. Name of the `Rollout` that is rolled back by this `Rollout`. Empty if this `Rollout` wasn't created as a rollback.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Rollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`. The `rollout` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Rollout`.",
          "readOnly": true,
          "type": "string"
        },
        "approveTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was approved.",
          "readOnly": true,
          "type": "string"
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the rollout failure, if available."
        },
        "targetId": {
          "description": "Required. The ID of Target to which this `Rollout` is deploying.",
          "type": "string"
        },
        "phases": {
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "items": {
            "$ref": "Phase"
          },
          "readOnly": true,
          "type": "array"
        },
        "deployEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` finished deploying."
        },
        "enqueueTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deployingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "approvalState": {
          "type": "string",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Output only. Approval state of the `Rollout`.",
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ]
        },
        "metadata": {
          "description": "Output only. Metadata contains information about the rollout.",
          "$ref": "Metadata",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was created.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rolledBackByRollouts": {
          "description": "Output only. Names of `Rollouts` that rolled back this `Rollout`.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "controllerRollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `ControllerRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`."
        },
        "state": {
          "description": "Output only. Current state of the `Rollout`.",
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ]
        },
        "deployFailureCause": {
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the allotted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "A Rollout operation had a feature configured that is not supported."
          ],
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED",
            "OPERATION_FEATURE_NOT_SUPPORTED"
          ],
          "type": "string"
        }
      }
    },
    "RolloutUpdateEvent": {
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_update\" Platform Log event that describes the rollout update event.",
      "properties": {
        "targetId": {
          "description": "ID of the target.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a rollout update event occurs."
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the pipeline."
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a rollout update event.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string"
        },
        "rolloutUpdateType": {
          "description": "The type of the rollout update.",
          "enum": [
            "ROLLOUT_UPDATE_TYPE_UNSPECIFIED",
            "PENDING",
            "PENDING_RELEASE",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "HALTED",
            "SUCCEEDED",
            "FAILED",
            "APPROVAL_REQUIRED",
            "APPROVED",
            "REJECTED",
            "ADVANCE_REQUIRED",
            "ADVANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Rollout update type unspecified.",
            "Rollout state updated to pending (release has succeeded, waiting on the rollout to start).",
            "Rollout state updated to pending release.",
            "Rollout state updated to in progress.",
            "Rollout state updated to cancelling.",
            "Rollout state updated to cancelled.",
            "Rollout state updated to halted.",
            "Rollout state updated to succeeded.",
            "Rollout state updated to failed.",
            "Rollout requires approval.",
            "Rollout has been approved.",
            "Rollout has been rejected.",
            "Rollout requires advance to the next phase.",
            "Rollout has been advanced."
          ]
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "rollout": {
          "type": "string",
          "description": "The name of the rollout. rollout_uid is not in this log message because we write some of these log messages at rollout creation time, before we've generated the uid."
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the release."
        }
      },
      "id": "RolloutUpdateEvent"
    },
    "CustomTargetDeployMetadata": {
      "id": "CustomTargetDeployMetadata",
      "description": "CustomTargetDeployMetadata contains information from a Custom Target deploy operation.",
      "properties": {
        "skipMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Skip message provided in the results of a custom deploy operation."
        }
      },
      "type": "object"
    },
    "ContainerTask": {
      "type": "object",
      "id": "ContainerTask",
      "description": "This task is represented by a container that is executed in the Cloud Build execution environment.",
      "properties": {
        "image": {
          "description": "Required. Image is the container image to use.",
          "type": "string"
        },
        "env": {
          "description": "Optional. Environment variables that are set in the container.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "command": {
          "description": "Optional. Command is the container entrypoint to use. This overrides the default entrypoint defined in the container image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "args": {
          "description": "Optional. Args is the container arguments to use. This overrides the default arguments defined in the container image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "Postdeploy": {
      "description": "Postdeploy contains the postdeploy job configuration information.",
      "properties": {
        "tasks": {
          "description": "Optional. The tasks that will run as a part of the postdeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified.",
          "items": {
            "$ref": "Task"
          },
          "type": "array"
        },
        "actions": {
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the postdeploy job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Postdeploy",
      "type": "object"
    },
    "PromoteReleaseRule": {
      "description": "The `PromoteRelease` rule will automatically promote a release from the current target to a specified target.",
      "properties": {
        "condition": {
          "readOnly": true,
          "description": "Output only. Information around the state of the Automation rule.",
          "$ref": "AutomationRuleCondition"
        },
        "destinationPhase": {
          "type": "string",
          "description": "Optional. The starting phase of the rollout created by this operation. Default to the first phase."
        },
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence"
        },
        "wait": {
          "type": "string",
          "description": "Optional. How long the release need to be paused until being promoted to the next target.",
          "format": "google-duration"
        }
      },
      "id": "PromoteReleaseRule",
      "type": "object"
    },
    "CreateChildRolloutJob": {
      "id": "CreateChildRolloutJob",
      "description": "A createChildRollout Job.",
      "properties": {},
      "type": "object"
    },
    "PolicyViolationDetails": {
      "type": "object",
      "description": "Policy violation details.",
      "properties": {
        "failureMessage": {
          "type": "string",
          "description": "User readable message about why the request violated a policy. This is not intended for machine parsing."
        },
        "policy": {
          "type": "string",
          "description": "Name of the policy that was violated. Policy resource will be in the format of `projects/{project}/locations/{location}/policies/{policy}`."
        },
        "ruleId": {
          "description": "Id of the rule that triggered the policy violation.",
          "type": "string"
        }
      },
      "id": "PolicyViolationDetails"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "IgnoreJobRequest": {
      "description": "The request object used by `IgnoreJob`.",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to ignore belongs to.",
          "type": "string"
        },
        "jobId": {
          "description": "Required. The job ID for the Job to ignore.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "IgnoreJobRequest",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "PostdeployJobRun": {
      "description": "PostdeployJobRun contains information specific to a postdeploy `JobRun`.",
      "properties": {
        "metadata": {
          "description": "Output only. Metadata containing information about the postdeploy `JobRun`.",
          "$ref": "PostdeployJobRunMetadata",
          "readOnly": true
        },
        "failureCause": {
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The postdeploy operation did not complete successfully; check Cloud Build logs.",
            "The postdeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "description": "Output only. The reason the postdeploy failed. This will always be unspecified while the postdeploy is in progress or if it succeeded.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string"
        },
        "failureMessage": {
          "description": "Output only. Additional information about the postdeploy failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the postdeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PostdeployJobRun",
      "type": "object"
    },
    "AnalysisJobRun": {
      "type": "object",
      "id": "AnalysisJobRun",
      "description": "AnalysisJobRun contains information specific to an analysis `JobRun`.",
      "properties": {
        "customCheckAnalyses": {
          "description": "Output only. The status of the running custom checks configured for this analysis.",
          "items": {
            "$ref": "CustomCheckStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "alertPolicyAnalyses": {
          "description": "Output only. The status of the running alert policy checks configured for this analysis.",
          "items": {
            "$ref": "AlertPolicyCheckStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "failedCheckId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the configured check that failed. This will always be blank while the analysis is in progress or if it succeeded."
        }
      }
    },
    "KubernetesRenderMetadata": {
      "type": "object",
      "description": "KubernetesRenderMetadata contains Kubernetes information associated with a `Release` render.",
      "properties": {
        "canaryDeployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the canary version of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a canary deployment strategy was configured."
        },
        "kubernetesNamespace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Namespace the Kubernetes resources will be applied to in the GKE cluster. Only set if applying resources to a single namespace."
        },
        "deployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a single Deployment was provided in the rendered manifest."
        }
      },
      "id": "KubernetesRenderMetadata"
    },
    "VerifyJobRun": {
      "type": "object",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "properties": {
        "artifactUri": {
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify job run did not complete within the allotted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded."
        },
        "failureMessage": {
          "description": "Output only. Additional information about the verify failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata containing information about the verify `JobRun`.",
          "$ref": "VerifyJobRunMetadata"
        },
        "eventLogPath": {
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "VerifyJobRun"
    },
    "PrivatePool": {
      "id": "PrivatePool",
      "description": "Execution using a private Cloud Build pool.",
      "properties": {
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        },
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TimeOfDay"
    },
    "PostdeployJob": {
      "type": "object",
      "id": "PostdeployJob",
      "description": "A postdeploy Job.",
      "properties": {
        "tasks": {
          "description": "Output only. The tasks that are executed as part of the postdeploy Job.",
          "items": {
            "$ref": "Task"
          },
          "readOnly": true,
          "type": "array"
        },
        "actions": {
          "description": "Output only. The custom actions that the postdeploy Job executes.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GatewayServiceMesh": {
      "id": "GatewayServiceMesh",
      "description": "Information about the Kubernetes Gateway API service mesh configuration.",
      "properties": {
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified HTTPRoute and Service.",
          "type": "string"
        },
        "routeUpdateWaitTime": {
          "type": "string",
          "description": "Optional. The time to wait for route updates to propagate. The maximum configurable time is 3 hours, in seconds format. If unspecified, there is no wait time.",
          "format": "google-duration"
        },
        "stableCutbackDuration": {
          "type": "string",
          "description": "Optional. The amount of time to migrate traffic back from the canary Service to the original Service during the stable phase deployment. If specified, must be between 15s and 3600s. If unspecified, there is no cutback time.",
          "format": "google-duration"
        },
        "routeDestinations": {
          "description": "Optional. Route destinations allow configuring the Gateway API HTTPRoute to be deployed to additional clusters. This option is available for multi-cluster service mesh set ups that require the route to exist in the clusters that call the service. If unspecified, the HTTPRoute will only be deployed to the Target cluster.",
          "$ref": "RouteDestinations"
        },
        "httpRoute": {
          "description": "Required. Name of the Gateway API HTTPRoute.",
          "type": "string"
        },
        "podSelectorLabel": {
          "description": "Optional. The label to use when selecting Pods for the Deployment and Service resources. This label must already be present in both resources.",
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Service."
        }
      },
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "DeployJobRun": {
      "description": "DeployJobRun contains information specific to a deploy `JobRun`.",
      "properties": {
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata containing information about the deploy job run.",
          "$ref": "DeployJobRunMetadata"
        },
        "build": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy. Format is `projects/{project}/locations/{location}/builds/{build}`."
        },
        "artifact": {
          "description": "Output only. The artifact of a deploy job run, if available.",
          "$ref": "DeployArtifact",
          "readOnly": true
        },
        "failureCause": {
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [Required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "The deploy job run did not complete within the allotted time.",
            "There were missing resources in the runtime environment required for a canary deployment. Check the Cloud Build logs for more information.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The deploy operation had a feature configured that is not supported."
          ],
          "description": "Output only. The reason the deploy failed. This will always be unspecified while the deploy is in progress or if it succeeded.",
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "MISSING_RESOURCES_FOR_CANARY",
            "CLOUD_BUILD_REQUEST_FAILED",
            "DEPLOY_FEATURE_NOT_SUPPORTED"
          ]
        },
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the deploy failure, if available."
        }
      },
      "id": "DeployJobRun",
      "type": "object"
    },
    "ListAutomationsResponse": {
      "type": "object",
      "description": "The response object from `ListAutomations`.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "automations": {
          "description": "The `Automation` objects.",
          "items": {
            "$ref": "Automation"
          },
          "type": "array"
        }
      },
      "id": "ListAutomationsResponse"
    },
    "TimedPromoteReleaseOperation": {
      "description": "Contains the information of an automated timed promote-release operation.",
      "properties": {
        "targetId": {
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true,
          "type": "string"
        },
        "release": {
          "description": "Output only. The name of the release to be promoted.",
          "readOnly": true,
          "type": "string"
        },
        "phase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The starting phase of the rollout created by this operation."
        }
      },
      "id": "TimedPromoteReleaseOperation",
      "type": "object"
    },
    "SkaffoldModules": {
      "id": "SkaffoldModules",
      "description": "Skaffold Config modules and their remote source.",
      "properties": {
        "git": {
          "description": "Optional. Remote git repository containing the Skaffold Config modules.",
          "$ref": "SkaffoldGitSource"
        },
        "configs": {
          "description": "Optional. The Skaffold Config modules to use from the specified source.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "googleCloudStorage": {
          "description": "Optional. Cloud Storage bucket containing the Skaffold Config modules.",
          "$ref": "SkaffoldGCSSource"
        },
        "googleCloudBuildRepo": {
          "description": "Optional. Cloud Build V2 repository containing the Skaffold Config modules.",
          "$ref": "SkaffoldGCBRepoSource"
        }
      },
      "type": "object"
    },
    "AutomationResourceSelector": {
      "id": "AutomationResourceSelector",
      "description": "AutomationResourceSelector contains the information to select the resources to which an Automation is going to be applied.",
      "properties": {
        "targets": {
          "description": "Optional. Contains attributes about a target.",
          "items": {
            "$ref": "TargetAttribute"
          },
[...]
