{
  "discoveryVersion": "v1",
  "revision": "20260914",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        },
        "https://www.googleapis.com/auth/apps.reports.usage.readonly": {
          "description": "View usage reports for your Google Workspace domain"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "cloudchannel",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "servicePath": "",
  "schemas": {
    "GoogleCloudChannelV1ListEntitlementChangesResponse": {
      "description": "Response message for CloudChannelService.ListEntitlementChanges",
      "properties": {
        "entitlementChanges": {
          "description": "The list of entitlement changes.",
          "items": {
            "$ref": "GoogleCloudChannelV1EntitlementChange"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to list the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListEntitlementChangesResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "description": "Type of event which happened for the entitlement."
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent"
    },
    "GoogleCloudChannelV1Period": {
      "type": "object",
      "description": "Represents period in days/months/years.",
      "id": "GoogleCloudChannelV1Period",
      "properties": {
        "duration": {
          "format": "int32",
          "description": "Total duration of Period Type defined.",
          "type": "integer"
        },
        "periodType": {
          "description": "Period Type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        }
      }
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "description": "Request message for CloudChannelService.StartPaidService.",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1EduData": {
      "type": "object",
      "description": "Required Edu Attributes",
      "properties": {
        "website": {
          "description": "Web address for the edu customer's institution.",
          "type": "string"
        },
        "instituteType": {
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "type": "string",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "description": "Designated institute type of customer."
        },
        "instituteSize": {
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "description": "Size of the institute.",
          "type": "string",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ]
        }
      },
      "id": "GoogleCloudChannelV1EduData"
    },
    "GoogleCloudChannelV1Customer": {
      "description": "Entity representing a customer of a reseller or distributor.",
      "id": "GoogleCloudChannelV1Customer",
      "type": "object",
      "properties": {
        "orgDisplayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer.",
          "readOnly": true
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "orgPostalAddress": {
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region, postal code, and address lines. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code.",
          "$ref": "GoogleTypePostalAddress"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the customer was updated."
        },
        "correlationId": {
          "description": "Optional. External CRM ID for the customer. Populated only if a CRM ID exists for this customer.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the customer was created.",
          "format": "google-datetime"
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer."
        },
        "alternateEmail": {
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers.",
          "type": "string"
        },
        "customerAttestationState": {
          "description": "Optional. Indicate if a customer is attesting about the correctness of provided information. Only required if creating a GCP Entitlement. NOTE: This field will be mandatory for all new GCP customers starting Aug 31st, 2026 and this field will also be required for all existing customers purchasing new GCP Entitlements.",
          "enumDescriptions": [
            "Default value if not set yet",
            "Customer is exempt from attesting based on exemption list at https://cloud.google.com/terms/direct-tos-exemptions. Contact information of customer will be mandatory.",
            "Customer is not exempt and has verified the information provided is correct. Contact information of customer will be mandatory."
          ],
          "type": "string",
          "enum": [
            "CUSTOMER_ATTESTATION_STATE_UNSPECIFIED",
            "EXEMPT",
            "NON_EXEMPT_AND_INFO_VERIFIED"
          ]
        },
        "primaryContactInfo": {
          "$ref": "GoogleCloudChannelV1ContactInfo",
          "description": "Primary contact info."
        },
        "cloudIdentityId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "domain": {
          "type": "string",
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain."
        }
      }
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "type": "object",
      "properties": {
        "priceReferenceId": {
          "type": "string",
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order."
        },
        "offer": {
          "description": "Offer with parameter constraints updated to allow the Transfer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      },
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only.",
      "id": "GoogleCloudChannelV1TransferableOffer"
    },
    "GoogleCloudChannelV1PriceByResource": {
      "id": "GoogleCloudChannelV1PriceByResource",
      "properties": {
        "price": {
          "description": "Price of the Offer. Present if there are no price phases.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "resourceType": {
          "description": "Resource Type. Example: SEAT",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION",
            "AI_CREDITS"
          ],
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud.",
            "For Google Cloud subscriptions like Anthos or SAP.",
            "As of June 2026, this field is mapped to WS Credits on commerce side."
          ]
        },
        "pricePhases": {
          "type": "array",
          "description": "Specifies the price by time range.",
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          }
        }
      },
      "description": "Represents price by resource type.",
      "type": "object"
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "id": "GoogleCloudChannelV1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Association links that an entitlement has to other entitlements."
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional."
        },
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional.",
          "type": "string"
        },
        "pageSize": {
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional.",
          "type": "integer",
          "format": "int32"
        },
        "customerName": {
          "type": "string",
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest",
      "description": "Request message for CloudChannelService.ListTransferableSkus"
    },
    "GoogleCloudChannelV1BillingAccountPurchaseInfo": {
      "id": "GoogleCloudChannelV1BillingAccountPurchaseInfo",
      "type": "object",
      "description": "Represents a billing account that can be used to make a purchase.",
      "properties": {
        "billingAccount": {
          "description": "The billing account resource.",
          "$ref": "GoogleCloudChannelV1BillingAccount"
        }
      }
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "id": "GoogleCloudChannelV1CustomerRepricingConfig",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "readOnly": true
        },
        "repricingConfig": {
          "$ref": "GoogleCloudChannelV1RepricingConfig",
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Configuration for how a reseller will reprice a Customer."
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "description": "Request message for CloudChannelService.ChangeParameters.",
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          }
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order ID provided by the reseller."
        }
      }
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "properties": {
        "purchasableSkus": {
          "type": "array",
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "description": "Response message for ListPurchasableSkus.",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "description": "List of service accounts which have subscriber access to the topic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        }
      },
      "description": "Response Message for ListSubscribers."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        },
        "provisioningId": {
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "type": "string"
        },
        "skuId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "id": "GoogleCloudChannelV1ProvisionedService",
      "description": "Service provisioned for an entitlement."
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      },
      "description": "Response Message for RegisterSubscriber.",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "type": "object",
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "description": "Applies the repricing configuration at the entitlement level.",
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      }
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state."
        },
        "channelPartnerLink": {
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink",
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "properties": {
        "primaryAdminEmail": {
          "description": "Optional. Primary admin email to fetch for Cloud Identity account team customer.",
          "type": "string"
        },
        "domain": {
          "description": "Required. Domain to fetch for Cloud Identity account customers, including domain and team customers. For team customers, please use the domain for their emails.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist."
    },
    "GoogleCloudChannelV1Product": {
      "type": "object",
      "id": "GoogleCloudChannelV1Product",
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc.",
      "properties": {
        "marketingInfo": {
          "description": "Marketing information for the product.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the Product. Format: products/{product_id}"
        }
      }
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "type": "object",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "id": "GoogleCloudChannelV1SubscriberEvent",
      "properties": {
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        },
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        }
      }
    },
    "GoogleCloudChannelV1FetchReportResultsRequest": {
      "description": "Request message for CloudChannelReportsService.FetchReportResults.",
      "properties": {
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Requested page size of the report. The server may return fewer results than requested. If you don't specify a page size, the server uses a sensible default (may change over time). The maximum value is 30,000; the server will change larger values to 30,000."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A token that specifies a page of results beyond the first page. Obtained through FetchReportResultsResponse.next_page_token of the previous CloudChannelReportsService.FetchReportResults call."
        },
        "partitionKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of keys specifying which report partitions to return. If empty, returns all partitions."
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudChannelV1FetchReportResultsRequest"
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "description": "Request message for CloudChannelService.TransferEntitlements.",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "entitlements": {
          "type": "array",
          "description": "Required. The new entitlements to create or transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        },
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        }
      },
      "type": "object"
    },
    "GoogleTypePostalAddress": {
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "properties": {
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "revision": {
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypePostalAddress"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation."
    },
    "GoogleCloudChannelV1ListSkuGroupsResponse": {
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupsRequest.page_token to obtain that page."
        },
        "skuGroups": {
          "items": {
            "$ref": "GoogleCloudChannelV1SkuGroup"
          },
          "description": "The list of SKU groups requested.",
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1ListSkuGroupsResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "properties": {
        "entitlement": {
          "description": "Required. The entitlement to create.",
          "$ref": "GoogleCloudChannelV1Entitlement"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.CreateEntitlement",
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1Value": {
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Represents an int64 value."
        },
        "protoValue": {
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1Value",
      "description": "Data type and value of a parameter."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudChannelV1AdminUser": {
      "description": "Information needed to create an Admin User for Google Workspace.",
      "properties": {
        "givenName": {
          "description": "Given name of the admin user.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "Family name of the admin user."
        },
        "email": {
          "type": "string",
          "description": "Primary email of the admin user."
        }
      },
      "id": "GoogleCloudChannelV1AdminUser",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity": {
      "id": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
      "deprecated": true,
      "description": "Applies the repricing configuration at the channel partner level. The channel partner value is derived from the resource name. Takes an empty json object. Deprecated: This is no longer supported. Use RepricingConfig.EntitlementGranularity instead.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudChannelV1BillableSku": {
      "type": "object",
      "id": "GoogleCloudChannelV1BillableSku",
      "properties": {
        "skuDisplayName": {
          "description": "Unique human readable name for the SKU.",
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Resource name of Billable SKU. Format: billableSkus/{sku}. Example: billableSkus/6E1B-6634-470F\"."
        },
        "serviceDisplayName": {
          "type": "string",
          "description": "Unique human readable name for the Service."
        },
        "service": {
          "type": "string",
          "description": "Resource name of Service which contains Repricing SKU. Format: services/{service}. Example: \"services/B7D9-FDCB-15D8\"."
        }
      },
      "description": "Represents the Billable SKU information."
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "properties": {
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement.",
          "type": "string"
        },
        "provisionedService": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements."
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "suspensionReasons": {
          "items": {
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ]
          },
          "type": "array",
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "readOnly": true
        },
        "provisioningState": {
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            false
          ],
          "type": "string"
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "channelPartnerId": {
          "deprecated": true,
          "type": "string",
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the entitlement is created."
        },
        "assignedUnits": {
          "type": "integer",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead.",
          "format": "int32",
          "deprecated": true
        },
        "trialSettings": {
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings",
          "description": "Output only. Settings for trial offers.",
          "readOnly": true
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo"
        },
        "priceReferenceId": {
          "type": "string",
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order."
        },
        "numUnits": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead."
        },
        "name": {
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the entitlement is updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "maxUnits": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. For Google Workspace, the following Parameters may be accepted as input: - max_units: The maximum assignable units for a flexible offer OR - num_units: The total commitment for commitment-based offers The response may additionally include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. For Google Cloud billing subaccounts, the following Parameter may be accepted as input: - display_name: The display name of the billing subaccount."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "type": "object",
      "properties": {
        "alternateEmail": {
          "description": "The alternate email.",
          "type": "string"
        },
        "customerType": {
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "description": "CustomerType indicates verification type needed for using services.",
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ]
        },
        "phoneNumber": {
          "description": "Phone number associated with the Cloud Identity.",
          "type": "string"
        },
        "primaryDomain": {
          "readOnly": true,
          "description": "Output only. The primary domain name.",
          "type": "string"
        },
        "isDomainVerified": {
          "type": "boolean",
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers.",
          "readOnly": true
        },
        "adminConsoleUri": {
          "type": "string",
          "description": "Output only. URI of Customer's Admin console dashboard.",
          "readOnly": true
        },
        "languageCode": {
          "description": "Language code.",
          "type": "string"
        },
        "eduData": {
          "description": "Edu information about the customer.",
          "$ref": "GoogleCloudChannelV1EduData"
        }
      },
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "description": "Cloud Identity information for the Cloud Channel Customer."
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "properties": {
        "customerName": {
          "type": "string",
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "existing": {
          "type": "boolean",
          "description": "Returns true if a Cloud Identity account exists for a specific domain."
        },
        "channelPartnerCloudIdentityId": {
          "description": "If existing = true, and is 2-tier customer, the channel partner of the customer.",
          "type": "string"
        },
        "customerCloudIdentityId": {
          "description": "If existing = true, the Cloud Identity ID of the customer.",
          "type": "string"
        },
        "customerType": {
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "description": "If existing = true, the type of the customer.",
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ]
        },
        "owned": {
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner (with active subscriptions or purchase consents).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "type": "object"
    },
    "GoogleCloudChannelV1Price": {
      "properties": {
        "effectivePrice": {
          "description": "Effective Price after applying the discounts.",
          "$ref": "GoogleTypeMoney"
        },
        "pricePeriod": {
          "description": "The time period with respect to which base and effective prices are defined. Example: 1 month, 6 months, 1 year, etc.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "discountComponents": {
          "description": "Breakdown of the discount into its components. This will be empty if there is no discount present.",
          "items": {
            "$ref": "GoogleCloudChannelV1DiscountComponent"
          },
          "type": "array"
        },
        "externalPriceUri": {
          "type": "string",
          "description": "Link to external price list, such as link to Google Voice rate card."
        },
        "basePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Base price."
        },
        "discount": {
          "type": "number",
          "format": "double",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2."
        }
      },
      "id": "GoogleCloudChannelV1Price",
      "type": "object",
      "description": "Represents the price of the Offer."
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "properties": {
        "skuId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "provisioningId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount."
        },
        "productId": {
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Service provisioned for an entitlement.",
      "id": "GoogleCloudChannelV1alpha1ProvisionedService"
    },
    "GoogleCloudChannelV1Report": {
      "id": "GoogleCloudChannelV1Report",
      "deprecated": true,
      "type": "object",
      "properties": {
        "columns": {
          "items": {
            "$ref": "GoogleCloudChannelV1Column"
          },
          "type": "array",
          "description": "The list of columns included in the report. This defines the schema of the report results."
        },
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        },
        "displayName": {
          "description": "A human-readable name for this report.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of other aspects of the report, such as the products it supports."
        }
      },
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc."
    },
    "GoogleCloudChannelV1alpha1Column": {
      "deprecated": true,
      "type": "object",
      "description": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows.",
      "properties": {
        "columnId": {
          "description": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The column's display name."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "DECIMAL",
            "MONEY",
            "DATE",
            "DATE_TIME"
          ],
          "enumDescriptions": [
            "Not used.",
            "ReportValues for this column will use string_value.",
            "ReportValues for this column will use int_value.",
            "ReportValues for this column will use decimal_value.",
            "ReportValues for this column will use money_value.",
            "ReportValues for this column will use date_value.",
            "ReportValues for this column will use date_time_value."
          ],
          "description": "The type of the values for this column."
        }
      },
      "id": "GoogleCloudChannelV1alpha1Column"
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "properties": {
        "ineligibilityReason": {
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended",
            "The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265"
          ],
          "description": "Specified the reason for ineligibility.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED",
            "CHANNEL_PARTNER_NOT_AUTHORIZED_FOR_SKU"
          ]
        },
        "isEligible": {
          "type": "boolean",
          "description": "Whether reseller is eligible to transfer the SKU."
        },
        "description": {
          "type": "string",
          "description": "Localized description if reseller is not eligible to transfer the SKU."
        }
      },
      "id": "GoogleCloudChannelV1TransferEligibility",
      "description": "Specifies transfer eligibility of a SKU.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1OpportunityEvent": {
      "properties": {
        "partner": {
          "description": "Resource name of the partner. Format: partners/{partner}",
          "type": "string"
        },
        "opportunity": {
          "description": "Resource name of the opportunity. Format: opportunities/{opportunity}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened for the opportunity.",
          "enumDescriptions": [
            "Not used.",
            "New opportunity created.",
            "Existing opportunity updated.",
            "Partner has been detached from the opportunity and can no longer access it."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "PARTNER_DETACHED"
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing opportunity updates.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1OpportunityEvent"
    },
    "GoogleCloudChannelV1alpha1ReportStatus": {
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ReportStatus",
      "description": "Status of a report generation process.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The report generation's start time.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "description": "The current state of the report generation process."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The report generation's completion time.",
          "type": "string"
        }
      }
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "properties": {
        "percentageAdjustment": {
          "$ref": "GoogleCloudChannelV1PercentageAdjustment",
          "description": "Flat markup or markdown on an entire bill."
        }
      },
      "description": "A type that represents the various adjustments you can apply to a bill.",
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ReportJob": {
      "properties": {
        "name": {
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`",
          "type": "string"
        },
        "reportStatus": {
          "description": "The current status of report generation.",
          "$ref": "GoogleCloudChannelV1alpha1ReportStatus"
        }
      },
      "id": "GoogleCloudChannelV1alpha1ReportJob",
      "deprecated": true,
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1ReportStatus": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The report generation's start time.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "description": "The current state of the report generation process."
        },
        "endTime": {
          "description": "The report generation's completion time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ReportStatus",
      "description": "Status of a report generation process.",
      "deprecated": true
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "type": "object",
      "id": "GoogleCloudChannelV1PurchasableSku",
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU"
        }
      },
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response."
    },
    "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse": {
      "id": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse",
      "type": "object",
      "properties": {
        "customerRepricingConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
          },
          "description": "The repricing configs for this channel partner."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListCustomerRepricingConfigsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListCustomerRepricingConfigs."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudChannelV1PricePhase": {
      "properties": {
        "price": {
          "description": "Price of the phase. Present if there are no price tiers.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "priceTiers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "description": "Price by the resource tiers.",
          "type": "array"
        },
        "firstPeriod": {
          "description": "Defines first period for the phase.",
          "format": "int32",
          "type": "integer"
        },
        "lastPeriod": {
          "format": "int32",
          "type": "integer",
          "description": "Defines first period for the phase."
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Defines the phase period type."
        }
      },
      "id": "GoogleCloudChannelV1PricePhase",
      "type": "object",
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month."
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse"
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "id": "GoogleCloudChannelV1ChangeOfferRequest",
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        },
        "offer": {
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array",
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer."
        },
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement when setting up billing on a trial subscription. This field is only relevant for multi-currency accounts. It should be left empty for single currency accounts.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Plan": {
      "properties": {
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ]
        },
        "trialPeriod": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period."
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentType": {
          "description": "Specifies when the payment needs to happen.",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ],
          "type": "string",
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ]
        },
        "billingAccount": {
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud offers.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1Plan",
      "type": "object",
      "description": "The payment plan for the Offer. Describes how to make a payment."
    },
    "GoogleCloudChannelV1BillingAccount": {
      "id": "GoogleCloudChannelV1BillingAccount",
      "properties": {
        "displayName": {
          "description": "Display name of the billing account.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the billing account. Format: accounts/{account_id}/billingAccounts/{billing_account_id}."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when this billing account was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "currencyCode": {
          "description": "Output only. The 3-letter currency code defined in ISO 4217.",
          "readOnly": true,
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The CLDR region code."
        }
      },
      "type": "object",
      "description": "Represents a billing account."
    },
    "GoogleCloudChannelV1Offer": {
      "id": "GoogleCloudChannelV1Offer",
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "properties": {
        "priceByResources": {
          "description": "Price for each monetizable resource type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          }
        },
        "startTime": {
          "description": "Start of the Offer validity time.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}"
        },
        "dealCode": {
          "description": "The deal code of the offer to get a special promotion or discount.",
          "type": "string"
        },
        "marketingInfo": {
          "description": "Marketing information for the Offer.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "endTime": {
          "description": "Output only. End of the Offer validity time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "plan": {
          "description": "Describes the payment plan for the Offer.",
          "$ref": "GoogleCloudChannelV1Plan"
        },
        "constraints": {
          "$ref": "GoogleCloudChannelV1Constraints",
          "description": "Constraints on transacting the Offer."
        },
        "parameterDefinitions": {
          "description": "Parameters required to use current Offer to purchase.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          }
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU the offer is associated with."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "type": "object",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "description": "The RPC that initiated this Long Running Operation.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      }
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "properties": {
        "integrator": {
          "type": "string",
          "description": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset."
        },
        "account": {
          "description": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account to unregister from subscriber access to the topic.",
          "type": "string"
        }
      },
      "description": "Request Message for UnregisterSubscriber.",
      "type": "object",
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest"
    },
    "GoogleCloudChannelV1Row": {
      "properties": {
        "values": {
          "description": "The list of values in the row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ReportValue"
          }
        },
        "partitionKey": {
          "type": "string",
          "description": "The key for the partition this row belongs to. This field is empty if the report is not partitioned."
        }
      },
      "description": "A row of report values.",
      "type": "object",
      "id": "GoogleCloudChannelV1Row",
      "deprecated": true
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "id": "GoogleCloudChannelV1ListOffersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "offers": {
          "type": "array",
          "description": "The list of Offers requested. The pricing information for each Offer only includes the base price. Effective prices and discounts aren't populated.",
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          }
        }
      },
      "description": "Response message for ListOffers."
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "type": "object"
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "description": "Type of event which happened for the entitlement."
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1EntitlementEvent"
    },
    "GoogleCloudChannelV1alpha1Period": {
      "properties": {
        "duration": {
          "description": "Total duration of Period Type defined.",
          "format": "int32",
          "type": "integer"
        },
        "periodType": {
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Period Type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        }
      },
      "description": "Represents period in days/months/years.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Period"
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "type": "object",
      "properties": {
        "maxValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types."
        },
        "allowedValues": {
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          }
        },
        "parameterType": {
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type.",
            "Boolean type."
          ],
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "type": "string",
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE",
            "BOOLEAN"
          ]
        },
        "minValue": {
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "optional": {
          "description": "If set to true, parameter is optional to purchase this Offer.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase."
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "description": "An adjustment that applies a flat markup or markdown to an entire bill.",
      "type": "object",
      "properties": {
        "percentage": {
          "$ref": "GoogleTypeDecimal",
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% => \"-1.00\" Mark up by 1% => \"1.00\" Pass-Through => \"0.00\""
        }
      }
    },
    "GoogleCloudChannelV1Parameter": {
      "type": "object",
      "properties": {
        "editable": {
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "GoogleCloudChannelV1Value"
        }
      },
      "description": "Definition for extended entitlement parameters.",
      "id": "GoogleCloudChannelV1Parameter"
    },
    "GoogleCloudChannelV1ContactInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1ContactInfo",
      "description": "Contact information for a customer account.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The customer account contact's job title."
        },
        "email": {
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers.",
          "type": "string"
        },
        "phone": {
          "description": "The customer account's contact phone number.",
          "type": "string"
        },
        "firstName": {
          "description": "The customer account contact's first name. Optional for Team customers.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name.",
          "type": "string",
          "readOnly": true
        },
        "lastName": {
          "type": "string",
          "description": "The customer account contact's last name. Optional for Team customers."
        }
      }
    },
    "GoogleCloudChannelV1EntitlementChange": {
      "id": "GoogleCloudChannelV1EntitlementChange",
      "description": "Change event entry for Entitlement order history",
      "properties": {
        "provisionedService": {
          "description": "Service provisioned for an Entitlement.",
          "$ref": "GoogleCloudChannelV1ProvisionedService"
        },
        "entitlement": {
          "type": "string",
          "description": "Required. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        },
        "operatorType": {
          "enumDescriptions": [
            "Not used.",
            "Customer service representative.",
            "System auto job.",
            "Customer user.",
            "Reseller user."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_TYPE_UNSPECIFIED",
            "CUSTOMER_SERVICE_REPRESENTATIVE",
            "SYSTEM",
            "CUSTOMER",
            "RESELLER"
          ],
          "description": "Operator type responsible for the change."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The submitted time of the change."
        },
        "operator": {
          "description": "Human-readable identifier that shows what operator made a change. When the operator_type is RESELLER, this is the user's email address. For all other operator types, this is empty.",
          "type": "string"
        },
        "changeType": {
          "type": "string",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SUBSCRIPTION_STARTED",
            "LICENSE_CAP_CHANGED",
            "SUSPENSION_DETAILS_CHANGED",
            "TRIAL_END_DATE_EXTENDED",
            "TRIAL_STARTED"
          ],
          "enumDescriptions": [
            "Not used.",
            "New Entitlement was created.",
            "Price plan associated with an Entitlement was changed.",
            "Number of seats committed for a commitment Entitlement was changed.",
            "An annual Entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was activated.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded for ex. from Google Workspace Business Standard to Google Workspace Business Plus.",
            "The settings for renewal of an Entitlement have changed.",
            "Use for Google Workspace subscription. Either a trial was converted to a paid subscription or a new subscription with no trial is created.",
            "License cap was changed for the entitlement.",
            "The suspension details have changed (but it is still suspended).",
            "The trial end date was extended.",
            "Entitlement started trial."
          ],
          "description": "The change action type."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Extended parameters, such as: purchase_order_number, gcp_details; internal_correlation_id, long_running_operation_id, order_id; etc.",
          "type": "array"
        },
        "suspensionReason": {
          "type": "string",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "RESELLER_INITIATED",
            "TRIAL_ENDED",
            "RENEWAL_WITH_TYPE_CANCEL",
            "PENDING_TOS_ACCEPTANCE",
            "OTHER"
          ],
          "description": "Suspension reason for the Entitlement.",
          "enumDescriptions": [
            "Not used.",
            "Entitlement was manually suspended by the Reseller.",
            "Trial ended.",
            "Entitlement renewal was canceled.",
            "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
            "Other reasons (internal reasons, abuse, etc.)."
          ]
        },
        "activationReason": {
          "description": "The Entitlement's activation reason",
          "enumDescriptions": [
            "Not used.",
            "Reseller reactivated a suspended Entitlement.",
            "Customer accepted pending terms of service.",
            "Reseller updated the renewal settings on an entitlement that was suspended due to cancellation, and this update reactivated the entitlement.",
            "Other reasons (Activated temporarily for cancellation, added a payment plan to a trial entitlement, etc.)"
          ],
          "type": "string",
          "enum": [
            "ACTIVATION_REASON_UNSPECIFIED",
            "RESELLER_REVOKED_SUSPENSION",
            "CUSTOMER_ACCEPTED_PENDING_TOS",
            "RENEWAL_SETTINGS_CHANGED",
            "OTHER_ACTIVATION_REASON"
          ]
        },
        "cancellationReason": {
          "enumDescriptions": [
            "Not used.",
            "Reseller triggered a cancellation of the service.",
            "Relationship between the reseller and customer has ended due to a transfer.",
            "Entitlement transferred away from reseller while still keeping other entitlement(s) with the reseller."
          ],
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "SERVICE_TERMINATED",
            "RELATIONSHIP_ENDED",
            "PARTIAL_TRANSFER"
          ],
          "description": "Cancellation reason for the Entitlement."
        },
        "offer": {
          "type": "string",
          "description": "Required. Resource name of the Offer at the time of change. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "otherChangeReason": {
          "type": "string",
          "description": "e.g. purchase_number change reason, entered by CRS."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "properties": {
        "billableSkus": {
          "description": "The list of billable SKUs in the requested SKU group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1BillableSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkusRequest.page_token to obtain that page."
        }
      },
      "id": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse",
      "type": "object",
      "description": "Response message for ListSkuGroupBillableSkus."
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1SkuGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of SKU group. Format: accounts/{account}/skuGroups/{sku_group}. Example: \"accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041\"."
        },
        "displayName": {
          "description": "Unique human readable identifier for the SKU group.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the SKU group information.",
      "id": "GoogleCloudChannelV1SkuGroup"
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1DiscountComponent": {
      "id": "GoogleCloudChannelV1DiscountComponent",
      "properties": {
        "discountPercentage": {
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represented as 0.2.",
          "format": "double",
          "type": "number"
        },
        "discountAbsolute": {
          "description": "Fixed value discount.",
          "$ref": "GoogleTypeMoney"
        },
        "discountType": {
          "type": "string",
          "enum": [
            "DISCOUNT_TYPE_UNSPECIFIED",
            "REGIONAL_DISCOUNT",
            "PROMOTIONAL_DISCOUNT",
            "SALES_DISCOUNT",
            "RESELLER_MARGIN",
            "DEAL_CODE"
          ],
          "description": "Type of the discount.",
          "enumDescriptions": [
            "Not used.",
            "Regional discount.",
            "Promotional discount.",
            "Sales-provided discount.",
            "Reseller margin.",
            "Deal code discount."
          ]
        }
      },
      "description": "Represents a single component of the total discount applicable on a Price.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "description": "Request message for CloudChannelService.ChangeRenewalSettings.",
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "properties": {
        "renewalSettings": {
          "description": "Required. New renewal settings.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "requestId": {
          "type": "string",
[...]
