{
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "id": "cloudbuild:v2",
  "discoveryVersion": "v1",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:cancel"
                },
                "get": {
                  "id": "cloudbuild.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "connections": {
              "methods": {
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "path": "v2/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "cloudbuild.projects.locations.connections.setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "id": "cloudbuild.projects.locations.connections.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection to delete. Format: `projects/*/locations/*/connections/*`."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request, but do not actually post it."
                    },
                    "etag": {
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single connection."
                },
                "get": {
                  "response": {
                    "$ref": "Connection"
                  },
                  "id": "cloudbuild.projects.locations.connections.get",
                  "description": "Gets details of a single connection.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection to retrieve. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                },
                "processWebhook": {
                  "description": "ProcessWebhook is called by the external SCM for notifying of events.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "cloudbuild.projects.locations.connections.processWebhook",
                  "path": "v2/{+parent}/connections:processWebhook",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:processWebhook",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "webhookKey": {
                      "description": "Arbitrary additional key to find the matching repository for a webhook event if needed.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "description": "Updates a single connection.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "request": {
                    "$ref": "Connection"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated."
                    },
                    "etag": {
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, update will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties)."
                    }
                  }
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:testIamPermissions",
                  "id": "cloudbuild.projects.locations.connections.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "list": {
                  "description": "Lists Connections in a given project and location.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "path": "v2/{+parent}/connections",
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.connections.list",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of Connections. Format: `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "description": "Number of results to return in the list.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Page start.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "fetchLinkableRepositories": {
                  "description": "FetchLinkableRepositories get repositories from SCM that are accessible and could be added to the connection.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Page start.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of results to return in the list. Default to 20."
                    },
                    "connection": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`."
                    }
                  },
                  "parameterOrder": [
                    "connection"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableRepositories",
                  "path": "v2/{+connection}:fetchLinkableRepositories",
                  "id": "cloudbuild.projects.locations.connections.fetchLinkableRepositories",
                  "response": {
                    "$ref": "FetchLinkableRepositoriesResponse"
                  }
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "id": "cloudbuild.projects.locations.connections.getIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "path": "v2/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/connections",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "description": "Creates a Connection.",
                  "id": "cloudbuild.projects.locations.connections.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Connection"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the connection will be created. Format: `projects/*/locations/*`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "connectionId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Connection, which will become the final component of the Connection's resource name. Names must be unique per-project per-location. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                      "location": "query"
                    }
                  }
                }
              },
              "resources": {
                "repositories": {
                  "methods": {
                    "fetchGitRefs": {
                      "path": "v2/{+repository}:fetchGitRefs",
                      "parameters": {
                        "repository": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page start.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "type": "integer"
                        },
                        "refType": {
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ],
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "description": "Type of refs to fetch"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "repository"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:fetchGitRefs",
                      "id": "cloudbuild.projects.locations.connections.repositories.fetchGitRefs",
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      }
                    },
                    "batchCreate": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Creates multiple repositories inside a connection.",
                      "request": {
                        "$ref": "BatchCreateRepositoriesRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories:batchCreate",
                      "id": "cloudbuild.projects.locations.connections.repositories.batchCreate",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The connection to contain all the repositories being created. Format: projects/*/locations/*/connections/* The parent field in the CreateRepositoryRequest messages must either be empty or match this field."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/repositories:batchCreate"
                    },
                    "accessReadWriteToken": {
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "parameters": {
                        "repository": {
                          "type": "string",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadWriteToken",
                      "httpMethod": "POST",
                      "path": "v2/{+repository}:accessReadWriteToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadWriteToken",
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetches read/write token of a given repository."
                    },
                    "create": {
                      "path": "v2/{+parent}/repositories",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "request": {
                        "$ref": "Repository"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.create",
                      "description": "Creates a Repository.",
                      "parameters": {
                        "repositoryId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the Repository to retrieve. Format: `projects/*/locations/*/connections/*/repositories/*`."
                        }
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.get",
                      "path": "v2/{+name}",
                      "description": "Gets details of a single repository.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Repository"
                      }
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Number of results to return in the list."
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                          "type": "boolean"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent, which owns this collection of Repositories. Format: `projects/*/locations/*/connections/*`.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Page start.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "A filter expression that filters resources listed in the response. Expressions must follow API improvement proposal [AIP-160](https://google.aip.dev/160). e.g. `remote_uri:\"https://github.com*\"`.",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+parent}/repositories",
                      "description": "Lists Repositories in a given connection.",
                      "response": {
                        "$ref": "ListRepositoriesResponse"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "accessReadToken": {
                      "parameters": {
                        "repository": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "type": "string"
                        }
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadToken",
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetches read token of a given repository.",
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadToken",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+repository}:accessReadToken",
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      }
                    },
                    "delete": {
                      "path": "v2/{+name}",
                      "id": "cloudbuild.projects.locations.connections.repositories.delete",
                      "description": "Deletes a single repository.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "description": "The current etag of the repository. If an etag is provided and does not match the current etag of the repository, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the Repository to delete. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, validate the request, but do not actually post it."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.locations.get",
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbuild.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "title": "Cloud Build API",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "schemas": {
    "PropertySpec": {
      "properties": {
        "type": {
          "description": "A type for the object.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ]
        }
      },
      "description": "PropertySpec holds information about a property in an object.",
      "type": "object",
      "id": "PropertySpec"
    },
    "Security": {
      "description": "Security configuration.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "IAM service account whose credentials will be used at runtime."
        },
        "privilegeMode": {
          "type": "string",
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ],
          "deprecated": true,
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "description": "Optional. Privilege mode."
        }
      },
      "id": "Security"
    },
    "ChildStatusReference": {
      "id": "ChildStatusReference",
      "properties": {
        "whenExpressions": {
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask"
        },
        "pipelineTaskName": {
          "type": "string",
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing."
        },
        "name": {
          "description": "Name is the name of the TaskRun or Run this is referencing.",
          "type": "string"
        },
        "type": {
          "description": "Output only. Type of the child reference.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun."
    },
    "Param": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "value": {
          "$ref": "ParamValue",
          "description": "Value of the parameter."
        }
      },
      "id": "Param",
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "RunWorkflowCustomOperationMetadata": {
      "description": "Represents the custom metadata of the RunWorkflow long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "pipelineRunId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the pipeline run created by RunWorkflow."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "id": "RunWorkflowCustomOperationMetadata",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "type": "object",
      "description": "Message for response to listing Repositories.",
      "properties": {
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "The list of Repositories."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "TimeoutFields": {
      "type": "object",
      "properties": {
        "tasks": {
          "format": "google-duration",
          "type": "string",
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks"
        },
        "finally": {
          "format": "google-duration",
          "description": "Finally sets the maximum allowed duration of this pipeline's finally",
          "type": "string"
        },
        "pipeline": {
          "format": "google-duration",
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value.",
          "type": "string"
        }
      },
      "id": "TimeoutFields",
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts"
    },
    "GoogleDevtoolsCloudbuildV2Condition": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A human readable message indicating details about the transition.",
          "type": "string"
        },
        "type": {
          "description": "Type of condition.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ],
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ],
          "description": "Status of the condition.",
          "type": "string"
        },
        "reason": {
          "description": "The reason for the condition's last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "description": "Severity with which to treat failures of this type of condition.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ]
        }
      },
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "id": "GoogleDevtoolsCloudbuildV2Condition"
    },
    "EmptyDirVolumeSource": {
      "description": "Represents an empty Volume source.",
      "type": "object",
      "properties": {},
      "id": "EmptyDirVolumeSource"
    },
    "WorkspaceDeclaration": {
      "id": "WorkspaceDeclaration",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "properties": {
        "readOnly": {
          "type": "boolean",
          "description": "ReadOnly dictates whether a mounted volume is writable."
        },
        "name": {
          "description": "Name is the name by which you can bind the volume at runtime.",
          "type": "string"
        },
        "optional": {
          "type": "boolean",
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required."
        },
        "description": {
          "description": "Description is a human readable description of this volume.",
          "type": "string"
        },
        "mountPath": {
          "description": "MountPath overrides the directory that the volume will be made available at.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "Provenance": {
      "id": "Provenance",
      "properties": {
        "enabled": {
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ],
          "description": "Optional. Provenance push mode.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ],
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ],
          "description": "Optional. Provenance region."
        },
        "storage": {
          "type": "string",
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "description": "Optional. Where provenance is stored.",
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ]
        }
      },
      "description": "Provenance configuration.",
      "type": "object"
    },
    "FetchReadWriteTokenRequest": {
      "type": "object",
      "properties": {},
      "description": "Message for fetching SCM read/write token.",
      "id": "FetchReadWriteTokenRequest"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "FetchLinkableRepositoriesResponse": {
      "description": "Response message for FetchLinkableRepositories.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "repositories": {
          "description": "repositories ready to be created.",
          "items": {
            "$ref": "Repository"
          },
          "type": "array"
        }
      },
      "id": "FetchLinkableRepositoriesResponse"
    },
    "GitHubConfig": {
      "type": "object",
      "description": "Configuration for connections to github.com.",
      "id": "GitHubConfig",
      "properties": {
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "description": "Optional. GitHub App installation id.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "WorkspaceBinding": {
      "type": "object",
      "properties": {
        "subPath": {
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional",
          "type": "string"
        },
        "name": {
          "description": "Name of the workspace.",
          "type": "string"
        },
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        }
      },
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "id": "WorkspaceBinding"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AuditLogConfig"
    },
    "BatchCreateRepositoriesRequest": {
      "id": "BatchCreateRepositoriesRequest",
      "description": "Message for creating repositoritories in batch.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateRepositoryRequest"
          },
          "description": "Required. The request messages specifying the repositories to create."
        }
      }
    },
    "Repository": {
      "description": "A repository associated to a parent connection.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "readOnly": true,
          "type": "string"
        },
        "remoteUri": {
          "description": "Required. Git Clone HTTPS URI.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "webhookId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. External ID of the webhook created for the repository."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        }
      },
      "type": "object",
      "id": "Repository"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "ExecAction": {
      "properties": {
        "command": {
          "description": "Optional. Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ExecAction",
      "type": "object",
      "description": "ExecAction describes a \"run in container\" action."
    },
    "FetchReadTokenResponse": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token."
    },
    "UserCredential": {
      "properties": {
        "userTokenSecretVersion": {
          "type": "string",
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
        },
        "username": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The username associated to this token."
        }
      },
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "type": "object",
      "id": "UserCredential"
    },
    "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "properties": {
        "serverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GitHub Enterprise version installed at the host_uri."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "appId": {
          "format": "int64",
          "description": "Optional. Id of the GitHub App created from the manifest.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise."
        },
        "apiKey": {
          "description": "Required. API Key used for authentication of webhook events.",
          "type": "string"
        },
        "appInstallationId": {
          "format": "int64",
          "description": "Optional. ID of the installation of the GitHub App.",
          "type": "string"
        },
        "appSlug": {
          "type": "string",
          "description": "Optional. The URL-friendly name of the GitHub App."
        }
      },
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
    },
    "SecurityContext": {
      "type": "object",
      "description": "Security options the container should be run with.",
      "properties": {
        "privileged": {
          "type": "boolean",
          "description": "Run container in privileged mode."
        },
        "allowPrivilegeEscalation": {
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "boolean"
        },
        "runAsUser": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional"
        },
        "runAsNonRoot": {
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "runAsGroup": {
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "SecurityContext"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "WhenExpression": {
      "description": "Conditions that need to be true for the task to run.",
      "id": "WhenExpression",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values is an array of strings, which is compared against the input, for guard checking."
        },
        "expressionOperator": {
          "type": "string",
          "description": "Operator that represents an Input's relationship to the values",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ],
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "TaskResult": {
      "type": "object",
      "id": "TaskResult",
      "description": "TaskResult is used to describe the results of a task.",
      "properties": {
        "value": {
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result.",
          "$ref": "ParamValue"
        },
        "description": {
          "description": "Description of the result.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "The type of data that the result holds."
        },
        "properties": {
          "additionalProperties": {
            "$ref": "PropertySpec"
          },
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds.",
          "type": "object"
        },
        "name": {
          "description": "Name of the result.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "id": "GoogleDevtoolsCloudbuildV2OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        }
      }
    },
    "FetchReadTokenRequest": {
      "properties": {},
      "type": "object",
      "description": "Message for fetching SCM read token.",
      "id": "FetchReadTokenRequest"
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "properties": {
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      },
      "id": "FetchReadWriteTokenResponse",
      "description": "Message for responding to get read/write token."
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the `api` scope access."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "hostUri": {
          "type": "string",
          "description": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com."
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet."
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitLab Enterprise."
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access.",
          "$ref": "UserCredential"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig"
    },
    "ListConnectionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connections": {
          "description": "The list of Connections.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Connections.",
      "id": "ListConnectionsResponse",
      "type": "object"
    },
    "BitbucketDataCenterConfig": {
      "type": "object",
      "properties": {
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_READ` access."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_ADMIN` scope access."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center."
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for.",
          "type": "string"
        }
      },
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to Bitbucket Data Center."
    },
    "OAuthCredential": {
      "properties": {
        "username": {
          "readOnly": true,
          "description": "Output only. The username associated to this token.",
          "type": "string"
        },
        "oauthTokenSecretVersion": {
          "type": "string",
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
        }
      },
      "type": "object",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "id": "OAuthCredential"
    },
    "BatchCreateRepositoriesResponse": {
      "id": "BatchCreateRepositoriesResponse",
      "properties": {
        "repositories": {
          "description": "Repository resources created.",
          "items": {
            "$ref": "Repository"
          },
          "type": "array"
        }
      },
      "description": "Message for response of creating repositories in batch.",
      "type": "object"
    },
    "Sidecar": {
      "type": "object",
      "properties": {
        "args": {
          "description": "Arguments to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. Security options the container should be run with."
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "Docker image name."
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "name": {
          "description": "Name of the Sidecar.",
          "type": "string"
        },
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "env": {
          "type": "array",
          "description": "List of environment variables to set in the container.",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array."
        },
        "readinessProbe": {
          "$ref": "Probe",
          "description": "Optional. Periodic probe of Sidecar service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        }
      },
      "id": "Sidecar",
      "description": "Sidecars run alongside the Task's step containers."
    },
    "PipelineSpec": {
      "type": "object",
      "properties": {
        "generatedYaml": {
          "description": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows.",
          "readOnly": true,
          "type": "string"
        },
        "finallyTasks": {
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "tasks": {
          "type": "array",
          "description": "List of Tasks that execute when this Pipeline is run.",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "params": {
          "items": {
            "$ref": "ParamSpec"
          },
          "description": "List of parameters.",
          "type": "array"
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          },
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
        },
        "results": {
          "type": "array",
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "readOnly": true,
          "items": {
            "$ref": "PipelineResult"
          }
        }
      },
      "id": "PipelineSpec",
      "description": "PipelineSpec defines the desired state of Pipeline."
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "Step": {
      "type": "object",
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "id": "Step",
      "properties": {
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem."
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "onError": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "StopAndFail indicates exit if the step/task exits with non-zero exit code",
            "Continue indicates continue executing the rest of the steps/tasks irrespective of the exit code"
          ],
          "type": "string",
          "description": "Optional. OnError defines the exiting behavior on error can be set to [ continue | stopAndFail ]",
          "enum": [
            "ON_ERROR_TYPE_UNSPECIFIED",
            "STOP_AND_FAIL",
            "CONTINUE"
          ]
        },
        "env": {
          "type": "array",
          "description": "List of environment variables to set in the container.",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Optional. Optional parameters passed to the StepAction."
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arguments to the entrypoint."
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time after which the Step times out. Defaults to never.",
          "type": "string"
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "command": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Entrypoint array."
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        },
        "securityContext": {
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional",
          "$ref": "SecurityContext"
        },
        "ref": {
          "description": "Optional. Optional reference to a remote StepAction.",
          "$ref": "StepRef"
        }
      }
    },
    "InstallationState": {
      "properties": {
        "actionUri": {
          "type": "string",
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true
        },
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "description": "Output only. Current step of the installation process.",
          "readOnly": true,
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ]
        },
        "message": {
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "id": "InstallationState",
      "type": "object"
    },
    "Worker": {
      "type": "object",
      "description": "Configuration for the worker.",
      "properties": {
        "machineType": {
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\".",
          "type": "string"
        }
      },
      "id": "Worker"
    },
    "GoogleDevtoolsCloudbuildV2PipelineRun": {
      "description": "Message describing PipelineRun object",
      "type": "object",
      "properties": {
        "pipelineSpec": {
          "description": "PipelineSpec defines the desired state of Pipeline.",
          "$ref": "PipelineSpec"
        },
        "workspaces": {
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces.",
          "type": "array",
          "items": {
            "$ref": "WorkspaceBinding"
          }
        },
        "conditions": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV2Condition"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error."
        },
        "security": {
          "description": "Optional. Security configuration.",
          "$ref": "Security"
        },
        "childReferences": {
          "items": {
            "$ref": "ChildStatusReference"
          },
          "description": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun.",
          "readOnly": true,
          "type": "array"
        },
        "provenance": {
          "description": "Optional. Provenance configuration.",
          "$ref": "Provenance"
        },
        "timeouts": {
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline >= Timeouts.tasks + Timeouts.finally",
          "$ref": "TimeoutFields"
        },
        "name": {
          "description": "Output only. The `PipelineRun` name with format `projects/{project}/locations/{location}/pipelineRuns/{pipeline_run}`",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User annotations. See https://google.aip.dev/128#annotations"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
[...]
