{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260814",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "title": "Cloud Build API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "canonicalName": "Cloud Build",
  "id": "cloudbuild:v1",
  "name": "cloudbuild",
  "version": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "cloudbuild.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "cancel": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "pattern": "^operations/.*$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbuild.operations.cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST"
        }
      }
    },
    "locations": {
      "methods": {
        "regionalWebhook": {
          "request": {
            "$ref": "HttpBody"
          },
          "id": "cloudbuild.locations.regionalWebhook",
          "description": "ReceiveRegionalWebhook is called when the API receives a regional GitHub webhook.",
          "httpMethod": "POST",
          "flatPath": "v1/locations/{locationsId}/regionalWebhook",
          "path": "v1/{+location}/regionalWebhook",
          "parameters": {
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            },
            "location": {
              "description": "Required. The location where the webhook should be sent.",
              "pattern": "^locations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "location"
          ],
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "v1": {
      "methods": {
        "webhook": {
          "request": {
            "$ref": "HttpBody"
          },
          "id": "cloudbuild.webhook",
          "description": "ReceiveWebhook is called when the API receives a GitHub webhook.",
          "httpMethod": "POST",
          "flatPath": "v1/webhook",
          "path": "v1/webhook",
          "parameters": {
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "builds": {
          "methods": {
            "create": {
              "id": "cloudbuild.projects.builds.create",
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "request": {
                "$ref": "Build"
              },
              "flatPath": "v1/projects/{projectId}/builds",
              "path": "v1/projects/{projectId}/builds",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "parent": {
                  "location": "query",
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
              "id": "cloudbuild.projects.builds.cancel",
              "request": {
                "$ref": "CancelBuildRequest"
              },
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "location": "path",
                  "description": "Required. ID of the build.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Build"
              }
            },
            "retry": {
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "id": {
                  "description": "Required. Build ID of the original build.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "request": {
                "$ref": "RetryBuildRequest"
              },
              "id": "cloudbuild.projects.builds.retry",
              "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings."
            },
            "approve": {
              "request": {
                "$ref": "ApproveBuildRequest"
              },
              "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
              "id": "cloudbuild.projects.builds.approve",
              "httpMethod": "POST",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/projects/{projectsId}/builds/{buildsId}:approve",
              "parameters": {
                "name": {
                  "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                  "pattern": "^projects/[^/]+/builds/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Build"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                  "type": "string",
                  "location": "query"
                },
                "id": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the build.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "path": "v1/projects/{projectId}/builds/{id}",
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "httpMethod": "GET",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
              "id": "cloudbuild.projects.builds.get"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectId}/builds",
              "path": "v1/projects/{projectId}/builds",
              "id": "cloudbuild.projects.builds.list",
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The raw filter text to constrain the results.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Number of results to return in the list.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "projectId"
              ]
            }
          }
        },
        "githubEnterpriseConfigs": {
          "methods": {
            "create": {
              "parameters": {
                "gheConfigId": {
                  "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "pattern": "^projects/[^/]+$"
                },
                "projectId": {
                  "deprecated": true,
                  "description": "ID of the project.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Create an association between a GCP project and a GitHub Enterprise server.",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.create",
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "httpMethod": "POST"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "description": "ID of the project",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "configId": {
                  "deprecated": true,
                  "location": "query",
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "id": "cloudbuild.projects.githubEnterpriseConfigs.patch",
              "description": "Update an association between a GCP project and a GitHub Enterprise server.",
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$"
                },
                "projectId": {
                  "deprecated": true,
                  "location": "query",
                  "description": "ID of the project",
                  "type": "string"
                },
                "configId": {
                  "deprecated": true,
                  "location": "query",
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.get",
              "description": "Retrieve a GitHubEnterpriseConfig."
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "location": "query",
                  "description": "ID of the project",
                  "type": "string",
                  "deprecated": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListGithubEnterpriseConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.githubEnterpriseConfigs.list",
              "description": "List all GitHubEnterpriseConfigs for a given project.",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "httpMethod": "GET"
            }
          }
        },
        "triggers": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
              "id": "cloudbuild.projects.triggers.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "location": "path"
                },
                "triggerId": {
                  "required": true,
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ]
            },
            "webhook": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "request": {
                "$ref": "HttpBody"
              },
              "id": "cloudbuild.projects.triggers.webhook",
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "response": {
                "$ref": "ReceiveTriggerWebhookResponse"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "Project in which the specified trigger lives",
                  "type": "string",
                  "location": "path"
                },
                "trigger": {
                  "required": true,
                  "description": "Name of the trigger to run the payload against",
                  "type": "string",
                  "location": "path"
                },
                "secret": {
                  "location": "query",
                  "description": "Secret token used for authorization if an OAuth token isn't provided.",
                  "type": "string"
                },
                "name": {
                  "location": "query",
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId",
                "trigger"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "query",
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "location": "path"
                },
                "triggerId": {
                  "location": "path",
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.triggers.get",
              "description": "Returns information about a `BuildTrigger`.",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Number of results to return in the list.",
                  "type": "integer",
                  "format": "int32"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "query",
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1/projects/{projectId}/triggers",
              "flatPath": "v1/projects/{projectId}/triggers",
              "httpMethod": "GET",
              "description": "Lists existing `BuildTrigger`s.",
              "id": "cloudbuild.projects.triggers.list"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "required": true
                },
                "triggerId": {
                  "location": "path",
                  "description": "Required. ID of the `BuildTrigger` to update.",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "httpMethod": "PATCH",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "request": {
                "$ref": "BuildTrigger"
              },
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
              "id": "cloudbuild.projects.triggers.patch"
            },
            "create": {
              "description": "Creates a new `BuildTrigger`.",
              "id": "cloudbuild.projects.triggers.create",
              "request": {
                "$ref": "BuildTrigger"
              },
              "path": "v1/projects/{projectId}/triggers",
              "flatPath": "v1/projects/{projectId}/triggers",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "query",
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project for which to configure automatic builds.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "BuildTrigger"
              }
            },
            "run": {
              "httpMethod": "POST",
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "request": {
                "$ref": "RepoSource"
              },
              "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
              "id": "cloudbuild.projects.triggers.run",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string"
                },
                "triggerId": {
                  "description": "Required. ID of the trigger.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "getDefaultServiceAccount": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/defaultServiceAccount",
              "description": "Returns the `DefaultServiceAccount` used by the project.",
              "id": "cloudbuild.projects.locations.getDefaultServiceAccount",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "DefaultServiceAccount"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the `DefaultServiceAccount` to retrieve. Format: `projects/{project}/locations/{location}/defaultServiceAccount`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/defaultServiceAccount$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "githubEnterpriseConfigs": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "projectId": {
                      "description": "ID of the project.",
                      "type": "string",
                      "location": "query",
                      "deprecated": true
                    },
                    "gheConfigId": {
                      "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.create",
                  "description": "Create an association between a GCP project and a GitHub Enterprise server.",
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Update an association between a GCP project and a GitHub Enterprise server.",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.patch",
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.get",
                  "description": "Retrieve a GitHubEnterpriseConfig.",
                  "response": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "ID of the project",
                      "type": "string",
                      "location": "query",
                      "deprecated": true
                    },
                    "configId": {
                      "deprecated": true,
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "description": "List all GitHubEnterpriseConfigs for a given project.",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListGithubEnterpriseConfigsResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "ID of the project",
                      "type": "string",
                      "deprecated": true
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.delete",
                  "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "location": "path"
                    },
                    "projectId": {
                      "deprecated": true,
                      "location": "query",
                      "description": "ID of the project",
                      "type": "string"
                    },
                    "configId": {
                      "deprecated": true,
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "builds": {
              "methods": {
                "create": {
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Build"
                  },
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "id": "cloudbuild.projects.locations.builds.create",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/builds",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds"
                },
                "cancel": {
                  "response": {
                    "$ref": "Build"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
                  "request": {
                    "$ref": "CancelBuildRequest"
                  }
                },
                "retry": {
                  "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "request": {
                    "$ref": "RetryBuildRequest"
                  },
                  "path": "v1/{+name}:retry",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "approve": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:approve",
                  "path": "v1/{+name}:approve",
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.builds.approve",
                  "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
                  "request": {
                    "$ref": "ApproveBuildRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
                  "id": "cloudbuild.projects.locations.builds.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "type": "string",
                      "location": "query"
                    },
                    "id": {
                      "location": "query",
                      "description": "Required. ID of the build.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Build"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListBuildsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The raw filter text to constrain the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Number of results to return in the list.",
                      "type": "integer"
                    },
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "path": "v1/{+parent}/builds",
                  "id": "cloudbuild.projects.locations.builds.list",
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`."
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel"
                }
              }
            },
            "bitbucketServerConfigs": {
              "methods": {
                "delete": {
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.delete",
                  "description": "Delete a `BitbucketServerConfig`. This API is experimental.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The config resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "removeBitbucketServerConnectedRepository": {
                  "parameters": {
                    "config": {
                      "location": "path",
                      "description": "Required. The name of the `BitbucketServerConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "config"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Remove a Bitbucket Server repository from a given BitbucketServerConfig's connected repositories. This API is experimental.",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.removeBitbucketServerConnectedRepository",
                  "request": {
                    "$ref": "RemoveBitbucketServerConnectedRepositoryRequest"
                  },
                  "path": "v1/{+config}:removeBitbucketServerConnectedRepository",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}:removeBitbucketServerConnectedRepository",
                  "httpMethod": "POST"
                },
                "patch": {
                  "description": "Updates an existing `BitbucketServerConfig`. This API is experimental.",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.patch",
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name for the config.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "httpMethod": "GET",
                  "description": "Retrieve a `BitbucketServerConfig`. This API is experimental.",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The config resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListBitbucketServerConfigsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBitbucketServerConfigsResponse"
                  },
                  "description": "List all `BitbucketServerConfigs` for a given project. This API is experimental.",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "bitbucketServerConfigId": {
                      "description": "Optional. The ID to use for the BitbucketServerConfig, which will become the final component of the BitbucketServerConfig's resource name. bitbucket_server_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "description": "Creates a new `BitbucketServerConfig`. This API is experimental.",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.create"
                }
              },
              "resources": {
                "repos": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of configs to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. Name of the parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListBitbucketServerRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListBitbucketServerRepositoriesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.repos.list",
                      "description": "List all repositories for a given `BitbucketServerConfig`. This API is experimental.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/repos",
                      "path": "v1/{+parent}/repos",
                      "httpMethod": "GET"
                    }
                  }
                },
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/connectedRepositories:batchCreate",
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "request": {
                        "$ref": "BatchCreateBitbucketServerConnectedRepositoriesRequest"
                      },
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.connectedRepositories.batchCreate",
                      "description": "Batch connecting Bitbucket Server repositories to Cloud Build."
                    }
                  }
                }
              }
            },
            "workerPools": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "WorkerPool"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "httpMethod": "GET",
                  "description": "Returns details of a `WorkerPool`.",
                  "id": "cloudbuild.projects.locations.workerPools.get"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. A mask specifying which fields in `worker_pool` to update.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a `WorkerPool`.",
                  "id": "cloudbuild.projects.locations.workerPools.patch",
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "response": {
                    "$ref": "ListWorkerPoolsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default.",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "path": "v1/{+parent}/workerPools",
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "description": "Lists `WorkerPool`s."
                },
                "delete": {
                  "description": "Deletes a `WorkerPool`.",
                  "id": "cloudbuild.projects.locations.workerPools.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "parameters": {
                    "etag": {
                      "description": "Optional. If provided, it must match the server's etag on the workerpool for the request to be processed.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "workerPoolId": {
                      "location": "query",
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a `WorkerPool`.",
                  "id": "cloudbuild.projects.locations.workerPools.create",
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "path": "v1/{+parent}/workerPools",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "httpMethod": "POST"
                }
              }
            },
            "triggers": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "projectId": {
                      "description": "Required. ID of the project for which to configure automatic builds.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "description": "Creates a new `BuildTrigger`.",
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "path": "v1/{+parent}/triggers",
                  "httpMethod": "POST"
                },
                "run": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:run",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "request": {
                    "$ref": "RunBuildTriggerRequest"
                  },
                  "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
                  "id": "cloudbuild.projects.locations.triggers.run"
                },
                "delete": {
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string"
                    },
                    "triggerId": {
                      "description": "Required. ID of the `BuildTrigger` to delete.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "httpMethod": "DELETE"
                },
                "webhook": {
                  "parameters": {
                    "projectId": {
                      "description": "Project in which the specified trigger lives",
                      "type": "string",
                      "location": "query"
                    },
                    "trigger": {
                      "description": "Name of the trigger to run the payload against",
                      "type": "string",
                      "location": "query"
                    },
                    "secret": {
                      "location": "query",
                      "description": "Secret token used for authorization if an OAuth token isn't provided.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ReceiveTriggerWebhookResponse"
                  },
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "path": "v1/{+name}:webhook",
                  "httpMethod": "POST"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "description": "Returns information about a `BuildTrigger`.",
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string"
                    },
                    "triggerId": {
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Number of results to return in the list.",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "projectId": {
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBuildTriggersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.list",
                  "description": "Lists existing `BuildTrigger`s.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "path": "v1/{+parent}/triggers",
                  "httpMethod": "GET"
                },
                "patch": {
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. ID of the `BuildTrigger` to update.",
                      "type": "string"
                    },
                    "resourceName": {
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "path": "v1/{+resourceName}",
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID."
                }
              }
            }
          }
        }
      }
    },
    "githubDotComWebhook": {
      "methods": {
        "receive": {
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "v1/githubDotComWebhook:receive",
          "flatPath": "v1/githubDotComWebhook:receive",
          "httpMethod": "POST",
          "description": "ReceiveGitHubDotComWebhook is called when the API receives a github.com webhook.",
          "id": "cloudbuild.githubDotComWebhook.receive",
          "request": {
            "$ref": "HttpBody"
          }
        }
      }
    }
  },
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
[...]
