{
  "basePath": "",
  "servicePath": "",
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry. ",
  "ownerDomain": "google.com",
  "id": "cloudtrace:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "traces": {
          "methods": {
            "batchWrite": {
              "parameterOrder": [
                "name"
              ],
              "description": "Batch writes new spans to new or existing traces. You cannot update existing spans. If a span ID already exists, an additional copy of the span will be stored.",
              "request": {
                "$ref": "BatchWriteSpansRequest"
              },
              "path": "v2/{+name}/traces:batchWrite",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.append"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project where the spans belong. The format is `projects/[PROJECT_ID]`."
                }
              },
              "flatPath": "v2/projects/{projectsId}/traces:batchWrite",
              "httpMethod": "POST",
              "id": "cloudtrace.projects.traces.batchWrite"
            }
          },
          "resources": {
            "spans": {
              "methods": {
                "createSpan": {
                  "flatPath": "v2/projects/{projectsId}/traces/{tracesId}/spans/{spansId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. .",
                      "type": "string",
                      "pattern": "^projects/[^/]+/traces/[^/]+/spans/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/trace.append"
                  ],
                  "description": "Creates a new span. If a span ID already exists, an additional copy of the span will be stored.",
                  "id": "cloudtrace.projects.traces.spans.createSpan",
                  "response": {
                    "$ref": "Span"
                  },
                  "request": {
                    "$ref": "Span"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "version": "v2",
  "documentationLink": "https://cloud.google.com/trace/",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "revision": "20260828",
  "schemas": {
    "Links": {
      "id": "Links",
      "type": "object",
      "properties": {
        "droppedLinksCount": {
          "type": "integer",
          "description": "Optional. The number of dropped links after the maximum size was enforced. If this value is 0, then no links were dropped.",
          "format": "int32"
        },
        "link": {
          "description": "Optional. A collection of links.",
          "type": "array",
          "items": {
            "$ref": "Link"
          }
        }
      },
      "description": "A collection of links, which are references from this span to a span in the same or different trace."
    },
    "Module": {
      "description": "Binary module.",
      "properties": {
        "module": {
          "description": "Optional. For example: main binary, kernel modules, and dynamic libraries such as libc.so, sharedlib.so (up to 256 bytes).",
          "$ref": "TruncatableString"
        },
        "buildId": {
          "description": "Optional. A unique identifier for the module, usually a hash of its contents (up to 128 bytes).",
          "$ref": "TruncatableString"
        }
      },
      "id": "Module",
      "type": "object"
    },
    "TimeEvents": {
      "type": "object",
      "description": "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation on the span, consisting of either user-supplied key:value pairs, or details of a message sent/received between Spans.",
      "properties": {
        "droppedMessageEventsCount": {
          "description": "Optional. The number of dropped message events in all the included time events. If the value is 0, then no message events were dropped.",
          "format": "int32",
          "type": "integer"
        },
        "droppedAnnotationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of dropped annotations in all the included time events. If the value is 0, then no annotations were dropped."
        },
        "timeEvent": {
          "description": "Optional. A collection of `TimeEvent`s.",
          "items": {
            "$ref": "TimeEvent"
          },
          "type": "array"
        }
      },
      "id": "TimeEvents"
    },
    "TimeEvent": {
      "description": "A time-stamped annotation or message event in the Span.",
      "id": "TimeEvent",
      "type": "object",
      "properties": {
        "time": {
          "description": "Optional. The timestamp indicating the time the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "annotation": {
          "description": "Text annotation with a set of attributes.",
          "$ref": "Annotation"
        },
        "messageEvent": {
          "$ref": "MessageEvent",
          "description": "An event describing a message sent/received between Spans."
        }
      }
    },
    "StackFrames": {
      "description": "A collection of stack frames, which can be truncated.",
      "properties": {
        "droppedFramesCount": {
          "type": "integer",
          "description": "Optional. The number of stack frames that were dropped because there were too many stack frames. If this value is 0, then no stack frames were dropped.",
          "format": "int32"
        },
        "frame": {
          "description": "Optional. Stack frames in this call stack.",
          "type": "array",
          "items": {
            "$ref": "StackFrame"
          }
        }
      },
      "type": "object",
      "id": "StackFrames"
    },
    "BatchWriteSpansRequest": {
      "properties": {
        "spans": {
          "type": "array",
          "items": {
            "$ref": "Span"
          },
          "description": "Required. A list of new spans. The span names must not match existing spans, otherwise the results are undefined."
        }
      },
      "type": "object",
      "description": "The request message for the `BatchWriteSpans` method.",
      "id": "BatchWriteSpansRequest"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "TruncatableString": {
      "id": "TruncatableString",
      "description": "Represents a string that might be shortened to a specified length.",
      "properties": {
        "truncatedByteCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of bytes removed from the original string. If this value is 0, then the string was not shortened."
        },
        "value": {
          "description": "Optional. The shortened string. For example, if the original string is 500 bytes long and the limit of the string is 128 bytes, then `value` contains the first 128 bytes of the 500-byte string. Truncation always happens on a UTF8 character boundary. If there are multi-byte characters in the string, then the length of the shortened string might be less than the size limit.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttributeValue": {
      "type": "object",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Optional. A Boolean value represented by `true` or `false`."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Optional. A 64-bit signed integer."
        },
        "stringValue": {
          "description": "Optional. A string up to 256 bytes long.",
          "$ref": "TruncatableString"
        }
      },
      "description": "The allowed types for `[VALUE]` in a `[KEY]:[VALUE]` attribute.",
      "id": "AttributeValue"
    },
    "Link": {
      "description": "A pointer from the current span to another span in the same trace or in a different trace. For example, this can be used in batching operations, where a single batch handler processes multiple requests from different traces or when the handler receives a request from a different project.",
      "type": "object",
      "id": "Link",
      "properties": {
        "traceId": {
          "description": "Optional. The `[TRACE_ID]` for a trace within a project.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The relationship of the current span relative to the linked span.",
          "enumDescriptions": [
            "The relationship of the two spans is unknown.",
            "The linked span is a child of the current span.",
            "The linked span is a parent of the current span."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CHILD_LINKED_SPAN",
            "PARENT_LINKED_SPAN"
          ]
        },
        "attributes": {
          "description": "Optional. A set of attributes on the link. Up to 32 attributes can be specified per link.",
          "$ref": "Attributes"
        },
        "spanId": {
          "description": "Optional. The `[SPAN_ID]` for a span within a trace.",
          "type": "string"
        }
      }
    },
    "MessageEvent": {
      "id": "MessageEvent",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown event type.",
            "Indicates a sent message.",
            "Indicates a received message."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SENT",
            "RECEIVED"
          ],
          "description": "Optional. Type of MessageEvent. Indicates whether the message was sent or received."
        },
        "uncompressedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of uncompressed bytes sent or received."
        },
        "compressedSizeBytes": {
          "type": "string",
          "description": "Optional. The number of compressed bytes sent or received. If missing, the compressed size is assumed to be the same size as the uncompressed size.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "Optional. An identifier for the MessageEvent's message that can be used to match `SENT` and `RECEIVED` MessageEvents.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "An event describing a message sent/received between Spans."
    },
    "Attributes": {
      "description": "A set of attributes as key-value pairs.",
      "properties": {
        "attributeMap": {
          "description": "Optional. A set of attributes. Each attribute's key can be up to 128 bytes long. The value can be a string up to 256 bytes, a signed 64-bit integer, or the boolean values `true` or `false`. For example: \"/instance_id\": { \"string_value\": { \"value\": \"my-instance\" } } \"/http/request_bytes\": { \"int_value\": 300 } \"example.com/myattribute\": { \"bool_value\": false }",
          "additionalProperties": {
            "$ref": "AttributeValue"
          },
          "type": "object"
        },
        "droppedAttributesCount": {
          "description": "Optional. The number of attributes that were discarded. Attributes can be discarded because their keys are too long or because there are too many attributes. If this value is 0 then all attributes are valid.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Attributes"
    },
    "StackTrace": {
      "properties": {
        "stackFrames": {
          "description": "Optional. Stack frames in this stack trace. A maximum of 128 frames are allowed.",
          "$ref": "StackFrames"
        },
        "stackTraceHashId": {
          "description": "Optional. The hash ID is used to conserve network bandwidth for duplicate stack traces within a single trace. Often multiple spans will have identical stack traces. The first occurrence of a stack trace should contain both the `stackFrame` content and a value in `stackTraceHashId`. Subsequent spans within the same request can refer to that stack trace by only setting `stackTraceHashId`.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "StackTrace",
      "description": "A call stack appearing in a trace.",
      "type": "object"
    },
    "Annotation": {
      "properties": {
        "description": {
          "description": "Optional. A user-supplied message describing the event. The maximum length for the description is 256 bytes.",
          "$ref": "TruncatableString"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. A set of attributes on the annotation. You can have up to 4 attributes per Annotation."
        }
      },
      "id": "Annotation",
      "description": "Text annotation with a set of attributes.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Span": {
      "type": "object",
      "description": "A span represents a single operation within a trace. Spans can be nested to form a trace tree. Often, a trace contains a root span that describes the end-to-end latency, and one or more subspans for its sub-operations. A trace can also contain multiple root spans, or none at all. Spans do not need to be contiguous. There might be gaps or overlaps between spans in a trace.",
      "id": "Span",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The start time of the span. On the client side, this is the time kept by the local machine where the span execution starts. On the server side, this is the time when the server's application handler starts running.",
          "format": "google-datetime"
        },
        "spanKind": {
          "description": "Optional. Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call.",
          "enumDescriptions": [
            "Unspecified. Do NOT use as default. Implementations MAY assume SpanKind.INTERNAL to be default.",
            "Indicates that the span is used internally. Default value.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request.",
            "Indicates that the span describes producer sending a message to a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. publishing a message to a pubsub service).",
            "Indicates that the span describes consumer receiving a message from a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. receiving a message from a pubsub service subscription)."
          ],
          "type": "string",
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "INTERNAL",
            "SERVER",
            "CLIENT",
            "PRODUCER",
            "CONSUMER"
          ]
        },
        "stackTrace": {
          "description": "Optional. Stack trace captured at the start of the span.",
          "$ref": "StackTrace"
        },
        "endTime": {
          "description": "Required. The end time of the span. On the client side, this is the time kept by the local machine where the span execution ends. On the server side, this is the time when the server application handler stops running.",
          "type": "string",
          "format": "google-datetime"
        },
        "links": {
          "description": "Optional. Links associated with the span. You can have up to 128 links per Span.",
          "$ref": "Links"
        },
        "spanId": {
          "type": "string",
          "description": "Required. The `[SPAN_ID]` portion of the span's resource name."
        },
        "status": {
          "$ref": "Status",
          "description": "Optional. The final status for this span."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. ."
        },
        "timeEvents": {
          "$ref": "TimeEvents",
          "description": "Optional. A set of time events. You can have up to 32 annotations and 128 message events per span."
        },
        "displayName": {
          "description": "Required. A description of the span's operation (up to 128 bytes). Cloud Trace displays the description in the Cloud console. For example, the display name can be a qualified method name or a file name and a line number where the operation is called. A best practice is to use the same display name within an application and at the same call point. This makes it easier to correlate spans in different traces.",
          "$ref": "TruncatableString"
        },
        "parentSpanId": {
          "type": "string",
          "description": "Optional. The `[SPAN_ID]` of this span's parent span. If this is a root span, then this field must be empty."
        },
        "sameProcessAsParentSpan": {
          "type": "boolean",
          "description": "Optional. Set this parameter to indicate whether this span is in the same process as its parent. If you do not set this parameter, Trace is unable to take advantage of this helpful information."
        },
        "childSpanCount": {
          "description": "Optional. The number of child spans that were generated while this span was active. If set, allows implementation to detect missing child spans.",
          "format": "int32",
          "type": "integer"
        },
        "attributes": {
          "description": "Optional. A set of attributes on the span. You can have up to 32 attributes per span.",
          "$ref": "Attributes"
        }
      }
    },
    "StackFrame": {
      "properties": {
        "fileName": {
          "$ref": "TruncatableString",
          "description": "Optional. The name of the source file where the function call appears (up to 256 bytes)."
        },
        "loadModule": {
          "description": "Optional. The binary module from where the code was loaded.",
          "$ref": "Module"
        },
        "functionName": {
          "$ref": "TruncatableString",
          "description": "Optional. The fully-qualified name that uniquely identifies the function or method that is active in this frame (up to 1024 bytes)."
        },
        "columnNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The column number where the function call appears, if available. This is important in JavaScript because of its anonymous functions."
        },
        "lineNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The line number in `file_name` where the function call appears."
        },
        "originalFunctionName": {
          "$ref": "TruncatableString",
          "description": "Optional. An un-mangled function name, if `function_name` is mangled. To get information about name mangling, run [this search](https://www.google.com/search?q=cxx+name+mangling). The name can be fully-qualified (up to 1024 bytes)."
        },
        "sourceVersion": {
          "$ref": "TruncatableString",
          "description": "Optional. The version of the deployed source code (up to 128 bytes)."
        }
      },
      "description": "Represents a single stack frame in a stack trace.",
      "id": "StackFrame",
      "type": "object"
    }
  },
  "name": "cloudtrace",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://cloudtrace.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://cloudtrace.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://cloudtrace.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://cloudtrace.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://cloudtrace.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://cloudtrace.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://cloudtrace.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudtrace.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://cloudtrace.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://cloudtrace.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://cloudtrace.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://cloudtrace.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://cloudtrace.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://cloudtrace.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://cloudtrace.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://cloudtrace.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://cloudtrace.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://cloudtrace.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://cloudtrace.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://cloudtrace.eu.rep.googleapis.com/"
    }
  ],
  "title": "Cloud Trace API",
  "canonicalName": "Cloud Trace",
  "protocol": "rest"
}