{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://clouddeploy.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://clouddeploy.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://clouddeploy.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouddeploy.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://clouddeploy.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://clouddeploy.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://clouddeploy.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouddeploy.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouddeploy.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouddeploy.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://clouddeploy.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Deploy API",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/deploy/",
  "basePath": "",
  "canonicalName": "Cloud Deploy",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "name": "clouddeploy",
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "schemas": {
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "Postdeploy": {
      "type": "object",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the postdeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified."
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the postdeploy job."
        }
      },
      "id": "Postdeploy",
      "description": "Postdeploy contains the postdeploy job configuration information."
    },
    "ServiceNetworking": {
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service."
        },
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "podSelectorLabel": {
          "description": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment.",
          "type": "string"
        },
        "disablePodOverprovisioning": {
          "type": "boolean",
          "description": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster."
        }
      },
      "id": "ServiceNetworking",
      "description": "Information about the Kubernetes Service networking configuration.",
      "type": "object"
    },
    "CancelAutomationRunRequest": {
      "id": "CancelAutomationRunRequest",
      "type": "object",
      "properties": {},
      "description": "The request object used by `CancelAutomationRun`."
    },
    "RetryJobRequest": {
      "type": "object",
      "id": "RetryJobRequest",
      "description": "RetryJobRequest is the request object used by `RetryJob`.",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to retry belongs to.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          }
        },
        "jobId": {
          "description": "Required. The job ID for the Job to retry.",
          "type": "string"
        }
      }
    },
    "TimeWindows": {
      "type": "object",
      "id": "TimeWindows",
      "description": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times.",
      "properties": {
        "timeZone": {
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York).",
          "type": "string"
        },
        "weeklyWindows": {
          "description": "Optional. Recurring weekly windows within which actions are restricted.",
          "items": {
            "$ref": "WeeklyWindow"
          },
          "type": "array"
        },
        "oneTimeWindows": {
          "items": {
            "$ref": "OneTimeWindow"
          },
          "type": "array",
          "description": "Optional. One-time windows within which actions are restricted."
        }
      }
    },
    "RuntimeConfig": {
      "properties": {
        "cloudRun": {
          "description": "Optional. Cloud Run runtime configuration.",
          "$ref": "CloudRunConfig"
        },
        "kubernetes": {
          "$ref": "KubernetesConfig",
          "description": "Optional. Kubernetes runtime configuration."
        }
      },
      "id": "RuntimeConfig",
      "type": "object",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy."
    },
    "Standard": {
      "id": "Standard",
      "description": "Standard represents the standard deployment strategy.",
      "properties": {
        "analysis": {
          "description": "Optional. Configuration for the analysis job. If this is not configured, the analysis job will not be present.",
          "$ref": "Analysis"
        },
        "verifyConfig": {
          "$ref": "Verify",
          "description": "Optional. Configuration for the verify job. Cannot be set if `verify` is set to true."
        },
        "postdeploy": {
          "description": "Optional. Configuration for the postdeploy job. If this is not configured, the postdeploy job will not be present.",
          "$ref": "Postdeploy"
        },
        "predeploy": {
          "description": "Optional. Configuration for the predeploy job. If this is not configured, the predeploy job will not be present.",
          "$ref": "Predeploy"
        },
        "verify": {
          "description": "Optional. Whether to verify a deployment via `skaffold verify`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Release": {
      "description": "A `Release` resource in the Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "type": "object",
      "properties": {
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for all targets in this release.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "skaffoldConfigPath": {
          "description": "Optional. Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "toolVersions": {
          "description": "Optional. The tool versions to use for this release and all subsequent operations involving this release. If unset, tool versions are frozen when the release is created.",
          "$ref": "ToolVersions"
        },
        "renderState": {
          "type": "string",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "description": "Output only. Current state of the render operation.",
          "readOnly": true
        },
        "customTargetTypeSnapshots": {
          "items": {
            "$ref": "CustomTargetType"
          },
          "type": "array",
          "description": "Output only. Snapshot of the custom target types referenced by the targets taken at release creation time.",
          "readOnly": true
        },
        "skaffoldConfigUri": {
          "type": "string",
          "description": "Optional. Cloud Storage URI of tar.gz archive containing Skaffold configuration."
        },
        "abandoned": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this is an abandoned release."
        },
        "renderStartTime": {
          "description": "Output only. Time at which the render began.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "renderEndTime": {
          "description": "Output only. Time at which the render completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "targetArtifacts": {
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TargetArtifact"
          }
        },
        "skaffoldVersion": {
          "description": "Optional. The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "buildArtifacts": {
          "description": "Optional. List of artifacts to pass through to Skaffold command.",
          "type": "array",
          "items": {
            "$ref": "BuildArtifact"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the `Release` was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "deliveryPipelineSnapshot": {
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time.",
          "$ref": "DeliveryPipeline",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Release`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}`. The `release` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Release`.",
          "type": "string",
          "readOnly": true
        },
        "targetRenders": {
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "additionalProperties": {
            "$ref": "TargetRender"
          },
          "type": "object",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Release`. Max length is 255 characters."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "targetSnapshots": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "readOnly": true
        },
        "condition": {
          "description": "Output only. Information around the state of the Release.",
          "$ref": "ReleaseCondition",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Release"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        }
      },
      "id": "TimeOfDay"
    },
    "AutomationResourceSelector": {
      "properties": {
        "targets": {
          "type": "array",
          "description": "Optional. Contains attributes about a target.",
          "items": {
            "$ref": "TargetAttribute"
          }
        }
      },
      "description": "AutomationResourceSelector contains the information to select the resources to which an Automation is going to be applied.",
      "id": "AutomationResourceSelector",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "AlertPolicyCheckStatus": {
      "description": "AlertPolicyCheckStatus contains information specific to a single run of an alert policy check.",
      "id": "AlertPolicyCheckStatus",
      "properties": {
        "labels": {
          "description": "Output only. The resolved labels used to filter for specific incidents.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of this analysis.",
          "type": "string"
        },
        "alertPolicies": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The alert policies that this analysis monitors. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "readOnly": true,
          "type": "array"
        },
        "failedAlertPolicies": {
          "items": {
            "$ref": "FailedAlertPolicy"
          },
          "description": "Output only. The alert policies that were found to be firing during this check. This will be empty if no incidents were found.",
          "type": "array",
          "readOnly": true
        },
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the alert policy check failure, if available. This will be empty if the alert policy check succeeded."
        }
      },
      "type": "object"
    },
    "CreateChildRolloutJob": {
      "properties": {},
      "type": "object",
      "id": "CreateChildRolloutJob",
      "description": "A createChildRollout Job."
    },
    "CustomTarget": {
      "description": "Information specifying a Custom Target.",
      "id": "CustomTarget",
      "type": "object",
      "properties": {
        "customTargetType": {
          "description": "Required. The name of the CustomTargetType. Format must be `projects/{project}/locations/{location}/customTargetTypes/{custom_target_type}`.",
          "type": "string"
        }
      }
    },
    "RepairRolloutOperation": {
      "description": "Contains the information for an automated `repair rollout` operation.",
      "properties": {
        "repairPhases": {
          "description": "Output only. Records of the repair attempts. Each repair phase may have multiple retry attempts or single rollback attempt.",
          "readOnly": true,
          "items": {
            "$ref": "RepairPhase"
          },
          "type": "array"
        },
        "currentRepairPhaseIndex": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The index of the current repair action in the repair sequence.",
          "readOnly": true
        },
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Output only. The job ID for the Job to repair.",
          "readOnly": true
        },
        "phaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The phase ID of the phase that includes the job being repaired."
        }
      },
      "type": "object",
      "id": "RepairRolloutOperation"
    },
    "VerifyJobRun": {
      "id": "VerifyJobRun",
      "properties": {
        "build": {
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true
        },
        "failureCause": {
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify job run did not complete within the allotted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "readOnly": true
        },
        "eventLogPath": {
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "type": "string",
          "readOnly": true
        },
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the verify failure, if available."
        },
        "artifactUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log."
        },
        "metadata": {
          "$ref": "VerifyJobRunMetadata",
          "readOnly": true,
          "description": "Output only. Metadata containing information about the verify `JobRun`."
        }
      },
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "type": "object"
    },
    "DeliveryPipelineNotificationEvent": {
      "properties": {
        "deliveryPipeline": {
          "description": "The name of the `Delivery Pipeline`.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string"
        }
      },
      "id": "DeliveryPipelineNotificationEvent",
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification."
    },
    "ReleaseRenderEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change.",
      "id": "ReleaseRenderEvent",
      "type": "object",
      "properties": {
        "release": {
          "type": "string",
          "description": "The name of the release. release_uid is not in this log message because we write some of these log messages at release creation time, before we've generated the uid."
        },
        "type": {
          "description": "Type of this notification, e.g. for a release render state change event.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "releaseRenderState": {
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "description": "The state of the release render.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states."
        }
      }
    },
    "CancelRolloutResponse": {
      "properties": {},
      "id": "CancelRolloutResponse",
      "type": "object",
      "description": "The response object from `CancelRollout`."
    },
    "Retry": {
      "properties": {
        "wait": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. How long to wait for the first retry. Default is 0, and the maximum value is 14d."
        },
        "attempts": {
          "format": "int64",
          "type": "string",
          "description": "Required. Total number of retries. Retry is skipped if set to 0; The minimum value is 1, and the maximum value is 10."
        },
        "backoffMode": {
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ],
          "description": "Optional. The pattern of how wait time will be increased. Default is linear. Backoff mode will be ignored if `wait` is 0."
        }
      },
      "type": "object",
      "description": "Retries the failed job.",
      "id": "Retry"
    },
    "PromoteReleaseOperation": {
      "type": "object",
      "description": "Contains the information of an automated promote-release operation.",
      "properties": {
        "phase": {
          "readOnly": true,
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "type": "string"
        },
        "targetId": {
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "type": "string",
          "readOnly": true
        },
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "type": "string",
          "readOnly": true
        },
        "wait": {
          "description": "Output only. How long the operation will be paused.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        }
      },
      "id": "PromoteReleaseOperation"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "Task": {
      "description": "A Task represents a unit of work that is executed as part of a Job.",
      "id": "Task",
      "type": "object",
      "properties": {
        "container": {
          "description": "Optional. This task is represented by a container that is executed in the Cloud Build execution environment.",
          "$ref": "ContainerTask"
        }
      }
    },
    "GatewayServiceMesh": {
      "description": "Information about the Kubernetes Gateway API service mesh configuration.",
      "id": "GatewayServiceMesh",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "stableCutbackDuration": {
          "description": "Optional. The amount of time to migrate traffic back from the canary Service to the original Service during the stable phase deployment. If specified, must be between 15s and 3600s. If unspecified, there is no cutback time.",
          "format": "google-duration",
          "type": "string"
        },
        "podSelectorLabel": {
          "description": "Optional. The label to use when selecting Pods for the Deployment and Service resources. This label must already be present in both resources.",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified HTTPRoute and Service."
        },
        "routeDestinations": {
          "description": "Optional. Route destinations allow configuring the Gateway API HTTPRoute to be deployed to additional clusters. This option is available for multi-cluster service mesh set ups that require the route to exist in the clusters that call the service. If unspecified, the HTTPRoute will only be deployed to the Target cluster.",
          "$ref": "RouteDestinations"
        },
        "routeUpdateWaitTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The time to wait for route updates to propagate. The maximum configurable time is 3 hours, in seconds format. If unspecified, there is no wait time."
        },
        "httpRoute": {
          "description": "Required. Name of the Gateway API HTTPRoute.",
          "type": "string"
        }
      }
    },
    "IgnoreJobResponse": {
      "properties": {},
      "id": "IgnoreJobResponse",
      "type": "object",
      "description": "The response object from `IgnoreJob`."
    },
    "GkeCluster": {
      "type": "object",
      "description": "Information specifying a GKE Cluster.",
      "id": "GkeCluster",
      "properties": {
        "cluster": {
          "description": "Optional. Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`.",
          "type": "string"
        },
        "proxyUrl": {
          "description": "Optional. If set, used to configure a [proxy](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#proxy) to the Kubernetes server.",
          "type": "string"
        },
        "dnsEndpoint": {
          "type": "boolean",
          "description": "Optional. If set, the cluster will be accessed using the DNS endpoint. Note that both `dns_endpoint` and `internal_ip` cannot be set to true."
        },
        "internalIp": {
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept). Note that `internal_ip` and `dns_endpoint` cannot both be set to true.",
          "type": "boolean"
        }
      }
    },
    "RetryPhase": {
      "type": "object",
      "description": "RetryPhase contains the retry attempts and the metadata for initiating a new attempt.",
      "properties": {
        "totalAttempts": {
          "type": "string",
          "description": "Output only. The number of attempts that have been made.",
          "format": "int64",
          "readOnly": true
        },
        "attempts": {
          "type": "array",
          "description": "Output only. Detail of a retry action.",
          "items": {
            "$ref": "RetryAttempt"
          },
          "readOnly": true
        },
        "backoffMode": {
          "description": "Output only. The pattern of how the wait time of the retry attempt is calculated.",
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ]
        }
      },
      "id": "RetryPhase"
    },
    "SkaffoldGitSource": {
      "description": "Git repository containing Skaffold Config modules.",
      "properties": {
        "repo": {
          "description": "Required. Git repository the package should be cloned from.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Optional. Relative path from the repository root to the Skaffold file."
        },
        "ref": {
          "description": "Optional. Git branch or tag to use when cloning the repository.",
          "type": "string"
        }
      },
      "id": "SkaffoldGitSource",
      "type": "object"
    },
    "KubernetesConfig": {
      "id": "KubernetesConfig",
      "description": "KubernetesConfig contains the Kubernetes runtime configuration.",
      "properties": {
        "serviceNetworking": {
          "description": "Optional. Kubernetes Service networking configuration.",
          "$ref": "ServiceNetworking"
        },
        "gatewayServiceMesh": {
          "description": "Optional. Kubernetes Gateway API service mesh configuration.",
          "$ref": "GatewayServiceMesh"
        }
      },
      "type": "object"
    },
    "ExecutionConfig": {
      "type": "object",
      "properties": {
        "defaultPool": {
          "description": "Optional. Use default Cloud Build pool.",
          "$ref": "DefaultPool"
        },
        "verbose": {
          "description": "Optional. If true, additional logging will be enabled when running builds in this execution environment.",
          "type": "boolean"
        },
        "privatePool": {
          "$ref": "PrivatePool",
          "description": "Optional. Use private Cloud Build pool."
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location in which to store execution outputs. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        },
        "workerPool": {
          "description": "Optional. The resource name of the `WorkerPool`, with the format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. If this optional field is unspecified, the default Cloud Build pool will be used.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) is used.",
          "type": "string"
        },
        "usages": {
          "items": {
            "enum": [
              "EXECUTION_ENVIRONMENT_USAGE_UNSPECIFIED",
              "RENDER",
              "DEPLOY",
              "VERIFY",
              "PREDEPLOY",
              "POSTDEPLOY",
              "ANALYSIS"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Use for rendering.",
              "Use for deploying and deployment hooks.",
              "Use for deployment verification.",
              "Use for predeploy job execution.",
              "Use for postdeploy job execution.",
              "Use for analysis job execution."
            ],
            "type": "string"
          },
          "description": "Required. Usages when this configuration should be applied.",
          "type": "array"
        },
        "executionTimeout": {
          "description": "Optional. Execution timeout for a Cloud Build Execution. This must be between 10m and 24h in seconds format. If unspecified, a default timeout of 1h is used.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Configuration of the environment to use when calling Skaffold.",
      "id": "ExecutionConfig"
    },
    "SkaffoldSupportedCondition": {
      "properties": {
        "supportExpirationTime": {
          "type": "string",
          "description": "The time at which this release's version of Skaffold will no longer be supported.",
          "format": "google-datetime"
        },
        "maintenanceModeTime": {
          "description": "The time at which this release's version of Skaffold will enter maintenance mode.",
          "format": "google-datetime",
          "type": "string"
        },
        "skaffoldSupportState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This Skaffold version is currently supported.",
            "This Skaffold version is in maintenance mode.",
            "This Skaffold version is no longer supported."
          ],
          "type": "string",
          "description": "The Skaffold support state for this release's version of Skaffold.",
          "enum": [
            "SKAFFOLD_SUPPORT_STATE_UNSPECIFIED",
            "SKAFFOLD_SUPPORT_STATE_SUPPORTED",
            "SKAFFOLD_SUPPORT_STATE_MAINTENANCE_MODE",
            "SKAFFOLD_SUPPORT_STATE_UNSUPPORTED"
          ]
        },
        "status": {
          "description": "True if the version of Skaffold used by this release is supported.",
          "type": "boolean"
        }
      },
      "description": "SkaffoldSupportedCondition contains information about when support for the release's version of Skaffold ends.",
      "type": "object",
      "id": "SkaffoldSupportedCondition"
    },
    "PhaseArtifact": {
      "id": "PhaseArtifact",
      "properties": {
        "manifestPath": {
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI."
        },
        "jobManifestsPath": {
          "type": "string",
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true
        }
      },
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "type": "object"
    },
    "RepairPhase": {
      "type": "object",
      "id": "RepairPhase",
      "description": "RepairPhase tracks the repair attempts that have been made for each `RepairPhaseConfig` specified in the `Automation` resource.",
      "properties": {
        "retry": {
          "readOnly": true,
          "description": "Output only. Records of the retry attempts for retry repair mode.",
          "$ref": "RetryPhase"
        },
        "rollback": {
          "description": "Output only. Rollback attempt for rollback repair mode .",
          "$ref": "RollbackAttempt",
          "readOnly": true
        }
      }
    },
    "CloudRunMetadata": {
      "properties": {
        "workerPool": {
          "type": "string",
          "description": "Output only. The Cloud Run worker pool associated with a `Rollout`. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "readOnly": true
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run job that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/jobs/{job_name}`.",
          "type": "string"
        },
        "service": {
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        },
        "serviceUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`."
        },
        "revision": {
          "type": "string",
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`.",
          "readOnly": true
        },
        "previousRevision": {
          "description": "Output only. The previous Cloud Run Revision name associated with a `Rollout`. Only set when a canary deployment strategy is configured. Format for service is projects/{project}/locations/{location}/services/{service}/revisions/{revision}. Format for worker pool is projects/{project}/locations/{location}/workerPools/{workerpool}/revisions/{revision}.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudRunMetadata",
      "description": "CloudRunMetadata contains information from a Cloud Run deployment."
    },
    "ReleaseReadyCondition": {
      "type": "object",
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "properties": {
        "status": {
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release.",
          "type": "boolean"
        }
      },
      "id": "ReleaseReadyCondition"
    },
    "MultiTarget": {
      "id": "MultiTarget",
      "type": "object",
      "properties": {
        "targetIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The target_ids of this multiTarget."
        }
      },
      "description": "Information specifying a multiTarget."
    },
    "RolloutNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification.",
      "type": "object",
      "properties": {
        "rollout": {
          "type": "string",
          "description": "The name of the `Rollout`."
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ]
        },
        "targetId": {
          "description": "ID of the `Target` that the rollout is deployed to.",
          "type": "string"
        }
      },
      "id": "RolloutNotificationEvent"
    },
    "DeliveryPipelineAttribute": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location"
        },
        "labels": {
          "description": "DeliveryPipeline labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DeliveryPipelineAttribute",
      "description": "Contains criteria for selecting DeliveryPipelines."
    },
    "Predeploy": {
      "description": "Predeploy contains the predeploy job configuration information.",
      "type": "object",
      "properties": {
        "actions": {
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the predeploy job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tasks": {
          "description": "Optional. The tasks that will run as a part of the predeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        }
      },
      "id": "Predeploy"
    },
    "ListAutomationRunsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "automationRuns": {
          "description": "The `AutomationRuns` objects.",
          "type": "array",
          "items": {
            "$ref": "AutomationRun"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "The response object from `ListAutomationRuns`.",
      "type": "object",
      "id": "ListAutomationRunsResponse"
    },
    "AnalysisJob": {
      "description": "An analysis Job.",
      "type": "object",
      "id": "AnalysisJob",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The amount of time in minutes the analysis Job will run, up to a maximum of 48 hours. If any check in this Job is still running when the duration ends, the Job keeps running until that check completes.",
          "readOnly": true
        },
        "customChecks": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CustomCheck"
          },
          "description": "Output only. Custom analysis checks from 3P metric providers that are run as part of the analysis Job."
        },
        "googleCloud": {
          "readOnly": true,
          "$ref": "GoogleCloudAnalysis",
          "description": "Output only. Google Cloud - based analysis checks that are run as part of the analysis Job."
        }
      }
    },
    "ToolVersions": {
      "type": "object",
      "id": "ToolVersions",
      "description": "Details of ToolVersions for the release.",
      "properties": {
        "helm": {
          "type": "string",
          "description": "Optional. The Helm version to use for Cloud Deploy operations."
        },
        "skaffold": {
          "type": "string",
          "description": "Optional. The Skaffold version to use for Cloud Deploy operations."
        },
        "docker": {
          "description": "Optional. The Docker version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "kpt": {
          "description": "Optional. The kpt version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "kustomize": {
          "description": "Optional. The Kustomize version to use for Cloud Deploy operations.",
          "type": "string"
        },
        "kubectl": {
          "description": "Optional. The Kubectl version to use for Cloud Deploy operations.",
          "type": "string"
        }
      }
    },
    "PostdeployJob": {
      "description": "A postdeploy Job.",
      "id": "PostdeployJob",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The custom actions that the postdeploy Job executes."
        },
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Output only. The tasks that are executed as part of the postdeploy Job.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SkaffoldGCBRepoSource": {
      "id": "SkaffoldGCBRepoSource",
      "properties": {
        "ref": {
          "description": "Optional. Branch or tag to use when cloning the repository.",
          "type": "string"
        },
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold Config file.",
          "type": "string"
        },
        "repository": {
          "description": "Required. Name of the Cloud Build V2 Repository. Format is projects/{project}/locations/{location}/connections/{connection}/repositories/{repository}.",
          "type": "string"
        }
      },
      "description": "Cloud Build V2 Repository containing Skaffold Configs.",
      "type": "object"
    },
    "ToolVersionSupportedCondition": {
      "properties": {
        "maintenanceModeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this release's version of the tool will enter maintenance mode.",
          "type": "string"
        },
        "status": {
          "type": "boolean",
          "description": "Output only. True if the version of Tool used by this release is supported.",
          "readOnly": true
        },
        "toolVersionSupportState": {
          "enum": [
            "TOOL_VERSION_SUPPORT_STATE_UNSPECIFIED",
            "TOOL_VERSION_SUPPORT_STATE_SUPPORTED",
            "TOOL_VERSION_SUPPORT_STATE_MAINTENANCE_MODE",
            "TOOL_VERSION_SUPPORT_STATE_UNSUPPORTED"
          ],
          "description": "Output only. The tool support state for this release's version of the tool.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This tool version is currently supported.",
            "This tool version is in maintenance mode.",
            "This tool version is no longer supported."
          ],
          "readOnly": true
        },
        "supportExpirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this release's version of the tool will no longer be supported.",
          "readOnly": true
        }
      },
      "description": "ToolVersionSupportedCondition contains information about when support for the release's version of a tool ends.",
      "id": "ToolVersionSupportedCondition",
      "type": "object"
    },
    "TerminateJobRunResponse": {
      "type": "object",
      "description": "The response object from `TerminateJobRun`.",
      "properties": {},
      "id": "TerminateJobRunResponse"
    },
    "DeployPolicyResourceSelector": {
      "properties": {
        "deliveryPipeline": {
          "$ref": "DeliveryPipelineAttribute",
          "description": "Optional. Contains attributes about a delivery pipeline."
        },
        "target": {
          "$ref": "TargetAttribute",
          "description": "Optional. Contains attributes about a target."
        }
      },
      "id": "DeployPolicyResourceSelector",
      "description": "Contains information on the resources to select for a deploy policy. Attributes provided must all match the resource in order for policy restrictions to apply. For example, if delivery pipelines attributes given are an id \"prod\" and labels \"foo: bar\", a delivery pipeline resource must match both that id and have that label in order to be subject to the policy.",
      "type": "object"
    },
    "CustomCheck": {
      "description": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency.",
      "id": "CustomCheck",
      "properties": {
        "frequency": {
          "type": "string",
          "description": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes.",
          "format": "google-duration"
        },
        "task": {
          "description": "Required. The Task to be run for this custom check.",
          "$ref": "Task"
        },
        "id": {
          "type": "string",
          "description": "Required. The ID of the custom Analysis check."
        }
      },
      "type": "object"
    },
    "DeployPolicy": {
      "type": "object",
      "id": "DeployPolicy",
      "description": "A `DeployPolicy` resource in the Cloud Deploy API. A `DeployPolicy` inhibits manual or automation-driven actions within a Delivery Pipeline or Target.",
      "properties": {
        "selectors": {
          "type": "array",
          "items": {
            "$ref": "DeployPolicyResourceSelector"
          },
          "description": "Required. Selected resources to which the policy will be applied. At least one selector is required. If one selector matches the resource the policy applies. For example, if there are two selectors and the action being attempted matches one of them, the policy will apply to that action."
        },
        "etag": {
          "description": "The weak etag of the `DeployPolicy` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `DeployPolicy`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the deploy policy was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details."
        },
        "rules": {
          "description": "Required. Rules to apply. At least one rule must be present.",
          "items": {
            "$ref": "PolicyRule"
          },
          "type": "array"
        },
        "suspended": {
          "description": "Optional. When suspended, the policy will not prevent actions from occurring, even if the action violates the policy.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `DeployPolicy`. Max length is 255 characters."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the deploy policy was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "AnalysisJobRun": {
      "properties": {
        "alertPolicyAnalyses": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AlertPolicyCheckStatus"
          },
          "description": "Output only. The status of the running alert policy checks configured for this analysis."
        },
        "failedCheckId": {
          "description": "Output only. The ID of the configured check that failed. This will always be blank while the analysis is in progress or if it succeeded.",
          "readOnly": true,
          "type": "string"
        },
        "customCheckAnalyses": {
          "description": "Output only. The status of the running custom checks configured for this analysis.",
          "items": {
            "$ref": "CustomCheckStatus"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "AnalysisJobRun",
      "description": "AnalysisJobRun contains information specific to an analysis `JobRun`.",
      "type": "object"
    },
    "AutomationRule": {
      "type": "object",
      "id": "AutomationRule",
      "properties": {
        "repairRolloutRule": {
          "$ref": "RepairRolloutRule",
          "description": "Optional. The `RepairRolloutRule` will automatically repair a failed rollout."
        },
        "advanceRolloutRule": {
          "description": "Optional. The `AdvanceRolloutRule` will automatically advance a successful Rollout.",
          "$ref": "AdvanceRolloutRule"
        },
        "timedPromoteReleaseRule": {
          "$ref": "TimedPromoteReleaseRule",
          "description": "Optional. The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule."
        },
        "promoteReleaseRule": {
          "$ref": "PromoteReleaseRule",
          "description": "Optional. `PromoteReleaseRule` will automatically promote a release from the current target to a specified target."
        }
      },
      "description": "`AutomationRule` defines the automation activities."
    },
    "FailedAlertPolicy": {
      "id": "FailedAlertPolicy",
      "type": "object",
      "properties": {
        "alerts": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Open alerts for the alerting policies that matched the alert policy check configuration.",
          "type": "array"
        },
        "alertPolicy": {
          "type": "string",
          "description": "Output only. The name of the alert policy that was found to be firing. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "readOnly": true
        }
      },
      "description": "FailedAlertPolicy contains information about an alert policy that was found to be firing during an alert policy check."
    },
    "PostdeployJobRunMetadata": {
      "type": "object",
      "properties": {
        "custom": {
          "readOnly": true,
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined postdeploy operation."
        }
      },
      "id": "PostdeployJobRunMetadata",
      "description": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`."
    },
    "SkaffoldVersion": {
      "description": "Details of a supported Skaffold version.",
      "properties": {
        "supportExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this version of Skaffold will no longer be supported."
        },
        "supportEndDate": {
          "description": "Date when this version is expected to no longer be supported.",
          "$ref": "Date"
        },
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "maintenanceModeTime": {
          "description": "The time at which this version of Skaffold will enter maintenance mode.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "SkaffoldVersion"
    },
    "CloudRunConfig": {
      "id": "CloudRunConfig",
      "properties": {
        "canaryRevisionTags": {
          "description": "Optional. A list of tags that are added to the canary revision while the canary phase is in progress.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "priorRevisionTags": {
          "description": "Optional. A list of tags that are added to the prior revision while the canary phase is in progress.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "stableRevisionTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the final stable revision when the stable phase is applied."
        },
        "automaticTrafficControl": {
          "description": "Optional. Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "CloudRunConfig contains the Cloud Run runtime configuration."
    },
    "ListCustomTargetTypesResponse": {
      "id": "ListCustomTargetTypesResponse",
      "type": "object",
      "description": "The response object from `ListCustomTargetTypes.`",
      "properties": {
        "customTargetTypes": {
          "description": "The `CustomTargetType` objects.",
          "type": "array",
          "items": {
            "$ref": "CustomTargetType"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "Targets": {
      "type": "object",
      "id": "Targets",
      "description": "The targets involved in a single timed promotion.",
      "properties": {
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The destination target ID."
        },
        "sourceTargetId": {
          "type": "string",
          "description": "Optional. The source target ID."
        }
      }
    },
    "AutomationRuleCondition": {
      "type": "object",
      "id": "AutomationRuleCondition",
      "properties": {
        "targetsPresentCondition": {
          "$ref": "TargetsPresentCondition",
          "description": "Optional. Details around targets enumerated in the rule."
        },
        "timedPromoteReleaseCondition": {
          "$ref": "TimedPromoteReleaseCondition",
          "description": "Optional. TimedPromoteReleaseCondition contains rule conditions specific to a an Automation with a timed promote release rule defined."
        }
      },
      "description": "`AutomationRuleCondition` contains conditions relevant to an `Automation` rule."
    },
    "CloudRunLocation": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`.",
          "type": "string"
        }
      },
      "id": "CloudRunLocation",
      "description": "Information specifying where to deploy a Cloud Run Service."
    },
    "RolloutUpdateEvent": {
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_update\" Platform Log event that describes the rollout update event.",
      "properties": {
        "message": {
          "description": "Debug message for when a rollout update event occurs.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the pipeline."
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Type of this notification, e.g. for a rollout update event.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string"
        },
        "rollout": {
          "description": "The name of the rollout. rollout_uid is not in this log message because we write some of these log messages at rollout creation time, before we've generated the uid.",
          "type": "string"
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the release."
        },
        "targetId": {
          "description": "ID of the target.",
          "type": "string"
        },
        "rolloutUpdateType": {
          "enum": [
            "ROLLOUT_UPDATE_TYPE_UNSPECIFIED",
            "PENDING",
            "PENDING_RELEASE",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "HALTED",
            "SUCCEEDED",
            "FAILED",
            "APPROVAL_REQUIRED",
            "APPROVED",
            "REJECTED",
            "ADVANCE_REQUIRED",
            "ADVANCED"
          ],
          "description": "The type of the rollout update.",
          "type": "string",
          "enumDescriptions": [
            "Rollout update type unspecified.",
            "Rollout state updated to pending (release has succeeded, waiting on the rollout to start).",
            "Rollout state updated to pending release.",
            "Rollout state updated to in progress.",
            "Rollout state updated to cancelling.",
            "Rollout state updated to cancelled.",
            "Rollout state updated to halted.",
            "Rollout state updated to succeeded.",
            "Rollout state updated to failed.",
            "Rollout requires approval.",
            "Rollout has been approved.",
            "Rollout has been rejected.",
            "Rollout requires advance to the next phase.",
            "Rollout has been advanced."
          ]
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        }
      },
      "id": "RolloutUpdateEvent"
    },
    "ListDeployPoliciesResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "deployPolicies": {
          "description": "The `DeployPolicy` objects.",
          "type": "array",
          "items": {
            "$ref": "DeployPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response object from `ListDeployPolicies`.",
      "id": "ListDeployPoliciesResponse"
    },
    "CustomTargetTypeNotificationEvent": {
      "type": "object",
      "properties": {
        "customTargetTypeUid": {
          "description": "Unique identifier of the `CustomTargetType`.",
          "type": "string"
        },
        "customTargetType": {
          "description": "The name of the `CustomTargetType`.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ]
        }
      },
      "id": "CustomTargetTypeNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/customtargettype_notification\" Platform Log event that describes the failure to send a custom target type status change Pub/Sub notification."
    },
    "SerialPipeline": {
      "type": "object",
      "id": "SerialPipeline",
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "properties": {
        "stages": {
          "description": "Optional. Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "type": "array",
          "items": {
            "$ref": "Stage"
          }
        }
      }
    },
    "AdvanceChildRolloutJobRun": {
      "properties": {
        "rolloutPhaseId": {
          "readOnly": true,
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true
        }
      },
      "id": "AdvanceChildRolloutJobRun",
      "type": "object",
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`."
    },
    "Verify": {
      "description": "Verify contains the verify job configuration information.",
      "type": "object",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Optional. The tasks that will run as a part of the verify job. The tasks are executed sequentially in the order specified."
        }
      },
      "id": "Verify"
    },
    "RollbackTargetResponse": {
      "properties": {
        "rollbackConfig": {
          "$ref": "RollbackTargetConfig",
          "description": "The config of the rollback `Rollout` created or will be created."
        }
      },
      "description": "The response object from `RollbackTarget`.",
      "id": "RollbackTargetResponse",
      "type": "object"
    },
    "PostdeployJobRun": {
      "id": "PostdeployJobRun",
      "properties": {
        "build": {
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the postdeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true
        },
        "failureMessage": {
          "readOnly": true,
          "description": "Output only. Additional information about the postdeploy failure, if available.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the postdeploy `JobRun`.",
          "readOnly": true,
          "$ref": "PostdeployJobRunMetadata"
        },
        "failureCause": {
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The postdeploy operation did not complete successfully; check Cloud Build logs.",
            "The postdeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string",
          "description": "Output only. The reason the postdeploy failed. This will always be unspecified while the postdeploy is in progress or if it succeeded.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        }
      },
      "type": "object",
      "description": "PostdeployJobRun contains information specific to a postdeploy `JobRun`."
    },
    "JobRunNotificationEvent": {
      "properties": {
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target`."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "rollout": {
          "type": "string",
          "description": "The name of the `Rollout`."
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "jobRun": {
          "description": "The name of the `JobRun`.",
          "type": "string"
        }
      },
      "id": "JobRunNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification.",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "RollbackTargetConfig": {
      "properties": {
        "startingPhaseId": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        },
        "rollout": {
          "description": "Optional. The rollback `Rollout` to create.",
          "$ref": "Rollout"
        }
      },
      "description": "Configs for the Rollback rollout.",
      "type": "object",
      "id": "RollbackTargetConfig"
    },
    "Config": {
      "type": "object",
      "description": "Service-wide configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the configuration."
        },
        "defaultSkaffoldVersion": {
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version.",
          "type": "string"
        },
        "supportedVersions": {
          "items": {
            "$ref": "SkaffoldVersion"
          },
          "type": "array",
          "description": "All supported versions of Skaffold."
        },
        "defaultToolVersions": {
          "description": "Output only. Default tool versions. These tool versions are assigned when a Release is created without specifying tool versions.",
          "readOnly": true,
          "$ref": "ToolVersions"
        }
      },
      "id": "Config"
    },
    "RenderMetadata": {
      "id": "RenderMetadata",
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined render operation.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        },
        "cloudRun": {
          "description": "Output only. Metadata associated with rendering for Cloud Run.",
          "$ref": "CloudRunRenderMetadata",
          "readOnly": true
        },
        "kubernetes": {
          "readOnly": true,
          "$ref": "KubernetesRenderMetadata",
          "description": "Output only. Metadata associated with rendering for a Kubernetes cluster (GKE or GKE Enterprise target)."
        }
      },
      "description": "RenderMetadata includes information associated with a `Release` render.",
      "type": "object"
    },
    "PredeployJobRunMetadata": {
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined predeploy operation.",
          "$ref": "CustomMetadata",
          "readOnly": true
        }
      },
      "description": "PredeployJobRunMetadata contains metadata about the predeploy `JobRun`.",
      "type": "object",
      "id": "PredeployJobRunMetadata"
    },
    "Phase": {
      "id": "Phase",
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Current state of the Phase.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted.",
            "The Phase was skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED"
          ]
        },
        "childRolloutJobs": {
          "$ref": "ChildRolloutJobs",
          "readOnly": true,
          "description": "Output only. ChildRollout job composition."
        },
        "skipMessage": {
          "type": "string",
          "description": "Output only. Additional information on why the Phase was skipped, if available.",
          "readOnly": true
        },
        "deploymentJobs": {
          "description": "Output only. Deployment job composition.",
          "$ref": "DeploymentJobs",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the Phase.",
          "type": "string"
        }
      }
    },
    "CustomCanaryDeployment": {
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration.",
      "type": "object",
      "id": "CustomCanaryDeployment",
      "properties": {
        "phaseConfigs": {
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "type": "array",
          "items": {
            "$ref": "PhaseConfig"
          }
        }
      }
    },
    "RetryAttempt": {
      "description": "RetryAttempt represents an action of retrying the failed Cloud Deploy job.",
      "type": "object",
      "properties": {
        "stateDesc": {
          "type": "string",
          "description": "Output only. Description of the state of the Retry.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "type": "string",
          "description": "Output only. Valid state of this retry action.",
          "readOnly": true,
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ]
        },
        "wait": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration"
        },
        "attempt": {
          "description": "Output only. The index of this retry attempt.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "RetryAttempt"
    },
    "ListReleasesResponse": {
      "description": "The response object from `ListReleases`.",
      "type": "object",
      "id": "ListReleasesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "releases": {
          "description": "The `Release` objects.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TimedPromoteReleaseOperation": {
      "properties": {
        "targetId": {
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "type": "string",
          "readOnly": true
        },
        "release": {
          "type": "string",
          "description": "Output only. The name of the release to be promoted.",
          "readOnly": true
        },
        "phase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The starting phase of the rollout created by this operation."
        }
      },
      "description": "Contains the information of an automated timed promote-release operation.",
      "type": "object",
      "id": "TimedPromoteReleaseOperation"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ApproveRolloutRequest": {
      "properties": {
        "approved": {
          "type": "boolean",
          "description": "Required. True = approve; false = reject"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      },
      "type": "object",
      "id": "ApproveRolloutRequest",
      "description": "The request object used by `ApproveRollout`."
    },
    "Target": {
      "id": "Target",
      "description": "A `Target` resource in the Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed.",
      "properties": {
        "targetId": {
          "type": "string",
          "description": "Output only. Resource id of the `Target`.",
          "readOnly": true
        },
        "run": {
          "description": "Optional. Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "associatedEntities": {
          "additionalProperties": {
            "$ref": "AssociatedEntities"
          },
          "type": "object",
[...]
