{
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/identity/",
  "description": "API for provisioning and managing identity resources.",
  "batchPath": "batch",
  "title": "Cloud Identity API",
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.policies": {
          "description": "See and edit policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly": {
          "description": "List org members of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly": {
          "description": "See all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits": {
          "description": "List, Move orgmembers of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly": {
          "description": "See allowlisted domains in your Cloud Identity Organization"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.policies.readonly": {
          "description": "See policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso": {
          "description": "See and edit all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains": {
          "description": "See and edit allowlisted domains in your Cloud Identity Organization"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "canonicalName": "Cloud Identity",
  "discoveryVersion": "v1",
  "name": "cloudidentity",
  "servicePath": "",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20261007",
  "version": "v1beta1",
  "version_module": true,
  "resources": {
    "orgUnits": {
      "resources": {
        "memberships": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOrgMembershipsResponse"
              },
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships",
              "parameters": {
                "parent": {
                  "description": "Required. Immutable. OrgUnit which is queried for a list of memberships. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
                  "location": "path",
                  "required": true,
                  "pattern": "^orgUnits/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the `type` (e.g., `type == 'shared_drive'`)."
                },
                "customer": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Immutable. Customer that this OrgMembership belongs to. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `OrgMembershipsService.ListOrgMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrgMembershipsRequest` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will default to 50. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as 100.",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.orgunits",
                "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly"
              ],
              "path": "v1beta1/{+parent}/memberships",
              "description": "List OrgMembership resources in an OrgUnit treated as 'parent'. Parent format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits)",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.orgUnits.memberships.list"
            },
            "move": {
              "description": "Move an OrgMembership to a new OrgUnit. NOTE: This is an atomic copy-and-delete. The resource will have a new copy under the destination OrgUnit and be deleted from the source OrgUnit. The resource can only be searched under the destination OrgUnit afterwards.",
              "id": "cloudidentity.orgUnits.memberships.move",
              "parameters": {
                "name": {
                  "description": "Required. Immutable. The [resource name](https://cloud.google.com/apis/design/resource_names) of the OrgMembership. Format: orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits). To manage a Membership without specifying source `orgUnitId`, this API also supports the wildcard character '-' for `$orgUnitId` per https://google.aip.dev/159. The `$membership` shall be of the form `{$entityType};{$memberId}`, where `$entityType` is the enum value of OrgMembership.EntityType, and `memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource) for OrgMembership.EntityType.SHARED_DRIVE.",
                  "pattern": "^orgUnits/[^/]+/memberships/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}:move",
              "request": {
                "$ref": "MoveOrgMembershipRequest"
              },
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships/{membershipsId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.orgunits"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "inboundSamlSsoProfiles": {
      "resources": {
        "idpCredentials": {
          "methods": {
            "add": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "AddIdpCredentialRequest"
              },
              "httpMethod": "POST",
              "description": "Adds an IdpCredential. Up to 2 credentials are allowed. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.add",
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials:add",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^inboundSamlSsoProfiles/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The InboundSamlSsoProfile that owns the IdpCredential. Format: `inboundSamlSsoProfiles/{sso_profile_id}`"
                }
              },
              "path": "v1beta1/{+parent}/idpCredentials:add"
            },
            "list": {
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.list",
              "response": {
                "$ref": "ListIdpCredentialsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/idpCredentials",
              "description": "Returns a list of IdpCredentials in an InboundSamlSsoProfile.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of `IdpCredential`s to return. The service may return fewer than this value.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of `IdpCredential`s. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^inboundSamlSsoProfiles/[^/]+$"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListIdpCredentials` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdpCredentials` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "IdpCredential"
              },
              "parameters": {
                "name": {
                  "pattern": "^inboundSamlSsoProfiles/[^/]+/idpCredentials/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the IdpCredential to retrieve. Format: `inboundSamlSsoProfiles/{sso_profile_id}/idpCredentials/{idp_credential_id}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials/{idpCredentialsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an IdpCredential.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.get"
            },
            "delete": {
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.delete",
              "description": "Deletes an IdpCredential.",
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials/{idpCredentialsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^inboundSamlSsoProfiles/[^/]+/idpCredentials/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the IdpCredential to delete. Format: `inboundSamlSsoProfiles/{sso_profile_id}/idpCredentials/{idp_credential_id}`"
                }
              },
              "path": "v1beta1/{+name}"
            }
          }
        }
      },
      "methods": {
        "create": {
          "description": "Creates an InboundSamlSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "path": "v1beta1/inboundSamlSsoProfiles",
          "request": {
            "$ref": "InboundSamlSsoProfile"
          },
          "flatPath": "v1beta1/inboundSamlSsoProfiles",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.inboundSamlSsoProfiles.create"
        },
        "delete": {
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "id": "cloudidentity.inboundSamlSsoProfiles.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes an InboundSamlSsoProfile.",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to delete. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^inboundSamlSsoProfiles/[^/]+$"
            }
          }
        },
        "list": {
          "id": "cloudidentity.inboundSamlSsoProfiles.list",
          "httpMethod": "GET",
          "description": "Lists InboundSamlSsoProfiles for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v1beta1/inboundSamlSsoProfiles",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListInboundSamlSsoProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundSamlSsoProfiles` must match the call that provided the page token."
            },
            "filter": {
              "location": "query",
              "description": "A [Common Expression Language](https://github.com/google/cel-spec) expression to filter the results. The only supported filter is filtering by customer. For example: `customer==\"customers/C0123abc\"`. Omitting the filter or specifying a filter of `customer==\"customers/my_customer\"` will return the profiles for the customer that the caller (authenticated user) belongs to.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of InboundSamlSsoProfiles to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100. Requests with page_size greater than that will be silently interpreted as having this maximum value.",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListInboundSamlSsoProfilesResponse"
          },
          "path": "v1beta1/inboundSamlSsoProfiles"
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^inboundSamlSsoProfiles/[^/]+$",
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to get. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "description": "Gets an InboundSamlSsoProfile.",
          "id": "cloudidentity.inboundSamlSsoProfiles.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "InboundSamlSsoProfile"
          },
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}"
        },
        "patch": {
          "parameters": {
            "name": {
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^inboundSamlSsoProfiles/[^/]+$"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The list of fields to be updated."
            }
          },
          "description": "Updates an InboundSamlSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "request": {
            "$ref": "InboundSamlSsoProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.inboundSamlSsoProfiles.patch",
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}"
        }
      }
    },
    "inboundOidcSsoProfiles": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListInboundOidcSsoProfilesResponse"
          },
          "httpMethod": "GET",
          "path": "v1beta1/inboundOidcSsoProfiles",
          "flatPath": "v1beta1/inboundOidcSsoProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "filter": {
              "type": "string",
              "description": "A [Common Expression Language](https://github.com/google/cel-spec) expression to filter the results. The only supported filter is filtering by customer. For example: `customer==\"customers/C0123abc\"`. Omitting the filter or specifying a filter of `customer==\"customers/my_customer\"` will return the profiles for the customer that the caller (authenticated user) belongs to. Specifying a filter of `customer==\"\"` will return the global shared OIDC profiles.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListInboundOidcSsoProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundOidcSsoProfiles` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of InboundOidcSsoProfiles to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100. Requests with page_size greater than that will be silently interpreted as having this maximum value.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "id": "cloudidentity.inboundOidcSsoProfiles.list",
          "description": "Lists InboundOidcSsoProfile objects for a Google enterprise customer."
        },
        "create": {
          "path": "v1beta1/inboundOidcSsoProfiles",
          "description": "Creates an InboundOidcSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "cloudidentity.inboundOidcSsoProfiles.create",
          "flatPath": "v1beta1/inboundOidcSsoProfiles",
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        },
        "delete": {
          "description": "Deletes an InboundOidcSsoProfile.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to delete. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "httpMethod": "DELETE",
          "id": "cloudidentity.inboundOidcSsoProfiles.delete",
          "path": "v1beta1/{+name}"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "id": "cloudidentity.inboundOidcSsoProfiles.patch",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile.",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated.",
              "location": "query"
            }
          },
          "path": "v1beta1/{+name}",
          "description": "Updates an InboundOidcSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "response": {
            "$ref": "InboundOidcSsoProfile"
          },
          "description": "Gets an InboundOidcSsoProfile.",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to get. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "type": "string",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "cloudidentity.inboundOidcSsoProfiles.get"
        }
      }
    },
    "customers": {
      "resources": {
        "userinvitations": {
          "methods": {
            "send": {
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SendUserInvitationRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:send",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.customers.userinvitations.send",
              "path": "v1beta1/{+name}:send",
              "description": "Sends a UserInvitation to email. If the `UserInvitation` does not exist for this request and it is a valid request, the request creates a `UserInvitation`. **Note:** The `get` and `list` methods have a 48-hour delay where newly-created consumer accounts will not appear in the results. You can still send a `UserInvitation` to those accounts if you know the unmanaged email address and IsInvitableUser==True.",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`"
                }
              }
            },
            "list": {
              "description": "Retrieves a list of UserInvitation resources. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations",
              "id": "cloudidentity.customers.userinvitations.list",
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The sort order of the list results. You can sort the results in descending order based on either email or last update timestamp but not both, using `order_by=\"email desc\"`. Currently, sorting is supported for `update_time asc`, `update_time desc`, `email asc`, and `email desc`. If not specified, results will be returned based on `email asc` order."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListUserInvitations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of UserInvitation resources to return. If unspecified, at most 100 resources will be returned. The maximum value is 200; values above 200 will be set to 200.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID of the Google Workspace or Cloud Identity account the UserInvitation resources are associated with."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering `UserInvitation` results by their current state, in the format: `\"state=='invited'\"`.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListUserInvitationsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/userinvitations"
            },
            "isInvitableUser": {
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:isInvitableUser",
              "description": "Verifies whether a user account is eligible to receive a UserInvitation (is an unmanaged account). Eligibility is based on the following criteria: * the email address is a consumer account and it's the primary email address of the account, and * the domain of the email address matches an existing verified Google Workspace or Cloud Identity domain If both conditions are met, the user is eligible. **Note:** This method is not supported for Workspace Essentials customers.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:isInvitableUser",
              "response": {
                "$ref": "IsInvitableUserResponse"
              },
              "id": "cloudidentity.customers.userinvitations.isInvitableUser",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`"
                }
              }
            },
            "cancel": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Cancels a UserInvitation that was already sent.",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.customers.userinvitations.cancel",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:cancel",
              "path": "v1beta1/{+name}:cancel",
              "parameters": {
                "name": {
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$"
                }
              },
              "request": {
                "$ref": "CancelUserInvitationRequest"
              }
            },
            "get": {
              "response": {
                "$ref": "UserInvitation"
              },
              "description": "Retrieves a UserInvitation resource. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$"
                }
              },
              "id": "cloudidentity.customers.userinvitations.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}"
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudidentity.policies.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "v1beta1/policies/{policiesId}",
          "description": "Update a policy.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^policies/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}."
            }
          }
        },
        "list": {
          "description": "List policies.",
          "response": {
            "$ref": "ListPoliciesResponse"
          },
          "httpMethod": "GET",
          "path": "v1beta1/policies",
          "flatPath": "v1beta1/policies",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of results to return. The service can return fewer than this number. If omitted or set to `0`, the default is `50` results per page. The maximum allowed value is `100`. `page_size` values greater than `100` default to `100`.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. The pagination token received from a prior call to PoliciesService.ListPolicies to retrieve the next page of results. When paginating, all other parameters provided to `ListPoliciesRequest` must match the call that provided the page token.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A CEL expression for filtering the results. Policies can be filtered using the expression in the following ways: - Filter by application: `setting.type.matches('^settings/gmail\\\\..*$')` - Filter by setting type: `setting.type.matches('^.*\\\\.service_status$')` - Filter by customer: `customer == \"customers/{customer}\"` Where `customer` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may use `customers/my_customer` to specify your own organization. When no `customer` is mentioned it will be default to `customers/my_customer`. You may only filter on policies for a single customer at a time. The above clauses can be combined together in a single filter expression with the `&&` and `||` operators, like in the following example: `customer == \"customers/my_customer\" && ( setting.type.matches('^settings/gmail\\\\..*$') || setting.type.matches('^.*\\\\.service_status$') )`.",
              "location": "query"
            }
          },
          "id": "cloudidentity.policies.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ]
        },
        "create": {
          "description": "Create a policy.",
          "httpMethod": "POST",
          "path": "v1beta1/policies",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "flatPath": "v1beta1/policies",
          "id": "cloudidentity.policies.create",
          "request": {
            "$ref": "Policy"
          },
          "parameters": {},
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.policies.delete",
          "description": "Delete a policy.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^policies/[^/]+$",
              "description": "Required. The name of the policy to delete. Format: `policies/{policy}`.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1beta1/policies/{policiesId}",
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/policies/{policiesId}",
          "description": "Get a policy.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^policies/[^/]+$",
              "description": "Required. The name of the policy to retrieve. Format: `policies/{policy}`.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "response": {
            "$ref": "Policy"
          },
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.policies.get",
          "httpMethod": "GET"
        }
      }
    },
    "allowlistedDomains": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains"
          ],
          "parameters": {},
          "request": {
            "$ref": "AllowlistedDomain"
          },
          "path": "v1beta1/allowlistedDomains",
          "parameterOrder": [],
          "flatPath": "v1beta1/allowlistedDomains",
          "id": "cloudidentity.allowlistedDomains.create",
          "description": "Adds a domain to the allowlist.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/allowlistedDomains/{allowlistedDomainsId}",
          "id": "cloudidentity.allowlistedDomains.delete",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Specifies the [resource name](https://google.aip.dev/122) of the domain to delete.",
              "location": "path",
              "required": true,
              "pattern": "^allowlistedDomains/[^/]+$"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Removes a domain from the allowlist.",
          "httpMethod": "DELETE",
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListAllowlistedDomainsResponse"
          },
          "id": "cloudidentity.allowlistedDomains.list",
          "parameterOrder": [],
          "flatPath": "v1beta1/allowlistedDomains",
          "parameters": {
            "pageSize": {
              "description": "Optional. Specifies the requested page size. If unspecified, the service returns at most 5000 domains. The maximum value is 5000; values above 5000 coerce to 5000. The limits can change over time.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. Identifies a token from a previous page of results, if any.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. Provides an optional filter for list results. Currently, only exact matches on the domain are supported, such as \"domain = 'google.com'\", with no composite conditions.",
              "location": "query"
            }
          },
          "description": "Lists the domains in the allowlist.",
          "path": "v1beta1/allowlistedDomains",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains",
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1beta1/allowlistedDomains/{allowlistedDomainsId}",
          "response": {
            "$ref": "AllowlistedDomain"
          },
          "id": "cloudidentity.allowlistedDomains.get",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^allowlistedDomains/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Specifies the [resource name](https://google.aip.dev/122) of the domain to retrieve."
            }
          },
          "description": "Retrieves a specific domain from the allowlist.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains",
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly"
          ]
        }
      }
    },
    "groups": {
      "methods": {
        "patch": {
          "description": "Updates a `Group`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`, `dynamic_group_metadata`, `posix_groups`.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/groups/{groupsId}",
          "httpMethod": "PATCH",
          "id": "cloudidentity.groups.patch",
          "request": {
            "$ref": "Group"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "lookup": {
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "path": "v1beta1/groups:lookup",
          "httpMethod": "GET",
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "flatPath": "v1beta1/groups:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "parameters": {
            "groupKey.namespace": {
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
              "location": "query",
              "type": "string"
            },
            "groupKey.id": {
              "location": "query",
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
              "type": "string"
            }
          },
          "id": "cloudidentity.groups.lookup"
        },
        "list": {
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous list request, if any."
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`."
            },
            "parent": {
              "location": "query",
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`."
            }
          },
          "flatPath": "v1beta1/groups",
          "id": "cloudidentity.groups.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/groups",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists the `Group` resources under a customer or namespace."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves a `Group`.",
          "id": "cloudidentity.groups.get",
          "flatPath": "v1beta1/groups/{groupsId}",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Group"
          }
        },
        "search": {
          "id": "cloudidentity.groups.search",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Searches for `Group` resources matching a specified query.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous search request, if any.",
              "type": "string"
            },
            "orderBy": {
              "description": "The ordering of groups for the display name or email in the search groups response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending name: order_by=\"display_name\" Sort by the descending group key email: order_by=\"group_key desc\"",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`."
            },
            "view": {
              "type": "string",
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "location": "query"
            },
            "query": {
              "description": "Required. The search query. * Must be specified in [Common Expression Language](https://opensource.google/projects/cel). See [CEL Introduction](https://github.com/google/cel-spec/blob/master/doc/intro.md) for CEL syntax usage and examples. * Must contain equality operators on the parent, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793) * Can contain optional inclusion operators on `labels` such as `'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). * Can contain an optional equality operator on `domain_name`. e.g. `domain_name == 'examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `group_key`, e.g. `group_key.startsWith('dev')`, `group_key.contains('dev'), group_key == 'dev@examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `display_name`, such as `display_name.startsWith('dev')` , `display_name.contains('dev')`, `display_name == 'dev'` Examples: * Search for all discussion forums under a customer: `parent == 'customers/C046psxkn' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels` * Search for groups with key starting with 'sales': `parent == 'customers/C046psxkn' && group_key.startsWith('sales')` * Search for groups with display name containing 'test': `parent == 'customers/C046psxkn' && display_name.contains('test')`",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1beta1/groups:search",
          "flatPath": "v1beta1/groups:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SearchGroupsResponse"
          }
        },
        "getSecuritySettings": {
          "httpMethod": "GET",
          "path": "v1beta1/{+name}",
          "description": "Get Security Settings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecuritySettings"
          },
          "id": "cloudidentity.groups.getSecuritySettings",
          "parameters": {
            "readMask": {
              "type": "string",
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^groups/[^/]+/securitySettings$",
              "type": "string",
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`"
            }
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings"
        },
        "updateSecuritySettings": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`."
            },
            "name": {
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
              "type": "string",
              "pattern": "^groups/[^/]+/securitySettings$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "id": "cloudidentity.groups.updateSecuritySettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SecuritySettings"
          },
          "description": "Update Security Settings"
        },
        "create": {
          "flatPath": "v1beta1/groups",
          "id": "cloudidentity.groups.create",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "v1beta1/groups",
          "description": "Creates a `Group`.",
          "request": {
            "$ref": "Group"
          },
          "parameters": {
            "initialGroupConfig": {
              "type": "string",
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ],
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "location": "query",
              "description": "Required. The initial configuration option for the `Group`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "flatPath": "v1beta1/groups/{groupsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a `Group`.",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.groups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "memberships": {
          "methods": {
            "lookup": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`."
                },
                "memberKey.id": {
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "type": "string",
                  "location": "query"
                },
                "memberKey.namespace": {
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}/memberships:lookup",
              "id": "cloudidentity.groups.memberships.lookup",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupMembershipNameResponse"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the `Membership`s within a `Group`.",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "BASIC",
                    "FULL"
                  ]
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The `next_page_token` value returned from a previous search request, if any."
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`."
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "response": {
                "$ref": "ListMembershipsResponse"
              }
            },
            "modifyMembershipRoles": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:modifyMembershipRoles",
              "httpMethod": "POST",
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "searchDirectGroups": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchDirectGroups",
              "description": "Searches direct groups of a member. Groups for which the actor does not have the permission to view memberships are silently filtered out.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The default page size is 200 (max 1000)."
                },
                "orderBy": {
                  "type": "string",
                  "description": "The ordering of membership relation for the display name or email in the response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending display name: order_by=\"group_name\" or order_by=\"group_name asc\". Sort by the descending display name: order_by=\"group_name desc\". Sort by the ascending group key: order_by=\"group_key\" or order_by=\"group_key asc\". Sort by the descending group key: order_by=\"group_key desc\".",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: groups/{group_id}, where group_id is always '-' as this API will search across all groups for a given member."
                },
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && 'label_value' in labels`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SearchDirectGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.searchDirectGroups",
              "path": "v1beta1/{+parent}/memberships:searchDirectGroups"
            },
            "create": {
              "httpMethod": "POST",
              "id": "cloudidentity.groups.memberships.create",
              "description": "Creates a `Membership`.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+parent}/memberships",
              "request": {
                "$ref": "Membership"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a `Membership`.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.groups.memberships.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "searchTransitiveMemberships": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships",
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request, if any."
                }
              }
            },
            "getMembershipGraph": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "query": {
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When `group_id` is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph",
              "httpMethod": "GET",
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member."
            },
            "get": {
              "id": "cloudidentity.groups.memberships.get",
              "description": "Retrieves a `Membership`.",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Membership"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "searchTransitiveGroups": {
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "parameters": {
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels` Query may optionally contain equality operators on the parent of the group restricting the search within a particular customer, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). This filtering is only supported for Admins with groups read permissions on the input customer. Example query: `member_key_id == 'member_key_id_value' && in labels && parent == 'customers/C046psxkn'`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member.",
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "The `next_page_token` value returned from a previous list request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000).",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "checkTransitiveMembership": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "parameters": {
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to."
                }
              },
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "inboundSsoAssignments": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^inboundSsoAssignments/[^/]+$"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "request": {
            "$ref": "InboundSsoAssignment"
          },
          "id": "cloudidentity.inboundSsoAssignments.patch",
          "httpMethod": "PATCH",
          "path": "v1beta1/{+name}",
          "description": "Updates an InboundSsoAssignment. The body of this request is the `inbound_sso_assignment` field and the `update_mask` is relative to that. For example: a PATCH to `/v1beta1/inboundSsoAssignments/0abcdefg1234567&update_mask=rank` with a body of `{ \"rank\": 1 }` moves that (presumably group-targeted) SSO assignment to the highest priority and shifts any other group-targeted assignments down in priority."
        },
        "get": {
          "httpMethod": "GET",
          "id": "cloudidentity.inboundSsoAssignments.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "description": "Gets an InboundSsoAssignment.",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to fetch. Format: `inboundSsoAssignments/{assignment}`",
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "InboundSsoAssignment"
          }
        },
        "list": {
          "parameters": {
            "filter": {
              "description": "A CEL expression to filter the results. The only supported filter is filtering by customer. For example: `customer==customers/C0123abc`. Omitting the filter or specifying a filter of `customer==customers/my_customer` will return the assignments for the customer that the caller (authenticated user) belongs to.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListInboundSsoAssignments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundSsoAssignments` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of assignments to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as having this maximum value. This may increase in the futue.",
              "format": "int32"
            }
          },
          "flatPath": "v1beta1/inboundSsoAssignments",
          "description": "Lists the InboundSsoAssignments for a `Customer`.",
          "path": "v1beta1/inboundSsoAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.inboundSsoAssignments.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListInboundSsoAssignmentsResponse"
          },
          "httpMethod": "GET"
        },
        "create": {
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "flatPath": "v1beta1/inboundSsoAssignments",
          "path": "v1beta1/inboundSsoAssignments",
          "id": "cloudidentity.inboundSsoAssignments.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "InboundSsoAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates an InboundSsoAssignment for users and devices in a `Customer` under a given `Group` or `OrgUnit`."
        },
        "delete": {
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to delete. Format: `inboundSsoAssignments/{assignment}`",
              "location": "path",
              "required": true,
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes an InboundSsoAssignment. To disable SSO, Create (or Update) an assignment that has `sso_mode` == `SSO_OFF`.",
          "httpMethod": "DELETE",
          "id": "cloudidentity.inboundSsoAssignments.delete",
          "path": "v1beta1/{+name}"
        }
      }
    },
    "devices": {
      "methods": {
        "get": {
          "id": "cloudidentity.devices.get",
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "location": "path",
              "required": true
            },
            "customer": {
              "type": "string",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in format: `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "location": "query"
            }
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/devices/{devicesId}",
          "description": "Retrieves the specified device.",
          "response": {
            "$ref": "Device"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ]
        },
        "cancelWipe": {
          "path": "v1beta1/{+name}:cancelWipe",
          "id": "cloudidentity.devices.cancelWipe",
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          },
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "httpMethod": "POST",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped."
        },
        "wipe": {
          "description": "Wipes all data on the specified device.",
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.devices.wipe",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "httpMethod": "POST",
          "path": "v1beta1/{+name}:wipe",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "request": {
            "$ref": "WipeDeviceRequest"
          }
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "flatPath": "v1beta1/devices",
          "response": {
            "$ref": "ListDevicesResponse"
          },
          "parameters": {
            "customer": {
              "location": "query",
              "type": "string",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer."
            },
            "orderBy": {
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ],
              "description": "Optional. The view to use for the List request.",
[...]
