{
  "revision": "20260923",
  "basePath": "",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "canonicalName": "Cloud Controls Partner Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "cloudcontrolspartner:v1beta",
  "version_module": true,
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "version": "v1beta",
  "servicePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "title": "Cloud Controls Partner API",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "cloudcontrolspartner",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "customers": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Customer"
                  },
                  "description": "Gets details of a single customer",
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "path": "v1beta/{+parent}/customers",
                  "request": {
                    "$ref": "Customer"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new customer.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameters": {
                    "customerId": {
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`"
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Update details of a single customer",
                  "path": "v1beta/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Customer"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "required": true,
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "httpMethod": "DELETE",
                  "path": "v1beta/{+name}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete details of a single customer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page."
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "path": "v1beta/{+parent}/customers",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "workloads": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "description": "Gets details of a single workload",
                      "response": {
                        "$ref": "Workload"
                      },
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "getPartnerPermissions": {
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "httpMethod": "GET",
                      "description": "Gets the partner permissions granted for a workload"
                    },
                    "getEkmConnections": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the EKM connections associated with a workload",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "location": "path"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists customer workloads for a given customer org id",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+parent}/workloads",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads"
                    }
                  },
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "type": "integer"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results."
                            },
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering results.",
                              "type": "string"
                            }
                          },
                          "deprecated": true,
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "httpMethod": "GET",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+parent}/accessApprovalRequests",
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          }
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "get": {
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "path": "v1beta/{+name}",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Violation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a single Violation.",
                          "httpMethod": "GET"
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "interval.endTime": {
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering results",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "type": "string",
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "type": "integer",
                              "location": "query"
                            },
                            "interval.startTime": {
                              "location": "query",
                              "format": "google-datetime",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "type": "string"
                            }
                          },
                          "path": "v1beta/{+parent}/violations",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getPartner": {
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`"
                }
              },
              "description": "Get details of a Partner.",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Partner"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "schemas": {
    "Console": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "type": "object",
      "id": "Console",
      "properties": {
        "consoleUris": {
          "type": "array",
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Steps to resolve violation via cloud console"
        }
      }
    },
    "Gcloud": {
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "id": "Gcloud",
      "properties": {
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation",
          "type": "array"
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional urls for more information about steps"
        }
      },
      "type": "object"
    },
    "ListViolationsResponse": {
      "type": "object",
      "description": "Response message for list customer violation requests",
      "id": "ListViolationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "violations": {
          "items": {
            "$ref": "Violation"
          },
          "type": "array",
          "description": "List of violation"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217"
        }
      }
    },
    "EkmConnection": {
      "description": "Details about the EKM connection",
      "type": "object",
      "id": "EkmConnection",
      "properties": {
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionState": {
          "readOnly": true,
          "description": "Output only. The connection state",
          "type": "string",
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ]
        },
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        }
      }
    },
    "WorkloadOnboardingStep": {
      "properties": {
        "completionTime": {
          "type": "string",
          "description": "The completion time of the onboarding step.",
          "format": "google-datetime"
        },
        "step": {
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ],
          "description": "The onboarding step.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The starting time of the onboarding step."
        },
        "completionState": {
          "description": "Output only. The completion state of the onboarding step.",
          "type": "string",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "WorkloadOnboardingStep",
      "description": "Container for workload onboarding information."
    },
    "Partner": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\""
        },
        "operatedCloudRegions": {
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array"
        },
        "partnerProjectId": {
          "type": "string",
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners."
        },
        "ekmSolutions": {
          "type": "array",
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "items": {
            "$ref": "EkmMetadata"
          }
        },
        "updateTime": {
          "description": "Output only. The last time the resource was updated",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "Sku"
          },
          "description": "List of SKUs the partner is offering"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the resource was created",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Message describing Partner resource",
      "id": "Partner"
    },
    "ConnectionError": {
      "type": "object",
      "id": "ConnectionError",
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "properties": {
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        },
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        }
      }
    },
    "CustomerOnboardingStep": {
      "type": "object",
      "properties": {
        "completionState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. Current state of the step",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "type": "string"
        },
        "startTime": {
          "description": "The starting time of the onboarding step",
          "format": "google-datetime",
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "description": "The completion time of the onboarding step",
          "format": "google-datetime"
        },
        "step": {
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "type": "string",
          "description": "The onboarding step",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ]
        }
      },
      "id": "CustomerOnboardingStep",
      "description": "Container for customer onboarding information"
    },
    "PartnerPermissions": {
      "description": "The permissions granted to the partner for a workload",
      "id": "PartnerPermissions",
      "type": "object",
      "properties": {
        "partnerPermissions": {
          "items": {
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ]
          },
          "description": "The partner permissions granted for the workload",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Violation": {
      "description": "Details of resource Violation",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "resolveTime": {
          "readOnly": true,
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time when the Violation record was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation",
          "readOnly": true
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string"
        },
        "folderId": {
          "description": "The folder_id of the violation",
          "type": "string",
          "format": "int64"
        },
        "beginTime": {
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "format": "google-datetime"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "description": "Output only. State of the violation"
        }
      },
      "type": "object",
      "id": "Violation"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      }
    },
    "EkmMetadata": {
      "id": "EkmMetadata",
      "type": "object",
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "properties": {
        "ekmSolution": {
          "description": "The Cloud EKM partner.",
          "type": "string",
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ]
        },
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        }
      }
    },
    "WorkloadOnboardingState": {
      "type": "object",
      "id": "WorkloadOnboardingState",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "description": "List of workload onboarding steps."
        }
      },
      "description": "Container for workload onboarding steps."
    },
    "AccessReason": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      },
      "description": "Reason for the access.",
      "id": "AccessReason"
    },
    "Remediation": {
      "type": "object",
      "properties": {
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "Instructions"
        },
        "remediationType": {
          "readOnly": true,
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "type": "string",
          "description": "Output only. Remediation type based on the type of org policy values violated"
        },
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Remediation",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload"
    },
    "ListWorkloadsResponse": {
      "description": "Response message for list customer workloads requests.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "Workload"
          },
          "description": "List of customer workloads"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListWorkloadsResponse",
      "type": "object"
    },
    "Sku": {
      "id": "Sku",
      "properties": {
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        },
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers.",
      "type": "object"
    },
    "Workload": {
      "properties": {
        "isOnboarded": {
          "type": "boolean",
          "description": "Indicates whether a workload is fully onboarded."
        },
        "location": {
          "type": "string",
          "description": "The Google Cloud location of the workload"
        },
        "keyManagementProjectId": {
          "type": "string",
          "description": "The project id of the key management project for the workload"
        },
        "createTime": {
          "description": "Output only. Time the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "partner": {
          "description": "Partner associated with this workload.",
          "type": "string",
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ]
        },
        "workloadOnboardingState": {
          "description": "Container for workload onboarding steps.",
          "$ref": "WorkloadOnboardingState"
        },
        "folder": {
          "description": "Output only. The name of container folder of the assured workload",
          "readOnly": true,
          "type": "string"
        },
        "folderId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Folder id this workload is associated with",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        }
      },
      "id": "Workload",
      "type": "object",
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API."
    },
    "ListCustomersResponse": {
      "properties": {
        "customers": {
          "description": "List of customers",
          "type": "array",
          "items": {
            "$ref": "Customer"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCustomersResponse",
      "description": "Response message for list customer Customers requests"
    },
    "AccessApprovalRequest": {
      "id": "AccessApprovalRequest",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which approval was requested."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`"
        },
        "requestedExpirationTime": {
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        }
      },
      "type": "object",
      "description": "Details about the Access request."
    },
    "CustomerOnboardingState": {
      "description": "Container for customer onboarding steps",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "description": "List of customer onboarding steps"
        }
      },
      "type": "object",
      "id": "CustomerOnboardingState"
    },
    "EkmConnections": {
      "description": "The EKM connections associated with a workload",
      "id": "EkmConnections",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
        },
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "items": {
            "$ref": "EkmConnection"
          },
          "type": "array"
        }
      }
    },
    "ListAccessApprovalRequestsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessApprovalRequests": {
          "type": "array",
          "description": "List of access approval requests",
          "items": {
            "$ref": "AccessApprovalRequest"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for list access requests.",
      "type": "object",
      "id": "ListAccessApprovalRequestsResponse"
    },
    "Customer": {
      "id": "Customer",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "customerOnboardingState": {
          "$ref": "CustomerOnboardingState",
          "readOnly": true,
          "description": "Output only. Container for customer onboarding steps"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        },
        "organizationDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\""
        }
      },
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "type": "object"
    },
    "Instructions": {
      "id": "Instructions",
      "description": "Instructions to remediate violation",
      "properties": {
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        },
        "gcloudInstructions": {
          "$ref": "Gcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        }
      },
      "type": "object"
    }
  }
}