{
  "discoveryVersion": "v1",
  "version": "v2beta",
  "title": "Google Cloud Support API",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "id": "cloudsupport:v2beta",
  "servicePath": "",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "Actor": {
      "type": "object",
      "id": "Actor",
      "description": "An Actor represents an entity that performed an action. For example, an actor could be a user who posted a comment on a support case, a user who uploaded an attachment, or a service account that created a support case.",
      "properties": {
        "googleSupport": {
          "description": "Output only. Whether the actor is a Google support actor.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from the credentials supplied during case creation. When a name is provided, an email must also be provided. If the user is a Google Support agent, this is obfuscated. This field is deprecated. Use `username` instead.",
          "deprecated": true,
          "type": "string"
        },
        "username": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The username of the actor. It may look like an email or other format provided by the identity provider. If not provided, it is inferred from the credentials supplied. When a name is provided, a username must also be provided. If the user is a Google Support agent, this will not be set."
        }
      }
    },
    "TextContent": {
      "description": "Stores text attached to a support object.",
      "properties": {
        "plainText": {
          "type": "string",
          "description": "Content in this field should be rendered and interpreted as-is."
        }
      },
      "type": "object",
      "id": "TextContent"
    },
    "SupportEventSubscription": {
      "id": "SupportEventSubscription",
      "type": "object",
      "description": "A support event subscription. You can also manage support event subscriptions using other tools: * [`gcloud support support-event-subscriptions`](/sdk/gcloud/reference/support/support-event-subscriptions) (or [`gcloud beta`](/sdk/gcloud/reference/beta/support/support-event-subscriptions) for beta) * [Terraform `google_cloud_support_support_event_subscription`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_support_support_event_subscription) (or [google-beta provider](https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/cloud_support_support_event_subscription) for beta)",
      "properties": {
        "pubSubTopic": {
          "type": "string",
          "description": "Required. The name of the Pub/Sub topic to publish notifications to. Format: projects/{project}/topics/{topic}"
        },
        "failureReason": {
          "enumDescriptions": [
            "Unspecified failure reason.",
            "The service account (i.e. cloud-support-apievents@system.gserviceaccount.com) lacks the permission to publish to the customer's Pub/Sub topic.",
            "The specified Pub/Sub topic does not exist.",
            "Message failed to publish due to a system-side error."
          ],
          "description": "Output only. Reason why subscription is failing. State of subscription must be FAILING in order for this to have a value.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "PERMISSION_DENIED",
            "TOPIC_NOT_FOUND",
            "OTHER"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscription was created.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Subscription is active and working.",
            "Subscription is failing. Notifications cannot be published for some reason.",
            "Subscription has been deleted and is pending purge. Notifications are not sent for deleted subscriptions. Deleted subscriptions are purged after their `purge_time` has passed."
          ],
          "description": "Output only. The state of the subscription.",
          "enum": [
            "STATE_UNSPECIFIED",
            "WORKING",
            "FAILING",
            "DELETED"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the support event subscription.",
          "type": "string"
        },
        "purgeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription will be purged."
        },
        "deleteTime": {
          "description": "Output only. The time at which the subscription was deleted.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "DiffVersionResponse": {
      "type": "object",
      "id": "DiffVersionResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "productLine": {
          "type": "string",
          "description": "The product line of the Product.",
          "enum": [
            "PRODUCT_LINE_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "GOOGLE_MAPS"
          ],
          "enumDescriptions": [
            "Unknown product type.",
            "Google Cloud",
            "Google Maps"
          ]
        }
      },
      "id": "Product",
      "description": "The product a case may be associated with."
    },
    "DownloadParameters": {
      "properties": {
        "ignoreRange": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        }
      },
      "id": "DownloadParameters",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SearchCaseClassificationsResponse": {
      "type": "object",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "properties": {
        "caseClassifications": {
          "description": "The classifications retrieved.",
          "type": "array",
          "items": {
            "$ref": "CaseClassification"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `caseClassifications.list` requests. If unspecified, there are no more results to retrieve."
        }
      },
      "id": "SearchCaseClassificationsResponse"
    },
    "ShowFeedResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ShowFeedRequests`. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "feedItems": {
          "description": "The list of feed items associated with the given Case.",
          "items": {
            "$ref": "FeedItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ShowFeedResponse",
      "description": "The response message for the ShowFeed endpoint."
    },
    "EscalateCaseRequest": {
      "id": "EscalateCaseRequest",
      "type": "object",
      "description": "The request message for the EscalateCase endpoint.",
      "properties": {
        "escalation": {
          "description": "The escalation information to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      }
    },
    "ListAttachmentsResponse": {
      "id": "ListAttachmentsResponse",
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The list of attachments associated with a case.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "description": "The response message for the ListAttachments endpoint.",
      "type": "object"
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "type": "object",
      "properties": {
        "chunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CreateAttachmentRequest": {
      "description": "The request message for the CreateAttachment endpoint.",
      "properties": {
        "attachment": {
          "description": "Required. The attachment to be created.",
          "$ref": "Attachment"
        }
      },
      "id": "CreateAttachmentRequest",
      "type": "object"
    },
    "ListCommentsResponse": {
      "description": "The response message for the ListComments endpoint.",
      "type": "object",
      "id": "ListCommentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.comments.list` requests. If unspecified, there are no more results to retrieve."
        },
        "comments": {
          "description": "List of the comments associated with the case.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      }
    },
    "Case": {
      "type": "object",
      "id": "Case",
      "description": "A Case is an object that contains the details of a support case. It contains fields for the time it was created, its priority, its classification, and more. Cases can also have comments and attachments that get added over time. A case is parented by a Google Cloud organization or project. Organizations are identified by a number, so the name of a case parented by an organization would look like this: ``` organizations/123/cases/456 ``` Projects have two unique identifiers, an ID and a number, and they look like this: ``` projects/abc/cases/456 ``` ``` projects/123/cases/456 ``` You can use either of them when calling the API. To learn more about project identifiers, see [AIP-2510](https://google.aip.dev/cloud/2510).",
      "properties": {
        "escalated": {
          "description": "Whether the case is currently escalated.",
          "type": "boolean"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "testCase": {
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "priority": {
          "description": "The priority of this case.",
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses to receive updates on this case."
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this case was last updated.",
          "type": "string"
        },
        "creator": {
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support.",
          "$ref": "Actor"
        },
        "languageCode": {
          "type": "string",
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours"
        },
        "classification": {
          "description": "The issue classification applicable to this case.",
          "$ref": "CaseClassification"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this case was created.",
          "type": "string"
        },
        "severity": {
          "description": "REMOVED. The severity of this case. Use priority instead.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ]
        },
        "contactEmail": {
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "description": "Output only. The current status of the support case.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ]
        },
        "name": {
          "description": "Identifier. The resource name for the case.",
          "type": "string"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "description": "An Attachment contains metadata about a file that was uploaded to a case - it is NOT a file itself. That being said, the name of an Attachment object can be used to download its accompanying file through the `media.download` endpoint. While attachments can be uploaded in the console at the same time as a comment, they're associated on a \"case\" level, not a \"comment\" level.",
      "properties": {
        "creator": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the attachment in bytes.",
          "readOnly": true
        },
        "filename": {
          "type": "string",
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`)."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the attachment.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the attachment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string"
        }
      },
      "id": "Attachment"
    },
    "UndeleteSupportEventSubscriptionRequest": {
      "id": "UndeleteSupportEventSubscriptionRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for UndeleteSupportEventSubscription."
    },
    "CompositeMedia": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "referenceType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ]
        },
        "inline": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha1Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer",
          "format": "uint32"
        },
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "CompositeMedia"
    },
    "Blobstore2Info": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "downloadReadHandle": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "uploadFragmentListCreationInfo": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "readToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "id": "Blobstore2Info"
    },
    "Comment": {
      "description": "A comment associated with a support case. Case comments are the primary way for Google Support to communicate with a user who has opened a case. When a user responds to Google Support, the user's responses also appear as comments.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the comment was created."
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user or Google Support agent who created the comment.",
          "$ref": "Actor"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the comment."
        },
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 12800 characters."
        },
        "plainTextBody": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. DEPRECATED. DO NOT USE. A duplicate of the `body` field. This field is only present for legacy reasons."
        }
      },
      "id": "Comment",
      "type": "object"
    },
    "DiffDownloadResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "type": "object"
    },
    "Media": {
      "id": "Media",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        },
        "diffVersionResponse": {
          "$ref": "DiffVersionResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "inline": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "downloadParameters": {
          "$ref": "DownloadParameters",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "type": "integer",
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "contentType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "referenceType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ]
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "filename": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "mediaId": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "timestamp": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "uint64"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "type": "string"
        },
        "hashVerified": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "sha256Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "hash": {
          "deprecated": true,
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "compositeMedia": {
          "description": "# gdata.* are outside protos with mising documentation",
          "items": {
            "$ref": "CompositeMedia"
          },
          "type": "array"
        },
        "sha512Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object"
    },
    "ListCasesResponse": {
      "id": "ListCasesResponse",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the parent after any filters have been applied.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "description": "The response message for the ListCases endpoint."
    },
    "SearchCasesResponse": {
      "description": "The response message for the SearchCases endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.search` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "cases": {
          "description": "The list of cases associated with the parent after any filters have been applied.",
          "type": "array",
          "items": {
            "$ref": "Case"
          }
        }
      },
      "type": "object",
      "id": "SearchCasesResponse"
    },
    "FeedItem": {
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Output only. An attachment attached to the case.",
          "readOnly": true
        },
        "eventTime": {
          "description": "Output only. Time corresponding to the event of this item.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "emailMessage": {
          "readOnly": true,
          "$ref": "EmailMessage",
          "description": "Output only. An email message received in reply to the case."
        },
        "comment": {
          "readOnly": true,
          "$ref": "Comment",
          "description": "Output only. A comment added to the case."
        },
        "deletedAttachment": {
          "description": "Output only. A deleted attachment that used to be associated with the support case.",
          "$ref": "Attachment",
          "readOnly": true
        }
      },
      "id": "FeedItem",
      "description": "A feed item associated with a support case.",
      "type": "object"
    },
    "CaseClassification": {
      "properties": {
        "product": {
          "$ref": "Product",
          "description": "The full product the classification corresponds to."
        },
        "id": {
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail.",
          "type": "string"
        },
        "displayName": {
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field.",
          "type": "string"
        }
      },
      "description": "A Case Classification represents the topic that a case is about. It's very important to use accurate classifications, because they're used to route your cases to specialists who can help you. A classification always has an ID that is its unique identifier. A valid ID is required when creating a case.",
      "id": "CaseClassification",
      "type": "object"
    },
    "ListSupportEventSubscriptionsResponse": {
      "description": "Response message for ListSupportEventSubscriptions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "supportEventSubscriptions": {
          "items": {
            "$ref": "SupportEventSubscription"
          },
          "type": "array",
          "description": "The support event subscriptions."
        }
      },
      "type": "object",
      "id": "ListSupportEventSubscriptionsResponse"
    },
    "Escalation": {
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "description": "Required. The reason why the Case is being escalated."
        },
        "justification": {
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated.",
          "type": "string"
        }
      },
      "description": "An escalation of a support case.",
      "type": "object",
      "id": "Escalation"
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      }
    },
    "ObjectId": {
      "id": "ObjectId",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "generation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CloseCaseRequest": {
      "description": "The request message for the CloseCase endpoint.",
      "properties": {},
      "id": "CloseCaseRequest",
      "type": "object"
    },
    "EmailMessage": {
      "id": "EmailMessage",
      "description": "An email associated with a support case.",
      "properties": {
        "bodyContent": {
          "$ref": "TextContent",
          "readOnly": true,
          "description": "Output only. The full email message body. A best-effort attempt is made to remove extraneous reply threads."
        },
        "ccEmailAddresses": {
          "description": "Output only. Email addresses CCed on the email.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "actor": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user or Google Support agent that created this email message. This is inferred from the headers on the email message."
        },
        "createTime": {
          "description": "Output only. Time when this email message object was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "subject": {
          "description": "Output only. Subject of the email.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for the email message."
        },
        "recipientEmailAddresses": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Email addresses the email was sent to.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ExpungeSupportEventSubscriptionRequest": {
      "id": "ExpungeSupportEventSubscriptionRequest",
      "description": "Request message for ExpungeSupportEventSubscription.",
      "type": "object",
      "properties": {}
    },
    "ContentTypeInfo": {
      "id": "ContentTypeInfo",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "fromUrlPath": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fusionIdDetectionMetadata": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromFusionId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "supportEventSubscriptions": {
          "methods": {
            "get": {
              "flatPath": "v2beta/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}",
              "description": "Gets a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$support_event_subscription\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().get( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the support event subscription to retrieve. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "id": "cloudsupport.organizations.supportEventSubscriptions.get"
            },
            "expunge": {
              "description": "Expunges a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$support_event_subscription:expunge\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().expunge( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}:expunge",
              "request": {
                "$ref": "ExpungeSupportEventSubscriptionRequest"
              },
              "id": "cloudsupport.organizations.supportEventSubscriptions.expunge",
              "path": "v2beta/{+name}:expunge",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "description": "Required. The name of the support event subscription to expunge. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The fully qualified name of the Cloud resource to list support event subscriptions under. Format: organizations/{organization_id}",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token identifying the page of results to return. If unspecified, the first page is retrieved. When paginating, all other parameters provided to `ListSupportEventSubscriptions` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of support event subscriptions to return.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "showDeleted": {
                  "description": "Optional. Whether to show deleted subscriptions. By default, deleted subscriptions are not returned.",
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Filter expression based on AIP-160. Supported fields: - pub_sub_topic - state Examples: - `pub_sub_topic=\"projects/example-project/topics/example-topic\"` - `state=WORKING` - `pub_sub_topic=\"projects/example-project/topics/example-topic\" AND state=WORKING`",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "cloudsupport.organizations.supportEventSubscriptions.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/organizations/{organizationsId}/supportEventSubscriptions",
              "description": "Lists support event subscriptions. EXAMPLES: cURL: ```shell parent=\"organizations/123456789\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/supportEventSubscriptions\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().list( parent=\"organizations/123456789\" ) print(request.execute()) ```",
              "path": "v2beta/{+parent}/supportEventSubscriptions",
              "response": {
                "$ref": "ListSupportEventSubscriptionsResponse"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "description": "Soft deletes a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request DELETE \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$support_event_subscription\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService).supportEventSubscriptions().delete( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the support event subscription to delete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "location": "path"
                }
              },
              "id": "cloudsupport.organizations.supportEventSubscriptions.delete",
              "flatPath": "v2beta/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}"
            },
            "create": {
              "id": "cloudsupport.organizations.supportEventSubscriptions.create",
              "request": {
                "$ref": "SupportEventSubscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a support event subscription for an organization. EXAMPLES: cURL: ```shell parent=\"organizations/123456789\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"pub_sub_topic\": \"projects/my-project/topics/my-topic\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/supportEventSubscriptions\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().create( parent=\"organizations/123456789\", body={ \"pub_sub_topic\": \"projects/my-project/topics/my-topic\" }, ) print(request.execute()) ```",
              "path": "v2beta/{+parent}/supportEventSubscriptions",
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the support event subscription will be created. Format: organizations/{organization_id}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "flatPath": "v2beta/organizations/{organizationsId}/supportEventSubscriptions"
            },
            "undelete": {
              "request": {
                "$ref": "UndeleteSupportEventSubscriptionRequest"
              },
              "path": "v2beta/{+name}:undelete",
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the support event subscription to undelete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$"
                }
              },
              "id": "cloudsupport.organizations.supportEventSubscriptions.undelete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Undeletes a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$support_event_subscription:undelete\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().undelete( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "flatPath": "v2beta/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}:undelete"
            },
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudsupport.organizations.supportEventSubscriptions.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the support event subscription.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The list of fields to update. The only supported value is pub_sub_topic.",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "description": "Updates a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"pub_sub_topic\": \"projects/my-project/topics/new-topic\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$support_event_subscription?updateMask=pub_sub_topic\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().patch( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\", body={ \"pub_sub_topic\": \"projects/my-project/topics/new-topic\" }, ) print(request.execute()) ```",
              "path": "v2beta/{+name}",
              "flatPath": "v2beta/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}",
              "request": {
                "$ref": "SupportEventSubscription"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "cases": {
      "methods": {
        "create": {
          "path": "v2beta/{+parent}/cases",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "description": "Create a new case and associate it with a parent. It must have the following fields set: `display_name`, `description`, `classification`, and `priority`. If you're just testing the API and don't want to route your case to an agent, set `testCase=true`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"display_name\": \"Test case created by me.\", \"description\": \"a random test case, feel free to close\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, \"time_zone\": \"-07:00\", \"subscriber_email_addresses\": [ \"foo@domain.com\", \"bar@domain.com\" ], \"testCase\": true, \"priority\": \"P3\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().create( parent=\"projects/some-project\", body={ \"displayName\": \"A Test Case\", \"description\": \"This is a test case.\", \"testCase\": True, \"priority\": \"P2\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, }, ) print(request.execute()) ```",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.create",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the parent under which the case should be created.",
              "pattern": "^[^/]+/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "close": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "path": "v2beta/{+name}:close",
          "id": "cloudsupport.cases.close",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "description": "Required. The name of the case to close.",
              "type": "string",
              "required": true
            }
          },
          "description": "Close a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case:close\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().close( name=\"projects/some-project/cases/43595344\" ) print(request.execute()) ```",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Case"
          }
        },
        "escalate": {
          "id": "cloudsupport.cases.escalate",
          "path": "v2beta/{+name}:escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "description": "Escalate a case, starting the Google Cloud Support escalation management process. This operation is only available for some support services. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which ones let you do that. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\" } }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case:escalate\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().escalate( name=\"projects/some-project/cases/43595344\", body={ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\", }, }, ) print(request.execute()) ```",
          "httpMethod": "POST",
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The name of the case to be escalated.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Case"
          }
        },
        "list": {
          "parameters": {
            "productLine": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Unknown product type.",
                "Google Cloud",
                "Google Maps"
              ],
              "description": "The product line to request cases for. If unspecified, only Google Cloud cases will be returned.",
              "enum": [
                "PRODUCT_LINE_UNSPECIFIED",
                "GOOGLE_CLOUD",
                "GOOGLE_MAPS"
              ]
            },
            "filter": {
              "description": "An expression used to filter cases. If it's an empty string, then no filtering happens. Otherwise, the endpoint returns the cases that match the filter. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. EXAMPLES: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            },
            "parent": {
              "description": "Required. The name of a parent to list cases under.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "v2beta/{+parent}/cases",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieve all cases under a parent, but not its children. For example, listing cases under an organization only returns the cases that are directly parented by that organization. To retrieve cases under an organization and its projects, use `cases.search`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().list(parent=\"projects/some-project\") print(request.execute()) ```",
          "id": "cloudsupport.cases.list",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases"
        },
        "showFeed": {
          "httpMethod": "GET",
          "id": "cloudsupport.cases.showFeed",
          "path": "v2beta/{+parent}:showFeed",
          "parameters": {
            "orderBy": {
              "description": "Optional. Field to order feed items by, followed by `asc` or `desc` postfix. The only valid field is `creation_time`. This list is case-insensitive, default sorting order is ascending, and the redundant space characters are insignificant. Example: `creation_time desc`",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A token identifying the page of results to return. If unspecified, it retrieves the first page.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of feed items fetched with each request.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the case for which feed items should be listed.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:showFeed",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ShowFeedResponse"
          },
          "description": "Show items in the feed of this case, including case emails, attachments, and comments."
        },
        "patch": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "A list of attributes of the case that should be updated. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. Be careful - if you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Identifier. The resource name for the case.",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.patch",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "request": {
            "$ref": "Case"
          },
          "description": "Update a case. Only some fields can be updated. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"priority\": \"P1\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case?updateMask=priority\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().patch( name=\"projects/some-project/cases/43112854\", body={ \"displayName\": \"This is Now a New Title\", \"priority\": \"P2\", }, ) print(request.execute()) ```"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The full name of a case to be retrieved."
            }
          },
          "httpMethod": "GET",
          "description": "Retrieve a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/16033687\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().get( name=\"projects/some-project/cases/43595344\", ) print(request.execute()) ```",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "response": {
            "$ref": "Case"
          },
          "path": "v2beta/{+name}",
          "id": "cloudsupport.cases.get"
        },
        "search": {
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "id": "cloudsupport.cases.search",
          "path": "v2beta/cases:search",
          "description": "Search for cases using a query. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases:search\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().search( parent=\"projects/some-project\", query=\"state=OPEN\" ) print(request.execute()) ```",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v2beta/cases:search",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The name of the parent resource to search for cases under."
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "query": {
              "type": "string",
              "description": "An expression used to filter cases. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time>\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`>`). If you are using the `v2` version of the API, you must specify the case parent in the `parent` field. If you provide an empty `query`, all cases under the parent resource will be returned. If you are using the `v2beta` version of the API, you must specify the case parent in the `query` field using one of the two fields below, which are only available for `v2beta`. The `parent` field will be ignored. - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. Examples: For `v2`: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)` - `update_time>\"2020-01-01T00:00:00-05:00\"` For `v2beta`: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            }
          },
          "httpMethod": "GET"
        }
      },
      "resources": {
        "attachments": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve an attachment associated with a support case. EXAMPLES: cURL: ```shell attachment=\"projects/some-project/cases/23598314/attachments/0684M00000P3h1fQAB\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$attachment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .get(name=\"projects/some-project/cases/43595344/attachments/0684M00000P3h1fQAB\") ) print(request.execute()) ```",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Attachment"
              },
              "id": "cloudsupport.cases.attachments.get",
              "path": "v2beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
                  "description": "Required. The name of the attachment to get."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}"
            },
            "list": {
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100. The size of each page can be smaller than the requested page size and can include zero. For example, you could request 100 attachments on one page, receive 0, and then on the next page, receive 90."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                },
                "parent": {
                  "description": "Required. The name of the case for which attachments should be listed.",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "cloudsupport.cases.attachments.list",
              "description": "List all the attachments associated with a support case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/23598314\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case/attachments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "path": "v2beta/{+parent}/attachments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "comments": {
          "methods": {
            "list": {
              "path": "v2beta/{+parent}/comments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the case for which to list comments.",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of comments to fetch. Defaults to 10.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is returned."
                }
              },
              "httpMethod": "GET",
              "id": "cloudsupport.cases.comments.list",
              "description": "List all the comments associated with a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "response": {
                "$ref": "ListCommentsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+/comments/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the comment to retrieve.",
                  "required": true
                }
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments/{commentsId}",
              "description": "Retrieve a comment. EXAMPLES: cURL: ```shell comment=\"projects/some-project/cases/43595344/comments/234567890\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$comment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().comments().get( name=\"projects/some-project/cases/43595344/comments/234567890\", ) print(request.execute()) ```",
              "httpMethod": "GET",
              "path": "v2beta/{+name}",
              "id": "cloudsupport.cases.comments.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Comment"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "description": "Add a new comment to a case. The comment must have the following fields set: `body`. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43591344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"body\": \"This is a test comment.\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .create( parent=\"projects/some-project/cases/43595344\", body={\"body\": \"This is a test comment.\"}, ) ) print(request.execute()) ```",
              "path": "v2beta/{+parent}/comments",
              "response": {
                "$ref": "Comment"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudsupport.cases.comments.create",
              "request": {
                "$ref": "Comment"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the case to which the comment should be added.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "id": "cloudsupport.caseClassifications.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/caseClassifications:search",
          "path": "v2beta/caseClassifications:search",
          "description": "Retrieve valid classifications to use when creating a support case. Classifications are hierarchical. Each classification is a string containing all levels of the hierarchy separated by `\" > \"`. For example, `\"Technical Issue > Compute > Compute Engine\"`. Classification IDs returned by this endpoint are valid for at least six months. When a classification is deactivated, this endpoint immediately stops returning it. After six months, `case.create` requests using the classification will fail. EXAMPLES: cURL: ```shell curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ 'https://cloudsupport.googleapis.com/v2beta/caseClassifications:search?query=display_name:\"*Compute%20Engine*\"' ``` Python: ```python import googleapiclient.discovery supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=\"v2beta\", discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version=v2\", ) request = supportApiService.caseClassifications().search( query='display_name:\"*Compute Engine*\"' ) print(request.execute()) ```",
          "parameters": {
            "product.productLine": {
              "enumDescriptions": [
                "Unknown product type.",
                "Google Cloud",
                "Google Maps"
              ],
              "enum": [
                "PRODUCT_LINE_UNSPECIFIED",
                "GOOGLE_CLOUD",
                "GOOGLE_MAPS"
              ],
              "location": "query",
              "type": "string",
              "description": "The product line of the Product."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of classifications fetched with each request.",
              "format": "int32",
              "type": "integer"
            },
            "query": {
              "description": "An expression used to filter case classifications. If it's an empty string, then no filtering happens. Otherwise, case classifications will be returned that match the filter.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/{+parent}/attachments",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the case or Cloud resource to which the attachment should be attached.",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "id": "cloudsupport.media.upload",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Attachment"
          },
          "description": "Create a file attachment on a case or Cloud resource. The attachment must have the following fields set: `filename`. EXAMPLES: cURL: ```shell echo \"This text is in a file I'm uploading using CSAPI.\" \\ > \"./example_file.txt\" case=\"projects/some-project/cases/43594844\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --data-binary @\"./example_file.txt\" \\ \"https://cloudsupport.googleapis.com/upload/v2beta/$case/attachments?attachment.filename=uploaded_via_curl.txt\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) file_path = \"./example_file.txt\" with open(file_path, \"w\") as file: file.write( \"This text is inside a file I'm going to upload using the Cloud Support API.\", ) request = supportApiService.media().upload( parent=\"projects/some-project/cases/43595344\", media_body=file_path ) request.uri = request.uri.split(\"?\")[0] + \"?attachment.filename=uploaded_via_python.txt\" print(request.execute()) ```",
          "parameterOrder": [
            "parent"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v2beta/{+parent}/attachments",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          }
        },
        "download": {
          "path": "v2beta/{+name}:download",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the file attachment to download.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$"
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudsupport.media.download",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "description": "Download a file attached to a case. When this endpoint is called, no \"response body\" will be returned. Instead, the attachment's blob will be returned. Note: HTTP requests must append \"?alt=media\" to the URL. EXAMPLES: cURL: ```shell name=\"projects/some-project/cases/43594844/attachments/0674M00000WijAnZAJ\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$name:download?alt=media\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.media().download( name=\"projects/some-project/cases/43595344/attachments/0684M00000Pw6pHQAR\" ) request.uri = request.uri.split(\"?\")[0] + \"?alt=media\" print(request.execute()) ```"
        }
      }
    }
  },
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "version_module": true,
  "name": "cloudsupport",
  "canonicalName": "Cloud Support",
  "revision": "20260826",
  "basePath": "",
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest"
}