{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "version": "v1",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "revision": "20260917",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "id": "cloudproductregistry:v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "version_module": true,
  "name": "cloudproductregistry",
  "schemas": {
    "LogicalProductVariant": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc."
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "type": "object",
      "id": "LogicalProductVariant"
    },
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "logicalProducts": {
          "type": "array",
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "LookupEntityResponse": {
      "description": "Response message for LookupEntity.",
      "id": "LookupEntityResponse",
      "properties": {
        "logicalProductVariant": {
          "$ref": "LogicalProductVariant",
          "description": "Matched LogicalProductVariant."
        },
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        }
      },
      "type": "object"
    },
    "ProductSuite": {
      "id": "ProductSuite",
      "type": "object",
      "properties": {
        "logicalProducts": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          }
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}"
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        }
      },
      "description": "Represents a unified grouping of products sharing a common brand and market positioning."
    },
    "ListProductSuitesResponse": {
      "id": "ListProductSuitesResponse",
      "type": "object",
      "properties": {
        "productSuites": {
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListProductSuites."
    },
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "logicalProductVariants": {
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "description": "Matched LogicalProductVariants"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LogicalProduct": {
      "id": "LogicalProduct",
      "type": "object",
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current Lifecycle state of the logical product.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}."
        },
        "variants": {
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "resources": {
    "logicalProducts": {
      "methods": {
        "get": {
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "response": {
            "$ref": "LogicalProduct"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "cloudproductregistry.logicalProducts.get",
          "description": "Gets details of a LogicalProduct.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string"
            }
          }
        },
        "lookupEntity": {
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "httpMethod": "GET",
          "path": "v1/{+lookupUri}:lookupEntity",
          "description": "Look up entities.",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "parameters": {
            "lookupUri": {
              "type": "string",
              "location": "path",
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "required": true
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "path": "v1/logicalProducts",
          "parameters": {
            "filter": {
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "cloudproductregistry.logicalProducts.list",
          "flatPath": "v1/logicalProducts",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "parameterOrder": [],
          "description": "Lists LogicalProducts matching given criteria."
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "parameterOrder": [
                "lookupUri"
              ],
              "path": "v1/{+lookupUri}:lookupEntity",
              "parameters": {
                "lookupUri": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "description": "Look up entities."
            },
            "get": {
              "description": "Get details of a LogicalProductVariant.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists LogicalProductVariants matching given criteria.",
              "path": "v1/{+parent}/variants",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+$",
                  "required": true,
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              }
            }
          }
        }
      }
    },
    "productSuites": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1/productSuites",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "path": "v1/productSuites",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "id": "cloudproductregistry.productSuites.list",
          "parameterOrder": [],
          "description": "Lists ProductSuites."
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "pattern": "^productSuites/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Get details of a ProductSuite.",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "response": {
            "$ref": "ProductSuite"
          },
          "id": "cloudproductregistry.productSuites.get",
          "path": "v1/{+name}"
        },
        "lookupEntity": {
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "description": "Look up entities.",
          "path": "v1/{+lookupUri}:lookupEntity",
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "parameters": {
            "lookupUri": {
              "location": "path",
              "type": "string",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "pattern": "^productSuites/[^/]+$",
              "required": true
            }
          },
          "id": "cloudproductregistry.productSuites.lookupEntity"
        }
      }
    }
  },
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "batchPath": "batch",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "canonicalName": "Cloud Product Registry",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud Product Registry API"
}