{
  "batchPath": "batch",
  "id": "clouddeploy:v1",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "canonicalName": "Cloud Deploy",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "documentationLink": "https://cloud.google.com/deploy/",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "title": "Cloud Deploy API",
  "schemas": {
    "SkaffoldGCSSource": {
      "id": "SkaffoldGCSSource",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. Cloud Storage source paths to copy recursively. For example, providing \"gs://my-bucket/dir/configs/*\" will result in Skaffold copying all files within the \"dir/configs\" directory in the bucket \"my-bucket\".",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Optional. Relative path from the source to the Skaffold file."
        }
      },
      "description": "Cloud Storage bucket containing Skaffold Config modules."
    },
    "TerminateJobRunRequest": {
      "properties": {
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request object used by `TerminateJobRun`.",
      "id": "TerminateJobRunRequest"
    },
    "Postdeploy": {
      "type": "object",
      "properties": {
        "tasks": {
          "description": "Optional. The tasks that will run as a part of the postdeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        },
        "actions": {
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the postdeploy job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Postdeploy",
      "description": "Postdeploy contains the postdeploy job configuration information."
    },
    "TargetsTypeCondition": {
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type.",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters."
        },
        "errorDetails": {
          "description": "Human readable error message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetsTypeCondition"
    },
    "AnalysisJobRun": {
      "type": "object",
      "properties": {
        "alertPolicyAnalyses": {
          "type": "array",
          "description": "Output only. The status of the running alert policy checks configured for this analysis.",
          "items": {
            "$ref": "AlertPolicyCheckStatus"
          },
          "readOnly": true
        },
        "customCheckAnalyses": {
          "description": "Output only. The status of the running custom checks configured for this analysis.",
          "type": "array",
          "items": {
            "$ref": "CustomCheckStatus"
          },
          "readOnly": true
        },
        "failedCheckId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the configured check that failed. This will always be blank while the analysis is in progress or if it succeeded."
        }
      },
      "description": "AnalysisJobRun contains information specific to an analysis `JobRun`.",
      "id": "AnalysisJobRun"
    },
    "RetryPhase": {
      "description": "RetryPhase contains the retry attempts and the metadata for initiating a new attempt.",
      "type": "object",
      "properties": {
        "attempts": {
          "description": "Output only. Detail of a retry action.",
          "readOnly": true,
          "items": {
            "$ref": "RetryAttempt"
          },
          "type": "array"
        },
        "totalAttempts": {
          "readOnly": true,
          "description": "Output only. The number of attempts that have been made.",
          "type": "string",
          "format": "int64"
        },
        "backoffMode": {
          "type": "string",
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ],
          "description": "Output only. The pattern of how the wait time of the retry attempt is calculated.",
          "readOnly": true,
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ]
        }
      },
      "id": "RetryPhase"
    },
    "DeployPolicyNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_notification\". Platform Log event that describes the failure to send a pub/sub notification when there is a DeployPolicy status change.",
      "properties": {
        "deployPolicy": {
          "type": "string",
          "description": "The name of the `DeployPolicy`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "message": {
          "description": "Debug message for when a deploy policy fails to send a pub/sub notification.",
          "type": "string"
        },
        "deployPolicyUid": {
          "type": "string",
          "description": "Unique identifier of the deploy policy."
        }
      },
      "id": "DeployPolicyNotificationEvent",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "PipelineCondition": {
      "type": "object",
      "description": "PipelineCondition contains all conditions relevant to a Delivery Pipeline.",
      "id": "PipelineCondition",
      "properties": {
        "pipelineReadyCondition": {
          "$ref": "PipelineReadyCondition",
          "description": "Details around the Pipeline's overall status."
        },
        "targetsTypeCondition": {
          "description": "Details on the whether the targets enumerated in the pipeline are of the same type.",
          "$ref": "TargetsTypeCondition"
        },
        "targetsPresentCondition": {
          "description": "Details around targets enumerated in the pipeline.",
          "$ref": "TargetsPresentCondition"
        }
      }
    },
    "AutomationRunEvent": {
      "type": "object",
      "properties": {
        "automationRun": {
          "description": "The name of the `AutomationRun`.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "automationId": {
          "description": "Identifier of the `Automation`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change.",
          "type": "string"
        },
        "ruleId": {
          "description": "Identifier of the `Automation` rule.",
          "type": "string"
        },
        "destinationTargetId": {
          "description": "ID of the `Target` to which the `AutomationRun` is created.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation_run\" Platform Log event that describes the AutomationRun related events.",
      "id": "AutomationRunEvent"
    },
    "ListDeliveryPipelinesResponse": {
      "id": "ListDeliveryPipelinesResponse",
      "description": "The response object from `ListDeliveryPipelines`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "deliveryPipelines": {
          "items": {
            "$ref": "DeliveryPipeline"
          },
          "description": "The `DeliveryPipeline` objects.",
          "type": "array"
        }
      }
    },
    "AdvanceChildRolloutJobRun": {
      "properties": {
        "rolloutPhaseId": {
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "readOnly": true,
          "type": "string"
        },
        "rollout": {
          "readOnly": true,
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdvanceChildRolloutJobRun",
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`."
    },
    "KubernetesRenderMetadata": {
      "type": "object",
      "description": "KubernetesRenderMetadata contains Kubernetes information associated with a `Release` render.",
      "properties": {
        "canaryDeployment": {
          "readOnly": true,
          "description": "Output only. Name of the canary version of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a canary deployment strategy was configured.",
          "type": "string"
        },
        "kubernetesNamespace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Namespace the Kubernetes resources will be applied to in the GKE cluster. Only set if applying resources to a single namespace."
        },
        "deployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a single Deployment was provided in the rendered manifest."
        }
      },
      "id": "KubernetesRenderMetadata"
    },
    "CloudRunLocation": {
      "description": "Information specifying where to deploy a Cloud Run Service.",
      "type": "object",
      "id": "CloudRunLocation",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`."
        }
      }
    },
    "ReleaseRenderEvent": {
      "properties": {
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "release": {
          "type": "string",
          "description": "The name of the release. release_uid is not in this log message because we write some of these log messages at release creation time, before we've generated the uid."
        },
        "type": {
          "description": "Type of this notification, e.g. for a release render state change event.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states."
        },
        "releaseRenderState": {
          "description": "The state of the release render.",
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "type": "string"
        }
      },
      "id": "ReleaseRenderEvent",
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change."
    },
    "WeeklyWindow": {
      "properties": {
        "endTime": {
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week."
        },
        "daysOfWeek": {
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "description": "Optional. Days of week. If left empty, all days of the week will be included.",
          "type": "array"
        }
      },
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight.",
      "id": "WeeklyWindow",
      "type": "object"
    },
    "AdvanceRolloutRule": {
      "type": "object",
      "properties": {
        "sourcePhases": {
          "description": "Optional. Proceeds only after phase name matched any one in the list. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        },
        "wait": {
          "description": "Optional. How long to wait after a rollout is finished.",
          "format": "google-duration",
          "type": "string"
        },
        "condition": {
          "readOnly": true,
          "$ref": "AutomationRuleCondition",
          "description": "Output only. Information around the state of the Automation rule."
        }
      },
      "description": "The `AdvanceRollout` automation rule will automatically advance a successful Rollout to the next phase.",
      "id": "AdvanceRolloutRule"
    },
    "PipelineReadyCondition": {
      "type": "object",
      "id": "PipelineReadyCondition",
      "description": "PipelineReadyCondition contains information around the status of the Pipeline.",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time the condition was updated."
        }
      }
    },
    "TargetAttribute": {
      "description": "Contains criteria for selecting Targets. This could be used to select targets for a Deploy Policy or for an Automation.",
      "id": "TargetAttribute",
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional. ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name * \"*\", all targets in a location",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Target labels.",
          "type": "object"
        }
      }
    },
    "PolicyRule": {
      "description": "Deploy Policy rule.",
      "type": "object",
      "properties": {
        "rolloutRestriction": {
          "$ref": "RolloutRestriction",
          "description": "Optional. Rollout restrictions."
        }
      },
      "id": "PolicyRule"
    },
    "PromoteReleaseOperation": {
      "type": "object",
      "description": "Contains the information of an automated promote-release operation.",
      "properties": {
        "rollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`."
        },
        "phase": {
          "readOnly": true,
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "type": "string"
        },
        "wait": {
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration",
          "readOnly": true
        },
        "targetId": {
          "readOnly": true,
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "type": "string"
        }
      },
      "id": "PromoteReleaseOperation"
    },
    "AutomationResourceSelector": {
      "description": "AutomationResourceSelector contains the information to select the resources to which an Automation is going to be applied.",
      "id": "AutomationResourceSelector",
      "type": "object",
      "properties": {
        "targets": {
          "description": "Optional. Contains attributes about a target.",
          "type": "array",
          "items": {
            "$ref": "TargetAttribute"
          }
        }
      }
    },
    "Stage": {
      "id": "Stage",
      "properties": {
        "deployParameters": {
          "items": {
            "$ref": "DeployParameters"
          },
          "type": "array",
          "description": "Optional. The deploy parameters to use for the target in this stage."
        },
        "profiles": {
          "description": "Optional. Skaffold profiles to use when rendering the manifest for this stage's `Target`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetId": {
          "description": "Optional. The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects/project/locations/location/targets/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`.",
          "type": "string"
        },
        "strategy": {
          "$ref": "Strategy",
          "description": "Optional. The strategy to use for a `Rollout` to this stage."
        }
      },
      "description": "Stage specifies a location to which to deploy.",
      "type": "object"
    },
    "Predeploy": {
      "id": "Predeploy",
      "description": "Predeploy contains the predeploy job configuration information.",
      "properties": {
        "actions": {
          "type": "array",
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the predeploy job.",
          "items": {
            "type": "string"
          }
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the predeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified."
        }
      },
      "type": "object"
    },
    "TargetNotificationEvent": {
      "id": "TargetNotificationEvent",
      "properties": {
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "The name of the `Target`."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification.",
      "type": "object"
    },
    "CreateChildRolloutJob": {
      "id": "CreateChildRolloutJob",
      "description": "A createChildRollout Job.",
      "type": "object",
      "properties": {}
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "SkaffoldVersion": {
      "properties": {
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "maintenanceModeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this version of Skaffold will enter maintenance mode."
        },
        "supportEndDate": {
          "description": "Date when this version is expected to no longer be supported.",
          "$ref": "Date"
        },
        "supportExpirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this version of Skaffold will no longer be supported."
        }
      },
      "id": "SkaffoldVersion",
      "type": "object",
      "description": "Details of a supported Skaffold version."
    },
    "ListCustomTargetTypesResponse": {
      "type": "object",
      "properties": {
        "customTargetTypes": {
          "type": "array",
          "items": {
            "$ref": "CustomTargetType"
          },
          "description": "The `CustomTargetType` objects."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCustomTargetTypesResponse",
      "description": "The response object from `ListCustomTargetTypes.`"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Targets": {
      "id": "Targets",
      "properties": {
        "destinationTargetId": {
          "description": "Optional. The destination target ID.",
          "type": "string"
        },
        "sourceTargetId": {
          "type": "string",
          "description": "Optional. The source target ID."
        }
      },
      "type": "object",
      "description": "The targets involved in a single timed promotion."
    },
    "RollbackTargetConfig": {
      "properties": {
        "rollout": {
          "$ref": "Rollout",
          "description": "Optional. The rollback `Rollout` to create."
        },
        "startingPhaseId": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        }
      },
      "description": "Configs for the Rollback rollout.",
      "id": "RollbackTargetConfig",
      "type": "object"
    },
    "AdvanceRolloutResponse": {
      "type": "object",
      "properties": {},
      "id": "AdvanceRolloutResponse",
      "description": "The response object from `AdvanceRollout`."
    },
    "Verify": {
      "type": "object",
      "id": "Verify",
      "description": "Verify contains the verify job configuration information.",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Optional. The tasks that will run as a part of the verify job. The tasks are executed sequentially in the order specified."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Task": {
      "type": "object",
      "description": "A Task represents a unit of work that is executed as part of a Job.",
      "id": "Task",
      "properties": {
        "container": {
          "description": "Optional. This task is represented by a container that is executed in the Cloud Build execution environment.",
          "$ref": "ContainerTask"
        }
      }
    },
    "CloudRunMetadata": {
      "properties": {
        "serviceUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "readOnly": true
        },
        "previousRevision": {
          "description": "Output only. The previous Cloud Run Revision name associated with a `Rollout`. Only set when a canary deployment strategy is configured. Format for service is projects/{project}/locations/{location}/services/{service}/revisions/{revision}. Format for worker pool is projects/{project}/locations/{location}/workerPools/{workerpool}/revisions/{revision}.",
          "readOnly": true,
          "type": "string"
        },
        "service": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/services/{service}`."
        },
        "workerPool": {
          "type": "string",
          "description": "Output only. The Cloud Run worker pool associated with a `Rollout`. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "readOnly": true
        },
        "job": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Cloud Run job that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/jobs/{job_name}`."
        },
        "revision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`."
        }
      },
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "id": "CloudRunMetadata",
      "type": "object"
    },
    "TargetArtifact": {
      "type": "object",
      "description": "The artifacts produced by a target render operation.",
      "id": "TargetArtifact",
      "properties": {
        "phaseArtifacts": {
          "description": "Output only. Map from the phase ID to the phase artifacts for the `Target`.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "PhaseArtifact"
          }
        },
        "artifactUri": {
          "type": "string",
          "description": "Output only. URI of a directory containing the artifacts. This contains deployment configuration used by Skaffold during a rollout, and all paths are relative to this location.",
          "readOnly": true
        },
        "manifestPath": {
          "description": "Output only. File path of the rendered manifest relative to the URI for the stable phase.",
          "readOnly": true,
          "type": "string"
        },
        "skaffoldConfigPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. File path of the resolved Skaffold configuration for the stable phase, relative to the URI."
        }
      }
    },
    "CustomCanaryDeployment": {
      "type": "object",
      "id": "CustomCanaryDeployment",
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration.",
      "properties": {
        "phaseConfigs": {
          "type": "array",
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "items": {
            "$ref": "PhaseConfig"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object"
    },
    "RepairRolloutRule": {
      "description": "The `RepairRolloutRule` automation rule will automatically repair a failed `Rollout`.",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Jobs to repair. Proceeds only after job name matched any one in the list, or for all jobs if unspecified or empty. The phase that includes the job must match the phase ID specified in `source_phase`. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        },
        "condition": {
          "description": "Output only. Information around the state of the 'Automation' rule.",
          "$ref": "AutomationRuleCondition",
          "readOnly": true
        },
        "phases": {
          "description": "Optional. Phases within which jobs are subject to automatic repair actions on failure. Proceeds only after phase name matched any one in the list, or for all phases if unspecified. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "repairPhases": {
          "description": "Required. Defines the types of automatic repair phases for failed jobs.",
          "items": {
            "$ref": "RepairPhaseConfig"
          },
          "type": "array"
        },
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        }
      },
      "id": "RepairRolloutRule",
      "type": "object"
    },
    "DeployPolicy": {
      "type": "object",
      "properties": {
        "rules": {
          "description": "Required. Rules to apply. At least one rule must be present.",
          "type": "array",
          "items": {
            "$ref": "PolicyRule"
          }
        },
        "description": {
          "description": "Optional. Description of the `DeployPolicy`. Max length is 255 characters.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the `DeployPolicy`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the deploy policy was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. When suspended, the policy will not prevent actions from occurring, even if the action violates the policy."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the deploy policy was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The weak etag of the `DeployPolicy` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "selectors": {
          "description": "Required. Selected resources to which the policy will be applied. At least one selector is required. If one selector matches the resource the policy applies. For example, if there are two selectors and the action being attempted matches one of them, the policy will apply to that action.",
          "items": {
            "$ref": "DeployPolicyResourceSelector"
          },
          "type": "array"
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DeployPolicy",
      "description": "A `DeployPolicy` resource in the Cloud Deploy API. A `DeployPolicy` inhibits manual or automation-driven actions within a Delivery Pipeline or Target."
    },
    "IgnoreJobResponse": {
      "id": "IgnoreJobResponse",
      "type": "object",
      "properties": {},
      "description": "The response object from `IgnoreJob`."
    },
    "PredeployJobRun": {
      "type": "object",
      "description": "PredeployJobRun contains information specific to a predeploy `JobRun`.",
      "id": "PredeployJobRun",
      "properties": {
        "metadata": {
          "$ref": "PredeployJobRunMetadata",
          "description": "Output only. Metadata containing information about the predeploy `JobRun`.",
          "readOnly": true
        },
        "build": {
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the predeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true
        },
        "failureMessage": {
          "readOnly": true,
          "description": "Output only. Additional information about the predeploy failure, if available.",
          "type": "string"
        },
        "failureCause": {
          "type": "string",
          "description": "Output only. The reason the predeploy failed. This will always be unspecified while the predeploy is in progress or if it succeeded.",
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The predeploy operation did not complete successfully; check Cloud Build logs.",
            "The predeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        }
      }
    },
    "PostdeployJob": {
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The tasks that are executed as part of the postdeploy Job."
        },
        "actions": {
          "readOnly": true,
          "description": "Output only. The custom actions that the postdeploy Job executes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A postdeploy Job.",
      "type": "object",
      "id": "PostdeployJob"
    },
    "VerifyJobRun": {
      "type": "object",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "properties": {
        "build": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`."
        },
        "artifactUri": {
          "readOnly": true,
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "type": "string"
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the verify failure, if available."
        },
        "eventLogPath": {
          "readOnly": true,
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "type": "string"
        },
        "metadata": {
          "$ref": "VerifyJobRunMetadata",
          "description": "Output only. Metadata containing information about the verify `JobRun`.",
          "readOnly": true
        },
        "failureCause": {
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify job run did not complete within the allotted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "type": "string"
        }
      },
      "id": "VerifyJobRun"
    },
    "Release": {
      "properties": {
        "deliveryPipelineSnapshot": {
          "$ref": "DeliveryPipeline",
          "readOnly": true,
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetArtifacts": {
          "additionalProperties": {
            "$ref": "TargetArtifact"
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. Map from target ID to the target artifacts created during the render operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Release` was created."
        },
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "renderState": {
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "readOnly": true,
          "description": "Output only. Current state of the render operation.",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "type": "string"
        },
        "renderStartTime": {
          "description": "Output only. Time at which the render began.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "abandoned": {
          "description": "Output only. Indicates whether this is an abandoned release.",
          "readOnly": true,
          "type": "boolean"
        },
        "skaffoldVersion": {
          "type": "string",
          "description": "Optional. The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used."
        },
        "condition": {
          "description": "Output only. Information around the state of the Release.",
          "readOnly": true,
          "$ref": "ReleaseCondition"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Release`.",
          "type": "string",
          "readOnly": true
        },
        "targetRenders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TargetRender"
          },
          "readOnly": true,
          "description": "Output only. Map from target ID to details of the render operation for that target."
        },
        "renderEndTime": {
          "type": "string",
          "description": "Output only. Time at which the render completed.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Release`. Max length is 255 characters."
        },
        "skaffoldConfigPath": {
          "description": "Optional. Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "toolVersions": {
          "description": "Optional. The tool versions to use for this release and all subsequent operations involving this release. If unset, tool versions are frozen when the release is created.",
          "$ref": "ToolVersions"
        },
        "buildArtifacts": {
          "description": "Optional. List of artifacts to pass through to Skaffold command.",
          "type": "array",
          "items": {
            "$ref": "BuildArtifact"
          }
        },
        "customTargetTypeSnapshots": {
          "description": "Output only. Snapshot of the custom target types referenced by the targets taken at release creation time.",
          "readOnly": true,
          "items": {
            "$ref": "CustomTargetType"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Name of the `Release`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}`. The `release` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "deployParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The deploy parameters to use for all targets in this release."
        },
        "skaffoldConfigUri": {
          "description": "Optional. Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "targetSnapshots": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "readOnly": true,
          "description": "Output only. Snapshot of the targets taken at release creation time."
        }
      },
      "id": "Release",
      "type": "object",
      "description": "A `Release` resource in the Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed."
    },
    "TargetRender": {
      "description": "Details of rendering for a single target.",
      "properties": {
        "renderingState": {
          "type": "string",
          "description": "Output only. Current state of the render operation for this Target.",
          "readOnly": true,
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "failureMessage": {
          "description": "Output only. Additional information about the render failure, if available.",
          "type": "string",
          "readOnly": true
        },
        "failureCause": {
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CUSTOM_ACTION_NOT_FOUND",
            "DEPLOYMENT_STRATEGY_NOT_SUPPORTED",
            "RENDER_FEATURE_NOT_SUPPORTED"
          ],
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The render operation did not complete successfully because the verification stanza required for verify was not found on the Skaffold configuration.",
            "The render operation did not complete successfully because the custom action(s) required for Rollout jobs were not found in the Skaffold configuration. See failure_message for additional details.",
            "Release failed during rendering because the release configuration is not supported with the specified deployment strategy.",
            "The render operation had a feature configured that is not supported."
          ],
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata related to the `Release` render for this Target.",
          "$ref": "RenderMetadata"
        }
      },
      "type": "object",
      "id": "TargetRender"
    },
    "DeliveryPipeline": {
      "description": "A `DeliveryPipeline` resource in the Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress.",
      "properties": {
        "serialPipeline": {
          "description": "Optional. SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
          "$ref": "SerialPipeline"
        },
        "name": {
          "description": "Identifier. Name of the `DeliveryPipeline`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}`. The `deliveryPipeline` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the pipeline was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "suspended": {
          "description": "Optional. When suspended, no new releases or rollouts can be created, but in-progress ones will complete.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "condition": {
          "description": "Output only. Information around the state of the Delivery Pipeline.",
          "readOnly": true,
          "$ref": "PipelineCondition"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `DeliveryPipeline`. Max length is 255 characters."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Most recent time at which the pipeline was updated."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DeliveryPipeline",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "RolloutNotificationEvent": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target` that the rollout is deployed to."
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification.",
      "id": "RolloutNotificationEvent"
    },
    "AlertPolicyCheckStatus": {
      "properties": {
        "alertPolicies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The alert policies that this analysis monitors. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "readOnly": true
        },
        "failedAlertPolicies": {
          "items": {
            "$ref": "FailedAlertPolicy"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The alert policies that were found to be firing during this check. This will be empty if no incidents were found."
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the alert policy check failure, if available. This will be empty if the alert policy check succeeded.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this analysis."
        },
        "labels": {
          "description": "Output only. The resolved labels used to filter for specific incidents.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "AlertPolicyCheckStatus contains information specific to a single run of an alert policy check.",
      "type": "object",
      "id": "AlertPolicyCheckStatus"
    },
    "ContainerTask": {
      "properties": {
        "command": {
          "description": "Optional. Command is the container entrypoint to use. This overrides the default entrypoint defined in the container image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Environment variables that are set in the container."
        },
        "args": {
          "description": "Optional. Args is the container arguments to use. This overrides the default arguments defined in the container image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "description": "Required. Image is the container image to use."
        }
      },
      "type": "object",
      "description": "This task is represented by a container that is executed in the Cloud Build execution environment.",
      "id": "ContainerTask"
    },
    "AutomationRun": {
      "properties": {
        "waitUntilTime": {
          "type": "string",
          "description": "Output only. Earliest time the `AutomationRun` will attempt to resume. Wait-time is configured by `wait` in automation rule.",
          "format": "google-datetime",
          "readOnly": true
        },
        "promoteReleaseOperation": {
          "$ref": "PromoteReleaseOperation",
          "description": "Output only. Promotes a release to a specified 'Target'.",
          "readOnly": true
        },
        "automationSnapshot": {
          "readOnly": true,
          "$ref": "Automation",
          "description": "Output only. Snapshot of the Automation taken at AutomationRun creation time."
        },
        "updateTime": {
          "description": "Output only. Time at which the automationRun was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "advanceRolloutOperation": {
          "$ref": "AdvanceRolloutOperation",
          "description": "Output only. Advances a rollout to the next phase.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `AutomationRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automationRuns/{automation_run}`."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the `AutomationRun` expires. An `AutomationRun` expires after 14 days from its creation date."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `AutomationRun` was created.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. The weak etag of the `AutomationRun` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the user-managed IAM service account that performs the operations against Cloud Deploy resources."
        },
        "stateDescription": {
          "readOnly": true,
          "description": "Output only. Explains the current state of the `AutomationRun`. Present only when an explanation is needed.",
          "type": "string"
        },
        "ruleId": {
          "type": "string",
          "description": "Output only. The ID of the automation rule that initiated the operation.",
          "readOnly": true
        },
        "timedPromoteReleaseOperation": {
          "readOnly": true,
          "description": "Output only. Promotes a release to a specified 'Target' as defined in a Timed Promote Release rule.",
          "$ref": "TimedPromoteReleaseOperation"
        },
        "policyViolation": {
          "description": "Output only. Contains information about what policies prevented the `AutomationRun` from proceeding.",
          "readOnly": true,
          "$ref": "PolicyViolation"
        },
        "repairRolloutOperation": {
          "$ref": "RepairRolloutOperation",
          "readOnly": true,
          "description": "Output only. Repairs a failed 'Rollout'."
        },
        "automationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the automation that initiated the operation."
        },
        "targetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the source target that initiates the `AutomationRun`. The value of this field is the last segment of a target name."
        },
        "state": {
          "enumDescriptions": [
            "The `AutomationRun` has an unspecified state.",
            "The `AutomationRun` has succeeded.",
            "The `AutomationRun` was cancelled.",
            "The `AutomationRun` has failed.",
            "The `AutomationRun` is in progress.",
            "The `AutomationRun` is pending.",
            "The `AutomationRun` was aborted."
          ],
          "type": "string",
          "description": "Output only. Current state of the `AutomationRun`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING",
            "ABORTED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An `AutomationRun` resource in the Cloud Deploy API. An `AutomationRun` represents an execution instance of an automation rule.",
      "id": "AutomationRun"
    },
    "AutomationRuleCondition": {
      "id": "AutomationRuleCondition",
      "description": "`AutomationRuleCondition` contains conditions relevant to an `Automation` rule.",
      "type": "object",
      "properties": {
        "timedPromoteReleaseCondition": {
          "description": "Optional. TimedPromoteReleaseCondition contains rule conditions specific to a an Automation with a timed promote release rule defined.",
          "$ref": "TimedPromoteReleaseCondition"
        },
        "targetsPresentCondition": {
          "$ref": "TargetsPresentCondition",
          "description": "Optional. Details around targets enumerated in the rule."
        }
      }
    },
    "RouteDestinations": {
      "properties": {
        "propagateService": {
          "type": "boolean",
          "description": "Optional. Whether to propagate the Kubernetes Service to the route destination clusters. The Service will always be deployed to the Target cluster even if the HTTPRoute is not. This option may be used to facilitate successful DNS lookup in the route destination clusters. Can only be set to true if destinations are specified."
        },
        "destinationIds": {
          "type": "array",
          "description": "Required. The clusters where the Gateway API HTTPRoute resource will be deployed to. Valid entries include the associated entities IDs configured in the Target resource and \"@self\" to include the Target cluster.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Information about route destinations for the Gateway API service mesh.",
      "id": "RouteDestinations"
    },
    "OneTimeWindow": {
      "id": "OneTimeWindow",
      "description": "One-time window within which actions are restricted. For example, blocking actions over New Year's Eve from December 31st at 5pm to January 1st at 9am.",
      "type": "object",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date."
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Required. End time (exclusive). You may use 24:00 for the end of the day."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Start time (inclusive). Use 00:00 for the beginning of the day."
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date."
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "TerminateJobRunResponse": {
      "type": "object",
      "properties": {},
      "id": "TerminateJobRunResponse",
      "description": "The response object from `TerminateJobRun`."
    },
    "AssociatedEntities": {
      "description": "Information about entities associated with a `Target`.",
      "id": "AssociatedEntities",
      "type": "object",
      "properties": {
        "gkeClusters": {
          "description": "Optional. Information specifying GKE clusters as associated entities.",
          "type": "array",
          "items": {
            "$ref": "GkeCluster"
          }
        },
        "anthosClusters": {
          "description": "Optional. Information specifying Anthos clusters as associated entities.",
          "type": "array",
          "items": {
            "$ref": "AnthosCluster"
          }
        }
      }
    },
    "SkaffoldGCBRepoSource": {
      "id": "SkaffoldGCBRepoSource",
      "type": "object",
      "description": "Cloud Build V2 Repository containing Skaffold Configs.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Required. Name of the Cloud Build V2 Repository. Format is projects/{project}/locations/{location}/connections/{connection}/repositories/{repository}."
        },
        "ref": {
          "type": "string",
          "description": "Optional. Branch or tag to use when cloning the repository."
        },
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold Config file.",
          "type": "string"
        }
      }
    },
    "DeployPolicyResourceSelector": {
      "type": "object",
      "properties": {
        "deliveryPipeline": {
          "description": "Optional. Contains attributes about a delivery pipeline.",
          "$ref": "DeliveryPipelineAttribute"
        },
        "target": {
          "description": "Optional. Contains attributes about a target.",
          "$ref": "TargetAttribute"
        }
      },
      "id": "DeployPolicyResourceSelector",
      "description": "Contains information on the resources to select for a deploy policy. Attributes provided must all match the resource in order for policy restrictions to apply. For example, if delivery pipelines attributes given are an id \"prod\" and labels \"foo: bar\", a delivery pipeline resource must match both that id and have that label in order to be subject to the policy."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateChildRolloutJobRun": {
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`.",
      "properties": {
        "rollout": {
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true,
          "type": "string"
        },
        "rolloutPhaseId": {
          "description": "Output only. The ID of the childRollout Phase initiated by this JobRun.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateChildRolloutJobRun"
    },
    "Strategy": {
      "type": "object",
      "properties": {
        "standard": {
          "$ref": "Standard",
          "description": "Optional. Standard deployment strategy executes a single deploy and allows verifying the deployment."
        },
        "canary": {
          "description": "Optional. Canary deployment strategy provides progressive percentage based deployments to a Target.",
          "$ref": "Canary"
        }
      },
      "id": "Strategy",
      "description": "Strategy contains deployment strategy information."
    },
    "Rollback": {
      "description": "Rolls back a `Rollout`.",
      "properties": {
        "disableRollbackIfRolloutPending": {
          "type": "boolean",
          "description": "Optional. If pending rollout exists on the target, the rollback operation will be aborted."
        },
        "destinationPhase": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        }
      },
      "id": "Rollback",
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object"
    },
    "SkaffoldSupportedCondition": {
      "type": "object",
      "properties": {
        "status": {
          "description": "True if the version of Skaffold used by this release is supported.",
          "type": "boolean"
        },
        "supportExpirationTime": {
          "description": "The time at which this release's version of Skaffold will no longer be supported.",
          "format": "google-datetime",
          "type": "string"
        },
        "maintenanceModeTime": {
          "type": "string",
          "description": "The time at which this release's version of Skaffold will enter maintenance mode.",
          "format": "google-datetime"
        },
        "skaffoldSupportState": {
          "type": "string",
          "enum": [
            "SKAFFOLD_SUPPORT_STATE_UNSPECIFIED",
            "SKAFFOLD_SUPPORT_STATE_SUPPORTED",
            "SKAFFOLD_SUPPORT_STATE_MAINTENANCE_MODE",
            "SKAFFOLD_SUPPORT_STATE_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This Skaffold version is currently supported.",
            "This Skaffold version is in maintenance mode.",
            "This Skaffold version is no longer supported."
          ],
          "description": "The Skaffold support state for this release's version of Skaffold."
        }
      },
      "id": "SkaffoldSupportedCondition",
      "description": "SkaffoldSupportedCondition contains information about when support for the release's version of Skaffold ends."
    },
    "GoogleCloudAnalysis": {
      "type": "object",
      "id": "GoogleCloudAnalysis",
      "properties": {
        "alertPolicyChecks": {
          "type": "array",
          "items": {
            "$ref": "AlertPolicyCheck"
          },
          "description": "Optional. A list of Cloud Monitoring Alert Policy checks to perform as part of the analysis."
        }
      },
      "description": "GoogleCloudAnalysis is a set of Google Cloud-based checks to perform on the deployment."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GatewayServiceMesh": {
      "id": "GatewayServiceMesh",
      "type": "object",
      "description": "Information about the Kubernetes Gateway API service mesh configuration.",
      "properties": {
        "httpRoute": {
          "description": "Required. Name of the Gateway API HTTPRoute.",
          "type": "string"
        },
        "podSelectorLabel": {
          "type": "string",
          "description": "Optional. The label to use when selecting Pods for the Deployment and Service resources. This label must already be present in both resources."
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified HTTPRoute and Service.",
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Service."
        },
        "routeDestinations": {
          "description": "Optional. Route destinations allow configuring the Gateway API HTTPRoute to be deployed to additional clusters. This option is available for multi-cluster service mesh set ups that require the route to exist in the clusters that call the service. If unspecified, the HTTPRoute will only be deployed to the Target cluster.",
          "$ref": "RouteDestinations"
        },
        "stableCutbackDuration": {
          "description": "Optional. The amount of time to migrate traffic back from the canary Service to the original Service during the stable phase deployment. If specified, must be between 15s and 3600s. If unspecified, there is no cutback time.",
          "type": "string",
          "format": "google-duration"
        },
        "routeUpdateWaitTime": {
          "format": "google-duration",
          "description": "Optional. The time to wait for route updates to propagate. The maximum configurable time is 3 hours, in seconds format. If unspecified, there is no wait time.",
          "type": "string"
        }
      }
    },
    "CloudRunConfig": {
      "description": "CloudRunConfig contains the Cloud Run runtime configuration.",
      "properties": {
        "canaryRevisionTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the canary revision while the canary phase is in progress.",
          "type": "array"
        },
        "priorRevisionTags": {
          "description": "Optional. A list of tags that are added to the prior revision while the canary phase is in progress.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "stableRevisionTags": {
          "description": "Optional. A list of tags that are added to the final stable revision when the stable phase is applied.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "automaticTrafficControl": {
          "type": "boolean",
          "description": "Optional. Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments."
        }
      },
      "id": "CloudRunConfig",
      "type": "object"
    },
    "AdvanceRolloutOperation": {
      "properties": {
        "rollout": {
          "readOnly": true,
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "type": "string"
        },
        "wait": {
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration",
          "readOnly": true
        },
        "destinationPhase": {
          "type": "string",
          "description": "Output only. The phase the rollout will be advanced to.",
          "readOnly": true
        },
        "sourcePhase": {
          "readOnly": true,
          "description": "Output only. The phase of a deployment that initiated the operation.",
          "type": "string"
        }
      },
      "id": "AdvanceRolloutOperation",
      "type": "object",
      "description": "Contains the information of an automated advance-rollout operation."
    },
    "RepairRolloutOperation": {
      "type": "object",
      "properties": {
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "repairPhases": {
          "items": {
            "$ref": "RepairPhase"
          },
          "type": "array",
          "description": "Output only. Records of the repair attempts. Each repair phase may have multiple retry attempts or single rollback attempt.",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The job ID for the Job to repair."
        },
        "currentRepairPhaseIndex": {
          "description": "Output only. The index of the current repair action in the repair sequence.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "phaseId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The phase ID of the phase that includes the job being repaired."
        }
      },
      "id": "RepairRolloutOperation",
      "description": "Contains the information for an automated `repair rollout` operation."
    },
    "PostdeployJobRunMetadata": {
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined postdeploy operation.",
          "$ref": "CustomMetadata",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PostdeployJobRunMetadata",
      "description": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "PrivatePool": {
      "properties": {
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`.",
          "type": "string"
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PrivatePool",
[...]
