{
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "traces": {
          "methods": {
            "batchWrite": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.append"
              ],
              "path": "v2/{+name}/traces:batchWrite",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "BatchWriteSpansRequest"
              },
              "flatPath": "v2/projects/{projectsId}/traces:batchWrite",
              "id": "cloudtrace.projects.traces.batchWrite",
              "description": "Batch writes new spans to new or existing traces. You cannot update existing spans. If a span ID already exists, an additional copy of the span will be stored.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project where the spans belong. The format is `projects/[PROJECT_ID]`.",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "spans": {
              "methods": {
                "createSpan": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/trace.append"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new span. If a span ID already exists, an additional copy of the span will be stored.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/traces/[^/]+/spans/[^/]+$",
                      "location": "path",
                      "description": "Identifier. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. .",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/traces/{tracesId}/spans/{spansId}",
                  "response": {
                    "$ref": "Span"
                  },
                  "id": "cloudtrace.projects.traces.spans.createSpan",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "Span"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "protocol": "rest",
  "revision": "20260821",
  "basePath": "",
  "canonicalName": "Cloud Trace",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/trace/",
  "name": "cloudtrace",
  "discoveryVersion": "v1",
  "version": "v2",
  "title": "Cloud Trace API",
  "ownerName": "Google",
  "schemas": {
    "StackTrace": {
      "description": "A call stack appearing in a trace.",
      "type": "object",
      "id": "StackTrace",
      "properties": {
        "stackTraceHashId": {
          "type": "string",
          "description": "Optional. The hash ID is used to conserve network bandwidth for duplicate stack traces within a single trace. Often multiple spans will have identical stack traces. The first occurrence of a stack trace should contain both the `stackFrame` content and a value in `stackTraceHashId`. Subsequent spans within the same request can refer to that stack trace by only setting `stackTraceHashId`.",
          "format": "int64"
        },
        "stackFrames": {
          "$ref": "StackFrames",
          "description": "Optional. Stack frames in this stack trace. A maximum of 128 frames are allowed."
        }
      }
    },
    "TruncatableString": {
      "id": "TruncatableString",
      "properties": {
        "truncatedByteCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of bytes removed from the original string. If this value is 0, then the string was not shortened."
        },
        "value": {
          "type": "string",
          "description": "Optional. The shortened string. For example, if the original string is 500 bytes long and the limit of the string is 128 bytes, then `value` contains the first 128 bytes of the 500-byte string. Truncation always happens on a UTF8 character boundary. If there are multi-byte characters in the string, then the length of the shortened string might be less than the size limit."
        }
      },
      "type": "object",
      "description": "Represents a string that might be shortened to a specified length."
    },
    "BatchWriteSpansRequest": {
      "type": "object",
      "id": "BatchWriteSpansRequest",
      "properties": {
        "spans": {
          "type": "array",
          "description": "Required. A list of new spans. The span names must not match existing spans, otherwise the results are undefined.",
          "items": {
            "$ref": "Span"
          }
        }
      },
      "description": "The request message for the `BatchWriteSpans` method."
    },
    "Links": {
      "description": "A collection of links, which are references from this span to a span in the same or different trace.",
      "type": "object",
      "id": "Links",
      "properties": {
        "droppedLinksCount": {
          "format": "int32",
          "description": "Optional. The number of dropped links after the maximum size was enforced. If this value is 0, then no links were dropped.",
          "type": "integer"
        },
        "link": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Optional. A collection of links."
        }
      }
    },
    "AttributeValue": {
      "id": "AttributeValue",
      "properties": {
        "stringValue": {
          "$ref": "TruncatableString",
          "description": "Optional. A string up to 256 bytes long."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Optional. A 64-bit signed integer."
        },
        "boolValue": {
          "description": "Optional. A Boolean value represented by `true` or `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The allowed types for `[VALUE]` in a `[KEY]:[VALUE]` attribute."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Module": {
      "id": "Module",
      "type": "object",
      "description": "Binary module.",
      "properties": {
        "buildId": {
          "description": "Optional. A unique identifier for the module, usually a hash of its contents (up to 128 bytes).",
          "$ref": "TruncatableString"
        },
        "module": {
          "description": "Optional. For example: main binary, kernel modules, and dynamic libraries such as libc.so, sharedlib.so (up to 256 bytes).",
          "$ref": "TruncatableString"
        }
      }
    },
    "Annotation": {
      "type": "object",
      "id": "Annotation",
      "properties": {
        "description": {
          "description": "Optional. A user-supplied message describing the event. The maximum length for the description is 256 bytes.",
          "$ref": "TruncatableString"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. A set of attributes on the annotation. You can have up to 4 attributes per Annotation."
        }
      },
      "description": "Text annotation with a set of attributes."
    },
    "MessageEvent": {
      "description": "An event describing a message sent/received between Spans.",
      "id": "MessageEvent",
      "properties": {
        "uncompressedSizeBytes": {
          "format": "int64",
          "description": "Optional. The number of uncompressed bytes sent or received.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. An identifier for the MessageEvent's message that can be used to match `SENT` and `RECEIVED` MessageEvents.",
          "format": "int64"
        },
        "compressedSizeBytes": {
          "description": "Optional. The number of compressed bytes sent or received. If missing, the compressed size is assumed to be the same size as the uncompressed size.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Optional. Type of MessageEvent. Indicates whether the message was sent or received.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SENT",
            "RECEIVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown event type.",
            "Indicates a sent message.",
            "Indicates a received message."
          ]
        }
      },
      "type": "object"
    },
    "Span": {
      "id": "Span",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. .",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The end time of the span. On the client side, this is the time kept by the local machine where the span execution ends. On the server side, this is the time when the server application handler stops running."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. A set of attributes on the span. You can have up to 32 attributes per span."
        },
        "links": {
          "$ref": "Links",
          "description": "Optional. Links associated with the span. You can have up to 128 links per Span."
        },
        "startTime": {
          "type": "string",
          "description": "Required. The start time of the span. On the client side, this is the time kept by the local machine where the span execution starts. On the server side, this is the time when the server's application handler starts running.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Optional. The final status for this span.",
          "$ref": "Status"
        },
        "displayName": {
          "$ref": "TruncatableString",
          "description": "Required. A description of the span's operation (up to 128 bytes). Cloud Trace displays the description in the Cloud console. For example, the display name can be a qualified method name or a file name and a line number where the operation is called. A best practice is to use the same display name within an application and at the same call point. This makes it easier to correlate spans in different traces."
        },
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "Optional. Stack trace captured at the start of the span."
        },
        "childSpanCount": {
          "description": "Optional. The number of child spans that were generated while this span was active. If set, allows implementation to detect missing child spans.",
          "type": "integer",
          "format": "int32"
        },
        "sameProcessAsParentSpan": {
          "type": "boolean",
          "description": "Optional. Set this parameter to indicate whether this span is in the same process as its parent. If you do not set this parameter, Trace is unable to take advantage of this helpful information."
        },
        "parentSpanId": {
          "description": "Optional. The `[SPAN_ID]` of this span's parent span. If this is a root span, then this field must be empty.",
          "type": "string"
        },
        "spanId": {
          "type": "string",
          "description": "Required. The `[SPAN_ID]` portion of the span's resource name."
        },
        "timeEvents": {
          "$ref": "TimeEvents",
          "description": "Optional. A set of time events. You can have up to 32 annotations and 128 message events per span."
        },
        "spanKind": {
          "type": "string",
          "description": "Optional. Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call.",
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "INTERNAL",
            "SERVER",
            "CLIENT",
            "PRODUCER",
            "CONSUMER"
          ],
          "enumDescriptions": [
            "Unspecified. Do NOT use as default. Implementations MAY assume SpanKind.INTERNAL to be default.",
            "Indicates that the span is used internally. Default value.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request.",
            "Indicates that the span describes producer sending a message to a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. publishing a message to a pubsub service).",
            "Indicates that the span describes consumer receiving a message from a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. receiving a message from a pubsub service subscription)."
          ]
        }
      },
      "type": "object",
      "description": "A span represents a single operation within a trace. Spans can be nested to form a trace tree. Often, a trace contains a root span that describes the end-to-end latency, and one or more subspans for its sub-operations. A trace can also contain multiple root spans, or none at all. Spans do not need to be contiguous. There might be gaps or overlaps between spans in a trace."
    },
    "StackFrames": {
      "id": "StackFrames",
      "properties": {
        "droppedFramesCount": {
          "type": "integer",
          "description": "Optional. The number of stack frames that were dropped because there were too many stack frames. If this value is 0, then no stack frames were dropped.",
          "format": "int32"
        },
        "frame": {
          "type": "array",
          "items": {
            "$ref": "StackFrame"
          },
          "description": "Optional. Stack frames in this call stack."
        }
      },
      "type": "object",
      "description": "A collection of stack frames, which can be truncated."
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "description": "A pointer from the current span to another span in the same trace or in a different trace. For example, this can be used in batching operations, where a single batch handler processes multiple requests from different traces or when the handler receives a request from a different project.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. The relationship of the current span relative to the linked span.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CHILD_LINKED_SPAN",
            "PARENT_LINKED_SPAN"
          ],
          "enumDescriptions": [
            "The relationship of the two spans is unknown.",
            "The linked span is a child of the current span.",
            "The linked span is a parent of the current span."
          ]
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. A set of attributes on the link. Up to 32 attributes can be specified per link."
        },
        "traceId": {
          "description": "Optional. The `[TRACE_ID]` for a trace within a project.",
          "type": "string"
        },
        "spanId": {
          "type": "string",
          "description": "Optional. The `[SPAN_ID]` for a span within a trace."
        }
      }
    },
    "TimeEvents": {
      "description": "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation on the span, consisting of either user-supplied key:value pairs, or details of a message sent/received between Spans.",
      "properties": {
        "droppedAnnotationsCount": {
          "description": "Optional. The number of dropped annotations in all the included time events. If the value is 0, then no annotations were dropped.",
          "type": "integer",
          "format": "int32"
        },
        "droppedMessageEventsCount": {
          "description": "Optional. The number of dropped message events in all the included time events. If the value is 0, then no message events were dropped.",
          "format": "int32",
          "type": "integer"
        },
        "timeEvent": {
          "items": {
            "$ref": "TimeEvent"
          },
          "description": "Optional. A collection of `TimeEvent`s.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TimeEvents"
    },
    "TimeEvent": {
      "properties": {
        "messageEvent": {
          "$ref": "MessageEvent",
          "description": "An event describing a message sent/received between Spans."
        },
        "time": {
          "format": "google-datetime",
          "description": "Optional. The timestamp indicating the time the event occurred.",
          "type": "string"
        },
        "annotation": {
          "$ref": "Annotation",
          "description": "Text annotation with a set of attributes."
        }
      },
      "id": "TimeEvent",
      "description": "A time-stamped annotation or message event in the Span.",
      "type": "object"
    },
    "StackFrame": {
      "properties": {
        "sourceVersion": {
          "description": "Optional. The version of the deployed source code (up to 128 bytes).",
          "$ref": "TruncatableString"
        },
        "functionName": {
          "$ref": "TruncatableString",
          "description": "Optional. The fully-qualified name that uniquely identifies the function or method that is active in this frame (up to 1024 bytes)."
        },
        "loadModule": {
          "description": "Optional. The binary module from where the code was loaded.",
          "$ref": "Module"
        },
        "originalFunctionName": {
          "description": "Optional. An un-mangled function name, if `function_name` is mangled. To get information about name mangling, run [this search](https://www.google.com/search?q=cxx+name+mangling). The name can be fully-qualified (up to 1024 bytes).",
          "$ref": "TruncatableString"
        },
        "fileName": {
          "$ref": "TruncatableString",
          "description": "Optional. The name of the source file where the function call appears (up to 256 bytes)."
        },
        "lineNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The line number in `file_name` where the function call appears."
        },
        "columnNumber": {
          "description": "Optional. The column number where the function call appears, if available. This is important in JavaScript because of its anonymous functions.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents a single stack frame in a stack trace.",
      "type": "object",
      "id": "StackFrame"
    },
    "Attributes": {
      "id": "Attributes",
      "description": "A set of attributes as key-value pairs.",
      "type": "object",
      "properties": {
        "droppedAttributesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of attributes that were discarded. Attributes can be discarded because their keys are too long or because there are too many attributes. If this value is 0 then all attributes are valid."
        },
        "attributeMap": {
          "additionalProperties": {
            "$ref": "AttributeValue"
          },
          "description": "Optional. A set of attributes. Each attribute's key can be up to 128 bytes long. The value can be a string up to 256 bytes, a signed 64-bit integer, or the boolean values `true` or `false`. For example: \"/instance_id\": { \"string_value\": { \"value\": \"my-instance\" } } \"/http/request_bytes\": { \"int_value\": 300 } \"example.com/myattribute\": { \"bool_value\": false }",
          "type": "object"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://cloudtrace.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://cloudtrace.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://cloudtrace.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://cloudtrace.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://cloudtrace.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://cloudtrace.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://cloudtrace.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://cloudtrace.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://cloudtrace.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://cloudtrace.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudtrace.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://cloudtrace.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://cloudtrace.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://cloudtrace.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://cloudtrace.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://cloudtrace.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://cloudtrace.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://cloudtrace.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://cloudtrace.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://cloudtrace.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudtrace.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudtrace.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudtrace:v2",
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry. "
}