{
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "resources": {
    "githubDotComWebhook": {
      "methods": {
        "receive": {
          "path": "v1/githubDotComWebhook:receive",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "HttpBody"
          },
          "parameters": {
            "webhookKey": {
              "type": "string",
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "location": "query"
            }
          },
          "description": "ReceiveGitHubDotComWebhook is called when the API receives a github.com webhook.",
          "flatPath": "v1/githubDotComWebhook:receive",
          "id": "cloudbuild.githubDotComWebhook.receive",
          "parameterOrder": []
        }
      }
    },
    "v1": {
      "methods": {
        "webhook": {
          "path": "v1/webhook",
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "HttpBody"
          },
          "id": "cloudbuild.webhook",
          "parameters": {
            "webhookKey": {
              "type": "string",
              "location": "query",
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation."
            }
          },
          "description": "ReceiveWebhook is called when the API receives a GitHub webhook.",
          "flatPath": "v1/webhook",
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "id": "cloudbuild.operations.get",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbuild.operations.cancel",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "path": "v1/{+name}:cancel",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "httpMethod": "POST",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "locations": {
      "methods": {
        "regionalWebhook": {
          "flatPath": "v1/locations/{locationsId}/regionalWebhook",
          "request": {
            "$ref": "HttpBody"
          },
          "path": "v1/{+location}/regionalWebhook",
          "description": "ReceiveRegionalWebhook is called when the API receives a regional GitHub webhook.",
          "id": "cloudbuild.locations.regionalWebhook",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "location"
          ],
          "parameters": {
            "webhookKey": {
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string",
              "location": "query"
            },
            "location": {
              "pattern": "^locations/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The location where the webhook should be sent.",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "projects": {
      "resources": {
        "githubEnterpriseConfigs": {
          "methods": {
            "get": {
              "description": "Retrieve a GitHubEnterpriseConfig.",
              "response": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "required": true
                },
                "configId": {
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "projectId": {
                  "description": "ID of the project",
                  "location": "query",
                  "deprecated": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbuild.projects.githubEnterpriseConfigs.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}"
            },
            "delete": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.delete",
              "parameters": {
                "projectId": {
                  "description": "ID of the project",
                  "deprecated": true,
                  "type": "string",
                  "location": "query"
                },
                "configId": {
                  "deprecated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "required": true,
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListGithubEnterpriseConfigsResponse"
              },
              "description": "List all GitHubEnterpriseConfigs for a given project.",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.list",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "required": true
                },
                "projectId": {
                  "description": "ID of the project",
                  "location": "query",
                  "deprecated": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "httpMethod": "GET"
            },
            "create": {
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "required": true
                },
                "projectId": {
                  "deprecated": true,
                  "description": "ID of the project.",
                  "type": "string",
                  "location": "query"
                },
                "gheConfigId": {
                  "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "description": "Create an association between a GCP project and a GitHub Enterprise server.",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
                },
                "updateMask": {
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Update an association between a GCP project and a GitHub Enterprise server.",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.patch"
            }
          }
        },
        "triggers": {
          "methods": {
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "path": "v1/projects/{projectId}/triggers",
              "description": "Creates a new `BuildTrigger`.",
              "request": {
                "$ref": "BuildTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/triggers",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the project for which to configure automatic builds."
                },
                "parent": {
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "cloudbuild.projects.triggers.create"
            },
            "run": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
              "id": "cloudbuild.projects.triggers.run",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project.",
                  "type": "string"
                },
                "triggerId": {
                  "type": "string",
                  "description": "Required. ID of the trigger.",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "type": "string",
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "RepoSource"
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists existing `BuildTrigger`s.",
              "flatPath": "v1/projects/{projectId}/triggers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.triggers.list",
              "path": "v1/projects/{projectId}/triggers",
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "parameters": {
                "projectId": {
                  "type": "string",
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Number of results to return in the list.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string"
                },
                "triggerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the `BuildTrigger` to update."
                },
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "id": "cloudbuild.projects.triggers.patch",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "request": {
                "$ref": "BuildTrigger"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "triggerId": {
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "type": "string",
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query"
                },
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "id": "cloudbuild.projects.triggers.delete",
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ]
            },
            "webhook": {
              "request": {
                "$ref": "HttpBody"
              },
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "response": {
                "$ref": "ReceiveTriggerWebhookResponse"
              },
              "id": "cloudbuild.projects.triggers.webhook",
              "parameters": {
                "secret": {
                  "type": "string",
                  "location": "query",
                  "description": "Secret token used for authorization if an OAuth token isn't provided."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "Project in which the specified trigger lives",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                },
                "trigger": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Name of the trigger to run the payload against"
                }
              },
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger."
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query"
                },
                "triggerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "type": "string"
                }
              },
              "id": "cloudbuild.projects.triggers.get",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "description": "Returns information about a `BuildTrigger`.",
              "response": {
                "$ref": "BuildTrigger"
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "bitbucketServerConfigs": {
              "methods": {
                "removeBitbucketServerConnectedRepository": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+config}:removeBitbucketServerConnectedRepository",
                  "parameters": {
                    "config": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "description": "Required. The name of the `BitbucketServerConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "description": "Remove a Bitbucket Server repository from a given BitbucketServerConfig's connected repositories. This API is experimental.",
                  "request": {
                    "$ref": "RemoveBitbucketServerConnectedRepositoryRequest"
                  },
                  "parameterOrder": [
                    "config"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.removeBitbucketServerConnectedRepository",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}:removeBitbucketServerConnectedRepository"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "description": "Updates an existing `BitbucketServerConfig`. This API is experimental.",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name for the config.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "List all `BitbucketServerConfigs` for a given project. This API is experimental.",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListBitbucketServerConfigsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the parent resource.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.list",
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBitbucketServerConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.get",
                  "description": "Retrieve a `BitbucketServerConfig`. This API is experimental.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The config resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The config resource name."
                    }
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Delete a `BitbucketServerConfig`. This API is experimental.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "bitbucketServerConfigId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the BitbucketServerConfig, which will become the final component of the BitbucketServerConfig's resource name. bitbucket_server_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new `BitbucketServerConfig`. This API is experimental."
                }
              },
              "resources": {
                "repos": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/repos",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Name of the parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListBitbucketServerRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of configs to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "description": "List all repositories for a given `BitbucketServerConfig`. This API is experimental.",
                      "path": "v1/{+parent}/repos",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListBitbucketServerRepositoriesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.repos.list"
                    }
                  }
                },
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/connectedRepositories:batchCreate",
                      "description": "Batch connecting Bitbucket Server repositories to Cloud Build.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.connectedRepositories.batchCreate",
                      "request": {
                        "$ref": "BatchCreateBitbucketServerConnectedRepositoriesRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              }
            },
            "triggers": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "location": "query"
                    },
                    "resourceName": {
                      "required": true,
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    },
                    "triggerId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the `BuildTrigger` to update."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project that owns the trigger.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+resourceName}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}"
                },
                "get": {
                  "parameters": {
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get."
                    },
                    "name": {
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "path": "v1/{+name}",
                  "description": "Returns information about a `BuildTrigger`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "webhook": {
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
                  "response": {
                    "$ref": "ReceiveTriggerWebhookResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "description": "Project in which the specified trigger lives",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    },
                    "secret": {
                      "location": "query",
                      "type": "string",
                      "description": "Secret token used for authorization if an OAuth token isn't provided."
                    },
                    "trigger": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of the trigger to run the payload against"
                    }
                  },
                  "path": "v1/{+name}:webhook",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.webhook"
                },
                "create": {
                  "path": "v1/{+parent}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                      "required": true
                    },
                    "projectId": {
                      "description": "Required. ID of the project for which to configure automatic builds.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new `BuildTrigger`.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers"
                },
                "list": {
                  "response": {
                    "$ref": "ListBuildTriggersResponse"
                  },
                  "description": "Lists existing `BuildTrigger`s.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "path": "v1/{+parent}/triggers",
                  "id": "cloudbuild.projects.locations.triggers.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of results to return in the list.",
                      "location": "query",
                      "format": "int32"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET"
                },
                "run": {
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RunBuildTriggerRequest"
                  },
                  "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:run"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. ID of the `BuildTrigger` to delete.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "cloudbuild.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.operations.cancel"
                }
              }
            },
            "workerPools": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "description": "Returns details of a `WorkerPool`.",
                  "id": "cloudbuild.projects.locations.workerPools.get",
                  "response": {
                    "$ref": "WorkerPool"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListWorkerPoolsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/workerPools",
                  "description": "Lists `WorkerPool`s.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request and preview the response, but do not actually post it."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "location": "path",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. If provided, it must match the server's etag on the workerpool for the request to be processed."
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.workerPools.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "description": "Deletes a `WorkerPool`."
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.workerPools.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. A mask specifying which fields in `worker_pool` to update.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a `WorkerPool`."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "parameters": {
                    "workerPoolId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/."
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/workerPools",
                  "description": "Creates a `WorkerPool`.",
                  "id": "cloudbuild.projects.locations.workerPools.create",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "githubEnterpriseConfigs": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "configId": {
                      "location": "query",
                      "type": "string",
                      "deprecated": true,
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "type": "string",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "ID of the project",
                      "location": "query",
                      "deprecated": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieve a GitHubEnterpriseConfig.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.get"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$"
                    }
                  },
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update an association between a GCP project and a GitHub Enterprise server.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  }
                },
                "create": {
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an association between a GCP project and a GitHub Enterprise server.",
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "description": "ID of the project.",
                      "type": "string",
                      "deprecated": true,
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "required": true
                    },
                    "gheConfigId": {
                      "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "ID of the project",
                      "location": "query",
                      "deprecated": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all GitHubEnterpriseConfigs for a given project.",
                  "response": {
                    "$ref": "ListGithubEnterpriseConfigsResponse"
                  },
                  "path": "v1/{+parent}/githubEnterpriseConfigs"
                },
                "delete": {
                  "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.delete",
                  "parameters": {
                    "projectId": {
                      "description": "ID of the project",
                      "type": "string",
                      "deprecated": true,
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "required": true
                    },
                    "configId": {
                      "deprecated": true,
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                }
              }
            },
            "builds": {
              "methods": {
                "approve": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ApproveBuildRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\""
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:approve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.builds.approve",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:approve"
                },
                "retry": {
                  "path": "v1/{+name}:retry",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RetryBuildRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.builds.retry"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Number of results to return in the list.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The raw filter text to constrain the results."
                    }
                  },
                  "path": "v1/{+parent}/builds",
                  "response": {
                    "$ref": "ListBuildsResponse"
                  },
                  "id": "cloudbuild.projects.locations.builds.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Build"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/builds",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "id": "cloudbuild.projects.locations.builds.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`"
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project."
                    },
                    "id": {
                      "location": "query",
                      "description": "Required. ID of the build.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.builds.get",
                  "response": {
                    "$ref": "Build"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "request": {
                    "$ref": "CancelBuildRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Build"
                  },
                  "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
                  "path": "v1/{+name}:cancel"
                }
              }
            }
          },
          "methods": {
            "getDefaultServiceAccount": {
              "id": "cloudbuild.projects.locations.getDefaultServiceAccount",
              "response": {
                "$ref": "DefaultServiceAccount"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the `DefaultServiceAccount` to retrieve. Format: `projects/{project}/locations/{location}/defaultServiceAccount`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/defaultServiceAccount$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/defaultServiceAccount",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the `DefaultServiceAccount` used by the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "builds": {
          "methods": {
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "request": {
                "$ref": "Build"
              },
              "flatPath": "v1/projects/{projectId}/builds",
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.builds.create",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project.",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/projects/{projectId}/builds"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "path": "v1/projects/{projectId}/builds",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Number of results to return in the list.",
                  "format": "int32"
                },
                "parent": {
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project."
                },
                "filter": {
                  "description": "The raw filter text to constrain the results.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1/projects/{projectId}/builds",
              "httpMethod": "GET",
              "id": "cloudbuild.projects.builds.list",
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`."
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Build"
              },
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the build."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the project."
                }
              },
              "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
              "httpMethod": "POST",
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "request": {
                "$ref": "CancelBuildRequest"
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "id": "cloudbuild.projects.builds.cancel"
            },
            "approve": {
              "request": {
                "$ref": "ApproveBuildRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:approve",
              "httpMethod": "POST",
              "id": "cloudbuild.projects.builds.approve",
              "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                  "pattern": "^projects/[^/]+/builds/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/builds/{buildsId}:approve"
            },
            "get": {
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`"
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the build."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Build"
              },
              "path": "v1/projects/{projectId}/builds/{id}",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "id": "cloudbuild.projects.builds.get"
            },
            "retry": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project."
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Build ID of the original build."
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "RetryBuildRequest"
              },
              "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "id": "cloudbuild.projects.builds.retry",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260923",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/",
[...]
