{
  "version": "v1",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "canonicalName": "Cloudbilling",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "getBillingInfo": {
          "path": "v1/{+name}/billingInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ProjectBillingInfo"
          },
          "id": "cloudbilling.projects.getBillingInfo",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the billing information for a project. The current authenticated user must have the `resourcemanager.projects.get` permission for the project, which can be granted by assigning the [Project Viewer](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) role.",
          "flatPath": "v1/projects/{projectsId}/billingInfo",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the project for which billing information is retrieved. For example, `projects/tokyo-rain-123`.",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path"
            }
          }
        },
        "updateBillingInfo": {
          "id": "cloudbilling.projects.updateBillingInfo",
          "request": {
            "$ref": "ProjectBillingInfo"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "ProjectBillingInfo"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}/billingInfo",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the project associated with the billing information that you want to update. For example, `projects/tokyo-rain-123`.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets or updates the billing account associated with a project. You specify the new billing account by setting the `billing_account_name` in the `ProjectBillingInfo` resource to the resource name of a billing account. Associating a project with an open billing account enables billing on the project and allows charges for resource usage. If the project already had a billing account, this method changes the billing account used for resource usage charges. *Note:* Incurred charges that have not yet been reported in the transaction history of the Google Cloud Console might be billed to the new billing account, even if the charge occurred before the new billing account was assigned to the project. The current authenticated user must have ownership privileges for both the [project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo ) and the [billing account](https://cloud.google.com/billing/docs/how-to/billing-access). You can disable billing on the project by setting the `billing_account_name` field to empty. This action disassociates the current billing account from the project. Any billable activity of your in-use services will stop, and your application could stop functioning as expected. Any unbilled charges to date will be billed to the previously associated account. The current authenticated user must be either an owner of the project or an owner of the billing account for the project. Note that associating a project with a *closed* billing account will have much the same effect as disabling billing on the project: any paid resources used by the project will be shut down. Thus, unless you wish to disable billing, you should always call this method with the name of an *open* billing account.",
          "flatPath": "v1/projects/{projectsId}/billingInfo"
        }
      }
    },
    "message": {
      "methods": {
        "send": {
          "response": {
            "$ref": "SendMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "cloudbilling.message.send",
          "request": {
            "$ref": "SendMessageRequest"
          },
          "parameters": {},
          "description": "Send a message to the agent. This is a blocking call that will return the task once it is completed, or a LRO if requested.",
          "path": "v1/message:send",
          "parameterOrder": [],
          "flatPath": "v1/message:send"
        },
        "stream": {
          "parameterOrder": [],
          "path": "v1/message:stream",
          "flatPath": "v1/message:stream",
          "request": {
            "$ref": "SendMessageRequest"
          },
          "response": {
            "$ref": "StreamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.message.stream",
          "httpMethod": "POST",
          "description": "SendStreamingMessage is a streaming call that will return a stream of task update events until the Task is in an interrupted or terminal state.",
          "parameters": {}
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "projects": {
          "methods": {
            "list": {
              "flatPath": "v1/billingAccounts/{billingAccountsId}/projects",
              "path": "v1/{+name}/projects",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "type": "integer"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the billing account associated with the projects that you want to list. For example, `billingAccounts/012345-567890-ABCDEF`.",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous `ListProjectBillingInfo` call. If unspecified, the first page of results is returned."
                }
              },
              "description": "Lists the projects associated with a billing account. The current authenticated user must have the `billing.resourceAssociations.list` IAM permission, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access).",
              "id": "cloudbilling.billingAccounts.projects.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListProjectBillingInfoResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "subAccounts": {
          "methods": {
            "create": {
              "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
              "response": {
                "$ref": "BillingAccount"
              },
              "httpMethod": "POST",
              "id": "cloudbilling.billingAccounts.subAccounts.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "BillingAccount"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/subAccounts",
              "flatPath": "v1/billingAccounts/{billingAccountsId}/subAccounts"
            },
            "list": {
              "response": {
                "$ref": "ListBillingAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/subAccounts",
              "id": "cloudbilling.billingAccounts.subAccounts.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
                  "location": "query"
                }
              },
              "flatPath": "v1/billingAccounts/{billingAccountsId}/subAccounts",
              "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access)."
            }
          }
        }
      },
      "methods": {
        "testIamPermissions": {
          "flatPath": "v1/billingAccounts/{billingAccountsId}:testIamPermissions",
          "id": "cloudbilling.billingAccounts.testIamPermissions",
          "path": "v1/{+resource}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "description": "Tests the access control policy for a billing account. This method takes the resource and a set of permissions as input and returns the subset of the input permissions that the caller is allowed for that resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^billingAccounts/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          }
        },
        "create": {
          "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
          "request": {
            "$ref": "BillingAccount"
          },
          "path": "v1/billingAccounts",
          "response": {
            "$ref": "BillingAccount"
          },
          "id": "cloudbilling.billingAccounts.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/billingAccounts",
          "parameters": {
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
            }
          }
        },
        "setIamPolicy": {
          "description": "Sets the access control policy for a billing account. Replaces any existing policy. The caller must have the `billing.accounts.setIamPolicy` permission on the account, which is often given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "path": "v1/{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^billingAccounts/[^/]+$",
              "required": true
            }
          },
          "id": "cloudbilling.billingAccounts.setIamPolicy",
          "flatPath": "v1/billingAccounts/{billingAccountsId}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "list": {
          "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "parameterOrder": [],
          "flatPath": "v1/billingAccounts",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Requested page size. The maximum page size is 100; this is also the default.",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported."
            },
            "parent": {
              "type": "string",
              "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ListBillingAccountsResponse"
          },
          "path": "v1/billingAccounts",
          "httpMethod": "GET",
          "id": "cloudbilling.billingAccounts.list"
        },
        "getIamPolicy": {
          "httpMethod": "GET",
          "flatPath": "v1/billingAccounts/{billingAccountsId}:getIamPolicy",
          "id": "cloudbilling.billingAccounts.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "options.requestedPolicyVersion": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
            },
            "resource": {
              "type": "string",
              "required": true,
              "pattern": "^billingAccounts/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the access control policy for a billing account. The caller must have the `billing.accounts.getIamPolicy` permission on the account, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "response": {
            "$ref": "Policy"
          },
          "path": "v1/{+resource}:getIamPolicy"
        },
        "move": {
          "description": "Changes which parent organization a billing account belongs to.",
          "httpMethod": "POST",
          "flatPath": "v1/billingAccounts/{billingAccountsId}:move",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account.",
              "location": "path",
              "pattern": "^billingAccounts/[^/]+$",
              "required": true
            }
          },
          "id": "cloudbilling.billingAccounts.move",
          "path": "v1/{+name}:move",
          "request": {
            "$ref": "MoveBillingAccountRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "BillingAccount"
          }
        },
        "get": {
          "flatPath": "v1/billingAccounts/{billingAccountsId}",
          "id": "cloudbilling.billingAccounts.get",
          "description": "Gets information about a billing account. The current authenticated user must be a [viewer of the billing account](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "response": {
            "$ref": "BillingAccount"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^billingAccounts/[^/]+$",
              "description": "Required. The resource name of the billing account to retrieve. For example, `billingAccounts/012345-567890-ABCDEF`.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "request": {
            "$ref": "BillingAccount"
          },
          "flatPath": "v1/billingAccounts/{billingAccountsId}",
          "description": "Updates a billing account's fields. Currently the only field that can be edited is `display_name`. The current authenticated user must have the `billing.accounts.update` IAM permission, which is typically given to the [administrator](https://cloud.google.com/billing/docs/how-to/billing-access) of the billing account.",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^billingAccounts/[^/]+$",
              "description": "Required. The name of the billing account resource to be updated."
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The update mask applied to the resource. Only \"display_name\" is currently supported."
            }
          },
          "id": "cloudbilling.billingAccounts.patch",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "BillingAccount"
          },
          "httpMethod": "PATCH"
        }
      }
    },
    "services": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "cloudbilling.services.skus.list",
              "flatPath": "v1/services/{servicesId}/skus",
              "parameters": {
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "description": "Optional inclusive start time of the time range for which the pricing versions will be returned. Timestamps in the future are not allowed. The time range has to be within a single calendar month in America/Los_Angeles timezone. Time range as a whole is optional. If not specified, the latest pricing will be returned (up to 12 hours old at most).",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the service. Example: \"services/6F81-5844-456A\"",
                  "pattern": "^services/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "The ISO 4217 currency code for the pricing info in the response proto. Will use the conversion rate as of start_time. Optional. If not specified USD will be used.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListSkus` call. If unspecified, the first page of results is returned.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. Defaults to 5000."
                },
                "endTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime",
                  "description": "Optional exclusive end time of the time range for which the pricing versions will be returned. Timestamps in the future are not allowed. The time range has to be within a single calendar month in America/Los_Angeles timezone. Time range as a whole is optional. If not specified, the latest pricing will be returned (up to 12 hours old at most)."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all publicly available SKUs for a given cloud service.",
              "path": "v1/{+parent}/skus",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSkusResponse"
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Requested page size. Defaults to 5000."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListServices` call. If unspecified, the first page of results is returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/services",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListServicesResponse"
          },
          "id": "cloudbilling.services.list",
          "description": "Lists all public cloud services.",
          "path": "v1/services"
        }
      }
    },
    "organizations": {
      "resources": {
        "billingAccounts": {
          "methods": {
            "move": {
              "httpMethod": "GET",
              "id": "cloudbilling.organizations.billingAccounts.move",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account.",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "destinationParent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts/{billingAccountsId}:move",
              "description": "Changes which parent organization a billing account belongs to.",
              "parameterOrder": [
                "destinationParent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+destinationParent}/{+name}:move",
              "response": {
                "$ref": "BillingAccount"
              }
            },
            "create": {
              "path": "v1/{+parent}/billingAccounts",
              "httpMethod": "POST",
              "request": {
                "$ref": "BillingAccount"
              },
              "response": {
                "$ref": "BillingAccount"
              },
              "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts",
              "id": "cloudbilling.organizations.billingAccounts.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "cloudbilling.organizations.billingAccounts.list",
              "path": "v1/{+parent}/billingAccounts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts",
              "parameters": {
                "parent": {
                  "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListBillingAccountsResponse"
              }
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "getCard": {
          "flatPath": "v1/card",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "AgentCard"
          },
          "description": "GetAgentCard returns the agent card for the agent.",
          "path": "v1/card",
          "parameters": {
            "tenant": {
              "location": "query",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
              "type": "string"
            }
          },
          "id": "cloudbilling.getCard"
        }
      }
    },
    "tasks": {
      "resources": {
        "pushNotificationConfigs": {
          "methods": {
            "create": {
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs",
              "parameters": {
                "tenant": {
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "type": "string",
                  "location": "query"
                },
                "configId": {
                  "type": "string",
                  "description": "Required. The ID for the new config.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent task resource for this config. Format: tasks/{task_id}",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}",
              "description": "Set a push notification config for a task.",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.tasks.pushNotificationConfigs.create",
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TaskPushNotificationConfig"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete a push notification config for a task.",
              "path": "v1/{+name}",
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "tenant": {
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "location": "path",
                  "description": "The resource name of the config to delete. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}"
                }
              },
              "id": "cloudbilling.tasks.pushNotificationConfigs.delete"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTaskPushNotificationConfigResponse"
              },
              "path": "v1/{+parent}/pushNotificationConfigs",
              "description": "Get a list of push notifications configured for a task.",
              "id": "cloudbilling.tasks.pushNotificationConfigs.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from a previous ListTaskPushNotificationConfigRequest call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTaskPushNotificationConfigRequest` must match the call that provided the page token."
                },
                "tenant": {
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "For AIP-158 these fields are present. Usually not used/needed. The maximum number of configurations to return. If unspecified, all configs will be returned.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^tasks/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The parent task resource. Format: tasks/{task_id}"
                }
              }
            },
            "get": {
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}",
              "description": "Get a push notification config for a task.",
              "id": "cloudbilling.tasks.pushNotificationConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "tenant": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The resource name of the config to retrieve. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        }
      },
      "methods": {
        "cancel": {
          "request": {
            "$ref": "CancelTaskRequest"
          },
          "response": {
            "$ref": "Task"
          },
          "id": "cloudbilling.tasks.cancel",
          "path": "v1/{+name}:cancel",
          "flatPath": "v1/tasks/{tasksId}:cancel",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name of the task to cancel. Format: tasks/{task_id}",
              "pattern": "^tasks/[^/]+$"
            }
          },
          "description": "Cancel a task from the agent. If supported one should expect no more task updates for the task.",
          "httpMethod": "POST"
        },
        "subscribe": {
          "parameters": {
            "tenant": {
              "type": "string",
              "location": "query",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
            },
            "name": {
              "location": "path",
              "pattern": "^tasks/[^/]+$",
              "description": "The resource name of the task to subscribe to. Format: tasks/{task_id}",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "StreamResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudbilling.tasks.subscribe",
          "flatPath": "v1/tasks/{tasksId}:subscribe",
          "path": "v1/{+name}:subscribe",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "TaskSubscription is a streaming call that will return a stream of task update events. This attaches the stream to an existing in process task. If the task is complete the stream will return the completed task (like GetTask) and close the stream."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "cloudbilling.tasks.get",
          "flatPath": "v1/tasks/{tasksId}",
          "parameters": {
            "tenant": {
              "location": "query",
              "type": "string",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
            },
            "name": {
              "required": true,
              "description": "Required. The resource name of the task. Format: tasks/{task_id}",
              "type": "string",
              "location": "path",
              "pattern": "^tasks/[^/]+$"
            },
            "historyLength": {
              "description": "The number of most recent messages from the task's history to retrieve.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Get the current state of a task from the agent."
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "PricingInfo": {
      "id": "PricingInfo",
      "properties": {
        "summary": {
          "description": "An optional human readable summary of the pricing information, has a maximum length of 256 characters.",
          "type": "string"
        },
        "aggregationInfo": {
          "description": "Aggregation Info. This can be left unspecified if the pricing expression doesn't require aggregation.",
          "$ref": "AggregationInfo"
        },
        "pricingExpression": {
          "$ref": "PricingExpression",
          "description": "Expresses the pricing formula. See `PricingExpression` for an example."
        },
        "currencyConversionRate": {
          "description": "Conversion rate used for currency conversion, from USD to the currency specified in the request. This includes any surcharge collected for billing in non USD currency. If a currency is not specified in the request this defaults to 1.0. Example: USD * currency_conversion_rate = JPY",
          "type": "number",
          "format": "double"
        },
        "effectiveTime": {
          "description": "The timestamp from which this pricing was effective within the requested time range. This is guaranteed to be greater than or equal to the start_time field in the request and less than the end_time field in the request. If a time range was not specified in the request this field will be equivalent to a time within the last 12 hours, indicating the latest pricing info.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents the pricing information for a SKU at a single point of time.",
      "type": "object"
    },
    "TaskPushNotificationConfig": {
      "properties": {
        "pushNotificationConfig": {
          "description": "The push notification configuration details.",
          "$ref": "PushNotificationConfig"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the config. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}"
        }
      },
      "type": "object",
      "id": "TaskPushNotificationConfig"
    },
    "PricingExpression": {
      "properties": {
        "displayQuantity": {
          "format": "double",
          "type": "number",
          "description": "The recommended quantity of units for displaying pricing info. When displaying pricing info it is recommended to display: (unit_price * display_quantity) per display_quantity usage_unit. This field does not affect the pricing formula and is for display purposes only. Example: If the unit_price is \"0.0001 USD\", the usage_unit is \"GB\" and the display_quantity is \"1000\" then the recommended way of displaying the pricing info is \"0.10 USD per 1000 GB\""
        },
        "usageUnitDescription": {
          "description": "The unit of usage in human readable form. Example: \"gibi byte\".",
          "type": "string"
        },
        "baseUnitDescription": {
          "type": "string",
          "description": "The base unit in human readable form. Example: \"byte\"."
        },
        "baseUnitConversionFactor": {
          "description": "Conversion factor for converting from price per usage_unit to price per base_unit, and start_usage_amount to start_usage_amount in base_unit. unit_price / base_unit_conversion_factor = price per base_unit. start_usage_amount * base_unit_conversion_factor = start_usage_amount in base_unit.",
          "format": "double",
          "type": "number"
        },
        "baseUnit": {
          "description": "The base unit for the SKU which is the unit used in usage exports. Example: \"By\"",
          "type": "string"
        },
        "tieredRates": {
          "description": "The list of tiered rates for this pricing. The total cost is computed by applying each of the tiered rates on usage. This repeated list is sorted by ascending order of start_usage_amount.",
          "items": {
            "$ref": "TierRate"
          },
          "type": "array"
        },
        "usageUnit": {
          "description": "The short hand for unit of usage this pricing is specified in. Example: usage_unit of \"GiBy\" means that usage is specified in \"Gibi Byte\".",
          "type": "string"
        }
      },
      "id": "PricingExpression",
      "description": "Expresses a mathematical pricing formula. For Example:- `usage_unit: GBy` `tiered_rates:` `[start_usage_amount: 20, unit_price: $10]` `[start_usage_amount: 100, unit_price: $5]` The above expresses a pricing formula where the first 20GB is free, the next 80GB is priced at $10 per GB followed by $5 per GB for additional usage.",
      "type": "object"
    },
    "Category": {
      "id": "Category",
      "description": "Represents the category hierarchy of a SKU.",
      "type": "object",
      "properties": {
        "resourceFamily": {
          "description": "The type of product the SKU refers to. Example: \"Compute\", \"Storage\", \"Network\", \"ApplicationServices\" etc.",
          "type": "string"
        },
        "resourceGroup": {
          "type": "string",
          "description": "A group classification for related SKUs. Example: \"RAM\", \"GPU\", \"Prediction\", \"Ops\", \"GoogleEgress\" etc."
        },
        "usageType": {
          "description": "Represents how the SKU is consumed. Example: \"OnDemand\", \"Preemptible\", \"Commit1Mo\", \"Commit1Yr\" etc.",
          "type": "string"
        },
        "serviceDisplayName": {
          "description": "The display name of the service this SKU belongs to.",
          "type": "string"
        }
      }
    },
    "ListTaskPushNotificationConfigResponse": {
      "properties": {
        "configs": {
          "description": "The list of push notification configurations.",
          "items": {
            "$ref": "TaskPushNotificationConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListTaskPushNotificationConfigResponse"
    },
    "OpenIdConnectSecurityScheme": {
      "id": "OpenIdConnectSecurityScheme",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Well-known URL to discover the [[OpenID-Connect-Discovery]] provider metadata.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "AgentSkill": {
      "id": "AgentSkill",
      "type": "object",
      "description": "AgentSkill represents a unit of action/solution that the agent can perform. One can think of this as a type of highly reliable solution that an agent can be tasked to provide. Agents have the autonomy to choose how and when to use specific skills, but clients should have confidence that if the skill is defined that unit of action can be reliably performed.",
      "properties": {
        "examples": {
          "items": {
            "type": "string"
          },
          "description": "A set of example queries that this skill is designed to address. These examples should help the caller to understand how to craft requests to the agent to achieve specific goals. Example: [\"I need a recipe for bread\"]",
          "type": "array"
        },
        "id": {
          "description": "Unique identifier of the skill within this agent.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A human (or llm) readable description of the skill details and behaviors."
        },
        "outputModes": {
          "description": "Possible output modalities produced",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "A human readable name for the skill.",
          "type": "string"
        },
        "inputModes": {
          "type": "array",
          "description": "Possible input modalities supported.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "A set of tags for the skill to enhance categorization/utilization. Example: [\"cooking\", \"customer support\", \"billing\"]",
          "type": "array"
        },
        "security": {
          "items": {
            "$ref": "Security"
          },
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security schemes necessary for the agent to leverage this skill. As in the overall AgentCard.security, this list represents a logical OR of security requirement objects. Each object is a set of security schemes that must be used together (a logical AND). protolint:enable REPEATED_FIELD_NAMES_PLURALIZED"
        }
      }
    },
    "TierRate": {
      "id": "TierRate",
      "description": "The price rate indicating starting usage and its corresponding price.",
      "properties": {
        "startUsageAmount": {
          "description": "Usage is priced at this rate only after this amount. Example: start_usage_amount of 10 indicates that the usage will be priced at the unit_price after the first 10 usage_units.",
          "format": "double",
          "type": "number"
        },
        "unitPrice": {
          "$ref": "Money",
          "description": "The price per unit of usage. Example: unit_price of amount $10 indicates that each unit will cost $10."
        }
      },
      "type": "object"
    },
    "TaskStatusUpdateEvent": {
      "type": "object",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "The id of the task that is changed"
        },
        "contextId": {
          "description": "The id of the context that the task belongs to",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional metadata to associate with the task update."
        },
        "final": {
          "type": "boolean",
          "description": "Whether this is the last status update expected for this task."
        },
        "status": {
          "description": "The new status of the task.",
          "$ref": "TaskStatus"
        }
      },
      "description": "TaskStatusUpdateEvent is a delta even on a task indicating that a task has changed.",
      "id": "TaskStatusUpdateEvent"
    },
    "GeoTaxonomy": {
      "description": "Encapsulates the geographic taxonomy data for a sku.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "enumDescriptions": [
            "The type is not specified.",
            "The sku is global in nature, e.g. a license sku. Global skus are available in all regions, and so have an empty region list.",
            "The sku is available in a specific region, e.g. \"us-west2\".",
            "The sku is associated with multiple regions, e.g. \"us-west2\" and \"us-east1\"."
          ],
          "description": "The type of Geo Taxonomy: GLOBAL, REGIONAL, or MULTI_REGIONAL."
        },
        "regions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of regions associated with a sku. Empty for Global skus, which are associated with all Google Cloud regions."
        }
      },
      "type": "object",
      "id": "GeoTaxonomy"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "CancelTaskRequest": {
      "type": "object",
      "id": "CancelTaskRequest",
      "properties": {
        "tenant": {
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
          "type": "string"
        }
      }
    },
    "Message": {
      "properties": {
        "metadata": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "role": {
          "enumDescriptions": [
            "",
            "USER role refers to communication from the client to the server.",
            "AGENT role refers to communication from the server to the client."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "description": "A role for the message."
        },
        "extensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Message."
        },
        "contextId": {
          "type": "string",
          "description": "The context id of the message. This is optional and if set, the message will be associated with the given context."
        },
        "messageId": {
          "description": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator.",
          "type": "string"
        },
        "content": {
          "items": {
            "$ref": "Part"
          },
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content."
        },
        "taskId": {
          "description": "The task id of the message. This is optional and if set, the message will be associated with the given task.",
          "type": "string"
        }
      },
      "description": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id.",
      "type": "object",
      "id": "Message"
    },
    "ListServicesResponse": {
      "properties": {
        "services": {
          "description": "A list of services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListServices` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
          "type": "string"
        }
      },
      "description": "Response message for `ListServices`.",
      "id": "ListServicesResponse",
      "type": "object"
    },
    "SendMessageRequest": {
      "type": "object",
      "id": "SendMessageRequest",
      "properties": {
        "configuration": {
          "$ref": "SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "tenant": {
          "type": "string",
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
        },
        "message": {
          "$ref": "Message",
          "description": "Required. The message to send to the agent."
        },
        "metadata": {
          "description": "Optional metadata for the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "/////////// Request Messages ///////////"
    },
    "AgentInterface": {
      "type": "object",
      "id": "AgentInterface",
      "description": "Defines additional transport information for the agent.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The url this interface is found at."
        },
        "tenant": {
          "type": "string",
          "description": "Tenant to be set in the request when calling the agent. Experimental, might still change for 1.0 release."
        },
        "transport": {
          "type": "string",
          "description": "The transport supported this url. This is an open form string, to be easily extended for many transport protocols. The core ones officially supported are JSONRPC, GRPC and HTTP+JSON."
        }
      }
    },
    "SendMessageResponse": {
      "description": "////// Response Messages ///////////",
      "type": "object",
      "id": "SendMessageResponse",
      "properties": {
        "task": {
          "$ref": "Task"
        },
        "message": {
          "$ref": "Message"
        }
      }
    },
    "ListSkusResponse": {
      "description": "Response message for `ListSkus`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListSkus` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
        },
        "skus": {
          "description": "The list of public SKUs of the given service.",
          "items": {
            "$ref": "Sku"
          },
          "type": "array"
        }
      },
      "id": "ListSkusResponse"
    },
    "StreamResponse": {
      "properties": {
        "statusUpdate": {
          "$ref": "TaskStatusUpdateEvent"
        },
        "message": {
          "$ref": "Message"
        },
        "task": {
          "$ref": "Task"
        },
        "artifactUpdate": {
          "$ref": "TaskArtifactUpdateEvent"
        }
      },
      "id": "StreamResponse",
      "type": "object",
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are"
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      }
    },
    "MutualTlsSecurityScheme": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        }
      },
      "id": "MutualTlsSecurityScheme"
    },
    "BillingAccount": {
      "id": "BillingAccount",
      "description": "A billing account in the [Google Cloud Console](https://console.cloud.google.com/). You can assign a billing account to one or more projects.",
      "properties": {
        "masterBillingAccount": {
          "description": "If this account is a [subaccount](https://cloud.google.com/billing/docs/concepts), then this will be the resource name of the parent billing account that it is being resold through. Otherwise this will be empty.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which the billing account is billed and charged, represented as an ISO 4217 code such as `USD`. Billing account currency is determined at the time of billing account creation and cannot be updated subsequently, so this field should not be set on update requests. In addition, a subaccount always matches the currency of its parent billing account, so this field should not be set on subaccount creation requests. Clients can read this field to determine the currency of an existing billing account."
        },
        "displayName": {
          "description": "The display name given to the billing account, such as `My Billing Account`. This name is displayed in the Google Cloud Console.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The billing account's parent resource identifier. Use the `MoveBillingAccount` method to update the account's parent resource if it is a organization. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` would be the resource name for billing account `012345-567890-ABCDEF`.",
          "readOnly": true
        },
        "open": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the billing account is open, and will therefore be charged for any usage on associated projects. False if the billing account is closed, and therefore projects associated with it are unable to use paid services."
        }
      },
      "type": "object"
    },
    "StringList": {
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED",
      "type": "object",
      "properties": {
        "list": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringList"
    },
    "OAuthFlows": {
      "properties": {
        "implicit": {
          "$ref": "ImplicitOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "ClientCredentialsOAuthFlow"
        },
        "authorizationCode": {
          "$ref": "AuthorizationCodeOAuthFlow"
        },
        "password": {
          "$ref": "PasswordOAuthFlow"
        }
      },
      "type": "object",
      "id": "OAuthFlows"
    },
    "DataPart": {
      "description": "DataPart represents a structured blob. This is most commonly a JSON payload.",
      "properties": {
        "data": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "DataPart"
    },
    "ListBillingAccountsResponse": {
      "type": "object",
      "id": "ListBillingAccountsResponse",
      "properties": {
        "billingAccounts": {
          "type": "array",
          "description": "A list of billing accounts.",
          "items": {
            "$ref": "BillingAccount"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListBillingAccounts` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
        }
      },
      "description": "Response message for `ListBillingAccounts`."
    },
    "AgentCard": {
      "properties": {
        "additionalInterfaces": {
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Announcement of additional supported transports. Client can use any of the supported transports."
        },
        "preferredTransport": {
          "type": "string",
          "description": "The transport of the preferred endpoint. If empty, defaults to JSONRPC."
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the agent. Example: \"Recipe Agent\""
        },
        "documentationUrl": {
          "type": "string",
          "description": "A url to provide additional documentation about the agent."
        },
        "security": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security requirements for contacting the agent. This list can be seen as an OR of ANDs. Each object in the list describes one possible set of security requirements that must be present on a request. This allows specifying, for example, \"callers must either use OAuth OR an API Key AND mTLS.\" Example: security { schemes { key: \"oauth\" value { list: [\"read\"] } } } security { schemes { key: \"api-key\" } schemes { key: \"mtls\" } }",
          "items": {
            "$ref": "Security"
          },
          "type": "array"
        },
        "iconUrl": {
          "type": "string",
          "description": "An optional URL to an icon for the agent."
        },
        "url": {
          "type": "string",
          "description": "A URL to the address the agent is hosted at. This represents the preferred endpoint as declared by the agent."
        },
        "description": {
          "type": "string",
          "description": "A description of the agent's domain of action/solution space. Example: \"Agent that helps users with recipes and cooking.\""
        },
        "skills": {
          "type": "array",
          "description": "Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          }
        },
        "supportsAuthenticatedExtendedCard": {
          "description": "Whether the agent supports providing an extended agent card when the user is authenticated, i.e. is the card from .well-known different than the card from GetAgentCard.",
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "The version of the agent. Example: \"1.0.0\""
        },
        "defaultInputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as mime types."
        },
        "provider": {
          "$ref": "AgentProvider",
          "description": "The service provider of the agent."
        },
        "protocolVersion": {
          "type": "string",
          "description": "The version of the A2A protocol this agent supports."
        },
        "securitySchemes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SecurityScheme"
          },
          "description": "The security scheme details used for authenticating with this agent."
        },
        "defaultOutputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The mime types supported as outputs from this agent."
        },
        "signatures": {
          "description": "JSON Web Signatures computed for this AgentCard.",
          "items": {
            "$ref": "AgentCardSignature"
          },
          "type": "array"
        },
        "capabilities": {
          "$ref": "AgentCapabilities",
          "description": "A2A Capability set supported by the agent."
        }
      },
      "description": "AgentCard conveys key information: - Overall details (version, name, description, uses) - Skills; a set of actions/solutions the agent can perform - Default modalities/content types supported by the agent. - Authentication requirements Next ID: 19",
      "type": "object",
      "id": "AgentCard"
    },
    "AgentProvider": {
      "id": "AgentProvider",
      "type": "object",
      "properties": {
        "url": {
          "description": "The providers reference url Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "The providers organization name Example: \"Google\""
        }
      },
      "description": "Represents information about the service provider of an agent."
    },
    "Security": {
      "properties": {
        "schemes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "StringList"
          }
        }
      },
      "id": "Security",
      "type": "object"
    },
    "ImplicitOAuthFlow": {
      "type": "object",
      "properties": {
        "authorizationUrl": {
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS",
          "type": "string"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ImplicitOAuthFlow"
    },
    "SecurityScheme": {
      "properties": {
        "mtlsSecurityScheme": {
          "$ref": "MutualTlsSecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "$ref": "HTTPAuthSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "$ref": "APIKeySecurityScheme"
        },
        "oauth2SecurityScheme": {
          "$ref": "OAuth2SecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "$ref": "OpenIdConnectSecurityScheme"
        }
      },
      "id": "SecurityScheme",
      "type": "object"
    },
    "AggregationInfo": {
      "type": "object",
      "properties": {
        "aggregationCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of intervals to aggregate over. Example: If aggregation_level is \"DAILY\" and aggregation_count is 14, aggregation will be over 14 days."
        },
        "aggregationInterval": {
          "type": "string",
          "enum": [
            "AGGREGATION_INTERVAL_UNSPECIFIED",
            "DAILY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "aggregationLevel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AGGREGATION_LEVEL_UNSPECIFIED",
            "ACCOUNT",
            "PROJECT"
          ]
        }
      },
      "id": "AggregationInfo",
      "description": "Represents the aggregation level and interval for pricing of a single SKU."
    },
    "Part": {
      "type": "object",
      "id": "Part",
      "properties": {
        "data": {
          "$ref": "DataPart"
        },
        "text": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Optional metadata associated with this part.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "file": {
          "$ref": "FilePart"
        }
      },
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON)."
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "AgentCardSignature": {
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "protected": {
          "type": "string",
          "description": "Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object. Required."
        },
        "header": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The unprotected JWS header values.",
          "type": "object"
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded. Required.",
          "type": "string"
        }
      },
      "id": "AgentCardSignature",
      "type": "object"
    },
    "ClientCredentialsOAuthFlow": {
      "type": "object",
      "id": "ClientCredentialsOAuthFlow",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      }
    },
    "TaskStatus": {
      "type": "object",
      "description": "A container for the status of a task",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELLED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "Represents the status that acknowledges a task is created",
            "Represents the status that a task is actively being processed",
            "Represents the status a task is finished. This is a terminal state",
            "Represents the status a task is done but failed. This is a terminal state",
            "Represents the status a task was cancelled before it finished. This is a terminal state.",
            "Represents the status that the task requires information to complete. This is an interrupted state.",
            "Represents the status that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Represents the state that some authentication is needed from the upstream client. Authentication is expected to come out-of-band thus this is not an interrupted or terminal state."
          ],
          "description": "The current state of this task"
        },
        "message": {
          "description": "A message associated with the status.",
          "$ref": "Message"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        }
      },
      "id": "TaskStatus"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "id": "AuditConfig",
      "type": "object"
    },
    "ListProjectBillingInfoResponse": {
      "id": "ListProjectBillingInfoResponse",
      "type": "object",
      "description": "Request message for `ListProjectBillingInfoResponse`.",
      "properties": {
        "projectBillingInfo": {
          "description": "A list of `ProjectBillingInfo` resources representing the projects associated with the billing account.",
          "items": {
            "$ref": "ProjectBillingInfo"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListProjectBillingInfo` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "MoveBillingAccountRequest": {
      "properties": {
        "destinationParent": {
          "description": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`.",
          "type": "string"
        }
      },
      "id": "MoveBillingAccountRequest",
      "description": "Request message for `MoveBillingAccount` RPC.",
      "type": "object"
    },
    "HTTPAuthSecurityScheme": {
      "properties": {
        "scheme": {
          "type": "string",
          "description": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235."
        },
        "bearerFormat": {
          "type": "string",
          "description": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes."
        },
        "description": {
          "type": "string",
          "description": "Description of this security scheme."
        }
      },
      "id": "HTTPAuthSecurityScheme",
      "type": "object"
    },
    "SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "properties": {
        "acceptedOutputModes": {
          "description": "The output modes that the agent is expected to respond with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "historyLength": {
          "description": "The maximum number of messages to include in the history. if 0, the history will be unlimited.",
          "format": "int32",
          "type": "integer"
        },
        "pushNotification": {
          "description": "A configuration of a webhook that can be used to receive updates",
          "$ref": "PushNotificationConfig"
        },
        "blocking": {
          "description": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates.",
          "type": "boolean"
        }
      },
      "id": "SendMessageConfiguration",
      "type": "object"
    },
    "PushNotificationConfig": {
      "id": "PushNotificationConfig",
      "description": "Configuration for setting up push notifications for task updates.",
      "properties": {
        "id": {
          "description": "A unique identifier (e.g. UUID) for this push notification.",
          "type": "string"
        },
        "token": {
          "description": "Token unique for this task/session",
          "type": "string"
        },
        "url": {
          "description": "Url to send the notification too",
          "type": "string"
        },
        "authentication": {
          "description": "Information about the authentication to sent with the notification",
          "$ref": "AuthenticationInfo"
        }
      },
      "type": "object"
    },
    "AgentCapabilities": {
[...]
