{
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "basePath": "",
  "name": "cloudcontrolspartner",
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Controls Partner Service",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "revision": "20260930",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudcontrolspartner:v1",
  "servicePath": "",
  "version": "v1",
  "schemas": {
    "PartnerPermissions": {
      "properties": {
        "partnerPermissions": {
          "description": "The partner permissions granted for the workload",
          "type": "array",
          "items": {
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ],
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        }
      },
      "description": "The permissions granted to the partner for a workload",
      "type": "object",
      "id": "PartnerPermissions"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "Workload": {
      "type": "object",
      "id": "Workload",
      "properties": {
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "folderId": {
          "format": "int64",
          "description": "Output only. Folder id this workload is associated with",
          "readOnly": true,
          "type": "string"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Indicates whether a workload is fully onboarded."
        },
        "folder": {
          "description": "Output only. The name of container folder of the assured workload",
          "type": "string",
          "readOnly": true
        },
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Partner associated with this workload."
        },
        "workloadOnboardingState": {
          "description": "Container for workload onboarding steps.",
          "$ref": "WorkloadOnboardingState"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        }
      },
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API."
    },
    "EkmConnections": {
      "id": "EkmConnections",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
        },
        "ekmConnections": {
          "items": {
            "$ref": "EkmConnection"
          },
          "type": "array",
          "description": "The EKM connections associated with the workload"
        }
      },
      "type": "object",
      "description": "The EKM connections associated with a workload"
    },
    "Gcloud": {
      "properties": {
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli"
        },
        "gcloudCommands": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation"
        }
      },
      "type": "object",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "id": "Gcloud"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "type": "object",
      "description": "Response message for list customer Customers requests",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Customer"
          },
          "description": "List of customers",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Instructions": {
      "description": "Instructions to remediate violation",
      "id": "Instructions",
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "Gcloud"
        },
        "consoleInstructions": {
          "$ref": "Console",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      }
    },
    "WorkloadOnboardingStep": {
      "id": "WorkloadOnboardingStep",
      "description": "Container for workload onboarding information.",
      "properties": {
        "completionState": {
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "readOnly": true,
          "type": "string"
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The starting time of the onboarding step."
        },
        "step": {
          "description": "The onboarding step.",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ],
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerOnboardingStep": {
      "properties": {
        "step": {
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "type": "string",
          "description": "The onboarding step"
        },
        "completionTime": {
          "type": "string",
          "description": "The completion time of the onboarding step",
          "format": "google-datetime"
        },
        "completionState": {
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "description": "Output only. Current state of the step",
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "The starting time of the onboarding step",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Container for customer onboarding information",
      "id": "CustomerOnboardingStep"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "EkmConnection": {
      "type": "object",
      "properties": {
        "connectionState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "description": "Output only. The connection state"
        },
        "connectionError": {
          "$ref": "ConnectionError",
          "description": "The connection error that occurred if any"
        },
        "connectionName": {
          "type": "string",
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}"
        }
      },
      "id": "EkmConnection",
      "description": "Details about the EKM connection"
    },
    "ListWorkloadsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "workloads": {
          "type": "array",
          "description": "List of customer workloads",
          "items": {
            "$ref": "Workload"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for list customer workloads requests.",
      "id": "ListWorkloadsResponse"
    },
    "ListAccessApprovalRequestsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "accessApprovalRequests": {
          "type": "array",
          "items": {
            "$ref": "AccessApprovalRequest"
          },
          "description": "List of access approval requests"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListAccessApprovalRequestsResponse",
      "type": "object",
      "description": "Response message for list access requests."
    },
    "Violation": {
      "description": "Details of resource Violation",
      "type": "object",
      "id": "Violation",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string",
          "readOnly": true
        },
        "beginTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time of the event which triggered the Violation."
        },
        "folderId": {
          "format": "int64",
          "type": "string",
          "description": "The folder_id of the violation"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "readOnly": true,
          "type": "string"
        },
        "resolveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "description": "Output only. State of the violation",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ]
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "Console": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console"
        }
      },
      "type": "object",
      "id": "Console"
    },
    "Customer": {
      "properties": {
        "organizationDomain": {
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "readOnly": true
        },
        "customerOnboardingState": {
          "readOnly": true,
          "description": "Output only. Container for customer onboarding steps",
          "$ref": "CustomerOnboardingState"
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        }
      },
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "type": "object",
      "id": "Customer"
    },
    "AccessApprovalRequest": {
      "properties": {
        "requestedExpirationTime": {
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which approval was requested.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`"
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        }
      },
      "type": "object",
      "id": "AccessApprovalRequest",
      "description": "Details about the Access request."
    },
    "EkmMetadata": {
      "type": "object",
      "id": "EkmMetadata",
      "properties": {
        "ekmSolution": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "description": "The Cloud EKM partner.",
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ]
        },
        "ekmEndpointUri": {
          "type": "string",
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation."
        }
      },
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads."
    },
    "Remediation": {
      "id": "Remediation",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object",
      "properties": {
        "compliantValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "Instructions"
        },
        "remediationType": {
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ]
        }
      }
    },
    "CustomerOnboardingState": {
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "description": "List of customer onboarding steps"
        }
      },
      "id": "CustomerOnboardingState",
      "type": "object",
      "description": "Container for customer onboarding steps"
    },
    "ConnectionError": {
      "type": "object",
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "properties": {
        "errorDomain": {
          "type": "string",
          "description": "The error domain for the error"
        },
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        }
      },
      "id": "ConnectionError"
    },
    "ListViolationsResponse": {
      "id": "ListViolationsResponse",
      "properties": {
        "violations": {
          "type": "array",
          "description": "List of violation",
          "items": {
            "$ref": "Violation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "type": "array"
        }
      },
      "description": "Response message for list customer violation requests",
      "type": "object"
    },
    "Partner": {
      "properties": {
        "ekmSolutions": {
          "type": "array",
          "items": {
            "$ref": "EkmMetadata"
          },
          "description": "List of Google Cloud supported EKM partners supported by the partner"
        },
        "operatedCloudRegions": {
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array"
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "skus": {
          "items": {
            "$ref": "Sku"
          },
          "type": "array",
          "description": "List of SKUs the partner is offering"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the resource was created",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time the resource was updated",
          "type": "string"
        }
      },
      "description": "Message describing Partner resource",
      "id": "Partner",
      "type": "object"
    },
    "Sku": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions."
        },
        "id": {
          "type": "string",
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services."
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers.",
      "id": "Sku",
      "type": "object"
    },
    "WorkloadOnboardingState": {
      "id": "WorkloadOnboardingState",
      "description": "Container for workload onboarding steps.",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "description": "List of workload onboarding steps.",
          "type": "array"
        }
      }
    },
    "AccessReason": {
      "type": "object",
      "id": "AccessReason",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "description": "Type of access justification."
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      },
      "description": "Reason for the access."
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getPartner": {
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/partner",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Partner"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "required": true,
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "location": "path"
                }
              },
              "description": "Get details of a Partner.",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Customer"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single customer",
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "path": "v1/{+parent}/customers"
                },
                "create": {
                  "description": "Creates a new customer.",
                  "request": {
                    "$ref": "Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "required": true
                    },
                    "customerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customers",
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Update details of a single customer",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "request": {
                    "$ref": "Customer"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Customer"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete details of a single customer",
                  "path": "v1/{+name}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}"
                }
              },
              "resources": {
                "workloads": {
                  "resources": {
                    "accessApprovalRequests": {
                      "deprecated": true,
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "location": "path",
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "type": "string",
                              "required": true
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. Filtering results.",
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "format": "int32"
                            }
                          },
                          "deprecated": true,
                          "path": "v1/{+parent}/accessApprovalRequests",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "httpMethod": "GET"
                        }
                      }
                    },
                    "violations": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Violation"
                          },
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "description": "Gets details of a single Violation.",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "required": true,
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}"
                        },
                        "list": {
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Filtering results"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "type": "string",
                              "location": "query"
                            },
                            "interval.startTime": {
                              "type": "string",
                              "format": "google-datetime",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "location": "query"
                            },
                            "interval.endTime": {
                              "format": "google-datetime",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/violations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations"
                        }
                      }
                    }
                  },
                  "methods": {
                    "getEkmConnections": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "description": "Gets the EKM connections associated with a workload"
                    },
                    "get": {
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "description": "Gets details of a single workload",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Workload"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "httpMethod": "GET"
                    },
                    "getPartnerPermissions": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the partner permissions granted for a workload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`"
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "description": "Lists customer workloads for a given customer org id",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/workloads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Cloud Controls Partner API"
}