{
  "discoveryVersion": "v1",
  "id": "cloudproductregistry:v1",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Product Registry API",
  "revision": "20260827",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "name": "cloudproductregistry",
  "canonicalName": "Cloud Product Registry",
  "resources": {
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}"
                }
              },
              "description": "Lists LogicalProductVariants matching given criteria.",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/variants",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "path": "v1/{+name}",
              "description": "Get details of a LogicalProductVariant.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "lookupEntity": {
              "parameterOrder": [
                "lookupUri"
              ],
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "description": "Look up entities.",
              "parameters": {
                "lookupUri": {
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "path": "v1/{+lookupUri}:lookupEntity"
            }
          }
        }
      },
      "methods": {
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "httpMethod": "GET",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "description": "Look up entities.",
          "parameters": {
            "lookupUri": {
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}"
            }
          },
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "response": {
            "$ref": "LogicalProduct"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Gets details of a LogicalProduct.",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "path": "v1/logicalProducts",
          "httpMethod": "GET",
          "flatPath": "v1/logicalProducts",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "description": "Lists LogicalProducts matching given criteria.",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token."
            }
          },
          "parameterOrder": []
        }
      }
    },
    "productSuites": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32"
            }
          },
          "description": "Lists ProductSuites.",
          "flatPath": "v1/productSuites",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "parameterOrder": [],
          "path": "v1/productSuites",
          "id": "cloudproductregistry.productSuites.list"
        },
        "lookupEntity": {
          "httpMethod": "GET",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "description": "Look up entities.",
          "parameterOrder": [
            "lookupUri"
          ],
          "parameters": {
            "lookupUri": {
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "pattern": "^productSuites/[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "v1/{+name}",
          "id": "cloudproductregistry.productSuites.get",
          "httpMethod": "GET",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "response": {
            "$ref": "ProductSuite"
          },
          "description": "Get details of a ProductSuite.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "pattern": "^productSuites/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    }
  },
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "schemas": {
    "LookupEntityResponse": {
      "id": "LookupEntityResponse",
      "properties": {
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        }
      },
      "description": "Response message for LookupEntity.",
      "type": "object"
    },
    "LogicalProductVariant": {
      "properties": {
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant."
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "type": "object",
      "id": "LogicalProductVariant"
    },
    "ListLogicalProductsResponse": {
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "logicalProducts": {
          "items": {
            "$ref": "LogicalProduct"
          },
          "type": "array",
          "description": "Matched LogicalProducts"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListLogicalProductsResponse"
    },
    "LogicalProduct": {
      "type": "object",
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "type": "string"
        },
        "variants": {
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LogicalProduct"
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object",
      "properties": {
        "logicalProducts": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          }
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}"
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ProductSuite"
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "id": "ListProductSuitesResponse",
      "properties": {
        "productSuites": {
          "type": "array",
          "description": "Matched ProductSuites",
          "items": {
            "$ref": "ProductSuite"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProductVariants": {
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "description": "Matched LogicalProductVariants",
          "type": "array"
        }
      },
      "id": "ListLogicalProductVariantsResponse",
      "type": "object"
    }
  },
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "version": "v1"
}