{
  "name": "cloudproductregistry",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "title": "Cloud Product Registry API",
  "canonicalName": "Cloud Product Registry",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerDomain": "google.com",
  "version": "v1",
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "resources": {
    "logicalProducts": {
      "methods": {
        "get": {
          "description": "Gets details of a LogicalProduct.",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "required": true,
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.logicalProducts.get",
          "response": {
            "$ref": "LogicalProduct"
          },
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/logicalProducts",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "id": "cloudproductregistry.logicalProducts.list",
          "parameterOrder": [],
          "description": "Lists LogicalProducts matching given criteria.",
          "path": "v1/logicalProducts"
        },
        "lookupEntity": {
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "description": "Look up entities.",
          "parameters": {
            "lookupUri": {
              "location": "path",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "httpMethod": "GET",
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ]
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Get details of a LogicalProductVariant.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "required": true
                }
              },
              "path": "v1/{+parent}/variants",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists LogicalProductVariants matching given criteria.",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "httpMethod": "GET"
            },
            "lookupEntity": {
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "required": true
                }
              },
              "description": "Look up entities.",
              "path": "v1/{+lookupUri}:lookupEntity",
              "parameterOrder": [
                "lookupUri"
              ],
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "productSuites": {
      "methods": {
        "get": {
          "id": "cloudproductregistry.productSuites.get",
          "path": "v1/{+name}",
          "description": "Get details of a ProductSuite.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ProductSuite"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/productSuites/{productSuitesId}"
        },
        "lookupEntity": {
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "description": "Look up entities.",
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "parameters": {
            "lookupUri": {
              "type": "string",
              "required": true,
              "pattern": "^productSuites/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path"
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists ProductSuites.",
          "id": "cloudproductregistry.productSuites.list",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "parameterOrder": [],
          "path": "v1/productSuites",
          "flatPath": "v1/productSuites",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            }
          }
        }
      }
    }
  },
  "schemas": {
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "properties": {
        "logicalProductVariants": {
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "description": "Matched LogicalProductVariants",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListLogicalProductVariantsResponse",
      "type": "object"
    },
    "LogicalProductVariant": {
      "properties": {
        "lifecycleState": {
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "readOnly": true
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        }
      },
      "type": "object",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "id": "LogicalProductVariant"
    },
    "ProductSuite": {
      "type": "object",
      "id": "ProductSuite",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "properties": {
        "replaced": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the ProductSuite."
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "logicalProducts": {
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "replacement": {
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "readOnly": true
        },
        "variants": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "items": {
            "type": "string"
          }
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product."
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        }
      },
      "id": "LogicalProduct",
      "type": "object"
    },
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "properties": {
        "logicalProducts": {
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListLogicalProducts.",
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        }
      },
      "id": "ListProductSuitesResponse"
    },
    "LookupEntityResponse": {
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity.",
      "type": "object",
      "properties": {
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        }
      }
    }
  },
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "id": "cloudproductregistry:v1",
  "revision": "20260923",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}