{
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version_module": true,
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "schemas": {
    "ConnectionError": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        },
        "errorDomain": {
          "type": "string",
          "description": "The error domain for the error"
        }
      },
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "id": "ConnectionError"
    },
    "AccessReason": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "description": "Type of access justification.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ]
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      },
      "id": "AccessReason",
      "description": "Reason for the access.",
      "type": "object"
    },
    "CustomerOnboardingStep": {
      "description": "Container for customer onboarding information",
      "type": "object",
      "id": "CustomerOnboardingStep",
      "properties": {
        "startTime": {
          "description": "The starting time of the onboarding step",
          "format": "google-datetime",
          "type": "string"
        },
        "step": {
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "description": "The onboarding step"
        },
        "completionState": {
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the step",
          "type": "string",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step",
          "type": "string"
        }
      }
    },
    "ListCustomersResponse": {
      "properties": {
        "customers": {
          "description": "List of customers",
          "items": {
            "$ref": "Customer"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for list customer Customers requests",
      "id": "ListCustomersResponse"
    },
    "AccessApprovalRequest": {
      "type": "object",
      "description": "Details about the Access request.",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which approval was requested.",
          "type": "string"
        },
        "requestedExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time."
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        }
      },
      "id": "AccessApprovalRequest"
    },
    "PartnerPermissions": {
      "id": "PartnerPermissions",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "type": "array",
          "description": "The partner permissions granted for the workload",
          "items": {
            "type": "string",
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ]
          }
        }
      },
      "type": "object",
      "description": "The permissions granted to the partner for a workload"
    },
    "WorkloadOnboardingState": {
      "description": "Container for workload onboarding steps.",
      "id": "WorkloadOnboardingState",
      "properties": {
        "onboardingSteps": {
          "description": "List of workload onboarding steps.",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Partner": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the resource was updated",
          "readOnly": true,
          "format": "google-datetime"
        },
        "operatedCloudRegions": {
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "partnerProjectId": {
          "type": "string",
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the resource was created",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "skus": {
          "type": "array",
          "description": "List of SKUs the partner is offering",
          "items": {
            "$ref": "Sku"
          }
        },
        "ekmSolutions": {
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "items": {
            "$ref": "EkmMetadata"
          },
          "type": "array"
        }
      },
      "description": "Message describing Partner resource",
      "type": "object",
      "id": "Partner"
    },
    "Instructions": {
      "description": "Instructions to remediate violation",
      "properties": {
        "gcloudInstructions": {
          "$ref": "Gcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        }
      },
      "id": "Instructions",
      "type": "object"
    },
    "Workload": {
      "id": "Workload",
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "properties": {
        "workloadOnboardingState": {
          "$ref": "WorkloadOnboardingState",
          "description": "Container for workload onboarding steps."
        },
        "folder": {
          "type": "string",
          "description": "Output only. The name of container folder of the assured workload",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The Google Cloud location of the workload"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Indicates whether a workload is fully onboarded."
        },
        "partner": {
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "description": "Partner associated with this workload.",
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ]
        },
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "folderId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Folder id this workload is associated with"
        }
      },
      "type": "object"
    },
    "Sku": {
      "id": "Sku",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions."
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers."
    },
    "Violation": {
      "type": "object",
      "properties": {
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string",
          "readOnly": true
        },
        "folderId": {
          "type": "string",
          "description": "The folder_id of the violation",
          "format": "int64"
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the violation",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "resolveTime": {
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "readOnly": true,
          "type": "string"
        },
        "beginTime": {
          "type": "string",
          "description": "Output only. Time of the event which triggered the Violation.",
          "format": "google-datetime",
          "readOnly": true
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated."
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        }
      },
      "id": "Violation",
      "description": "Details of resource Violation"
    },
    "EkmConnections": {
      "description": "The EKM connections associated with a workload",
      "id": "EkmConnections",
      "properties": {
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "items": {
            "$ref": "EkmConnection"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EkmConnection": {
      "properties": {
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        },
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionState": {
          "readOnly": true,
          "description": "Output only. The connection state",
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ]
        }
      },
      "description": "Details about the EKM connection",
      "id": "EkmConnection",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "EkmMetadata": {
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "id": "EkmMetadata",
      "properties": {
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        },
        "ekmSolution": {
          "type": "string",
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "description": "The Cloud EKM partner."
        }
      },
      "type": "object"
    },
    "WorkloadOnboardingStep": {
      "id": "WorkloadOnboardingStep",
      "type": "object",
      "description": "Container for workload onboarding information.",
      "properties": {
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step.",
          "type": "string"
        },
        "completionState": {
          "description": "Output only. The completion state of the onboarding step.",
          "type": "string",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ]
        },
        "startTime": {
          "description": "The starting time of the onboarding step.",
          "format": "google-datetime",
          "type": "string"
        },
        "step": {
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "description": "The onboarding step.",
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ]
        }
      }
    },
    "ListWorkloadsResponse": {
      "description": "Response message for list customer workloads requests.",
      "type": "object",
      "id": "ListWorkloadsResponse",
      "properties": {
        "workloads": {
          "items": {
            "$ref": "Workload"
          },
          "description": "List of customer workloads",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListViolationsResponse": {
      "id": "ListViolationsResponse",
      "properties": {
        "violations": {
          "items": {
            "$ref": "Violation"
          },
          "description": "List of violation",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for list customer violation requests"
    },
    "CustomerOnboardingState": {
      "properties": {
        "onboardingSteps": {
          "description": "List of customer onboarding steps",
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "type": "array"
        }
      },
      "id": "CustomerOnboardingState",
      "description": "Container for customer onboarding steps",
      "type": "object"
    },
    "Customer": {
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "id": "Customer",
      "properties": {
        "organizationDomain": {
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for the customer"
        },
        "isOnboarded": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether a customer is fully onboarded"
        },
        "customerOnboardingState": {
          "readOnly": true,
          "$ref": "CustomerOnboardingState",
          "description": "Output only. Container for customer onboarding steps"
        }
      },
      "type": "object"
    },
    "Console": {
      "id": "Console",
      "description": "Remediation instructions to resolve violation via cloud console",
      "properties": {
        "consoleUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console",
          "type": "array"
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Remediation": {
      "id": "Remediation",
      "type": "object",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "properties": {
        "remediationType": {
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "description": "Output only. Remediation type based on the type of org policy values violated"
        },
        "compliantValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "instructions": {
          "$ref": "Instructions",
          "description": "Required. Remediation instructions to resolve violations"
        }
      }
    },
    "ListAccessApprovalRequestsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "accessApprovalRequests": {
          "type": "array",
          "description": "List of access approval requests",
          "items": {
            "$ref": "AccessApprovalRequest"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for list access requests.",
      "id": "ListAccessApprovalRequestsResponse"
    },
    "Gcloud": {
      "type": "object",
      "properties": {
        "gcloudCommands": {
          "type": "array",
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array"
        }
      },
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "id": "Gcloud"
    }
  },
  "name": "cloudcontrolspartner",
  "revision": "20260826",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "path": "v1beta/{+parent}/customers",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Update details of a single customer",
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single customer",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Customer"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}"
                },
                "create": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "response": {
                    "$ref": "Customer"
                  },
                  "description": "Creates a new customer.",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/customers",
                  "request": {
                    "$ref": "Customer"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "required": true
                    },
                    "customerId": {
                      "type": "string",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta/{+name}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Delete details of a single customer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "workloads": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "path": "v1beta/{+parent}/workloads",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page."
                        },
                        "pageSize": {
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "location": "path",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists customer workloads for a given customer org id"
                    },
                    "getEkmConnections": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "description": "Gets the EKM connections associated with a workload",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "getPartnerPermissions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the partner permissions granted for a workload",
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "PartnerPermissions"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single workload",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Workload"
                      },
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "required": true,
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "deprecated": true,
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "parameters": {
                            "filter": {
                              "description": "Optional. Filtering results.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page."
                            },
                            "parent": {
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "httpMethod": "GET",
                          "path": "v1beta/{+parent}/accessApprovalRequests"
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering results",
                              "type": "string"
                            },
                            "interval.endTime": {
                              "format": "google-datetime",
                              "location": "query",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "location": "query",
                              "format": "int32"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "required": true
                            },
                            "interval.startTime": {
                              "location": "query",
                              "format": "google-datetime",
                              "type": "string",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                            }
                          },
                          "path": "v1beta/{+parent}/violations",
                          "httpMethod": "GET"
                        },
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Gets details of a single Violation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "response": {
                            "$ref": "Violation"
                          },
                          "path": "v1beta/{+name}",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getPartner": {
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$"
                }
              },
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "response": {
                "$ref": "Partner"
              },
              "description": "Get details of a Partner."
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "title": "Cloud Controls Partner API",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "canonicalName": "Cloud Controls Partner Service",
  "id": "cloudcontrolspartner:v1beta",
  "version": "v1beta",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/"
}