{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "canonicalName": "Cloudbilling",
  "version": "v1",
  "title": "Cloud Billing API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    }
  },
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "revision": "20260911",
  "name": "cloudbilling",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "schemas": {
    "AgentProvider": {
      "properties": {
        "url": {
          "description": "The providers reference url Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "description": "The providers organization name Example: \"Google\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents information about the service provider of an agent.",
      "id": "AgentProvider"
    },
    "ClientCredentialsOAuthFlow": {
      "type": "object",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ClientCredentialsOAuthFlow"
    },
    "ListProjectBillingInfoResponse": {
      "description": "Request message for `ListProjectBillingInfoResponse`.",
      "id": "ListProjectBillingInfoResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListProjectBillingInfo` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
        },
        "projectBillingInfo": {
          "description": "A list of `ProjectBillingInfo` resources representing the projects associated with the billing account.",
          "items": {
            "$ref": "ProjectBillingInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Part": {
      "id": "Part",
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional metadata associated with this part.",
          "type": "object"
        },
        "text": {
          "type": "string"
        },
        "file": {
          "$ref": "FilePart"
        },
        "data": {
          "$ref": "DataPart"
        }
      },
      "type": "object"
    },
    "Task": {
      "type": "object",
      "id": "Task",
      "description": "Task is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "properties": {
        "artifacts": {
          "items": {
            "$ref": "Artifact"
          },
          "description": "A set of output artifacts for a Task.",
          "type": "array"
        },
        "history": {
          "items": {
            "$ref": "Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a task.",
          "type": "array"
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages). Created by the A2A server.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "status": {
          "$ref": "TaskStatus",
          "description": "The current status of a Task, including state and a message."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "description": "A container for the status of a task",
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "Represents the status that acknowledges a task is created",
            "Represents the status that a task is actively being processed",
            "Represents the status a task is finished. This is a terminal state",
            "Represents the status a task is done but failed. This is a terminal state",
            "Represents the status a task was cancelled before it finished. This is a terminal state.",
            "Represents the status that the task requires information to complete. This is an interrupted state.",
            "Represents the status that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Represents the state that some authentication is needed from the upstream client. Authentication is expected to come out-of-band thus this is not an interrupted or terminal state."
          ],
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELLED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "description": "The current state of this task",
          "type": "string"
        },
        "message": {
          "description": "A message associated with the status.",
          "$ref": "Message"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "type": "object",
      "properties": {
        "blocking": {
          "description": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates.",
          "type": "boolean"
        },
        "acceptedOutputModes": {
          "description": "The output modes that the agent is expected to respond with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pushNotification": {
          "$ref": "PushNotificationConfig",
          "description": "A configuration of a webhook that can be used to receive updates"
        },
        "historyLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of messages to include in the history. if 0, the history will be unlimited."
        }
      },
      "id": "SendMessageConfiguration"
    },
    "Service": {
      "description": "Encapsulates a single service in Google Cloud Platform.",
      "id": "Service",
      "properties": {
        "businessEntityName": {
          "type": "string",
          "description": "The business under which the service is offered. Ex. \"businessEntities/GCP\", \"businessEntities/Maps\""
        },
        "serviceId": {
          "description": "The identifier for the service. Example: \"6F81-5844-456A\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A human readable display name for this service."
        },
        "name": {
          "description": "The resource name for the service. Example: \"services/6F81-5844-456A\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AgentCapabilities": {
      "id": "AgentCapabilities",
      "type": "object",
      "properties": {
        "pushNotifications": {
          "type": "boolean",
          "description": "If the agent can send push notifications to the clients webhook"
        },
        "extensions": {
          "type": "array",
          "description": "Extensions supported by this agent.",
          "items": {
            "$ref": "AgentExtension"
          }
        },
        "streaming": {
          "type": "boolean",
          "description": "If the agent will support streaming responses"
        }
      },
      "description": "Defines the A2A feature set supported by the agent"
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "AgentSkill": {
      "id": "AgentSkill",
      "properties": {
        "outputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Possible output modalities produced"
        },
        "inputModes": {
          "type": "array",
          "description": "Possible input modalities supported.",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "description": "A set of example queries that this skill is designed to address. These examples should help the caller to understand how to craft requests to the agent to achieve specific goals. Example: [\"I need a recipe for bread\"]",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the skill."
        },
        "security": {
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security schemes necessary for the agent to leverage this skill. As in the overall AgentCard.security, this list represents a logical OR of security requirement objects. Each object is a set of security schemes that must be used together (a logical AND). protolint:enable REPEATED_FIELD_NAMES_PLURALIZED",
          "items": {
            "$ref": "Security"
          }
        },
        "description": {
          "description": "A human (or llm) readable description of the skill details and behaviors.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of tags for the skill to enhance categorization/utilization. Example: [\"cooking\", \"customer support\", \"billing\"]"
        },
        "id": {
          "description": "Unique identifier of the skill within this agent.",
          "type": "string"
        }
      },
      "description": "AgentSkill represents a unit of action/solution that the agent can perform. One can think of this as a type of highly reliable solution that an agent can be tasked to provide. Agents have the autonomy to choose how and when to use specific skills, but clients should have confidence that if the skill is defined that unit of action can be reliably performed.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "SendMessageResponse": {
      "type": "object",
      "id": "SendMessageResponse",
      "description": "////// Response Messages ///////////",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "task": {
          "$ref": "Task"
        }
      }
    },
    "SendMessageRequest": {
      "id": "SendMessageRequest",
      "properties": {
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "Message"
        },
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "SendMessageConfiguration"
        },
        "metadata": {
          "description": "Optional metadata for the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tenant": {
          "type": "string",
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
        }
      },
      "description": "/////////// Request Messages ///////////",
      "type": "object"
    },
    "APIKeySecurityScheme": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of this security scheme."
        },
        "location": {
          "description": "Location of the API key, valid values are \"query\", \"header\", or \"cookie\"",
          "type": "string"
        },
        "name": {
          "description": "Name of the header, query or cookie parameter to be used.",
          "type": "string"
        }
      },
      "id": "APIKeySecurityScheme",
      "type": "object"
    },
    "ImplicitOAuthFlow": {
      "properties": {
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ImplicitOAuthFlow",
      "type": "object"
    },
    "Sku": {
      "id": "Sku",
      "description": "Encapsulates a single SKU in Google Cloud",
      "type": "object",
      "properties": {
        "serviceRegions": {
          "description": "List of service regions this SKU is offered at. Example: \"asia-east1\" Service regions can be found at https://cloud.google.com/about/locations/",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "geoTaxonomy": {
          "description": "The geographic taxonomy for this sku.",
          "$ref": "GeoTaxonomy"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of the SKU, has a maximum length of 256 characters."
        },
        "skuId": {
          "type": "string",
          "description": "The identifier for the SKU. Example: \"D041-B8A1-6E0B\""
        },
        "pricingInfo": {
          "items": {
            "$ref": "PricingInfo"
          },
          "type": "array",
          "description": "A timeline of pricing info for this SKU in chronological order."
        },
        "name": {
          "description": "The resource name for the SKU. Example: \"services/6F81-5844-456A/skus/D041-B8A1-6E0B\"",
          "type": "string"
        },
        "category": {
          "$ref": "Category",
          "description": "The category hierarchy of this SKU, purely for organizational purpose."
        },
        "serviceProviderName": {
          "type": "string",
          "description": "Identifies the service provider. This is 'Google' for first party services in Google Cloud Platform."
        }
      }
    },
    "AgentExtension": {
      "description": "A declaration of an extension supported by an Agent.",
      "id": "AgentExtension",
      "properties": {
        "required": {
          "type": "boolean",
          "description": "Whether the client must follow specific requirements of the extension. Example: false"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the extension. Example: \"https://developers.google.com/identity/protocols/oauth2\""
        },
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional configuration for the extension.",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "A description of how this agent uses this extension. Example: \"Google OAuth 2.0 authentication\""
        }
      },
      "type": "object"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "MutualTlsSecurityScheme": {
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        }
      },
      "id": "MutualTlsSecurityScheme",
      "type": "object"
    },
    "ListTaskPushNotificationConfigResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "configs": {
          "description": "The list of push notification configurations.",
          "items": {
            "$ref": "TaskPushNotificationConfig"
          },
          "type": "array"
        }
      },
      "id": "ListTaskPushNotificationConfigResponse",
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      }
    },
    "TierRate": {
      "type": "object",
      "id": "TierRate",
      "description": "The price rate indicating starting usage and its corresponding price.",
      "properties": {
        "startUsageAmount": {
          "type": "number",
          "description": "Usage is priced at this rate only after this amount. Example: start_usage_amount of 10 indicates that the usage will be priced at the unit_price after the first 10 usage_units.",
          "format": "double"
        },
        "unitPrice": {
          "description": "The price per unit of usage. Example: unit_price of amount $10 indicates that each unit will cost $10.",
          "$ref": "Money"
        }
      }
    },
    "DataPart": {
      "description": "DataPart represents a structured blob. This is most commonly a JSON payload.",
      "properties": {
        "data": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "DataPart"
    },
    "PricingInfo": {
      "properties": {
        "pricingExpression": {
          "$ref": "PricingExpression",
          "description": "Expresses the pricing formula. See `PricingExpression` for an example."
        },
        "currencyConversionRate": {
          "type": "number",
          "format": "double",
          "description": "Conversion rate used for currency conversion, from USD to the currency specified in the request. This includes any surcharge collected for billing in non USD currency. If a currency is not specified in the request this defaults to 1.0. Example: USD * currency_conversion_rate = JPY"
        },
        "aggregationInfo": {
          "description": "Aggregation Info. This can be left unspecified if the pricing expression doesn't require aggregation.",
          "$ref": "AggregationInfo"
        },
        "effectiveTime": {
          "description": "The timestamp from which this pricing was effective within the requested time range. This is guaranteed to be greater than or equal to the start_time field in the request and less than the end_time field in the request. If a time range was not specified in the request this field will be equivalent to a time within the last 12 hours, indicating the latest pricing info.",
          "type": "string",
          "format": "google-datetime"
        },
        "summary": {
          "type": "string",
          "description": "An optional human readable summary of the pricing information, has a maximum length of 256 characters."
        }
      },
      "id": "PricingInfo",
      "type": "object",
      "description": "Represents the pricing information for a SKU at a single point of time."
    },
    "OAuth2SecurityScheme": {
      "type": "object",
      "id": "OAuth2SecurityScheme",
      "properties": {
        "oauth2MetadataUrl": {
          "type": "string",
          "description": "URL to the oauth2 authorization server metadata [RFC8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
        },
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "flows": {
          "description": "An object containing configuration information for the flow types supported",
          "$ref": "OAuthFlows"
        }
      }
    },
    "FilePart": {
      "id": "FilePart",
      "properties": {
        "name": {
          "type": "string"
        },
        "fileWithUri": {
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        },
        "fileWithBytes": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "FilePart represents the different ways files can be provided. If files are small, directly feeding the bytes is supported via file_with_bytes. If the file is large, the agent should read the content as appropriate directly from the file_with_uri source."
    },
    "ListBillingAccountsResponse": {
      "type": "object",
      "description": "Response message for `ListBillingAccounts`.",
      "id": "ListBillingAccountsResponse",
      "properties": {
        "billingAccounts": {
          "description": "A list of billing accounts.",
          "items": {
            "$ref": "BillingAccount"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListBillingAccounts` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "AggregationInfo": {
      "type": "object",
      "id": "AggregationInfo",
      "description": "Represents the aggregation level and interval for pricing of a single SKU.",
      "properties": {
        "aggregationInterval": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATION_INTERVAL_UNSPECIFIED",
            "DAILY",
            "MONTHLY"
          ]
        },
        "aggregationLevel": {
          "enum": [
            "AGGREGATION_LEVEL_UNSPECIFIED",
            "ACCOUNT",
            "PROJECT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "aggregationCount": {
          "type": "integer",
          "description": "The number of intervals to aggregate over. Example: If aggregation_level is \"DAILY\" and aggregation_count is 14, aggregation will be over 14 days.",
          "format": "int32"
        }
      }
    },
    "StreamResponse": {
      "id": "StreamResponse",
      "properties": {
        "statusUpdate": {
          "$ref": "TaskStatusUpdateEvent"
        },
        "message": {
          "$ref": "Message"
        },
        "artifactUpdate": {
          "$ref": "TaskArtifactUpdateEvent"
        },
        "task": {
          "$ref": "Task"
        }
      },
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are",
      "type": "object"
    },
    "ListServicesResponse": {
      "description": "Response message for `ListServices`.",
      "properties": {
        "services": {
          "type": "array",
          "description": "A list of services.",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListServices` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListServicesResponse"
    },
    "OpenIdConnectSecurityScheme": {
      "id": "OpenIdConnectSecurityScheme",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Well-known URL to discover the [[OpenID-Connect-Discovery]] provider metadata.",
          "type": "string"
        }
      }
    },
    "OAuthFlows": {
      "properties": {
        "authorizationCode": {
          "$ref": "AuthorizationCodeOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "ClientCredentialsOAuthFlow"
        },
        "implicit": {
          "$ref": "ImplicitOAuthFlow"
        },
        "password": {
          "$ref": "PasswordOAuthFlow"
        }
      },
      "id": "OAuthFlows",
      "type": "object"
    },
    "GeoTaxonomy": {
      "type": "object",
      "id": "GeoTaxonomy",
      "description": "Encapsulates the geographic taxonomy data for a sku.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not specified.",
            "The sku is global in nature, e.g. a license sku. Global skus are available in all regions, and so have an empty region list.",
            "The sku is available in a specific region, e.g. \"us-west2\".",
            "The sku is associated with multiple regions, e.g. \"us-west2\" and \"us-east1\"."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "description": "The type of Geo Taxonomy: GLOBAL, REGIONAL, or MULTI_REGIONAL."
        },
        "regions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of regions associated with a sku. Empty for Global skus, which are associated with all Google Cloud regions."
        }
      }
    },
    "PasswordOAuthFlow": {
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
        }
      },
      "type": "object",
      "id": "PasswordOAuthFlow"
    },
    "Message": {
      "id": "Message",
      "properties": {
        "content": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "Part"
          }
        },
        "metadata": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "taskId": {
          "type": "string",
          "description": "The task id of the message. This is optional and if set, the message will be associated with the given task."
        },
        "role": {
          "enumDescriptions": [
            "",
            "USER role refers to communication from the client to the server.",
            "AGENT role refers to communication from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "description": "A role for the message.",
          "type": "string"
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contextId": {
          "description": "The context id of the message. This is optional and if set, the message will be associated with the given context.",
          "type": "string"
        },
        "messageId": {
          "description": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator.",
          "type": "string"
        }
      },
      "description": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id.",
      "type": "object"
    },
    "PushNotificationConfig": {
      "id": "PushNotificationConfig",
      "description": "Configuration for setting up push notifications for task updates.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "Url to send the notification too"
        },
        "id": {
          "type": "string",
          "description": "A unique identifier (e.g. UUID) for this push notification."
        },
        "token": {
          "description": "Token unique for this task/session",
          "type": "string"
        },
        "authentication": {
          "description": "Information about the authentication to sent with the notification",
          "$ref": "AuthenticationInfo"
        }
      }
    },
    "AgentInterface": {
      "id": "AgentInterface",
      "properties": {
        "tenant": {
          "description": "Tenant to be set in the request when calling the agent. Experimental, might still change for 1.0 release.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The url this interface is found at."
        },
        "transport": {
          "description": "The transport supported this url. This is an open form string, to be easily extended for many transport protocols. The core ones officially supported are JSONRPC, GRPC and HTTP+JSON.",
          "type": "string"
        }
      },
      "description": "Defines additional transport information for the agent.",
      "type": "object"
    },
    "TaskArtifactUpdateEvent": {
      "id": "TaskArtifactUpdateEvent",
      "type": "object",
      "properties": {
        "lastChunk": {
          "description": "Whether this represents the last part of an artifact",
          "type": "boolean"
        },
        "taskId": {
          "type": "string",
          "description": "The id of the task for this artifact"
        },
        "contextId": {
          "description": "The id of the context that this task belongs too",
          "type": "string"
        },
        "artifact": {
          "$ref": "Artifact",
          "description": "The artifact itself"
        },
        "metadata": {
          "description": "Optional metadata associated with the artifact update.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "append": {
          "type": "boolean",
          "description": "Whether this should be appended to a prior one produced"
        }
      },
      "description": "TaskArtifactUpdateEvent represents a task delta where an artifact has been generated."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AuthorizationCodeOAuthFlow": {
      "id": "AuthorizationCodeOAuthFlow",
      "type": "object",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "tokenUrl": {
          "type": "string",
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        }
      }
    },
    "AgentCardSignature": {
      "type": "object",
      "properties": {
        "protected": {
          "description": "Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object. Required.",
          "type": "string"
        },
        "header": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The unprotected JWS header values.",
          "type": "object"
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded. Required.",
          "type": "string"
        }
      },
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "id": "AgentCardSignature"
    },
    "SecurityScheme": {
      "id": "SecurityScheme",
      "properties": {
        "mtlsSecurityScheme": {
          "$ref": "MutualTlsSecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "$ref": "HTTPAuthSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "$ref": "APIKeySecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "$ref": "OpenIdConnectSecurityScheme"
        },
        "oauth2SecurityScheme": {
          "$ref": "OAuth2SecurityScheme"
        }
      },
      "type": "object"
    },
    "TaskStatusUpdateEvent": {
      "properties": {
        "final": {
          "description": "Whether this is the last status update expected for this task.",
          "type": "boolean"
        },
        "taskId": {
          "description": "The id of the task that is changed",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional metadata to associate with the task update."
        },
        "contextId": {
          "type": "string",
          "description": "The id of the context that the task belongs to"
        },
        "status": {
          "$ref": "TaskStatus",
          "description": "The new status of the task."
        }
      },
      "id": "TaskStatusUpdateEvent",
      "type": "object",
      "description": "TaskStatusUpdateEvent is a delta even on a task indicating that a task has changed."
    },
    "AuthenticationInfo": {
      "type": "object",
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "schemes": {
          "description": "Supported authentication schemes - e.g. Basic, Bearer, etc",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "credentials": {
          "description": "Optional credentials",
          "type": "string"
        }
      },
      "id": "AuthenticationInfo"
    },
    "TaskPushNotificationConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the config. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}"
        },
        "pushNotificationConfig": {
          "description": "The push notification configuration details.",
          "$ref": "PushNotificationConfig"
        }
      },
      "id": "TaskPushNotificationConfig",
      "type": "object"
    },
    "Category": {
      "type": "object",
      "id": "Category",
      "properties": {
        "usageType": {
          "description": "Represents how the SKU is consumed. Example: \"OnDemand\", \"Preemptible\", \"Commit1Mo\", \"Commit1Yr\" etc.",
          "type": "string"
        },
        "resourceGroup": {
          "type": "string",
          "description": "A group classification for related SKUs. Example: \"RAM\", \"GPU\", \"Prediction\", \"Ops\", \"GoogleEgress\" etc."
        },
        "serviceDisplayName": {
          "description": "The display name of the service this SKU belongs to.",
          "type": "string"
        },
        "resourceFamily": {
          "type": "string",
          "description": "The type of product the SKU refers to. Example: \"Compute\", \"Storage\", \"Network\", \"ApplicationServices\" etc."
        }
      },
      "description": "Represents the category hierarchy of a SKU."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      }
    },
    "ProjectBillingInfo": {
      "id": "ProjectBillingInfo",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name for the `ProjectBillingInfo`; has the form `projects/{project_id}/billingInfo`. For example, the resource name for the billing information for project `tokyo-rain-123` would be `projects/tokyo-rain-123/billingInfo`.",
          "readOnly": true,
          "type": "string"
        },
        "billingAccountName": {
          "type": "string",
          "description": "The resource name of the billing account associated with the project, if any. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "projectId": {
          "description": "Output only. The ID of the project that this `ProjectBillingInfo` represents, such as `tokyo-rain-123`. This is a convenience field so that you don't need to parse the `name` field to obtain a project ID.",
          "type": "string",
          "readOnly": true
        },
        "billingEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the project is associated with an open billing account, to which usage on the project is charged. False if the project is associated with a closed billing account, or no billing account at all, and therefore cannot use paid services."
        }
      },
      "description": "Encapsulation of billing information for a Google Cloud Console project. A project has at most one associated billing account at a time (but a billing account can be assigned to multiple projects)."
    },
    "HTTPAuthSecurityScheme": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "bearerFormat": {
          "type": "string",
          "description": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes."
        },
        "scheme": {
          "type": "string",
          "description": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235."
        }
      },
      "id": "HTTPAuthSecurityScheme"
    },
    "ListSkusResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListSkus` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
        },
        "skus": {
          "description": "The list of public SKUs of the given service.",
          "type": "array",
          "items": {
            "$ref": "Sku"
          }
        }
      },
      "id": "ListSkusResponse",
      "description": "Response message for `ListSkus`.",
      "type": "object"
    },
    "BillingAccount": {
      "description": "A billing account in the [Google Cloud Console](https://console.cloud.google.com/). You can assign a billing account to one or more projects.",
      "properties": {
        "masterBillingAccount": {
          "description": "If this account is a [subaccount](https://cloud.google.com/billing/docs/concepts), then this will be the resource name of the parent billing account that it is being resold through. Otherwise this will be empty.",
          "type": "string"
        },
        "open": {
          "type": "boolean",
          "description": "Output only. True if the billing account is open, and will therefore be charged for any usage on associated projects. False if the billing account is closed, and therefore projects associated with it are unable to use paid services.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` would be the resource name for billing account `012345-567890-ABCDEF`.",
          "type": "string",
          "readOnly": true
        },
        "parent": {
          "description": "Output only. The billing account's parent resource identifier. Use the `MoveBillingAccount` method to update the account's parent resource if it is a organization. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
          "readOnly": true,
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which the billing account is billed and charged, represented as an ISO 4217 code such as `USD`. Billing account currency is determined at the time of billing account creation and cannot be updated subsequently, so this field should not be set on update requests. In addition, a subaccount always matches the currency of its parent billing account, so this field should not be set on subaccount creation requests. Clients can read this field to determine the currency of an existing billing account."
        },
        "displayName": {
          "type": "string",
          "description": "The display name given to the billing account, such as `My Billing Account`. This name is displayed in the Google Cloud Console."
        }
      },
      "id": "BillingAccount",
      "type": "object"
    },
    "StringList": {
      "id": "StringList",
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED",
      "type": "object",
      "properties": {
        "list": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Security": {
      "id": "Security",
      "type": "object",
      "properties": {
        "schemes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "StringList"
          }
        }
      }
    },
    "Artifact": {
      "description": "Artifacts are the container for task completed results. These are similar to Messages but are intended to be the product of a task, as opposed to point-to-point communication.",
      "id": "Artifact",
      "type": "object",
      "properties": {
        "parts": {
          "type": "array",
          "description": "The content of the artifact.",
          "items": {
            "$ref": "Part"
          }
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the artifact. It must be at least unique within a task."
        },
        "description": {
          "type": "string",
          "description": "A human readable description of the artifact, optional."
        },
        "extensions": {
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "type": "array"
        },
        "metadata": {
          "description": "Optional metadata included with the artifact.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "PricingExpression": {
      "properties": {
        "baseUnitDescription": {
          "description": "The base unit in human readable form. Example: \"byte\".",
          "type": "string"
        },
        "displayQuantity": {
          "description": "The recommended quantity of units for displaying pricing info. When displaying pricing info it is recommended to display: (unit_price * display_quantity) per display_quantity usage_unit. This field does not affect the pricing formula and is for display purposes only. Example: If the unit_price is \"0.0001 USD\", the usage_unit is \"GB\" and the display_quantity is \"1000\" then the recommended way of displaying the pricing info is \"0.10 USD per 1000 GB\"",
          "type": "number",
          "format": "double"
        },
        "tieredRates": {
          "type": "array",
          "description": "The list of tiered rates for this pricing. The total cost is computed by applying each of the tiered rates on usage. This repeated list is sorted by ascending order of start_usage_amount.",
          "items": {
            "$ref": "TierRate"
          }
        },
        "baseUnit": {
          "description": "The base unit for the SKU which is the unit used in usage exports. Example: \"By\"",
          "type": "string"
        },
        "usageUnit": {
          "type": "string",
          "description": "The short hand for unit of usage this pricing is specified in. Example: usage_unit of \"GiBy\" means that usage is specified in \"Gibi Byte\"."
        },
        "usageUnitDescription": {
          "description": "The unit of usage in human readable form. Example: \"gibi byte\".",
          "type": "string"
        },
        "baseUnitConversionFactor": {
          "format": "double",
          "type": "number",
          "description": "Conversion factor for converting from price per usage_unit to price per base_unit, and start_usage_amount to start_usage_amount in base_unit. unit_price / base_unit_conversion_factor = price per base_unit. start_usage_amount * base_unit_conversion_factor = start_usage_amount in base_unit."
        }
      },
      "id": "PricingExpression",
      "type": "object",
      "description": "Expresses a mathematical pricing formula. For Example:- `usage_unit: GBy` `tiered_rates:` `[start_usage_amount: 20, unit_price: $10]` `[start_usage_amount: 100, unit_price: $5]` The above expresses a pricing formula where the first 20GB is free, the next 80GB is priced at $10 per GB followed by $5 per GB for additional usage."
    },
    "CancelTaskRequest": {
      "id": "CancelTaskRequest",
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
        }
      },
      "type": "object"
    },
    "MoveBillingAccountRequest": {
      "id": "MoveBillingAccountRequest",
      "type": "object",
      "properties": {
        "destinationParent": {
          "description": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`.",
          "type": "string"
        }
      },
      "description": "Request message for `MoveBillingAccount` RPC."
    },
    "AgentCard": {
      "type": "object",
      "id": "AgentCard",
      "description": "AgentCard conveys key information: - Overall details (version, name, description, uses) - Skills; a set of actions/solutions the agent can perform - Default modalities/content types supported by the agent. - Authentication requirements Next ID: 19",
      "properties": {
        "documentationUrl": {
          "description": "A url to provide additional documentation about the agent.",
          "type": "string"
        },
        "defaultInputModes": {
          "type": "array",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as mime types.",
          "items": {
            "type": "string"
          }
        },
        "security": {
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security requirements for contacting the agent. This list can be seen as an OR of ANDs. Each object in the list describes one possible set of security requirements that must be present on a request. This allows specifying, for example, \"callers must either use OAuth OR an API Key AND mTLS.\" Example: security { schemes { key: \"oauth\" value { list: [\"read\"] } } } security { schemes { key: \"api-key\" } schemes { key: \"mtls\" } }",
          "items": {
            "$ref": "Security"
          }
        },
        "supportsAuthenticatedExtendedCard": {
          "description": "Whether the agent supports providing an extended agent card when the user is authenticated, i.e. is the card from .well-known different than the card from GetAgentCard.",
          "type": "boolean"
        },
        "protocolVersion": {
          "type": "string",
          "description": "The version of the A2A protocol this agent supports."
        },
        "signatures": {
          "type": "array",
          "description": "JSON Web Signatures computed for this AgentCard.",
          "items": {
            "$ref": "AgentCardSignature"
          }
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "AgentProvider"
        },
        "url": {
          "description": "A URL to the address the agent is hosted at. This represents the preferred endpoint as declared by the agent.",
          "type": "string"
        },
        "description": {
          "description": "A description of the agent's domain of action/solution space. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "iconUrl": {
          "description": "An optional URL to an icon for the agent.",
          "type": "string"
        },
        "defaultOutputModes": {
          "items": {
            "type": "string"
          },
          "description": "The mime types supported as outputs from this agent.",
          "type": "array"
        },
        "preferredTransport": {
          "description": "The transport of the preferred endpoint. If empty, defaults to JSONRPC.",
          "type": "string"
        },
        "additionalInterfaces": {
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Announcement of additional supported transports. Client can use any of the supported transports."
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "AgentSkill"
          },
          "description": "Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the agent. Example: \"Recipe Agent\""
        },
        "securitySchemes": {
          "type": "object",
          "description": "The security scheme details used for authenticating with this agent.",
          "additionalProperties": {
            "$ref": "SecurityScheme"
          }
        },
        "capabilities": {
          "description": "A2A Capability set supported by the agent.",
          "$ref": "AgentCapabilities"
        },
        "version": {
          "description": "The version of the agent. Example: \"1.0.0\"",
          "type": "string"
        }
      }
    }
  },
  "id": "cloudbilling:v1",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "resources": {
    "v1": {
      "methods": {
        "getCard": {
          "path": "v1/card",
          "id": "cloudbilling.getCard",
          "response": {
            "$ref": "AgentCard"
          },
          "description": "GetAgentCard returns the agent card for the agent.",
          "flatPath": "v1/card",
          "parameters": {
            "tenant": {
              "type": "string",
              "location": "query",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "organizations": {
      "resources": {
        "billingAccounts": {
          "methods": {
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Changes which parent organization a billing account belongs to.",
              "response": {
                "$ref": "BillingAccount"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account.",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "destinationParent": {
                  "required": true,
                  "description": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`.",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "destinationParent",
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts/{billingAccountsId}:move",
              "id": "cloudbilling.organizations.billingAccounts.move",
              "httpMethod": "GET",
              "path": "v1/{+destinationParent}/{+name}:move"
            },
            "create": {
              "id": "cloudbilling.organizations.billingAccounts.create",
              "path": "v1/{+parent}/billingAccounts",
              "httpMethod": "POST",
              "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
              "response": {
                "$ref": "BillingAccount"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BillingAccount"
              },
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts"
            },
            "list": {
              "path": "v1/{+parent}/billingAccounts",
              "id": "cloudbilling.organizations.billingAccounts.list",
              "flatPath": "v1/organizations/{organizationsId}/billingAccounts",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListBillingAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access)."
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "subAccounts": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListBillingAccountsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported."
                },
                "parent": {
                  "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "pageToken": {
                  "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.subAccounts.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
              "path": "v1/{+parent}/subAccounts",
              "flatPath": "v1/billingAccounts/{billingAccountsId}/subAccounts"
            },
            "create": {
              "request": {
                "$ref": "BillingAccount"
              },
              "flatPath": "v1/billingAccounts/{billingAccountsId}/subAccounts",
              "description": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "cloudbilling.billingAccounts.subAccounts.create",
              "path": "v1/{+parent}/subAccounts",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "BillingAccount"
              }
            }
          }
        },
        "projects": {
          "methods": {
            "list": {
              "path": "v1/{+name}/projects",
              "id": "cloudbilling.billingAccounts.projects.list",
              "response": {
                "$ref": "ListProjectBillingInfoResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/billingAccounts/{billingAccountsId}/projects",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous `ListProjectBillingInfo` call. If unspecified, the first page of results is returned."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The resource name of the billing account associated with the projects that you want to list. For example, `billingAccounts/012345-567890-ABCDEF`.",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. The maximum page size is 100; this is also the default.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists the projects associated with a billing account. The current authenticated user must have the `billing.resourceAssociations.list` IAM permission, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access)."
            }
          }
        }
      },
      "methods": {
        "list": {
          "description": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Requested page size. The maximum page size is 100; this is also the default."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported."
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
            }
          },
          "response": {
            "$ref": "ListBillingAccountsResponse"
          },
          "id": "cloudbilling.billingAccounts.list",
          "httpMethod": "GET",
          "flatPath": "v1/billingAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/billingAccounts",
          "parameterOrder": []
        },
        "move": {
          "description": "Changes which parent organization a billing account belongs to.",
          "response": {
            "$ref": "BillingAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v1/{+name}:move",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudbilling.billingAccounts.move",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^billingAccounts/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account."
            }
          },
          "request": {
            "$ref": "MoveBillingAccountRequest"
          },
          "flatPath": "v1/billingAccounts/{billingAccountsId}:move"
        },
        "get": {
          "description": "Gets information about a billing account. The current authenticated user must be a [viewer of the billing account](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "BillingAccount"
          },
          "flatPath": "v1/billingAccounts/{billingAccountsId}",
          "httpMethod": "GET",
          "id": "cloudbilling.billingAccounts.get",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The resource name of the billing account to retrieve. For example, `billingAccounts/012345-567890-ABCDEF`.",
              "type": "string",
              "pattern": "^billingAccounts/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1/{+name}"
        },
        "getIamPolicy": {
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^billingAccounts/[^/]+$",
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            },
            "options.requestedPolicyVersion": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
            }
          },
          "path": "v1/{+resource}:getIamPolicy",
          "flatPath": "v1/billingAccounts/{billingAccountsId}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "GET",
          "description": "Gets the access control policy for a billing account. The caller must have the `billing.accounts.getIamPolicy` permission on the account, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access).",
          "id": "cloudbilling.billingAccounts.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Policy"
          }
        },
        "patch": {
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates a billing account's fields. Currently the only field that can be edited is `display_name`. The current authenticated user must have the `billing.accounts.update` IAM permission, which is typically given to the [administrator](https://cloud.google.com/billing/docs/how-to/billing-access) of the billing account.",
          "request": {
            "$ref": "BillingAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudbilling.billingAccounts.patch",
          "response": {
            "$ref": "BillingAccount"
          },
          "parameters": {
            "name": {
              "pattern": "^billingAccounts/[^/]+$",
              "description": "Required. The name of the billing account resource to be updated.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "The update mask applied to the resource. Only \"display_name\" is currently supported."
            }
          },
          "flatPath": "v1/billingAccounts/{billingAccountsId}",
          "httpMethod": "PATCH"
        },
        "create": {
          "response": {
            "$ref": "BillingAccount"
          },
[...]
