{
  "protocol": "rest",
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudlocationfinder.mtls.googleapis.com/",
  "rootUrl": "https://cloudlocationfinder.googleapis.com/",
  "version_module": true,
  "version": "v1alpha",
  "ownerName": "Google",
  "revision": "20260930",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Location Finder",
  "documentationLink": "https://cloud.google.com/location-finder/docs",
  "schemas": {
    "CloudLocation": {
      "type": "object",
      "id": "CloudLocation",
      "description": "Represents resource cloud locations.",
      "properties": {
        "containingCloudLocation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The containing cloud location in the strict nesting hierarchy. For example, the containing cloud location of a zone is a region."
        },
        "cloudProvider": {
          "description": "Optional. The provider of the cloud location. Values can be Google Cloud or third-party providers, including AWS, Azure, or Oracle Cloud Infrastructure.",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "CLOUD_PROVIDER_GCP",
            "CLOUD_PROVIDER_AWS",
            "CLOUD_PROVIDER_AZURE",
            "CLOUD_PROVIDER_OCI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud provider type for Google Cloud.",
            "Cloud provider type for AWS.",
            "Cloud provider type for Azure.",
            "Cloud provider type for OCI."
          ]
        },
        "displayName": {
          "description": "Optional. The human-readable name of the cloud location. Example: us-east-2, us-east1.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the cloud location. Unique name of the cloud location including project and location using the form: `projects/{project_id}/locations/{location}/cloudLocations/{cloud_location}`"
        },
        "cloudLocationType": {
          "enumDescriptions": [
            "Unspecified type.",
            "CloudLocation type for region.",
            "CloudLocation type for zone.",
            "CloudLocation type for Google Distributed Cloud Connected Zone.",
            "CloudLocation type for global."
          ],
          "enum": [
            "CLOUD_LOCATION_TYPE_UNSPECIFIED",
            "CLOUD_LOCATION_TYPE_REGION",
            "CLOUD_LOCATION_TYPE_ZONE",
            "CLOUD_LOCATION_TYPE_GDCC_ZONE",
            "CLOUD_LOCATION_TYPE_GLOBAL"
          ],
          "description": "Optional. The type of the cloud location.",
          "type": "string"
        },
        "territoryCode": {
          "description": "Optional. The two-letter ISO 3166-1 alpha-2 code of the cloud location. Examples: US, JP, KR.",
          "type": "string"
        },
        "carbonFreeEnergyPercentage": {
          "format": "float",
          "type": "number",
          "description": "Optional. The carbon free energy percentage of the cloud location. This represents the average percentage of time customers' application will be running on carbon-free energy. See https://cloud.google.com/sustainability/region-carbon for more details. There is a difference between default value 0 and unset value. 0 means the carbon free energy percentage is 0%, while unset value means the carbon footprint data is not available."
        },
        "gcpAttributes": {
          "description": "Optional. GCP-specific attributes.",
          "$ref": "GcpAttributes"
        }
      }
    },
    "GcpAttributes": {
      "type": "object",
      "description": "GCP-specific attributes.",
      "id": "GcpAttributes",
      "properties": {
        "zoneType": {
          "description": "Optional. The type of the cloud zone.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified zone type.",
            "General purpose zone type.",
            "AI zone type."
          ],
          "enum": [
            "GCP_ZONE_TYPE_UNSPECIFIED",
            "GENERAL_PURPOSE",
            "AI_ZONE"
          ]
        }
      }
    },
    "ListCloudLocationsResponse": {
      "id": "ListCloudLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results.",
          "readOnly": true,
          "type": "string"
        },
        "cloudLocations": {
          "items": {
            "$ref": "CloudLocation"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of cloud locations."
        }
      },
      "description": "Message for response to listing cloud locations.",
      "type": "object"
    },
    "SearchCloudLocationsResponse": {
      "id": "SearchCloudLocationsResponse",
      "description": "Message for response to searching cloud locations.",
      "type": "object",
      "properties": {
        "cloudLocations": {
          "description": "Output only. List of cloud locations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloudLocation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results.",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    }
  },
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "name": "cloudlocationfinder",
  "description": "",
  "ownerDomain": "google.com",
  "id": "cloudlocationfinder:v1alpha",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Location Finder API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "cloudLocations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "CloudLocation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations/{cloudLocationsId}",
                  "description": "Retrieves a resource containing information about a cloud location.",
                  "httpMethod": "GET",
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudLocations/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/cloudLocations:search",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SearchCloudLocationsResponse"
                  },
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.search",
                  "description": "Searches for cloud locations from a given source location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of cloud locations to return. The service might return fewer cloud locations than this value. If unspecified, at most 500 cloud locations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "query": {
                      "description": "Optional. The query string in search query syntax. While filter is used to filter the search results by attributes, query is used to specify the search requirements.",
                      "type": "string",
                      "location": "query"
                    },
                    "sourceCloudLocation": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The source cloud location to search from. Example search can be searching nearby cloud locations from the source cloud location by latency."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return. Provide Page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCloudLocationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations",
                  "description": "Lists cloud locations under a given project and location.",
                  "path": "v1alpha/{+parent}/cloudLocations",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. A filter expression that filters resources listed in the response. The expression is in the form of field=value. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION'. Multiple filter queries are space-separated. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION territory_code=\"US\"' By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Provide page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of cloud locations to return per page. The service might return fewer cloud locations than this value. If unspecified, at most 500 cloud locations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "id": "cloudlocationfinder.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1alpha/{+name}/locations",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "cloudlocationfinder.projects.locations.list",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://cloudlocationfinder.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}