{
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Cloud Support API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20260927",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "kind": "discovery#restDescription",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "response": {
            "$ref": "Attachment"
          },
          "id": "cloudsupport.media.upload",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "path": "v2/{+parent}/attachments",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+parent}/attachments"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the case or Cloud resource to which the attachment should be attached.",
              "type": "string"
            }
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
          "description": "Create a file attachment on a case or Cloud resource. The attachment must have the following fields set: `filename`. EXAMPLES: cURL: ```shell echo \"This text is in a file I'm uploading using CSAPI.\" \\ > \"./example_file.txt\" case=\"projects/some-project/cases/43594844\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --data-binary @\"./example_file.txt\" \\ \"https://cloudsupport.googleapis.com/upload/v2/$case/attachments?attachment.filename=uploaded_via_curl.txt\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) file_path = \"./example_file.txt\" with open(file_path, \"w\") as file: file.write( \"This text is inside a file I'm going to upload using the Cloud Support API.\", ) request = supportApiService.media().upload( parent=\"projects/some-project/cases/43595344\", media_body=file_path ) request.uri = request.uri.split(\"?\")[0] + \"?attachment.filename=uploaded_via_python.txt\" print(request.execute()) ```",
          "request": {
            "$ref": "CreateAttachmentRequest"
          }
        },
        "download": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "supportsMediaDownload": true,
          "id": "cloudsupport.media.download",
          "response": {
            "$ref": "Media"
          },
          "path": "v2/{+name}:download",
          "description": "Download a file attached to a case. When this endpoint is called, no \"response body\" will be returned. Instead, the attachment's blob will be returned. Note: HTTP requests must append \"?alt=media\" to the URL. EXAMPLES: cURL: ```shell name=\"projects/some-project/cases/43594844/attachments/0674M00000WijAnZAJ\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$name:download?alt=media\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.media().download( name=\"projects/some-project/cases/43595344/attachments/0684M00000Pw6pHQAR\" ) request.uri = request.uri.split(\"?\")[0] + \"?alt=media\" print(request.execute()) ```",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "description": "The name of the file attachment to download.",
              "location": "path"
            }
          },
          "useMediaDownloadService": true,
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments/{attachmentsId}:download"
        }
      }
    },
    "organizations": {
      "resources": {
        "supportEventSubscriptions": {
          "methods": {
            "list": {
              "description": "Lists support event subscriptions. EXAMPLES: cURL: ```shell parent=\"organizations/123456789\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/supportEventSubscriptions\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().list( parent=\"organizations/123456789\" ) print(request.execute()) ```",
              "response": {
                "$ref": "ListSupportEventSubscriptionsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of support event subscriptions to return."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The fully qualified name of the Cloud resource to list support event subscriptions under. Format: organizations/{organization_id}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "filter": {
                  "description": "Optional. Filter expression based on AIP-160. Supported fields: - pub_sub_topic - state Examples: - `pub_sub_topic=\"projects/example-project/topics/example-topic\"` - `state=WORKING` - `pub_sub_topic=\"projects/example-project/topics/example-topic\" AND state=WORKING`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying the page of results to return. If unspecified, the first page is retrieved. When paginating, all other parameters provided to `ListSupportEventSubscriptions` must match the call that provided the page token."
                },
                "showDeleted": {
                  "description": "Optional. Whether to show deleted subscriptions. By default, deleted subscriptions are not returned.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/supportEventSubscriptions",
              "id": "cloudsupport.organizations.supportEventSubscriptions.list",
              "flatPath": "v2/organizations/{organizationsId}/supportEventSubscriptions",
              "httpMethod": "GET"
            },
            "expunge": {
              "path": "v2/{+name}:expunge",
              "parameters": {
                "name": {
                  "description": "Required. The name of the support event subscription to expunge. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsupport.organizations.supportEventSubscriptions.expunge",
              "description": "Expunges a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$support_event_subscription:expunge\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().expunge( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "flatPath": "v2/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}:expunge",
              "httpMethod": "POST",
              "request": {
                "$ref": "ExpungeSupportEventSubscriptionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "path": "v2/{+name}",
              "description": "Updates a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"pub_sub_topic\": \"projects/my-project/topics/new-topic\" }' \\ \"https://cloudsupport.googleapis.com/v2/$support_event_subscription?updateMask=pub_sub_topic\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().patch( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\", body={ \"pub_sub_topic\": \"projects/my-project/topics/new-topic\" }, ) print(request.execute()) ```",
              "request": {
                "$ref": "SupportEventSubscription"
              },
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the support event subscription.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. The only supported value is pub_sub_topic.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v2/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}",
              "id": "cloudsupport.organizations.supportEventSubscriptions.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "undelete": {
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Undeletes a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$support_event_subscription:undelete\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().undelete( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}:undelete",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "description": "Required. The name of the support event subscription to undelete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "UndeleteSupportEventSubscriptionRequest"
              },
              "id": "cloudsupport.organizations.supportEventSubscriptions.undelete",
              "flatPath": "v2/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}:undelete"
            },
            "create": {
              "request": {
                "$ref": "SupportEventSubscription"
              },
              "description": "Creates a support event subscription for an organization. EXAMPLES: cURL: ```shell parent=\"organizations/123456789\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"pub_sub_topic\": \"projects/my-project/topics/my-topic\" }' \\ \"https://cloudsupport.googleapis.com/v2/$parent/supportEventSubscriptions\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().create( parent=\"organizations/123456789\", body={ \"pub_sub_topic\": \"projects/my-project/topics/my-topic\" }, ) print(request.execute()) ```",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the support event subscription will be created. Format: organizations/{organization_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "id": "cloudsupport.organizations.supportEventSubscriptions.create",
              "flatPath": "v2/organizations/{organizationsId}/supportEventSubscriptions",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/supportEventSubscriptions",
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}",
              "description": "Gets a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$support_event_subscription\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.supportEventSubscriptions().get( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the support event subscription to retrieve. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "required": true
                }
              },
              "id": "cloudsupport.organizations.supportEventSubscriptions.get"
            },
            "delete": {
              "id": "cloudsupport.organizations.supportEventSubscriptions.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Soft deletes a support event subscription. EXAMPLES: cURL: ```shell support_event_subscription=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" curl \\ --request DELETE \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$support_event_subscription\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService).supportEventSubscriptions().delete( name=\"organizations/123456789/supportEventSubscriptions/abcdef123456\" ) print(request.execute()) ```",
              "path": "v2/{+name}",
              "response": {
                "$ref": "SupportEventSubscription"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the support event subscription to delete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
                  "pattern": "^organizations/[^/]+/supportEventSubscriptions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/supportEventSubscriptions/{supportEventSubscriptionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE"
            }
          }
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "httpMethod": "GET",
          "path": "v2/caseClassifications:search",
          "flatPath": "v2/caseClassifications:search",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "description": "Retrieve valid classifications to use when creating a support case. Classifications are hierarchical. Each classification is a string containing all levels of the hierarchy separated by `\" > \"`. For example, `\"Technical Issue > Compute > Compute Engine\"`. Classification IDs returned by this endpoint are valid for at least six months. When a classification is deactivated, this endpoint immediately stops returning it. After six months, `case.create` requests using the classification will fail. EXAMPLES: cURL: ```shell curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ 'https://cloudsupport.googleapis.com/v2/caseClassifications:search?query=display_name:\"*Compute%20Engine*\"' ``` Python: ```python import googleapiclient.discovery supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=\"v2\", discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version=v2\", ) request = supportApiService.caseClassifications().search( query='display_name:\"*Compute Engine*\"' ) print(request.execute()) ```",
          "id": "cloudsupport.caseClassifications.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of classifications fetched with each request."
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "An expression used to filter case classifications. If it's an empty string, then no filtering happens. Otherwise, case classifications will be returned that match the filter."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            }
          }
        }
      }
    },
    "cases": {
      "methods": {
        "get": {
          "id": "cloudsupport.cases.get",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieve a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/16033687\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().get( name=\"projects/some-project/cases/43595344\", ) print(request.execute()) ```",
          "path": "v2/{+name}",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The full name of a case to be retrieved.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "close": {
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:close",
          "path": "v2/{+name}:close",
          "description": "Close a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case:close\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().close( name=\"projects/some-project/cases/43595344\" ) print(request.execute()) ```",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the case to close.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "id": "cloudsupport.cases.close",
          "httpMethod": "POST",
          "response": {
            "$ref": "Case"
          },
          "request": {
            "$ref": "CloseCaseRequest"
          }
        },
        "create": {
          "request": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "parent": {
              "required": true,
              "description": "Required. The name of the parent under which the case should be created.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$"
            }
          },
          "path": "v2/{+parent}/cases",
          "description": "Create a new case and associate it with a parent. It must have the following fields set: `display_name`, `description`, `classification`, and `priority`. If you're just testing the API and don't want to route your case to an agent, set `testCase=true`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"display_name\": \"Test case created by me.\", \"description\": \"a random test case, feel free to close\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, \"time_zone\": \"-07:00\", \"subscriber_email_addresses\": [ \"foo@domain.com\", \"bar@domain.com\" ], \"testCase\": true, \"priority\": \"P3\" }' \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().create( parent=\"projects/some-project\", body={ \"displayName\": \"A Test Case\", \"description\": \"This is a test case.\", \"testCase\": True, \"priority\": \"P2\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, }, ) print(request.execute()) ```",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "id": "cloudsupport.cases.create"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "parameters": {
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "format": "int32"
            },
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of a parent to list cases under.",
              "location": "path"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression used to filter cases. If it's an empty string, then no filtering happens. Otherwise, the endpoint returns the cases that match the filter. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. EXAMPLES: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`"
            }
          },
          "id": "cloudsupport.cases.list",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "description": "Retrieve all cases under a parent, but not its children. For example, listing cases under an organization only returns the cases that are directly parented by that organization. To retrieve cases under an organization and its projects, use `cases.search`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().list(parent=\"projects/some-project\") print(request.execute()) ```",
          "path": "v2/{+parent}/cases",
          "parameterOrder": [
            "parent"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update a case. Only some fields can be updated. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"priority\": \"P1\" }' \\ \"https://cloudsupport.googleapis.com/v2/$case?updateMask=priority\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().patch( name=\"projects/some-project/cases/43112854\", body={ \"displayName\": \"This is Now a New Title\", \"priority\": \"P2\", }, ) print(request.execute()) ```",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "request": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudsupport.cases.patch",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Identifier. The resource name for the case.",
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "description": "A list of attributes of the case that should be updated. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. Be careful - if you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "escalate": {
          "id": "cloudsupport.cases.escalate",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:escalate",
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The name of the case to be escalated.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/{+name}:escalate",
          "description": "Escalate a case, starting the Google Cloud Support escalation management process. This operation is only available for some support services. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which ones let you do that. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\" } }' \\ \"https://cloudsupport.googleapis.com/v2/$case:escalate\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().escalate( name=\"projects/some-project/cases/43595344\", body={ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\", }, }, ) print(request.execute()) ```",
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "POST"
        },
        "search": {
          "flatPath": "v2/{v2Id}/{v2Id1}/cases:search",
          "path": "v2/{+parent}/cases:search",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string",
              "location": "query"
            },
            "query": {
              "description": "An expression used to filter cases. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time>\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`>`). If you are using the `v2` version of the API, you must specify the case parent in the `parent` field. If you provide an empty `query`, all cases under the parent resource will be returned. If you are using the `v2beta` version of the API, you must specify the case parent in the `query` field using one of the two fields below, which are only available for `v2beta`. The `parent` field will be ignored. - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. Examples: For `v2`: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)` - `update_time>\"2020-01-01T00:00:00-05:00\"` For `v2beta`: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. The default page size is 10."
            },
            "parent": {
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "description": "The name of the parent resource to search for cases under.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "description": "Search for cases using a query. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases:search\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().search( parent=\"projects/some-project\", query=\"state=OPEN\" ) print(request.execute()) ```",
          "id": "cloudsupport.cases.search",
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100. The size of each page can be smaller than the requested page size and can include zero. For example, you could request 100 attachments on one page, receive 0, and then on the next page, receive 90."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the case for which attachments should be listed.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path"
                }
              },
              "id": "cloudsupport.cases.attachments.list",
              "path": "v2/{+parent}/attachments",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List all the attachments associated with a support case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/23598314\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case/attachments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "httpMethod": "GET"
            },
            "get": {
              "id": "cloudsupport.cases.attachments.get",
              "description": "Retrieve an attachment associated with a support case. EXAMPLES: cURL: ```shell attachment=\"projects/some-project/cases/23598314/attachments/0684M00000P3h1fQAB\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$attachment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .get(name=\"projects/some-project/cases/43595344/attachments/0684M00000P3h1fQAB\") ) print(request.execute()) ```",
              "path": "v2/{+name}",
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments/{attachmentsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the attachment to get.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Attachment"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "comments": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the case to which the comment should be added.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Comment"
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "path": "v2/{+parent}/comments",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Comment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Add a new comment to a case. The comment must have the following fields set: `body`. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43591344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"body\": \"This is a test comment.\" }' \\ \"https://cloudsupport.googleapis.com/v2/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .create( parent=\"projects/some-project/cases/43595344\", body={\"body\": \"This is a test comment.\"}, ) ) print(request.execute()) ```",
              "id": "cloudsupport.cases.comments.create",
              "httpMethod": "POST"
            },
            "list": {
              "id": "cloudsupport.cases.comments.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of comments to fetch. Defaults to 10.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The name of the case for which to list comments.",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "List all the comments associated with a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "path": "v2/{+parent}/comments",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "description": "Retrieve a comment. EXAMPLES: cURL: ```shell comment=\"projects/some-project/cases/43595344/comments/234567890\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$comment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().comments().get( name=\"projects/some-project/cases/43595344/comments/234567890\", ) print(request.execute()) ```",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+/comments/[^/]+$",
                  "description": "Required. The name of the comment to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudsupport.cases.comments.get",
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments/{commentsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Comment"
              },
              "path": "v2/{+name}",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "DownloadParameters": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DownloadParameters",
      "properties": {
        "ignoreRange": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "Escalation": {
      "description": "An escalation of a support case.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Required. The reason why the Case is being escalated.",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ]
        },
        "justification": {
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Escalation"
    },
    "Blobstore2Info": {
      "properties": {
        "downloadExternalReadToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "uploadMetadataContainer": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "downloadReadHandle": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadFragmentListCreationInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobGeneration": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "readToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "Blobstore2Info",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Comment": {
      "description": "A comment associated with a support case. Case comments are the primary way for Google Support to communicate with a user who has opened a case. When a user responds to Google Support, the user's responses also appear as comments.",
      "properties": {
        "body": {
          "description": "The full comment body. Maximum of 12800 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the comment was created.",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The user or Google Support agent who created the comment.",
          "$ref": "Actor",
          "readOnly": true
        },
        "plainTextBody": {
          "description": "Output only. DEPRECATED. DO NOT USE. A duplicate of the `body` field. This field is only present for legacy reasons.",
          "type": "string",
          "readOnly": true,
          "deprecated": true
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the comment.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Comment",
      "type": "object"
    },
    "DiffUploadResponse": {
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffUploadResponse",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "ExpungeSupportEventSubscriptionRequest": {
      "id": "ExpungeSupportEventSubscriptionRequest",
      "description": "Request message for ExpungeSupportEventSubscription.",
      "properties": {},
      "type": "object"
    },
    "UndeleteSupportEventSubscriptionRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteSupportEventSubscriptionRequest",
      "description": "Request message for UndeleteSupportEventSubscription."
    },
    "CompositeMedia": {
      "properties": {
        "referenceType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ]
        },
        "inline": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string",
          "deprecated": true
        },
        "crc32cHash": {
          "format": "uint32",
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "CompositeMedia",
      "type": "object"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchCasesResponse": {
      "type": "object",
      "id": "SearchCasesResponse",
      "description": "The response message for the SearchCases endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.search` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "cases": {
          "type": "array",
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the parent after any filters have been applied."
        }
      }
    },
    "Attachment": {
      "description": "An Attachment contains metadata about a file that was uploaded to a case - it is NOT a file itself. That being said, the name of an Attachment object can be used to download its accompanying file through the `media.download` endpoint. While attachments can be uploaded in the console at the same time as a comment, they're associated on a \"case\" level, not a \"comment\" level.",
      "properties": {
        "mimeType": {
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "filename": {
          "type": "string",
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`)."
        },
        "sizeBytes": {
          "readOnly": true,
          "description": "Output only. The size of the attachment in bytes.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the attachment.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Attachment"
    },
    "CloseCaseRequest": {
      "type": "object",
      "id": "CloseCaseRequest",
      "properties": {},
      "description": "The request message for the CloseCase endpoint."
    },
    "ListCasesResponse": {
      "description": "The response message for the ListCases endpoint.",
      "id": "ListCasesResponse",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the parent after any filters have been applied.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      }
    },
    "ContentTypeInfo": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bestGuess": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromFusionId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fusionIdDetectionMetadata": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "fromUrlPath": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "ContentTypeInfo",
      "type": "object"
    },
    "CreateAttachmentRequest": {
      "id": "CreateAttachmentRequest",
      "properties": {
        "attachment": {
          "description": "Required. The attachment to be created.",
          "$ref": "Attachment"
        }
      },
      "type": "object",
      "description": "The request message for the CreateAttachment endpoint."
    },
    "DiffChecksumsResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DiffChecksumsResponse",
      "properties": {
        "chunkSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "EscalateCaseRequest": {
      "description": "The request message for the EscalateCase endpoint.",
      "properties": {
        "escalation": {
          "$ref": "Escalation",
          "description": "The escalation information to be sent with the escalation request."
        }
      },
      "type": "object",
      "id": "EscalateCaseRequest"
    },
    "ListAttachmentsResponse": {
      "id": "ListAttachmentsResponse",
      "description": "The response message for the ListAttachments endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "description": "The list of attachments associated with a case."
        }
      },
      "type": "object"
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "Actor": {
      "id": "Actor",
      "description": "An Actor represents an entity that performed an action. For example, an actor could be a user who posted a comment on a support case, a user who uploaded an attachment, or a service account that created a support case.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Output only. The username of the actor. It may look like an email or other format provided by the identity provider. If not provided, it is inferred from the credentials supplied. When a name is provided, a username must also be provided. If the user is a Google Support agent, this will not be set.",
          "readOnly": true
        },
        "googleSupport": {
          "readOnly": true,
          "description": "Output only. Whether the actor is a Google support actor.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from the credentials supplied during case creation. When a name is provided, an email must also be provided. If the user is a Google Support agent, this is obfuscated. This field is deprecated. Use `username` instead.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Case": {
      "id": "Case",
      "description": "A Case is an object that contains the details of a support case. It contains fields for the time it was created, its priority, its classification, and more. Cases can also have comments and attachments that get added over time. A case is parented by a Google Cloud organization or project. Organizations are identified by a number, so the name of a case parented by an organization would look like this: ``` organizations/123/cases/456 ``` Projects have two unique identifiers, an ID and a number, and they look like this: ``` projects/abc/cases/456 ``` ``` projects/123/cases/456 ``` You can use either of them when calling the API. To learn more about project identifiers, see [AIP-2510](https://google.aip.dev/cloud/2510).",
      "type": "object",
      "properties": {
        "subscriberEmailAddresses": {
          "description": "The email addresses to receive updates on this case.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the case."
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "contactEmail": {
          "description": "A user-supplied email address to send case update notifications for. This field must be set when the request is authenticated using a Workforce Identity Federation (BYOID) flow and must not be set otherwise. When unset, the contact email is inferred from the authenticated user's credentials. If you use a service account to create the case and its inferred email address cannot receive emails, you should add appropriate contact emails in the `subscriber_email_addresses` field.",
          "type": "string"
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. This field is ignored on input. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "displayName": {
          "description": "The short summary of the issue reported in this case.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this case was created.",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "description": "Output only. The current status of the support case."
        },
        "updateTime": {
          "description": "Output only. The time this case was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "priority": {
          "description": "The priority of this case.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "type": "string"
        },
        "testCase": {
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team.",
          "type": "boolean"
        }
      }
    },
    "Media": {
      "id": "Media",
      "properties": {
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "deprecated": true,
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "isPotentialRetry": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "sha256Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "timestamp": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint64"
        },
        "hashVerified": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "mediaId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "compositeMedia": {
          "type": "array",
          "description": "# gdata.* are outside protos with mising documentation",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "bigstoreObjectRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "format": "byte",
          "type": "string"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "length": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "blobRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "type": "string"
        },
        "filename": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadResponse"
        },
        "sha512Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "CaseClassification": {
      "type": "object",
      "id": "CaseClassification",
      "description": "A Case Classification represents the topic that a case is about. It's very important to use accurate classifications, because they're used to route your cases to specialists who can help you. A classification always has an ID that is its unique identifier. A valid ID is required when creating a case.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field."
        },
        "id": {
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail.",
          "type": "string"
        }
      }
    },
    "DiffDownloadResponse": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffDownloadResponse"
    },
    "ListSupportEventSubscriptionsResponse": {
      "id": "ListSupportEventSubscriptionsResponse",
      "description": "Response message for ListSupportEventSubscriptions.",
      "properties": {
        "supportEventSubscriptions": {
          "items": {
            "$ref": "SupportEventSubscription"
          },
          "description": "The support event subscriptions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchCaseClassificationsResponse": {
      "id": "SearchCaseClassificationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `caseClassifications.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "caseClassifications": {
          "items": {
            "$ref": "CaseClassification"
          },
          "type": "array",
          "description": "The classifications retrieved."
        }
      },
      "description": "The response message for SearchCaseClassifications endpoint.",
      "type": "object"
    },
    "ObjectId": {
      "properties": {
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "ObjectId",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "SupportEventSubscription": {
      "id": "SupportEventSubscription",
      "properties": {
        "pubSubTopic": {
          "type": "string",
          "description": "Required. The name of the Pub/Sub topic to publish notifications to. Format: projects/{project}/topics/{topic}"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscription was created."
        },
        "purgeTime": {
          "readOnly": true,
          "description": "Output only. The time at which the subscription will be purged.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. The time at which the subscription was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the subscription was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the support event subscription.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "WORKING",
            "FAILING",
            "DELETED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Subscription is active and working.",
            "Subscription is failing. Notifications cannot be published for some reason.",
            "Subscription has been deleted and is pending purge. Notifications are not sent for deleted subscriptions. Deleted subscriptions are purged after their `purge_time` has passed."
          ],
          "description": "Output only. The state of the subscription."
        },
        "failureReason": {
          "enumDescriptions": [
            "Unspecified failure reason.",
            "The service account (i.e. cloud-support-apievents@system.gserviceaccount.com) lacks the permission to publish to the customer's Pub/Sub topic.",
            "The specified Pub/Sub topic does not exist.",
            "Message failed to publish due to a system-side error."
          ],
          "description": "Output only. Reason why subscription is failing. State of subscription must be FAILING in order for this to have a value.",
          "readOnly": true,
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "PERMISSION_DENIED",
            "TOPIC_NOT_FOUND",
            "OTHER"
          ],
          "type": "string"
        }
      },
      "description": "A support event subscription. You can also manage support event subscriptions using other tools: * [`gcloud support support-event-subscriptions`](/sdk/gcloud/reference/support/support-event-subscriptions) (or [`gcloud beta`](/sdk/gcloud/reference/beta/support/support-event-subscriptions) for beta) * [Terraform `google_cloud_support_support_event_subscription`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_support_support_event_subscription) (or [google-beta provider](https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/cloud_support_support_event_subscription) for beta)",
      "type": "object"
    },
    "ListCommentsResponse": {
      "type": "object",
      "properties": {
        "comments": {
          "description": "List of the comments associated with the case.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.comments.list` requests. If unspecified, there are no more results to retrieve."
        }
      },
      "description": "The response message for the ListComments endpoint.",
      "id": "ListCommentsResponse"
    }
  },
  "id": "cloudsupport:v2",
  "canonicalName": "Cloud Support",
  "version_module": true,
  "name": "cloudsupport",
  "batchPath": "batch",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "rootUrl": "https://cloudsupport.googleapis.com/"
}