{
  "name": "clouderrorreporting",
  "batchPath": "batch",
  "revision": "20260828",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "deleteEvents": {
              "path": "v1beta1/{+projectName}/events",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "DeleteEventsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/events",
              "id": "clouderrorreporting.projects.locations.deleteEvents",
              "description": "Deletes all error events of a given project.",
              "parameters": {
                "projectName": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "groupStats": {
              "methods": {
                "list": {
                  "id": "clouderrorreporting.projects.locations.groupStats.list",
                  "description": "Lists the specified groups.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectName"
                  ],
                  "path": "v1beta1/{+projectName}/groupStats",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/groupStats",
                  "response": {
                    "$ref": "ListGroupStatsResponse"
                  },
                  "parameters": {
                    "serviceFilter.service": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service)."
                    },
                    "serviceFilter.version": {
                      "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                      "location": "query",
                      "type": "string"
                    },
                    "order": {
                      "enumDescriptions": [
                        "No group order specified.",
                        "Total count of errors in the given time window in descending order.",
                        "Timestamp when the group was last seen in the given time window in descending order.",
                        "Timestamp when the group was created in descending order.",
                        "Number of affected users in the given time window in descending order."
                      ],
                      "enum": [
                        "GROUP_ORDER_UNSPECIFIED",
                        "COUNT_DESC",
                        "LAST_SEEN_DESC",
                        "CREATED_DESC",
                        "AFFECTED_USERS_DESC"
                      ],
                      "description": "Optional. The sort order in which the results are returned. Default is `COUNT_DESC`.",
                      "type": "string",
                      "location": "query"
                    },
                    "timeRange.period": {
                      "enumDescriptions": [
                        "Do not use.",
                        "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                        "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                        "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                        "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                        "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                      ],
                      "description": "Restricts the query to the specified time range.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "PERIOD_UNSPECIFIED",
                        "PERIOD_1_HOUR",
                        "PERIOD_6_HOURS",
                        "PERIOD_1_DAY",
                        "PERIOD_1_WEEK",
                        "PERIOD_30_DAYS"
                      ]
                    },
                    "alignment": {
                      "location": "query",
                      "enum": [
                        "ERROR_COUNT_ALIGNMENT_UNSPECIFIED",
                        "ALIGNMENT_EQUAL_ROUNDED",
                        "ALIGNMENT_EQUAL_AT_END"
                      ],
                      "enumDescriptions": [
                        "No alignment specified.",
                        "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the alignment_time provided in the request. The alignment_time does not have to be inside the query period but even if it is outside, only time periods are returned which overlap with the query period. A rounded alignment will typically result in a different size of the first or the last time period.",
                        "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the end of the requested time period. This can result in a different size of the first time period."
                      ],
                      "description": "Optional. The alignment of the timed counts to be returned. Default is `ALIGNMENT_EQUAL_AT_END`.",
                      "type": "string"
                    },
                    "projectName": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectNumber}`, where `{projectID}` and `{projectNumber}` can be found in the [Google Cloud console](https://support.google.com/cloud/answer/6158840). It may also include a location, such as `projects/{projectID}/locations/{location}` where `{location}` is a cloud region. Examples: `projects/my-project-123`, `projects/5551234`, `projects/my-project-123/locations/us-central1`, `projects/5551234/locations/us-central1`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified. Use `-` as a wildcard to request group stats from all regions."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of results to return per response. Default is 20.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A next_page_token provided by a previous response. To view additional results, pass this token along with the identical query parameters as the first request.",
                      "type": "string"
                    },
                    "alignmentTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Time where the timed counts shall be aligned if rounded alignment is chosen. Default is 00:00 UTC."
                    },
                    "timedCountDuration": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The preferred duration for a single returned TimedCount. If not set, no timed counts are returned.",
                      "format": "google-duration"
                    },
                    "serviceFilter.resourceType": {
                      "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                      "type": "string",
                      "location": "query"
                    },
                    "groupId": {
                      "repeated": true,
                      "description": "Optional. List all ErrorGroupStats with these IDs. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice] (https://cloud.google.com/terms/cloud-privacy-notice).",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "update": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/groups/{groupsId}",
                  "response": {
                    "$ref": "ErrorGroup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ErrorGroup"
                  },
                  "description": "Replace the data for the specified group. Fails if the group does not exist.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "description": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/groups/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "clouderrorreporting.projects.locations.groups.update"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the specified group.",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+groupName}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/groups/{groupsId}",
                  "response": {
                    "$ref": "ErrorGroup"
                  },
                  "id": "clouderrorreporting.projects.locations.groups.get",
                  "parameters": {
                    "groupName": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/groups/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The group resource name. Written as either `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}`. Call groupStats.list to return a list of groups belonging to this project. Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/global/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified."
                    }
                  },
                  "parameterOrder": [
                    "groupName"
                  ]
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "projectName"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the specified events.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/events",
                  "id": "clouderrorreporting.projects.locations.events.list",
                  "path": "v1beta1/{+projectName}/events",
                  "parameters": {
                    "groupId": {
                      "type": "string",
                      "description": "Required. The group for which events shall be returned. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice).",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A `next_page_token` provided by a previous response.",
                      "location": "query",
                      "type": "string"
                    },
                    "serviceFilter.version": {
                      "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                      "location": "query",
                      "type": "string"
                    },
                    "timeRange.period": {
                      "description": "Restricts the query to the specified time range.",
                      "enum": [
                        "PERIOD_UNSPECIFIED",
                        "PERIOD_1_HOUR",
                        "PERIOD_6_HOURS",
                        "PERIOD_1_DAY",
                        "PERIOD_1_WEEK",
                        "PERIOD_30_DAYS"
                      ],
                      "enumDescriptions": [
                        "Do not use.",
                        "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                        "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                        "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                        "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                        "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "serviceFilter.service": {
                      "type": "string",
                      "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                      "location": "query"
                    },
                    "serviceFilter.resourceType": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type)."
                    },
                    "projectName": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of results to return per response.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "groupStats": {
          "methods": {
            "list": {
              "description": "Lists the specified groups.",
              "parameters": {
                "groupId": {
                  "location": "query",
                  "description": "Optional. List all ErrorGroupStats with these IDs. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice] (https://cloud.google.com/terms/cloud-privacy-notice).",
                  "repeated": true,
                  "type": "string"
                },
                "order": {
                  "location": "query",
                  "enum": [
                    "GROUP_ORDER_UNSPECIFIED",
                    "COUNT_DESC",
                    "LAST_SEEN_DESC",
                    "CREATED_DESC",
                    "AFFECTED_USERS_DESC"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "No group order specified.",
                    "Total count of errors in the given time window in descending order.",
                    "Timestamp when the group was last seen in the given time window in descending order.",
                    "Timestamp when the group was created in descending order.",
                    "Number of affected users in the given time window in descending order."
                  ],
                  "description": "Optional. The sort order in which the results are returned. Default is `COUNT_DESC`."
                },
                "serviceFilter.version": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version)."
                },
                "projectName": {
                  "required": true,
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectNumber}`, where `{projectID}` and `{projectNumber}` can be found in the [Google Cloud console](https://support.google.com/cloud/answer/6158840). It may also include a location, such as `projects/{projectID}/locations/{location}` where `{location}` is a cloud region. Examples: `projects/my-project-123`, `projects/5551234`, `projects/my-project-123/locations/us-central1`, `projects/5551234/locations/us-central1`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified. Use `-` as a wildcard to request group stats from all regions.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "serviceFilter.service": {
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                  "location": "query"
                },
                "timedCountDuration": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The preferred duration for a single returned TimedCount. If not set, no timed counts are returned.",
                  "format": "google-duration"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of results to return per response. Default is 20.",
                  "format": "int32"
                },
                "alignment": {
                  "enumDescriptions": [
                    "No alignment specified.",
                    "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the alignment_time provided in the request. The alignment_time does not have to be inside the query period but even if it is outside, only time periods are returned which overlap with the query period. A rounded alignment will typically result in a different size of the first or the last time period.",
                    "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the end of the requested time period. This can result in a different size of the first time period."
                  ],
                  "enum": [
                    "ERROR_COUNT_ALIGNMENT_UNSPECIFIED",
                    "ALIGNMENT_EQUAL_ROUNDED",
                    "ALIGNMENT_EQUAL_AT_END"
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The alignment of the timed counts to be returned. Default is `ALIGNMENT_EQUAL_AT_END`."
                },
                "timeRange.period": {
                  "location": "query",
                  "description": "Restricts the query to the specified time range.",
                  "enumDescriptions": [
                    "Do not use.",
                    "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                    "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                    "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                    "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                    "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                  ],
                  "enum": [
                    "PERIOD_UNSPECIFIED",
                    "PERIOD_1_HOUR",
                    "PERIOD_6_HOURS",
                    "PERIOD_1_DAY",
                    "PERIOD_1_WEEK",
                    "PERIOD_30_DAYS"
                  ],
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A next_page_token provided by a previous response. To view additional results, pass this token along with the identical query parameters as the first request."
                },
                "serviceFilter.resourceType": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type)."
                },
                "alignmentTime": {
                  "description": "Optional. Time where the timed counts shall be aligned if rounded alignment is chosen. Default is 00:00 UTC.",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/groupStats",
              "parameterOrder": [
                "projectName"
              ],
              "response": {
                "$ref": "ListGroupStatsResponse"
              },
              "path": "v1beta1/{+projectName}/groupStats",
              "id": "clouderrorreporting.projects.groupStats.list"
            }
          }
        },
        "groups": {
          "methods": {
            "get": {
              "parameterOrder": [
                "groupName"
              ],
              "httpMethod": "GET",
              "description": "Get the specified group.",
              "id": "clouderrorreporting.projects.groups.get",
              "flatPath": "v1beta1/projects/{projectsId}/groups/{groupsId}",
              "response": {
                "$ref": "ErrorGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+groupName}",
              "parameters": {
                "groupName": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "description": "Required. The group resource name. Written as either `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}`. Call groupStats.list to return a list of groups belonging to this project. Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/global/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified."
                }
              }
            },
            "update": {
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/groups/{groupsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified."
                }
              },
              "response": {
                "$ref": "ErrorGroup"
              },
              "request": {
                "$ref": "ErrorGroup"
              },
              "httpMethod": "PUT",
              "id": "clouderrorreporting.projects.groups.update",
              "description": "Replace the data for the specified group. Fails if the group does not exist.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "events": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListEventsResponse"
              },
              "parameterOrder": [
                "projectName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "clouderrorreporting.projects.events.list",
              "parameters": {
                "serviceFilter.service": {
                  "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                  "type": "string",
                  "location": "query"
                },
                "serviceFilter.version": {
                  "location": "query",
                  "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of results to return per response."
                },
                "serviceFilter.resourceType": {
                  "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                  "type": "string",
                  "location": "query"
                },
                "timeRange.period": {
                  "enumDescriptions": [
                    "Do not use.",
                    "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                    "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                    "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                    "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                    "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                  ],
                  "type": "string",
                  "enum": [
                    "PERIOD_UNSPECIFIED",
                    "PERIOD_1_HOUR",
                    "PERIOD_6_HOURS",
                    "PERIOD_1_DAY",
                    "PERIOD_1_WEEK",
                    "PERIOD_30_DAYS"
                  ],
                  "description": "Restricts the query to the specified time range.",
                  "location": "query"
                },
                "groupId": {
                  "description": "Required. The group for which events shall be returned. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A `next_page_token` provided by a previous response."
                },
                "projectName": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/events",
              "path": "v1beta1/{+projectName}/events",
              "description": "Lists the specified events."
            },
            "report": {
              "parameters": {
                "projectName": {
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectId}`, where `{projectId}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840). Example: // `projects/my-project-123`.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectName"
              ],
              "request": {
                "$ref": "ReportedErrorEvent"
              },
              "flatPath": "v1beta1/projects/{projectsId}/events:report",
              "response": {
                "$ref": "ReportErrorEventResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+projectName}/events:report",
              "httpMethod": "POST",
              "id": "clouderrorreporting.projects.events.report",
              "description": "Report an individual error event and record the event to a log. This endpoint accepts **either** an OAuth token, **or** an [API key](https://support.google.com/cloud/answer/6158862) for authentication. To use an API key, append it to the URL as the value of a `key` parameter. For example: `POST https://clouderrorreporting.googleapis.com/v1beta1/{projectName}/events:report?key=123ABC456` **Note:** [Error Reporting] (https://cloud.google.com/error-reporting) is a service built on Cloud Logging and can analyze log entries when all of the following are true: * Customer-managed encryption keys (CMEK) are disabled on the log bucket. * The log bucket satisfies one of the following: * The log bucket is stored in the same project where the logs originated. * The logs were routed to a project, and then that project stored those logs in a log bucket that it owns."
            }
          }
        }
      },
      "methods": {
        "deleteEvents": {
          "description": "Deletes all error events of a given project.",
          "httpMethod": "DELETE",
          "path": "v1beta1/{+projectName}/events",
          "id": "clouderrorreporting.projects.deleteEvents",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/projects/{projectsId}/events",
          "parameterOrder": [
            "projectName"
          ],
          "parameters": {
            "projectName": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "DeleteEventsResponse"
          }
        }
      }
    }
  },
  "rootUrl": "https://clouderrorreporting.googleapis.com/",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://clouderrorreporting.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "africa-south1",
      "endpointUrl": "https://clouderrorreporting.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://clouderrorreporting.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://clouderrorreporting.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://clouderrorreporting.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://clouderrorreporting.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://clouderrorreporting.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://clouderrorreporting.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://clouderrorreporting.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://clouderrorreporting.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://clouderrorreporting.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://clouderrorreporting.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://clouderrorreporting.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://clouderrorreporting.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://clouderrorreporting.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://clouderrorreporting.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://clouderrorreporting.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://clouderrorreporting.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://clouderrorreporting.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://clouderrorreporting.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://clouderrorreporting.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://clouderrorreporting.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://clouderrorreporting.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://clouderrorreporting.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://clouderrorreporting.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    }
  },
  "mtlsRootUrl": "https://clouderrorreporting.mtls.googleapis.com/",
  "schemas": {
    "ErrorGroup": {
      "id": "ErrorGroup",
      "properties": {
        "trackingIssues": {
          "items": {
            "$ref": "TrackingIssue"
          },
          "type": "array",
          "description": "Associated tracking issues."
        },
        "groupId": {
          "type": "string",
          "description": "An opaque identifier of the group. This field is assigned by the Error Reporting system and always populated. In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice)."
        },
        "name": {
          "description": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
          "type": "string"
        },
        "resolutionStatus": {
          "enum": [
            "RESOLUTION_STATUS_UNSPECIFIED",
            "OPEN",
            "ACKNOWLEDGED",
            "RESOLVED",
            "MUTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Status is unknown. When left unspecified in requests, it is treated like OPEN.",
            "The error group is not being addressed. This is the default for new groups. It is also used for errors re-occurring after marked RESOLVED.",
            "Error Group manually acknowledged, it can have an issue link attached.",
            "Error Group manually resolved, more events for this group are not expected to occur.",
            "The error group is muted and excluded by default on group stats requests."
          ],
          "description": "Error group's resolution status. An unspecified resolution status will be interpreted as OPEN"
        }
      },
      "type": "object",
      "description": "Description of a group of similar error events."
    },
    "ErrorGroupStats": {
      "type": "object",
      "id": "ErrorGroupStats",
      "properties": {
        "timedCounts": {
          "type": "array",
          "items": {
            "$ref": "TimedCount"
          },
          "description": "Approximate number of occurrences over time. Timed counts returned by ListGroups are guaranteed to be: - Inside the requested time interval - Non-overlapping, and - Ordered by ascending time."
        },
        "numAffectedServices": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of services with a non-zero error count for the given filter criteria."
        },
        "affectedServices": {
          "items": {
            "$ref": "ServiceContext"
          },
          "type": "array",
          "description": "Service contexts with a non-zero error count for the given filter criteria. This list can be truncated if multiple services are affected. Refer to `num_affected_services` for the total count."
        },
        "lastSeenTime": {
          "description": "Approximate last occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request.",
          "format": "google-datetime",
          "type": "string"
        },
        "group": {
          "$ref": "ErrorGroup",
          "description": "Group data that is independent of the filter criteria."
        },
        "representative": {
          "$ref": "ErrorEvent",
          "description": "An arbitrary event that is chosen as representative for the whole group. The representative event is intended to be used as a quick preview for the whole group. Events in the group are usually sufficiently similar to each other such that showing an arbitrary representative provides insight into the characteristics of the group as a whole."
        },
        "count": {
          "description": "Approximate total number of events in the given group that match the filter criteria.",
          "type": "string",
          "format": "int64"
        },
        "affectedUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "Approximate number of affected users in the given group that match the filter criteria. Users are distinguished by data in the ErrorContext of the individual error events, such as their login name or their remote IP address in case of HTTP requests. The number of affected users can be zero even if the number of errors is non-zero if no data was provided from which the affected user could be deduced. Users are counted based on data in the request context that was provided in the error report. If more users are implicitly affected, such as due to a crash of the whole service, this is not reflected here."
        },
        "firstSeenTime": {
          "description": "Approximate first occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Data extracted for a specific group based on certain filter criteria, such as a given time period and/or service filter."
    },
    "DeleteEventsResponse": {
      "type": "object",
      "properties": {},
      "id": "DeleteEventsResponse",
      "description": "Response message for deleting error events."
    },
    "SourceReference": {
      "properties": {
        "repository": {
          "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\"",
          "type": "string"
        },
        "revisionId": {
          "description": "The canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\"",
          "type": "string"
        }
      },
      "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
      "id": "SourceReference",
      "type": "object"
    },
    "ListEventsResponse": {
      "properties": {
        "timeRangeBegin": {
          "description": "The timestamp specifies the start time to which the request was restricted.",
          "format": "google-datetime",
          "type": "string"
        },
        "errorEvents": {
          "type": "array",
          "items": {
            "$ref": "ErrorEvent"
          },
          "description": "The error events which match the given request."
        },
        "nextPageToken": {
          "description": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results.",
          "type": "string"
        }
      },
      "description": "Contains a set of requested error events.",
      "type": "object",
      "id": "ListEventsResponse"
    },
    "ServiceContext": {
      "type": "object",
      "properties": {
        "service": {
          "description": "An identifier of the service, such as the name of the executable, job, or Google App Engine service name. This field is expected to have a low number of values that are relatively stable over time, as opposed to `version`, which can be changed whenever new code is deployed. Contains the service name for error reports extracted from Google App Engine logs or `default` if the App Engine default service is used.",
          "type": "string"
        },
        "resourceType": {
          "description": "Type of the MonitoredResource. List of possible values: https://cloud.google.com/monitoring/api/resources Value is set automatically for incoming errors and must not be set when reporting errors.",
          "type": "string"
        },
        "version": {
          "description": "Represents the source code version that the developer provided, which could represent a version label or a Git SHA-1 hash, for example. For App Engine standard environment, the version is set to the version of the app.",
          "type": "string"
        }
      },
      "description": "Describes a running service that sends errors. Its version changes over time and multiple versions can run in parallel.",
      "id": "ServiceContext"
    },
    "ReportedErrorEvent": {
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Time when the event occurred. If not provided, the time when the event was received by the Error Reporting system is used. If provided, the time must not exceed the [logs retention period](https://cloud.google.com/logging/quotas#logs_retention_periods) in the past, or be more than 24 hours in the future. If an invalid time is provided, then an error is returned.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Required. The error message. If no `context.reportLocation` is provided, the message must contain a header (typically consisting of the exception type name and an error message) and an exception stack trace in one of the supported programming languages and formats. Supported languages are Java, Python, JavaScript, Ruby, C#, PHP, Go, and Rust. Supported stack trace formats are: * **Java**: Must be the return value of [`Throwable.printStackTrace()`](https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#printStackTrace%28%29). * **Python**: Must be the return value of [`traceback.format_exc()`](https://docs.python.org/2/library/traceback.html#traceback.format_exc). * **JavaScript**: Must be the value of [`error.stack`](https://github.com/v8/v8/wiki/Stack-Trace-API) as returned by V8. * **Ruby**: Must contain frames returned by [`Exception.backtrace`](https://ruby-doc.org/core-2.2.0/Exception.html#method-i-backtrace). * **C#**: Must be the return value of [`Exception.ToString()`](https://msdn.microsoft.com/en-us/library/system.exception.tostring.aspx). * **PHP**: Must be prefixed with `\"PHP (Notice|Parse error|Fatal error|Warning): \"` and contain the result of [`(string)$exception`](https://php.net/manual/en/exception.tostring.php). * **Go**: Must be the return value of [`debug.Stack()`](https://pkg.go.dev/runtime/debug#Stack). * **Rust**: Must contain standard [`std::backtrace`](https://doc.rust-lang.org/std/backtrace/index.html) frames. Requires `RUST_BACKTRACE=1` and debug symbols enabled."
        },
        "context": {
          "$ref": "ErrorContext",
          "description": "Optional. A description of the context in which the error occurred."
        },
        "serviceContext": {
          "description": "Required. The service context in which this error has occurred.",
          "$ref": "ServiceContext"
        }
      },
      "type": "object",
      "description": "An error event which is reported to the Error Reporting system.",
      "id": "ReportedErrorEvent"
    },
    "HttpRequestContext": {
      "id": "HttpRequestContext",
      "type": "object",
      "description": "HTTP request data that is related to a reported error. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs.",
      "properties": {
        "userAgent": {
          "type": "string",
          "description": "The user agent information that is provided with the request."
        },
        "url": {
          "type": "string",
          "description": "The URL of the request."
        },
        "responseStatusCode": {
          "format": "int32",
          "type": "integer",
          "description": "The HTTP response status code for the request."
        },
        "method": {
          "description": "The type of HTTP request, such as `GET`, `POST`, etc.",
          "type": "string"
        },
        "referrer": {
          "type": "string",
          "description": "The referrer information that is provided with the request."
        },
        "remoteIp": {
          "description": "The IP address from which the request originated. This can be IPv4, IPv6, or a token which is derived from the IP address, depending on the data that has been provided in the error report.",
          "type": "string"
        }
      }
    },
    "ErrorEvent": {
      "type": "object",
      "description": "An error event which is returned by the Error Reporting system.",
      "id": "ErrorEvent",
      "properties": {
        "message": {
          "description": "The stack trace that was reported or logged by the service.",
          "type": "string"
        },
        "context": {
          "description": "Data about the context in which the error occurred.",
          "$ref": "ErrorContext"
        },
        "eventTime": {
          "type": "string",
          "description": "Time when the event occurred as provided in the error report. If the report did not contain a timestamp, the time the error was received by the Error Reporting system is used.",
          "format": "google-datetime"
        },
        "serviceContext": {
          "$ref": "ServiceContext",
          "description": "The `ServiceContext` for which this error was reported."
        }
      }
    },
    "ReportErrorEventResponse": {
      "type": "object",
      "properties": {},
      "id": "ReportErrorEventResponse",
      "description": "Response for reporting an individual error event. Data may be added to this message in the future."
    },
    "TrackingIssue": {
      "properties": {
        "url": {
          "description": "A URL pointing to a related entry in an issue tracking system. Example: `https://github.com/user/project/issues/4`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information related to tracking the progress on resolving the error.",
      "id": "TrackingIssue"
    },
    "TimedCount": {
      "type": "object",
      "id": "TimedCount",
      "description": "The number of errors in a given time period. All numbers are approximate since the error events are sampled before counting them.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start of the time period to which `count` refers (included).",
          "format": "google-datetime"
        },
        "count": {
          "type": "string",
          "description": "Approximate number of occurrences in the given time period.",
          "format": "int64"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End of the time period to which `count` refers (excluded).",
          "type": "string"
        }
      }
    },
    "ErrorContext": {
      "properties": {
        "user": {
          "description": "The user who caused or was affected by the crash. This can be a user ID, an email address, or an arbitrary token that uniquely identifies the user. When sending an error report, leave this field empty if the user was not logged in. In this case the Error Reporting system will use other data, such as remote IP address, to distinguish affected users. See `affected_users_count` in `ErrorGroupStats`.",
          "type": "string"
        },
        "reportLocation": {
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged. For a logged exception this would be the source line where the exception is logged, usually close to the place where it was caught.",
          "$ref": "SourceLocation"
        },
        "httpRequest": {
          "description": "The HTTP request which was processed when the error was triggered.",
          "$ref": "HttpRequestContext"
        },
        "sourceReferences": {
          "items": {
            "$ref": "SourceReference"
          },
          "description": "Source code that was used to build the executable which has caused the given error message.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A description of the context in which an error occurred. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs.",
      "id": "ErrorContext"
    },
    "ListGroupStatsResponse": {
      "type": "object",
      "id": "ListGroupStatsResponse",
      "description": "Contains a set of requested error group stats.",
      "properties": {
        "nextPageToken": {
          "description": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results.",
          "type": "string"
        },
        "timeRangeBegin": {
          "description": "The timestamp specifies the start time to which the request was restricted. The start time is set based on the requested time range. It may be adjusted to a later time if a project has exceeded the storage quota and older data has been deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "errorGroupStats": {
          "type": "array",
          "description": "The error group stats which match the given request.",
          "items": {
            "$ref": "ErrorGroupStats"
          }
        }
      }
    },
    "SourceLocation": {
      "id": "SourceLocation",
      "description": "Indicates a location in the source code of the service for which errors are reported. `functionName` must be provided by the application when reporting an error, unless the error report contains a `message` with a supported exception stack trace. All fields are optional for the later case.",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The source code filename, which can include a truncated relative path, or a full path from a production machine."
        },
        "functionName": {
          "description": "Human-readable name of a function or method. The value can include optional context like the class or package name. For example, `my.package.MyClass.method` in case of Java.",
          "type": "string"
        },
        "lineNumber": {
          "description": "1-based. 0 indicates that the line number is unknown.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/error-reporting/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "baseUrl": "https://clouderrorreporting.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "id": "clouderrorreporting:v1beta1",
  "canonicalName": "Clouderrorreporting",
  "title": "Error Reporting API",
  "version_module": true,
  "description": "Groups and counts similar errors from cloud services and applications, reports new errors, and provides access to error groups and their associated errors. ",
  "version": "v1beta1"
}