{
  "discoveryVersion": "v1",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "version_module": true,
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/channel",
  "schemas": {
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse",
      "type": "object",
      "description": "Response message for ListPurchasableOffers.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "purchasableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "description": "The list of Offers requested.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "type": "object",
      "properties": {
        "percentage": {
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% => \"-1.00\" Mark up by 1% => \"1.00\" Pass-Through => \"0.00\"",
          "$ref": "GoogleTypeDecimal"
        }
      },
      "description": "An adjustment that applies a flat markup or markdown to an entire bill."
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "properties": {
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Required. New renewal settings."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "description": "Request message for CloudChannelService.ChangeRenewalSettings.",
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListReportsResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListReportsResponse",
      "description": "Response message for CloudChannelReportsService.ListReports.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pass this token to FetchReportResultsRequest.page_token to retrieve the next page of results."
        },
        "reports": {
          "items": {
            "$ref": "GoogleCloudChannelV1Report"
          },
          "description": "The reports available to the partner.",
          "type": "array"
        }
      },
      "deprecated": true
    },
    "GoogleCloudChannelV1FetchReportResultsRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1FetchReportResultsRequest",
      "properties": {
        "pageToken": {
          "description": "Optional. A token that specifies a page of results beyond the first page. Obtained through FetchReportResultsResponse.next_page_token of the previous CloudChannelReportsService.FetchReportResults call.",
          "type": "string"
        },
        "partitionKeys": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of keys specifying which report partitions to return. If empty, returns all partitions.",
          "type": "array"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Requested page size of the report. The server may return fewer results than requested. If you don't specify a page size, the server uses a sensible default (may change over time). The maximum value is 30,000; the server will change larger values to 30,000.",
          "type": "integer"
        }
      },
      "description": "Request message for CloudChannelReportsService.FetchReportResults.",
      "deprecated": true
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "properties": {
        "skus": {
          "type": "array",
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "description": "Response message for ListSkus.",
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel.",
      "type": "object",
      "properties": {
        "channelPartnerCloudIdentityInfo": {
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "resellerCloudIdentityId": {
          "type": "string",
          "description": "Required. Cloud Identity ID of the linked reseller."
        },
        "createTime": {
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "inviteLinkUri": {
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp of when the channel partner link is updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "linkState": {
          "description": "Required. State of the channel partner link.",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "type": "string",
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ]
        },
        "name": {
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}.",
          "readOnly": true,
          "type": "string"
        },
        "publicId": {
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleTypeDecimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "type": "object",
      "id": "GoogleTypeDecimal"
    },
    "GoogleCloudChannelV1FetchReportResultsResponse": {
      "description": "Response message for CloudChannelReportsService.FetchReportResults. Contains a tabular representation of the report results.",
      "properties": {
        "rows": {
          "description": "The report's lists of values. Each row follows the settings and ordering of the columns from `report_metadata`.",
          "items": {
            "$ref": "GoogleCloudChannelV1Row"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pass this token to FetchReportResultsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "reportMetadata": {
          "$ref": "GoogleCloudChannelV1ReportResultsMetadata",
          "description": "The metadata for the report results (display name, columns, row count, and date ranges)."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1FetchReportResultsResponse",
      "deprecated": true
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "type": "object",
      "description": "Response Message for RegisterSubscriber.",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic the subscriber will listen to."
        }
      }
    },
    "GoogleCloudChannelV1Media": {
      "id": "GoogleCloudChannelV1Media",
      "description": "Represents media information.",
      "properties": {
        "type": {
          "enum": [
            "MEDIA_TYPE_UNSPECIFIED",
            "MEDIA_TYPE_IMAGE"
          ],
          "description": "Type of the media.",
          "enumDescriptions": [
            "Not used.",
            "Type of image."
          ],
          "type": "string"
        },
        "content": {
          "description": "URL of the media.",
          "type": "string"
        },
        "title": {
          "description": "Title of the media.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ReportStatus": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The report generation's completion time.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "description": "The current state of the report generation process.",
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The report generation's start time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudChannelV1alpha1ReportStatus",
      "type": "object",
      "description": "Status of a report generation process.",
      "deprecated": true
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "id": "GoogleCloudChannelV1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object"
    },
    "GoogleCloudChannelV1Plan": {
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "id": "GoogleCloudChannelV1Plan",
      "type": "object",
      "properties": {
        "paymentType": {
          "description": "Specifies when the payment needs to happen.",
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ]
        },
        "trialPeriod": {
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "billingAccount": {
          "type": "string",
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud offers."
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentPlan": {
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string",
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ]
        }
      }
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListCustomers.",
      "id": "GoogleCloudChannelV1ListCustomersResponse",
      "properties": {
        "customers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          },
          "description": "The customers belonging to a reseller or distributor."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1Row": {
      "description": "A row of report values.",
      "properties": {
        "partitionKey": {
          "type": "string",
          "description": "The key for the partition this row belongs to. This field is empty if the report is not partitioned."
        },
        "values": {
          "description": "The list of values in the row.",
          "items": {
            "$ref": "GoogleCloudChannelV1ReportValue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1Row",
      "deprecated": true
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic the service account subscriber access was removed from."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse",
      "description": "Response Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "properties": {
        "offer": {
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer."
        },
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement when setting up billing on a trial subscription. This field is only relevant for multi-currency accounts. It should be left empty for single currency accounts.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "priceReferenceId": {
          "type": "string",
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order."
        }
      },
      "id": "GoogleCloudChannelV1ChangeOfferRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1PriceTier": {
      "type": "object",
      "properties": {
        "lastResource": {
          "type": "integer",
          "format": "int32",
          "description": "Last resource for which the tier price applies."
        },
        "price": {
          "description": "Price of the tier.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "firstResource": {
          "description": "First resource for which the tier price applies.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "id": "GoogleCloudChannelV1PriceTier"
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "description": "Request message for CloudChannelService.StartPaidService.",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "type": "object",
      "properties": {
        "optional": {
          "description": "If set to true, parameter is optional to purchase this Offer.",
          "type": "boolean"
        },
        "minValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types."
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "parameterType": {
          "type": "string",
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE",
            "BOOLEAN"
          ],
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type.",
            "Boolean type."
          ]
        },
        "allowedValues": {
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type.",
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          },
          "type": "array"
        },
        "maxValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types."
        }
      },
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase."
    },
    "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListCustomerRepricingConfigsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "customerRepricingConfigs": {
          "items": {
            "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
          },
          "type": "array",
          "description": "The repricing configs for this channel partner."
        }
      },
      "description": "Response message for CloudChannelService.ListCustomerRepricingConfigs.",
      "id": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse"
    },
    "GoogleCloudChannelV1AdminUser": {
      "description": "Information needed to create an Admin User for Google Workspace.",
      "type": "object",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Family name of the admin user."
        },
        "givenName": {
          "description": "Given name of the admin user.",
          "type": "string"
        },
        "email": {
          "description": "Primary email of the admin user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1AdminUser"
    },
    "GoogleCloudChannelV1ReportResultsMetadata": {
      "type": "object",
      "description": "The features describing the data. Returned by CloudChannelReportsService.RunReportJob and CloudChannelReportsService.FetchReportResults.",
      "properties": {
        "report": {
          "$ref": "GoogleCloudChannelV1Report",
          "description": "Details of the completed report."
        },
        "precedingDateRange": {
          "description": "The usage dates immediately preceding `date_range` with the same duration. Use this to calculate trending usage and costs. This is only populated if you request trending data. For example, if `date_range` is July 1-15, `preceding_date_range` will be June 16-30.",
          "$ref": "GoogleCloudChannelV1DateRange"
        },
        "dateRange": {
          "$ref": "GoogleCloudChannelV1DateRange",
          "description": "The date range of reported usage."
        },
        "rowCount": {
          "description": "The total number of rows of data in the final report.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudChannelV1ReportResultsMetadata",
      "deprecated": true
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "type": "object",
      "properties": {
        "purchaseOrderId": {
          "description": "Optional. Purchase order ID provided by the reseller.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ChangeParameters.",
      "id": "GoogleCloudChannelV1ChangeParametersRequest"
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "properties": {
        "owned": {
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner (with active subscriptions or purchase consents).",
          "type": "boolean"
        },
        "customerName": {
          "type": "string",
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "customerType": {
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "description": "If existing = true, the type of the customer.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ]
        },
        "customerCloudIdentityId": {
          "description": "If existing = true, the Cloud Identity ID of the customer.",
          "type": "string"
        },
        "existing": {
          "description": "Returns true if a Cloud Identity account exists for a specific domain.",
          "type": "boolean"
        },
        "channelPartnerCloudIdentityId": {
          "description": "If existing = true, and is 2-tier customer, the channel partner of the customer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner."
    },
    "GoogleCloudChannelV1Parameter": {
      "properties": {
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "editable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active."
        }
      },
      "type": "object",
      "description": "Definition for extended entitlement parameters.",
      "id": "GoogleCloudChannelV1Parameter"
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array",
          "description": "The transferred entitlements."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation."
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "properties": {
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        },
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        },
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "CloudIdentity-specific customer information."
        }
      },
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "type": "object",
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
    },
    "GoogleCloudChannelV1ChannelPartnerRepricingConfig": {
      "type": "object",
      "description": "Configuration for how a distributor will rebill a channel partner (also known as a distributor-authorized reseller).",
      "id": "GoogleCloudChannelV1ChannelPartnerRepricingConfig",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
          "type": "string",
          "readOnly": true
        },
        "repricingConfig": {
          "$ref": "GoogleCloudChannelV1RepricingConfig",
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to ChannelPartner."
        }
      }
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "description": "Settings for trial offers.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        },
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        }
      }
    },
    "GoogleCloudChannelV1alpha1Report": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "A human-readable name for this report.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Column"
          },
          "description": "The list of columns included in the report. This defines the schema of the report results."
        },
        "description": {
          "type": "string",
          "description": "A description of other aspects of the report, such as the products it supports."
        },
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        }
      },
      "deprecated": true,
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc.",
      "id": "GoogleCloudChannelV1alpha1Report"
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "properties": {
        "transferableSkus": {
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page."
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The reseller customer's entitlements.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1Value": {
      "type": "object",
      "id": "GoogleCloudChannelV1Value",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "doubleValue": {
          "format": "double",
          "description": "Represents a double value.",
          "type": "number"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Represents an int64 value."
        },
        "protoValue": {
          "type": "object",
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "Data type and value of a parameter."
    },
    "GoogleCloudChannelV1alpha1ReportJob": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`"
        },
        "reportStatus": {
          "$ref": "GoogleCloudChannelV1alpha1ReportStatus",
          "description": "The current status of report generation."
        }
      },
      "deprecated": true,
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation.",
      "id": "GoogleCloudChannelV1alpha1ReportJob"
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "properties": {
        "domain": {
          "description": "Required. Domain to fetch for Cloud Identity account customers, including domain and team customers. For team customers, please use the domain for their emails.",
          "type": "string"
        },
        "primaryAdminEmail": {
          "type": "string",
          "description": "Optional. Primary admin email to fetch for Cloud Identity account team customer."
        }
      },
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "type": "object"
    },
    "GoogleCloudChannelV1Period": {
      "type": "object",
      "id": "GoogleCloudChannelV1Period",
      "properties": {
        "periodType": {
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Period Type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        },
        "duration": {
          "description": "Total duration of Period Type defined.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents period in days/months/years."
    },
    "GoogleCloudChannelV1ReportStatus": {
      "id": "GoogleCloudChannelV1ReportStatus",
      "deprecated": true,
      "properties": {
        "endTime": {
          "description": "The report generation's completion time.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The report generation's start time."
        },
        "state": {
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "description": "The current state of the report generation process."
        }
      },
      "type": "object",
      "description": "Status of a report generation process."
    },
    "GoogleCloudChannelV1RunReportJobResponse": {
      "description": "Response message for CloudChannelReportsService.RunReportJob.",
      "id": "GoogleCloudChannelV1RunReportJobResponse",
      "properties": {
        "reportJob": {
          "$ref": "GoogleCloudChannelV1ReportJob",
          "description": "Pass `report_job.name` to FetchReportResultsRequest.report_job to retrieve the report's results."
        },
        "reportMetadata": {
          "$ref": "GoogleCloudChannelV1ReportResultsMetadata",
          "description": "The metadata for the report's results (display name, columns, row count, and date range). If you view this before the operation finishes, you may see incomplete data."
        }
      },
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudChannelV1ListSkuGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "skuGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1SkuGroup"
          },
          "description": "The list of SKU groups requested."
        }
      },
      "description": "Response message for ListSkuGroups.",
      "id": "GoogleCloudChannelV1ListSkuGroupsResponse"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      }
    },
    "GoogleCloudChannelV1ConditionalOverride": {
      "description": "Specifies the override to conditionally apply.",
      "id": "GoogleCloudChannelV1ConditionalOverride",
      "properties": {
        "repricingCondition": {
          "description": "Required. Specifies the condition which, if met, will apply the override.",
          "$ref": "GoogleCloudChannelV1RepricingCondition"
        },
        "rebillingBasis": {
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "type": "string",
          "description": "Required. The RebillingBasis to use for the applied override. Shows the relative cost based on your repricing costs.",
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ]
        },
        "adjustment": {
          "$ref": "GoogleCloudChannelV1RepricingAdjustment",
          "description": "Required. Information about the applied override's adjustment."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "id": "GoogleCloudChannelV1TransferableOffer",
      "properties": {
        "offer": {
          "description": "Offer with parameter constraints updated to allow the Transfer.",
          "$ref": "GoogleCloudChannelV1Offer"
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only."
    },
    "GoogleCloudChannelV1Report": {
      "deprecated": true,
      "type": "object",
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc.",
      "id": "GoogleCloudChannelV1Report",
      "properties": {
        "columns": {
          "description": "The list of columns included in the report. This defines the schema of the report results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Column"
          }
        },
        "displayName": {
          "type": "string",
          "description": "A human-readable name for this report."
        },
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        },
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "type": "object",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "description": "Association links that an entitlement has to other entitlements."
    },
    "GoogleCloudChannelV1ReportValue": {
      "description": "A single report value.",
      "properties": {
        "moneyValue": {
          "description": "A value of type `google.type.Money` (currency code, whole units, decimal units).",
          "$ref": "GoogleTypeMoney"
        },
        "dateTimeValue": {
          "description": "A value of type `google.type.DateTime` (year, month, day, hour, minute, second, and UTC offset or timezone.)",
          "$ref": "GoogleTypeDateTime"
        },
        "stringValue": {
          "type": "string",
          "description": "A value of type `string`."
        },
        "intValue": {
          "description": "A value of type `int`.",
          "format": "int64",
          "type": "string"
        },
        "decimalValue": {
          "description": "A value of type `google.type.Decimal`, representing non-integer numeric values.",
          "$ref": "GoogleTypeDecimal"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate",
          "description": "A value of type `google.type.Date` (year, month, day)."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ReportValue",
      "deprecated": true
    },
    "GoogleCloudChannelV1BillingAccount": {
      "type": "object",
      "id": "GoogleCloudChannelV1BillingAccount",
      "properties": {
        "currencyCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The 3-letter currency code defined in ISO 4217."
        },
        "regionCode": {
          "type": "string",
          "description": "Output only. The CLDR region code.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the billing account."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the billing account. Format: accounts/{account_id}/billingAccounts/{billing_account_id}.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when this billing account was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a billing account."
    },
    "GoogleCloudChannelV1alpha1OpportunityEvent": {
      "id": "GoogleCloudChannelV1alpha1OpportunityEvent",
      "properties": {
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "PARTNER_DETACHED"
          ],
          "type": "string",
          "description": "Type of event which happened for the opportunity.",
          "enumDescriptions": [
            "Not used.",
            "New opportunity created.",
            "Existing opportunity updated.",
            "Partner has been detached from the opportunity and can no longer access it."
          ]
        },
        "opportunity": {
          "description": "Resource name of the opportunity. Format: opportunities/{opportunity}",
          "type": "string"
        },
        "partner": {
          "description": "Resource name of the partner. Format: partners/{partner}",
          "type": "string"
        }
      },
      "description": "Represents Pub/Sub message content describing opportunity updates.",
      "type": "object"
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ActivateEntitlement.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "type": "object",
      "id": "GoogleCloudChannelV1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        },
        "provisioningId": {
          "type": "string",
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "readOnly": true
        },
        "skuId": {
          "readOnly": true,
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1QueryEligibleBillingAccountsResponse": {
      "properties": {
        "skuPurchaseGroups": {
          "items": {
            "$ref": "GoogleCloudChannelV1SkuPurchaseGroup"
          },
          "type": "array",
          "description": "List of SKU purchase groups where each group represents a set of SKUs that must be purchased using the same billing account. Each SKU from [QueryEligibleBillingAccountsRequest.skus] will appear in exactly one SKU group."
        }
      },
      "description": "Response message for QueryEligibleBillingAccounts.",
      "type": "object",
      "id": "GoogleCloudChannelV1QueryEligibleBillingAccountsResponse"
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "id": "GoogleCloudChannelV1CustomerRepricingConfig",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
          "type": "string"
        },
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        },
        "updateTime": {
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Configuration for how a reseller will reprice a Customer."
    },
    "GoogleCloudChannelV1DiscountComponent": {
      "id": "GoogleCloudChannelV1DiscountComponent",
      "type": "object",
      "properties": {
        "discountPercentage": {
          "format": "double",
          "type": "number",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represented as 0.2."
        },
        "discountType": {
          "type": "string",
          "enum": [
            "DISCOUNT_TYPE_UNSPECIFIED",
            "REGIONAL_DISCOUNT",
            "PROMOTIONAL_DISCOUNT",
            "SALES_DISCOUNT",
            "RESELLER_MARGIN",
            "DEAL_CODE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Regional discount.",
            "Promotional discount.",
            "Sales-provided discount.",
            "Reseller margin.",
            "Deal code discount."
          ],
          "description": "Type of the discount."
        },
        "discountAbsolute": {
          "description": "Fixed value discount.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "description": "Represents a single component of the total discount applicable on a Price."
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Commitment start timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings",
      "description": "Commitment settings for commitment-based offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "description": "Request Message for UnregisterSubscriber.",
      "properties": {
        "integrator": {
          "description": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to unregister from subscriber access to the topic."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.CancelEntitlement."
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "type": "object",
      "properties": {
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1EntitlementEvent"
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        }
      },
      "id": "GoogleCloudChannelV1SubscriberEvent"
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account that provides subscriber access to the registered topic."
        },
        "account": {
          "type": "string",
          "description": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset."
        },
        "integrator": {
          "type": "string",
          "description": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "description": "Request Message for RegisterSubscriber."
    },
    "GoogleCloudChannelV1PricePhase": {
      "type": "object",
      "properties": {
        "priceTiers": {
          "description": "Price by the resource tiers.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "type": "array"
        },
        "price": {
          "description": "Price of the phase. Present if there are no price tiers.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "firstPeriod": {
          "description": "Defines first period for the phase.",
          "format": "int32",
          "type": "integer"
        },
        "periodType": {
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "description": "Defines the phase period type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        },
        "lastPeriod": {
          "description": "Defines first period for the phase.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudChannelV1PricePhase",
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month."
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "properties": {
        "allowedCustomerTypes": {
          "description": "Allowed Customer Type.",
          "type": "array",
          "items": {
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "type": "string"
          }
        },
        "allowedRegions": {
          "type": "array",
          "description": "Allowed geographical regions of the customer.",
          "items": {
            "type": "string"
          }
        },
        "promotionalOrderTypes": {
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "type": "array",
          "items": {
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ]
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1EntitlementChange": {
      "description": "Change event entry for Entitlement order history",
      "properties": {
        "suspensionReason": {
          "enumDescriptions": [
            "Not used.",
            "Entitlement was manually suspended by the Reseller.",
            "Trial ended.",
            "Entitlement renewal was canceled.",
            "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
            "Other reasons (internal reasons, abuse, etc.)."
          ],
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "RESELLER_INITIATED",
            "TRIAL_ENDED",
            "RENEWAL_WITH_TYPE_CANCEL",
            "PENDING_TOS_ACCEPTANCE",
            "OTHER"
          ],
          "description": "Suspension reason for the Entitlement.",
          "type": "string"
        },
        "createTime": {
          "description": "The submitted time of the change.",
          "format": "google-datetime",
          "type": "string"
        },
        "cancellationReason": {
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "SERVICE_TERMINATED",
            "RELATIONSHIP_ENDED",
            "PARTIAL_TRANSFER"
          ],
          "description": "Cancellation reason for the Entitlement.",
          "enumDescriptions": [
            "Not used.",
            "Reseller triggered a cancellation of the service.",
            "Relationship between the reseller and customer has ended due to a transfer.",
            "Entitlement transferred away from reseller while still keeping other entitlement(s) with the reseller."
          ]
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array",
          "description": "Extended parameters, such as: purchase_order_number, gcp_details; internal_correlation_id, long_running_operation_id, order_id; etc."
        },
        "operatorType": {
          "type": "string",
          "description": "Operator type responsible for the change.",
          "enumDescriptions": [
            "Not used.",
            "Customer service representative.",
            "System auto job.",
            "Customer user.",
            "Reseller user."
          ],
          "enum": [
            "OPERATOR_TYPE_UNSPECIFIED",
            "CUSTOMER_SERVICE_REPRESENTATIVE",
            "SYSTEM",
            "CUSTOMER",
            "RESELLER"
          ]
        },
        "offer": {
          "description": "Required. Resource name of the Offer at the time of change. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "activationReason": {
          "description": "The Entitlement's activation reason",
          "enumDescriptions": [
            "Not used.",
            "Reseller reactivated a suspended Entitlement.",
            "Customer accepted pending terms of service.",
            "Reseller updated the renewal settings on an entitlement that was suspended due to cancellation, and this update reactivated the entitlement.",
            "Other reasons (Activated temporarily for cancellation, added a payment plan to a trial entitlement, etc.)"
          ],
          "type": "string",
          "enum": [
            "ACTIVATION_REASON_UNSPECIFIED",
            "RESELLER_REVOKED_SUSPENSION",
            "CUSTOMER_ACCEPTED_PENDING_TOS",
            "RENEWAL_SETTINGS_CHANGED",
            "OTHER_ACTIVATION_REASON"
          ]
        },
        "changeType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "New Entitlement was created.",
            "Price plan associated with an Entitlement was changed.",
            "Number of seats committed for a commitment Entitlement was changed.",
            "An annual Entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was activated.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded for ex. from Google Workspace Business Standard to Google Workspace Business Plus.",
            "The settings for renewal of an Entitlement have changed.",
            "Use for Google Workspace subscription. Either a trial was converted to a paid subscription or a new subscription with no trial is created.",
            "License cap was changed for the entitlement.",
            "The suspension details have changed (but it is still suspended).",
            "The trial end date was extended.",
            "Entitlement started trial."
          ],
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SUBSCRIPTION_STARTED",
            "LICENSE_CAP_CHANGED",
            "SUSPENSION_DETAILS_CHANGED",
            "TRIAL_END_DATE_EXTENDED",
            "TRIAL_STARTED"
          ],
          "description": "The change action type."
        },
        "otherChangeReason": {
          "description": "e.g. purchase_number change reason, entered by CRS.",
          "type": "string"
        },
        "operator": {
          "description": "Human-readable identifier that shows what operator made a change. When the operator_type is RESELLER, this is the user's email address. For all other operator types, this is empty.",
          "type": "string"
        },
        "provisionedService": {
          "description": "Service provisioned for an Entitlement.",
          "$ref": "GoogleCloudChannelV1ProvisionedService"
        },
        "entitlement": {
          "description": "Required. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1EntitlementChange",
      "type": "object"
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Commitment end timestamp."
        },
        "startTime": {
          "description": "Output only. Commitment start timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "description": "Commitment settings for commitment-based offers."
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "type": "object",
      "description": "Renewal settings for renewable Offers.",
      "properties": {
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "description": "Describes how a reseller will be billed.",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string"
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        }
      },
      "id": "GoogleCloudChannelV1RenewalSettings"
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudChannelV1OperationMetadata",
      "properties": {
        "operationType": {
          "description": "The RPC that initiated this Long Running Operation.",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "type": "string"
        }
      },
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "channelPartnerLink": {
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates.",
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
        }
      },
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink"
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "description": "Represents Pub/Sub message content describing customer update.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "type": "string",
          "description": "Type of event which happened for the customer.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ]
        },
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableOffers": {
          "description": "Information about Offers for a customer that can be used for transfer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          }
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse"
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "description": "The RPC that initiated this Long Running Operation.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      },
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1OperationMetadata"
    },
    "GoogleCloudChannelV1PriceByResource": {
      "id": "GoogleCloudChannelV1PriceByResource",
      "properties": {
        "pricePhases": {
          "description": "Specifies the price by time range.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          }
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the Offer. Present if there are no price phases."
        },
        "resourceType": {
          "description": "Resource Type. Example: SEAT",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION",
            "AI_CREDITS"
          ],
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud.",
            "For Google Cloud subscriptions like Anthos or SAP.",
            "As of June 2026, this field is mapped to WS Credits on commerce side."
          ]
        }
      },
      "type": "object",
      "description": "Represents price by resource type."
    },
    "GoogleCloudChannelV1Column": {
      "id": "GoogleCloudChannelV1Column",
      "description": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows.",
      "properties": {
        "columnId": {
          "description": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The column's display name."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "DECIMAL",
            "MONEY",
            "DATE",
            "DATE_TIME"
          ],
          "description": "The type of the values for this column.",
          "enumDescriptions": [
            "Not used.",
            "ReportValues for this column will use string_value.",
            "ReportValues for this column will use int_value.",
            "ReportValues for this column will use decimal_value.",
            "ReportValues for this column will use money_value.",
            "ReportValues for this column will use date_value.",
            "ReportValues for this column will use date_time_value."
          ]
        }
      },
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The entitlements to transfer to Google."
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle.",
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "type": "object",
      "properties": {
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "description": "Type of event which happened for the entitlement."
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1EntitlementEvent",
      "description": "Represents Pub/Sub message content describing entitlement update."
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "description": "Request message for CloudChannelService.CreateEntitlement",
      "type": "object",
      "properties": {
        "entitlement": {
          "description": "Required. The entitlement to create.",
          "$ref": "GoogleCloudChannelV1Entitlement"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "id": "GoogleCloudChannelV1TransferEligibility",
      "properties": {
        "ineligibilityReason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED",
            "CHANNEL_PARTNER_NOT_AUTHORIZED_FOR_SKU"
          ],
          "description": "Specified the reason for ineligibility.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended",
            "The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265"
          ]
        },
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Localized description if reseller is not eligible to transfer the SKU."
        }
      },
      "type": "object",
      "description": "Specifies transfer eligibility of a SKU."
    },
    "GoogleCloudChannelV1SkuPurchaseGroup": {
      "type": "object",
      "properties": {
        "billingAccountPurchaseInfos": {
          "items": {
            "$ref": "GoogleCloudChannelV1BillingAccountPurchaseInfo"
          },
          "type": "array",
          "description": "List of billing accounts that are eligible to purhcase these SKUs."
        },
        "skus": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource names of the SKUs included in this group. Format: products/{product_id}/skus/{sku_id}."
        }
      },
      "description": "Represents a set of SKUs that must be purchased using the same billing account.",
      "id": "GoogleCloudChannelV1SkuPurchaseGroup"
    },
    "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "id": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse",
      "description": "Response message for ListSkuGroupBillableSkus.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkusRequest.page_token to obtain that page.",
          "type": "string"
        },
        "billableSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1BillableSku"
          },
          "description": "The list of billable SKUs in the requested SKU group."
        }
      }
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "properties": {
        "purchasableSkus": {
          "type": "array",
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListPurchasableSkus.",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse": {
      "type": "object",
      "properties": {
        "channelPartnerRepricingConfigs": {
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
          },
          "type": "array",
          "description": "The repricing configs for this channel partner."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerRepricingConfigsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse",
      "description": "Response message for CloudChannelService.ListChannelPartnerRepricingConfigs."
    },
    "GoogleCloudChannelV1Offer": {
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "type": "object",
      "properties": {
        "parameterDefinitions": {
          "description": "Parameters required to use current Offer to purchase.",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "type": "array"
        },
        "constraints": {
          "description": "Constraints on transacting the Offer.",
          "$ref": "GoogleCloudChannelV1Constraints"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. End of the Offer validity time."
        },
        "dealCode": {
          "description": "The deal code of the offer to get a special promotion or discount.",
          "type": "string"
        },
        "priceByResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          },
          "description": "Price for each monetizable resource type."
        },
        "marketingInfo": {
          "description": "Marketing information for the Offer.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "plan": {
          "$ref": "GoogleCloudChannelV1Plan",
          "description": "Describes the payment plan for the Offer."
        },
        "name": {
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}",
          "type": "string"
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU the offer is associated with."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start of the Offer validity time."
        }
      },
      "id": "GoogleCloudChannelV1Offer"
    },
    "GoogleCloudChannelV1alpha1Period": {
      "id": "GoogleCloudChannelV1alpha1Period",
      "type": "object",
      "properties": {
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "description": "Period Type.",
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "duration": {
          "format": "int32",
          "description": "Total duration of Period Type defined.",
          "type": "integer"
        }
      },
      "description": "Represents period in days/months/years."
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "id": "GoogleCloudChannelV1PurchasableOffer",
      "properties": {
        "priceReferenceId": {
          "type": "string",
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order."
        },
        "offer": {
          "description": "Offer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      },
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks.",
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "properties": {
        "channelPartnerLinks": {
          "type": "array",
          "description": "The Channel partner links for a reseller.",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "properties": {
        "cloudIdentityAccounts": {
          "type": "array",
          "description": "The Cloud Identity accounts associated with the domain.",
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          }
        }
      },
      "type": "object",
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "id": "GoogleCloudChannelV1PurchasableSku",
      "type": "object",
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      }
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "type": "object",
      "properties": {
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        },
        "channelPartnerEvent": {
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
          "description": "Channel Partner event sent as part of Pub/Sub event to partners."
        },
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent"
        },
        "opportunityEvent": {
[...]
