{
  "version_module": true,
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Strategy": {
      "type": "object",
      "id": "Strategy",
      "properties": {
        "standard": {
          "description": "Optional. Standard deployment strategy executes a single deploy and allows verifying the deployment.",
          "$ref": "Standard"
        },
        "canary": {
          "description": "Optional. Canary deployment strategy provides progressive percentage based deployments to a Target.",
          "$ref": "Canary"
        }
      },
      "description": "Strategy contains deployment strategy information."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      }
    },
    "CustomMetadata": {
      "description": "CustomMetadata contains information from a user-defined operation.",
      "id": "CustomMetadata",
      "properties": {
        "values": {
          "type": "object",
          "description": "Output only. Key-value pairs provided by the user-defined operation.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RepairRolloutOperation": {
      "type": "object",
      "description": "Contains the information for an automated `repair rollout` operation.",
      "id": "RepairRolloutOperation",
      "properties": {
        "rollout": {
          "type": "string",
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true
        },
        "repairPhases": {
          "type": "array",
          "items": {
            "$ref": "RepairPhase"
          },
          "description": "Output only. Records of the repair attempts. Each repair phase may have multiple retry attempts or single rollback attempt.",
          "readOnly": true
        },
        "jobId": {
          "description": "Output only. The job ID for the Job to repair.",
          "readOnly": true,
          "type": "string"
        },
        "currentRepairPhaseIndex": {
          "description": "Output only. The index of the current repair action in the repair sequence.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "phaseId": {
          "description": "Output only. The phase ID of the phase that includes the job being repaired.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CloudRunConfig": {
      "type": "object",
      "id": "CloudRunConfig",
      "properties": {
        "automaticTrafficControl": {
          "type": "boolean",
          "description": "Optional. Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments."
        },
        "canaryRevisionTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the canary revision while the canary phase is in progress."
        },
        "priorRevisionTags": {
          "description": "Optional. A list of tags that are added to the prior revision while the canary phase is in progress.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stableRevisionTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the final stable revision when the stable phase is applied."
        }
      },
      "description": "CloudRunConfig contains the Cloud Run runtime configuration."
    },
    "ListDeployPoliciesResponse": {
      "type": "object",
      "id": "ListDeployPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "deployPolicies": {
          "type": "array",
          "items": {
            "$ref": "DeployPolicy"
          },
          "description": "The `DeployPolicy` objects."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response object from `ListDeployPolicies`."
    },
    "DeliveryPipelineNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification.",
      "id": "DeliveryPipelineNotificationEvent",
      "properties": {
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "deliveryPipeline": {
          "description": "The name of the `Delivery Pipeline`.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReleaseCondition": {
      "id": "ReleaseCondition",
      "properties": {
        "skaffoldSupportedCondition": {
          "$ref": "SkaffoldSupportedCondition",
          "description": "Details around the support state of the release's Skaffold version."
        },
        "kustomizeVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Kustomize version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "dockerVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Docker version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "helmVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Helm version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "skaffoldVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Skaffold version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "kptVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's kpt version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "kubectlVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Kubectl version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "releaseReadyCondition": {
          "description": "Details around the Releases's overall status.",
          "$ref": "ReleaseReadyCondition"
        }
      },
      "description": "ReleaseCondition contains all conditions relevant to a Release.",
      "type": "object"
    },
    "JobRunNotificationEvent": {
      "id": "JobRunNotificationEvent",
      "properties": {
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target`."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "jobRun": {
          "type": "string",
          "description": "The name of the `JobRun`."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification.",
      "type": "object"
    },
    "CustomTargetDeployMetadata": {
      "description": "CustomTargetDeployMetadata contains information from a Custom Target deploy operation.",
      "id": "CustomTargetDeployMetadata",
      "properties": {
        "skipMessage": {
          "description": "Output only. Skip message provided in the results of a custom deploy operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "PipelineReadyCondition": {
      "id": "PipelineReadyCondition",
      "properties": {
        "status": {
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the condition was updated."
        }
      },
      "description": "PipelineReadyCondition contains information around the status of the Pipeline.",
      "type": "object"
    },
    "ToolVersionSupportedCondition": {
      "id": "ToolVersionSupportedCondition",
      "properties": {
        "toolVersionSupportState": {
          "type": "string",
          "enum": [
            "TOOL_VERSION_SUPPORT_STATE_UNSPECIFIED",
            "TOOL_VERSION_SUPPORT_STATE_SUPPORTED",
            "TOOL_VERSION_SUPPORT_STATE_MAINTENANCE_MODE",
            "TOOL_VERSION_SUPPORT_STATE_UNSUPPORTED"
          ],
          "description": "Output only. The tool support state for this release's version of the tool.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This tool version is currently supported.",
            "This tool version is in maintenance mode.",
            "This tool version is no longer supported."
          ]
        },
        "maintenanceModeTime": {
          "description": "Output only. The time at which this release's version of the tool will enter maintenance mode.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "supportExpirationTime": {
          "description": "Output only. The time at which this release's version of the tool will no longer be supported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "boolean",
          "description": "Output only. True if the version of Tool used by this release is supported.",
          "readOnly": true
        }
      },
      "description": "ToolVersionSupportedCondition contains information about when support for the release's version of a tool ends.",
      "type": "object"
    },
    "RolloutUpdateEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_update\" Platform Log event that describes the rollout update event.",
      "id": "RolloutUpdateEvent",
      "properties": {
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the pipeline."
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "message": {
          "description": "Debug message for when a rollout update event occurs.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "ID of the target."
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a rollout update event."
        },
        "releaseUid": {
          "description": "Unique identifier of the release.",
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "The name of the rollout. rollout_uid is not in this log message because we write some of these log messages at rollout creation time, before we've generated the uid."
        },
        "rolloutUpdateType": {
          "type": "string",
          "enumDescriptions": [
            "Rollout update type unspecified.",
            "Rollout state updated to pending (release has succeeded, waiting on the rollout to start).",
            "Rollout state updated to pending release.",
            "Rollout state updated to in progress.",
            "Rollout state updated to cancelling.",
            "Rollout state updated to cancelled.",
            "Rollout state updated to halted.",
            "Rollout state updated to succeeded.",
            "Rollout state updated to failed.",
            "Rollout requires approval.",
            "Rollout has been approved.",
            "Rollout has been rejected.",
            "Rollout requires advance to the next phase.",
            "Rollout has been advanced."
          ],
          "enum": [
            "ROLLOUT_UPDATE_TYPE_UNSPECIFIED",
            "PENDING",
            "PENDING_RELEASE",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "HALTED",
            "SUCCEEDED",
            "FAILED",
            "APPROVAL_REQUIRED",
            "APPROVED",
            "REJECTED",
            "ADVANCE_REQUIRED",
            "ADVANCED"
          ],
          "description": "The type of the rollout update."
        }
      },
      "type": "object"
    },
    "CustomCheck": {
      "type": "object",
      "description": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency.",
      "id": "CustomCheck",
      "properties": {
        "task": {
          "description": "Required. The Task to be run for this custom check.",
          "$ref": "Task"
        },
        "id": {
          "description": "Required. The ID of the custom Analysis check.",
          "type": "string"
        },
        "frequency": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes."
        }
      }
    },
    "SkaffoldSupportedCondition": {
      "type": "object",
      "description": "SkaffoldSupportedCondition contains information about when support for the release's version of Skaffold ends.",
      "id": "SkaffoldSupportedCondition",
      "properties": {
        "maintenanceModeTime": {
          "description": "The time at which this release's version of Skaffold will enter maintenance mode.",
          "type": "string",
          "format": "google-datetime"
        },
        "supportExpirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this release's version of Skaffold will no longer be supported."
        },
        "status": {
          "description": "True if the version of Skaffold used by this release is supported.",
          "type": "boolean"
        },
        "skaffoldSupportState": {
          "description": "The Skaffold support state for this release's version of Skaffold.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This Skaffold version is currently supported.",
            "This Skaffold version is in maintenance mode.",
            "This Skaffold version is no longer supported."
          ],
          "enum": [
            "SKAFFOLD_SUPPORT_STATE_UNSPECIFIED",
            "SKAFFOLD_SUPPORT_STATE_SUPPORTED",
            "SKAFFOLD_SUPPORT_STATE_MAINTENANCE_MODE",
            "SKAFFOLD_SUPPORT_STATE_UNSUPPORTED"
          ],
          "type": "string"
        }
      }
    },
    "IgnoreJobResponse": {
      "id": "IgnoreJobResponse",
      "properties": {},
      "description": "The response object from `IgnoreJob`.",
      "type": "object"
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "releases": {
          "type": "array",
          "items": {
            "$ref": "Release"
          },
          "description": "The `Release` objects."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response object from `ListReleases`.",
      "type": "object"
    },
    "AdvanceRolloutRequest": {
      "type": "object",
      "id": "AdvanceRolloutRequest",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        },
        "phaseId": {
          "description": "Required. The phase ID to advance the `Rollout` to.",
          "type": "string"
        }
      },
      "description": "The request object used by `AdvanceRollout`."
    },
    "PolicyRule": {
      "id": "PolicyRule",
      "properties": {
        "rolloutRestriction": {
          "$ref": "RolloutRestriction",
          "description": "Optional. Rollout restrictions."
        }
      },
      "description": "Deploy Policy rule.",
      "type": "object"
    },
    "DeployJobRun": {
      "type": "object",
      "description": "DeployJobRun contains information specific to a deploy `JobRun`.",
      "id": "DeployJobRun",
      "properties": {
        "metadata": {
          "description": "Output only. Metadata containing information about the deploy job run.",
          "readOnly": true,
          "$ref": "DeployJobRunMetadata"
        },
        "artifact": {
          "description": "Output only. The artifact of a deploy job run, if available.",
          "readOnly": true,
          "$ref": "DeployArtifact"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [Required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "The deploy job run did not complete within the allotted time.",
            "There were missing resources in the runtime environment required for a canary deployment. Check the Cloud Build logs for more information.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The deploy operation had a feature configured that is not supported."
          ],
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "MISSING_RESOURCES_FOR_CANARY",
            "CLOUD_BUILD_REQUEST_FAILED",
            "DEPLOY_FEATURE_NOT_SUPPORTED"
          ],
          "description": "Output only. The reason the deploy failed. This will always be unspecified while the deploy is in progress or if it succeeded.",
          "readOnly": true
        },
        "failureMessage": {
          "description": "Output only. Additional information about the deploy failure, if available.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TargetRender": {
      "id": "TargetRender",
      "properties": {
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "renderingState": {
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "type": "string",
          "description": "Output only. Current state of the render operation for this Target.",
          "readOnly": true,
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "metadata": {
          "description": "Output only. Metadata related to the `Release` render for this Target.",
          "readOnly": true,
          "$ref": "RenderMetadata"
        },
        "failureCause": {
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CUSTOM_ACTION_NOT_FOUND",
            "DEPLOYMENT_STRATEGY_NOT_SUPPORTED",
            "RENDER_FEATURE_NOT_SUPPORTED"
          ],
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The render operation did not complete successfully because the verification stanza required for verify was not found on the Skaffold configuration.",
            "The render operation did not complete successfully because the custom action(s) required for Rollout jobs were not found in the Skaffold configuration. See failure_message for additional details.",
            "Release failed during rendering because the release configuration is not supported with the specified deployment strategy.",
            "The render operation had a feature configured that is not supported."
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the render failure, if available.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details of rendering for a single target.",
      "type": "object"
    },
    "DeployParameters": {
      "type": "object",
      "description": "DeployParameters contains deploy parameters information.",
      "id": "DeployParameters",
      "properties": {
        "values": {
          "description": "Required. Values are deploy parameters in key-value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "matchTargetLabels": {
          "description": "Optional. Deploy parameters are applied to targets with match labels. If unspecified, deploy parameters are applied to all targets (including child targets of a multi-target).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "RollbackAttempt": {
      "id": "RollbackAttempt",
      "properties": {
        "rolloutId": {
          "description": "Output only. ID of the rollback `Rollout` to create.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "description": "Output only. Valid state of this rollback action.",
          "readOnly": true,
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ]
        },
        "disableRollbackIfRolloutPending": {
          "type": "boolean",
          "description": "Output only. If active rollout exists on the target, abort this rollback.",
          "readOnly": true
        },
        "destinationPhase": {
          "description": "Output only. The phase to which the rollout will be rolled back to.",
          "readOnly": true,
          "type": "string"
        },
        "stateDesc": {
          "type": "string",
          "description": "Output only. Description of the state of the Rollback.",
          "readOnly": true
        }
      },
      "description": "RollbackAttempt represents an action of rolling back a Cloud Deploy 'Target'.",
      "type": "object"
    },
    "ReleaseReadyCondition": {
      "id": "ReleaseReadyCondition",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release."
        }
      },
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "type": "object"
    },
    "PostdeployJobRun": {
      "type": "object",
      "id": "PostdeployJobRun",
      "properties": {
        "metadata": {
          "description": "Output only. Metadata containing information about the postdeploy `JobRun`.",
          "readOnly": true,
          "$ref": "PostdeployJobRunMetadata"
        },
        "build": {
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the postdeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The postdeploy operation did not complete successfully; check Cloud Build logs.",
            "The postdeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string",
          "description": "Output only. The reason the postdeploy failed. This will always be unspecified while the postdeploy is in progress or if it succeeded.",
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the postdeploy failure, if available.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "PostdeployJobRun contains information specific to a postdeploy `JobRun`."
    },
    "RolloutRestriction": {
      "id": "RolloutRestriction",
      "properties": {
        "invokers": {
          "description": "Optional. What invoked the action. If left empty, all invoker types will be restricted.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "The action is user-driven. For example, creating a rollout manually via a gcloud create command.",
              "Automated action by Cloud Deploy."
            ],
            "enum": [
              "INVOKER_UNSPECIFIED",
              "USER",
              "DEPLOY_AUTOMATION"
            ],
            "type": "string"
          }
        },
        "actions": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Advance the rollout to the next phase.",
              "Approve the rollout.",
              "Cancel the rollout.",
              "Create a rollout.",
              "Ignore a job result on the rollout.",
              "Retry a job for a rollout.",
              "Rollback a rollout.",
              "Terminate a jobrun."
            ],
            "enum": [
              "ROLLOUT_ACTIONS_UNSPECIFIED",
              "ADVANCE",
              "APPROVE",
              "CANCEL",
              "CREATE",
              "IGNORE_JOB",
              "RETRY_JOB",
              "ROLLBACK",
              "TERMINATE_JOBRUN"
            ]
          },
          "description": "Optional. Rollout actions to be restricted as part of the policy. If left empty, all actions will be restricted."
        },
        "id": {
          "description": "Required. Restriction rule ID. Required and must be unique within a DeployPolicy. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "timeWindows": {
          "description": "Required. Time window within which actions are restricted.",
          "$ref": "TimeWindows"
        }
      },
      "description": "Rollout restrictions.",
      "type": "object"
    },
    "Stage": {
      "type": "object",
      "description": "Stage specifies a location to which to deploy.",
      "id": "Stage",
      "properties": {
        "strategy": {
          "description": "Optional. The strategy to use for a `Rollout` to this stage.",
          "$ref": "Strategy"
        },
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for the target in this stage.",
          "type": "array",
          "items": {
            "$ref": "DeployParameters"
          }
        },
        "targetId": {
          "type": "string",
          "description": "Optional. The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects/project/locations/location/targets/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`."
        },
        "profiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Skaffold profiles to use when rendering the manifest for this stage's `Target`."
        }
      }
    },
    "ListAutomationsResponse": {
      "description": "The response object from `ListAutomations`.",
      "id": "ListAutomationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "automations": {
          "description": "The `Automation` objects.",
          "type": "array",
          "items": {
            "$ref": "Automation"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeployJob": {
      "type": "object",
      "description": "A deploy Job.",
      "id": "DeployJob",
      "properties": {}
    },
    "ChildRolloutJobs": {
      "description": "ChildRollouts job composition",
      "id": "ChildRolloutJobs",
      "properties": {
        "createRolloutJobs": {
          "description": "Output only. List of CreateChildRolloutJobs",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "advanceRolloutJobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "Output only. List of AdvanceChildRolloutJobs",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SkaffoldGCBRepoSource": {
      "type": "object",
      "description": "Cloud Build V2 Repository containing Skaffold Configs.",
      "id": "SkaffoldGCBRepoSource",
      "properties": {
        "repository": {
          "description": "Required. Name of the Cloud Build V2 Repository. Format is projects/{project}/locations/{location}/connections/{connection}/repositories/{repository}.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Optional. Relative path from the repository root to the Skaffold Config file."
        },
        "ref": {
          "type": "string",
          "description": "Optional. Branch or tag to use when cloning the repository."
        }
      }
    },
    "ApproveRolloutResponse": {
      "type": "object",
      "description": "The response object from `ApproveRollout`.",
      "id": "ApproveRolloutResponse",
      "properties": {}
    },
    "ListRolloutsResponse": {
      "description": "ListRolloutsResponse is the response object returned by `ListRollouts`.",
      "id": "ListRolloutsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "rollouts": {
          "type": "array",
          "items": {
            "$ref": "Rollout"
          },
          "description": "The `Rollout` objects."
        }
      },
      "type": "object"
    },
    "RetryPhase": {
      "description": "RetryPhase contains the retry attempts and the metadata for initiating a new attempt.",
      "id": "RetryPhase",
      "properties": {
        "totalAttempts": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of attempts that have been made.",
          "readOnly": true
        },
        "backoffMode": {
          "type": "string",
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ],
          "description": "Output only. The pattern of how the wait time of the retry attempt is calculated.",
          "readOnly": true,
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ]
        },
        "attempts": {
          "description": "Output only. Detail of a retry action.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RetryAttempt"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAnalysis": {
      "id": "GoogleCloudAnalysis",
      "properties": {
        "alertPolicyChecks": {
          "description": "Optional. A list of Cloud Monitoring Alert Policy checks to perform as part of the analysis.",
          "type": "array",
          "items": {
            "$ref": "AlertPolicyCheck"
          }
        }
      },
      "description": "GoogleCloudAnalysis is a set of Google Cloud-based checks to perform on the deployment.",
      "type": "object"
    },
    "RouteDestinations": {
      "type": "object",
      "description": "Information about route destinations for the Gateway API service mesh.",
      "id": "RouteDestinations",
      "properties": {
        "destinationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The clusters where the Gateway API HTTPRoute resource will be deployed to. Valid entries include the associated entities IDs configured in the Target resource and \"@self\" to include the Target cluster."
        },
        "propagateService": {
          "description": "Optional. Whether to propagate the Kubernetes Service to the route destination clusters. The Service will always be deployed to the Target cluster even if the HTTPRoute is not. This option may be used to facilitate successful DNS lookup in the route destination clusters. Can only be set to true if destinations are specified.",
          "type": "boolean"
        }
      }
    },
    "AbandonReleaseResponse": {
      "id": "AbandonReleaseResponse",
      "properties": {},
      "description": "The response object for `AbandonRelease`.",
      "type": "object"
    },
    "Standard": {
      "id": "Standard",
      "properties": {
        "verifyConfig": {
          "description": "Optional. Configuration for the verify job. Cannot be set if `verify` is set to true.",
          "$ref": "Verify"
        },
        "postdeploy": {
          "description": "Optional. Configuration for the postdeploy job. If this is not configured, the postdeploy job will not be present.",
          "$ref": "Postdeploy"
        },
        "analysis": {
          "description": "Optional. Configuration for the analysis job. If this is not configured, the analysis job will not be present.",
          "$ref": "Analysis"
        },
        "verify": {
          "description": "Optional. Whether to verify a deployment via `skaffold verify`.",
          "type": "boolean"
        },
        "predeploy": {
          "$ref": "Predeploy",
          "description": "Optional. Configuration for the predeploy job. If this is not configured, the predeploy job will not be present."
        }
      },
      "description": "Standard represents the standard deployment strategy.",
      "type": "object"
    },
    "Job": {
      "type": "object",
      "id": "Job",
      "properties": {
        "deployJob": {
          "description": "Output only. A deploy Job.",
          "readOnly": true,
          "$ref": "DeployJob"
        },
        "skipMessage": {
          "description": "Output only. Additional information on why the Job was skipped, if available.",
          "readOnly": true,
          "type": "string"
        },
        "postdeployJob": {
          "$ref": "PostdeployJob",
          "description": "Output only. A postdeploy Job.",
          "readOnly": true
        },
        "analysisJob": {
          "description": "Output only. An analysis Job.",
          "readOnly": true,
          "$ref": "AnalysisJob"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the Job.",
          "readOnly": true
        },
        "createChildRolloutJob": {
          "description": "Output only. A createChildRollout Job.",
          "readOnly": true,
          "$ref": "CreateChildRolloutJob"
        },
        "predeployJob": {
          "$ref": "PredeployJob",
          "description": "Output only. A predeploy Job.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "IGNORED"
          ],
          "description": "Output only. The current state of the Job.",
          "readOnly": true,
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted.",
            "The Job was skipped.",
            "The Job was ignored."
          ]
        },
        "verifyJob": {
          "$ref": "VerifyJob",
          "description": "Output only. A verify Job.",
          "readOnly": true
        },
        "advanceChildRolloutJob": {
          "description": "Output only. An advanceChildRollout Job.",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJob"
        },
        "jobRun": {
          "type": "string",
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true
        }
      },
      "description": "Job represents an operation for a `Rollout`."
    },
    "SkaffoldGitSource": {
      "type": "object",
      "description": "Git repository containing Skaffold Config modules.",
      "id": "SkaffoldGitSource",
      "properties": {
        "repo": {
          "type": "string",
          "description": "Required. Git repository the package should be cloned from."
        },
        "path": {
          "type": "string",
          "description": "Optional. Relative path from the repository root to the Skaffold file."
        },
        "ref": {
          "description": "Optional. Git branch or tag to use when cloning the repository.",
          "type": "string"
        }
      }
    },
    "CancelAutomationRunRequest": {
      "type": "object",
      "description": "The request object used by `CancelAutomationRun`.",
      "id": "CancelAutomationRunRequest",
      "properties": {}
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "FailedAlertPolicy": {
      "type": "object",
      "description": "FailedAlertPolicy contains information about an alert policy that was found to be firing during an alert policy check.",
      "id": "FailedAlertPolicy",
      "properties": {
        "alertPolicy": {
          "description": "Output only. The name of the alert policy that was found to be firing. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "readOnly": true,
          "type": "string"
        },
        "alerts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Open alerts for the alerting policies that matched the alert policy check configuration.",
          "readOnly": true
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "TerminateJobRunResponse": {
      "type": "object",
      "id": "TerminateJobRunResponse",
      "properties": {},
      "description": "The response object from `TerminateJobRun`."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "CloudRunRenderMetadata": {
      "description": "CloudRunRenderMetadata contains Cloud Run information associated with a `Release` render.",
      "id": "CloudRunRenderMetadata",
      "properties": {
        "service": {
          "description": "Output only. The name of the Cloud Run Service in the rendered manifest. Format is `projects/{project}/locations/{location}/services/{service}`.",
          "readOnly": true,
          "type": "string"
        },
        "job": {
          "description": "Output only. The name of the Cloud Run Job in the rendered manifest. Format is `projects/{project}/locations/{location}/jobs/{job}`.",
          "readOnly": true,
          "type": "string"
        },
        "workerPool": {
          "description": "Output only. The name of the Cloud Run Worker Pool in the rendered manifest. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "readOnly": true,
          "type": "string"
        },
        "revision": {
          "description": "Output only. The name of the Cloud Run Revision in the rendered manifest. Format is `projects/{project}/locations/{location}/services/{service}/revisions/{revision}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RepairRolloutRule": {
      "description": "The `RepairRolloutRule` automation rule will automatically repair a failed `Rollout`.",
      "id": "RepairRolloutRule",
      "properties": {
        "phases": {
          "description": "Optional. Phases within which jobs are subject to automatic repair actions on failure. Proceeds only after phase name matched any one in the list, or for all phases if unspecified. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Jobs to repair. Proceeds only after job name matched any one in the list, or for all jobs if unspecified or empty. The phase that includes the job must match the phase ID specified in `source_phase`. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        },
        "condition": {
          "description": "Output only. Information around the state of the 'Automation' rule.",
          "readOnly": true,
          "$ref": "AutomationRuleCondition"
        },
        "repairPhases": {
          "type": "array",
          "items": {
            "$ref": "RepairPhaseConfig"
          },
          "description": "Required. Defines the types of automatic repair phases for failed jobs."
        }
      },
      "type": "object"
    },
    "RollbackTargetResponse": {
      "type": "object",
      "description": "The response object from `RollbackTarget`.",
      "id": "RollbackTargetResponse",
      "properties": {
        "rollbackConfig": {
          "description": "The config of the rollback `Rollout` created or will be created.",
          "$ref": "RollbackTargetConfig"
        }
      }
    },
    "PromoteReleaseOperation": {
      "type": "object",
      "description": "Contains the information of an automated promote-release operation.",
      "id": "PromoteReleaseOperation",
      "properties": {
        "targetId": {
          "type": "string",
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true
        },
        "wait": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "readOnly": true
        },
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "phase": {
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SerialPipeline": {
      "type": "object",
      "id": "SerialPipeline",
      "properties": {
        "stages": {
          "description": "Optional. Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "type": "array",
          "items": {
            "$ref": "Stage"
          }
        }
      },
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`."
    },
    "VerifyJobRun": {
      "id": "VerifyJobRun",
      "properties": {
        "eventLogPath": {
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "readOnly": true,
          "type": "string"
        },
        "artifactUri": {
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify job run did not complete within the allotted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "readOnly": true
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the verify failure, if available.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "VerifyJobRunMetadata",
          "description": "Output only. Metadata containing information about the verify `JobRun`.",
          "readOnly": true
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "type": "object"
    },
    "PredeployJobRun": {
      "type": "object",
      "id": "PredeployJobRun",
      "properties": {
        "build": {
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the predeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true
        },
        "failureCause": {
          "description": "Output only. The reason the predeploy failed. This will always be unspecified while the predeploy is in progress or if it succeeded.",
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The predeploy operation did not complete successfully; check Cloud Build logs.",
            "The predeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ]
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the predeploy failure, if available.",
          "readOnly": true
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the predeploy `JobRun`.",
          "readOnly": true,
          "$ref": "PredeployJobRunMetadata"
        }
      },
      "description": "PredeployJobRun contains information specific to a predeploy `JobRun`."
    },
    "TimeWindows": {
      "type": "object",
      "id": "TimeWindows",
      "properties": {
        "oneTimeWindows": {
          "type": "array",
          "items": {
            "$ref": "OneTimeWindow"
          },
          "description": "Optional. One-time windows within which actions are restricted."
        },
        "weeklyWindows": {
          "type": "array",
          "items": {
            "$ref": "WeeklyWindow"
          },
          "description": "Optional. Recurring weekly windows within which actions are restricted."
        },
        "timeZone": {
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York).",
          "type": "string"
        }
      },
      "description": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times."
    },
    "AutomationRun": {
      "description": "An `AutomationRun` resource in the Cloud Deploy API. An `AutomationRun` represents an execution instance of an automation rule.",
      "id": "AutomationRun",
      "properties": {
        "etag": {
          "description": "Output only. The weak etag of the `AutomationRun` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "waitUntilTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Earliest time the `AutomationRun` will attempt to resume. Wait-time is configured by `wait` in automation rule.",
          "readOnly": true
        },
        "promoteReleaseOperation": {
          "description": "Output only. Promotes a release to a specified 'Target'.",
          "readOnly": true,
          "$ref": "PromoteReleaseOperation"
        },
        "automationSnapshot": {
          "description": "Output only. Snapshot of the Automation taken at AutomationRun creation time.",
          "readOnly": true,
          "$ref": "Automation"
        },
        "targetId": {
          "type": "string",
          "description": "Output only. The ID of the source target that initiates the `AutomationRun`. The value of this field is the last segment of a target name.",
          "readOnly": true
        },
        "stateDescription": {
          "description": "Output only. Explains the current state of the `AutomationRun`. Present only when an explanation is needed.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The `AutomationRun` has an unspecified state.",
            "The `AutomationRun` has succeeded.",
            "The `AutomationRun` was cancelled.",
            "The `AutomationRun` has failed.",
            "The `AutomationRun` is in progress.",
            "The `AutomationRun` is pending.",
            "The `AutomationRun` was aborted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING",
            "ABORTED"
          ],
          "description": "Output only. Current state of the `AutomationRun`.",
          "readOnly": true
        },
        "ruleId": {
          "description": "Output only. The ID of the automation rule that initiated the operation.",
          "readOnly": true,
          "type": "string"
        },
        "timedPromoteReleaseOperation": {
          "$ref": "TimedPromoteReleaseOperation",
          "description": "Output only. Promotes a release to a specified 'Target' as defined in a Timed Promote Release rule.",
          "readOnly": true
        },
        "repairRolloutOperation": {
          "description": "Output only. Repairs a failed 'Rollout'.",
          "readOnly": true,
          "$ref": "RepairRolloutOperation"
        },
        "automationId": {
          "type": "string",
          "description": "Output only. The ID of the automation that initiated the operation.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the `AutomationRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automationRuns/{automation_run}`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the `AutomationRun` was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "policyViolation": {
          "description": "Output only. Contains information about what policies prevented the `AutomationRun` from proceeding.",
          "readOnly": true,
          "$ref": "PolicyViolation"
        },
        "updateTime": {
          "description": "Output only. Time at which the automationRun was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the `AutomationRun` expires. An `AutomationRun` expires after 14 days from its creation date.",
          "readOnly": true
        },
        "advanceRolloutOperation": {
          "description": "Output only. Advances a rollout to the next phase.",
          "readOnly": true,
          "$ref": "AdvanceRolloutOperation"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Output only. Email address of the user-managed IAM service account that performs the operations against Cloud Deploy resources.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `AutomationRun`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DeployPolicyNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_notification\". Platform Log event that describes the failure to send a pub/sub notification when there is a DeployPolicy status change.",
      "id": "DeployPolicyNotificationEvent",
      "properties": {
        "deployPolicy": {
          "description": "The name of the `DeployPolicy`.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a deploy policy fails to send a pub/sub notification."
        },
        "type": {
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "deployPolicyUid": {
          "description": "Unique identifier of the deploy policy.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TargetsTypeCondition": {
      "type": "object",
      "id": "TargetsTypeCondition",
      "properties": {
        "status": {
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters.",
          "type": "boolean"
        },
        "errorDetails": {
          "type": "string",
          "description": "Human readable error message."
        }
      },
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CanaryDeployment": {
      "description": "CanaryDeployment represents the canary deployment configuration",
      "id": "CanaryDeployment",
      "properties": {
        "verifyConfig": {
          "description": "Optional. Configuration for the verify job. Cannot be set if `verify` is set to true.",
          "$ref": "Verify"
        },
        "postdeploy": {
          "$ref": "Postdeploy",
          "description": "Optional. Configuration for the postdeploy job of the last phase. If this is not configured, there will be no postdeploy job for this phase."
        },
        "percentages": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Required. The percentage based deployments that will occur as a part of a `Rollout`. List is expected in ascending order and each integer n is 0 <= n < 100. If the GatewayServiceMesh is configured for Kubernetes, then the range for n is 0 <= n <= 100."
        },
        "analysis": {
          "$ref": "Analysis",
          "description": "Optional. Configuration for the analysis job. If configured, the analysis will run after each percentage deployment."
        },
        "verify": {
          "type": "boolean",
          "description": "Optional. Whether to run verify tests after each percentage deployment via `skaffold verify`."
        },
        "predeploy": {
          "$ref": "Predeploy",
          "description": "Optional. Configuration for the predeploy job of the first phase. If this is not configured, there will be no predeploy job for this phase."
        }
      },
      "type": "object"
    },
    "AdvanceRolloutOperation": {
      "description": "Contains the information of an automated advance-rollout operation.",
      "id": "AdvanceRolloutOperation",
      "properties": {
        "wait": {
          "description": "Output only. How long the operation will be paused.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "sourcePhase": {
          "description": "Output only. The phase of a deployment that initiated the operation.",
          "readOnly": true,
          "type": "string"
        },
        "destinationPhase": {
          "description": "Output only. The phase the rollout will be advanced to.",
          "readOnly": true,
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AutomationRunEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation_run\" Platform Log event that describes the AutomationRun related events.",
      "id": "AutomationRunEvent",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "Identifier of the `Automation` rule."
        },
        "message": {
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change.",
          "type": "string"
        },
        "automationRun": {
          "type": "string",
          "description": "The name of the `AutomationRun`."
        },
        "type": {
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "automationId": {
          "description": "Identifier of the `Automation`.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "destinationTargetId": {
          "description": "ID of the `Target` to which the `AutomationRun` is created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimedPromoteReleaseOperation": {
      "type": "object",
      "id": "TimedPromoteReleaseOperation",
      "properties": {
        "release": {
          "description": "Output only. The name of the release to be promoted.",
          "readOnly": true,
          "type": "string"
        },
        "phase": {
          "type": "string",
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true
        },
        "targetId": {
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains the information of an automated timed promote-release operation."
    },
    "CustomTargetSkaffoldActions": {
      "description": "CustomTargetSkaffoldActions represents the `CustomTargetType` configuration using Skaffold custom actions.",
      "id": "CustomTargetSkaffoldActions",
      "properties": {
        "deployAction": {
          "type": "string",
          "description": "Required. The Skaffold custom action responsible for deploy operations."
        },
        "renderAction": {
          "type": "string",
          "description": "Optional. The Skaffold custom action responsible for render operations. If not provided then Cloud Deploy will perform the render operations via `skaffold render`."
        },
        "includeSkaffoldModules": {
          "type": "array",
          "items": {
            "$ref": "SkaffoldModules"
          },
          "description": "Optional. List of Skaffold modules Cloud Deploy will include in the Skaffold Config as required before performing diagnose."
        }
      },
      "type": "object"
    },
    "ReleaseRenderEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change.",
      "id": "ReleaseRenderEvent",
      "properties": {
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "releaseRenderState": {
          "type": "string",
          "description": "The state of the release render.",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "release": {
          "description": "The name of the release. release_uid is not in this log message because we write some of these log messages at release creation time, before we've generated the uid.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a release render state change event.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        }
      },
      "type": "object"
    },
    "ListCustomTargetTypesResponse": {
      "id": "ListCustomTargetTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "customTargetTypes": {
          "type": "array",
          "items": {
            "$ref": "CustomTargetType"
          },
          "description": "The `CustomTargetType` objects."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "The response object from `ListCustomTargetTypes.`",
      "type": "object"
    },
    "AnalysisJobRun": {
      "type": "object",
      "description": "AnalysisJobRun contains information specific to an analysis `JobRun`.",
      "id": "AnalysisJobRun",
      "properties": {
        "alertPolicyAnalyses": {
          "description": "Output only. The status of the running alert policy checks configured for this analysis.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AlertPolicyCheckStatus"
          }
        },
        "failedCheckId": {
          "type": "string",
          "description": "Output only. The ID of the configured check that failed. This will always be blank while the analysis is in progress or if it succeeded.",
          "readOnly": true
        },
        "customCheckAnalyses": {
          "description": "Output only. The status of the running custom checks configured for this analysis.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CustomCheckStatus"
          }
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AutomationResourceSelector": {
      "description": "AutomationResourceSelector contains the information to select the resources to which an Automation is going to be applied.",
      "id": "AutomationResourceSelector",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "TargetAttribute"
          },
          "description": "Optional. Contains attributes about a target."
        }
      },
      "type": "object"
    },
    "CancelAutomationRunResponse": {
      "description": "The response object from `CancelAutomationRun`.",
      "id": "CancelAutomationRunResponse",
      "properties": {},
      "type": "object"
    },
    "WeeklyWindow": {
      "type": "object",
      "id": "WeeklyWindow",
      "properties": {
        "daysOfWeek": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "description": "Optional. Days of week. If left empty, all days of the week will be included."
        },
        "startTime": {
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week."
        }
      },
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight."
    },
    "CustomTargetType": {
      "type": "object",
      "id": "CustomTargetType",
      "properties": {
        "updateTime": {
          "description": "Output only. Most recent time at which the `CustomTargetType` was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `CustomTargetType`. Format is `projects/{project}/locations/{location}/customTargetTypes/{customTargetType}`. The `customTargetType` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "createTime": {
          "description": "Output only. Time at which the `CustomTargetType` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "customActions": {
          "$ref": "CustomTargetSkaffoldActions",
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using Skaffold custom actions."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. Unique identifier of the `CustomTargetType`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `CustomTargetType`. Max length is 255 characters."
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tasks": {
          "$ref": "CustomTargetTasks",
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using tasks."
        },
        "customTargetTypeId": {
          "type": "string",
          "description": "Output only. Resource id of the `CustomTargetType`.",
          "readOnly": true
        }
      },
      "description": "A `CustomTargetType` resource in the Cloud Deploy API. A `CustomTargetType` defines a type of custom target that can be referenced in a `Target` in order to facilitate deploying to other systems besides the supported runtimes."
    },
    "Targets": {
      "type": "object",
      "description": "The targets involved in a single timed promotion.",
      "id": "Targets",
      "properties": {
        "sourceTargetId": {
          "description": "Optional. The source target ID.",
          "type": "string"
        },
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The destination target ID."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Canary": {
      "id": "Canary",
      "properties": {
        "canaryDeployment": {
          "$ref": "CanaryDeployment",
          "description": "Optional. Configures the progressive based deployment for a Target."
        },
        "customCanaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target, but allows customizing at the phase level where a phase represents each of the percentage deployments.",
          "$ref": "CustomCanaryDeployment"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime specific configurations for the deployment strategy. The runtime configuration is used to determine how Cloud Deploy will split traffic to enable a progressive deployment."
        }
      },
      "description": "Canary represents the canary deployment strategy.",
      "type": "object"
    },
    "RuntimeConfig": {
      "type": "object",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy.",
      "id": "RuntimeConfig",
      "properties": {
        "kubernetes": {
          "description": "Optional. Kubernetes runtime configuration.",
          "$ref": "KubernetesConfig"
        },
        "cloudRun": {
          "$ref": "CloudRunConfig",
          "description": "Optional. Cloud Run runtime configuration."
        }
      }
    },
    "RollbackTargetConfig": {
      "id": "RollbackTargetConfig",
      "properties": {
        "startingPhaseId": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        },
        "rollout": {
          "description": "Optional. The rollback `Rollout` to create.",
          "$ref": "Rollout"
        }
      },
      "description": "Configs for the Rollback rollout.",
      "type": "object"
    },
    "DeployArtifact": {
      "type": "object",
      "description": "The artifacts produced by a deploy operation.",
      "id": "DeployArtifact",
      "properties": {
        "artifactUri": {
          "type": "string",
          "description": "Output only. URI of a directory containing the artifacts. All paths are relative to this location.",
          "readOnly": true
        },
        "manifestPaths": {
[...]
