{
  "basePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "cloudbilling",
  "servicePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "resources": {
    "skus": {
      "resources": {
        "prices": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1beta/skus/{skusId}/prices",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the latest prices for all SKUs.",
              "path": "v1beta/{+parent}/prices",
              "parameters": {
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "type": "string",
                  "pattern": "^skus/[^/]+$"
                }
              },
              "id": "cloudbilling.skus.prices.list"
            }
          }
        },
        "price": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "location": "path",
                  "pattern": "^skus/[^/]+/price$",
                  "type": "string",
                  "required": true
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest price for the given SKU.",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "flatPath": "v1beta/skus/{skusId}/price",
              "id": "cloudbilling.skus.price.get",
              "path": "v1beta/{+name}",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "httpMethod": "POST",
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "id": "cloudbilling.generateInsights",
          "flatPath": "v1beta:generateInsights",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "path": "v1beta:generateInsights",
          "parameterOrder": [],
          "request": {
            "$ref": "GenerateInsightsRequest"
          }
        }
      }
    },
    "skuGroups": {
      "methods": {
        "get": {
          "description": "Gets a publicly listed SKU group.",
          "path": "v1beta/{+name}",
          "id": "cloudbilling.skuGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^skuGroups/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "flatPath": "v1beta/skuGroups/{skuGroupsId}"
        },
        "list": {
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "type": "string"
            }
          },
          "path": "v1beta/skuGroups",
          "description": "Lists all publicly listed SKU groups.",
          "flatPath": "v1beta/skuGroups",
          "id": "cloudbilling.skuGroups.list",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skuGroups.skus.list",
              "path": "v1beta/{+parent}/skus",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^skuGroups/[^/]+$",
                  "type": "string",
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}"
                }
              },
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.skuGroups.skus.get",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "skus": {
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "parameters": {
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    },
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account."
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "path": "v1beta/{+parent}/prices",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "parameters": {
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query"
                    },
                    "currencyCode": {
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "description": "Gets a SKU visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.billingAccounts.skus.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "required": true
                }
              }
            },
            "list": {
              "id": "cloudbilling.billingAccounts.skus.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "description": "Lists SKUs visible to a billing account.",
              "path": "v1beta/{+parent}/skus"
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/services",
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.services.list",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists services visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}"
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a Google Cloud service visible to a billing account.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.services.get",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              }
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/skuGroups",
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Lists SKU groups visible to a billing account."
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a SKU group visible to a billing account."
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "get": {
                  "path": "v1beta/{+name}",
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/skus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "version": "v1beta",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "cloudbilling:v1beta",
  "title": "Cloud Billing API",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroups": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "type": "array",
          "description": "The returned publicly listed SKU groups."
        }
      },
      "type": "object",
      "description": "Response message for ListSkuGroups."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "DataSet": {
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "type": "object",
      "properties": {
        "queryInfo": {
          "readOnly": true,
          "description": "Output only. The query used to fetch this data.",
          "$ref": "AgenticQueryInfo"
        },
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "$ref": "SuggestedChart",
          "readOnly": true
        },
        "billingData": {
          "$ref": "BillingData",
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "readOnly": true
        }
      },
      "id": "DataSet"
    },
    "InteropLink": {
      "type": "object",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries).",
      "id": "InteropLink",
      "properties": {
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label of the link, suitable for UI rendering."
        },
        "linkType": {
          "readOnly": true,
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "type": "string",
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ]
        },
        "url": {
          "description": "Output only. The URL of the link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      },
      "type": "object",
      "description": "Encapsulates the unit information for a Rate"
    },
    "AgenticQueryInfo": {
      "id": "AgenticQueryInfo",
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "properties": {
        "orderBy": {
          "type": "string",
          "description": "The order-by clause applied to the query."
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "columns": {
          "type": "string",
          "description": "The columns queried."
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        },
        "view": {
          "type": "string",
          "description": "The view queried."
        },
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Datetime": {
      "description": "A datetime value.",
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        },
        "bitFieldDatetimeSeconds": {
          "format": "int64",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "type": "string"
        }
      },
      "id": "Datetime",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object"
    },
    "FinalResult": {
      "id": "FinalResult",
      "description": "Encapsulates all structured data and the completed summary.",
      "properties": {
        "summary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full natural language summary (re-sent for consistency)."
        },
        "suggestedQueries": {
          "readOnly": true,
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "type": "array",
          "items": {
            "$ref": "SuggestedQuery"
          }
        },
        "insights": {
          "readOnly": true,
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "items": {
            "$ref": "Insight"
          },
          "type": "array"
        },
        "interopLinks": {
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "InteropLink"
          }
        },
        "fullAnalysis": {
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "type": "string",
          "readOnly": true
        },
        "dataSets": {
          "readOnly": true,
          "items": {
            "$ref": "DataSet"
          },
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "description": "Response message for ListBillingAccountServices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountServices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "type": "array",
          "description": "The returned billing account services."
        }
      }
    },
    "Decimal": {
      "id": "Decimal",
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "tiers": {
          "type": "array",
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          }
        },
        "unitInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRate"
    },
    "Map": {
      "id": "Map",
      "properties": {
        "entry": {
          "items": {
            "$ref": "MapEntry"
          },
          "type": "array",
          "description": "Represents the map entries in the map."
        }
      },
      "type": "object",
      "description": "An unordered mapping from key to value, represented as a collection of map entries."
    },
    "SuggestedChart": {
      "properties": {
        "yAxisField": {
          "type": "string",
          "description": "The field used for the y-axis."
        },
        "yAxisLabel": {
          "type": "string",
          "description": "The label of the y-axis."
        },
        "chartType": {
          "description": "The type of the chart.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ]
        },
        "xAxisField": {
          "description": "The field used for the x-axis.",
          "type": "string"
        },
        "chartTitle": {
          "type": "string",
          "description": "The title of the chart."
        },
        "xAxisLabel": {
          "type": "string",
          "description": "The label of the x-axis."
        },
        "seriesField": {
          "type": "string",
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data."
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering.",
      "id": "SuggestedChart",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice",
      "type": "object",
      "properties": {
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        },
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        }
      },
      "description": "Encapsulates the latest price for a billing account SKU."
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        }
      },
      "description": "Encapsulates a rate price tier.",
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRateTier"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "type": "object",
      "properties": {},
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "properties": {},
      "type": "object",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
    },
    "ColumnInfo": {
      "description": "Represents a column header.",
      "id": "ColumnInfo",
      "type": "object",
      "properties": {
        "column": {
          "type": "string",
          "description": "Name of the column."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "type": "string"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
    },
    "UserContext": {
      "properties": {
        "persona": {
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "type": "string",
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer)."
        },
        "role": {
          "type": "string",
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.)."
        }
      },
      "description": "Additional context for personalization (e.g., user persona, role).",
      "type": "object",
      "id": "UserContext"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "properties": {
        "skuGroupSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "description": "The returned SKU group SKUs."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSkuGroupSkus.",
      "type": "object"
    },
    "Array": {
      "type": "object",
      "properties": {
        "element": {
          "type": "array",
          "description": "The elements of the array.",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Array",
      "description": "An ordered collection of elements of arbitrary count."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "properties": {
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "properties": {
        "defaultPrice": {
          "description": "Default price which is the current list price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        },
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "fixedPrice": {
          "description": "Fixed price applicable during the terms of a contract agreement.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        }
      },
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "properties": {
        "valueType": {
          "type": "string",
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"]."
        },
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest price."
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "description": "Encapsulates the latest price for a SKU."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "type": "object",
      "description": "Encapsulates a default price which is the current list price."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "properties": {
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the floating discount."
        },
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the floating discount comes from."
        },
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "properties": {
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        }
      },
      "type": "object",
      "description": "Encapsulates the unit information for a Rate",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
    },
    "BillingData": {
      "properties": {
        "columnInfo": {
          "type": "array",
          "description": "Information about columns.",
          "items": {
            "$ref": "ColumnInfo"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Rows."
        }
      },
      "id": "BillingData",
      "description": "Encapsulates billing data.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSku belongs to."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSku."
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku."
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "name": {
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "type": "object",
      "properties": {
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "type": "array"
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        }
      },
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate"
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "type": "object",
      "properties": {
        "prices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          },
          "description": "The returned publicly listed prices."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "description": "Response message for ListPrices."
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "type": "object",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      },
      "description": "Encapsulates a price migrated from other SKUs."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "properties": {
        "billingAccountSkuGroupSkus": {
          "description": "The returned billing account SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "description": "Response message for ListBillingAccountSkuGroupSkus."
    },
    "ValueProto": {
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "id": "ValueProto",
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Primitive for double."
        },
        "int32Value": {
          "description": "Primitive value for int32.",
          "format": "int32",
          "type": "integer"
        },
        "dateValue": {
          "type": "integer",
          "format": "int32",
          "description": "Primitive for date."
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "geographyValue": {
          "format": "byte",
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "type": "string"
        },
        "timestampPicoValue": {
          "format": "byte",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes().",
          "type": "string"
        },
        "datetimeValue": {
          "description": "primitive for datetime",
          "$ref": "Datetime"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "primitive for timestamp"
        },
        "enumValue": {
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "type": "integer",
          "format": "int32"
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "floatValue": {
          "format": "float",
          "description": "Primitive for float.",
          "type": "number"
        },
        "mapValue": {
          "$ref": "Map",
          "description": "Encoded map value. See go/googlesql_map."
        },
        "tokenlistValue": {
          "format": "byte",
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "type": "string"
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "uuidValue": {
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes().",
          "type": "string",
          "format": "byte"
        },
        "uint32Value": {
          "type": "integer",
          "description": "Primitive for uint32.",
          "format": "uint32"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "type": "boolean",
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added."
        },
        "numericValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes()."
        },
        "bignumericValue": {
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "type": "string",
          "format": "byte"
        },
        "intervalValue": {
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "int64Value": {
          "description": "Primitive for int64.",
          "type": "string",
          "format": "int64"
        },
        "arrayValue": {
          "$ref": "Array",
          "description": "An array of value"
        },
        "protoValue": {
          "type": "string",
          "description": "Stores a serialized protocol message.",
          "format": "byte"
        },
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Primitive for uint64."
        },
        "timeValue": {
          "format": "int64",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details.",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Primitive for string."
        },
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "bytesValue": {
          "format": "byte",
          "type": "string",
          "description": "Primitive for bytes."
        }
      },
      "type": "object"
    },
    "Insight": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. The description of the insight.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the insight."
        },
        "severity": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding)."
        }
      },
      "id": "Insight",
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO"
    },
    "BillingDataResource": {
      "id": "BillingDataResource",
      "type": "object",
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "properties": {
        "billingAccount": {
          "description": "Optional. If not provided the billing account currently associated with the resource will be used.",
          "type": "string"
        },
        "resource": {
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "properties": {
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encapsulates a Google Cloud service visible to a billing account."
    },
    "Struct": {
      "properties": {
        "field": {
          "type": "array",
          "description": "The fields in the struct",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "id": "Struct",
      "type": "object"
    },
    "MapEntry": {
      "properties": {
        "value": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map value of the entry."
        },
        "key": {
          "description": "Represents the serialized map key for the entry.",
          "$ref": "ValueProto"
        }
      },
      "type": "object",
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "id": "MapEntry"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "type": "object",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      }
    },
    "Rejection": {
      "type": "object",
      "id": "Rejection",
      "description": "Encapsulates details about why a request was rejected.",
      "properties": {
        "reason": {
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "description": "Output only. The reason for the rejection.",
          "type": "string"
        },
        "displayMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A user-facing message explaining the rejection."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "type": "object",
      "description": "Response message for ListBillingAccountPrices.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "properties": {
        "billingAccountPrices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "type": "array",
          "description": "The returned billing account prices."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "type": "object",
      "description": "Response message for ListBillingAccountSkus.",
      "properties": {
        "billingAccountSkus": {
          "type": "array",
          "description": "The returned billing account SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "GenerateInsightsResponse": {
      "id": "GenerateInsightsResponse",
      "type": "object",
      "description": "Response for GenerateInsights.",
      "properties": {
        "finalResult": {
          "$ref": "FinalResult",
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "readOnly": true
        },
        "thoughtChunk": {
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "readOnly": true,
          "type": "string"
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "$ref": "Rejection",
          "readOnly": true
        },
        "summaryChunk": {
          "readOnly": true,
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "type": "object",
      "description": "Encapsulates a rate price tier.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "properties": {
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        },
        "contractPrice": {
          "$ref": "Money",
          "description": "Negotiated contract price specific for a billing account."
        },
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "type": "object",
      "properties": {
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "fixTime": {
          "type": "string",
          "description": "Time that the fixed discount is anchored to.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "type": "object",
      "properties": {
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ]
        },
        "interval": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string"
        }
      },
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountSkuGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "description": "The returned publicly listed billing account SKU groups."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroups."
    },
    "SuggestedQuery": {
      "type": "object",
      "description": "A suggested follow-up query for the user.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The natural language query."
        }
      },
      "id": "SuggestedQuery"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      }
    },
    "GenerateInsightsRequest": {
      "type": "object",
      "description": "Request for GenerateInsights.",
      "properties": {
        "parents": {
          "items": {
            "$ref": "BillingDataResource"
          },
          "type": "array",
          "description": "Optional. The billing account or projects to analyze."
        },
        "prompt": {
          "description": "Required. The natural language prompt from the user.",
          "type": "string"
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "format": "int32",
          "type": "integer"
        },
        "userContext": {
          "$ref": "UserContext",
          "description": "Optional. Additional context for personalization (e.g., user persona, role)."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\""
        }
      },
      "id": "GenerateInsightsRequest"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
    },
    "Range": {
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "properties": {
        "end": {
          "$ref": "ValueProto",
          "description": "Represents the end of the range."
        },
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        }
      },
      "type": "object",
      "id": "Range"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "type": "object",
      "properties": {
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        }
      }
    },
    "Row": {
      "properties": {
        "values": {
          "type": "array",
          "description": "Values for a row in the column order.",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Row",
      "type": "object",
      "description": "Represents a row in the query result."
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "properties": {
        "interval": {
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string"
        },
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "type": "object"
    }
  },
  "version_module": true,
  "canonicalName": "Cloudbilling",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
[...]
