{
  "title": "Cloud Build API",
  "revision": "20260821",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "id": "cloudbuild.operations.get",
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "cancel": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:cancel",
          "id": "cloudbuild.operations.cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource to be cancelled."
            }
          }
        }
      }
    },
    "githubDotComWebhook": {
      "methods": {
        "receive": {
          "parameterOrder": [],
          "flatPath": "v1/githubDotComWebhook:receive",
          "parameters": {
            "webhookKey": {
              "location": "query",
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "HttpBody"
          },
          "path": "v1/githubDotComWebhook:receive",
          "id": "cloudbuild.githubDotComWebhook.receive",
          "description": "ReceiveGitHubDotComWebhook is called when the API receives a github.com webhook."
        }
      }
    },
    "projects": {
      "resources": {
        "githubEnterpriseConfigs": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.create",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "description": "Create an association between a GCP project and a GitHub Enterprise server.",
              "parameters": {
                "gheConfigId": {
                  "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}"
                },
                "projectId": {
                  "description": "ID of the project.",
                  "type": "string",
                  "deprecated": true,
                  "location": "query"
                }
              },
              "httpMethod": "POST"
            },
            "patch": {
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "description": "Update an association between a GCP project and a GitHub Enterprise server.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "location": "query"
                }
              },
              "id": "cloudbuild.projects.githubEnterpriseConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.list",
              "response": {
                "$ref": "ListGithubEnterpriseConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "projectId": {
                  "location": "query",
                  "type": "string",
                  "description": "ID of the project",
                  "deprecated": true
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "List all GitHubEnterpriseConfigs for a given project."
            },
            "get": {
              "response": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "description": "Retrieve a GitHubEnterpriseConfig.",
              "id": "cloudbuild.projects.githubEnterpriseConfigs.get",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "location": "path"
                },
                "configId": {
                  "location": "query",
                  "deprecated": true,
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "description": "ID of the project",
                  "location": "query",
                  "deprecated": true
                }
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "id": "cloudbuild.projects.githubEnterpriseConfigs.delete",
              "parameters": {
                "projectId": {
                  "deprecated": true,
                  "type": "string",
                  "description": "ID of the project",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "location": "path"
                },
                "configId": {
                  "deprecated": true,
                  "location": "query",
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "getDefaultServiceAccount": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/defaultServiceAccount",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `DefaultServiceAccount` to retrieve. Format: `projects/{project}/locations/{location}/defaultServiceAccount`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/defaultServiceAccount$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "DefaultServiceAccount"
              },
              "description": "Returns the `DefaultServiceAccount` used by the project.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "cloudbuild.projects.locations.getDefaultServiceAccount"
            }
          },
          "resources": {
            "triggers": {
              "methods": {
                "run": {
                  "request": {
                    "$ref": "RunBuildTriggerRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:run",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run"
                },
                "get": {
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "location": "query",
                      "type": "string"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns information about a `BuildTrigger`."
                },
                "patch": {
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+resourceName}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string"
                    },
                    "resourceName": {
                      "location": "path",
                      "type": "string",
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true
                    },
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the `BuildTrigger` to update."
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "httpMethod": "DELETE",
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "triggerId": {
                      "description": "Required. ID of the `BuildTrigger` to delete.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/triggers",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of results to return in the list.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists existing `BuildTrigger`s.",
                  "id": "cloudbuild.projects.locations.triggers.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "response": {
                    "$ref": "ListBuildTriggersResponse"
                  }
                },
                "webhook": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ReceiveTriggerWebhookResponse"
                  },
                  "parameters": {
                    "secret": {
                      "type": "string",
                      "location": "query",
                      "description": "Secret token used for authorization if an OAuth token isn't provided."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Project in which the specified trigger lives",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "trigger": {
                      "description": "Name of the trigger to run the payload against",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}:webhook",
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "HttpBody"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/triggers",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project for which to configure automatic builds.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Creates a new `BuildTrigger`."
                }
              }
            },
            "builds": {
              "methods": {
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
                  "response": {
                    "$ref": "Build"
                  },
                  "request": {
                    "$ref": "CancelBuildRequest"
                  },
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "The raw filter text to constrain the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of results to return in the list."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/builds",
                  "response": {
                    "$ref": "ListBuildsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "id": "cloudbuild.projects.locations.builds.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "required": true
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project."
                    }
                  },
                  "id": "cloudbuild.projects.locations.builds.create",
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "path": "v1/{+parent}/builds",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Build"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "approve": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\""
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ApproveBuildRequest"
                  },
                  "path": "v1/{+name}:approve",
                  "id": "cloudbuild.projects.locations.builds.approve",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:approve",
                  "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "retry": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true,
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`"
                    }
                  },
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:retry",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RetryBuildRequest"
                  },
                  "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings."
                },
                "get": {
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Build"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "id": {
                      "description": "Required. ID of the build.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true,
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.builds.get"
                }
              }
            },
            "bitbucketServerConfigs": {
              "methods": {
                "list": {
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBitbucketServerConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Name of the parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListBitbucketServerConfigsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "description": "List all `BitbucketServerConfigs` for a given project. This API is experimental.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "removeBitbucketServerConnectedRepository": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}:removeBitbucketServerConnectedRepository",
                  "parameterOrder": [
                    "config"
                  ],
                  "description": "Remove a Bitbucket Server repository from a given BitbucketServerConfig's connected repositories. This API is experimental.",
                  "request": {
                    "$ref": "RemoveBitbucketServerConnectedRepositoryRequest"
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.removeBitbucketServerConnectedRepository",
                  "path": "v1/{+config}:removeBitbucketServerConnectedRepository",
                  "parameters": {
                    "config": {
                      "location": "path",
                      "description": "Required. The name of the `BitbucketServerConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The config resource name."
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Delete a `BitbucketServerConfig`. This API is experimental.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The config resource name.",
                      "required": true
                    }
                  },
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.get",
                  "description": "Retrieve a `BitbucketServerConfig`. This API is experimental.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "description": "Updates an existing `BitbucketServerConfig`. This API is experimental.",
                  "httpMethod": "PATCH",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name for the config."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "bitbucketServerConfigId": {
                      "description": "Optional. The ID to use for the BitbucketServerConfig, which will become the final component of the BitbucketServerConfig's resource name. bitbucket_server_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new `BitbucketServerConfig`. This API is experimental.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "parameters": {
                        "parent": {
                          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.connectedRepositories.batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "BatchCreateBitbucketServerConnectedRepositoriesRequest"
                      },
                      "description": "Batch connecting Bitbucket Server repositories to Cloud Build.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/connectedRepositories:batchCreate"
                    }
                  }
                },
                "repos": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Name of the parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of configs to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListBitbucketServerRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/repos",
                      "response": {
                        "$ref": "ListBitbucketServerRepositoriesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/repos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.repos.list",
                      "description": "List all repositories for a given `BitbucketServerConfig`. This API is experimental."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "cloudbuild.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "workerPools": {
              "methods": {
                "delete": {
                  "description": "Deletes a `WorkerPool`.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it."
                    },
                    "etag": {
                      "description": "Optional. If provided, it must match the server's etag on the workerpool for the request to be processed.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "cloudbuild.projects.locations.workerPools.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Returns details of a `WorkerPool`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "id": "cloudbuild.projects.locations.workerPools.get",
                  "response": {
                    "$ref": "WorkerPool"
                  },
                  "path": "v1/{+name}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. A mask specifying which fields in `worker_pool` to update."
                    }
                  },
                  "description": "Updates a `WorkerPool`.",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "cloudbuild.projects.locations.workerPools.patch"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "description": "Lists `WorkerPool`s.",
                  "response": {
                    "$ref": "ListWorkerPoolsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "path": "v1/{+parent}/workerPools"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "workerPoolId": {
                      "location": "query",
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/workerPools",
                  "description": "Creates a `WorkerPool`.",
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.workerPools.create"
                }
              }
            },
            "githubEnterpriseConfigs": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "path": "v1/{+parent}/githubEnterpriseConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "projectId": {
                      "deprecated": true,
                      "location": "query",
                      "description": "ID of the project.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "gheConfigId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.create",
                  "description": "Create an association between a GCP project and a GitHub Enterprise server."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "required": true
                    },
                    "configId": {
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                      "location": "query",
                      "type": "string",
                      "deprecated": true
                    },
                    "projectId": {
                      "description": "ID of the project",
                      "location": "query",
                      "type": "string",
                      "deprecated": true
                    }
                  },
                  "description": "Retrieve a GitHubEnterpriseConfig.",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.get"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GitHubEnterpriseConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Update an association between a GCP project and a GitHub Enterprise server.",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.patch"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "projectId": {
                      "description": "ID of the project",
                      "deprecated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/githubEnterpriseConfigs/[^/]+$",
                      "required": true
                    },
                    "configId": {
                      "deprecated": true,
                      "location": "query",
                      "type": "string",
                      "description": "Unique identifier of the `GitHubEnterpriseConfig`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.delete"
                },
                "list": {
                  "id": "cloudbuild.projects.locations.githubEnterpriseConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListGithubEnterpriseConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/githubEnterpriseConfigs",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "ID of the project",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "List all GitHubEnterpriseConfigs for a given project.",
                  "path": "v1/{+parent}/githubEnterpriseConfigs"
                }
              }
            }
          }
        },
        "triggers": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project for which to configure automatic builds.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "BuildTrigger"
              },
              "id": "cloudbuild.projects.triggers.create",
              "flatPath": "v1/projects/{projectId}/triggers",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new `BuildTrigger`.",
              "request": {
                "$ref": "BuildTrigger"
              },
              "path": "v1/projects/{projectId}/triggers"
            },
            "run": {
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "triggerId": {
                  "location": "path",
                  "description": "Required. ID of the trigger.",
                  "required": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "cloudbuild.projects.triggers.run",
              "httpMethod": "POST",
              "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "request": {
                "$ref": "RepoSource"
              }
            },
            "get": {
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true
                },
                "name": {
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                },
                "triggerId": {
                  "location": "path",
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Returns information about a `BuildTrigger`.",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "id": "cloudbuild.projects.triggers.get",
              "response": {
                "$ref": "BuildTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}"
            },
            "patch": {
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "response": {
                "$ref": "BuildTrigger"
              },
              "request": {
                "$ref": "BuildTrigger"
              },
              "parameters": {
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the `BuildTrigger` to update."
                },
                "updateMask": {
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "cloudbuild.projects.triggers.patch",
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID."
            },
            "list": {
              "path": "v1/projects/{projectId}/triggers",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Lists existing `BuildTrigger`s.",
              "parameters": {
                "parent": {
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "pageSize": {
                  "description": "Number of results to return in the list.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "id": "cloudbuild.projects.triggers.list",
              "flatPath": "v1/projects/{projectId}/triggers"
            },
            "webhook": {
              "response": {
                "$ref": "ReceiveTriggerWebhookResponse"
              },
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "id": "cloudbuild.projects.triggers.webhook",
              "httpMethod": "POST",
              "request": {
                "$ref": "HttpBody"
              },
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                },
                "projectId": {
                  "location": "path",
                  "description": "Project in which the specified trigger lives",
                  "type": "string",
                  "required": true
                },
                "trigger": {
                  "required": true,
                  "location": "path",
                  "description": "Name of the trigger to run the payload against",
                  "type": "string"
                },
                "secret": {
                  "type": "string",
                  "description": "Secret token used for authorization if an OAuth token isn't provided.",
                  "location": "query"
                }
              },
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook"
            },
            "delete": {
              "id": "cloudbuild.projects.triggers.delete",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                },
                "triggerId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "location": "path"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger."
                }
              },
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "builds": {
          "methods": {
            "get": {
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "id": "cloudbuild.projects.builds.get",
              "path": "v1/projects/{projectId}/builds/{id}",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only gets builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
              "httpMethod": "GET",
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the build."
                },
                "name": {
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Build"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds/{id}"
            },
            "approve": {
              "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
              "request": {
                "$ref": "ApproveBuildRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/builds/[^/]+$",
                  "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\"",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "cloudbuild.projects.builds.approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}:approve",
              "flatPath": "v1/projects/{projectsId}/builds/{buildsId}:approve",
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the build."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Cancels a build in progress. Note: This method only cancels builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:cancel. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`.",
              "request": {
                "$ref": "CancelBuildRequest"
              },
              "id": "cloudbuild.projects.builds.cancel",
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "response": {
                "$ref": "Build"
              },
              "path": "v1/projects/{projectId}/builds/{id}:cancel"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the project.",
                  "required": true
                },
                "parent": {
                  "type": "string",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                  "location": "query"
                },
                "filter": {
                  "description": "The raw filter text to constrain the results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Number of results to return in the list.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds",
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "path": "v1/projects/{projectId}/builds",
              "id": "cloudbuild.projects.builds.list"
            },
            "create": {
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "location": "path"
                },
                "parent": {
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "cloudbuild.projects.builds.create",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "Build"
              },
              "path": "v1/projects/{projectId}/builds",
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1/projects/{projectId}/builds"
            },
            "retry": {
              "request": {
                "$ref": "RetryBuildRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "description": "Creates a new build based on the specified build. Note: This method only creates builds in the \"global\" region when using the legacy resource path projects/{project_id}/builds/{id}:retry. For all regions, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "id": "cloudbuild.projects.builds.retry",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Build ID of the original build.",
                  "location": "path"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project."
                }
              }
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "webhook": {
          "description": "ReceiveWebhook is called when the API receives a GitHub webhook.",
          "path": "v1/webhook",
          "flatPath": "v1/webhook",
          "id": "cloudbuild.webhook",
          "request": {
            "$ref": "HttpBody"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameters": {
            "webhookKey": {
              "location": "query",
              "type": "string",
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation."
            }
          }
        }
      }
    },
    "locations": {
      "methods": {
        "regionalWebhook": {
          "parameterOrder": [
            "location"
          ],
          "path": "v1/{+location}/regionalWebhook",
          "request": {
            "$ref": "HttpBody"
          },
          "id": "cloudbuild.locations.regionalWebhook",
          "httpMethod": "POST",
          "parameters": {
            "webhookKey": {
              "location": "query",
              "type": "string",
              "description": "For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation."
            },
            "location": {
              "type": "string",
              "pattern": "^locations/[^/]+$",
              "required": true,
              "description": "Required. The location where the webhook should be sent.",
              "location": "path"
            }
          },
          "description": "ReceiveRegionalWebhook is called when the API receives a regional GitHub webhook.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/locations/{locationsId}/regionalWebhook"
        }
      }
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "protocol": "rest",
  "schemas": {
    "GenericArtifactDependency": {
      "description": "Represents a generic artifact as a build dependency.",
      "id": "GenericArtifactDependency",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1"
        },
        "destPath": {
          "type": "string",
          "description": "Required. Where the artifact files should be placed on the worker."
        }
      },
      "type": "object"
    },
    "WorkerConfig": {
      "type": "object",
      "id": "WorkerConfig",
      "properties": {
        "diskSizeGb": {
          "description": "Size of the disk attached to the worker, in GB. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). Specify a value of up to 4000. If `0` is specified, Cloud Build will use a standard disk size.",
          "type": "string",
          "format": "int64"
        },
        "enableNestedVirtualization": {
          "description": "Optional. Enable nested virtualization on the worker, if supported by the machine type. By default, nested virtualization is disabled.",
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Machine type of a worker, such as `e2-medium`. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). If left blank, Cloud Build will use a sensible default."
        }
      },
      "description": "Defines the configuration to be used for creating workers in the pool."
    },
    "WorkerPool": {
      "type": "object",
      "id": "WorkerPool",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
[...]
