{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "customers": {
              "resources": {
                "workloads": {
                  "methods": {
                    "get": {
                      "description": "Gets details of a single workload",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Workload"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}"
                    },
                    "getPartnerPermissions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "description": "Gets the partner permissions granted for a workload",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "required": true
                        }
                      }
                    },
                    "getEkmConnections": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "description": "Gets the EKM connections associated with a workload",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$"
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/workloads",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "description": "Lists customer workloads for a given customer org id",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/accessApprovalRequests",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "deprecated": true,
                          "parameters": {
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering results.",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            }
                          }
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/violations",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filtering results"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`"
                            },
                            "interval.startTime": {
                              "location": "query",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "type": "string",
                              "format": "google-datetime"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "interval.endTime": {
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "location": "query",
                              "format": "google-datetime",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`"
                        },
                        "get": {
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "httpMethod": "GET",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "description": "Gets details of a single Violation.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Violation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "path": "v1/{+parent}/customers",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Customer"
                  },
                  "response": {
                    "$ref": "Customer"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "description": "Update details of a single customer"
                },
                "create": {
                  "path": "v1/{+parent}/customers",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Customer"
                  },
                  "response": {
                    "$ref": "Customer"
                  },
                  "description": "Creates a new customer.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "customerId": {
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "description": "Delete details of a single customer",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "required": true,
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "description": "Gets details of a single customer",
                  "response": {
                    "$ref": "Customer"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "getPartner": {
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/partner",
              "parameters": {
                "name": {
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Partner"
              },
              "description": "Get details of a Partner.",
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "version_module": true,
  "version": "v1",
  "protocol": "rest",
  "title": "Cloud Controls Partner API",
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "cloudcontrolspartner:v1",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "schemas": {
    "CustomerOnboardingStep": {
      "properties": {
        "completionState": {
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. Current state of the step",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The starting time of the onboarding step"
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step",
          "type": "string"
        },
        "step": {
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "description": "The onboarding step",
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ]
        }
      },
      "description": "Container for customer onboarding information",
      "id": "CustomerOnboardingStep",
      "type": "object"
    },
    "Violation": {
      "description": "Details of resource Violation",
      "type": "object",
      "properties": {
        "category": {
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ]
        },
        "resolveTime": {
          "type": "string",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "format": "google-datetime",
          "readOnly": true
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation",
          "readOnly": true
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "readOnly": true,
          "type": "string"
        },
        "folderId": {
          "description": "The folder_id of the violation",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`"
        },
        "beginTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time when the Violation record was updated.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Violation"
    },
    "WorkloadOnboardingStep": {
      "id": "WorkloadOnboardingStep",
      "properties": {
        "completionTime": {
          "type": "string",
          "description": "The completion time of the onboarding step.",
          "format": "google-datetime"
        },
        "completionState": {
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "readOnly": true,
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "type": "string"
        },
        "step": {
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ],
          "description": "The onboarding step.",
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The starting time of the onboarding step."
        }
      },
      "type": "object",
      "description": "Container for workload onboarding information."
    },
    "Gcloud": {
      "id": "Gcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array"
        },
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Gcloud command to resolve violation"
        }
      },
      "type": "object"
    },
    "Customer": {
      "type": "object",
      "id": "Customer",
      "properties": {
        "isOnboarded": {
          "type": "boolean",
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
        },
        "customerOnboardingState": {
          "readOnly": true,
          "description": "Output only. Container for customer onboarding steps",
          "$ref": "CustomerOnboardingState"
        },
        "organizationDomain": {
          "type": "string",
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for the customer"
        }
      },
      "description": "Contains metadata around a Cloud Controls Partner Customer"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "WorkloadOnboardingState": {
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "description": "List of workload onboarding steps.",
          "type": "array",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          }
        }
      },
      "id": "WorkloadOnboardingState",
      "description": "Container for workload onboarding steps."
    },
    "Remediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object",
      "id": "Remediation",
      "properties": {
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "remediationType": {
          "readOnly": true,
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "type": "string",
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ]
        },
        "instructions": {
          "$ref": "Instructions",
          "description": "Required. Remediation instructions to resolve violations"
        }
      }
    },
    "EkmConnections": {
      "type": "object",
      "id": "EkmConnections",
      "properties": {
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "type": "array",
          "items": {
            "$ref": "EkmConnection"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
        }
      },
      "description": "The EKM connections associated with a workload"
    },
    "ListWorkloadsResponse": {
      "id": "ListWorkloadsResponse",
      "type": "object",
      "description": "Response message for list customer workloads requests.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workloads": {
          "description": "List of customer workloads",
          "items": {
            "$ref": "Workload"
          },
          "type": "array"
        }
      }
    },
    "Instructions": {
      "description": "Instructions to remediate violation",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "Gcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        }
      },
      "id": "Instructions",
      "type": "object"
    },
    "CustomerOnboardingState": {
      "id": "CustomerOnboardingState",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "type": "array",
          "description": "List of customer onboarding steps"
        }
      },
      "description": "Container for customer onboarding steps"
    },
    "Partner": {
      "type": "object",
      "description": "Message describing Partner resource",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the resource was updated",
          "type": "string",
          "format": "google-datetime"
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "Sku"
          },
          "description": "List of SKUs the partner is offering"
        },
        "operatedCloudRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones"
        },
        "ekmSolutions": {
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "type": "array",
          "items": {
            "$ref": "EkmMetadata"
          }
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the resource was created",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\""
        }
      },
      "id": "Partner"
    },
    "Console": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "id": "Console",
      "properties": {
        "consoleUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved"
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ListAccessApprovalRequestsResponse": {
      "description": "Response message for list access requests.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessApprovalRequests": {
          "items": {
            "$ref": "AccessApprovalRequest"
          },
          "type": "array",
          "description": "List of access approval requests"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListAccessApprovalRequestsResponse"
    },
    "EkmConnection": {
      "description": "Details about the EKM connection",
      "properties": {
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        },
        "connectionError": {
          "$ref": "ConnectionError",
          "description": "The connection error that occurred if any"
        },
        "connectionState": {
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "readOnly": true,
          "description": "Output only. The connection state"
        }
      },
      "id": "EkmConnection",
      "type": "object"
    },
    "Workload": {
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "type": "object",
      "id": "Workload",
      "properties": {
        "folderId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Folder id this workload is associated with"
        },
        "partner": {
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Partner associated with this workload.",
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the resource was created.",
          "readOnly": true
        },
        "workloadOnboardingState": {
          "description": "Container for workload onboarding steps.",
          "$ref": "WorkloadOnboardingState"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "isOnboarded": {
          "description": "Indicates whether a workload is fully onboarded.",
          "type": "boolean"
        },
        "keyManagementProjectId": {
          "type": "string",
          "description": "The project id of the key management project for the workload"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "folder": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of container folder of the assured workload"
        }
      }
    },
    "AccessReason": {
      "description": "Reason for the access.",
      "properties": {
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        },
        "type": {
          "description": "Type of access justification.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ]
        }
      },
      "type": "object",
      "id": "AccessReason"
    },
    "Sku": {
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services."
        },
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        }
      },
      "id": "Sku",
      "type": "object"
    },
    "ListCustomersResponse": {
      "description": "Response message for list customer Customers requests",
      "id": "ListCustomersResponse",
      "type": "object",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Customer"
          },
          "description": "List of customers",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "EkmMetadata": {
      "type": "object",
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "properties": {
        "ekmEndpointUri": {
          "type": "string",
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation."
        },
        "ekmSolution": {
          "description": "The Cloud EKM partner.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ]
        }
      },
      "id": "EkmMetadata"
    },
    "ConnectionError": {
      "type": "object",
      "id": "ConnectionError",
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "properties": {
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        }
      }
    },
    "AccessApprovalRequest": {
      "properties": {
        "requestedReason": {
          "$ref": "AccessReason",
          "description": "The justification for which approval is being requested."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedExpirationTime": {
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`"
        }
      },
      "id": "AccessApprovalRequest",
      "description": "Details about the Access request.",
      "type": "object"
    },
    "PartnerPermissions": {
      "id": "PartnerPermissions",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "items": {
            "type": "string",
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ]
          },
          "description": "The partner permissions granted for the workload",
          "type": "array"
        }
      },
      "description": "The permissions granted to the partner for a workload"
    },
    "ListViolationsResponse": {
      "description": "Response message for list customer violation requests",
      "properties": {
        "violations": {
          "type": "array",
          "description": "List of violation",
          "items": {
            "$ref": "Violation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListViolationsResponse"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Cloud Controls Partner Service",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "revision": "20260916",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "name": "cloudcontrolspartner",
  "basePath": "",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "fullyEncodeReservedExpansion": true
}