{
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "revision": "20260902",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.policies.readonly": {
          "description": "See policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.policies": {
          "description": "See and edit policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains": {
          "description": "See and edit allowlisted domains in your Cloud Identity Organization"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly": {
          "description": "See allowlisted domains in your Cloud Identity Organization"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly": {
          "description": "See all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits": {
          "description": "List, Move orgmembers of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly": {
          "description": "List org members of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso": {
          "description": "See and edit all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        }
      }
    }
  },
  "basePath": "",
  "version": "v1beta1",
  "name": "cloudidentity",
  "ownerName": "Google",
  "schemas": {
    "DynamicGroupStatus": {
      "description": "The current status of a dynamic group along with timestamp.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "description": "Status of the dynamic group."
        },
        "statusTime": {
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "DynamicGroupStatus"
    },
    "DeleteInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "DeleteInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment."
    },
    "CancelWipeDeviceUserRequest": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "id": "CancelWipeDeviceUserRequest",
      "type": "object",
      "description": "Request message for cancelling an unfinished user account wipe."
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata for DeleteDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata"
    },
    "SendUserInvitationRequest": {
      "type": "object",
      "id": "SendUserInvitationRequest",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "properties": {}
    },
    "GetMembershipGraphResponse": {
      "id": "GetMembershipGraphResponse",
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "type": "object",
      "properties": {
        "adjacencyList": {
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "description": "The membership graph's path information represented as an adjacency list.",
          "type": "array"
        },
        "groups": {
          "type": "array",
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource.",
          "items": {
            "$ref": "Group"
          }
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "properties": {
        "ownershipPrivilege": {
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "description": "Ownership privileges on device.",
          "type": "string",
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ]
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "ctsProfileMatch": {
          "description": "Whether the device passes Android CTS compliance.",
          "type": "boolean"
        },
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "verifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether Google Play Protect Verify Apps is enabled."
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "hasPotentiallyHarmfulApps": {
          "description": "Whether any potentially harmful apps were detected on the device.",
          "type": "boolean"
        },
        "verifiedBoot": {
          "type": "boolean",
          "description": "Whether Android verified boot status is GREEN."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "type": "object",
      "description": "Resource representing the Android specific attributes of a Device."
    },
    "SearchDirectGroupsResponse": {
      "description": "The response message for MembershipsService.SearchDirectGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "MembershipRelation"
          },
          "description": "List of direct groups satisfying the query."
        }
      },
      "type": "object",
      "id": "SearchDirectGroupsResponse"
    },
    "CreateInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      },
      "description": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile.",
      "id": "CreateInboundSamlSsoProfileOperationMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "type": "object"
    },
    "CancelWipeDeviceRequest": {
      "description": "Request message for cancelling an unfinished device wipe.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "type": "object",
      "id": "CancelWipeDeviceRequest"
    },
    "DynamicGroupMetadata": {
      "type": "object",
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. Status of the dynamic group.",
          "$ref": "DynamicGroupStatus"
        },
        "queries": {
          "items": {
            "$ref": "DynamicGroupQuery"
          },
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups.",
          "type": "array"
        }
      },
      "id": "DynamicGroupMetadata",
      "description": "Dynamic group metadata like queries and status."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "description": "Metadata for CancelWipeDevice LRO.",
      "type": "object"
    },
    "RsaPublicKeyInfo": {
      "type": "object",
      "properties": {
        "keySize": {
          "description": "Key size in bits (size of the modulus).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "RsaPublicKeyInfo",
      "description": "Information of a RSA public key."
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "description": "Metadata for UpdateDevice LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata",
      "type": "object",
      "properties": {}
    },
    "InboundSsoAssignment": {
      "properties": {
        "samlSsoInfo": {
          "description": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`.",
          "$ref": "SamlSsoInfo"
        },
        "ssoMode": {
          "enumDescriptions": [
            "Not allowed.",
            "Disable SSO for the targeted users.",
            "Use an external SAML Identity Provider for SSO for the targeted users.",
            "Use an external OIDC Identity Provider for SSO for the targeted users.",
            "Use the domain-wide SAML Identity Provider for the targeted users if one is configured; otherwise, this is equivalent to `SSO_OFF`. Note that this will also be equivalent to `SSO_OFF` if/when support for domain-wide SAML is removed. Google may disallow this mode at that point and existing assignments with this mode may be automatically changed to `SSO_OFF`."
          ],
          "enum": [
            "SSO_MODE_UNSPECIFIED",
            "SSO_OFF",
            "SAML_SSO",
            "OIDC_SSO",
            "DOMAIN_WIDE_SAML_IF_ENABLED"
          ],
          "description": "Inbound SSO behavior.",
          "type": "string"
        },
        "rank": {
          "format": "int32",
          "description": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set.",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
          "type": "string"
        },
        "signInBehavior": {
          "$ref": "SignInBehavior",
          "description": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration."
        },
        "customer": {
          "type": "string",
          "description": "Immutable. The customer. For example: `customers/C0123abc`."
        },
        "targetOrgUnit": {
          "type": "string",
          "description": "Immutable. Must be of the form `orgUnits/{org_unit}`."
        },
        "targetGroup": {
          "description": "Immutable. Must be of the form `groups/{group}`.",
          "type": "string"
        },
        "oidcSsoInfo": {
          "$ref": "OidcSsoInfo",
          "description": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`."
        }
      },
      "id": "InboundSsoAssignment",
      "description": "Targets with \"set\" SSO assignments and their respective assignments.",
      "type": "object"
    },
    "AllowlistedDomain": {
      "type": "object",
      "id": "AllowlistedDomain",
      "description": "This resource object defines a domain that has been designated as allowlisted.",
      "properties": {
        "domain": {
          "description": "Required. Immutable. Name of the domain that is in the allowlist. e.g. \"google.com\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name of the domain in the allowlist e.g. \"allowlistedDomains/0184mhaj1smlusv\"",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ApproveDeviceUserResponse": {
      "description": "Response message for approving the device to access user data.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "id": "ApproveDeviceUserResponse"
    },
    "AndroidAttributes": {
      "description": "Resource representing the Android specific attributes of a Device.",
      "id": "AndroidAttributes",
      "type": "object",
      "properties": {
        "ownershipPrivilege": {
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "description": "Ownership privileges on device.",
          "type": "string"
        },
        "hasPotentiallyHarmfulApps": {
          "type": "boolean",
          "description": "Whether any potentially harmful apps were detected on the device."
        },
        "verifiedBoot": {
          "description": "Whether Android verified boot status is GREEN.",
          "type": "boolean"
        },
        "supportsWorkProfile": {
          "description": "Whether the device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "ctsProfileMatch": {
          "type": "boolean",
          "description": "Whether the device passes Android CTS compliance."
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "enabledUnknownSources": {
          "type": "boolean",
          "description": "Whether applications from unknown sources can be installed on device."
        },
        "verifyAppsEnabled": {
          "description": "Whether Google Play Protect Verify Apps is enabled.",
          "type": "boolean"
        }
      }
    },
    "MoveOrgMembershipRequest": {
      "id": "MoveOrgMembershipRequest",
      "type": "object",
      "properties": {
        "destinationOrgUnit": {
          "type": "string",
          "description": "Required. Immutable. OrgUnit where the membership will be moved to. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits)."
        },
        "customer": {
          "description": "Required. Immutable. Customer on whose membership change is made. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization.",
          "type": "string"
        }
      },
      "description": "The request message for OrgMembershipsService.MoveOrgMembership."
    },
    "ListAllowlistedDomainsResponse": {
      "description": "Response message for AllowlistedDomainsService.ListAllowlistedDomains.",
      "properties": {
        "allowlistedDomains": {
          "description": "Contains the list of domains in the allowlist. There is no defined ordering of domains within a result.",
          "items": {
            "$ref": "AllowlistedDomain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Contains the next page token if the result is not exhaustive. If there are no more results, this token is empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAllowlistedDomainsResponse"
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device.",
          "readOnly": true
        },
        "createTime": {
          "description": "When the user first signed in to the device",
          "format": "google-datetime",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user registered on the device.",
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "readOnly": true,
          "type": "string"
        },
        "firstSyncTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Most recent time when user registered with this service."
        },
        "passwordState": {
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "type": "string",
          "description": "Password state of the DeviceUser object",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ]
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last time when user synced with policies.",
          "readOnly": true
        },
        "userAgent": {
          "description": "Output only. User agent on the device for this specific user",
          "type": "string",
          "readOnly": true
        },
        "compromisedState": {
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "description": "Compromised State of the DeviceUser object",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "type": "string"
        },
        "managementState": {
          "description": "Output only. Management state of the user on the device.",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser"
    },
    "CertificateTemplate": {
      "properties": {
        "majorVersion": {
          "description": "The Major version of the template. Example: 100.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
        },
        "minorVersion": {
          "format": "int32",
          "description": "The minor version of the template. Example: 12.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "CertificateTemplate",
      "description": "CertificateTemplate (v3 Extension in X.509)."
    },
    "PosixGroup": {
      "id": "PosixGroup",
      "properties": {
        "gid": {
          "format": "uint64",
          "type": "string",
          "description": "GID of the POSIX group."
        },
        "systemId": {
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the POSIX group."
        }
      },
      "description": "POSIX Group definition to represent a group in a POSIX compliant system. Caution: POSIX groups are deprecated. As of September 26, 2024, you can no longer create new POSIX groups. For more information, see https://cloud.google.com/identity/docs/deprecations/posix-groups",
      "type": "object"
    },
    "SecuritySettings": {
      "description": "The definiion of security settings.",
      "type": "object",
      "properties": {
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        },
        "name": {
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SecuritySettings"
    },
    "SamlIdpConfig": {
      "description": "SAML IDP (identity provider) configuration.",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Required. The SAML **Entity ID** of the identity provider."
        },
        "logoutRedirectUri": {
          "type": "string",
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`."
        },
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        },
        "singleSignOnServiceUri": {
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SamlIdpConfig"
    },
    "Device": {
      "description": "A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices).",
      "id": "Device",
      "type": "object",
      "properties": {
        "ownerType": {
          "type": "string",
          "description": "Output only. Whether the device is owned by the company or an individual",
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "readOnly": true
        },
        "basebandVersion": {
          "readOnly": true,
          "description": "Output only. Baseband version of the device.",
          "type": "string"
        },
        "managementState": {
          "type": "string",
          "description": "Output only. Management state of the device",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. The device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "readOnly": true
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "readOnly": true,
          "description": "Output only. Device encryption state.",
          "type": "string"
        },
        "enabledDeveloperOptions": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether developer options is enabled on device."
        },
        "bootloaderVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "deviceType": {
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "readOnly": true,
          "description": "Output only. Type of device.",
          "type": "string"
        },
        "wifiMacAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "WiFi MAC addresses of device."
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "compromisedState": {
          "description": "Output only. Represents whether the Device is compromised.",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ]
        },
        "brand": {
          "readOnly": true,
          "description": "Output only. Device brand. Example: Samsung.",
          "type": "string"
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true,
          "$ref": "AndroidAttributes"
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "type": "string",
          "readOnly": true
        },
        "browserProfiles": {
          "items": {
            "$ref": "BrowserAttributes"
          },
          "type": "array",
          "description": "Browser profiles on the device. This is a copy of the BrowserAttributes message defined in EndpointVerificationSpecificAttributes. We are replicating it here since EndpointVerification isn't the only client reporting browser profiles."
        },
        "buildNumber": {
          "type": "string",
          "description": "Output only. Build number of the device.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime",
          "readOnly": true
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique id assigned to the Device.",
          "type": "string"
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "type": "string",
          "readOnly": true
        },
        "osFirewallStatus": {
          "description": "Output only. OS firewall status of the device.",
          "enum": [
            "OS_FIREWALL_STATUS_UNSPECIFIED",
            "OS_FIREWALL_STATUS_UNKNOWN",
            "OS_FIREWALL_STATUS_ENABLED",
            "OS_FIREWALL_STATUS_DISABLED"
          ],
          "enumDescriptions": [
            "Default value",
            "OS firewall status is unknown.",
            "OS firewall is enabled.",
            "OS firewall is disabled."
          ],
          "type": "string",
          "readOnly": true
        },
        "endpointVerificationSpecificAttributes": {
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "readOnly": true,
          "$ref": "EndpointVerificationSpecificAttributes"
        },
        "securityPatchTime": {
          "readOnly": true,
          "description": "Output only. OS security patch update time on device.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "type": "string",
          "format": "google-datetime"
        },
        "kernelVersion": {
          "readOnly": true,
          "description": "Output only. Kernel version of the device.",
          "type": "string"
        },
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "type": "string"
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "description": "Output only. Whether USB debugging is enabled on device.",
          "type": "boolean"
        },
        "windowsSpecificDeviceAttributes": {
          "$ref": "WindowsSpecificDeviceAttributes",
          "readOnly": true,
          "description": "Output only. Attributes specific to Windows devices."
        },
        "clientTypes": {
          "description": "List of the clients the device is reporting to.",
          "items": {
            "enum": [
              "CLIENT_TYPE_UNSPECIFIED",
              "DRIVE_FS",
              "FUNDAMENTAL",
              "ENDPOINT_VERIFICATION",
              "WINDOWS_ADVANCED",
              "GOOGLE_CREDENTIALS_PROVIDER_FOR_WINDOWS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value",
              "Managed by DriveFS",
              "Management type for every secure device",
              "Managed by Endpoint Verification",
              "Managed by Windows",
              "Managed by Google credential provider for windows"
            ]
          },
          "type": "array"
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "readOnly": true,
          "type": "string"
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string",
          "readOnly": true
        },
        "unifiedDeviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unified device id of the device."
        },
        "antivirusInfo": {
          "readOnly": true,
          "items": {
            "$ref": "AntivirusInfo"
          },
          "description": "Output only. Anti-virus information for the device.",
          "type": "array"
        },
        "hostname": {
          "description": "Host name of the device.",
          "type": "string"
        },
        "otherAccounts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "items": {
            "type": "string"
          }
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3."
        },
        "deviceId": {
          "description": "Unique identifier for the device.",
          "type": "string"
        }
      }
    },
    "ListInboundSamlSsoProfilesResponse": {
      "id": "ListInboundSamlSsoProfilesResponse",
      "description": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method.",
      "properties": {
        "inboundSamlSsoProfiles": {
          "description": "List of InboundSamlSsoProfiles.",
          "type": "array",
          "items": {
            "$ref": "InboundSamlSsoProfile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "Setting": {
      "description": "Setting",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Immutable. The type of the Setting.",
          "type": "string"
        },
        "value": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Required. The value of the Setting."
        }
      },
      "id": "Setting"
    },
    "DsaPublicKeyInfo": {
      "type": "object",
      "id": "DsaPublicKeyInfo",
      "description": "Information of a DSA public key.",
      "properties": {
        "keySize": {
          "format": "int32",
          "type": "integer",
          "description": "Key size in bits (size of parameter P)."
        }
      }
    },
    "DeviceUser": {
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "type": "object",
      "id": "DeviceUser",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where `device_user_id` uniquely identifies a user's use of a device."
        },
        "managementState": {
          "description": "Output only. Management state of the user on the device.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true
        },
        "compromisedState": {
          "type": "string",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "description": "Compromised State of the DeviceUser object",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ]
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last time when user synced with policies.",
          "type": "string"
        },
        "userAgent": {
          "description": "Output only. User agent on the device for this specific user",
          "type": "string",
          "readOnly": true
        },
        "firstSyncTime": {
          "format": "google-datetime",
          "description": "Output only. Most recent time when user registered with this service.",
          "type": "string",
          "readOnly": true
        },
        "passwordState": {
          "type": "string",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "description": "Password state of the DeviceUser object"
        },
        "languageCode": {
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the user first signed in to the device",
          "type": "string"
        }
      }
    },
    "ListInboundSsoAssignmentsResponse": {
      "id": "ListInboundSsoAssignmentsResponse",
      "type": "object",
      "description": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "inboundSsoAssignments": {
          "description": "The assignments.",
          "type": "array",
          "items": {
            "$ref": "InboundSsoAssignment"
          }
        }
      }
    },
    "ClientState": {
      "properties": {
        "complianceState": {
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "description": "The compliance state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
          "readOnly": true
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        },
        "healthScore": {
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "description": "The Health score of the resource",
          "type": "string"
        },
        "keyValuePairs": {
          "additionalProperties": {
            "$ref": "CustomAttributeValue"
          },
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object"
        },
        "managed": {
          "description": "The management state of the resource as specified by the API client.",
          "type": "string",
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ]
        },
        "assetTags": {
          "description": "The caller can specify asset tags for this resource",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customId": {
          "type": "string",
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
        },
        "ownerType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "description": "Output only. The owner of the ClientState"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the client state data was created."
        },
        "scoreReason": {
          "type": "string",
          "description": "A descriptive cause of the health score."
        },
        "lastUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the client state data was last updated.",
          "format": "google-datetime"
        }
      },
      "id": "ClientState",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "type": "object"
    },
    "DeleteInboundOidcSsoProfileOperationMetadata": {
      "properties": {},
      "id": "DeleteInboundOidcSsoProfileOperationMetadata",
      "type": "object",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.DeleteInboundOidcSsoProfile."
    },
    "CheckTransitiveMembershipResponse": {
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "type": "object",
      "id": "CheckTransitiveMembershipResponse",
      "properties": {
        "hasMembership": {
          "type": "boolean",
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths."
        }
      }
    },
    "ListGroupsResponse": {
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The `Group` resources under the specified `parent`."
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      },
      "id": "ListGroupsResponse",
      "description": "The response message for GroupsService.ListGroups.",
      "type": "object"
    },
    "UpdateMembershipRolesParams": {
      "properties": {
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`."
        },
        "fieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`."
        }
      },
      "description": "The details of an update to a `MembershipRole`.",
      "id": "UpdateMembershipRolesParams",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "object",
      "properties": {
        "numberValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      },
      "description": "Additional custom attribute values may be one of these types",
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
    },
    "ListIdpCredentialsResponse": {
      "description": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method.",
      "id": "ListIdpCredentialsResponse",
      "properties": {
        "idpCredentials": {
          "description": "The IdpCredentials from the specified InboundSamlSsoProfile.",
          "type": "array",
          "items": {
            "$ref": "IdpCredential"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO.",
      "properties": {},
      "type": "object"
    },
    "MembershipRelation": {
      "description": "Message containing membership relation.",
      "id": "MembershipRelation",
      "type": "object",
      "properties": {
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`.",
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`.",
          "type": "string"
        },
        "labels": {
          "description": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the `Group`."
        },
        "membership": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`."
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "The `EntityKey` of the `Group`."
        },
        "group": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`."
        }
      }
    },
    "ApproveDeviceUserRequest": {
      "description": "Request message for approving the device to access user data.",
      "id": "ApproveDeviceUserRequest",
      "type": "object",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "ExternalId": {
      "description": "An external identifier for an entity in the Cloud Identity Groups API. Used to link a `Group` in Cloud Identity Groups API with a corresponding entity in an external identity system or directory.",
      "id": "ExternalId",
      "properties": {
        "namespace": {
          "description": "Required. The namespace in which the entity exists. Cannot be empty. Currently, the only allowable namespace is `\"system/external\"`.",
          "type": "string"
        },
        "id": {
          "description": "Required. The unique identifier assigned by the external identity provider. The API does not enforce uniqueness of IDs across entities, but clients should ensure IDs are unique within their namespace.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RestrictionEvaluation": {
      "id": "RestrictionEvaluation",
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the restriction",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
      "type": "object",
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      }
    },
    "PolicyConflict": {
      "properties": {
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ],
          "description": "Output only. The scope at which this lower-priority policy is set (USER or MACHINE).",
          "readOnly": true
        },
        "value": {
          "readOnly": true,
          "description": "Output only. The policy value from this lower-priority source.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ],
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ],
          "readOnly": true,
          "description": "Output only. The source from which this lower-priority policy value originated."
        }
      },
      "description": "Represents a policy value from a source that was not applied because a higher-priority source took precedence.",
      "id": "PolicyConflict",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "description": "Metadata for WipeDeviceUser LRO.",
      "type": "object",
      "properties": {}
    },
    "SignInBehavior": {
      "description": "Controls sign-in behavior.",
      "id": "SignInBehavior",
      "type": "object",
      "properties": {
        "redirectCondition": {
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ],
          "description": "When to redirect sign-ins to the IdP.",
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "description": "Metadata for CreateDevice LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "type": "object",
      "properties": {}
    },
    "AntivirusInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the anti-virus software.",
          "readOnly": true,
          "type": "string"
        },
        "productGuid": {
          "readOnly": true,
          "description": "Output only. The GUID of the anti-virus product.",
          "type": "string"
        },
        "productState": {
          "description": "Output only. The state of the anti-virus.",
          "enumDescriptions": [
            "Default value",
            "The anti-virus is on.",
            "The anti-virus is off.",
            "The anti-virus is snoozed.",
            "The anti-virus is expired."
          ],
          "enum": [
            "PRODUCT_STATE_UNSPECIFIED",
            "PRODUCT_STATE_ON",
            "PRODUCT_STATE_OFF",
            "PRODUCT_STATE_SNOOZED",
            "PRODUCT_STATE_EXPIRED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AntivirusInfo",
      "description": "Resource representing the anti-virus information of a Device."
    },
    "DeleteIdpCredentialOperationMetadata": {
      "properties": {},
      "id": "DeleteIdpCredentialOperationMetadata",
      "type": "object",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential."
    },
    "MemberRestriction": {
      "type": "object",
      "properties": {
        "query": {
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`",
          "type": "string"
        },
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        }
      },
      "description": "The definition of MemberRestriction",
      "id": "MemberRestriction"
    },
    "OidcSsoInfo": {
      "properties": {
        "inboundOidcSsoProfile": {
          "description": "Required. Name of the `InboundOidcSsoProfile` to use. Must be of the form `inboundOidcSsoProfiles/{inbound_oidc_sso_profile}`. ",
          "type": "string"
        }
      },
      "description": "Details that are applicable when `sso_mode` is set to `OIDC_SSO`.",
      "type": "object",
      "id": "OidcSsoInfo"
    },
    "EndpointVerificationSpecificAttributes": {
      "type": "object",
      "properties": {
        "additionalSignals": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist."
        },
        "certificateAttributes": {
          "description": "Details of certificates.",
          "type": "array",
          "items": {
            "$ref": "CertificateAttributes"
          }
        },
        "browserAttributes": {
          "type": "array",
          "items": {
            "$ref": "BrowserAttributes"
          },
          "description": "Details of browser profiles reported by Endpoint Verification."
        }
      },
      "id": "EndpointVerificationSpecificAttributes",
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device."
    },
    "MembershipAdjacencyList": {
      "description": "Membership graph's path information as an adjacency list.",
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "Resource name of the group that the members belong to."
        },
        "edges": {
          "items": {
            "$ref": "Membership"
          },
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g `name`, `preferred_member_key` and `role`), but may not be a comprehensive list of all fields.",
          "type": "array"
        }
      },
      "id": "MembershipAdjacencyList"
    },
    "SearchTransitiveGroupsResponse": {
      "properties": {
        "memberships": {
          "items": {
            "$ref": "GroupRelation"
          },
          "description": "List of transitive groups satisfying the query.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "type": "object",
      "id": "SearchTransitiveGroupsResponse"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "description": "Metadata for ApproveDeviceUser LRO."
    },
    "UpdateInboundOidcSsoProfileOperationMetadata": {
      "id": "UpdateInboundOidcSsoProfileOperationMetadata",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile."
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "type": "object",
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "properties": {
        "chromeProfileId": {
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device.",
          "type": "string"
        },
        "lastProfileSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced."
        },
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
        }
      }
    },
    "CreateInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "CreateInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment."
    },
    "GoogleAppsCloudidentityDevicesV1CertificateAttributes": {
      "description": "Stores information about a certificate.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CertificateAttributes",
      "properties": {
        "validityExpirationTime": {
          "type": "string",
          "description": "Certificate not valid at or after this timestamp.",
          "format": "google-datetime"
        },
        "fingerprint": {
          "type": "string",
          "description": "The encoded certificate fingerprint."
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "issuer": {
          "description": "The name of the issuer of this certificate.",
          "type": "string"
        },
        "validationState": {
          "type": "string",
          "description": "Output only. Validation state of this certificate.",
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "readOnly": true
        },
        "certificateTemplate": {
          "description": "The X.509 extension for CertificateTemplate.",
          "$ref": "GoogleAppsCloudidentityDevicesV1CertificateTemplate"
        },
        "validityStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Certificate not valid before this timestamp."
        },
        "serialNumber": {
          "description": "Serial number of the certificate, Example: \"123456789\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        }
      }
    },
    "CreateInboundOidcSsoProfileOperationMetadata": {
      "description": "LRO response metadata for InboundOidcSsoProfilesService.CreateInboundOidcSsoProfile.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "id": "CreateInboundOidcSsoProfileOperationMetadata"
    },
    "BrowserAttributes": {
      "properties": {
        "chromeProfileId": {
          "type": "string",
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
        },
        "lastProfileSyncTime": {
          "type": "string",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime"
        },
        "chromeBrowserInfo": {
          "$ref": "BrowserInfo",
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the clients on the device, such as [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
        }
      },
      "description": "Contains information about browser profiles reported by the clients on the device (e.g. [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)).",
      "id": "BrowserAttributes",
      "type": "object"
    },
    "DeleteInboundSamlSsoProfileOperationMetadata": {
      "properties": {},
      "type": "object",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile.",
      "id": "DeleteInboundSamlSsoProfileOperationMetadata"
    },
    "ModifyMembershipRolesResponse": {
      "id": "ModifyMembershipRolesResponse",
      "properties": {
        "membership": {
          "$ref": "Membership",
          "description": "The `Membership` resource after modifying its `MembershipRole`s."
        }
      },
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "type": "object"
    },
    "UpdateInboundSsoAssignmentOperationMetadata": {
      "properties": {},
      "description": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment.",
      "type": "object",
      "id": "UpdateInboundSsoAssignmentOperationMetadata"
    },
    "BlockDeviceUserResponse": {
      "id": "BlockDeviceUserResponse",
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object"
    },
    "SearchGroupsResponse": {
      "properties": {
        "groups": {
          "description": "The `Group` resources that match the search query.",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        }
      },
      "type": "object",
      "id": "SearchGroupsResponse",
      "description": "The response message for GroupsService.SearchGroups."
    },
    "SamlSsoInfo": {
      "type": "object",
      "description": "Details that are applicable when `sso_mode` == `SAML_SSO`.",
      "id": "SamlSsoInfo",
      "properties": {
        "inboundSamlSsoProfile": {
          "type": "string",
          "description": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. "
        }
      }
    },
    "BlockDeviceUserRequest": {
      "id": "BlockDeviceUserRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "description": "Request message for blocking account on device.",
      "type": "object"
    },
    "SamlSpConfig": {
      "properties": {
        "entityId": {
          "description": "Output only. The SAML **Entity ID** for this service provider.",
          "readOnly": true,
          "type": "string"
        },
        "assertionConsumerServiceUri": {
          "type": "string",
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "SamlSpConfig",
      "description": "SAML SP (service provider) configuration."
    },
    "CreateDeviceRequest": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        },
        "device": {
          "description": "Required. The device to be created. The name field within this device is ignored in the create method. A new name is created by the method, and returned within the response. Only the fields `device_type`, `serial_number` and `asset_tag` (if present) are used to create the device. All other fields are ignored. The `device_type` and `serial_number` fields are required.",
          "$ref": "Device"
        }
      },
      "id": "CreateDeviceRequest",
      "type": "object",
      "description": "Request message for creating a Company Owned device."
    },
    "ListInboundOidcSsoProfilesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "inboundOidcSsoProfiles": {
          "items": {
            "$ref": "InboundOidcSsoProfile"
          },
          "type": "array",
          "description": "List of InboundOidcSsoProfiles."
        }
      },
      "id": "ListInboundOidcSsoProfilesResponse",
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata for WipeDevice LRO."
    },
    "DynamicGroupQuery": {
      "properties": {
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ]
        },
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        }
      },
      "id": "DynamicGroupQuery",
      "type": "object",
      "description": "Defines a query on a resource."
    },
    "WipeDeviceUserRequest": {
      "description": "Request message for starting an account wipe on device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "id": "WipeDeviceUserRequest",
      "type": "object"
    },
    "GroupRelation": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for this group."
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "Membership roles of the member for the group."
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for Group resource.",
          "type": "object"
        },
        "group": {
          "description": "Resource name for this group.",
          "type": "string"
        },
        "relationType": {
          "description": "The relation between the member and the transitive group.",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GroupRelation",
      "description": "Message representing a transitive group of a user or a group."
    },
    "WindowsSpecificDeviceAttributes": {
      "id": "WindowsSpecificDeviceAttributes",
      "properties": {
        "windowsUserDomain": {
          "description": "Output only. The domain of the user account that is logged into the machine.",
          "readOnly": true,
          "type": "string"
        },
        "secureBootMode": {
          "description": "Output only. Secure boot mode of the device.",
          "enumDescriptions": [
            "Default value",
            "Secure boot mode is unknown.",
            "Secure boot mode is enabled.",
            "Secure boot mode is disabled."
          ],
          "type": "string",
          "enum": [
            "SECURE_BOOT_MODE_UNSPECIFIED",
            "SECURE_BOOT_MODE_UNKNOWN",
            "SECURE_BOOT_MODE_ENABLED",
            "SECURE_BOOT_MODE_DISABLED"
          ],
          "readOnly": true
        },
        "windowsMachineDomain": {
          "readOnly": true,
          "description": "Output only. The domain of the machine that the user is logged into. This is different from the windows_user_domain as the user could be logged into a domain different from the machine domain.",
          "type": "string"
        },
        "hotfixes": {
          "readOnly": true,
          "description": "Output only. The hotfixes installed on the device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents the Windows specific attributes of a Device.",
      "type": "object"
    },
    "AddIdpCredentialRequest": {
      "description": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials.",
      "id": "AddIdpCredentialRequest",
      "type": "object",
      "properties": {
        "pemData": {
          "description": "PEM encoded x509 certificate containing the public key for verifying IdP signatures.",
          "type": "string"
        }
      }
    },
    "CertificateAttributes": {
      "id": "CertificateAttributes",
      "description": "Stores information about a certificate.",
      "type": "object",
      "properties": {
        "certificateTemplate": {
          "description": "The X.509 extension for CertificateTemplate.",
          "$ref": "CertificateTemplate"
        },
        "serialNumber": {
          "description": "Serial number of the certificate, Example: \"123456789\".",
          "type": "string"
        },
        "validationState": {
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "description": "Validation state of this certificate.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "validityExpirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Certificate not valid at or after this timestamp."
        },
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "The name of the issuer of this certificate."
        },
        "validityStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Certificate not valid before this timestamp."
        }
      }
    },
    "CancelWipeDeviceResponse": {
      "id": "CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "Device"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "type": "object",
      "description": "Metadata for BlockDeviceUser LRO."
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "type": "object",
      "properties": {
        "basebandVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Baseband version of the device."
        },
        "managementState": {
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Management state of the device"
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ]
        },
        "securityPatchTime": {
          "type": "string",
          "description": "Output only. OS security patch update time on device.",
          "format": "google-datetime",
          "readOnly": true
        },
        "kernelVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Kernel version of the device."
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "readOnly": true
        },
        "endpointVerificationSpecificAttributes": {
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "readOnly": true,
          "$ref": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime",
          "type": "string"
        },
        "ownerType": {
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Whether the device is owned by the company or an individual"
        },
        "model": {
          "type": "string",
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "readOnly": true
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "otherAccounts": {
          "type": "array",
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices)."
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true,
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Host name of the device."
        },
        "wifiMacAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "WiFi MAC addresses of device."
        },
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Most recent time when device synced with this service."
        },
        "deviceId": {
          "description": "Unique identifier for the device.",
          "type": "string"
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true
        },
        "manufacturer": {
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "readOnly": true,
          "type": "string"
        },
        "bootloaderVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "enabledDeveloperOptions": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device."
        },
        "brand": {
          "type": "string",
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string",
          "readOnly": true
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "readOnly": true
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "readOnly": true,
          "type": "string"
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "type": "string",
          "description": "Output only. Represents whether the Device is compromised.",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "readOnly": true
        },
        "unifiedDeviceId": {
          "readOnly": true,
          "description": "Output only. Unified device id of the device.",
          "type": "string"
        },
        "buildNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Build number of the device."
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "deviceType": {
          "description": "Output only. Type of device.",
          "type": "string",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "readOnly": true,
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ]
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user."
    },
    "CustomAttributeValue": {
      "id": "CustomAttributeValue",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "numberValue": {
          "format": "double",
          "description": "Represents a double value.",
          "type": "number"
        },
        "boolValue": {
          "type": "boolean",
[...]
