{
  "protocol": "rest",
  "name": "cloudbilling",
  "servicePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Cloudbilling",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "id": "cloudbilling:v1beta",
  "schemas": {
    "Map": {
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "properties": {
        "entry": {
          "type": "array",
          "items": {
            "$ref": "MapEntry"
          },
          "description": "Represents the map entries in the map."
        }
      },
      "type": "object",
      "id": "Map"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
    },
    "Datetime": {
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        },
        "bitFieldDatetimeSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding."
        }
      },
      "type": "object",
      "id": "Datetime",
      "description": "A datetime value."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "description": "Encapsulates a price migrated from other SKUs.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
    },
    "Struct": {
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "id": "Struct",
      "properties": {
        "field": {
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array",
          "description": "The fields in the struct"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountSkuGroupSkus": {
          "type": "array",
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroupSkus."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "type": "object"
    },
    "Insight": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the insight."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding)."
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the insight.",
          "readOnly": true
        }
      },
      "id": "Insight",
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "type": "object",
      "properties": {
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ]
        },
        "interval": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        }
      }
    },
    "MapEntry": {
      "properties": {
        "value": {
          "description": "Represents the serialized map value of the entry.",
          "$ref": "ValueProto"
        },
        "key": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map key for the entry."
        }
      },
      "id": "MapEntry",
      "type": "object",
      "description": "A single entry in a Map, representing the mapping between `key` and `value`."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "properties": {
        "billingAccountServices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "type": "array",
          "description": "The returned billing account services."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for ListBillingAccountServices.",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaUnitInfo"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "type": "object",
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroupSkus.",
      "properties": {
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "properties": {
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the fixed discount comes from."
        },
        "fixTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the fixed discount is anchored to."
        },
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the fixed discount."
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "type": "object",
      "properties": {
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest billing account price."
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        }
      },
      "description": "Encapsulates the latest price for a billing account SKU.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      }
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Decimal"
    },
    "AgenticQueryInfo": {
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "properties": {
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        },
        "groupBy": {
          "type": "string",
          "description": "The group-by clause applied to the query."
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "description": "The row limit applied to the query."
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "type": "string",
          "description": "The filter applied to the query."
        }
      },
      "type": "object",
      "id": "AgenticQueryInfo"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "description": "Encapsulates a regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
        }
      }
    },
    "FinalResult": {
      "type": "object",
      "properties": {
        "dataSets": {
          "readOnly": true,
          "items": {
            "$ref": "DataSet"
          },
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "type": "array"
        },
        "suggestedQueries": {
          "type": "array",
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "readOnly": true,
          "items": {
            "$ref": "SuggestedQuery"
          }
        },
        "interopLinks": {
          "items": {
            "$ref": "InteropLink"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries)."
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "type": "string"
        },
        "fullAnalysis": {
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true,
          "type": "string"
        },
        "insights": {
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "readOnly": true
        }
      },
      "description": "Encapsulates all structured data and the completed summary.",
      "id": "FinalResult"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
    },
    "UserContext": {
      "description": "Additional context for personalization (e.g., user persona, role).",
      "properties": {
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        },
        "persona": {
          "type": "string",
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ]
        }
      },
      "id": "UserContext",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object"
    },
    "GenerateInsightsResponse": {
      "properties": {
        "thoughtChunk": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status."
        },
        "finalResult": {
          "$ref": "FinalResult",
          "readOnly": true,
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream."
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "$ref": "Rejection",
          "readOnly": true
        },
        "summaryChunk": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect."
        }
      },
      "type": "object",
      "description": "Response for GenerateInsights.",
      "id": "GenerateInsightsResponse"
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "properties": {
        "level": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "type": "string"
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        },
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      }
    },
    "Rejection": {
      "description": "Encapsulates details about why a request was rejected.",
      "properties": {
        "reason": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "description": "Output only. The reason for the rejection.",
          "type": "string"
        },
        "displayMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A user-facing message explaining the rejection."
        }
      },
      "id": "Rejection",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "description": "Response message for ListPrices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "prices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          },
          "description": "The returned publicly listed prices."
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        },
        "serviceId": {
          "type": "string",
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"."
        }
      },
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "description": "Encapsulates a product category.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\"."
        },
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "skuGroups": {
          "type": "array",
          "description": "The returned publicly listed SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListSkuGroups.",
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "description": "Encapsulates a default price which is the current list price.",
      "properties": {}
    },
    "InteropLink": {
      "type": "object",
      "id": "InteropLink",
      "properties": {
        "linkType": {
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "readOnly": true,
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL of the link.",
          "type": "string",
          "readOnly": true
        },
        "label": {
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries)."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "properties": {
        "billingAccountPrices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "type": "array",
          "description": "The returned billing account prices."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "description": "Response message for ListBillingAccountPrices."
    },
    "BillingDataResource": {
      "id": "BillingDataResource",
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`"
        },
        "billingAccount": {
          "description": "Optional. If not provided the billing account currently associated with the resource will be used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "type": "object",
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        },
        "tiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price."
        },
        "unitInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate"
    },
    "BillingData": {
      "id": "BillingData",
      "properties": {
        "rows": {
          "description": "Rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "columnInfo": {
          "items": {
            "$ref": "ColumnInfo"
          },
          "description": "Information about columns.",
          "type": "array"
        }
      },
      "description": "Encapsulates billing data.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          }
        }
      },
      "type": "object",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "properties": {
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to.",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        }
      },
      "type": "object",
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "type": "object",
      "properties": {
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        },
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "description": "Encapsulates the latest price for a SKU.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the latest price."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuggestedChart": {
      "id": "SuggestedChart",
      "properties": {
        "xAxisLabel": {
          "type": "string",
          "description": "The label of the x-axis."
        },
        "seriesField": {
          "type": "string",
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data."
        },
        "yAxisLabel": {
          "type": "string",
          "description": "The label of the y-axis."
        },
        "xAxisField": {
          "description": "The field used for the x-axis.",
          "type": "string"
        },
        "chartTitle": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "yAxisField": {
          "description": "The field used for the y-axis.",
          "type": "string"
        },
        "chartType": {
          "description": "The type of the chart.",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "type": "string"
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering.",
      "type": "object"
    },
    "DataSet": {
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "properties": {
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "readOnly": true,
          "$ref": "SuggestedChart"
        },
        "billingData": {
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "$ref": "BillingData",
          "readOnly": true
        },
        "queryInfo": {
          "readOnly": true,
          "description": "Output only. The query used to fetch this data.",
          "$ref": "AgenticQueryInfo"
        }
      },
      "type": "object",
      "id": "DataSet"
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "properties": {
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo"
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        },
        "tiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price."
        }
      },
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRate"
    },
    "Array": {
      "description": "An ordered collection of elements of arbitrary count.",
      "properties": {
        "element": {
          "description": "The elements of the array.",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Array",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Range": {
      "properties": {
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        },
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        }
      },
      "type": "object",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "id": "Range"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "properties": {}
    },
    "GenerateInsightsRequest": {
      "description": "Request for GenerateInsights.",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The natural language prompt from the user."
        },
        "parents": {
          "description": "Optional. The billing account or projects to analyze.",
          "items": {
            "$ref": "BillingDataResource"
          },
          "type": "array"
        },
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "type": "integer",
          "format": "int32"
        },
        "userContext": {
          "$ref": "UserContext",
          "description": "Optional. Additional context for personalization (e.g., user persona, role)."
        }
      },
      "id": "GenerateInsightsRequest",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        },
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "properties": {
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      }
    },
    "Row": {
      "type": "object",
      "description": "Represents a row in the query result.",
      "id": "Row",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "Values for a row in the column order."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string"
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroups.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkuGroups": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "description": "The returned publicly listed billing account SKU groups.",
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "SuggestedQuery": {
      "properties": {
        "query": {
          "description": "The natural language query.",
          "type": "string"
        }
      },
      "id": "SuggestedQuery",
      "type": "object",
      "description": "A suggested follow-up query for the user."
    },
    "ValueProto": {
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Primitive for string."
        },
        "enumValue": {
          "type": "integer",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "format": "int32"
        },
        "geographyValue": {
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "format": "byte",
          "type": "string"
        },
        "tokenlistValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end"
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "uuidValue": {
          "type": "string",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes().",
          "format": "byte"
        },
        "floatValue": {
          "type": "number",
          "description": "Primitive for float.",
          "format": "float"
        },
        "int32Value": {
          "description": "Primitive value for int32.",
          "format": "int32",
          "type": "integer"
        },
        "doubleValue": {
          "format": "double",
          "description": "Primitive for double.",
          "type": "number"
        },
        "bytesValue": {
          "type": "string",
          "description": "Primitive for bytes.",
          "format": "byte"
        },
        "intervalValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes()."
        },
        "arrayValue": {
          "$ref": "Array",
          "description": "An array of value"
        },
        "int64Value": {
          "type": "string",
          "description": "Primitive for int64.",
          "format": "int64"
        },
        "rangeValue": {
          "description": "Encoded range value. See go/googlesql_range.",
          "$ref": "Range"
        },
        "datetimeValue": {
          "$ref": "Datetime",
          "description": "primitive for datetime"
        },
        "timestampPicoValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes()."
        },
        "bignumericValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes()."
        },
        "numericValue": {
          "format": "byte",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "type": "string"
        },
        "mapValue": {
          "$ref": "Map",
          "description": "Encoded map value. See go/googlesql_map."
        },
        "timestampValue": {
          "description": "primitive for timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "uint64Value": {
          "description": "Primitive for uint64.",
          "format": "uint64",
          "type": "string"
        },
        "timeValue": {
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details.",
          "format": "int64",
          "type": "string"
        },
        "dateValue": {
          "format": "int32",
          "description": "Primitive for date.",
          "type": "integer"
        },
        "uint32Value": {
          "format": "uint32",
          "type": "integer",
          "description": "Primitive for uint32."
        },
        "protoValue": {
          "description": "Stores a serialized protocol message.",
          "type": "string",
          "format": "byte"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ValueProto",
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto."
    },
    "ColumnInfo": {
      "type": "object",
      "id": "ColumnInfo",
      "description": "Represents a column header.",
      "properties": {
        "column": {
          "description": "Name of the column.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "properties": {
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "properties": {
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        },
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        },
        "fixedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
          "description": "Fixed price applicable during the terms of a contract agreement."
        },
        "type": {
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'.",
          "type": "string"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        }
      },
      "description": "Encapsulates a price reason which contains background information about the origin of the price."
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSku belongs to."
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSku."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        }
      },
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus)."
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "description": "Response message for ListBillingAccountSkus.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountSkus": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "type": "array",
          "description": "The returned billing account SKUs."
        }
      }
    }
  },
  "resources": {
    "v1beta": {
      "methods": {
        "generateInsights": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1beta:generateInsights",
          "path": "v1beta:generateInsights",
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "id": "cloudbilling.generateInsights",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets."
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "description": "Lists services visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.services.list",
              "path": "v1beta/{+parent}/services",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.services.get",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a Google Cloud service visible to a billing account."
            }
          }
        },
        "skuGroups": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a SKU group visible to a billing account."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/skuGroups",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "description": "Lists SKU groups visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              }
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "path": "v1beta/{+parent}/skus",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}"
                }
              }
            }
          }
        },
        "skus": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a SKU visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.skus.get",
              "path": "v1beta/{+name}"
            },
            "list": {
              "description": "Lists SKUs visible to a billing account.",
              "path": "v1beta/{+parent}/skus",
              "id": "cloudbilling.billingAccounts.skus.list",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "parent": {
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "prices": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "type": "integer"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/prices"
                }
              }
            },
            "price": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "currencyCode": {
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "skuGroups": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.skuGroups.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^skuGroups/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "description": "Gets a publicly listed SKU group.",
          "path": "v1beta/{+name}"
        },
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists all publicly listed SKU groups.",
          "id": "cloudbilling.skuGroups.list",
          "flatPath": "v1beta/skuGroups",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "location": "query"
            }
          },
          "path": "v1beta/skuGroups",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/skus",
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.skuGroups.skus.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "pattern": "^skuGroups/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus"
            },
            "get": {
              "id": "cloudbilling.skuGroups.skus.get",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "skus": {
      "resources": {
        "price": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets the latest price for the given SKU.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "required": true,
                  "pattern": "^skus/[^/]+/price$"
                }
              },
              "flatPath": "v1beta/skus/{skusId}/price",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.price.get",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "path": "v1beta/{+name}"
            }
          }
        },
        "prices": {
          "methods": {
            "list": {
              "id": "cloudbilling.skus.prices.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "pattern": "^skus/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "pageToken": {
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/skus/{skusId}/prices",
              "parameterOrder": [
                "parent"
[...]
