{
  "description": "",
  "basePath": "",
  "version": "v1alpha",
  "canonicalName": "Cloud Number Registry",
  "rootUrl": "https://cloudnumberregistry.googleapis.com/",
  "servicePath": "",
  "revision": "20260826",
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "mtlsRootUrl": "https://cloudnumberregistry.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "cloudnumberregistry:v1alpha",
  "version_module": true,
  "title": "Cloud Number Registry API",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListRegistryBooksResponse": {
      "id": "ListRegistryBooksResponse",
      "description": "Response message for the CloudNumberRegistry.ListRegistryBooks method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "registryBooks": {
          "items": {
            "$ref": "RegistryBook"
          },
          "description": "The list of RegistryBook",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "DiscoveryMetadata": {
      "description": "Metadata about a discovered resource, tracking event times, state, and source information.",
      "type": "object",
      "id": "DiscoveryMetadata",
      "properties": {
        "sourceSubId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A single source resource can be the source of multiple CNR resources. This sub_id is used to distinguish between the different CNR resources derived from the same upstream resource. For example, a single subnetwork can be the source of multiple Ranges, one for each protocol. In this case, the sub_id could be \"private-ipv4\" or \"private-ipv6\"."
        },
        "eventTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the event happened."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was last modified.",
          "readOnly": true
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The resource name of the discovered resource, should be API-agnostic. Example: \"projects/{project_number}/networks/{network_id}\".",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resourceUri": {
          "readOnly": true,
          "description": "Output only. The resource uri of the discovered resource.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the resource.",
          "enum": [
            "RESOURCE_STATE_UNSPECIFIED",
            "INVALID",
            "EXISTS",
            "DOES_NOT_EXIST",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The resource is in an invalid state.",
            "The resource exists in the backing store (is not tombstoned or completely missing) and there were no failures reading out the resource level metadata.",
            "Resource does not exist or has been deleted or soft-deleted.",
            "There was an error reading out the resource level metadata."
          ],
          "readOnly": true
        },
        "sourceId": {
          "description": "Output only. The canonical google.aip.dev/122 name of the source resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RegistryBook": {
      "type": "object",
      "description": "A RegistryBook organizes and manages IP address space. It claims specific scopes (such as projects) and groups related Realms and Ranges.",
      "id": "RegistryBook",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the RegistryBook was created."
        },
        "updateTime": {
          "description": "Output only. The time at which the RegistryBook was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "claimedScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of scopes claimed by the RegistryBook. In Preview, Only project scope is supported. Each scope is in the format of projects/{project}. Each scope can only be claimed once.",
          "type": "array"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the RegistryBook.",
          "type": "string"
        },
        "aggregatedData": {
          "$ref": "AggregatedData",
          "description": "Output only. Aggregated data for the RegistryBook. Populated only when the view is AGGREGATE.",
          "readOnly": true
        },
        "claimedScopesInfo": {
          "readOnly": true,
          "description": "Output only. Detailed scope information corresponding to each entry in `claimed_scopes`.",
          "items": {
            "$ref": "ScopeInfo"
          },
          "type": "array"
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isDefault": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the RegistryBook is the default one."
        }
      }
    },
    "ListIpamAdminScopesResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListIpamAdminScopes method.",
      "id": "ListIpamAdminScopesResponse",
      "properties": {
        "ipamAdminScopes": {
          "items": {
            "$ref": "IpamAdminScope"
          },
          "type": "array",
          "description": "The list of IpamAdminScopes."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RangeUtilization": {
      "properties": {
        "totalConsumed": {
          "description": "Output only. The total number of IP addresses consumed in the Range.",
          "readOnly": true,
          "type": "string"
        },
        "totalProduced": {
          "type": "string",
          "description": "Output only. The total number of IP addresses produced in the Range.",
          "readOnly": true
        },
        "usage": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. The usage of the Range as a percentage. This is marked as optional so that we have presence tracking and API responses show 0.0 instead of NULL.",
          "type": "number"
        }
      },
      "id": "RangeUtilization",
      "type": "object",
      "description": "Utilization metrics for an IP Range, including consumed and produced address counts."
    },
    "IpamAdminScope": {
      "description": "An IpamAdminScope defines the administrative boundary for IP address discovery and management. It configures which platforms and organizational scopes are enabled for IP tracking.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels.",
          "type": "object"
        },
        "enabledAddonPlatforms": {
          "type": "array",
          "description": "Required. Add-on platforms that are enabled for this IpamAdminScope. Cloud Number Registry only discovers the IP addresses from the enabled platforms.",
          "items": {
            "type": "string",
            "enum": [
              "ADD_ON_PLATFORM_UNSPECIFIED",
              "COMPUTE_ENGINE",
              "GCE"
            ],
            "enumDeprecated": [
              false,
              false,
              true
            ],
            "enumDescriptions": [
              "Unspecified add-on platform.",
              "Google Compute Engine.",
              "Deprecated: Use COMPUTE_ENGINE instead."
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the IpamAdminScope."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the IpamAdminScope was last updated."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Internal failure.",
            "Failure.",
            "Setup in progress.",
            "Ready for use.",
            "Deleting in progress.",
            "Updating.",
            "Recovering.",
            "Disabled.",
            "Deleting completed.",
            "Cleanup in progress.",
            "Ready for deletion."
          ],
          "description": "Output only. State of resource discovery pipeline.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DISCOVERY_PIPELINE_STATE_UNSPECIFIED",
            "INTERNAL_FAILURE",
            "FAILED",
            "SETUP_IN_PROGRESS",
            "READY_FOR_USE",
            "DELETING_IN_PROGRESS",
            "UPDATING",
            "RECOVERING",
            "DISABLED",
            "DELETION_COMPLETED",
            "CLEANUP_IN_PROGRESS",
            "READY_FOR_DELETION"
          ]
        },
        "scopes": {
          "description": "Required. Administrative scopes enabled for IP address discovery and management. For example, \"organizations/1234567890\". Minimum of 1 scope is required. In preview, only one organization scope is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the IpamAdminScope was created.",
          "readOnly": true
        }
      },
      "id": "IpamAdminScope"
    },
    "SearchIpResourcesResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.SearchIpResources method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "results": {
          "items": {
            "$ref": "SearchIpResourcesResult"
          },
          "type": "array",
          "description": "The list of results matching the search query."
        },
        "ranges": {
          "description": "Deprecated: Use results field instead. The list of Ranges matching the search query.",
          "type": "array",
          "items": {
            "$ref": "Range"
          },
          "deprecated": true
        }
      },
      "id": "SearchIpResourcesResponse"
    },
    "ListRealmsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "realms": {
          "type": "array",
          "items": {
            "$ref": "Realm"
          },
          "description": "The list of Realms."
        }
      },
      "id": "ListRealmsResponse",
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListRealms method."
    },
    "RealmAggregatedData": {
      "description": "Aggregated data for the Realm.",
      "id": "RealmAggregatedData",
      "type": "object",
      "properties": {
        "discoveredRangesCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of DiscoveredRanges in the Realm.",
          "readOnly": true
        },
        "customRangesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of CustomRanges in the Realm.",
          "readOnly": true
        }
      }
    },
    "Realm": {
      "description": "A Realm represents a distinct network domain or security zone. It groups Ranges that share the same traffic and management characteristics. All the ranges in a Realm are routable to each other, meaning that they cannot overlap.",
      "properties": {
        "aggregatedData": {
          "readOnly": true,
          "$ref": "RealmAggregatedData",
          "description": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE."
        },
        "trafficType": {
          "description": "Required. Traffic type of the Realm.",
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "UNSET",
            "INTERNET",
            "PRIVATE",
            "LINKLOCAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified traffic type.",
            "Unset traffic type.",
            "Internet traffic.",
            "Private traffic.",
            "Linklocal traffic."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the Realm was created.",
          "type": "string"
        },
        "discoveryMetadata": {
          "$ref": "DiscoveryMetadata",
          "readOnly": true,
          "description": "Output only. Discovery metadata of the Realm."
        },
        "registryBook": {
          "description": "Required. Name of the RegistryBook that claims the Realm.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the Realm was last updated.",
          "format": "google-datetime"
        },
        "managementType": {
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "CNR",
            "USER"
          ],
          "description": "Optional. Management type of the Realm.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified management type.",
            "Managed by Cloud Number Registry.",
            "Managed by User."
          ]
        },
        "ipVersion": {
          "description": "Optional. IP version of the Realm.",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "enumDescriptions": [
            "Unspecified IP version.",
            "IPv4 IP version.",
            "IPv6 IP version."
          ],
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the Realm.",
          "type": "string"
        }
      },
      "id": "Realm",
      "type": "object"
    },
    "SearchIpResourcesResult": {
      "properties": {
        "realm": {
          "description": "A Realm matching the search query.",
          "$ref": "Realm"
        },
        "range": {
          "$ref": "Range",
          "description": "A Range matching the search query."
        }
      },
      "id": "SearchIpResourcesResult",
      "type": "object",
      "description": "A result matching the search query, which can be either a Range or a Realm."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "DisableIpamAdminScopeRequest": {
      "description": "Request message for the CloudNumberRegistry.DisableIpamAdminScope method.",
      "id": "DisableIpamAdminScopeRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ListDiscoveredRangesResponse": {
      "description": "Response message for the CloudNumberRegistry.ListDiscoveredRanges method.",
      "type": "object",
      "id": "ListDiscoveredRangesResponse",
      "properties": {
        "discoveredRanges": {
          "description": "The list of DiscoveredRanges.",
          "type": "array",
          "items": {
            "$ref": "DiscoveredRange"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "FindDiscoveredRangeFreeIpRangesResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.FindDiscoveredRangeFreeIpRanges method.",
      "id": "FindDiscoveredRangeFreeIpRangesResponse",
      "properties": {
        "freeIpCidrRanges": {
          "description": "Output only. The free IP CIDR ranges found.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CleanupIpamAdminScopeRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method.",
      "id": "CleanupIpamAdminScopeRequest"
    },
    "OrgNumberRegistry": {
      "description": "An OrgNumberRegistry defines a delegation of authority from an organization to a project, allowing the project to manage IP address data within specified scopes of the organization.",
      "type": "object",
      "id": "OrgNumberRegistry",
      "properties": {
        "targetScopes": {
          "description": "Required. The scopes within the organization that the project is able to manage. Currently only organization scope is supported. For example, \"organizations/1234567890\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the OrgNumberRegistry.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the OrgNumberRegistry was last updated."
        },
        "adminProject": {
          "type": "string",
          "description": "Required. The project that will act as the admin project for CNR resources Format: projects/{project_number} or projects/{project_id}"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the OrgNumberRegistry was created.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ShowDiscoveredRangeUtilizationResponse": {
      "properties": {
        "rangeUtilization": {
          "description": "The utilization details of the DiscoveredRange.",
          "$ref": "RangeUtilization"
        },
        "discoveredRange": {
          "description": "The DiscoveredRange resource.",
          "$ref": "DiscoveredRange"
        }
      },
      "description": "Response message for the CloudNumberRegistry.ShowDiscoveredRangeUtilization method.",
      "type": "object",
      "id": "ShowDiscoveredRangeUtilizationResponse"
    },
    "IpamAdminScopeAvailability": {
      "type": "object",
      "description": "Availability details for a specific IpamAdminScope.",
      "properties": {
        "availability": {
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "UNAVAILABLE"
          ],
          "enumDescriptions": [
            "Unspecified availability.",
            "The scope is available.",
            "The scope is not available."
          ],
          "description": "The availability of the scope.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "The scope of the IpamAdminScope."
        },
        "adminProject": {
          "description": "The admin project of the IpamAdminScope if it exists.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IpamAdminScopeAvailability"
    },
    "DiscoveredRange": {
      "id": "DiscoveredRange",
      "description": "A DiscoveredRange represents an IP address range automatically detected by the discovery pipeline.",
      "type": "object",
      "properties": {
        "ipv6CidrRange": {
          "type": "string",
          "description": "Optional. The IPv6 CIDR range of the DiscoveredRange."
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. Description of the DiscoveredRange.",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "description": "Optional. The attributes of the DiscoveredRange.",
          "items": {
            "$ref": "Attribute"
          }
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the DiscoveredRange.",
          "type": "string"
        },
        "parentRange": {
          "description": "Optional. The resource name of the parent DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`."
        },
        "discoveryMetadata": {
          "description": "Output only. Owner metadata for this DiscoveredRange. A unique set of metadata is associated with each DiscoveredRange. If an IP range is shared by multiple resources (e.g., an Address resource and an Instance resource, or multiple ForwardingRules),separate DiscoveredRanges are created, each with a distinct owner. This ensures each DiscoveredRange has its own unique set of attributes, labels, create time and update time.",
          "$ref": "DiscoveryMetadata",
          "readOnly": true
        },
        "realm": {
          "description": "Optional. The Realm of the DiscoveredRange.",
          "type": "string"
        },
        "childCidrOverlapAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, allows child DiscoveredRanges of this DiscoveredRange to overlap with each other."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the DiscoveredRange was last updated.",
          "type": "string"
        },
        "registryBook": {
          "type": "string",
          "description": "Output only. The RegistryBook of the DiscoveredRange.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the DiscoveredRange was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ListOrgNumberRegistriesResponse": {
      "description": "Response message for the CloudNumberRegistry.ListOrgNumberRegistries method.",
      "type": "object",
      "id": "ListOrgNumberRegistriesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "orgNumberRegistries": {
          "description": "The list of OrgNumberRegistries.",
          "items": {
            "$ref": "OrgNumberRegistry"
          },
          "type": "array"
        }
      }
    },
    "CustomRange": {
      "properties": {
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the CustomRange.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`."
        },
        "description": {
          "description": "Optional. The description of the CustomRange.",
          "type": "string"
        },
        "realm": {
          "description": "Optional. The resource name of the Realm associated with the CustomRange, in the format `projects/{project}/locations/{location}/realms/{realm}`. The Realm must be in the same project as the CustomRange. This field must not be set if the `parent_range` field is set, as the Realm will be inherited from the parent CustomRange.",
          "type": "string"
        },
        "parentRange": {
          "type": "string",
          "description": "Optional. The resource name of the parent CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`. If specified, the parent CustomRange must be in the same RegistryBook. This field is mutually exclusive with the `realm` field, as the Realm is inherited from the parent CustomRange."
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the CustomRange.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "Attribute"
          },
          "description": "Optional. The attributes of the CustomRange.",
          "type": "array"
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "registryBook": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The RegistryBook of the CustomRange. This field is inherited from the Realm or parent CustomRange depending on which one is specified."
        }
      },
      "type": "object",
      "description": "A CustomRange represents a user-defined IP address range.",
      "id": "CustomRange"
    },
    "Attribute": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the attribute."
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the attribute."
        }
      },
      "type": "object",
      "id": "Attribute",
      "description": "A key-value pair representing a custom attribute associated with a resource."
    },
    "FindCustomRangeFreeIpRangesResponse": {
      "properties": {
        "freeIpCidrRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The free IP CIDR ranges found."
        }
      },
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.FindCustomRangeFreeIpRanges method.",
      "id": "FindCustomRangeFreeIpRangesResponse"
    },
    "SearchIpResourcesRequest": {
      "description": "Request message for the CloudNumberRegistry.SearchIpResources method.",
      "type": "object",
      "id": "SearchIpResourcesRequest",
      "properties": {
        "query": {
          "description": "Optional. Search query. This string filters resources in an AIP-160-like format. It has some limitations. You can only specify top level conjunctions or attribute level negations. Each restriction can only be used once except the attribute restriction. The available restrictions for Ranges are: - `resource_id`: The resource ID to search for within Ranges (only substring matching using the format `resource_id=\"*value*\"` is supported). - `realm`: The Realm name to search in. - `ip_address`: The IP address to search for within Ranges. - `ip_version`: The IP version to filter by (e.g., \"IPV4\", \"IPV6\"). - `parent_range`: The parent Range of the Range to search for. - `attribute_text`: The attribute text to search for within Ranges. - `attribute`: The attribute key and value to filter by. The available restrictions for Realms are: - `ip_version`: The IP version to search for. - `management_type`: The management type of the Realm (e.g., \"CNR\", \"USER\"). Only one of attribute_text or multiple attribute filters can be specified. Examples: - `realm=test-realm` - `realm=test-realm AND ip_address=10.0.0.0` - `realm=test-realm AND ip_version=IPV6` - `realm=test-realm AND resource_id=\"*my-range*\"` - `realm=test-realm AND attribute_text=test` - `ip_address=10.0.0.0 AND attribute:(key1=value1) AND attribute:(key2=value2)` - `attribute_text=test AND parent_range=projects/123/locations/global/discoveredRanges/test-parent-range` - `management_type=CNR`",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A token identifying a page of results the server should return."
        },
        "showUtilization": {
          "description": "Optional. Whether to show the utilization of the Ranges in the response.",
          "type": "boolean"
        },
        "searchResourceTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified search type.",
              "Search for Ranges.",
              "Search for Realms."
            ],
            "enum": [
              "SEARCH_RESOURCE_TYPE_UNSPECIFIED",
              "RANGES",
              "REALMS"
            ],
            "type": "string"
          },
          "description": "Optional. The type of resources to search for. If not specified, the server will return Ranges."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
        },
        "orderBy": {
          "type": "string",
          "description": "Optional. Hint for how to order the results. Supported sort fields are: - `name`: Sort alphabetically by the resource name. - `create_time`: Sort by the creation timestamp of the resource. - `update_time`: Sort by the last update timestamp of the resource. Supported directions are `asc` (ascending) and `desc` (descending). If unspecified, direction defaults to `asc`. Only sorting by a single field is supported."
        }
      }
    },
    "ScopeInfo": {
      "id": "ScopeInfo",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the scope, e.g. \"projects/1234567890\".",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Programmatic string identifier of the scope (e.g. GCP Project ID \"my-project-id\"). Used for API and code logic.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Human-readable display title of the scope shown in Console (e.g. \"My Cloud Project\"). Used for UI display.",
          "readOnly": true
        }
      },
      "description": "Details of a scope (e.g. project or folder)."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ListCustomRangesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "customRanges": {
          "items": {
            "$ref": "CustomRange"
          },
          "type": "array",
          "description": "The list of CustomRanges."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for the CloudNumberRegistry.ListCustomRanges method.",
      "type": "object",
      "id": "ListCustomRangesResponse"
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "CheckAvailabilityIpamAdminScopesResponse": {
      "id": "CheckAvailabilityIpamAdminScopesResponse",
      "properties": {
        "scopeAvailabilities": {
          "description": "The details of the requested scopes.",
          "items": {
            "$ref": "IpamAdminScopeAvailability"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.CheckAvailabilityIpamAdminScopes method."
    },
    "ShowCustomRangeUtilizationResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ShowCustomRangeUtilization method.",
      "id": "ShowCustomRangeUtilizationResponse",
      "properties": {
        "rangeUtilization": {
          "$ref": "RangeUtilization",
          "description": "The utilization details of the CustomRange."
        },
        "customRange": {
          "$ref": "CustomRange",
          "description": "The CustomRange resource."
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "Range": {
      "properties": {
        "customRange": {
          "description": "A CustomRange.",
          "$ref": "CustomRange"
        },
        "discoveredRange": {
          "description": "A DiscoveredRange.",
          "$ref": "DiscoveredRange"
        },
        "utilization": {
          "description": "The utilization of the Range.",
          "$ref": "RangeUtilization"
        }
      },
      "id": "Range",
      "description": "Represents either a CustomRange or a DiscoveredRange.",
      "type": "object"
    },
    "AggregatedData": {
      "type": "object",
      "id": "AggregatedData",
      "description": "Aggregated data for the RegistryBook.",
      "properties": {
        "uniqueScopesCount": {
          "description": "Output only. Number of scopes unique to the RegistryBook.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "customRangesCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of CustomRanges in the RegistryBook."
        },
        "customRealmsCount": {
          "description": "Output only. Number of custom Realms in the RegistryBook.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "discoveredRangesCount": {
          "description": "Output only. Number of DiscoveredRanges in the RegistryBook.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "discoveredRealmsCount": {
          "readOnly": true,
          "description": "Output only. Number of discovered Realms in the RegistryBook.",
          "format": "int32",
          "type": "integer"
        }
      }
    }
  },
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "registryBooks": {
              "methods": {
                "delete": {
                  "description": "Deletes a single RegistryBook.",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the RegistryBook to delete.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.delete",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single RegistryBook.",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.get",
                  "response": {
                    "$ref": "RegistryBook"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "parameters": {
                    "view": {
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "description": "Optional. The view of the RegistryBook to retrieve."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the RegistryBook to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. Identifier. The resource name of the RegistryBook.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.patch",
                  "request": {
                    "$ref": "RegistryBook"
                  }
                },
                "list": {
                  "path": "v1alpha/{+parent}/registryBooks",
                  "description": "Lists RegistryBooks in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRegistryBooksResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "httpMethod": "GET",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "view": {
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "location": "query",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results."
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "registryBookId": {
                      "description": "Required. The ID to use for the RegistryBook, which will become the final segment of the resource name.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name where the RegistryBook will be created."
                    }
                  },
                  "description": "Creates a new RegistryBook in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.create",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "path": "v1alpha/{+parent}/registryBooks"
                },
                "searchIpResources": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SearchIpResourcesRequest"
                  },
                  "path": "v1alpha/{+name}:searchIpResources",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.searchIpResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the RegistryBook to search in.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}:searchIpResources",
                  "description": "Searches IP resources in a given RegistryBook.",
                  "response": {
                    "$ref": "SearchIpResourcesResponse"
                  }
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "checkAvailability": {
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.checkAvailability",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`."
                    },
                    "scopes": {
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The administrative scopes to check for availability.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/ipamAdminScopes:checkAvailability",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes:checkAvailability",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CheckAvailabilityIpamAdminScopesResponse"
                  },
                  "description": "Checks the availability of IpamAdminScopes in a given project and location."
                },
                "create": {
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "description": "Creates a new IpamAdminScope in a given project and location.",
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "httpMethod": "POST",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name where the IpamAdminScope will be created.",
                      "location": "path",
                      "type": "string"
                    },
                    "ipamAdminScopeId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the IpamAdminScope, which will become the final segment of the resource name."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cleanup": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the IpamAdminScope to clean up.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.cleanup",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+name}:cleanup",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:cleanup",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Cleans up a single IpamAdminScope.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CleanupIpamAdminScopeRequest"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets details of a single IpamAdminScope.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "IpamAdminScope"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the IpamAdminScope to retrieve.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single IpamAdminScope.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the IpamAdminScope resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier. The resource name of the IpamAdminScope."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.patch",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "response": {
                    "$ref": "ListIpamAdminScopesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "description": "Lists IpamAdminScopes in a given project and location."
                },
                "delete": {
                  "description": "Deletes a single IpamAdminScope.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the IpamAdminScope to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}"
                },
                "disable": {
                  "request": {
                    "$ref": "DisableIpamAdminScopeRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Disables a single IpamAdminScope.",
                  "httpMethod": "POST",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.disable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:disable",
                  "path": "v1alpha/{+name}:disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "description": "Required. The resource name of the IpamAdminScope to disable.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "cloudnumberregistry.projects.locations.operations.list",
                  "path": "v1alpha/{+name}/operations",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "cloudnumberregistry.projects.locations.operations.cancel",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "cloudnumberregistry.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "discoveredRanges": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/discoveredRanges",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.list",
                  "description": "Lists DiscoveredRanges in a given project and location.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDiscoveredRangesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "showUtilization": {
                  "response": {
                    "$ref": "ShowDiscoveredRangeUtilizationResponse"
                  },
                  "path": "v1alpha/{+name}:showUtilization",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.showUtilization",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:showUtilization",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the DiscoveredRange."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a single DiscoveredRange and its utilization.",
                  "httpMethod": "GET"
                },
                "findFreeIpRanges": {
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.findFreeIpRanges",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Finds free IP ranges in a single DiscoveredRange.",
                  "response": {
                    "$ref": "FindDiscoveredRangeFreeIpRangesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "cidrPrefixLength": {
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "rangeCount": {
                      "location": "query",
                      "description": "Optional. The number of free IP ranges to find.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "description": "Required. The resource name of the DiscoveredRange to search within."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:findFreeIpRanges"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}",
                  "response": {
                    "$ref": "DiscoveredRange"
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the DiscoveredRange to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single DiscoveredRange."
                }
              }
            },
            "customRanges": {
              "methods": {
                "create": {
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "description": "Creates a new CustomRange in a given project and location.",
                  "parameters": {
                    "customRangeId": {
                      "type": "string",
                      "description": "Required. The ID to use for the CustomRange, which will become the final segment of the resource name.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name where the CustomRange will be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "path": "v1alpha/{+parent}/customRanges",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "findFreeIpRanges": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "parameters": {
                    "rangeCount": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The number of free IP ranges to find."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "cidrPrefixLength": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Required. The prefix length of the free IP ranges to find."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the CustomRange to search within.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "description": "Finds free IP ranges in a single CustomRange.",
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single CustomRange.",
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string",
                      "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single CustomRange.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the CustomRange to retrieve.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$"
                    }
                  },
[...]
