{
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/location-finder/docs",
  "title": "Cloud Location Finder API",
  "batchPath": "batch",
  "ownerName": "Google",
  "protocol": "rest",
  "canonicalName": "Cloud Location Finder",
  "version": "v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "mtlsRootUrl": "https://cloudlocationfinder.mtls.googleapis.com/",
  "id": "cloudlocationfinder:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "cloudLocations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations/{cloudLocationsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudLocations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CloudLocation"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Retrieves a resource containing information about a cloud location."
                },
                "search": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of cloud locations to return. The service might return fewer cloud locations than this value. If unspecified, at most 500 cloud locations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "sourceCloudLocation": {
                      "description": "Required. The source cloud location to search from. Example search can be searching nearby cloud locations from the source cloud location by latency.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "required": true
                    },
                    "query": {
                      "description": "Optional. The query string in search query syntax. While filter is used to filter the search results by attributes, query is used to specify the search requirements.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Provide Page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token."
                    }
                  },
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.search",
                  "description": "Searches for cloud locations from a given source location.",
                  "path": "v1alpha/{+parent}/cloudLocations:search",
                  "response": {
                    "$ref": "SearchCloudLocationsResponse"
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCloudLocationsResponse"
                  },
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations",
                  "path": "v1alpha/{+parent}/cloudLocations",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter expression that filters resources listed in the response. The expression is in the form of field=value. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION'. Multiple filter queries are space-separated. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION territory_code=\"US\"' By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of cloud locations to return per page. The service might return fewer cloud locations than this value. If unspecified, at most 500 cloud locations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Provide page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "description": "Lists cloud locations under a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}/locations",
              "id": "cloudlocationfinder.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudlocationfinder.projects.locations.get",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "path": "v1alpha/{+name}"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "revision": "20260930",
  "basePath": "",
  "name": "cloudlocationfinder",
  "rootUrl": "https://cloudlocationfinder.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://cloudlocationfinder.googleapis.com/",
  "schemas": {
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "CloudLocation": {
      "id": "CloudLocation",
      "type": "object",
      "properties": {
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "CLOUD_PROVIDER_GCP",
            "CLOUD_PROVIDER_AWS",
            "CLOUD_PROVIDER_AZURE",
            "CLOUD_PROVIDER_OCI"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud provider type for Google Cloud.",
            "Cloud provider type for AWS.",
            "Cloud provider type for Azure.",
            "Cloud provider type for OCI."
          ],
          "description": "Optional. The provider of the cloud location. Values can be Google Cloud or third-party providers, including AWS, Azure, or Oracle Cloud Infrastructure."
        },
        "displayName": {
          "description": "Optional. The human-readable name of the cloud location. Example: us-east-2, us-east1.",
          "type": "string"
        },
        "containingCloudLocation": {
          "readOnly": true,
          "description": "Output only. The containing cloud location in the strict nesting hierarchy. For example, the containing cloud location of a zone is a region.",
          "type": "string"
        },
        "territoryCode": {
          "description": "Optional. The two-letter ISO 3166-1 alpha-2 code of the cloud location. Examples: US, JP, KR.",
          "type": "string"
        },
        "cloudLocationType": {
          "type": "string",
          "enum": [
            "CLOUD_LOCATION_TYPE_UNSPECIFIED",
            "CLOUD_LOCATION_TYPE_REGION",
            "CLOUD_LOCATION_TYPE_ZONE",
            "CLOUD_LOCATION_TYPE_GDCC_ZONE",
            "CLOUD_LOCATION_TYPE_GLOBAL"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "CloudLocation type for region.",
            "CloudLocation type for zone.",
            "CloudLocation type for Google Distributed Cloud Connected Zone.",
            "CloudLocation type for global."
          ],
          "description": "Optional. The type of the cloud location."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the cloud location. Unique name of the cloud location including project and location using the form: `projects/{project_id}/locations/{location}/cloudLocations/{cloud_location}`"
        },
        "carbonFreeEnergyPercentage": {
          "description": "Optional. The carbon free energy percentage of the cloud location. This represents the average percentage of time customers' application will be running on carbon-free energy. See https://cloud.google.com/sustainability/region-carbon for more details. There is a difference between default value 0 and unset value. 0 means the carbon free energy percentage is 0%, while unset value means the carbon footprint data is not available.",
          "format": "float",
          "type": "number"
        },
        "gcpAttributes": {
          "description": "Optional. GCP-specific attributes.",
          "$ref": "GcpAttributes"
        }
      },
      "description": "Represents resource cloud locations."
    },
    "GcpAttributes": {
      "id": "GcpAttributes",
      "description": "GCP-specific attributes.",
      "properties": {
        "zoneType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified zone type.",
            "General purpose zone type.",
            "AI zone type."
          ],
          "enum": [
            "GCP_ZONE_TYPE_UNSPECIFIED",
            "GENERAL_PURPOSE",
            "AI_ZONE"
          ],
          "description": "Optional. The type of the cloud zone."
        }
      },
      "type": "object"
    },
    "ListCloudLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results.",
          "readOnly": true,
          "type": "string"
        },
        "cloudLocations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloudLocation"
          },
          "description": "Output only. List of cloud locations."
        }
      },
      "id": "ListCloudLocationsResponse",
      "description": "Message for response to listing cloud locations.",
      "type": "object"
    },
    "SearchCloudLocationsResponse": {
      "id": "SearchCloudLocationsResponse",
      "type": "object",
      "properties": {
        "cloudLocations": {
          "description": "Output only. List of cloud locations.",
          "readOnly": true,
          "items": {
            "$ref": "CloudLocation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results."
        }
      },
      "description": "Message for response to searching cloud locations."
    }
  },
  "version_module": true
}