{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "LogicalProductVariant": {
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "id": "LogicalProductVariant",
      "properties": {
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "readOnly": true
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "replacement": {
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "logicalProductVariants": {
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "description": "Matched LogicalProductVariants"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LogicalProduct": {
      "id": "LogicalProduct",
      "type": "object",
      "properties": {
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}."
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string"
        }
      },
      "description": "Represents an independent service offering that can be provisioned by a customer."
    },
    "LookupEntityResponse": {
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity.",
      "properties": {
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        },
        "logicalProductVariant": {
          "$ref": "LogicalProductVariant",
          "description": "Matched LogicalProductVariant."
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        }
      },
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "type": "object",
      "description": "Response message for ListProductSuites.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        }
      },
      "id": "ListProductSuitesResponse"
    },
    "ListLogicalProductsResponse": {
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProducts": {
          "items": {
            "$ref": "LogicalProduct"
          },
          "type": "array",
          "description": "Matched LogicalProducts"
        }
      },
      "type": "object",
      "id": "ListLogicalProductsResponse"
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}"
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "logicalProducts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "readOnly": true
        }
      },
      "id": "ProductSuite",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "ownerDomain": "google.com",
  "revision": "20261007",
  "version_module": true,
  "protocol": "rest",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "name": "cloudproductregistry",
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1",
  "resources": {
    "productSuites": {
      "methods": {
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "description": "Look up entities.",
          "httpMethod": "GET",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "required": true,
              "pattern": "^productSuites/[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "id": "cloudproductregistry.productSuites.get",
          "parameters": {
            "name": {
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ProductSuite"
          },
          "description": "Get details of a ProductSuite."
        },
        "list": {
          "flatPath": "v1/productSuites",
          "description": "Lists ProductSuites.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            }
          },
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "path": "v1/productSuites",
          "httpMethod": "GET",
          "id": "cloudproductregistry.productSuites.list",
          "parameterOrder": []
        }
      }
    },
    "logicalProducts": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "LogicalProduct"
          },
          "description": "Gets details of a LogicalProduct.",
          "httpMethod": "GET",
          "id": "cloudproductregistry.logicalProducts.get"
        },
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id"
            }
          },
          "httpMethod": "GET",
          "description": "Lists LogicalProducts matching given criteria.",
          "parameterOrder": [],
          "path": "v1/logicalProducts",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "flatPath": "v1/logicalProducts"
        },
        "lookupEntity": {
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "required": true
            }
          },
          "description": "Look up entities."
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "lookupUri"
              ],
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "path": "v1/{+lookupUri}:lookupEntity",
              "description": "Look up entities."
            },
            "list": {
              "path": "v1/{+parent}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "description": "Lists LogicalProductVariants matching given criteria.",
              "parameters": {
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "location": "query"
                }
              }
            },
            "get": {
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "description": "Get details of a LogicalProductVariant.",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudproductregistry:v1",
  "title": "Cloud Product Registry API",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "batchPath": "batch",
  "canonicalName": "Cloud Product Registry",
  "rootUrl": "https://cloudproductregistry.googleapis.com/"
}