{
  "rootUrl": "https://composer.googleapis.com/",
  "baseUrl": "https://composer.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/composer/",
  "title": "Cloud Composer API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloudcomposer.readonly": {
          "description": "See your Google Cloud Composer data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloudcomposer": {
          "description": "See, edit, configure, and delete your Google Cloud Composer data and see the email address for your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "description": "Manages Apache Airflow environments on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://composer.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://composer.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://composer.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://composer.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://composer.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://composer.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://composer.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://composer.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://composer.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://composer.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://composer.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://composer.europe-west15.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://composer.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://composer.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://composer.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://composer.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://composer.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://composer.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://composer.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://composer.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://composer.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://composer.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://composer.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://composer.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://composer.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "canonicalName": "Cloud Composer",
  "ownerName": "Google",
  "revision": "20260901",
  "name": "composer",
  "kind": "discovery#restDescription",
  "id": "composer:v1beta1",
  "mtlsRootUrl": "https://composer.mtls.googleapis.com/",
  "schemas": {
    "FetchDatabasePropertiesResponse": {
      "type": "object",
      "description": "Response for FetchDatabasePropertiesRequest.",
      "properties": {
        "isFailoverReplicaAvailable": {
          "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only fail over to the failover replica when the status is true.",
          "type": "boolean"
        },
        "primaryGceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from.",
          "type": "string"
        },
        "secondaryGceZone": {
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional Cloud SQL instance.",
          "type": "string"
        }
      },
      "id": "FetchDatabasePropertiesResponse"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the operation terminated, regardless of its success. This field is unset if the operation is still ongoing."
        },
        "createTime": {
          "description": "Output only. The time the operation was submitted to the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "resource": {
          "description": "Output only. The resource being operated on, as a [relative resource name]( /apis/design/resource_names#relative_resource_name).",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "Output only. The type of operation being performed.",
          "enumDescriptions": [
            "Unused.",
            "A resource creation operation.",
            "A resource deletion operation.",
            "A resource update operation.",
            "A resource check operation.",
            "Saves snapshot of the resource operation.",
            "Loads snapshot of the resource operation.",
            "Triggers failover of environment's Cloud SQL instance (only for highly resilient environments).",
            "Migrates resource to a new major version.",
            "Hibernates a resource.",
            "Resumes a resource."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "CHECK",
            "SAVE_SNAPSHOT",
            "LOAD_SNAPSHOT",
            "DATABASE_FAILOVER",
            "MIGRATE",
            "HIBERNATE",
            "RESUME"
          ]
        },
        "resourceUuid": {
          "description": "Output only. The UUID of the resource being operated on.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCESSFUL",
            "FAILED"
          ],
          "description": "Output only. The current operation state.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running but did not succeed."
          ]
        }
      },
      "description": "Metadata describing an operation."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "UserWorkloadsSecret": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. The \"type\" field of Kubernetes Secret. For details see: https://kubernetes.io/docs/concepts/configuration/secret/#secret-types"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The \"data\" field of Kubernetes Secret, organized in key-value pairs, which can contain sensitive values such as a password, a token, or a key. The values for all keys have to be base64-encoded strings. For details see: https://kubernetes.io/docs/concepts/configuration/secret/ Example: { \"example\": \"ZXhhbXBsZV92YWx1ZQ==\", \"another-example\": \"YW5vdGhlcl9leGFtcGxlX3ZhbHVl\" }"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\""
        }
      },
      "type": "object",
      "description": "User workloads Secret used by Airflow tasks that run with Kubernetes executor or KubernetesPodOperator.",
      "id": "UserWorkloadsSecret"
    },
    "TriggererResource": {
      "properties": {
        "count": {
          "format": "int32",
          "description": "Optional. The number of triggerers.",
          "type": "integer"
        },
        "cpu": {
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow triggerer replica.",
          "type": "number"
        },
        "memoryGb": {
          "type": "number",
          "description": "Optional. Memory (GB) request and limit for a single Airflow triggerer replica.",
          "format": "float"
        }
      },
      "description": "Configuration for resources used by Airflow triggerers.",
      "type": "object",
      "id": "TriggererResource"
    },
    "CidrBlock": {
      "description": "CIDR block with an optional name.",
      "type": "object",
      "id": "CidrBlock",
      "properties": {
        "cidrBlock": {
          "description": "CIDR block that must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-defined name that identifies the CIDR block."
        }
      }
    },
    "EnvironmentConfig": {
      "properties": {
        "webServerConfig": {
          "description": "Optional. The configuration settings for the Airflow web server App Engine instance. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "$ref": "WebServerConfig"
        },
        "gkeCluster": {
          "description": "Output only. The Kubernetes Engine cluster used to run this environment.",
          "readOnly": true,
          "type": "string"
        },
        "airflowUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the Apache Airflow Web UI hosted within this environment (see [Airflow web interface](/composer/docs/how-to/accessing/airflow-web-interface))."
        },
        "webServerNetworkAccessControl": {
          "description": "Optional. The network-level access control policy for the Airflow web server. If unspecified, no network-level access restrictions will be applied.",
          "$ref": "WebServerNetworkAccessControl"
        },
        "dagGcsPrefix": {
          "description": "Output only. The Cloud Storage prefix of the DAGs for this environment. Although Cloud Storage objects reside in a flat namespace, a hierarchical file tree can be simulated using \"/\"-delimited object name prefixes. DAG objects for this environment reside in a simulated directory with the given prefix.",
          "type": "string",
          "readOnly": true
        },
        "airflowByoidUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The 'bring your own identity' variant of the URI of the Apache Airflow Web UI hosted within this environment, to be accessed with external identities using workforce identity federation (see [Access environments with workforce identity federation](/composer/docs/composer-2/access-environments-with-workforce-identity-federation))."
        },
        "masterAuthorizedNetworksConfig": {
          "description": "Optional. The configuration options for GKE cluster master authorized networks. By default master authorized networks feature is: - in case of private environment: enabled with no external networks allowlisted. - in case of public environment: disabled.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Optional. The configuration used for the Kubernetes Engine cluster."
        },
        "resilienceMode": {
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Enabled High Resilience mode, including Cloud SQL HA."
          ],
          "type": "string",
          "description": "Optional. Resilience mode of the Cloud Composer Environment. This field is supported for Cloud Composer environments in versions composer-2.2.0-airflow-*.*.* and newer.",
          "enum": [
            "RESILIENCE_MODE_UNSPECIFIED",
            "HIGH_RESILIENCE"
          ]
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes in the Kubernetes Engine cluster that will be used to run this environment. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "dataRetentionConfig": {
          "description": "Optional. The configuration setting for Airflow database data retention mechanism.",
          "$ref": "DataRetentionConfig"
        },
        "workloadsConfig": {
          "description": "Optional. The workloads configuration settings for the GKE cluster associated with the Cloud Composer environment. The GKE cluster runs Airflow scheduler, web server and workers workloads. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "$ref": "WorkloadsConfig"
        },
        "privateEnvironmentConfig": {
          "description": "Optional. The configuration used for the Private IP Cloud Composer environment.",
          "$ref": "PrivateEnvironmentConfig"
        },
        "environmentSize": {
          "type": "string",
          "description": "Optional. The size of the Cloud Composer environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "enum": [
            "ENVIRONMENT_SIZE_UNSPECIFIED",
            "ENVIRONMENT_SIZE_SMALL",
            "ENVIRONMENT_SIZE_MEDIUM",
            "ENVIRONMENT_SIZE_LARGE",
            "ENVIRONMENT_SIZE_EXTRA_LARGE"
          ],
          "enumDescriptions": [
            "The size of the environment is unspecified.",
            "The environment size is small.",
            "The environment size is medium.",
            "The environment size is large.",
            "The environment size is extra large."
          ]
        },
        "softwareConfig": {
          "description": "Optional. The configuration settings for software inside the environment.",
          "$ref": "SoftwareConfig"
        },
        "recoveryConfig": {
          "description": "Optional. The Recovery settings configuration of an environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "$ref": "RecoveryConfig"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption options for the Cloud Composer environment and its dependencies. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "databaseConfig": {
          "description": "Optional. The configuration settings for Cloud SQL instance used internally by Apache Airflow software.",
          "$ref": "DatabaseConfig"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. The maintenance window is the period when Cloud Composer components may undergo maintenance. It is defined so that maintenance is not executed during peak hours or critical time periods. The system will not be under maintenance for every occurrence of this window, but when maintenance is planned, it will be scheduled during the window. The maintenance window period must encompass at least 12 hours per week. This may be split into multiple chunks, each with a size of at least 4 hours. If this value is omitted, the default value for maintenance window is applied. By default, maintenance windows are from 00:00:00 to 04:00:00 (GMT) on Friday, Saturday, and Sunday every week."
        }
      },
      "type": "object",
      "description": "Configuration information for an environment.",
      "id": "EnvironmentConfig"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "NetworkingConfig": {
      "id": "NetworkingConfig",
      "type": "object",
      "properties": {
        "connectionType": {
          "type": "string",
          "enumDescriptions": [
            "No specific connection type was requested, so the environment uses the default value corresponding to the rest of its configuration.",
            "Requests the use of VPC peerings for connecting the Customer and Tenant projects.",
            "Requests the use of Private Service Connect for connecting the Customer and Tenant projects."
          ],
          "description": "Optional. Indicates the user requested specific connection type between Tenant and Customer projects. You cannot set networking connection type in public IP environment.",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "VPC_PEERING",
            "PRIVATE_SERVICE_CONNECT"
          ]
        }
      },
      "description": "Configuration options for networking connections in the Composer 2 environment."
    },
    "ListUserWorkloadsConfigMapsResponse": {
      "description": "The user workloads ConfigMaps for a given environment.",
      "type": "object",
      "id": "ListUserWorkloadsConfigMapsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        },
        "userWorkloadsConfigMaps": {
          "type": "array",
          "description": "The list of ConfigMaps returned by a ListUserWorkloadsConfigMapsRequest.",
          "items": {
            "$ref": "UserWorkloadsConfigMap"
          }
        }
      }
    },
    "ScheduledSnapshotsConfig": {
      "description": "The configuration for scheduled snapshot creation mechanism.",
      "id": "ScheduledSnapshotsConfig",
      "properties": {
        "timeZone": {
          "description": "Optional. Time zone that sets the context to interpret snapshot_creation_schedule.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether scheduled snapshots creation is enabled."
        },
        "snapshotLocation": {
          "description": "Optional. The Cloud Storage location for storing automatically created snapshots.",
          "type": "string"
        },
        "snapshotCreationSchedule": {
          "type": "string",
          "description": "Optional. The cron expression representing the time when snapshots creation mechanism runs. This field is subject to additional validation around frequency of execution."
        }
      },
      "type": "object"
    },
    "DatabaseConfig": {
      "type": "object",
      "description": "The configuration of Cloud SQL instance that is used by the Apache Airflow software.",
      "id": "DatabaseConfig",
      "properties": {
        "machineType": {
          "description": "Optional. Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. If not specified, db-n1-standard-2 will be used. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone where the Airflow database is created. If zone is provided, it must be in the region selected for the environment. If zone is not provided, a zone is automatically selected. The zone can only be set during environment creation. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.*."
        }
      }
    },
    "TrafficRoutingConfig": {
      "id": "TrafficRoutingConfig",
      "properties": {
        "cloudRunFunctionsRouting": {
          "description": "Optional. Controls how network traffic to Cloud Run functions is routed.",
          "enumDescriptions": [
            "Unspecified routing mode. When provided in a create environment request, this value will be treated as `DIRECT`. When provided in an update environment request, this value will be ignored and the existing routing mode will be preserved.",
            "Route traffic directly to the destination service.",
            "Route traffic via connected network attachment. This mode requires that the environment has connectivity to the user's VPC network."
          ],
          "type": "string",
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "DIRECT",
            "VIA_NETWORK_ATTACHMENT"
          ]
        }
      },
      "type": "object",
      "description": "Configuration for network traffic routing from the Cloud Composer environment to other services."
    },
    "PrivateEnvironmentConfig": {
      "description": "The configuration information for configuring a Private IP Cloud Composer environment.",
      "type": "object",
      "id": "PrivateEnvironmentConfig",
      "properties": {
        "cloudSqlIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range in tenant project will be reserved for Cloud SQL. Needs to be disjoint from web_server_ipv4_cidr_block",
          "type": "string"
        },
        "webServerIpv4ReservedRange": {
          "type": "string",
          "description": "Output only. The IP range reserved for the tenant project's App Engine VMs. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "readOnly": true
        },
        "privateClusterConfig": {
          "description": "Optional. Configuration for the private GKE cluster for a Private IP Cloud Composer environment.",
          "$ref": "PrivateClusterConfig"
        },
        "networkingType": {
          "description": "Optional. Networking type for the environment, either private or public.",
          "enum": [
            "NETWORKING_TYPE_UNSPECIFIED",
            "PRIVATE",
            "PUBLIC"
          ],
          "enumDescriptions": [
            "Default networking type.",
            "Private IP Cloud Composer environment with no access to the internet.",
            "Cloud Composer environment with access to the internet."
          ],
          "type": "string"
        },
        "cloudComposerNetworkIpv4ReservedRange": {
          "description": "Output only. The IP range reserved for the tenant project's Cloud Composer network. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "readOnly": true,
          "type": "string"
        },
        "enablePrivatelyUsedPublicIps": {
          "type": "boolean",
          "description": "Optional. When enabled, IPs from public (non-RFC1918) ranges can be used for `IPAllocationPolicy.cluster_ipv4_cidr_block` and `IPAllocationPolicy.service_ipv4_cidr_block`."
        },
        "enablePrivateEnvironment": {
          "type": "boolean",
          "description": "Optional. If `true`, a Private IP Cloud Composer environment is created. If this field is set to true, `IPAllocationPolicy.use_ip_aliases` must be set to true for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. This field is going to be deprecated. Use `networking_type` instead."
        },
        "networkingConfig": {
          "$ref": "NetworkingConfig",
          "description": "Optional. Configuration for the network connections configuration in the environment."
        },
        "cloudComposerNetworkIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IP range for Cloud Composer Network in tenant project will be reserved. Needs to be disjoint from private_cluster_config.master_ipv4_cidr_block and cloud_sql_ipv4_cidr_block. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
        },
        "cloudComposerConnectionSubnetwork": {
          "description": "Optional. When specified, the environment will use Private Service Connect instead of VPC peerings to connect to Cloud SQL in the Tenant Project, and the PSC endpoint in the Customer Project will use an IP address from this subnetwork.",
          "type": "string"
        },
        "webServerIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for web server will be reserved. Needs to be disjoint from private_cluster_config.master_ipv4_cidr_block and cloud_sql_ipv4_cidr_block. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "enablePrivateBuildsOnly": {
          "description": "Optional. If `true`, builds performed during operations that install Python packages have only private connectivity to Google services (including Artifact Registry) and VPC network (if either `NodeConfig.network` and `NodeConfig.subnetwork` fields or `NodeConfig.composer_network_attachment` field are specified). If `false`, the builds also have access to the internet. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "boolean"
        }
      }
    },
    "ComposerWorkload": {
      "type": "object",
      "properties": {
        "status": {
          "readOnly": true,
          "$ref": "ComposerWorkloadStatus",
          "description": "Output only. Status of a workload."
        },
        "type": {
          "enumDescriptions": [
            "Not able to determine the type of the workload.",
            "Celery worker.",
            "Kubernetes worker.",
            "Workload created by Kubernetes Pod Operator.",
            "Airflow scheduler.",
            "Airflow Dag processor.",
            "Airflow triggerer.",
            "Airflow web server UI.",
            "Redis."
          ],
          "type": "string",
          "description": "Type of a workload.",
          "enum": [
            "COMPOSER_WORKLOAD_TYPE_UNSPECIFIED",
            "CELERY_WORKER",
            "KUBERNETES_WORKER",
            "KUBERNETES_OPERATOR_POD",
            "SCHEDULER",
            "DAG_PROCESSOR",
            "TRIGGERER",
            "WEB_SERVER",
            "REDIS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of a workload."
        }
      },
      "description": "Information about a single workload.",
      "id": "ComposerWorkload"
    },
    "PollAirflowCommandRequest": {
      "description": "Poll Airflow Command request.",
      "type": "object",
      "properties": {
        "nextLineNumber": {
          "description": "Line number from which new logs should be fetched.",
          "format": "int32",
          "type": "integer"
        },
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        },
        "executionId": {
          "description": "The unique ID of the command execution.",
          "type": "string"
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        }
      },
      "id": "PollAirflowCommandRequest"
    },
    "SoftwareConfig": {
      "type": "object",
      "description": "Specifies the selection and configuration of software inside the environment.",
      "properties": {
        "webServerPluginsMode": {
          "type": "string",
          "description": "Optional. Whether or not the web server uses custom plugins. If unspecified, the field defaults to `PLUGINS_ENABLED`. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "enumDescriptions": [
            "Default mode.",
            "Web server plugins are not supported.",
            "Web server plugins are supported."
          ],
          "enum": [
            "WEB_SERVER_PLUGINS_MODE_UNSPECIFIED",
            "PLUGINS_DISABLED",
            "PLUGINS_ENABLED"
          ]
        },
        "cloudDataLineageIntegration": {
          "description": "Optional. The configuration for Cloud Data Lineage integration.",
          "$ref": "CloudDataLineageIntegration"
        },
        "auditLogsReplicationMode": {
          "description": "Optional. The selected mode of audit logs replication. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "enum": [
            "AUDIT_LOGS_REPLICATION_MODE_UNSPECIFIED",
            "AUDIT_LOGS_REPLICATION_DISABLED",
            "AUDIT_LOGS_REPLICATION_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The user's choice of logs replication mode is unspecified.",
            "The user opted out of audit logs replication.",
            "The user opted in to audit logs replication."
          ]
        },
        "schedulerCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of schedulers for Airflow. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*."
        },
        "envVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional environment variables to provide to the Apache Airflow scheduler, worker, and webserver processes. Environment variable names must match the regular expression `a-zA-Z_*`. They cannot specify Apache Airflow software configuration overrides (they cannot match the regular expression `AIRFLOW__[A-Z0-9_]+__[A-Z0-9_]+`), and they cannot match any of the following reserved names: * `AIRFLOW_HOME` * `C_FORCE_ROOT` * `CONTAINER_NAME` * `DAGS_FOLDER` * `GCP_PROJECT` * `GCS_BUCKET` * `GKE_CLUSTER_NAME` * `SQL_DATABASE` * `SQL_INSTANCE` * `SQL_PASSWORD` * `SQL_PROJECT` * `SQL_REGION` * `SQL_USER`"
        },
        "pypiPackages": {
          "description": "Optional. Custom Python Package Index (PyPI) packages to be installed in the environment. Keys refer to the lowercase package name such as \"numpy\" and values are the lowercase extras and version specifier such as \"==1.12.0\", \"[devel,gcp_api]\", or \"[devel]>=1.8.2, <1.9.2\". To specify a package without pinning it to a version specifier, use the empty string as the value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        },
        "airflowConfigOverrides": {
          "description": "Optional. Apache Airflow configuration properties to override. Property keys contain the section and property names, separated by a hyphen, for example \"core-dags_are_paused_at_creation\". Section names must not contain hyphens (\"-\"), opening square brackets (\"[\"), or closing square brackets (\"]\"). The property name must not be empty and must not contain an equals sign (\"=\") or semicolon (\";\"). Section and property names must not contain a period (\".\"). Apache Airflow configuration property names must be written in [snake_case](https://en.wikipedia.org/wiki/Snake_case). Property values can contain any character, and can be written in any lower/upper case format. Certain Apache Airflow configuration property values are [blocked](/composer/docs/concepts/airflow-configurations), and cannot be overridden.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pythonVersion": {
          "type": "string",
          "description": "Optional. The major version of Python used to run the Apache Airflow scheduler, worker, and webserver processes. Can be set to '2' or '3'. If not specified, the default is '3'. Cannot be updated. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use Python major version 3."
        }
      },
      "id": "SoftwareConfig"
    },
    "AllowedIpRange": {
      "description": "Allowed IP range with user-provided description.",
      "type": "object",
      "properties": {
        "value": {
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. Examples: `192.168.1.1` or `192.168.0.0/16` or `2001:db8::/32` or `2001:0db8:0000:0042:0000:8a2e:0370:7334`. IP range prefixes should be properly truncated. For example, `1.2.3.4/24` should be truncated to `1.2.3.0/24`. Similarly, for IPv6, `2001:db8::1/32` should be truncated to `2001:db8::/32`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description. It must contain at most 300 characters.",
          "type": "string"
        }
      },
      "id": "AllowedIpRange"
    },
    "RestartWebServerRequest": {
      "id": "RestartWebServerRequest",
      "description": "Restart Airflow web server.",
      "type": "object",
      "properties": {}
    },
    "ExecuteAirflowCommandResponse": {
      "properties": {
        "executionId": {
          "type": "string",
          "description": "The unique ID of the command execution for polling."
        },
        "error": {
          "description": "Error message. Empty if there was no error.",
          "type": "string"
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        },
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        }
      },
      "type": "object",
      "id": "ExecuteAirflowCommandResponse",
      "description": "Response to ExecuteAirflowCommandRequest."
    },
    "MasterAuthorizedNetworksConfig": {
      "properties": {
        "enabled": {
          "description": "Optional. Whether or not master authorized networks feature is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "description": "Up to 50 external networks that could access Kubernetes master through HTTPS.",
          "items": {
            "$ref": "CidrBlock"
          },
          "type": "array"
        }
      },
      "id": "MasterAuthorizedNetworksConfig",
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "type": "object"
    },
    "PrivateClusterConfig": {
      "type": "object",
      "id": "PrivateClusterConfig",
      "properties": {
        "masterIpv4ReservedRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP range in CIDR notation to use for the hosted master network. This range is used for assigning internal IP addresses to the cluster master or set of masters and to the internal load balancer virtual IP. This range must not overlap with any other ranges in use within the cluster's network."
        },
        "enablePrivateEndpoint": {
          "description": "Optional. If `true`, access to the public endpoint of the GKE cluster is denied.",
          "type": "boolean"
        },
        "masterIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IPv4 range for GKE master will be reserved. If left blank, the default value of '172.16.0.0/23' is used.",
          "type": "string"
        }
      },
      "description": "Configuration options for the private GKE cluster in a Cloud Composer environment."
    },
    "StopAirflowCommandResponse": {
      "id": "StopAirflowCommandResponse",
      "type": "object",
      "description": "Response to StopAirflowCommandRequest.",
      "properties": {
        "isDone": {
          "description": "Whether the execution is still running.",
          "type": "boolean"
        },
        "output": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output message from stopping execution request."
        }
      }
    },
    "WorkerResource": {
      "id": "WorkerResource",
      "type": "object",
      "properties": {
        "storageGb": {
          "description": "Optional. Storage (GB) request and limit for a single Airflow worker replica.",
          "type": "number",
          "format": "float"
        },
        "cpu": {
          "type": "number",
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow worker replica."
        },
        "minCount": {
          "type": "integer",
          "description": "Optional. Minimum number of workers for autoscaling.",
          "format": "int32"
        },
        "memoryGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Memory (GB) request and limit for a single Airflow worker replica."
        },
        "maxCount": {
          "description": "Optional. Maximum number of workers for autoscaling.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Configuration for resources used by Airflow workers."
    },
    "DagProcessorResource": {
      "type": "object",
      "id": "DagProcessorResource",
      "properties": {
        "memoryGb": {
          "format": "float",
          "description": "Optional. Memory (GB) request and limit for a single Airflow DAG processor replica.",
          "type": "number"
        },
        "storageGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Storage (GB) request and limit for a single Airflow DAG processor replica."
        },
        "count": {
          "type": "integer",
          "description": "Optional. The number of DAG processors. If not provided or set to 0, a single DAG processor instance will be created.",
          "format": "int32"
        },
        "cpu": {
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow DAG processor replica.",
          "type": "number"
        }
      },
      "description": "Configuration for resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
    },
    "Environment": {
      "id": "Environment",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this environment was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this environment was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\" EnvironmentId must start with a lowercase letter followed by up to 63 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "uuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The UUID (Universally Unique IDentifier) associated with this environment. This value is generated when the environment is created."
        },
        "config": {
          "description": "Optional. Configuration parameters for this environment.",
          "$ref": "EnvironmentConfig"
        },
        "storageConfig": {
          "description": "Optional. Storage configuration for this environment.",
          "$ref": "StorageConfig"
        },
        "state": {
          "type": "string",
          "description": "The current state of the environment.",
          "enumDescriptions": [
            "The state of the environment is unknown.",
            "The environment is in the process of being created.",
            "The environment is currently running and healthy. It is ready for use.",
            "The environment is being updated. It remains usable but cannot receive additional update requests or be deleted at this time.",
            "The environment is currently hibernated. It does not run any DAGs.",
            "The environment is undergoing deletion. It cannot be used.",
            "The environment has encountered an error and cannot be used."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "UPDATING",
            "HIBERNATED",
            "DELETING",
            "ERROR"
          ]
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. User-defined labels for this environment. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mode": {
          "description": "Optional. Selects the environment mode that determines what settings are customizable and what features are available in the environment.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Represents the default mode, which allows full customization of the environment. It should be used for all production and customized test environments.",
            "Represents the development mode, which has constraints on the environment configuration, but offers an additional feature (environment hibernation). It should be used only for test environments."
          ]
        }
      },
      "description": "An environment for running orchestration tasks.",
      "type": "object"
    },
    "ExitInfo": {
      "id": "ExitInfo",
      "description": "Information about how a command ended.",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message. Empty if there was no error."
        },
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "The exit code from the command execution."
        }
      },
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "type": "object"
    },
    "WebServerNetworkAccessControl": {
      "description": "Network-level access control policy for the Airflow web server.",
      "properties": {
        "allowedIpRanges": {
          "items": {
            "$ref": "AllowedIpRange"
          },
          "description": "A collection of allowed IP ranges with descriptions.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "WebServerNetworkAccessControl"
    },
    "AirflowMetadataRetentionPolicyConfig": {
      "description": "The policy for airflow metadata database retention.",
      "properties": {
        "retentionDays": {
          "format": "int32",
          "description": "Optional. How many days data should be retained for.",
          "type": "integer"
        },
        "retentionMode": {
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Retention policy is enabled.",
            "Retention policy is disabled."
          ],
          "type": "string",
          "description": "Optional. Retention can be either enabled or disabled.",
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "RETENTION_MODE_ENABLED",
            "RETENTION_MODE_DISABLED"
          ]
        }
      },
      "type": "object",
      "id": "AirflowMetadataRetentionPolicyConfig"
    },
    "ListImageVersionsResponse": {
      "description": "The ImageVersions in a project and location.",
      "type": "object",
      "id": "ListImageVersionsResponse",
      "properties": {
        "imageVersions": {
          "description": "The list of supported ImageVersions in a location.",
          "items": {
            "$ref": "ImageVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        }
      }
    },
    "SaveSnapshotResponse": {
      "properties": {
        "snapshotPath": {
          "description": "The fully-resolved Cloud Storage path of the created snapshot, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\". This field is populated only if the snapshot creation was successful.",
          "type": "string"
        }
      },
      "id": "SaveSnapshotResponse",
      "description": "Response to SaveSnapshotRequest.",
      "type": "object"
    },
    "CheckUpgradeRequest": {
      "description": "Request to check whether image upgrade will succeed.",
      "id": "CheckUpgradeRequest",
      "properties": {
        "imageVersion": {
          "type": "string",
          "description": "The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview)."
        }
      },
      "type": "object"
    },
    "Line": {
      "properties": {
        "content": {
          "description": "Text content of the log line.",
          "type": "string"
        },
        "lineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Number of the line."
        }
      },
      "id": "Line",
      "type": "object",
      "description": "Contains information about a single line from logs."
    },
    "UserWorkloadsConfigMap": {
      "id": "UserWorkloadsConfigMap",
      "description": "User workloads ConfigMap used by Airflow tasks that run with Kubernetes executor or KubernetesPodOperator.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\""
        },
        "data": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The \"data\" field of Kubernetes ConfigMap, organized in key-value pairs. For details see: https://kubernetes.io/docs/concepts/configuration/configmap/ Example: { \"example_key\": \"example_value\", \"another_key\": \"another_value\" }",
          "type": "object"
        }
      }
    },
    "ListWorkloadsResponse": {
      "description": "Response to ListWorkloadsRequest.",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "workloads": {
          "items": {
            "$ref": "ComposerWorkload"
          },
          "description": "The list of environment workloads.",
          "type": "array"
        }
      },
      "id": "ListWorkloadsResponse",
      "type": "object"
    },
    "HibernateEnvironmentRequest": {
      "description": "Request to hibernate a Composer environment.",
      "properties": {},
      "id": "HibernateEnvironmentRequest",
      "type": "object"
    },
    "RecoveryConfig": {
      "description": "The Recovery settings of an environment.",
      "id": "RecoveryConfig",
      "properties": {
        "scheduledSnapshotsConfig": {
          "description": "Optional. The configuration for scheduled snapshot creation mechanism.",
          "$ref": "ScheduledSnapshotsConfig"
        }
      },
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "The encryption options for the Cloud Composer environment and its dependencies. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Customer-managed Encryption Key available through Google's Key Management Service. Cannot be updated. If not specified, Google-managed key will be used."
        }
      },
      "type": "object",
      "id": "EncryptionConfig"
    },
    "SchedulerResource": {
      "id": "SchedulerResource",
      "description": "Configuration for resources used by Airflow schedulers.",
      "properties": {
        "storageGb": {
          "type": "number",
          "format": "float",
          "description": "Optional. Storage (GB) request and limit for a single Airflow scheduler replica."
        },
        "cpu": {
          "description": "Optional. CPU request and limit for a single Airflow scheduler replica.",
          "format": "float",
          "type": "number"
        },
        "memoryGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Memory (GB) request and limit for a single Airflow scheduler replica."
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of schedulers."
        }
      },
      "type": "object"
    },
    "ListUserWorkloadsSecretsResponse": {
      "properties": {
        "userWorkloadsSecrets": {
          "type": "array",
          "items": {
            "$ref": "UserWorkloadsSecret"
          },
          "description": "The list of Secrets returned by a ListUserWorkloadsSecretsRequest."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        }
      },
      "id": "ListUserWorkloadsSecretsResponse",
      "type": "object",
      "description": "The user workloads Secrets for a given environment."
    },
    "NodeConfig": {
      "id": "NodeConfig",
      "type": "object",
      "properties": {
        "trafficRoutingConfig": {
          "description": "Optional. Configures how the environment routes traffic to other services. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "$ref": "TrafficRoutingConfig"
        },
        "subnetwork": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/regions/{regionId}/subnetworks/{subnetworkId}\" If a subnetwork is provided, `nodeConfig.network` must also be provided, and the subnetwork must belong to the enclosing environment's project and location.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of instance tags applied to all node VMs. Tags are used to identify valid sources or targets for network firewalls. Each tag within the list must comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt). Cannot be updated.",
          "type": "array"
        },
        "ipAllocationPolicy": {
          "description": "Optional. The IPAllocationPolicy fields for the GKE cluster.",
          "$ref": "IPAllocationPolicy"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The Google Cloud Platform Service Account to be used by the workloads. If a service account is not specified, the \"default\" Compute Engine service account is used. Cannot be updated."
        },
        "maxPodsPerNode": {
          "description": "Optional. The maximum number of pods per node in the Cloud Composer GKE cluster. The value must be between 8 and 110 and it can be set only if the environment is VPC-native. The default value is 32. Values of this field will be propagated both to the `default-pool` node pool of the newly created GKE cluster, and to the default \"Maximum Pods per Node\" value which is used for newly created node pools if their value is not explicitly set during node pool creation. For more information, see [Optimizing IP address allocation] (https://cloud.google.com/kubernetes-engine/docs/how-to/flexible-pod-cidr). Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "format": "int32",
          "type": "integer"
        },
        "oauthScopes": {
          "description": "Optional. The set of Google API scopes to be made available on all node VMs. If `oauth_scopes` is empty, defaults to [\"https://www.googleapis.com/auth/cloud-platform\"]. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The disk size in GB used for node VMs. Minimum size is 30GB. If unspecified, defaults to 100GB. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "composerNetworkAttachment": {
          "description": "Optional. Network Attachment that Cloud Composer environment is connected to, which provides connectivity with a user's VPC network. Takes precedence over network and subnetwork settings. If not provided, but network and subnetwork are defined during environment, it will be provisioned. If not provided and network and subnetwork are also empty, then connectivity to user's VPC network is disabled. Network attachment must be provided in format projects/{project}/regions/{region}/networkAttachments/{networkAttachment}. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string"
        },
        "composerInternalIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The IP range in CIDR notation to use internally by Cloud Composer. IP addresses are not reserved - and the same range can be used by multiple Cloud Composer environments. In case of overlap, IPs from this range will not be accessible in the user's VPC network. Cannot be updated. If not specified, the default value of '100.64.128.0/20' is used. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "location": {
          "description": "Optional. The Compute Engine [zone](/compute/docs/regions-zones) in which to deploy the VMs used to run the Apache Airflow software, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}\". This `location` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.machineType` are specified, `nodeConfig.machineType` must belong to this `location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If only one field (`location` or `nodeConfig.machineType`) is specified, the location information from the specified field will be propagated to the unspecified field. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "enableIpMasqAgent": {
          "type": "boolean",
          "description": "Optional. Deploys 'ip-masq-agent' daemon set in the GKE cluster and defines nonMasqueradeCIDRs equals to pod IP range so IP masquerading is used for all destination addresses, except between pods traffic. See: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent"
        },
        "network": {
          "description": "Optional. The Compute Engine network to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/global/networks/{networkId}\". If unspecified, the default network in the environment's project is used. If a [Custom Subnet Network](/vpc/docs/vpc#vpc_networks_and_subnets) is provided, `nodeConfig.subnetwork` must also be provided. For [Shared VPC](/vpc/docs/shared-vpc) subnetwork requirements, see `nodeConfig.subnetwork`.",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. The Compute Engine [machine type](/compute/docs/machine-types) used for cluster instances, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}/machineTypes/{machineTypeId}\". The `machineType` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.location` are specified, this `machineType` must belong to the `nodeConfig.location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If exactly one of this field and `nodeConfig.location` is specified, the location information from the specified field will be propagated to the unspecified field. The `machineTypeId` must not be a [shared-core machine type](/compute/docs/machine-types#sharedcore). If this field is unspecified, the `machineTypeId` defaults to \"n1-standard-1\". This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        }
      },
      "description": "The configuration information for the Kubernetes Engine nodes running the Apache Airflow software."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "IPAllocationPolicy": {
      "description": "Configuration for controlling how IPs are allocated in the GKE cluster.",
      "id": "IPAllocationPolicy",
      "properties": {
        "servicesIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The IP address range of the services IP addresses in this cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use. Specify `services_secondary_range_name` or `services_ipv4_cidr_block` but not both."
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "Optional. The name of the cluster's secondary range used to allocate IP addresses to pods. Specify either `cluster_secondary_range_name` or `cluster_ipv4_cidr_block` but not both. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true."
        },
        "clusterIpv4CidrBlock": {
          "description": "Optional. The IP address range used to allocate IP addresses to pods in the cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use. Specify `cluster_secondary_range_name` or `cluster_ipv4_cidr_block` but not both.",
          "type": "string"
        },
        "servicesSecondaryRangeName": {
          "description": "Optional. The name of the services' secondary range used to allocate IP addresses to the cluster. Specify either `services_secondary_range_name` or `services_ipv4_cidr_block` but not both. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true.",
          "type": "string"
        },
        "useIpAliases": {
          "type": "boolean",
          "description": "Optional. Whether or not to enable Alias IPs in the GKE cluster. If `true`, a VPC-native cluster is created. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use VPC-native GKE clusters."
        }
      },
      "type": "object"
    },
    "ResumeEnvironmentRequest": {
      "id": "ResumeEnvironmentRequest",
      "description": "Request to resume a Composer environment.",
      "properties": {},
      "type": "object"
    },
    "ComposerWorkloadStatus": {
      "type": "object",
      "id": "ComposerWorkloadStatus",
      "description": "Workload status.",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. Workload state.",
          "enum": [
            "COMPOSER_WORKLOAD_STATE_UNSPECIFIED",
            "PENDING",
            "OK",
            "WARNING",
            "ERROR",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not able to determine the status of the workload.",
            "Workload is in pending state and has not yet started.",
            "Workload is running fine.",
            "Workload is running but there are some non-critical problems.",
            "Workload is not running due to an error.",
            "Workload has finished execution with success.",
            "Workload has finished execution with failure."
          ],
          "type": "string"
        },
        "detailedStatusMessage": {
          "description": "Output only. Detailed message of the status.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Text to provide more descriptive status."
        }
      }
    },
    "CloudDataLineageIntegration": {
      "id": "CloudDataLineageIntegration",
      "description": "Configuration for Cloud Data Lineage integration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether or not Cloud Data Lineage integration is enabled."
        }
      },
      "type": "object"
    },
    "WebServerConfig": {
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. If not specified, composer-n1-webserver-2 will be used. Value custom is returned only in response, if Airflow web server parameters were manually changed to a non-standard values."
        }
      },
      "description": "The configuration settings for the Airflow web server App Engine instance. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
      "type": "object",
      "id": "WebServerConfig"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "DatabaseFailoverResponse": {
      "type": "object",
      "description": "Response for DatabaseFailoverRequest.",
      "properties": {},
      "id": "DatabaseFailoverResponse"
    },
    "ImageVersion": {
      "properties": {
        "creationDisabled": {
          "type": "boolean",
          "description": "Whether it is impossible to create an environment with the image version."
        },
        "upgradeDisabled": {
          "description": "Whether it is impossible to upgrade an environment running with the image version.",
          "type": "boolean"
        },
        "supportedPythonVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "supported python versions"
        },
        "isDefault": {
          "description": "Whether this is the default ImageVersion used by Composer during environment creation if no input ImageVersion is specified.",
          "type": "boolean"
        },
        "releaseDate": {
          "description": "The date of the version release.",
          "$ref": "Date"
        },
        "imageVersionId": {
          "type": "string",
          "description": "The string identifier of the ImageVersion, in the form: \"composer-x.y.z-airflow-a.b.c\""
        }
      },
      "type": "object",
      "id": "ImageVersion",
      "description": "Image Version information"
    },
    "WorkloadsConfig": {
      "description": "The Kubernetes workloads configuration for GKE cluster associated with the Cloud Composer environment. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
      "properties": {
        "dagProcessor": {
          "$ref": "DagProcessorResource",
          "description": "Optional. Resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "worker": {
          "$ref": "WorkerResource",
          "description": "Optional. Resources used by Airflow workers."
        },
        "scheduler": {
          "$ref": "SchedulerResource",
          "description": "Optional. Resources used by Airflow schedulers."
        },
        "triggerer": {
          "description": "Optional. Resources used by Airflow triggerers.",
          "$ref": "TriggererResource"
        },
        "webServer": {
          "description": "Optional. Resources used by Airflow web server.",
          "$ref": "WebServerResource"
        }
      },
      "type": "object",
      "id": "WorkloadsConfig"
    },
    "StopAirflowCommandRequest": {
      "description": "Stop Airflow Command request.",
      "id": "StopAirflowCommandRequest",
      "type": "object",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "The unique ID of the command execution."
        },
        "force": {
          "description": "If true, the execution is terminated forcefully (SIGKILL). If false, the execution is stopped gracefully, giving it time for cleanup.",
          "type": "boolean"
        },
        "podNamespace": {
          "description": "The namespace of the pod where the command is executed.",
          "type": "string"
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        }
      }
    },
    "StorageConfig": {
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Optional. The name of the Cloud Storage bucket used by the environment. No `gs://` prefix.",
          "type": "string"
        }
      },
      "description": "The configuration for data storage in the environment.",
      "id": "StorageConfig"
    },
    "ExecuteAirflowCommandRequest": {
      "type": "object",
      "description": "Execute Airflow Command request.",
      "id": "ExecuteAirflowCommandRequest",
      "properties": {
        "subcommand": {
          "description": "Airflow subcommand.",
          "type": "string"
        },
        "command": {
          "type": "string",
          "description": "Airflow command."
        },
        "parameters": {
          "items": {
            "type": "string"
          },
          "description": "Parameters for the Airflow command/subcommand as an array of arguments. It may contain positional arguments like `[\"my-dag-id\"]`, key-value parameters like `[\"--foo=bar\"]` or `[\"--foo\",\"bar\"]`, or other flags like `[\"-f\"]`.",
          "type": "array"
        }
      }
    },
    "PollAirflowCommandResponse": {
      "description": "Response to PollAirflowCommandRequest.",
      "type": "object",
      "properties": {
        "exitInfo": {
          "description": "The result exit status of the command.",
          "$ref": "ExitInfo"
        },
        "output": {
          "description": "Output from the command execution. It may not contain the full output and the caller may need to poll for more lines.",
          "type": "array",
          "items": {
            "$ref": "Line"
          }
        },
        "outputEnd": {
          "description": "Whether the command execution has finished and there is no more output.",
          "type": "boolean"
        }
      },
      "id": "PollAirflowCommandResponse"
    },
    "DatabaseFailoverRequest": {
      "id": "DatabaseFailoverRequest",
      "type": "object",
      "description": "Request to trigger database failover (only for highly resilient environments).",
      "properties": {}
    },
    "DataRetentionConfig": {
      "id": "DataRetentionConfig",
      "description": "The configuration setting for Airflow database data retention mechanism.",
      "properties": {
        "airflowDatabaseRetentionDays": {
          "description": "Optional. The number of days describing for how long to store event-based records in airflow database. If the retention mechanism is enabled this value must be a positive integer otherwise, value should be set to 0.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "taskLogsRetentionConfig": {
          "$ref": "TaskLogsRetentionConfig",
          "description": "Optional. The configuration settings for task logs retention"
        },
        "airflowMetadataRetentionConfig": {
          "$ref": "AirflowMetadataRetentionPolicyConfig",
          "description": "Optional. The retention policy for airflow metadata database."
        }
      },
      "type": "object"
    },
    "LoadSnapshotResponse": {
      "id": "LoadSnapshotResponse",
      "properties": {},
      "description": "Response to LoadSnapshotRequest.",
      "type": "object"
    },
    "LoadSnapshotRequest": {
      "type": "object",
      "description": "Request to load a snapshot into a Cloud Composer environment.",
      "id": "LoadSnapshotRequest",
      "properties": {
        "skipPypiPackagesInstallation": {
          "type": "boolean",
          "description": "Whether or not to skip installing Pypi packages when loading the environment's state."
        },
        "skipGcsDataCopying": {
          "description": "Whether or not to skip copying Cloud Storage data when loading the environment's state.",
          "type": "boolean"
        },
        "snapshotPath": {
          "type": "string",
          "description": "A Cloud Storage path to a snapshot to load, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\"."
        },
        "skipAirflowOverridesSetting": {
          "description": "Whether or not to skip setting Airflow overrides when loading the environment's state.",
          "type": "boolean"
        },
        "skipEnvironmentVariablesSetting": {
          "description": "Whether or not to skip setting environment variables when loading the environment's state.",
          "type": "boolean"
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "The configuration settings for Cloud Composer maintenance window. The following example: ``` { \"startTime\":\"2019-08-01T01:00:00Z\" \"endTime\":\"2019-08-01T07:00:00Z\" \"recurrence\":\"FREQ=WEEKLY;BYDAY=TU,WE\" } ``` would define a maintenance window between 01 and 07 hours UTC during each Tuesday and Wednesday.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Maintenance window end time. It is used only to calculate the duration of the maintenance window. The value for end_time must be in the future, relative to `start_time`."
        },
        "recurrence": {
          "type": "string",
          "description": "Required. Maintenance window recurrence. Format is a subset of [RFC-5545](https://tools.ietf.org/html/rfc5545) `RRULE`. The only allowed values for `FREQ` field are `FREQ=DAILY` and `FREQ=WEEKLY;BYDAY=...` Example values: `FREQ=WEEKLY;BYDAY=TU,WE`, `FREQ=DAILY`."
        },
        "startTime": {
          "description": "Required. Start time of the first recurrence of the maintenance window.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "environments": {
          "type": "array",
          "description": "The list of environments returned by a ListEnvironmentsRequest.",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "description": "The environments in a project and location."
    },
    "CheckUpgradeResponse": {
      "properties": {
        "containsPypiModulesConflict": {
          "enum": [
            "CONFLICT_RESULT_UNSPECIFIED",
            "CONFLICT",
            "NO_CONFLICT"
          ],
          "description": "Output only. Whether build has succeeded or failed on modules conflicts.",
          "type": "string",
          "enumDescriptions": [
            "It is unknown whether build had conflicts or not.",
            "There were python packages conflicts.",
            "There were no python packages conflicts."
          ],
          "readOnly": true
        },
        "buildLogUri": {
          "type": "string",
          "description": "Output only. Url for a docker build log of an upgraded image.",
          "readOnly": true
        },
        "configConflicts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ConfigConflict"
          },
          "description": "Output only. Contains information about environment configuration that is incompatible with the new image version, except for pypi modules conflicts."
        },
        "pypiConflictBuildLogExtract": {
          "type": "string",
          "description": "Output only. Extract from a docker image build log containing information about pypi modules conflicts.",
          "readOnly": true
        },
        "imageVersion": {
          "description": "Composer image for which the build was happening.",
          "type": "string"
        },
        "pypiDependencies": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Pypi dependencies specified in the environment configuration, at the time when the build was triggered."
        }
      },
      "description": "Message containing information about the result of an upgrade check operation.",
      "type": "object",
      "id": "CheckUpgradeResponse"
    },
    "TaskLogsRetentionConfig": {
      "id": "TaskLogsRetentionConfig",
      "type": "object",
      "description": "The configuration setting for Task Logs.",
      "properties": {
        "storageMode": {
          "enum": [
            "TASK_LOGS_STORAGE_MODE_UNSPECIFIED",
            "CLOUD_LOGGING_AND_CLOUD_STORAGE",
            "CLOUD_LOGGING_ONLY"
          ],
          "description": "Optional. The mode of storage for Airflow workers task logs.",
          "type": "string",
          "enumDescriptions": [
            "This configuration is not specified by the user.",
            "Store task logs in Cloud Logging and in the environment's Cloud Storage bucket.",
            "Store task logs in Cloud Logging only."
          ]
        }
      }
    },
    "SaveSnapshotRequest": {
      "id": "SaveSnapshotRequest",
      "properties": {
        "snapshotLocation": {
          "description": "Location in a Cloud Storage where the snapshot is going to be stored, e.g.: \"gs://my-bucket/snapshots\".",
          "type": "string"
        }
      },
      "description": "Request to create a snapshot of a Cloud Composer environment.",
      "type": "object"
    },
    "WebServerResource": {
      "description": "Configuration for resources used by Airflow web server.",
      "id": "WebServerResource",
      "type": "object",
      "properties": {
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for Airflow web server.",
          "format": "float",
          "type": "number"
        },
        "cpu": {
          "type": "number",
          "description": "Optional. CPU request and limit for Airflow web server.",
          "format": "float"
        },
        "storageGb": {
          "description": "Optional. Storage (GB) request and limit for Airflow web server.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "ConfigConflict": {
      "type": "object",
      "id": "ConfigConflict",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Conflict type is unknown.",
            "Conflict is blocking, the upgrade would fail.",
            "Conflict is non-blocking. The upgrade would succeed, but the environment configuration would be changed."
          ],
          "enum": [
            "CONFLICT_TYPE_UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
          "description": "Conflict type. It can be blocking or non-blocking."
        },
        "message": {
          "description": "Conflict message.",
          "type": "string"
        }
      },
      "description": "Environment configuration conflict."
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1beta1",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "imageVersions": {
              "methods": {
                "list": {
                  "description": "List ImageVersions for provided location.",
                  "response": {
                    "$ref": "ListImageVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameters": {
                    "includePastReleases": {
                      "location": "query",
                      "description": "Whether or not image versions from old releases should be included.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The maximum number of image_versions to return.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "List ImageVersions in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "composer.projects.locations.imageVersions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/imageVersions"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1beta1/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "filter": {
[...]
