{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloudcomposer.readonly": {
          "description": "See your Google Cloud Composer data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloudcomposer": {
          "description": "See, edit, configure, and delete your Google Cloud Composer data and see the email address for your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Composer",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "environments": {
              "methods": {
                "pollAirflowCommand": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "response": {
                    "$ref": "PollAirflowCommandResponse"
                  },
                  "id": "composer.projects.locations.environments.pollAirflowCommand",
                  "request": {
                    "$ref": "PollAirflowCommandRequest"
                  },
                  "description": "Polls Airflow CLI command execution and fetches logs.",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "path": "v1/{+environment}:pollAirflowCommand",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:pollAirflowCommand",
                  "httpMethod": "POST"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The environment to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "id": "composer.projects.locations.environments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete an environment."
                },
                "checkUpgrade": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:checkUpgrade",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "CheckUpgradeRequest"
                  },
                  "description": "Check if an upgrade operation on the environment will succeed. In case of problems detailed info can be found in the returned Operation.",
                  "id": "composer.projects.locations.environments.checkUpgrade",
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the environment to check upgrade for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1/{+environment}:checkUpgrade",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "fetchDatabaseProperties": {
                  "id": "composer.projects.locations.environments.fetchDatabaseProperties",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "description": "Fetches database properties.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FetchDatabasePropertiesResponse"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "description": "Required. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:fetchDatabaseProperties",
                  "path": "v1/{+environment}:fetchDatabaseProperties"
                },
                "executeAirflowCommand": {
                  "description": "Executes Airflow CLI command.",
                  "response": {
                    "$ref": "ExecuteAirflowCommandResponse"
                  },
                  "request": {
                    "$ref": "ExecuteAirflowCommandRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:executeAirflowCommand",
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"."
                    }
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.executeAirflowCommand",
                  "path": "v1/{+environment}:executeAirflowCommand"
                },
                "saveSnapshot": {
                  "description": "Creates a snapshots of a Cloud Composer environment. As a result of this operation, snapshot of environment's state is stored in a location specified in the SaveSnapshotRequest.",
                  "id": "composer.projects.locations.environments.saveSnapshot",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:saveSnapshot",
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "description": "The resource name of the source environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1/{+environment}:saveSnapshot",
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SaveSnapshotRequest"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "path": "v1/{+parent}/environments",
                  "parameters": {
                    "parent": {
                      "description": "List environments in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of environments to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "id": "composer.projects.locations.environments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "httpMethod": "GET",
                  "description": "List environments."
                },
                "loadSnapshot": {
                  "parameterOrder": [
                    "environment"
                  ],
                  "id": "composer.projects.locations.environments.loadSnapshot",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:loadSnapshot",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The resource name of the target environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "LoadSnapshotRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1/{+environment}:loadSnapshot",
                  "description": "Loads a snapshot of a Cloud Composer environment. As a result of this operation, a snapshot of environment's specified in LoadSnapshotRequest is loaded into the environment.",
                  "httpMethod": "POST"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "id": "composer.projects.locations.environments.create",
                  "description": "Create a new environment.",
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The parent must be of the form \"projects/{projectId}/locations/{locationId}\".",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/environments"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The resource name of the environment to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "composer.projects.locations.environments.get",
                  "description": "Get an existing environment."
                },
                "stopAirflowCommand": {
                  "path": "v1/{+environment}:stopAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "request": {
                    "$ref": "StopAirflowCommandRequest"
                  },
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:stopAirflowCommand",
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "StopAirflowCommandResponse"
                  },
                  "id": "composer.projects.locations.environments.stopAirflowCommand",
                  "description": "Stops Airflow CLI command execution.",
                  "httpMethod": "POST"
                },
                "restartWebServer": {
                  "request": {
                    "$ref": "RestartWebServerRequest"
                  },
                  "description": "Restart Airflow web server.",
                  "path": "v1/{+name}:restartWebServer",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the environment to restart the web server for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.restartWebServer",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:restartWebServer"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "id": "composer.projects.locations.environments.patch",
                  "description": "Update an environment.",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Required. A comma-separated list of paths, relative to `Environment`, of fields to update. For example, to set the version of scikit-learn to install in the environment to 0.19.0 and to remove an existing installation of numpy, the `updateMask` parameter would include the following two `paths` values: \"config.softwareConfig.pypiPackages.scikit-learn\" and \"config.softwareConfig.pypiPackages.numpy\". The included patch environment would specify the scikit-learn version as follows: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"scikit-learn\":\"==0.19.0\" } } } } Note that in the above example, any existing PyPI packages other than scikit-learn and numpy will be unaffected. Only one update type may be included in a single request's `updateMask`. For example, one cannot update both the PyPI packages and labels in the same request. However, it is possible to update multiple members of a map field simultaneously in the same request. For example, to set the labels \"label1\" and \"label2\" while clearing \"label3\" (assuming it already exists), one can provide the paths \"labels.label1\", \"labels.label2\", and \"labels.label3\" and populate the patch environment as follows: { \"labels\":{ \"label1\":\"new-label1-value\" \"label2\":\"new-label2-value\" } } Note that in the above example, any existing labels that are not included in the `updateMask` will be unaffected. It is also possible to replace an entire map field by providing the map field's path in the `updateMask`. The new value of the field will be that which is provided in the patch environment. For example, to delete all pre-existing user-specified PyPI packages and install botocore at version 1.7.14, the `updateMask` would contain the path \"config.softwareConfig.pypiPackages\", and the patch environment would be the following: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"botocore\":\"==1.7.14\" } } } } **Note:** Only the following fields can be updated: * `config.softwareConfig.pypiPackages` * Replace all custom custom PyPI packages. If a replacement package map is not included in `environment`, all custom PyPI packages are cleared. It is an error to provide both this mask and a mask specifying an individual package. * `config.softwareConfig.pypiPackages.`packagename * Update the custom PyPI package *packagename*, preserving other packages. To delete the package, include it in `updateMask`, and omit the mapping for it in `environment.config.softwareConfig.pypiPackages`. It is an error to provide both a mask of this form and the `config.softwareConfig.pypiPackages` mask. * `labels` * Replace all environment labels. If a replacement labels map is not included in `environment`, all labels are cleared. It is an error to provide both this mask and a mask specifying one or more individual labels. * `labels.`labelName * Set the label named *labelName*, while preserving other labels. To delete the label, include it in `updateMask` and omit its mapping in `environment.labels`. It is an error to provide both a mask of this form and the `labels` mask. * `config.nodeCount` * Horizontally scale the number of nodes in the environment. An integer greater than or equal to 3 must be provided in the `config.nodeCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerNetworkAccessControl` * Replace the environment's current `WebServerNetworkAccessControl`. * `config.softwareConfig.airflowConfigOverrides` * Replace all Apache Airflow config overrides. If a replacement config overrides map is not included in `environment`, all config overrides are cleared. It is an error to provide both this mask and a mask specifying one or more individual config overrides. * `config.softwareConfig.airflowConfigOverrides.`section-name * Override the Apache Airflow config property *name* in the section named *section*, preserving other properties. To delete the property override, include it in `updateMask` and omit its mapping in `environment.config.softwareConfig.airflowConfigOverrides`. It is an error to provide both a mask of this form and the `config.softwareConfig.airflowConfigOverrides` mask. * `config.softwareConfig.envVariables` * Replace all environment variables. If a replacement environment variable map is not included in `environment`, all custom environment variables are cleared. * `config.softwareConfig.schedulerCount` * Horizontally scale the number of schedulers in Airflow. A positive integer not greater than the number of nodes must be provided in the `config.softwareConfig.schedulerCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*. * `config.databaseConfig.machineType` * Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerConfig.machineType` * Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The relative resource name of the environment to update, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ]
                },
                "databaseFailover": {
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Triggers database failover (only for highly resilient environments).",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:databaseFailover",
                  "id": "composer.projects.locations.environments.databaseFailover",
                  "httpMethod": "POST",
                  "path": "v1/{+environment}:databaseFailover",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "request": {
                    "$ref": "DatabaseFailoverRequest"
                  },
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "Target environment: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "userWorkloadsConfigMaps": {
                  "methods": {
                    "update": {
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "description": "Updates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.update",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "httpMethod": "PUT",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.get",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the ConfigMap to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "description": "Gets an existing user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The ConfigMap to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Deletes a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. List ConfigMaps in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of ConfigMaps to return.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "path": "v1/{+parent}/userWorkloadsConfigMaps",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "description": "Lists user workloads ConfigMaps. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUserWorkloadsConfigMapsResponse"
                      }
                    },
                    "create": {
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "path": "v1/{+parent}/userWorkloadsConfigMaps",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "description": "Required. The environment name to create a ConfigMap for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.create"
                    }
                  }
                },
                "workloads": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The environment name to get workloads for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of environments to return."
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. The list filter. Currently only supports equality on the type field. The value of a field specified in the filter expression must be one ComposerWorkloadType enum option. It's possible to get multiple types using \"OR\" operator, e.g.: \"type=SCHEDULER OR type=CELERY_WORKER\". If not specified, all items are returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Lists workloads in a Cloud Composer environment. Workload is a unit that runs a single Composer component. This method is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/workloads",
                      "id": "composer.projects.locations.environments.workloads.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "userWorkloadsSecrets": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.delete",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The Secret to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.update",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\""
                        }
                      },
                      "description": "Updates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. List Secrets in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of Secrets to return."
                        }
                      },
                      "response": {
                        "$ref": "ListUserWorkloadsSecretsResponse"
                      },
                      "path": "v1/{+parent}/userWorkloadsSecrets",
                      "httpMethod": "GET",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "description": "Lists user workloads Secrets. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.create",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. The environment name to create a Secret for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "path": "v1/{+parent}/userWorkloadsSecrets",
                      "description": "Creates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
                    },
                    "get": {
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Secret to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "httpMethod": "GET",
                      "description": "Gets an existing user workloads Secret. Values of the \"data\" field in the response are cleared. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            },
            "imageVersions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                  "id": "composer.projects.locations.imageVersions.list",
                  "path": "v1/{+parent}/imageVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of image_versions to return.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "List ImageVersions in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "includePastReleases": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Whether or not image versions from old releases should be included."
                    }
                  },
                  "description": "List ImageVersions for provided location.",
                  "response": {
                    "$ref": "ListImageVersionsResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "composer.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "composer.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "composer.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260923",
  "baseUrl": "https://composer.googleapis.com/",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/composer/",
  "version": "v1",
  "id": "composer:v1",
  "mtlsRootUrl": "https://composer.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "title": "Cloud Composer API",
  "basePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "schemas": {
    "EnvironmentConfig": {
      "properties": {
        "environmentSize": {
          "description": "Optional. The size of the Cloud Composer environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "enum": [
            "ENVIRONMENT_SIZE_UNSPECIFIED",
            "ENVIRONMENT_SIZE_SMALL",
            "ENVIRONMENT_SIZE_MEDIUM",
            "ENVIRONMENT_SIZE_LARGE",
            "ENVIRONMENT_SIZE_EXTRA_LARGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The size of the environment is unspecified.",
            "The environment size is small.",
            "The environment size is medium.",
            "The environment size is large.",
            "The environment size is extra large."
          ]
        },
        "webServerNetworkAccessControl": {
          "$ref": "WebServerNetworkAccessControl",
          "description": "Optional. The network-level access control policy for the Airflow web server. If unspecified, no network-level access restrictions will be applied."
        },
        "resilienceMode": {
          "enum": [
            "RESILIENCE_MODE_UNSPECIFIED",
            "HIGH_RESILIENCE"
          ],
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Enabled High Resilience mode, including Cloud SQL HA."
          ],
          "description": "Optional. Resilience mode of the Cloud Composer Environment. This field is supported for Cloud Composer environments in versions composer-2.2.0-airflow-*.*.* and newer.",
          "type": "string"
        },
        "nodeCount": {
          "description": "The number of nodes in the Kubernetes Engine cluster that will be used to run this environment. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "format": "int32",
          "type": "integer"
        },
        "softwareConfig": {
          "description": "Optional. The configuration settings for software inside the environment.",
          "$ref": "SoftwareConfig"
        },
        "webServerConfig": {
          "$ref": "WebServerConfig",
          "description": "Optional. The configuration settings for the Airflow web server App Engine instance."
        },
        "privateEnvironmentConfig": {
          "$ref": "PrivateEnvironmentConfig",
          "description": "Optional. The configuration used for the Private IP Cloud Composer environment."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. The maintenance window is the period when Cloud Composer components may undergo maintenance. It is defined so that maintenance is not executed during peak hours or critical time periods. The system will not be under maintenance for every occurrence of this window, but when maintenance is planned, it will be scheduled during the window. The maintenance window period must encompass at least 12 hours per week. This may be split into multiple chunks, each with a size of at least 4 hours. If this value is omitted, the default value for maintenance window is applied. By default, maintenance windows are from 00:00:00 to 04:00:00 (GMT) on Friday, Saturday, and Sunday every week."
        },
        "airflowUri": {
          "type": "string",
          "description": "Output only. The URI of the Apache Airflow Web UI hosted within this environment (see [Airflow web interface](/composer/docs/how-to/accessing/airflow-web-interface))."
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Optional. The configuration used for the Kubernetes Engine cluster."
        },
        "workloadsConfig": {
          "$ref": "WorkloadsConfig",
          "description": "Optional. The workloads configuration settings for the GKE cluster associated with the Cloud Composer environment. The GKE cluster runs Airflow scheduler, web server and workers workloads. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
        },
        "encryptionConfig": {
          "description": "Optional. The encryption options for the Cloud Composer environment and its dependencies. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "airflowByoidUri": {
          "readOnly": true,
          "description": "Output only. The 'bring your own identity' variant of the URI of the Apache Airflow Web UI hosted within this environment, to be accessed with external identities using workforce identity federation (see [Access environments with workforce identity federation](/composer/docs/composer-2/access-environments-with-workforce-identity-federation)).",
          "type": "string"
        },
        "dagGcsPrefix": {
          "description": "Output only. The Cloud Storage prefix of the DAGs for this environment. Although Cloud Storage objects reside in a flat namespace, a hierarchical file tree can be simulated using \"/\"-delimited object name prefixes. DAG objects for this environment reside in a simulated directory with the given prefix.",
          "type": "string"
        },
        "dataRetentionConfig": {
          "$ref": "DataRetentionConfig",
          "description": "Optional. The configuration setting for Airflow database data retention mechanism."
        },
        "gkeCluster": {
          "description": "Output only. The Kubernetes Engine cluster used to run this environment.",
          "type": "string"
        },
        "recoveryConfig": {
          "description": "Optional. The Recovery settings configuration of an environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "$ref": "RecoveryConfig"
        },
        "databaseConfig": {
          "description": "Optional. The configuration settings for Cloud SQL instance used internally by Apache Airflow software.",
          "$ref": "DatabaseConfig"
        },
        "masterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "Optional. The configuration options for GKE cluster master authorized networks. By default master authorized networks feature is: - in case of private environment: enabled with no external networks allowlisted. - in case of public environment: disabled."
        }
      },
      "description": "Configuration information for an environment.",
      "type": "object",
      "id": "EnvironmentConfig"
    },
    "ExecuteAirflowCommandRequest": {
      "properties": {
        "subcommand": {
          "description": "Airflow subcommand.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Parameters for the Airflow command/subcommand as an array of arguments. It may contain positional arguments like `[\"my-dag-id\"]`, key-value parameters like `[\"--foo=bar\"]` or `[\"--foo\",\"bar\"]`, or other flags like `[\"-f\"]`."
        },
        "command": {
          "type": "string",
          "description": "Airflow command."
        }
      },
      "description": "Execute Airflow Command request.",
      "id": "ExecuteAirflowCommandRequest",
      "type": "object"
    },
    "DataRetentionConfig": {
      "properties": {
        "taskLogsRetentionConfig": {
          "description": "Optional. The configuration settings for task logs retention",
          "$ref": "TaskLogsRetentionConfig"
        },
        "airflowMetadataRetentionConfig": {
          "description": "Optional. The retention policy for airflow metadata database.",
          "$ref": "AirflowMetadataRetentionPolicyConfig"
        }
      },
      "type": "object",
      "description": "The configuration setting for Airflow database data retention mechanism.",
      "id": "DataRetentionConfig"
    },
    "ListImageVersionsResponse": {
      "description": "The ImageVersions in a project and location.",
      "id": "ListImageVersionsResponse",
      "properties": {
        "imageVersions": {
          "description": "The list of supported ImageVersions in a location.",
          "type": "array",
          "items": {
            "$ref": "ImageVersion"
          }
        },
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SchedulerResource": {
      "properties": {
        "count": {
          "description": "Optional. The number of schedulers.",
          "type": "integer",
          "format": "int32"
        },
        "cpu": {
          "type": "number",
          "description": "Optional. CPU request and limit for a single Airflow scheduler replica.",
          "format": "float"
        },
        "storageGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Storage (GB) request and limit for a single Airflow scheduler replica."
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow scheduler replica.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "SchedulerResource",
      "description": "Configuration for resources used by Airflow schedulers."
    },
    "WebServerResource": {
      "description": "Configuration for resources used by Airflow web server.",
      "id": "WebServerResource",
      "type": "object",
      "properties": {
        "storageGb": {
          "type": "number",
          "description": "Optional. Storage (GB) request and limit for Airflow web server.",
          "format": "float"
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for Airflow web server.",
          "format": "float",
          "type": "number"
        },
        "cpu": {
          "description": "Optional. CPU request and limit for Airflow web server.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "ConfigConflict": {
      "properties": {
        "type": {
          "description": "Conflict type. It can be blocking or non-blocking.",
          "type": "string",
          "enum": [
            "CONFLICT_TYPE_UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
          "enumDescriptions": [
            "Conflict type is unknown.",
            "Conflict is blocking, the upgrade would fail.",
            "Conflict is non-blocking. The upgrade would succeed, but the environment configuration would be changed."
          ]
        },
        "message": {
          "type": "string",
          "description": "Conflict message."
        }
      },
      "type": "object",
      "id": "ConfigConflict",
      "description": "Environment configuration conflict."
    },
    "CheckUpgradeResponse": {
      "properties": {
        "pypiDependencies": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Pypi dependencies specified in the environment configuration, at the time when the build was triggered."
        },
        "configConflicts": {
          "items": {
            "$ref": "ConfigConflict"
          },
          "description": "Output only. Contains information about environment configuration that is incompatible with the new image version, except for pypi modules conflicts.",
          "readOnly": true,
          "type": "array"
        },
        "containsPypiModulesConflict": {
          "readOnly": true,
          "enumDescriptions": [
            "It is unknown whether build had conflicts or not.",
            "There were python packages conflicts.",
            "There were no python packages conflicts."
          ],
          "type": "string",
          "description": "Output only. Whether build has succeeded or failed on modules conflicts.",
          "enum": [
            "CONFLICT_RESULT_UNSPECIFIED",
            "CONFLICT",
            "NO_CONFLICT"
          ]
        },
        "pypiConflictBuildLogExtract": {
          "type": "string",
          "description": "Output only. Extract from a docker image build log containing information about pypi modules conflicts.",
          "readOnly": true
        },
        "imageVersion": {
          "description": "Composer image for which the build was happening.",
          "type": "string"
        },
        "buildLogUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Url for a docker build log of an upgraded image."
        }
      },
      "description": "Message containing information about the result of an upgrade check operation.",
      "id": "CheckUpgradeResponse",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Start time of the first recurrence of the maintenance window.",
          "type": "string"
        },
        "recurrence": {
          "description": "Required. Maintenance window recurrence. Format is a subset of [RFC-5545](https://tools.ietf.org/html/rfc5545) `RRULE`. The only allowed values for `FREQ` field are `FREQ=DAILY` and `FREQ=WEEKLY;BYDAY=...` Example values: `FREQ=WEEKLY;BYDAY=TU,WE`, `FREQ=DAILY`.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Required. Maintenance window end time. It is used only to calculate the duration of the maintenance window. The value for end-time must be in the future, relative to `start_time`.",
          "format": "google-datetime"
        }
      },
      "description": "The configuration settings for Cloud Composer maintenance window. The following example: ``` { \"startTime\":\"2019-08-01T01:00:00Z\" \"endTime\":\"2019-08-01T07:00:00Z\" \"recurrence\":\"FREQ=WEEKLY;BYDAY=TU,WE\" } ``` would define a maintenance window between 01 and 07 hours UTC during each Tuesday and Wednesday."
    },
    "ScheduledSnapshotsConfig": {
      "properties": {
        "timeZone": {
          "description": "Optional. Time zone that sets the context to interpret snapshot_creation_schedule.",
          "type": "string"
        },
        "snapshotLocation": {
          "description": "Optional. The Cloud Storage location for storing automatically created snapshots.",
          "type": "string"
        },
        "snapshotCreationSchedule": {
          "description": "Optional. The cron expression representing the time when snapshots creation mechanism runs. This field is subject to additional validation around frequency of execution.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether scheduled snapshots creation is enabled."
        }
      },
      "description": "The configuration for scheduled snapshot creation mechanism.",
      "type": "object",
      "id": "ScheduledSnapshotsConfig"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "The encryption options for the Cloud Composer environment and its dependencies.Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. Customer-managed Encryption Key available through Google's Key Management Service. Cannot be updated. If not specified, Google-managed key will be used.",
          "type": "string"
        }
      }
    },
    "NetworkingConfig": {
      "description": "Configuration options for networking connections in the Composer 2 environment.",
      "type": "object",
      "properties": {
        "connectionType": {
          "type": "string",
          "description": "Optional. Indicates the user requested specific connection type between Tenant and Customer projects. You cannot set networking connection type in public IP environment.",
          "enumDescriptions": [
            "No specific connection type was requested, so the environment uses the default value corresponding to the rest of its configuration.",
            "Requests the use of VPC peerings for connecting the Customer and Tenant projects.",
            "Requests the use of Private Service Connect for connecting the Customer and Tenant projects."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "VPC_PEERING",
            "PRIVATE_SERVICE_CONNECT"
          ]
        }
      },
      "id": "NetworkingConfig"
    },
    "CloudDataLineageIntegration": {
      "properties": {
        "enabled": {
          "description": "Optional. Whether or not Cloud Data Lineage integration is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CloudDataLineageIntegration",
      "description": "Configuration for Cloud Data Lineage integration."
    },
    "ComposerWorkload": {
      "properties": {
        "name": {
          "description": "Name of a workload.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Not able to determine the type of the workload.",
            "Celery worker.",
            "Kubernetes worker.",
            "Workload created by Kubernetes Pod Operator.",
            "Airflow scheduler.",
            "Airflow Dag processor.",
            "Airflow triggerer.",
            "Airflow web server UI.",
            "Redis."
          ],
          "enum": [
            "COMPOSER_WORKLOAD_TYPE_UNSPECIFIED",
            "CELERY_WORKER",
            "KUBERNETES_WORKER",
            "KUBERNETES_OPERATOR_POD",
            "SCHEDULER",
            "DAG_PROCESSOR",
            "TRIGGERER",
            "WEB_SERVER",
            "REDIS"
          ],
          "description": "Type of a workload.",
          "type": "string"
        },
        "status": {
          "$ref": "ComposerWorkloadStatus",
          "description": "Output only. Status of a workload.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about a single workload.",
      "id": "ComposerWorkload"
    },
    "WebServerConfig": {
      "id": "WebServerConfig",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. If not specified, composer-n1-webserver-2 will be used. Value custom is returned only in response, if Airflow web server parameters were manually changed to a non-standard values."
        }
      },
      "type": "object",
      "description": "The configuration settings for the Airflow web server App Engine instance. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*"
    },
    "RestartWebServerRequest": {
      "type": "object",
      "properties": {},
      "description": "Restart Airflow web server.",
      "id": "RestartWebServerRequest"
    },
    "ListUserWorkloadsSecretsResponse": {
      "description": "The user workloads Secrets for a given environment.",
      "properties": {
        "userWorkloadsSecrets": {
          "type": "array",
          "items": {
            "$ref": "UserWorkloadsSecret"
          },
          "description": "The list of Secrets returned by a ListUserWorkloadsSecretsRequest."
        },
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        }
      },
      "id": "ListUserWorkloadsSecretsResponse",
      "type": "object"
    },
    "RecoveryConfig": {
      "description": "The Recovery settings of an environment.",
      "type": "object",
      "id": "RecoveryConfig",
      "properties": {
        "scheduledSnapshotsConfig": {
          "$ref": "ScheduledSnapshotsConfig",
          "description": "Optional. The configuration for scheduled snapshot creation mechanism."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "FetchDatabasePropertiesResponse": {
      "id": "FetchDatabasePropertiesResponse",
      "description": "Response for FetchDatabasePropertiesRequest.",
      "properties": {
        "secondaryGceZone": {
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional Cloud SQL instance.",
          "type": "string"
        },
        "primaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from."
        },
        "isFailoverReplicaAvailable": {
          "type": "boolean",
          "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only fail over to the failover replica when the status is true."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Metadata describing an operation.",
      "properties": {
        "operationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "CHECK",
            "SAVE_SNAPSHOT",
            "LOAD_SNAPSHOT",
            "DATABASE_FAILOVER",
            "MIGRATE",
            "HIBERNATE",
            "RESUME"
          ],
          "description": "Output only. The type of operation being performed.",
          "enumDescriptions": [
            "Unused.",
            "A resource creation operation.",
            "A resource deletion operation.",
            "A resource update operation.",
            "A resource check operation.",
            "Saves snapshot of the resource operation.",
            "Loads snapshot of the resource operation.",
            "Triggers failover of environment's Cloud SQL instance (only for highly resilient environments).",
            "Migrates resource to a new major version.",
            "Hibernates a resource.",
            "Resumes a resource."
          ],
          "type": "string"
        },
        "resource": {
          "description": "Output only. The resource being operated on, as a [relative resource name]( /apis/design/resource_names#relative_resource_name).",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current operation state.",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "",
            "The operation is no longer running but did not succeed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "SUCCESSFUL",
            "FAILED"
          ]
        },
        "resourceUuid": {
          "description": "Output only. The UUID of the resource being operated on.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was submitted to the server.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the operation terminated, regardless of its success. This field is unset if the operation is still ongoing.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "NodeConfig": {
      "type": "object",
      "description": "The configuration information for the Kubernetes Engine nodes running the Apache Airflow software.",
      "properties": {
        "location": {
          "description": "Optional. The Compute Engine [zone](/compute/docs/regions-zones) in which to deploy the VMs used to run the Apache Airflow software, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}\". This `location` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.machineType` are specified, `nodeConfig.machineType` must belong to this `location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If only one field (`location` or `nodeConfig.machineType`) is specified, the location information from the specified field will be propagated to the unspecified field. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of Google API scopes to be made available on all node VMs. If `oauth_scopes` is empty, defaults to [\"https://www.googleapis.com/auth/cloud-platform\"]. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "array"
        },
        "enableIpMasqAgent": {
          "description": "Optional. Deploys 'ip-masq-agent' daemon set in the GKE cluster and defines nonMasqueradeCIDRs equals to pod IP range so IP masquerading is used for all destination addresses, except between pods traffic. See: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent",
          "type": "boolean"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The Google Cloud Platform Service Account to be used by the node VMs. If a service account is not specified, the \"default\" Compute Engine service account is used. Cannot be updated."
        },
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Optional. The configuration for controlling how IPs are allocated in the GKE cluster."
        },
        "diskSizeGb": {
          "description": "Optional. The disk size in GB used for node VMs. Minimum size is 30GB. If unspecified, defaults to 100GB. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "integer",
          "format": "int32"
        },
        "composerNetworkAttachment": {
          "description": "Optional. Network Attachment that Cloud Composer environment is connected to, which provides connectivity with a user's VPC network. Takes precedence over network and subnetwork settings. If not provided, but network and subnetwork are defined during environment, it will be provisioned. If not provided and network and subnetwork are also empty, then connectivity to user's VPC network is disabled. Network attachment must be provided in format projects/{project}/regions/{region}/networkAttachments/{networkAttachment}. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/regions/{regionId}/subnetworks/{subnetworkId}\" If a subnetwork is provided, `nodeConfig.network` must also be provided, and the subnetwork must belong to the enclosing environment's project and location.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/global/networks/{networkId}\". If unspecified, the \"default\" network ID in the environment's project is used. If a [Custom Subnet Network](/vpc/docs/vpc#vpc_networks_and_subnets) is provided, `nodeConfig.subnetwork` must also be provided. For [Shared VPC](/vpc/docs/shared-vpc) subnetwork requirements, see `nodeConfig.subnetwork`."
        },
        "tags": {
          "description": "Optional. The list of instance tags applied to all node VMs. Tags are used to identify valid sources or targets for network firewalls. Each tag within the list must comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt). Cannot be updated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineType": {
          "description": "Optional. The Compute Engine [machine type](/compute/docs/machine-types) used for cluster instances, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}/machineTypes/{machineTypeId}\". The `machineType` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.location` are specified, this `machineType` must belong to the `nodeConfig.location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If exactly one of this field and `nodeConfig.location` is specified, the location information from the specified field will be propagated to the unspecified field. The `machineTypeId` must not be a [shared-core machine type](/compute/docs/machine-types#sharedcore). If this field is unspecified, the `machineTypeId` defaults to \"n1-standard-1\". This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "composerInternalIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The IP range in CIDR notation to use internally by Cloud Composer. IP addresses are not reserved - and the same range can be used by multiple Cloud Composer environments. In case of overlap, IPs from this range will not be accessible in the user's VPC network. Cannot be updated. If not specified, the default value of '100.64.128.0/20' is used. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        }
      },
      "id": "NodeConfig"
    },
    "ListWorkloadsResponse": {
      "properties": {
        "workloads": {
          "description": "The list of environment workloads.",
          "type": "array",
          "items": {
            "$ref": "ComposerWorkload"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        }
      },
      "description": "Response to ListWorkloadsRequest.",
      "id": "ListWorkloadsResponse",
      "type": "object"
    },
    "TaskLogsRetentionConfig": {
      "description": "The configuration setting for Task Logs.",
      "properties": {
        "storageMode": {
          "type": "string",
          "enumDescriptions": [
            "This configuration is not specified by the user.",
            "Store task logs in Cloud Logging and in the environment's Cloud Storage bucket.",
            "Store task logs in Cloud Logging only."
          ],
          "description": "Optional. The mode of storage for Airflow workers task logs.",
          "enum": [
            "TASK_LOGS_STORAGE_MODE_UNSPECIFIED",
            "CLOUD_LOGGING_AND_CLOUD_STORAGE",
            "CLOUD_LOGGING_ONLY"
          ]
        }
      },
      "type": "object",
      "id": "TaskLogsRetentionConfig"
    },
    "ExitInfo": {
      "type": "object",
      "id": "ExitInfo",
      "description": "Information about how a command ended.",
      "properties": {
        "exitCode": {
          "format": "int32",
          "description": "The exit code from the command execution.",
          "type": "integer"
        },
        "error": {
          "type": "string",
          "description": "Error message. Empty if there was no error."
        }
      }
    },
    "DagProcessorResource": {
      "description": "Configuration for resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
      "properties": {
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow DAG processor replica.",
          "type": "number",
          "format": "float"
        },
        "count": {
          "description": "Optional. The number of DAG processors. If not provided or set to 0, a single DAG processor instance will be created.",
          "format": "int32",
          "type": "integer"
        },
        "storageGb": {
          "type": "number",
          "format": "float",
          "description": "Optional. Storage (GB) request and limit for a single Airflow DAG processor replica."
        },
        "cpu": {
          "type": "number",
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow DAG processor replica."
        }
      },
      "type": "object",
      "id": "DagProcessorResource"
    },
    "SaveSnapshotRequest": {
      "properties": {
        "snapshotLocation": {
          "description": "Location in a Cloud Storage where the snapshot is going to be stored, e.g.: \"gs://my-bucket/snapshots\".",
          "type": "string"
        }
      },
      "id": "SaveSnapshotRequest",
      "type": "object",
      "description": "Request to create a snapshot of a Cloud Composer environment."
    },
    "PrivateClusterConfig": {
      "type": "object",
      "properties": {
        "enablePrivateEndpoint": {
          "description": "Optional. If `true`, access to the public endpoint of the GKE cluster is denied.",
          "type": "boolean"
        },
        "masterIpv4ReservedRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP range in CIDR notation to use for the hosted master network. This range is used for assigning internal IP addresses to the GKE cluster master or set of masters and to the internal load balancer virtual IP. This range must not overlap with any other ranges in use within the cluster's network."
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IPv4 range for GKE master will be reserved. If left blank, the default value of '172.16.0.0/23' is used."
        }
      },
      "description": "Configuration options for the private GKE cluster in a Cloud Composer environment.",
      "id": "PrivateClusterConfig"
    },
    "WorkerResource": {
      "type": "object",
      "id": "WorkerResource",
      "description": "Configuration for resources used by Airflow workers.",
      "properties": {
        "minCount": {
          "type": "integer",
          "description": "Optional. Minimum number of workers for autoscaling.",
          "format": "int32"
        },
        "maxCount": {
          "format": "int32",
          "description": "Optional. Maximum number of workers for autoscaling.",
          "type": "integer"
        },
        "cpu": {
          "type": "number",
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow worker replica."
        },
        "storageGb": {
          "format": "float",
          "description": "Optional. Storage (GB) request and limit for a single Airflow worker replica.",
          "type": "number"
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow worker replica.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "PollAirflowCommandRequest": {
      "id": "PollAirflowCommandRequest",
      "type": "object",
      "description": "Poll Airflow Command request.",
      "properties": {
        "pod": {
          "type": "string",
          "description": "The name of the pod where the command is executed."
        },
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        },
        "nextLineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Line number from which new logs should be fetched."
        },
        "executionId": {
          "type": "string",
          "description": "The unique ID of the command execution."
        }
      }
    },
    "PrivateEnvironmentConfig": {
      "description": "The configuration information for configuring a Private IP Cloud Composer environment.",
      "type": "object",
      "properties": {
        "enablePrivatelyUsedPublicIps": {
          "type": "boolean",
          "description": "Optional. When enabled, IPs from public (non-RFC1918) ranges can be used for `IPAllocationPolicy.cluster_ipv4_cidr_block` and `IPAllocationPolicy.service_ipv4_cidr_block`."
        },
        "cloudComposerConnectionSubnetwork": {
          "description": "Optional. When specified, the environment will use Private Service Connect instead of VPC peerings to connect to Cloud SQL in the Tenant Project, and the PSC endpoint in the Customer Project will use an IP address from this subnetwork.",
          "type": "string"
        },
        "networkingType": {
          "enumDescriptions": [
            "Default networking type.",
            "Private IP Cloud Composer environment with no access to the internet.",
            "Cloud Composer environment with access to the internet."
          ],
          "type": "string",
          "description": "Optional. Networking type for the environment, either private or public.",
          "enum": [
            "NETWORKING_TYPE_UNSPECIFIED",
            "PRIVATE",
            "PUBLIC"
          ]
        },
        "enablePrivateBuildsOnly": {
          "description": "Optional. If `true`, builds performed during operations that install Python packages have only private connectivity to Google services (including Artifact Registry) and VPC network (if either `NodeConfig.network` and `NodeConfig.subnetwork` fields or `NodeConfig.composer_network_attachment` field are specified). If `false`, the builds also have access to the internet. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "boolean"
        },
        "cloudComposerNetworkIpv4ReservedRange": {
          "readOnly": true,
          "description": "Output only. The IP range reserved for the tenant project's Cloud Composer network. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string"
        },
        "privateClusterConfig": {
          "description": "Optional. Configuration for the private GKE cluster for a Private IP Cloud Composer environment.",
          "$ref": "PrivateClusterConfig"
        },
        "networkingConfig": {
          "$ref": "NetworkingConfig",
          "description": "Optional. Configuration for the network connections configuration in the environment."
        },
        "webServerIpv4CidrBlock": {
[...]
