{
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "documentationLink": "https://cloud.google.com/composer/",
  "mtlsRootUrl": "https://composer.mtls.googleapis.com/",
  "name": "composer",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://composer.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://composer.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://composer.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://composer.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://composer.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://composer.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://composer.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://composer.asia-southeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://composer.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://composer.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://composer.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://composer.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://composer.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west15",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west15.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://composer.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://composer.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://composer.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://composer.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://composer.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://composer.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://composer.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://composer.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://composer.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://composer.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://composer.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "discoveryVersion": "v1",
  "title": "Cloud Composer API",
  "description": "Manages Apache Airflow environments on Google Cloud Platform.",
  "canonicalName": "Cloud Composer",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloudcomposer": {
          "description": "See, edit, configure, and delete your Google Cloud Composer data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloudcomposer.readonly": {
          "description": "See your Google Cloud Composer data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260901",
  "protocol": "rest",
  "rootUrl": "https://composer.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "version": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "baseUrl": "https://composer.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "environments": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1/{+parent}/environments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent must be of the form \"projects/{projectId}/locations/{locationId}\".",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "composer.projects.locations.environments.create",
                  "httpMethod": "POST",
                  "description": "Create a new environment.",
                  "request": {
                    "$ref": "Environment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "restartWebServer": {
                  "request": {
                    "$ref": "RestartWebServerRequest"
                  },
                  "path": "v1/{+name}:restartWebServer",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Restart Airflow web server.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:restartWebServer",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the environment to restart the web server for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.restartWebServer",
                  "httpMethod": "POST"
                },
                "executeAirflowCommand": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.executeAirflowCommand",
                  "request": {
                    "$ref": "ExecuteAirflowCommandRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:executeAirflowCommand",
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "description": "Executes Airflow CLI command.",
                  "path": "v1/{+environment}:executeAirflowCommand",
                  "response": {
                    "$ref": "ExecuteAirflowCommandResponse"
                  },
                  "parameterOrder": [
                    "environment"
                  ]
                },
                "databaseFailover": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:databaseFailover",
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "Target environment: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string"
                    }
                  },
                  "id": "composer.projects.locations.environments.databaseFailover",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+environment}:databaseFailover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Triggers database failover (only for highly resilient environments).",
                  "request": {
                    "$ref": "DatabaseFailoverRequest"
                  }
                },
                "list": {
                  "description": "List environments.",
                  "id": "composer.projects.locations.environments.list",
                  "path": "v1/{+parent}/environments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of environments to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "List environments in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "description": "Delete an environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "id": "composer.projects.locations.environments.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The environment to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The relative resource name of the environment to update, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A comma-separated list of paths, relative to `Environment`, of fields to update. For example, to set the version of scikit-learn to install in the environment to 0.19.0 and to remove an existing installation of numpy, the `updateMask` parameter would include the following two `paths` values: \"config.softwareConfig.pypiPackages.scikit-learn\" and \"config.softwareConfig.pypiPackages.numpy\". The included patch environment would specify the scikit-learn version as follows: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"scikit-learn\":\"==0.19.0\" } } } } Note that in the above example, any existing PyPI packages other than scikit-learn and numpy will be unaffected. Only one update type may be included in a single request's `updateMask`. For example, one cannot update both the PyPI packages and labels in the same request. However, it is possible to update multiple members of a map field simultaneously in the same request. For example, to set the labels \"label1\" and \"label2\" while clearing \"label3\" (assuming it already exists), one can provide the paths \"labels.label1\", \"labels.label2\", and \"labels.label3\" and populate the patch environment as follows: { \"labels\":{ \"label1\":\"new-label1-value\" \"label2\":\"new-label2-value\" } } Note that in the above example, any existing labels that are not included in the `updateMask` will be unaffected. It is also possible to replace an entire map field by providing the map field's path in the `updateMask`. The new value of the field will be that which is provided in the patch environment. For example, to delete all pre-existing user-specified PyPI packages and install botocore at version 1.7.14, the `updateMask` would contain the path \"config.softwareConfig.pypiPackages\", and the patch environment would be the following: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"botocore\":\"==1.7.14\" } } } } **Note:** Only the following fields can be updated: * `config.softwareConfig.pypiPackages` * Replace all custom custom PyPI packages. If a replacement package map is not included in `environment`, all custom PyPI packages are cleared. It is an error to provide both this mask and a mask specifying an individual package. * `config.softwareConfig.pypiPackages.`packagename * Update the custom PyPI package *packagename*, preserving other packages. To delete the package, include it in `updateMask`, and omit the mapping for it in `environment.config.softwareConfig.pypiPackages`. It is an error to provide both a mask of this form and the `config.softwareConfig.pypiPackages` mask. * `labels` * Replace all environment labels. If a replacement labels map is not included in `environment`, all labels are cleared. It is an error to provide both this mask and a mask specifying one or more individual labels. * `labels.`labelName * Set the label named *labelName*, while preserving other labels. To delete the label, include it in `updateMask` and omit its mapping in `environment.labels`. It is an error to provide both a mask of this form and the `labels` mask. * `config.nodeCount` * Horizontally scale the number of nodes in the environment. An integer greater than or equal to 3 must be provided in the `config.nodeCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerNetworkAccessControl` * Replace the environment's current `WebServerNetworkAccessControl`. * `config.softwareConfig.airflowConfigOverrides` * Replace all Apache Airflow config overrides. If a replacement config overrides map is not included in `environment`, all config overrides are cleared. It is an error to provide both this mask and a mask specifying one or more individual config overrides. * `config.softwareConfig.airflowConfigOverrides.`section-name * Override the Apache Airflow config property *name* in the section named *section*, preserving other properties. To delete the property override, include it in `updateMask` and omit its mapping in `environment.config.softwareConfig.airflowConfigOverrides`. It is an error to provide both a mask of this form and the `config.softwareConfig.airflowConfigOverrides` mask. * `config.softwareConfig.envVariables` * Replace all environment variables. If a replacement environment variable map is not included in `environment`, all custom environment variables are cleared. * `config.softwareConfig.schedulerCount` * Horizontally scale the number of schedulers in Airflow. A positive integer not greater than the number of nodes must be provided in the `config.softwareConfig.schedulerCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*. * `config.databaseConfig.machineType` * Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerConfig.machineType` * Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Update an environment.",
                  "id": "composer.projects.locations.environments.patch",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "stopAirflowCommand": {
                  "parameterOrder": [
                    "environment"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:stopAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Stops Airflow CLI command execution.",
                  "response": {
                    "$ref": "StopAirflowCommandResponse"
                  },
                  "id": "composer.projects.locations.environments.stopAirflowCommand",
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "path": "v1/{+environment}:stopAirflowCommand",
                  "request": {
                    "$ref": "StopAirflowCommandRequest"
                  },
                  "httpMethod": "POST"
                },
                "saveSnapshot": {
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The resource name of the source environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "id": "composer.projects.locations.environments.saveSnapshot",
                  "request": {
                    "$ref": "SaveSnapshotRequest"
                  },
                  "description": "Creates a snapshots of a Cloud Composer environment. As a result of this operation, snapshot of environment's state is stored in a location specified in the SaveSnapshotRequest.",
                  "parameterOrder": [
                    "environment"
                  ],
                  "path": "v1/{+environment}:saveSnapshot",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:saveSnapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "pollAirflowCommand": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:pollAirflowCommand",
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "PollAirflowCommandResponse"
                  },
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "path": "v1/{+environment}:pollAirflowCommand",
                  "request": {
                    "$ref": "PollAirflowCommandRequest"
                  },
                  "description": "Polls Airflow CLI command execution and fetches logs.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "httpMethod": "POST",
                  "id": "composer.projects.locations.environments.pollAirflowCommand"
                },
                "fetchDatabaseProperties": {
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+environment}:fetchDatabaseProperties",
                  "id": "composer.projects.locations.environments.fetchDatabaseProperties",
                  "parameterOrder": [
                    "environment"
                  ],
                  "httpMethod": "GET",
                  "description": "Fetches database properties.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:fetchDatabaseProperties",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "response": {
                    "$ref": "FetchDatabasePropertiesResponse"
                  }
                },
                "loadSnapshot": {
                  "path": "v1/{+environment}:loadSnapshot",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.loadSnapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:loadSnapshot",
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the target environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "request": {
                    "$ref": "LoadSnapshotRequest"
                  },
                  "description": "Loads a snapshot of a Cloud Composer environment. As a result of this operation, a snapshot of environment's specified in LoadSnapshotRequest is loaded into the environment.",
                  "parameterOrder": [
                    "environment"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "httpMethod": "GET",
                  "description": "Get an existing environment.",
                  "id": "composer.projects.locations.environments.get",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the environment to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "checkUpgrade": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:checkUpgrade",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Check if an upgrade operation on the environment will succeed. In case of problems detailed info can be found in the returned Operation.",
                  "parameterOrder": [
                    "environment"
                  ],
                  "id": "composer.projects.locations.environments.checkUpgrade",
                  "request": {
                    "$ref": "CheckUpgradeRequest"
                  },
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the environment to check upgrade for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "path": "v1/{+environment}:checkUpgrade"
                }
              },
              "resources": {
                "userWorkloadsConfigMaps": {
                  "methods": {
                    "create": {
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.create",
                      "path": "v1/{+parent}/userWorkloadsConfigMaps",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "description": "Creates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The environment name to create a ConfigMap for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                        }
                      }
                    },
                    "update": {
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "description": "Updates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.update",
                      "httpMethod": "PUT",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "response": {
                        "$ref": "ListUserWorkloadsConfigMapsResponse"
                      },
                      "description": "Lists user workloads ConfigMaps. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "path": "v1/{+parent}/userWorkloadsConfigMaps",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. List ConfigMaps in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of ConfigMaps to return.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "description": "Gets an existing user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the ConfigMap to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "description": "Required. The ConfigMap to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\""
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "description": "Deletes a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}"
                    }
                  }
                },
                "workloads": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The environment name to get workloads for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The list filter. Currently only supports equality on the type field. The value of a field specified in the filter expression must be one ComposerWorkloadType enum option. It's possible to get multiple types using \"OR\" operator, e.g.: \"type=SCHEDULER OR type=CELERY_WORKER\". If not specified, all items are returned.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of environments to return.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/workloads",
                      "id": "composer.projects.locations.environments.workloads.list",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/workloads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "description": "Lists workloads in a Cloud Composer environment. Workload is a unit that runs a single Composer component. This method is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
                    }
                  }
                },
                "userWorkloadsSecrets": {
                  "methods": {
                    "delete": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The Secret to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\""
                        }
                      },
                      "description": "Deletes a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "httpMethod": "DELETE"
                    },
                    "create": {
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The environment name to create a Secret for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                        }
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "description": "Creates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "path": "v1/{+parent}/userWorkloadsSecrets"
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\""
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.update",
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "description": "Updates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.list",
                      "description": "Lists user workloads Secrets. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of Secrets to return."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. List Secrets in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUserWorkloadsSecretsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "path": "v1/{+parent}/userWorkloadsSecrets",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Secret to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "description": "Gets an existing user workloads Secret. Values of the \"data\" field in the response are cleared. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.get"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "composer.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "id": "composer.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "composer.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                }
              }
            },
            "imageVersions": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List ImageVersions for provided location.",
                  "id": "composer.projects.locations.imageVersions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "response": {
                    "$ref": "ListImageVersionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "List ImageVersions in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "includePastReleases": {
                      "type": "boolean",
                      "description": "Whether or not image versions from old releases should be included.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of image_versions to return.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/imageVersions"
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "composer:v1",
  "schemas": {
    "PrivateEnvironmentConfig": {
      "id": "PrivateEnvironmentConfig",
      "properties": {
        "cloudComposerNetworkIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for Cloud Composer Network in tenant project will be reserved. Needs to be disjoint from private_cluster_config.master_ipv4_cidr_block and cloud_sql_ipv4_cidr_block. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string"
        },
        "enablePrivateEnvironment": {
          "description": "Optional. If `true`, a Private IP Cloud Composer environment is created. If this field is set to true, `IPAllocationPolicy.use_ip_aliases` must be set to true for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. This field is going to be deprecated. Use `networking_type` instead.",
          "type": "boolean"
        },
        "privateClusterConfig": {
          "description": "Optional. Configuration for the private GKE cluster for a Private IP Cloud Composer environment.",
          "$ref": "PrivateClusterConfig"
        },
        "webServerIpv4ReservedRange": {
          "description": "Output only. The IP range reserved for the tenant project's App Engine VMs. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string",
          "readOnly": true
        },
        "enablePrivatelyUsedPublicIps": {
          "type": "boolean",
          "description": "Optional. When enabled, IPs from public (non-RFC1918) ranges can be used for `IPAllocationPolicy.cluster_ipv4_cidr_block` and `IPAllocationPolicy.service_ipv4_cidr_block`."
        },
        "networkingConfig": {
          "$ref": "NetworkingConfig",
          "description": "Optional. Configuration for the network connections configuration in the environment."
        },
        "webServerIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for web server will be reserved. Needs to be disjoint from `private_cluster_config.master_ipv4_cidr_block` and `cloud_sql_ipv4_cidr_block`. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "networkingType": {
          "enum": [
            "NETWORKING_TYPE_UNSPECIFIED",
            "PRIVATE",
            "PUBLIC"
          ],
          "type": "string",
          "description": "Optional. Networking type for the environment, either private or public.",
          "enumDescriptions": [
            "Default networking type.",
            "Private IP Cloud Composer environment with no access to the internet.",
            "Cloud Composer environment with access to the internet."
          ]
        },
        "cloudSqlIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IP range in tenant project will be reserved for Cloud SQL. Needs to be disjoint from `web_server_ipv4_cidr_block`."
        },
        "cloudComposerConnectionSubnetwork": {
          "description": "Optional. When specified, the environment will use Private Service Connect instead of VPC peerings to connect to Cloud SQL in the Tenant Project, and the PSC endpoint in the Customer Project will use an IP address from this subnetwork.",
          "type": "string"
        },
        "cloudComposerNetworkIpv4ReservedRange": {
          "readOnly": true,
          "description": "Output only. The IP range reserved for the tenant project's Cloud Composer network. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string"
        },
        "enablePrivateBuildsOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, builds performed during operations that install Python packages have only private connectivity to Google services (including Artifact Registry) and VPC network (if either `NodeConfig.network` and `NodeConfig.subnetwork` fields or `NodeConfig.composer_network_attachment` field are specified). If `false`, the builds also have access to the internet. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        }
      },
      "description": "The configuration information for configuring a Private IP Cloud Composer environment.",
      "type": "object"
    },
    "ListUserWorkloadsConfigMapsResponse": {
      "properties": {
        "userWorkloadsConfigMaps": {
          "items": {
            "$ref": "UserWorkloadsConfigMap"
          },
          "description": "The list of ConfigMaps returned by a ListUserWorkloadsConfigMapsRequest.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        }
      },
      "id": "ListUserWorkloadsConfigMapsResponse",
      "description": "The user workloads ConfigMaps for a given environment.",
      "type": "object"
    },
    "TriggererResource": {
      "id": "TriggererResource",
      "type": "object",
      "properties": {
        "count": {
          "description": "Optional. The number of triggerers.",
          "format": "int32",
          "type": "integer"
        },
        "cpu": {
          "description": "Optional. CPU request and limit for a single Airflow triggerer replica.",
          "type": "number",
          "format": "float"
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow triggerer replica.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Configuration for resources used by Airflow triggerers."
    },
    "ExecuteAirflowCommandRequest": {
      "properties": {
        "parameters": {
          "description": "Parameters for the Airflow command/subcommand as an array of arguments. It may contain positional arguments like `[\"my-dag-id\"]`, key-value parameters like `[\"--foo=bar\"]` or `[\"--foo\",\"bar\"]`, or other flags like `[\"-f\"]`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subcommand": {
          "description": "Airflow subcommand.",
          "type": "string"
        },
        "command": {
          "description": "Airflow command.",
          "type": "string"
        }
      },
      "id": "ExecuteAirflowCommandRequest",
      "type": "object",
      "description": "Execute Airflow Command request."
    },
    "LoadSnapshotRequest": {
      "id": "LoadSnapshotRequest",
      "description": "Request to load a snapshot into a Cloud Composer environment.",
      "type": "object",
      "properties": {
        "skipAirflowOverridesSetting": {
          "description": "Whether or not to skip setting Airflow overrides when loading the environment's state.",
          "type": "boolean"
        },
        "snapshotPath": {
          "type": "string",
          "description": "A Cloud Storage path to a snapshot to load, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\"."
        },
        "skipEnvironmentVariablesSetting": {
          "type": "boolean",
          "description": "Whether or not to skip setting environment variables when loading the environment's state."
        },
        "skipGcsDataCopying": {
          "description": "Whether or not to skip copying Cloud Storage data when loading the environment's state.",
          "type": "boolean"
        },
        "skipPypiPackagesInstallation": {
          "description": "Whether or not to skip installing Pypi packages when loading the environment's state.",
          "type": "boolean"
        }
      }
    },
    "DatabaseConfig": {
      "type": "object",
      "id": "DatabaseConfig",
      "description": "The configuration of Cloud SQL instance that is used by the Apache Airflow software.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. If not specified, db-n1-standard-2 will be used. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "zone": {
          "description": "Optional. The Compute Engine zone where the Airflow database is created. If zone is provided, it must be in the region selected for the environment. If zone is not provided, a zone is automatically selected. The zone can only be set during environment creation. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.*.",
          "type": "string"
        }
      }
    },
    "NetworkingConfig": {
      "type": "object",
      "description": "Configuration options for networking connections in the Composer 2 environment.",
      "properties": {
        "connectionType": {
          "enumDescriptions": [
            "No specific connection type was requested, so the environment uses the default value corresponding to the rest of its configuration.",
            "Requests the use of VPC peerings for connecting the Customer and Tenant projects.",
            "Requests the use of Private Service Connect for connecting the Customer and Tenant projects."
          ],
          "description": "Optional. Indicates the user requested specific connection type between Tenant and Customer projects. You cannot set networking connection type in public IP environment.",
          "type": "string",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "VPC_PEERING",
            "PRIVATE_SERVICE_CONNECT"
          ]
        }
      },
      "id": "NetworkingConfig"
    },
    "DataRetentionConfig": {
      "id": "DataRetentionConfig",
      "description": "The configuration setting for Airflow database data retention mechanism.",
      "properties": {
        "taskLogsRetentionConfig": {
          "description": "Optional. The configuration settings for task logs retention",
          "$ref": "TaskLogsRetentionConfig"
        },
        "airflowMetadataRetentionConfig": {
          "description": "Optional. The retention policy for airflow metadata database.",
          "$ref": "AirflowMetadataRetentionPolicyConfig"
        }
      },
      "type": "object"
    },
    "WebServerNetworkAccessControl": {
      "properties": {
        "allowedIpRanges": {
          "description": "A collection of allowed IP ranges with descriptions.",
          "type": "array",
          "items": {
            "$ref": "AllowedIpRange"
          }
        }
      },
      "type": "object",
      "description": "Network-level access control policy for the Airflow web server.",
      "id": "WebServerNetworkAccessControl"
    },
    "CidrBlock": {
      "id": "CidrBlock",
      "properties": {
        "cidrBlock": {
          "description": "CIDR block that must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "description": "User-defined name that identifies the CIDR block.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "CIDR block with an optional name."
    },
    "DatabaseFailoverRequest": {
      "properties": {},
      "description": "Request to trigger database failover (only for highly resilient environments).",
      "id": "DatabaseFailoverRequest",
      "type": "object"
    },
    "MasterAuthorizedNetworksConfig": {
      "type": "object",
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "id": "MasterAuthorizedNetworksConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Whether or not master authorized networks feature is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "type": "array",
          "items": {
            "$ref": "CidrBlock"
          },
          "description": "Up to 50 external networks that could access Kubernetes master through HTTPS."
        }
      }
    },
    "CheckUpgradeResponse": {
      "type": "object",
      "id": "CheckUpgradeResponse",
      "description": "Message containing information about the result of an upgrade check operation.",
      "properties": {
        "pypiDependencies": {
          "description": "Pypi dependencies specified in the environment configuration, at the time when the build was triggered.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "containsPypiModulesConflict": {
          "enumDescriptions": [
            "It is unknown whether build had conflicts or not.",
            "There were python packages conflicts.",
            "There were no python packages conflicts."
          ],
          "readOnly": true,
          "enum": [
            "CONFLICT_RESULT_UNSPECIFIED",
            "CONFLICT",
            "NO_CONFLICT"
          ],
          "description": "Output only. Whether build has succeeded or failed on modules conflicts.",
          "type": "string"
        },
        "pypiConflictBuildLogExtract": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Extract from a docker image build log containing information about pypi modules conflicts."
        },
        "buildLogUri": {
          "description": "Output only. Url for a docker build log of an upgraded image.",
          "readOnly": true,
          "type": "string"
        },
        "imageVersion": {
          "description": "Composer image for which the build was happening.",
          "type": "string"
        },
        "configConflicts": {
          "description": "Output only. Contains information about environment configuration that is incompatible with the new image version, except for pypi modules conflicts.",
          "items": {
            "$ref": "ConfigConflict"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "NodeConfig": {
      "id": "NodeConfig",
      "description": "The configuration information for the Kubernetes Engine nodes running the Apache Airflow software.",
      "type": "object",
      "properties": {
        "oauthScopes": {
          "type": "array",
          "description": "Optional. The set of Google API scopes to be made available on all node VMs. If `oauth_scopes` is empty, defaults to [\"https://www.googleapis.com/auth/cloud-platform\"]. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Optional. The list of instance tags applied to all node VMs. Tags are used to identify valid sources or targets for network firewalls. Each tag within the list must comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt). Cannot be updated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "machineType": {
          "description": "Optional. The Compute Engine [machine type](/compute/docs/machine-types) used for cluster instances, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}/machineTypes/{machineTypeId}\". The `machineType` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.location` are specified, this `machineType` must belong to the `nodeConfig.location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If exactly one of this field and `nodeConfig.location` is specified, the location information from the specified field will be propagated to the unspecified field. The `machineTypeId` must not be a [shared-core machine type](/compute/docs/machine-types#sharedcore). If this field is unspecified, the `machineTypeId` defaults to \"n1-standard-1\". This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The Google Cloud Platform Service Account to be used by the node VMs. If a service account is not specified, the \"default\" Compute Engine service account is used. Cannot be updated."
        },
        "subnetwork": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/regions/{regionId}/subnetworks/{subnetworkId}\" If a subnetwork is provided, `nodeConfig.network` must also be provided, and the subnetwork must belong to the enclosing environment's project and location.",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The disk size in GB used for node VMs. Minimum size is 30GB. If unspecified, defaults to 100GB. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "ipAllocationPolicy": {
          "description": "Optional. The configuration for controlling how IPs are allocated in the GKE cluster.",
          "$ref": "IPAllocationPolicy"
        },
        "location": {
          "description": "Optional. The Compute Engine [zone](/compute/docs/regions-zones) in which to deploy the VMs used to run the Apache Airflow software, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}\". This `location` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.machineType` are specified, `nodeConfig.machineType` must belong to this `location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If only one field (`location` or `nodeConfig.machineType`) is specified, the location information from the specified field will be propagated to the unspecified field. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "composerInternalIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The IP range in CIDR notation to use internally by Cloud Composer. IP addresses are not reserved - and the same range can be used by multiple Cloud Composer environments. In case of overlap, IPs from this range will not be accessible in the user's VPC network. Cannot be updated. If not specified, the default value of '100.64.128.0/20' is used. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "network": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/global/networks/{networkId}\". If unspecified, the \"default\" network ID in the environment's project is used. If a [Custom Subnet Network](/vpc/docs/vpc#vpc_networks_and_subnets) is provided, `nodeConfig.subnetwork` must also be provided. For [Shared VPC](/vpc/docs/shared-vpc) subnetwork requirements, see `nodeConfig.subnetwork`."
        },
        "composerNetworkAttachment": {
          "type": "string",
          "description": "Optional. Network Attachment that Cloud Composer environment is connected to, which provides connectivity with a user's VPC network. Takes precedence over network and subnetwork settings. If not provided, but network and subnetwork are defined during environment, it will be provisioned. If not provided and network and subnetwork are also empty, then connectivity to user's VPC network is disabled. Network attachment must be provided in format projects/{project}/regions/{region}/networkAttachments/{networkAttachment}. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "enableIpMasqAgent": {
          "description": "Optional. Deploys 'ip-masq-agent' daemon set in the GKE cluster and defines nonMasqueradeCIDRs equals to pod IP range so IP masquerading is used for all destination addresses, except between pods traffic. See: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent",
          "type": "boolean"
        }
      }
    },
    "ListImageVersionsResponse": {
      "properties": {
        "imageVersions": {
          "items": {
            "$ref": "ImageVersion"
          },
          "description": "The list of supported ImageVersions in a location.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        }
      },
      "description": "The ImageVersions in a project and location.",
      "type": "object",
      "id": "ListImageVersionsResponse"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "PrivateClusterConfig": {
      "type": "object",
      "id": "PrivateClusterConfig",
      "properties": {
        "masterIpv4ReservedRange": {
          "description": "Output only. The IP range in CIDR notation to use for the hosted master network. This range is used for assigning internal IP addresses to the GKE cluster master or set of masters and to the internal load balancer virtual IP. This range must not overlap with any other ranges in use within the cluster's network.",
          "readOnly": true,
          "type": "string"
        },
        "enablePrivateEndpoint": {
          "description": "Optional. If `true`, access to the public endpoint of the GKE cluster is denied.",
          "type": "boolean"
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IPv4 range for GKE master will be reserved. If left blank, the default value of '172.16.0.0/23' is used."
        }
      },
      "description": "Configuration options for the private GKE cluster in a Cloud Composer environment."
    },
    "StopAirflowCommandRequest": {
      "properties": {
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        },
        "pod": {
          "type": "string",
          "description": "The name of the pod where the command is executed."
        },
        "force": {
          "description": "If true, the execution is terminated forcefully (SIGKILL). If false, the execution is stopped gracefully, giving it time for cleanup.",
          "type": "boolean"
        },
        "executionId": {
          "description": "The unique ID of the command execution.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Stop Airflow Command request.",
      "id": "StopAirflowCommandRequest"
    },
    "SaveSnapshotRequest": {
      "description": "Request to create a snapshot of a Cloud Composer environment.",
      "id": "SaveSnapshotRequest",
      "properties": {
        "snapshotLocation": {
          "type": "string",
          "description": "Location in a Cloud Storage where the snapshot is going to be stored, e.g.: \"gs://my-bucket/snapshots\"."
        }
      },
      "type": "object"
    },
    "StopAirflowCommandResponse": {
      "id": "StopAirflowCommandResponse",
      "description": "Response to StopAirflowCommandRequest.",
      "type": "object",
      "properties": {
        "isDone": {
          "type": "boolean",
          "description": "Whether the execution is still running."
        },
        "output": {
          "items": {
            "type": "string"
          },
          "description": "Output message from stopping execution request.",
          "type": "array"
        }
      }
    },
    "ComposerWorkload": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Not able to determine the type of the workload.",
            "Celery worker.",
            "Kubernetes worker.",
            "Workload created by Kubernetes Pod Operator.",
            "Airflow scheduler.",
            "Airflow Dag processor.",
            "Airflow triggerer.",
            "Airflow web server UI.",
            "Redis."
          ],
          "description": "Type of a workload.",
          "type": "string",
          "enum": [
            "COMPOSER_WORKLOAD_TYPE_UNSPECIFIED",
            "CELERY_WORKER",
            "KUBERNETES_WORKER",
            "KUBERNETES_OPERATOR_POD",
            "SCHEDULER",
            "DAG_PROCESSOR",
            "TRIGGERER",
            "WEB_SERVER",
            "REDIS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of a workload."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status of a workload.",
          "$ref": "ComposerWorkloadStatus"
        }
      },
      "description": "Information about a single workload.",
      "type": "object",
      "id": "ComposerWorkload"
    },
    "IPAllocationPolicy": {
      "properties": {
        "servicesIpv4CidrBlock": {
          "description": "Optional. The IP address range of the services IP addresses in this GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
          "type": "string"
        },
        "useIpAliases": {
          "description": "Optional. Whether or not to enable Alias IPs in the GKE cluster. If `true`, a VPC-native cluster is created. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use VPC-native GKE clusters.",
          "type": "boolean"
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The IP address range used to allocate IP addresses to pods in the GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "servicesSecondaryRangeName": {
          "type": "string",
          "description": "Optional. The name of the services' secondary range used to allocate IP addresses to the GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true."
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "Optional. The name of the GKE cluster's secondary range used to allocate IP addresses to pods. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true."
        }
      },
      "type": "object",
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the GKE cluster running the Apache Airflow software."
    },
    "DagProcessorResource": {
      "properties": {
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of DAG processors. If not provided or set to 0, a single DAG processor instance will be created."
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow DAG processor replica.",
          "format": "float",
          "type": "number"
        },
        "cpu": {
          "type": "number",
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow DAG processor replica."
        },
        "storageGb": {
          "description": "Optional. Storage (GB) request and limit for a single Airflow DAG processor replica.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Configuration for resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
      "id": "DagProcessorResource",
      "type": "object"
    },
    "SoftwareConfig": {
      "type": "object",
      "id": "SoftwareConfig",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        },
        "airflowConfigOverrides": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Apache Airflow configuration properties to override. Property keys contain the section and property names, separated by a hyphen, for example \"core-dags_are_paused_at_creation\". Section names must not contain hyphens (\"-\"), opening square brackets (\"[\"), or closing square brackets (\"]\"). The property name must not be empty and must not contain an equals sign (\"=\") or semicolon (\";\"). Section and property names must not contain a period (\".\"). Apache Airflow configuration property names must be written in [snake_case](https://en.wikipedia.org/wiki/Snake_case). Property values can contain any character, and can be written in any lower/upper case format. Certain Apache Airflow configuration property values are [blocked](/composer/docs/concepts/airflow-configurations), and cannot be overridden."
        },
        "envVariables": {
          "type": "object",
[...]
