{
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.africa-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://composer.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://composer.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://composer.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://composer.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://composer.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://composer.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://composer.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://composer.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://composer.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://composer.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://composer.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.europe-west9.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://composer.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://composer.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://composer.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://composer.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://composer.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://composer.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://composer.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://composer.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://composer.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://composer.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://composer.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://composer.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://composer.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://composer.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "description": "Manages Apache Airflow environments on Google Cloud Platform.",
  "canonicalName": "Cloud Composer",
  "discoveryVersion": "v1",
  "id": "composer:v1beta1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "environments": {
              "resources": {
                "userWorkloadsConfigMaps": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.get",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "description": "Gets an existing user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the ConfigMap to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\""
                        }
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "description": "Lists user workloads ConfigMaps. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "path": "v1beta1/{+parent}/userWorkloadsConfigMaps",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUserWorkloadsConfigMapsResponse"
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of ConfigMaps to return."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. List ConfigMaps in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The environment name to create a ConfigMap for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                        }
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "path": "v1beta1/{+parent}/userWorkloadsConfigMaps",
                      "httpMethod": "POST",
                      "description": "Creates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The ConfigMap to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.delete"
                    },
                    "update": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "description": "Updates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.update",
                      "httpMethod": "PUT",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ]
                    }
                  }
                },
                "userWorkloadsSecrets": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "description": "Required. The resource name of the Secret to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "description": "Gets an existing user workloads Secret. Values of the \"data\" field in the response are cleared. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.get",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists user workloads Secrets. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "response": {
                        "$ref": "ListUserWorkloadsSecretsResponse"
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "path": "v1beta1/{+parent}/userWorkloadsSecrets",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of Secrets to return."
                        },
                        "parent": {
                          "description": "Required. List Secrets in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets"
                    },
                    "create": {
                      "path": "v1beta1/{+parent}/userWorkloadsSecrets",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.create",
                      "description": "Creates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The environment name to create a Secret for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "description": "Required. The Secret to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Deletes a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}"
                    },
                    "update": {
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "path": "v1beta1/{+name}",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.update",
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "description": "Updates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}"
                    }
                  }
                },
                "workloads": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/workloads",
                      "description": "Lists workloads in a Cloud Composer environment. Workload is a unit that runs a single Composer component. This method is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "path": "v1beta1/{+parent}/workloads",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of environments to return.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The environment name to get workloads for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                        },
                        "filter": {
                          "description": "Optional. The list filter. Currently only supports equality on the type field. The value of a field specified in the filter expression must be one ComposerWorkloadType enum option. It's possible to get multiple types using \"OR\" operator, e.g.: \"type=SCHEDULER OR type=CELERY_WORKER\". If not specified, all items are returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query"
                        }
                      },
                      "id": "composer.projects.locations.environments.workloads.list"
                    }
                  }
                }
              },
              "methods": {
                "resume": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the environment to resume, in the form: \"projects/{project}/locations/{location}/environments/{environment}\""
                    }
                  },
                  "description": "Resumes (unpauses) a hibernated environment. It requests the environment to switch to the RUNNING state, so that it is ready to use and run DAGs. This method is supported for Cloud Composer environments in development mode in versions composer-3-airflow-*.*.*-build.* and newer.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "request": {
                    "$ref": "ResumeEnvironmentRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:resume",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "composer.projects.locations.environments.resume",
                  "path": "v1beta1/{+name}:resume"
                },
                "databaseFailover": {
                  "request": {
                    "$ref": "DatabaseFailoverRequest"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "path": "v1beta1/{+environment}:databaseFailover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Target environment: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:databaseFailover",
                  "description": "Triggers database failover (only for highly resilient environments).",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.databaseFailover"
                },
                "executeAirflowCommand": {
                  "id": "composer.projects.locations.environments.executeAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1beta1/{+environment}:executeAirflowCommand",
                  "description": "Executes Airflow CLI command.",
                  "response": {
                    "$ref": "ExecuteAirflowCommandResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExecuteAirflowCommandRequest"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:executeAirflowCommand",
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Environment"
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Update an environment.",
                  "id": "composer.projects.locations.environments.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The relative resource name of the environment to update, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. A comma-separated list of paths, relative to `Environment`, of fields to update. For example, to set the version of scikit-learn to install in the environment to 0.19.0 and to remove an existing installation of argparse, the `updateMask` parameter would include the following two `paths` values: \"config.softwareConfig.pypiPackages.scikit-learn\" and \"config.softwareConfig.pypiPackages.argparse\". The included patch environment would specify the scikit-learn version as follows: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"scikit-learn\":\"==0.19.0\" } } } } Note that in the above example, any existing PyPI packages other than scikit-learn and argparse will be unaffected. Only one update type may be included in a single request's `updateMask`. For example, one cannot update both the PyPI packages and labels in the same request. However, it is possible to update multiple members of a map field simultaneously in the same request. For example, to set the labels \"label1\" and \"label2\" while clearing \"label3\" (assuming it already exists), one can provide the paths \"labels.label1\", \"labels.label2\", and \"labels.label3\" and populate the patch environment as follows: { \"labels\":{ \"label1\":\"new-label1-value\" \"label2\":\"new-label2-value\" } } Note that in the above example, any existing labels that are not included in the `updateMask` will be unaffected. It is also possible to replace an entire map field by providing the map field's path in the `updateMask`. The new value of the field will be that which is provided in the patch environment. For example, to delete all pre-existing user-specified PyPI packages and install botocore at version 1.7.14, the `updateMask` would contain the path \"config.softwareConfig.pypiPackages\", and the patch environment would be the following: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"botocore\":\"==1.7.14\" } } } } **Note:** Only the following fields can be updated: * `config.softwareConfig.pypiPackages` * Replace all custom custom PyPI packages. If a replacement package map is not included in `environment`, all custom PyPI packages are cleared. It is an error to provide both this mask and a mask specifying an individual package. * `config.softwareConfig.pypiPackages.`packagename * Update the custom PyPI package *packagename*, preserving other packages. To delete the package, include it in `updateMask`, and omit the mapping for it in `environment.config.softwareConfig.pypiPackages`. It is an error to provide both a mask of this form and the `config.softwareConfig.pypiPackages` mask. * `labels` * Replace all environment labels. If a replacement labels map is not included in `environment`, all labels are cleared. It is an error to provide both this mask and a mask specifying one or more individual labels. * `labels.`labelName * Set the label named *labelName*, while preserving other labels. To delete the label, include it in `updateMask` and omit its mapping in `environment.labels`. It is an error to provide both a mask of this form and the `labels` mask. * `config.nodeCount` * Horizontally scale the number of nodes in the environment. An integer greater than or equal to 3 must be provided in the `config.nodeCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerNetworkAccessControl` * Replace the environment's current WebServerNetworkAccessControl. * `config.softwareConfig.airflowConfigOverrides` * Replace all Apache Airflow config overrides. If a replacement config overrides map is not included in `environment`, all config overrides are cleared. It is an error to provide both this mask and a mask specifying one or more individual config overrides. * `config.softwareConfig.airflowConfigOverrides.`section-name * Override the Apache Airflow config property *name* in the section named *section*, preserving other properties. To delete the property override, include it in `updateMask` and omit its mapping in `environment.config.softwareConfig.airflowConfigOverrides`. It is an error to provide both a mask of this form and the `config.softwareConfig.airflowConfigOverrides` mask. * `config.softwareConfig.envVariables` * Replace all environment variables. If a replacement environment variable map is not included in `environment`, all custom environment variables are cleared. * `config.softwareConfig.imageVersion` * Upgrade the version of the environment in-place. Refer to `SoftwareConfig.image_version` for information on how to format the new image version. Additionally, the new image version cannot effect a version downgrade, and must match the current image version's Composer and Airflow major versions. Consult the [Cloud Composer version list](/composer/docs/concepts/versioning/composer-versions) for valid values. * `config.softwareConfig.schedulerCount` * Horizontally scale the number of schedulers in Airflow. A positive integer not greater than the number of nodes must be provided in the `config.softwareConfig.schedulerCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*. * `config.softwareConfig.cloudDataLineageIntegration` * Configuration for Cloud Data Lineage integration. * `config.databaseConfig.machineType` * Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerConfig.machineType` * Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.maintenanceWindow` * Maintenance window during which Cloud Composer components may be under maintenance. * `config.workloadsConfig` * The workloads configuration settings for the GKE cluster associated with the Cloud Composer environment. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer. * `config.environmentSize` * The size of the Cloud Composer environment. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "stopAirflowCommand": {
                  "response": {
                    "$ref": "StopAirflowCommandResponse"
                  },
                  "httpMethod": "POST",
                  "id": "composer.projects.locations.environments.stopAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1beta1/{+environment}:stopAirflowCommand",
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Stops Airflow CLI command execution.",
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:stopAirflowCommand",
                  "request": {
                    "$ref": "StopAirflowCommandRequest"
                  }
                },
                "pollAirflowCommand": {
                  "id": "composer.projects.locations.environments.pollAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "request": {
                    "$ref": "PollAirflowCommandRequest"
                  },
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:pollAirflowCommand",
                  "path": "v1beta1/{+environment}:pollAirflowCommand",
                  "response": {
                    "$ref": "PollAirflowCommandResponse"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Polls Airflow CLI command execution and fetches logs.",
                  "httpMethod": "POST"
                },
                "loadSnapshot": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:loadSnapshot",
                  "parameterOrder": [
                    "environment"
                  ],
                  "path": "v1beta1/{+environment}:loadSnapshot",
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the target environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Loads a snapshot of a Cloud Composer environment. As a result of this operation, a snapshot of environment's specified in LoadSnapshotRequest is loaded into the environment.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.loadSnapshot",
                  "request": {
                    "$ref": "LoadSnapshotRequest"
                  }
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "httpMethod": "DELETE",
                  "id": "composer.projects.locations.environments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete an environment.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The environment to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "hibernate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Hibernates (pauses) a running environment. It requests the environment to switch to the HIBERNATED state, keeping its data and minimizing cost, but not running any DAGs. This method is supported for Cloud Composer environments in development mode in versions composer-3-airflow-*.*.*-build.* and newer.",
                  "httpMethod": "POST",
                  "id": "composer.projects.locations.environments.hibernate",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:hibernate",
                  "path": "v1beta1/{+name}:hibernate",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the environment to hibernate, in the form: \"projects/{project}/locations/{location}/environments/{environment}\"",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "HibernateEnvironmentRequest"
                  }
                },
                "list": {
                  "description": "List environments.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "path": "v1beta1/{+parent}/environments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "parent": {
                      "description": "List environments in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of environments to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "id": "composer.projects.locations.environments.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments"
                },
                "saveSnapshot": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Creates a snapshots of a Cloud Composer environment. As a result of this operation, snapshot of environment's state is stored in a location specified in the SaveSnapshotRequest.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1beta1/{+environment}:saveSnapshot",
                  "request": {
                    "$ref": "SaveSnapshotRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:saveSnapshot",
                  "id": "composer.projects.locations.environments.saveSnapshot",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the source environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "id": "composer.projects.locations.environments.get",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Get an existing environment.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the environment to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}"
                },
                "restartWebServer": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the environment to restart the web server for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}:restartWebServer",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RestartWebServerRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.restartWebServer",
                  "description": "Restart Airflow web server.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:restartWebServer"
                },
                "checkUpgrade": {
                  "description": "Check if an upgrade operation on the environment will succeed. In case of problems detailed info can be found in the returned Operation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:checkUpgrade",
                  "path": "v1beta1/{+environment}:checkUpgrade",
                  "httpMethod": "POST",
                  "id": "composer.projects.locations.environments.checkUpgrade",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the environment to check upgrade for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "CheckUpgradeRequest"
                  }
                },
                "fetchDatabaseProperties": {
                  "httpMethod": "GET",
                  "description": "Fetches database properties.",
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "FetchDatabasePropertiesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "id": "composer.projects.locations.environments.fetchDatabaseProperties",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:fetchDatabaseProperties",
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+environment}:fetchDatabaseProperties"
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments",
                  "path": "v1beta1/{+parent}/environments",
                  "request": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "POST",
                  "description": "Create a new environment.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The parent must be of the form \"projects/{projectId}/locations/{locationId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "composer.projects.locations.environments.create"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "composer.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "path": "v1beta1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "composer.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "id": "composer.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "imageVersions": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/imageVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "List ImageVersions in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of image_versions to return."
                    },
                    "includePastReleases": {
                      "location": "query",
                      "description": "Whether or not image versions from old releases should be included.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "id": "composer.projects.locations.imageVersions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListImageVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List ImageVersions for provided location."
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Environment": {
      "description": "An environment for running orchestration tasks.",
      "id": "Environment",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The time at which this environment was last modified.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "The current state of the environment.",
          "enumDescriptions": [
            "The state of the environment is unknown.",
            "The environment is in the process of being created.",
            "The environment is currently running and healthy. It is ready for use.",
            "The environment is being updated. It remains usable but cannot receive additional update requests or be deleted at this time.",
            "The environment is currently hibernated. It does not run any DAGs.",
            "The environment is undergoing deletion. It cannot be used.",
            "The environment has encountered an error and cannot be used."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "UPDATING",
            "HIBERNATED",
            "DELETING",
            "ERROR"
          ]
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "config": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Configuration parameters for this environment."
        },
        "uuid": {
          "readOnly": true,
          "description": "Output only. The UUID (Universally Unique IDentifier) associated with this environment. This value is generated when the environment is created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for this environment. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "storageConfig": {
          "description": "Optional. Storage configuration for this environment.",
          "$ref": "StorageConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which this environment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "Represents the default mode, which allows full customization of the environment. It should be used for all production and customized test environments.",
            "Represents the development mode, which has constraints on the environment configuration, but offers an additional feature (environment hibernation). It should be used only for test environments."
          ],
          "description": "Optional. Selects the environment mode that determines what settings are customizable and what features are available in the environment."
        },
        "name": {
          "description": "Identifier. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\" EnvironmentId must start with a lowercase letter followed by up to 63 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        }
      }
    },
    "ScheduledSnapshotsConfig": {
      "description": "The configuration for scheduled snapshot creation mechanism.",
      "type": "object",
      "properties": {
        "snapshotLocation": {
          "description": "Optional. The Cloud Storage location for storing automatically created snapshots.",
          "type": "string"
        },
        "snapshotCreationSchedule": {
          "description": "Optional. The cron expression representing the time when snapshots creation mechanism runs. This field is subject to additional validation around frequency of execution.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether scheduled snapshots creation is enabled."
        },
        "timeZone": {
          "description": "Optional. Time zone that sets the context to interpret snapshot_creation_schedule.",
          "type": "string"
        }
      },
      "id": "ScheduledSnapshotsConfig"
    },
    "RecoveryConfig": {
      "type": "object",
      "description": "The Recovery settings of an environment.",
      "properties": {
        "scheduledSnapshotsConfig": {
          "description": "Optional. The configuration for scheduled snapshot creation mechanism.",
          "$ref": "ScheduledSnapshotsConfig"
        }
      },
      "id": "RecoveryConfig"
    },
    "OperationMetadata": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "Output only. The resource being operated on, as a [relative resource name]( /apis/design/resource_names#relative_resource_name)."
        },
        "state": {
          "description": "Output only. The current operation state.",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running but did not succeed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCESSFUL",
            "FAILED"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was submitted to the server.",
          "format": "google-datetime"
        },
        "operationType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "CHECK",
            "SAVE_SNAPSHOT",
            "LOAD_SNAPSHOT",
            "DATABASE_FAILOVER",
            "MIGRATE",
            "HIBERNATE",
            "RESUME"
          ],
          "enumDescriptions": [
            "Unused.",
            "A resource creation operation.",
            "A resource deletion operation.",
            "A resource update operation.",
            "A resource check operation.",
            "Saves snapshot of the resource operation.",
            "Loads snapshot of the resource operation.",
            "Triggers failover of environment's Cloud SQL instance (only for highly resilient environments).",
            "Migrates resource to a new major version.",
            "Hibernates a resource.",
            "Resumes a resource."
          ],
          "description": "Output only. The type of operation being performed."
        },
        "resourceUuid": {
          "type": "string",
          "description": "Output only. The UUID of the resource being operated on."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the operation terminated, regardless of its success. This field is unset if the operation is still ongoing."
        }
      },
      "description": "Metadata describing an operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "RestartWebServerRequest": {
      "type": "object",
      "description": "Restart Airflow web server.",
      "properties": {},
      "id": "RestartWebServerRequest"
    },
    "ComposerWorkload": {
      "description": "Information about a single workload.",
      "id": "ComposerWorkload",
      "properties": {
        "status": {
          "description": "Output only. Status of a workload.",
          "$ref": "ComposerWorkloadStatus",
          "readOnly": true
        },
        "name": {
          "description": "Name of a workload.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Not able to determine the type of the workload.",
            "Celery worker.",
            "Kubernetes worker.",
            "Workload created by Kubernetes Pod Operator.",
            "Airflow scheduler.",
            "Airflow Dag processor.",
            "Airflow triggerer.",
            "Airflow web server UI.",
            "Redis."
          ],
          "type": "string",
          "enum": [
            "COMPOSER_WORKLOAD_TYPE_UNSPECIFIED",
            "CELERY_WORKER",
            "KUBERNETES_WORKER",
            "KUBERNETES_OPERATOR_POD",
            "SCHEDULER",
            "DAG_PROCESSOR",
            "TRIGGERER",
            "WEB_SERVER",
            "REDIS"
          ],
          "description": "Type of a workload."
        }
      },
      "type": "object"
    },
    "StopAirflowCommandResponse": {
      "type": "object",
      "description": "Response to StopAirflowCommandRequest.",
      "properties": {
        "isDone": {
          "type": "boolean",
          "description": "Whether the execution is still running."
        },
        "output": {
          "description": "Output message from stopping execution request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "StopAirflowCommandResponse"
    },
    "LoadSnapshotRequest": {
      "id": "LoadSnapshotRequest",
      "properties": {
        "skipAirflowOverridesSetting": {
          "description": "Whether or not to skip setting Airflow overrides when loading the environment's state.",
          "type": "boolean"
        },
        "skipGcsDataCopying": {
          "description": "Whether or not to skip copying Cloud Storage data when loading the environment's state.",
          "type": "boolean"
        },
        "skipEnvironmentVariablesSetting": {
          "description": "Whether or not to skip setting environment variables when loading the environment's state.",
          "type": "boolean"
        },
        "snapshotPath": {
          "description": "A Cloud Storage path to a snapshot to load, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\".",
          "type": "string"
        },
        "skipPypiPackagesInstallation": {
          "type": "boolean",
          "description": "Whether or not to skip installing Pypi packages when loading the environment's state."
        }
      },
      "type": "object",
      "description": "Request to load a snapshot into a Cloud Composer environment."
    },
    "DatabaseConfig": {
      "description": "The configuration of Cloud SQL instance that is used by the Apache Airflow software.",
      "id": "DatabaseConfig",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. If not specified, db-n1-standard-2 will be used. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone where the Airflow database is created. If zone is provided, it must be in the region selected for the environment. If zone is not provided, a zone is automatically selected. The zone can only be set during environment creation. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.*."
        }
      }
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "description": "The list of environments returned by a ListEnvironmentsRequest.",
          "items": {
            "$ref": "Environment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        }
      },
      "description": "The environments in a project and location.",
      "type": "object",
      "id": "ListEnvironmentsResponse"
    },
    "PollAirflowCommandRequest": {
      "id": "PollAirflowCommandRequest",
      "description": "Poll Airflow Command request.",
      "type": "object",
      "properties": {
        "podNamespace": {
          "description": "The namespace of the pod where the command is executed.",
          "type": "string"
        },
        "nextLineNumber": {
          "description": "Line number from which new logs should be fetched.",
          "format": "int32",
          "type": "integer"
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        },
        "executionId": {
          "description": "The unique ID of the command execution.",
          "type": "string"
        }
      }
    },
    "WebServerResource": {
      "description": "Configuration for resources used by Airflow web server.",
      "properties": {
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for Airflow web server.",
          "type": "number",
          "format": "float"
        },
        "cpu": {
          "format": "float",
          "description": "Optional. CPU request and limit for Airflow web server.",
          "type": "number"
        },
        "storageGb": {
          "description": "Optional. Storage (GB) request and limit for Airflow web server.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "WebServerResource",
      "type": "object"
    },
    "Line": {
      "properties": {
        "lineNumber": {
          "description": "Number of the line.",
          "type": "integer",
          "format": "int32"
        },
        "content": {
          "description": "Text content of the log line.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains information about a single line from logs.",
      "id": "Line"
    },
    "DataRetentionConfig": {
      "type": "object",
      "description": "The configuration setting for Airflow database data retention mechanism.",
      "id": "DataRetentionConfig",
      "properties": {
        "taskLogsRetentionConfig": {
          "description": "Optional. The configuration settings for task logs retention",
          "$ref": "TaskLogsRetentionConfig"
        },
        "airflowDatabaseRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of days describing for how long to store event-based records in airflow database. If the retention mechanism is enabled this value must be a positive integer otherwise, value should be set to 0.",
          "deprecated": true
        },
        "airflowMetadataRetentionConfig": {
          "description": "Optional. The retention policy for airflow metadata database.",
          "$ref": "AirflowMetadataRetentionPolicyConfig"
        }
      }
    },
    "ResumeEnvironmentRequest": {
      "properties": {},
      "id": "ResumeEnvironmentRequest",
      "description": "Request to resume a Composer environment.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "ExecuteAirflowCommandResponse": {
      "type": "object",
      "properties": {
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        },
        "pod": {
          "type": "string",
          "description": "The name of the pod where the command is executed."
        },
        "executionId": {
          "type": "string",
          "description": "The unique ID of the command execution for polling."
        },
        "error": {
          "description": "Error message. Empty if there was no error.",
          "type": "string"
        }
      },
      "id": "ExecuteAirflowCommandResponse",
      "description": "Response to ExecuteAirflowCommandRequest."
    },
    "DatabaseFailoverResponse": {
      "id": "DatabaseFailoverResponse",
      "type": "object",
      "description": "Response for DatabaseFailoverRequest.",
      "properties": {}
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "ConfigConflict": {
      "description": "Environment configuration conflict.",
      "properties": {
        "message": {
          "description": "Conflict message.",
          "type": "string"
        },
        "type": {
          "description": "Conflict type. It can be blocking or non-blocking.",
          "type": "string",
          "enum": [
            "CONFLICT_TYPE_UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
          "enumDescriptions": [
            "Conflict type is unknown.",
            "Conflict is blocking, the upgrade would fail.",
            "Conflict is non-blocking. The upgrade would succeed, but the environment configuration would be changed."
          ]
        }
      },
      "type": "object",
      "id": "ConfigConflict"
    },
    "NetworkingConfig": {
      "description": "Configuration options for networking connections in the Composer 2 environment.",
      "type": "object",
      "id": "NetworkingConfig",
      "properties": {
        "connectionType": {
          "enumDescriptions": [
            "No specific connection type was requested, so the environment uses the default value corresponding to the rest of its configuration.",
            "Requests the use of VPC peerings for connecting the Customer and Tenant projects.",
            "Requests the use of Private Service Connect for connecting the Customer and Tenant projects."
          ],
          "type": "string",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "VPC_PEERING",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "description": "Optional. Indicates the user requested specific connection type between Tenant and Customer projects. You cannot set networking connection type in public IP environment."
        }
      }
    },
    "TrafficRoutingConfig": {
      "properties": {
        "cloudRunFunctionsRouting": {
          "description": "Optional. Controls how network traffic to Cloud Run functions is routed.",
          "type": "string",
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "DIRECT",
            "VIA_NETWORK_ATTACHMENT"
          ],
          "enumDescriptions": [
            "Unspecified routing mode. When provided in a create environment request, this value will be treated as `DIRECT`. When provided in an update environment request, this value will be ignored and the existing routing mode will be preserved.",
            "Route traffic directly to the destination service.",
            "Route traffic via connected network attachment. This mode requires that the environment has connectivity to the user's VPC network."
          ]
        }
      },
      "description": "Configuration for network traffic routing from the Cloud Composer environment to other services.",
      "type": "object",
      "id": "TrafficRoutingConfig"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "CidrBlock": {
      "type": "object",
      "id": "CidrBlock",
      "description": "CIDR block with an optional name.",
      "properties": {
        "cidrBlock": {
          "description": "CIDR block that must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "description": "User-defined name that identifies the CIDR block.",
          "type": "string"
        }
      }
    },
    "StorageConfig": {
      "type": "object",
      "id": "StorageConfig",
      "properties": {
        "bucket": {
          "description": "Optional. The name of the Cloud Storage bucket used by the environment. No `gs://` prefix.",
          "type": "string"
        }
      },
      "description": "The configuration for data storage in the environment."
    },
    "PrivateEnvironmentConfig": {
      "description": "The configuration information for configuring a Private IP Cloud Composer environment.",
      "properties": {
        "cloudComposerNetworkIpv4ReservedRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP range reserved for the tenant project's Cloud Composer network. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
        },
        "enablePrivateEnvironment": {
          "description": "Optional. If `true`, a Private IP Cloud Composer environment is created. If this field is set to true, `IPAllocationPolicy.use_ip_aliases` must be set to true for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. This field is going to be deprecated. Use `networking_type` instead.",
          "type": "boolean"
        },
        "cloudComposerConnectionSubnetwork": {
          "type": "string",
          "description": "Optional. When specified, the environment will use Private Service Connect instead of VPC peerings to connect to Cloud SQL in the Tenant Project, and the PSC endpoint in the Customer Project will use an IP address from this subnetwork."
        },
        "webServerIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for web server will be reserved. Needs to be disjoint from private_cluster_config.master_ipv4_cidr_block and cloud_sql_ipv4_cidr_block. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Optional. Configuration for the private GKE cluster for a Private IP Cloud Composer environment."
        },
        "webServerIpv4ReservedRange": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP range reserved for the tenant project's App Engine VMs. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "networkingType": {
          "enumDescriptions": [
            "Default networking type.",
            "Private IP Cloud Composer environment with no access to the internet.",
            "Cloud Composer environment with access to the internet."
          ],
          "description": "Optional. Networking type for the environment, either private or public.",
          "type": "string",
          "enum": [
            "NETWORKING_TYPE_UNSPECIFIED",
            "PRIVATE",
            "PUBLIC"
          ]
        },
        "enablePrivateBuildsOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, builds performed during operations that install Python packages have only private connectivity to Google services (including Artifact Registry) and VPC network (if either `NodeConfig.network` and `NodeConfig.subnetwork` fields or `NodeConfig.composer_network_attachment` field are specified). If `false`, the builds also have access to the internet. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "networkingConfig": {
          "description": "Optional. Configuration for the network connections configuration in the environment.",
          "$ref": "NetworkingConfig"
        },
        "enablePrivatelyUsedPublicIps": {
          "description": "Optional. When enabled, IPs from public (non-RFC1918) ranges can be used for `IPAllocationPolicy.cluster_ipv4_cidr_block` and `IPAllocationPolicy.service_ipv4_cidr_block`.",
          "type": "boolean"
        },
        "cloudComposerNetworkIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for Cloud Composer Network in tenant project will be reserved. Needs to be disjoint from private_cluster_config.master_ipv4_cidr_block and cloud_sql_ipv4_cidr_block. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string"
        },
        "cloudSqlIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IP range in tenant project will be reserved for Cloud SQL. Needs to be disjoint from web_server_ipv4_cidr_block"
        }
      },
      "id": "PrivateEnvironmentConfig",
      "type": "object"
    },
    "SoftwareConfig": {
      "id": "SoftwareConfig",
      "type": "object",
      "description": "Specifies the selection and configuration of software inside the environment.",
      "properties": {
        "imageVersion": {
          "type": "string",
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview)."
        },
        "auditLogsReplicationMode": {
          "type": "string",
          "enum": [
            "AUDIT_LOGS_REPLICATION_MODE_UNSPECIFIED",
            "AUDIT_LOGS_REPLICATION_DISABLED",
            "AUDIT_LOGS_REPLICATION_ENABLED"
          ],
          "enumDescriptions": [
            "The user's choice of logs replication mode is unspecified.",
            "The user opted out of audit logs replication.",
            "The user opted in to audit logs replication."
          ],
          "description": "Optional. The selected mode of audit logs replication. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "pythonVersion": {
          "description": "Optional. The major version of Python used to run the Apache Airflow scheduler, worker, and webserver processes. Can be set to '2' or '3'. If not specified, the default is '3'. Cannot be updated. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use Python major version 3.",
          "type": "string"
        },
[...]
