{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260901",
  "batchPath": "batch",
  "version": "v1beta1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "imageVersions": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                  "parameters": {
                    "includePastReleases": {
                      "description": "Whether or not image versions from old releases should be included.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "List ImageVersions in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of image_versions to return.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListImageVersionsResponse"
                  },
                  "path": "v1beta1/{+parent}/imageVersions",
                  "id": "composer.projects.locations.imageVersions.list",
                  "description": "List ImageVersions for provided location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "environments": {
              "resources": {
                "userWorkloadsSecrets": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/userWorkloadsSecrets",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. The environment name to create a Secret for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "description": "Creates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.create",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      }
                    },
                    "list": {
                      "description": "Lists user workloads Secrets. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "description": "Required. List Secrets in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of Secrets to return.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/userWorkloadsSecrets",
                      "response": {
                        "$ref": "ListUserWorkloadsSecretsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.update",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ]
                    },
                    "delete": {
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.delete",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The Secret to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.get",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Secret to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Gets an existing user workloads Secret. Values of the \"data\" field in the response are cleared. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "userWorkloadsConfigMaps": {
                  "methods": {
                    "list": {
                      "description": "Lists user workloads ConfigMaps. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUserWorkloadsConfigMapsResponse"
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/userWorkloadsConfigMaps",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "description": "Required. List ConfigMaps in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of ConfigMaps to return.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ]
                    },
                    "create": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "path": "v1beta1/{+parent}/userWorkloadsConfigMaps",
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The environment name to create a ConfigMap for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "description": "Creates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.create",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "description": "Deletes a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The ConfigMap to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "path": "v1beta1/{+name}"
                    },
                    "update": {
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.update",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "description": "Updates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets an existing user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "path": "v1beta1/{+name}",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the ConfigMap to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ]
                    }
                  }
                },
                "workloads": {
                  "methods": {
                    "list": {
                      "id": "composer.projects.locations.environments.workloads.list",
                      "path": "v1beta1/{+parent}/workloads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of environments to return.",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The list filter. Currently only supports equality on the type field. The value of a field specified in the filter expression must be one ComposerWorkloadType enum option. It's possible to get multiple types using \"OR\" operator, e.g.: \"type=SCHEDULER OR type=CELERY_WORKER\". If not specified, all items are returned."
                        },
                        "parent": {
                          "description": "Required. The environment name to get workloads for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "description": "Lists workloads in a Cloud Composer environment. Workload is a unit that runs a single Composer component. This method is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
                    }
                  }
                }
              },
              "methods": {
                "checkUpgrade": {
                  "description": "Check if an upgrade operation on the environment will succeed. In case of problems detailed info can be found in the returned Operation.",
                  "id": "composer.projects.locations.environments.checkUpgrade",
                  "path": "v1beta1/{+environment}:checkUpgrade",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:checkUpgrade",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The resource name of the environment to check upgrade for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "request": {
                    "$ref": "CheckUpgradeRequest"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "httpMethod": "POST"
                },
                "hibernate": {
                  "path": "v1beta1/{+name}:hibernate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Hibernates (pauses) a running environment. It requests the environment to switch to the HIBERNATED state, keeping its data and minimizing cost, but not running any DAGs. This method is supported for Cloud Composer environments in development mode in versions composer-3-airflow-*.*.*-build.* and newer.",
                  "id": "composer.projects.locations.environments.hibernate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the environment to hibernate, in the form: \"projects/{project}/locations/{location}/environments/{environment}\"",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:hibernate",
                  "request": {
                    "$ref": "HibernateEnvironmentRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Environment"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "composer.projects.locations.environments.patch",
                  "description": "Update an environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of paths, relative to `Environment`, of fields to update. For example, to set the version of scikit-learn to install in the environment to 0.19.0 and to remove an existing installation of argparse, the `updateMask` parameter would include the following two `paths` values: \"config.softwareConfig.pypiPackages.scikit-learn\" and \"config.softwareConfig.pypiPackages.argparse\". The included patch environment would specify the scikit-learn version as follows: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"scikit-learn\":\"==0.19.0\" } } } } Note that in the above example, any existing PyPI packages other than scikit-learn and argparse will be unaffected. Only one update type may be included in a single request's `updateMask`. For example, one cannot update both the PyPI packages and labels in the same request. However, it is possible to update multiple members of a map field simultaneously in the same request. For example, to set the labels \"label1\" and \"label2\" while clearing \"label3\" (assuming it already exists), one can provide the paths \"labels.label1\", \"labels.label2\", and \"labels.label3\" and populate the patch environment as follows: { \"labels\":{ \"label1\":\"new-label1-value\" \"label2\":\"new-label2-value\" } } Note that in the above example, any existing labels that are not included in the `updateMask` will be unaffected. It is also possible to replace an entire map field by providing the map field's path in the `updateMask`. The new value of the field will be that which is provided in the patch environment. For example, to delete all pre-existing user-specified PyPI packages and install botocore at version 1.7.14, the `updateMask` would contain the path \"config.softwareConfig.pypiPackages\", and the patch environment would be the following: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"botocore\":\"==1.7.14\" } } } } **Note:** Only the following fields can be updated: * `config.softwareConfig.pypiPackages` * Replace all custom custom PyPI packages. If a replacement package map is not included in `environment`, all custom PyPI packages are cleared. It is an error to provide both this mask and a mask specifying an individual package. * `config.softwareConfig.pypiPackages.`packagename * Update the custom PyPI package *packagename*, preserving other packages. To delete the package, include it in `updateMask`, and omit the mapping for it in `environment.config.softwareConfig.pypiPackages`. It is an error to provide both a mask of this form and the `config.softwareConfig.pypiPackages` mask. * `labels` * Replace all environment labels. If a replacement labels map is not included in `environment`, all labels are cleared. It is an error to provide both this mask and a mask specifying one or more individual labels. * `labels.`labelName * Set the label named *labelName*, while preserving other labels. To delete the label, include it in `updateMask` and omit its mapping in `environment.labels`. It is an error to provide both a mask of this form and the `labels` mask. * `config.nodeCount` * Horizontally scale the number of nodes in the environment. An integer greater than or equal to 3 must be provided in the `config.nodeCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerNetworkAccessControl` * Replace the environment's current WebServerNetworkAccessControl. * `config.softwareConfig.airflowConfigOverrides` * Replace all Apache Airflow config overrides. If a replacement config overrides map is not included in `environment`, all config overrides are cleared. It is an error to provide both this mask and a mask specifying one or more individual config overrides. * `config.softwareConfig.airflowConfigOverrides.`section-name * Override the Apache Airflow config property *name* in the section named *section*, preserving other properties. To delete the property override, include it in `updateMask` and omit its mapping in `environment.config.softwareConfig.airflowConfigOverrides`. It is an error to provide both a mask of this form and the `config.softwareConfig.airflowConfigOverrides` mask. * `config.softwareConfig.envVariables` * Replace all environment variables. If a replacement environment variable map is not included in `environment`, all custom environment variables are cleared. * `config.softwareConfig.imageVersion` * Upgrade the version of the environment in-place. Refer to `SoftwareConfig.image_version` for information on how to format the new image version. Additionally, the new image version cannot effect a version downgrade, and must match the current image version's Composer and Airflow major versions. Consult the [Cloud Composer version list](/composer/docs/concepts/versioning/composer-versions) for valid values. * `config.softwareConfig.schedulerCount` * Horizontally scale the number of schedulers in Airflow. A positive integer not greater than the number of nodes must be provided in the `config.softwareConfig.schedulerCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*. * `config.softwareConfig.cloudDataLineageIntegration` * Configuration for Cloud Data Lineage integration. * `config.databaseConfig.machineType` * Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerConfig.machineType` * Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.maintenanceWindow` * Maintenance window during which Cloud Composer components may be under maintenance. * `config.workloadsConfig` * The workloads configuration settings for the GKE cluster associated with the Cloud Composer environment. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer. * `config.environmentSize` * The size of the Cloud Composer environment. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "The relative resource name of the environment to update, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "id": "composer.projects.locations.environments.get",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the environment to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Get an existing environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "loadSnapshot": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Loads a snapshot of a Cloud Composer environment. As a result of this operation, a snapshot of environment's specified in LoadSnapshotRequest is loaded into the environment.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:loadSnapshot",
                  "path": "v1beta1/{+environment}:loadSnapshot",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "LoadSnapshotRequest"
                  },
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the target environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "id": "composer.projects.locations.environments.loadSnapshot"
                },
                "stopAirflowCommand": {
                  "request": {
                    "$ref": "StopAirflowCommandRequest"
                  },
                  "path": "v1beta1/{+environment}:stopAirflowCommand",
                  "httpMethod": "POST",
                  "id": "composer.projects.locations.environments.stopAirflowCommand",
                  "description": "Stops Airflow CLI command execution.",
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "StopAirflowCommandResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:stopAirflowCommand"
                },
                "resume": {
                  "id": "composer.projects.locations.environments.resume",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Resumes (unpauses) a hibernated environment. It requests the environment to switch to the RUNNING state, so that it is ready to use and run DAGs. This method is supported for Cloud Composer environments in development mode in versions composer-3-airflow-*.*.*-build.* and newer.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}:resume",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the environment to resume, in the form: \"projects/{project}/locations/{location}/environments/{environment}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ResumeEnvironmentRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:resume"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "id": "composer.projects.locations.environments.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of environments to return.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "List environments in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
                  "description": "List environments.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/environments",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  }
                },
                "executeAirflowCommand": {
                  "response": {
                    "$ref": "ExecuteAirflowCommandResponse"
                  },
                  "id": "composer.projects.locations.environments.executeAirflowCommand",
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:executeAirflowCommand",
                  "description": "Executes Airflow CLI command.",
                  "parameterOrder": [
                    "environment"
                  ],
                  "path": "v1beta1/{+environment}:executeAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "request": {
                    "$ref": "ExecuteAirflowCommandRequest"
                  },
                  "httpMethod": "POST"
                },
                "fetchDatabaseProperties": {
                  "httpMethod": "GET",
                  "description": "Fetches database properties.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "Required. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "composer.projects.locations.environments.fetchDatabaseProperties",
                  "parameterOrder": [
                    "environment"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:fetchDatabaseProperties",
                  "path": "v1beta1/{+environment}:fetchDatabaseProperties",
                  "response": {
                    "$ref": "FetchDatabasePropertiesResponse"
                  }
                },
                "saveSnapshot": {
                  "id": "composer.projects.locations.environments.saveSnapshot",
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "description": "The resource name of the source environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:saveSnapshot",
                  "httpMethod": "POST",
                  "description": "Creates a snapshots of a Cloud Composer environment. As a result of this operation, snapshot of environment's state is stored in a location specified in the SaveSnapshotRequest.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "environment"
                  ],
                  "path": "v1beta1/{+environment}:saveSnapshot",
                  "request": {
                    "$ref": "SaveSnapshotRequest"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "composer.projects.locations.environments.create",
                  "path": "v1beta1/{+parent}/environments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments",
                  "description": "Create a new environment.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent must be of the form \"projects/{projectId}/locations/{locationId}\".",
                      "type": "string"
                    }
                  }
                },
                "restartWebServer": {
                  "request": {
                    "$ref": "RestartWebServerRequest"
                  },
                  "path": "v1beta1/{+name}:restartWebServer",
                  "httpMethod": "POST",
                  "description": "Restart Airflow web server.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:restartWebServer",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the environment to restart the web server for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.restartWebServer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ]
                },
                "pollAirflowCommand": {
                  "response": {
                    "$ref": "PollAirflowCommandResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:pollAirflowCommand",
                  "parameterOrder": [
                    "environment"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PollAirflowCommandRequest"
                  },
                  "description": "Polls Airflow CLI command execution and fetches logs.",
                  "path": "v1beta1/{+environment}:pollAirflowCommand",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "id": "composer.projects.locations.environments.pollAirflowCommand"
                },
                "databaseFailover": {
                  "parameterOrder": [
                    "environment"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:databaseFailover",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "DatabaseFailoverRequest"
                  },
                  "description": "Triggers database failover (only for highly resilient environments).",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Target environment: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+environment}:databaseFailover",
                  "id": "composer.projects.locations.environments.databaseFailover"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "description": "Delete an environment.",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The environment to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "composer.projects.locations.operations.get",
                  "path": "v1beta1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1beta1/{+name}/operations",
                  "id": "composer.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "composer.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://composer.googleapis.com/",
  "id": "composer:v1beta1",
  "documentationLink": "https://cloud.google.com/composer/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "TriggererResource": {
      "properties": {
        "cpu": {
          "type": "number",
          "description": "Optional. CPU request and limit for a single Airflow triggerer replica.",
          "format": "float"
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow triggerer replica.",
          "format": "float",
          "type": "number"
        },
        "count": {
          "type": "integer",
          "description": "Optional. The number of triggerers.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TriggererResource",
      "description": "Configuration for resources used by Airflow triggerers."
    },
    "ListWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        },
        "workloads": {
          "type": "array",
          "description": "The list of environment workloads.",
          "items": {
            "$ref": "ComposerWorkload"
          }
        }
      },
      "description": "Response to ListWorkloadsRequest.",
      "id": "ListWorkloadsResponse",
      "type": "object"
    },
    "AirflowMetadataRetentionPolicyConfig": {
      "properties": {
        "retentionMode": {
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Retention policy is enabled.",
            "Retention policy is disabled."
          ],
          "type": "string",
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "RETENTION_MODE_ENABLED",
            "RETENTION_MODE_DISABLED"
          ],
          "description": "Optional. Retention can be either enabled or disabled."
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. How many days data should be retained for."
        }
      },
      "description": "The policy for airflow metadata database retention.",
      "id": "AirflowMetadataRetentionPolicyConfig",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "StorageConfig": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Optional. The name of the Cloud Storage bucket used by the environment. No `gs://` prefix."
        }
      },
      "type": "object",
      "description": "The configuration for data storage in the environment.",
      "id": "StorageConfig"
    },
    "CidrBlock": {
      "type": "object",
      "description": "CIDR block with an optional name.",
      "id": "CidrBlock",
      "properties": {
        "cidrBlock": {
          "description": "CIDR block that must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-defined name that identifies the CIDR block."
        }
      }
    },
    "NodeConfig": {
      "description": "The configuration information for the Kubernetes Engine nodes running the Apache Airflow software.",
      "id": "NodeConfig",
      "properties": {
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Optional. The IPAllocationPolicy fields for the GKE cluster."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of instance tags applied to all node VMs. Tags are used to identify valid sources or targets for network firewalls. Each tag within the list must comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt). Cannot be updated.",
          "type": "array"
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Optional. The disk size in GB used for node VMs. Minimum size is 30GB. If unspecified, defaults to 100GB. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "format": "int32"
        },
        "network": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/global/networks/{networkId}\". If unspecified, the default network in the environment's project is used. If a [Custom Subnet Network](/vpc/docs/vpc#vpc_networks_and_subnets) is provided, `nodeConfig.subnetwork` must also be provided. For [Shared VPC](/vpc/docs/shared-vpc) subnetwork requirements, see `nodeConfig.subnetwork`."
        },
        "maxPodsPerNode": {
          "description": "Optional. The maximum number of pods per node in the Cloud Composer GKE cluster. The value must be between 8 and 110 and it can be set only if the environment is VPC-native. The default value is 32. Values of this field will be propagated both to the `default-pool` node pool of the newly created GKE cluster, and to the default \"Maximum Pods per Node\" value which is used for newly created node pools if their value is not explicitly set during node pool creation. For more information, see [Optimizing IP address allocation] (https://cloud.google.com/kubernetes-engine/docs/how-to/flexible-pod-cidr). Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "integer",
          "format": "int32"
        },
        "composerNetworkAttachment": {
          "type": "string",
          "description": "Optional. Network Attachment that Cloud Composer environment is connected to, which provides connectivity with a user's VPC network. Takes precedence over network and subnetwork settings. If not provided, but network and subnetwork are defined during environment, it will be provisioned. If not provided and network and subnetwork are also empty, then connectivity to user's VPC network is disabled. Network attachment must be provided in format projects/{project}/regions/{region}/networkAttachments/{networkAttachment}. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of Google API scopes to be made available on all node VMs. If `oauth_scopes` is empty, defaults to [\"https://www.googleapis.com/auth/cloud-platform\"]. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "array"
        },
        "trafficRoutingConfig": {
          "description": "Optional. Configures how the environment routes traffic to other services. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "$ref": "TrafficRoutingConfig"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The Compute Engine [machine type](/compute/docs/machine-types) used for cluster instances, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}/machineTypes/{machineTypeId}\". The `machineType` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.location` are specified, this `machineType` must belong to the `nodeConfig.location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If exactly one of this field and `nodeConfig.location` is specified, the location information from the specified field will be propagated to the unspecified field. The `machineTypeId` must not be a [shared-core machine type](/compute/docs/machine-types#sharedcore). If this field is unspecified, the `machineTypeId` defaults to \"n1-standard-1\". This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "composerInternalIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The IP range in CIDR notation to use internally by Cloud Composer. IP addresses are not reserved - and the same range can be used by multiple Cloud Composer environments. In case of overlap, IPs from this range will not be accessible in the user's VPC network. Cannot be updated. If not specified, the default value of '100.64.128.0/20' is used. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "enableIpMasqAgent": {
          "type": "boolean",
          "description": "Optional. Deploys 'ip-masq-agent' daemon set in the GKE cluster and defines nonMasqueradeCIDRs equals to pod IP range so IP masquerading is used for all destination addresses, except between pods traffic. See: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent"
        },
        "location": {
          "description": "Optional. The Compute Engine [zone](/compute/docs/regions-zones) in which to deploy the VMs used to run the Apache Airflow software, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}\". This `location` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.machineType` are specified, `nodeConfig.machineType` must belong to this `location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If only one field (`location` or `nodeConfig.machineType`) is specified, the location information from the specified field will be propagated to the unspecified field. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The Google Cloud Platform Service Account to be used by the workloads. If a service account is not specified, the \"default\" Compute Engine service account is used. Cannot be updated."
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/regions/{regionId}/subnetworks/{subnetworkId}\" If a subnetwork is provided, `nodeConfig.network` must also be provided, and the subnetwork must belong to the enclosing environment's project and location."
        }
      },
      "type": "object"
    },
    "LoadSnapshotRequest": {
      "type": "object",
      "id": "LoadSnapshotRequest",
      "properties": {
        "skipGcsDataCopying": {
          "description": "Whether or not to skip copying Cloud Storage data when loading the environment's state.",
          "type": "boolean"
        },
        "skipAirflowOverridesSetting": {
          "description": "Whether or not to skip setting Airflow overrides when loading the environment's state.",
          "type": "boolean"
        },
        "skipEnvironmentVariablesSetting": {
          "description": "Whether or not to skip setting environment variables when loading the environment's state.",
          "type": "boolean"
        },
        "snapshotPath": {
          "description": "A Cloud Storage path to a snapshot to load, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\".",
          "type": "string"
        },
        "skipPypiPackagesInstallation": {
          "type": "boolean",
          "description": "Whether or not to skip installing Pypi packages when loading the environment's state."
        }
      },
      "description": "Request to load a snapshot into a Cloud Composer environment."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SaveSnapshotRequest": {
      "id": "SaveSnapshotRequest",
      "properties": {
        "snapshotLocation": {
          "description": "Location in a Cloud Storage where the snapshot is going to be stored, e.g.: \"gs://my-bucket/snapshots\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to create a snapshot of a Cloud Composer environment."
    },
    "SoftwareConfig": {
      "id": "SoftwareConfig",
      "type": "object",
      "properties": {
        "cloudDataLineageIntegration": {
          "description": "Optional. The configuration for Cloud Data Lineage integration.",
          "$ref": "CloudDataLineageIntegration"
        },
        "airflowConfigOverrides": {
          "description": "Optional. Apache Airflow configuration properties to override. Property keys contain the section and property names, separated by a hyphen, for example \"core-dags_are_paused_at_creation\". Section names must not contain hyphens (\"-\"), opening square brackets (\"[\"), or closing square brackets (\"]\"). The property name must not be empty and must not contain an equals sign (\"=\") or semicolon (\";\"). Section and property names must not contain a period (\".\"). Apache Airflow configuration property names must be written in [snake_case](https://en.wikipedia.org/wiki/Snake_case). Property values can contain any character, and can be written in any lower/upper case format. Certain Apache Airflow configuration property values are [blocked](/composer/docs/concepts/airflow-configurations), and cannot be overridden.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pypiPackages": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Custom Python Package Index (PyPI) packages to be installed in the environment. Keys refer to the lowercase package name such as \"numpy\" and values are the lowercase extras and version specifier such as \"==1.12.0\", \"[devel,gcp_api]\", or \"[devel]>=1.8.2, <1.9.2\". To specify a package without pinning it to a version specifier, use the empty string as the value.",
          "type": "object"
        },
        "webServerPluginsMode": {
          "enumDescriptions": [
            "Default mode.",
            "Web server plugins are not supported.",
            "Web server plugins are supported."
          ],
          "type": "string",
          "enum": [
            "WEB_SERVER_PLUGINS_MODE_UNSPECIFIED",
            "PLUGINS_DISABLED",
            "PLUGINS_ENABLED"
          ],
          "description": "Optional. Whether or not the web server uses custom plugins. If unspecified, the field defaults to `PLUGINS_ENABLED`. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "envVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Additional environment variables to provide to the Apache Airflow scheduler, worker, and webserver processes. Environment variable names must match the regular expression `a-zA-Z_*`. They cannot specify Apache Airflow software configuration overrides (they cannot match the regular expression `AIRFLOW__[A-Z0-9_]+__[A-Z0-9_]+`), and they cannot match any of the following reserved names: * `AIRFLOW_HOME` * `C_FORCE_ROOT` * `CONTAINER_NAME` * `DAGS_FOLDER` * `GCP_PROJECT` * `GCS_BUCKET` * `GKE_CLUSTER_NAME` * `SQL_DATABASE` * `SQL_INSTANCE` * `SQL_PASSWORD` * `SQL_PROJECT` * `SQL_REGION` * `SQL_USER`"
        },
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        },
        "pythonVersion": {
          "description": "Optional. The major version of Python used to run the Apache Airflow scheduler, worker, and webserver processes. Can be set to '2' or '3'. If not specified, the default is '3'. Cannot be updated. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use Python major version 3.",
          "type": "string"
        },
        "auditLogsReplicationMode": {
          "description": "Optional. The selected mode of audit logs replication. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string",
          "enumDescriptions": [
            "The user's choice of logs replication mode is unspecified.",
            "The user opted out of audit logs replication.",
            "The user opted in to audit logs replication."
          ],
          "enum": [
            "AUDIT_LOGS_REPLICATION_MODE_UNSPECIFIED",
            "AUDIT_LOGS_REPLICATION_DISABLED",
            "AUDIT_LOGS_REPLICATION_ENABLED"
          ]
        },
        "schedulerCount": {
          "description": "Optional. The number of schedulers for Airflow. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Specifies the selection and configuration of software inside the environment."
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "storageConfig": {
          "$ref": "StorageConfig",
          "description": "Optional. Storage configuration for this environment."
        },
        "uuid": {
          "description": "Output only. The UUID (Universally Unique IDentifier) associated with this environment. This value is generated when the environment is created.",
          "type": "string",
          "readOnly": true
        },
        "mode": {
          "description": "Optional. Selects the environment mode that determines what settings are customizable and what features are available in the environment.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "Represents the default mode, which allows full customization of the environment. It should be used for all production and customized test environments.",
            "Represents the development mode, which has constraints on the environment configuration, but offers an additional feature (environment hibernation). It should be used only for test environments."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\" EnvironmentId must start with a lowercase letter followed by up to 63 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the environment is unknown.",
            "The environment is in the process of being created.",
            "The environment is currently running and healthy. It is ready for use.",
            "The environment is being updated. It remains usable but cannot receive additional update requests or be deleted at this time.",
            "The environment is currently hibernated. It does not run any DAGs.",
            "The environment is undergoing deletion. It cannot be used.",
            "The environment has encountered an error and cannot be used."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "UPDATING",
            "HIBERNATED",
            "DELETING",
            "ERROR"
          ],
          "description": "The current state of the environment."
        },
        "config": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Configuration parameters for this environment."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which this environment was last modified.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for this environment. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this environment was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "An environment for running orchestration tasks."
    },
    "HibernateEnvironmentRequest": {
      "type": "object",
      "id": "HibernateEnvironmentRequest",
      "properties": {},
      "description": "Request to hibernate a Composer environment."
    },
    "SaveSnapshotResponse": {
      "type": "object",
      "properties": {
        "snapshotPath": {
          "type": "string",
          "description": "The fully-resolved Cloud Storage path of the created snapshot, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\". This field is populated only if the snapshot creation was successful."
        }
      },
      "id": "SaveSnapshotResponse",
      "description": "Response to SaveSnapshotRequest."
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "The encryption options for the Cloud Composer environment and its dependencies. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Customer-managed Encryption Key available through Google's Key Management Service. Cannot be updated. If not specified, Google-managed key will be used."
        }
      },
      "id": "EncryptionConfig"
    },
    "RestartWebServerRequest": {
      "id": "RestartWebServerRequest",
      "properties": {},
      "type": "object",
      "description": "Restart Airflow web server."
    },
    "MaintenanceWindow": {
      "description": "The configuration settings for Cloud Composer maintenance window. The following example: ``` { \"startTime\":\"2019-08-01T01:00:00Z\" \"endTime\":\"2019-08-01T07:00:00Z\" \"recurrence\":\"FREQ=WEEKLY;BYDAY=TU,WE\" } ``` would define a maintenance window between 01 and 07 hours UTC during each Tuesday and Wednesday.",
      "properties": {
        "recurrence": {
          "type": "string",
          "description": "Required. Maintenance window recurrence. Format is a subset of [RFC-5545](https://tools.ietf.org/html/rfc5545) `RRULE`. The only allowed values for `FREQ` field are `FREQ=DAILY` and `FREQ=WEEKLY;BYDAY=...` Example values: `FREQ=WEEKLY;BYDAY=TU,WE`, `FREQ=DAILY`."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Maintenance window end time. It is used only to calculate the duration of the maintenance window. The value for end_time must be in the future, relative to `start_time`."
        },
        "startTime": {
          "description": "Required. Start time of the first recurrence of the maintenance window.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "MaintenanceWindow"
    },
    "PollAirflowCommandResponse": {
      "id": "PollAirflowCommandResponse",
      "type": "object",
      "properties": {
        "exitInfo": {
          "$ref": "ExitInfo",
          "description": "The result exit status of the command."
        },
        "outputEnd": {
          "description": "Whether the command execution has finished and there is no more output.",
          "type": "boolean"
        },
        "output": {
          "description": "Output from the command execution. It may not contain the full output and the caller may need to poll for more lines.",
          "type": "array",
          "items": {
            "$ref": "Line"
          }
        }
      },
      "description": "Response to PollAirflowCommandRequest."
    },
    "Line": {
      "id": "Line",
      "properties": {
        "lineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Number of the line."
        },
        "content": {
          "description": "Text content of the log line.",
          "type": "string"
        }
      },
      "description": "Contains information about a single line from logs.",
      "type": "object"
    },
    "ResumeEnvironmentRequest": {
      "id": "ResumeEnvironmentRequest",
      "description": "Request to resume a Composer environment.",
      "type": "object",
      "properties": {}
    },
    "PollAirflowCommandRequest": {
      "type": "object",
      "id": "PollAirflowCommandRequest",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "The unique ID of the command execution."
        },
        "nextLineNumber": {
          "format": "int32",
          "description": "Line number from which new logs should be fetched.",
          "type": "integer"
        },
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        }
      },
      "description": "Poll Airflow Command request."
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "MasterAuthorizedNetworksConfig": {
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether or not master authorized networks feature is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "description": "Up to 50 external networks that could access Kubernetes master through HTTPS.",
          "type": "array",
          "items": {
            "$ref": "CidrBlock"
          }
        }
      },
      "id": "MasterAuthorizedNetworksConfig",
      "type": "object"
    },
    "FetchDatabasePropertiesResponse": {
      "type": "object",
      "description": "Response for FetchDatabasePropertiesRequest.",
      "id": "FetchDatabasePropertiesResponse",
      "properties": {
        "secondaryGceZone": {
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional Cloud SQL instance.",
          "type": "string"
        },
        "isFailoverReplicaAvailable": {
          "type": "boolean",
          "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only fail over to the failover replica when the status is true."
        },
        "primaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from."
        }
      }
    },
    "CheckUpgradeResponse": {
      "id": "CheckUpgradeResponse",
      "properties": {
        "buildLogUri": {
          "description": "Output only. Url for a docker build log of an upgraded image.",
          "readOnly": true,
          "type": "string"
        },
        "imageVersion": {
          "type": "string",
          "description": "Composer image for which the build was happening."
        },
        "containsPypiModulesConflict": {
          "description": "Output only. Whether build has succeeded or failed on modules conflicts.",
          "enumDescriptions": [
            "It is unknown whether build had conflicts or not.",
            "There were python packages conflicts.",
            "There were no python packages conflicts."
          ],
          "enum": [
            "CONFLICT_RESULT_UNSPECIFIED",
            "CONFLICT",
            "NO_CONFLICT"
          ],
          "readOnly": true,
          "type": "string"
        },
        "pypiConflictBuildLogExtract": {
          "type": "string",
          "description": "Output only. Extract from a docker image build log containing information about pypi modules conflicts.",
          "readOnly": true
        },
        "pypiDependencies": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Pypi dependencies specified in the environment configuration, at the time when the build was triggered."
        },
        "configConflicts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains information about environment configuration that is incompatible with the new image version, except for pypi modules conflicts.",
          "items": {
            "$ref": "ConfigConflict"
          }
        }
      },
      "description": "Message containing information about the result of an upgrade check operation.",
      "type": "object"
    },
    "RecoveryConfig": {
      "type": "object",
      "id": "RecoveryConfig",
      "properties": {
        "scheduledSnapshotsConfig": {
          "description": "Optional. The configuration for scheduled snapshot creation mechanism.",
          "$ref": "ScheduledSnapshotsConfig"
        }
      },
      "description": "The Recovery settings of an environment."
    },
    "DagProcessorResource": {
      "type": "object",
      "description": "Configuration for resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
      "id": "DagProcessorResource",
      "properties": {
        "cpu": {
          "description": "Optional. CPU request and limit for a single Airflow DAG processor replica.",
          "type": "number",
          "format": "float"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of DAG processors. If not provided or set to 0, a single DAG processor instance will be created."
        },
        "storageGb": {
          "type": "number",
          "description": "Optional. Storage (GB) request and limit for a single Airflow DAG processor replica.",
          "format": "float"
        },
        "memoryGb": {
          "type": "number",
          "description": "Optional. Memory (GB) request and limit for a single Airflow DAG processor replica.",
          "format": "float"
        }
      }
    },
    "ComposerWorkloadStatus": {
      "id": "ComposerWorkloadStatus",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Text to provide more descriptive status.",
          "readOnly": true
        },
        "detailedStatusMessage": {
          "readOnly": true,
          "description": "Output only. Detailed message of the status.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not able to determine the status of the workload.",
            "Workload is in pending state and has not yet started.",
            "Workload is running fine.",
            "Workload is running but there are some non-critical problems.",
            "Workload is not running due to an error.",
            "Workload has finished execution with success.",
            "Workload has finished execution with failure."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "COMPOSER_WORKLOAD_STATE_UNSPECIFIED",
            "PENDING",
            "OK",
            "WARNING",
            "ERROR",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. Workload state."
        }
      },
      "type": "object",
      "description": "Workload status."
    },
    "IPAllocationPolicy": {
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the GKE cluster.",
      "type": "object",
      "properties": {
        "servicesIpv4CidrBlock": {
[...]
