{
  "description": "Manages Apache Airflow environments on Google Cloud Platform.",
  "documentationLink": "https://cloud.google.com/composer/",
  "canonicalName": "Cloud Composer",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloudcomposer.readonly": {
          "description": "See your Google Cloud Composer data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloudcomposer": {
          "description": "See, edit, configure, and delete your Google Cloud Composer data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://composer.mtls.googleapis.com/",
  "revision": "20260825",
  "discoveryVersion": "v1",
  "baseUrl": "https://composer.googleapis.com/",
  "rootUrl": "https://composer.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "ownerName": "Google",
  "id": "composer:v1",
  "schemas": {
    "AllowedIpRange": {
      "type": "object",
      "description": "Allowed IP range with user-provided description.",
      "id": "AllowedIpRange",
      "properties": {
        "value": {
          "type": "string",
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. Examples: `192.168.1.1` or `192.168.0.0/16` or `2001:db8::/32` or `2001:0db8:0000:0042:0000:8a2e:0370:7334`. IP range prefixes should be properly truncated. For example, `1.2.3.4/24` should be truncated to `1.2.3.0/24`. Similarly, for IPv6, `2001:db8::1/32` should be truncated to `2001:db8::/32`."
        },
        "description": {
          "description": "Optional. User-provided description. It must contain at most 300 characters.",
          "type": "string"
        }
      }
    },
    "ListWorkloadsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "workloads": {
          "items": {
            "$ref": "ComposerWorkload"
          },
          "description": "The list of environment workloads.",
          "type": "array"
        }
      },
      "description": "Response to ListWorkloadsRequest.",
      "id": "ListWorkloadsResponse"
    },
    "IPAllocationPolicy": {
      "type": "object",
      "properties": {
        "servicesSecondaryRangeName": {
          "description": "Optional. The name of the services' secondary range used to allocate IP addresses to the GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true.",
          "type": "string"
        },
        "useIpAliases": {
          "type": "boolean",
          "description": "Optional. Whether or not to enable Alias IPs in the GKE cluster. If `true`, a VPC-native cluster is created. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use VPC-native GKE clusters."
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "Optional. The name of the GKE cluster's secondary range used to allocate IP addresses to pods. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true."
        },
        "servicesIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The IP address range of the services IP addresses in this GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "clusterIpv4CidrBlock": {
          "description": "Optional. The IP address range used to allocate IP addresses to pods in the GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
          "type": "string"
        }
      },
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the GKE cluster running the Apache Airflow software."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "TaskLogsRetentionConfig": {
      "id": "TaskLogsRetentionConfig",
      "type": "object",
      "description": "The configuration setting for Task Logs.",
      "properties": {
        "storageMode": {
          "enumDescriptions": [
            "This configuration is not specified by the user.",
            "Store task logs in Cloud Logging and in the environment's Cloud Storage bucket.",
            "Store task logs in Cloud Logging only."
          ],
          "type": "string",
          "enum": [
            "TASK_LOGS_STORAGE_MODE_UNSPECIFIED",
            "CLOUD_LOGGING_AND_CLOUD_STORAGE",
            "CLOUD_LOGGING_ONLY"
          ],
          "description": "Optional. The mode of storage for Airflow workers task logs."
        }
      }
    },
    "NodeConfig": {
      "description": "The configuration information for the Kubernetes Engine nodes running the Apache Airflow software.",
      "id": "NodeConfig",
      "type": "object",
      "properties": {
        "composerNetworkAttachment": {
          "type": "string",
          "description": "Optional. Network Attachment that Cloud Composer environment is connected to, which provides connectivity with a user's VPC network. Takes precedence over network and subnetwork settings. If not provided, but network and subnetwork are defined during environment, it will be provisioned. If not provided and network and subnetwork are also empty, then connectivity to user's VPC network is disabled. Network attachment must be provided in format projects/{project}/regions/{region}/networkAttachments/{networkAttachment}. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "location": {
          "description": "Optional. The Compute Engine [zone](/compute/docs/regions-zones) in which to deploy the VMs used to run the Apache Airflow software, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}\". This `location` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.machineType` are specified, `nodeConfig.machineType` must belong to this `location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If only one field (`location` or `nodeConfig.machineType`) is specified, the location information from the specified field will be propagated to the unspecified field. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. The Compute Engine [machine type](/compute/docs/machine-types) used for cluster instances, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}/machineTypes/{machineTypeId}\". The `machineType` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.location` are specified, this `machineType` must belong to the `nodeConfig.location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If exactly one of this field and `nodeConfig.location` is specified, the location information from the specified field will be propagated to the unspecified field. The `machineTypeId` must not be a [shared-core machine type](/compute/docs/machine-types#sharedcore). If this field is unspecified, the `machineTypeId` defaults to \"n1-standard-1\". This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "enableIpMasqAgent": {
          "description": "Optional. Deploys 'ip-masq-agent' daemon set in the GKE cluster and defines nonMasqueradeCIDRs equals to pod IP range so IP masquerading is used for all destination addresses, except between pods traffic. See: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "Optional. The Google Cloud Platform Service Account to be used by the node VMs. If a service account is not specified, the \"default\" Compute Engine service account is used. Cannot be updated.",
          "type": "string"
        },
        "ipAllocationPolicy": {
          "description": "Optional. The configuration for controlling how IPs are allocated in the GKE cluster.",
          "$ref": "IPAllocationPolicy"
        },
        "oauthScopes": {
          "type": "array",
          "description": "Optional. The set of Google API scopes to be made available on all node VMs. If `oauth_scopes` is empty, defaults to [\"https://www.googleapis.com/auth/cloud-platform\"]. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Optional. The list of instance tags applied to all node VMs. Tags are used to identify valid sources or targets for network firewalls. Each tag within the list must comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt). Cannot be updated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "composerInternalIpv4CidrBlock": {
          "description": "Optional. The IP range in CIDR notation to use internally by Cloud Composer. IP addresses are not reserved - and the same range can be used by multiple Cloud Composer environments. In case of overlap, IPs from this range will not be accessible in the user's VPC network. Cannot be updated. If not specified, the default value of '100.64.128.0/20' is used. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string"
        },
        "diskSizeGb": {
          "description": "Optional. The disk size in GB used for node VMs. Minimum size is 30GB. If unspecified, defaults to 100GB. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "integer",
          "format": "int32"
        },
        "network": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/global/networks/{networkId}\". If unspecified, the \"default\" network ID in the environment's project is used. If a [Custom Subnet Network](/vpc/docs/vpc#vpc_networks_and_subnets) is provided, `nodeConfig.subnetwork` must also be provided. For [Shared VPC](/vpc/docs/shared-vpc) subnetwork requirements, see `nodeConfig.subnetwork`."
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/regions/{regionId}/subnetworks/{subnetworkId}\" If a subnetwork is provided, `nodeConfig.network` must also be provided, and the subnetwork must belong to the enclosing environment's project and location."
        }
      }
    },
    "RestartWebServerRequest": {
      "type": "object",
      "description": "Restart Airflow web server.",
      "id": "RestartWebServerRequest",
      "properties": {}
    },
    "AirflowMetadataRetentionPolicyConfig": {
      "type": "object",
      "description": "The policy for airflow metadata database retention.",
      "properties": {
        "retentionMode": {
          "description": "Optional. Retention can be either enabled or disabled.",
          "type": "string",
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "RETENTION_MODE_ENABLED",
            "RETENTION_MODE_DISABLED"
          ],
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Retention policy is enabled.",
            "Retention policy is disabled."
          ]
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. How many days data should be retained for."
        }
      },
      "id": "AirflowMetadataRetentionPolicyConfig"
    },
    "ExecuteAirflowCommandRequest": {
      "description": "Execute Airflow Command request.",
      "id": "ExecuteAirflowCommandRequest",
      "type": "object",
      "properties": {
        "subcommand": {
          "description": "Airflow subcommand.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "type": "string"
          },
          "description": "Parameters for the Airflow command/subcommand as an array of arguments. It may contain positional arguments like `[\"my-dag-id\"]`, key-value parameters like `[\"--foo=bar\"]` or `[\"--foo\",\"bar\"]`, or other flags like `[\"-f\"]`.",
          "type": "array"
        },
        "command": {
          "description": "Airflow command.",
          "type": "string"
        }
      }
    },
    "LoadSnapshotRequest": {
      "description": "Request to load a snapshot into a Cloud Composer environment.",
      "id": "LoadSnapshotRequest",
      "type": "object",
      "properties": {
        "snapshotPath": {
          "description": "A Cloud Storage path to a snapshot to load, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\".",
          "type": "string"
        },
        "skipGcsDataCopying": {
          "type": "boolean",
          "description": "Whether or not to skip copying Cloud Storage data when loading the environment's state."
        },
        "skipAirflowOverridesSetting": {
          "description": "Whether or not to skip setting Airflow overrides when loading the environment's state.",
          "type": "boolean"
        },
        "skipPypiPackagesInstallation": {
          "description": "Whether or not to skip installing Pypi packages when loading the environment's state.",
          "type": "boolean"
        },
        "skipEnvironmentVariablesSetting": {
          "type": "boolean",
          "description": "Whether or not to skip setting environment variables when loading the environment's state."
        }
      }
    },
    "SoftwareConfig": {
      "properties": {
        "envVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional environment variables to provide to the Apache Airflow scheduler, worker, and webserver processes. Environment variable names must match the regular expression `a-zA-Z_*`. They cannot specify Apache Airflow software configuration overrides (they cannot match the regular expression `AIRFLOW__[A-Z0-9_]+__[A-Z0-9_]+`), and they cannot match any of the following reserved names: * `AIRFLOW_HOME` * `C_FORCE_ROOT` * `CONTAINER_NAME` * `DAGS_FOLDER` * `GCP_PROJECT` * `GCS_BUCKET` * `GKE_CLUSTER_NAME` * `SQL_DATABASE` * `SQL_INSTANCE` * `SQL_PASSWORD` * `SQL_PROJECT` * `SQL_REGION` * `SQL_USER`",
          "type": "object"
        },
        "auditLogsReplicationMode": {
          "type": "string",
          "enum": [
            "AUDIT_LOGS_REPLICATION_MODE_UNSPECIFIED",
            "AUDIT_LOGS_REPLICATION_DISABLED",
            "AUDIT_LOGS_REPLICATION_ENABLED"
          ],
          "description": "Optional. The selected mode of audit logs replication. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "enumDescriptions": [
            "The user's choice of logs replication mode is unspecified.",
            "The user opted out of audit logs replication.",
            "The user opted in to audit logs replication."
          ]
        },
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        },
        "pypiPackages": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Custom Python Package Index (PyPI) packages to be installed in the environment. Keys refer to the lowercase package name such as \"numpy\" and values are the lowercase extras and version specifier such as \"==1.12.0\", \"[devel,gcp_api]\", or \"[devel]>=1.8.2, <1.9.2\". To specify a package without pinning it to a version specifier, use the empty string as the value.",
          "type": "object"
        },
        "pythonVersion": {
          "description": "Optional. The major version of Python used to run the Apache Airflow scheduler, worker, and webserver processes. Can be set to '2' or '3'. If not specified, the default is '3'. Cannot be updated. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use Python major version 3.",
          "type": "string"
        },
        "webServerPluginsMode": {
          "description": "Optional. Whether or not the web server uses custom plugins. If unspecified, the field defaults to `PLUGINS_ENABLED`. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string",
          "enum": [
            "WEB_SERVER_PLUGINS_MODE_UNSPECIFIED",
            "PLUGINS_DISABLED",
            "PLUGINS_ENABLED"
          ],
          "enumDescriptions": [
            "Default mode.",
            "Web server plugins are not supported.",
            "Web server plugins are supported."
          ]
        },
        "airflowConfigOverrides": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Apache Airflow configuration properties to override. Property keys contain the section and property names, separated by a hyphen, for example \"core-dags_are_paused_at_creation\". Section names must not contain hyphens (\"-\"), opening square brackets (\"[\"), or closing square brackets (\"]\"). The property name must not be empty and must not contain an equals sign (\"=\") or semicolon (\";\"). Section and property names must not contain a period (\".\"). Apache Airflow configuration property names must be written in [snake_case](https://en.wikipedia.org/wiki/Snake_case). Property values can contain any character, and can be written in any lower/upper case format. Certain Apache Airflow configuration property values are [blocked](/composer/docs/concepts/airflow-configurations), and cannot be overridden."
        },
        "schedulerCount": {
          "type": "integer",
          "description": "Optional. The number of schedulers for Airflow. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*.",
          "format": "int32"
        },
        "cloudDataLineageIntegration": {
          "description": "Optional. The configuration for Cloud Data Lineage integration.",
          "$ref": "CloudDataLineageIntegration"
        }
      },
      "id": "SoftwareConfig",
      "type": "object",
      "description": "Specifies the selection and configuration of software inside the environment."
    },
    "PollAirflowCommandRequest": {
      "id": "PollAirflowCommandRequest",
      "type": "object",
      "properties": {
        "podNamespace": {
          "description": "The namespace of the pod where the command is executed.",
          "type": "string"
        },
        "nextLineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "Line number from which new logs should be fetched."
        },
        "executionId": {
          "description": "The unique ID of the command execution.",
          "type": "string"
        },
        "pod": {
          "type": "string",
          "description": "The name of the pod where the command is executed."
        }
      },
      "description": "Poll Airflow Command request."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Output only. The resource being operated on, as a [relative resource name]( /apis/design/resource_names#relative_resource_name)."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was submitted to the server."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the operation terminated, regardless of its success. This field is unset if the operation is still ongoing.",
          "type": "string"
        },
        "resourceUuid": {
          "type": "string",
          "description": "Output only. The UUID of the resource being operated on."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "SUCCESSFUL",
            "FAILED"
          ],
          "description": "Output only. The current operation state.",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "",
            "The operation is no longer running but did not succeed."
          ]
        },
        "operationType": {
          "description": "Output only. The type of operation being performed.",
          "enumDescriptions": [
            "Unused.",
            "A resource creation operation.",
            "A resource deletion operation.",
            "A resource update operation.",
            "A resource check operation.",
            "Saves snapshot of the resource operation.",
            "Loads snapshot of the resource operation.",
            "Triggers failover of environment's Cloud SQL instance (only for highly resilient environments).",
            "Migrates resource to a new major version.",
            "Hibernates a resource.",
            "Resumes a resource."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "CHECK",
            "SAVE_SNAPSHOT",
            "LOAD_SNAPSHOT",
            "DATABASE_FAILOVER",
            "MIGRATE",
            "HIBERNATE",
            "RESUME"
          ]
        }
      },
      "id": "OperationMetadata",
      "description": "Metadata describing an operation."
    },
    "ScheduledSnapshotsConfig": {
      "properties": {
        "snapshotLocation": {
          "type": "string",
          "description": "Optional. The Cloud Storage location for storing automatically created snapshots."
        },
        "enabled": {
          "description": "Optional. Whether scheduled snapshots creation is enabled.",
          "type": "boolean"
        },
        "snapshotCreationSchedule": {
          "description": "Optional. The cron expression representing the time when snapshots creation mechanism runs. This field is subject to additional validation around frequency of execution.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Time zone that sets the context to interpret snapshot_creation_schedule."
        }
      },
      "description": "The configuration for scheduled snapshot creation mechanism.",
      "id": "ScheduledSnapshotsConfig",
      "type": "object"
    },
    "ConfigConflict": {
      "description": "Environment configuration conflict.",
      "id": "ConfigConflict",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Conflict type is unknown.",
            "Conflict is blocking, the upgrade would fail.",
            "Conflict is non-blocking. The upgrade would succeed, but the environment configuration would be changed."
          ],
          "description": "Conflict type. It can be blocking or non-blocking.",
          "type": "string",
          "enum": [
            "CONFLICT_TYPE_UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ]
        },
        "message": {
          "type": "string",
          "description": "Conflict message."
        }
      }
    },
    "WorkloadsConfig": {
      "properties": {
        "triggerer": {
          "description": "Optional. Resources used by Airflow triggerers.",
          "$ref": "TriggererResource"
        },
        "scheduler": {
          "$ref": "SchedulerResource",
          "description": "Optional. Resources used by Airflow schedulers."
        },
        "dagProcessor": {
          "description": "Optional. Resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "$ref": "DagProcessorResource"
        },
        "webServer": {
          "$ref": "WebServerResource",
          "description": "Optional. Resources used by Airflow web server."
        },
        "worker": {
          "description": "Optional. Resources used by Airflow workers.",
          "$ref": "WorkerResource"
        }
      },
      "description": "The Kubernetes workloads configuration for GKE cluster associated with the Cloud Composer environment. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
      "type": "object",
      "id": "WorkloadsConfig"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "UserWorkloadsSecret": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
          "type": "string"
        },
        "data": {
          "description": "Optional. The \"data\" field of Kubernetes Secret, organized in key-value pairs, which can contain sensitive values such as a password, a token, or a key. The values for all keys have to be base64-encoded strings. For details see: https://kubernetes.io/docs/concepts/configuration/secret/ Example: { \"example\": \"ZXhhbXBsZV92YWx1ZQ==\", \"another-example\": \"YW5vdGhlcl9leGFtcGxlX3ZhbHVl\" }",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "User workloads Secret used by Airflow tasks that run with Kubernetes executor or KubernetesPodOperator.",
      "id": "UserWorkloadsSecret"
    },
    "StorageConfig": {
      "id": "StorageConfig",
      "type": "object",
      "description": "The configuration for data storage in the environment.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Optional. The name of the Cloud Storage bucket used by the environment. No `gs://` prefix."
        }
      }
    },
    "StopAirflowCommandRequest": {
      "type": "object",
      "id": "StopAirflowCommandRequest",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "The unique ID of the command execution."
        },
        "force": {
          "type": "boolean",
          "description": "If true, the execution is terminated forcefully (SIGKILL). If false, the execution is stopped gracefully, giving it time for cleanup."
        },
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        }
      },
      "description": "Stop Airflow Command request."
    },
    "TriggererResource": {
      "properties": {
        "cpu": {
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow triggerer replica.",
          "type": "number"
        },
        "memoryGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Memory (GB) request and limit for a single Airflow triggerer replica."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of triggerers."
        }
      },
      "id": "TriggererResource",
      "type": "object",
      "description": "Configuration for resources used by Airflow triggerers."
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "type": "object",
      "description": "The encryption options for the Cloud Composer environment and its dependencies.Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Customer-managed Encryption Key available through Google's Key Management Service. Cannot be updated. If not specified, Google-managed key will be used."
        }
      }
    },
    "ExecuteAirflowCommandResponse": {
      "description": "Response to ExecuteAirflowCommandRequest.",
      "properties": {
        "error": {
          "description": "Error message. Empty if there was no error.",
          "type": "string"
        },
        "executionId": {
          "description": "The unique ID of the command execution for polling.",
          "type": "string"
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        },
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        }
      },
      "type": "object",
      "id": "ExecuteAirflowCommandResponse"
    },
    "SaveSnapshotResponse": {
      "id": "SaveSnapshotResponse",
      "type": "object",
      "description": "Response to SaveSnapshotRequest.",
      "properties": {
        "snapshotPath": {
          "type": "string",
          "description": "The fully-resolved Cloud Storage path of the created snapshot, e.g.: \"gs://my-bucket/snapshots/project_location_environment_timestamp\". This field is populated only if the snapshot creation was successful."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "SchedulerResource": {
      "id": "SchedulerResource",
      "properties": {
        "cpu": {
          "type": "number",
          "description": "Optional. CPU request and limit for a single Airflow scheduler replica.",
          "format": "float"
        },
        "memoryGb": {
          "format": "float",
          "description": "Optional. Memory (GB) request and limit for a single Airflow scheduler replica.",
          "type": "number"
        },
        "count": {
          "format": "int32",
          "description": "Optional. The number of schedulers.",
          "type": "integer"
        },
        "storageGb": {
          "type": "number",
          "format": "float",
          "description": "Optional. Storage (GB) request and limit for a single Airflow scheduler replica."
        }
      },
      "description": "Configuration for resources used by Airflow schedulers.",
      "type": "object"
    },
    "CheckUpgradeResponse": {
      "type": "object",
      "id": "CheckUpgradeResponse",
      "properties": {
        "pypiConflictBuildLogExtract": {
          "description": "Output only. Extract from a docker image build log containing information about pypi modules conflicts.",
          "readOnly": true,
          "type": "string"
        },
        "imageVersion": {
          "type": "string",
          "description": "Composer image for which the build was happening."
        },
        "configConflicts": {
          "items": {
            "$ref": "ConfigConflict"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains information about environment configuration that is incompatible with the new image version, except for pypi modules conflicts."
        },
        "containsPypiModulesConflict": {
          "description": "Output only. Whether build has succeeded or failed on modules conflicts.",
          "type": "string",
          "enum": [
            "CONFLICT_RESULT_UNSPECIFIED",
            "CONFLICT",
            "NO_CONFLICT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "It is unknown whether build had conflicts or not.",
            "There were python packages conflicts.",
            "There were no python packages conflicts."
          ]
        },
        "pypiDependencies": {
          "description": "Pypi dependencies specified in the environment configuration, at the time when the build was triggered.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "buildLogUri": {
          "readOnly": true,
          "description": "Output only. Url for a docker build log of an upgraded image.",
          "type": "string"
        }
      },
      "description": "Message containing information about the result of an upgrade check operation."
    },
    "DatabaseFailoverRequest": {
      "description": "Request to trigger database failover (only for highly resilient environments).",
      "id": "DatabaseFailoverRequest",
      "type": "object",
      "properties": {}
    },
    "SaveSnapshotRequest": {
      "type": "object",
      "properties": {
        "snapshotLocation": {
          "description": "Location in a Cloud Storage where the snapshot is going to be stored, e.g.: \"gs://my-bucket/snapshots\".",
          "type": "string"
        }
      },
      "id": "SaveSnapshotRequest",
      "description": "Request to create a snapshot of a Cloud Composer environment."
    },
    "FetchDatabasePropertiesResponse": {
      "description": "Response for FetchDatabasePropertiesRequest.",
      "properties": {
        "secondaryGceZone": {
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional Cloud SQL instance.",
          "type": "string"
        },
        "isFailoverReplicaAvailable": {
          "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only fail over to the failover replica when the status is true.",
          "type": "boolean"
        },
        "primaryGceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchDatabasePropertiesResponse"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "ImageVersion": {
      "id": "ImageVersion",
      "type": "object",
      "description": "ImageVersion information",
      "properties": {
        "creationDisabled": {
          "description": "Whether it is impossible to create an environment with the image version.",
          "type": "boolean"
        },
        "upgradeDisabled": {
          "description": "Whether it is impossible to upgrade an environment running with the image version.",
          "type": "boolean"
        },
        "releaseDate": {
          "$ref": "Date",
          "description": "The date of the version release."
        },
        "supportedPythonVersions": {
          "type": "array",
          "description": "supported python versions",
          "items": {
            "type": "string"
          }
        },
        "isDefault": {
          "description": "Whether this is the default ImageVersion used by Composer during environment creation if no input ImageVersion is specified.",
          "type": "boolean"
        },
        "imageVersionId": {
          "description": "The string identifier of the ImageVersion, in the form: \"composer-x.y.z-airflow-a.b.c\"",
          "type": "string"
        }
      }
    },
    "NetworkingConfig": {
      "type": "object",
      "id": "NetworkingConfig",
      "description": "Configuration options for networking connections in the Composer 2 environment.",
      "properties": {
        "connectionType": {
          "enumDescriptions": [
            "No specific connection type was requested, so the environment uses the default value corresponding to the rest of its configuration.",
            "Requests the use of VPC peerings for connecting the Customer and Tenant projects.",
            "Requests the use of Private Service Connect for connecting the Customer and Tenant projects."
          ],
          "type": "string",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "VPC_PEERING",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "description": "Optional. Indicates the user requested specific connection type between Tenant and Customer projects. You cannot set networking connection type in public IP environment."
        }
      }
    },
    "ComposerWorkloadStatus": {
      "description": "Workload status.",
      "id": "ComposerWorkloadStatus",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Not able to determine the status of the workload.",
            "Workload is in pending state and has not yet started.",
            "Workload is running fine.",
            "Workload is running but there are some non-critical problems.",
            "Workload is not running due to an error.",
            "Workload has finished execution with success.",
            "Workload has finished execution with failure."
          ],
          "enum": [
            "COMPOSER_WORKLOAD_STATE_UNSPECIFIED",
            "PENDING",
            "OK",
            "WARNING",
            "ERROR",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. Workload state.",
          "readOnly": true,
          "type": "string"
        },
        "detailedStatusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Detailed message of the status."
        },
        "statusMessage": {
          "description": "Output only. Text to provide more descriptive status.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListUserWorkloadsConfigMapsResponse": {
      "description": "The user workloads ConfigMaps for a given environment.",
      "properties": {
        "userWorkloadsConfigMaps": {
          "description": "The list of ConfigMaps returned by a ListUserWorkloadsConfigMapsRequest.",
          "items": {
            "$ref": "UserWorkloadsConfigMap"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        }
      },
      "id": "ListUserWorkloadsConfigMapsResponse",
      "type": "object"
    },
    "RecoveryConfig": {
      "id": "RecoveryConfig",
      "type": "object",
      "description": "The Recovery settings of an environment.",
      "properties": {
        "scheduledSnapshotsConfig": {
          "$ref": "ScheduledSnapshotsConfig",
          "description": "Optional. The configuration for scheduled snapshot creation mechanism."
        }
      }
    },
    "WebServerConfig": {
      "properties": {
        "machineType": {
          "description": "Optional. Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. If not specified, composer-n1-webserver-2 will be used. Value custom is returned only in response, if Airflow web server parameters were manually changed to a non-standard values.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WebServerConfig",
      "description": "The configuration settings for the Airflow web server App Engine instance. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*"
    },
    "MaintenanceWindow": {
      "description": "The configuration settings for Cloud Composer maintenance window. The following example: ``` { \"startTime\":\"2019-08-01T01:00:00Z\" \"endTime\":\"2019-08-01T07:00:00Z\" \"recurrence\":\"FREQ=WEEKLY;BYDAY=TU,WE\" } ``` would define a maintenance window between 01 and 07 hours UTC during each Tuesday and Wednesday.",
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Required. Maintenance window end time. It is used only to calculate the duration of the maintenance window. The value for end-time must be in the future, relative to `start_time`.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Start time of the first recurrence of the maintenance window."
        },
        "recurrence": {
          "description": "Required. Maintenance window recurrence. Format is a subset of [RFC-5545](https://tools.ietf.org/html/rfc5545) `RRULE`. The only allowed values for `FREQ` field are `FREQ=DAILY` and `FREQ=WEEKLY;BYDAY=...` Example values: `FREQ=WEEKLY;BYDAY=TU,WE`, `FREQ=DAILY`.",
          "type": "string"
        }
      }
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "environments": {
          "description": "The list of environments returned by a ListEnvironmentsRequest.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "description": "The environments in a project and location.",
      "type": "object",
      "id": "ListEnvironmentsResponse"
    },
    "DataRetentionConfig": {
      "id": "DataRetentionConfig",
      "properties": {
        "taskLogsRetentionConfig": {
          "$ref": "TaskLogsRetentionConfig",
          "description": "Optional. The configuration settings for task logs retention"
        },
        "airflowMetadataRetentionConfig": {
          "description": "Optional. The retention policy for airflow metadata database.",
          "$ref": "AirflowMetadataRetentionPolicyConfig"
        }
      },
      "description": "The configuration setting for Airflow database data retention mechanism.",
      "type": "object"
    },
    "ListImageVersionsResponse": {
      "id": "ListImageVersionsResponse",
      "type": "object",
      "properties": {
        "imageVersions": {
          "type": "array",
          "description": "The list of supported ImageVersions in a location.",
          "items": {
            "$ref": "ImageVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        }
      },
      "description": "The ImageVersions in a project and location."
    },
    "CloudDataLineageIntegration": {
      "properties": {
        "enabled": {
          "description": "Optional. Whether or not Cloud Data Lineage integration is enabled.",
          "type": "boolean"
        }
      },
      "id": "CloudDataLineageIntegration",
      "description": "Configuration for Cloud Data Lineage integration.",
      "type": "object"
    },
    "ComposerWorkload": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of a workload."
        },
        "type": {
          "type": "string",
          "enum": [
            "COMPOSER_WORKLOAD_TYPE_UNSPECIFIED",
            "CELERY_WORKER",
            "KUBERNETES_WORKER",
            "KUBERNETES_OPERATOR_POD",
            "SCHEDULER",
            "DAG_PROCESSOR",
            "TRIGGERER",
            "WEB_SERVER",
            "REDIS"
          ],
          "enumDescriptions": [
            "Not able to determine the type of the workload.",
            "Celery worker.",
            "Kubernetes worker.",
            "Workload created by Kubernetes Pod Operator.",
            "Airflow scheduler.",
            "Airflow Dag processor.",
            "Airflow triggerer.",
            "Airflow web server UI.",
            "Redis."
          ],
          "description": "Type of a workload."
        },
        "status": {
          "readOnly": true,
          "$ref": "ComposerWorkloadStatus",
          "description": "Output only. Status of a workload."
        }
      },
      "type": "object",
      "id": "ComposerWorkload",
      "description": "Information about a single workload."
    },
    "CheckUpgradeRequest": {
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        }
      },
      "description": "Request to check whether image upgrade will succeed.",
      "type": "object",
      "id": "CheckUpgradeRequest"
    },
    "WebServerResource": {
      "type": "object",
      "description": "Configuration for resources used by Airflow web server.",
      "properties": {
        "storageGb": {
          "format": "float",
          "description": "Optional. Storage (GB) request and limit for Airflow web server.",
          "type": "number"
        },
        "cpu": {
          "description": "Optional. CPU request and limit for Airflow web server.",
          "format": "float",
          "type": "number"
        },
        "memoryGb": {
          "type": "number",
          "description": "Optional. Memory (GB) request and limit for Airflow web server.",
          "format": "float"
        }
      },
      "id": "WebServerResource"
    },
    "DatabaseFailoverResponse": {
      "type": "object",
      "description": "Response for DatabaseFailoverRequest.",
      "properties": {},
      "id": "DatabaseFailoverResponse"
    },
    "ExitInfo": {
      "id": "ExitInfo",
      "properties": {
        "exitCode": {
          "format": "int32",
          "description": "The exit code from the command execution.",
          "type": "integer"
        },
        "error": {
          "type": "string",
          "description": "Error message. Empty if there was no error."
        }
      },
      "type": "object",
      "description": "Information about how a command ended."
    },
    "PollAirflowCommandResponse": {
      "description": "Response to PollAirflowCommandRequest.",
      "type": "object",
      "id": "PollAirflowCommandResponse",
      "properties": {
        "exitInfo": {
          "description": "The result exit status of the command.",
          "$ref": "ExitInfo"
        },
        "output": {
          "items": {
            "$ref": "Line"
          },
          "description": "Output from the command execution. It may not contain the full output and the caller may need to poll for more lines.",
          "type": "array"
        },
        "outputEnd": {
          "description": "Whether the command execution has finished and there is no more output.",
          "type": "boolean"
        }
      }
    },
    "ListUserWorkloadsSecretsResponse": {
      "properties": {
        "userWorkloadsSecrets": {
          "description": "The list of Secrets returned by a ListUserWorkloadsSecretsRequest.",
          "items": {
            "$ref": "UserWorkloadsSecret"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to query for the next page if one exists."
        }
      },
      "description": "The user workloads Secrets for a given environment.",
      "type": "object",
      "id": "ListUserWorkloadsSecretsResponse"
    },
    "DatabaseConfig": {
      "type": "object",
      "description": "The configuration of Cloud SQL instance that is used by the Apache Airflow software.",
      "id": "DatabaseConfig",
      "properties": {
        "machineType": {
          "description": "Optional. Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. If not specified, db-n1-standard-2 will be used. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone where the Airflow database is created. If zone is provided, it must be in the region selected for the environment. If zone is not provided, a zone is automatically selected. The zone can only be set during environment creation. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.*."
        }
      }
    },
    "StopAirflowCommandResponse": {
      "properties": {
        "isDone": {
          "type": "boolean",
          "description": "Whether the execution is still running."
        },
        "output": {
          "items": {
            "type": "string"
          },
          "description": "Output message from stopping execution request.",
          "type": "array"
        }
      },
      "description": "Response to StopAirflowCommandRequest.",
      "type": "object",
      "id": "StopAirflowCommandResponse"
    },
    "Line": {
      "id": "Line",
      "properties": {
        "content": {
          "description": "Text content of the log line.",
          "type": "string"
        },
        "lineNumber": {
          "type": "integer",
          "description": "Number of the line.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Contains information about a single line from logs."
    },
    "UserWorkloadsConfigMap": {
      "description": "User workloads ConfigMap used by Airflow tasks that run with Kubernetes executor or KubernetesPodOperator.",
      "id": "UserWorkloadsConfigMap",
      "type": "object",
      "properties": {
        "data": {
          "description": "Optional. The \"data\" field of Kubernetes ConfigMap, organized in key-value pairs. For details see: https://kubernetes.io/docs/concepts/configuration/configmap/ Example: { \"example_key\": \"example_value\", \"another_key\": \"another_value\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
          "type": "string"
        }
      }
    },
    "DagProcessorResource": {
      "id": "DagProcessorResource",
      "description": "Configuration for resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
      "type": "object",
      "properties": {
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow DAG processor replica.",
          "format": "float",
          "type": "number"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of DAG processors. If not provided or set to 0, a single DAG processor instance will be created."
        },
        "cpu": {
          "format": "float",
          "type": "number",
          "description": "Optional. CPU request and limit for a single Airflow DAG processor replica."
        },
        "storageGb": {
          "description": "Optional. Storage (GB) request and limit for a single Airflow DAG processor replica.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "EnvironmentConfig": {
      "description": "Configuration information for an environment.",
      "properties": {
        "databaseConfig": {
          "$ref": "DatabaseConfig",
          "description": "Optional. The configuration settings for Cloud SQL instance used internally by Apache Airflow software."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes in the Kubernetes Engine cluster that will be used to run this environment. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "nodeConfig": {
          "description": "Optional. The configuration used for the Kubernetes Engine cluster.",
          "$ref": "NodeConfig"
        },
        "softwareConfig": {
          "description": "Optional. The configuration settings for software inside the environment.",
          "$ref": "SoftwareConfig"
        },
        "webServerNetworkAccessControl": {
          "$ref": "WebServerNetworkAccessControl",
          "description": "Optional. The network-level access control policy for the Airflow web server. If unspecified, no network-level access restrictions will be applied."
        },
        "privateEnvironmentConfig": {
          "description": "Optional. The configuration used for the Private IP Cloud Composer environment.",
          "$ref": "PrivateEnvironmentConfig"
        },
        "maintenanceWindow": {
          "description": "Optional. The maintenance window is the period when Cloud Composer components may undergo maintenance. It is defined so that maintenance is not executed during peak hours or critical time periods. The system will not be under maintenance for every occurrence of this window, but when maintenance is planned, it will be scheduled during the window. The maintenance window period must encompass at least 12 hours per week. This may be split into multiple chunks, each with a size of at least 4 hours. If this value is omitted, the default value for maintenance window is applied. By default, maintenance windows are from 00:00:00 to 04:00:00 (GMT) on Friday, Saturday, and Sunday every week.",
          "$ref": "MaintenanceWindow"
        },
        "gkeCluster": {
          "type": "string",
          "description": "Output only. The Kubernetes Engine cluster used to run this environment."
        },
        "environmentSize": {
          "enumDescriptions": [
            "The size of the environment is unspecified.",
            "The environment size is small.",
            "The environment size is medium.",
            "The environment size is large.",
            "The environment size is extra large."
          ],
          "description": "Optional. The size of the Cloud Composer environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string",
          "enum": [
            "ENVIRONMENT_SIZE_UNSPECIFIED",
            "ENVIRONMENT_SIZE_SMALL",
            "ENVIRONMENT_SIZE_MEDIUM",
            "ENVIRONMENT_SIZE_LARGE",
            "ENVIRONMENT_SIZE_EXTRA_LARGE"
          ]
        },
        "recoveryConfig": {
          "description": "Optional. The Recovery settings configuration of an environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "$ref": "RecoveryConfig"
        },
        "dataRetentionConfig": {
          "description": "Optional. The configuration setting for Airflow database data retention mechanism.",
          "$ref": "DataRetentionConfig"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption options for the Cloud Composer environment and its dependencies. Cannot be updated."
        },
        "workloadsConfig": {
          "description": "Optional. The workloads configuration settings for the GKE cluster associated with the Cloud Composer environment. The GKE cluster runs Airflow scheduler, web server and workers workloads. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "$ref": "WorkloadsConfig"
        },
        "airflowByoidUri": {
          "description": "Output only. The 'bring your own identity' variant of the URI of the Apache Airflow Web UI hosted within this environment, to be accessed with external identities using workforce identity federation (see [Access environments with workforce identity federation](/composer/docs/composer-2/access-environments-with-workforce-identity-federation)).",
          "type": "string",
          "readOnly": true
        },
        "resilienceMode": {
          "description": "Optional. Resilience mode of the Cloud Composer Environment. This field is supported for Cloud Composer environments in versions composer-2.2.0-airflow-*.*.* and newer.",
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Enabled High Resilience mode, including Cloud SQL HA."
          ],
          "type": "string",
          "enum": [
            "RESILIENCE_MODE_UNSPECIFIED",
            "HIGH_RESILIENCE"
          ]
        },
        "dagGcsPrefix": {
          "type": "string",
          "description": "Output only. The Cloud Storage prefix of the DAGs for this environment. Although Cloud Storage objects reside in a flat namespace, a hierarchical file tree can be simulated using \"/\"-delimited object name prefixes. DAG objects for this environment reside in a simulated directory with the given prefix."
        },
        "airflowUri": {
          "description": "Output only. The URI of the Apache Airflow Web UI hosted within this environment (see [Airflow web interface](/composer/docs/how-to/accessing/airflow-web-interface)).",
          "type": "string"
        },
        "webServerConfig": {
          "description": "Optional. The configuration settings for the Airflow web server App Engine instance.",
          "$ref": "WebServerConfig"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "Optional. The configuration options for GKE cluster master authorized networks. By default master authorized networks feature is: - in case of private environment: enabled with no external networks allowlisted. - in case of public environment: disabled.",
          "$ref": "MasterAuthorizedNetworksConfig"
        }
      },
      "type": "object",
      "id": "EnvironmentConfig"
    },
    "LoadSnapshotResponse": {
      "type": "object",
      "id": "LoadSnapshotResponse",
      "properties": {},
      "description": "Response to LoadSnapshotRequest."
    },
    "PrivateClusterConfig": {
      "type": "object",
      "properties": {
        "masterIpv4ReservedRange": {
          "readOnly": true,
          "description": "Output only. The IP range in CIDR notation to use for the hosted master network. This range is used for assigning internal IP addresses to the GKE cluster master or set of masters and to the internal load balancer virtual IP. This range must not overlap with any other ranges in use within the cluster's network.",
          "type": "string"
        },
        "enablePrivateEndpoint": {
          "type": "boolean",
          "description": "Optional. If `true`, access to the public endpoint of the GKE cluster is denied."
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IPv4 range for GKE master will be reserved. If left blank, the default value of '172.16.0.0/23' is used."
        }
      },
      "description": "Configuration options for the private GKE cluster in a Cloud Composer environment.",
      "id": "PrivateClusterConfig"
    },
    "Environment": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "UPDATING",
            "HIBERNATED",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state of the environment is unknown.",
            "The environment is in the process of being created.",
            "The environment is currently running and healthy. It is ready for use.",
            "The environment is being updated. It remains usable but cannot receive additional update requests or be deleted at this time.",
            "The environment is currently hibernated. It does not run any DAGs.",
            "The environment is undergoing deletion. It cannot be used.",
            "The environment has encountered an error and cannot be used."
          ],
          "description": "The current state of the environment."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "config": {
          "description": "Optional. Configuration parameters for this environment.",
          "$ref": "EnvironmentConfig"
        },
        "storageConfig": {
          "$ref": "StorageConfig",
          "description": "Optional. Storage configuration for this environment."
        },
        "updateTime": {
          "description": "Output only. The time at which this environment was last modified.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for this environment. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\" EnvironmentId must start with a lowercase letter followed by up to 63 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
        },
        "uuid": {
          "type": "string",
          "description": "Output only. The UUID (Universally Unique IDentifier) associated with this environment. This value is generated when the environment is created."
        },
        "createTime": {
          "description": "Output only. The time at which this environment was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "mode": {
          "description": "Optional. Selects the environment mode that determines what settings are customizable and what features are available in the environment.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "Represents the default mode, which allows full customization of the environment. It should be used for all production and customized test environments.",
            "Represents the development mode, which has constraints on the environment configuration, but offers an additional feature (environment hibernation). It should be used only for test environments."
          ]
        }
      },
      "id": "Environment",
      "description": "An environment for running orchestration tasks.",
      "type": "object"
    },
    "WebServerNetworkAccessControl": {
      "id": "WebServerNetworkAccessControl",
      "properties": {
        "allowedIpRanges": {
          "items": {
            "$ref": "AllowedIpRange"
          },
          "description": "A collection of allowed IP ranges with descriptions.",
          "type": "array"
        }
      },
      "description": "Network-level access control policy for the Airflow web server.",
      "type": "object"
    },
    "PrivateEnvironmentConfig": {
      "properties": {
        "cloudComposerConnectionSubnetwork": {
          "description": "Optional. When specified, the environment will use Private Service Connect instead of VPC peerings to connect to Cloud SQL in the Tenant Project, and the PSC endpoint in the Customer Project will use an IP address from this subnetwork.",
          "type": "string"
        },
        "cloudSqlIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IP range in tenant project will be reserved for Cloud SQL. Needs to be disjoint from `web_server_ipv4_cidr_block`."
        },
        "cloudComposerNetworkIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for Cloud Composer Network in tenant project will be reserved. Needs to be disjoint from private_cluster_config.master_ipv4_cidr_block and cloud_sql_ipv4_cidr_block. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string"
        },
        "enablePrivateEnvironment": {
          "description": "Optional. If `true`, a Private IP Cloud Composer environment is created. If this field is set to true, `IPAllocationPolicy.use_ip_aliases` must be set to true for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. This field is going to be deprecated. Use `networking_type` instead.",
          "type": "boolean"
        },
        "enablePrivateBuildsOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, builds performed during operations that install Python packages have only private connectivity to Google services (including Artifact Registry) and VPC network (if either `NodeConfig.network` and `NodeConfig.subnetwork` fields or `NodeConfig.composer_network_attachment` field are specified). If `false`, the builds also have access to the internet. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "networkingType": {
          "enumDescriptions": [
            "Default networking type.",
            "Private IP Cloud Composer environment with no access to the internet.",
            "Cloud Composer environment with access to the internet."
          ],
          "description": "Optional. Networking type for the environment, either private or public.",
          "type": "string",
          "enum": [
            "NETWORKING_TYPE_UNSPECIFIED",
            "PRIVATE",
            "PUBLIC"
          ]
        },
        "cloudComposerNetworkIpv4ReservedRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP range reserved for the tenant project's Cloud Composer network. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
        },
        "webServerIpv4ReservedRange": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP range reserved for the tenant project's App Engine VMs. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "networkingConfig": {
          "description": "Optional. Configuration for the network connections configuration in the environment.",
          "$ref": "NetworkingConfig"
        },
        "enablePrivatelyUsedPublicIps": {
          "type": "boolean",
          "description": "Optional. When enabled, IPs from public (non-RFC1918) ranges can be used for `IPAllocationPolicy.cluster_ipv4_cidr_block` and `IPAllocationPolicy.service_ipv4_cidr_block`."
        },
        "privateClusterConfig": {
          "description": "Optional. Configuration for the private GKE cluster for a Private IP Cloud Composer environment.",
          "$ref": "PrivateClusterConfig"
        },
        "webServerIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for web server will be reserved. Needs to be disjoint from `private_cluster_config.master_ipv4_cidr_block` and `cloud_sql_ipv4_cidr_block`. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The configuration information for configuring a Private IP Cloud Composer environment.",
      "id": "PrivateEnvironmentConfig"
    },
    "WorkerResource": {
      "description": "Configuration for resources used by Airflow workers.",
      "id": "WorkerResource",
      "type": "object",
      "properties": {
        "minCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of workers for autoscaling."
        },
        "storageGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Storage (GB) request and limit for a single Airflow worker replica."
        },
        "cpu": {
          "type": "number",
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow worker replica."
        },
        "memoryGb": {
          "type": "number",
          "format": "float",
          "description": "Optional. Memory (GB) request and limit for a single Airflow worker replica."
        },
        "maxCount": {
          "format": "int32",
          "description": "Optional. Maximum number of workers for autoscaling.",
          "type": "integer"
        }
      }
    },
    "MasterAuthorizedNetworksConfig": {
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "properties": {
        "cidrBlocks": {
          "items": {
            "$ref": "CidrBlock"
          },
          "description": "Up to 50 external networks that could access Kubernetes master through HTTPS.",
          "type": "array"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether or not master authorized networks feature is enabled."
        }
      },
      "id": "MasterAuthorizedNetworksConfig",
      "type": "object"
    },
    "CidrBlock": {
      "id": "CidrBlock",
      "properties": {
        "cidrBlock": {
          "description": "CIDR block that must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "description": "User-defined name that identifies the CIDR block.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "CIDR block with an optional name."
    }
  },
  "basePath": "",
  "version": "v1",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "name": "composer",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://composer.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://composer.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://composer.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://composer.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://composer.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://composer.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://composer.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://composer.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://composer.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://composer.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://composer.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://composer.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://composer.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://composer.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://composer.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://composer.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://composer.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://composer.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://composer.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://composer.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://composer.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://composer.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://composer.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://composer.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://composer.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://composer.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://composer.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://composer.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://composer.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://composer.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://composer.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://composer.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://composer.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://composer.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://composer.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://composer.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Cloud Composer API",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "environments": {
              "methods": {
                "restartWebServer": {
                  "id": "composer.projects.locations.environments.restartWebServer",
                  "description": "Restart Airflow web server.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:restartWebServer",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the environment to restart the web server for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RestartWebServerRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:restartWebServer",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "stopAirflowCommand": {
                  "parameters": {
                    "environment": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "request": {
                    "$ref": "StopAirflowCommandRequest"
                  },
                  "path": "v1/{+environment}:stopAirflowCommand",
                  "response": {
                    "$ref": "StopAirflowCommandResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:stopAirflowCommand",
                  "description": "Stops Airflow CLI command execution.",
                  "id": "composer.projects.locations.environments.stopAirflowCommand",
                  "httpMethod": "POST"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/environments",
                  "id": "composer.projects.locations.environments.create",
                  "request": {
                    "$ref": "Environment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "parameters": {
                    "parent": {
                      "description": "The parent must be of the form \"projects/{projectId}/locations/{locationId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Create a new environment."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The environment to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "id": "composer.projects.locations.environments.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Delete an environment.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "loadSnapshot": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Loads a snapshot of a Cloud Composer environment. As a result of this operation, a snapshot of environment's specified in LoadSnapshotRequest is loaded into the environment.",
                  "id": "composer.projects.locations.environments.loadSnapshot",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:loadSnapshot",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+environment}:loadSnapshot",
                  "request": {
                    "$ref": "LoadSnapshotRequest"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "description": "The resource name of the target environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "databaseFailover": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:databaseFailover",
                  "parameterOrder": [
                    "environment"
                  ],
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Target environment: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
[...]
