{
  "discoveryVersion": "v1",
  "baseUrl": "https://composer.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "imageVersions": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                  "id": "composer.projects.locations.imageVersions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "path": "v1/{+parent}/imageVersions",
                  "description": "List ImageVersions for provided location.",
                  "httpMethod": "GET",
                  "parameters": {
                    "includePastReleases": {
                      "description": "Whether or not image versions from old releases should be included.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "description": "The maximum number of image_versions to return.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "List ImageVersions in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListImageVersionsResponse"
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "pollAirflowCommand": {
                  "request": {
                    "$ref": "PollAirflowCommandRequest"
                  },
                  "path": "v1/{+environment}:pollAirflowCommand",
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "PollAirflowCommandResponse"
                  },
                  "description": "Polls Airflow CLI command execution and fetches logs.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:pollAirflowCommand",
                  "id": "composer.projects.locations.environments.pollAirflowCommand"
                },
                "loadSnapshot": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+environment}:loadSnapshot",
                  "request": {
                    "$ref": "LoadSnapshotRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Loads a snapshot of a Cloud Composer environment. As a result of this operation, a snapshot of environment's specified in LoadSnapshotRequest is loaded into the environment.",
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the target environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "id": "composer.projects.locations.environments.loadSnapshot",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:loadSnapshot"
                },
                "saveSnapshot": {
                  "id": "composer.projects.locations.environments.saveSnapshot",
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The resource name of the source environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "request": {
                    "$ref": "SaveSnapshotRequest"
                  },
                  "path": "v1/{+environment}:saveSnapshot",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:saveSnapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Creates a snapshots of a Cloud Composer environment. As a result of this operation, snapshot of environment's state is stored in a location specified in the SaveSnapshotRequest."
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The resource name of the environment to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "composer.projects.locations.environments.get",
                  "description": "Get an existing environment.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "fetchDatabaseProperties": {
                  "httpMethod": "GET",
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "path": "v1/{+environment}:fetchDatabaseProperties",
                  "id": "composer.projects.locations.environments.fetchDatabaseProperties",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:fetchDatabaseProperties",
                  "parameterOrder": [
                    "environment"
                  ],
                  "description": "Fetches database properties.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "response": {
                    "$ref": "FetchDatabasePropertiesResponse"
                  }
                },
                "executeAirflowCommand": {
                  "id": "composer.projects.locations.environments.executeAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:executeAirflowCommand",
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "ExecuteAirflowCommandResponse"
                  },
                  "path": "v1/{+environment}:executeAirflowCommand",
                  "description": "Executes Airflow CLI command.",
                  "request": {
                    "$ref": "ExecuteAirflowCommandRequest"
                  }
                },
                "restartWebServer": {
                  "request": {
                    "$ref": "RestartWebServerRequest"
                  },
                  "id": "composer.projects.locations.environments.restartWebServer",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Restart Airflow web server.",
                  "path": "v1/{+name}:restartWebServer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the environment to restart the web server for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:restartWebServer"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The relative resource name of the environment to update, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of paths, relative to `Environment`, of fields to update. For example, to set the version of scikit-learn to install in the environment to 0.19.0 and to remove an existing installation of numpy, the `updateMask` parameter would include the following two `paths` values: \"config.softwareConfig.pypiPackages.scikit-learn\" and \"config.softwareConfig.pypiPackages.numpy\". The included patch environment would specify the scikit-learn version as follows: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"scikit-learn\":\"==0.19.0\" } } } } Note that in the above example, any existing PyPI packages other than scikit-learn and numpy will be unaffected. Only one update type may be included in a single request's `updateMask`. For example, one cannot update both the PyPI packages and labels in the same request. However, it is possible to update multiple members of a map field simultaneously in the same request. For example, to set the labels \"label1\" and \"label2\" while clearing \"label3\" (assuming it already exists), one can provide the paths \"labels.label1\", \"labels.label2\", and \"labels.label3\" and populate the patch environment as follows: { \"labels\":{ \"label1\":\"new-label1-value\" \"label2\":\"new-label2-value\" } } Note that in the above example, any existing labels that are not included in the `updateMask` will be unaffected. It is also possible to replace an entire map field by providing the map field's path in the `updateMask`. The new value of the field will be that which is provided in the patch environment. For example, to delete all pre-existing user-specified PyPI packages and install botocore at version 1.7.14, the `updateMask` would contain the path \"config.softwareConfig.pypiPackages\", and the patch environment would be the following: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"botocore\":\"==1.7.14\" } } } } **Note:** Only the following fields can be updated: * `config.softwareConfig.pypiPackages` * Replace all custom custom PyPI packages. If a replacement package map is not included in `environment`, all custom PyPI packages are cleared. It is an error to provide both this mask and a mask specifying an individual package. * `config.softwareConfig.pypiPackages.`packagename * Update the custom PyPI package *packagename*, preserving other packages. To delete the package, include it in `updateMask`, and omit the mapping for it in `environment.config.softwareConfig.pypiPackages`. It is an error to provide both a mask of this form and the `config.softwareConfig.pypiPackages` mask. * `labels` * Replace all environment labels. If a replacement labels map is not included in `environment`, all labels are cleared. It is an error to provide both this mask and a mask specifying one or more individual labels. * `labels.`labelName * Set the label named *labelName*, while preserving other labels. To delete the label, include it in `updateMask` and omit its mapping in `environment.labels`. It is an error to provide both a mask of this form and the `labels` mask. * `config.nodeCount` * Horizontally scale the number of nodes in the environment. An integer greater than or equal to 3 must be provided in the `config.nodeCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerNetworkAccessControl` * Replace the environment's current `WebServerNetworkAccessControl`. * `config.softwareConfig.airflowConfigOverrides` * Replace all Apache Airflow config overrides. If a replacement config overrides map is not included in `environment`, all config overrides are cleared. It is an error to provide both this mask and a mask specifying one or more individual config overrides. * `config.softwareConfig.airflowConfigOverrides.`section-name * Override the Apache Airflow config property *name* in the section named *section*, preserving other properties. To delete the property override, include it in `updateMask` and omit its mapping in `environment.config.softwareConfig.airflowConfigOverrides`. It is an error to provide both a mask of this form and the `config.softwareConfig.airflowConfigOverrides` mask. * `config.softwareConfig.envVariables` * Replace all environment variables. If a replacement environment variable map is not included in `environment`, all custom environment variables are cleared. * `config.softwareConfig.schedulerCount` * Horizontally scale the number of schedulers in Airflow. A positive integer not greater than the number of nodes must be provided in the `config.softwareConfig.schedulerCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*. * `config.databaseConfig.machineType` * Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerConfig.machineType` * Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.patch",
                  "description": "Update an environment."
                },
                "databaseFailover": {
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "Target environment: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "required": true
                    }
                  },
                  "path": "v1/{+environment}:databaseFailover",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:databaseFailover",
                  "description": "Triggers database failover (only for highly resilient environments).",
                  "id": "composer.projects.locations.environments.databaseFailover",
                  "request": {
                    "$ref": "DatabaseFailoverRequest"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The environment to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Delete an environment.",
                  "id": "composer.projects.locations.environments.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ]
                },
                "checkUpgrade": {
                  "path": "v1/{+environment}:checkUpgrade",
                  "id": "composer.projects.locations.environments.checkUpgrade",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "description": "Required. The resource name of the environment to check upgrade for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:checkUpgrade",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "CheckUpgradeRequest"
                  },
                  "description": "Check if an upgrade operation on the environment will succeed. In case of problems detailed info can be found in the returned Operation."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "path": "v1/{+parent}/environments",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of environments to return."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "List environments in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List environments.",
                  "id": "composer.projects.locations.environments.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.environments.create",
                  "path": "v1/{+parent}/environments",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "The parent must be of the form \"projects/{projectId}/locations/{locationId}\".",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "description": "Create a new environment.",
                  "request": {
                    "$ref": "Environment"
                  }
                },
                "stopAirflowCommand": {
                  "id": "composer.projects.locations.environments.stopAirflowCommand",
                  "description": "Stops Airflow CLI command execution.",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "StopAirflowCommandRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "response": {
                    "$ref": "StopAirflowCommandResponse"
                  },
                  "path": "v1/{+environment}:stopAirflowCommand",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:stopAirflowCommand",
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "userWorkloadsConfigMaps": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The ConfigMap to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.delete",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
                    },
                    "update": {
                      "description": "Updates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.update",
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "httpMethod": "PUT",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "location": "path",
                          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\""
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of ConfigMaps to return.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "required": true,
                          "description": "Required. List ConfigMaps in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists user workloads ConfigMaps. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.list",
                      "response": {
                        "$ref": "ListUserWorkloadsConfigMapsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "path": "v1/{+parent}/userWorkloadsConfigMaps"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the ConfigMap to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\""
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "path": "v1/{+name}",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.get",
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "description": "Gets an existing user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The environment name to create a ConfigMap for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/userWorkloadsConfigMaps",
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.create",
                      "description": "Creates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
                    }
                  }
                },
                "userWorkloadsSecrets": {
                  "methods": {
                    "update": {
                      "description": "Updates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.update",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PUT",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "location": "path",
                          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\""
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The Secret to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/userWorkloadsSecrets",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. List Secrets in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of Secrets to return."
                        }
                      },
                      "description": "Lists user workloads Secrets. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "response": {
                        "$ref": "ListUserWorkloadsSecretsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "description": "Required. The environment name to create a Secret for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.create",
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "path": "v1/{+parent}/userWorkloadsSecrets",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the Secret to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "description": "Gets an existing user workloads Secret. Values of the \"data\" field in the response are cleared. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.get",
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      }
                    }
                  }
                },
                "workloads": {
                  "methods": {
                    "list": {
                      "id": "composer.projects.locations.environments.workloads.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. The environment name to get workloads for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The list filter. Currently only supports equality on the type field. The value of a field specified in the filter expression must be one ComposerWorkloadType enum option. It's possible to get multiple types using \"OR\" operator, e.g.: \"type=SCHEDULER OR type=CELERY_WORKER\". If not specified, all items are returned.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of environments to return."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        }
                      },
                      "description": "Lists workloads in a Cloud Composer environment. Workload is a unit that runs a single Composer component. This method is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/workloads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "composer.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "composer.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "composer.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://composer.mtls.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "NodeConfig": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. The Compute Engine [zone](/compute/docs/regions-zones) in which to deploy the VMs used to run the Apache Airflow software, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}\". This `location` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.machineType` are specified, `nodeConfig.machineType` must belong to this `location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If only one field (`location` or `nodeConfig.machineType`) is specified, the location information from the specified field will be propagated to the unspecified field. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "diskSizeGb": {
          "description": "Optional. The disk size in GB used for node VMs. Minimum size is 30GB. If unspecified, defaults to 100GB. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "format": "int32",
          "type": "integer"
        },
        "composerInternalIpv4CidrBlock": {
          "description": "Optional. The IP range in CIDR notation to use internally by Cloud Composer. IP addresses are not reserved - and the same range can be used by multiple Cloud Composer environments. In case of overlap, IPs from this range will not be accessible in the user's VPC network. Cannot be updated. If not specified, the default value of '100.64.128.0/20' is used. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string"
        },
        "enableIpMasqAgent": {
          "description": "Optional. Deploys 'ip-masq-agent' daemon set in the GKE cluster and defines nonMasqueradeCIDRs equals to pod IP range so IP masquerading is used for all destination addresses, except between pods traffic. See: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent",
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The Compute Engine [machine type](/compute/docs/machine-types) used for cluster instances, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}/machineTypes/{machineTypeId}\". The `machineType` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.location` are specified, this `machineType` must belong to the `nodeConfig.location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If exactly one of this field and `nodeConfig.location` is specified, the location information from the specified field will be propagated to the unspecified field. The `machineTypeId` must not be a [shared-core machine type](/compute/docs/machine-types#sharedcore). If this field is unspecified, the `machineTypeId` defaults to \"n1-standard-1\". This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "composerNetworkAttachment": {
          "type": "string",
          "description": "Optional. Network Attachment that Cloud Composer environment is connected to, which provides connectivity with a user's VPC network. Takes precedence over network and subnetwork settings. If not provided, but network and subnetwork are defined during environment, it will be provisioned. If not provided and network and subnetwork are also empty, then connectivity to user's VPC network is disabled. Network attachment must be provided in format projects/{project}/regions/{region}/networkAttachments/{networkAttachment}. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of instance tags applied to all node VMs. Tags are used to identify valid sources or targets for network firewalls. Each tag within the list must comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt). Cannot be updated."
        },
        "serviceAccount": {
          "description": "Optional. The Google Cloud Platform Service Account to be used by the node VMs. If a service account is not specified, the \"default\" Compute Engine service account is used. Cannot be updated.",
          "type": "string"
        },
        "ipAllocationPolicy": {
          "description": "Optional. The configuration for controlling how IPs are allocated in the GKE cluster.",
          "$ref": "IPAllocationPolicy"
        },
        "subnetwork": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/regions/{regionId}/subnetworks/{subnetworkId}\" If a subnetwork is provided, `nodeConfig.network` must also be provided, and the subnetwork must belong to the enclosing environment's project and location.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/global/networks/{networkId}\". If unspecified, the \"default\" network ID in the environment's project is used. If a [Custom Subnet Network](/vpc/docs/vpc#vpc_networks_and_subnets) is provided, `nodeConfig.subnetwork` must also be provided. For [Shared VPC](/vpc/docs/shared-vpc) subnetwork requirements, see `nodeConfig.subnetwork`."
        },
        "oauthScopes": {
          "description": "Optional. The set of Google API scopes to be made available on all node VMs. If `oauth_scopes` is empty, defaults to [\"https://www.googleapis.com/auth/cloud-platform\"]. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "NodeConfig",
      "type": "object",
      "description": "The configuration information for the Kubernetes Engine nodes running the Apache Airflow software."
    },
    "ExecuteAirflowCommandResponse": {
      "properties": {
        "error": {
          "description": "Error message. Empty if there was no error.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "The unique ID of the command execution for polling."
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        },
        "podNamespace": {
          "type": "string",
          "description": "The namespace of the pod where the command is executed."
        }
      },
      "description": "Response to ExecuteAirflowCommandRequest.",
      "id": "ExecuteAirflowCommandResponse",
      "type": "object"
    },
    "SoftwareConfig": {
      "id": "SoftwareConfig",
      "properties": {
        "airflowConfigOverrides": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Apache Airflow configuration properties to override. Property keys contain the section and property names, separated by a hyphen, for example \"core-dags_are_paused_at_creation\". Section names must not contain hyphens (\"-\"), opening square brackets (\"[\"), or closing square brackets (\"]\"). The property name must not be empty and must not contain an equals sign (\"=\") or semicolon (\";\"). Section and property names must not contain a period (\".\"). Apache Airflow configuration property names must be written in [snake_case](https://en.wikipedia.org/wiki/Snake_case). Property values can contain any character, and can be written in any lower/upper case format. Certain Apache Airflow configuration property values are [blocked](/composer/docs/concepts/airflow-configurations), and cannot be overridden.",
          "type": "object"
        },
        "pypiPackages": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Custom Python Package Index (PyPI) packages to be installed in the environment. Keys refer to the lowercase package name such as \"numpy\" and values are the lowercase extras and version specifier such as \"==1.12.0\", \"[devel,gcp_api]\", or \"[devel]>=1.8.2, <1.9.2\". To specify a package without pinning it to a version specifier, use the empty string as the value."
        },
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        },
        "schedulerCount": {
          "type": "integer",
          "description": "Optional. The number of schedulers for Airflow. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*.",
          "format": "int32"
        },
        "auditLogsReplicationMode": {
          "type": "string",
          "enum": [
            "AUDIT_LOGS_REPLICATION_MODE_UNSPECIFIED",
            "AUDIT_LOGS_REPLICATION_DISABLED",
            "AUDIT_LOGS_REPLICATION_ENABLED"
          ],
          "description": "Optional. The selected mode of audit logs replication. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "enumDescriptions": [
            "The user's choice of logs replication mode is unspecified.",
            "The user opted out of audit logs replication.",
            "The user opted in to audit logs replication."
          ]
        },
        "cloudDataLineageIntegration": {
          "description": "Optional. The configuration for Cloud Data Lineage integration.",
          "$ref": "CloudDataLineageIntegration"
        },
        "webServerPluginsMode": {
          "enumDescriptions": [
            "Default mode.",
            "Web server plugins are not supported.",
            "Web server plugins are supported."
          ],
          "enum": [
            "WEB_SERVER_PLUGINS_MODE_UNSPECIFIED",
            "PLUGINS_DISABLED",
            "PLUGINS_ENABLED"
          ],
          "type": "string",
          "description": "Optional. Whether or not the web server uses custom plugins. If unspecified, the field defaults to `PLUGINS_ENABLED`. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        },
        "envVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Additional environment variables to provide to the Apache Airflow scheduler, worker, and webserver processes. Environment variable names must match the regular expression `a-zA-Z_*`. They cannot specify Apache Airflow software configuration overrides (they cannot match the regular expression `AIRFLOW__[A-Z0-9_]+__[A-Z0-9_]+`), and they cannot match any of the following reserved names: * `AIRFLOW_HOME` * `C_FORCE_ROOT` * `CONTAINER_NAME` * `DAGS_FOLDER` * `GCP_PROJECT` * `GCS_BUCKET` * `GKE_CLUSTER_NAME` * `SQL_DATABASE` * `SQL_INSTANCE` * `SQL_PASSWORD` * `SQL_PROJECT` * `SQL_REGION` * `SQL_USER`"
        },
        "pythonVersion": {
          "type": "string",
          "description": "Optional. The major version of Python used to run the Apache Airflow scheduler, worker, and webserver processes. Can be set to '2' or '3'. If not specified, the default is '3'. Cannot be updated. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use Python major version 3."
        }
      },
      "description": "Specifies the selection and configuration of software inside the environment.",
      "type": "object"
    },
    "DatabaseFailoverResponse": {
      "type": "object",
      "properties": {},
      "id": "DatabaseFailoverResponse",
      "description": "Response for DatabaseFailoverRequest."
    },
    "EnvironmentConfig": {
      "description": "Configuration information for an environment.",
      "properties": {
        "privateEnvironmentConfig": {
          "$ref": "PrivateEnvironmentConfig",
          "description": "Optional. The configuration used for the Private IP Cloud Composer environment."
        },
        "gkeCluster": {
          "type": "string",
          "description": "Output only. The Kubernetes Engine cluster used to run this environment."
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The configuration settings for software inside the environment."
        },
        "airflowUri": {
          "description": "Output only. The URI of the Apache Airflow Web UI hosted within this environment (see [Airflow web interface](/composer/docs/how-to/accessing/airflow-web-interface)).",
          "type": "string"
        },
        "webServerConfig": {
          "$ref": "WebServerConfig",
          "description": "Optional. The configuration settings for the Airflow web server App Engine instance."
        },
        "webServerNetworkAccessControl": {
          "description": "Optional. The network-level access control policy for the Airflow web server. If unspecified, no network-level access restrictions will be applied.",
          "$ref": "WebServerNetworkAccessControl"
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of nodes in the Kubernetes Engine cluster that will be used to run this environment. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "dagGcsPrefix": {
          "description": "Output only. The Cloud Storage prefix of the DAGs for this environment. Although Cloud Storage objects reside in a flat namespace, a hierarchical file tree can be simulated using \"/\"-delimited object name prefixes. DAG objects for this environment reside in a simulated directory with the given prefix.",
          "type": "string"
        },
        "dataRetentionConfig": {
          "$ref": "DataRetentionConfig",
          "description": "Optional. The configuration setting for Airflow database data retention mechanism."
        },
        "recoveryConfig": {
          "$ref": "RecoveryConfig",
          "description": "Optional. The Recovery settings configuration of an environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
        },
        "airflowByoidUri": {
          "description": "Output only. The 'bring your own identity' variant of the URI of the Apache Airflow Web UI hosted within this environment, to be accessed with external identities using workforce identity federation (see [Access environments with workforce identity federation](/composer/docs/composer-2/access-environments-with-workforce-identity-federation)).",
          "type": "string",
          "readOnly": true
        },
        "encryptionConfig": {
          "description": "Optional. The encryption options for the Cloud Composer environment and its dependencies. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "resilienceMode": {
          "type": "string",
          "description": "Optional. Resilience mode of the Cloud Composer Environment. This field is supported for Cloud Composer environments in versions composer-2.2.0-airflow-*.*.* and newer.",
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Enabled High Resilience mode, including Cloud SQL HA."
          ],
          "enum": [
            "RESILIENCE_MODE_UNSPECIFIED",
            "HIGH_RESILIENCE"
          ]
        },
        "workloadsConfig": {
          "description": "Optional. The workloads configuration settings for the GKE cluster associated with the Cloud Composer environment. The GKE cluster runs Airflow scheduler, web server and workers workloads. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "$ref": "WorkloadsConfig"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "Optional. The configuration options for GKE cluster master authorized networks. By default master authorized networks feature is: - in case of private environment: enabled with no external networks allowlisted. - in case of public environment: disabled.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "environmentSize": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_SIZE_UNSPECIFIED",
            "ENVIRONMENT_SIZE_SMALL",
            "ENVIRONMENT_SIZE_MEDIUM",
            "ENVIRONMENT_SIZE_LARGE",
            "ENVIRONMENT_SIZE_EXTRA_LARGE"
          ],
          "enumDescriptions": [
            "The size of the environment is unspecified.",
            "The environment size is small.",
            "The environment size is medium.",
            "The environment size is large.",
            "The environment size is extra large."
          ],
          "description": "Optional. The size of the Cloud Composer environment. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer."
        },
        "databaseConfig": {
          "description": "Optional. The configuration settings for Cloud SQL instance used internally by Apache Airflow software.",
          "$ref": "DatabaseConfig"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. The maintenance window is the period when Cloud Composer components may undergo maintenance. It is defined so that maintenance is not executed during peak hours or critical time periods. The system will not be under maintenance for every occurrence of this window, but when maintenance is planned, it will be scheduled during the window. The maintenance window period must encompass at least 12 hours per week. This may be split into multiple chunks, each with a size of at least 4 hours. If this value is omitted, the default value for maintenance window is applied. By default, maintenance windows are from 00:00:00 to 04:00:00 (GMT) on Friday, Saturday, and Sunday every week."
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Optional. The configuration used for the Kubernetes Engine cluster."
        }
      },
      "id": "EnvironmentConfig",
      "type": "object"
    },
    "StorageConfig": {
      "id": "StorageConfig",
      "description": "The configuration for data storage in the environment.",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Optional. The name of the Cloud Storage bucket used by the environment. No `gs://` prefix."
        }
      }
    },
    "CheckUpgradeResponse": {
      "type": "object",
      "id": "CheckUpgradeResponse",
      "description": "Message containing information about the result of an upgrade check operation.",
      "properties": {
        "containsPypiModulesConflict": {
          "enumDescriptions": [
            "It is unknown whether build had conflicts or not.",
            "There were python packages conflicts.",
            "There were no python packages conflicts."
          ],
          "enum": [
            "CONFLICT_RESULT_UNSPECIFIED",
            "CONFLICT",
            "NO_CONFLICT"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Whether build has succeeded or failed on modules conflicts."
        },
        "imageVersion": {
          "type": "string",
          "description": "Composer image for which the build was happening."
        },
        "pypiConflictBuildLogExtract": {
          "description": "Output only. Extract from a docker image build log containing information about pypi modules conflicts.",
          "type": "string",
          "readOnly": true
        },
        "buildLogUri": {
          "readOnly": true,
          "description": "Output only. Url for a docker build log of an upgraded image.",
          "type": "string"
        },
        "pypiDependencies": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Pypi dependencies specified in the environment configuration, at the time when the build was triggered.",
          "type": "object"
        },
        "configConflicts": {
          "description": "Output only. Contains information about environment configuration that is incompatible with the new image version, except for pypi modules conflicts.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ConfigConflict"
          }
        }
      }
    },
    "ExitInfo": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Error message. Empty if there was no error.",
          "type": "string"
        },
        "exitCode": {
          "description": "The exit code from the command execution.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ExitInfo",
      "description": "Information about how a command ended."
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "id": "ListEnvironmentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "environments": {
          "description": "The list of environments returned by a ListEnvironmentsRequest.",
          "items": {
            "$ref": "Environment"
          },
          "type": "array"
        }
      },
      "description": "The environments in a project and location."
    },
    "LoadSnapshotResponse": {
      "id": "LoadSnapshotResponse",
      "properties": {},
      "type": "object",
      "description": "Response to LoadSnapshotRequest."
    },
    "PollAirflowCommandRequest": {
      "properties": {
        "podNamespace": {
          "description": "The namespace of the pod where the command is executed.",
          "type": "string"
        },
        "executionId": {
          "description": "The unique ID of the command execution.",
          "type": "string"
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        },
        "nextLineNumber": {
          "format": "int32",
          "description": "Line number from which new logs should be fetched.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "PollAirflowCommandRequest",
      "description": "Poll Airflow Command request."
    },
    "ComposerWorkloadStatus": {
      "id": "ComposerWorkloadStatus",
      "type": "object",
      "properties": {
        "detailedStatusMessage": {
          "description": "Output only. Detailed message of the status.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Text to provide more descriptive status.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not able to determine the status of the workload.",
            "Workload is in pending state and has not yet started.",
            "Workload is running fine.",
            "Workload is running but there are some non-critical problems.",
            "Workload is not running due to an error.",
            "Workload has finished execution with success.",
            "Workload has finished execution with failure."
          ],
          "type": "string",
          "enum": [
            "COMPOSER_WORKLOAD_STATE_UNSPECIFIED",
            "PENDING",
            "OK",
            "WARNING",
            "ERROR",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. Workload state.",
          "readOnly": true
        }
      },
      "description": "Workload status."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AirflowMetadataRetentionPolicyConfig": {
      "id": "AirflowMetadataRetentionPolicyConfig",
      "type": "object",
      "description": "The policy for airflow metadata database retention.",
      "properties": {
        "retentionMode": {
          "description": "Optional. Retention can be either enabled or disabled.",
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "RETENTION_MODE_ENABLED",
            "RETENTION_MODE_DISABLED"
          ],
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Retention policy is enabled.",
            "Retention policy is disabled."
          ],
          "type": "string"
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. How many days data should be retained for."
        }
      }
    },
    "ListImageVersionsResponse": {
      "id": "ListImageVersionsResponse",
      "properties": {
        "imageVersions": {
          "description": "The list of supported ImageVersions in a location.",
          "type": "array",
          "items": {
            "$ref": "ImageVersion"
          }
        },
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        }
      },
      "description": "The ImageVersions in a project and location.",
      "type": "object"
    },
    "DataRetentionConfig": {
      "description": "The configuration setting for Airflow database data retention mechanism.",
      "type": "object",
      "properties": {
        "taskLogsRetentionConfig": {
          "$ref": "TaskLogsRetentionConfig",
          "description": "Optional. The configuration settings for task logs retention"
        },
        "airflowMetadataRetentionConfig": {
          "$ref": "AirflowMetadataRetentionPolicyConfig",
          "description": "Optional. The retention policy for airflow metadata database."
        }
      },
      "id": "DataRetentionConfig"
    },
    "PrivateEnvironmentConfig": {
      "type": "object",
      "id": "PrivateEnvironmentConfig",
      "properties": {
        "enablePrivateBuildsOnly": {
          "description": "Optional. If `true`, builds performed during operations that install Python packages have only private connectivity to Google services (including Artifact Registry) and VPC network (if either `NodeConfig.network` and `NodeConfig.subnetwork` fields or `NodeConfig.composer_network_attachment` field are specified). If `false`, the builds also have access to the internet. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "boolean"
        },
        "webServerIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for web server will be reserved. Needs to be disjoint from `private_cluster_config.master_ipv4_cidr_block` and `cloud_sql_ipv4_cidr_block`. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "cloudComposerNetworkIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IP range for Cloud Composer Network in tenant project will be reserved. Needs to be disjoint from private_cluster_config.master_ipv4_cidr_block and cloud_sql_ipv4_cidr_block. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string"
        },
        "webServerIpv4ReservedRange": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP range reserved for the tenant project's App Engine VMs. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "networkingType": {
          "enumDescriptions": [
            "Default networking type.",
            "Private IP Cloud Composer environment with no access to the internet.",
            "Cloud Composer environment with access to the internet."
          ],
          "description": "Optional. Networking type for the environment, either private or public.",
          "enum": [
            "NETWORKING_TYPE_UNSPECIFIED",
            "PRIVATE",
            "PUBLIC"
          ],
          "type": "string"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Optional. Configuration for the private GKE cluster for a Private IP Cloud Composer environment."
        },
        "networkingConfig": {
          "$ref": "NetworkingConfig",
          "description": "Optional. Configuration for the network connections configuration in the environment."
        },
        "cloudSqlIpv4CidrBlock": {
          "type": "string",
          "description": "Optional. The CIDR block from which IP range in tenant project will be reserved for Cloud SQL. Needs to be disjoint from `web_server_ipv4_cidr_block`."
        },
        "enablePrivateEnvironment": {
          "description": "Optional. If `true`, a Private IP Cloud Composer environment is created. If this field is set to true, `IPAllocationPolicy.use_ip_aliases` must be set to true for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. This field is going to be deprecated. Use `networking_type` instead.",
          "type": "boolean"
        },
        "cloudComposerNetworkIpv4ReservedRange": {
          "readOnly": true,
          "description": "Output only. The IP range reserved for the tenant project's Cloud Composer network. This field is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
          "type": "string"
        },
        "cloudComposerConnectionSubnetwork": {
          "description": "Optional. When specified, the environment will use Private Service Connect instead of VPC peerings to connect to Cloud SQL in the Tenant Project, and the PSC endpoint in the Customer Project will use an IP address from this subnetwork.",
          "type": "string"
        },
        "enablePrivatelyUsedPublicIps": {
          "type": "boolean",
          "description": "Optional. When enabled, IPs from public (non-RFC1918) ranges can be used for `IPAllocationPolicy.cluster_ipv4_cidr_block` and `IPAllocationPolicy.service_ipv4_cidr_block`."
        }
      },
      "description": "The configuration information for configuring a Private IP Cloud Composer environment."
    },
    "UserWorkloadsSecret": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\""
        },
        "data": {
          "description": "Optional. The \"data\" field of Kubernetes Secret, organized in key-value pairs, which can contain sensitive values such as a password, a token, or a key. The values for all keys have to be base64-encoded strings. For details see: https://kubernetes.io/docs/concepts/configuration/secret/ Example: { \"example\": \"ZXhhbXBsZV92YWx1ZQ==\", \"another-example\": \"YW5vdGhlcl9leGFtcGxlX3ZhbHVl\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "User workloads Secret used by Airflow tasks that run with Kubernetes executor or KubernetesPodOperator.",
      "id": "UserWorkloadsSecret"
    },
    "WorkerResource": {
      "properties": {
        "minCount": {
          "format": "int32",
          "description": "Optional. Minimum number of workers for autoscaling.",
          "type": "integer"
        },
        "maxCount": {
          "description": "Optional. Maximum number of workers for autoscaling.",
          "type": "integer",
          "format": "int32"
        },
        "cpu": {
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow worker replica.",
          "type": "number"
        },
        "storageGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Storage (GB) request and limit for a single Airflow worker replica."
        },
        "memoryGb": {
          "format": "float",
          "type": "number",
          "description": "Optional. Memory (GB) request and limit for a single Airflow worker replica."
        }
      },
      "description": "Configuration for resources used by Airflow workers.",
      "id": "WorkerResource",
      "type": "object"
    },
    "SaveSnapshotRequest": {
      "type": "object",
      "description": "Request to create a snapshot of a Cloud Composer environment.",
      "properties": {
        "snapshotLocation": {
          "type": "string",
          "description": "Location in a Cloud Storage where the snapshot is going to be stored, e.g.: \"gs://my-bucket/snapshots\"."
        }
      },
      "id": "SaveSnapshotRequest"
    },
    "OperationMetadata": {
      "description": "Metadata describing an operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was submitted to the server."
        },
        "resourceUuid": {
          "description": "Output only. The UUID of the resource being operated on.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the operation terminated, regardless of its success. This field is unset if the operation is still ongoing.",
          "type": "string"
        },
        "operationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "CHECK",
            "SAVE_SNAPSHOT",
            "LOAD_SNAPSHOT",
            "DATABASE_FAILOVER",
            "MIGRATE",
            "HIBERNATE",
            "RESUME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "A resource creation operation.",
            "A resource deletion operation.",
            "A resource update operation.",
            "A resource check operation.",
            "Saves snapshot of the resource operation.",
            "Loads snapshot of the resource operation.",
            "Triggers failover of environment's Cloud SQL instance (only for highly resilient environments).",
            "Migrates resource to a new major version.",
            "Hibernates a resource.",
            "Resumes a resource."
          ],
          "description": "Output only. The type of operation being performed."
        },
        "resource": {
          "type": "string",
          "description": "Output only. The resource being operated on, as a [relative resource name]( /apis/design/resource_names#relative_resource_name)."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "",
            "The operation is no longer running but did not succeed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "SUCCESSFUL",
            "FAILED"
          ],
          "description": "Output only. The current operation state."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "Line": {
      "properties": {
        "content": {
          "description": "Text content of the log line.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "description": "Number of the line.",
          "type": "integer"
        }
      },
      "description": "Contains information about a single line from logs.",
      "id": "Line",
      "type": "object"
    },
    "CheckUpgradeRequest": {
      "id": "CheckUpgradeRequest",
      "type": "object",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        }
      },
      "description": "Request to check whether image upgrade will succeed."
    },
    "ImageVersion": {
      "description": "ImageVersion information",
      "id": "ImageVersion",
      "properties": {
        "releaseDate": {
          "description": "The date of the version release.",
          "$ref": "Date"
        },
        "imageVersionId": {
          "description": "The string identifier of the ImageVersion, in the form: \"composer-x.y.z-airflow-a.b.c\"",
          "type": "string"
        },
        "upgradeDisabled": {
          "type": "boolean",
          "description": "Whether it is impossible to upgrade an environment running with the image version."
        },
        "creationDisabled": {
          "type": "boolean",
          "description": "Whether it is impossible to create an environment with the image version."
        },
        "supportedPythonVersions": {
          "description": "supported python versions",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isDefault": {
          "description": "Whether this is the default ImageVersion used by Composer during environment creation if no input ImageVersion is specified.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListUserWorkloadsConfigMapsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "userWorkloadsConfigMaps": {
          "items": {
            "$ref": "UserWorkloadsConfigMap"
          },
          "description": "The list of ConfigMaps returned by a ListUserWorkloadsConfigMapsRequest.",
          "type": "array"
        }
      },
      "id": "ListUserWorkloadsConfigMapsResponse",
      "type": "object",
      "description": "The user workloads ConfigMaps for a given environment."
    },
    "Environment": {
      "id": "Environment",
      "description": "An environment for running orchestration tasks.",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Represents the default mode, which allows full customization of the environment. It should be used for all production and customized test environments.",
            "Represents the development mode, which has constraints on the environment configuration, but offers an additional feature (environment hibernation). It should be used only for test environments."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DEVELOPMENT"
          ],
          "description": "Optional. Selects the environment mode that determines what settings are customizable and what features are available in the environment."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
[...]
