{
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "revision": "20260831",
  "baseUrl": "https://config.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://config.googleapis.com/",
  "basePath": "",
  "id": "config:v1",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/infrastructure-manager/docs",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Config",
  "name": "config",
  "description": "Creates and manages Google Cloud Platform resources and infrastructure.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Infrastructure Manager API",
  "schemas": {
    "DeprovisionDeploymentGroupRequest": {
      "id": "DeprovisionDeploymentGroupRequest",
      "type": "object",
      "description": "The request message for the DeprovisionDeploymentGroup method.",
      "properties": {
        "deletePolicy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy, resources will be deleted.",
            "Deletes resources actuated by the deployment.",
            "Abandons resources and only deletes the deployment and its metadata."
          ],
          "enum": [
            "DELETE_POLICY_UNSPECIFIED",
            "DELETE",
            "ABANDON"
          ],
          "description": "Optional. Policy on how resources within each deployment should be handled during deletion. This policy is applied globally to the deletion of all deployments in this group. This corresponds to the 'delete_policy' field in DeleteDeploymentRequest."
        },
        "force": {
          "description": "Optional. If set to true, this option is propagated to the deletion of each deployment in the group. This corresponds to the 'force' field in DeleteDeploymentRequest.",
          "type": "boolean"
        }
      }
    },
    "PreviewOperationMetadata": {
      "id": "PreviewOperationMetadata",
      "type": "object",
      "properties": {
        "step": {
          "enumDescriptions": [
            "Unspecified preview step.",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the preview.",
            "Downloading the blueprint onto the Google Cloud Storage bucket.",
            "Initializing Terraform using `terraform init`.",
            "Running `terraform plan`.",
            "Fetching a deployment.",
            "Locking a deployment.",
            "Unlocking a deployment.",
            "Operation was successful.",
            "Operation failed.",
            "Validating the provided repository."
          ],
          "description": "The current step the preview operation is running.",
          "enum": [
            "PREVIEW_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "FETCHING_DEPLOYMENT",
            "LOCKING_DEPLOYMENT",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY"
          ],
          "type": "string"
        },
        "previewArtifacts": {
          "description": "Artifacts from preview.",
          "$ref": "PreviewArtifacts"
        },
        "logs": {
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format.",
          "readOnly": true,
          "type": "string"
        },
        "build": {
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with this preview.",
          "readOnly": true
        }
      },
      "description": "Ephemeral metadata content describing the state of a preview operation."
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ListDeploymentGroupsResponse": {
      "description": "The response message for the ListDeploymentGroups method.",
      "type": "object",
      "properties": {
        "deploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "DeploymentGroup"
          },
          "description": "The deployment groups from the specified collection."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeploymentGroups request via `page_token` to obtain the next set of results.",
          "type": "string"
        }
      },
      "id": "ListDeploymentGroupsResponse"
    },
    "TerraformVariable": {
      "type": "object",
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      },
      "id": "TerraformVariable",
      "description": "A Terraform input variable."
    },
    "PropertyChange": {
      "id": "PropertyChange",
      "type": "object",
      "description": "A property change represents a change to a property in the state file.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Output only. The path of the property change.",
          "readOnly": true
        },
        "after": {
          "type": "any",
          "description": "Output only. Representations of the object value after the actions.",
          "readOnly": true
        },
        "afterSensitivePaths": {
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "before": {
          "description": "Output only. Representations of the object value before the actions.",
          "readOnly": true,
          "type": "any"
        },
        "beforeSensitivePaths": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ResourceChange": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the resource change. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceChanges/{resource_change}'."
        },
        "intent": {
          "description": "Output only. The intent of the resource change.",
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "The resource will be created.",
            "The resource will be updated.",
            "The resource will be deleted.",
            "The resource will be recreated.",
            "The resource will be untouched."
          ],
          "type": "string"
        },
        "terraformInfo": {
          "$ref": "ResourceChangeTerraformInfo",
          "description": "Output only. Terraform info of the resource change.",
          "readOnly": true
        },
        "propertyChanges": {
          "type": "array",
          "items": {
            "$ref": "PropertyChange"
          },
          "readOnly": true,
          "description": "Output only. The property changes of the resource change."
        }
      },
      "type": "object",
      "id": "ResourceChange",
      "description": "A resource change represents a change to a resource in the state file."
    },
    "PreviewResult": {
      "id": "PreviewResult",
      "description": "Contains a signed Cloud Storage URLs.",
      "properties": {
        "jsonSignedUri": {
          "description": "Output only. Plan JSON signed URL",
          "type": "string",
          "readOnly": true
        },
        "binarySignedUri": {
          "description": "Output only. Plan binary signed URL",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutoMigrationConfig": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the AutoMigrationConfig was last updated."
        },
        "autoMigrationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the auto migration is enabled for the project."
        },
        "name": {
          "description": "Identifier. The name of the AutoMigrationConfig. Format: 'projects/{project_id}/locations/{location}/AutoMigrationConfig'.",
          "type": "string"
        }
      },
      "description": "AutoMigrationConfig contains the automigration configuration for a project.",
      "id": "AutoMigrationConfig"
    },
    "DeploymentUnitProgress": {
      "properties": {
        "unitId": {
          "description": "Output only. The unit id of the deployment unit to be provisioned.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Holds the error status of the deployment unit provisioning.",
          "readOnly": true,
          "$ref": "Status"
        },
        "intent": {
          "readOnly": true,
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE_DEPLOYMENT",
            "UPDATE_DEPLOYMENT",
            "DELETE_DEPLOYMENT",
            "RECREATE_DEPLOYMENT",
            "CLEAN_UP",
            "UNCHANGED"
          ],
          "description": "Output only. The intent of the deployment unit.",
          "enumDescriptions": [
            "Unspecified intent.",
            "Create deployment in the unit from the deployment spec.",
            "Update deployment in the unit.",
            "Delete deployment in the unit.",
            "Recreate deployment in the unit.",
            "Delete deployment in latest successful revision while no longer referenced in any deployment unit in the current deployment group.",
            "Expected to be unchanged."
          ],
          "type": "string"
        },
        "deployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the deployment to be provisioned. Format: 'projects/{project}/locations/{location}/deployments/{deployment}'."
        },
        "deploymentOperationSummary": {
          "readOnly": true,
          "description": "Output only. The summary of the deployment operation.",
          "$ref": "DeploymentOperationSummary"
        },
        "stateDescription": {
          "description": "Output only. Additional information regarding the current state.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "APPLYING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "DELETING_DEPLOYMENT",
            "PREVIEWING_DEPLOYMENT"
          ],
          "description": "Output only. The current step of the deployment unit provisioning.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The deployment unit is queued for deployment creation or update.",
            "The underlying deployment of the unit is being created or updated.",
            "The underlying deployment operation of the unit has succeeded.",
            "The underlying deployment operation of the unit has failed.",
            "The deployment unit was aborted, likely due to failures in other dependent deployment units.",
            "The deployment unit was skipped because there were no changes to apply.",
            "The deployment is being deleted.",
            "The deployment is being previewed."
          ]
        }
      },
      "description": "The progress of a deployment unit provisioning or deprovisioning.",
      "type": "object",
      "id": "DeploymentUnitProgress"
    },
    "UnlockDeploymentRequest": {
      "type": "object",
      "id": "UnlockDeploymentRequest",
      "properties": {
        "lockId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Lock ID of the lock file to be unlocked."
        }
      },
      "description": "A request to unlock a state file passed to a 'UnlockDeployment' call."
    },
    "ListRevisionsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the 'ListRevisions' method. The value of an empty string means that there are no more resources to return."
        },
        "revisions": {
          "items": {
            "$ref": "Revision"
          },
          "type": "array",
          "description": "List of Revisions."
        }
      },
      "description": "A response to a 'ListRevisions' call. Contains a list of Revisions.",
      "id": "ListRevisionsResponse",
      "type": "object"
    },
    "DeploymentSpec": {
      "description": "Spec for a deployment to be created.",
      "properties": {
        "deployment": {
          "description": "Required. The deployment to be created.",
          "$ref": "Deployment"
        },
        "deploymentId": {
          "type": "string",
          "description": "Required. The id of the deployment to be created which doesn't include the project id and location."
        }
      },
      "type": "object",
      "id": "DeploymentSpec"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "ResourceDrift": {
      "id": "ResourceDrift",
      "type": "object",
      "properties": {
        "terraformInfo": {
          "description": "Output only. Terraform info of the resource drift.",
          "$ref": "ResourceDriftTerraformInfo",
          "readOnly": true
        },
        "propertyDrifts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The property drifts of the resource drift.",
          "items": {
            "$ref": "PropertyDrift"
          }
        },
        "name": {
          "description": "Identifier. The name of the resource drift. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceDrifts/{resource_drift}'.",
          "type": "string"
        }
      },
      "description": "A resource drift represents a drift to a resource in the state file."
    },
    "ListResourceChangesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListResourceChanges' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources, if any."
        },
        "resourceChanges": {
          "items": {
            "$ref": "ResourceChange"
          },
          "description": "List of ResourceChanges.",
          "type": "array"
        }
      },
      "id": "ListResourceChangesResponse",
      "description": "A response to a 'ListResourceChanges' call. Contains a list of ResourceChanges."
    },
    "Statefile": {
      "description": "Contains info about a Terraform state file",
      "properties": {
        "signedUri": {
          "type": "string",
          "description": "Output only. Cloud Storage signed URI used for downloading or uploading the state file.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Statefile"
    },
    "GitSource": {
      "type": "object",
      "description": "A set of files in a Git repository.",
      "properties": {
        "directory": {
          "description": "Subdirectory inside the repository. Example: 'staging/my-package'",
          "type": "string"
        },
        "ref": {
          "type": "string",
          "description": "Git reference (e.g. branch or tag)."
        },
        "repo": {
          "description": "Repository URL. Example: 'https://github.com/kubernetes/examples.git'",
          "type": "string"
        }
      },
      "id": "GitSource"
    },
    "ExportRevisionStatefileRequest": {
      "description": "A request to export a state file passed to a 'ExportRevisionStatefile' call.",
      "properties": {},
      "id": "ExportRevisionStatefileRequest",
      "type": "object"
    },
    "ResourceDriftTerraformInfo": {
      "description": "Terraform info of a ResourceChange.",
      "id": "ResourceDriftTerraformInfo",
      "properties": {
        "provider": {
          "description": "Output only. The provider of the drifted resource.",
          "readOnly": true,
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. TF resource name."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the drifted resource.",
          "readOnly": true
        },
        "address": {
          "description": "Output only. The address of the drifted resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "TerraformError": {
      "description": "Errors encountered during actuation using Terraform",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Original error response from underlying Google API, if available."
        },
        "resourceAddress": {
          "type": "string",
          "description": "Address of the resource associated with the error, e.g. `google_compute_network.vpc_network`."
        },
        "httpResponseCode": {
          "type": "integer",
          "format": "int32",
          "description": "HTTP response code returned from Google Cloud Platform APIs when Terraform fails to provision the resource. If unset or 0, no HTTP response code was returned by Terraform."
        },
        "errorDescription": {
          "description": "A human-readable error description.",
          "type": "string"
        }
      },
      "id": "TerraformError",
      "type": "object"
    },
    "ProvisionDeploymentGroupOperationMetadata": {
      "properties": {
        "step": {
          "type": "string",
          "description": "Output only. The current step of the deployment group operation.",
          "enum": [
            "PROVISION_DEPLOYMENT_GROUP_STEP_UNSPECIFIED",
            "VALIDATING_DEPLOYMENT_GROUP",
            "ASSOCIATING_DEPLOYMENTS_TO_DEPLOYMENT_GROUP",
            "PROVISIONING_DEPLOYMENT_UNITS",
            "DISASSOCIATING_DEPLOYMENTS_FROM_DEPLOYMENT_GROUP",
            "SUCCEEDED",
            "FAILED",
            "DEPROVISIONING_DEPLOYMENT_UNITS"
          ],
          "enumDescriptions": [
            "Unspecified step.",
            "Validating the deployment group.",
            "Locking the deployments to the deployment group for atomic actuation.",
            "Provisioning the deployment units.",
            "Unlocking the deployments from the deployment group after actuation.",
            "The operation has succeeded.",
            "The operation has failed.",
            "Deprovisioning the deployment units."
          ],
          "readOnly": true
        },
        "deploymentUnitProgresses": {
          "description": "Output only. Progress information for each deployment unit within the operation.",
          "items": {
            "$ref": "DeploymentUnitProgress"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "ProvisionDeploymentGroupOperationMetadata",
      "type": "object",
      "description": "Operation metadata for `ProvisionDeploymentGroup` and `DeprovisionDeploymentGroup` long-running operations."
    },
    "DeleteStatefileRequest": {
      "properties": {
        "lockId": {
          "type": "string",
          "description": "Required. Lock ID of the lock file to verify that the user who is deleting the state file previously locked the Deployment.",
          "format": "int64"
        }
      },
      "description": "A request to delete a state file passed to a 'DeleteStatefile' call.",
      "id": "DeleteStatefileRequest",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "DeploymentSource": {
      "description": "Configuration for a value sourced from a Deployment.",
      "type": "object",
      "properties": {
        "deployment": {
          "description": "Required. The resource name of the source Deployment to import the output from. Format: projects/{project}/locations/{location}/deployments/{deployment} The source deployment must be in the same project and location.",
          "type": "string"
        },
        "outputName": {
          "description": "Required. The name of the output variable in the source deployment's latest successfully applied revision.",
          "type": "string"
        }
      },
      "id": "DeploymentSource"
    },
    "ProvisionDeploymentGroupRequest": {
      "properties": {
        "deploymentSpecs": {
          "additionalProperties": {
            "$ref": "DeploymentSpec"
          },
          "type": "object",
          "description": "Optional. The deployment specs of the deployment units to be created within the same project and location of the deployment group. The key is the unit ID, and the value is the `DeploymentSpec`. Provisioning will fail if a `deployment_spec` has a `deployment_id` that matches an existing deployment in the same project and location. If an existing deployment was part of the last successful revision but is no longer in the current DeploymentGroup's `deployment_units`, it will be recreated if included in `deployment_specs`."
        }
      },
      "id": "ProvisionDeploymentGroupRequest",
      "description": "The request message for the ProvisionDeploymentGroup method.",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ListDeploymentGroupRevisionsResponse": {
      "description": "The response message for the ListDeploymentGroupRevisions method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeploymentGroupRevisions request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "deploymentGroupRevisions": {
          "items": {
            "$ref": "DeploymentGroupRevision"
          },
          "type": "array",
          "description": "The deployment group revisions from the specified collection."
        }
      },
      "id": "ListDeploymentGroupRevisionsResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "previewMetadata": {
          "readOnly": true,
          "$ref": "PreviewOperationMetadata",
          "description": "Output only. Metadata about the preview operation state."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the operation finished running."
        },
        "deploymentMetadata": {
          "$ref": "DeploymentOperationMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the deployment operation state."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "provisionDeploymentGroupMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about ProvisionDeploymentGroup operation state.",
          "$ref": "ProvisionDeploymentGroupOperationMetadata"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      }
    },
    "TerraformOutput": {
      "description": "Describes a Terraform output.",
      "type": "object",
      "properties": {
        "sensitive": {
          "description": "Identifies whether Terraform has set this output as a potential sensitive value.",
          "type": "boolean"
        },
        "value": {
          "type": "any",
          "description": "Value of output."
        }
      },
      "id": "TerraformOutput"
    },
    "LockInfo": {
      "description": "Details about the lock which locked the deployment.",
      "id": "LockInfo",
      "type": "object",
      "properties": {
        "who": {
          "description": "user@hostname when available",
          "type": "string"
        },
        "version": {
          "description": "Terraform version",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time that the lock was taken.",
          "format": "google-datetime"
        },
        "operation": {
          "description": "Terraform operation, provided by the caller.",
          "type": "string"
        },
        "lockId": {
          "description": "Unique ID for the lock to be overridden with generation ID in the backend.",
          "type": "string",
          "format": "int64"
        },
        "info": {
          "description": "Extra information to store with the lock, provided by the caller.",
          "type": "string"
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "List of Deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeployments request via `page_token` to obtain the next set of results.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Resource has been planned for reconcile.",
            "Resource is actively reconciling into the intended state.",
            "Resource has reconciled to intended state.",
            "Resource failed to reconcile."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PLANNED",
            "IN_PROGRESS",
            "RECONCILED",
            "FAILED"
          ],
          "description": "Output only. Current state of the resource."
        },
        "name": {
          "description": "Output only. Resource name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/revisions/{revision}/resources/{resource}`",
          "readOnly": true,
          "type": "string"
        },
        "intent": {
          "type": "string",
          "description": "Output only. Intent of the resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the intent is omitted.",
            "Infra Manager will create this Resource.",
            "Infra Manager will update this Resource.",
            "Infra Manager will delete this Resource.",
            "Infra Manager will destroy and recreate this Resource.",
            "Infra Manager will leave this Resource untouched."
          ],
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ]
        },
        "terraformInfo": {
          "readOnly": true,
          "$ref": "ResourceTerraformInfo",
          "description": "Output only. Terraform-specific info if this resource was created using Terraform."
        },
        "caiAssets": {
          "additionalProperties": {
            "$ref": "ResourceCAIInfo"
          },
          "type": "object",
          "description": "Output only. Map of Cloud Asset Inventory (CAI) type to CAI info (e.g. CAI ID). CAI type format follows https://cloud.google.com/asset-inventory/docs/supported-asset-types",
          "readOnly": true
        }
      },
      "description": "Resource represents a Google Cloud Platform resource actuated by IM. Resources are child resources of Revisions."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "ResourceChangeTerraformInfo": {
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. TF resource type."
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. TF resource name.",
          "type": "string"
        },
        "actions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. TF resource actions.",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "description": "Output only. TF resource address that uniquely identifies the resource.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "readOnly": true,
          "description": "Output only. TF resource provider.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceChangeTerraformInfo",
      "description": "Terraform info of a ResourceChange."
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ExportPreviewResultRequest": {
      "type": "object",
      "id": "ExportPreviewResultRequest",
      "description": "A request to export preview results.",
      "properties": {}
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "TerraformBlueprint": {
      "id": "TerraformBlueprint",
      "properties": {
        "gcsSource": {
          "type": "string",
          "description": "URI of an object in Google Cloud Storage. Format: `gs://{bucket}/{object}` URI may also specify an object version for zipped objects. Format: `gs://{bucket}/{object}#{version}`"
        },
        "gitSource": {
          "description": "URI of a public Git repo.",
          "$ref": "GitSource"
        },
        "inputValues": {
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. Input variable values for the Terraform blueprint.",
          "type": "object"
        },
        "externalValues": {
          "additionalProperties": {
            "$ref": "ExternalValueSource"
          },
          "description": "Optional. Map of input variable names in this blueprint to configurations for importing values from external sources.",
          "type": "object"
        }
      },
      "description": "TerraformBlueprint describes the source of a Terraform root module which describes the resources and configs to be deployed.",
      "type": "object"
    },
    "DeploymentOperationSummary": {
      "id": "DeploymentOperationSummary",
      "description": "The summary of the deployment operation.",
      "properties": {
        "artifacts": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations artifacts in `gs://{bucket}/{object}` format."
        },
        "build": {
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with this operation.",
          "readOnly": true
        },
        "deploymentStep": {
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current step the deployment operation is running.",
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ]
        },
        "content": {
          "readOnly": true,
          "description": "Output only. Location of Deployment operations content in `gs://{bucket}/{object}` format.",
          "type": "string"
        },
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format."
        }
      },
      "type": "object"
    },
    "ImportStatefileRequest": {
      "properties": {
        "lockId": {
          "type": "string",
          "description": "Required. Lock ID of the lock file to verify that the user who is importing the state file previously locked the Deployment.",
          "format": "int64"
        }
      },
      "description": "A request to import a state file passed to a 'ImportStatefile' call.",
      "type": "object",
      "id": "ImportStatefileRequest"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ListTerraformVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListTerraformVersions request via `page_token` to obtain the next set of results."
        },
        "terraformVersions": {
          "description": "List of TerraformVersions.",
          "type": "array",
          "items": {
            "$ref": "TerraformVersion"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources, if any.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for the `ListTerraformVersions` method.",
      "id": "ListTerraformVersionsResponse"
    },
    "ApplyResults": {
      "id": "ApplyResults",
      "properties": {
        "content": {
          "description": "Location of a blueprint copy and other manifests in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "type": "string"
        },
        "outputs": {
          "description": "Map of output name to output info.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TerraformOutput"
          }
        },
        "artifacts": {
          "description": "Location of artifacts (e.g. logs) in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Outputs and artifacts from applying a deployment."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "ListPreviewsResponse": {
      "type": "object",
      "description": "A response to a `ListPreviews` call. Contains a list of Previews.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be supplied to the next ListPreviews request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "previews": {
          "description": "List of Previews.",
          "type": "array",
          "items": {
            "$ref": "Preview"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListPreviewsResponse"
    },
    "PreviewArtifacts": {
      "id": "PreviewArtifacts",
      "type": "object",
      "description": "Artifacts created by preview.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Output only. Location of a blueprint copy and other content in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "readOnly": true
        },
        "artifacts": {
          "type": "string",
          "description": "Output only. Location of artifacts in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "readOnly": true
        }
      }
    },
    "DeploymentGroupRevision": {
      "type": "object",
      "description": "A DeploymentGroupRevision represents a snapshot of a DeploymentGroup at a given point in time, created when a DeploymentGroup is provisioned or deprovisioned.",
      "properties": {
        "alternativeIds": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The alternative IDs of the deployment group revision."
        },
        "snapshot": {
          "$ref": "DeploymentGroup",
          "readOnly": true,
          "description": "Output only. The snapshot of the deployment group at this revision."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the deployment group revision was created."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the deployment group revision. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}/revisions/{revision}'."
        }
      },
      "id": "DeploymentGroupRevision"
    },
    "TerraformVersion": {
      "type": "object",
      "description": "A TerraformVersion represents the support state the corresponding Terraform version.",
      "id": "TerraformVersion",
      "properties": {
        "obsoleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the version is obsolete."
        },
        "deprecateTime": {
          "readOnly": true,
          "description": "Output only. When the version is deprecated.",
          "format": "google-datetime",
          "type": "string"
        },
        "supportTime": {
          "description": "Output only. When the version is supported.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The version is actively supported.",
            "The version is deprecated.",
            "The version is obsolete."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED",
            "OBSOLETE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the version, ACTIVE, DEPRECATED or OBSOLETE."
        },
        "name": {
          "description": "Identifier. The version name is in the format: 'projects/{project_id}/locations/{location}/terraformVersions/{terraform_version}'.",
          "type": "string"
        }
      }
    },
    "PropertyDrift": {
      "description": "A property drift represents a drift to a property in the state file.",
      "properties": {
        "beforeSensitivePaths": {
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "afterSensitivePaths": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`."
        },
        "before": {
          "type": "any",
          "description": "Output only. Representations of the object value before the actions.",
          "readOnly": true
        },
        "path": {
          "description": "Output only. The path of the property drift.",
          "type": "string",
          "readOnly": true
        },
        "after": {
          "description": "Output only. Representations of the object value after the actions.",
          "type": "any",
          "readOnly": true
        }
      },
      "id": "PropertyDrift",
      "type": "object"
    },
    "ExportPreviewResultResponse": {
      "type": "object",
      "description": "A response to `ExportPreviewResult` call. Contains preview results.",
      "id": "ExportPreviewResultResponse",
      "properties": {
        "result": {
          "description": "Output only. Signed URLs for accessing the plan files.",
          "$ref": "PreviewResult",
          "readOnly": true
        }
      }
    },
    "Preview": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the preview was created."
        },
        "tfVersionConstraint": {
          "type": "string",
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\"."
        },
        "previewMode": {
          "type": "string",
          "description": "Optional. Current mode of preview.",
          "enumDescriptions": [
            "Unspecified policy, default mode will be used.",
            "DEFAULT mode generates an execution plan for reconciling current resource state into expected resource state.",
            "DELETE mode generates as execution plan for destroying current resources."
          ],
          "enum": [
            "PREVIEW_MODE_UNSPECIFIED",
            "DEFAULT",
            "DELETE"
          ]
        },
        "errorStatus": {
          "description": "Output only. Additional information regarding the current state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "build": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with this preview."
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the preview.",
          "enumDescriptions": [
            "The default value. This value is used if the state is unknown.",
            "The preview is being created.",
            "The preview has succeeded.",
            "The preview is being applied.",
            "The preview is stale. A preview can become stale if a revision has been applied after this preview was created.",
            "The preview is being deleted.",
            "The preview has encountered an unexpected error.",
            "The preview has been deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "APPLYING",
            "STALE",
            "DELETING",
            "FAILED",
            "DELETED"
          ]
        },
        "serviceAccount": {
          "description": "Required. User-specified Service Account (SA) credentials to be used when previewing resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`",
          "type": "string"
        },
        "providerConfig": {
          "description": "Optional. This field specifies the provider configurations.",
          "$ref": "ProviderConfig"
        },
        "tfErrors": {
          "description": "Output only. Summary of errors encountered during Terraform preview. It has a size limit of 10, i.e. only top 10 errors will be summarized here.",
          "items": {
            "$ref": "TerraformError"
          },
          "type": "array",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the preview.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "logs": {
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format.",
          "type": "string",
          "readOnly": true
        },
        "terraformBlueprint": {
          "$ref": "TerraformBlueprint",
          "description": "The terraform blueprint to preview."
        },
        "workerPool": {
          "description": "The user-specified Worker Pool resource in which the Cloud Build job will execute. Format projects/{project}/locations/{location}/workerPools/{workerPoolId} If this field is unspecified, the default Cloud Build worker pool will be used. If omitted and deployment resource ref provided has worker_pool defined, that worker pool is used.",
          "type": "string"
        },
        "errorCode": {
          "description": "Output only. Code describing any errors that may have occurred.",
          "readOnly": true,
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "DEPLOYMENT_LOCK_ACQUIRE_FAILED",
            "PREVIEW_BUILD_API_FAILED",
            "PREVIEW_BUILD_RUN_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permissions issue.",
            "Cloud Storage bucket failed to create due to a permissions issue.",
            "Cloud Storage bucket failed for a non-permissions-related issue.",
            "Acquiring lock on provided deployment reference failed.",
            "Preview encountered an error when trying to access Cloud Build API.",
            "Preview created a build but build failed and logs were generated.",
            "Failed to import values from an external source."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the preview. Resource name can be user provided or server generated ID if unspecified. Format: `projects/{project}/locations/{location}/previews/{preview}`",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Optional. Deployment reference. If specified, the preview will be performed using the provided deployment's current state and use any relevant fields from the deployment unless explicitly specified in the preview create request."
        },
        "errorLogs": {
          "description": "Output only. Link to tf-error.ndjson file, which contains the full list of the errors encountered during a Terraform preview. Format: `gs://{bucket}/{object}`.",
          "type": "string",
          "readOnly": true
        },
        "artifactsGcsBucket": {
          "description": "User-defined location of Cloud Build logs, artifacts, and in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty Default Bucket Format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` If omitted and deployment resource ref provided has artifacts_gcs_bucket defined, that artifact bucket is used.",
          "type": "string"
        },
        "tfVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current Terraform version set on the preview. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
        },
        "previewArtifacts": {
          "readOnly": true,
          "$ref": "PreviewArtifacts",
          "description": "Output only. Artifacts from preview."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify preview during automation. See https://google.aip.dev/148#annotations for details on format and size limitations."
        }
      },
      "type": "object",
      "description": "A preview represents a set of actions Infra Manager would perform to move the resources towards the desired state as specified in the configuration.",
      "id": "Preview"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "Revision": {
      "properties": {
        "logs": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Location of Revision operation logs in `gs://{bucket}/{object}` format."
        },
        "serviceAccount": {
          "description": "Output only. User-specified Service Account (SA) to be used as credential to manage resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the revision was last modified.",
          "readOnly": true
        },
        "providerConfig": {
          "description": "Output only. This field specifies the provider configurations.",
          "$ref": "ProviderConfig",
          "readOnly": true
        },
        "workerPool": {
          "description": "Output only. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string",
          "readOnly": true
        },
        "importExistingResources": {
          "readOnly": true,
          "description": "Output only. By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the revision.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The revision is being applied.",
            "The revision was applied successfully.",
            "The revision could not be applied successfully."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "APPLYING",
            "APPLIED",
            "FAILED"
          ]
        },
        "build": {
          "description": "Output only. Cloud Build instance UUID associated with this revision.",
          "readOnly": true,
          "type": "string"
        },
        "quotaValidation": {
          "enum": [
            "QUOTA_VALIDATION_UNSPECIFIED",
            "ENABLED",
            "ENFORCED"
          ],
          "enumDescriptions": [
            "The default value. QuotaValidation on terraform configuration files will be disabled in this case.",
            "Enable computing quotas for resources in terraform configuration files to get visibility on resources with insufficient quotas.",
            "Enforce quota checks so deployment fails if there isn't sufficient quotas available to deploy resources in terraform configuration files."
          ],
          "type": "string",
          "description": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies."
        },
        "applyResults": {
          "$ref": "ApplyResults",
          "description": "Output only. Outputs and artifacts from applying a deployment.",
          "readOnly": true
        },
        "tfVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of Terraform used to create the Revision. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the revision was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "stateDetail": {
          "readOnly": true,
          "description": "Output only. Additional info regarding the current state.",
          "type": "string"
        },
        "terraformBlueprint": {
          "description": "Output only. A blueprint described using Terraform's HashiCorp Configuration Language as a root module.",
          "readOnly": true,
          "$ref": "TerraformBlueprint"
        },
        "tfErrors": {
          "items": {
            "$ref": "TerraformError"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Errors encountered when creating or updating this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details."
        },
        "errorCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Code describing any errors that may have occurred.",
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with creating or updating a deployment could not be started.",
            "Cloud Build job associated with creating or updating a deployment was started but failed.",
            "quota validation failed for one or more resources in terraform configuration files.",
            "Failed to import values from an external source."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "APPLY_BUILD_API_FAILED",
            "APPLY_BUILD_RUN_FAILED",
            "QUOTA_VALIDATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ]
        },
        "errorLogs": {
          "description": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`.",
          "readOnly": true,
          "type": "string"
        },
        "quotaValidationResults": {
          "readOnly": true,
          "description": "Output only. Cloud Storage path containing quota validation results. This field is set when a user sets Deployment.quota_validation field to ENABLED or ENFORCED. Format: `gs://{bucket}/{object}`.",
          "type": "string"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the action is omitted.",
            "The revision was generated by creating a deployment.",
            "The revision was generated by updating a deployment.",
            "The revision was deleted."
          ],
          "description": "Output only. The action which created this revision",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Revision name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`",
          "type": "string"
        },
        "tfVersionConstraint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user-specified Terraform version constraint. Example: \"=1.3.10\"."
        }
      },
      "type": "object",
      "id": "Revision",
      "description": "A child resource of a Deployment generated by a 'CreateDeployment' or 'UpdateDeployment' call. Each Revision contains metadata pertaining to a snapshot of a particular Deployment."
    },
    "ResourceTerraformInfo": {
      "properties": {
        "address": {
          "description": "TF resource address that uniquely identifies this resource within this deployment.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "TF resource type"
        },
        "id": {
          "description": "ID attribute of the TF resource",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceTerraformInfo",
      "description": "Terraform info of a Resource."
    },
    "Deployment": {
      "description": "A Deployment is a group of resources and configs managed and provisioned by Infra Manager.",
      "type": "object",
      "properties": {
        "tfVersion": {
          "readOnly": true,
          "description": "Output only. The current Terraform version set on the deployment. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\".",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the deployment was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "terraformBlueprint": {
          "$ref": "TerraformBlueprint",
          "description": "A blueprint described using Terraform's HashiCorp Configuration Language as a root module."
        },
        "workerPool": {
          "type": "string",
          "description": "The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`"
        },
        "errorLogs": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`."
        },
        "artifactsGcsBucket": {
          "description": "User-defined location of Cloud Build logs and artifacts in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty. Default bucket format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` - The field cannot be updated, including changing its presence",
          "type": "string"
        },
        "deleteResults": {
          "readOnly": true,
          "description": "Output only. Location of artifacts from a DeleteDeployment operation.",
          "$ref": "ApplyResults"
        },
        "errorCode": {
          "type": "string",
          "enumDescriptions": [
            "No error code was specified.",
            "The revision failed. See Revision for more details.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with a deployment deletion could not be started.",
            "Cloud Build job associated with a deployment deletion was started but failed.",
            "Cloud Storage bucket creation failed due to a permission issue.",
            "Cloud Storage bucket creation failed due to an issue unrelated to permissions.",
            "Failed to import values from an external source."
          ],
          "readOnly": true,
          "description": "Output only. Error code describing errors that may have occurred.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "REVISION_FAILED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "DELETE_BUILD_API_FAILED",
            "DELETE_BUILD_RUN_FAILED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ]
        },
        "tfVersionConstraint": {
          "type": "string",
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\"."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployments during automation. See https://google.aip.dev/148#annotations for details on format and size limitations."
        },
        "createTime": {
          "description": "Output only. Time when the deployment was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "stateDetail": {
          "description": "Output only. Additional information regarding the current state.",
          "type": "string",
          "readOnly": true
        },
        "latestRevision": {
          "type": "string",
          "description": "Output only. Revision name that was most recently applied. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined metadata for the deployment."
        },
        "deleteBuild": {
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with deleting this deployment.",
          "readOnly": true
        },
        "tfErrors": {
          "description": "Output only. Errors encountered when deleting this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details.",
          "items": {
            "$ref": "TerraformError"
          },
          "readOnly": true,
          "type": "array"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. User-specified Service Account (SA) credentials to be used when actuating resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
        },
        "deleteLogs": {
          "description": "Output only. Location of Cloud Build logs in Google Cloud Storage, populated when deleting this deployment. Format: `gs://{bucket}/{object}`.",
          "readOnly": true,
          "type": "string"
        },
        "providerConfig": {
          "description": "Optional. This field specifies the provider configurations.",
          "$ref": "ProviderConfig"
        },
        "importExistingResources": {
          "description": "By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation.",
          "type": "boolean"
        },
        "lockState": {
          "description": "Output only. Current lock state of the deployment.",
          "enum": [
            "LOCK_STATE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED",
            "LOCKING",
            "UNLOCKING",
            "LOCK_FAILED",
            "UNLOCK_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the lock state is omitted.",
            "The deployment is locked.",
            "The deployment is unlocked.",
            "The deployment is being locked.",
            "The deployment is being unlocked.",
            "The deployment has failed to lock.",
            "The deployment has failed to unlock."
          ],
          "type": "string"
        },
        "quotaValidation": {
          "enumDescriptions": [
            "The default value. QuotaValidation on terraform configuration files will be disabled in this case.",
            "Enable computing quotas for resources in terraform configuration files to get visibility on resources with insufficient quotas.",
            "Enforce quota checks so deployment fails if there isn't sufficient quotas available to deploy resources in terraform configuration files."
          ],
          "type": "string",
          "enum": [
            "QUOTA_VALIDATION_UNSPECIFIED",
            "ENABLED",
            "ENFORCED"
          ],
          "description": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ],
          "type": "string",
          "description": "Output only. Current state of the deployment.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error.",
            "The deployment is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment has been deleted."
          ]
        }
      },
      "id": "Deployment"
    },
    "ProviderConfig": {
      "description": "ProviderConfig contains the provider configurations.",
      "properties": {
        "sourceType": {
          "description": "Optional. ProviderSource specifies the source type of the provider.",
          "enum": [
            "PROVIDER_SOURCE_UNSPECIFIED",
            "SERVICE_MAINTAINED"
          ],
          "enumDescriptions": [
            "Unspecified source type, default to public sources.",
            "Service maintained provider source type."
          ],
          "type": "string"
        }
      },
      "id": "ProviderConfig",
      "type": "object"
    },
    "DeploymentGroup": {
      "type": "object",
      "description": "A DeploymentGroup is a collection of DeploymentUnits that in a DAG-like structure.",
      "id": "DeploymentGroup",
      "properties": {
        "provisioningState": {
          "description": "Output only. The provisioning state of the deployment group.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified provisioning state.",
            "The deployment group is being provisioned.",
            "The deployment group is provisioned.",
            "The deployment group failed to be provisioned.",
            "The deployment group is being deprovisioned.",
            "The deployment group is deprovisioned.",
            "The deployment group failed to be deprovisioned."
          ],
          "type": "string",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED",
            "FAILED_TO_PROVISION",
            "DEPROVISIONING",
            "DEPROVISIONED",
            "FAILED_TO_DEPROVISION"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment group is being created.",
            "The deployment group is healthy.",
            "The deployment group is being updated.",
            "The deployment group is being deleted.",
            "The deployment group has encountered an unexpected error.",
            "The deployment group is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment group has been deleted."
          ],
          "description": "Output only. Current state of the deployment group."
        },
        "deploymentUnits": {
          "items": {
            "$ref": "DeploymentUnit"
          },
          "description": "The deployment units of the deployment group in a DAG like structure. When a deployment group is being provisioned, the deployment units are deployed in a DAG order. The provided units must be in a DAG order, otherwise an error will be returned.",
          "type": "array"
        },
        "provisioningStateDescription": {
          "type": "string",
          "description": "Output only. Additional information regarding the current provisioning state.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the deployment group. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}'."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the deployment group was last updated.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployment group during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the deployment group was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for the deployment group.",
          "type": "object"
        },
        "stateDescription": {
          "readOnly": true,
          "description": "Output only. Additional information regarding the current state.",
          "type": "string"
        },
        "provisioningError": {
          "readOnly": true,
          "description": "Output only. The error status of the deployment group provisioning or deprovisioning.",
          "$ref": "Status"
        }
      }
    },
    "ListResourcesResponse": {
      "type": "object",
      "description": "A response to a 'ListResources' call. Contains a list of Resources.",
      "id": "ListResourcesResponse",
      "properties": {
        "resources": {
          "description": "List of Resources.",
          "type": "array",
          "items": {
            "$ref": "Resource"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListResources' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExportDeploymentStatefileRequest": {
      "properties": {
        "draft": {
          "type": "boolean",
          "description": "Optional. If this flag is set to true, the exported deployment state file will be the draft state. This will enable the draft file to be validated before copying it over to the working state on unlock."
        }
      },
      "description": "A request to export a state file passed to a 'ExportDeploymentStatefile' call.",
      "type": "object",
      "id": "ExportDeploymentStatefileRequest"
    },
    "ExternalValueSource": {
      "id": "ExternalValueSource",
      "description": "Configuration for a source of an external value.",
      "properties": {
        "deploymentSource": {
          "$ref": "DeploymentSource",
          "description": "A source from a Deployment."
        }
      },
      "type": "object"
    },
    "DeploymentOperationMetadata": {
      "description": "Ephemeral metadata content describing the state of a deployment operation.",
      "properties": {
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format."
        },
        "applyResults": {
          "$ref": "ApplyResults",
          "description": "Outputs and artifacts from applying a deployment."
        },
        "build": {
          "description": "Output only. Cloud Build instance UUID associated with this operation.",
          "type": "string",
          "readOnly": true
        },
        "step": {
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ],
          "description": "The current step the deployment operation is running.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ]
        },
        "applyResultsAvailable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicating if early apply results are available."
        }
      },
      "type": "object",
      "id": "DeploymentOperationMetadata"
    },
    "ResourceCAIInfo": {
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "CAI resource name in the format following https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "type": "object",
      "description": "CAI info of a Resource.",
      "id": "ResourceCAIInfo"
    },
    "LockDeploymentRequest": {
      "id": "LockDeploymentRequest",
      "properties": {},
      "description": "A request to lock a deployment passed to a 'LockDeployment' call.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "condition": {
[...]
