{
  "id": "config:v1",
  "discoveryVersion": "v1",
  "version": "v1",
  "schemas": {
    "DeploymentOperationMetadata": {
      "description": "Ephemeral metadata content describing the state of a deployment operation.",
      "type": "object",
      "properties": {
        "applyResults": {
          "$ref": "ApplyResults",
          "description": "Outputs and artifacts from applying a deployment."
        },
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format."
        },
        "build": {
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with this operation.",
          "type": "string"
        },
        "step": {
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ],
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ],
          "type": "string",
          "description": "The current step the deployment operation is running."
        },
        "applyResultsAvailable": {
          "description": "Output only. Indicating if early apply results are available.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "DeploymentOperationMetadata"
    },
    "LockDeploymentRequest": {
      "id": "LockDeploymentRequest",
      "type": "object",
      "description": "A request to lock a deployment passed to a 'LockDeployment' call.",
      "properties": {}
    },
    "PreviewArtifacts": {
      "properties": {
        "artifacts": {
          "description": "Output only. Location of artifacts in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "description": "Output only. Location of a blueprint copy and other content in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "PreviewArtifacts",
      "description": "Artifacts created by preview."
    },
    "ListTerraformVersionsResponse": {
      "description": "The response message for the `ListTerraformVersions` method.",
      "id": "ListTerraformVersionsResponse",
      "properties": {
        "terraformVersions": {
          "description": "List of TerraformVersions.",
          "type": "array",
          "items": {
            "$ref": "TerraformVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListTerraformVersions request via `page_token` to obtain the next set of results."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources, if any.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AutoMigrationConfig": {
      "type": "object",
      "description": "AutoMigrationConfig contains the automigration configuration for a project.",
      "id": "AutoMigrationConfig",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the AutoMigrationConfig was last updated."
        },
        "autoMigrationEnabled": {
          "description": "Optional. Whether the auto migration is enabled for the project.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The name of the AutoMigrationConfig. Format: 'projects/{project_id}/locations/{location}/AutoMigrationConfig'.",
          "type": "string"
        }
      }
    },
    "ProvisionDeploymentGroupOperationMetadata": {
      "properties": {
        "deploymentUnitProgresses": {
          "description": "Output only. Progress information for each deployment unit within the operation.",
          "readOnly": true,
          "items": {
            "$ref": "DeploymentUnitProgress"
          },
          "type": "array"
        },
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step.",
            "Validating the deployment group.",
            "Locking the deployments to the deployment group for atomic actuation.",
            "Provisioning the deployment units.",
            "Unlocking the deployments from the deployment group after actuation.",
            "The operation has succeeded.",
            "The operation has failed.",
            "Deprovisioning the deployment units."
          ],
          "enum": [
            "PROVISION_DEPLOYMENT_GROUP_STEP_UNSPECIFIED",
            "VALIDATING_DEPLOYMENT_GROUP",
            "ASSOCIATING_DEPLOYMENTS_TO_DEPLOYMENT_GROUP",
            "PROVISIONING_DEPLOYMENT_UNITS",
            "DISASSOCIATING_DEPLOYMENTS_FROM_DEPLOYMENT_GROUP",
            "SUCCEEDED",
            "FAILED",
            "DEPROVISIONING_DEPLOYMENT_UNITS"
          ],
          "description": "Output only. The current step of the deployment group operation.",
          "readOnly": true
        }
      },
      "description": "Operation metadata for `ProvisionDeploymentGroup` and `DeprovisionDeploymentGroup` long-running operations.",
      "id": "ProvisionDeploymentGroupOperationMetadata",
      "type": "object"
    },
    "ResourceDriftTerraformInfo": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The address of the drifted resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the drifted resource."
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The provider of the drifted resource."
        },
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. TF resource name."
        }
      },
      "description": "Terraform info of a ResourceChange.",
      "id": "ResourceDriftTerraformInfo"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "Revision": {
      "description": "A child resource of a Deployment generated by a 'CreateDeployment' or 'UpdateDeployment' call. Each Revision contains metadata pertaining to a snapshot of a particular Deployment.",
      "type": "object",
      "properties": {
        "tfVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of Terraform used to create the Revision. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
        },
        "errorLogs": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`."
        },
        "tfErrors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "TerraformError"
          },
          "description": "Output only. Errors encountered when creating or updating this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details."
        },
        "createTime": {
          "description": "Output only. Time when the revision was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "quotaValidationResults": {
          "type": "string",
          "description": "Output only. Cloud Storage path containing quota validation results. This field is set when a user sets Deployment.quota_validation field to ENABLED or ENFORCED. Format: `gs://{bucket}/{object}`.",
          "readOnly": true
        },
        "workerPool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
        },
        "errorCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Code describing any errors that may have occurred.",
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with creating or updating a deployment could not be started.",
            "Cloud Build job associated with creating or updating a deployment was started but failed.",
            "quota validation failed for one or more resources in terraform configuration files.",
            "Failed to import values from an external source."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "APPLY_BUILD_API_FAILED",
            "APPLY_BUILD_RUN_FAILED",
            "QUOTA_VALIDATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ]
        },
        "build": {
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with this revision.",
          "readOnly": true
        },
        "tfVersionConstraint": {
          "description": "Output only. The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the revision.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "APPLYING",
            "APPLIED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The revision is being applied.",
            "The revision was applied successfully.",
            "The revision could not be applied successfully."
          ],
          "type": "string"
        },
        "applyResults": {
          "readOnly": true,
          "$ref": "ApplyResults",
          "description": "Output only. Outputs and artifacts from applying a deployment."
        },
        "providerConfig": {
          "readOnly": true,
          "description": "Output only. This field specifies the provider configurations.",
          "$ref": "ProviderConfig"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User-specified Service Account (SA) to be used as credential to manage resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
        },
        "stateDetail": {
          "description": "Output only. Additional info regarding the current state.",
          "readOnly": true,
          "type": "string"
        },
        "quotaValidation": {
          "enumDescriptions": [
            "The default value. QuotaValidation on terraform configuration files will be disabled in this case.",
            "Enable computing quotas for resources in terraform configuration files to get visibility on resources with insufficient quotas.",
            "Enforce quota checks so deployment fails if there isn't sufficient quotas available to deploy resources in terraform configuration files."
          ],
          "type": "string",
          "description": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies.",
          "enum": [
            "QUOTA_VALIDATION_UNSPECIFIED",
            "ENABLED",
            "ENFORCED"
          ]
        },
        "terraformBlueprint": {
          "description": "Output only. A blueprint described using Terraform's HashiCorp Configuration Language as a root module.",
          "readOnly": true,
          "$ref": "TerraformBlueprint"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the revision was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Revision name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`"
        },
        "action": {
          "readOnly": true,
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "description": "Output only. The action which created this revision",
          "enumDescriptions": [
            "The default value. This value is used if the action is omitted.",
            "The revision was generated by creating a deployment.",
            "The revision was generated by updating a deployment.",
            "The revision was deleted."
          ]
        },
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Revision operation logs in `gs://{bucket}/{object}` format."
        },
        "importExistingResources": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation."
        }
      },
      "id": "Revision"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      }
    },
    "ExportDeploymentStatefileRequest": {
      "description": "A request to export a state file passed to a 'ExportDeploymentStatefile' call.",
      "properties": {
        "draft": {
          "description": "Optional. If this flag is set to true, the exported deployment state file will be the draft state. This will enable the draft file to be validated before copying it over to the working state on unlock.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ExportDeploymentStatefileRequest"
    },
    "ListResourceDriftsResponse": {
      "description": "A response to a 'ListResourceDrifts' call. Contains a list of ResourceDrifts.",
      "type": "object",
      "id": "ListResourceDriftsResponse",
      "properties": {
        "resourceDrifts": {
          "type": "array",
          "items": {
            "$ref": "ResourceDrift"
          },
          "description": "List of ResourceDrifts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the 'ListResourceDrifts' method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "description": "Unreachable resources, if any.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListDeploymentGroupsResponse": {
      "type": "object",
      "description": "The response message for the ListDeploymentGroups method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListDeploymentGroups request via `page_token` to obtain the next set of results."
        },
        "deploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "DeploymentGroup"
          },
          "description": "The deployment groups from the specified collection."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListDeploymentGroupsResponse"
    },
    "ListDeploymentGroupRevisionsResponse": {
      "type": "object",
      "id": "ListDeploymentGroupRevisionsResponse",
      "properties": {
        "deploymentGroupRevisions": {
          "description": "The deployment group revisions from the specified collection.",
          "type": "array",
          "items": {
            "$ref": "DeploymentGroupRevision"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListDeploymentGroupRevisions request via `page_token` to obtain the next set of results."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      },
      "description": "The response message for the ListDeploymentGroupRevisions method."
    },
    "GitSource": {
      "description": "A set of files in a Git repository.",
      "properties": {
        "ref": {
          "type": "string",
          "description": "Git reference (e.g. branch or tag)."
        },
        "directory": {
          "description": "Subdirectory inside the repository. Example: 'staging/my-package'",
          "type": "string"
        },
        "repo": {
          "type": "string",
          "description": "Repository URL. Example: 'https://github.com/kubernetes/examples.git'"
        }
      },
      "type": "object",
      "id": "GitSource"
    },
    "UnlockDeploymentRequest": {
      "properties": {
        "lockId": {
          "description": "Required. Lock ID of the lock file to be unlocked.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A request to unlock a state file passed to a 'UnlockDeployment' call.",
      "type": "object",
      "id": "UnlockDeploymentRequest"
    },
    "ListPreviewsResponse": {
      "properties": {
        "previews": {
          "type": "array",
          "description": "List of Previews.",
          "items": {
            "$ref": "Preview"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be supplied to the next ListPreviews request via `page_token` to obtain the next set of results."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListPreviewsResponse",
      "type": "object",
      "description": "A response to a `ListPreviews` call. Contains a list of Previews."
    },
    "ExportPreviewResultResponse": {
      "description": "A response to `ExportPreviewResult` call. Contains preview results.",
      "id": "ExportPreviewResultResponse",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "PreviewResult",
          "readOnly": true,
          "description": "Output only. Signed URLs for accessing the plan files."
        }
      }
    },
    "Resource": {
      "description": "Resource represents a Google Cloud Platform resource actuated by IM. Resources are child resources of Revisions.",
      "id": "Resource",
      "type": "object",
      "properties": {
        "intent": {
          "enumDescriptions": [
            "The default value. This value is used if the intent is omitted.",
            "Infra Manager will create this Resource.",
            "Infra Manager will update this Resource.",
            "Infra Manager will delete this Resource.",
            "Infra Manager will destroy and recreate this Resource.",
            "Infra Manager will leave this Resource untouched."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ],
          "description": "Output only. Intent of the resource."
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Resource has been planned for reconcile.",
            "Resource is actively reconciling into the intended state.",
            "Resource has reconciled to intended state.",
            "Resource failed to reconcile."
          ],
          "description": "Output only. Current state of the resource.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PLANNED",
            "IN_PROGRESS",
            "RECONCILED",
            "FAILED"
          ]
        },
        "terraformInfo": {
          "$ref": "ResourceTerraformInfo",
          "description": "Output only. Terraform-specific info if this resource was created using Terraform.",
          "readOnly": true
        },
        "caiAssets": {
          "additionalProperties": {
            "$ref": "ResourceCAIInfo"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Map of Cloud Asset Inventory (CAI) type to CAI info (e.g. CAI ID). CAI type format follows https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name. Format: `projects/{project}/locations/{location}/deployments/{deployment}/revisions/{revision}/resources/{resource}`",
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      }
    },
    "DeploymentSpec": {
      "type": "object",
      "id": "DeploymentSpec",
      "properties": {
        "deployment": {
          "description": "Required. The deployment to be created.",
          "$ref": "Deployment"
        },
        "deploymentId": {
          "type": "string",
          "description": "Required. The id of the deployment to be created which doesn't include the project id and location."
        }
      },
      "description": "Spec for a deployment to be created."
    },
    "TerraformBlueprint": {
      "description": "TerraformBlueprint describes the source of a Terraform root module which describes the resources and configs to be deployed.",
      "properties": {
        "externalValues": {
          "description": "Optional. Map of input variable names in this blueprint to configurations for importing values from external sources.",
          "additionalProperties": {
            "$ref": "ExternalValueSource"
          },
          "type": "object"
        },
        "inputValues": {
          "description": "Optional. Input variable values for the Terraform blueprint.",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "type": "object"
        },
        "gcsSource": {
          "description": "URI of an object in Google Cloud Storage. Format: `gs://{bucket}/{object}` URI may also specify an object version for zipped objects. Format: `gs://{bucket}/{object}#{version}`",
          "type": "string"
        },
        "gitSource": {
          "$ref": "GitSource",
          "description": "URI of a public Git repo."
        }
      },
      "id": "TerraformBlueprint",
      "type": "object"
    },
    "Statefile": {
      "description": "Contains info about a Terraform state file",
      "properties": {
        "signedUri": {
          "readOnly": true,
          "description": "Output only. Cloud Storage signed URI used for downloading or uploading the state file.",
          "type": "string"
        }
      },
      "id": "Statefile",
      "type": "object"
    },
    "PropertyChange": {
      "type": "object",
      "description": "A property change represents a change to a property in the state file.",
      "properties": {
        "beforeSensitivePaths": {
          "type": "array",
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "after": {
          "type": "any",
          "readOnly": true,
          "description": "Output only. Representations of the object value after the actions."
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path of the property change."
        },
        "afterSensitivePaths": {
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "before": {
          "type": "any",
          "readOnly": true,
          "description": "Output only. Representations of the object value before the actions."
        }
      },
      "id": "PropertyChange"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "ListResourceChangesResponse": {
      "description": "A response to a 'ListResourceChanges' call. Contains a list of ResourceChanges.",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListResourceChanges' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources, if any.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceChanges": {
          "description": "List of ResourceChanges.",
          "items": {
            "$ref": "ResourceChange"
          },
          "type": "array"
        }
      },
      "id": "ListResourceChangesResponse",
      "type": "object"
    },
    "ResourceDrift": {
      "description": "A resource drift represents a drift to a resource in the state file.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the resource drift. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceDrifts/{resource_drift}'."
        },
        "propertyDrifts": {
          "description": "Output only. The property drifts of the resource drift.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PropertyDrift"
          }
        },
        "terraformInfo": {
          "description": "Output only. Terraform info of the resource drift.",
          "$ref": "ResourceDriftTerraformInfo",
          "readOnly": true
        }
      },
      "id": "ResourceDrift",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "TerraformVersion": {
      "id": "TerraformVersion",
      "type": "object",
      "description": "A TerraformVersion represents the support state the corresponding Terraform version.",
      "properties": {
        "obsoleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the version is obsolete."
        },
        "deprecateTime": {
          "readOnly": true,
          "description": "Output only. When the version is deprecated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the version, ACTIVE, DEPRECATED or OBSOLETE.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED",
            "OBSOLETE"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The version is actively supported.",
            "The version is deprecated.",
            "The version is obsolete."
          ],
          "type": "string"
        },
        "supportTime": {
          "description": "Output only. When the version is supported.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The version name is in the format: 'projects/{project_id}/locations/{location}/terraformVersions/{terraform_version}'.",
          "type": "string"
        }
      }
    },
    "DeploymentGroupRevision": {
      "type": "object",
      "id": "DeploymentGroupRevision",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the deployment group revision was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the deployment group revision. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}/revisions/{revision}'.",
          "type": "string"
        },
        "alternativeIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The alternative IDs of the deployment group revision."
        },
        "snapshot": {
          "readOnly": true,
          "description": "Output only. The snapshot of the deployment group at this revision.",
          "$ref": "DeploymentGroup"
        }
      },
      "description": "A DeploymentGroupRevision represents a snapshot of a DeploymentGroup at a given point in time, created when a DeploymentGroup is provisioned or deprovisioned."
    },
    "DeleteStatefileRequest": {
      "description": "A request to delete a state file passed to a 'DeleteStatefile' call.",
      "properties": {
        "lockId": {
          "description": "Required. Lock ID of the lock file to verify that the user who is deleting the state file previously locked the Deployment.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DeleteStatefileRequest",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ApplyResults": {
      "description": "Outputs and artifacts from applying a deployment.",
      "properties": {
        "artifacts": {
          "type": "string",
          "description": "Location of artifacts (e.g. logs) in Google Cloud Storage. Format: `gs://{bucket}/{object}`"
        },
        "content": {
          "description": "Location of a blueprint copy and other manifests in Google Cloud Storage. Format: `gs://{bucket}/{object}`",
          "type": "string"
        },
        "outputs": {
          "type": "object",
          "description": "Map of output name to output info.",
          "additionalProperties": {
            "$ref": "TerraformOutput"
          }
        }
      },
      "type": "object",
      "id": "ApplyResults"
    },
    "ExportRevisionStatefileRequest": {
      "properties": {},
      "id": "ExportRevisionStatefileRequest",
      "description": "A request to export a state file passed to a 'ExportRevisionStatefile' call.",
      "type": "object"
    },
    "PreviewResult": {
      "type": "object",
      "properties": {
        "jsonSignedUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Plan JSON signed URL"
        },
        "binarySignedUri": {
          "description": "Output only. Plan binary signed URL",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains a signed Cloud Storage URLs.",
      "id": "PreviewResult"
    },
    "ListRevisionsResponse": {
      "type": "object",
      "description": "A response to a 'ListRevisions' call. Contains a list of Revisions.",
      "id": "ListRevisionsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "revisions": {
          "items": {
            "$ref": "Revision"
          },
          "type": "array",
          "description": "List of Revisions."
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the 'ListRevisions' method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      }
    },
    "ExportPreviewResultRequest": {
      "properties": {},
      "id": "ExportPreviewResultRequest",
      "type": "object",
      "description": "A request to export preview results."
    },
    "Deployment": {
      "description": "A Deployment is a group of resources and configs managed and provisioned by Infra Manager.",
      "type": "object",
      "properties": {
        "tfVersionConstraint": {
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\".",
          "type": "string"
        },
        "errorCode": {
          "description": "Output only. Error code describing errors that may have occurred.",
          "enumDescriptions": [
            "No error code was specified.",
            "The revision failed. See Revision for more details.",
            "Cloud Build failed due to a permission issue.",
            "Cloud Build job associated with a deployment deletion could not be started.",
            "Cloud Build job associated with a deployment deletion was started but failed.",
            "Cloud Storage bucket creation failed due to a permission issue.",
            "Cloud Storage bucket creation failed due to an issue unrelated to permissions.",
            "Failed to import values from an external source."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "REVISION_FAILED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "DELETE_BUILD_API_FAILED",
            "DELETE_BUILD_RUN_FAILED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "deleteBuild": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with deleting this deployment."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the deployment was last modified."
        },
        "importExistingResources": {
          "description": "By default, Infra Manager will return a failure when Terraform encounters a 409 code (resource conflict error) during actuation. If this flag is set to true, Infra Manager will instead attempt to automatically import the resource into the Terraform state (for supported resource types) and continue actuation. Not all resource types are supported, refer to documentation.",
          "type": "boolean"
        },
        "artifactsGcsBucket": {
          "description": "User-defined location of Cloud Build logs and artifacts in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty. Default bucket format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` - The field cannot be updated, including changing its presence",
          "type": "string"
        },
        "tfVersion": {
          "type": "string",
          "description": "Output only. The current Terraform version set on the deployment. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\".",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. User-specified Service Account (SA) credentials to be used when actuating resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
        },
        "latestRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Revision name that was most recently applied. Format: `projects/{project}/locations/{location}/deployments/{deployment}/ revisions/{revision}`"
        },
        "errorLogs": {
          "description": "Output only. Location of Terraform error logs in Google Cloud Storage. Format: `gs://{bucket}/{object}`.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "string"
        },
        "providerConfig": {
          "$ref": "ProviderConfig",
          "description": "Optional. This field specifies the provider configurations."
        },
        "deleteLogs": {
          "readOnly": true,
          "description": "Output only. Location of Cloud Build logs in Google Cloud Storage, populated when deleting this deployment. Format: `gs://{bucket}/{object}`.",
          "type": "string"
        },
        "quotaValidation": {
          "description": "Optional. Input to control quota checks for resources in terraform configuration files. There are limited resources on which quota validation applies.",
          "type": "string",
          "enumDescriptions": [
            "The default value. QuotaValidation on terraform configuration files will be disabled in this case.",
            "Enable computing quotas for resources in terraform configuration files to get visibility on resources with insufficient quotas.",
            "Enforce quota checks so deployment fails if there isn't sufficient quotas available to deploy resources in terraform configuration files."
          ],
          "enum": [
            "QUOTA_VALIDATION_UNSPECIFIED",
            "ENABLED",
            "ENFORCED"
          ]
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error.",
            "The deployment is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment has been deleted."
          ],
          "description": "Output only. Current state of the deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "terraformBlueprint": {
          "description": "A blueprint described using Terraform's HashiCorp Configuration Language as a root module.",
          "$ref": "TerraformBlueprint"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for the deployment."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployments during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "type": "object"
        },
        "deleteResults": {
          "description": "Output only. Location of artifacts from a DeleteDeployment operation.",
          "$ref": "ApplyResults",
          "readOnly": true
        },
        "workerPool": {
          "type": "string",
          "description": "The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
        },
        "stateDetail": {
          "description": "Output only. Additional information regarding the current state.",
          "type": "string",
          "readOnly": true
        },
        "lockState": {
          "description": "Output only. Current lock state of the deployment.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the lock state is omitted.",
            "The deployment is locked.",
            "The deployment is unlocked.",
            "The deployment is being locked.",
            "The deployment is being unlocked.",
            "The deployment has failed to lock.",
            "The deployment has failed to unlock."
          ],
          "type": "string",
          "enum": [
            "LOCK_STATE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED",
            "LOCKING",
            "UNLOCKING",
            "LOCK_FAILED",
            "UNLOCK_FAILED"
          ]
        },
        "tfErrors": {
          "readOnly": true,
          "items": {
            "$ref": "TerraformError"
          },
          "description": "Output only. Errors encountered when deleting this deployment. Errors are truncated to 10 entries, see `delete_results` and `error_logs` for full details.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the deployment was created."
        }
      },
      "id": "Deployment"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "ResourceTerraformInfo": {
      "type": "object",
      "description": "Terraform info of a Resource.",
      "properties": {
        "type": {
          "description": "TF resource type",
          "type": "string"
        },
        "id": {
          "description": "ID attribute of the TF resource",
          "type": "string"
        },
        "address": {
          "description": "TF resource address that uniquely identifies this resource within this deployment.",
          "type": "string"
        }
      },
      "id": "ResourceTerraformInfo"
    },
    "TerraformError": {
      "id": "TerraformError",
      "description": "Errors encountered during actuation using Terraform",
      "properties": {
        "httpResponseCode": {
          "format": "int32",
          "type": "integer",
          "description": "HTTP response code returned from Google Cloud Platform APIs when Terraform fails to provision the resource. If unset or 0, no HTTP response code was returned by Terraform."
        },
        "error": {
          "description": "Output only. Original error response from underlying Google API, if available.",
          "readOnly": true,
          "$ref": "Status"
        },
        "resourceAddress": {
          "type": "string",
          "description": "Address of the resource associated with the error, e.g. `google_compute_network.vpc_network`."
        },
        "errorDescription": {
          "description": "A human-readable error description.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceChange": {
      "properties": {
        "terraformInfo": {
          "readOnly": true,
          "$ref": "ResourceChangeTerraformInfo",
          "description": "Output only. Terraform info of the resource change."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the resource change. Format: 'projects/{project_id}/locations/{location}/previews/{preview}/resourceChanges/{resource_change}'."
        },
        "intent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The intent of the resource change.",
          "enumDescriptions": [
            "The default value.",
            "The resource will be created.",
            "The resource will be updated.",
            "The resource will be deleted.",
            "The resource will be recreated.",
            "The resource will be untouched."
          ],
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RECREATE",
            "UNCHANGED"
          ]
        },
        "propertyChanges": {
          "items": {
            "$ref": "PropertyChange"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The property changes of the resource change."
        }
      },
      "id": "ResourceChange",
      "description": "A resource change represents a change to a resource in the state file.",
      "type": "object"
    },
    "DeploymentGroup": {
      "description": "A DeploymentGroup is a collection of DeploymentUnits that in a DAG-like structure.",
      "id": "DeploymentGroup",
      "properties": {
        "updateTime": {
          "description": "Output only. Time when the deployment group was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "stateDescription": {
          "readOnly": true,
          "description": "Output only. Additional information regarding the current state.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined metadata for the deployment group."
        },
        "provisioningError": {
          "$ref": "Status",
          "description": "Output only. The error status of the deployment group provisioning or deprovisioning.",
          "readOnly": true
        },
        "provisioningStateDescription": {
          "readOnly": true,
          "description": "Output only. Additional information regarding the current provisioning state.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Output only. The provisioning state of the deployment group.",
          "readOnly": true,
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED",
            "FAILED_TO_PROVISION",
            "DEPROVISIONING",
            "DEPROVISIONED",
            "FAILED_TO_DEPROVISION"
          ],
          "enumDescriptions": [
            "Unspecified provisioning state.",
            "The deployment group is being provisioned.",
            "The deployment group is provisioned.",
            "The deployment group failed to be provisioned.",
            "The deployment group is being deprovisioned.",
            "The deployment group is deprovisioned.",
            "The deployment group failed to be deprovisioned."
          ],
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify deployment group during automation. See https://google.aip.dev/148#annotations for details on format and size limitations."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the deployment group. Format: 'projects/{project_id}/locations/{location}/deploymentGroups/{deployment_group}'."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the deployment group was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deploymentUnits": {
          "type": "array",
          "items": {
            "$ref": "DeploymentUnit"
          },
          "description": "The deployment units of the deployment group in a DAG like structure. When a deployment group is being provisioned, the deployment units are deployed in a DAG order. The provided units must be in a DAG order, otherwise an error will be returned."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED",
            "SUSPENDED",
            "DELETED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment group is being created.",
            "The deployment group is healthy.",
            "The deployment group is being updated.",
            "The deployment group is being deleted.",
            "The deployment group has encountered an unexpected error.",
            "The deployment group is no longer being actively reconciled. This may be the result of recovering the project after deletion.",
            "The deployment group has been deleted."
          ],
          "description": "Output only. Current state of the deployment group."
        }
      },
      "type": "object"
    },
    "DeploymentOperationSummary": {
      "type": "object",
      "id": "DeploymentOperationSummary",
      "description": "The summary of the deployment operation.",
      "properties": {
        "logs": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of Deployment operations logs in `gs://{bucket}/{object}` format."
        },
        "build": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud Build instance UUID associated with this operation."
        },
        "artifacts": {
          "type": "string",
          "description": "Output only. Location of Deployment operations artifacts in `gs://{bucket}/{object}` format.",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Location of Deployment operations content in `gs://{bucket}/{object}` format."
        },
        "deploymentStep": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "RUNNING_TF_APPLY",
            "RUNNING_TF_DESTROY",
            "RUNNING_TF_VALIDATE",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY",
            "RUNNING_QUOTA_VALIDATION"
          ],
          "readOnly": true,
          "description": "Output only. The current step the deployment operation is running.",
          "enumDescriptions": [
            "Unspecified deployment step",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the deployment and revision",
            "Downloading the blueprint onto the Google Cloud Storage bucket",
            "Initializing Terraform using `terraform init`",
            "Running `terraform plan`",
            "Actuating resources using Terraform using `terraform apply`",
            "Destroying resources using Terraform using `terraform destroy`",
            "Validating the uploaded TF state file when unlocking a deployment",
            "Unlocking a deployment",
            "Operation was successful",
            "Operation failed",
            "Validating the provided repository.",
            "Running quota validation"
          ]
        }
      }
    },
    "ResourceCAIInfo": {
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "CAI resource name in the format following https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "id": "ResourceCAIInfo",
      "description": "CAI info of a Resource.",
      "type": "object"
    },
    "ListResourcesResponse": {
      "description": "A response to a 'ListResources' call. Contains a list of Resources.",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Resource"
          },
          "description": "List of Resources."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the 'ListResources' method. The value of an empty string means that there are no more resources to return."
        }
      },
      "type": "object",
      "id": "ListResourcesResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "PropertyDrift": {
      "id": "PropertyDrift",
      "properties": {
        "after": {
          "description": "Output only. Representations of the object value after the actions.",
          "readOnly": true,
          "type": "any"
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path of the property drift."
        },
        "before": {
          "description": "Output only. Representations of the object value before the actions.",
          "readOnly": true,
          "type": "any"
        },
        "beforeSensitivePaths": {
          "readOnly": true,
          "description": "Output only. The paths of sensitive fields in `before`. Paths are relative to `path`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "afterSensitivePaths": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The paths of sensitive fields in `after`. Paths are relative to `path`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A property drift represents a drift to a property in the state file."
    },
    "DeploymentUnit": {
      "properties": {
        "dependencies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The IDs of the deployment units within the deployment group that this unit depends on."
        },
        "id": {
          "description": "The id of the deployment unit. Must be unique within the deployment group.",
          "type": "string"
        },
        "deployment": {
          "description": "Optional. The name of the deployment to be provisioned. Format: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
          "type": "string"
        }
      },
      "id": "DeploymentUnit",
      "description": "A DeploymentUnit is a container for a deployment and its dependencies. An existing deployment can be provided directly in the unit, or the unit can act as a placeholder to define the DAG, with the deployment specs supplied in a `provisionDeploymentRequest`.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "properties": {
        "deployments": {
          "description": "List of Deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be supplied to the next ListDeployments request via `page_token` to obtain the next set of results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListDeploymentsResponse"
    },
    "DeploymentUnitProgress": {
      "description": "The progress of a deployment unit provisioning or deprovisioning.",
      "type": "object",
      "properties": {
        "deployment": {
          "description": "Output only. The name of the deployment to be provisioned. Format: 'projects/{project}/locations/{location}/deployments/{deployment}'.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Holds the error status of the deployment unit provisioning.",
          "$ref": "Status"
        },
        "stateDescription": {
          "readOnly": true,
          "description": "Output only. Additional information regarding the current state.",
          "type": "string"
        },
        "intent": {
          "readOnly": true,
          "enum": [
            "INTENT_UNSPECIFIED",
            "CREATE_DEPLOYMENT",
            "UPDATE_DEPLOYMENT",
            "DELETE_DEPLOYMENT",
            "RECREATE_DEPLOYMENT",
            "CLEAN_UP",
            "UNCHANGED"
          ],
          "enumDescriptions": [
            "Unspecified intent.",
            "Create deployment in the unit from the deployment spec.",
            "Update deployment in the unit.",
            "Delete deployment in the unit.",
            "Recreate deployment in the unit.",
            "Delete deployment in latest successful revision while no longer referenced in any deployment unit in the current deployment group.",
            "Expected to be unchanged."
          ],
          "type": "string",
          "description": "Output only. The intent of the deployment unit."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "APPLYING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "DELETING_DEPLOYMENT",
            "PREVIEWING_DEPLOYMENT"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The deployment unit is queued for deployment creation or update.",
            "The underlying deployment of the unit is being created or updated.",
            "The underlying deployment operation of the unit has succeeded.",
            "The underlying deployment operation of the unit has failed.",
            "The deployment unit was aborted, likely due to failures in other dependent deployment units.",
            "The deployment unit was skipped because there were no changes to apply.",
            "The deployment is being deleted.",
            "The deployment is being previewed."
          ],
          "type": "string",
          "description": "Output only. The current step of the deployment unit provisioning.",
          "readOnly": true
        },
        "unitId": {
          "type": "string",
          "description": "Output only. The unit id of the deployment unit to be provisioned.",
          "readOnly": true
        },
        "deploymentOperationSummary": {
          "description": "Output only. The summary of the deployment operation.",
          "$ref": "DeploymentOperationSummary",
          "readOnly": true
        }
      },
      "id": "DeploymentUnitProgress"
    },
    "TerraformVariable": {
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      },
      "type": "object",
      "description": "A Terraform input variable.",
      "id": "TerraformVariable"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "DeprovisionDeploymentGroupRequest": {
      "properties": {
        "force": {
          "description": "Optional. If set to true, this option is propagated to the deletion of each deployment in the group. This corresponds to the 'force' field in DeleteDeploymentRequest.",
          "type": "boolean"
        },
        "deletePolicy": {
          "enum": [
            "DELETE_POLICY_UNSPECIFIED",
            "DELETE",
            "ABANDON"
          ],
          "description": "Optional. Policy on how resources within each deployment should be handled during deletion. This policy is applied globally to the deletion of all deployments in this group. This corresponds to the 'delete_policy' field in DeleteDeploymentRequest.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy, resources will be deleted.",
            "Deletes resources actuated by the deployment.",
            "Abandons resources and only deletes the deployment and its metadata."
          ]
        }
      },
      "type": "object",
      "id": "DeprovisionDeploymentGroupRequest",
      "description": "The request message for the DeprovisionDeploymentGroup method."
    },
    "ProviderConfig": {
      "type": "object",
      "id": "ProviderConfig",
      "properties": {
        "sourceType": {
          "enum": [
            "PROVIDER_SOURCE_UNSPECIFIED",
            "SERVICE_MAINTAINED"
          ],
          "enumDescriptions": [
            "Unspecified source type, default to public sources.",
            "Service maintained provider source type."
          ],
          "description": "Optional. ProviderSource specifies the source type of the provider.",
          "type": "string"
        }
      },
      "description": "ProviderConfig contains the provider configurations."
    },
    "Preview": {
      "type": "object",
      "description": "A preview represents a set of actions Infra Manager would perform to move the resources towards the desired state as specified in the configuration.",
      "properties": {
        "tfVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current Terraform version set on the preview. It is in the format of \"Major.Minor.Patch\", for example, \"1.3.10\"."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "APPLYING",
            "STALE",
            "DELETING",
            "FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is unknown.",
            "The preview is being created.",
            "The preview has succeeded.",
            "The preview is being applied.",
            "The preview is stale. A preview can become stale if a revision has been applied after this preview was created.",
            "The preview is being deleted.",
            "The preview has encountered an unexpected error.",
            "The preview has been deleted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the preview."
        },
        "logs": {
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format.",
          "readOnly": true,
          "type": "string"
        },
        "build": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cloud Build instance UUID associated with this preview."
        },
        "errorLogs": {
          "description": "Output only. Link to tf-error.ndjson file, which contains the full list of the errors encountered during a Terraform preview. Format: `gs://{bucket}/{object}`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the preview was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "The user-specified Worker Pool resource in which the Cloud Build job will execute. Format projects/{project}/locations/{location}/workerPools/{workerPoolId} If this field is unspecified, the default Cloud Build worker pool will be used. If omitted and deployment resource ref provided has worker_pool defined, that worker pool is used."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the preview. Resource name can be user provided or server generated ID if unspecified. Format: `projects/{project}/locations/{location}/previews/{preview}`"
        },
        "errorStatus": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Additional information regarding the current state."
        },
        "annotations": {
          "description": "Optional. Arbitrary key-value metadata storage e.g. to help client tools identify preview during automation. See https://google.aip.dev/148#annotations for details on format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "errorCode": {
          "enumDescriptions": [
            "No error code was specified.",
            "Cloud Build failed due to a permissions issue.",
            "Cloud Storage bucket failed to create due to a permissions issue.",
            "Cloud Storage bucket failed for a non-permissions-related issue.",
            "Acquiring lock on provided deployment reference failed.",
            "Preview encountered an error when trying to access Cloud Build API.",
            "Preview created a build but build failed and logs were generated.",
            "Failed to import values from an external source."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Code describing any errors that may have occurred.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CLOUD_BUILD_PERMISSION_DENIED",
            "BUCKET_CREATION_PERMISSION_DENIED",
            "BUCKET_CREATION_FAILED",
            "DEPLOYMENT_LOCK_ACQUIRE_FAILED",
            "PREVIEW_BUILD_API_FAILED",
            "PREVIEW_BUILD_RUN_FAILED",
            "EXTERNAL_VALUE_SOURCE_IMPORT_FAILED"
          ]
        },
        "artifactsGcsBucket": {
          "description": "User-defined location of Cloud Build logs, artifacts, and in Google Cloud Storage. Format: `gs://{bucket}/{folder}` A default bucket will be bootstrapped if the field is not set or empty Default Bucket Format: `gs://--blueprint-config` Constraints: - The bucket needs to be in the same project as the deployment - The path cannot be within the path of `gcs_source` If omitted and deployment resource ref provided has artifacts_gcs_bucket defined, that artifact bucket is used.",
          "type": "string"
        },
        "providerConfig": {
          "$ref": "ProviderConfig",
          "description": "Optional. This field specifies the provider configurations."
        },
        "deployment": {
          "description": "Optional. Deployment reference. If specified, the preview will be performed using the provided deployment's current state and use any relevant fields from the deployment unless explicitly specified in the preview create request.",
          "type": "string"
        },
        "previewMode": {
          "description": "Optional. Current mode of preview.",
          "enumDescriptions": [
            "Unspecified policy, default mode will be used.",
            "DEFAULT mode generates an execution plan for reconciling current resource state into expected resource state.",
            "DELETE mode generates as execution plan for destroying current resources."
          ],
          "enum": [
            "PREVIEW_MODE_UNSPECIFIED",
            "DEFAULT",
            "DELETE"
          ],
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. User-specified Service Account (SA) credentials to be used when previewing resources. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}`"
        },
        "terraformBlueprint": {
          "description": "The terraform blueprint to preview.",
          "$ref": "TerraformBlueprint"
        },
        "previewArtifacts": {
          "readOnly": true,
          "description": "Output only. Artifacts from preview.",
          "$ref": "PreviewArtifacts"
        },
        "tfVersionConstraint": {
          "type": "string",
          "description": "The user-specified Terraform version constraint. Example: \"=1.3.10\"."
        },
        "tfErrors": {
          "readOnly": true,
          "description": "Output only. Summary of errors encountered during Terraform preview. It has a size limit of 10, i.e. only top 10 errors will be summarized here.",
          "type": "array",
          "items": {
            "$ref": "TerraformError"
          }
        },
        "labels": {
          "description": "Optional. User-defined labels for the preview.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Preview"
    },
    "ProvisionDeploymentGroupRequest": {
      "type": "object",
      "description": "The request message for the ProvisionDeploymentGroup method.",
      "properties": {
        "deploymentSpecs": {
          "additionalProperties": {
            "$ref": "DeploymentSpec"
          },
          "type": "object",
          "description": "Optional. The deployment specs of the deployment units to be created within the same project and location of the deployment group. The key is the unit ID, and the value is the `DeploymentSpec`. Provisioning will fail if a `deployment_spec` has a `deployment_id` that matches an existing deployment in the same project and location. If an existing deployment was part of the last successful revision but is no longer in the current DeploymentGroup's `deployment_units`, it will be recreated if included in `deployment_specs`."
        }
      },
      "id": "ProvisionDeploymentGroupRequest"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "TerraformOutput": {
      "id": "TerraformOutput",
      "description": "Describes a Terraform output.",
      "properties": {
        "sensitive": {
          "type": "boolean",
          "description": "Identifies whether Terraform has set this output as a potential sensitive value."
        },
        "value": {
          "description": "Value of output.",
          "type": "any"
        }
      },
      "type": "object"
    },
    "ResourceChangeTerraformInfo": {
      "description": "Terraform info of a ResourceChange.",
      "id": "ResourceChangeTerraformInfo",
      "properties": {
        "address": {
          "description": "Output only. TF resource address that uniquely identifies the resource.",
          "type": "string",
          "readOnly": true
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. TF resource name.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. TF resource type.",
          "type": "string"
        },
        "actions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. TF resource actions.",
          "items": {
            "type": "string"
          }
        },
        "provider": {
          "description": "Output only. TF resource provider.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "PreviewOperationMetadata": {
      "description": "Ephemeral metadata content describing the state of a preview operation.",
      "properties": {
        "build": {
          "description": "Output only. Cloud Build instance UUID associated with this preview.",
          "type": "string",
          "readOnly": true
        },
        "logs": {
          "readOnly": true,
          "description": "Output only. Location of preview logs in `gs://{bucket}/{object}` format.",
          "type": "string"
        },
        "previewArtifacts": {
          "description": "Artifacts from preview.",
          "$ref": "PreviewArtifacts"
        },
        "step": {
          "type": "string",
          "enum": [
            "PREVIEW_STEP_UNSPECIFIED",
            "PREPARING_STORAGE_BUCKET",
            "DOWNLOADING_BLUEPRINT",
            "RUNNING_TF_INIT",
            "RUNNING_TF_PLAN",
            "FETCHING_DEPLOYMENT",
            "LOCKING_DEPLOYMENT",
            "UNLOCKING_DEPLOYMENT",
            "SUCCEEDED",
            "FAILED",
            "VALIDATING_REPOSITORY"
          ],
          "description": "The current step the preview operation is running.",
          "enumDescriptions": [
            "Unspecified preview step.",
            "Infra Manager is creating a Google Cloud Storage bucket to store artifacts and metadata about the preview.",
            "Downloading the blueprint onto the Google Cloud Storage bucket.",
            "Initializing Terraform using `terraform init`.",
            "Running `terraform plan`.",
            "Fetching a deployment.",
            "Locking a deployment.",
            "Unlocking a deployment.",
            "Operation was successful.",
            "Operation failed.",
            "Validating the provided repository."
          ]
        }
      },
      "id": "PreviewOperationMetadata",
      "type": "object"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "ExternalValueSource": {
      "type": "object",
      "properties": {
        "deploymentSource": {
          "$ref": "DeploymentSource",
          "description": "A source from a Deployment."
        }
      },
      "id": "ExternalValueSource",
      "description": "Configuration for a source of an external value."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "ImportStatefileRequest": {
      "type": "object",
      "id": "ImportStatefileRequest",
      "description": "A request to import a state file passed to a 'ImportStatefile' call.",
      "properties": {
        "lockId": {
          "format": "int64",
          "description": "Required. Lock ID of the lock file to verify that the user who is importing the state file previously locked the Deployment.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the operation finished running.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "provisionDeploymentGroupMetadata": {
          "$ref": "ProvisionDeploymentGroupOperationMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about ProvisionDeploymentGroup operation state."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "description": "Output only. Time when the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
[...]
