{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260907",
  "version": "v2",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "canonicalName": "Connectors",
  "discoveryVersion": "v1",
  "baseUrl": "https://connectors.googleapis.com/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://connectors.googleapis.com/",
  "schemas": {
    "JsonSchema": {
      "type": "object",
      "properties": {
        "jdbcType": {
          "description": "JDBC datatype of the field.",
          "type": "string",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "const": {
          "type": "any",
          "description": "Const value that the data must match."
        },
        "not": {
          "$ref": "JsonSchema",
          "description": "Schema that must not be valid."
        },
        "contentMediaType": {
          "type": "string",
          "description": "Media type of the content."
        },
        "allOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against all of the sub-schemas.",
          "type": "array"
        },
        "items": {
          "description": "Schema that applies to array values, applicable only if this is of type `array`.",
          "$ref": "JsonSchema"
        },
        "writeOnly": {
          "description": "Whether the value is write-only.",
          "type": "boolean"
        },
        "if": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "exclusiveMinimum": {
          "type": "any",
          "description": "Whether the minimum number value is exclusive."
        },
        "additionalItems": {
          "$ref": "JsonSchema",
          "description": "Schema for additional items."
        },
        "dependencies": {
          "type": "object",
          "description": "Dependencies for the schema.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "$ref": {
          "description": "A reference to another schema.",
          "type": "string"
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "maximum": {
          "type": "any",
          "description": "Maximum value of the number field."
        },
        "required": {
          "description": "Whether this property is required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minItems": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of items in the array field."
        },
        "else": {
          "description": "Schema that must be valid if the \"if\" schema is invalid.",
          "$ref": "JsonSchema"
        },
        "additionalDetails": {
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "definitions": {
          "description": "Definitions for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object"
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Whether the items in the array field are unique."
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "anyOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          },
          "type": "array"
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length of the string field."
        },
        "examples": {
          "description": "Examples of the value.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "contains": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to at least one item in an array."
        },
        "maxProperties": {
          "description": "Maximum number of properties.",
          "format": "int32",
          "type": "integer"
        },
        "properties": {
          "type": "object",
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "then": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is valid."
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "pattern": {
          "type": "string",
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match."
        },
        "oneOf": {
          "type": "array",
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "minimum": {
          "type": "any",
          "description": "Minimum value of the number field."
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "$id": {
          "type": "string",
          "description": "The URI defining the core schema meta-schema."
        },
        "maxItems": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of items in the array field."
        },
        "minProperties": {
          "description": "Minimum number of properties.",
          "type": "integer",
          "format": "int32"
        },
        "$defs": {
          "description": "Definitions for the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "minLength": {
          "description": "Minimum length of the string field.",
          "format": "int32",
          "type": "integer"
        },
        "readOnly": {
          "description": "Whether the value is read-only.",
          "type": "boolean"
        },
        "patternProperties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Pattern properties for the schema.",
          "type": "object"
        },
        "contentEncoding": {
          "description": "Encoding of the content.",
          "type": "string"
        },
        "$comment": {
          "type": "string",
          "description": "A comment on the schema."
        },
        "multipleOf": {
          "format": "double",
          "description": "Number must be a multiple of this value.",
          "type": "number"
        },
        "type": {
          "type": "array",
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "items": {
            "type": "string"
          }
        },
        "$schema": {
          "type": "string",
          "description": "The URI defining the schema."
        },
        "enum": {
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "additionalProperties": {
          "$ref": "JsonSchema",
          "description": "Schema for additional properties."
        }
      },
      "id": "JsonSchema",
      "description": "JsonSchema representation of schema metadata"
    },
    "ExecuteActionResponse": {
      "type": "object",
      "id": "ExecuteActionResponse",
      "description": "Response message for ActionService.ExecuteAction",
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "object"
        },
        "results": {
          "description": "In the case of successful invocation of the specified action, the results Struct contains values based on the response of the action invoked. 1. If the action execution produces any entities as a result, they are returned as an array of Structs with the 'key' being the field name and the 'value' being the value of that field in each result row. { 'results': [{'key': 'value'}, ...] }",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "Reference": {
      "id": "Reference",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the reference field."
        },
        "type": {
          "description": "Name of reference entity type.",
          "type": "string"
        }
      }
    },
    "PerSliSloEligibility": {
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "properties": {
        "eligibilities": {
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SloEligibility"
          }
        }
      },
      "id": "PerSliSloEligibility",
      "type": "object"
    },
    "ExecuteHttpRequestResponse": {
      "id": "ExecuteHttpRequestResponse",
      "type": "object",
      "properties": {
        "body": {
          "format": "byte",
          "description": "The raw response body.",
          "type": "string"
        },
        "reason": {
          "description": "The HTTP status reason phrase received from the backend (e.g., \"Not Found\"). May be empty if the backend did not provide one.",
          "type": "string"
        },
        "statusCode": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTP status code received from the backend."
        },
        "headers": {
          "description": "HTTP headers received in the response. Order is preserved and duplicate keys are allowed (e.g., multiple Set-Cookie headers).",
          "items": {
            "$ref": "HttpHeader"
          },
          "type": "array"
        }
      }
    },
    "Query": {
      "description": "A wrapper around the SQL query statement. This is needed so that the JSON representation of ExecuteSqlQueryRequest has the following format: `{\"query\":\"select *\"}`.",
      "properties": {
        "timeout": {
          "description": "Sets the number of seconds the driver will wait for a query to execute.",
          "type": "string",
          "format": "int64"
        },
        "query": {
          "description": "Required. Sql query to execute.",
          "type": "string"
        },
        "queryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array",
          "description": "In the struct, the value corresponds to the value of query parameter and date type corresponds to the date type of the query parameter."
        },
        "maxRows": {
          "type": "string",
          "format": "int64",
          "description": "Sets the limit for the maximum number of rows returned after the query execution."
        }
      },
      "id": "Query",
      "type": "object"
    },
    "CheckStatusResponse": {
      "id": "CheckStatusResponse",
      "description": "The status of the connector.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Metadata like service latency, etc."
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The connector is active and ready to process runtime requests. This can also mean that from the connector's perspective, the connector is not in an error state and should be able to process runtime requests successfully.",
            "The connector is in an error state and cannot process runtime requests. An example reason would be that the connection container has some network issues that prevent outbound requests from being sent.",
            "This is a more specific error state that the developers can opt to use when the connector is facing auth-related errors caused by auth configuration not present, invalid auth credentials, etc."
          ],
          "description": "State of the connector.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "AUTH_ERROR"
          ],
          "type": "string"
        },
        "description": {
          "description": "When the connector is not in ACTIVE state, the description must be populated to specify the reason why it's not in ACTIVE state.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "properties": {
        "_meta": {
          "description": "Metadata for the resource.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "A human-readable name for this resource.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of this resource, if known.",
          "type": "string"
        },
        "description": {
          "description": "A description of what this resource represents.",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string",
          "description": "The size of the raw resource content, in bytes, if known."
        },
        "uri": {
          "description": "The URI of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Resource"
    },
    "SloEligibility": {
      "id": "SloEligibility",
      "type": "object",
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      },
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
    },
    "ExecuteSqlQueryResponse": {
      "type": "object",
      "description": "A response returned by the connection after executing the sql query.",
      "id": "ExecuteSqlQueryResponse",
      "properties": {
        "results": {
          "description": "In the case of successful execution of the query the response contains results returned by the external system. For example, the result rows of the query are contained in the 'results' Struct list - \"results\": [ { \"field1\": \"val1\", \"field2\": \"val2\",.. },.. ] Each Struct row can contain fields any type of like nested Structs or lists.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array"
        }
      }
    },
    "OAuth2Config": {
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Client secret for the OAuth2 flow."
        },
        "clientId": {
          "type": "string",
          "description": "Client ID for the OAuth2 flow."
        },
        "authUri": {
          "description": "Authorization Server URL/Token Endpoint for Authorization Code Flow",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OAuth2Config"
    },
    "MaintenanceSchedule": {
      "type": "object",
      "id": "MaintenanceSchedule",
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "type": "string",
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "deprecated": true,
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled end time for the maintenance."
        }
      },
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule"
    },
    "ListResourcesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Next page token if more resources available.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "resources": {
          "description": "List of available resources.",
          "type": "array",
          "items": {
            "$ref": "Resource"
          }
        }
      },
      "type": "object",
      "id": "ListResourcesResponse"
    },
    "DailyCycle": {
      "id": "DailyCycle",
      "type": "object",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the day to start the operations."
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Time window specified for daily operations."
    },
    "ExecutionConfig": {
      "type": "object",
      "id": "ExecutionConfig",
      "properties": {
        "headers": {
          "type": "string",
          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
        }
      }
    },
    "ExecuteSqlQueryRequest": {
      "description": "An execute sql query request containing the query and the connection to execute it on.",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "Required. SQL statement passed by clients like Integration Platform, the query is passed as-is to the driver used for interfacing with external systems."
        }
      },
      "id": "ExecuteSqlQueryRequest",
      "type": "object"
    },
    "ListEntityTypesResponse": {
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "$ref": "EntityType"
          },
          "description": "List of metadata related to all entity types."
        },
        "unsupportedTypeNames": {
          "items": {
            "type": "string"
          },
          "description": "List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information.",
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Metadata like service latency, etc."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token if more entity types available."
        }
      },
      "type": "object",
      "description": "Response message for EntityService.ListEntityTypes",
      "id": "ListEntityTypesResponse"
    },
    "ExecuteActionRequest": {
      "properties": {
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "Execution config for the request."
        },
        "parameters": {
          "type": "object",
          "description": "Parameters for executing the action. The parameters can be key/value pairs or nested structs.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Request message for ActionService.ExecuteAction",
      "id": "ExecuteActionRequest"
    },
    "AccessCredentials": {
      "properties": {
        "accessToken": {
          "description": "OAuth access token.",
          "type": "string"
        },
        "expiresIn": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration till the access token expires."
        },
        "refreshToken": {
          "description": "OAuth refresh token.",
          "type": "string"
        }
      },
      "description": "AccessCredentials includes the OAuth access token, and the other fields returned along with it.",
      "type": "object",
      "id": "AccessCredentials"
    },
    "ListActionsResponse": {
      "type": "object",
      "description": "Response message for ActionService.ListActions",
      "id": "ListActionsResponse",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Metadata like service latency, etc."
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "type": "array",
          "description": "List of action metadata."
        },
        "nextPageToken": {
          "description": "Next page token if more actions available.",
          "type": "string"
        },
        "unsupportedActionNames": {
          "description": "List of actions which contain unsupported Datatypes. Check datatype.proto for more information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListCustomToolNamesResponse": {
      "type": "object",
      "properties": {
        "toolNames": {
          "items": {
            "$ref": "ToolName"
          },
          "type": "array",
          "description": "List of custom tools."
        }
      },
      "id": "ListCustomToolNamesResponse"
    },
    "TimeOfDay": {
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "description": "Defines policies to service maintenance events.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was updated."
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "type": "string",
          "description": "Optional. The state of the policy."
        },
        "updatePolicy": {
          "$ref": "UpdatePolicy",
          "description": "Maintenance policy applicable to instance update."
        }
      }
    },
    "GetResourceResponse": {
      "properties": {
        "data": {
          "type": "string",
          "description": "The content of the resource.",
          "format": "byte"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the resource."
        },
        "_meta": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Metadata for the resource.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Metadata like service latency, etc."
        }
      },
      "id": "GetResourceResponse",
      "type": "object"
    },
    "Action": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of action to be shown on client side"
        },
        "description": {
          "description": "Brief Description of action",
          "type": "string"
        },
        "resultMetadata": {
          "items": {
            "$ref": "ResultMetadata"
          },
          "description": "List containing the metadata of result fields.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the action."
        },
        "resultJsonSchema": {
          "description": "JsonSchema representation of this actions's result schema",
          "$ref": "JsonSchema"
        },
        "inputParameters": {
          "items": {
            "$ref": "InputParameter"
          },
          "description": "List containing input parameter metadata.",
          "type": "array"
        },
        "inputJsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this actions's input schema"
        }
      },
      "id": "Action",
      "description": "Action message contains metadata information about a single action present in the external system.",
      "type": "object"
    },
    "ExecuteToolRequest": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Input parameters for the tool.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        },
        "toolDefinition": {
          "description": "Tool definition for the tool to be executed.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "ExecuteToolRequest",
      "description": "Request message for ConnectorAgentService.ExecuteTool"
    },
    "RefreshAccessTokenRequest": {
      "description": "RefreshAccessTokenRequest includes the refresh token.",
      "type": "object",
      "properties": {
        "executionConfig": {
          "description": "ExecutionConfig contains the configuration for the execution of the request.",
          "$ref": "ExecutionConfig"
        },
        "oauth2Config": {
          "$ref": "OAuth2Config",
          "description": "OAuth2Config contains the OAuth2 config for the connection."
        },
        "refreshToken": {
          "type": "string",
          "description": "Optional. Refresh Token String. If the Refresh Token is not provided, the runtime will read the data from the secret manager."
        }
      },
      "id": "RefreshAccessTokenRequest"
    },
    "Tool": {
      "properties": {
        "inputSchema": {
          "description": "JSON schema for the input parameters of the tool.",
          "$ref": "JsonSchema"
        },
        "annotations": {
          "description": "Annotations for the tool.",
          "$ref": "ToolAnnotations"
        },
        "description": {
          "description": "Description of the tool.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the tool."
        },
        "dependsOn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of tool names that this tool depends on."
        },
        "_meta": {
          "description": "Metadata for the tool.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputSchema": {
          "description": "JSON schema for the output of the tool.",
          "$ref": "JsonSchema"
        }
      },
      "description": "Message representing a single tool.",
      "id": "Tool",
      "type": "object"
    },
    "Schedule": {
      "properties": {
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Allows to define schedule that runs specified day of the week."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "type": "object",
      "description": "Configure the schedule.",
      "id": "Schedule"
    },
    "QueryParameter": {
      "description": "Query parameter definition",
      "type": "object",
      "properties": {
        "value": {
          "type": "any"
        },
        "dataType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "type": "string"
        }
      },
      "id": "QueryParameter"
    },
    "Field": {
      "description": "Message contains EntityType's Field metadata.",
      "type": "object",
      "id": "Field",
      "properties": {
        "defaultValue": {
          "type": "any",
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided."
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Field."
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "key": {
          "type": "boolean",
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity."
        },
        "reference": {
          "$ref": "Reference",
          "description": "Reference captures the association between two different entity types. Value links to the reference of another entity type."
        },
        "additionalDetails": {
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "The data type of the Field.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ]
        },
        "jsonSchema": {
          "description": "JsonSchema of the field, applicable only if field is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "name": {
          "description": "Name of the Field.",
          "type": "string"
        }
      }
    },
    "WeeklyCycle": {
      "type": "object",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "description": "Time window specified for weekly operations.",
      "id": "WeeklyCycle"
    },
    "EntityType": {
      "type": "object",
      "description": "EntityType message contains metadata information about a single entity type present in the external system.",
      "id": "EntityType",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST method.",
              "This operation means entity type supports GET method.",
              "This operation means entity type supports CREATE method.",
              "This operation means entity type supports UPDATE method.",
              "This operation means entity type supports DELETE method."
            ],
            "type": "string",
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          }
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this entity's schema"
        },
        "defaultSortBy": {
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "Field"
          },
          "description": "List containing metadata information about each field of the entity type."
        },
        "name": {
          "description": "The name of the entity type.",
          "type": "string"
        }
      }
    },
    "SloMetadata": {
      "properties": {
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "NodeSloMetadata"
          },
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
        },
        "perSliEligibility": {
          "$ref": "PerSliSloEligibility",
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
        }
      },
      "id": "SloMetadata",
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date"
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start."
        }
      },
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date."
    },
    "CheckReadinessResponse": {
      "description": "Response containing status of the connector for readiness prober.",
      "properties": {
        "status": {
          "type": "string"
        }
      },
      "id": "CheckReadinessResponse",
      "type": "object"
    },
    "HttpHeader": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The header name."
        },
        "value": {
          "description": "The header value.",
          "type": "string"
        }
      },
      "description": "A single HTTP header. Keys are case-insensitive. Multiple headers with the same key may be present.",
      "id": "HttpHeader"
    },
    "ProvisionedResource": {
      "id": "ProvisionedResource",
      "type": "object",
      "description": "Describes provisioned dataplane resources.",
      "properties": {
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
        }
      }
    },
    "InputParameter": {
      "type": "object",
      "description": "Input Parameter message contains metadata about the parameters required for executing an Action.",
      "properties": {
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema of the parameter, applicable only if parameter is of type `STRUCT`"
        },
        "defaultValue": {
          "type": "any",
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided."
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Parameter."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "The data type of the Parameter"
        },
        "additionalDetails": {
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "name": {
          "type": "string",
          "description": "Name of the Parameter."
        }
      },
      "id": "InputParameter"
    },
    "ListToolsPostRequest": {
      "id": "ListToolsPostRequest",
      "description": "Request message for ConnectorAgentService.ListToolsPost",
      "type": "object",
      "properties": {
        "toolNames": {
          "type": "array",
          "description": "List of tool names to for selective tool fetching.",
          "items": {
            "type": "string"
          }
        },
        "pageSize": {
          "type": "integer",
          "description": "Page size.",
          "format": "int32"
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        },
        "pageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        }
      }
    },
    "GenerateCustomToolspecRequest": {
      "id": "GenerateCustomToolspecRequest",
      "properties": {
        "toolNames": {
          "type": "array",
          "items": {
            "$ref": "ToolName"
          },
          "description": "list of tools to be generated."
        }
      },
      "type": "object"
    },
    "ExchangeAuthCodeResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        },
        "accessCredentials": {
          "$ref": "AccessCredentials"
        }
      },
      "id": "ExchangeAuthCodeResponse",
      "description": "ExchangeAuthCodeResponse includes the returned access token and its associated credentials."
    },
    "NodeSloMetadata": {
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        }
      },
      "type": "object",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "id": "NodeSloMetadata"
    },
    "GenerateCustomToolspecResponse": {
      "properties": {
        "toolSpec": {
          "description": "tool spec that has tool_defitions array containing the tools for all sted tool_names.",
          "$ref": "ToolSpec"
        }
      },
      "id": "GenerateCustomToolspecResponse",
      "type": "object"
    },
    "Instance": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object"
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "additionalProperties": {
            "$ref": "NotificationParameter"
          },
          "type": "object"
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "maintenanceSchedules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenanceSchedule"
          },
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "consumerDefinedName": {
          "type": "string",
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "softwareVersions": {
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "producerMetadata": {
          "readOnly": true,
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "provisionedResources": {
          "readOnly": true,
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "type": "array",
          "items": {
            "$ref": "ProvisionedResource"
          }
        },
        "state": {
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "readOnly": true
        },
        "tenantProjectId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
        },
        "consumerProjectNumber": {
          "type": "string",
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "MaintenanceSettings"
        },
        "maintenancePolicyNames": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set."
        },
        "sloMetadata": {
          "readOnly": true,
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "$ref": "SloMetadata"
        }
      },
      "id": "Instance",
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
    },
    "ExecuteToolResponse": {
      "id": "ExecuteToolResponse",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Metadata like service latency, etc."
        },
        "result": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output from the tool execution.",
          "type": "object"
        },
        "_meta": {
          "description": "Metadata for the tool execution result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Response message for ConnectorAgentService.ExecuteTool"
    },
    "AuthCodeData": {
      "description": "AuthCodeData contains the data the runtime plane will give the connector backend in exchange for access and refresh tokens.",
      "properties": {
        "scopes": {
          "description": "Scopes the connection will request when the user performs the auth code flow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "redirectUri": {
          "type": "string",
          "description": "OAuth redirect URI passed in during the auth code flow, required by some OAuth backends."
        },
        "pkceVerifier": {
          "type": "string",
          "description": "OAuth PKCE verifier, needed if PKCE is enabled for this particular connection."
        },
        "authCode": {
          "description": "OAuth authorization code.",
          "type": "string"
        }
      },
      "id": "AuthCodeData",
      "type": "object"
    },
    "NotificationParameter": {
      "description": "Contains notification related data.",
      "id": "NotificationParameter",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of string values. e.g. instance's replica information."
        }
      }
    },
    "ToolAnnotations": {
      "description": "ToolAnnotations holds annotations for a tool.",
      "type": "object",
      "properties": {
        "title": {
          "description": "A human-readable title for the tool.",
          "type": "string"
        },
        "openWorldHint": {
          "description": "If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not.",
          "type": "boolean"
        },
        "readOnlyHint": {
          "description": "If true, the tool does not modify its environment.",
          "type": "boolean"
        },
        "destructiveHint": {
          "description": "If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. (This property is meaningful only when `read_only_hint == false`)",
          "type": "boolean"
        },
        "idempotentHint": {
          "type": "boolean",
          "description": "If true, calling the tool repeatedly with the same arguments will have no additional effect on the environment. (This property is meaningful only when `read_only_hint == false`)"
        }
      },
      "id": "ToolAnnotations"
    },
    "UpdateEntitiesWithConditionsResponse": {
      "properties": {
        "response": {
          "type": "object",
          "description": "Response returned by the external system.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        }
      },
      "id": "UpdateEntitiesWithConditionsResponse",
      "description": "Response message for EntityService.UpdateEntitiesWithConditions",
      "type": "object"
    },
    "GetResourcePostRequest": {
      "description": "Request message for ConnectorAgentService.GetResourcePost",
      "properties": {
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        }
      },
      "id": "GetResourcePostRequest",
      "type": "object"
    },
    "ToolName": {
      "type": "object",
      "id": "ToolName",
      "properties": {
        "name": {
          "type": "string",
          "description": "Tool name that was generated in the list tools call."
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "description": "Operation for which the tool was generated.",
          "type": "string"
        },
        "entityName": {
          "description": "Entity name for which the tool was generated.",
          "type": "string"
        }
      }
    },
    "ListToolsResponse": {
      "id": "ListToolsResponse",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "object",
          "description": "Metadata like service latency, etc."
        },
        "tools": {
          "description": "List of available tools.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "description": "Response message for ConnectorAgentService.ListTools"
    },
    "ResultMetadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the metadata field."
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "jsonSchema": {
          "description": "JsonSchema of the result, applicable only if parameter is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the metadata field."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "type": "string",
          "description": "The data type of the metadata field",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "id": "ResultMetadata",
      "description": "Result Metadata message contains metadata about the result returned after executing an Action.",
      "type": "object"
    },
    "RefreshAccessTokenResponse": {
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "object"
        },
        "accessCredentials": {
          "$ref": "AccessCredentials"
        }
      },
      "description": "RefreshAccessTokenResponse includes the returned access token and its associated credentials.",
      "id": "RefreshAccessTokenResponse",
      "type": "object"
    },
    "ExecuteHttpRequestRequest": {
      "id": "ExecuteHttpRequestRequest",
      "properties": {
        "headers": {
          "description": "HTTP headers to send with the request (e.g., Content-Type: application/json). Order is preserved and duplicate keys are allowed.",
          "type": "array",
          "items": {
            "$ref": "HttpHeader"
          }
        },
        "rawBody": {
          "description": "Raw byte payload. Used for all pre-serialized formats including JSON, XML, GraphQL, and Multipart.",
          "format": "byte",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The fully resolved absolute target URL. Callers must pre-encode any query parameters."
        },
        "httpMethod": {
          "description": "Required. The HTTP method to use for the request.",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "HTTP_METHOD_GET",
            "HTTP_METHOD_POST",
            "HTTP_METHOD_PUT",
            "HTTP_METHOD_PATCH",
            "HTTP_METHOD_DELETE",
            "HTTP_METHOD_HEAD",
            "HTTP_METHOD_OPTIONS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "ExchangeAuthCodeRequest": {
      "properties": {
        "executionConfig": {
          "description": "ExecutionConfig contains the configuration for the execution of the request.",
          "$ref": "ExecutionConfig"
        },
        "authCodeData": {
          "$ref": "AuthCodeData",
          "description": "Optional. AuthCodeData contains the data the runtime requires to exchange for access and refresh tokens. If the data is not provided, the runtime will read the data from the secret manager."
        },
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        }
      },
      "id": "ExchangeAuthCodeRequest",
      "description": "ExchangeAuthCodeRequest currently includes the auth code data.",
      "type": "object"
    },
    "ListEntitiesResponse": {
      "id": "ListEntitiesResponse",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token if more records are available."
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "List containing entity rows."
        }
      },
      "description": "Response message for EntityService.ListEntities"
    },
    "MaintenanceWindow": {
      "description": "MaintenanceWindow definition.",
      "properties": {
        "dailyCycle": {
          "$ref": "DailyCycle",
          "description": "Daily cycle."
        },
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        }
      },
      "type": "object",
      "id": "MaintenanceWindow"
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Metadata like service latency, etc.",
          "type": "object"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}"
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Fields of the entity. The key is name of the field and the value contains the applicable `google.protobuf.Value` entry for this field."
        }
      },
      "description": "'Entity row'/ 'Entity' refers to a single row of an entity type."
    },
    "MaintenanceSettings": {
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "type": "object",
      "properties": {
        "maintenancePolicies": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "type": "object"
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        }
      },
      "id": "MaintenanceSettings"
    },
    "ToolSpec": {
      "type": "object",
      "id": "ToolSpec",
      "properties": {
        "toolSpecVersion": {
          "description": "Version of the tool spec. Format: providerId/connectorId/versionId/toolSpecId",
          "type": "string"
        },
        "toolDefinitions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array",
          "description": "List of tool definitions."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "description": "Maintenance policy applicable to instance updates.",
      "type": "object",
      "properties": {
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        },
        "channel": {
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "type": "string"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "connectors:v2",
  "endpoints": [
    {
      "endpointUrl": "https://connectors.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://connectors.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://connectors.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://connectors.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://connectors.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://connectors.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://connectors.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://connectors.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "batchPath": "batch",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "name": "connectors",
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "title": "Connectors API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "resources": {
                "entityTypes": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListEntityTypesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists metadata related to all entity types present in the external system.",
                      "parameters": {
                        "view": {
                          "location": "query",
                          "description": "Specifies which fields of the Entity Type are returned in the response.",
                          "enum": [
                            "ENTITY_TYPE_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_VIEW_BASIC",
                            "ENTITY_TYPE_VIEW_FULL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to FULL View.",
                            "Return only entity type names.",
                            "Return entity types with schema"
                          ]
                        },
                        "parent": {
                          "required": true,
[...]
