{
  "version_module": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "baseUrl": "https://connectors.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "title": "Connectors API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Connectors",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "rootUrl": "https://connectors.googleapis.com/",
  "name": "connectors",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "resources": {
                "actions": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListActionsResponse"
                      },
                      "description": "Gets the schema of all the actions supported by the connector.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Number of Actions to return. Defaults to 25."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Parent resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        },
                        "view": {
                          "description": "Specifies which fields of the Action are returned in the response.",
                          "type": "string",
                          "enum": [
                            "ACTION_VIEW_UNSPECIFIED",
                            "ACTION_VIEW_BASIC",
                            "ACTION_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value Defaults to FULL View.",
                            "Return only action names.",
                            "Return actions with schema."
                          ],
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token, return from a previous ListActions call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of actions."
                        }
                      },
                      "path": "v2/{+parent}/actions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "connectors.projects.locations.connections.actions.list"
                    },
                    "execute": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ExecuteActionRequest"
                      },
                      "path": "v2/{+name}:execute",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Executes an action with the name specified in the request. The input parameters for executing the action are passed through the body of the ExecuteAction request.",
                      "id": "connectors.projects.locations.connections.actions.execute",
                      "response": {
                        "$ref": "ExecuteActionResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}:execute"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Action"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}",
                      "path": "v2/{+name}",
                      "parameters": {
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "ACTION_SCHEMA_VIEW_UNSPECIFIED",
                            "ACTION_SCHEMA_VIEW_BASIC",
                            "ACTION_SCHEMA_VIEW_ENRICHED"
                          ],
                          "description": "Specified view of the action schema.",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic action schema.",
                            "Return enriched action schema."
                          ]
                        },
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "connectors.projects.locations.connections.actions.get",
                      "description": "Gets the schema of the given action."
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "view": {
                          "type": "string",
                          "enum": [
                            "ENTITY_TYPE_SCHEMA_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_SCHEMA_VIEW_BASIC",
                            "ENTITY_TYPE_SCHEMA_VIEW_ENRICHED"
                          ],
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic entity type schema.",
                            "Return enriched entity types schema."
                          ],
                          "description": "Specifies view for entity type schema.",
                          "location": "query"
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        },
                        "contextMetadata": {
                          "location": "query",
                          "type": "string",
                          "description": "Context metadata for request could be used to fetch customization of entity type schema."
                        },
                        "name": {
                          "required": true,
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{entityType}",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}",
                      "description": "Gets metadata of given entity type",
                      "response": {
                        "$ref": "EntityType"
                      },
                      "path": "v2/{+name}",
                      "id": "connectors.projects.locations.connections.entityTypes.get"
                    },
                    "list": {
                      "path": "v2/{+parent}/entityTypes",
                      "id": "connectors.projects.locations.connections.entityTypes.list",
                      "parameters": {
                        "pageToken": {
                          "description": "Page token, return from a previous ListEntityTypes call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of entity types.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of entity types to return. Defaults to 25.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "ENTITY_TYPE_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_VIEW_BASIC",
                            "ENTITY_TYPE_VIEW_FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to FULL View.",
                            "Return only entity type names.",
                            "Return entity types with schema"
                          ],
                          "description": "Specifies which fields of the Entity Type are returned in the response."
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListEntityTypesResponse"
                      },
                      "description": "Lists metadata related to all entity types present in the external system.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes"
                    }
                  },
                  "resources": {
                    "entities": {
                      "methods": {
                        "deleteEntitiesWithConditions": {
                          "id": "connectors.projects.locations.connections.entityTypes.entities.deleteEntitiesWithConditions",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:deleteEntitiesWithConditions",
                          "path": "v2/{+entityType}/entities:deleteEntitiesWithConditions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Empty"
                          },
                          "parameterOrder": [
                            "entityType"
                          ],
                          "parameters": {
                            "conditions": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. Conditions to be used when deleting entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be."
                            },
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            },
                            "entityType": {
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "httpMethod": "POST",
                          "description": "Deletes entities based on conditions specified in the request and not on entity id."
                        },
                        "updateEntitiesWithConditions": {
                          "parameterOrder": [
                            "entityType"
                          ],
                          "description": "Updates entities based on conditions specified in the request and not on entity id.",
                          "parameters": {
                            "conditions": {
                              "description": "Required. Conditions to be used when updating entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be.",
                              "location": "query",
                              "type": "string"
                            },
                            "entityType": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "required": true
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:updateEntitiesWithConditions",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v2/{+entityType}/entities:updateEntitiesWithConditions",
                          "response": {
                            "$ref": "UpdateEntitiesWithConditionsResponse"
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.updateEntitiesWithConditions",
                          "request": {
                            "$ref": "Entity"
                          }
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a new entity row of the specified entity type in the external system. The field values for creating the row are contained in the body of the request. The response message contains a `Entity` message object returned as a response by the external system.",
                          "id": "connectors.projects.locations.connections.entityTypes.entities.create",
                          "response": {
                            "$ref": "Entity"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities",
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/entities",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "location": "path"
                            },
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            }
                          },
                          "request": {
                            "$ref": "Entity"
                          }
                        },
                        "delete": {
                          "response": {
                            "$ref": "Empty"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "path": "v2/{+name}",
                          "parameters": {
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            },
                            "name": {
                              "required": true,
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "location": "path"
                            }
                          },
                          "httpMethod": "DELETE",
                          "description": "Deletes an existing entity row matching the entity type and entity id specified in the request.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "connectors.projects.locations.connections.entityTypes.entities.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v2/{+parent}/entities",
                          "httpMethod": "GET",
                          "parameters": {
                            "conditions": {
                              "location": "query",
                              "description": "Conditions to be used when listing entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported.",
                              "type": "string"
                            },
                            "sortBy": {
                              "description": "List of 'sort_by' columns to use when returning the results.",
                              "location": "query",
                              "type": "string",
                              "repeated": true
                            },
                            "executionConfig.headers": {
                              "type": "string",
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                            },
                            "pageSize": {
                              "description": "Number of entity rows to return. Defaults page size = 25. Max page size = 200.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Page token value if available from a previous request.",
                              "type": "string"
                            },
                            "sortOrder": {
                              "type": "string",
                              "description": "List of 'sort_order' columns to use when returning the results.",
                              "repeated": true,
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Lists entity rows of a particular entity type contained in the request. Note: 1. Currently, only max of one 'sort_by' column is supported. 2. If no 'sort_by' column is provided, the primary key of the table is used. If zero or more than one primary key is available, we default to the unpaginated list entities logic which only returns the first page. 3. The values of the 'sort_by' columns must uniquely identify an entity row, otherwise undefined behaviors may be observed during pagination. 4. Since transactions are not supported, any updates, inserts or deletes during pagination can lead to stale data being returned or other unexpected behaviors.",
                          "id": "connectors.projects.locations.connections.entityTypes.entities.list",
                          "response": {
                            "$ref": "ListEntitiesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities"
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "parameters": {
                            "executionConfig.headers": {
                              "location": "query",
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "location": "path",
                              "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v2/{+name}",
                          "response": {
                            "$ref": "Entity"
                          },
                          "description": "Updates an existing entity row matching the entity type and entity id specified in the request. The fields in the entity row that need to be modified are contained in the body of the request. All unspecified fields are left unchanged. The response message contains a `Entity` message object returned as a response by the external system.",
                          "id": "connectors.projects.locations.connections.entityTypes.entities.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "Entity"
                          }
                        },
                        "get": {
                          "id": "connectors.projects.locations.connections.entityTypes.entities.get",
                          "path": "v2/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Entity"
                          },
                          "parameters": {
                            "executionConfig.headers": {
                              "location": "query",
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets a single entity row matching the entity type and entity id specified in the request."
                        }
                      }
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "list": {
                      "path": "v2/{+parent}/tools",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token."
                        },
                        "toolNames": {
                          "description": "List of tool names for selective tool fetching.",
                          "repeated": true,
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Page size."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        }
                      },
                      "description": "Lists all available tools.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.connections.tools.list",
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "execute": {
                      "description": "Executes a specific tool.",
                      "response": {
                        "$ref": "ExecuteToolResponse"
                      },
                      "request": {
                        "$ref": "ExecuteToolRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools/{toolsId}:execute",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}:execute",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of the Tool. Format: projects/{project}/locations/{location}/connections/{connection}/tools/{tool}",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/tools/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "connectors.projects.locations.connections.tools.execute",
                      "httpMethod": "POST"
                    }
                  }
                },
                "resources": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Page size for the request."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. Resource name of the connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token for the request.",
                          "type": "string"
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/resources",
                      "response": {
                        "$ref": "ListResourcesResponse"
                      },
                      "description": "Lists all available resources.",
                      "id": "connectors.projects.locations.connections.resources.list",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources"
                    },
                    "get": {
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "id": "connectors.projects.locations.connections.resources.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets a specific resource.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "getResourcePost": {
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "request": {
                        "$ref": "GetResourcePostRequest"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "location": "path",
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "connectors.projects.locations.connections.resources.getResourcePost",
                      "path": "v2/{+name}",
                      "description": "Gets a specific resource with POST.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "exchangeAuthCode": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ExchangeAuthCodeResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.exchangeAuthCode",
                  "request": {
                    "$ref": "ExchangeAuthCodeRequest"
                  },
                  "description": "ExchangeAuthCode exchanges the OAuth authorization code (and other necessary data) for an access token (and associated credentials).",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:exchangeAuthCode",
                  "path": "v2/{+name}:exchangeAuthCode"
                },
                "tools": {
                  "id": "connectors.projects.locations.connections.tools",
                  "description": "Lists all available tools with POST.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ListToolsPostRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                  "response": {
                    "$ref": "ListToolsResponse"
                  },
                  "path": "v2/{+parent}/tools",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "checkReadiness": {
                  "httpMethod": "GET",
                  "description": "Reports readiness status of the connector. Similar logic to GetStatus but modified for kubernetes health check to understand.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "CheckReadinessResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkReadiness",
                  "path": "v2/{+name}:checkReadiness",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "connectors.projects.locations.connections.checkReadiness",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listCustomToolNames": {
                  "response": {
                    "$ref": "ListCustomToolNamesResponse"
                  },
                  "path": "v2/{+name}:listCustomToolNames",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:listCustomToolNames",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists custom tool names.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "required": true
                    }
                  },
                  "id": "connectors.projects.locations.connections.listCustomToolNames",
                  "httpMethod": "GET"
                },
                "refreshAccessToken": {
                  "httpMethod": "POST",
                  "description": "RefreshAccessToken exchanges the OAuth refresh token (and other necessary data) for a new access token (and new associated credentials).",
                  "response": {
                    "$ref": "RefreshAccessTokenResponse"
                  },
                  "id": "connectors.projects.locations.connections.refreshAccessToken",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:refreshAccessToken",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:refreshAccessToken",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RefreshAccessTokenRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "checkStatus": {
                  "path": "v2/{+name}:checkStatus",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    },
                    "executionConfig.headers": {
                      "location": "query",
                      "type": "string",
                      "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkStatus",
                  "description": "Reports the status of the connection. Note that when the connection is in a state that is not ACTIVE, the implementation of this RPC method must return a Status with the corresponding State instead of returning a gRPC status code that is not \"OK\", which indicates that ConnectionStatus itself, not the connection, failed.",
                  "httpMethod": "GET",
                  "id": "connectors.projects.locations.connections.checkStatus",
                  "response": {
                    "$ref": "CheckStatusResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generateConnectionToolspecOverride": {
                  "request": {
                    "$ref": "GenerateCustomToolspecRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Generate toolspec override for the given list of toolNames.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:generateConnectionToolspecOverride",
                  "path": "v2/{+name}:generateConnectionToolspecOverride",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.generateConnectionToolspecOverride",
                  "response": {
                    "$ref": "GenerateCustomToolspecResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "executeSqlQuery": {
                  "parameterOrder": [
                    "connection"
                  ],
                  "id": "connectors.projects.locations.connections.executeSqlQuery",
                  "description": "Executes a SQL statement specified in the body of the request. An example of this SQL statement in the case of Salesforce connector would be 'select * from Account a, Order o where a.Id = o.AccountId'.",
                  "path": "v2/{+connection}:executeSqlQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeSqlQuery",
                  "parameters": {
                    "connection": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExecuteSqlQueryRequest"
                  },
                  "response": {
                    "$ref": "ExecuteSqlQueryResponse"
                  }
                },
                "executeHttpRequest": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.executeHttpRequest",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:executeHttpRequest",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeHttpRequest",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "type": "string"
                    }
                  },
                  "description": "Executes a generic HTTP request. This supports all payload formats including REST/JSON, GraphQL, XML, SOAP, and Multipart by passing the rendered payload as raw bytes.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ExecuteHttpRequestResponse"
                  },
                  "request": {
                    "$ref": "ExecuteHttpRequestRequest"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://connectors.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://connectors.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://connectors.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://connectors.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://connectors.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://connectors.us-west4.rep.googleapis.com/"
    }
  ],
  "version": "v2",
  "id": "connectors:v2",
  "batchPath": "batch",
  "revision": "20260828",
  "protocol": "rest",
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ProvisionedResource": {
      "description": "Describes provisioned dataplane resources.",
      "id": "ProvisionedResource",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
        },
        "resourceUrl": {
          "type": "string",
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
        }
      }
    },
    "RefreshAccessTokenResponse": {
      "id": "RefreshAccessTokenResponse",
      "type": "object",
      "description": "RefreshAccessTokenResponse includes the returned access token and its associated credentials.",
      "properties": {
        "accessCredentials": {
          "$ref": "AccessCredentials"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "HttpHeader": {
      "description": "A single HTTP header. Keys are case-insensitive. Multiple headers with the same key may be present.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The header name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The header value."
        }
      },
      "id": "HttpHeader"
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "properties": {
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled start time for the maintenance."
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean",
          "deprecated": true
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "type": "object"
    },
    "MaintenancePolicy": {
      "type": "object",
      "description": "Defines policies to service maintenance events.",
      "properties": {
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "description": "Optional. The state of the policy.",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        }
      },
      "id": "MaintenancePolicy"
    },
    "ExecuteHttpRequestResponse": {
      "type": "object",
      "properties": {
        "statusCode": {
          "format": "int32",
          "description": "The HTTP status code received from the backend.",
          "type": "integer"
        },
        "headers": {
          "items": {
            "$ref": "HttpHeader"
          },
          "type": "array",
          "description": "HTTP headers received in the response. Order is preserved and duplicate keys are allowed (e.g., multiple Set-Cookie headers)."
        },
        "reason": {
          "description": "The HTTP status reason phrase received from the backend (e.g., \"Not Found\"). May be empty if the backend did not provide one.",
          "type": "string"
        },
        "body": {
          "type": "string",
          "format": "byte",
          "description": "The raw response body."
        }
      },
      "id": "ExecuteHttpRequestResponse"
    },
    "GetResourcePostRequest": {
      "description": "Request message for ConnectorAgentService.GetResourcePost",
      "properties": {
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        },
        "executionConfig": {
          "description": "execution config for the request.",
          "$ref": "ExecutionConfig"
        }
      },
      "type": "object",
      "id": "GetResourcePostRequest"
    },
    "ListToolsPostRequest": {
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "toolNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of tool names to for selective tool fetching."
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        },
        "pageSize": {
          "description": "Page size.",
          "type": "integer",
          "format": "int32"
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        }
      },
      "id": "ListToolsPostRequest",
      "description": "Request message for ConnectorAgentService.ListToolsPost"
    },
    "ToolSpec": {
      "properties": {
        "toolDefinitions": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "List of tool definitions.",
          "type": "array"
        },
        "toolSpecVersion": {
          "type": "string",
          "description": "Version of the tool spec. Format: providerId/connectorId/versionId/toolSpecId"
        }
      },
      "id": "ToolSpec",
      "type": "object"
    },
    "Entity": {
      "description": "'Entity row'/ 'Entity' refers to a single row of an entity type.",
      "type": "object",
      "id": "Entity",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
          "readOnly": true
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        },
        "fields": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Fields of the entity. The key is name of the field and the value contains the applicable `google.protobuf.Value` entry for this field.",
          "type": "object"
        }
      }
    },
    "JsonSchema": {
      "id": "JsonSchema",
      "description": "JsonSchema representation of schema metadata",
      "properties": {
        "items": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to array values, applicable only if this is of type `array`."
        },
        "definitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Definitions for the schema."
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "properties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "type": "object"
        },
        "maxItems": {
          "format": "int32",
          "description": "Maximum number of items in the array field.",
          "type": "integer"
        },
        "writeOnly": {
          "type": "boolean",
          "description": "Whether the value is write-only."
        },
        "jdbcType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "JDBC datatype of the field.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "if": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "minItems": {
          "description": "Minimum number of items in the array field.",
          "format": "int32",
          "type": "integer"
        },
        "additionalProperties": {
          "$ref": "JsonSchema",
          "description": "Schema for additional properties."
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against at least one of the sub-schemas."
        },
        "required": {
          "type": "array",
          "description": "Whether this property is required.",
          "items": {
            "type": "string"
          }
        },
        "$comment": {
          "type": "string",
          "description": "A comment on the schema."
        },
        "dependencies": {
          "description": "Dependencies for the schema.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "format": {
          "type": "string",
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format"
        },
        "minimum": {
          "description": "Minimum value of the number field.",
          "type": "any"
        },
        "type": {
          "type": "array",
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "items": {
            "type": "string"
          }
        },
        "then": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is valid."
        },
        "additionalDetails": {
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the value is read-only."
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "contentMediaType": {
          "type": "string",
          "description": "Media type of the content."
        },
        "oneOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "A title of the schema."
        },
        "exclusiveMinimum": {
          "description": "Whether the minimum number value is exclusive.",
          "type": "any"
        },
        "minLength": {
          "description": "Minimum length of the string field.",
          "format": "int32",
          "type": "integer"
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "multipleOf": {
          "format": "double",
          "type": "number",
          "description": "Number must be a multiple of this value."
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "enum": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values"
        },
        "maxProperties": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of properties."
        },
        "examples": {
          "type": "array",
          "description": "Examples of the value.",
          "items": {
            "type": "any"
          }
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "not": {
          "$ref": "JsonSchema",
          "description": "Schema that must not be valid."
        },
        "contentEncoding": {
          "type": "string",
          "description": "Encoding of the content."
        },
        "$schema": {
          "type": "string",
          "description": "The URI defining the schema."
        },
        "contains": {
          "description": "Schema that applies to at least one item in an array.",
          "$ref": "JsonSchema"
        },
        "$ref": {
          "description": "A reference to another schema.",
          "type": "string"
        },
        "allOf": {
          "description": "Schema that must be valid against all of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          },
          "type": "array"
        },
        "$id": {
          "type": "string",
          "description": "The URI defining the core schema meta-schema."
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "minProperties": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of properties."
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length of the string field.",
          "type": "integer"
        },
        "else": {
          "description": "Schema that must be valid if the \"if\" schema is invalid.",
          "$ref": "JsonSchema"
        },
        "pattern": {
          "type": "string",
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match."
        },
        "patternProperties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object",
          "description": "Pattern properties for the schema."
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "$defs": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object",
          "description": "Definitions for the schema."
        }
      },
      "type": "object"
    },
    "GenerateCustomToolspecRequest": {
      "type": "object",
      "properties": {
        "toolNames": {
          "items": {
            "$ref": "ToolName"
          },
          "description": "list of tools to be generated.",
          "type": "array"
        }
      },
      "id": "GenerateCustomToolspecRequest"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        }
      },
      "id": "TimeOfDay",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date"
    },
    "AccessCredentials": {
      "id": "AccessCredentials",
      "description": "AccessCredentials includes the OAuth access token, and the other fields returned along with it.",
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "OAuth access token.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "Duration till the access token expires.",
          "format": "google-duration"
        },
        "refreshToken": {
          "type": "string",
          "description": "OAuth refresh token."
        }
      }
    },
    "ListEntityTypesResponse": {
      "description": "Response message for EntityService.ListEntityTypes",
      "properties": {
        "types": {
          "items": {
            "$ref": "EntityType"
          },
          "type": "array",
          "description": "List of metadata related to all entity types."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token if more entity types available."
        },
        "metadata": {
          "type": "object",
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "unsupportedTypeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information."
        }
      },
      "id": "ListEntityTypesResponse",
      "type": "object"
    },
    "PerSliSloEligibility": {
      "properties": {
        "eligibilities": {
          "additionalProperties": {
            "$ref": "SloEligibility"
          },
          "type": "object",
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
        }
      },
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "id": "PerSliSloEligibility",
      "type": "object"
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "properties": {
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
        },
        "exclude": {
          "type": "boolean",
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
        }
      },
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "type": "object"
    },
    "ExecuteToolRequest": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Input parameters for the tool.",
          "type": "object"
        },
        "toolDefinition": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Tool definition for the tool to be executed."
        },
        "executionConfig": {
          "description": "execution config for the request.",
          "$ref": "ExecutionConfig"
        }
      },
      "type": "object",
      "id": "ExecuteToolRequest",
      "description": "Request message for ConnectorAgentService.ExecuteTool"
    },
    "RefreshAccessTokenRequest": {
      "description": "RefreshAccessTokenRequest includes the refresh token.",
      "id": "RefreshAccessTokenRequest",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "Optional. Refresh Token String. If the Refresh Token is not provided, the runtime will read the data from the secret manager."
        },
        "executionConfig": {
          "description": "ExecutionConfig contains the configuration for the execution of the request.",
          "$ref": "ExecutionConfig"
        },
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        }
      },
      "type": "object"
    },
    "ExecutionConfig": {
      "properties": {
        "headers": {
          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecutionConfig"
    },
    "Instance": {
      "id": "Instance",
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "type": "object",
      "properties": {
        "tenantProjectId": {
          "readOnly": true,
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "type": "string"
        },
        "producerMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "type": "object"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "maintenanceSettings": {
          "$ref": "MaintenanceSettings",
          "description": "Optional. The MaintenanceSettings associated with instance."
        },
        "consumerProjectNumber": {
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required.",
          "type": "string"
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "additionalProperties": {
            "$ref": "NotificationParameter"
          },
          "type": "object"
        },
        "softwareVersions": {
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisionedResources": {
          "items": {
            "$ref": "ProvisionedResource"
          },
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "slmInstanceTemplate": {
          "type": "string",
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
        },
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenanceSchedule"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ]
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "sloMetadata": {
          "$ref": "SloMetadata",
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "readOnly": true
        },
        "consumerDefinedName": {
          "type": "string",
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
        },
        "maintenancePolicyNames": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ToolName": {
      "properties": {
        "name": {
          "description": "Tool name that was generated in the list tools call.",
          "type": "string"
        },
        "entityName": {
          "type": "string",
          "description": "Entity name for which the tool was generated."
        },
        "operation": {
          "description": "Operation for which the tool was generated.",
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        }
      },
      "type": "object",
      "id": "ToolName"
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Configure the schedule.",
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Allows to define schedule that runs specified day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
[...]
