{
  "canonicalName": "Connectors",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Connectors API",
  "id": "connectors:v1",
  "revision": "20260823",
  "discoveryVersion": "v1",
  "baseUrl": "https://connectors.googleapis.com/",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "name": "connectors",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "schemas": {
    "Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "properties": {
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "MaintenanceSettings"
        },
        "state": {
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object"
        },
        "sloMetadata": {
          "readOnly": true,
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "$ref": "SloMetadata"
        },
        "maintenancePolicyNames": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object"
        },
        "producerMetadata": {
          "type": "object",
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "provisionedResources": {
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "type": "array",
          "items": {
            "$ref": "ProvisionedResource"
          },
          "readOnly": true
        },
        "softwareVersions": {
          "type": "object",
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "consumerDefinedName": {
          "type": "string",
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
        },
        "instanceType": {
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "type": "string",
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
        },
        "slmInstanceTemplate": {
          "type": "string",
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
        },
        "maintenanceSchedules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenanceSchedule"
          },
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
        },
        "tenantProjectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
        },
        "notificationParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NotificationParameter"
          },
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
        }
      },
      "type": "object",
      "id": "Instance"
    },
    "NodeSloMetadata": {
      "id": "NodeSloMetadata",
      "properties": {
        "perSliEligibility": {
          "$ref": "PerSliSloEligibility",
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        }
      },
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "type": "object"
    },
    "Header": {
      "description": "Header details for a given header to be added to Endpoint.",
      "id": "Header",
      "properties": {
        "value": {
          "description": "Optional. Value of Header.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of Header."
        }
      },
      "type": "object"
    },
    "ListManagedZonesResponse": {
      "properties": {
        "managedZones": {
          "type": "array",
          "items": {
            "$ref": "ManagedZone"
          },
          "description": "ManagedZones."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListManagedZonesResponse",
      "description": "Response message for ConnectorsService.ListManagedZones",
      "type": "object"
    },
    "Oauth2ClientCredentials": {
      "properties": {
        "clientSecret": {
          "description": "Optional. Secret version reference containing the client secret.",
          "$ref": "Secret"
        },
        "clientId": {
          "description": "Optional. The client identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "Oauth2ClientCredentials"
    },
    "JMS": {
      "type": "object",
      "id": "JMS",
      "description": "JMS message denotes the source of the event",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the JMS source. i.e. queueName or topicName"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "QUEUE",
            "TOPIC"
          ],
          "description": "Optional. Type of the JMS Source. i.e. Queue or Topic",
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "JMS Queue.",
            "JMS Topic."
          ]
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "RoleGrant": {
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user.",
      "id": "RoleGrant",
      "properties": {
        "helperTextTemplate": {
          "type": "string",
          "description": "Optional. Template that UI can use to provide helper text to customers."
        },
        "principal": {
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ],
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "description": "Optional. Principal/Identity for whom the role need to assigned.",
          "type": "string"
        },
        "resource": {
          "$ref": "Resource",
          "description": "Optional. Resource on which the roles needs to be granted for the principal."
        },
        "roles": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of roles that need to be granted.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "EndUserAuthenticationConfigUserPassword": {
      "type": "object",
      "description": "Parameters to support Username and Password Authentication.",
      "id": "EndUserAuthenticationConfigUserPassword",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username."
        },
        "password": {
          "description": "Required. string value or secret version reference containing the password.",
          "$ref": "EUASecret"
        }
      }
    },
    "EndUserAuthentication": {
      "id": "EndUserAuthentication",
      "properties": {
        "destinationConfigs": {
          "description": "Optional. Destination configs for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          }
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EndUserAuthentication. Format: projects/{project}/locations/{location}/connections/{connection}/endUserAuthentications/{end_user_authentication}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string"
        },
        "notifyEndpointDestination": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EndUserAuthenticationNotifyEndpointDestination"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "Optional. Status of the EndUserAuthentication.",
          "$ref": "EndUserAuthenticationEndUserAuthenticationStatus"
        },
        "labels": {
          "description": "Optional. Labels for the EndUserAuthentication.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userId": {
          "description": "Optional. The user id of the user.",
          "type": "string"
        },
        "roles": {
          "description": "Optional. Roles for the EndUserAuthentication.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default state.",
              "READER.",
              "READER_DOMAIN_WIDE_ACCESSIBLE which has access to only public data."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "READER",
              "READER_DOMAIN_WIDE_ACCESSIBLE"
            ]
          },
          "type": "array"
        },
        "configVariables": {
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          },
          "description": "Optional. Config variables for the EndUserAuthentication.",
          "type": "array"
        },
        "endUserAuthenticationConfig": {
          "$ref": "EndUserAuthenticationConfig",
          "description": "Optional. The EndUserAuthenticationConfig for the EndUserAuthentication."
        }
      },
      "type": "object",
      "description": "AuthConfig defines details of a authentication type."
    },
    "ListConnectorVersionsResponse": {
      "properties": {
        "connectorVersions": {
          "type": "array",
          "description": "A list of connector versions.",
          "items": {
            "$ref": "ConnectorVersion"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListConnectorVersionsResponse",
      "description": "Response message for Connectors.ListConnectorVersions.",
      "type": "object"
    },
    "ExtractionRules": {
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "id": "ExtractionRules",
      "type": "object",
      "properties": {
        "extractionRule": {
          "type": "array",
          "description": "Collection of Extraction Rule.",
          "items": {
            "$ref": "ExtractionRule"
          }
        }
      }
    },
    "ConnectorInfraConfig": {
      "id": "ConnectorInfraConfig",
      "properties": {
        "hpaConfig": {
          "description": "HPA autoscaling config.",
          "$ref": "HPAConfig"
        },
        "internalclientRatelimitThreshold": {
          "description": "Max QPS supported for internal requests originating from Connd.",
          "type": "string",
          "format": "int64"
        },
        "provisionCloudSpanner": {
          "description": "Indicate whether cloud spanner is required for connector job.",
          "type": "boolean"
        },
        "provisionMemstore": {
          "description": "Indicate whether memstore is required for connector job.",
          "type": "boolean"
        },
        "connectionServiceAccountEnabled": {
          "description": "Indicate whether connection service account is enabled. If false, the common runtime service agent is used.",
          "type": "boolean"
        },
        "sharedDeployment": {
          "description": "The name of shared connector deployment.",
          "type": "string"
        },
        "resourceLimits": {
          "$ref": "ResourceLimits",
          "description": "System resource limits."
        },
        "connectionRatelimitWindowSeconds": {
          "type": "string",
          "description": "The window used for ratelimiting runtime requests to connections.",
          "format": "int64"
        },
        "migrateTls": {
          "description": "Indicate whether connector is being migrated to TLS.",
          "type": "boolean"
        },
        "networkEgressModeOverride": {
          "description": "Network egress mode override to migrate to direct VPC egress.",
          "$ref": "NetworkEgressModeOverride"
        },
        "maxInstanceRequestConcurrency": {
          "format": "int32",
          "description": "Max Instance Request Conncurrency for Cloud Run service.",
          "type": "integer"
        },
        "alwaysAllocateCpu": {
          "description": "Indicates that the Cloud Run CPU should always be allocated.",
          "type": "boolean"
        },
        "publicNetworkIngressEnabled": {
          "description": "Indicate whether public network ingress should be enabled.",
          "type": "boolean"
        },
        "ratelimitThreshold": {
          "description": "Max QPS supported by the connector version before throttling of requests.",
          "type": "string",
          "format": "int64"
        },
        "resourceRequests": {
          "$ref": "ResourceRequests",
          "description": "System resource requests."
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "description": "Indicate whether connector is deployed on GKE/CloudRun",
          "type": "string",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ]
        },
        "connectorVersioningEnabled": {
          "description": "Indicate whether connector versioning is enabled.",
          "type": "boolean"
        },
        "migrateDeploymentModel": {
          "description": "Indicate whether connector is being migrated to cloud run deployment model.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version"
    },
    "ExtractionRule": {
      "description": "Extraction Rule.",
      "properties": {
        "extractionRegex": {
          "type": "string",
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used."
        },
        "formatString": {
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is.",
          "type": "string"
        },
        "source": {
          "description": "Source on which the rule is applied.",
          "$ref": "Source"
        }
      },
      "type": "object",
      "id": "ExtractionRule"
    },
    "ModifyConnectionToolspecOverrideResponse": {
      "type": "object",
      "properties": {
        "toolspecOverrides": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      },
      "description": "Response message for ModifyConnectionToolspecOverride API.",
      "id": "ModifyConnectionToolspecOverrideResponse"
    },
    "ConnectorVersionInfraConfig": {
      "properties": {
        "hpaConfig": {
          "readOnly": true,
          "$ref": "HPAConfig",
          "description": "Output only. HPA autoscaling config."
        },
        "sharedDeployment": {
          "description": "Output only. The name of shared connector deployment.",
          "type": "string",
          "readOnly": true
        },
        "connectionRatelimitWindowSeconds": {
          "description": "Output only. The window used for ratelimiting runtime requests to connections.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "internalclientRatelimitThreshold": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Max QPS supported for internal requests originating from Connd."
        },
        "deploymentModelMigrationState": {
          "enumDescriptions": [
            "Deployment model migration state is not specified.",
            "Deployment model migration is in progress.",
            "Deployment model migration is completed.",
            "Deployment model migration rolledback.",
            "Deployment model migration rollback in progress."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "DEPLOYMENT_MODEL_MIGRATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "ROLLEDBACK",
            "ROLLBACK_IN_PROGRESS"
          ],
          "description": "Output only. Status of the deployment model migration."
        },
        "maxInstanceRequestConcurrency": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Max instance request concurrency."
        },
        "tlsMigrationState": {
          "enumDescriptions": [
            "TLS migration state is not specified.",
            "TLS migration is in progress.",
            "TLS migration is completed."
          ],
          "type": "string",
          "enum": [
            "TLS_MIGRATION_STATE_UNSPECIFIED",
            "TLS_MIGRATION_NOT_STARTED",
            "TLS_MIGRATION_COMPLETED"
          ],
          "description": "Output only. Status of the TLS migration.",
          "readOnly": true
        },
        "resourceLimits": {
          "description": "Output only. System resource limits.",
          "readOnly": true,
          "$ref": "ResourceLimits"
        },
        "ratelimitThreshold": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Max QPS supported by the connector version before throttling of requests."
        },
        "deploymentModel": {
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "description": "Output only. Indicates whether connector is deployed on GKE/CloudRun",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "readOnly": true,
          "type": "string"
        },
        "resourceRequests": {
          "readOnly": true,
          "$ref": "ResourceRequests",
          "description": "Output only. System resource requests."
        }
      },
      "description": "This configuration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "type": "object",
      "id": "ConnectorVersionInfraConfig"
    },
    "GenerateConnectionToolspecOverrideResponse": {
      "description": "Response message for GenerateConnectionToolspecOverride API.",
      "type": "object",
      "id": "GenerateConnectionToolspecOverrideResponse",
      "properties": {
        "toolspecOverride": {
          "$ref": "ToolspecOverride",
          "description": "Toolspec overrides for the connection."
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BillingConfig": {
      "properties": {
        "billingCategory": {
          "description": "Output only. Billing category for the connector.",
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ]
        }
      },
      "id": "BillingConfig",
      "description": "Billing config for the connection.",
      "type": "object"
    },
    "AuthConfig": {
      "type": "object",
      "description": "AuthConfig defines details of a authentication type.",
      "properties": {
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "Oauth2ClientCredentials"
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "$ref": "Oauth2AuthCodeFlowGoogleManaged",
          "description": "Oauth2AuthCodeFlowGoogleManaged."
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "SshPublicKey"
        },
        "oauth2AuthCodeFlow": {
          "$ref": "Oauth2AuthCodeFlow",
          "description": "Oauth2AuthCodeFlow."
        },
        "additionalVariables": {
          "items": {
            "$ref": "ConfigVariable"
          },
          "type": "array",
          "description": "Optional. List containing additional auth configs."
        },
        "authKey": {
          "description": "Optional. Identifier key for auth config",
          "type": "string"
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "Oauth2JwtBearer"
        },
        "authType": {
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "description": "Optional. The type of authentication configured."
        },
        "userPassword": {
          "$ref": "UserPassword",
          "description": "UserPassword."
        }
      },
      "id": "AuthConfig"
    },
    "ConfigVariable": {
      "id": "ConfigVariable",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "Optional. Value is a string.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of the config variable."
        },
        "encryptionKeyValue": {
          "description": "Optional. Value is a Encryption Key.",
          "$ref": "EncryptionKey"
        },
        "secretValue": {
          "$ref": "Secret",
          "description": "Optional. Value is a secret."
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Value is an integer"
        },
        "boolValue": {
          "description": "Optional. Value is a bool.",
          "type": "boolean"
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig."
    },
    "SslConfigTemplate": {
      "description": "Ssl config details of a connector version",
      "type": "object",
      "id": "SslConfigTemplate",
      "properties": {
        "serverCertType": {
          "type": "array",
          "description": "List of supported Server Cert Types",
          "items": {
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ],
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "type": "string"
          }
        },
        "sslType": {
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ],
          "description": "Controls the ssl type for the given connector version",
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ]
        },
        "clientCertType": {
          "items": {
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ],
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of supported Client Cert Types"
        },
        "additionalVariables": {
          "description": "Any additional fields that need to be rendered",
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "isTlsMandatory": {
          "type": "boolean",
          "description": "Boolean for determining if the connector version mandates TLS."
        }
      }
    },
    "ListenEventRequest": {
      "properties": {
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Request payload."
        }
      },
      "type": "object",
      "id": "ListenEventRequest",
      "description": "Expected request for ListenEvent API."
    },
    "RuntimeEntitySchema": {
      "type": "object",
      "id": "RuntimeEntitySchema",
      "description": "Schema of a runtime entity.",
      "properties": {
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "Output only. JsonSchema representation of this entity's metadata",
          "readOnly": true
        },
        "fields": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Field"
          },
          "description": "Output only. List of fields in the entity."
        },
        "operations": {
          "description": "List of operations supported by this entity",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST entities.",
              "This operation means entity type supports GET entity.",
              "This operation means entity type supports CREATE entity.",
              "This operation means entity type supports UPDATE entity.",
              "This operation means entity type supports DELETE entity."
            ],
            "type": "string",
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          }
        },
        "entity": {
          "type": "string",
          "description": "Output only. Name of the entity.",
          "readOnly": true
        }
      }
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "properties": {
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        }
      },
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "type": "object"
    },
    "TrafficShapingConfig": {
      "type": "object",
      "properties": {
        "quotaLimit": {
          "type": "string",
          "description": "Required. Maximum number of api calls allowed.",
          "format": "int64"
        },
        "duration": {
          "type": "string",
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "format": "google-duration"
        }
      },
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "id": "TrafficShapingConfig"
    },
    "ListEventTypesResponse": {
      "properties": {
        "eventTypes": {
          "description": "A list of connector versions.",
          "items": {
            "$ref": "EventType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Response message for Connectors.ListEventTypes.",
      "type": "object",
      "id": "ListEventTypesResponse"
    },
    "AuthObject": {
      "description": "AuthObject defines a JSON schema of an authentication type.",
      "type": "object",
      "properties": {
        "additionalProperties": {
          "description": "Whether the object has additional properties.",
          "type": "boolean"
        },
        "authKey": {
          "type": "string",
          "description": "Auth key of the object."
        },
        "description": {
          "type": "string",
          "description": "Description of the object."
        },
        "isDefault": {
          "description": "Whether the object is the default one.",
          "type": "boolean"
        },
        "properties": {
          "description": "Properties of the object.",
          "type": "object",
          "additionalProperties": {
            "$ref": "AuthProperty"
          }
        },
        "type": {
          "description": "Type of the object.",
          "type": "string"
        },
        "authType": {
          "description": "Auth type of the object.",
          "type": "string"
        }
      },
      "id": "AuthObject"
    },
    "PublishCustomConnectorVersionRequest": {
      "description": "Request message for ConnectorsService.PublishCustomConnectorVersion",
      "properties": {
        "partnerMetadata": {
          "description": "Required. Partner metadata details for validating and publishing the custom connector as a partner connector version.",
          "$ref": "PartnerMetadata"
        }
      },
      "id": "PublishCustomConnectorVersionRequest",
      "type": "object"
    },
    "PartnerMetadata": {
      "properties": {
        "integrationTemplates": {
          "type": "string",
          "description": "Required. Integration example templates for the custom connector."
        },
        "targetApplication": {
          "type": "string",
          "description": "Required. Target application for which partner connector is built."
        },
        "confirmPartnerRequirements": {
          "description": "Required. Confirmation that connector meets all applicable requirements mentioned in the Partner Connector Publishing requirements list and Partner onboardiong requirements list (https://cloud.google.com/marketplace/docs/partners/get-started#requirements).",
          "type": "boolean"
        },
        "useCases": {
          "type": "string",
          "description": "Required. Details about partner connector use cases."
        },
        "acceptGcpTos": {
          "description": "Required. Whether the user has accepted the Google Cloud Platform Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Marketplace Terms of Service (https://cloud.google.com/terms/marketplace/launcher?hl=en).",
          "type": "boolean"
        },
        "demoUri": {
          "type": "string",
          "description": "Required. Public URL for the demo video."
        },
        "marketplaceProductUri": {
          "description": "Optional. Marketplace product URL.",
          "type": "string"
        },
        "publishRequestTime": {
          "readOnly": true,
          "description": "Output only. Publish request time.",
          "format": "google-datetime",
          "type": "string"
        },
        "marketplaceProductProjectId": {
          "description": "Optional. Marketplace product project ID.",
          "type": "string"
        },
        "partnerConnectorDisplayName": {
          "type": "string",
          "description": "Required. Partner connector display name."
        },
        "hasDynamicSpecUri": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Has dynamic open api spec uri."
        },
        "partner": {
          "description": "Required. Partner name.",
          "type": "string"
        },
        "marketplaceProduct": {
          "description": "Optional. Marketplace product name.",
          "type": "string"
        },
        "additionalComments": {
          "description": "Optional. Additional comments for the submission.",
          "type": "string"
        },
        "marketplaceProductId": {
          "description": "Required. Marketplace product ID.",
          "type": "string"
        },
        "localSpecPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Local spec path. Required if has_dynamic_spec_uri is true."
        },
        "targetCustomerSegment": {
          "type": "string",
          "description": "Required. Target customer segment for the partner connector."
        }
      },
      "description": "Partner metadata details. This will be populated when publishing the custom connector as a partner connector version. On publishing, parntner connector version will be created using the fields in PartnerMetadata.",
      "id": "PartnerMetadata",
      "type": "object"
    },
    "LockConfig": {
      "id": "LockConfig",
      "properties": {
        "reason": {
          "description": "Optional. Describes why a connection is locked.",
          "type": "string"
        },
        "locked": {
          "type": "boolean",
          "description": "Optional. Indicates whether or not the connection is locked."
        }
      },
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "dailyCycle": {
          "$ref": "DailyCycle",
          "description": "Daily cycle."
        },
        "weeklyCycle": {
          "$ref": "WeeklyCycle",
          "description": "Weekly cycle."
        }
      },
      "description": "MaintenanceWindow definition."
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "properties": {
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        },
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Allows to define schedule that runs specified day of the week.",
          "type": "string"
        }
      },
      "description": "Configure the schedule."
    },
    "EndUserAuthenticationNotifyEndpointDestination": {
      "id": "EndUserAuthenticationNotifyEndpointDestination",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account needed for runtime plane to notify the backend."
        },
        "endpoint": {
          "description": "Optional. OPTION 1: Hit an endpoint when the refresh token is expired.",
          "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPoint"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received"
          ],
          "description": "Required. type of the destination",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT"
          ]
        }
      },
      "type": "object",
      "description": "Message for NotifyEndpointDestination Destination to hit when the refresh token is expired."
    },
    "NotificationParameter": {
      "type": "object",
      "description": "Contains notification related data.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Array of string values. e.g. instance's replica information."
        }
      },
      "id": "NotificationParameter"
    },
    "EventingStatus": {
      "description": "EventingStatus indicates the state of eventing.",
      "properties": {
        "state": {
          "description": "Output only. State.",
          "readOnly": true,
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of error if State is set to \"ERROR\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "EventingStatus"
    },
    "EndUserAuthenticationConfigOauth2ClientCredentials": {
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "EndUserAuthenticationConfigOauth2ClientCredentials",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "EUASecret",
          "description": "Required. string value or secret version containing the client secret."
        }
      }
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "properties": {
        "name": {
          "description": "Output only. Name of the runtimeConfig resource. Format: projects/{project}/locations/{location}/runtimeConfig",
          "readOnly": true,
          "type": "string"
        },
        "runtimeEndpoint": {
          "description": "Output only. The endpoint of the connectors runtime ingress.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "INACTIVE.",
            "ACTIVATING.",
            "ACTIVE.",
            "CREATING.",
            "DELETING.",
            "UPDATING."
          ],
          "description": "Output only. The state of the location.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "UPDATING"
          ]
        },
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name.",
          "readOnly": true,
          "type": "string"
        },
        "controlPlaneTopic": {
          "readOnly": true,
          "description": "Output only. Pub/Sub topic for control plne to send message. communication. E.g. projects/{project-id}/topics/{topic-id}",
          "type": "string"
        },
        "schemaGcsBucket": {
          "type": "string",
          "description": "Output only. The Cloud Storage bucket that stores connector's schema reports.",
          "readOnly": true
        },
        "controlPlaneSubscription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Pub/Sub subscription for control plane to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}"
        },
        "conndSubscription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Pub/Sub subscription for connd to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}"
        },
        "conndTopic": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Pub/Sub topic for connd to send message. E.g. projects/{project-id}/topics/{topic-id}"
        },
        "locationId": {
          "type": "string",
          "description": "Output only. location_id of the runtime location. E.g. \"us-west1\".",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "RuntimeConfig is the singleton resource of each location. It includes generic resource configs consumed by control plane and runtime plane like: pub/sub topic/subscription resource name, Cloud Storage location storing schema etc."
    },
    "RuntimeActionSchema": {
      "type": "object",
      "properties": {
        "resultMetadata": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ResultMetadata"
          },
          "description": "Output only. List of result field metadata."
        },
        "displayName": {
          "description": "Output only. Display Name of action to be shown on client side",
          "readOnly": true,
          "type": "string"
        },
        "inputParameters": {
          "items": {
            "$ref": "InputParameter"
          },
          "description": "Output only. List of input parameter metadata for the action.",
          "type": "array",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Brief Description of action"
        },
        "resultSchemaAsString": {
          "description": "Output only. Result schema as string.",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the action."
        },
        "resultJsonSchema": {
          "description": "Output only. JsonSchema representation of this action's result metadata",
          "$ref": "JsonSchema",
          "readOnly": true
        },
        "inputSchemaAsString": {
          "description": "Output only. Input schema as string.",
          "type": "string",
          "readOnly": true
        },
        "inputJsonSchema": {
          "description": "Output only. JsonSchema representation of this action's input metadata",
          "$ref": "JsonSchema",
          "readOnly": true
        }
      },
      "description": "Schema of a runtime action.",
      "id": "RuntimeActionSchema"
    },
    "Oauth2AuthCodeFlowGoogleManaged": {
      "type": "object",
      "id": "Oauth2AuthCodeFlowGoogleManaged",
      "properties": {
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Scopes the connection will request when the user performs the auth code flow."
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details."
    },
    "ListProvidersResponse": {
      "id": "ListProvidersResponse",
      "type": "object",
      "description": "Response message for Connectors.ListProviders.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "providers": {
          "items": {
            "$ref": "Provider"
          },
          "description": "A list of providers.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EventSubscriptionDestination": {
      "description": "Message for EventSubscription Destination to act on receiving an event",
      "type": "object",
      "properties": {
        "endpoint": {
          "$ref": "EndPoint",
          "description": "OPTION 1: Hit an endpoint when we receive an event."
        },
        "pubsub": {
          "$ref": "PubSub",
          "description": "OPTION 3: Write the event to Pub/Sub topic."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT",
            "GCS",
            "PUBSUB"
          ],
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received",
            "Cloud Storage - Write the event to Cloud Storage bucket",
            "Pub/Sub - Write the event to Pub/Sub topic"
          ],
          "type": "string",
          "description": "Optional. type of the destination"
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to trigger IP workflow.",
          "type": "string"
        }
      },
      "id": "EventSubscriptionDestination"
    },
    "ListEntityTypesResponse": {
      "id": "ListEntityTypesResponse",
      "properties": {
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        },
        "entityTypes": {
          "description": "list of entity types",
          "type": "array",
          "items": {
            "$ref": "RuntimeEntitySchema"
          }
        }
      },
      "description": "Response message for ListEntityTypes API",
      "type": "object"
    },
    "JsonAuthSchema": {
      "id": "JsonAuthSchema",
      "type": "object",
      "description": "JsonAuthSchema defines the JSON schema of all authentication types.",
      "properties": {
        "$schema": {
          "description": "JSON schema of the AuthSchemas.",
          "type": "string"
        },
        "oneOf": {
          "type": "array",
          "description": "List of AuthObjects.",
          "items": {
            "$ref": "AuthObject"
          }
        }
      }
    },
    "UserPassword": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. Username."
        },
        "password": {
          "description": "Optional. Secret version reference containing the password.",
          "$ref": "Secret"
        }
      },
      "id": "UserPassword",
      "description": "Parameters to support Username and Password Authentication."
    },
    "EnumOption": {
      "type": "object",
      "id": "EnumOption",
      "properties": {
        "displayName": {
          "description": "Optional. Display name of the option.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. Id of the option."
        }
      },
      "description": "EnumOption definition"
    },
    "ListenEventResponse": {
      "type": "object",
      "properties": {},
      "id": "ListenEventResponse",
      "description": "Expected response for ListenEvent API."
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. Value of Header."
        },
        "key": {
          "description": "Required. Key of Header.",
          "type": "string"
        }
      },
      "description": "Header details for a given header to be added to Endpoint."
    },
    "Settings": {
      "type": "object",
      "id": "Settings",
      "description": "Global Settings details.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/global/settings}"
        },
        "vpcsc": {
          "description": "Optional. Flag indicates whether vpc-sc is enabled.",
          "type": "boolean"
        },
        "payg": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Flag indicates if user is in PayG model"
        },
        "tenantProjectId": {
          "readOnly": true,
          "description": "Output only. Tenant project id of the consumer project.",
          "type": "string"
        }
      }
    },
    "ListActionsResponse": {
      "id": "ListActionsResponse",
      "type": "object",
      "description": "Response message for ListActions API",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "token for next page"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "description": "list of actions"
        }
      }
    },
    "InputParameter": {
      "type": "object",
      "properties": {
        "parameter": {
          "description": "Name of the Parameter.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Parameter."
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this action's parameter"
        },
        "dataType": {
          "description": "The data type of the Parameter.",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "defaultValue": {
          "type": "any",
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided."
        }
      },
      "description": "Metadata of an input parameter.",
      "id": "InputParameter"
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "description": "Request message for ModifyConnectionToolspecOverride API.",
      "properties": {
        "toolspecOverride": {
          "$ref": "ToolspecOverride",
          "description": "Required. Toolspec overrides to be modified."
        }
      },
      "id": "ModifyConnectionToolspecOverrideRequest",
      "type": "object"
    },
    "EndPoint": {
      "description": "Endpoint message includes details of the Destination endpoint.",
      "properties": {
        "endpointUri": {
          "type": "string",
          "description": "Optional. The URI of the Endpoint."
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "Header"
          },
          "description": "Optional. List of Header to be added to the Endpoint."
        }
      },
      "type": "object",
      "id": "EndPoint"
    },
    "LogicalExpression": {
      "description": "Struct for representing boolean expressions.",
      "id": "LogicalExpression",
      "properties": {
        "logicalExpressions": {
          "description": "Optional. A list of nested conditions to be compared.",
          "items": {
            "$ref": "LogicalExpression"
          },
          "type": "array"
        },
        "fieldComparisons": {
          "items": {
            "$ref": "FieldComparison"
          },
          "type": "array",
          "description": "Optional. A list of fields to be compared."
        },
        "logicalOperator": {
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "AND operator; The conditions must all be true.",
            "OR operator; At least one of the conditions must be true."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "description": "Optional. The logical operator to use between the fields and conditions."
        }
      },
      "type": "object"
    },
    "RetryEventSubscriptionRequest": {
      "description": "Request message for ConnectorsService.RefreshEventSubscription",
      "properties": {},
      "type": "object",
      "id": "RetryEventSubscriptionRequest"
    },
    "EventSubscriptionStatus": {
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. State of Event Subscription resource.",
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "EventSubscription creation is in progress.",
            "EventSubscription is in Updating status.",
            "EventSubscription is in Active state and is ready to receive events.",
            "EventSubscription is currently suspended.",
            "EventSubscription is in Error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "SUSPENDED",
            "ERROR"
          ]
        },
        "description": {
          "description": "Output only. Description of the state.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "EventSubscription Status denotes the status of the EventSubscription resource.",
      "id": "EventSubscriptionStatus"
    },
    "CustomConnectorVersion": {
      "description": "CustomConnectorVersion indicates a specific version of a connector.",
      "id": "CustomConnectorVersion",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Optional. Service account used by runtime plane to access auth config secrets.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name of the Version. Format: projects/{project}/locations/{location}/customConnectors/{custom_connector}/customConnectorVersions/{custom_connector_version}",
          "readOnly": true
        },
        "destinationConfigs": {
          "description": "Optional. Destination config(s) for accessing connector service (facade). This is used only when enable_backend_destination_config is true.",
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          }
        },
        "partnerMetadata": {
          "$ref": "PartnerMetadata",
          "description": "Optional. Partner metadata details. This should be populated only when publishing the custom connector to partner connector."
        },
        "createTime": {
          "description": "Output only. Created time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Updated time."
        },
        "asyncOperationsSupport": {
          "description": "Optional. Indicates if Async Operations/Connector Job is supported. This is only available for SDK based custom connectors.",
          "type": "boolean"
        },
        "specLocation": {
          "description": "Optional. Location of the custom connector spec. This is only used for Open API based custom connectors. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`.",
          "type": "string"
        },
        "specServerUrls": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Server URLs parsed from the Open API spec. This is only used for Open API based custom connectors.",
          "type": "array",
          "readOnly": true
        },
        "authConfig": {
          "$ref": "AuthConfig",
          "description": "Optional. Authentication config for accessing connector service (facade). This is used only when enable_backend_destination_config is true."
        },
        "enableBackendDestinationConfig": {
          "type": "boolean",
          "description": "Optional. Indicates if an intermediatory connectorservice is used as backend. When this is enabled, the connector destination and connector auth config are required. For SDK based connectors, this is always enabled."
        },
        "authOverrideSupport": {
          "type": "boolean",
          "description": "Optional. Auth override support."
        },
        "authConfigTemplates": {
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "type": "array",
          "description": "Optional. Auth Config Templates is only used when connector backend is enabled. This is used to specify the auth configs supported by the connector backend service to talk to the actual application backend."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "backendVariableTemplates": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "description": "Optional. Backend variable templates is only used when connector backend is enabled. This is used to specify the variables required by the connector backend service to talk to the actual application backend. This translates to additional variable templates in the connection config.",
          "type": "array"
        },
        "publishStatus": {
          "description": "Output only. Publish status of a custom connector.",
          "$ref": "PublishStatus",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State Unspecified.",
            "Active state. By default we set the state to Active.",
            "Deprecated state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "readOnly": true,
          "description": "Output only. State of the custom connector version."
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "SslConfig": {
      "id": "SslConfig",
      "type": "object",
      "description": "SSL Configuration of a connection",
      "properties": {
        "type": {
          "description": "Optional. Controls the ssl type for the given connector version.",
          "type": "string",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ],
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ]
        },
        "clientCertType": {
          "description": "Optional. Type of Client Cert (PEM/JKS/.. etc.)",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "type": "string"
        },
        "serverCertType": {
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "type": "string",
          "description": "Optional. Type of Server Cert (PEM/JKS/.. etc.)"
        },
        "trustModel": {
          "type": "string",
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ],
          "description": "Optional. Trust Model of the SSL connection"
        },
        "useSsl": {
          "description": "Optional. Bool for enabling SSL",
          "type": "boolean"
        },
        "clientPrivateKey": {
          "$ref": "Secret",
          "description": "Optional. Client Private Key"
        },
        "clientCertificate": {
          "$ref": "Secret",
          "description": "Optional. Client Certificate"
        },
        "privateServerCertificate": {
          "$ref": "Secret",
          "description": "Optional. Private Server Certificate. Needs to be specified if trust model is `PRIVATE`."
        },
        "additionalVariables": {
          "items": {
            "$ref": "ConfigVariable"
          },
          "type": "array",
          "description": "Optional. Additional SSL related field values"
        },
        "clientPrivateKeyPass": {
          "description": "Optional. Secret containing the passphrase protecting the Client Private Key",
          "$ref": "Secret"
        }
      }
    },
    "UpdatePolicy": {
      "type": "object",
      "id": "UpdatePolicy",
      "description": "Maintenance policy applicable to instance updates.",
      "properties": {
        "channel": {
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ]
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "StandardEntity": {
      "properties": {
        "name": {
          "description": "Name of the standard entity.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Standard entity",
      "id": "StandardEntity"
    },
    "RegionalSettings": {
      "properties": {
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Optional. Regional network config."
        },
        "provisioned": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Specifies whether the region is provisioned."
        },
        "encryptionConfig": {
          "description": "Optional. Regional encryption config to hold CMEK details.",
          "$ref": "EncryptionConfig"
        },
        "client": {
          "type": "string",
          "description": "Optional. Client type for the regional settings."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
          "readOnly": true
        }
      },
      "id": "RegionalSettings",
      "type": "object",
      "description": "Regional Settings details."
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "type": "object",
      "id": "RemoveConnectionToolspecOverrideRequest",
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "properties": {}
    },
    "EgressControlConfig": {
      "description": "Egress control config for connector runtime. These configurations define the rules to identify which outbound domains/hosts needs to be whitelisted. It may be a static information for a particular connector version or it is derived from the configurations provided by the customer in Connection resource.",
      "properties": {
        "launchEnvironment": {
          "enumDescriptions": [
            "Default value. If not specified, the launch environment will default to AUTOPUSH.",
            "Autopush environment.",
            "Staging environment.",
            "Prod environment."
          ],
          "enum": [
            "LAUNCH_ENVIRONMENT_UNSPECIFIED",
            "AUTOPUSH",
            "STAGING",
            "PROD"
          ],
          "description": "Launch environment for egress control.",
          "type": "string"
        },
        "accessMode": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "RESTRICTED",
            "ALLOW_ALL"
          ],
          "enumDescriptions": [
            "The default value. Per best practices (go/protodosdonts#unspecified-enum), the first value should be UNSPECIFIED and have a tag of 0. Application logic should treat this the same as RESTRICTED.",
            "Enforce the allowlist. Only projects in 'allowlisted_project_numbers' are permitted.",
            "Allow all projects. 'allowlisted_project_numbers' is ignored."
          ],
          "type": "string",
          "description": "Optional. Access mode for egress control."
        },
        "additionalExtractionRules": {
          "$ref": "ExtractionRules",
          "description": "Additional extraction rules to identity the backends from customer provided configuration in Connection resource. These rules are applied in addition to the ones specified in `oneof_backends`."
        },
        "extractionRules": {
          "description": "Extractions Rules to extract the backends from customer provided configuration.",
          "$ref": "ExtractionRules",
          "deprecated": true
        },
        "backends": {
          "type": "string",
          "description": "Static Comma separated backends which are common for all Connection resources. Supported formats for each backend are host:port or just host (host can be ip address or domain name)."
        },
        "allowlistedProjectNumbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Used when access_mode is RESTRICTED or ACCESS_MODE_UNSPECIFIED."
        }
      },
      "id": "EgressControlConfig",
      "type": "object"
    },
    "JsonSchema": {
      "type": "object",
      "id": "JsonSchema",
      "description": "JsonSchema representation of schema metadata",
      "properties": {
        "$id": {
          "type": "string",
          "description": "The URI defining the core schema meta-schema."
        },
        "$ref": {
          "description": "A reference to another schema.",
          "type": "string"
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "minItems": {
          "description": "Minimum number of items in the array field.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "description": "Schema that applies to array values, applicable only if this is of type `array`.",
          "$ref": "JsonSchema"
        },
        "patternProperties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Pattern properties for the schema.",
          "type": "object"
        },
        "examples": {
          "description": "Examples of the value.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "allOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "type": "array",
          "description": "Schema that must be valid against all of the sub-schemas."
        },
        "enum": {
          "items": {
            "type": "any"
          },
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "type": "array"
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against at least one of the sub-schemas."
        },
        "contentEncoding": {
          "description": "Encoding of the content.",
          "type": "string"
        },
        "minimum": {
          "type": "any",
          "description": "Minimum value of the number field."
        },
        "maxItems": {
          "description": "Maximum number of items in the array field.",
          "type": "integer",
          "format": "int32"
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "minLength": {
          "type": "integer",
          "description": "Minimum length of the string field.",
          "format": "int32"
        },
        "not": {
          "$ref": "JsonSchema",
          "description": "Schema that must not be valid."
        },
        "description": {
          "type": "string",
          "description": "A description of this schema."
        },
        "type": {
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "required": {
          "items": {
            "type": "string"
          },
          "description": "Whether this property is required.",
          "type": "array"
        },
        "$defs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Definitions for the schema."
        },
        "dependencies": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Dependencies for the schema."
        },
        "if": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is valid."
        },
        "definitions": {
          "description": "Definitions for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object"
        },
        "oneOf": {
          "type": "array",
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "pattern": {
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match.",
          "type": "string"
        },
        "contentMediaType": {
          "description": "Media type of the content.",
          "type": "string"
        },
        "$schema": {
          "type": "string",
          "description": "The URI defining the schema."
        },
        "multipleOf": {
          "format": "double",
          "description": "Number must be a multiple of this value.",
          "type": "number"
        },
        "then": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "readOnly": {
          "description": "Whether the value is read-only.",
          "type": "boolean"
        },
        "contains": {
          "description": "Schema that applies to at least one item in an array.",
          "$ref": "JsonSchema"
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Whether the items in the array field are unique."
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length of the string field."
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "default": {
          "type": "any",
          "description": "The default value of the field or object described by this schema."
        },
        "$comment": {
          "description": "A comment on the schema.",
          "type": "string"
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "maxProperties": {
          "description": "Maximum number of properties.",
          "format": "int32",
          "type": "integer"
        },
        "additionalProperties": {
          "description": "Schema for additional properties.",
          "$ref": "JsonSchema"
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "const": {
          "type": "any",
          "description": "Const value that the data must match."
        },
        "additionalDetails": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "type": "object"
        },
        "jdbcType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "description": "JDBC datatype of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "else": {
          "description": "Schema that must be valid if the \"if\" schema is invalid.",
          "$ref": "JsonSchema"
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "writeOnly": {
          "type": "boolean",
          "description": "Whether the value is write-only."
        },
        "exclusiveMinimum": {
          "type": "any",
          "description": "Whether the minimum number value is exclusive."
        },
        "minProperties": {
          "description": "Minimum number of properties.",
          "format": "int32",
          "type": "integer"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property"
        }
      }
    },
    "NetworkEgressModeOverride": {
      "description": "NetworkEgressModeOverride provides the network egress mode override for a connector.",
      "type": "object",
      "id": "NetworkEgressModeOverride",
      "properties": {
        "isJobsOverrideEnabled": {
          "description": "boolean should be set to true to make sure only async operations enabled connections are migrated to direct vpc egress.",
          "type": "boolean"
        },
        "networkEgressMode": {
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "SERVERLESS_VPC_ACCESS_CONNECTOR",
            "DIRECT_VPC_EGRESS"
          ],
          "enumDescriptions": [
            "Network Egress mode is not specified.",
            "Default model VPC Access Connector.",
            "Direct VPC Egress."
          ],
          "description": "Determines the VPC Egress mode for the connector.",
          "type": "string"
        },
        "isEventingOverrideEnabled": {
          "type": "boolean",
          "description": "boolean should be set to true to make sure only eventing enabled connections are migrated to direct vpc egress."
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "properties": {
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        },
        "serviceAttachment": {
          "deprecated": true,
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port is the target port number that is accepted by the destination."
        }
      },
      "type": "object"
    },
    "FetchAuthSchemaResponse": {
      "type": "object",
      "description": "Response message for Connectors.GetAuthSchema.",
      "properties": {
        "jsonSchema": {
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format.",
          "$ref": "JsonAuthSchema"
        },
        "authSchemas": {
          "description": "List of AuthSchemas.",
          "items": {
            "$ref": "AuthSchema"
          },
          "type": "array"
        }
      },
      "id": "FetchAuthSchemaResponse"
    },
    "EncryptionKey": {
      "description": "Encryption Key value.",
      "properties": {
        "type": {
[...]
