{
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "id": "connectors:v1",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://connectors.googleapis.com/",
  "rootUrl": "https://connectors.googleapis.com/",
  "version_module": true,
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "revision": "20260828",
  "ownerDomain": "google.com",
  "name": "connectors",
  "batchPath": "batch",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Connectors",
  "title": "Connectors API",
  "schemas": {
    "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims": {
      "id": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "type": "object",
      "properties": {
        "issuer": {
          "description": "Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Value for the \"aud\" claim."
        },
        "subject": {
          "description": "Value for the \"sub\" claim.",
          "type": "string"
        }
      }
    },
    "EnrichmentConfig": {
      "properties": {
        "appendAcl": {
          "description": "Optional. Append ACL to the event.",
          "type": "boolean"
        }
      },
      "description": "Data enrichment configuration.",
      "id": "EnrichmentConfig",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListManagedZonesResponse": {
      "id": "ListManagedZonesResponse",
      "type": "object",
      "description": "Response message for ConnectorsService.ListManagedZones",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "managedZones": {
          "type": "array",
          "items": {
            "$ref": "ManagedZone"
          },
          "description": "ManagedZones."
        }
      }
    },
    "PartnerMetadata": {
      "type": "object",
      "id": "PartnerMetadata",
      "description": "Partner metadata details. This will be populated when publishing the custom connector as a partner connector version. On publishing, parntner connector version will be created using the fields in PartnerMetadata.",
      "properties": {
        "partner": {
          "description": "Required. Partner name.",
          "type": "string"
        },
        "publishRequestTime": {
          "type": "string",
          "description": "Output only. Publish request time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "integrationTemplates": {
          "type": "string",
          "description": "Required. Integration example templates for the custom connector."
        },
        "marketplaceProductId": {
          "type": "string",
          "description": "Required. Marketplace product ID."
        },
        "confirmPartnerRequirements": {
          "type": "boolean",
          "description": "Required. Confirmation that connector meets all applicable requirements mentioned in the Partner Connector Publishing requirements list and Partner onboardiong requirements list (https://cloud.google.com/marketplace/docs/partners/get-started#requirements)."
        },
        "additionalComments": {
          "description": "Optional. Additional comments for the submission.",
          "type": "string"
        },
        "localSpecPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Local spec path. Required if has_dynamic_spec_uri is true."
        },
        "marketplaceProductProjectId": {
          "description": "Optional. Marketplace product project ID.",
          "type": "string"
        },
        "demoUri": {
          "description": "Required. Public URL for the demo video.",
          "type": "string"
        },
        "useCases": {
          "description": "Required. Details about partner connector use cases.",
          "type": "string"
        },
        "marketplaceProductUri": {
          "description": "Optional. Marketplace product URL.",
          "type": "string"
        },
        "targetCustomerSegment": {
          "description": "Required. Target customer segment for the partner connector.",
          "type": "string"
        },
        "targetApplication": {
          "type": "string",
          "description": "Required. Target application for which partner connector is built."
        },
        "hasDynamicSpecUri": {
          "description": "Output only. Has dynamic open api spec uri.",
          "type": "boolean",
          "readOnly": true
        },
        "marketplaceProduct": {
          "description": "Optional. Marketplace product name.",
          "type": "string"
        },
        "partnerConnectorDisplayName": {
          "description": "Required. Partner connector display name.",
          "type": "string"
        },
        "acceptGcpTos": {
          "description": "Required. Whether the user has accepted the Google Cloud Platform Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Marketplace Terms of Service (https://cloud.google.com/terms/marketplace/launcher?hl=en).",
          "type": "boolean"
        }
      }
    },
    "RefreshConnectionSchemaMetadataRequest": {
      "type": "object",
      "id": "RefreshConnectionSchemaMetadataRequest",
      "properties": {},
      "description": "Request message for ConnectorsService.RefreshConnectionSchemaMetadata."
    },
    "OAuthTokenData": {
      "id": "OAuthTokenData",
      "description": "pass only at create and not update using updateMask Auth Code Data",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the access token was created.",
          "type": "string"
        },
        "accessToken": {
          "description": "Optional. Access token for the connection.",
          "$ref": "EUASecret"
        },
        "refreshToken": {
          "description": "Optional. Refresh token for the connection.",
          "$ref": "EUASecret"
        },
        "expiry": {
          "description": "Optional. Time in seconds when the access token expires.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ListEndpointAttachmentsResponse": {
      "description": "Response message for ConnectorsService.ListEndpointAttachments",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "endpointAttachments": {
          "type": "array",
          "items": {
            "$ref": "EndpointAttachment"
          },
          "description": "EndpointAttachments."
        }
      },
      "type": "object",
      "id": "ListEndpointAttachmentsResponse"
    },
    "EndUserAuthenticationConfigSshPublicKey": {
      "description": "Parameters to support Ssh public key Authentication.",
      "id": "EndUserAuthenticationConfigSshPublicKey",
      "type": "object",
      "properties": {
        "sshClientCert": {
          "description": "Required. SSH Client Cert. It should contain both public and private key.",
          "$ref": "EUASecret"
        },
        "certType": {
          "type": "string",
          "description": "Format of SSH Client cert."
        },
        "sshClientCertPass": {
          "$ref": "EUASecret",
          "description": "Required. Password (passphrase) for ssh client certificate if it has one."
        },
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        }
      }
    },
    "ListConnectorsResponse": {
      "type": "object",
      "description": "Response message for Connectors.ListConnectors.",
      "id": "ListConnectorsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "connectors": {
          "type": "array",
          "items": {
            "$ref": "Connector"
          },
          "description": "A list of connectors."
        }
      }
    },
    "DeadLetterConfig": {
      "description": "Dead Letter configuration details provided by the user.",
      "id": "DeadLetterConfig",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Optional. Topic to push events which couldn't be processed."
        },
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        }
      }
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        },
        "day": {
          "type": "string",
          "description": "Allows to define schedule that runs specified day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Configure the schedule.",
      "id": "Schedule"
    },
    "ConnectorInfraConfig": {
      "id": "ConnectorInfraConfig",
      "type": "object",
      "properties": {
        "ratelimitThreshold": {
          "description": "Max QPS supported by the connector version before throttling of requests.",
          "format": "int64",
          "type": "string"
        },
        "migrateDeploymentModel": {
          "description": "Indicate whether connector is being migrated to cloud run deployment model.",
          "type": "boolean"
        },
        "migrateTls": {
          "description": "Indicate whether connector is being migrated to TLS.",
          "type": "boolean"
        },
        "networkEgressModeOverride": {
          "$ref": "NetworkEgressModeOverride",
          "description": "Network egress mode override to migrate to direct VPC egress."
        },
        "internalclientRatelimitThreshold": {
          "description": "Max QPS supported for internal requests originating from Connd.",
          "format": "int64",
          "type": "string"
        },
        "connectorVersioningEnabled": {
          "description": "Indicate whether connector versioning is enabled.",
          "type": "boolean"
        },
        "alwaysAllocateCpu": {
          "description": "Indicates that the Cloud Run CPU should always be allocated.",
          "type": "boolean"
        },
        "connectionRatelimitWindowSeconds": {
          "description": "The window used for ratelimiting runtime requests to connections.",
          "type": "string",
          "format": "int64"
        },
        "hpaConfig": {
          "$ref": "HPAConfig",
          "description": "HPA autoscaling config."
        },
        "resourceRequests": {
          "$ref": "ResourceRequests",
          "description": "System resource requests."
        },
        "provisionCloudSpanner": {
          "description": "Indicate whether cloud spanner is required for connector job.",
          "type": "boolean"
        },
        "sharedDeployment": {
          "description": "The name of shared connector deployment.",
          "type": "string"
        },
        "deploymentModel": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "description": "Indicate whether connector is deployed on GKE/CloudRun"
        },
        "connectionServiceAccountEnabled": {
          "type": "boolean",
          "description": "Indicate whether connection service account is enabled. If false, the common runtime service agent is used."
        },
        "provisionMemstore": {
          "description": "Indicate whether memstore is required for connector job.",
          "type": "boolean"
        },
        "maxInstanceRequestConcurrency": {
          "format": "int32",
          "description": "Max Instance Request Conncurrency for Cloud Run service.",
          "type": "integer"
        },
        "resourceLimits": {
          "description": "System resource limits.",
          "$ref": "ResourceLimits"
        },
        "publicNetworkIngressEnabled": {
          "description": "Indicate whether public network ingress should be enabled.",
          "type": "boolean"
        }
      },
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version"
    },
    "EventingStatus": {
      "id": "EventingStatus",
      "properties": {
        "description": {
          "description": "Output only. Description of error if State is set to \"ERROR\".",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State.",
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "EventingStatus indicates the state of eventing."
    },
    "SslConfig": {
      "description": "SSL Configuration of a connection",
      "properties": {
        "useSsl": {
          "type": "boolean",
          "description": "Optional. Bool for enabling SSL"
        },
        "clientPrivateKey": {
          "$ref": "Secret",
          "description": "Optional. Client Private Key"
        },
        "serverCertType": {
          "description": "Optional. Type of Server Cert (PEM/JKS/.. etc.)",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ]
        },
        "clientPrivateKeyPass": {
          "description": "Optional. Secret containing the passphrase protecting the Client Private Key",
          "$ref": "Secret"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Optional. Controls the ssl type for the given connector version.",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "privateServerCertificate": {
          "description": "Optional. Private Server Certificate. Needs to be specified if trust model is `PRIVATE`.",
          "$ref": "Secret"
        },
        "clientCertificate": {
          "$ref": "Secret",
          "description": "Optional. Client Certificate"
        },
        "additionalVariables": {
          "items": {
            "$ref": "ConfigVariable"
          },
          "type": "array",
          "description": "Optional. Additional SSL related field values"
        },
        "trustModel": {
          "description": "Optional. Trust Model of the SSL connection",
          "type": "string",
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ]
        },
        "clientCertType": {
          "description": "Optional. Type of Client Cert (PEM/JKS/.. etc.)",
          "type": "string",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ]
        }
      },
      "id": "SslConfig",
      "type": "object"
    },
    "ListActionsResponse": {
      "type": "object",
      "properties": {
        "actions": {
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "type": "array",
          "description": "list of actions"
        },
        "nextPageToken": {
          "type": "string",
          "description": "token for next page"
        }
      },
      "description": "Response message for ListActions API",
      "id": "ListActionsResponse"
    },
    "ResourceLimits": {
      "properties": {
        "memory": {
          "type": "string",
          "description": "Output only. Memory limit.",
          "readOnly": true
        },
        "cpu": {
          "readOnly": true,
          "description": "Output only. CPU limit.",
          "type": "string"
        }
      },
      "description": "Resource limits defined for connection pods of a given connector type.",
      "id": "ResourceLimits",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Oauth2AuthCodeFlowGoogleManaged": {
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "id": "Oauth2AuthCodeFlowGoogleManaged",
      "properties": {
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "scopes": {
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        }
      }
    },
    "SearchConnectionInstance": {
      "id": "SearchConnectionInstance",
      "description": "SearchConnectionInstance represents an instance of connector with specific fields",
      "properties": {
        "entitySchema": {
          "description": "Output only. Schema of a runtime entity.",
          "$ref": "RuntimeEntitySchema",
          "readOnly": true
        },
        "connection": {
          "description": "Output only. Connection details",
          "readOnly": true,
          "$ref": "Connection"
        },
        "actionSchema": {
          "description": "Output only. Schema of a runtime action.",
          "$ref": "RuntimeActionSchema",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ConfigVariableTemplate": {
      "properties": {
        "locationType": {
          "type": "string",
          "enumDescriptions": [
            "Location type unspecified.",
            "Request header.",
            "Request Payload.",
            "Request query param.",
            "Request path param."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "HEADER",
            "PAYLOAD",
            "QUERY_PARAM",
            "PATH_PARAM"
          ],
          "description": "Optional. Location Type denotes where this value should be sent in BYOC connections."
        },
        "roleGrant": {
          "$ref": "RoleGrant",
          "description": "Optional. Role grant configuration for the config variable."
        },
        "isAdvanced": {
          "description": "Optional. Indicates if current template is part of advanced settings",
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "Status is unspecified.",
            "Config variable is active",
            "Config variable is deprecated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "type": "string",
          "description": "Output only. State of the config variable.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the parameter."
        },
        "required": {
          "type": "boolean",
          "description": "Optional. Flag represents that this `ConfigVariable` must be provided for a connection."
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of the config variable."
        },
        "requiredCondition": {
          "description": "Optional. Condition under which a field would be required. The condition can be represented in the form of a logical expression.",
          "$ref": "LogicalExpression"
        },
        "authorizationCodeLink": {
          "description": "Optional. Authorization code link options. To be populated if `ValueType` is `AUTHORIZATION_CODE`",
          "$ref": "AuthorizationCodeLink"
        },
        "enumOptions": {
          "description": "Optional. Enum options. To be populated if `ValueType` is `ENUM`",
          "items": {
            "$ref": "EnumOption"
          },
          "type": "array"
        },
        "enumSource": {
          "description": "Optional. enum source denotes the source of api to fill the enum options",
          "enum": [
            "ENUM_SOURCE_UNSPECIFIED",
            "EVENT_TYPES_API"
          ],
          "type": "string",
          "enumDescriptions": [
            "Api type unspecified.",
            "list event types."
          ]
        },
        "valueType": {
          "enumDescriptions": [
            "Value type is not specified.",
            "Value type is string.",
            "Value type is integer.",
            "Value type is boolean.",
            "Value type is secret.",
            "Value type is enum.",
            "Value type is authorization code.",
            "Encryption Key.",
            "Value type is multiple select."
          ],
          "description": "Optional. Type of the parameter: string, int, bool etc. consider custom type for the benefit for the validation.",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "SECRET",
            "ENUM",
            "AUTHORIZATION_CODE",
            "ENCRYPTION_KEY",
            "MULTIPLE_SELECT"
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. Description.",
          "type": "string"
        },
        "multipleSelectConfig": {
          "description": "Optional. MultipleSelectConfig represents the multiple options for a config variable.",
          "$ref": "MultipleSelectConfig"
        },
        "validationRegex": {
          "type": "string",
          "description": "Optional. Regular expression in RE2 syntax used for validating the `value` of a `ConfigVariable`."
        }
      },
      "type": "object",
      "id": "ConfigVariableTemplate",
      "description": "ConfigVariableTemplate provides metadata about a `ConfigVariable` that is used in a Connection."
    },
    "CustomConnectorVersion": {
      "description": "CustomConnectorVersion indicates a specific version of a connector.",
      "type": "object",
      "properties": {
        "authConfig": {
          "description": "Optional. Authentication config for accessing connector service (facade). This is used only when enable_backend_destination_config is true.",
          "$ref": "AuthConfig"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "specLocation": {
          "type": "string",
          "description": "Optional. Location of the custom connector spec. This is only used for Open API based custom connectors. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`."
        },
        "authConfigTemplates": {
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "description": "Optional. Auth Config Templates is only used when connector backend is enabled. This is used to specify the auth configs supported by the connector backend service to talk to the actual application backend.",
          "type": "array"
        },
        "publishStatus": {
          "description": "Output only. Publish status of a custom connector.",
          "$ref": "PublishStatus",
          "readOnly": true
        },
        "specServerUrls": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Server URLs parsed from the Open API spec. This is only used for Open API based custom connectors.",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the Version. Format: projects/{project}/locations/{location}/customConnectors/{custom_connector}/customConnectorVersions/{custom_connector_version}",
          "readOnly": true,
          "type": "string"
        },
        "authOverrideSupport": {
          "type": "boolean",
          "description": "Optional. Auth override support."
        },
        "partnerMetadata": {
          "$ref": "PartnerMetadata",
          "description": "Optional. Partner metadata details. This should be populated only when publishing the custom connector to partner connector."
        },
        "destinationConfigs": {
          "items": {
            "$ref": "DestinationConfig"
          },
          "type": "array",
          "description": "Optional. Destination config(s) for accessing connector service (facade). This is used only when enable_backend_destination_config is true."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account used by runtime plane to access auth config secrets."
        },
        "state": {
          "enumDescriptions": [
            "State Unspecified.",
            "Active state. By default we set the state to Active.",
            "Deprecated state."
          ],
          "description": "Output only. State of the custom connector version.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Created time."
        },
        "enableBackendDestinationConfig": {
          "description": "Optional. Indicates if an intermediatory connectorservice is used as backend. When this is enabled, the connector destination and connector auth config are required. For SDK based connectors, this is always enabled.",
          "type": "boolean"
        },
        "backendVariableTemplates": {
          "description": "Optional. Backend variable templates is only used when connector backend is enabled. This is used to specify the variables required by the connector backend service to talk to the actual application backend. This translates to additional variable templates in the connection config.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Updated time.",
          "format": "google-datetime"
        },
        "asyncOperationsSupport": {
          "type": "boolean",
          "description": "Optional. Indicates if Async Operations/Connector Job is supported. This is only available for SDK based custom connectors."
        }
      },
      "id": "CustomConnectorVersion"
    },
    "ListEventSubscriptionsResponse": {
      "description": "Response message for ConnectorsService.ListEventSubscriptions",
      "type": "object",
      "properties": {
        "eventSubscriptions": {
          "type": "array",
          "items": {
            "$ref": "EventSubscription"
          },
          "description": "Subscriptions."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "ListEventSubscriptionsResponse"
    },
    "StandardEntity": {
      "description": "Standard entity",
      "type": "object",
      "id": "StandardEntity",
      "properties": {
        "name": {
          "description": "Name of the standard entity.",
          "type": "string"
        }
      }
    },
    "ValidateCustomConnectorSpecRequest": {
      "type": "object",
      "id": "ValidateCustomConnectorSpecRequest",
      "description": "Request message for ConnectorsService.ValidateCustomConnectorSpec",
      "properties": {
        "specType": {
          "type": "string",
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "description": "Required. Spec type of the custom connector spec.",
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ]
        },
        "specLocation": {
          "description": "Required. Location of the custom connector spec. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to access the spec from Google Cloud Storage."
        }
      }
    },
    "MaintenanceSettings": {
      "type": "object",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "properties": {
        "exclude": {
          "type": "boolean",
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
        },
        "isRollback": {
          "type": "boolean",
          "description": "Optional. If the update call is triggered from rollback, set the value as true."
        },
        "maintenancePolicies": {
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          }
        }
      },
      "id": "MaintenanceSettings"
    },
    "EgressControlConfig": {
      "type": "object",
      "properties": {
        "allowlistedProjectNumbers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Used when access_mode is RESTRICTED or ACCESS_MODE_UNSPECIFIED.",
          "type": "array"
        },
        "additionalExtractionRules": {
          "description": "Additional extraction rules to identity the backends from customer provided configuration in Connection resource. These rules are applied in addition to the ones specified in `oneof_backends`.",
          "$ref": "ExtractionRules"
        },
        "accessMode": {
          "description": "Optional. Access mode for egress control.",
          "type": "string",
          "enumDescriptions": [
            "The default value. Per best practices (go/protodosdonts#unspecified-enum), the first value should be UNSPECIFIED and have a tag of 0. Application logic should treat this the same as RESTRICTED.",
            "Enforce the allowlist. Only projects in 'allowlisted_project_numbers' are permitted.",
            "Allow all projects. 'allowlisted_project_numbers' is ignored."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "RESTRICTED",
            "ALLOW_ALL"
          ]
        },
        "launchEnvironment": {
          "type": "string",
          "description": "Launch environment for egress control.",
          "enumDescriptions": [
            "Default value. If not specified, the launch environment will default to AUTOPUSH.",
            "Autopush environment.",
            "Staging environment.",
            "Prod environment."
          ],
          "enum": [
            "LAUNCH_ENVIRONMENT_UNSPECIFIED",
            "AUTOPUSH",
            "STAGING",
            "PROD"
          ]
        },
        "extractionRules": {
          "description": "Extractions Rules to extract the backends from customer provided configuration.",
          "$ref": "ExtractionRules",
          "deprecated": true
        },
        "backends": {
          "description": "Static Comma separated backends which are common for all Connection resources. Supported formats for each backend are host:port or just host (host can be ip address or domain name).",
          "type": "string"
        }
      },
      "id": "EgressControlConfig",
      "description": "Egress control config for connector runtime. These configurations define the rules to identify which outbound domains/hosts needs to be whitelisted. It may be a static information for a particular connector version or it is derived from the configurations provided by the customer in Connection resource."
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "description": "Header details for a given header to be added to Endpoint.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. Value of Header."
        },
        "key": {
          "description": "Required. Key of Header.",
          "type": "string"
        }
      },
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader",
      "type": "object"
    },
    "ConnectionStatus": {
      "type": "object",
      "id": "ConnectionStatus",
      "properties": {
        "state": {
          "description": "State.",
          "type": "string",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error.",
            "Connection is not running because the authorization configuration is not complete."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ]
        },
        "status": {
          "description": "Status provides detailed information for the state.",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "type": "string"
        }
      },
      "description": "ConnectionStatus indicates the state of the connection."
    },
    "WebhookSubscriptions": {
      "description": "WebhookSubscriptions has details of webhook subscriptions.",
      "type": "object",
      "id": "WebhookSubscriptions",
      "properties": {
        "webhookData": {
          "readOnly": true,
          "items": {
            "$ref": "WebhookData"
          },
          "description": "Output only. Webhook data.",
          "type": "array"
        }
      }
    },
    "DeprecateCustomConnectorVersionRequest": {
      "description": "Request message for ConnectorsService.DeprecateCustomConnectorVersion",
      "type": "object",
      "id": "DeprecateCustomConnectorVersionRequest",
      "properties": {}
    },
    "Source": {
      "id": "Source",
      "properties": {
        "sourceType": {
          "enumDescriptions": [
            "Default SOURCE.",
            "Config Variable source type.",
            "Auth Config Variable source type."
          ],
          "description": "Type of the source.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CONFIG_VARIABLE",
            "AUTH_CONFIG_VARIABLE"
          ]
        },
        "fieldId": {
          "description": "Field identifier. For example config variable name.",
          "type": "string"
        }
      },
      "description": "Source to extract the backend from.",
      "type": "object"
    },
    "Oauth2ClientCredentials": {
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "Oauth2ClientCredentials",
      "properties": {
        "clientId": {
          "description": "Optional. The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "Secret",
          "description": "Optional. Secret version reference containing the client secret."
        }
      }
    },
    "PerSliSloEligibility": {
      "properties": {
        "eligibilities": {
          "additionalProperties": {
            "$ref": "SloEligibility"
          },
          "type": "object",
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
        }
      },
      "id": "PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WebhookData": {
      "id": "WebhookData",
      "description": "WebhookData has details of webhook configuration.",
      "properties": {
        "nextRefreshTime": {
          "format": "google-datetime",
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported.",
          "type": "string",
          "readOnly": true
        },
        "additionalVariables": {
          "description": "Output only. Additional webhook related field values.",
          "items": {
            "$ref": "ConfigVariable"
          },
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the webhook was created.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. ID to uniquely identify webhook.",
          "type": "string",
          "readOnly": true
        },
        "eventTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of event types for the webhook. This is the event types subscribed by the current webhook."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the webhook was last updated."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the Webhook",
          "readOnly": true
        },
        "eventSubscriptions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of event subscriptions which are using the webhook.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "RegionalSettings": {
      "id": "RegionalSettings",
      "description": "Regional Settings details.",
      "type": "object",
      "properties": {
        "networkConfig": {
          "description": "Optional. Regional network config.",
          "$ref": "NetworkConfig"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
          "type": "string",
          "readOnly": true
        },
        "client": {
          "type": "string",
          "description": "Optional. Client type for the regional settings."
        },
        "provisioned": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Specifies whether the region is provisioned."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Regional encryption config to hold CMEK details."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "id": "EndUserAuthenticationEndUserAuthenticationStatus",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ],
          "description": "Output only. State of Event Subscription resource.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of the state.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource."
    },
    "ListenEventRequest": {
      "id": "ListenEventRequest",
      "properties": {
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Request payload.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Expected request for ListenEvent API."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "EventSubscriptionStatus": {
      "id": "EventSubscriptionStatus",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of Event Subscription resource.",
          "enumDescriptions": [
            "Default state.",
            "EventSubscription creation is in progress.",
            "EventSubscription is in Updating status.",
            "EventSubscription is in Active state and is ready to receive events.",
            "EventSubscription is currently suspended.",
            "EventSubscription is in Error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "SUSPENDED",
            "ERROR"
          ],
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the state.",
          "readOnly": true
        }
      },
      "description": "EventSubscription Status denotes the status of the EventSubscription resource."
    },
    "FetchConnectionToolspecOverrideRequest": {
      "description": "Request message for FetchConnectionToolspecOverride API.",
      "id": "FetchConnectionToolspecOverrideRequest",
      "properties": {
        "toolNames": {
          "items": {
            "$ref": "ToolName"
          },
          "description": "Required. List of tools for which the tool spec override is to be generated.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListCustomConnectorsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "customConnectors": {
          "type": "array",
          "items": {
            "$ref": "CustomConnector"
          },
          "description": "A list of customConnectors."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for Connectors.ListCustomConnectors.",
      "id": "ListCustomConnectorsResponse"
    },
    "VpcscConfig": {
      "type": "object",
      "id": "VpcscConfig",
      "description": "This configuration provides VPCSC config for a connector.",
      "properties": {
        "defaultAllowlistedHost": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of allowlisted FQDNs for VPCSC."
        },
        "disableFirewallVpcscFlow": {
          "type": "boolean",
          "description": "Whether to disable firewall VPCSC flow."
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "JwtClaims": {
      "type": "object",
      "id": "JwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "subject": {
          "description": "Optional. Value for the \"sub\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Value for the \"aud\" claim.",
          "type": "string"
        },
        "issuer": {
          "description": "Optional. Value for the \"iss\" claim.",
          "type": "string"
        }
      }
    },
    "EndUserAuthenticationConfigOauth2ClientCredentials": {
      "type": "object",
      "id": "EndUserAuthenticationConfigOauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "$ref": "EUASecret",
          "description": "Required. string value or secret version containing the client secret."
        }
      }
    },
    "ToolspecOverride": {
      "description": "Toolspec overrides for a connection only holds the information that is to be displayed in the UI for admins.",
      "type": "object",
      "properties": {
        "tools": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "description": "Required. List of tools defined in the tool spec. Marking this field as required as this is the only field that is editable by the user in modify API so we should have at least one tool in the list.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "type": "string",
          "readOnly": true
        },
        "baseVersion": {
          "description": "Required. Represents the base version of the toolspec for which admin has added overrides.",
          "type": "string"
        }
      },
      "id": "ToolspecOverride"
    },
    "JsonSchema": {
      "type": "object",
      "properties": {
        "items": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to array values, applicable only if this is of type `array`."
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the value is read-only."
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "additionalDetails": {
          "type": "object",
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "minProperties": {
          "type": "integer",
          "description": "Minimum number of properties.",
          "format": "int32"
        },
        "multipleOf": {
          "description": "Number must be a multiple of this value.",
          "format": "double",
          "type": "number"
        },
        "$defs": {
          "description": "Definitions for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object"
        },
        "writeOnly": {
          "description": "Whether the value is write-only.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "A description of this schema."
        },
        "$comment": {
          "description": "A comment on the schema.",
          "type": "string"
        },
        "exclusiveMinimum": {
          "type": "any",
          "description": "Whether the minimum number value is exclusive."
        },
        "dependencies": {
          "description": "Dependencies for the schema.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "enum": {
          "type": "array",
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "items": {
            "type": "any"
          }
        },
        "maxItems": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of items in the array field."
        },
        "$ref": {
          "type": "string",
          "description": "A reference to another schema."
        },
        "required": {
          "description": "Whether this property is required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "patternProperties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object",
          "description": "Pattern properties for the schema."
        },
        "jdbcType": {
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "type": "string",
          "description": "JDBC datatype of the field."
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "if": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is valid."
        },
        "minimum": {
          "description": "Minimum value of the number field.",
          "type": "any"
        },
        "type": {
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "definitions": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Definitions for the schema.",
          "type": "object"
        },
        "examples": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "Examples of the value."
        },
        "additionalProperties": {
          "description": "Schema for additional properties.",
          "$ref": "JsonSchema"
        },
        "contentMediaType": {
          "description": "Media type of the content.",
          "type": "string"
        },
        "maximum": {
          "type": "any",
          "description": "Maximum value of the number field."
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "not": {
          "$ref": "JsonSchema",
          "description": "Schema that must not be valid."
        },
        "minItems": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of items in the array field."
        },
        "oneOf": {
          "type": "array",
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "then": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "minLength": {
          "description": "Minimum length of the string field.",
          "format": "int32",
          "type": "integer"
        },
        "$schema": {
          "type": "string",
          "description": "The URI defining the schema."
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length of the string field.",
          "format": "int32"
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "else": {
          "description": "Schema that must be valid if the \"if\" schema is invalid.",
          "$ref": "JsonSchema"
        },
        "maxProperties": {
          "description": "Maximum number of properties.",
          "type": "integer",
          "format": "int32"
        },
        "allOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "type": "array",
          "description": "Schema that must be valid against all of the sub-schemas."
        },
        "contains": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to at least one item in an array."
        },
        "contentEncoding": {
          "description": "Encoding of the content.",
          "type": "string"
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "anyOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          },
          "type": "array"
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "$id": {
          "description": "The URI defining the core schema meta-schema.",
          "type": "string"
        },
        "properties": {
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "exclusiveMaximum": {
          "type": "any",
          "description": "Whether the maximum number value is exclusive."
        },
        "pattern": {
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match.",
          "type": "string"
        }
      },
      "id": "JsonSchema",
      "description": "JsonSchema representation of schema metadata"
    },
    "ResourceRequests": {
      "id": "ResourceRequests",
      "type": "object",
      "description": "Resource requests defined for connection pods of a given connector type.",
      "properties": {
        "cpu": {
          "description": "Output only. CPU request.",
          "type": "string",
          "readOnly": true
        },
        "memory": {
          "readOnly": true,
          "description": "Output only. Memory request.",
          "type": "string"
        }
      }
    },
    "HPAConfig": {
      "properties": {
        "cpuUtilizationThreshold": {
          "format": "int64",
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "type": "string",
          "readOnly": true
        },
        "memoryUtilizationThreshold": {
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Autoscaling config for connector deployment system metrics.",
      "id": "HPAConfig"
    },
    "EventSubscriptionDestination": {
      "description": "Message for EventSubscription Destination to act on receiving an event",
      "id": "EventSubscriptionDestination",
      "type": "object",
      "properties": {
        "pubsub": {
          "$ref": "PubSub",
          "description": "OPTION 3: Write the event to Pub/Sub topic."
        },
        "endpoint": {
          "description": "OPTION 1: Hit an endpoint when we receive an event.",
          "$ref": "EndPoint"
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to trigger IP workflow.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT",
            "GCS",
            "PUBSUB"
          ],
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received",
            "Cloud Storage - Write the event to Cloud Storage bucket",
            "Pub/Sub - Write the event to Pub/Sub topic"
          ],
          "description": "Optional. type of the destination",
          "type": "string"
        }
      }
    },
    "AuthObject": {
      "type": "object",
      "id": "AuthObject",
      "description": "AuthObject defines a JSON schema of an authentication type.",
      "properties": {
        "isDefault": {
          "description": "Whether the object is the default one.",
          "type": "boolean"
        },
        "authKey": {
          "description": "Auth key of the object.",
          "type": "string"
        },
        "authType": {
          "type": "string",
          "description": "Auth type of the object."
        },
        "properties": {
          "type": "object",
          "description": "Properties of the object.",
          "additionalProperties": {
            "$ref": "AuthProperty"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the object."
        },
        "type": {
          "type": "string",
          "description": "Type of the object."
        },
        "additionalProperties": {
          "type": "boolean",
          "description": "Whether the object has additional properties."
        }
      }
    },
    "Settings": {
      "description": "Global Settings details.",
      "properties": {
        "payg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Flag indicates if user is in PayG model"
        },
        "vpcsc": {
          "description": "Optional. Flag indicates whether vpc-sc is enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/global/settings}",
          "readOnly": true
        },
        "tenantProjectId": {
          "type": "string",
          "description": "Output only. Tenant project id of the consumer project.",
          "readOnly": true
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "Connector": {
      "type": "object",
      "id": "Connector",
      "properties": {
        "connectorType": {
          "description": "Output only. The type of the connector.",
          "type": "string",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "CONNECTOR_TYPE_GOOGLE",
            "CONNECTOR_TYPE_TECHNICAL",
            "CONNECTOR_TYPE_THIRD_PARTY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Google connectors.",
            "Technical connectors.",
            "Third Party connectors."
          ]
        },
        "marketplaceConnectorDetails": {
          "description": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector.",
          "readOnly": true,
          "$ref": "MarketplaceConnectorDetails"
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category of the connector.",
          "type": "string"
        },
        "tags": {
          "description": "Output only. Tags of the connector.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "readOnly": true,
          "type": "string"
        },
        "webAssetsLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cloud storage location of icons etc consumed by UI."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Updated time.",
          "format": "google-datetime"
        },
        "launchStage": {
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "readOnly": true,
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "eventingDetails": {
          "description": "Output only. Eventing details. Will be null if eventing is not supported.",
          "$ref": "EventingDetails",
          "readOnly": true
        },
        "documentationUri": {
          "description": "Output only. Link to documentation page.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Connectors indicates a specific connector type, e.x. Salesforce, SAP etc."
    },
    "WithdrawCustomConnectorVersionRequest": {
      "description": "Request message for ConnectorsService.WithdrawCustomConnectorVersion",
      "type": "object",
      "properties": {},
      "id": "WithdrawCustomConnectorVersionRequest"
    },
    "LogicalExpression": {
      "description": "Struct for representing boolean expressions.",
      "type": "object",
      "properties": {
        "logicalExpressions": {
          "items": {
            "$ref": "LogicalExpression"
          },
          "type": "array",
          "description": "Optional. A list of nested conditions to be compared."
        },
        "fieldComparisons": {
          "items": {
            "$ref": "FieldComparison"
          },
          "description": "Optional. A list of fields to be compared.",
          "type": "array"
        },
        "logicalOperator": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "description": "Optional. The logical operator to use between the fields and conditions.",
          "enumDescriptions": [
            "The default value.",
            "AND operator; The conditions must all be true.",
            "OR operator; At least one of the conditions must be true."
          ],
          "type": "string"
        }
      },
      "id": "LogicalExpression"
    },
    "ListCustomConnectorVersionsResponse": {
      "type": "object",
      "description": "Response message for Connectors.ListCustomConnectorVersions.",
      "id": "ListCustomConnectorVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "customConnectorVersions": {
          "type": "array",
          "items": {
            "$ref": "CustomConnectorVersion"
          },
          "description": "A list of connector versions."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "description": "Optional. The state of the policy.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "type": "string"
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "name": {
          "type": "string",
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Defines policies to service maintenance events.",
      "type": "object"
    },
    "EndUserAuthenticationConfig": {
      "id": "EndUserAuthenticationConfig",
      "type": "object",
      "properties": {
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "EndUserAuthenticationConfigOauth2ClientCredentials"
        },
        "sshPublicKey": {
          "$ref": "EndUserAuthenticationConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "type": "string",
          "description": "The type of authentication configured.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ]
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlow"
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearer"
        },
        "userPassword": {
          "$ref": "EndUserAuthenticationConfigUserPassword",
          "description": "UserPassword."
        },
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          },
          "description": "Optional. List containing additional auth configs."
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged"
        }
      },
      "description": "EndUserAuthenticationConfig defines details of a authentication configuration for EUC"
    },
    "Destination": {
      "type": "object",
      "id": "Destination",
      "properties": {
        "serviceAttachment": {
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string",
          "deprecated": true
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port is the target port number that is accepted by the destination."
        }
      }
    },
    "JMS": {
      "description": "JMS message denotes the source of the event",
      "id": "JMS",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the JMS source. i.e. queueName or topicName",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default state.",
            "JMS Queue.",
            "JMS Topic."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "QUEUE",
            "TOPIC"
          ],
          "description": "Optional. Type of the JMS Source. i.e. Queue or Topic",
          "type": "string"
        }
      }
    },
    "ListProvidersResponse": {
      "properties": {
        "providers": {
          "description": "A list of providers.",
          "type": "array",
          "items": {
            "$ref": "Provider"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "id": "ListProvidersResponse",
      "type": "object",
      "description": "Response message for Connectors.ListProviders."
    },
    "ListConnectorVersionsResponse": {
      "id": "ListConnectorVersionsResponse",
      "type": "object",
      "properties": {
        "connectorVersions": {
          "items": {
            "$ref": "ConnectorVersion"
          },
          "type": "array",
          "description": "A list of connector versions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for Connectors.ListConnectorVersions."
    },
    "ExtractionRules": {
      "id": "ExtractionRules",
      "properties": {
        "extractionRule": {
          "type": "array",
          "items": {
            "$ref": "ExtractionRule"
          },
          "description": "Collection of Extraction Rule."
        }
      },
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "type": "object"
    },
    "FetchAuthSchemaResponse": {
      "description": "Response message for Connectors.GetAuthSchema.",
      "id": "FetchAuthSchemaResponse",
      "properties": {
        "jsonSchema": {
          "$ref": "JsonAuthSchema",
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format."
        },
        "authSchemas": {
          "description": "List of AuthSchemas.",
          "items": {
            "$ref": "AuthSchema"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DestinationConfigTemplate": {
      "properties": {
        "key": {
          "description": "Key of the destination.",
          "type": "string"
        },
        "max": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of destinations supported for this key."
        },
        "displayName": {
          "description": "Display name of the parameter.",
          "type": "string"
        },
        "isAdvanced": {
          "description": "Whether the current destination tempalate is part of Advanced settings",
          "type": "boolean"
        },
        "autocompleteSuggestions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Autocomplete suggestions for destination URL field."
        },
        "description": {
          "type": "string",
          "description": "Description."
        },
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of destinations supported for this key."
        },
        "regexPattern": {
          "description": "Regex pattern for host.",
          "type": "string"
        },
        "defaultPort": {
          "format": "int32",
          "description": "The default port.",
          "type": "integer"
        },
        "portFieldType": {
          "description": "Whether port number should be provided by customers.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector.",
      "id": "DestinationConfigTemplate"
    },
    "RuntimeActionSchema": {
      "type": "object",
      "id": "RuntimeActionSchema",
      "description": "Schema of a runtime action.",
      "properties": {
        "resultSchemaAsString": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Result schema as string."
        },
        "action": {
          "readOnly": true,
          "description": "Output only. Name of the action.",
          "type": "string"
        },
        "resultMetadata": {
          "readOnly": true,
          "items": {
            "$ref": "ResultMetadata"
          },
          "description": "Output only. List of result field metadata.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Brief Description of action"
        },
        "inputSchemaAsString": {
          "readOnly": true,
          "description": "Output only. Input schema as string.",
          "type": "string"
        },
        "resultJsonSchema": {
          "readOnly": true,
          "description": "Output only. JsonSchema representation of this action's result metadata",
          "$ref": "JsonSchema"
        },
        "inputParameters": {
          "readOnly": true,
          "items": {
            "$ref": "InputParameter"
          },
          "description": "Output only. List of input parameter metadata for the action.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display Name of action to be shown on client side"
        },
        "inputJsonSchema": {
          "$ref": "JsonSchema",
          "description": "Output only. JsonSchema representation of this action's input metadata",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_PROJECT",
            "GCP_RESOURCE",
            "GCP_SECRETMANAGER_SECRET",
            "GCP_SECRETMANAGER_SECRET_VERSION"
          ],
          "description": "Optional. Different types of resource supported.",
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Cloud Project Resource.",
            "Any Google Cloud Resource which is identified uniquely by IAM.",
            "Google Cloud Secret Resource.",
            "Google Cloud Secret Version Resource."
          ]
        },
        "pathTemplate": {
          "description": "Optional. Template to uniquely represent a Google Cloud resource in a format IAM expects This is a template that can have references to other values provided in the config variable template.",
          "type": "string"
        }
      },
      "description": "Resource definition",
      "type": "object",
      "id": "Resource"
    },
    "StringListValues": {
      "properties": {
        "listValues": {
          "type": "array",
          "description": "Required. The list of string values.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "StringListValues is a message to store a list of string values.",
      "type": "object",
      "id": "StringListValues"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "ValidateCustomConnectorSpecResponse": {
      "id": "ValidateCustomConnectorSpecResponse",
      "type": "object",
      "description": "Response message for ConnectorsService.ValidateCustomConnectorSpec",
      "properties": {
        "errorMessage": {
          "description": "Error message. The spec is valid if the error message is empty.",
          "type": "string"
        }
      }
    },
    "RuntimeEntitySchema": {
      "id": "RuntimeEntitySchema",
      "properties": {
        "jsonSchema": {
          "description": "Output only. JsonSchema representation of this entity's metadata",
          "readOnly": true,
          "$ref": "JsonSchema"
        },
        "operations": {
          "items": {
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST entities.",
              "This operation means entity type supports GET entity.",
              "This operation means entity type supports CREATE entity.",
              "This operation means entity type supports UPDATE entity.",
              "This operation means entity type supports DELETE entity."
            ]
          },
          "description": "List of operations supported by this entity",
          "type": "array"
        },
        "fields": {
          "readOnly": true,
          "items": {
            "$ref": "Field"
          },
          "type": "array",
          "description": "Output only. List of fields in the entity."
        },
        "entity": {
          "type": "string",
          "description": "Output only. Name of the entity.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Schema of a runtime entity."
    },
    "PublishStatus": {
      "type": "object",
      "properties": {
        "publishTime": {
          "description": "Output only. Publish time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "publishedSource": {
          "description": "Output only. Custom connector name. Will be set on the partner connector. Format: providers/customconnectors/connectors//versions/",
          "readOnly": true,
          "type": "string"
        },
        "publishedAs": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Partner connector name. Will be set on the custom connector. Format: providers/partner/connectors//versions/"
        },
        "publishState": {
          "readOnly": true,
          "description": "Output only. Publish state of the custom connector.",
          "type": "string",
          "enum": [
            "PUBLISH_STATE_UNSPECIFIED",
            "PUBLISHED",
            "PUBLISH_IN_PROGRESS",
            "UNPUBLISHED"
          ],
          "enumDescriptions": [
            "State Unspecified.",
            "Connector version has been published as partner connector version.",
            "Connector version is in the process of being published as partner connector version.",
            "Connector version has been unpublished as partner connector version"
          ]
        }
      },
      "description": "Publish status of a custom connector.",
      "id": "PublishStatus"
    },
    "ModifyConnectionToolspecOverrideResponse": {
      "id": "ModifyConnectionToolspecOverrideResponse",
      "description": "Response message for ModifyConnectionToolspecOverride API.",
      "type": "object",
      "properties": {
        "toolspecOverrides": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      }
    },
    "EndUserAuthenticationNotifyEndpointDestination": {
[...]
