{
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "title": "Connectors API",
  "id": "connectors:v1",
  "version": "v1",
  "name": "connectors",
  "schemas": {
    "ListActionsResponse": {
      "description": "Response message for ListActions API",
      "type": "object",
      "id": "ListActionsResponse",
      "properties": {
        "actions": {
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "description": "list of actions",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "token for next page"
        }
      }
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPoint": {
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
      "type": "object",
      "description": "Endpoint message includes details of the Destination endpoint.",
      "properties": {
        "headers": {
          "items": {
            "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader"
          },
          "type": "array",
          "description": "Optional. List of Header to be added to the Endpoint."
        },
        "endpointUri": {
          "description": "Required. The URI of the Endpoint.",
          "type": "string"
        }
      }
    },
    "DestinationConfig": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. The key is the destination identifier that is supported by the Connector."
        },
        "destinations": {
          "description": "Optional. The destinations for the key.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        }
      },
      "id": "DestinationConfig",
      "type": "object",
      "description": "Define the Connectors target endpoint."
    },
    "EndUserAuthenticationConfigOauth2ClientCredentials": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "$ref": "EUASecret",
          "description": "Required. string value or secret version containing the client secret."
        }
      },
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object",
      "id": "EndUserAuthenticationConfigOauth2ClientCredentials"
    },
    "EventingStatus": {
      "description": "EventingStatus indicates the state of eventing.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "description": "Output only. State."
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of error if State is set to \"ERROR\".",
          "readOnly": true
        }
      },
      "id": "EventingStatus",
      "type": "object"
    },
    "RoleGrant": {
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user.",
      "id": "RoleGrant",
      "properties": {
        "resource": {
          "description": "Optional. Resource on which the roles needs to be granted for the principal.",
          "$ref": "Resource"
        },
        "roles": {
          "type": "array",
          "description": "Optional. List of roles that need to be granted.",
          "items": {
            "type": "string"
          }
        },
        "principal": {
          "description": "Optional. Principal/Identity for whom the role need to assigned.",
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ]
        },
        "helperTextTemplate": {
          "description": "Optional. Template that UI can use to provide helper text to customers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaintenanceSettings": {
      "properties": {
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          }
        }
      },
      "type": "object",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "id": "MaintenanceSettings"
    },
    "EndUserAuthenticationConfigUserPassword": {
      "type": "object",
      "description": "Parameters to support Username and Password Authentication.",
      "id": "EndUserAuthenticationConfigUserPassword",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username."
        },
        "password": {
          "description": "Required. string value or secret version reference containing the password.",
          "$ref": "EUASecret"
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "type": "object",
      "properties": {
        "host": {
          "description": "For publicly routable host.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Optional. The port is the target port number that is accepted by the destination.",
          "type": "integer"
        },
        "serviceAttachment": {
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "EndUserAuthenticationConfigVariable": {
      "type": "object",
      "description": "EndUserAuthenticationConfigVariable represents a configuration variable present in a EndUserAuthentication.",
      "properties": {
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Value is an integer"
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Required. Key of the config variable."
        },
        "secretValue": {
          "description": "Value is a secret",
          "$ref": "EUASecret"
        },
        "stringValue": {
          "type": "string",
          "description": "Value is a string."
        }
      },
      "id": "EndUserAuthenticationConfigVariable"
    },
    "ListRuntimeEntitySchemasResponse": {
      "id": "ListRuntimeEntitySchemasResponse",
      "type": "object",
      "properties": {
        "runtimeEntitySchemas": {
          "description": "Runtime entity schemas.",
          "items": {
            "$ref": "RuntimeEntitySchema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Response message for ConnectorsService.ListRuntimeEntitySchemas."
    },
    "StandardAction": {
      "type": "object",
      "description": "Standard action",
      "id": "StandardAction",
      "properties": {
        "name": {
          "description": "Name of the standard action.",
          "type": "string"
        }
      }
    },
    "SslConfigTemplate": {
      "properties": {
        "serverCertType": {
          "type": "array",
          "items": {
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ],
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "type": "string"
          },
          "description": "List of supported Server Cert Types"
        },
        "sslType": {
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Controls the ssl type for the given connector version",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "isTlsMandatory": {
          "description": "Boolean for determining if the connector version mandates TLS.",
          "type": "boolean"
        },
        "clientCertType": {
          "type": "array",
          "description": "List of supported Client Cert Types",
          "items": {
            "type": "string",
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ],
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ]
          }
        },
        "additionalVariables": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array",
          "description": "Any additional fields that need to be rendered"
        }
      },
      "id": "SslConfigTemplate",
      "description": "Ssl config details of a connector version",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ConnectionSchemaMetadata": {
      "id": "ConnectionSchemaMetadata",
      "properties": {
        "entities": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of entity names.",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REFRESHING",
            "UPDATED",
            "REFRESHING_SCHEMA_METADATA",
            "UPDATED_SCHEMA_METADATA",
            "REFRESH_SCHEMA_METADATA_FAILED",
            "REFRESHING_FULL_SCHEMA",
            "UPDATED_FULL_SCHEMA"
          ],
          "enumDescriptions": [
            "Default state.",
            "Schema refresh is in progress.",
            "Schema has been updated.",
            "Schema refresh for metadata is in progress.",
            "Schema metadata has been updated.",
            "Failed to refresh schema metadata",
            "Triggered full schema refresh",
            "Updated full schema"
          ],
          "type": "string",
          "description": "Output only. The current state of runtime schema."
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of actions.",
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the connection runtime schema was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "refreshTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the connection runtime schema refresh was triggered."
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message for users."
        },
        "name": {
          "description": "Output only. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "ConnectionSchemaMetadata is the singleton resource of each connection. It includes the entity and action names of runtime resources exposed by a connection backend.",
      "type": "object"
    },
    "DeprecateCustomConnectorVersionRequest": {
      "properties": {},
      "id": "DeprecateCustomConnectorVersionRequest",
      "type": "object",
      "description": "Request message for ConnectorsService.DeprecateCustomConnectorVersion"
    },
    "ConnectionStatus": {
      "type": "object",
      "description": "ConnectionStatus indicates the state of the connection.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error.",
            "Connection is not running because the authorization configuration is not complete."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ],
          "description": "State.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "description": {
          "type": "string",
          "description": "Description."
        }
      },
      "id": "ConnectionStatus"
    },
    "RepairEventingRequest": {
      "description": "Request message for ConnectorsService.RepairEventing",
      "type": "object",
      "id": "RepairEventingRequest",
      "properties": {}
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "properties": {
        "toolspecOverride": {
          "description": "Required. Toolspec overrides to be modified.",
          "$ref": "ToolspecOverride"
        }
      },
      "type": "object",
      "description": "Request message for ModifyConnectionToolspecOverride API.",
      "id": "ModifyConnectionToolspecOverrideRequest"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "softwareVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
        },
        "sloMetadata": {
          "$ref": "SloMetadata",
          "readOnly": true,
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
        },
        "consumerProjectNumber": {
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required.",
          "type": "string"
        },
        "notificationParameters": {
          "type": "object",
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "additionalProperties": {
            "$ref": "NotificationParameter"
          }
        },
        "maintenanceSchedules": {
          "additionalProperties": {
            "$ref": "MaintenanceSchedule"
          },
          "type": "object",
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
        },
        "tenantProjectId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
        },
        "producerMetadata": {
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "MaintenanceSettings"
        },
        "slmInstanceTemplate": {
          "type": "string",
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
        },
        "name": {
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details.",
          "type": "string"
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "maintenancePolicyNames": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "consumerDefinedName": {
          "type": "string",
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "type": "string"
        },
        "provisionedResources": {
          "type": "array",
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "items": {
            "$ref": "ProvisionedResource"
          },
          "readOnly": true
        }
      },
      "id": "Instance"
    },
    "Schedule": {
      "description": "Configure the schedule.",
      "type": "object",
      "properties": {
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "description": "Allows to define schedule that runs specified day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "id": "Schedule"
    },
    "EventSubscription": {
      "description": "represents the Connector's EventSubscription resource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}"
        },
        "triggerConfigVariables": {
          "type": "array",
          "description": "Optional. Configuration for configuring the trigger",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "eventTypeId": {
          "type": "string",
          "description": "Optional. Event type id of the event of current EventSubscription."
        },
        "jms": {
          "description": "Optional. JMS is the source for the event listener.",
          "$ref": "JMS"
        },
        "filter": {
          "description": "Optional. Filter for the event subscription. Incoming events are filtered based on the filter expression.",
          "type": "string"
        },
        "subscriber": {
          "description": "Optional. name of the Subscriber for the current EventSubscription.",
          "type": "string"
        },
        "subscriberLink": {
          "type": "string",
          "description": "Optional. Link for Subscriber of the current EventSubscription."
        },
        "status": {
          "$ref": "EventSubscriptionStatus",
          "description": "Optional. Status indicates the status of the event subscription resource"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "type": "string"
        },
        "destinations": {
          "$ref": "EventSubscriptionDestination",
          "description": "Optional. The destination to hit when we receive an event"
        }
      },
      "id": "EventSubscription"
    },
    "LockConfig": {
      "properties": {
        "locked": {
          "description": "Optional. Indicates whether or not the connection is locked.",
          "type": "boolean"
        },
        "reason": {
          "type": "string",
          "description": "Optional. Describes why a connection is locked."
        }
      },
      "id": "LockConfig",
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "type": "object"
    },
    "Oauth2ClientCredentials": {
      "properties": {
        "clientId": {
          "description": "Optional. The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "Secret",
          "description": "Optional. Secret version reference containing the client secret."
        }
      },
      "type": "object",
      "id": "Oauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details."
    },
    "Oauth2AuthCodeFlowGoogleManaged": {
      "id": "Oauth2AuthCodeFlowGoogleManaged",
      "properties": {
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details."
    },
    "ConfigVariableTemplate": {
      "properties": {
        "multipleSelectConfig": {
          "$ref": "MultipleSelectConfig",
          "description": "Optional. MultipleSelectConfig represents the multiple options for a config variable."
        },
        "validationRegex": {
          "type": "string",
          "description": "Optional. Regular expression in RE2 syntax used for validating the `value` of a `ConfigVariable`."
        },
        "requiredCondition": {
          "$ref": "LogicalExpression",
          "description": "Optional. Condition under which a field would be required. The condition can be represented in the form of a logical expression."
        },
        "enumOptions": {
          "type": "array",
          "items": {
            "$ref": "EnumOption"
          },
          "description": "Optional. Enum options. To be populated if `ValueType` is `ENUM`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description."
        },
        "isAdvanced": {
          "type": "boolean",
          "description": "Optional. Indicates if current template is part of advanced settings"
        },
        "displayName": {
          "description": "Optional. Display name of the parameter.",
          "type": "string"
        },
        "required": {
          "description": "Optional. Flag represents that this `ConfigVariable` must be provided for a connection.",
          "type": "boolean"
        },
        "key": {
          "description": "Optional. Key of the config variable.",
          "type": "string"
        },
        "enumSource": {
          "type": "string",
          "enumDescriptions": [
            "Api type unspecified.",
            "list event types."
          ],
          "enum": [
            "ENUM_SOURCE_UNSPECIFIED",
            "EVENT_TYPES_API"
          ],
          "description": "Optional. enum source denotes the source of api to fill the enum options"
        },
        "valueType": {
          "description": "Optional. Type of the parameter: string, int, bool etc. consider custom type for the benefit for the validation.",
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Value type is string.",
            "Value type is integer.",
            "Value type is boolean.",
            "Value type is secret.",
            "Value type is enum.",
            "Value type is authorization code.",
            "Encryption Key.",
            "Value type is multiple select."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "SECRET",
            "ENUM",
            "AUTHORIZATION_CODE",
            "ENCRYPTION_KEY",
            "MULTIPLE_SELECT"
          ]
        },
        "roleGrant": {
          "$ref": "RoleGrant",
          "description": "Optional. Role grant configuration for the config variable."
        },
        "state": {
          "description": "Output only. State of the config variable.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Status is unspecified.",
            "Config variable is active",
            "Config variable is deprecated."
          ],
          "type": "string"
        },
        "locationType": {
          "description": "Optional. Location Type denotes where this value should be sent in BYOC connections.",
          "type": "string",
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "HEADER",
            "PAYLOAD",
            "QUERY_PARAM",
            "PATH_PARAM"
          ],
          "enumDescriptions": [
            "Location type unspecified.",
            "Request header.",
            "Request Payload.",
            "Request query param.",
            "Request path param."
          ]
        },
        "authorizationCodeLink": {
          "$ref": "AuthorizationCodeLink",
          "description": "Optional. Authorization code link options. To be populated if `ValueType` is `AUTHORIZATION_CODE`"
        }
      },
      "id": "ConfigVariableTemplate",
      "description": "ConfigVariableTemplate provides metadata about a `ConfigVariable` that is used in a Connection.",
      "type": "object"
    },
    "AuthField": {
      "id": "AuthField",
      "type": "object",
      "properties": {
        "dataType": {
          "type": "string",
          "description": "Data type of the field."
        },
        "description": {
          "description": "Description of the field.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key of the field."
        }
      },
      "description": "AuthField defines a field in an authentication type."
    },
    "ResultMetadata": {
      "description": "Metadata of result field.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A brief description of the field."
        },
        "field": {
          "type": "string",
          "description": "Name of the result field."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this action's result",
          "$ref": "JsonSchema"
        },
        "dataType": {
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        }
      },
      "type": "object",
      "id": "ResultMetadata"
    },
    "AuthSchema": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the schema."
        },
        "authType": {
          "description": "Auth type of the schema.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether the auth schema is the default one."
        },
        "authFields": {
          "type": "array",
          "items": {
            "$ref": "AuthField"
          },
          "description": "List of AuthFields."
        },
        "authKey": {
          "description": "Auth key of the schema.",
          "type": "string"
        }
      },
      "id": "AuthSchema",
      "description": "AuthSchema defines the schema of an authentication type."
    },
    "PubSub": {
      "type": "object",
      "id": "PubSub",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Pub/Sub message attributes to be added to the Pub/Sub message."
        },
        "projectId": {
          "description": "Required. The project id which has the Pub/Sub topic.",
          "type": "string"
        },
        "topicId": {
          "description": "Required. The topic id of the Pub/Sub topic.",
          "type": "string"
        },
        "configVariables": {
          "type": "array",
          "description": "Optional. Configuration for configuring the trigger",
          "items": {
            "$ref": "ConfigVariable"
          }
        }
      },
      "description": "Pub/Sub message includes details of the Destination Pub/Sub topic."
    },
    "ListConnectorVersionsResponse": {
      "type": "object",
      "description": "Response message for Connectors.ListConnectorVersions.",
      "properties": {
        "connectorVersions": {
          "items": {
            "$ref": "ConnectorVersion"
          },
          "description": "A list of connector versions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListConnectorVersionsResponse"
    },
    "EncryptionKey": {
      "description": "Encryption Key value.",
      "id": "EncryptionKey",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Managed.",
            "Customer Managed."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "CUSTOMER_MANAGED"
          ],
          "description": "Optional. Specifies the type of the encryption key."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The [KMS key name] with which the content of the Operation is encrypted. The expected format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`. Will be empty string if google managed."
        }
      },
      "type": "object"
    },
    "PublishStatus": {
      "description": "Publish status of a custom connector.",
      "properties": {
        "publishTime": {
          "description": "Output only. Publish time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "publishState": {
          "enum": [
            "PUBLISH_STATE_UNSPECIFIED",
            "PUBLISHED",
            "PUBLISH_IN_PROGRESS",
            "UNPUBLISHED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Publish state of the custom connector.",
          "enumDescriptions": [
            "State Unspecified.",
            "Connector version has been published as partner connector version.",
            "Connector version is in the process of being published as partner connector version.",
            "Connector version has been unpublished as partner connector version"
          ]
        },
        "publishedSource": {
          "description": "Output only. Custom connector name. Will be set on the partner connector. Format: providers/customconnectors/connectors//versions/",
          "readOnly": true,
          "type": "string"
        },
        "publishedAs": {
          "description": "Output only. Partner connector name. Will be set on the custom connector. Format: providers/partner/connectors//versions/",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PublishStatus"
    },
    "WebhookSubscriptions": {
      "description": "WebhookSubscriptions has details of webhook subscriptions.",
      "id": "WebhookSubscriptions",
      "type": "object",
      "properties": {
        "webhookData": {
          "readOnly": true,
          "items": {
            "$ref": "WebhookData"
          },
          "description": "Output only. Webhook data.",
          "type": "array"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "EventType": {
      "type": "object",
      "id": "EventType",
      "description": "EventType includes fields.",
      "properties": {
        "eventPayloadSchema": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Schema of webhook event payload."
        },
        "entityType": {
          "readOnly": true,
          "description": "Output only. Runtime entity type name. Will be null if entity type map is not available. Used for read before send feature.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the eventtype. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}/eventtypes/{eventtype} Only global location is supported for Connector resource.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Updated time."
        },
        "enrichedEventPayloadSchema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Schema of the event payload after enriched. Will be null if read before send is not supported."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "type": "string"
        },
        "eventTypeId": {
          "readOnly": true,
          "description": "Output only. Event type id. Example: `ticket.created`.",
          "type": "string"
        },
        "idPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Id path denotes the path of id in webhook payload."
        }
      }
    },
    "SloMetadata": {
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "type": "object",
      "properties": {
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "NodeSloMetadata"
          },
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "type": "array"
        }
      },
      "id": "SloMetadata"
    },
    "ListCustomConnectorsResponse": {
      "type": "object",
      "description": "Response message for Connectors.ListCustomConnectors.",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "customConnectors": {
          "items": {
            "$ref": "CustomConnector"
          },
          "type": "array",
          "description": "A list of customConnectors."
        }
      },
      "id": "ListCustomConnectorsResponse"
    },
    "RegionalSettings": {
      "properties": {
        "provisioned": {
          "description": "Output only. Specifies whether the region is provisioned.",
          "readOnly": true,
          "type": "boolean"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Regional encryption config to hold CMEK details."
        },
        "networkConfig": {
          "description": "Optional. Regional network config.",
          "$ref": "NetworkConfig"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
          "type": "string",
          "readOnly": true
        },
        "client": {
          "description": "Optional. Client type for the regional settings.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RegionalSettings",
      "description": "Regional Settings details."
    },
    "DestinationConfigTemplate": {
      "id": "DestinationConfigTemplate",
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of destinations supported for this key."
        },
        "autocompleteSuggestions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Autocomplete suggestions for destination URL field."
        },
        "defaultPort": {
          "type": "integer",
          "description": "The default port.",
          "format": "int32"
        },
        "portFieldType": {
          "description": "Whether port number should be provided by customers.",
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "key": {
          "description": "Key of the destination.",
          "type": "string"
        },
        "isAdvanced": {
          "description": "Whether the current destination tempalate is part of Advanced settings",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description."
        },
        "max": {
          "description": "The maximum number of destinations supported for this key.",
          "format": "int32",
          "type": "integer"
        },
        "regexPattern": {
          "type": "string",
          "description": "Regex pattern for host."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the parameter."
        }
      },
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector.",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          },
          "description": "Connections."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for ConnectorsService.ListConnections"
    },
    "RefreshConnectionSchemaMetadataRequest": {
      "description": "Request message for ConnectorsService.RefreshConnectionSchemaMetadata.",
      "type": "object",
      "id": "RefreshConnectionSchemaMetadataRequest",
      "properties": {}
    },
    "EnrichmentConfig": {
      "type": "object",
      "description": "Data enrichment configuration.",
      "properties": {
        "appendAcl": {
          "type": "boolean",
          "description": "Optional. Append ACL to the event."
        }
      },
      "id": "EnrichmentConfig"
    },
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource.",
      "type": "object",
      "id": "EndUserAuthenticationEndUserAuthenticationStatus",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the state.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ],
          "readOnly": true,
          "description": "Output only. State of Event Subscription resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ]
        }
      }
    },
    "WebhookData": {
      "description": "WebhookData has details of webhook configuration.",
      "id": "WebhookData",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the webhook was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "additionalVariables": {
          "items": {
            "$ref": "ConfigVariable"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Additional webhook related field values."
        },
        "eventSubscriptions": {
          "description": "Output only. List of event subscriptions which are using the webhook.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the webhook was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID to uniquely identify webhook."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Webhook"
        },
        "eventTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of event types for the webhook. This is the event types subscribed by the current webhook."
        },
        "nextRefreshTime": {
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AuthConfig": {
      "properties": {
        "oauth2AuthCodeFlowGoogleManaged": {
          "$ref": "Oauth2AuthCodeFlowGoogleManaged",
          "description": "Oauth2AuthCodeFlowGoogleManaged."
        },
        "oauth2JwtBearer": {
          "$ref": "Oauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "SshPublicKey"
        },
        "authType": {
          "description": "Optional. The type of authentication configured.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "type": "string"
        },
        "userPassword": {
          "$ref": "UserPassword",
          "description": "UserPassword."
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "Oauth2AuthCodeFlow"
        },
        "oauth2ClientCredentials": {
          "$ref": "Oauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "additionalVariables": {
          "type": "array",
          "description": "Optional. List containing additional auth configs.",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "authKey": {
          "description": "Optional. Identifier key for auth config",
          "type": "string"
        }
      },
      "id": "AuthConfig",
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object"
    },
    "ListenEventResponse": {
      "description": "Expected response for ListenEvent API.",
      "properties": {},
      "id": "ListenEventResponse",
      "type": "object"
    },
    "WeeklyCycle": {
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          },
          "type": "array"
        }
      },
      "id": "WeeklyCycle",
      "type": "object"
    },
    "CustomConnector": {
      "description": "CustomConnector represents the custom connector defined by the customer as part of byoc.",
      "properties": {
        "allMarketplaceVersions": {
          "type": "array",
          "description": "Output only. All marketplace versions.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime"
        },
        "logo": {
          "type": "string",
          "description": "Optional. Logo of the resource."
        },
        "publishedMarketplaceVersions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Published marketplace versions.",
          "type": "array",
          "readOnly": true
        },
        "activeConnectorVersions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Active connector versions.",
          "items": {
            "type": "string"
          }
        },
        "allConnectorVersions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. All connector versions.",
          "readOnly": true,
          "type": "array"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the CustomConnector. Format: projects/{project}/locations/{location}/customConnectors/{connector}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time.",
          "format": "google-datetime"
        },
        "customConnectorType": {
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "type": "string",
          "description": "Required. Type of the custom connector.",
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ]
        },
        "displayName": {
          "description": "Optional. Display name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomConnector"
    },
    "NotificationParameter": {
      "description": "Contains notification related data.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of string values. e.g. instance's replica information."
        }
      },
      "type": "object",
      "id": "NotificationParameter"
    },
    "AuthorizationCodeLink": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Optional. The client ID assigned to the Google Cloud Connectors OAuth app for the connector data source."
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE for the auth code flow.",
          "type": "boolean"
        },
        "omitQueryParams": {
          "type": "boolean",
          "description": "Optional. Omit query params from the redirect URI."
        },
        "scopes": {
          "type": "array",
          "description": "Optional. The scopes for which the user will authorize Google Cloud Connectors on the connector data source.",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Optional. The base URI the user must click to trigger the authorization code login flow.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. The client secret assigned to the Google Cloud Connectors OAuth app for the connector data source.",
          "$ref": "Secret"
        }
      },
      "description": "This configuration captures the details required to render an authorization link for the OAuth Authorization Code Flow.",
      "type": "object",
      "id": "AuthorizationCodeLink"
    },
    "ConnectorVersion": {
      "type": "object",
      "description": "ConnectorVersion indicates a specific version of a connector.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Updated time.",
          "readOnly": true
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "type": "string",
          "readOnly": true
        },
        "configVariableTemplates": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of config variables needed to create a connection."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Created time."
        },
        "schemaRefreshConfig": {
          "description": "Connection Schema Refresh Config",
          "$ref": "SchemaRefreshConfig"
        },
        "authConfigTemplates": {
          "description": "Output only. List of auth configs supported by the Connector Version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "releaseVersion": {
          "readOnly": true,
          "description": "Output only. ReleaseVersion of the connector, for example: \"1.0.1-alpha\".",
          "type": "string"
        },
        "authOverrideEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Flag to mark the dynamic auth override."
        },
        "isCustomActionsSupported": {
          "type": "boolean",
          "description": "Output only. Is custom actions supported.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Version. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version} Only global location is supported for Connector resource."
        },
        "vpcscConfig": {
          "readOnly": true,
          "$ref": "VpcscConfig",
          "description": "Output only. VPCSC config for the connector."
        },
        "roleGrants": {
          "description": "Output only. Role grant configurations for this connector version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RoleGrant"
          }
        },
        "sslConfigTemplate": {
          "$ref": "SslConfigTemplate",
          "readOnly": true,
          "description": "Output only. Ssl configuration supported by the Connector."
        },
        "eventingConfigTemplate": {
          "$ref": "EventingConfigTemplate",
          "description": "Output only. Eventing configuration supported by the Connector.",
          "readOnly": true
        },
        "supportedStandardActions": {
          "items": {
            "$ref": "StandardAction"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Supported standard actions."
        },
        "labels": {
          "type": "object",
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "destinationConfigTemplates": {
          "description": "Output only. List of destination configs needed to create a connection.",
          "items": {
            "$ref": "DestinationConfigTemplate"
          },
          "type": "array",
          "readOnly": true
        },
        "egressControlConfig": {
          "$ref": "EgressControlConfig",
          "description": "Output only. Configuration for Egress Control.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name.",
          "type": "string",
          "readOnly": true
        },
        "isCustomEntitiesSupported": {
          "description": "Output only. Is custom entities supported.",
          "type": "boolean",
          "readOnly": true
        },
        "supportedRuntimeFeatures": {
          "$ref": "SupportedRuntimeFeatures",
          "description": "Output only. Information about the runtime features supported by the Connector.",
          "readOnly": true
        },
        "unsupportedConnectionTypes": {
          "items": {
            "enum": [
              "CONNECTION_TYPE_UNSPECIFIED",
              "CONNECTION_WITH_EVENTING",
              "ONLY_CONNECTION",
              "ONLY_EVENTING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Connection type is unspecified.",
              "Connection with eventing.",
              "Only connection.",
              "Only eventing."
            ]
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Unsupported connection types."
        },
        "connectorInfraConfig": {
          "$ref": "ConnectorInfraConfig",
          "description": "Output only. Infra configs supported by Connector.",
          "readOnly": true
        },
        "roleGrant": {
          "description": "Output only. Role grant configuration for this config variable. It will be DEPRECATED soon.",
          "$ref": "RoleGrant",
          "readOnly": true
        },
        "supportedStandardEntities": {
          "items": {
            "$ref": "StandardEntity"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Supported standard entities."
        }
      },
      "id": "ConnectorVersion"
    },
    "EventingConfigTemplate": {
      "description": "Eventing Config details of a connector version. next: 14",
      "id": "EventingConfigTemplate",
      "properties": {
        "registrationDestinationConfig": {
          "$ref": "DestinationConfigTemplate",
          "description": "Registration host destination config template."
        },
        "enrichmentSupported": {
          "type": "boolean",
          "description": "Enrichment Supported."
        },
        "eventListenerType": {
          "description": "The type of the event listener for a specific connector.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "enum": [
            "EVENT_LISTENER_TYPE_UNSPECIFIED",
            "WEBHOOK_LISTENER",
            "JMS_LISTENER"
          ]
        },
        "sslConfigTemplate": {
          "description": "SSL Config template for the connector version.",
          "$ref": "SslConfigTemplate"
        },
        "additionalVariables": {
          "description": "Additional fields that need to be rendered.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array"
        },
        "autoRegistrationSupported": {
          "description": "Auto Registration supported.",
          "type": "boolean"
        },
        "encryptionKeyTemplate": {
          "description": "Encryption key (can be either Google managed or CMEK).",
          "$ref": "ConfigVariableTemplate"
        },
        "proxyDestinationConfig": {
          "$ref": "DestinationConfigTemplate",
          "description": "Proxy destination config template."
        },
        "authConfigTemplates": {
          "description": "AuthConfigTemplates represents the auth values for the webhook adapter.",
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "autoRefresh": {
          "description": "Auto refresh to extend webhook life.",
          "type": "boolean"
        },
        "triggerConfigVariables": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "description": "Trigger Config fields that needs to be rendered"
        },
        "listenerAuthConfigTemplates": {
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "description": "ListenerAuthConfigTemplates represents the auth values for the event listener.",
          "type": "array"
        },
        "isEventingSupported": {
          "type": "boolean",
          "description": "Is Eventing Supported."
        }
      },
      "type": "object"
    },
    "StandardEntity": {
      "properties": {
        "name": {
          "description": "Name of the standard entity.",
          "type": "string"
        }
      },
      "id": "StandardEntity",
      "description": "Standard entity",
      "type": "object"
    },
    "BillingConfig": {
      "properties": {
        "billingCategory": {
          "description": "Output only. Billing category for the connector.",
          "readOnly": true,
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Billing config for the connection.",
      "id": "BillingConfig"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListEventSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "eventSubscriptions": {
          "description": "Subscriptions.",
          "type": "array",
          "items": {
            "$ref": "EventSubscription"
          }
        }
      },
      "description": "Response message for ConnectorsService.ListEventSubscriptions",
      "id": "ListEventSubscriptionsResponse"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      }
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Regional Network Config.",
      "type": "object",
      "properties": {
        "egressIps": {
          "description": "Output only. Egress IPs",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "egressMode": {
          "type": "string",
          "enumDescriptions": [
            "Egress mode unspecified.",
            "Network egress through auto assigned IPs.",
            "Network egress through static IPs."
          ],
          "description": "Optional. Egress mode for the network.",
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "AUTO_IP",
            "STATIC_IP"
          ]
        }
      }
    },
    "ToolName": {
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "description": "Optional. Operation for which the tool was generated.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ]
        },
        "entityType": {
          "description": "Optional. Entity type name for which the tool was generated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Tool name that was generated in the list tools call."
        }
      },
      "id": "ToolName",
      "description": "Tool name for which the tool spec override is to be generated."
    },
    "ListProvidersResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "Provider"
          },
          "description": "A list of providers."
        }
      },
      "id": "ListProvidersResponse",
      "description": "Response message for Connectors.ListProviders.",
      "type": "object"
    },
    "NodeConfig": {
      "type": "object",
      "properties": {
        "maxNodeCount": {
          "type": "integer",
          "description": "Optional. Maximum number of nodes in the runtime nodes.",
          "format": "int32"
        },
        "minNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum number of nodes in the runtime nodes."
        }
      },
      "id": "NodeConfig",
      "description": "Node configuration for the connection."
    },
    "ConnectorsLogConfig": {
      "properties": {
        "level": {
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ],
          "description": "Optional. Log configuration level.",
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ],
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection.",
          "type": "boolean"
        }
      },
      "description": "Log configuration for the connection.",
      "type": "object",
      "id": "ConnectorsLogConfig"
    },
    "Location": {
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ValidateCustomConnectorSpecResponse": {
      "description": "Response message for ConnectorsService.ValidateCustomConnectorSpec",
      "properties": {
        "errorMessage": {
          "description": "Error message. The spec is valid if the error message is empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ValidateCustomConnectorSpecResponse"
    },
    "EndUserAuthenticationNotifyEndpointDestination": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received"
          ],
          "description": "Required. type of the destination",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT"
          ],
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account needed for runtime plane to notify the backend."
        },
        "endpoint": {
          "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
          "description": "Optional. OPTION 1: Hit an endpoint when the refresh token is expired."
        }
      },
      "description": "Message for NotifyEndpointDestination Destination to hit when the refresh token is expired.",
      "id": "EndUserAuthenticationNotifyEndpointDestination",
      "type": "object"
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged": {
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "oauthTokenData": {
          "$ref": "OAuthTokenData",
          "description": "Auth Code Data"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Scopes the connection will request when the user performs the auth code flow."
        }
      }
    },
    "AuthConfigTemplate": {
      "properties": {
        "displayName": {
          "description": "Display name for authentication template.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether the auth config is the default one.",
          "type": "boolean"
        },
        "authType": {
          "description": "The type of authentication configured.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Connector specific description for an authentication template."
        },
        "configVariableTemplates": {
          "description": "Config variables to describe an `AuthConfig` for a `Connection`.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array"
        },
        "authKey": {
          "type": "string",
          "description": "Identifier key for auth config"
        }
      },
      "description": "AuthConfigTemplate defines required field over an authentication type.",
      "type": "object",
      "id": "AuthConfigTemplate"
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader",
      "properties": {
        "key": {
          "description": "Required. Key of Header.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. Value of Header."
        }
      },
      "type": "object",
      "description": "Header details for a given header to be added to Endpoint."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "Oauth2JwtBearer": {
      "type": "object",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "id": "Oauth2JwtBearer",
      "properties": {
        "clientKey": {
          "$ref": "Secret",
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        },
        "jwtClaims": {
          "description": "Optional. JwtClaims providers fields to generate the token.",
          "$ref": "JwtClaims"
        }
      }
    },
    "EnumOption": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the option."
        },
        "id": {
          "description": "Optional. Id of the option.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "EnumOption definition",
      "id": "EnumOption"
    },
    "EndUserAuthenticationConfigOauth2JwtBearer": {
      "id": "EndUserAuthenticationConfigOauth2JwtBearer",
      "type": "object",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "properties": {
        "clientKey": {
          "$ref": "EUASecret",
          "description": "Required. secret version/value reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/strings/*/versions/*`."
        },
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims"
        }
      }
    },
    "AuthObject": {
      "type": "object",
      "properties": {
        "authType": {
          "type": "string",
          "description": "Auth type of the object."
        },
        "description": {
          "description": "Description of the object.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether the object is the default one."
        },
        "properties": {
          "description": "Properties of the object.",
          "type": "object",
          "additionalProperties": {
            "$ref": "AuthProperty"
          }
        },
        "additionalProperties": {
          "type": "boolean",
          "description": "Whether the object has additional properties."
        },
        "authKey": {
          "description": "Auth key of the object.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the object."
        }
      },
      "id": "AuthObject",
      "description": "AuthObject defines a JSON schema of an authentication type."
    },
    "RuntimeActionSchema": {
      "properties": {
        "inputJsonSchema": {
          "description": "Output only. JsonSchema representation of this action's input metadata",
          "readOnly": true,
          "$ref": "JsonSchema"
        },
        "inputParameters": {
          "readOnly": true,
          "items": {
            "$ref": "InputParameter"
          },
          "type": "array",
          "description": "Output only. List of input parameter metadata for the action."
        },
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the action."
        },
        "resultMetadata": {
          "description": "Output only. List of result field metadata.",
          "items": {
            "$ref": "ResultMetadata"
          },
          "type": "array",
          "readOnly": true
        },
        "resultJsonSchema": {
          "readOnly": true,
          "$ref": "JsonSchema",
          "description": "Output only. JsonSchema representation of this action's result metadata"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Brief Description of action",
          "type": "string"
        },
        "resultSchemaAsString": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Result schema as string."
        },
        "inputSchemaAsString": {
          "description": "Output only. Input schema as string.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display Name of action to be shown on client side",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "RuntimeActionSchema",
      "type": "object",
      "description": "Schema of a runtime action."
    },
    "Binding": {
      "type": "object",
      "properties": {
        "members": {
[...]
