{
  "ownerDomain": "google.com",
  "servicePath": "",
  "id": "connectors:v1",
  "name": "connectors",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Connectors API",
  "ownerName": "Google",
  "canonicalName": "Connectors",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "schemas": {
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr"
    },
    "EventType": {
      "id": "EventType",
      "type": "object",
      "properties": {
        "enrichedEventPayloadSchema": {
          "description": "Output only. Schema of the event payload after enriched. Will be null if read before send is not supported.",
          "readOnly": true,
          "type": "string"
        },
        "eventTypeId": {
          "type": "string",
          "description": "Output only. Event type id. Example: `ticket.created`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Created time."
        },
        "entityType": {
          "description": "Output only. Runtime entity type name. Will be null if entity type map is not available. Used for read before send feature.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "type": "string"
        },
        "idPath": {
          "description": "Output only. Id path denotes the path of id in webhook payload.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the eventtype. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}/eventtypes/{eventtype} Only global location is supported for Connector resource.",
          "type": "string"
        },
        "eventPayloadSchema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Schema of webhook event payload."
        }
      },
      "description": "EventType includes fields."
    },
    "ListEntityTypesResponse": {
      "type": "object",
      "id": "ListEntityTypesResponse",
      "description": "Response message for ListEntityTypes API",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "RuntimeEntitySchema"
          },
          "description": "list of entity types",
          "type": "array"
        },
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        }
      }
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlow": {
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "enablePkce": {
          "type": "boolean",
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array"
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "EUASecret"
        },
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "oauthTokenData": {
          "description": "Optional. Auth Code Data",
          "$ref": "OAuthTokenData"
        }
      },
      "type": "object"
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPoint": {
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
      "description": "Endpoint message includes details of the Destination endpoint.",
      "properties": {
        "endpointUri": {
          "description": "Required. The URI of the Endpoint.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader"
          },
          "description": "Optional. List of Header to be added to the Endpoint."
        }
      },
      "type": "object"
    },
    "ListConnectionsResponse": {
      "description": "Response message for ConnectorsService.ListConnections",
      "id": "ListConnectionsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          },
          "description": "Connections."
        }
      },
      "type": "object"
    },
    "SloEligibility": {
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "type": "object",
      "id": "SloEligibility",
      "properties": {
        "reason": {
          "type": "string",
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
        },
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        }
      }
    },
    "FetchAuthSchemaResponse": {
      "type": "object",
      "properties": {
        "authSchemas": {
          "type": "array",
          "description": "List of AuthSchemas.",
          "items": {
            "$ref": "AuthSchema"
          }
        },
        "jsonSchema": {
          "$ref": "JsonAuthSchema",
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format."
        }
      },
      "id": "FetchAuthSchemaResponse",
      "description": "Response message for Connectors.GetAuthSchema."
    },
    "ListRuntimeActionSchemasResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeActionSchemas": {
          "description": "Runtime action schemas.",
          "type": "array",
          "items": {
            "$ref": "RuntimeActionSchema"
          }
        }
      },
      "id": "ListRuntimeActionSchemasResponse",
      "description": "Response message for ConnectorsService.ListRuntimeActionSchemas.",
      "type": "object"
    },
    "NodeSloMetadata": {
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id."
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        }
      },
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "id": "NodeSloMetadata",
      "type": "object"
    },
    "ManagedZone": {
      "description": "represents the Connector's Managed Zone resource",
      "id": "ManagedZone",
      "properties": {
        "targetProject": {
          "description": "Required. The name of the Target Project",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "targetVpc": {
          "description": "Required. The name of the Target Project VPC Network",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dns": {
          "description": "Required. DNS Name of the resource",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        }
      },
      "type": "object"
    },
    "HPAConfig": {
      "description": "Autoscaling config for connector deployment system metrics.",
      "id": "HPAConfig",
      "type": "object",
      "properties": {
        "memoryUtilizationThreshold": {
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "cpuUtilizationThreshold": {
          "type": "string",
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "SshPublicKey": {
      "id": "SshPublicKey",
      "description": "Parameters to support Ssh public key Authentication.",
      "properties": {
        "sshClientCertPass": {
          "$ref": "Secret",
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one."
        },
        "username": {
          "type": "string",
          "description": "Optional. The user account used to authenticate."
        },
        "certType": {
          "description": "Optional. Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCert": {
          "description": "Optional. SSH Client Cert. It should contain both public and private key.",
          "$ref": "Secret"
        }
      },
      "type": "object"
    },
    "EndPoint": {
      "description": "Endpoint message includes details of the Destination endpoint.",
      "type": "object",
      "id": "EndPoint",
      "properties": {
        "endpointUri": {
          "description": "Optional. The URI of the Endpoint.",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "type": "array",
          "description": "Optional. List of Header to be added to the Endpoint."
        }
      }
    },
    "LockConfig": {
      "id": "LockConfig",
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "type": "object",
      "properties": {
        "locked": {
          "description": "Optional. Indicates whether or not the connection is locked.",
          "type": "boolean"
        },
        "reason": {
          "description": "Optional. Describes why a connection is locked.",
          "type": "string"
        }
      }
    },
    "ValidateCustomConnectorSpecResponse": {
      "description": "Response message for ConnectorsService.ValidateCustomConnectorSpec",
      "id": "ValidateCustomConnectorSpecResponse",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Error message. The spec is valid if the error message is empty."
        }
      },
      "type": "object"
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "type": "object",
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "properties": {},
      "id": "RemoveConnectionToolspecOverrideRequest"
    },
    "RuntimeActionSchema": {
      "description": "Schema of a runtime action.",
      "type": "object",
      "id": "RuntimeActionSchema",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Brief Description of action"
        },
        "action": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the action."
        },
        "resultJsonSchema": {
          "readOnly": true,
          "description": "Output only. JsonSchema representation of this action's result metadata",
          "$ref": "JsonSchema"
        },
        "inputJsonSchema": {
          "readOnly": true,
          "$ref": "JsonSchema",
          "description": "Output only. JsonSchema representation of this action's input metadata"
        },
        "resultSchemaAsString": {
          "description": "Output only. Result schema as string.",
          "type": "string",
          "readOnly": true
        },
        "inputSchemaAsString": {
          "type": "string",
          "description": "Output only. Input schema as string.",
          "readOnly": true
        },
        "resultMetadata": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of result field metadata.",
          "items": {
            "$ref": "ResultMetadata"
          }
        },
        "inputParameters": {
          "type": "array",
          "items": {
            "$ref": "InputParameter"
          },
          "readOnly": true,
          "description": "Output only. List of input parameter metadata for the action."
        },
        "displayName": {
          "description": "Output only. Display Name of action to be shown on client side",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EndpointAttachment": {
      "id": "EndpointAttachment",
      "properties": {
        "serviceAttachment": {
          "description": "Required. The path of the service attachment",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_NOT_PROGRAMMED"
          ],
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "The endpoint is pending acceptance by the producer.",
            "The endpoint has been accepted by the producer.",
            "The endpoint has been rejected by the producer.",
            "The endpoint has been closed by the producer and will not serve traffic going forward.",
            "The endpoint has been frozen by the producer and will not serve traffic.",
            "The endpoint has been accepted by the producer, but it is not ready to serve the traffic due to producer side issues.",
            "The endpoint has been accepted by the producer, but it cannot be programmed to the data plane due to invariant violation."
          ],
          "readOnly": true,
          "description": "Output only. The Private Service Connect Connection Endpoint State. This value is only available in the Full view.",
          "type": "string"
        },
        "endpointIp": {
          "readOnly": true,
          "description": "Output only. The Private Service Connect connection endpoint ip",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Endpoint Attachment. Format: projects/{project}/locations/{location}/endpointAttachments/{endpoint_attachment}",
          "readOnly": true
        },
        "endpointGlobalAccess": {
          "type": "boolean",
          "description": "Optional. The Private Service Connect Connection Endpoint Global Access. https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#global-access"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "represents the Connector's Endpoint Attachment resource"
    },
    "ListEventSubscriptionsResponse": {
      "type": "object",
      "id": "ListEventSubscriptionsResponse",
      "description": "Response message for ConnectorsService.ListEventSubscriptions",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eventSubscriptions": {
          "type": "array",
          "description": "Subscriptions.",
          "items": {
            "$ref": "EventSubscription"
          }
        }
      }
    },
    "RoleGrant": {
      "properties": {
        "roles": {
          "description": "Optional. List of roles that need to be granted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "description": "Optional. Resource on which the roles needs to be granted for the principal.",
          "$ref": "Resource"
        },
        "helperTextTemplate": {
          "type": "string",
          "description": "Optional. Template that UI can use to provide helper text to customers."
        },
        "principal": {
          "type": "string",
          "description": "Optional. Principal/Identity for whom the role need to assigned.",
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ]
        }
      },
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user.",
      "type": "object",
      "id": "RoleGrant"
    },
    "LogicalExpression": {
      "id": "LogicalExpression",
      "properties": {
        "fieldComparisons": {
          "description": "Optional. A list of fields to be compared.",
          "type": "array",
          "items": {
            "$ref": "FieldComparison"
          }
        },
        "logicalOperator": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "description": "Optional. The logical operator to use between the fields and conditions.",
          "enumDescriptions": [
            "The default value.",
            "AND operator; The conditions must all be true.",
            "OR operator; At least one of the conditions must be true."
          ],
          "type": "string"
        },
        "logicalExpressions": {
          "items": {
            "$ref": "LogicalExpression"
          },
          "type": "array",
          "description": "Optional. A list of nested conditions to be compared."
        }
      },
      "description": "Struct for representing boolean expressions.",
      "type": "object"
    },
    "PubSub": {
      "id": "PubSub",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Pub/Sub message attributes to be added to the Pub/Sub message."
        },
        "configVariables": {
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Optional. Configuration for configuring the trigger",
          "type": "array"
        },
        "topicId": {
          "type": "string",
          "description": "Required. The topic id of the Pub/Sub topic."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project id which has the Pub/Sub topic."
        }
      },
      "type": "object",
      "description": "Pub/Sub message includes details of the Destination Pub/Sub topic."
    },
    "EndUserAuthenticationConfig": {
      "description": "EndUserAuthenticationConfig defines details of a authentication configuration for EUC",
      "type": "object",
      "id": "EndUserAuthenticationConfig",
      "properties": {
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlow"
        },
        "additionalVariables": {
          "description": "Optional. List containing additional auth configs.",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          },
          "type": "array"
        },
        "oauth2JwtBearer": {
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "EndUserAuthenticationConfigUserPassword"
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged"
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "EndUserAuthenticationConfigOauth2ClientCredentials"
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "EndUserAuthenticationConfigSshPublicKey"
        },
        "authType": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "type": "string",
          "description": "The type of authentication configured."
        }
      }
    },
    "Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "type": "object",
      "id": "Secret",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        }
      }
    },
    "FetchConnectionToolspecOverrideResponse": {
      "id": "FetchConnectionToolspecOverrideResponse",
      "description": "Response message for FetchConnectionToolspecOverride API.",
      "type": "object",
      "properties": {
        "toolspecOverride": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      }
    },
    "StringListValues": {
      "description": "StringListValues is a message to store a list of string values.",
      "properties": {
        "listValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of string values."
        }
      },
      "type": "object",
      "id": "StringListValues"
    },
    "ResourceRequests": {
      "description": "Resource requests defined for connection pods of a given connector type.",
      "type": "object",
      "properties": {
        "cpu": {
          "description": "Output only. CPU request.",
          "type": "string",
          "readOnly": true
        },
        "memory": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Memory request."
        }
      },
      "id": "ResourceRequests"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "PartnerMetadata": {
      "type": "object",
      "id": "PartnerMetadata",
      "description": "Partner metadata details. This will be populated when publishing the custom connector as a partner connector version. On publishing, parntner connector version will be created using the fields in PartnerMetadata.",
      "properties": {
        "targetCustomerSegment": {
          "description": "Required. Target customer segment for the partner connector.",
          "type": "string"
        },
        "acceptGcpTos": {
          "type": "boolean",
          "description": "Required. Whether the user has accepted the Google Cloud Platform Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Marketplace Terms of Service (https://cloud.google.com/terms/marketplace/launcher?hl=en)."
        },
        "marketplaceProductId": {
          "description": "Required. Marketplace product ID.",
          "type": "string"
        },
        "marketplaceProductProjectId": {
          "description": "Optional. Marketplace product project ID.",
          "type": "string"
        },
        "hasDynamicSpecUri": {
          "description": "Output only. Has dynamic open api spec uri.",
          "readOnly": true,
          "type": "boolean"
        },
        "targetApplication": {
          "description": "Required. Target application for which partner connector is built.",
          "type": "string"
        },
        "confirmPartnerRequirements": {
          "type": "boolean",
          "description": "Required. Confirmation that connector meets all applicable requirements mentioned in the Partner Connector Publishing requirements list and Partner onboardiong requirements list (https://cloud.google.com/marketplace/docs/partners/get-started#requirements)."
        },
        "marketplaceProduct": {
          "type": "string",
          "description": "Optional. Marketplace product name."
        },
        "partnerConnectorDisplayName": {
          "type": "string",
          "description": "Required. Partner connector display name."
        },
        "useCases": {
          "description": "Required. Details about partner connector use cases.",
          "type": "string"
        },
        "partner": {
          "description": "Required. Partner name.",
          "type": "string"
        },
        "marketplaceProductUri": {
          "description": "Optional. Marketplace product URL.",
          "type": "string"
        },
        "additionalComments": {
          "description": "Optional. Additional comments for the submission.",
          "type": "string"
        },
        "localSpecPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Local spec path. Required if has_dynamic_spec_uri is true."
        },
        "publishRequestTime": {
          "description": "Output only. Publish request time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "demoUri": {
          "description": "Required. Public URL for the demo video.",
          "type": "string"
        },
        "integrationTemplates": {
          "type": "string",
          "description": "Required. Integration example templates for the custom connector."
        }
      }
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "EventSubscription": {
      "description": "represents the Connector's EventSubscription resource",
      "type": "object",
      "id": "EventSubscription",
      "properties": {
        "subscriber": {
          "description": "Optional. name of the Subscriber for the current EventSubscription.",
          "type": "string"
        },
        "subscriberLink": {
          "description": "Optional. Link for Subscriber of the current EventSubscription.",
          "type": "string"
        },
        "triggerConfigVariables": {
          "type": "array",
          "description": "Optional. Configuration for configuring the trigger",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "filter": {
          "description": "Optional. Filter for the event subscription. Incoming events are filtered based on the filter expression.",
          "type": "string"
        },
        "destinations": {
          "$ref": "EventSubscriptionDestination",
          "description": "Optional. The destination to hit when we receive an event"
        },
        "eventTypeId": {
          "type": "string",
          "description": "Optional. Event type id of the event of current EventSubscription."
        },
        "status": {
          "description": "Optional. Status indicates the status of the event subscription resource",
          "$ref": "EventSubscriptionStatus"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "jms": {
          "description": "Optional. JMS is the source for the event listener.",
          "$ref": "JMS"
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}",
          "type": "string"
        }
      }
    },
    "JsonSchema": {
      "description": "JsonSchema representation of schema metadata",
      "id": "JsonSchema",
      "type": "object",
      "properties": {
        "if": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "items": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to array values, applicable only if this is of type `array`."
        },
        "properties": {
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "dependencies": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Dependencies for the schema.",
          "type": "object"
        },
        "contentEncoding": {
          "type": "string",
          "description": "Encoding of the content."
        },
        "maxProperties": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of properties."
        },
        "$defs": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object",
          "description": "Definitions for the schema."
        },
        "patternProperties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Pattern properties for the schema.",
          "type": "object"
        },
        "anyOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "$comment": {
          "type": "string",
          "description": "A comment on the schema."
        },
        "oneOf": {
          "type": "array",
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "allOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "type": "array",
          "description": "Schema that must be valid against all of the sub-schemas."
        },
        "then": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "not": {
          "description": "Schema that must not be valid.",
          "$ref": "JsonSchema"
        },
        "writeOnly": {
          "description": "Whether the value is write-only.",
          "type": "boolean"
        },
        "contains": {
          "description": "Schema that applies to at least one item in an array.",
          "$ref": "JsonSchema"
        },
        "$ref": {
          "type": "string",
          "description": "A reference to another schema."
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "contentMediaType": {
          "type": "string",
          "description": "Media type of the content."
        },
        "additionalProperties": {
          "$ref": "JsonSchema",
          "description": "Schema for additional properties."
        },
        "examples": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Examples of the value."
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "type": {
          "items": {
            "type": "string"
          },
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "type": "array"
        },
        "definitions": {
          "description": "Definitions for the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "title": {
          "type": "string",
          "description": "A title of the schema."
        },
        "multipleOf": {
          "format": "double",
          "type": "number",
          "description": "Number must be a multiple of this value."
        },
        "jdbcType": {
          "type": "string",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "JDBC datatype of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "pattern": {
          "type": "string",
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match."
        },
        "maxItems": {
          "description": "Maximum number of items in the array field.",
          "format": "int32",
          "type": "integer"
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "exclusiveMinimum": {
          "type": "any",
          "description": "Whether the minimum number value is exclusive."
        },
        "additionalDetails": {
          "type": "object",
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length of the string field."
        },
        "format": {
          "type": "string",
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format"
        },
        "minProperties": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of properties."
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "$id": {
          "type": "string",
          "description": "The URI defining the core schema meta-schema."
        },
        "required": {
          "description": "Whether this property is required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minItems": {
          "description": "Minimum number of items in the array field.",
          "type": "integer",
          "format": "int32"
        },
        "minimum": {
          "type": "any",
          "description": "Minimum value of the number field."
        },
        "enum": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values"
        },
        "$schema": {
          "description": "The URI defining the schema.",
          "type": "string"
        },
        "readOnly": {
          "description": "Whether the value is read-only.",
          "type": "boolean"
        },
        "else": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is invalid."
        },
        "maxLength": {
          "description": "Maximum length of the string field.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "TrafficShapingConfig": {
      "properties": {
        "quotaLimit": {
          "description": "Required. Maximum number of api calls allowed.",
          "type": "string",
          "format": "int64"
        },
        "duration": {
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "type": "object",
      "id": "TrafficShapingConfig"
    },
    "NodeConfig": {
      "description": "Node configuration for the connection.",
      "properties": {
        "minNodeCount": {
          "description": "Optional. Minimum number of nodes in the runtime nodes.",
          "format": "int32",
          "type": "integer"
        },
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of nodes in the runtime nodes."
        }
      },
      "type": "object",
      "id": "NodeConfig"
    },
    "Oauth2AuthCodeFlow": {
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "id": "Oauth2AuthCodeFlow",
      "type": "object",
      "properties": {
        "enablePkce": {
          "type": "boolean",
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow."
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "Secret"
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow."
        },
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      }
    },
    "MaintenancePolicy": {
      "description": "Defines policies to service maintenance events.",
      "id": "MaintenancePolicy",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "description": "Optional. The state of the policy.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the resource was updated."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "updatePolicy": {
          "$ref": "UpdatePolicy",
          "description": "Maintenance policy applicable to instance update."
        }
      }
    },
    "FetchConnectionToolspecOverrideRequest": {
      "id": "FetchConnectionToolspecOverrideRequest",
      "type": "object",
      "description": "Request message for FetchConnectionToolspecOverride API.",
      "properties": {
        "toolNames": {
          "type": "array",
          "items": {
            "$ref": "ToolName"
          },
          "description": "Required. List of tools for which the tool spec override is to be generated."
        }
      }
    },
    "BillingConfig": {
      "properties": {
        "billingCategory": {
          "readOnly": true,
          "description": "Output only. Billing category for the connector.",
          "type": "string",
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ]
        }
      },
      "type": "object",
      "description": "Billing config for the connection.",
      "id": "BillingConfig"
    },
    "Header": {
      "description": "Header details for a given header to be added to Endpoint.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. Value of Header.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of Header."
        }
      },
      "id": "Header"
    },
    "WeeklyCycle": {
      "description": "Time window specified for weekly operations.",
      "id": "WeeklyCycle",
      "properties": {
        "schedule": {
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "type": "object"
    },
    "AuthObject": {
      "type": "object",
      "description": "AuthObject defines a JSON schema of an authentication type.",
      "properties": {
        "additionalProperties": {
          "type": "boolean",
          "description": "Whether the object has additional properties."
        },
        "authKey": {
          "description": "Auth key of the object.",
          "type": "string"
        },
        "authType": {
          "description": "Auth type of the object.",
          "type": "string"
        },
        "properties": {
          "description": "Properties of the object.",
          "additionalProperties": {
            "$ref": "AuthProperty"
          },
          "type": "object"
        },
        "isDefault": {
          "description": "Whether the object is the default one.",
          "type": "boolean"
        },
        "description": {
          "description": "Description of the object.",
          "type": "string"
        },
        "type": {
          "description": "Type of the object.",
          "type": "string"
        }
      },
      "id": "AuthObject"
    },
    "ListManagedZonesResponse": {
      "description": "Response message for ConnectorsService.ListManagedZones",
      "id": "ListManagedZonesResponse",
      "type": "object",
      "properties": {
        "managedZones": {
          "type": "array",
          "description": "ManagedZones.",
          "items": {
            "$ref": "ManagedZone"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "Destination": {
      "properties": {
        "serviceAttachment": {
          "type": "string",
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "deprecated": true
        },
        "host": {
          "description": "For publicly routable host.",
          "type": "string"
        },
        "port": {
          "description": "Optional. The port is the target port number that is accepted by the destination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Destination"
    },
    "ExtractionRules": {
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "type": "object",
      "id": "ExtractionRules",
      "properties": {
        "extractionRule": {
          "type": "array",
          "items": {
            "$ref": "ExtractionRule"
          },
          "description": "Collection of Extraction Rule."
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "EndUserAuthenticationConfigVariable": {
      "type": "object",
      "id": "EndUserAuthenticationConfigVariable",
      "description": "EndUserAuthenticationConfigVariable represents a configuration variable present in a EndUserAuthentication.",
      "properties": {
        "intValue": {
          "type": "string",
          "description": "Value is an integer",
          "format": "int64"
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Required. Key of the config variable."
        },
        "stringValue": {
          "description": "Value is a string.",
          "type": "string"
        },
        "secretValue": {
          "$ref": "EUASecret",
          "description": "Value is a secret"
        }
      }
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "type": "object",
      "properties": {
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The scheduled start time for the maintenance.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "canReschedule": {
          "deprecated": true,
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean"
        }
      },
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule"
    },
    "ListActionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        },
        "actions": {
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "description": "list of actions",
          "type": "array"
        }
      },
      "description": "Response message for ListActions API",
      "type": "object",
      "id": "ListActionsResponse"
    },
    "SearchConnectionsResponse": {
      "id": "SearchConnectionsResponse",
      "description": "Response message for Connectors.SearchConnections.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. page_token"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "SearchConnectionInstance"
          },
          "description": "A list of connectors."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "DeprecateCustomConnectorVersionRequest": {
      "id": "DeprecateCustomConnectorVersionRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for ConnectorsService.DeprecateCustomConnectorVersion"
    },
    "StandardAction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the standard action."
        }
      },
      "id": "StandardAction",
      "description": "Standard action",
      "type": "object"
    },
    "ConnectorVersion": {
      "properties": {
        "authConfigTemplates": {
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of auth configs supported by the Connector Version."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name.",
          "type": "string"
        },
        "supportedRuntimeFeatures": {
          "description": "Output only. Information about the runtime features supported by the Connector.",
          "$ref": "SupportedRuntimeFeatures",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "isCustomActionsSupported": {
          "description": "Output only. Is custom actions supported.",
          "type": "boolean",
          "readOnly": true
        },
        "isCustomEntitiesSupported": {
          "description": "Output only. Is custom entities supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "supportedStandardEntities": {
          "type": "array",
          "items": {
            "$ref": "StandardEntity"
          },
          "readOnly": true,
          "description": "Output only. Supported standard entities."
        },
        "sslConfigTemplate": {
          "readOnly": true,
          "description": "Output only. Ssl configuration supported by the Connector.",
          "$ref": "SslConfigTemplate"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Updated time."
        },
        "roleGrant": {
          "$ref": "RoleGrant",
          "readOnly": true,
          "description": "Output only. Role grant configuration for this config variable. It will be DEPRECATED soon."
        },
        "vpcscConfig": {
          "description": "Output only. VPCSC config for the connector.",
          "readOnly": true,
          "$ref": "VpcscConfig"
        },
        "roleGrants": {
          "description": "Output only. Role grant configurations for this connector version.",
          "type": "array",
          "items": {
            "$ref": "RoleGrant"
          },
          "readOnly": true
        },
        "unsupportedConnectionTypes": {
          "description": "Output only. Unsupported connection types.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connection type is unspecified.",
              "Connection with eventing.",
              "Only connection.",
              "Only eventing."
            ],
            "enum": [
              "CONNECTION_TYPE_UNSPECIFIED",
              "CONNECTION_WITH_EVENTING",
              "ONLY_CONNECTION",
              "ONLY_EVENTING"
            ]
          },
          "readOnly": true
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "type": "string"
        },
        "eventingConfigTemplate": {
          "readOnly": true,
          "description": "Output only. Eventing configuration supported by the Connector.",
          "$ref": "EventingConfigTemplate"
        },
        "egressControlConfig": {
          "$ref": "EgressControlConfig",
          "readOnly": true,
          "description": "Output only. Configuration for Egress Control."
        },
        "schemaRefreshConfig": {
          "description": "Connection Schema Refresh Config",
          "$ref": "SchemaRefreshConfig"
        },
        "supportedStandardActions": {
          "description": "Output only. Supported standard actions.",
          "items": {
            "$ref": "StandardAction"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the Version. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version} Only global location is supported for Connector resource."
        },
        "authOverrideEnabled": {
          "type": "boolean",
          "description": "Output only. Flag to mark the dynamic auth override.",
          "readOnly": true
        },
        "connectorInfraConfig": {
          "$ref": "ConnectorInfraConfig",
          "readOnly": true,
          "description": "Output only. Infra configs supported by Connector."
        },
        "releaseVersion": {
          "description": "Output only. ReleaseVersion of the connector, for example: \"1.0.1-alpha\".",
          "type": "string",
          "readOnly": true
        },
        "destinationConfigTemplates": {
          "type": "array",
          "items": {
            "$ref": "DestinationConfigTemplate"
          },
          "description": "Output only. List of destination configs needed to create a connection.",
          "readOnly": true
        },
        "configVariableTemplates": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "readOnly": true,
          "description": "Output only. List of config variables needed to create a connection.",
          "type": "array"
        }
      },
      "id": "ConnectorVersion",
      "description": "ConnectorVersion indicates a specific version of a connector.",
      "type": "object"
    },
    "RuntimeEntitySchema": {
      "id": "RuntimeEntitySchema",
      "type": "object",
      "description": "Schema of a runtime entity.",
      "properties": {
        "entity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the entity."
        },
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "type": "array",
          "description": "Output only. List of fields in the entity.",
          "readOnly": true
        },
        "jsonSchema": {
          "readOnly": true,
          "description": "Output only. JsonSchema representation of this entity's metadata",
          "$ref": "JsonSchema"
        },
        "operations": {
          "items": {
            "type": "string",
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST entities.",
              "This operation means entity type supports GET entity.",
              "This operation means entity type supports CREATE entity.",
              "This operation means entity type supports UPDATE entity.",
              "This operation means entity type supports DELETE entity."
            ]
          },
          "type": "array",
          "description": "List of operations supported by this entity"
        }
      }
    },
    "EndUserAuthenticationConfigOauth2JwtBearer": {
      "properties": {
        "clientKey": {
          "description": "Required. secret version/value reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/strings/*/versions/*`.",
          "$ref": "EUASecret"
        },
        "jwtClaims": {
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims",
          "description": "JwtClaims providers fields to generate the token."
        }
      },
      "type": "object",
      "id": "EndUserAuthenticationConfigOauth2JwtBearer",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details."
    },
    "DailyCycle": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Time window specified for daily operations.",
      "id": "DailyCycle"
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "description": "Configure the schedule.",
      "properties": {
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "description": "Allows to define schedule that runs specified day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        }
      }
    },
    "DestinationConfig": {
      "description": "Define the Connectors target endpoint.",
      "properties": {
        "key": {
          "description": "Optional. The key is the destination identifier that is supported by the Connector.",
          "type": "string"
        },
        "destinations": {
          "type": "array",
          "description": "Optional. The destinations for the key.",
          "items": {
            "$ref": "Destination"
          }
        }
      },
      "type": "object",
      "id": "DestinationConfig"
    },
    "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims": {
      "properties": {
        "subject": {
          "description": "Value for the \"sub\" claim.",
          "type": "string"
        },
        "issuer": {
          "description": "Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Value for the \"aud\" claim."
        }
      },
      "id": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims",
      "type": "object",
      "description": "JWT claims used for the jwt-bearer authorization grant."
    },
    "ConnectionSchemaMetadata": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Error message for users.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default state.",
            "Schema refresh is in progress.",
            "Schema has been updated.",
            "Schema refresh for metadata is in progress.",
            "Schema metadata has been updated.",
            "Failed to refresh schema metadata",
            "Triggered full schema refresh",
            "Updated full schema"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REFRESHING",
            "UPDATED",
            "REFRESHING_SCHEMA_METADATA",
            "UPDATED_SCHEMA_METADATA",
            "REFRESH_SCHEMA_METADATA_FAILED",
            "REFRESHING_FULL_SCHEMA",
            "UPDATED_FULL_SCHEMA"
          ],
          "description": "Output only. The current state of runtime schema."
        },
        "entities": {
          "description": "Output only. List of entity names.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "actions": {
          "description": "Output only. List of actions.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "refreshTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the connection runtime schema refresh was triggered.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the connection runtime schema was updated.",
          "format": "google-datetime"
        }
      },
      "description": "ConnectionSchemaMetadata is the singleton resource of each connection. It includes the entity and action names of runtime resources exposed by a connection backend.",
      "id": "ConnectionSchemaMetadata"
    },
    "Resource": {
      "id": "Resource",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_PROJECT",
            "GCP_RESOURCE",
            "GCP_SECRETMANAGER_SECRET",
            "GCP_SECRETMANAGER_SECRET_VERSION"
          ],
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Cloud Project Resource.",
            "Any Google Cloud Resource which is identified uniquely by IAM.",
            "Google Cloud Secret Resource.",
            "Google Cloud Secret Version Resource."
          ],
          "description": "Optional. Different types of resource supported.",
          "type": "string"
        },
        "pathTemplate": {
          "description": "Optional. Template to uniquely represent a Google Cloud resource in a format IAM expects This is a template that can have references to other values provided in the config variable template.",
          "type": "string"
        }
      },
      "description": "Resource definition",
      "type": "object"
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "type": "object",
      "description": "Maintenance policy applicable to instance updates.",
      "properties": {
        "channel": {
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "type": "string"
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy."
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        }
      }
    },
    "UserPassword": {
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object",
      "properties": {
        "password": {
          "$ref": "Secret",
          "description": "Optional. Secret version reference containing the password."
        },
        "username": {
          "description": "Optional. Username.",
          "type": "string"
        }
      },
      "id": "UserPassword"
    },
    "AuthConfig": {
      "description": "AuthConfig defines details of a authentication type.",
      "id": "AuthConfig",
      "type": "object",
      "properties": {
        "additionalVariables": {
          "description": "Optional. List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "SshPublicKey"
        },
        "authKey": {
          "type": "string",
          "description": "Optional. Identifier key for auth config"
        },
        "oauth2ClientCredentials": {
          "$ref": "Oauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "description": "Optional. The type of authentication configured.",
          "type": "string"
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "Oauth2AuthCodeFlow"
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "Oauth2JwtBearer"
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "Oauth2AuthCodeFlowGoogleManaged"
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "UserPassword"
        }
      }
    },
    "MultipleSelectConfig": {
      "properties": {
        "multipleSelectOptions": {
          "description": "Required. Multiple select options.",
          "items": {
            "$ref": "MultipleSelectOption"
          },
          "type": "array"
        },
        "allowCustomValues": {
          "type": "boolean",
          "description": "Optional. Allow custom values."
        },
        "valueSeparator": {
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field.",
          "type": "string"
        }
      },
      "id": "MultipleSelectConfig",
      "description": "MultipleSelectConfig represents the multiple options for a config variable.",
      "type": "object"
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "id": "ModifyConnectionToolspecOverrideRequest",
      "properties": {
        "toolspecOverride": {
          "$ref": "ToolspecOverride",
          "description": "Required. Toolspec overrides to be modified."
        }
      },
      "type": "object",
      "description": "Request message for ModifyConnectionToolspecOverride API."
    },
    "ListenEventRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Request payload."
        }
      },
      "description": "Expected request for ListenEvent API.",
      "id": "ListenEventRequest"
    },
    "WebhookSubscriptions": {
      "properties": {
        "webhookData": {
          "type": "array",
          "items": {
            "$ref": "WebhookData"
          },
          "description": "Output only. Webhook data.",
          "readOnly": true
        }
      },
      "description": "WebhookSubscriptions has details of webhook subscriptions.",
      "type": "object",
      "id": "WebhookSubscriptions"
    },
    "EventingRuntimeData": {
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "type": "object",
      "id": "EventingRuntimeData",
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. Current status of eventing.",
          "$ref": "EventingStatus"
        },
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "type": "string",
          "readOnly": true
        },
        "eventsListenerEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener."
        },
        "webhookSubscriptions": {
          "readOnly": true,
          "description": "Output only. Webhook subscriptions.",
          "$ref": "WebhookSubscriptions"
        },
        "webhookData": {
          "readOnly": true,
          "$ref": "WebhookData",
          "description": "Output only. Webhook data."
        }
      }
    },
    "Oauth2AuthCodeFlowGoogleManaged": {
      "id": "Oauth2AuthCodeFlowGoogleManaged",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "type": "object",
      "properties": {
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "scopes": {
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuthConfigTemplate": {
      "properties": {
        "isDefault": {
          "type": "boolean",
          "description": "Whether the auth config is the default one."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for authentication template."
        },
        "authType": {
          "description": "The type of authentication configured.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ]
        },
        "configVariableTemplates": {
          "description": "Config variables to describe an `AuthConfig` for a `Connection`.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "description": {
          "description": "Connector specific description for an authentication template.",
          "type": "string"
        },
        "authKey": {
          "type": "string",
          "description": "Identifier key for auth config"
        }
      },
      "description": "AuthConfigTemplate defines required field over an authentication type.",
      "type": "object",
      "id": "AuthConfigTemplate"
    },
    "SloMetadata": {
      "type": "object",
      "id": "SloMetadata",
      "properties": {
        "perSliEligibility": {
          "$ref": "PerSliSloEligibility",
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
        },
[...]
