{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/container.read-only": {
          "description": "See your Google Kubernetes Engine data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/container": {
          "description": "See, edit, configure, and delete your Google Kubernetes Engine data and see the email address for your Google Account"
        }
      }
    }
  },
  "version": "v1",
  "name": "container",
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "basePath": "",
  "schemas": {
    "SecretSyncConfig": {
      "id": "SecretSyncConfig",
      "description": "Configuration for sync Secret Manager secrets as k8s secrets.",
      "type": "object",
      "properties": {
        "rotationConfig": {
          "$ref": "SyncRotationConfig",
          "description": "Rotation config for secret manager."
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable/Disable Secret Sync Config."
        }
      }
    },
    "RangeInfo": {
      "properties": {
        "rangeName": {
          "readOnly": true,
          "description": "Output only. Name of a range.",
          "type": "string"
        },
        "utilization": {
          "type": "number",
          "format": "double",
          "description": "Output only. The utilization of the range.",
          "readOnly": true
        }
      },
      "description": "RangeInfo contains the range name and the range utilization by this cluster.",
      "id": "RangeInfo",
      "type": "object"
    },
    "ListUsableSubnetworksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages."
        },
        "subnetworks": {
          "description": "A list of usable subnetworks in the specified network project.",
          "items": {
            "$ref": "UsableSubnetwork"
          },
          "type": "array"
        }
      },
      "id": "ListUsableSubnetworksResponse",
      "description": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest.",
      "type": "object"
    },
    "SyncRotationConfig": {
      "id": "SyncRotationConfig",
      "properties": {
        "rotationInterval": {
          "format": "google-duration",
          "description": "The interval between two consecutive rotations. Default rotation interval is 2 minutes.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether the rotation is enabled.",
          "type": "boolean"
        }
      },
      "description": "SyncRotationConfig is config for secret manager auto rotation.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations in the project in the specified zone.",
          "type": "array"
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of operations returned may be missing the operations from those zones.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "AdvancedMachineFeatures": {
      "id": "AdvancedMachineFeatures",
      "type": "object",
      "description": "Specifies options for controlling advanced machine features.",
      "properties": {
        "threadsPerCore": {
          "type": "string",
          "description": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
          "format": "int64"
        },
        "performanceMonitoringUnit": {
          "description": "Type of Performance Monitoring Unit (PMU) requested on node pool instances. If unset, PMU will not be available to the node.",
          "type": "string",
          "enumDescriptions": [
            "PMU not enabled.",
            "Architecturally defined non-LLC events.",
            "Most documented core/L2 events.",
            "Most documented core/L2 and LLC events."
          ],
          "enum": [
            "PERFORMANCE_MONITORING_UNIT_UNSPECIFIED",
            "ARCHITECTURAL",
            "STANDARD",
            "ENHANCED"
          ]
        },
        "enableNestedVirtualization": {
          "description": "Whether or not to enable nested virtualization (defaults to false).",
          "type": "boolean"
        }
      }
    },
    "CheckAutopilotCompatibilityResponse": {
      "description": "CheckAutopilotCompatibilityResponse has a list of compatibility issues.",
      "id": "CheckAutopilotCompatibilityResponse",
      "properties": {
        "issues": {
          "description": "The list of issues for the given operation.",
          "type": "array",
          "items": {
            "$ref": "AutopilotCompatibilityIssue"
          }
        },
        "summary": {
          "type": "string",
          "description": "The summary of the autopilot compatibility response."
        }
      },
      "type": "object"
    },
    "ManagedPrometheusConfig": {
      "id": "ManagedPrometheusConfig",
      "properties": {
        "enabled": {
          "description": "Enable Managed Collection.",
          "type": "boolean"
        },
        "autoMonitoringConfig": {
          "description": "GKE Workload Auto-Monitoring Configuration.",
          "$ref": "AutoMonitoringConfig"
        }
      },
      "description": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus.",
      "type": "object"
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "type": "object",
      "description": "Configuration for client certificates on the cluster.",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      }
    },
    "ReleaseChannelConfig": {
      "type": "object",
      "properties": {
        "previewVersions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of preview versions for the channel.",
          "type": "array",
          "readOnly": true
        },
        "customVersions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of custom versions for the channel."
        },
        "upgradeTargetVersion": {
          "description": "The auto upgrade target version for clusters on the channel.",
          "type": "string"
        },
        "channel": {
          "enumDescriptions": [
            "Deprecated: No channel specified. it will be removed in the future, use RAPID, REGULAR, STABLE or EXTENDED instead.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production.",
            "Clusters subscribed to EXTENDED receive extended support and availability for versions which are known to be stable and reliable in production."
          ],
          "type": "string",
          "description": "The release channel this configuration applies to.",
          "enumDeprecated": [
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED"
          ]
        },
        "validVersions": {
          "items": {
            "type": "string"
          },
          "description": "List of valid versions for the channel.",
          "type": "array"
        },
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        }
      },
      "id": "ReleaseChannelConfig",
      "description": "ReleaseChannelConfig exposes configuration for a release channel."
    },
    "RecurringMaintenanceWindow": {
      "properties": {
        "recurrence": {
          "description": "Required. An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window recurs. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        },
        "delayUntil": {
          "description": "Optional. Specifies the date before which will not be scheduled. Depending on the recurrence, this may be the date the first window appears. Days are measured in the UTC timezone. This setting must be used when INTERVAL>1 or FREQ=WEEKLY/MONTHLY and no BYDAY specified.",
          "$ref": "Date"
        },
        "windowDuration": {
          "description": "Required. Duration of the window.",
          "format": "google-duration",
          "type": "string"
        },
        "windowStartTime": {
          "description": "Required. Start time of the window on days that it is scheduled, assuming UTC timezone.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "id": "RecurringMaintenanceWindow",
      "description": "Represents an arbitrary window of time that recurs. Will replace RecurringTimeWindow."
    },
    "NetworkPerformanceConfig": {
      "id": "NetworkPerformanceConfig",
      "description": "Configuration of all network bandwidth tiers",
      "properties": {
        "totalEgressBandwidthTier": {
          "type": "string",
          "description": "Specifies the total network bandwidth tier for the NodePool.",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ]
        }
      },
      "type": "object"
    },
    "HighScaleCheckpointingConfig": {
      "type": "object",
      "description": "Configuration for the High Scale Checkpointing.",
      "id": "HighScaleCheckpointingConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the High Scale Checkpointing is enabled for this cluster."
        }
      }
    },
    "GetJSONWebKeysResponse": {
      "id": "GetJSONWebKeysResponse",
      "type": "object",
      "properties": {
        "cacheHeader": {
          "description": "For HTTP requests, this field is automatically extracted into the Cache-Control HTTP header.",
          "$ref": "HttpCacheControlResponseHeader"
        },
        "keys": {
          "type": "array",
          "items": {
            "$ref": "Jwk"
          },
          "description": "The public component of the keys used by the cluster to sign token requests."
        }
      },
      "description": "GetJSONWebKeysResponse is a valid JSON Web Key Set as specified in rfc 7517"
    },
    "ClusterPolicyConfig": {
      "properties": {
        "noSystemMutation": {
          "type": "boolean",
          "description": "Denotes that preventing creation and mutation of resources in GKE managed namespaces and cluster-scoped GKE managed resources ."
        },
        "noUnsafeWebhooks": {
          "description": "Denotes preventing unsafe webhooks.",
          "type": "boolean"
        },
        "noStandardNodePools": {
          "type": "boolean",
          "description": "Denotes preventing standard node pools and requiring only autopilot node pools."
        },
        "noSystemImpersonation": {
          "description": "Denotes preventing impersonation and CSRs for GKE System users.",
          "type": "boolean"
        }
      },
      "description": "ClusterPolicyConfig stores the configuration for cluster wide policies.",
      "id": "ClusterPolicyConfig",
      "type": "object"
    },
    "ResourceLimit": {
      "id": "ResourceLimit",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string."
        },
        "minimum": {
          "format": "int64",
          "type": "string",
          "description": "Minimum amount of the resource in the cluster."
        },
        "maximum": {
          "format": "int64",
          "type": "string",
          "description": "Maximum amount of the resource in the cluster."
        }
      },
      "type": "object",
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB."
    },
    "CertificateConfig": {
      "type": "object",
      "description": "CertificateConfig configures certificate for the registry.",
      "id": "CertificateConfig",
      "properties": {
        "gcpSecretManagerSecretUri": {
          "type": "string",
          "description": "The URI configures a secret from [Secret Manager](https://cloud.google.com/secret-manager) in the format \"projects/$PROJECT_ID/secrets/$SECRET_NAME/versions/$VERSION\" for global secret or \"projects/$PROJECT_ID/locations/$REGION/secrets/$SECRET_NAME/versions/$VERSION\" for regional secret. Version can be fixed (e.g. \"2\") or \"latest\""
        }
      }
    },
    "MonitoringConfig": {
      "id": "MonitoringConfig",
      "properties": {
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "ManagedPrometheusConfig"
        },
        "advancedDatapathObservabilityConfig": {
          "$ref": "AdvancedDatapathObservabilityConfig",
          "description": "Configuration of Advanced Datapath Observability features."
        },
        "componentConfig": {
          "description": "Monitoring components configuration",
          "$ref": "MonitoringComponentConfig"
        }
      },
      "description": "MonitoringConfig is cluster monitoring configuration.",
      "type": "object"
    },
    "RollbackNodePoolUpgradeRequest": {
      "id": "RollbackNodePoolUpgradeRequest",
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "respectPdb": {
          "description": "Option for rollback to ignore the PodDisruptionBudget. Default value is false.",
          "type": "boolean"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetLabelsRequest": {
      "id": "SetLabelsRequest",
      "properties": {
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The labels to set for that cluster."
        },
        "labelFingerprint": {
          "type": "string",
          "description": "Required. The fingerprint of the previous set of labels for this resource, used to detect conflicts. The fingerprint is initially generated by Kubernetes Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash when updating or changing labels. Make a `get()` request to the resource to get the latest fingerprint."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container Engine cluster, which will in turn set them for Google Compute Engine resources used by that cluster",
      "type": "object"
    },
    "BestEffortProvisioning": {
      "properties": {
        "minProvisionNodes": {
          "format": "int32",
          "description": "Minimum number of nodes to be provisioned to be considered as succeeded, and the rest of nodes will be provisioned gradually and eventually when stockout issue has been resolved.",
          "type": "integer"
        },
        "enabled": {
          "type": "boolean",
          "description": "When this is enabled, cluster/node pool creations will ignore non-fatal errors like stockout to best provision as many nodes as possible right now and eventually bring up all target number of nodes"
        }
      },
      "id": "BestEffortProvisioning",
      "type": "object",
      "description": "Best effort provisioning."
    },
    "VerticalPodAutoscaling": {
      "type": "object",
      "description": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables vertical pod autoscaling."
        }
      },
      "id": "VerticalPodAutoscaling"
    },
    "SetNodePoolSizeRequest": {
      "description": "SetNodePoolSizeRequest sets the size of a node pool.",
      "id": "SetNodePoolSizeRequest",
      "properties": {
        "nodePoolId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The desired node count for the pool."
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompliancePostureConfig": {
      "type": "object",
      "properties": {
        "complianceStandards": {
          "type": "array",
          "description": "List of enabled compliance standards.",
          "items": {
            "$ref": "ComplianceStandard"
          }
        },
        "mode": {
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Compliance Posture features on the cluster.",
            "Enables Compliance Posture features on the cluster."
          ],
          "description": "Defines the enablement mode for Compliance Posture.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        }
      },
      "id": "CompliancePostureConfig",
      "deprecated": true,
      "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. CompliancePostureConfig defines the settings needed to enable/disable features for the Compliance Posture."
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "type": "object",
      "description": "Configuration for controlling master global access settings.",
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "properties": {
        "enabled": {
          "description": "Whenever master is accessible globally or not.",
          "type": "boolean"
        }
      }
    },
    "MasterAuth": {
      "id": "MasterAuth",
      "properties": {
        "username": {
          "deprecated": true,
          "type": "string",
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        },
        "clientCertificate": {
          "description": "Output only. Base64-encoded public certificate used by clients to authenticate to the cluster endpoint. Issued only if client_certificate_config is set.",
          "type": "string",
          "readOnly": true
        },
        "clientKey": {
          "description": "Output only. Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "clusterCaCertificate": {
          "description": "Output only. Base64-encoded public certificate that is the root of trust for the cluster.",
          "type": "string",
          "readOnly": true
        },
        "password": {
          "deprecated": true,
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "type": "string"
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        }
      },
      "type": "object",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates."
    },
    "EvictionGracePeriod": {
      "description": "Eviction grace periods are grace periods for each eviction signal.",
      "properties": {
        "nodefsInodesFree": {
          "description": "Optional. Grace period for eviction due to nodefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "nodefsAvailable": {
          "description": "Optional. Grace period for eviction due to nodefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "pidAvailable": {
          "type": "string",
          "description": "Optional. Grace period for eviction due to pid available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "imagefsAvailable": {
          "type": "string",
          "description": "Optional. Grace period for eviction due to imagefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "memoryAvailable": {
          "description": "Optional. Grace period for eviction due to memory available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsInodesFree": {
          "type": "string",
          "description": "Optional. Grace period for eviction due to imagefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        }
      },
      "type": "object",
      "id": "EvictionGracePeriod"
    },
    "BootDiskProfile": {
      "id": "BootDiskProfile",
      "type": "object",
      "description": "Swap on the node's boot disk.",
      "properties": {
        "swapSizePercent": {
          "description": "Specifies the size of the swap space as a percentage of the boot disk size.",
          "type": "integer",
          "format": "int32"
        },
        "swapSizeGib": {
          "description": "Specifies the size of the swap space in gibibytes (GiB).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CustomImageInfo": {
      "description": "Contains the custom image info for a node pool.",
      "type": "object",
      "properties": {
        "upgradeMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-readable upgrade message for the custom image."
        }
      },
      "id": "CustomImageInfo"
    },
    "AdditionalNodeNetworkConfig": {
      "type": "object",
      "id": "AdditionalNodeNetworkConfig",
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message",
      "properties": {
        "subnetwork": {
          "description": "Name of the subnetwork where the additional interface belongs",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Name of the VPC where the additional interface belongs"
        }
      }
    },
    "CustomNodeInit": {
      "type": "object",
      "id": "CustomNodeInit",
      "properties": {
        "initScript": {
          "description": "Optional. The init script to be executed on the node.",
          "$ref": "InitScript"
        }
      },
      "description": "Support for running custom init code while bootstrapping nodes."
    },
    "DataplaneV2Config": {
      "id": "DataplaneV2Config",
      "description": "DataplaneV2Config is the configuration for DPv2.",
      "type": "object",
      "properties": {
        "scalabilityMode": {
          "description": "Optional. Scalability mode for the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Disables the scale optimized mode for DPv2.",
            "Enables the scale optimized mode for DPv2."
          ],
          "enum": [
            "SCALABILITY_MODE_UNSPECIFIED",
            "DISABLED",
            "SCALE_OPTIMIZED"
          ]
        }
      }
    },
    "TimeWindow": {
      "description": "Represents an arbitrary window of time.",
      "id": "TimeWindow",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the window first starts."
        },
        "maintenanceExclusionOptions": {
          "description": "MaintenanceExclusionOptions provides maintenance exclusion related options.",
          "$ref": "MaintenanceExclusionOptions"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the window ends. The end time should take place after the start time."
        }
      }
    },
    "AutoscaledRolloutPolicy": {
      "type": "object",
      "description": "Autoscaled rollout policy utilizes the cluster autoscaler during blue-green upgrade to scale both the blue and green pools.",
      "properties": {
        "waitForDrainDuration": {
          "type": "string",
          "description": "Optional. Time to wait after cordoning the blue pool before draining the nodes. Defaults to 3 days. The value can be set between 0 and 7 days, inclusive.",
          "format": "google-duration"
        }
      },
      "id": "AutoscaledRolloutPolicy"
    },
    "UpdateMasterRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "masterVersion": {
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "id": "UpdateMasterRequest",
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "type": "object"
    },
    "BlueGreenSettings": {
      "id": "BlueGreenSettings",
      "properties": {
        "autoscaledRolloutPolicy": {
          "$ref": "AutoscaledRolloutPolicy",
          "description": "Autoscaled policy for cluster autoscaler enabled blue-green upgrade."
        },
        "nodePoolSoakDuration": {
          "description": "Time needed after draining entire blue pool. After this period, blue pool will be cleaned up.",
          "type": "string",
          "format": "google-duration"
        },
        "standardRolloutPolicy": {
          "$ref": "StandardRolloutPolicy",
          "description": "Standard policy for the blue-green upgrade."
        }
      },
      "type": "object",
      "description": "Settings for blue-green upgrade."
    },
    "DailyMaintenanceWindow": {
      "description": "Time window specified for daily maintenance operations.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time within the maintenance window to start the maintenance operations. Time format should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT."
        },
        "duration": {
          "description": "Output only. Duration of the time window, automatically chosen to be smallest possible in the given scenario. Duration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"PTnHnMnS\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DailyMaintenanceWindow"
    },
    "ClusterNetworkPerformanceConfig": {
      "properties": {
        "totalEgressBandwidthTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "description": "Specifies the total network bandwidth tier for NodePools in the cluster."
        }
      },
      "type": "object",
      "id": "ClusterNetworkPerformanceConfig",
      "description": "Configuration of network bandwidth tiers"
    },
    "LinuxNodeConfig": {
      "properties": {
        "swapConfig": {
          "$ref": "SwapConfig",
          "description": "Optional. Enables and configures swap space on nodes. If omitted, swap is disabled."
        },
        "nodeVfioConfig": {
          "description": "Optional. Contains VFIO-related configurations for this node.",
          "$ref": "NodeVfioConfig"
        },
        "nodeKernelModuleLoading": {
          "description": "Optional. Configuration for kernel module loading on nodes. When enabled, the node pool will be provisioned with a Container-Optimized OS image that enforces kernel module signature verification.",
          "$ref": "NodeKernelModuleLoading"
        },
        "hugepages": {
          "description": "Optional. Amounts for 2M and 1G hugepages",
          "$ref": "HugepagesConfig"
        },
        "diskIoScheduler": {
          "description": "Optional. Controls the configuration for the disk IO scheduler.",
          "$ref": "DiskIoScheduler"
        },
        "transparentHugepageEnabled": {
          "description": "Optional. Transparent hugepage support for anonymous memory can be entirely disabled (mostly for debugging purposes) or only enabled inside MADV_HUGEPAGE regions (to avoid the risk of consuming more memory resources) or enabled system wide. See https://docs.kernel.org/admin-guide/mm/transhuge.html for more details.",
          "type": "string",
          "enumDescriptions": [
            "Default value. GKE will not modify the kernel configuration.",
            "Transparent hugepage support for anonymous memory is enabled system wide.",
            "Transparent hugepage support for anonymous memory is enabled inside MADV_HUGEPAGE regions. This is the default kernel configuration.",
            "Transparent hugepage support for anonymous memory is disabled."
          ],
          "enum": [
            "TRANSPARENT_HUGEPAGE_ENABLED_UNSPECIFIED",
            "TRANSPARENT_HUGEPAGE_ENABLED_ALWAYS",
            "TRANSPARENT_HUGEPAGE_ENABLED_MADVISE",
            "TRANSPARENT_HUGEPAGE_ENABLED_NEVER"
          ]
        },
        "accurateTimeConfig": {
          "$ref": "AccurateTimeConfig",
          "description": "Optional. The accurate time configuration for the node pool."
        },
        "customNodeInit": {
          "$ref": "CustomNodeInit",
          "description": "Optional. Allow users to run arbitrary bash script or container on the node."
        },
        "sysctls": {
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.busy_poll net.core.busy_read net.core.netdev_max_backlog net.core.rmem_max net.core.rmem_default net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.neigh.default.gc_thresh1 net.ipv4.neigh.default.gc_thresh2 net.ipv4.neigh.default.gc_thresh3 net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse net.ipv4.tcp_mtu_probing net.ipv4.tcp_max_orphans net.ipv4.tcp_max_tw_buckets net.ipv4.tcp_syn_retries net.ipv4.tcp_ecn net.ipv4.tcp_congestion_control net.netfilter.nf_conntrack_max net.netfilter.nf_conntrack_buckets net.netfilter.nf_conntrack_tcp_timeout_close_wait net.netfilter.nf_conntrack_tcp_timeout_time_wait net.netfilter.nf_conntrack_tcp_timeout_established net.netfilter.nf_conntrack_acct kernel.keys.maxkeys kernel.keys.maxbytes kernel.shmmni kernel.shmmax kernel.shmall kernel.core_pattern kernel.perf_event_paranoid kernel.sched_rt_runtime_us kernel.softlockup_panic kernel.yama.ptrace_scope kernel.kptr_restrict kernel.dmesg_restrict kernel.sysrq fs.aio-max-nr fs.file-max fs.inotify.max_user_instances fs.inotify.max_user_watches fs.nr_open vm.dirty_background_ratio vm.dirty_background_bytes vm.dirty_expire_centisecs vm.dirty_ratio vm.dirty_bytes vm.dirty_writeback_centisecs vm.max_map_count vm.overcommit_memory vm.overcommit_ratio vm.vfs_cache_pressure vm.swappiness vm.watermark_scale_factor vm.min_free_kbytes",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "transparentHugepageDefrag": {
          "type": "string",
          "enum": [
            "TRANSPARENT_HUGEPAGE_DEFRAG_UNSPECIFIED",
            "TRANSPARENT_HUGEPAGE_DEFRAG_ALWAYS",
            "TRANSPARENT_HUGEPAGE_DEFRAG_DEFER",
            "TRANSPARENT_HUGEPAGE_DEFRAG_DEFER_WITH_MADVISE",
            "TRANSPARENT_HUGEPAGE_DEFRAG_MADVISE",
            "TRANSPARENT_HUGEPAGE_DEFRAG_NEVER"
          ],
          "description": "Optional. Defines the transparent hugepage defrag configuration on the node. VM hugepage allocation can be managed by either limiting defragmentation for delayed allocation or skipping it entirely for immediate allocation only. See https://docs.kernel.org/admin-guide/mm/transhuge.html for more details.",
          "enumDescriptions": [
            "Default value. GKE will not modify the kernel configuration.",
            "It means that an application requesting THP will stall on allocation failure and directly reclaim pages and compact memory in an effort to allocate a THP immediately.",
            "It means that an application will wake kswapd in the background to reclaim pages and wake kcompactd to compact memory so that THP is available in the near future. It's the responsibility of khugepaged to then install the THP pages later.",
            "It means that an application will enter direct reclaim and compaction like always, but only for regions that have used madvise(MADV_HUGEPAGE); all other regions will wake kswapd in the background to reclaim pages and wake kcompactd to compact memory so that THP is available in the near future.",
            "It means that an application will enter direct reclaim like always but only for regions that are have used madvise(MADV_HUGEPAGE). This is the default kernel configuration.",
            "It means that an application will never enter direct reclaim or compaction."
          ]
        },
        "cgroupMode": {
          "enumDescriptions": [
            "CGROUP_MODE_UNSPECIFIED is when unspecified cgroup configuration is used. The default for the GKE node OS image will be used.",
            "CGROUP_MODE_V1 specifies to use cgroupv1 for the cgroup configuration on the node image.",
            "CGROUP_MODE_V2 specifies to use cgroupv2 for the cgroup configuration on the node image."
          ],
          "enum": [
            "CGROUP_MODE_UNSPECIFIED",
            "CGROUP_MODE_V1",
            "CGROUP_MODE_V2"
          ],
          "description": "cgroup_mode specifies the cgroup mode to be used on the node.",
          "type": "string"
        }
      },
      "id": "LinuxNodeConfig",
      "type": "object",
      "description": "Parameters that can be configured on Linux nodes."
    },
    "Jwk": {
      "type": "object",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "id": "Jwk",
      "properties": {
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "e": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "y": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        },
        "kty": {
          "description": "Key Type.",
          "type": "string"
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        },
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "crv": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        }
      }
    },
    "ManagedMachineLearningDiagnosticsConfig": {
      "type": "object",
      "id": "ManagedMachineLearningDiagnosticsConfig",
      "description": "ManagedMachineLearningDiagnosticsConfig is the configuration for the GKE Managed Machine Learning Diagnostics pipeline.",
      "properties": {
        "enabled": {
          "description": "Enable/Disable Managed Machine Learning Diagnostics.",
          "type": "boolean"
        }
      }
    },
    "PodCIDROverprovisionConfig": {
      "id": "PodCIDROverprovisionConfig",
      "type": "object",
      "description": "[PRIVATE FIELD] Config for pod CIDR size overprovisioning.",
      "properties": {
        "disable": {
          "description": "Whether Pod CIDR overprovisioning is disabled. Note: Pod CIDR overprovisioning is enabled by default.",
          "type": "boolean"
        }
      }
    },
    "CompleteIPRotationRequest": {
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "id": "CompleteIPRotationRequest",
      "type": "object",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "ResourceManagerTags": {
      "id": "ResourceManagerTags",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "TagKeyValue must be in one of the following formats ([KEY]=[VALUE]) 1. `tagKeys/{tag_key_id}=tagValues/{tag_value_id}` 2. `{org_id}/{tag_key_name}={tag_value_name}` 3. `{project_id}/{tag_key_name}={tag_value_name}`"
        }
      },
      "type": "object",
      "description": "A map of resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Tags must be according to specifications in https://cloud.google.com/vpc/docs/tags-firewalls-overview#specifications. A maximum of 5 tag key-value pairs can be specified. Existing tags will be replaced with new values."
    },
    "UpdateInfo": {
      "properties": {
        "blueGreenInfo": {
          "description": "Information of a blue-green upgrade.",
          "$ref": "BlueGreenInfo"
        }
      },
      "id": "UpdateInfo",
      "type": "object",
      "description": "UpdateInfo contains resource (instance groups, etc), status and other intermediate information relevant to a node pool upgrade."
    },
    "RollbackSafeUpgradeStatus": {
      "id": "RollbackSafeUpgradeStatus",
      "properties": {
        "controlPlaneUpgradeRollbackEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The rollback-safe mode expiration time.",
          "readOnly": true
        },
        "previousVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The GKE version that the cluster previously used before step-one upgrade."
        },
        "mode": {
          "enumDescriptions": [
            "MODE_UNSPECIFIED means it's in regular upgrade mode.",
            "KCP_MINOR_UPGRADE_ROLLBACK_SAFE_MODE means it's in rollback-safe mode after a KCP minor version step-one upgrade."
          ],
          "readOnly": true,
          "enum": [
            "MODE_UNSPECIFIED",
            "KCP_MINOR_UPGRADE_ROLLBACK_SAFE_MODE"
          ],
          "description": "Output only. The mode of the rollback-safe upgrade.",
          "type": "string"
        }
      },
      "description": "RollbackSafeUpgradeStatus contains the rollback-safe upgrade status of a cluster.",
      "type": "object"
    },
    "NodePoolLoggingConfig": {
      "properties": {
        "variantConfig": {
          "$ref": "LoggingVariantConfig",
          "description": "Logging variant configuration."
        }
      },
      "type": "object",
      "description": "NodePoolLoggingConfig specifies logging configuration for node pools.",
      "id": "NodePoolLoggingConfig"
    },
    "CompleteNodePoolUpgradeRequest": {
      "properties": {},
      "id": "CompleteNodePoolUpgradeRequest",
      "type": "object",
      "description": "CompleteNodePoolUpgradeRequest sets the name of target node pool to complete upgrade."
    },
    "PrivateRegistryAccessConfig": {
      "properties": {
        "certificateAuthorityDomainConfig": {
          "type": "array",
          "description": "Private registry access configuration.",
          "items": {
            "$ref": "CertificateAuthorityDomainConfig"
          }
        },
        "enabled": {
          "description": "Private registry access is enabled.",
          "type": "boolean"
        }
      },
      "description": "PrivateRegistryAccessConfig contains access configuration for private container registries.",
      "type": "object",
      "id": "PrivateRegistryAccessConfig"
    },
    "CompleteControlPlaneUpgradeRequest": {
      "properties": {
        "version": {
          "description": "Optional. API request version that initiates this operation.",
          "type": "string"
        }
      },
      "description": "CompleteControlPlaneUpgradeRequest sets the name of target cluster to complete upgrade.",
      "id": "CompleteControlPlaneUpgradeRequest",
      "type": "object"
    },
    "NodePool": {
      "id": "NodePool",
      "type": "object",
      "properties": {
        "queuedProvisioning": {
          "$ref": "QueuedProvisioning",
          "description": "Specifies the configuration of queued provisioning."
        },
        "selfLink": {
          "description": "Output only. Server-defined URL for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "nodeDrainConfig": {
          "description": "Specifies the node drain configuration for this node pool.",
          "$ref": "NodeDrainConfig"
        },
        "initialNodeCount": {
          "type": "integer",
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "format": "int32"
        },
        "maintenancePolicy": {
          "$ref": "NodePoolMaintenancePolicy",
          "description": "Optional. Specifies the maintenance policy for the node pool."
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed.",
          "type": "array"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "description": "Output only. The status of the nodes in this pool instance."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available.",
          "deprecated": true,
          "type": "string"
        },
        "autopilotConfig": {
          "$ref": "AutopilotConfig",
          "description": "Specifies the autopilot configuration for this node pool. This field is exclusively reserved for Cluster Autoscaler."
        },
        "config": {
          "description": "The node configuration of the pool.",
          "$ref": "NodeConfig"
        },
        "bestEffortProvisioning": {
          "description": "Enable best effort provisioning for nodes",
          "$ref": "BestEffortProvisioning"
        },
        "conditions": {
          "description": "Output only. Which conditions caused the current node pool state.",
          "items": {
            "$ref": "StatusCondition"
          },
          "readOnly": true,
          "type": "array"
        },
        "networkConfig": {
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults.",
          "$ref": "NodeNetworkConfig"
        },
        "podIpv4CidrSize": {
          "readOnly": true,
          "description": "Output only. The pod CIDR block size per node in this node pool.",
          "type": "integer",
          "format": "int32"
        },
        "management": {
          "description": "NodeManagement configuration for this NodePool.",
          "$ref": "NodeManagement"
        },
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of node pool fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding."
        },
        "instanceGroupUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool. During the node pool blue-green upgrade operation, the URLs contain both blue and green resources."
        },
        "kubeletCertInfo": {
          "readOnly": true,
          "description": "Output only. Contains expiry information about the kubelet certificate.",
          "$ref": "KubeletCertInfo"
        },
        "version": {
          "type": "string",
          "description": "The version of Kubernetes running on this NodePool's nodes. If unspecified, it defaults as described [here](https://cloud.google.com/kubernetes-engine/versioning#specifying_node_version)."
        },
        "maxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool."
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "updateInfo": {
          "readOnly": true,
          "description": "Output only. Update info contains relevant information during a node pool update.",
          "$ref": "UpdateInfo"
        },
        "placementPolicy": {
          "$ref": "PlacementPolicy",
          "description": "Specifies the node placement policy."
        }
      },
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload."
    },
    "NodeCreationConfig": {
      "type": "object",
      "description": "NodeCreationConfig defines the settings of node creation mode.",
      "properties": {
        "nodeCreationMode": {
          "enumDescriptions": [
            "When no user input is provided.",
            "Kubelet registers itself.",
            "gcp-controller-manager automatically creates the node object after CSR approval."
          ],
          "description": "The mode of node creation.",
          "enum": [
            "MODE_UNSPECIFIED",
            "VIA_KUBELET",
            "VIA_CONTROL_PLANE"
          ],
          "type": "string"
        }
      },
      "id": "NodeCreationConfig"
    },
    "WorkloadIdentityConfig": {
      "properties": {
        "workloadPool": {
          "description": "The workload pool to attach all Kubernetes service accounts to.",
          "type": "string"
        }
      },
      "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies.",
      "id": "WorkloadIdentityConfig",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ResourceUsageExportConfig": {
      "properties": {
        "bigqueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Configuration to use BigQuery as usage export destination."
        },
        "enableNetworkEgressMetering": {
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic.",
          "type": "boolean"
        },
        "consumptionMeteringConfig": {
          "description": "Configuration to enable resource consumption metering.",
          "$ref": "ConsumptionMeteringConfig"
        }
      },
      "type": "object",
      "id": "ResourceUsageExportConfig",
      "description": "Configuration for exporting cluster resource usages."
    },
    "WorkloadPolicyConfig": {
      "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
      "type": "object",
      "id": "WorkloadPolicyConfig",
      "properties": {
        "autopilotCompatibilityAuditingEnabled": {
          "description": "If true, enables the GCW Auditor that audits workloads on standard clusters.",
          "type": "boolean"
        },
        "allowNetAdmin": {
          "description": "If true, workloads can use NET_ADMIN capability.",
          "type": "boolean"
        }
      }
    },
    "MaintenanceWindow": {
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "maintenanceExclusions": {
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows.",
          "additionalProperties": {
            "$ref": "TimeWindow"
          },
          "type": "object"
        },
        "recurringMaintenanceWindow": {
          "description": "RecurringMaintenanceWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time. Alternative to RecurringWindow, with renamed fields.",
          "$ref": "RecurringMaintenanceWindow"
        },
        "dailyMaintenanceWindow": {
          "$ref": "DailyMaintenanceWindow",
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window."
        },
        "recurringWindow": {
          "description": "RecurringWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time.",
          "$ref": "RecurringTimeWindow"
        }
      },
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster."
    },
    "NotificationConfig": {
      "type": "object",
      "properties": {
        "pubsub": {
          "description": "Notification config for Pub/Sub.",
          "$ref": "PubSub"
        }
      },
      "id": "NotificationConfig",
      "description": "NotificationConfig is the configuration of notifications."
    },
    "DisruptionBudget": {
      "description": "DisruptionBudget defines the upgrade disruption budget for the cluster control plane.",
      "id": "DisruptionBudget",
      "properties": {
        "patchVersionDisruptionInterval": {
          "description": "Optional. The minimum duration between two patch version upgrades of the control plane.",
          "format": "google-duration",
          "type": "string"
        },
        "minorVersionDisruptionInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The minimum duration between two minor version upgrades of the control plane."
        },
        "lastDisruptionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time a disruption was performed on the control plane."
        },
        "lastMinorVersionDisruptionTime": {
          "description": "Output only. The last time a minor version upgrade was performed on the control plane.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InitScript": {
      "description": "InitScript provide a simply bash script to be executed on the node.",
      "properties": {
        "gcsGeneration": {
          "type": "string",
          "format": "int64",
          "description": "The generation of the init script stored in Gloud Storage. This is the required field to identify the version of the init script. User can get the genetaion from `gcloud storage objects describe gs://BUCKET_NAME/OBJECT_NAME --format=\"value(generation)\"` or from the \"Version history\" tab of the object in the Cloud Console UI."
        },
        "gcpSecretManagerSecretUri": {
          "description": "The resource name of the secret manager secret hosting the init script. Both global and regional secrets are supported with format below: Global secret: projects/{project}/secrets/{secret}/versions/{version} Regional secret: projects/{project}/locations/{location}/secrets/{secret}/versions/{version} Example: projects/1234567890/secrets/script_1/versions/1. Accept version number only, not support version alias. User can't configure both gcp_secret_manager_secret_uri and gcs_uri.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The optional arguments line to be passed to the init script."
        },
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI for storing the init script. Format: gs://BUCKET_NAME/OBJECT_NAME The service account on the node pool must have read access to the object. User can't configure both gcs_uri and gcp_secret_manager_secret_uri."
        }
      },
      "id": "InitScript",
      "type": "object"
    },
    "MemoryManager": {
      "properties": {
        "policy": {
          "type": "string",
          "description": "Controls the memory management policy on the Node. See https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/#policies The following values are allowed. * \"none\" * \"static\" The default value is 'none' if unspecified."
        }
      },
      "description": "The option enables the Kubernetes NUMA-aware Memory Manager feature. Detailed description about the feature can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/).",
      "type": "object",
      "id": "MemoryManager"
    },
    "AutopilotCompatibilityIssue": {
      "type": "object",
      "properties": {
        "lastObservation": {
          "format": "google-datetime",
          "description": "The last time when this issue was observed.",
          "type": "string"
        },
        "subjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The name of the resources which are subject to this issue."
        },
        "constraintType": {
          "type": "string",
          "description": "The constraint type of the issue."
        },
        "description": {
          "description": "The description of the issue.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "A URL to a public documentation, which addresses resolving this issue.",
          "type": "string"
        },
        "incompatibilityType": {
          "description": "The incompatibility type of this issue.",
          "enum": [
            "UNSPECIFIED",
            "INCOMPATIBILITY",
            "ADDITIONAL_CONFIG_REQUIRED",
            "PASSED_WITH_OPTIONAL_CONFIG"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Indicates that the issue is a known incompatibility between the cluster and Autopilot mode.",
            "Indicates the issue is an incompatibility if customers take no further action to resolve.",
            "Indicates the issue is not an incompatibility, but depending on the workloads business logic, there is a potential that they won't work on Autopilot."
          ],
          "type": "string"
        }
      },
      "description": "AutopilotCompatibilityIssue contains information about a specific compatibility issue with Autopilot mode.",
      "id": "AutopilotCompatibilityIssue"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DefaultSnatStatus": {
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster.",
      "type": "object",
      "id": "DefaultSnatStatus",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Disables cluster default sNAT rules."
        }
      }
    },
    "Autopilot": {
      "type": "object",
      "description": "Autopilot is the configuration for Autopilot settings on the cluster.",
      "properties": {
        "workloadPolicyConfig": {
          "$ref": "WorkloadPolicyConfig",
          "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy"
        },
        "privilegedAdmissionConfig": {
          "$ref": "PrivilegedAdmissionConfig",
          "description": "PrivilegedAdmissionConfig is the configuration related to privileged admission control."
        },
        "clusterPolicyConfig": {
          "description": "ClusterPolicyConfig denotes cluster level policies that are enforced for the cluster.",
          "$ref": "ClusterPolicyConfig"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable Autopilot"
        }
      },
      "id": "Autopilot"
    },
    "AutoUpgradeOptions": {
      "properties": {
        "autoUpgradeStartTime": {
          "type": "string",
          "description": "Output only. This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. This field is set when upgrades are about to commence with the description of the upgrade.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
      "id": "AutoUpgradeOptions"
    },
    "FastSocket": {
      "id": "FastSocket",
      "properties": {
        "enabled": {
          "description": "Whether Fast Socket features are enabled in the node pool.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration of Fast Socket feature."
    },
    "GcePersistentDiskCsiDriverConfig": {
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "id": "GcePersistentDiskCsiDriverConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "IdentityServiceConfig": {
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable the Identity Service component"
        }
      },
      "type": "object",
      "id": "IdentityServiceConfig"
    },
    "NodePoolAutoscaling": {
      "properties": {
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of nodes for one location in the node pool. Must be >= min_node_count. There has to be enough quota to scale up the cluster."
        },
        "totalMinNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of nodes in the node pool. Must be greater than or equal to 0 and less than or equal to total_max_node_count. The total_*_node_count fields are mutually exclusive with the *_node_count fields."
        },
        "locationPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "BALANCED is a best effort policy that aims to balance the sizes of different zones.",
            "ANY policy picks zones that have the highest capacity available."
          ],
          "enum": [
            "LOCATION_POLICY_UNSPECIFIED",
            "BALANCED",
            "ANY"
          ],
          "description": "Location policy used when scaling up a node pool."
        },
        "autoprovisioned": {
          "description": "Can this node pool be deleted automatically.",
          "type": "boolean"
        },
        "totalMaxNodeCount": {
          "format": "int32",
          "description": "Maximum number of nodes in the node pool. Must be greater than or equal to total_min_node_count. There has to be enough quota to scale up the cluster. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "type": "integer"
        },
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        },
        "minNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of nodes for one location in the node pool. Must be greater than or equal to 0 and less than or equal to max_node_count."
        }
      },
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "id": "NodePoolAutoscaling",
      "type": "object"
    },
    "ManagedOpenTelemetryConfig": {
      "properties": {
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "SCOPE_UNSPECIFIED is when the scope is not set.",
            "NONE is used to disable the Managed OpenTelemetry pipeline.",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS is used to enable the Managed OpenTelemetry pipeline for collection and instrumentation components."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "NONE",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS"
          ],
          "description": "Scope of the Managed OpenTelemetry pipeline."
        }
      },
      "description": "ManagedOpenTelemetryConfig is the configuration for the GKE Managed OpenTelemetry pipeline.",
      "type": "object",
      "id": "ManagedOpenTelemetryConfig"
    },
    "MeshCertificates": {
      "type": "object",
      "id": "MeshCertificates",
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
      "properties": {
        "enableCertificates": {
          "type": "boolean",
          "description": "enable_certificates controls issuance of workload mTLS certificates. If set, the GKE Workload Identity Certificates controller and node agent will be deployed in the cluster, which can then be configured by creating a WorkloadCertificateConfig Custom Resource. Requires Workload Identity (workload_pool must be non-empty)."
        }
      }
    },
    "ExclusionUntilEndOfSupport": {
      "id": "ExclusionUntilEndOfSupport",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the maintenance exclusion. It is output only. It is the cluster control plane version's end of support time, or end of extended support time when the cluster is on extended support channel.",
          "format": "google-datetime",
          "readOnly": true
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the exclusion is enabled."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of the maintenance exclusion. It is output only. It is the exclusion creation time.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Defines the maintenance exclusion for the node pool.",
      "type": "object"
    },
    "GetOpenIDConfigResponse": {
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "type": "object",
      "id": "GetOpenIDConfigResponse",
      "properties": {
        "claims_supported": {
          "description": "Supported claims.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "For HTTP requests, this field is automatically extracted into the Cache-Control HTTP header."
        },
        "id_token_signing_alg_values_supported": {
          "description": "supported ID Token signing Algorithms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "grant_types": {
          "type": "array",
          "description": "Supported grant types.",
          "items": {
            "type": "string"
          }
        },
        "jwks_uri": {
          "description": "JSON Web Key uri.",
          "type": "string"
        },
        "subject_types_supported": {
          "description": "Supported subject types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "response_types_supported": {
          "description": "Supported response types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DisruptionEvent": {
      "description": "DisruptionEvent is a notification sent to customers about the disruption event of a resource.",
      "properties": {
        "pdbBlockedPod": {
          "items": {
            "$ref": "PdbBlockedPod"
          },
          "description": "The pods whose evictions are blocked by PDB. This field is set for both POD_PDB_VIOLATION and POD_NOT_ENOUGH_PDB event.",
          "type": "array"
        },
        "disruptionType": {
          "enumDescriptions": [
            "DISRUPTION_TYPE_UNSPECIFIED indicates the disruption type is unspecified.",
            "POD_NOT_ENOUGH_PDB indicates there are still running pods on the node during node drain because their evictions are blocked by PDB.",
            "POD_PDB_VIOLATION indicates that there are force pod evictions during node drain which violate the PDB."
          ],
          "type": "string",
          "description": "The type of the disruption event.",
          "enum": [
            "DISRUPTION_TYPE_UNSPECIFIED",
            "POD_NOT_ENOUGH_PDB",
            "POD_PDB_VIOLATION"
          ]
        },
        "pdbBlockedNode": {
          "type": "string",
          "description": "The node whose drain is blocked by PDB. This field is set for both POD_PDB_VIOLATION and POD_NOT_ENOUGH_PDB event."
        },
        "pdbViolationTimeout": {
          "description": "The timeout in seconds for which the node drain is blocked by PDB. After this timeout, pods are forcefully evicted. This field is only populated when event_type is POD_PDB_VIOLATION.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "DisruptionEvent",
      "type": "object"
    },
    "RollbackSafeUpgrade": {
      "description": "RollbackSafeUpgrade is the configuration for the rollback safe upgrade.",
      "type": "object",
      "properties": {
        "controlPlaneSoakDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. A user-defined period for the cluster remains in the rollbackable state. ex: {seconds: 21600}."
        }
      },
      "id": "RollbackSafeUpgrade"
    },
    "PubSub": {
      "type": "object",
      "description": "Pub/Sub specific notification config.",
      "id": "PubSub",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable notifications for Pub/Sub."
        },
        "topic": {
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "filter": {
          "description": "Allows filtering to one or more specific event types. If no filter is specified, or if a filter is specified with no event types, all event types will be sent",
          "$ref": "Filter"
        }
      }
    },
    "NodePoolAutoConfig": {
      "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
      "type": "object",
      "id": "NodePoolAutoConfig",
      "properties": {
        "networkTags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster creation. Each tag within the list must comply with RFC1035.",
          "$ref": "NetworkTags"
        },
        "resourceManagerTags": {
          "$ref": "ResourceManagerTags",
          "description": "Resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies."
        },
        "nodeKubeletConfig": {
          "description": "NodeKubeletConfig controls the defaults for autoprovisioned node-pools. Currently only `insecure_kubelet_readonly_port_enabled` can be set here.",
          "$ref": "NodeKubeletConfig"
        },
        "linuxNodeConfig": {
          "readOnly": true,
          "description": "Output only. Configuration options for Linux nodes.",
          "$ref": "LinuxNodeConfig"
        }
      }
    },
    "SetNetworkPolicyRequest": {
      "id": "SetNetworkPolicyRequest",
      "type": "object",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "networkPolicy": {
          "description": "Required. Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "AutopilotConfig": {
      "description": "AutopilotConfig contains configuration of autopilot feature for this node pool.",
      "properties": {
        "enabled": {
          "description": "Denotes that nodes belonging to this node pool are Autopilot nodes.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AutopilotConfig"
    },
    "SetMonitoringServiceRequest": {
      "id": "SetMonitoringServiceRequest",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "type": "object",
      "properties": {
        "monitoringService": {
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "HttpLoadBalancing": {
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "HttpLoadBalancing",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster."
    },
    "VirtualNIC": {
      "id": "VirtualNIC",
      "properties": {
        "enabled": {
          "description": "Whether gVNIC features are enabled in the node pool.",
          "type": "boolean"
        }
      },
      "description": "Configuration of gVNIC feature.",
      "type": "object"
    },
    "ResourceLabels": {
      "description": "Collection of [Resource Manager labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels).",
      "id": "ResourceLabels",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of node label keys and node label values."
        }
      }
    },
    "GcsFuseCsiDriverConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Cloud Storage Fuse CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the Cloud Storage Fuse CSI driver.",
      "id": "GcsFuseCsiDriverConfig"
    },
    "EvictionSignals": {
      "type": "object",
      "description": "Eviction signals are the current state of a particular resource at a specific point in time. The kubelet uses eviction signals to make eviction decisions by comparing the signals to eviction thresholds, which are the minimum amount of the resource that should be available on the node.",
      "properties": {
        "nodefsAvailable": {
          "description": "Optional. Amount of storage available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 10% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "memoryAvailable": {
          "type": "string",
          "description": "Optional. Memory available (i.e. capacity - workingSet), in bytes. Defines the amount of \"memory.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. Format: positive number + unit, e.g. 100Ki, 10Mi, 5Gi. Valid units are Ki, Mi, Gi. Must be >= 100Mi and <= 50% of the node's memory. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "imagefsAvailable": {
          "type": "string",
          "description": "Optional. Amount of storage available on filesystem that container runtime uses for storing images layers. If the container filesystem and image filesystem are not separate, then imagefs can store both image layers and writeable layers. Defines the amount of \"imagefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 15% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "pidAvailable": {
          "type": "string",
          "description": "Optional. Amount of PID available for pod allocation. Defines the amount of \"pid.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 10% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "imagefsInodesFree": {
          "type": "string",
          "description": "Optional. Amount of inodes available on filesystem that container runtime uses for storing images layers. Defines the amount of \"imagefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. It takses percentage value for now. Sample format: \"30%\". Must be >= 5% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "nodefsInodesFree": {
          "description": "Optional. Amount of inodes available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. It takses percentage value for now. Sample format: \"30%\". Must be >= 5% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        }
      },
      "id": "EvictionSignals"
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "type": "object",
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether network policy is enabled on the cluster."
        },
        "provider": {
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "description": "The selected network policy provider.",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "type": "string"
        }
      }
    },
    "NodeKubeletConfig": {
      "id": "NodeKubeletConfig",
      "type": "object",
      "description": "Node kubelet configs.",
      "properties": {
        "containerLogMaxSize": {
          "description": "Optional. Defines the maximum size of the container log file before it is rotated. See https://kubernetes.io/docs/concepts/cluster-administration/logging/#log-rotation Valid format is positive number + unit, e.g. 100Ki, 10Mi. Valid units are Ki, Mi, Gi. The value must be between 10Mi and 500Mi, inclusive. Note that the total container log size (container_log_max_size * container_log_max_files) cannot exceed 1% of the total storage of the node, to avoid disk pressure caused by log files. The default value is 10Mi if unspecified.",
          "type": "string"
        },
        "imageMinimumGcAge": {
          "type": "string",
          "description": "Optional. Defines the minimum age for an unused image before it is garbage collected. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300s\", \"1.5h\", and \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration less than or equal to 2 minutes. The default value is \"2m0s\" if unspecified."
        },
        "evictionSoft": {
          "description": "Optional. eviction_soft is a map of signal names to quantities that defines soft eviction thresholds. Each signal is compared to its corresponding threshold to determine if a pod eviction should occur.",
          "$ref": "EvictionSignals"
        },
        "maxParallelImagePulls": {
          "description": "Optional. Defines the maximum number of image pulls in parallel. The range is 2 to 5, inclusive. The default value is 2 or 3 depending on the disk type. See https://kubernetes.io/docs/concepts/containers/images/#maximum-parallel-image-pulls for more details.",
          "type": "integer",
          "format": "int32"
        },
        "memoryManager": {
          "description": "Optional. Controls NUMA-aware Memory Manager configuration on the node. For more information, see: https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/",
          "$ref": "MemoryManager"
        },
        "imageGcLowThresholdPercent": {
          "description": "Optional. Defines the percent of disk usage before which image garbage collection is never run. Lowest disk usage to garbage collect to. The percent is calculated as this field value out of 100. The value must be between 10 and 85, inclusive and smaller than image_gc_high_threshold_percent. The default value is 80 if unspecified.",
          "format": "int32",
          "type": "integer"
        },
        "evictionMinimumReclaim": {
          "description": "Optional. eviction_minimum_reclaim is a map of signal names to quantities that defines minimum reclaims, which describe the minimum amount of a given resource the kubelet will reclaim when performing a pod eviction while that resource is under pressure.",
          "$ref": "EvictionMinimumReclaim"
        },
        "podPidsLimit": {
          "type": "string",
[...]
