{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "content",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version": "v2.1",
  "canonicalName": "Shopping Content",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "revision": "20260826",
  "title": "Content API for Shopping",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "basePath": "/content/v2.1/",
  "servicePath": "content/v2.1/",
  "resources": {
    "products": {
      "methods": {
        "get": {
          "path": "{merchantId}/products/{productId}",
          "id": "content.products.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Retrieves a product from your Merchant Center account.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Product"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            },
            "productId": {
              "location": "path",
              "type": "string",
              "description": "The REST ID of the product.",
              "required": true
            }
          },
          "flatPath": "{merchantId}/products/{productId}"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/products/{productId}",
          "parameters": {
            "productId": {
              "required": true,
              "type": "string",
              "description": "The REST ID of the product for which to update.",
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "description": "The comma-separated list of product attributes to be updated. Example: `\"title,salePrice\"`. Attributes specified in the update mask without a value specified in the body will be deleted from the product. *You must specify the update mask to delete attributes.* Only top-level product attributes can be updated. If not defined, product attributes with set values will be updated and other attributes will stay unchanged.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "id": "content.products.update",
          "path": "{merchantId}/products/{productId}",
          "request": {
            "$ref": "Product"
          },
          "response": {
            "$ref": "Product"
          },
          "description": "Updates an existing product in your Merchant Center account. Only updates attributes provided in the request.",
          "httpMethod": "PATCH"
        },
        "delete": {
          "flatPath": "{merchantId}/products/{productId}",
          "description": "Deletes a product from your Merchant Center account.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "productId": {
              "required": true,
              "type": "string",
              "description": "The REST ID of the product.",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "type": "string"
            },
            "feedId": {
              "type": "string",
              "description": "The Content API Supplemental Feed ID. If present then product deletion applies to the data in a supplemental feed. If absent, entire product will be deleted.",
              "format": "uint64",
              "location": "query"
            }
          },
          "path": "{merchantId}/products/{productId}",
          "id": "content.products.delete"
        },
        "insert": {
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "response": {
            "$ref": "Product"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "feedId": {
              "format": "uint64",
              "description": "The Content API Supplemental Feed ID. If present then product insertion applies to the data in a supplemental feed.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Product"
          },
          "id": "content.products.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/products",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/products",
          "httpMethod": "POST"
        },
        "custombatch": {
          "flatPath": "products/batch",
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "path": "products/batch",
          "parameters": {},
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "httpMethod": "POST",
          "id": "content.products.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "response": {
            "$ref": "ProductsListResponse"
          },
          "path": "{merchantId}/products",
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "format": "uint32"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/products",
          "id": "content.products.list",
          "httpMethod": "GET"
        }
      }
    },
    "productstatuses": {
      "methods": {
        "list": {
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "type": "integer"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "content.productstatuses.list",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/productstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/productstatuses"
        },
        "custombatch": {
          "id": "content.productstatuses.custombatch",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {},
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "flatPath": "productstatuses/batch",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "productstatuses/batch",
          "description": "Gets the statuses of multiple products in a single request."
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "id": "content.productstatuses.get",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "productId": {
              "required": true,
              "location": "path",
              "description": "The REST ID of the product.",
              "type": "string"
            },
            "destinations": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ProductStatus"
          },
          "path": "{merchantId}/productstatuses/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets the status of a product from your Merchant Center account."
        }
      }
    },
    "accounttax": {
      "methods": {
        "custombatch": {
          "path": "accounttax/batch",
          "flatPath": "accounttax/batch",
          "httpMethod": "POST",
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "id": "content.accounttax.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "parameters": {},
          "parameterOrder": []
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update account tax settings.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            }
          },
          "id": "content.accounttax.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "AccountTax"
          },
          "response": {
            "$ref": "AccountTax"
          },
          "path": "{merchantId}/accounttax/{accountId}"
        },
        "get": {
          "id": "content.accounttax.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "type": "string"
            }
          },
          "description": "Retrieves the tax settings of the account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/accounttax/{accountId}"
        },
        "list": {
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "path": "{merchantId}/accounttax",
          "flatPath": "{merchantId}/accounttax",
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounttax.list"
        }
      }
    },
    "pos": {
      "methods": {
        "inventory": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "description": "Submit inventory for the given merchant.",
          "id": "content.pos.inventory",
          "parameters": {
            "targetMerchantId": {
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "required": true
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ]
        },
        "custombatch": {
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "httpMethod": "POST",
          "id": "content.pos.custombatch",
          "flatPath": "pos/batch",
          "description": "Batches multiple POS-related calls in a single request.",
          "path": "pos/batch",
          "parameters": {}
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a store for the given merchant.",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "targetMerchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string"
            },
            "storeCode": {
              "type": "string",
              "description": "A store code that is unique per merchant.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.delete"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "description": "Retrieves information about the given store.",
          "response": {
            "$ref": "PosStore"
          },
          "httpMethod": "GET",
          "id": "content.pos.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "storeCode": {
              "location": "path",
              "description": "A store code that is unique per merchant.",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "targetMerchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the target merchant."
            }
          },
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}"
        },
        "insert": {
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "description": "Creates a store for the given merchant.",
          "id": "content.pos.insert",
          "request": {
            "$ref": "PosStore"
          },
          "httpMethod": "POST",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "PosStore"
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "type": "string"
            },
            "targetMerchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the target merchant."
            }
          }
        },
        "list": {
          "description": "Lists the stores of the target merchant.",
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosListResponse"
          },
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "required": true,
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.list",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "httpMethod": "GET"
        },
        "sale": {
          "id": "content.pos.sale",
          "httpMethod": "POST",
          "response": {
            "$ref": "PosSaleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "targetMerchantId": {
              "type": "string",
              "description": "The ID of the target merchant.",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "description": "Submit a sale event for the given merchant.",
          "request": {
            "$ref": "PosSaleRequest"
          }
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "custombatch": {
          "flatPath": "accountstatuses/batch",
          "httpMethod": "POST",
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "id": "content.accountstatuses.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "path": "accountstatuses/batch",
          "parameters": {}
        },
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "flatPath": "{merchantId}/accountstatuses",
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "id": "content.accountstatuses.list",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "destinations": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of account statuses to return in the response, used for paging."
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "name": {
              "location": "query",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "path": "{merchantId}/accountstatuses"
        },
        "get": {
          "id": "content.accountstatuses.get",
          "httpMethod": "GET",
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "path": "{merchantId}/accountstatuses/{accountId}",
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "AccountStatus"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "regions": {
      "methods": {
        "delete": {
          "parameters": {
            "regionId": {
              "description": "Required. The id of the region to delete.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "description": "Required. The id of the merchant for which to delete region definition.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "path": "{merchantId}/regions/{regionId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/regions/{regionId}",
          "description": "Deletes a region definition from your Merchant Center account.",
          "id": "content.regions.delete",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "response": {
            "$ref": "Region"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Region"
          },
          "parameters": {
            "regionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The id of the region to update."
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "Required. The id of the merchant for which to update region definition.",
              "format": "int64",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/regions/{regionId}",
          "id": "content.regions.patch",
          "path": "{merchantId}/regions/{regionId}",
          "description": "Updates a region definition in your Merchant Center account."
        },
        "create": {
          "path": "{merchantId}/regions",
          "description": "Creates a region definition in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Region"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.regions.create",
          "parameters": {
            "regionId": {
              "type": "string",
              "location": "query",
              "description": "Required. The id of the region to create."
            },
            "merchantId": {
              "format": "int64",
              "description": "Required. The id of the merchant for which to create region definition.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Region"
          },
          "flatPath": "{merchantId}/regions"
        },
        "get": {
          "path": "{merchantId}/regions/{regionId}",
          "flatPath": "{merchantId}/regions/{regionId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Region"
          },
          "id": "content.regions.get",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Retrieves a region defined in your Merchant Center account.",
          "parameters": {
            "regionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The id of the region to retrieve."
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve region definition.",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to list region definitions.",
              "type": "string",
              "format": "int64"
            }
          },
          "id": "content.regions.list",
          "flatPath": "{merchantId}/regions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the regions in your Merchant Center account.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListRegionsResponse"
          },
          "path": "{merchantId}/regions"
        }
      }
    },
    "shoppingadsprogram": {
      "methods": {
        "requestreview": {
          "id": "content.shoppingadsprogram.requestreview",
          "httpMethod": "POST",
          "request": {
            "$ref": "RequestReviewShoppingAdsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the account.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/shoppingadsprogram/requestreview",
          "path": "{merchantId}/shoppingadsprogram/requestreview",
          "description": "Requests a review of Shopping ads in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review."
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ShoppingAdsProgramStatus"
          },
          "description": "Retrieves the status and review eligibility for the Shopping Ads program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "id": "content.shoppingadsprogram.get",
          "path": "{merchantId}/shoppingadsprogram",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "Required. The ID of the account.",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/shoppingadsprogram"
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "create": {
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "description": "Creates or updates the delivery time of a product.",
          "id": "content.productdeliverytime.create",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "ProductDeliveryTime"
          },
          "path": "{merchantId}/productdeliverytime",
          "flatPath": "{merchantId}/productdeliverytime",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "productId": {
              "location": "path",
              "type": "string",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "required": true
            }
          },
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "path": "{merchantId}/productdeliverytime/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets `productDeliveryTime` by `productId`.",
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "id": "content.productdeliverytime.get",
          "httpMethod": "GET"
        },
        "delete": {
          "id": "content.productdeliverytime.delete",
          "path": "{merchantId}/productdeliverytime/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes the delivery time of a product.",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "productId": {
              "location": "path",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "collectionstatuses": {
      "methods": {
        "get": {
          "response": {
            "$ref": "CollectionStatus"
          },
          "id": "content.collectionstatuses.get",
          "httpMethod": "GET",
          "path": "{merchantId}/collectionstatuses/{collectionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "parameters": {
            "collectionId": {
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64"
            }
          },
          "flatPath": "{merchantId}/collectionstatuses/{collectionId}",
          "description": "Gets the status of a collection from your Merchant Center account."
        },
        "list": {
          "id": "content.collectionstatuses.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of collection statuses to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000."
            },
            "pageToken": {
              "location": "query",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/collectionstatuses",
          "response": {
            "$ref": "ListCollectionStatusesResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the statuses of the collections in your Merchant Center account.",
          "flatPath": "{merchantId}/collectionstatuses"
        }
      }
    },
    "recommendations": {
      "methods": {
        "generate": {
          "id": "content.recommendations.generate",
          "path": "{merchantId}/recommendations/generate",
          "response": {
            "$ref": "GenerateRecommendationsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/recommendations/generate",
          "description": "Generates recommendations for a merchant.",
          "parameters": {
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. Language code of the client. If not set, the result will be in default language (English). This language code affects all fields prefixed with \"localized\". This should be set to ISO 639-1 country code. List of currently verified supported language code: en, fr, cs, da, de, es, it, nl, no, pl, pt, pt, fi, sv, vi, tr, th, ko, zh-CN, zh-TW, ja, id, hi"
            },
            "allowedTag": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Optional. List of allowed tags. Tags are a set of predefined strings that describe the category that individual recommendation types belong to. User can specify zero or more tags in this field to indicate what categories of recommendations they want to receive. Current list of supported tags: - TREND"
            },
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the account to fetch recommendations for.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "reportInteraction": {
          "flatPath": "{merchantId}/recommendations/reportInteraction",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account that wants to report an interaction."
            }
          },
          "description": "Reports an interaction on a recommendation for a merchant.",
          "request": {
            "$ref": "ReportInteractionRequest"
          },
          "id": "content.recommendations.reportInteraction",
          "path": "{merchantId}/recommendations/reportInteraction",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "ordertrackingsignals": {
      "methods": {
        "create": {
          "path": "{merchantId}/ordertrackingsignals",
          "flatPath": "{merchantId}/ordertrackingsignals",
          "parameters": {
            "merchantId": {
              "description": "The ID of the merchant for which the order signal is created.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "OrderTrackingSignal"
          },
          "description": "Creates new order tracking signal.",
          "response": {
            "$ref": "OrderTrackingSignal"
          },
          "id": "content.ordertrackingsignals.create",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "getsupportedpickupservices": {
          "path": "{merchantId}/supportedPickupServices",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/supportedPickupServices",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account for which to retrieve the supported pickup services.",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves supported pickup services for an account.",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "id": "content.shippingsettings.getsupportedpickupservices"
        },
        "getsupportedcarriers": {
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "description": "Retrieves supported carriers and carrier services for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "id": "content.shippingsettings.getsupportedcarriers",
          "path": "{merchantId}/supportedCarriers",
          "flatPath": "{merchantId}/supportedCarriers",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "flatPath": "{merchantId}/shippingsettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of shipping settings to return in the response, used for paging.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "path": "{merchantId}/shippingsettings",
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "id": "content.shippingsettings.list"
        },
        "update": {
          "path": "{merchantId}/shippingsettings/{accountId}",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings."
            }
          },
          "id": "content.shippingsettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ShippingSettings"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "response": {
            "$ref": "ShippingSettings"
          }
        },
        "get": {
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to get/update shipping settings.",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "path": "{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "id": "content.shippingsettings.get",
          "httpMethod": "GET",
          "description": "Retrieves the shipping settings of the account.",
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "path": "shippingsettings/batch",
          "parameters": {},
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "id": "content.shippingsettings.custombatch",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "flatPath": "shippingsettings/batch",
          "parameterOrder": []
        },
        "getsupportedholidays": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.getsupportedholidays",
          "flatPath": "{merchantId}/supportedHolidays",
          "path": "{merchantId}/supportedHolidays",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Retrieves supported holidays for an account."
        }
      }
    },
    "merchantsupport": {
      "methods": {
        "renderproductissues": {
          "parameters": {
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC."
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id) of the product to fetch issues for."
            },
            "merchantId": {
              "description": "Required. The ID of the account that contains the product.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "RenderProductIssuesResponse"
          },
          "request": {
            "$ref": "RenderProductIssuesRequestPayload"
          },
          "description": "Provide a list of issues for merchant's product with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "httpMethod": "POST",
          "path": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "id": "content.merchantsupport.renderproductissues"
        },
        "renderaccountissues": {
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.merchantsupport.renderaccountissues",
          "response": {
            "$ref": "RenderAccountIssuesResponse"
          },
          "httpMethod": "POST",
          "description": "Provide a list of merchant's issues with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "flatPath": "{merchantId}/merchantsupport/renderaccountissues",
          "request": {
            "$ref": "RenderAccountIssuesRequestPayload"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "timeZone": {
              "type": "string",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the account to fetch issues for.",
              "format": "int64"
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            }
          },
          "path": "{merchantId}/merchantsupport/renderaccountissues"
        },
        "triggeraction": {
          "path": "{merchantId}/merchantsupport/triggeraction",
          "description": "Start an action. The action can be requested by merchants in third-party application. Before merchants can request the action, the third-party application needs to show them action specific content and display a user input form. You can submit an allowlist request in the [Shopping API Support Form](https://support.google.com/merchants/contact/shopping_api_support_form) under \"What is the issue/question?\" to get access to this feature. The action can be successfully started only once all `required` inputs are provided. If any `required` input is missing, or invalid value was provided, the service will return 400 error. Validation errors will contain Ids for all problematic field together with translated, human readable error messages that can be shown to the user.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.merchantsupport.triggeraction",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "flatPath": "{merchantId}/merchantsupport/triggeraction",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the merchant's account.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) used to localize the response. If not set, the result will be in default language `en-US`."
            }
          },
          "request": {
            "$ref": "TriggerActionPayload"
          },
          "response": {
            "$ref": "TriggerActionResponse"
          }
        }
      }
    },
    "returnpolicyonline": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "parameters": {
            "returnPolicyId": {
              "required": true,
              "description": "Required. The id of the return policy to retrieve.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            }
          },
          "httpMethod": "GET",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "description": "Gets an existing return policy.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.returnpolicyonline.get"
        },
        "delete": {
          "description": "Deletes an existing return policy.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            },
            "returnPolicyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The id of the return policy to delete."
            }
          },
          "id": "content.returnpolicyonline.delete",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListReturnPolicyOnlineResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "required": true
            }
          },
          "id": "content.returnpolicyonline.list",
          "flatPath": "{merchantId}/returnpolicyonline",
          "description": "Lists all existing return policies.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline"
        },
        "patch": {
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "description": "Updates an existing return policy.",
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameters": {
            "returnPolicyId": {
              "description": "Required. The id of the return policy to update.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "required": true
            }
          },
          "id": "content.returnpolicyonline.patch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ReturnPolicyOnline"
          }
        },
        "create": {
          "path": "{merchantId}/returnpolicyonline",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Creates a new return policy.",
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "flatPath": "{merchantId}/returnpolicyonline",
          "id": "content.returnpolicyonline.create",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "freelistingsprogram": {
      "methods": {
        "requestreview": {
          "httpMethod": "POST",
          "id": "content.freelistingsprogram.requestreview",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account.",
              "location": "path"
            }
          },
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review."
        },
        "get": {
          "response": {
            "$ref": "FreeListingsProgramStatus"
          },
          "id": "content.freelistingsprogram.get",
          "httpMethod": "GET",
          "path": "{merchantId}/freelistingsprogram",
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "flatPath": "{merchantId}/freelistingsprogram",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the account.",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      },
      "resources": {
        "checkoutsettings": {
          "methods": {
            "get": {
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ],
              "parameters": {
                "merchantId": {
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "httpMethod": "GET",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.freelistingsprogram.checkoutsettings.get"
            },
            "delete": {
              "parameters": {
                "merchantId": {
                  "description": "Required. The ID of the account.",
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "merchantId"
              ],
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "httpMethod": "DELETE",
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.delete"
            },
            "insert": {
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "parameterOrder": [
                "merchantId"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the account."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Enrolls merchant in `Checkout` program.",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "httpMethod": "POST",
              "id": "content.freelistingsprogram.checkoutsettings.insert"
            }
          }
        }
      }
    },
    "collections": {
      "methods": {
        "get": {
          "path": "{merchantId}/collections/{collectionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/collections/{collectionId}",
          "id": "content.collections.get",
          "parameters": {
            "collectionId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The REST ID of the collection."
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account."
            }
          },
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "response": {
            "$ref": "Collection"
          },
          "httpMethod": "GET",
          "description": "Retrieves a collection from your Merchant Center account."
        },
        "delete": {
          "flatPath": "{merchantId}/collections/{collectionId}",
          "path": "{merchantId}/collections/{collectionId}",
          "description": "Deletes a collection from your Merchant Center account.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.collections.delete",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account."
            },
            "collectionId": {
              "location": "path",
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Collection"
          },
          "description": "Uploads a collection to your Merchant Center account. If a collection with the same collectionId already exists, this method updates that entry. In each update, the collection is completely replaced by the fields in the body of the update request.",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account."
            }
          },
          "request": {
            "$ref": "Collection"
          },
          "id": "content.collections.create",
          "flatPath": "{merchantId}/collections",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "path": "{merchantId}/collections"
        },
        "list": {
          "path": "{merchantId}/collections",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ListCollectionsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the collections in your Merchant Center account. The response might contain fewer items than specified by page_size. Rely on next_page_token to determine if there are more items to be requested.",
          "id": "content.collections.list",
          "flatPath": "{merchantId}/collections",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "format": "int64",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of collections to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "location": "query"
            }
          }
        }
      }
    },
    "quotas": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/quotas",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.quotas.list",
          "description": "Lists the daily call quota and usage per method for your Merchant Center account.",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000."
            },
            "merchantId": {
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account that has quota. This account must be an admin.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListMethodQuotasResponse"
          },
          "path": "{merchantId}/quotas"
        }
      }
    },
    "accounts": {
      "methods": {
        "verifyphonenumber": {
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          },
          "id": "content.accounts.verifyphonenumber",
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "parameters": {
            "accountId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the account.",
              "format": "int64"
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "required": true
            }
          },
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          }
        },
        "insert": {
          "id": "content.accounts.insert",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/accounts",
          "description": "Creates a Merchant Center sub-account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Account"
          },
          "path": "{merchantId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "POST"
        },
        "custombatch": {
          "id": "content.accounts.custombatch",
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "parameters": {},
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "path": "accounts/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/batch",
          "parameterOrder": []
        },
        "update": {
          "request": {
            "$ref": "Account"
          },
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.update",
          "parameters": {
            "accountId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account.",
              "required": true,
              "format": "uint64"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "path": "{merchantId}/accounts/{accountId}"
        },
        "authinfo": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns information about the authenticated user.",
          "flatPath": "accounts/authinfo",
          "id": "content.accounts.authinfo",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          }
        },
        "requestphoneverification": {
          "id": "content.accounts.requestphoneverification",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "int64"
            },
            "accountId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the account."
            }
          },
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "httpMethod": "POST",
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          },
          "description": "Request verification code to start phone verification.",
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification"
        },
        "claimwebsite": {
          "id": "content.accounts.claimwebsite",
          "httpMethod": "POST",
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Claims the website of a Merchant Center sub-account. Merchant accounts with approved third-party CSSs aren't required to claim a website.",
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "parameters": {
            "overwrite": {
              "type": "boolean",
              "location": "query",
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request."
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "format": "uint64"
            },
            "accountId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account whose website is claimed.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts",
          "path": "{merchantId}/accounts",
          "httpMethod": "GET",
          "id": "content.accounts.list",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "parameters": {
            "name": {
              "location": "query",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "type": "string"
            },
            "view": {
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of accounts to return in the response, used for paging."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true
            },
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "location": "query",
              "format": "uint64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "updatelabels": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "httpMethod": "POST",
          "id": "content.accounts.updatelabels",
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the managing account.",
              "location": "path"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account whose labels are updated."
            }
          }
        },
        "listlinks": {
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "GET",
          "id": "content.accounts.listlinks",
          "flatPath": "{merchantId}/accounts/{accountId}/listlinks",
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account for which to list links."
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of links to return in the response, used for pagination. The minimum allowed value is 5 results per page. If provided value is lower than 5, it will be automatically increased to 5."
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns the list of accounts linked to your Merchant Center account."
        },
        "delete": {
          "description": "Deletes a Merchant Center sub-account.",
          "id": "content.accounts.delete",
          "parameters": {
            "force": {
              "description": "Option to delete sub-accounts with products. The default value is false.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "required": true,
              "format": "uint64",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path"
            }
          },
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}",
          "httpMethod": "DELETE"
        },
        "link": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "httpMethod": "POST",
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "path": "{merchantId}/accounts/{accountId}/link",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "parameters": {
            "accountId": {
              "location": "path",
              "description": "The ID of the account that should be linked.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true
            }
          },
          "id": "content.accounts.link"
        },
        "get": {
          "path": "{merchantId}/accounts/{accountId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Account"
          },
          "id": "content.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account.",
              "type": "string"
            },
            "view": {
              "location": "query",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "type": "string",
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ]
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves a Merchant Center account."
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "list": {
              "flatPath": "accounts/{accountId}/labels",
              "description": "Lists the labels assigned to an account.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                },
                "accountId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "description": "Required. The account id for whose labels are to be listed."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.labels.list",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "path": "accounts/{accountId}/labels",
              "httpMethod": "GET"
            },
            "delete": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The id of the account that owns the label.",
                  "required": true
                },
                "labelId": {
                  "format": "int64",
                  "description": "Required. The id of the label to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "httpMethod": "DELETE",
              "id": "content.accounts.labels.delete",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "path": "accounts/{accountId}/labels/{labelId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "accountId",
                "labelId"
              ]
            },
            "create": {
              "flatPath": "accounts/{accountId}/labels",
              "path": "accounts/{accountId}/labels",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The id of the account this label belongs to.",
                  "required": true,
                  "format": "int64"
                }
              },
              "description": "Creates a new label, not assigned to any account.",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.labels.create",
              "httpMethod": "POST"
            },
            "patch": {
              "id": "content.accounts.labels.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
[...]
