{
  "protocol": "rest",
  "canonicalName": "Container Analysis",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "version_module": true,
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "containeranalysis",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Number of occurrences to return in the list."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "pattern": "^projects/[^/]+/notes/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression."
                    }
                  },
                  "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/occurrences"
                }
              }
            }
          },
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified note.",
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "id": "containeranalysis.projects.notes.delete",
              "path": "v1/{+name}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Note"
              },
              "description": "Updates the specified note.",
              "id": "containeranalysis.projects.notes.patch",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Note"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`."
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "type": "string"
                }
              },
              "description": "Gets the specified note.",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Note"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.notes.get",
              "httpMethod": "GET"
            },
            "batchCreate": {
              "description": "Creates new notes in batch.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "BatchCreateNotesRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/notes:batchCreate",
              "flatPath": "v1/projects/{projectsId}/notes:batchCreate",
              "response": {
                "$ref": "BatchCreateNotesResponse"
              },
              "httpMethod": "POST",
              "id": "containeranalysis.projects.notes.batchCreate"
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`.",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "If set, the request will return all reachable Notes and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "location": "query"
                }
              },
              "description": "Lists notes for the specified project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "path": "v1/{+parent}/notes",
              "id": "containeranalysis.projects.notes.list"
            },
            "create": {
              "id": "containeranalysis.projects.notes.create",
              "request": {
                "$ref": "Note"
              },
              "path": "v1/{+parent}/notes",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/notes",
              "response": {
                "$ref": "Note"
              },
              "description": "Creates a new note.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created."
                },
                "noteId": {
                  "location": "query",
                  "description": "Required. The ID to use for this note.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getIamPolicy": {
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}:getIamPolicy",
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "testIamPermissions": {
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "resources": {
              "methods": {
                "exportSBOM": {
                  "description": "Generates an SBOM for the given resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/resources/.*$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "containeranalysis.projects.locations.resources.exportSBOM",
                  "path": "v1/{+name}:exportSBOM",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resources/{resourcesId}:exportSBOM",
                  "response": {
                    "$ref": "ExportSBOMResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExportSBOMRequest"
                  }
                }
              }
            },
            "occurrences": {
              "methods": {
                "batchCreate": {
                  "path": "v1/{+parent}/occurrences:batchCreate",
                  "description": "Creates new occurrences in batch.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchCreateOccurrencesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "containeranalysis.projects.locations.occurrences.batchCreate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences:batchCreate",
                  "response": {
                    "$ref": "BatchCreateOccurrencesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the specified occurrence.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "containeranalysis.projects.locations.occurrences.get"
                },
                "getIamPolicy": {
                  "id": "containeranalysis.projects.locations.occurrences.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The fields to update."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "id": "containeranalysis.projects.locations.occurrences.patch",
                  "description": "Updates the specified occurrence.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Occurrence"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}"
                },
                "create": {
                  "id": "containeranalysis.projects.locations.occurrences.create",
                  "description": "Creates a new occurrence.",
                  "path": "v1/{+parent}/occurrences",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences",
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Occurrence"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "id": "containeranalysis.projects.locations.occurrences.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "delete": {
                  "id": "containeranalysis.projects.locations.occurrences.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "getNotes": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}/notes",
                  "response": {
                    "$ref": "Note"
                  },
                  "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
                  "id": "containeranalysis.projects.locations.occurrences.getNotes",
                  "path": "v1/{+name}/notes",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
                    }
                  }
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "containeranalysis.projects.locations.occurrences.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists occurrences for the specified project.",
                  "parameters": {
                    "pageSize": {
                      "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set, the request will return all reachable Occurrences and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression."
                    }
                  },
                  "id": "containeranalysis.projects.locations.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/occurrences",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences",
                  "response": {
                    "$ref": "ListOccurrencesResponse"
                  }
                },
                "getVulnerabilitySummary": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "If set, the request will return all reachable occurrence summaries and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression."
                    },
                    "parent": {
                      "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets a summary of the number and severity of occurrences.",
                  "path": "v1/{+parent}/occurrences:vulnerabilitySummary",
                  "id": "containeranalysis.projects.locations.occurrences.getVulnerabilitySummary",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences:vulnerabilitySummary",
                  "response": {
                    "$ref": "VulnerabilityOccurrencesSummary"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "notes": {
              "resources": {
                "occurrences": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}/occurrences",
                      "response": {
                        "$ref": "ListNoteOccurrencesResponse"
                      },
                      "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                      "id": "containeranalysis.projects.locations.notes.occurrences.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}/occurrences",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Number of occurrences to return in the list.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Token to provide to skip to a particular spot in the list."
                        },
                        "name": {
                          "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The filter expression."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "testIamPermissions": {
                  "id": "containeranalysis.projects.locations.notes.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "containeranalysis.projects.locations.notes.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the specified note.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.notes.getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "id": "containeranalysis.projects.locations.notes.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
                },
                "list": {
                  "description": "Lists notes for the specified project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The filter expression.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set, the request will return all reachable Notes and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.notes.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes",
                  "response": {
                    "$ref": "ListNotesResponse"
                  },
                  "path": "v1/{+parent}/notes"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "response": {
                    "$ref": "Note"
                  },
                  "description": "Updates the specified note.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "containeranalysis.projects.locations.notes.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "The fields to update.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "Note"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified note.",
                  "id": "containeranalysis.projects.locations.notes.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "response": {
                    "$ref": "Note"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes",
                  "response": {
                    "$ref": "Note"
                  },
                  "description": "Creates a new note.",
                  "path": "v1/{+parent}/notes",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created.",
                      "location": "path",
                      "required": true
                    },
                    "noteId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for this note."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Note"
                  },
                  "id": "containeranalysis.projects.locations.notes.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchCreate": {
                  "request": {
                    "$ref": "BatchCreateNotesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes:batchCreate",
                  "response": {
                    "$ref": "BatchCreateNotesResponse"
                  },
                  "description": "Creates new notes in batch.",
                  "path": "v1/{+parent}/notes:batchCreate",
                  "id": "containeranalysis.projects.locations.notes.batchCreate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "resources": {
          "methods": {
            "exportSBOM": {
              "flatPath": "v1/projects/{projectsId}/resources/{resourcesId}:exportSBOM",
              "response": {
                "$ref": "ExportSBOMResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the resource in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                  "pattern": "^projects/[^/]+/resources/.*$"
                }
              },
              "id": "containeranalysis.projects.resources.exportSBOM",
              "path": "v1/{+name}:exportSBOM",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ExportSBOMRequest"
              },
              "description": "Generates an SBOM for the given resource."
            }
          }
        },
        "occurrences": {
          "methods": {
            "getVulnerabilitySummary": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "response": {
                "$ref": "VulnerabilityOccurrencesSummary"
              },
              "description": "Gets a summary of the number and severity of occurrences.",
              "parameters": {
                "returnPartialSuccess": {
                  "description": "If set, the request will return all reachable occurrence summaries and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "description": "The filter expression.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/occurrences:vulnerabilitySummary",
              "httpMethod": "GET",
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1/{+name}",
              "description": "Gets the specified occurrence.",
              "httpMethod": "GET"
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new occurrence.",
              "flatPath": "v1/projects/{projectsId}/occurrences",
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1/{+parent}/occurrences",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Occurrence"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "containeranalysis.projects.occurrences.create"
            },
            "batchCreate": {
              "flatPath": "v1/projects/{projectsId}/occurrences:batchCreate",
              "response": {
                "$ref": "BatchCreateOccurrencesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreateOccurrencesRequest"
              },
              "httpMethod": "POST",
              "description": "Creates new occurrences in batch.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/occurrences:batchCreate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.occurrences.batchCreate"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.occurrences.delete",
              "path": "v1/{+name}",
              "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "setIamPolicy": {
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "path": "v1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ]
            },
            "getIamPolicy": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "path": "v1/{+resource}:getIamPolicy",
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "parameterOrder": [
                "resource"
              ]
            },
            "testIamPermissions": {
              "path": "v1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "containeranalysis.projects.occurrences.testIamPermissions"
            },
            "getNotes": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "response": {
                "$ref": "Note"
              },
              "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.getNotes",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/notes"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "If set, the request will return all reachable Occurrences and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression."
                },
                "pageSize": {
                  "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/occurrences",
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "httpMethod": "GET",
              "id": "containeranalysis.projects.occurrences.list",
              "path": "v1/{+parent}/occurrences",
              "description": "Lists occurrences for the specified project.",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "id": "containeranalysis.projects.occurrences.patch",
              "description": "Updates the specified occurrence.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The fields to update.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Occurrence"
              },
              "httpMethod": "PATCH"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource": {
      "properties": {
        "url": {
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote.",
          "type": "string"
        },
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "revision": {
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource",
      "description": "Location of the source in any accessible Git repository."
    },
    "VulnerabilityOccurrencesSummary": {
      "id": "VulnerabilityOccurrencesSummary",
      "description": "A summary of how many vulnerability occurrences there are per resource and severity type.",
      "type": "object",
      "properties": {
        "counts": {
          "items": {
            "$ref": "FixableTotalByDigest"
          },
          "description": "A listing by resource of the number of fixable and total vulnerabilities.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable regions. Populated for requests from the global region when `return_partial_success` is set. Format: `projects/[PROJECT_ID]/locations/[LOCATION]`",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PackageNote": {
      "type": "object",
      "id": "PackageNote",
      "description": "PackageNote represents a particular package version.",
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The name of the package."
        },
        "packageType": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "digest": {
          "description": "Hash value, typically a file digest, that allows unique identification a specific package.",
          "items": {
            "$ref": "Digest"
          },
          "type": "array"
        },
        "version": {
          "$ref": "Version",
          "description": "The version of the package."
        },
        "description": {
          "type": "string",
          "description": "The description of this package."
        },
        "distribution": {
          "items": {
            "$ref": "Distribution"
          },
          "type": "array",
          "description": "Deprecated. The various channels by which a package is distributed."
        },
        "maintainer": {
          "description": "A freeform text denoting the maintainer of this package.",
          "type": "string"
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "description": "The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ]
        },
        "license": {
          "description": "Licenses that have been declared by the authors of the package.",
          "$ref": "License"
        },
        "url": {
          "description": "The homepage for this package.",
          "type": "string"
        }
      }
    },
    "ResourceDescriptor": {
      "type": "object",
      "id": "ResourceDescriptor",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "annotations": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "downloadLocation": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret",
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*",
          "type": "string"
        },
        "envMap": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object",
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          }
        }
      }
    },
    "Completeness": {
      "properties": {
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "Completeness",
      "type": "object"
    },
    "AttestationNote": {
      "properties": {
        "hint": {
          "description": "Hint hints at the purpose of the attestation authority.",
          "$ref": "Hint"
        }
      },
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `Authority` for \"QA\" and one for \"build\". This note is intended to act strictly as a grouping mechanism for the attached occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an occurrence to a given note. It also provides a single point of lookup to find all attached attestation occurrences, even if they don't all live in the same project.",
      "id": "AttestationNote",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "AliasContext": {
      "description": "An alias to a repo revision.",
      "id": "AliasContext",
      "properties": {
        "name": {
          "type": "string",
          "description": "The alias name."
        },
        "kind": {
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "description": "The alias kind."
        }
      },
      "type": "object"
    },
    "AISkillAnalysisOccurrence": {
      "description": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis.",
      "properties": {
        "maxSeverity": {
          "description": "Maximum severity found among findings. Per scanner verdict details.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "type": "string"
        },
        "skillName": {
          "description": "Name of the skill that produced this analysis.",
          "type": "string"
        },
        "perScannerVerdict": {
          "description": "Per scanner verdict.",
          "$ref": "PerScannerVerdict"
        },
        "findings": {
          "type": "array",
          "description": "Findings produced by the analysis.",
          "items": {
            "$ref": "Finding"
          }
        }
      },
      "id": "AISkillAnalysisOccurrence",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
    },
    "RunDetails": {
      "properties": {
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "BuildMetadata"
        }
      },
      "type": "object",
      "id": "RunDetails"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation",
      "properties": {
        "environment": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "configSource": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
        }
      },
      "type": "object",
      "description": "Identifies the event that kicked off the build."
    },
    "Layer": {
      "id": "Layer",
      "properties": {
        "directive": {
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information.",
          "type": "string"
        },
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object"
    },
    "SBOMStatus": {
      "id": "SBOMStatus",
      "type": "object",
      "description": "The status of an SBOM generation.",
      "properties": {
        "error": {
          "description": "If there was an error generating an SBOM, this will indicate what that error was.",
          "type": "string"
        },
        "sbomState": {
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ],
          "description": "The progress of the SBOM generation.",
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "type": "string"
        }
      }
    },
    "Note": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests.",
          "format": "google-datetime"
        },
        "vulnerabilityAssessment": {
          "description": "A note describing a vulnerability assessment.",
          "$ref": "VulnerabilityAssessmentNote"
        },
        "deployment": {
          "description": "A note describing something that can be deployed.",
          "$ref": "DeploymentNote"
        },
        "expirationTime": {
          "type": "string",
          "description": "Time of expiration for this note. Empty if note does not expire.",
          "format": "google-datetime"
        },
        "vulnerability": {
          "$ref": "VulnerabilityNote",
          "description": "A note describing a package vulnerability."
        },
        "discovery": {
          "description": "A note describing the initial analysis of a resource.",
          "$ref": "DiscoveryNote"
        },
        "image": {
          "description": "A note describing a base image.",
          "$ref": "ImageNote"
        },
        "longDescription": {
          "description": "A detailed description of this note.",
          "type": "string"
        },
        "dsseAttestation": {
          "$ref": "DSSEAttestationNote",
          "description": "A note describing a dsse attestation note."
        },
        "relatedNoteNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Other notes related to this note."
        },
        "sbomReference": {
          "description": "A note describing an SBOM reference.",
          "$ref": "SBOMReferenceNote"
        },
        "aiSkillAnalysis": {
          "description": "A note describing an AI skill analysis.",
          "$ref": "AISkillAnalysisNote"
        },
        "kind": {
          "type": "string",
          "description": "Output only. The type of analysis. This field can be used as a filter in list requests.",
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents an SBOM Reference.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ]
        },
        "compliance": {
          "$ref": "ComplianceNote",
          "description": "A note describing a compliance check."
        },
        "build": {
          "description": "A note describing build provenance for a verifiable build.",
          "$ref": "BuildNote"
        },
        "updateTime": {
          "description": "Output only. The time this note was last updated. This field can be used as a filter in list requests.",
          "format": "google-datetime",
          "type": "string"
        },
        "relatedUrl": {
          "type": "array",
          "description": "URLs associated with this note.",
          "items": {
            "$ref": "RelatedUrl"
          }
        },
        "shortDescription": {
          "type": "string",
          "description": "A one sentence description of this note."
        },
        "package": {
          "description": "A note describing a package hosted by various package managers.",
          "$ref": "PackageNote"
        },
        "attestation": {
          "description": "A note describing an attestation role.",
          "$ref": "AttestationNote"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`."
        },
        "secret": {
          "$ref": "SecretNote",
          "description": "A note describing a secret."
        },
        "upgrade": {
          "description": "A note describing available package upgrades.",
          "$ref": "UpgradeNote"
        }
      },
      "description": "A type of analysis that can be done for a resource.",
      "id": "Note"
    },
    "InTotoSlsaProvenanceV1": {
      "type": "object",
      "id": "InTotoSlsaProvenanceV1",
      "properties": {
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        },
        "_type": {
          "type": "string",
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement"
        },
        "predicateType": {
          "type": "string"
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Build": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Build",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "readOnly": true
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "type": "string",
          "readOnly": true
        },
        "gitConfig": {
          "description": "Optional. Configuration for git operations.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig"
        },
        "options": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions",
          "description": "Special options for this build."
        },
        "secrets": {
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secret"
          }
        },
        "logUrl": {
          "type": "string",
          "description": "Output only. URL to logs for this build in Google Cloud Console.",
          "readOnly": true
        },
        "sourceProvenance": {
          "readOnly": true,
          "description": "Output only. A permanent fixed identifier for source.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance"
        },
        "timing": {
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
          },
          "readOnly": true,
          "type": "object"
        },
        "tags": {
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failureInfo": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
          "readOnly": true,
          "description": "Output only. Contains information about the build when status=FAILURE."
        },
        "projectId": {
          "description": "Output only. ID of the project.",
          "type": "string",
          "readOnly": true
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "status": {
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "description": "Output only. Status of the build."
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
        },
        "source": {
          "description": "Optional. The location of the source files to build.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Source"
        },
        "buildTriggerId": {
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.",
          "readOnly": true,
          "type": "string"
        },
        "logsBucket": {
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
          "type": "string"
        },
        "availableSecrets": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets",
          "description": "Secrets and secret environment variables."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the request to create the build was received.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the build.",
          "type": "string"
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts"
        },
        "queueTtl": {
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "format": "google-duration",
          "type": "string"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Dependency"
          },
          "description": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps."
        },
        "steps": {
          "type": "array",
          "description": "Required. The operations to be performed on the workspace.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep"
          }
        },
        "warnings": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarning"
          },
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "type": "array",
          "readOnly": true
        },
        "approval": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval",
          "readOnly": true,
          "description": "Output only. Describes this build's approval configuration, status, and result."
        },
        "results": {
          "readOnly": true,
          "description": "Output only. Results of the build.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Results"
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. ",
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
