{
  "servicePath": "",
  "basePath": "",
  "revision": "20250206",
  "documentationLink": "https://cloud.google.com/document-warehouse",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "id": "contentwarehouse:v1",
  "discoveryVersion": "v1",
  "rootUrl": "https://contentwarehouse.googleapis.com/",
  "canonicalName": "contentwarehouse",
  "kind": "discovery#restDescription",
  "name": "contentwarehouse",
  "description": "",
  "version_module": true,
  "version": "v1",
  "protocol": "rest",
  "resources": {
    "projects": {
      "methods": {
        "setAcl": {
          "parameters": {
            "resource": {
              "required": true,
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
          },
          "httpMethod": "POST",
          "description": "Sets the access control policy for a resource. Replaces any existing policy.",
          "parameterOrder": [
            "resource"
          ],
          "id": "contentwarehouse.projects.setAcl",
          "flatPath": "v1/projects/{projectsId}:setAcl",
          "path": "v1/{+resource}:setAcl",
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
          }
        },
        "fetchAcl": {
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
          },
          "flatPath": "v1/projects/{projectsId}:fetchAcl",
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+resource}:fetchAcl",
          "id": "contentwarehouse.projects.fetchAcl",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
              "pattern": "^projects/[^/]+$"
            }
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "getStatus": {
              "response": {
                "$ref": "GoogleCloudContentwarehouseV1ProjectStatus"
              },
              "parameters": {
                "location": {
                  "location": "path",
                  "description": "Required. The location to be queried Format: projects/{project_number}/locations/{location}.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:getStatus",
              "path": "v1/{+location}:getStatus",
              "parameterOrder": [
                "location"
              ],
              "description": "Get the project status.",
              "id": "contentwarehouse.projects.locations.getStatus",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "runPipeline": {
              "description": "Run a predefined pipeline.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name which owns the resources of the pipeline. Format: projects/{project_number}/locations/{location}.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:runPipeline",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:runPipeline",
              "id": "contentwarehouse.projects.locations.runPipeline",
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1RunPipelineRequest"
              }
            },
            "initialize": {
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1InitializeProjectRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:initialize",
              "path": "v1/{+location}:initialize",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "contentwarehouse.projects.locations.initialize",
              "parameters": {
                "location": {
                  "description": "Required. The location to be initialized Format: projects/{project_number}/locations/{location}.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Provisions resources for given tenant project. Returns a long running operation."
            }
          },
          "resources": {
            "ruleSets": {
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the rule set to update. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "description": "Updates a ruleset. Returns INVALID_ARGUMENT if the name of the ruleset is non-empty and does not equal the existing name.",
                  "id": "contentwarehouse.projects.locations.ruleSets.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateRuleSetRequest"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.ruleSets.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "description": "Lists rulesets.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListRuleSetsResponse"
                  },
                  "path": "v1/{+parent}/ruleSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListRuleSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRuleSets` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of document. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of rule sets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a ruleset. Returns NOT_FOUND if the document does not exist.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the rule set to delete. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.ruleSets.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "description": "Required. The name of the rule set to retrieve. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "contentwarehouse.projects.locations.ruleSets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "description": "Gets a ruleset. Returns NOT_FOUND if the ruleset does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a ruleset.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/ruleSets",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "id": "contentwarehouse.projects.locations.ruleSets.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  }
                }
              }
            },
            "synonymSets": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/synonymSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListSynonymSetsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "description": "Returns all SynonymSets (for all contexts) for the specified location.",
                  "id": "contentwarehouse.projects.locations.synonymSets.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of synonymSets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListSynonymSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSynonymSets` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a SynonymSet for a single context. Throws an ALREADY_EXISTS exception if a synonymset already exists for the context.",
                  "path": "v1/{+parent}/synonymSets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "id": "contentwarehouse.projects.locations.synonymSets.create"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a SynonymSet for a given context. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "description": "Required. The name of the synonymSet to delete Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "contentwarehouse.projects.locations.synonymSets.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.synonymSets.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the synonymSet to update Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Remove the existing SynonymSet for the context and replaces it with a new one. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the synonymSet to retrieve Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "type": "string"
                    }
                  },
                  "description": "Gets a SynonymSet for a particular context. Throws a NOT_FOUND exception if the Synonymset does not exist",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "contentwarehouse.projects.locations.synonymSets.get"
                }
              }
            },
            "documents": {
              "methods": {
                "patch": {
                  "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                  },
                  "id": "contentwarehouse.projects.locations.documents.patch"
                },
                "search": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents:search",
                  "path": "v1/{+parent}/documents:search",
                  "description": "Searches for documents using provided SearchDocumentsRequest. This call only returns documents that the caller has permission to search against.",
                  "id": "contentwarehouse.projects.locations.documents.search",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of documents. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "fetchAcl": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:fetchAcl",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
                  },
                  "path": "v1/{+resource}:fetchAcl",
                  "id": "contentwarehouse.projects.locations.documents.fetchAcl",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:get",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                  },
                  "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                  "path": "v1/{+name}:get",
                  "id": "contentwarehouse.projects.locations.documents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "linkedSources": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Return all source document-links from the document.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document, for which all source links are returned. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse"
                  },
                  "id": "contentwarehouse.projects.locations.documents.linkedSources",
                  "path": "v1/{+parent}/linkedSources",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedSources"
                },
                "setAcl": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
                  },
                  "description": "Sets the access control policy for a resource. Replaces any existing policy.",
                  "path": "v1/{+resource}:setAcl",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:setAcl",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.setAcl"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:delete",
                  "id": "contentwarehouse.projects.locations.documents.delete",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                  },
                  "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "lock": {
                  "path": "v1/{+name}:lock",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:lock",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document to lock. Format: projects/{project_number}/locations/{location}/documents/{document}.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.lock",
                  "description": "Lock the document so the document cannot be updated by other users.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1LockDocumentRequest"
                  }
                },
                "linkedTargets": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsRequest"
                  },
                  "id": "contentwarehouse.projects.locations.documents.linkedTargets",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the document, for which all target links are returned. Format: projects/{project_number}/locations/{location}/documents/{target_document_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$"
                    }
                  },
                  "description": "Return all target document-links from the document.",
                  "path": "v1/{+parent}/linkedTargets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedTargets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsResponse"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/documents",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.create",
                  "description": "Creates a document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentResponse"
                  },
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "documentLinks": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                          "description": "Required. Parent of the document-link to be created. parent of document-link should be a document. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Create a link between a source document and a target document.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks",
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.create",
                      "path": "v1/{+parent}/documentLinks",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
                      }
                    },
                    "delete": {
                      "description": "Remove the link between the source and target documents.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest"
                      },
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+/documentLinks/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the document-link to be deleted. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}/documentLinks/{document_link_id}."
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks/{documentLinksId}:delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:delete"
                    }
                  }
                },
                "referenceId": {
                  "methods": {
                    "get": {
                      "id": "contentwarehouse.projects.locations.documents.referenceId.get",
                      "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1Document"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}."
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:get"
                    },
                    "delete": {
                      "id": "contentwarehouse.projects.locations.documents.referenceId.delete",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "required": true
                        }
                      },
                      "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:delete",
                      "path": "v1/{+name}:delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contentwarehouse.projects.locations.documents.referenceId.patch",
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "contentwarehouse.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET"
                }
              }
            },
            "documentSchemas": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "path": "v1/{+parent}/documentSchemas",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of document schemas. Format: projects/{project_number}/locations/{location}.",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of document schemas to return. The service may return fewer than this value. If unspecified, at most 50 document schemas will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListDocumentSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDocumentSchemas` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "description": "Lists document schemas.",
                  "id": "contentwarehouse.projects.locations.documentSchemas.list"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "description": "Gets a document schema. Returns NOT_FOUND if the document schema does not exist.",
                  "id": "contentwarehouse.projects.locations.documentSchemas.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document schema to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the document schema to update. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$"
                    }
                  },
                  "description": "Updates a Document Schema. Returns INVALID_ARGUMENT if the name of the Document Schema is non-empty and does not equal the existing name. Supports only appending new properties, adding new ENUM possible values, and updating the EnumTypeOptions.validation_check_disabled flag for ENUM possible values. Updating existing properties will result into INVALID_ARGUMENT.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "id": "contentwarehouse.projects.locations.documentSchemas.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contentwarehouse.projects.locations.documentSchemas.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the document schema to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a document schema. Returns NOT_FOUND if the document schema does not exist. Returns BAD_REQUEST if the document schema has documents depending on it.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "path": "v1/{+parent}/documentSchemas",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent name.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a document schema.",
                  "id": "contentwarehouse.projects.locations.documentSchemas.create",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://contentwarehouse.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudContentwarehouseV1beta1CreateDocumentMetadata": {
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1beta1CreateDocumentMetadata",
      "description": "Metadata object for CreateDocument request (currently empty).",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentStyleFontSize": {
      "properties": {
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
        },
        "size": {
          "format": "float",
          "description": "Font size for the text.",
          "type": "number"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentStyleFontSize",
      "type": "object",
      "description": "Font size with unit."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
      "type": "object",
      "description": "Represents an entry in the list.",
      "properties": {
        "blocks": {
          "type": "array",
          "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
    },
    "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse": {
      "description": "Response message for DocumentSchemaService.ListDocumentSchemas.",
      "id": "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse",
      "type": "object",
      "properties": {
        "documentSchemas": {
          "description": "The document schemas from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudContentwarehouseV1beta1UpdateDocumentMetadata": {
      "properties": {},
      "description": "Metadata object for UpdateDocument request (currently empty).",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1beta1UpdateDocumentMetadata"
    },
    "GoogleCloudContentwarehouseV1FileTypeFilter": {
      "id": "GoogleCloudContentwarehouseV1FileTypeFilter",
      "type": "object",
      "properties": {
        "fileType": {
          "enum": [
            "FILE_TYPE_UNSPECIFIED",
            "ALL",
            "FOLDER",
            "DOCUMENT",
            "ROOT_FOLDER"
          ],
          "enumDescriptions": [
            "Default document type. If set, disables the filter.",
            "Returns all document types, including folders.",
            "Returns only folders.",
            "Returns only non-folder documents.",
            "Returns only root folders"
          ],
          "type": "string",
          "description": "The type of files to return."
        }
      },
      "description": "Filter for the specific types of documents returned."
    },
    "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest": {
      "description": "Request message for DocumentLinkService.DeleteDocumentLink.",
      "properties": {
        "requestMetadata": {
          "description": "The meta information collected about the document creator, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "description": "Represents a table type block.",
      "properties": {
        "headerRows": {
          "description": "Header rows at the top of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array"
        },
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        },
        "bodyRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Body rows containing main table content."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
    },
    "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest": {
      "type": "object",
      "properties": {
        "requestMetadata": {
          "description": "The meta information collected about the document creator, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        },
        "documentLink": {
          "description": "Required. Document links associated with the source documents (source_document_id).",
          "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
        }
      },
      "id": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest",
      "description": "Request message for DocumentLinkService.CreateDocumentLink."
    },
    "GoogleApiServiceconsumermanagementV1BillingConfig": {
      "properties": {
        "billingAccount": {
          "type": "string",
          "description": "Name of the billing account. For example `billingAccounts/012345-567890-ABCDEF`."
        }
      },
      "description": "Describes the billing configuration for a new tenant project.",
      "id": "GoogleApiServiceconsumermanagementV1BillingConfig",
      "type": "object"
    },
    "CloudAiPlatformTenantresourceServiceAccountIdentity": {
      "description": "The identity to configure a service account.",
      "type": "object",
      "id": "CloudAiPlatformTenantresourceServiceAccountIdentity",
      "properties": {
        "tag": {
          "description": "Input/Output [Optional]. The tag that configures the service account, as defined in google3/configs/production/cdpush/acl-zanzibar-cloud-prod/activation_grants/activation_grants.gcl. Note: The default P4 service account has the empty tag.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Output only. The service account email that has been created."
        }
      }
    },
    "GoogleTypeTimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "description": "Represents a list type block.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
      "properties": {
        "listEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "description": "List entries that constitute a list block."
        },
        "type": {
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1InitializeProjectRequest": {
      "id": "GoogleCloudContentwarehouseV1InitializeProjectRequest",
      "description": "Request message for projectService.InitializeProject",
      "type": "object",
      "properties": {
        "accessControlMode": {
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Universal Access: No document level access control.",
            "Document level access control with customer own Identity Service.",
            "Document level access control using Google Cloud Identity."
          ],
          "enum": [
            "ACL_MODE_UNKNOWN",
            "ACL_MODE_UNIVERSAL_ACCESS",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_BYOID",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_GCI"
          ],
          "type": "string",
          "description": "Required. The access control mode for accessing the customer data"
        },
        "documentCreatorDefaultRole": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified, will be default to document admin role.",
            "Document Admin, same as contentwarehouse.googleapis.com/documentAdmin.",
            "Document Editor, same as contentwarehouse.googleapis.com/documentEditor.",
            "Document Viewer, same as contentwarehouse.googleapis.com/documentViewer."
          ],
          "description": "Optional. The default role for the person who create a document.",
          "enum": [
            "DOCUMENT_CREATOR_DEFAULT_ROLE_UNSPECIFIED",
            "DOCUMENT_ADMIN",
            "DOCUMENT_EDITOR",
            "DOCUMENT_VIEWER"
          ]
        },
        "kmsKey": {
          "description": "Optional. The KMS key used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the kms_key is left empty, no encryption will be enforced.",
          "type": "string"
        },
        "databaseType": {
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Internal Spanner",
            "Cloud Sql with a Postgres Sql instance"
          ],
          "enum": [
            "DB_UNKNOWN",
            "DB_INFRA_SPANNER",
            "DB_CLOUD_SQL_POSTGRES"
          ],
          "description": "Required. The type of database used to store customer data",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "enableCalUserEmailLogging": {
          "type": "boolean",
          "description": "Optional. Whether to enable CAL user email logging."
        }
      }
    },
    "GoogleCloudContentwarehouseV1WeightedSchemaProperty": {
      "properties": {
        "documentSchemaName": {
          "description": "The document schema name.",
          "type": "string"
        },
        "propertyNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The property definition names in the schema."
        }
      },
      "id": "GoogleCloudContentwarehouseV1WeightedSchemaProperty",
      "description": "Specifies the schema property name.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1EnumArray": {
      "description": "Enum values.",
      "properties": {
        "values": {
          "description": "List of enum values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContentwarehouseV1EnumArray",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1InitializeProjectResponse": {
      "id": "GoogleCloudContentwarehouseV1InitializeProjectResponse",
      "type": "object",
      "properties": {
        "message": {
          "description": "The message of the project initialization process.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Clients should never see this.",
            "Finished project initialization without error.",
            "Finished project initialization with an error.",
            "Client canceled the LRO.",
            "Ask the customer to check the operation for results."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RUNNING"
          ],
          "description": "The state of the project initialization process."
        }
      },
      "description": "Response message for projectService.InitializeProject"
    },
    "GoogleTypeExpr": {
      "type": "object",
      "id": "GoogleTypeExpr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "CloudAiPlatformTenantresourceTenantResource": {
      "id": "CloudAiPlatformTenantresourceTenantResource",
      "type": "object",
      "properties": {
        "tenantProjectResources": {
          "type": "array",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceTenantProjectResource"
          },
          "description": "A list of tenant projects and tenant resources to provision or deprovision."
        },
        "p4ServiceAccounts": {
          "items": {
            "$ref": "CloudAiPlatformTenantresourceServiceAccountIdentity"
          },
          "description": "A list of P4 service accounts (go/p4sa) to provision or deprovision.",
          "type": "array"
        }
      },
      "description": "A collection of tenant resources."
    },
    "GoogleCloudDocumentaiV1NormalizedVertex": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate (starts from the top of the image)."
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter",
      "properties": {
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the footer."
        },
        "text": {
          "type": "string",
          "description": "Footer in text format."
        }
      },
      "description": "Represents the page footer associated with the chunk.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata": {
      "properties": {
        "processorInfo": {
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo",
          "description": "The DocAI processor to process the documents with."
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input list of all the resource names of the documents to be processed."
        }
      },
      "description": "The metadata message for Process-with-DocAi pipeline.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment",
      "properties": {
        "startIndex": {
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "format": "int64",
          "type": "string"
        },
        "endIndex": {
          "format": "int64",
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset"
    },
    "GoogleCloudContentwarehouseV1FloatTypeOptions": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1FloatTypeOptions",
      "description": "Configurations for a float property."
    },
    "GoogleCloudContentwarehouseV1FetchAclResponse": {
      "properties": {
        "metadata": {
          "description": "Additional information for the API invocation, such as the request tracking id.",
          "$ref": "GoogleCloudContentwarehouseV1ResponseMetadata"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "The IAM policy."
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1FetchAclResponse",
      "description": "Response message for DocumentService.FetchAcl."
    },
    "GoogleCloudDocumentaiV1DocumentPageToken": {
      "id": "GoogleCloudDocumentaiV1DocumentPageToken",
      "description": "A detected token.",
      "type": "object",
      "properties": {
        "styleInfo": {
          "description": "Text style attributes.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo"
        },
        "detectedBreak": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak",
          "description": "Detected break at the end of a Token."
        },
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "description": "Layout for Token.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        }
      }
    },
    "GoogleCloudContentwarehouseV1PropertyArray": {
      "type": "object",
      "description": "Property values.",
      "id": "GoogleCloudContentwarehouseV1PropertyArray",
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Property"
          },
          "type": "array",
          "description": "List of property values."
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "GoogleCloudContentwarehouseV1DateTimeTypeOptions": {
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1DateTimeTypeOptions",
      "description": "Configurations for a date time property.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1ActionOutput": {
      "properties": {
        "actionId": {
          "type": "string",
          "description": "ID of the action."
        },
        "actionState": {
          "type": "string",
          "enumDescriptions": [
            "The unknown state.",
            "State indicating action executed successfully.",
            "State indicating action failed.",
            "State indicating action timed out.",
            "State indicating action is pending."
          ],
          "enum": [
            "UNKNOWN",
            "ACTION_SUCCEEDED",
            "ACTION_FAILED",
            "ACTION_TIMED_OUT",
            "ACTION_PENDING"
          ],
          "description": "State of an action."
        },
        "outputMessage": {
          "type": "string",
          "description": "Action execution output message."
        }
      },
      "id": "GoogleCloudContentwarehouseV1ActionOutput",
      "type": "object",
      "description": "Represents the result of executing an action."
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect",
      "type": "object",
      "description": "Image Quality Defects"
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest": {
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest",
      "description": "Request message for DocumentSchemaService.UpdateDocumentSchema.",
      "properties": {
        "documentSchema": {
          "$ref": "GoogleCloudContentwarehouseV1DocumentSchema",
          "description": "Required. The document schema to update with."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "description": "Represents a chunk.",
      "properties": {
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "pageFooters": {
          "description": "Page footers associated with the chunk.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "type": "array"
        },
        "content": {
          "type": "string",
          "description": "Text content of the chunk."
        },
        "pageHeaders": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
          },
          "type": "array",
          "description": "Page headers associated with the chunk."
        },
        "chunkId": {
          "description": "ID of the chunk.",
          "type": "string"
        },
        "sourceBlockIds": {
          "type": "array",
          "description": "Unused.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline": {
      "properties": {
        "extractProcessorInfos": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
          },
          "description": "The extract processors information. One matched extract processor will be used to process documents based on the classify processor result. If no classify processor is specified, the first extract processor will be used.",
          "type": "array"
        },
        "processorResultsFolderPath": {
          "description": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`.",
          "type": "string"
        },
        "pipelineConfig": {
          "description": "Optional. The config for the Cloud Storage Ingestion with DocAI Processors pipeline. It provides additional customization options to run the pipeline and can be skipped if it is not applicable.",
          "$ref": "GoogleCloudContentwarehouseV1IngestPipelineConfig"
        },
        "skipIngestedDocuments": {
          "description": "The flag whether to skip ingested documents. If it is set to true, documents in Cloud Storage contains key \"status\" with value \"status=ingested\" in custom metadata will be skipped to ingest.",
          "type": "boolean"
        },
        "splitClassifyProcessorInfo": {
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo",
          "description": "The split and classify processor information. The split and classify result will be used to find a matched extract processor."
        },
        "inputPath": {
          "type": "string",
          "description": "The input Cloud Storage folder. All files under this folder will be imported to Document Warehouse. Format: `gs:///`."
        }
      },
      "description": "The configuration of the Cloud Storage Ingestion with DocAI Processors pipeline.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline"
    },
    "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse": {
      "description": "Response message for DocumentLinkService.ListLinkedSources.",
      "type": "object",
      "properties": {
        "documentLinks": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
          },
          "description": "Source document-links.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse"
    },
    "GoogleCloudDocumentaiV1DocumentPageParagraph": {
      "properties": {
        "provenance": {
          "deprecated": true,
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Paragraph."
        }
      },
      "description": "A collection of lines that a human would perceive as a paragraph.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageParagraph"
    },
    "GoogleTypePostalAddress": {
      "id": "GoogleTypePostalAddress",
      "type": "object",
      "description": "Represents a postal address. For example for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478",
      "properties": {
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (For example \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (For example Côte d'Ivoire).",
          "type": "string"
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (For example \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (For example Japan), address_language is used to make it explicit (For example \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (For example state/zip validation in the U.S.A.).",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (For example \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example in Switzerland this should be left unpopulated."
        }
      }
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata": {
      "description": "The metadata message for Export-to-CDW pipeline.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata",
      "properties": {
        "outputPath": {
          "description": "The output Cloud Storage folder in this pipeline.",
          "type": "string"
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The input list of all the resource names of the documents to be exported.",
          "type": "array"
        },
        "docAiDataset": {
          "description": "The output CDW dataset resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageVisualElement": {
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        },
        "layout": {
          "description": "Layout for VisualElement.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageVisualElement",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocument": {
      "properties": {
        "chunks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
          },
          "type": "array",
          "description": "List of chunks."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
      "type": "object",
      "description": "Represents the chunks that the document is divided into."
    },
    "GoogleCloudDocumentaiV1DocumentPageAnchor": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageAnchor",
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types.",
      "properties": {
        "pageRefs": {
          "description": "One or more references to visual page elements",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`.",
          "type": "string"
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks.",
          "type": "array"
        },
        "text": {
          "type": "string",
          "description": "Text content stored in the block."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
      "description": "Represents a text type block."
    },
    "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest": {
      "id": "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest",
      "description": "Response message for DocumentLinkService.ListLinkedSources.",
      "properties": {
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the document creator, used to enforce access control for the service."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of document-links to return. The service may return fewer than this value. If unspecified, at most 50 document-links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous `ListLinkedSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedSources` must match the call that provided the page token."
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gservice
[...]
