{
  "version": "v1",
  "description": "",
  "revision": "20260905",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList": {
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList",
      "description": "Container for a list of scorecards.",
      "properties": {
        "qaScorecardRevisions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of QaScorecardRevisions."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult": {
      "properties": {
        "p50": {
          "type": "number",
          "description": "The 50th percentile value.",
          "format": "double"
        },
        "p90": {
          "format": "double",
          "description": "The 90th percentile value.",
          "type": "number"
        },
        "p99": {
          "type": "number",
          "format": "double",
          "description": "The 99th percentile value."
        }
      },
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        },
        "exportSchemaVersion": {
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "type": "string",
          "description": "Optional. Version of the export schema.",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ]
        },
        "writeDisposition": {
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "description": "Options for what to do if the destination table already exists."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        }
      },
      "description": "The request to export insights.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats": {
      "description": "Statistics for IngestConversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "failedIngestCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field."
        },
        "successfulIngestCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of new conversations added during this ingest operation."
        },
        "processedObjectCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of objects processed during the ingest operation."
        },
        "duplicatesSkippedCount": {
          "type": "integer",
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "type": "object",
      "description": "The call participant speaking for a given utterance.",
      "properties": {
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        },
        "dialogflowParticipantName": {
          "type": "string",
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "deprecated": true,
          "type": "string"
        },
        "role": {
          "description": "The role of the participant.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant"
    },
    "GoogleCloudContactcenterinsightsV1alpha1InterruptionData": {
      "type": "object",
      "description": "The data for an interruption annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the issue."
        },
        "issue": {
          "type": "string",
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        },
        "labeledConversationsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of conversations attached to the issue at this point in time."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats",
      "description": "Aggregated statistics about an issue."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "completedExportCount": {
          "format": "int32",
          "description": "The number of conversations that were exported successfully.",
          "type": "integer"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
          "description": "The original request for export."
        },
        "failedExportCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that failed to be exported."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "type": "array"
        }
      },
      "description": "Metadata for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
      "type": "object",
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "customerChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32",
          "type": "integer"
        },
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`."
        },
        "agentChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "request": {
          "description": "The original import request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest"
        }
      },
      "description": "Metadata used for import issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource": {
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "properties": {
        "answerValue": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead."
        },
        "sourceType": {
          "type": "string",
          "description": "What created the answer.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats": {
      "properties": {
        "successfulSampleCount": {
          "description": "Output only. The number of new conversations added during this sample operation.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "failedSampleCount": {
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats",
      "description": "Statistics for SampleConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The chip label or text."
        },
        "actionUri": {
          "type": "string",
          "description": "Optional. Optional action or destination URI triggered by the chip."
        }
      },
      "description": "A suggestion chip.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "description": "Request for the BulkDownloadFeedbackLabel endpoint.",
      "type": "object",
      "properties": {
        "sheetsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination",
          "description": "A sheets document destination."
        },
        "feedbackLabelType": {
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ]
        },
        "conversationFilter": {
          "type": "string",
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling."
        },
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "maxDownloadCount": {
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "templateQaScorecardId": {
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gcsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination",
          "description": "A cloud storage bucket destination."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionLabelDimensionMetadata": {
      "properties": {
        "labelKey": {
          "type": "string",
          "description": "Optional. The label key."
        },
        "labelValue": {
          "type": "string",
          "description": "Optional. The label value."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionLabelDimensionMetadata",
      "description": "Metadata about conversation labels.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
      "type": "object",
      "description": "A message representing the transcript of a conversation.",
      "properties": {
        "transcriptSegments": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment"
          },
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsights": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsights",
      "description": "Request that use natural language query to generate the chart.",
      "properties": {
        "chartSpec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Chart spec for the chart."
        },
        "sqlComparisonKey": {
          "type": "string",
          "description": "Optional. For charts with comparison, this key will determine the metric that will be compared between the current and another dataset."
        },
        "sqlQuery": {
          "description": "SQL query used to generate the chart.",
          "type": "string"
        },
        "chartCheckpoint": {
          "description": "The chart checkpoint used to generate the chart.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint"
        },
        "request": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "chartConversations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation"
          },
          "readOnly": true,
          "type": "array",
          "deprecated": true,
          "description": "Output only. The chart conversations used to generate the chart."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete."
        },
        "failedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have failed so far."
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "totalRequestedAnalysesCount": {
          "type": "integer",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
          "description": "The original request for bulk analyze."
        },
        "completedAnalysesCount": {
          "type": "integer",
          "description": "The number of requested analyses that have completed successfully so far.",
          "format": "int32"
        },
        "relabel": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult": {
      "type": "object",
      "description": "The results of scoring a single conversation against a QaScorecard. Contains a collection of QaAnswers and aggregate score.",
      "properties": {
        "scoreSources": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultScoreSource"
          },
          "type": "array",
          "description": "List of all individual score sets."
        },
        "potentialScore": {
          "type": "number",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "format": "double"
        },
        "name": {
          "description": "Identifier. The name of the scorecard result. Format: projects/{project}/locations/{location}/qaScorecardResults/{qa_scorecard_result}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "conversation": {
          "description": "The conversation scored by this result.",
          "type": "string"
        },
        "normalizedScore": {
          "type": "number",
          "description": "The normalized score, which is the score divided by the potential score. Any manual edits are included if they exist.",
          "format": "double"
        },
        "qaTagResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultQaTagResult"
          },
          "type": "array",
          "description": "Collection of tags and their scores."
        },
        "score": {
          "format": "double",
          "description": "The overall numerical score of the result, incorporating any manual edits if they exist.",
          "type": "number"
        },
        "qaAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswer"
          },
          "description": "Set of QaAnswers represented in the result."
        },
        "qaScorecardRevision": {
          "type": "string",
          "description": "The QaScorecardRevision scored by this result."
        },
        "agentId": {
          "description": "ID of the agent that handled the conversation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult"
    },
    "GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig": {
      "description": "Configuration for diagnostic metrics.",
      "type": "object",
      "properties": {
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1MetricDefinition"
          },
          "description": "Optional. A map of diagnostic metrics. The key is a unique identifier for the metric (e.g., \"containment\")."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig"
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment": {
      "description": "One channel of conversation-level sentiment data.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment",
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "channelTag": {
          "description": "The channel of the audio that the data applies to.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Intent": {
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the intent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1Intent"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse": {
      "description": "The response for querying metrics.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse",
      "type": "object",
      "properties": {
        "macroAverageSlice": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice",
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The metrics last update time.",
          "type": "string"
        },
        "slices": {
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
          }
        },
        "location": {
          "type": "string",
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\""
        }
      }
    },
    "GoogleTypeExpr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "id": "GoogleTypeExpr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
          "description": "The original export request."
        }
      },
      "description": "Metadata used for export issue model."
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource": {
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource",
      "type": "object",
      "properties": {
        "agentId": {
          "description": "Required. Agent id to query performance overview for.",
          "type": "string"
        }
      },
      "description": "The entity whose performance is being queried is a single agent."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "description": "The measure related to dialogflow interactions.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "properties": {
        "percentileToolUseLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        },
        "percentileEndToEndLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level."
        },
        "percentileLlmCallLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Issue": {
      "type": "object",
      "description": "The issue resource.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Issue",
      "properties": {
        "updateTime": {
          "description": "Output only. The most recent time that this issue was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayDescription": {
          "type": "string",
          "description": "Representative description of the issue."
        },
        "sampleUtterances": {
          "description": "Output only. Resource names of the sample representative utterances that match to this issue.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this issue was created.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSampleRule": {
      "properties": {
        "dimension": {
          "type": "string",
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'."
        },
        "samplePercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100]."
        },
        "sampleRow": {
          "format": "int64",
          "type": "string",
          "description": "Number of the conversations that we should sample based on the dimension."
        },
        "conversationFilter": {
          "type": "string",
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations."
        }
      },
      "description": "Message for sampling conversations.",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleRule",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      },
      "description": "Configuration for processing transcript objects.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "description": "Average QA normalized score for the tag.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "properties": {
        "tag": {
          "description": "Tag name.",
          "type": "string"
        },
        "averageTagNormalizedScore": {
          "description": "Average tag normalized score per tag.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsPlaybookDimensionMetadata": {
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsPlaybookDimensionMetadata",
      "properties": {
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        },
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscript": {
      "type": "object",
      "description": "The conversation transcript for the chart.",
      "properties": {
        "conversationId": {
          "description": "The conversation id of the chart.",
          "type": "string"
        },
        "messages": {
          "description": "Ordered list of messages, including user inputs and system responses.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessage"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the conversation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time of the conversation."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscript"
    },
    "GoogleCloudCesV1mainChunk": {
      "id": "GoogleCloudCesV1mainChunk",
      "properties": {
        "payload": {
          "type": "object",
          "description": "Optional. Custom payload data.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolResponse": {
          "description": "Optional. Tool execution response.",
          "$ref": "GoogleCloudCesV1mainToolResponse"
        },
        "blob": {
          "$ref": "GoogleCloudCesV1mainBlob",
          "description": "Optional. Blob data."
        },
        "transcript": {
          "type": "string",
          "description": "Optional. Transcript associated with the audio."
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "updatedVariables": {
          "type": "object",
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "GoogleCloudCesV1mainImage"
        },
        "defaultVariables": {
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "GoogleCloudCesV1mainAgentTransfer"
        },
        "toolCall": {
          "$ref": "GoogleCloudCesV1mainToolCall",
          "description": "Optional. Tool execution request."
        }
      },
      "type": "object",
      "description": "A chunk of content within a message."
    },
    "GoogleCloudContactcenterinsightsV1CorrelationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1CorrelationConfig",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the correlation config was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the correlation config was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "fullConversationConfig": {
          "description": "The correlation type config for full conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationTypeConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig"
        }
      },
      "type": "object",
      "description": "A configuration that defines how to correlate conversations for a given a given project."
    },
    "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation": {
      "description": "The CES diagnostic information.",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "description": "The messages in the turn.",
          "type": "array"
        },
        "rootSpan": {
          "$ref": "GoogleCloudCesV1mainSpan",
          "description": "The root span of the action processing."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata": {
      "properties": {
        "qaQuestionId": {
          "type": "string",
          "description": "Optional. The QA question ID."
        },
        "questionBody": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "answerValue": {
          "type": "string",
          "description": "Optional. The full body of the question."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata",
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard."
    },
    "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleRequest": {
      "properties": {
        "conversation": {
          "description": "Required. Conversation data to test rules against.",
          "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
        },
        "autoLabelingRule": {
          "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRule",
          "description": "Required. The auto labeling rule to test."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleRequest",
      "description": "The request message for testing auto labeling rules.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationParticipant": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "description": "The role of the participant."
        },
        "dialogflowParticipant": {
          "deprecated": true,
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationParticipant",
      "description": "The call participant speaking for a given utterance."
    },
    "GoogleCloudContactcenterinsightsV1ConversationDataOptions": {
      "description": "Options for configuring what metadata is included in the conversation data used in QAI and Discovery Engine.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationDataOptions",
      "type": "object",
      "properties": {
        "includeDialogflowInteractionData": {
          "type": "boolean",
          "description": "Whether to include the per turn Dialogflow interaction data in conversation transcript."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata": {
      "type": "object",
      "description": "Metadata for deleting an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
          "description": "The original request for deletion."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainAnswerFeedback": {
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "type": "object",
      "properties": {
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ]
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnswerFeedback"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata": {
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest"
        }
      },
      "type": "object",
      "description": "Metadata used for export issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "properties": {
        "averageTagNormalizedScore": {
          "description": "Average tag normalized score per tag.",
          "format": "double",
          "type": "number"
        },
        "tag": {
          "type": "string",
          "description": "Tag name."
        }
      },
      "description": "Average QA normalized score for the tag.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource": {
      "type": "object",
      "description": "Configuration for Cloud Storage bucket sources.",
      "properties": {
        "bucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage bucket containing source objects. Avoid passing this. Pass this through one of `transcript_bucket_uri` or `audio_bucket_uri`."
        },
        "audioBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation audio file. Note that: [1] Audio files will be transcribed if not already. [2] Audio files and transcript files must be in separate buckets / folders. [3] A source file and its corresponding audio file must share the same name to be properly ingested, E.g. `gs://bucket/transcript/conversation1.json` and `gs://bucket/audio/conversation1.mp3`.",
          "type": "string"
        },
        "metadataBucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage path to the conversation metadata. Note that: [1] Metadata files are expected to be in JSON format. [2] Metadata and source files (transcripts or audio) must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`."
        },
        "customMetadataKeys": {
          "type": "array",
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 100 labels per conversation.",
          "items": {
            "type": "string"
          }
        },
        "transcriptBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation transcripts. Note that: [1] Transcript files are expected to be in JSON format. [2] Transcript, audio, metadata files must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "bucketObjectType": {
          "enumDescriptions": [
            "The object type is unspecified and will default to `TRANSCRIPT`.",
            "The object is a transcript.",
            "The object is an audio file."
          ],
          "enum": [
            "BUCKET_OBJECT_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "AUDIO"
          ],
          "description": "Optional. Specifies the type of the objects in `bucket_uri`. Avoid passing this. This is inferred from the `transcript_bucket_uri`, `audio_bucket_uri`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisRule": {
      "properties": {
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "Selector of annotators to run and the phrase matchers to use for conversations that matches the conversation_filter. If not specified, NO annotators will be run."
        },
        "displayName": {
          "description": "Display Name of the analysis rule.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which this analysis rule was updated.",
          "readOnly": true
        },
        "analysisPercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of conversations that we should apply this analysis setting automatically, between [0, 1]. For example, 0.1 means 10%. Conversations are sampled in a determenestic way. The original runtime_percentage & upload percentage will be replaced by defining filters on the conversation."
        },
        "name": {
          "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}",
          "type": "string"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive and saved as a draft.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this analysis rule was created.",
          "readOnly": true,
          "type": "string"
        },
        "conversationFilter": {
          "description": "Filter for the conversations that should apply this analysis rule. An empty filter means this analysis rule applies to all conversations. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The CCAI Insights project wide analysis rule. This rule will be applied to all conversations that match the filter defined in the rule. For a conversation matches the filter, the annotators specified in the rule will be run. If a conversation matches multiple rules, a union of all the annotators will be run. One project can have multiple analysis rules.",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisRule"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata": {
      "properties": {
        "resultIsTruncated": {
          "type": "boolean",
          "description": "Whether the result rows were truncated because the result row size is too large to materialize."
        }
      },
      "description": "The metadata from querying metrics.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "description": "An error that occurred during correlation for a specific conversation.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
        }
      },
      "description": "Request for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest": {
      "properties": {
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest",
      "description": "Request for the BulkDeleteFeedbackLabels endpoint.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData": {
      "properties": {
        "phraseMatcher": {
          "type": "string",
          "description": "The unique identifier (the resource name) of the phrase matcher."
        },
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData"
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "description": "The request to export insights.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest",
      "properties": {
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination"
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "writeDisposition": {
          "type": "string",
          "description": "Options for what to do if the destination table already exists.",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        },
        "kmsKey": {
          "type": "string",
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties."
        },
        "exportSchemaVersion": {
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "description": "Optional. Version of the export schema.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata",
      "type": "object",
      "description": "The metadata for an SampleConversations operation.",
      "properties": {
        "request": {
          "description": "Output only. The original request for sample conversations to dataset.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "sampleConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats",
          "readOnly": true,
          "description": "Output only. Statistics for SampleConversations operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata": {
      "description": "The metadata for generative insights.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata",
      "properties": {
        "errorMessages": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "The error message when the generative insights request fails."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultRuleCorrelationResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResultRuleCorrelationResult",
      "description": "The result of a single correlation rule.",
      "properties": {
        "correlationId": {
          "description": "The correlation ID generated by the join key expression.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the join key expression failed to evaluate."
        },
        "ruleId": {
          "type": "string",
          "description": "The rule ID."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse": {
      "properties": {
        "qaScorecardRevisions": {
          "description": "The QaScorecards under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse",
      "type": "object",
      "description": "The response from a ListQaScorecardRevisions request."
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse",
      "description": "The response to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "description": "Statistics for TestCorrelationConfig operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
        },
        "conversationCorrelationErrors": {
          "description": "A list of errors that occurred during correlation, one for each conversation that failed.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          },
          "type": "array"
        },
        "correlatedConversationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations correlated."
        },
        "failedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that failed correlation.",
          "type": "integer"
        },
        "sampledConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations sampled."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Widget": {
      "description": "Represents a dashboard element, could be a nested Container or Chart.",
      "properties": {
        "filter": {
          "description": "Filter applied to all charts in the container. Should support scope later.",
          "type": "string"
        },
        "chartReference": {
          "description": "A reference to a chart widget. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}",
          "type": "string"
        },
        "chart": {
          "$ref": "GoogleCloudContactcenterinsightsV1Chart",
          "description": "A chart widget."
        },
        "container": {
          "$ref": "GoogleCloudContactcenterinsightsV1Container",
          "description": "A container widget."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Widget",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart",
      "properties": {
        "title": {
          "description": "Optional. Optional title for the table.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Table column headers."
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
          },
          "description": "Optional. Table rows."
        }
      },
      "description": "A table part.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
      "properties": {
        "chips": {
          "description": "Optional. List of suggestion chips.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartChip"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A suggestion chips part."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "properties": {
        "subItems": {
          "type": "array",
          "description": "Optional. Nested sub-items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          }
        },
        "text": {
          "description": "Optional. The text of the list item.",
          "type": "string"
        }
      },
      "description": "An item in a list.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadataSampleConversationsStats": {
      "properties": {
        "failedSampleCount": {
          "type": "integer",
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true,
          "format": "int32"
        },
        "successfulSampleCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of new conversations added during this sample operation.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadataSampleConversationsStats",
      "description": "Statistics for SampleConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination": {
      "properties": {
        "objectUri": {
          "description": "Required. The Google Cloud Storage URI to write the feedback labels to. The file name will be used as a prefix for the files written to the bucket if the output needs to be split across multiple files, otherwise it will be used as is. The file extension will be appended to the file name based on the format selected. E.g. `gs://bucket_name/object_uri_prefix`",
          "type": "string"
        },
        "alwaysPrintEmptyFields": {
          "description": "Optional. Always print fields with no presence. This is useful for printing fields that are not set, like implicit 0 value or empty lists/maps. Only applicable for JSON format.",
          "type": "boolean"
        },
        "recordsPerFileCount": {
          "type": "string",
          "description": "Optional. The number of records per file. Applicable for either format.",
          "format": "int64"
        },
        "addWhitespace": {
          "type": "boolean",
          "description": "Optional. Add whitespace to the JSON file. Makes easier to read, but increases file size. Only applicable for JSON format."
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ],
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format. 1,000 labels are stored per CSV file by default.",
            "JSON format. 1 label stored per JSON file by default."
          ],
          "description": "Required. File format in which the labels will be exported.",
          "type": "string"
        }
      },
      "description": "Google Cloud Storage Object details to write the feedback labels to.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse": {
      "description": "Wrapper for storing the generative response for a chart.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse",
      "properties": {
        "generatedSqlQuery": {
          "type": "string",
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource."
        },
        "textOutput": {
          "type": "string",
          "deprecated": true,
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        },
        "chartSpec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format.",
          "type": "object"
        },
        "textMessage": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponseTextOutput"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo": {
      "properties": {
        "mergedFullConversationCorrelationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full conversation correlation id this conversation is a merged conversation of."
        },
        "fullConversationCorrelationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a segment of."
        },
        "correlationTypes": {
          "description": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION.",
          "items": {
            "enum": [
              "CORRELATION_TYPE_UNSPECIFIED",
              "SEGMENT",
              "PARTIAL",
              "FULL",
              "SYNTHETIC"
            ],
            "enumDescriptions": [
              "Default value for unspecified.",
              "This conversation represents a segment of a full conversation. The lowest level of granularity.",
              "This conversation represents a partial conversation of potentially multiple segments but is not a full conversation.",
              "This conversation represents a full conversation of potentially multiple segments.",
              "This conversation represents a synthetic conversation."
            ],
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Info for correlating across conversations.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "type": "object",
      "properties": {
        "correctnessLevel": {
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "description": "The correctness level of an answer."
        },
        "displayed": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "description": "The feedback that the customer has about a certain answer in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1ConversationParticipant": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
      "type": "object",
      "description": "The call participant speaking for a given utterance.",
      "properties": {
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "role": {
          "description": "The role of the participant.",
          "type": "string",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string",
          "deprecated": true
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueRequest": {
      "properties": {
        "issue": {
          "description": "Required. The values for the new issue.",
          "$ref": "GoogleCloudContactcenterinsightsV1Issue"
        },
        "parent": {
          "description": "Required. The parent resource of the issue.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueRequest",
      "type": "object",
      "description": "The request to create an issue."
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        }
      },
      "description": "Request to import an issue model."
    },
    "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse": {
      "type": "object",
      "description": "The response from a ListAuthorizedViewSet request.",
      "id": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "authorizedViewSets": {
          "description": "The AuthorizedViewSets under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata": {
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest",
          "description": "The original request for bulk delete."
        }
      },
      "description": "The metadata for a bulk delete conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelMetadata",
      "description": "Metadata for undeploying an issue model.",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for undeployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource": {
      "description": "Google Cloud Storage Object URI to get the issue model file from.",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint": {
      "properties": {
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        },
        "conversationMeasure": {
          "description": "The measure related to conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure"
        }
      },
      "description": "A data point contains the metric values mapped to an interval.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Conversation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Conversation",
      "properties": {
        "turnCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer"
        },
        "latestSummary": {
          "readOnly": true,
          "description": "Output only. Latest summary of the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the conversation started."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the conversation was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "qualityMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata",
          "description": "Conversation metadata related to quality management."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the conversation was created.",
          "type": "string",
          "readOnly": true
        },
        "metadataJson": {
          "description": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "latestAnalysis": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Analysis",
          "readOnly": true,
          "description": "Output only. The conversation's latest analysis, if one exists."
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time."
        },
        "medium": {
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string",
          "description": "Immutable. The conversation medium.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        },
        "correlationInfo": {
          "readOnly": true,
          "description": "Output only. Info for correlating across conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo"
        },
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata"
        },
        "expireTime": {
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "dialogflowIntents": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent"
          },
          "readOnly": true,
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}"
        },
        "duration": {
          "description": "Output only. The duration of the conversation.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "transcript": {
          "description": "Output only. The conversation transcript.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript"
        },
        "runtimeAnnotations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation"
          },
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "The conversation resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "type": "object",
      "description": "A link part.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "properties": {
        "uri": {
          "description": "Optional. Target URI.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Optional. Anchor or display text."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse": {
      "description": "The response to deploy an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModel": {
      "properties": {
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "issueCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of issues in this issue model.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this issue model was created.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "trainingStats": {
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "type": "string",
          "description": "Output only. State of the model."
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time at which the issue model was updated."
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModelInputDataConfig"
        },
        "modelType": {
          "description": "Type of the model.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModel",
      "description": "The issue model resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse": {
      "description": "Response for an export insights operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedViewSet": {
      "description": "An AuthorizedViewSet contains a set of AuthorizedView resources.",
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the AuthorizedViewSet. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}"
        },
        "createTime": {
          "description": "Output only. Create time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update time."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DialogflowSource": {
[...]
