{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "contactcenterinsights:v1",
  "canonicalName": "Contactcenterinsights",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "description": "",
  "name": "contactcenterinsights",
  "servicePath": "",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "title": "Contact Center AI Insights API",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20261002",
  "version_module": true,
  "schemas": {
    "GoogleCloudContactcenterinsightsV1QaScorecard": {
      "id": "GoogleCloudContactcenterinsightsV1QaScorecard",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the scorecard was updated.",
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true
        },
        "isDefault": {
          "description": "Whether the scorecard is the default one for the project. A default scorecard cannot be deleted and will always appear first in scorecard selector.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The user-specified display name of the scorecard."
        },
        "description": {
          "type": "string",
          "description": "A text description explaining the intent of the scorecard."
        },
        "createTime": {
          "description": "Output only. The time at which this scorecard was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "enum": [
            "QA_SCORECARD_SOURCE_UNSPECIFIED",
            "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
            "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE",
            "QA_SCORECARD_SOURCE_INTENT_TAXONOMY"
          ],
          "description": "Output only. The source of the scorecard.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
            "The scorecard is a custom scorecard created by the user.",
            "The scorecard is a scorecard created through discovery engine deployment.",
            "The scorecard is derived from the custom intent taxonomy. Customers can edit question content, but cannot delete the scorecard or add/remove questions."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The scorecard name. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}"
        }
      },
      "type": "object",
      "description": "A QaScorecard represents a collection of questions to be scored during analysis."
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats": {
      "properties": {
        "successfulSampleCount": {
          "readOnly": true,
          "description": "Output only. The number of new conversations added during this sample operation.",
          "type": "integer",
          "format": "int32"
        },
        "failedSampleCount": {
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats",
      "description": "Statistics for SampleConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig",
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        }
      },
      "description": "Configuration for processing transcript objects.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "type": "object",
      "description": "The measure related to dialogflow interactions.",
      "properties": {
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        },
        "percentileTtsLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level."
        },
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
        },
        "percentileEndToEndLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest": {
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest",
      "type": "object",
      "properties": {
        "comparisonQueryInterval": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval",
          "description": "The time window of the conversations to compare the performance to."
        },
        "queryInterval": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval",
          "description": "Required. The time window of the conversations to derive performance stats from."
        },
        "agentPerformanceSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource",
          "description": "Conversations are from a single agent."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter to select a subset of conversations to compute the performance overview. Supports the same filters as the filter field in QueryMetricsRequest. The source and query interval/comparison query interval should not be included here."
        }
      },
      "description": "The request for summarizing performance according to different metrics for conversations over a specified time window."
    },
    "GoogleCloudContactcenterinsightsV1DialogflowIntent": {
      "type": "object",
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowIntent",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Note": {
      "id": "GoogleCloudContactcenterinsightsV1Note",
      "description": "The conversation assessment note resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}",
          "type": "string"
        },
        "noteCreator": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1UserInfo",
          "description": "Output only. The user that created the note."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the note was created."
        },
        "content": {
          "description": "The note content.",
          "type": "string"
        },
        "assessmentNote": {
          "description": "The note is associated to the entire parent assessment.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote"
        },
        "qaQuestionNote": {
          "$ref": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
          "description": "The note is associated with a QA question in one of the conversation's scorecard results."
        },
        "conversationTurnNote": {
          "$ref": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote",
          "description": "The note is associated with a conversation turn."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the note was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataResponse": {
      "type": "object",
      "description": "Response for an export insights operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataResponse",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata",
      "properties": {
        "errorMessages": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The error message when the generative insights request fails.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The metadata for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "description": "A media part.",
      "properties": {
        "alternativeText": {
          "type": "string",
          "description": "Optional. Alternative text description."
        },
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of this phrase match rule group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ]
        },
        "phraseMatchRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          },
          "description": "A list of phrase match rules that are included in this group."
        }
      },
      "description": "A message representing a rule in the phrase matcher.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecMetadata",
      "description": "Metadata for initializing a location-level encryption specification.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete."
        },
        "request": {
          "readOnly": true,
          "description": "Output only. The original request for initialization.",
          "$ref": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "description": "Output only. The original request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagRequest",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteQaQuestionTagMetadata",
      "description": "The metadata for deleting a QaQuestionTag Resource."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure",
      "type": "object",
      "properties": {
        "conversationalAgentsAverageLlmCallLatency": {
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "format": "double",
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "type": "number"
        },
        "averageTurnCount": {
          "description": "The average turn count.",
          "format": "float",
          "type": "number"
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made."
        },
        "averageQaNormalizedScore": {
          "format": "double",
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID.",
          "type": "number"
        },
        "conversationCount": {
          "type": "integer",
          "description": "The conversation count.",
          "format": "int32"
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "format": "int32",
          "type": "integer"
        },
        "averageDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The average duration."
        },
        "dialogflowInteractionsNoInputRatio": {
          "type": "number",
          "description": "Proportion of dialogflow interactions that has empty input.",
          "format": "double"
        },
        "summarizationSuggestionEditRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of summarization suggestions that were manually edited."
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations.",
          "format": "double",
          "type": "number"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "description": "The number of conversations scanned by the AA human supervisor.",
          "type": "integer",
          "format": "int32"
        },
        "averageClientSentimentScore": {
          "format": "float",
          "type": "number",
          "description": "The average client's sentiment score."
        },
        "averageCustomerSatisfactionRating": {
          "format": "double",
          "description": "The average customer satisfaction rating.",
          "type": "number"
        },
        "dialogflowInteractionsNoMatchRatio": {
          "format": "double",
          "description": "Proportion of dialogflow interactions that has no intent match for the input.",
          "type": "number"
        },
        "averageSummarizationSuggestionEditDistance": {
          "format": "double",
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion.",
          "type": "number"
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "format": "double",
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "type": "number"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback."
        },
        "knowledgeSearchUriClickRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked."
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations transferred to a human agent."
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "conversationTotalCustomerMessageCount": {
          "format": "int32",
          "type": "integer",
          "description": "The customer message count."
        },
        "dialogflowConversationsEscalationRatio": {
          "type": "number",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent.",
          "format": "double"
        },
        "dialogflowWebhookTimeoutRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of dialogflow webhook calls that timed out."
        },
        "dialogflowWebhookFailureRatio": {
          "type": "number",
          "description": "Proportion of dialogflow webhook calls that failed.",
          "format": "double"
        },
        "aaSupervisorDroppedConversationsCount": {
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "type": "integer",
          "format": "int32"
        },
        "knowledgeSearchResultCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user."
        },
        "conversationTotalAgentMessageCount": {
          "format": "int32",
          "type": "integer",
          "description": "The agent message count."
        },
        "dialogflowAverageWebhookLatency": {
          "type": "number",
          "format": "double",
          "description": "Average latency of dialogflow webhook calls."
        },
        "conversationSuggestedSummaryRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of conversations that had a suggested summary."
        },
        "averageSilencePercentage": {
          "description": "The average silence percentage.",
          "type": "number",
          "format": "float"
        },
        "aaSupervisorEscalatedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention.",
          "type": "integer"
        },
        "conversationalAgentsAverageTtsLatency": {
          "format": "double",
          "type": "number",
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations."
        },
        "aiCoachSuggestionAgentUsageCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of Ai Coach Suggestion that has been used by agents."
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "format": "double",
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion.",
          "type": "number"
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "format": "double"
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "format": "int32",
          "description": "Count of agent messages that triggered an Ai Coach Suggestion.",
          "type": "integer"
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made.",
          "type": "number",
          "format": "double"
        },
        "avgConversationClientTurnSentimentEma": {
          "description": "The exponential moving average of the sentiment score of client turns in the conversation.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorAssignedConversationsCount": {
          "type": "integer",
          "description": "The number of conversations that were assigned to an AA human supervisor.",
          "format": "int32"
        },
        "knowledgeAssistUriClickRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked."
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          },
          "type": "array"
        },
        "averageAgentSentimentScore": {
          "description": "The average agent's sentiment score.",
          "format": "float",
          "type": "number"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback.",
          "format": "double"
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "conversationAiCoachSuggestionCount": {
          "format": "int32",
          "description": "Count of conversations that has Ai Coach Suggestions.",
          "type": "integer"
        },
        "dialogflowConversationsEscalationCount": {
          "type": "number",
          "description": "count of conversations that was handed off from virtual agent to human agent.",
          "format": "double"
        },
        "containedConversationCount": {
          "type": "integer",
          "description": "The number of conversations that were contained.",
          "format": "int32"
        },
        "conversationAiCoachSuggestionRatio": {
          "type": "number",
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "format": "double"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "description": "Proportion of Ai Coach Suggestion that has been used by agents.",
          "format": "double",
          "type": "number"
        },
        "knowledgeAssistResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user."
        },
        "summarizationSuggestionResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of summarization suggestions results."
        },
        "containedConversationRatio": {
          "type": "number",
          "description": "The percentage of conversations that were contained.",
          "format": "double"
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback.",
          "format": "double",
          "type": "number"
        },
        "averageQaQuestionNormalizedScore": {
          "format": "double",
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID.",
          "type": "number"
        }
      },
      "description": "The measure related to conversations."
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse": {
      "type": "object",
      "description": "The response to initialize a location-level encryption specification.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "description": "Issue Modeling result on a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "properties": {
        "issueModel": {
          "type": "string",
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "issues": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "description": "All the matched issues.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Dashboard": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User provided display name of the dashboard.",
          "type": "string"
        },
        "description": {
          "description": "Dashboard description",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Dashboard creation time."
        },
        "name": {
          "description": "Identifier. Dashboard resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Dashboard last update time.",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Output only. Whether the dashboard is read-only. All predefined dashboards are read-only and cannot be modified by the user.",
          "readOnly": true
        },
        "rootContainer": {
          "$ref": "GoogleCloudContactcenterinsightsV1Container",
          "description": "The dashboard's root widget container. We want to display the dashboard layout in a tree-like structure, where the root container contains other widgets (containers or charts) as children."
        },
        "filter": {
          "description": "Filter applied to all charts in the dashboard. Should support scope later.",
          "type": "string"
        },
        "dateRangeConfig": {
          "description": "Date range config applied to all charts in the dashboard.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig"
        }
      },
      "description": "Configurable dashboard",
      "id": "GoogleCloudContactcenterinsightsV1Dashboard"
    },
    "GoogleCloudCesV1mainSpan": {
      "type": "object",
      "id": "GoogleCloudCesV1mainSpan",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The end time of the span.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the span."
        },
        "duration": {
          "description": "Output only. The duration of the span.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Key-value attributes associated with the span.",
          "type": "object",
          "readOnly": true
        },
        "childSpans": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudCesV1mainSpan"
          },
          "description": "Output only. The child spans that are nested under this span."
        },
        "startTime": {
          "description": "Output only. The start time of the span.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedViewSet": {
      "properties": {
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Whether this resource is zone isolated.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is zone separated."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the AuthorizedViewSet. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name. Limit 64 characters."
        }
      },
      "description": "An AuthorizedViewSet contains a set of AuthorizedView resources.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource": {
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
      "description": "Google Sheets document details to get the feedback label file from."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo": {
      "type": "object",
      "properties": {
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration"
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        },
        "startOffset": {
          "description": "Time offset of the start of this word relative to the beginning of the total conversation.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo",
      "description": "Word-level info for words in a transcript."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata",
      "type": "object",
      "description": "Metadata for the BulkDownloadFeedbackLabel endpoint.",
      "properties": {
        "downloadStats": {
          "description": "Output only. Statistics for BulkDownloadFeedbackLabels operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "request": {
          "readOnly": true,
          "description": "Output only. The original request for download.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequest"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelResponse",
      "type": "object",
      "description": "Response from import issue model",
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel",
          "description": "The issue model that was imported."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata",
      "description": "Metadata used for import issue model.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
          "description": "The original import request."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscript": {
      "type": "object",
      "description": "A message representing the transcript of a conversation.",
      "properties": {
        "transcriptSegments": {
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegment"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscript"
    },
    "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagMetadata",
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest",
          "readOnly": true,
          "description": "Output only. The original request."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse",
      "type": "object",
      "description": "The response for querying performance overview.",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UploadConversationRequest": {
      "properties": {
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings."
        },
        "conversationId": {
          "type": "string",
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the conversation."
        }
      },
      "description": "Request to upload a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1UploadConversationRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
          "type": "string"
        },
        "maxDeleteCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of conversations to delete."
        },
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
        }
      },
      "description": "The request to delete conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueMetadata",
      "description": "Metadata for creating an issue.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest",
          "description": "The original request for creation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse",
      "type": "object",
      "description": "The response for listing all feedback labels.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "feedbackLabels": {
          "type": "array",
          "description": "The feedback labels that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation": {
      "properties": {
        "messages": {
          "description": "The messages in the turn.",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "type": "array"
        },
        "rootSpan": {
          "$ref": "GoogleCloudCesV1mainSpan",
          "description": "The root span of the action processing."
        }
      },
      "description": "The CES diagnostic information.",
      "id": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelector": {
      "type": "object",
      "description": "Selector of all available annotators and phrase matchers to run.",
      "properties": {
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "runAutoLabelingAnnotator": {
          "type": "boolean",
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels."
        },
        "runEntityAnnotator": {
          "description": "Whether to run the entity annotator.",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "type": "boolean",
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect."
        },
        "phraseMatchers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "runQaAnnotator": {
          "type": "boolean",
          "description": "Whether to run the QA annotator."
        },
        "runIntentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the intent annotator."
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig"
        },
        "issueModels": {
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runPhraseMatcherAnnotator": {
          "type": "boolean",
          "description": "Whether to run the active phrase matcher annotator(s)."
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "runSentimentAnnotator": {
          "description": "Whether to run the sentiment annotator.",
          "type": "boolean"
        },
        "qaConfig": {
          "description": "Configuration for the QA annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfig"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "type": "object",
      "properties": {
        "inspectTemplate": {
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`",
          "type": "string"
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`"
        }
      },
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist."
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest": {
      "description": "The request to analyze conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest",
      "type": "object",
      "properties": {
        "relabel": {
          "description": "Optional. Deprecated: Use `annotator_selector.run_auto_labeling_annotator` instead. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean",
          "deprecated": true
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "analysisPercentage": {
          "format": "float",
          "type": "number",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100]."
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "filter": {
          "type": "string",
          "description": "Required. Filter used to select the subset of conversations to analyze."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to deploy."
        }
      },
      "description": "The request to deploy an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata": {
      "properties": {
        "analysisOperation": {
          "readOnly": true,
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "appliedRedactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "description": "Output only. The redaction config applied to the uploaded conversation.",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        }
      },
      "description": "The metadata for an `UploadConversation` operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata"
    },
    "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition": {
      "description": "Condition for auto-labeling conversations.",
      "properties": {
        "condition": {
          "type": "string",
          "description": "A optional CEL expression to be evaluated as a boolean value. Once evaluated as true, then we will proceed with the value evaluation. An empty condition will be auto evaluated as true."
        },
        "value": {
          "description": "CEL expression to be evaluated as the value.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest",
      "type": "object",
      "description": "The request to create an issue.",
      "properties": {
        "issue": {
          "description": "Required. The values for the new issue.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Issue"
        },
        "parent": {
          "description": "Required. The parent resource of the issue.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSampleRule": {
      "type": "object",
      "description": "Message for sampling conversations.",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleRule",
      "properties": {
        "conversationFilter": {
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations.",
          "type": "string"
        },
        "sampleRow": {
          "description": "Number of the conversations that we should sample based on the dimension.",
          "format": "int64",
          "type": "string"
        },
        "dimension": {
          "type": "string",
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'."
        },
        "samplePercentage": {
          "type": "number",
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "format": "double"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice": {
      "description": "Message representing a possible answer to the question.",
      "properties": {
        "numValue": {
          "type": "number",
          "description": "Numerical value.",
          "format": "double"
        },
        "strValue": {
          "description": "String value.",
          "type": "string"
        },
        "score": {
          "description": "Numerical score of the answer, used for generating the overall score of a QaScorecardResult. If the answer uses na_value, this field is unused.",
          "type": "number",
          "format": "double"
        },
        "key": {
          "description": "A short string used as an identifier.",
          "type": "string"
        },
        "naValue": {
          "type": "boolean",
          "description": "A value of \"Not Applicable (N/A)\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations."
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice"
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata",
      "type": "object",
      "description": "Metadata for undeploying an issue model.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest",
          "description": "The original request for undeployment."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest",
      "description": "Request for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats": {
      "type": "object",
      "description": "Statistics for BulkDownloadFeedbackLabels operation.",
      "properties": {
        "totalFilesWritten": {
          "type": "integer",
          "description": "Total number of files written to the provided Cloud Storage bucket.",
          "format": "int32"
        },
        "successfulDownloadCount": {
          "format": "int32",
          "description": "The number of new feedback labels downloaded during this operation. Different from \"processed\" because some labels might not be downloaded because an error.",
          "type": "integer"
        },
        "fileNames": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Full name of the files written to Cloud storage."
        },
        "processedObjectCount": {
          "description": "The number of objects processed during the download operation.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata": {
      "type": "object",
      "properties": {
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UpdateQaQuestionTagRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to"
        },
        "qaQuestionTag": {
          "description": "Required. The QaQuestionTag to update.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
        }
      },
      "description": "The request for updating a QaQuestionTag."
    },
    "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      },
      "description": "The metadata for updating a QaQuestionTag Resource.",
      "id": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListPart",
      "description": "A list part.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "description": "Optional. List items."
        },
        "listType": {
          "type": "string",
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ],
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ],
          "description": "Optional. The type of list."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest": {
      "description": "The request to ingest conversations.",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest",
      "type": "object",
      "properties": {
        "sampleSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests."
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        },
        "transcriptObjectConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig",
          "description": "Configuration for when `source` contains conversation transcripts."
        },
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig"
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
        },
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSmartReplyData": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "confidenceScore": {
          "format": "double",
          "type": "number",
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "reply": {
          "description": "The content of the reply.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainSmartReplyData",
      "description": "Agent Assist Smart Reply data."
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "id": "GoogleCloudContactcenterinsightsV1HoldData",
      "description": "The data for a hold annotation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest": {
      "description": "The request to analyze conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "relabel": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Deprecated: Use `annotator_selector.run_auto_labeling_annotator` instead. If true, the labeling rules will be re-evaluated for the conversations."
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        },
        "analysisPercentage": {
          "format": "float",
          "type": "number",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100]."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult",
      "properties": {
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        },
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        },
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        }
      },
      "description": "The result of a single constraint rule on the pair of conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse": {
      "type": "object",
      "description": "The response to undeploy an issue model.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1ListNotesResponse": {
      "description": "The response of listing notes.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListNotesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "notes": {
          "description": "The notes that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Note"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse",
      "description": "The response of listing phrase matchers.",
      "type": "object",
      "properties": {
        "phraseMatchers": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
          },
          "description": "The phrase matchers that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
          "description": "The original export request."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata",
      "description": "Metadata used for export issue model."
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "type": "object",
      "description": "Request for the BulkDownloadFeedbackLabel endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "properties": {
        "feedbackLabelType": {
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "type": "string",
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ]
        },
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
        },
        "conversationFilter": {
          "type": "string",
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new feedback labels."
        },
        "maxDownloadCount": {
          "type": "integer",
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded.",
          "format": "int32"
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "sheetsDestination": {
          "description": "A sheets document destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination"
        },
        "templateQaScorecardId": {
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "type": "object",
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig": {
      "description": "Configuration for summarization.",
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig",
      "properties": {
        "generator": {
          "type": "string",
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/"
        },
        "summarizationModel": {
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "description": "Default summarization model to be used.",
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "type": "string"
        },
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse": {
      "description": "The response from a ListQaQuestions request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "qaQuestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
          },
          "description": "The QaQuestions under the parent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "properties": {
        "tag": {
          "description": "Tag name.",
          "type": "string"
        },
        "averageTagNormalizedScore": {
          "type": "number",
          "format": "double",
          "description": "Average tag normalized score per tag."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "description": "Average QA normalized score for the tag."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaScorecardDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaScorecardDimensionMetadata",
      "description": "Metadata about the QA scorecard dimension.",
      "type": "object",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig": {
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        },
        "disableWordTimeOffsets": {
          "type": "boolean",
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "description": "Wrapper for detailed, step-by-step results.",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults",
      "type": "object",
      "properties": {
        "joinKeyResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult"
          },
          "type": "array",
          "description": "A list of join key correlation results for each conversation tested."
        },
        "constraintResults": {
          "description": "A list of constraint evaluation results for each pair of conversations.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartProduct": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartProduct",
      "type": "object",
      "description": "A product in a product collection.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. Product ID."
        },
        "uri": {
          "description": "Optional. Product URL or deep link.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Product display name.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Product description.",
          "type": "string"
        },
        "price": {
          "$ref": "GoogleTypeMoney",
          "description": "Optional. Product price."
        },
        "imageUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Product image URLs.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata": {
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata",
      "description": "Metadata about the client sentiment category dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelResponse",
      "description": "Response from export issue model",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "description": "A suggestion chips part.",
      "properties": {
        "chips": {
          "type": "array",
          "description": "Optional. List of suggestion chips.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats": {
      "description": "Statistics for IngestConversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "processedObjectCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of objects processed during the ingest operation."
        },
        "successfulIngestCount": {
          "format": "int32",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "type": "integer",
          "readOnly": true
        },
        "duplicatesSkippedCount": {
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "failedIngestCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata": {
      "description": "Metadata for an export insights operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata",
      "properties": {
        "completedExportCount": {
          "format": "int32",
          "description": "The number of conversations that were exported successfully.",
          "type": "integer"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during export operation that might cause the operation output to be incomplete."
        },
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "failedExportCount": {
          "description": "The number of conversations that failed to be exported.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
      "description": "A custom payload part.",
      "properties": {
        "payload": {
          "description": "Optional. Arbitrary structured payload.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "payloadType": {
          "description": "Optional. Type identifier for the payload.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "type": "object",
      "description": "Response from export issue model",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      },
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences."
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig": {
      "type": "object",
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "agentChannel": {
          "format": "int32",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "type": "integer"
        },
        "customerChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32",
          "type": "integer"
        },
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "properties": {
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Arbitrary structured payload."
        },
        "payloadType": {
          "type": "string",
          "description": "Optional. Type identifier for the payload."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
      "type": "object",
      "description": "A custom payload part."
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata": {
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint.",
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "description": "Output only. The original request for delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "partialErrors": {
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest",
          "description": "Output only. The original request for initialization.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata",
      "description": "Metadata for initializing a location-level encryption specification."
    },
    "GoogleCloudContactcenterinsightsV1SearchAuthorizedViewsResponse": {
      "properties": {
        "authorizedViews": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
          },
          "type": "array",
          "description": "The AuthorizedViews under the parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response from a ListAuthorizedViews request.",
      "id": "GoogleCloudContactcenterinsightsV1SearchAuthorizedViewsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AssistantMessage": {
      "properties": {
        "chunks": {
          "description": "Required. Content of the message.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssistantChunk"
          }
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Timestamp when the message was sent or received."
        },
        "role": {
          "description": "Required. Role within the conversation.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The user role.",
            "The model role."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "USER",
            "MODEL"
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AssistantMessage",
      "type": "object",
      "description": "A message in an assistant session."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "properties": {
        "medium": {
          "type": "string",
          "deprecated": true,
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`."
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
        },
        "trainingConversationsCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of conversations used in training. Output only."
        }
      },
      "type": "object",
      "description": "Configs for the input data used to create the issue model."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "properties": {
        "chips": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartChip"
          },
          "type": "array",
          "description": "Optional. List of suggestion chips."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
      "type": "object",
      "description": "A suggestion chips part."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionClientSentimentCategoryDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionClientSentimentCategoryDimensionMetadata",
      "properties": {
        "sentimentCategory": {
          "type": "string",
          "description": "Optional. The client sentiment category."
        }
      },
      "type": "object",
      "description": "Metadata about the client sentiment category dimension."
    },
    "GoogleCloudContactcenterinsightsV1CesTurnAnnotation": {
      "properties": {
        "messages": {
          "description": "The messages in the turn.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          }
        },
        "rootSpan": {
          "$ref": "GoogleCloudCesV1mainSpan",
          "description": "The root span of the action processing."
        }
      },
      "type": "object",
      "description": "The CES diagnostic information.",
      "id": "GoogleCloudContactcenterinsightsV1CesTurnAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse": {
      "type": "object",
      "description": "The response from a ListQaScorecardRevisions request.",
      "properties": {
        "qaScorecardRevisions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
          },
          "type": "array",
          "description": "The QaScorecards under the parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse"
    },
    "GoogleCloudContactcenterinsightsV1EncryptionSpec": {
      "type": "object",
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "properties": {
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true,
          "type": "boolean"
        },
        "kmsKey": {
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval": {
      "description": "A single interval in a time series.",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time of this interval.",
          "type": "string",
          "format": "google-datetime"
        },
        "conversationCount": {
          "type": "integer",
          "description": "The number of conversations created in this interval.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionDimensionMetadata": {
      "properties": {
        "qaScorecardId": {
          "type": "string",
          "description": "Optional. The QA scorecard ID."
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
[...]
