{
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "title": "Contact Center AI Platform API",
  "canonicalName": "CCAI Platform",
  "version": "v1alpha1",
  "mtlsRootUrl": "https://contactcenteraiplatform.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "contactcenteraiplatform:v1alpha1",
  "version_module": true,
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "baseUrl": "https://contactcenteraiplatform.googleapis.com/",
  "revision": "20260915",
  "description": "",
  "schemas": {
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "ListContactCentersResponse": {
      "id": "ListContactCentersResponse",
      "description": "Message for response to listing ContactCenters",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "contactCenters": {
          "type": "array",
          "description": "The list of ContactCenter",
          "items": {
            "$ref": "ContactCenter"
          }
        }
      },
      "type": "object"
    },
    "Early": {
      "description": "LINT.IfChange First Channel to receive the updates. Meant to dev/test instances",
      "id": "Early",
      "properties": {},
      "type": "object"
    },
    "Critical": {
      "properties": {
        "peakHours": {
          "description": "Required. Hours during which the instance should not be updated.",
          "items": {
            "$ref": "WeeklySchedule"
          },
          "type": "array"
        }
      },
      "id": "Critical",
      "description": "Instances in this Channel will receive updates after all instances in `Normal` were updated. They also will only be updated outside of their peak hours.",
      "type": "object"
    },
    "DateList": {
      "id": "DateList",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Values in the list.",
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      },
      "description": "List of dates."
    },
    "WorkforceDemandList": {
      "description": "List of workforce demands.",
      "properties": {
        "values": {
          "items": {
            "$ref": "WorkforceDemand"
          },
          "description": "Optional. Values in the list.",
          "type": "array"
        }
      },
      "id": "WorkforceDemandList",
      "type": "object"
    },
    "AdminUser": {
      "id": "AdminUser",
      "type": "object",
      "description": "Message storing info about the first admin user. Next ID: 3",
      "properties": {
        "givenName": {
          "type": "string",
          "description": "Optional. First/given name of the first admin user."
        },
        "familyName": {
          "description": "Optional. Last/family name of the first admin user.",
          "type": "string"
        }
      }
    },
    "EventTemplate": {
      "description": "Template specifying rules for generating a single event that occurs during a shift. An event may represent a meeting, break, lunch, etc.",
      "type": "object",
      "id": "EventTemplate",
      "properties": {
        "minimumMinutesAfterShiftStart": {
          "description": "Optional. Minimum number of minutes after the beginning of a shift that this event can start.",
          "type": "integer",
          "format": "int32"
        },
        "startTimeIncrementMinutes": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The time increment (in minutes) used to generate the set of possible event start times between `minimum_minutes_after_shift_start` and `maximum_minutes_after_shift_start`. For example, if the minimum minutes after shift start are 30, maximum minutes after shift start are 45, and the start time increment is 5 minutes, the event can take place 30, 35, 40, or 45 minutes after the start of the shift."
        },
        "maximumMinutesAfterShiftStart": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of minutes after the beginning of a shift that this event can start."
        },
        "durationMinutes": {
          "format": "int32",
          "description": "Required. Fixed duration in minutes of this event.",
          "type": "integer"
        },
        "id": {
          "description": "Required. Unique ID of this template.",
          "type": "string"
        }
      }
    },
    "Quota": {
      "properties": {
        "contactCenterInstanceSize": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size MULTIREGION_SMALL",
            "Instance Size MULTIREGION_MEDIUM",
            "Instance Size MULTIREGION_LARGE",
            "Instance Size MULTIREGION_XLARGE",
            "Instance Size MULTIREGION_2XLARGE.",
            "Instance Size MULTIREGION_3XLARGE.",
            "Instance Size DEV_SMALL",
            "Instance Size SANDBOX_SMALL",
            "Instance Size TRIAL_SMALL",
            "Instance Size TIME_LIMITED_TRIAL_SMALL"
          ],
          "type": "string",
          "description": "Contact center instance type.",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "MULTIREGION_SMALL",
            "MULTIREGION_MEDIUM",
            "MULTIREGION_LARGE",
            "MULTIREGION_XLARGE",
            "MULTIREGION_2XLARGE",
            "MULTIREGION_3XLARGE",
            "DEV_SMALL",
            "SANDBOX_SMALL",
            "TRIAL_SMALL",
            "TIME_LIMITED_TRIAL_SMALL"
          ]
        },
        "contactCenterCountLimit": {
          "description": "Reflects the count limit of contact centers on a billing account.",
          "type": "integer",
          "format": "int32"
        },
        "contactCenterCountSum": {
          "type": "integer",
          "format": "int32",
          "description": "Reflects the count sum of contact centers on a billing account."
        }
      },
      "description": "Quota details.",
      "type": "object",
      "id": "Quota"
    },
    "ShiftTemplate": {
      "description": "Template specifying rules for generating shifts. A shift is a unit of work that specifies a start time, end time, and may contain events (e.g. lunch, breaks etc.). Shifts will be assigned to specific dates in the response.",
      "properties": {
        "latestStartTime": {
          "description": "Required. Latest time in the day that a shift can start. This value is specified with hours and minutes; seconds and nanos are ignored. If this value is less than the `earliest_start_time`, it may imply an overnight shift.",
          "$ref": "TimeOfDay"
        },
        "id": {
          "type": "string",
          "description": "Required. Unique ID of this template."
        },
        "minimumEmployeeCount": {
          "format": "int32",
          "description": "Optional. Minimum number of employees that can be assigned to all shifts generated by this template on working days.",
          "type": "integer"
        },
        "daysOffCountPerWeek": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Fixed number of days off per week. An employee has a given day off if they are not assigned to a shift that starts on that day. A week is 7 days and begins on Sunday."
        },
        "startTimeIncrementMinutes": {
          "format": "int32",
          "description": "Optional. The time increment (in minutes) used to generate the set of possible start times between `earliest_start_time` and `latest_start_time`. For example, if the earliest start time is 8:00, the latest start time is 8:30, and the start time increment is 10 minutes, then all possible start times for this shift template are: 8:00, 8:10, 8:20, and 8:30.",
          "type": "integer"
        },
        "assignableEmployeeIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of specific employee IDs that can be assigned to shifts generated by this template. If this field is present, there will be `EmployeeSchedule`s in the response for which the `EmployeeSchedule.employee_id` field is set to one of the IDs in this list. The number of employee schedules with an assigned employee ID will be between `minimum_employee_count` and `maximum_employee_count`. If this field is empty, between `minimum_employee_count` and `maximum_employee_count` employees can be assigned to shifts generated by this template and the employee schedules won't have an assigned employee ID. Currently, only one assignable employee ID is supported.",
          "type": "array"
        },
        "durationMinutes": {
          "description": "Required. Fixed duration of a shift generated by this template.",
          "format": "int32",
          "type": "integer"
        },
        "daysOffDates": {
          "$ref": "DateList",
          "description": "Optional. Fixed dates when shifts from this template should not be generated."
        },
        "earliestStartTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Earliest time in the day that a shift can start. This value is specified with hours and minutes; seconds and nanos are ignored."
        },
        "maximumEmployeeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Maximum number of employees that can be assigned to all shifts generated by this template on working days."
        },
        "eventTemplates": {
          "description": "Optional. Rules for generating events for each shift. Exactly one event will be included in each shift for each `EventTemplate` specified.",
          "items": {
            "$ref": "EventTemplate"
          },
          "type": "array"
        },
        "minimumIntereventGapMinutes": {
          "description": "Optional. Minimum minutes between the end of one event and the start of the next.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ShiftTemplate",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      }
    },
    "UnwantedEventInterval": {
      "id": "UnwantedEventInterval",
      "type": "object",
      "description": "Specifies a time interval during which the overlap with events (generated from event templates) should be minimal.",
      "properties": {
        "durationMinutes": {
          "format": "int32",
          "description": "Required. Duration of the event.",
          "type": "integer"
        },
        "startTime": {
          "description": "Required. Start time of the event.",
          "$ref": "DateTime"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudCommonOperationMetadata": {
      "id": "GoogleCloudCommonOperationMetadata",
      "type": "object",
      "properties": {
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Normal": {
      "description": "Instances in this Channel will receive updates after all instances in `Early` were updated + 2 days.",
      "type": "object",
      "properties": {},
      "id": "Normal"
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "contactCenter": {
          "$ref": "ContactCenter",
          "description": "Contact center information for this request"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "PlanningHorizon": {
      "description": "Specifies the time interval during which the solver should generate shifts. The start time must be before the end time.",
      "type": "object",
      "id": "PlanningHorizon",
      "properties": {
        "endTime": {
          "description": "Required. End of the time interval for the given demand (exclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        },
        "startTime": {
          "description": "Required. Start of the time interval for the given demand (inclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        }
      }
    },
    "SolverConfig": {
      "properties": {
        "scheduleType": {
          "description": "Required. Specifies the type of schedule to generate.",
          "type": "string",
          "enum": [
            "SCHEDULE_TYPE_UNSPECIFIED",
            "SINGLE_SHIFT",
            "WEEKLY_WITH_FIXED_EVENTS",
            "WEEKLY_WITH_VARIABLE_EVENTS"
          ],
          "enumDescriptions": [
            "Unspecified schedule type. Should not be used.",
            "Each `EmployeeSchedule` will include exactly one shift.",
            "`EmployeeSchedule`s will include several shifts to generate a week-long schedule. The start and end time of events in a particular `EmployeeSchedule` will be identical. All the shifts have the same start and end time.",
            "`EmployeeSchedule`s will include several shifts to generate a week-long schedule. The start and end time of events in a particular `EmployeeSchedule` can vary. All the shifts have the same start and end time. This option may result in longer solve times."
          ]
        },
        "maximumProcessingDuration": {
          "type": "string",
          "description": "Optional. Maximum time the solver should spend on the problem. If not set, defaults to 1 minute. The choice of a time limit should depend on the size of the problem. To give an example, when solving a 7-day instance with 2 `ShiftTemplates`, each with ~20 possible start times and holding 2 events with ~30 possible start times, and two days off per week, recommended values are: <10s for fast solutions (and likely suboptimal), (10s, 300s) for good quality solutions, and >300s for an exhaustive search. Larger instances may require longer time limits. This value is not a hard limit and it does not account for the communication overhead. The expected latency to solve the problem may slightly exceed this value.",
          "format": "google-duration"
        }
      },
      "description": "Specifies additional parameters for the solver generating shifts.",
      "id": "SolverConfig",
      "type": "object"
    },
    "WorkforceDemand": {
      "id": "WorkforceDemand",
      "properties": {
        "startTime": {
          "description": "Required. Start of the time interval for the given demand (inclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        },
        "endTime": {
          "description": "Required. End of the time interval for the given demand (exclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        },
        "employeeCount": {
          "type": "integer",
          "description": "Optional. Number of employees needed to cover the demand for this interval.",
          "format": "int32"
        }
      },
      "description": "Specifies the number of employees required to cover the demand in the given time interval. The length of the interval must be strictly positive.",
      "type": "object"
    },
    "WeeklySchedule": {
      "type": "object",
      "description": "Message representing a weekly schedule.",
      "id": "WeeklySchedule",
      "properties": {
        "days": {
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Required. Days of the week this schedule applies to."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Duration of the schedule."
        },
        "startTime": {
          "description": "Required. Daily start time of the schedule.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "Optional. Daily end time of the schedule. If `end_time` is before `start_time`, the schedule will be considered as ending on the next day.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "SAMLParams": {
      "type": "object",
      "properties": {
        "ssoUri": {
          "description": "Single sign-on URL",
          "type": "string"
        },
        "userEmail": {
          "deprecated": true,
          "type": "string",
          "description": "Email address of the first admin users."
        },
        "certificate": {
          "type": "string",
          "description": "SAML certificate"
        },
        "emailMapping": {
          "description": "IdP field that maps to the user’s email address",
          "type": "string"
        },
        "authenticationContexts": {
          "description": "Additional contexts used for authentication.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The Unspecified class indicates that the authentication was performed by unspecified means.",
              "The Internet Protocol class is applicable when a principal is authenticated through the use of a provided IP address.",
              "The Internet Protocol Password class is applicable when a principal is authenticated through the use of a provided IP address, in addition to a username/password.",
              "This class is applicable when the principal has authenticated using a password to a local authentication authority, in order to acquire a Kerberos ticket. That Kerberos ticket is then used for subsequent network authentication.",
              "Reflects no mobile customer registration procedures and an authentication of the mobile device without requiring explicit end-user interaction. This context class authenticates only the device and never the user; it is useful when services other than the mobile operator want to add a secure device authentication to their authentication process.",
              "Reflects no mobile customer registration procedures and a two-factor based authentication, such as secure device and user PIN. This context class is useful when a service other than the mobile operator wants to link their customer ID to a mobile supplied two-factor authentication service by capturing mobile phone data at enrollment.",
              "Reflects mobile contract customer registration procedures and a single factor authentication. For example, a digital signing device with tamper resistant memory for key storage, such as the mobile MSISDN, but no required PIN or biometric for real-time user authentication.",
              "Reflects mobile contract customer registration procedures and a two-factor based authentication. For example, a digital signing device with tamper resistant memory for key storage, such as a GSM SIM, that requires explicit proof of user identity and intent, such as a PIN or biometric.",
              "The Password class is applicable when a principal authenticates to an authentication authority through the presentation of a password over an unprotected HTTP session.",
              "The PasswordProtectedTransport class is applicable when a principal authenticates to an authentication authority through the presentation of a password over a protected session.",
              "The PreviousSession class is applicable when a principal had authenticated to an authentication authority at some point in the past using any authentication context supported by that authentication authority",
              "The X509 context class indicates that the principal authenticated by means of a digital signature where the key was validated as part of an X.509 Public Key Infrastructure.",
              "The PGP context class indicates that the principal authenticated by means of a digital signature where the key was validated as part of a PGP Public Key Infrastructure.",
              "The SPKI context class indicates that the principal authenticated by means of a digital signature where the key was validated via an SPKI Infrastructure.",
              "This context class indicates that the principal authenticated by means of a digital signature according to the processing rules specified in the XML Digital Signature specification [XMLSig].",
              "The Smartcard class is identified when a principal authenticates to an authentication authority using a smartcard.",
              "The SmartcardPKI class is applicable when a principal authenticates to an authentication authority through a two-factor authentication mechanism using a smartcard with enclosed private key and a PIN.",
              "The Software-PKI class is applicable when a principal uses an X.509 certificate stored in software to authenticate to the authentication authority.",
              "This class is used to indicate that the principal authenticated via the provision of a fixed-line telephone number, transported via a telephony protocol such as ADSL.",
              "Indicates that the principal is \"roaming\" (perhaps using a phone card) and authenticates via the means of the line number, a user suffix, and a password element.",
              "This class is used to indicate that the principal authenticated via the provision of a fixed-line telephone number and a user suffix, transported via a telephony protocol such as ADSL.",
              "Indicates that the principal authenticated via the means of the line number, a user suffix, and a password element.",
              "The Secure Remote Password class is applicable when the authentication was performed by means of Secure Remote Password as specified in [RFC 2945].",
              "This class indicates that the principal authenticated by means of a client certificate, secured with the SSL/TLS transport.",
              "The TimeSyncToken class is applicable when a principal authenticates through a time synchronization token."
            ],
            "enum": [
              "AUTHENTICATION_CONTEXT_UNSPECIFIED",
              "INTERNET_PROTOCOL",
              "INTERNET_PROTOCOL_PASSWORD",
              "KERBEROS",
              "MOBILE_ONE_FACTOR_UNREGISTERED",
              "MOBILE_TWO_FACTOR_UNREGISTERED",
              "MOBILE_ONE_FACTOR_CONTRACT",
              "MOBILE_TWO_FACTOR_CONTRACT",
              "PASSWORD",
              "PASSWORD_PROTECTED_TRANSPORT",
              "PREVIOUS_SESSION",
              "PUBLIC_KEY_X509",
              "PUBLIC_KEY_PGP",
              "PUBLIC_KEY_SPKI",
              "PUBLIC_KEY_XML_DIGITAL_SIGNATURE",
              "SMARTCARD",
              "SMARTCARD_PKI",
              "SOFTWARE_PKI",
              "TELEPHONY",
              "TELEPHONY_NOMADIC",
              "TELEPHONY_PERSONALIZED",
              "TELEPHONY_AUTHENTICATED",
              "SECURE_REMOTE_PASSWORD",
              "SSL_TLS_CERTIFICATE_BASED",
              "TIME_SYNC_TOKEN"
            ],
            "type": "string"
          }
        },
        "entityId": {
          "description": "Entity id URL",
          "type": "string"
        }
      },
      "description": "Message storing SAML params to enable Google as IDP.",
      "id": "SAMLParams"
    },
    "DateTime": {
      "id": "DateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string"
        },
        "minutes": {
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "day": {
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FeatureConfig": {
      "id": "FeatureConfig",
      "type": "object",
      "properties": {
        "agentDesktopEnabled": {
          "type": "boolean",
          "description": "Optional. If true - enables the agent desktop feature. Default is false."
        }
      }
    },
    "URIs": {
      "description": "Message storing the URIs of the ContactCenter.",
      "type": "object",
      "id": "URIs",
      "properties": {
        "rootUri": {
          "type": "string",
          "description": "Root Uri of the ContactCenter."
        },
        "virtualAgentStreamingServiceUri": {
          "description": "Virtual Agent Streaming Service Uri of the ContactCenter.",
          "type": "string"
        },
        "mediaUri": {
          "type": "string",
          "description": "Media Uri of the ContactCenter."
        },
        "chatBotUri": {
          "type": "string",
          "description": "Chat Bot Uri of the ContactCenter"
        }
      }
    },
    "Component": {
      "description": "Defines a logical CCAIP component that e.g. “EMAIL”, \"CRM\". For more information see go/ccaip-private-path-v2. Each logical component is associated with a list of service attachments.",
      "properties": {
        "name": {
          "description": "Name of the component.",
          "type": "string"
        },
        "serviceAttachmentNames": {
          "description": "Associated service attachments. The service attachment names that will be used for sending private traffic to the CCAIP tenant project. Example service attachment name: \"projects/${TENANT_PROJECT_ID}/regions/${REGION}/serviceAttachments/ingress-default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Component",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "EmployeeInfo": {
      "id": "EmployeeInfo",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. Unique ID of this employee.",
          "type": "string"
        },
        "unwantedEventIntervals": {
          "type": "array",
          "description": "Optional. A list of unwanted event intervals for this employee. The start time of the interval must be in the planning horizon.",
          "items": {
            "$ref": "UnwantedEventInterval"
          }
        }
      },
      "description": "Information about a particular employee for planning purposes."
    },
    "TimeOfDay": {
      "type": "object",
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "PrivateAccess": {
      "id": "PrivateAccess",
      "properties": {
        "ingressSettings": {
          "description": "List of ingress components that should not be accessed via the Internet. For more information see go/ccaip-private-path-v2.",
          "type": "array",
          "items": {
            "$ref": "Component"
          }
        },
        "egressSettings": {
          "description": "List of egress components that should not be accessed via the Internet. For more information see go/ccaip-private-path-v2.",
          "type": "array",
          "items": {
            "$ref": "Component"
          }
        },
        "pscSetting": {
          "description": "Private service connect settings.",
          "$ref": "PscSetting"
        }
      },
      "type": "object",
      "description": "Defines ingress and egress private traffic settings for CCAIP instances."
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "properties": {
        "instanceSize": {
          "description": "The instance size of this the instance configuration.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size MULTIREGION_SMALL",
            "Instance Size MULTIREGION_MEDIUM",
            "Instance Size MULTIREGION_LARGE",
            "Instance Size MULTIREGION_XLARGE",
            "Instance Size MULTIREGION_2XLARGE.",
            "Instance Size MULTIREGION_3XLARGE.",
            "Instance Size DEV_SMALL",
            "Instance Size SANDBOX_SMALL",
            "Instance Size TRIAL_SMALL",
            "Instance Size TIME_LIMITED_TRIAL_SMALL"
          ],
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "MULTIREGION_SMALL",
            "MULTIREGION_MEDIUM",
            "MULTIREGION_LARGE",
            "MULTIREGION_XLARGE",
            "MULTIREGION_2XLARGE",
            "MULTIREGION_3XLARGE",
            "DEV_SMALL",
            "SANDBOX_SMALL",
            "TRIAL_SMALL",
            "TIME_LIMITED_TRIAL_SMALL"
          ],
          "type": "string"
        }
      },
      "description": "Message storing the instance configuration.",
      "type": "object"
    },
    "GenerateShiftsRequest": {
      "properties": {
        "planningHorizon": {
          "description": "Required. The solver will generate the maximum number of shifts per shift template.",
          "$ref": "PlanningHorizon"
        },
        "workforceDemands": {
          "description": "Required. All the workforce demands that the generated shifts need to cover. The planning horizon is defined between the earliest start time and the latest end time across all the entries. This field cannot be empty.",
          "$ref": "WorkforceDemandList"
        },
        "solverConfig": {
          "description": "Required. Parameters for the solver.",
          "$ref": "SolverConfig"
        },
        "employeeInfo": {
          "description": "Optional. Employee information that should be considered when generating shifts.",
          "type": "array",
          "items": {
            "$ref": "EmployeeInfo"
          }
        },
        "shiftTemplates": {
          "description": "Required. Set of shift templates specifying rules for generating shifts. A shift template can be used for generating multiple shifts.",
          "type": "array",
          "items": {
            "$ref": "ShiftTemplate"
          }
        }
      },
      "description": "Request with constraints for generating shifts. The shifts generated must adhere to these constraints.",
      "id": "GenerateShiftsRequest",
      "type": "object"
    },
    "ContactCenterQuota": {
      "type": "object",
      "id": "ContactCenterQuota",
      "description": "Represents a quota for contact centers.",
      "properties": {
        "contactCenterCountSum": {
          "format": "int32",
          "type": "integer",
          "description": "Deprecated: Use the Quota fields instead. Reflects the count sum of contact centers on a billing account.",
          "deprecated": true
        },
        "contactCenterCountLimit": {
          "deprecated": true,
          "description": "Deprecated: Use the Quota fields instead. Reflects the count limit of contact centers on a billing account.",
          "type": "integer",
          "format": "int32"
        },
        "quotas": {
          "description": "Quota details per contact center instance type.",
          "items": {
            "$ref": "Quota"
          },
          "type": "array"
        }
      }
    },
    "ContactCenter": {
      "description": "Message describing ContactCenter object",
      "id": "ContactCenter",
      "properties": {
        "uris": {
          "readOnly": true,
          "$ref": "URIs",
          "description": "Output only. URIs to access the deployed ContactCenters."
        },
        "purgeTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp in UTC of when this resource is going to be hard-deleted.",
          "format": "google-datetime"
        },
        "featureConfig": {
          "description": "Optional. Feature configuration to populate the feature flags.",
          "$ref": "FeatureConfig"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp in UTC of when this resource is considered expired."
        },
        "releaseVersion": {
          "description": "Output only. UJET release version, unique for each new release.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of this contact center.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "State DEPLOYING",
            "State DEPLOYED",
            "State TERMINATING",
            "State FAILED",
            "State TERMINATING_FAILED",
            "Reused for soft-deleted state because semantically equivalent to `DELETED` as implied by go/aip/164.",
            "State IN_GRACE_PERIOD",
            "State in STATE_FAILING_OVER. This State must ONLY be used by Multiregional Instances when a failover was triggered. Customers are not able to update instances in this state.",
            "State DEGRADED. This State must ONLY be used by Multiregional Instances after a failover was executed successfully. Customers are not able to update instances in this state.",
            "State REPAIRING. This State must ONLY be used by Multiregional Instances after a fallback was triggered. Customers are not able to update instancs in this state.",
            "Flagged by an automation as soon to be expired."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_DEPLOYING",
            "STATE_DEPLOYED",
            "STATE_TERMINATING",
            "STATE_FAILED",
            "STATE_TERMINATING_FAILED",
            "STATE_TERMINATED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_FAILING_OVER",
            "STATE_DEGRADED",
            "STATE_REPAIRING",
            "STATE_EXPIRING"
          ],
          "type": "string",
          "readOnly": true
        },
        "customerDomainPrefix": {
          "description": "Required. Immutable. At least 2 and max 16 char long, must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt).",
          "type": "string"
        },
        "early": {
          "$ref": "Early",
          "description": "Optional. Early release channel."
        },
        "ccaipManagedUsers": {
          "description": "Optional. Whether to enable users to be created in the CCAIP-instance concurrently to having users in Cloud identity",
          "type": "boolean"
        },
        "userEmail": {
          "type": "string",
          "description": "Optional. Email address of the first admin user."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp in UTC of when this resource was soft-deleted.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A user friendly name for the ContactCenter."
        },
        "advancedReportingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the advanced reporting feature is enabled."
        },
        "normal": {
          "description": "Optional. Normal release channel.",
          "$ref": "Normal"
        },
        "samlParams": {
          "$ref": "SAMLParams",
          "description": "Optional. Params that sets up Google as IdP."
        },
        "privateAccess": {
          "$ref": "PrivateAccess",
          "description": "Optional. VPC-SC related networking configuration."
        },
        "kmsKey": {
          "description": "Immutable. The KMS key name to encrypt the user input (`ContactCenter`).",
          "type": "string"
        },
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "adminUser": {
          "description": "Optional. Info about the first admin user, such as given name and family name.",
          "$ref": "AdminUser"
        },
        "instanceConfig": {
          "$ref": "InstanceConfig",
          "description": "The configuration of this instance, it is currently immutable once created."
        },
        "critical": {
          "$ref": "Critical",
          "description": "Optional. Critical release channel."
        },
        "privateComponents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. TODO(b/283407860) Deprecate this field.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        }
      },
      "type": "object"
    },
    "PscSetting": {
      "id": "PscSetting",
      "description": "Private service connect settings.",
      "type": "object",
      "properties": {
        "producerProjectIds": {
          "type": "array",
          "description": "Output only. The CCAIP tenant project ids.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "allowedConsumerProjectIds": {
          "description": "The list of project ids that are allowed to send traffic to the service attachment. This field should be filled only for the ingress components.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    }
  },
  "name": "contactcenteraiplatform",
  "rootUrl": "https://contactcenteraiplatform.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "generateShifts": {
              "path": "v1alpha1/{+parent}:generateShifts",
              "response": {
                "$ref": "Operation"
              },
              "description": "Generates shifts constrained by various parameters.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Name of the parent resource associated with the request. Format: projects/{project}/locations/{location}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenteraiplatform.projects.locations.generateShifts",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:generateShifts",
              "request": {
                "$ref": "GenerateShiftsRequest"
              },
              "httpMethod": "POST"
            },
            "queryContactCenterQuota": {
              "description": "Queries the contact center quota, an aggregation over all the projects, that belongs to the billing account, which the input project belongs to.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Parent project resource id.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+parent}:queryContactCenterQuota",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:queryContactCenterQuota",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ContactCenterQuota"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "contactcenteraiplatform.projects.locations.queryContactCenterQuota"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "id": "contactcenteraiplatform.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "httpMethod": "GET"
            },
            "list": {
              "id": "contactcenteraiplatform.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "repeated": true
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1alpha1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}/operations",
                  "id": "contactcenteraiplatform.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "id": "contactcenteraiplatform.projects.locations.operations.delete",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha1/{+name}:cancel"
                },
                "get": {
                  "id": "contactcenteraiplatform.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "contactCenters": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single ContactCenter.",
                  "response": {
                    "$ref": "ContactCenter"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.get",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "httpMethod": "GET"
                },
                "patch": {
                  "description": "Updates the parameters of a single ContactCenter.",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.patch",
                  "path": "v1alpha1/{+name}",
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the ContactCenter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "name of resource",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single ContactCenter.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "contactCenterId": {
                      "type": "string",
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and contact_center_id from the method_signature of Create RPC",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.create",
                  "description": "Creates a new ContactCenter in a given project and location.",
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "path": "v1alpha1/{+parent}/contactCenters"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListContactCentersResponse"
                  },
                  "path": "v1alpha1/{+parent}/contactCenters",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists ContactCenters in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListContactCentersRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/solutions/contact-center-ai-platform",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest"
}