{
  "protocol": "rest",
  "title": "Contact Center AI Insights API",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "revision": "20260910",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "id": "contactcenterinsights:v1",
  "canonicalName": "Contactcenterinsights",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "bulkDownloadFeedbackLabels": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
              },
              "id": "contactcenterinsights.projects.locations.bulkDownloadFeedbackLabels",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDownloadFeedbackLabels",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource for new feedback labels.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
              "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies."
            },
            "queryPerformanceOverview": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest"
              },
              "description": "Generates a summary of predefined performance metrics for a set of conversations. Conversations can be specified by specifying a time window and an agent id, for now. The summary includes a comparison of metrics computed for conversations in the previous time period, and also a comparison with peers in the same time period.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryPerformanceOverview",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource of the conversations to derive performance stats from. \"projects/{project}/locations/{location}\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}:queryPerformanceOverview",
              "id": "contactcenterinsights.projects.locations.queryPerformanceOverview",
              "parameterOrder": [
                "parent"
              ]
            },
            "getEncryptionSpec": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the encryption spec resource to get.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
              },
              "id": "contactcenterinsights.projects.locations.getEncryptionSpec",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "httpMethod": "GET",
              "description": "Gets location-level encryption key specification."
            },
            "updateCorrelationConfig": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "required": true,
                  "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The list of fields to be updated.",
                  "format": "google-fieldmask"
                }
              },
              "id": "contactcenterinsights.projects.locations.updateCorrelationConfig",
              "description": "Updates correlation config.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              }
            },
            "updateSettings": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to be updated."
                },
                "name": {
                  "description": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "required": true
                }
              },
              "id": "contactcenterinsights.projects.locations.updateSettings",
              "description": "Updates project-level settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              }
            },
            "getCorrelationConfig": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets correlation config.",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "path": "v1/{+name}",
              "id": "contactcenterinsights.projects.locations.getCorrelationConfig",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the correlation config resource to get. Format: projects/{project}/locations/{location}/correlationConfig",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$"
                }
              }
            },
            "bulkDeleteFeedbackLabels": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource for new feedback labels.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
              "id": "contactcenterinsights.projects.locations.bulkDeleteFeedbackLabels",
              "description": "Delete feedback labels in bulk using a filter.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDeleteFeedbackLabels",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
              }
            },
            "queryMetrics": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "location": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryMetrics",
              "id": "contactcenterinsights.projects.locations.queryMetrics",
              "description": "Query metrics.",
              "httpMethod": "POST",
              "path": "v1/{+location}:queryMetrics"
            },
            "getSettings": {
              "description": "Gets project-level settings.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the settings resource to get.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.getSettings",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              }
            },
            "bulkUploadFeedbackLabels": {
              "path": "v1/{+parent}:bulkUploadFeedbackLabels",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkUploadFeedbackLabels",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource for new feedback labels.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "contactcenterinsights.projects.locations.bulkUploadFeedbackLabels",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
              }
            },
            "testCorrelationConfig": {
              "id": "contactcenterinsights.projects.locations.testCorrelationConfig",
              "path": "v1/{+location}:testCorrelationConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:testCorrelationConfig",
              "parameters": {
                "location": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The location to test correlation config. Format: projects/{project}/locations/{location}",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "description": "Tests correlation config on a conversation.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest"
              }
            },
            "generativeInsights": {
              "parameterOrder": [
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "contactcenterinsights.projects.locations.generativeInsights",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
              },
              "parameters": {
                "location": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generativeInsights",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+location}:generativeInsights",
              "description": "Natural language based Insights which powers the next generation of dashboards in Insights. Next generation of QueryMetrics."
            },
            "listAllFeedbackLabels": {
              "description": "List all feedback labels by project number.",
              "path": "v1/{+parent}:listAllFeedbackLabels",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource of all feedback labels per project.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                  "type": "string"
                }
              },
              "id": "contactcenterinsights.projects.locations.listAllFeedbackLabels",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:listAllFeedbackLabels",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "dashboards": {
              "methods": {
                "list": {
                  "description": "Lists Dashboards.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dashboards",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The order by expression to order dashboards listed in the response.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of dashboards to return. The service may return fewer than this value. The default and maximum value is 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the dashboards.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filter expression to filter dashboards listed in the response.",
                      "type": "string"
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.dashboards.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a Dashboard.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.dashboards.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the dashboard to get.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a Dashboard.",
                  "id": "contactcenterinsights.projects.locations.dashboards.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "path": "v1/{+parent}/dashboards",
                  "parameters": {
                    "dashboardId": {
                      "description": "Optional. A unique ID for the new Dashboard. This ID will become the final component of the Dashboard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the dashboard.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "contactcenterinsights.projects.locations.dashboards.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the dashboard to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "description": "Deletes a Dashboard.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}",
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.dashboards.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                      "description": "Identifier. Dashboard resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name` * `root_container` * `description`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
                  },
                  "description": "Updates a Dashboard."
                }
              },
              "resources": {
                "charts": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. List of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name`",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. Chart resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.patch",
                      "description": "Updates a Chart.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Charts.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListChartsResponse"
                      },
                      "path": "v1/{+parent}/charts",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts",
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource of the charts.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$"
                        }
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the chart to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.get",
                      "description": "Gets a Chart.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts",
                      "parameters": {
                        "chartId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A unique ID for the new Chart. This ID will become the final component of the Chart's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource of the chart.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Chart"
                      },
                      "description": "Creates a Chart.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.create",
                      "path": "v1/{+parent}/charts",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "id": "contactcenterinsights.projects.locations.dashboards.charts.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dashboards/[^/]+/charts/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the chart to delete."
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Deletes a Chart.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dashboards/{dashboardsId}/charts/{chartsId}"
                    }
                  }
                }
              }
            },
            "phraseMatchers": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource of the phrase matcher. Required. The location to create a phrase matcher for. Format: `projects//locations/` or `projects//locations/`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/phraseMatchers",
                  "description": "Creates a phrase matcher.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers/{phraseMatchersId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/phraseMatchers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the phrase matcher to delete."
                    }
                  },
                  "description": "Deletes a phrase matcher.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.delete"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists phrase matchers.",
                  "path": "v1/{+parent}/phraseMatchers",
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of phrase matchers to return in the response. If this value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The value returned by the last `ListPhraseMatchersResponse`. This value indicates that this is a continuation of a prior `ListPhraseMatchers` call and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the phrase matcher."
                    },
                    "filter": {
                      "description": "A filter to reduce results to a specific subset. Useful for querying phrase matchers with specific properties.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/phraseMatchers/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The list of fields to be updated."
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates a phrase matcher.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers/{phraseMatchersId}",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "description": "Gets a phrase matcher.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
                  },
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.phraseMatchers.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/phraseMatchers/{phraseMatchersId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/phraseMatchers/[^/]+$",
                      "description": "Required. The name of the phrase matcher to get."
                    }
                  }
                }
              }
            },
            "assessmentRules": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of assessment rule to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the assessment rules.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListAssessmentRulesResponse`; indicates that this is a continuation of a prior `ListAssessmentRules` call and the system should return the next page of data."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse"
                  },
                  "path": "v1/{+parent}/assessmentRules",
                  "description": "Lists assessment rules.",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "required": true,
                      "description": "Identifier. The resource name of the assessment rule. Format: projects/{project}/locations/{location}/assessmentRules/{assessment_rule}",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated. If the update_mask is not provided, the update will be applied to all fields.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "description": "Updates an assessment rule.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource of the assessment rule. Required. The location to create a assessment rule for. Format: `projects//locations/` or `projects//locations/`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "assessmentRuleId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique ID for the new AssessmentRule. This ID will become the final component of the AssessmentRule's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules",
                  "description": "Creates an assessment rule.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/assessmentRules",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.assessmentRules.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the assessment rule to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Deletes an assessment rule.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the assessment rule to get."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.assessmentRules.get",
                  "description": "Get an assessment rule.",
                  "httpMethod": "GET"
                }
              }
            },
            "views": {
              "methods": {
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "id": "contactcenterinsights.projects.locations.views.create",
                  "httpMethod": "POST",
                  "description": "Creates a view.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the view. Required. The location to create a view for. Format: `projects//locations/` or `projects//locations/`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/views",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "contactcenterinsights.projects.locations.views.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the view to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$"
                    }
                  },
                  "description": "Deletes a view.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}"
                },
                "list": {
                  "id": "contactcenterinsights.projects.locations.views.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListViewsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views",
                  "path": "v1/{+parent}/views",
                  "description": "Lists views.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of views to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The value returned by the last `ListViewsResponse`; indicates that this is a continuation of a prior `ListViews` call and the system should return the next page of data.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the views.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "id": "contactcenterinsights.projects.locations.views.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a view.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Immutable. The resource name of the view. Format: projects/{project}/locations/{location}/views/{view}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The list of fields to be updated."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "id": "contactcenterinsights.projects.locations.views.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a view.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the view to get."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "contactcenterinsights.projects.locations.operations.get"
                },
                "list": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenterinsights.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            },
            "authorizedViewSets": {
              "resources": {
                "authorizedViews": {
                  "resources": {
                    "conversations": {
                      "resources": {
                        "feedbackLabels": {
                          "methods": {
                            "create": {
                              "path": "v1/{+parent}/feedbackLabels",
                              "description": "Create feedback label.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.feedbackLabels.create",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/feedbackLabels",
                              "request": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                              },
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$",
                                  "description": "Required. The parent resource of the feedback label.",
                                  "type": "string"
                                },
                                "feedbackLabelId": {
                                  "description": "Optional. The ID of the feedback label to create. If one is not specified it will be generated by the server.",
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                              }
                            },
                            "delete": {
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. The name of the feedback label to delete.",
                                  "required": true
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                              "description": "Delete feedback label.",
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.feedbackLabels.delete",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "DELETE",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "path": "v1/{+name}"
                            },
                            "patch": {
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                              "httpMethod": "PATCH",
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v1/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Update feedback label.",
                              "request": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                              },
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                              },
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.feedbackLabels.patch",
                              "parameters": {
                                "name": {
                                  "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "location": "path"
                                },
                                "updateMask": {
                                  "location": "query",
                                  "description": "Required. The list of fields to be updated.",
                                  "type": "string",
                                  "format": "google-fieldmask"
                                }
                              }
                            },
                            "get": {
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                              },
                              "path": "v1/{+name}",
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.feedbackLabels.get",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                              "description": "Get feedback label.",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "name": {
                                  "description": "Required. The name of the feedback label to get.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              }
                            },
                            "list": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "GET",
                              "description": "List feedback labels.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/feedbackLabels",
                              "path": "v1/{+parent}/feedbackLabels",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.feedbackLabels.list",
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$",
                                  "location": "path",
                                  "description": "Required. The parent resource of the feedback labels.",
                                  "type": "string"
                                },
                                "filter": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Automatically sorts by conversation ID. To sort by all feedback labels in a project see ListAllFeedbackLabels. Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
                                },
                                "pageSize": {
                                  "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "pageToken": {
                                  "description": "Optional. The value returned by the last `ListFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListFeedbackLabels` call and that the system should return the next page of data.",
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
                              }
                            }
                          }
                        },
                        "assessments": {
                          "methods": {
                            "create": {
                              "request": {
                                "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                              },
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. The parent resource of the assessment."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments",
                              "path": "v1/{+parent}/assessments",
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.create",
                              "description": "Create Assessment.",
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                              }
                            },
                            "delete": {
                              "httpMethod": "DELETE",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "Delete an Assessment.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "path": "v1/{+name}",
                              "parameters": {
                                "force": {
                                  "type": "boolean",
                                  "description": "Optional. If set to true, all of this assessment's notes will also be deleted. Otherwise, the request will only succeed if it has no notes.",
                                  "location": "query"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Required. The name of the assessment to delete.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                                  "required": true
                                }
                              }
                            },
                            "publish": {
                              "parameters": {
                                "name": {
                                  "description": "Required. The name of the assessment to publish.",
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+$"
                                }
                              },
                              "path": "v1/{+name}:publish",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}:publish",
                              "request": {
                                "$ref": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest"
                              },
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.publish",
                              "httpMethod": "POST",
                              "description": "Publish an Assessment."
                            },
                            "appeal": {
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "request": {
                                "$ref": "GoogleCloudContactcenterinsightsV1AppealAssessmentRequest"
                              },
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "description": "Required. The name of the assessment to appeal.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                                  "required": true,
                                  "location": "path"
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}:appeal",
                              "httpMethod": "POST",
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.appeal",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+name}:appeal",
                              "description": "Appeal an Assessment."
                            },
                            "finalize": {
                              "description": "Finalize an Assessment.",
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                              },
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}:finalize",
                              "path": "v1/{+name}:finalize",
                              "request": {
                                "$ref": "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest"
                              },
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "Required. The name of the assessment to finalize.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+$"
                                }
                              },
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.finalize",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "get": {
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Get Assessment.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}",
                              "path": "v1/{+name}",
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.get",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "description": "Required. The name of the assessment to get.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                                  "required": true
                                }
                              }
                            },
                            "list": {
                              "path": "v1/{+parent}/assessments",
                              "httpMethod": "GET",
                              "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.list",
                              "response": {
                                "$ref": "GoogleCloudContactcenterinsightsV1ListAssessmentsResponse"
                              },
                              "parameters": {
                                "pageSize": {
                                  "description": "The maximum number of assessments to list. If zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. The value returned by the last `ListAssessmentRulesResponse`; indicates that this is a continuation of a prior `ListAssessmentRules` call and the system should return the next page of data."
                                },
                                "parent": {
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+$",
                                  "type": "string",
                                  "description": "Required. The parent resource of the assessments. To list all assessments in a location, substitute the conversation ID with a '-' character."
                                },
                                "filter": {
                                  "location": "query",
                                  "description": "Optional. A filter to reduce results to a specific subset. Supported filters include: * `state` - The state of the assessment * `agent_info.agent_id` - The ID of the agent the assessment is for",
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments",
                              "description": "List Assessments."
                            }
                          },
                          "resources": {
                            "notes": {
                              "methods": {
                                "patch": {
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes/{notesId}",
                                  "description": "Update Note.",
                                  "httpMethod": "PATCH",
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "response": {
                                    "$ref": "GoogleCloudContactcenterinsightsV1Note"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "parameters": {
                                    "updateMask": {
                                      "type": "string",
                                      "format": "google-fieldmask",
                                      "description": "Optional. The list of fields to be updated. If the update_mask is empty, all updateable fields will be updated. Acceptable fields include: * `content`",
                                      "location": "query"
                                    },
                                    "name": {
                                      "type": "string",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+/notes/[^/]+$",
                                      "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}",
                                      "location": "path",
                                      "required": true
                                    }
                                  },
                                  "path": "v1/{+name}",
                                  "request": {
                                    "$ref": "GoogleCloudContactcenterinsightsV1Note"
                                  },
                                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.notes.patch"
                                },
                                "list": {
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes",
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "description": "List Notes.",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "response": {
                                    "$ref": "GoogleCloudContactcenterinsightsV1ListNotesResponse"
                                  },
                                  "parameters": {
                                    "parent": {
                                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                                      "location": "path",
                                      "required": true,
                                      "description": "Required. The parent resource of the notes.",
                                      "type": "string"
                                    },
                                    "pageToken": {
                                      "description": "Optional. The value returned by the last `ListNotesResponse`. This value indicates that this is a continuation of a prior `ListNotes` call and that the system should return the next page of data.",
                                      "location": "query",
                                      "type": "string"
                                    },
                                    "pageSize": {
                                      "type": "integer",
                                      "location": "query",
                                      "format": "int32",
                                      "description": "Optional. The maximum number of notes to return in the response. If zero the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available."
                                    }
                                  },
                                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.notes.list",
                                  "path": "v1/{+parent}/notes",
                                  "httpMethod": "GET"
                                },
                                "create": {
                                  "request": {
                                    "$ref": "GoogleCloudContactcenterinsightsV1Note"
                                  },
                                  "httpMethod": "POST",
                                  "parameters": {
                                    "parent": {
                                      "description": "Required. The parent resource of the note.",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                                      "type": "string",
                                      "required": true,
                                      "location": "path"
                                    }
                                  },
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "description": "Create Note.",
                                  "path": "v1/{+parent}/notes",
                                  "response": {
                                    "$ref": "GoogleCloudContactcenterinsightsV1Note"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.notes.create",
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes"
                                },
                                "delete": {
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "httpMethod": "DELETE",
                                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.conversations.assessments.notes.delete",
                                  "description": "Deletes a Note.",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes/{notesId}",
                                  "path": "v1/{+name}",
                                  "parameters": {
                                    "name": {
                                      "description": "Required. The name of the note to delete.",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+/conversations/[^/]+/assessments/[^/]+/notes/[^/]+$",
                                      "location": "path",
                                      "type": "string",
                                      "required": true
                                    }
                                  },
                                  "response": {
                                    "$ref": "GoogleProtobufEmpty"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "methods": {
                        "list": {
                          "description": "Lists conversations.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data."
                            },
                            "pageSize": {
                              "format": "int32",
[...]
