{
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://container.googleapis.com/",
  "title": "Kubernetes Engine API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/container": {
          "description": "See, edit, configure, and delete your Google Kubernetes Engine data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/container.read-only": {
          "description": "See your Google Kubernetes Engine data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "AdditionalNodeNetworkConfig": {
      "id": "AdditionalNodeNetworkConfig",
      "properties": {
        "network": {
          "description": "Name of the VPC where the additional interface belongs",
          "type": "string"
        },
        "subnetwork": {
          "description": "Name of the subnetwork where the additional interface belongs",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "properties": {
        "disableL4LbFirewallReconciliation": {
          "type": "boolean",
          "description": "Disable L4 load balancer VPC firewalls to enable firewall policies."
        },
        "defaultSnatStatus": {
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic.",
          "$ref": "DefaultSnatStatus"
        },
        "datapathProvider": {
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ],
          "type": "string",
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)"
        },
        "enableFqdnNetworkPolicy": {
          "type": "boolean",
          "description": "Whether FQDN Network Policy is enabled on this cluster."
        },
        "dataplaneV2Config": {
          "$ref": "DataplaneV2Config",
          "description": "Optional. DataplaneV2Config specifies the DPv2 configuration."
        },
        "serviceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not."
        },
        "defaultEnablePrivateNodes": {
          "type": "boolean",
          "description": "Controls whether by default nodes have private IP addresses only. It is invalid to specify both PrivateClusterConfig.enablePrivateNodes and this field at the same time. To update the default setting, use ClusterUpdate.desired_default_enable_private_nodes"
        },
        "dnsConfig": {
          "$ref": "DNSConfig",
          "description": "DNSConfig contains clusterDNS config for this cluster."
        },
        "gatewayApiConfig": {
          "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "networkPerformanceConfig": {
          "$ref": "ClusterNetworkPerformanceConfig",
          "description": "Network bandwidth tier configuration."
        },
        "enableMultiNetworking": {
          "type": "boolean",
          "description": "Whether multi-networking is enabled for this cluster."
        },
        "enableIntraNodeVisibility": {
          "type": "boolean",
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network."
        },
        "enableL4ilbSubsetting": {
          "description": "Whether L4ILB Subsetting is enabled for this cluster.",
          "type": "boolean"
        },
        "inTransitEncryptionConfig": {
          "type": "string",
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ],
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ],
          "description": "Specify the details of in-transit encryption. Now named inter-node transparent encryption."
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network"
        },
        "subnetwork": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "enableCiliumClusterwideNetworkPolicy": {
          "description": "Whether CiliumClusterwideNetworkPolicy is enabled on this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SetNetworkPolicyRequest": {
      "id": "SetNetworkPolicyRequest",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Required. Configuration options for the NetworkPolicy feature."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      },
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "type": "object"
    },
    "ManagedMachineLearningDiagnosticsConfig": {
      "description": "ManagedMachineLearningDiagnosticsConfig is the configuration for the GKE Managed Machine Learning Diagnostics pipeline.",
      "id": "ManagedMachineLearningDiagnosticsConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable/Disable Managed Machine Learning Diagnostics."
        }
      },
      "type": "object"
    },
    "ReleaseChannelConfig": {
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "id": "ReleaseChannelConfig",
      "properties": {
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        },
        "channel": {
          "enumDeprecated": [
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED"
          ],
          "description": "The release channel this configuration applies to.",
          "type": "string",
          "enumDescriptions": [
            "Deprecated: No channel specified. it will be removed in the future, use RAPID, REGULAR, STABLE or EXTENDED instead.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production.",
            "Clusters subscribed to EXTENDED receive extended support and availability for versions which are known to be stable and reliable in production."
          ]
        },
        "previewVersions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of preview versions for the channel.",
          "type": "array"
        },
        "upgradeTargetVersion": {
          "type": "string",
          "description": "The auto upgrade target version for clusters on the channel."
        },
        "validVersions": {
          "description": "List of valid versions for the channel.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customVersions": {
          "description": "Output only. List of custom versions for the channel.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "UpgradeDetails": {
      "id": "UpgradeDetails",
      "type": "object",
      "properties": {
        "initialVersion": {
          "description": "The version before the upgrade.",
          "type": "string"
        },
        "targetEmulatedVersion": {
          "description": "Output only. The emulated version after the upgrade.",
          "type": "string",
          "readOnly": true
        },
        "initialEmulatedVersion": {
          "type": "string",
          "description": "Output only. The emulated version before the upgrade.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNKNOWN",
            "FAILED",
            "SUCCEEDED",
            "CANCELED",
            "RUNNING"
          ],
          "description": "Output only. The state of the upgrade.",
          "enumDescriptions": [
            "Upgrade state is unknown.",
            "Upgrade has failed with an error.",
            "Upgrade has succeeded.",
            "Upgrade has been canceled.",
            "Upgrade is running."
          ]
        },
        "startTime": {
          "description": "The start timestamp of the upgrade.",
          "format": "google-datetime",
          "type": "string"
        },
        "startType": {
          "enum": [
            "START_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "The start type of the upgrade.",
          "type": "string",
          "enumDescriptions": [
            "Upgrade start type is unspecified.",
            "Upgrade started automatically.",
            "Upgrade started manually."
          ]
        },
        "endTime": {
          "type": "string",
          "description": "The end timestamp of the upgrade.",
          "format": "google-datetime"
        },
        "targetVersion": {
          "description": "The version after the upgrade.",
          "type": "string"
        }
      },
      "description": "UpgradeDetails contains detailed information of each individual upgrade operation."
    },
    "UsableSubnetworkSecondaryRange": {
      "description": "Secondary IP range of a usable subnetwork.",
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "The range of IP addresses belonging to this subnetwork secondary range."
        },
        "status": {
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by cluster(s) for services. User-managed services range can be shared between clusters within the same subnetwork.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin and is currently claimed by a cluster for pods. It can only be used by other clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed for pods. It cannot be used for other clusters."
          ],
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ],
          "type": "string",
          "description": "This field is to determine the status of the secondary range programmably."
        },
        "rangeName": {
          "type": "string",
          "description": "The name associated with this subnetwork secondary range, used when adding an alias IP range to a VM instance."
        }
      },
      "type": "object",
      "id": "UsableSubnetworkSecondaryRange"
    },
    "SetLoggingServiceRequest": {
      "id": "SetLoggingServiceRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "loggingService": {
          "type": "string",
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "SetLoggingServiceRequest sets the logging service of a cluster."
    },
    "VirtualNIC": {
      "description": "Configuration of gVNIC feature.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether gVNIC features are enabled in the node pool."
        }
      },
      "id": "VirtualNIC",
      "type": "object"
    },
    "BinaryAuthorization": {
      "id": "BinaryAuthorization",
      "type": "object",
      "description": "Configuration for Binary Authorization.",
      "properties": {
        "enabled": {
          "description": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored.",
          "type": "boolean",
          "deprecated": true
        },
        "evaluationMode": {
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ],
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "type": "string"
        }
      }
    },
    "CreateClusterRequest": {
      "type": "object",
      "id": "CreateClusterRequest",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
          "type": "string",
          "deprecated": true
        },
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1/projects.locations.clusters)"
        },
        "parent": {
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
          "type": "string"
        }
      },
      "description": "CreateClusterRequest creates a cluster."
    },
    "NodeNetworkConfig": {
      "id": "NodeNetworkConfig",
      "description": "Parameters for node pool-level network config.",
      "type": "object",
      "properties": {
        "podIpv4RangeUtilization": {
          "description": "Output only. The utilization of the IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "podIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for pod IPs in this node pool. Only applicable if `create_pod_range` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) to pick a specific range to use. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "createPodRange": {
          "description": "Input only. Whether to create a new range for pod IPs in this node pool. Defaults are provided for `pod_range` and `pod_ipv4_cidr_block` if they are not specified. If neither `create_pod_range` or `pod_range` are specified, the cluster-level default (`ip_allocation_policy.cluster_ipv4_cidr_block`) is used. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "boolean"
        },
        "podRange": {
          "type": "string",
          "description": "The ID of the secondary range for pod IPs. If `create_pod_range` is true, this ID is used for the new range. If `create_pod_range` is false, uses an existing secondary range with this ID. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enable_private_nodes is not specified, then the value is derived from Cluster.NetworkConfig.default_enable_private_nodes"
        },
        "additionalNodeNetworkConfigs": {
          "description": "We specify the additional node networks for this node pool using this list. Each node network corresponds to an additional interface",
          "type": "array",
          "items": {
            "$ref": "AdditionalNodeNetworkConfig"
          }
        },
        "networkTierConfig": {
          "description": "Output only. The network tier configuration for the node pool inherits from the cluster-level configuration and remains immutable throughout the node pool's lifecycle, including during upgrades.",
          "$ref": "NetworkTierConfig",
          "readOnly": true
        },
        "additionalPodNetworkConfigs": {
          "type": "array",
          "description": "We specify the additional pod networks for this node pool using this list. Each pod network corresponds to an additional alias IP range for the node",
          "items": {
            "$ref": "AdditionalPodNetworkConfig"
          }
        },
        "podCidrOverprovisionConfig": {
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the node pool. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is rounded off to next power of 2 and we then double that to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled.",
          "$ref": "PodCIDROverprovisionConfig"
        },
        "subnetwork": {
          "description": "Optional. The subnetwork name/path for the node pool. Format: projects/{project}/regions/{region}/subnetworks/{subnetwork} If the cluster is associated with multiple subnetworks, the subnetwork can be either: - A user supplied subnetwork name during node pool creation (e.g., `my-subnet`). The name must be between 1 and 63 characters long, start with a letter, contain only letters, numbers, and hyphens, and end with a letter or a number. - A full subnetwork path during node pool creation, such as `projects/gke-project/regions/us-central1/subnetworks/my-subnet` - A subnetwork path picked based on the IP utilization during node pool creation and is immutable.",
          "type": "string"
        },
        "acceleratorNetworkProfile": {
          "description": "Immutable. The accelerator network profile for the node pool. For now the only valid value is \"auto\". If specified, the network configuration of the nodes in this node pool will be managed by this profile for the supported machine types, zone, etc.",
          "type": "string"
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "NetworkPerformanceConfig"
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The VPC network for the node pool."
        }
      }
    },
    "TaintConfig": {
      "type": "object",
      "properties": {
        "architectureTaintBehavior": {
          "enumDescriptions": [
            "Specifies that the behavior is unspecified, defaults to ARM.",
            "Disables default architecture taints on the node pool.",
            "Taints all the nodes in the node pool with the default ARM taint."
          ],
          "enum": [
            "ARCHITECTURE_TAINT_BEHAVIOR_UNSPECIFIED",
            "NONE",
            "ARM"
          ],
          "type": "string",
          "description": "Optional. Controls architecture tainting behavior."
        }
      },
      "id": "TaintConfig",
      "description": "TaintConfig contains the configuration for the taints of the node pool."
    },
    "Date": {
      "id": "Date",
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "RollbackNodePoolUpgradeRequest": {
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
      "id": "RollbackNodePoolUpgradeRequest",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "zone": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "respectPdb": {
          "description": "Option for rollback to ignore the PodDisruptionBudget. Default value is false.",
          "type": "boolean"
        }
      }
    },
    "HttpCacheControlResponseHeader": {
      "type": "object",
      "description": "RFC-2616: cache control support",
      "properties": {
        "age": {
          "format": "int64",
          "description": "14.6 response cache age, in seconds since the response is generated",
          "type": "string"
        },
        "expires": {
          "description": "14.21 response cache expires, in RFC 1123 date format",
          "type": "string"
        },
        "directive": {
          "description": "14.9 request and response directives",
          "type": "string"
        }
      },
      "id": "HttpCacheControlResponseHeader"
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster.",
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      }
    },
    "WorkloadMetadataConfig": {
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "type": "string",
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ]
        }
      },
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool.",
      "id": "WorkloadMetadataConfig"
    },
    "ControlPlaneEgress": {
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "VIA_CONTROL_PLANE",
            "NONE"
          ],
          "description": "Defines the mode of control plane egress.",
          "type": "string",
          "enumDescriptions": [
            "Default value not specified.",
            "Control plane has public IP and no restriction on egress.",
            "No public IP on control plane and only internal allowlisted egress."
          ]
        }
      },
      "description": "ControlPlaneEgress defines the settings needed to enable control plane egress control.",
      "id": "ControlPlaneEgress",
      "type": "object"
    },
    "ClusterUpgradeInfo": {
      "type": "object",
      "id": "ClusterUpgradeInfo",
      "description": "ClusterUpgradeInfo contains the upgrade information of a cluster.",
      "properties": {
        "minorTargetVersion": {
          "type": "string",
          "description": "minor_target_version indicates the target version for minor upgrade."
        },
        "autoUpgradeStatus": {
          "type": "array",
          "description": "The auto upgrade status.",
          "items": {
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ],
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "type": "string"
          }
        },
        "endOfExtendedSupportTimestamp": {
          "type": "string",
          "description": "The cluster's current minor version's end of extended support timestamp."
        },
        "rollbackSafeUpgradeStatus": {
          "$ref": "RollbackSafeUpgradeStatus",
          "description": "Output only. The cluster's rollback-safe upgrade status.",
          "readOnly": true
        },
        "patchTargetVersion": {
          "type": "string",
          "description": "patch_target_version indicates the target version for patch upgrade."
        },
        "endOfStandardSupportTimestamp": {
          "description": "The cluster's current minor version's end of standard support timestamp.",
          "type": "string"
        },
        "pausedReason": {
          "description": "The auto upgrade paused reason.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "CLUSTER_DISRUPTION_BUDGET indicates the cluster is outside the cluster disruption budget.",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE indicates the cluster is outside the cluster disruption budget for minor version upgrade.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ],
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "CLUSTER_DISRUPTION_BUDGET",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE",
              "SYSTEM_CONFIG"
            ]
          },
          "type": "array"
        },
        "upgradeDetails": {
          "description": "The list of past auto upgrades.",
          "items": {
            "$ref": "UpgradeDetails"
          },
          "type": "array"
        }
      }
    },
    "UpgradeAvailableEvent": {
      "type": "object",
      "description": "UpgradeAvailableEvent is a notification sent to customers when a new available version is released.",
      "properties": {
        "version": {
          "description": "The release version available for upgrade.",
          "type": "string"
        },
        "resource": {
          "description": "Optional relative path to the resource. For example, the relative path of the node pool.",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource type of the release version.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ]
        },
        "releaseChannel": {
          "description": "The release channel of the version. If empty, it means a non-channel release.",
          "$ref": "ReleaseChannel"
        }
      },
      "id": "UpgradeAvailableEvent"
    },
    "LocalNvmeSsdBlockConfig": {
      "description": "LocalNvmeSsdBlockConfig contains configuration for using raw-block local NVMe SSDs",
      "type": "object",
      "properties": {
        "localSsdCount": {
          "type": "integer",
          "description": "Number of local NVMe SSDs to use. The limit for this value is dependent upon the maximum number of disk available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information. A zero (or unset) value has different meanings depending on machine type being used: 1. For pre-Gen3 machines, which support flexible numbers of local ssds, zero (or unset) means to disable using local SSDs as ephemeral storage. 2. For Gen3 machines which dictate a specific number of local ssds, zero (or unset) means to use the default number of local ssds that goes with that machine type. For example, for a c3-standard-8-lssd machine, 2 local ssds would be provisioned. For c3-standard-8 (which doesn't support local ssds), 0 will be provisioned. See https://cloud.google.com/compute/docs/disks/local-ssd#choose_number_local_ssds for more info.",
          "format": "int32"
        }
      },
      "id": "LocalNvmeSsdBlockConfig"
    },
    "SecurityPostureConfig": {
      "id": "SecurityPostureConfig",
      "description": "SecurityPostureConfig defines the flags needed to enable/disable features for the Security Posture API.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Sets which mode to use for Security Posture features.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "BASIC",
            "ENTERPRISE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Security Posture features on the cluster.",
            "Applies Security Posture features on the cluster.",
            "Deprecated: Security Posture Enterprise features are no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Applies the Security Posture off cluster Enterprise level features."
          ]
        },
        "vulnerabilityMode": {
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "type": "string",
          "description": "Sets which mode to use for vulnerability scanning.",
          "enumDescriptions": [
            "Default value not specified.",
            "Disables vulnerability scanning on the cluster.",
            "Deprecated: Basic vulnerability scanning is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Applies basic vulnerability scanning on the cluster.",
            "Applies the Security Posture's vulnerability on cluster Enterprise level features."
          ],
          "enum": [
            "VULNERABILITY_MODE_UNSPECIFIED",
            "VULNERABILITY_DISABLED",
            "VULNERABILITY_BASIC",
            "VULNERABILITY_ENTERPRISE"
          ]
        }
      }
    },
    "GatewayAPIConfig": {
      "id": "GatewayAPIConfig",
      "type": "object",
      "properties": {
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Gateway API support is disabled",
            "Deprecated: use CHANNEL_STANDARD instead. Gateway API support is enabled, experimental CRDs are installed",
            "Gateway API support is enabled, standard CRDs are installed"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_DISABLED",
            "CHANNEL_EXPERIMENTAL",
            "CHANNEL_STANDARD"
          ],
          "description": "The Gateway API release channel to use for Gateway API."
        }
      },
      "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster."
    },
    "CertificateConfig": {
      "properties": {
        "gcpSecretManagerSecretUri": {
          "type": "string",
          "description": "The URI configures a secret from [Secret Manager](https://cloud.google.com/secret-manager) in the format \"projects/$PROJECT_ID/secrets/$SECRET_NAME/versions/$VERSION\" for global secret or \"projects/$PROJECT_ID/locations/$REGION/secrets/$SECRET_NAME/versions/$VERSION\" for regional secret. Version can be fixed (e.g. \"2\") or \"latest\""
        }
      },
      "id": "CertificateConfig",
      "description": "CertificateConfig configures certificate for the registry.",
      "type": "object"
    },
    "StartIPRotationRequest": {
      "type": "object",
      "id": "StartIPRotationRequest",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "properties": {
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "CompleteIPRotationRequest": {
      "type": "object",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "id": "CompleteIPRotationRequest",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "AddonsConfig": {
      "type": "object",
      "id": "AddonsConfig",
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
      "properties": {
        "lustreCsiDriverConfig": {
          "$ref": "LustreCsiDriverConfig",
          "description": "Configuration for the Lustre CSI driver."
        },
        "networkPolicyConfig": {
          "$ref": "NetworkPolicyConfig",
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes."
        },
        "nodeReadinessConfig": {
          "$ref": "NodeReadinessConfig",
          "description": "Optional. Configuration for NodeReadinessController add-on."
        },
        "highScaleCheckpointingConfig": {
          "description": "Configuration for the High Scale Checkpointing add-on.",
          "$ref": "HighScaleCheckpointingConfig"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "deprecated": true,
          "$ref": "KubernetesDashboard"
        },
        "dnsCacheConfig": {
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes",
          "$ref": "DnsCacheConfig"
        },
        "horizontalPodAutoscaling": {
          "$ref": "HorizontalPodAutoscaling",
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
        },
        "gcePersistentDiskCsiDriverConfig": {
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver.",
          "$ref": "GcePersistentDiskCsiDriverConfig"
        },
        "rayOperatorConfig": {
          "description": "Optional. Configuration for Ray Operator addon.",
          "$ref": "RayOperatorConfig"
        },
        "statefulHaConfig": {
          "description": "Optional. Configuration for the StatefulHA add-on.",
          "$ref": "StatefulHAConfig"
        },
        "cloudRunConfig": {
          "description": "Configuration for the Cloud Run addon, which allows the user to use a managed Knative service.",
          "$ref": "CloudRunConfig"
        },
        "podSnapshotConfig": {
          "$ref": "PodSnapshotConfig",
          "description": "Optional. Configuration for the Pod Snapshot feature."
        },
        "gcsFuseCsiDriverConfig": {
          "$ref": "GcsFuseCsiDriverConfig",
          "description": "Configuration for the Cloud Storage Fuse CSI driver."
        },
        "gkeBackupAgentConfig": {
          "description": "Configuration for the Backup for GKE agent addon.",
          "$ref": "GkeBackupAgentConfig"
        },
        "httpLoadBalancing": {
          "$ref": "HttpLoadBalancing",
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster."
        },
        "sliceControllerConfig": {
          "$ref": "SliceControllerConfig",
          "description": "Optional. Configuration for the slice controller add-on."
        },
        "configConnectorConfig": {
          "$ref": "ConfigConnectorConfig",
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted Google Cloud services through the Kubernetes API."
        },
        "slurmOperatorConfig": {
          "description": "Configuration for the Slurm Operator.",
          "$ref": "SlurmOperatorConfig"
        },
        "agentSandboxConfig": {
          "$ref": "AgentSandboxConfig",
          "description": "Optional. Configuration for the AgentSandbox addon."
        },
        "gcpFilestoreCsiDriverConfig": {
          "$ref": "GcpFilestoreCsiDriverConfig",
          "description": "Configuration for the Filestore CSI driver."
        },
        "parallelstoreCsiDriverConfig": {
          "description": "Deprecated: The Parallelstore CSI driver is no longer supported. Configuration for the Cloud Storage Parallelstore CSI driver.",
          "$ref": "ParallelstoreCsiDriverConfig",
          "deprecated": true
        }
      }
    },
    "UpgradeEvent": {
      "properties": {
        "operationStartTime": {
          "description": "The time when the operation was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "type": "string",
          "description": "The resource type that is upgrading.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ]
        },
        "currentEmulatedVersion": {
          "description": "Output only. The current emulated version before the upgrade.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "type": "string",
          "description": "The operation associated with this upgrade."
        },
        "currentVersion": {
          "description": "The current version before the upgrade.",
          "type": "string"
        },
        "targetEmulatedVersion": {
          "description": "Output only. The target emulated version for the upgrade.",
          "type": "string",
          "readOnly": true
        },
        "targetVersion": {
          "type": "string",
          "description": "The target version for the upgrade."
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        }
      },
      "type": "object",
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading.",
      "id": "UpgradeEvent"
    },
    "AutoscaledRolloutPolicy": {
      "description": "Autoscaled rollout policy utilizes the cluster autoscaler during blue-green upgrade to scale both the blue and green pools.",
      "id": "AutoscaledRolloutPolicy",
      "type": "object",
      "properties": {
        "waitForDrainDuration": {
          "format": "google-duration",
          "description": "Optional. Time to wait after cordoning the blue pool before draining the nodes. Defaults to 3 days. The value can be set between 0 and 7 days, inclusive.",
          "type": "string"
        }
      }
    },
    "NodePoolAutoConfig": {
      "type": "object",
      "properties": {
        "networkTags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster creation. Each tag within the list must comply with RFC1035.",
          "$ref": "NetworkTags"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Output only. Configuration options for Linux nodes.",
          "readOnly": true
        },
        "nodeKubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "NodeKubeletConfig controls the defaults for autoprovisioned node-pools. Currently only `insecure_kubelet_readonly_port_enabled` can be set here."
        },
        "resourceManagerTags": {
          "$ref": "ResourceManagerTags",
          "description": "Resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies."
        }
      },
      "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
      "id": "NodePoolAutoConfig"
    },
    "NotificationConfig": {
      "properties": {
        "pubsub": {
          "$ref": "PubSub",
          "description": "Notification config for Pub/Sub."
        }
      },
      "id": "NotificationConfig",
      "type": "object",
      "description": "NotificationConfig is the configuration of notifications."
    },
    "ExclusionUntilEndOfSupport": {
      "id": "ExclusionUntilEndOfSupport",
      "description": "Defines the maintenance exclusion for the node pool.",
      "properties": {
        "endTime": {
          "description": "Output only. The end time of the maintenance exclusion. It is output only. It is the cluster control plane version's end of support time, or end of extended support time when the cluster is on extended support channel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the maintenance exclusion. It is output only. It is the exclusion creation time."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the exclusion is enabled."
        }
      },
      "type": "object"
    },
    "CompleteNodePoolUpgradeRequest": {
      "type": "object",
      "properties": {},
      "description": "CompleteNodePoolUpgradeRequest sets the name of target node pool to complete upgrade.",
      "id": "CompleteNodePoolUpgradeRequest"
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "CertificateConfigPair": {
      "id": "CertificateConfigPair",
      "properties": {
        "cert": {
          "$ref": "CertificateConfig",
          "description": "Cert configures the client certificate."
        },
        "key": {
          "description": "Key configures the client private key. Optional.",
          "$ref": "CertificateConfig"
        }
      },
      "description": "CertificateConfigPair configures pairs of certificates, which is used for client certificate and key pairs under a registry.",
      "type": "object"
    },
    "NodePool": {
      "type": "object",
      "id": "NodePool",
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
      "properties": {
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        },
        "instanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool. During the node pool blue-green upgrade operation, the URLs contain both blue and green resources.",
          "type": "array"
        },
        "maxPodsConstraint": {
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool.",
          "$ref": "MaxPodsConstraint"
        },
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "maintenancePolicy": {
          "description": "Optional. Specifies the maintenance policy for the node pool.",
          "$ref": "NodePoolMaintenancePolicy"
        },
        "updateInfo": {
          "$ref": "UpdateInfo",
          "description": "Output only. Update info contains relevant information during a node pool update.",
          "readOnly": true
        },
        "status": {
          "description": "Output only. The status of the nodes in this pool instance.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ]
        },
        "statusMessage": {
          "deprecated": true,
          "type": "string",
          "readOnly": true,
          "description": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available."
        },
        "queuedProvisioning": {
          "description": "Specifies the configuration of queued provisioning.",
          "$ref": "QueuedProvisioning"
        },
        "networkConfig": {
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults.",
          "$ref": "NodeNetworkConfig"
        },
        "initialNodeCount": {
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "type": "integer",
          "format": "int32"
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed."
        },
        "placementPolicy": {
          "description": "Specifies the node placement policy.",
          "$ref": "PlacementPolicy"
        },
        "config": {
          "description": "The node configuration of the pool.",
          "$ref": "NodeConfig"
        },
        "podIpv4CidrSize": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The pod CIDR block size per node in this node pool.",
          "type": "integer"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of node pool fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of Kubernetes running on this NodePool's nodes. If unspecified, it defaults as described [here](https://cloud.google.com/kubernetes-engine/versioning#specifying_node_version)."
        },
        "autopilotConfig": {
          "description": "Specifies the autopilot configuration for this node pool. This field is exclusively reserved for Cluster Autoscaler.",
          "$ref": "AutopilotConfig"
        },
        "conditions": {
          "readOnly": true,
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array",
          "description": "Output only. Which conditions caused the current node pool state."
        },
        "management": {
          "description": "NodeManagement configuration for this NodePool.",
          "$ref": "NodeManagement"
        },
        "bestEffortProvisioning": {
          "description": "Enable best effort provisioning for nodes",
          "$ref": "BestEffortProvisioning"
        },
        "kubeletCertInfo": {
          "description": "Output only. Contains expiry information about the kubelet certificate.",
          "readOnly": true,
          "$ref": "KubeletCertInfo"
        },
        "nodeDrainConfig": {
          "$ref": "NodeDrainConfig",
          "description": "Specifies the node drain configuration for this node pool."
        }
      }
    },
    "CustomImageInfo": {
      "id": "CustomImageInfo",
      "type": "object",
      "properties": {
        "upgradeMessage": {
          "description": "Output only. The human-readable upgrade message for the custom image.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains the custom image info for a node pool."
    },
    "UserManagedKeysConfig": {
      "properties": {
        "controlPlaneDiskEncryptionKey": {
          "description": "The Cloud KMS cryptoKey to use for Confidential Hyperdisk on the control plane nodes.",
          "type": "string"
        },
        "aggregationCa": {
          "type": "string",
          "description": "The Certificate Authority Service caPool to use for the aggregation CA in this cluster."
        },
        "controlPlaneDiskEncryptionKeyVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. All of the versions of the Cloud KMS cryptoKey that are used by Confidential Hyperdisks on the control plane nodes.",
          "items": {
            "type": "string"
          }
        },
        "serviceAccountVerificationKeys": {
          "description": "The Cloud KMS cryptoKeyVersions to use for verifying service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etcdApiCa": {
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd API CA in this cluster.",
          "type": "string"
        },
        "gkeopsEtcdBackupEncryptionKey": {
          "description": "Resource path of the Cloud KMS cryptoKey to use for encryption of internal etcd backups.",
          "type": "string"
        },
        "serviceAccountSigningKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Cloud KMS cryptoKeyVersions to use for signing service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`"
        },
        "clusterCa": {
          "description": "The Certificate Authority Service caPool to use for the cluster CA in this cluster.",
          "type": "string"
        },
        "etcdPeerCa": {
          "type": "string",
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd peer CA in this cluster."
        }
      },
      "type": "object",
      "description": "UserManagedKeysConfig holds the resource address to Keys which are used for signing certs and token that are used for communication within cluster.",
      "id": "UserManagedKeysConfig"
    },
    "CompliancePostureConfig": {
      "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. CompliancePostureConfig defines the settings needed to enable/disable features for the Compliance Posture.",
      "properties": {
        "complianceStandards": {
          "type": "array",
          "items": {
            "$ref": "ComplianceStandard"
          },
          "description": "List of enabled compliance standards."
        },
        "mode": {
          "description": "Defines the enablement mode for Compliance Posture.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Compliance Posture features on the cluster.",
            "Enables Compliance Posture features on the cluster."
          ]
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "CompliancePostureConfig"
    },
    "SoleTenantConfig": {
      "id": "SoleTenantConfig",
      "description": "SoleTenantConfig contains the NodeAffinities to specify what shared sole tenant node groups should back the node pool.",
      "properties": {
        "minNodeCpus": {
          "type": "integer",
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. This field can only be set if the node pool is created in a shared sole-tenant node group.",
          "format": "int32"
        },
        "nodeAffinities": {
          "description": "NodeAffinities used to match to a shared sole tenant node group.",
          "items": {
            "$ref": "NodeAffinity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RayOperatorConfig": {
      "id": "RayOperatorConfig",
      "properties": {
        "rayClusterLoggingConfig": {
          "$ref": "RayClusterLoggingConfig",
          "description": "Optional. Logging configuration for Ray clusters."
        },
        "enabled": {
          "description": "Whether the Ray Operator addon is enabled for this cluster.",
          "type": "boolean"
        },
        "rayClusterMonitoringConfig": {
          "description": "Optional. Monitoring configuration for Ray clusters.",
          "$ref": "RayClusterMonitoringConfig"
        }
      },
      "type": "object",
      "description": "Configuration options for the Ray Operator add-on."
    },
    "Fleet": {
      "type": "object",
      "id": "Fleet",
      "description": "Fleet is the fleet configuration for the cluster.",
      "properties": {
        "membership": {
          "readOnly": true,
          "description": "Output only. The full resource name of the registered fleet membership of the cluster, in the format `//gkehub.googleapis.com/projects/*/locations/*/memberships/*`.",
          "type": "string"
        },
        "preRegistered": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the cluster has been registered through the fleet API."
        },
        "membershipType": {
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ],
          "type": "string",
          "description": "The type of the cluster's fleet membership.",
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ]
        },
        "project": {
          "description": "The Fleet host project(project ID or project number) where this cluster will be registered to. This field cannot be changed after the cluster has been registered.",
          "type": "string"
        }
      }
    },
    "BlueGreenInfo": {
      "description": "Information relevant to blue-green upgrade.",
      "properties": {
        "greenInstanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with green pool.",
          "type": "array"
        },
        "phase": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified phase.",
            "blue-green upgrade has been initiated.",
            "Start creating green pool nodes.",
            "Start cordoning blue pool nodes.",
            "Start draining blue pool nodes.",
            "Start soaking time after draining entire blue pool.",
            "Start deleting blue nodes.",
            "Rollback has been initiated."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "UPDATE_STARTED",
            "CREATING_GREEN_POOL",
            "CORDONING_BLUE_POOL",
            "DRAINING_BLUE_POOL",
            "NODE_POOL_SOAKING",
            "DELETING_BLUE_POOL",
            "ROLLBACK_STARTED"
          ],
          "description": "Current blue-green upgrade phase."
        },
        "greenPoolVersion": {
          "description": "Version of green pool.",
          "type": "string"
        },
        "bluePoolDeletionStartTime": {
          "type": "string",
          "description": "Time to start deleting blue pool to complete blue-green upgrade, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "blueInstanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with blue pool."
        }
      },
      "type": "object",
      "id": "BlueGreenInfo"
    },
    "GCPSecretManagerCertificateConfig": {
      "properties": {
        "secretUri": {
          "description": "Secret URI, in the form \"projects/$PROJECT_ID/secrets/$SECRET_NAME/versions/$VERSION\". Version can be fixed (e.g. \"2\") or \"latest\"",
          "type": "string"
        }
      },
      "description": "GCPSecretManagerCertificateConfig configures a secret from [Secret Manager](https://cloud.google.com/secret-manager).",
      "type": "object",
      "id": "GCPSecretManagerCertificateConfig"
    },
    "DNSEndpointConfig": {
      "type": "object",
      "description": "Describes the configuration of a DNS endpoint.",
      "id": "DNSEndpointConfig",
      "properties": {
        "allowExternalTraffic": {
          "description": "Controls whether user traffic is allowed over this endpoint. Note that Google-managed services may still use the endpoint even if this is false.",
          "type": "boolean"
        },
        "enableK8sTokensViaDns": {
          "description": "Controls whether the k8s token auth is allowed via DNS.",
          "type": "boolean"
        },
        "enableK8sCertsViaDns": {
          "description": "Controls whether the k8s certs auth is allowed via DNS.",
          "type": "boolean"
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cluster's DNS endpoint configuration. A DNS format address. This is accessible from the public internet. Ex: uid.us-central1.gke.goog. Always present, but the behavior may change according to the value of DNSEndpointConfig.allow_external_traffic."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "CancelOperationRequest cancels a single operation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "operationId": {
          "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "NodePoolUpgradeInfo": {
      "properties": {
        "patchTargetVersion": {
          "description": "patch_target_version indicates the target version for patch upgrade.",
          "type": "string"
        },
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The node pool's current minor version's end of standard support timestamp."
        },
        "upgradeDetails": {
          "items": {
            "$ref": "UpgradeDetails"
          },
          "type": "array",
          "description": "The list of past auto upgrades."
        },
        "endOfExtendedSupportTimestamp": {
          "description": "The node pool's current minor version's end of extended support timestamp.",
          "type": "string"
        },
        "minorTargetVersion": {
          "description": "minor_target_version indicates the target version for minor upgrade.",
          "type": "string"
        },
        "customImageInfo": {
          "$ref": "CustomImageInfo",
          "description": "Output only. Upgrade info for the node pool specific to the usage of custom images.",
          "readOnly": true
        },
        "pausedReason": {
          "description": "The auto upgrade paused reason.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ],
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "SYSTEM_CONFIG"
            ]
          },
          "type": "array"
        },
        "autoUpgradeStatus": {
          "items": {
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ]
          },
          "type": "array",
          "description": "The auto upgrade status."
        }
      },
      "description": "NodePoolUpgradeInfo contains the upgrade information of a node pool.",
      "id": "NodePoolUpgradeInfo",
      "type": "object"
    },
    "PrivilegedAdmissionConfig": {
      "id": "PrivilegedAdmissionConfig",
      "properties": {
        "allowlistPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The customer allowlist Cloud Storage paths for the cluster. These paths are used with the `--autopilot-privileged-admission` flag to authorize privileged workloads in Autopilot clusters. Paths can be GKE-owned, in the format `gke:////`, or customer-owned, in the format `gs:///`. Wildcards (`*`) are supported to authorize all allowlists under specific paths or directories. Example: `gs://my-bucket/*` will authorize all allowlists under the `my-bucket` bucket."
        }
      },
      "description": "PrivilegedAdmissionConfig stores the list of authorized allowlist paths for the cluster.",
      "type": "object"
    },
    "AutopilotConfig": {
      "description": "AutopilotConfig contains configuration of autopilot feature for this node pool.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Denotes that nodes belonging to this node pool are Autopilot nodes."
        }
      },
      "id": "AutopilotConfig"
    },
    "UpdateNodePoolRequest": {
      "description": "UpdateNodePoolRequests update a node pool's image and/or version.",
      "properties": {
        "imageProject": {
          "description": "The project containing the desired image to use for this node pool. This is used to create clusters using a custom image.",
          "type": "string"
        },
        "maxRunDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The maximum duration for the nodes to exist. If unspecified, the nodes can exist indefinitely."
        },
        "labels": {
          "description": "The desired node labels to be applied to all nodes in the node pool. If this field is not present, the labels will not be changed. Otherwise, the existing node labels will be *replaced* with the provided labels.",
          "$ref": "NodeLabels"
        },
        "zone": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "storagePools": {
          "type": "array",
          "description": "List of Storage Pools where boot disks are provisioned. Existing Storage Pools will be replaced with storage-pools.",
          "items": {
            "type": "string"
          }
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        },
        "consolidationDelay": {
          "format": "google-duration",
          "description": "Consolidation delay defines duration after which the Cluster Autoscaler can scale down underutilized nodes. If not set, nodes are scaled down by default behavior, i.e. according to the chosen autoscaling profile.",
          "type": "string"
        },
        "taints": {
          "description": "The desired node taints to be applied to all nodes in the node pool. If this field is not present, the taints will not be changed. Otherwise, the existing node taints will be *replaced* with the provided taints.",
          "$ref": "NodeTaints"
        },
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The desired disk size for nodes in the node pool specified in GB. The smallest allowed disk size is 10GB. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk size."
        },
        "confidentialNodes": {
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled.",
          "$ref": "ConfidentialNodes"
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "gcfsConfig": {
          "description": "GCFS config.",
          "$ref": "GcfsConfig"
        },
        "windowsNodeConfig": {
          "description": "Parameters that can be configured on Windows nodes.",
          "$ref": "WindowsNodeConfig"
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "The desired boot disk config for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified boot disk config."
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The desired workload metadata config for the node pool."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the node pool's nodes should be located. Changing the locations for a node pool will result in nodes being either created or removed from the node pool, depending on whether locations are being added or removed. Warning: It is recommended to update node pool locations in a standalone API call. Do not combine a location update with changes to other fields (such as `tags`, `labels`, `taints`, etc.) in the same request. Otherwise, the API performs a structural modification where changes to other fields will only apply to newly created nodes and will not be applied to existing nodes in the node pool. To ensure all nodes are updated consistently, use a separate API call for location changes."
        },
        "accelerators": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs."
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "queuedProvisioning": {
          "$ref": "QueuedProvisioning",
          "description": "Specifies the configuration of queued provisioning."
        },
        "diskType": {
          "type": "string",
          "description": "Optional. The desired disk type (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk type."
        },
        "taintConfig": {
          "description": "The taint configuration for the node pool.",
          "$ref": "TaintConfig"
        },
        "resourceManagerTags": {
          "$ref": "ResourceManagerTags",
          "description": "Desired resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Existing tags will be replaced with new values."
        },
        "imageType": {
          "type": "string",
          "description": "Required. The desired image type for the node pool. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types."
        },
        "nodeNetworkConfig": {
          "description": "Node network config.",
          "$ref": "NodeNetworkConfig"
        },
        "containerdConfig": {
          "$ref": "ContainerdConfig",
          "description": "The desired containerd config for nodes in the node pool. Initiates an upgrade operation that recreates the nodes with the new config."
        },
        "fastSocket": {
          "description": "Enable or disable NCCL fast socket for the node pool.",
          "$ref": "FastSocket"
        },
        "resourceLabels": {
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources.",
          "$ref": "ResourceLabels"
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        },
        "gvnic": {
          "description": "Enable or disable gvnic on the node pool.",
          "$ref": "VirtualNIC"
        },
        "nodeDrainConfig": {
          "description": "The desired node drain configuration for nodes in the node pool.",
          "$ref": "NodeDrainConfig"
        },
        "image": {
          "type": "string",
          "description": "The desired name of the image name to use for this node. This is used to create clusters using a custom image."
        },
        "loggingConfig": {
          "$ref": "NodePoolLoggingConfig",
          "description": "Logging configuration."
        },
        "flexStart": {
          "type": "boolean",
          "description": "Flex Start flag for enabling Flex Start VM."
        },
        "maintenancePolicy": {
          "$ref": "NodePoolMaintenancePolicy",
          "description": "Optional. Specifies the maintenance policy for the node pool, including maintenance exclusion options."
        },
        "nodeVersion": {
          "description": "Required. The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. The desired [Google Compute Engine machine type](https://cloud.google.com/compute/docs/machine-types) for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified machine type.",
          "type": "string"
        },
        "tags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags to be applied to all nodes in the node pool. If this field is not present, the tags will not be changed. Otherwise, the existing network tags will be *replaced* with the provided tags."
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "etag": {
          "description": "The current etag of the node pool. If an etag is provided and does not match the current etag of the node pool, update will be blocked and an ABORTED error will be returned.",
          "type": "string"
        }
      },
      "id": "UpdateNodePoolRequest",
      "type": "object"
    },
    "LoggingComponentConfig": {
      "description": "LoggingComponentConfig is cluster logging component configuration.",
      "type": "object",
      "properties": {
        "enableComponents": {
          "description": "Select components to collect logs. An empty set would disable all logging.",
          "items": {
            "type": "string",
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "KCP_SSHD",
              "KCP_CONNECTION",
              "KCP_HPA",
              "KCP_VPA"
            ],
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "workloads",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "kcp-sshd",
              "kcp connection logs",
              "horizontal pod autoscaler decision logs",
              "vertical pod autoscaler decision logs"
            ]
          },
          "type": "array"
        }
      },
      "id": "LoggingComponentConfig"
    },
    "AdditionalPodRangesConfig": {
      "type": "object",
      "properties": {
        "podRangeInfo": {
          "description": "Output only. Information for additional pod range.",
          "items": {
            "$ref": "RangeInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "podRangeNames": {
          "items": {
            "type": "string"
          },
          "description": "Name for pod secondary ipv4 range which has the actual range defined ahead.",
          "type": "array"
        }
      },
      "id": "AdditionalPodRangesConfig",
      "description": "AdditionalPodRangesConfig is the configuration for additional pod secondary ranges supporting the ClusterUpdate message."
    },
    "AdvancedDatapathObservabilityConfig": {
      "id": "AdvancedDatapathObservabilityConfig",
      "properties": {
        "relayMode": {
          "enum": [
            "RELAY_MODE_UNSPECIFIED",
            "DISABLED",
            "INTERNAL_VPC_LB",
            "EXTERNAL_LB"
          ],
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "disabled",
            "exposed via internal load balancer",
            "exposed via external load balancer"
          ],
          "type": "string",
          "description": "Method used to make Relay available"
        },
        "enableRelay": {
          "description": "Enable Relay component",
          "type": "boolean"
        },
        "enableMetrics": {
          "type": "boolean",
          "description": "Expose flow metrics on nodes"
        }
      },
      "type": "object",
      "description": "AdvancedDatapathObservabilityConfig specifies configuration of observability features of advanced datapath."
    },
    "NetworkPerformanceConfig": {
      "type": "object",
      "properties": {
        "totalEgressBandwidthTier": {
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ],
          "description": "Specifies the total network bandwidth tier for the NodePool.",
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ]
        }
      },
      "description": "Configuration of all network bandwidth tiers",
      "id": "NetworkPerformanceConfig"
    },
    "NodeLabels": {
      "properties": {
        "labels": {
          "description": "Map of node label keys and node label values.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels).",
      "id": "NodeLabels"
    },
    "EvictionMinimumReclaim": {
      "id": "EvictionMinimumReclaim",
      "properties": {
        "nodefsAvailable": {
          "description": "Optional. Minimum reclaim for eviction due to nodefs available signal. Only take percentage value for now. Sample format: \"10%\". Must be <=10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsAvailable": {
          "type": "string",
          "description": "Optional. Minimum reclaim for eviction due to imagefs available signal. Only take percentage value for now. Sample format: \"10%\". Must be <=10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "pidAvailable": {
          "description": "Optional. Minimum reclaim for eviction due to pid available signal. Only take percentage value for now. Sample format: \"10%\". Must be <=10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsInodesFree": {
          "type": "string",
          "description": "Optional. Minimum reclaim for eviction due to imagefs inodes free signal. Only take percentage value for now. Sample format: \"10%\". Must be <=10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "memoryAvailable": {
          "type": "string",
          "description": "Optional. Minimum reclaim for eviction due to memory available signal. Only take percentage value for now. Sample format: \"10%\". Must be <=10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "nodefsInodesFree": {
          "type": "string",
          "description": "Optional. Minimum reclaim for eviction due to nodefs inodes free signal. Only take percentage value for now. Sample format: \"10%\". Must be <=10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        }
      },
      "type": "object",
      "description": "Eviction minimum reclaims are the resource amounts of minimum reclaims for each eviction signal."
    },
    "RecurringTimeWindow": {
      "properties": {
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        },
        "recurrence": {
          "type": "string",
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window recurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
        }
      },
      "id": "RecurringTimeWindow",
      "type": "object",
      "description": "Represents an arbitrary window of time that recurs."
    },
    "ManagedPrometheusConfig": {
      "type": "object",
      "description": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus.",
      "id": "ManagedPrometheusConfig",
      "properties": {
        "enabled": {
          "description": "Enable Managed Collection.",
          "type": "boolean"
        },
        "autoMonitoringConfig": {
          "description": "GKE Workload Auto-Monitoring Configuration.",
          "$ref": "AutoMonitoringConfig"
        }
      }
    },
    "MaintenanceWindow": {
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
      "id": "MaintenanceWindow",
      "type": "object",
      "properties": {
        "maintenanceExclusions": {
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows.",
          "additionalProperties": {
            "$ref": "TimeWindow"
          },
          "type": "object"
        },
        "dailyMaintenanceWindow": {
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window.",
          "$ref": "DailyMaintenanceWindow"
        },
        "recurringWindow": {
          "$ref": "RecurringTimeWindow",
          "description": "RecurringWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time."
        },
        "recurringMaintenanceWindow": {
[...]
