{
  "baseUrl": "https://contentwarehouse.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "name": "contentwarehouse",
  "version": "v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://contentwarehouse.mtls.googleapis.com/",
  "rootUrl": "https://contentwarehouse.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "revision": "20250206",
  "title": "Document AI Warehouse API",
  "canonicalName": "contentwarehouse",
  "ownerName": "Google",
  "description": "",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleIamV1Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk",
      "type": "object",
      "description": "Represents a chunk.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Text content of the chunk."
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "pageHeaders": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
          },
          "description": "Page headers associated with the chunk.",
          "type": "array"
        },
        "pageFooters": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "description": "Page footers associated with the chunk.",
          "type": "array"
        },
        "sourceBlockIds": {
          "type": "array",
          "description": "Unused.",
          "items": {
            "type": "string"
          }
        },
        "chunkId": {
          "type": "string",
          "description": "ID of the chunk."
        }
      }
    },
    "GoogleCloudContentwarehouseV1ListSynonymSetsResponse": {
      "id": "GoogleCloudContentwarehouseV1ListSynonymSetsResponse",
      "type": "object",
      "properties": {
        "synonymSets": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
          },
          "description": "The synonymSets from the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token, received from a previous `ListSynonymSets` call. Provide this to retrieve the subsequent page.",
          "type": "string"
        }
      },
      "description": "Response message for SynonymSetService.ListSynonymSets."
    },
    "GoogleCloudDocumentaiV1DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or id of that person."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create.",
          "type": "string"
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "processor": {
          "description": "If the annotation was made by processor identify the processor by its resource name.",
          "type": "string"
        },
        "parent": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "deprecated": true,
          "type": "array"
        },
        "parentIds": {
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentRevision",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1ProjectStatus": {
      "description": "Status of a project, including the project state, dbType, aclMode and etc.",
      "id": "GoogleCloudContentwarehouseV1ProjectStatus",
      "properties": {
        "location": {
          "description": "The location of the queried project.",
          "type": "string"
        },
        "qaEnabled": {
          "type": "boolean",
          "description": "If the qa is enabled on this project."
        },
        "accessControlMode": {
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Universal Access: No document level access control.",
            "Document level access control with customer own Identity Service.",
            "Document level access control using Google Cloud Identity."
          ],
          "description": "Access control mode.",
          "type": "string",
          "enum": [
            "ACL_MODE_UNKNOWN",
            "ACL_MODE_UNIVERSAL_ACCESS",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_BYOID",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_GCI"
          ]
        },
        "documentCreatorDefaultRole": {
          "description": "The default role for the person who create a document.",
          "type": "string"
        },
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Internal Spanner",
            "Cloud Sql with a Postgres Sql instance"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "description": "Database type.",
          "enum": [
            "DB_UNKNOWN",
            "DB_INFRA_SPANNER",
            "DB_CLOUD_SQL_POSTGRES"
          ]
        },
        "state": {
          "description": "State of the project.",
          "enum": [
            "PROJECT_STATE_UNSPECIFIED",
            "PROJECT_STATE_PENDING",
            "PROJECT_STATE_COMPLETED",
            "PROJECT_STATE_FAILED",
            "PROJECT_STATE_DELETING",
            "PROJECT_STATE_DELETING_FAILED",
            "PROJECT_STATE_DELETED",
            "PROJECT_STATE_NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default status, required by protobuf best practices.",
            "The project is in the middle of a provision process.",
            "All dependencies have been provisioned.",
            "A provision process was previously initiated, but failed.",
            "The project is in the middle of a deletion process.",
            "A deleting process was initiated, but failed.",
            "The project is deleted.",
            "The project is not found."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1RuleActionsPair": {
      "description": "Represents a rule and outputs of associated actions.",
      "type": "object",
      "properties": {
        "actionOutputs": {
          "description": "Outputs of executing the actions associated with the above rule.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1ActionOutput"
          },
          "type": "array"
        },
        "rule": {
          "$ref": "GoogleCloudContentwarehouseV1Rule",
          "description": "Represents the rule."
        }
      },
      "id": "GoogleCloudContentwarehouseV1RuleActionsPair"
    },
    "CloudAiPlatformTenantresourceInfraSpannerConfig": {
      "type": "object",
      "id": "CloudAiPlatformTenantresourceInfraSpannerConfig",
      "properties": {
        "spannerNamespace": {
          "type": "string"
        },
        "kmsKeyReference": {
          "description": "Input [Optional]. The KMS key name or the KMS grant name used for CMEK encryption. Only set this field when provisioning new Infra Spanner databases. For existing Infra Spanner databases, this field will be ignored because CMEK re-encryption is not supported. For example, projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "spannerLocalNamePrefix": {
          "type": "string"
        },
        "spannerUniverse": {
          "description": "Input [Required]. Every database in Spanner can be identified by the following path name: /span//:",
          "type": "string"
        },
        "sdlBundlePath": {
          "description": "Input [Required]. The file path to the spanner SDL bundle.",
          "type": "string"
        },
        "spannerBorgServiceAccount": {
          "description": "Input [Optional]. The spanner borg service account for delegating the kms key to. For example, spanner-infra-cmek-nonprod@system.gserviceaccount.com, for the nonprod universe.",
          "type": "string"
        },
        "createDatabaseOptions": {
          "$ref": "CloudAiPlatformTenantresourceInfraSpannerConfigCreateDatabaseOptions",
          "description": "Input [Optional]. The options to create a spanner database. Note: give the right options to ensure the right KMS key access audit logging and AxT logging in expected logging category."
        }
      },
      "description": "The configuration for a spanner database provisioning. Next ID: 8"
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest": {
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest",
      "properties": {
        "documentSchema": {
          "$ref": "GoogleCloudContentwarehouseV1DocumentSchema",
          "description": "Required. The document schema to update with."
        }
      },
      "type": "object",
      "description": "Request message for DocumentSchemaService.UpdateDocumentSchema."
    },
    "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline": {
      "type": "object",
      "properties": {
        "splitClassifyProcessorInfo": {
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo",
          "description": "The split and classify processor information. The split and classify result will be used to find a matched extract processor."
        },
        "pipelineConfig": {
          "$ref": "GoogleCloudContentwarehouseV1IngestPipelineConfig",
          "description": "Optional. The config for the Cloud Storage Ingestion with DocAI Processors pipeline. It provides additional customization options to run the pipeline and can be skipped if it is not applicable."
        },
        "inputPath": {
          "description": "The input Cloud Storage folder. All files under this folder will be imported to Document Warehouse. Format: `gs:///`.",
          "type": "string"
        },
        "skipIngestedDocuments": {
          "description": "The flag whether to skip ingested documents. If it is set to true, documents in Cloud Storage contains key \"status\" with value \"status=ingested\" in custom metadata will be skipped to ingest.",
          "type": "boolean"
        },
        "processorResultsFolderPath": {
          "description": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`.",
          "type": "string"
        },
        "extractProcessorInfos": {
          "type": "array",
          "description": "The extract processors information. One matched extract processor will be used to process documents based on the classify processor result. If no classify processor is specified, the first extract processor will be used.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
          }
        }
      },
      "description": "The configuration of the Cloud Storage Ingestion with DocAI Processors pipeline.",
      "id": "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline"
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentMetadata": {
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentMetadata",
      "type": "object",
      "description": "Metadata object for UpdateDocument request (currently empty)."
    },
    "GoogleCloudContentwarehouseV1DocumentQuery": {
      "type": "object",
      "properties": {
        "documentSchemaNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This filter specifies the exact document schema Document.document_schema_name of the documents to search against. If a value isn't specified, documents within the search results are associated with any schema. If multiple values are specified, documents within the search results may be associated with any of the specified schemas. At most 20 document schema names are allowed."
        },
        "fileTypeFilter": {
          "$ref": "GoogleCloudContentwarehouseV1FileTypeFilter",
          "description": "This filter specifies the types of files to return: ALL, FOLDER, or FILE. If FOLDER or FILE is specified, then only either folders or files will be returned, respectively. If ALL is specified, both folders and files will be returned. If no value is specified, ALL files will be returned."
        },
        "isNlQuery": {
          "description": "Experimental, do not use. If the query is a natural language question. False by default. If true, then the question-answering feature will be used instead of search, and `result_count` in SearchDocumentsRequest must be set. In addition, all other input fields related to search (pagination, histograms, etc.) will be ignored.",
          "type": "boolean"
        },
        "documentCreatorFilter": {
          "description": "The exact creator(s) of the documents to search against. If a value isn't specified, documents within the search results are associated with any creator. If multiple values are specified, documents within the search results may be associated with any of the specified creators.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customWeightsMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1CustomWeightsMetadata",
          "description": "To support the custom weighting across document schemas, customers need to provide the properties to be used to boost the ranking in the search request. For a search query with CustomWeightsMetadata specified, only the RetrievalImportance for the properties in the CustomWeightsMetadata will be honored."
        },
        "query": {
          "description": "The query string that matches against the full text of the document and the searchable properties. The query partially supports [Google AIP style syntax](https://google.aip.dev/160). Specifically, the query supports literals, logical operators, negation operators, comparison operators, and functions. Literals: A bare literal value (examples: \"42\", \"Hugo\") is a value to be matched against. It searches over the full text of the document and the searchable properties. Logical operators: \"AND\", \"and\", \"OR\", and \"or\" are binary logical operators (example: \"engineer OR developer\"). Negation operators: \"NOT\" and \"!\" are negation operators (example: \"NOT software\"). Comparison operators: support the binary comparison operators =, !=, <, >, <= and >= for string, numeric, enum, boolean. Also support like operator `~~` for string. It provides semantic search functionality by parsing, stemming and doing synonyms expansion against the input query. To specify a property in the query, the left hand side expression in the comparison must be the property ID including the parent. The right hand side must be literals. For example: \"\\\"projects/123/locations/us\\\".property_a < 1\" matches results whose \"property_a\" is less than 1 in project 123 and us location. The literals and comparison expression can be connected in a single query (example: \"software engineer \\\"projects/123/locations/us\\\".salary > 100\"). Functions: supported functions are `LOWER([property_name])` to perform a case insensitive match and `EMPTY([property_name])` to filter on the existence of a key. Support nested expressions connected using parenthesis and logical operators. The default logical operators is `AND` if there is no operators between expressions. The query can be used with other filters e.g. `time_filters` and `folder_name_filter`. They are connected with `AND` operator under the hood. The maximum number of allowed characters is 255.",
          "type": "string"
        },
        "folderNameFilter": {
          "type": "string",
          "description": "Search all the documents under this specified folder. Format: projects/{project_number}/locations/{location}/documents/{document_id}."
        },
        "timeFilters": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1TimeFilter"
          },
          "description": "Documents created/updated within a range specified by this filter are searched against.",
          "type": "array"
        },
        "propertyFilter": {
          "description": "This filter specifies a structured syntax to match against the PropertyDefinition.is_filterable marked as `true`. The relationship between the PropertyFilters is OR.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyFilter"
          },
          "type": "array"
        },
        "queryContext": {
          "description": "For custom synonyms. Customers provide the synonyms based on context. One customer can provide multiple set of synonyms based on different context. The search query will be expanded based on the custom synonyms of the query context set. By default, no custom synonyms wll be applied if no query context is provided. It is not supported for CMEK compliant deployment.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customPropertyFilter": {
          "type": "string",
          "deprecated": true,
          "description": "This filter specifies a structured syntax to match against the [PropertyDefinition].is_filterable marked as `true`. The syntax for this expression is a subset of SQL syntax. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, and `>=` where the left of the operator is a property name and the right of the operator is a number or a quoted string. You must escape backslash (\\\\) and quote (\\\") characters. Supported functions are `LOWER([property_name])` to perform a case insensitive match and `EMPTY([property_name])` to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 100 comparisons or functions are allowed in the expression. The expression must be < 6000 bytes in length. Sample Query: `(LOWER(driving_license)=\"class \\\"a\\\"\" OR EMPTY(driving_license)) AND driving_years > 10`"
        },
        "documentNameFilter": {
          "description": "Search the documents in the list. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContentwarehouseV1DocumentQuery"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "description": "Represents a list type block.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
      "properties": {
        "type": {
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`.",
          "type": "string"
        },
        "listEntries": {
          "description": "List entries that constitute a list block.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse": {
      "id": "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "documentSchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
          },
          "description": "The document schemas from the specified parent."
        }
      },
      "description": "Response message for DocumentSchemaService.ListDocumentSchemas."
    },
    "GoogleCloudContentwarehouseV1DataValidationAction": {
      "description": "Represents the action responsible for data validation operations.",
      "id": "GoogleCloudContentwarehouseV1DataValidationAction",
      "properties": {
        "conditions": {
          "description": "Map of (K, V) -> (field, string condition to be evaluated on the field) E.g., (\"age\", \"age > 18 && age < 60\") entry triggers validation of field age with the given condition. Map entries will be ANDed during validation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1PropertyTypeOptions": {
      "properties": {
        "propertyDefinitions": {
          "description": "Required. List of property definitions.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyDefinition"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1PropertyTypeOptions",
      "description": "Configurations for a nested structured data property."
    },
    "GoogleTypeExpr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageImage": {
      "type": "object",
      "description": "Rendered image contents for this page.",
      "properties": {
        "content": {
          "format": "byte",
          "description": "Raw byte content of the image.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Width of the image in pixels."
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "height": {
          "format": "int32",
          "description": "Height of the image in pixels.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageImage"
    },
    "GoogleCloudContentwarehouseV1ListRuleSetsResponse": {
      "properties": {
        "ruleSets": {
          "type": "array",
          "description": "The rule sets from the specified parent.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1RuleSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudContentwarehouseV1ListRuleSetsResponse",
      "type": "object",
      "description": "Response message for RuleSetService.ListRuleSets."
    },
    "GoogleCloudContentwarehouseV1TextArray": {
      "id": "GoogleCloudContentwarehouseV1TextArray",
      "type": "object",
      "description": "String/text values.",
      "properties": {
        "values": {
          "description": "List of text values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "properties": {
        "endIndex": {
          "format": "int64",
          "type": "string",
          "description": "TextSegment half open end UTF-8 char index in the Document.text."
        },
        "startIndex": {
          "type": "string",
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1Document": {
      "properties": {
        "textStyles": {
          "description": "Styles for the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentStyle"
          },
          "type": "array",
          "deprecated": true
        },
        "mimeType": {
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error that occurred while processing this document."
        },
        "revisions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentRevision"
          },
          "type": "array",
          "description": "Placeholder. Revision history of this document."
        },
        "documentLayout": {
          "description": "Parsed layout of the document.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayout"
        },
        "entityRelations": {
          "description": "Placeholder. Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityRelation"
          },
          "type": "array"
        },
        "textChanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextChange"
          },
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other."
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          },
          "type": "array",
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries."
        },
        "content": {
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "format": "byte",
          "type": "string"
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "chunkedDocument": {
          "description": "Document chunked based on chunking config.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocument"
        },
        "text": {
          "type": "string",
          "description": "Optional. UTF-8 encoded text in reading order from the document."
        },
        "pages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPage"
          },
          "description": "Visual page layout for the Document.",
          "type": "array"
        }
      },
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality.",
      "id": "GoogleCloudDocumentaiV1Document",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1InitializeProjectResponse": {
      "type": "object",
      "description": "Response message for projectService.InitializeProject",
      "properties": {
        "message": {
          "description": "The message of the project initialization process.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Clients should never see this.",
            "Finished project initialization without error.",
            "Finished project initialization with an error.",
            "Client canceled the LRO.",
            "Ask the customer to check the operation for results."
          ],
          "description": "The state of the project initialization process.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RUNNING"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudContentwarehouseV1InitializeProjectResponse"
    },
    "GoogleCloudContentwarehouseV1Value": {
      "type": "object",
      "description": "`Value` represents a dynamically typed value which can be either be a float, a integer, a string, or a datetime value. A producer of value is expected to set one of these variants. Absence of any variant indicates an error.",
      "id": "GoogleCloudContentwarehouseV1Value",
      "properties": {
        "intValue": {
          "type": "integer",
          "description": "Represents a integer value.",
          "format": "int32"
        },
        "floatValue": {
          "format": "float",
          "description": "Represents a float value.",
          "type": "number"
        },
        "timestampValue": {
          "$ref": "GoogleCloudContentwarehouseV1TimestampValue",
          "description": "Represents a timestamp value."
        },
        "datetimeValue": {
          "description": "Represents a datetime value.",
          "$ref": "GoogleTypeDateTime"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "enumValue": {
          "description": "Represents an enum value.",
          "$ref": "GoogleCloudContentwarehouseV1EnumValue"
        },
        "booleanValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContentwarehouseV1UpdateOptions": {
      "description": "Options for Update operations.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Field mask for merging Document fields. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
          "type": "string"
        },
        "updateType": {
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "UPDATE_TYPE_REPLACE",
            "UPDATE_TYPE_MERGE",
            "UPDATE_TYPE_INSERT_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_REPLACE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_DELETE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_MERGE_AND_REPLACE_OR_INSERT_PROPERTIES_BY_NAMES"
          ],
          "enumDescriptions": [
            "Defaults to full replace behavior, ie. FULL_REPLACE.",
            "Fully replace all the fields (including previously linked raw document). Any field masks will be ignored.",
            "Merge the fields into the existing entities.",
            "Inserts the properties by names.",
            "Replace the properties by names.",
            "Delete the properties by names.",
            "For each of the property, replaces the property if the it exists, otherwise inserts a new property. And for the rest of the fields, merge them based on update mask and merge fields options."
          ],
          "description": "Type for update."
        },
        "mergeFieldsOptions": {
          "$ref": "GoogleCloudContentwarehouseV1MergeFieldsOptions",
          "description": "Options for merging."
        }
      },
      "id": "GoogleCloudContentwarehouseV1UpdateOptions"
    },
    "GoogleCloudDocumentaiV1DocumentPageTable": {
      "properties": {
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "description": "Body rows of the table.",
          "type": "array"
        },
        "provenance": {
          "description": "The history of this table.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Table."
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Header rows of the table."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageTable",
      "description": "A table representation similar to HTML table structure.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef": {
      "id": "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef",
      "properties": {
        "layoutId": {
          "type": "string",
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "deprecated": true
        },
        "layoutType": {
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "type": "string",
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "description": "Optional. The type of the layout element that is being referenced if any."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`."
        },
        "boundingPoly": {
          "description": "Optional. Identifies the bounding polygon of a layout element on the page. If `layout_type` is set, the bounding polygon must be exactly the same to the layout element it's referring to.",
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly"
        },
        "page": {
          "type": "string",
          "description": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Represents a weak reference to a page element within a document."
    },
    "GoogleCloudDocumentaiV1DocumentPageFormField": {
      "description": "A form field detected on the page.",
      "id": "GoogleCloudDocumentaiV1DocumentPageFormField",
      "properties": {
        "nameDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for name together with confidence."
        },
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "correctedKeyText": {
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "fieldValue": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for the FormField value."
        },
        "fieldName": {
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "valueDetectedLanguages": {
          "type": "array",
          "description": "A list of detected languages for value together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "correctedValueText": {
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak",
      "description": "Detected break at the end of a Token.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Detected break type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1TextTypeOptions": {
      "properties": {},
      "type": "object",
      "description": "Configurations for a text property.",
      "id": "GoogleCloudContentwarehouseV1TextTypeOptions"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan": {
      "description": "Represents where the block starts and ends in the document.",
      "type": "object",
      "properties": {
        "pageStart": {
          "type": "integer",
          "description": "Page where block starts in the document.",
          "format": "int32"
        },
        "pageEnd": {
          "description": "Page where block ends in the document.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
    },
    "GoogleCloudContentwarehouseV1FetchAclResponse": {
      "type": "object",
      "description": "Response message for DocumentService.FetchAcl.",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "The IAM policy."
        },
        "metadata": {
          "description": "Additional information for the API invocation, such as the request tracking id.",
          "$ref": "GoogleCloudContentwarehouseV1ResponseMetadata"
        }
      },
      "id": "GoogleCloudContentwarehouseV1FetchAclResponse"
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo": {
      "properties": {
        "handwritten": {
          "description": "Whether the text is handwritten.",
          "type": "boolean"
        },
        "letterSpacing": {
          "type": "number",
          "format": "double",
          "description": "Letter spacing in points."
        },
        "fontType": {
          "type": "string",
          "description": "Name or style of the font."
        },
        "backgroundColor": {
          "description": "Color of the background.",
          "$ref": "GoogleTypeColor"
        },
        "underlined": {
          "type": "boolean",
          "description": "Whether the text is underlined."
        },
        "smallcaps": {
          "description": "Whether the text is in small caps. This feature is not supported yet.",
          "type": "boolean"
        },
        "superscript": {
          "type": "boolean",
          "description": "Whether the text is a superscript. This feature is not supported yet."
        },
        "textColor": {
          "description": "Color of the text.",
          "$ref": "GoogleTypeColor"
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "italic": {
          "description": "Whether the text is italic.",
          "type": "boolean"
        },
        "fontSize": {
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "format": "int32",
          "type": "integer"
        },
        "pixelFontSize": {
          "type": "number",
          "format": "double",
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`."
        },
        "fontWeight": {
          "format": "int32",
          "type": "integer",
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`."
        },
        "subscript": {
          "description": "Whether the text is a subscript. This feature is not supported yet.",
          "type": "boolean"
        },
        "strikeout": {
          "type": "boolean",
          "description": "Whether the text is strikethrough. This feature is not supported yet."
        }
      },
      "description": "Font and other text style attributes.",
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1EnumTypeOptions": {
      "description": "Configurations for an enum/categorical property.",
      "properties": {
        "possibleValues": {
          "type": "array",
          "description": "Required. List of possible enum values.",
          "items": {
            "type": "string"
          }
        },
        "validationCheckDisabled": {
          "description": "Make sure the Enum property value provided in the document is in the possile value list during document creation. The validation check runs by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1EnumTypeOptions"
    },
    "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument": {
      "id": "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument",
      "properties": {
        "document": {
          "$ref": "GoogleCloudContentwarehouseV1Document",
          "description": "Document that matches the specified SearchDocumentsRequest. This document only contains indexed metadata information."
        },
        "searchTextSnippet": {
          "type": "string",
          "description": "Contains snippets of text from the document full raw text that most closely match a search query's keywords, if available. All HTML tags in the original fields are stripped when returned in this field, and matching query keywords are enclosed in HTML bold tags. If the question-answering feature is enabled, this field will instead contain a snippet that answers the user's natural-language query. No HTML bold tags will be present, and highlights in the answer snippet can be found in QAResult.highlights."
        },
        "matchedTokenPageIndices": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Return the 1-based page indices where those pages have one or more matched tokens.",
          "type": "array"
        },
        "qaResult": {
          "description": "Experimental. Additional result info if the question-answering feature is enabled.",
          "$ref": "GoogleCloudContentwarehouseV1QAResult"
        }
      },
      "description": "Document entry with metadata inside SearchDocumentsResponse",
      "type": "object"
    },
    "GoogleApiServiceconsumermanagementV1BillingConfig": {
      "description": "Describes the billing configuration for a new tenant project.",
      "type": "object",
      "id": "GoogleApiServiceconsumermanagementV1BillingConfig",
      "properties": {
        "billingAccount": {
          "description": "Name of the billing account. For example `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1AddToFolderAction": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1AddToFolderAction",
      "properties": {
        "folders": {
          "description": "Names of the folder under which new document is to be added. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents the action responsible for adding document under a folder."
    },
    "GoogleCloudContentwarehouseV1PublishAction": {
      "properties": {
        "topicId": {
          "type": "string",
          "description": "The topic id in the Pub/Sub service for which messages will be published to."
        },
        "messages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Messages to be published."
        }
      },
      "id": "GoogleCloudContentwarehouseV1PublishAction",
      "type": "object",
      "description": "Represents the action responsible for publishing messages to a Pub/Sub topic."
    },
    "GoogleCloudContentwarehouseV1TimeFilter": {
      "id": "GoogleCloudContentwarehouseV1TimeFilter",
      "properties": {
        "timeRange": {
          "$ref": "GoogleTypeInterval"
        },
        "timeField": {
          "enumDescriptions": [
            "Default value.",
            "Earliest document create time.",
            "Latest document update time.",
            "Time when document becomes mutable again."
          ],
          "type": "string",
          "description": "Specifies which time field to filter documents on. Defaults to TimeField.UPLOAD_TIME.",
          "enum": [
            "TIME_FIELD_UNSPECIFIED",
            "CREATE_TIME",
            "UPDATE_TIME",
            "DISPOSITION_TIME"
          ]
        }
      },
      "type": "object",
      "description": "Filter on create timestamp or update timestamp of documents."
    },
    "GoogleCloudContentwarehouseV1QAResult": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1QAResult",
      "properties": {
        "highlights": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1QAResultHighlight"
          },
          "description": "Highlighted sections in the snippet."
        },
        "confidenceScore": {
          "description": "The calibrated confidence score for this document, in the range [0., 1.]. This represents the confidence level for whether the returned document and snippet answers the user's query.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Additional result info for the question-answering feature."
    },
    "GoogleTypePostalAddress": {
      "type": "object",
      "properties": {
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (For example state/zip validation in the U.S.A.).",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (For example \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (For example Côte d'Ivoire).",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (For example \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example in Switzerland this should be left unpopulated."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (For example \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (For example Japan), address_language is used to make it explicit (For example \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        }
      },
      "id": "GoogleTypePostalAddress",
      "description": "Represents a postal address. For example for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478"
    },
    "GoogleCloudContentwarehouseV1RequestMetadata": {
      "properties": {
        "userInfo": {
          "$ref": "GoogleCloudContentwarehouseV1UserInfo",
          "description": "Provides user unique identification and groups information."
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1RequestMetadata",
      "description": "Meta information is used to improve the performance of the service."
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata": {
      "type": "object",
      "description": "The metadata message for Process-with-DocAi pipeline.",
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The input list of all the resource names of the documents to be processed.",
          "type": "array"
        },
        "processorInfo": {
          "description": "The DocAI processor to process the documents with.",
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
        }
      }
    },
    "GoogleCloudContentwarehouseV1RuleSet": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Short description of the rule-set."
        },
        "source": {
          "description": "Source of the rules i.e., customer name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the rule set. Managed internally. Format: projects/{project_number}/locations/{location}/ruleSet/{rule_set_id}. The name is ignored when creating a rule set."
        },
        "rules": {
          "description": "List of rules given by the customer.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Rule"
          },
          "type": "array"
        }
      },
      "description": "Represents a set of rules from a single customer.",
      "id": "GoogleCloudContentwarehouseV1RuleSet",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "description": "Dimension for the page.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "width": {
          "description": "Page width.",
          "format": "float",
          "type": "number"
        },
        "height": {
          "description": "Page height.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension"
    },
    "GoogleCloudDocumentaiV1DocumentPageSymbol": {
      "id": "GoogleCloudDocumentaiV1DocumentPageSymbol",
      "type": "object",
      "description": "A detected symbol.",
      "properties": {
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      }
    },
    "GoogleCloudContentwarehouseV1RemoveFromFolderAction": {
      "id": "GoogleCloudContentwarehouseV1RemoveFromFolderAction",
      "description": "Represents the action responsible for remove a document from a specific folder.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Condition of the action to be executed.",
          "type": "string"
        },
        "folder": {
          "description": "Name of the folder under which new document is to be added. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1CloudAIDocumentOption": {
      "description": "Request Option for processing Cloud AI Document in CW Document.",
      "properties": {
        "enableEntitiesConversions": {
          "description": "Whether to convert all the entities to properties.",
          "type": "boolean"
        },
        "customizedEntitiesPropertiesConversions": {
          "description": "If set, only selected entities will be converted to properties.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1CloudAIDocumentOption"
    },
    "CloudAiPlatformTenantresourceTenantResource": {
      "id": "CloudAiPlatformTenantresourceTenantResource",
      "type": "object",
      "description": "A collection of tenant resources.",
      "properties": {
        "p4ServiceAccounts": {
          "type": "array",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceServiceAccountIdentity"
          },
          "description": "A list of P4 service accounts (go/p4sa) to provision or deprovision."
        },
        "tenantProjectResources": {
          "description": "A list of tenant projects and tenant resources to provision or deprovision.",
          "type": "array",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceTenantProjectResource"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1beta1UpdateDocumentMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata object for UpdateDocument request (currently empty).",
      "id": "GoogleCloudContentwarehouseV1beta1UpdateDocumentMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayout": {
      "type": "object",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "List of blocks in the document."
        }
      },
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayout"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "type": "object",
      "properties": {
        "pageSpan": {
          "description": "Page span of the footer.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter",
      "description": "Represents the page footer associated with the chunk."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan": {
      "type": "object",
      "properties": {
        "pageStart": {
          "description": "Page where chunk starts in the document.",
          "format": "int32",
          "type": "integer"
        },
        "pageEnd": {
          "type": "integer",
          "description": "Page where chunk ends in the document.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
      "description": "Represents where the chunk starts and ends in the document."
    },
    "GoogleCloudContentwarehouseV1TimestampArray": {
      "id": "GoogleCloudContentwarehouseV1TimestampArray",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1TimestampValue"
          },
          "description": "List of timestamp values.",
          "type": "array"
        }
      },
      "description": "Timestamp values.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1CustomWeightsMetadata": {
      "id": "GoogleCloudContentwarehouseV1CustomWeightsMetadata",
      "type": "object",
      "description": "To support the custom weighting across document schemas.",
      "properties": {
        "weightedSchemaProperties": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1WeightedSchemaProperty"
          },
          "type": "array",
          "description": "List of schema and property name. Allows a maximum of 10 schemas to be specified for relevance boosting."
        }
      }
    },
    "GoogleCloudContentwarehouseV1HistogramQuery": {
      "id": "GoogleCloudContentwarehouseV1HistogramQuery",
      "type": "object",
      "description": "The histogram request.",
      "properties": {
        "requirePreciseResultSize": {
          "type": "boolean",
          "description": "Controls if the histogram query requires the return of a precise count. Enable this flag may adversely impact performance. Defaults to true."
        },
        "filters": {
          "description": "Optional. Filter the result of histogram query by the property names. It only works with histogram query count('FilterableProperties'). It is an optional. It will perform histogram on all the property names for all the document schemas. Setting this field will have a better performance.",
          "$ref": "GoogleCloudContentwarehouseV1HistogramQueryPropertyNameFilter"
        },
        "histogramQuery": {
          "type": "string",
          "description": "An expression specifies a histogram request against matching documents for searches. See SearchDocumentsRequest.histogram_queries for details about syntax."
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContentwarehouseV1DeleteDocumentAction": {
      "type": "object",
      "properties": {
        "enableHardDelete": {
          "description": "Boolean field to select between hard vs soft delete options. Set 'true' for 'hard delete' and 'false' for 'soft delete'.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContentwarehouseV1DeleteDocumentAction",
      "description": "Represents the action responsible for deleting the document."
    },
    "GoogleCloudContentwarehouseV1FetchAclRequest": {
      "description": "Request message for DocumentService.FetchAcl",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1FetchAclRequest",
      "properties": {
        "projectOwner": {
          "type": "boolean",
          "description": "For Get Project ACL only. Authorization check for end user will be ignored when project_owner=true."
        },
        "requestMetadata": {
          "description": "The meta information collected about the end user, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      }
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata": {
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata",
      "description": "The metadata message for Export-to-CDW pipeline.",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input list of all the resource names of the documents to be exported."
        },
        "docAiDataset": {
          "description": "The output CDW dataset resource name.",
          "type": "string"
        },
        "outputPath": {
          "description": "The output Cloud Storage folder in this pipeline.",
          "type": "string"
        }
      }
    },
    "GoogleApiServiceconsumermanagementV1PolicyBinding": {
      "properties": {
        "role": {
          "description": "Role. (https://cloud.google.com/iam/docs/understanding-roles) For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Uses the same format as in IAM policy. `member` must include both a prefix and ID. For example, `user:{emailId}`, `serviceAccount:{emailId}`, `group:{emailId}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Translates to IAM Policy bindings (without auditing at this level)",
      "type": "object",
      "id": "GoogleApiServiceconsumermanagementV1PolicyBinding"
    },
    "GoogleCloudContentwarehouseV1Rule": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1Rule",
      "properties": {
        "ruleId": {
          "description": "ID of the rule. It has to be unique across all the examples. This is managed internally.",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Action"
          },
          "description": "List of actions that are executed when the rule is satisfied."
        },
        "description": {
          "type": "string",
          "description": "Short description of the rule and its context."
        },
        "condition": {
          "description": "Represents the conditional expression to be evaluated. Expression should evaluate to a boolean result. When the condition is true actions are executed. Example: user_role = \"hsbc_role_1\" AND doc.salary > 20000",
          "type": "string"
        },
        "triggerType": {
          "type": "string",
          "enumDescriptions": [
            "Trigger for unknown action.",
            "Trigger for create document action.",
            "Trigger for update document action.",
            "Trigger for create link action.",
            "Trigger for delete link action."
          ],
          "enum": [
            "UNKNOWN",
            "ON_CREATE",
            "ON_UPDATE",
            "ON_CREATE_LINK",
            "ON_DELETE_LINK"
          ],
          "description": "Identifies the trigger type for running the policy."
        }
      },
      "description": "Represents the rule for a content warehouse trigger."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudContentwarehouseV1SynonymSet": {
      "properties": {
        "name": {
          "description": "The resource name of the SynonymSet This is mandatory for google.api.resource. Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
          "type": "string"
        },
        "synonyms": {
          "description": "List of Synonyms for the context.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SynonymSetSynonym"
          }
        },
        "context": {
          "type": "string",
          "description": "This is a freeform field. Example contexts can be \"sales,\" \"engineering,\" \"real estate,\" \"accounting,\" etc. The context can be supplied during search requests."
        }
      },
      "description": "Represents a list of synonyms for a given context. For example a context \"sales\" could contain: Synonym 1: sale, invoice, bill, order Synonym 2: money, credit, finance, payment Synonym 3: shipping, freight, transport Each SynonymSets should be disjoint",
      "id": "GoogleCloudContentwarehouseV1SynonymSet",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1DocumentSchema": {
      "description": "A document schema used to define document structure.",
      "properties": {
        "name": {
          "description": "The resource name of the document schema. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}. The name is ignored when creating a document schema.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Name of the schema given by the user. Must be unique per project."
        },
        "createTime": {
          "description": "Output only. The time when the document schema is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "propertyDefinitions": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyDefinition"
          },
          "description": "Document details.",
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the document schema is last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "documentIsFolder": {
          "type": "boolean",
          "description": "Document Type, true refers the document is a folder, otherwise it is a typical document."
        },
        "description": {
          "description": "Schema description.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1DocumentSchema"
    },
    "GoogleCloudContentwarehouseV1FloatTypeOptions": {
      "type": "object",
      "description": "Configurations for a float property.",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1FloatTypeOptions"
    },
    "GoogleCloudContentwarehouseV1ResponseMetadata": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "A unique id associated with this call. This id is logged for tracking purpose.",
          "type": "string"
        }
      },
      "description": "Additional information returned to client, such as debugging information.",
      "id": "GoogleCloudContentwarehouseV1ResponseMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchor": {
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchor",
      "description": "Text reference indexing into the Document.text.",
      "properties": {
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
          }
        },
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntity": {
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`."
        },
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityNormalizedValue"
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value of the entity e.g. `1600 Amphitheatre Pkwy`."
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          },
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document."
        },
        "type": {
          "description": "Required. Entity type from a schema e.g. `Address`.",
          "type": "string"
        },
        "id": {
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document.",
          "type": "string"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor",
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        }
      },
      "type": "object",
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "id": "GoogleCloudDocumentaiV1DocumentEntity"
    },
    "GoogleCloudContentwarehouseV1FloatArray": {
      "description": "Float values.",
      "id": "GoogleCloudContentwarehouseV1FloatArray",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "List of float values.",
          "items": {
            "format": "float",
            "type": "number"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1TimestampTypeOptions": {
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1TimestampTypeOptions",
      "type": "object",
      "description": "Configurations for a timestamp property."
    },
    "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse": {
      "id": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "documentLinks": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
          },
          "type": "array",
          "description": "Source document-links."
        }
      },
      "description": "Response message for DocumentLinkService.ListLinkedSources."
    },
    "GoogleCloudContentwarehouseV1DataUpdateAction": {
      "description": "Represents the action responsible for properties update operations.",
      "type": "object",
      "properties": {
        "entries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of (K, V) -> (valid name of the field, new value of the field) E.g., (\"age\", \"60\") entry triggers update of field age with a value of 60. If the field is not present then new entry is added. During update action execution, value strings will be casted to appropriate types."
        }
      },
      "id": "GoogleCloudContentwarehouseV1DataUpdateAction"
    },
    "GoogleCloudDocumentaiV1DocumentPageToken": {
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Token."
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "deprecated": true
        },
        "styleInfo": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo",
          "description": "Text style attributes."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
[...]
