{
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "version": "v1alpha1",
  "revision": "20260901",
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "id": "containeranalysis:v1alpha1",
  "batchPath": "batch",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "canonicalName": "Container Analysis",
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo": {
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explains the failure issue in more detail using hard-coded text."
        },
        "type": {
          "description": "The name of the failure.",
          "type": "string",
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ],
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ]
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
      "description": "A fatal problem encountered during the execution of the build.",
      "type": "object"
    },
    "DSSEAttestationNote": {
      "properties": {
        "hint": {
          "$ref": "DSSEHint",
          "description": "DSSEHint hints at the purpose of the attestation authority."
        }
      },
      "id": "DSSEAttestationNote",
      "description": "A note describing an attestation",
      "type": "object"
    },
    "GetVulnzOccurrencesSummaryResponse": {
      "type": "object",
      "description": "A summary of how many vulnz occurrences there are per severity type. counts by groups, or if we should have different summary messages like this.",
      "id": "GetVulnzOccurrencesSummaryResponse",
      "properties": {
        "counts": {
          "description": "A map of how many occurrences were found for each severity.",
          "type": "array",
          "items": {
            "$ref": "SeverityCount"
          }
        }
      }
    },
    "Package": {
      "description": "This represents a particular package that is distributed over various channels. e.g. glibc (aka libc6) is distributed by many, at various versions.",
      "type": "object",
      "properties": {
        "digest": {
          "type": "array",
          "items": {
            "$ref": "Digest"
          },
          "description": "Hash value, typically a file digest, that allows unique identification a specific package."
        },
        "architecture": {
          "description": "The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ]
        },
        "version": {
          "$ref": "Version",
          "description": "The version of the package."
        },
        "name": {
          "type": "string",
          "description": "The name of the package."
        },
        "distribution": {
          "description": "The various channels by which a package is distributed.",
          "type": "array",
          "items": {
            "$ref": "Distribution"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of this package."
        },
        "cpeUri": {
          "description": "The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The homepage for this package."
        },
        "packageType": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "maintainer": {
          "description": "A freeform text denoting the maintainer of this package.",
          "type": "string"
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        }
      },
      "id": "Package"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule": {
      "properties": {
        "moduleVersion": {
          "type": "string",
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5"
        },
        "repositoryLocation": {
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
          "type": "string"
        },
        "sourcePath": {
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
          "type": "string"
        },
        "repositoryName": {
          "type": "string",
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo"
        },
        "repositoryProjectId": {
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project.",
          "type": "string"
        },
        "modulePath": {
          "type": "string",
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule",
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file."
    },
    "CisBenchmark": {
      "type": "object",
      "properties": {
        "profileLevel": {
          "description": "The profile level of this CIS benchmark check.",
          "type": "integer",
          "format": "int32"
        },
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "type": "string",
          "description": "The severity level of this CIS benchmark check.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "description": "A compliance check that is a CIS benchmark.",
      "id": "CisBenchmark"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "properties": {
        "approvalRequired": {
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage": {
      "properties": {
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "fileHashes": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes",
          "description": "Hash types and values of the Python Artifact."
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage",
      "type": "object",
      "description": "Artifact uploaded using the PythonPackage directive."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes",
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "properties": {
        "fileHash": {
          "description": "Collection of file hashes.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash"
          }
        }
      }
    },
    "PerScannerVerdict": {
      "type": "object",
      "description": "Per scanner verdict details.",
      "properties": {
        "workspacePolicy": {
          "description": "Optional. Workspace Policy scan result.",
          "$ref": "WorkspacePolicyResult"
        },
        "maliciousContentLlmResult": {
          "$ref": "MaliciousContentLLMResult",
          "description": "Optional. Malicious Content LLM scan result."
        },
        "maliciousContentStaticResult": {
          "description": "Optional. Malicious Content Static scan result.",
          "$ref": "MaliciousContentStaticResult"
        },
        "malwareScan": {
          "$ref": "MalwareScanResult",
          "description": "Optional. Malware scan result."
        }
      },
      "id": "PerScannerVerdict"
    },
    "AttestationAuthorityHint": {
      "properties": {
        "humanReadableName": {
          "type": "string",
          "description": "The human readable name of this Attestation Authority, for example \"qa\"."
        }
      },
      "type": "object",
      "description": "This submessage provides human-readable hints about the purpose of the AttestationAuthority. Because the name of a Note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should NOT be used to look up AttestationAuthorities in security sensitive contexts, such as when looking up Attestations to verify.",
      "id": "AttestationAuthorityHint"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact",
      "type": "object",
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "folder": {
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry.",
          "type": "string"
        },
        "registryPath": {
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION",
          "type": "string"
        }
      }
    },
    "SBOMStatus": {
      "properties": {
        "sbomState": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ],
          "description": "Output only. The progress of the SBOM generation.",
          "readOnly": true,
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ]
        },
        "error": {
          "description": "Output only. If there was an error generating an SBOM, this will indicate what that error was.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "SBOMStatus",
      "description": "The status of an SBOM generation.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource": {
      "type": "object",
      "properties": {
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "url": {
          "type": "string",
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
        },
        "revision": {
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource",
      "description": "Location of the source in any accessible Git repository."
    },
    "Distribution": {
      "id": "Distribution",
      "type": "object",
      "properties": {
        "architecture": {
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "description": "The CPU architecture for which packages in this distribution channel were built"
        },
        "url": {
          "type": "string",
          "description": "The distribution channel-specific homepage for this package."
        },
        "latestVersion": {
          "description": "The latest available version of this package in this distribution channel.",
          "$ref": "Version"
        },
        "description": {
          "description": "The distribution channel-specific description of this package.",
          "type": "string"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "maintainer": {
          "type": "string",
          "description": "A freeform string denoting the maintainer of this package."
        }
      },
      "description": "This represents a particular channel of distribution for a given package. e.g. Debian's jessie-backports dpkg mirror"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage": {
      "type": "object",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "type": "array"
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage",
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
    },
    "BuildProvenance": {
      "id": "BuildProvenance",
      "type": "object",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "properties": {
        "buildOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of the build."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time at which execution of the build was started.",
          "type": "string"
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "finishTime": {
          "type": "string",
          "description": "Time at which execution of the build was finished.",
          "format": "google-datetime"
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "Command"
          },
          "description": "Commands requested by the build."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "logsBucket": {
          "description": "Google Cloud Storage bucket where logs were written.",
          "type": "string"
        },
        "createTime": {
          "description": "Time at which the build was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "builtArtifacts": {
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          },
          "type": "array"
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        }
      }
    },
    "ComplianceVersion": {
      "properties": {
        "version": {
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in.",
          "type": "string"
        },
        "cpeUri": {
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
          "type": "string"
        },
        "benchmarkDocument": {
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComplianceVersion",
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version."
    },
    "ExternalRef": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of category (e.g. 'npm' for the PACKAGE_MANAGER category)",
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "Unspecified",
            "Security (e.g. cpe22Type, cpe23Type)",
            "Package Manager (e.g. maven-central, npm, nuget, bower, purl)",
            "Persistent-Id (e.g. swh)",
            "Other"
          ],
          "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "SECURITY",
            "PACKAGE_MANAGER",
            "PERSISTENT_ID",
            "OTHER"
          ],
          "type": "string"
        },
        "locator": {
          "description": "The unique string with no spaces necessary to access the package-specific information, metadata, or content within the target location",
          "type": "string"
        },
        "comment": {
          "description": "Human-readable information about the purpose and target of the reference",
          "type": "string"
        }
      },
      "id": "ExternalRef",
      "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package"
    },
    "File": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the file."
        },
        "digest": {
          "description": "Optional. The digest(s) of the file.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A file as part of a resource.",
      "id": "File",
      "type": "object"
    },
    "Version": {
      "properties": {
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is vulnerable, when defining the version bounds. For example, if the minimum version is 2.0, inclusive=true would say 2.0 is vulnerable, while inclusive=false would say it's not"
        },
        "name": {
          "description": "The main part of the version name.",
          "type": "string"
        },
        "kind": {
          "description": "Distinguish between sentinel MIN/MAX versions and normal versions. If kind is not NORMAL, then the other fields are ignored.",
          "type": "string",
          "enumDescriptions": [
            "A standard package version, defined by the other fields.",
            "A special version representing negative infinity, other fields are ignored.",
            "A special version representing positive infinity, other fields are ignored."
          ],
          "enum": [
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ]
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "epoch": {
          "type": "integer",
          "format": "int32",
          "description": "Used to correct mistakes in the version numbering scheme."
        }
      },
      "type": "object",
      "id": "Version",
      "description": "Version contains structured information about the version of the package. For a discussion of this in Debian/Ubuntu: http://serverfault.com/questions/604541/debian-packages-version-convention For a discussion of this in Redhat/Fedora/Centos: http://blog.jasonantman.com/2014/07/how-yum-and-rpm-compare-versions/"
    },
    "Digest": {
      "description": "Digest information.",
      "properties": {
        "digestBytes": {
          "description": "Value of the digest.",
          "type": "string",
          "format": "byte"
        },
        "algo": {
          "description": "`SHA1`, `SHA512` etc.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Digest"
    },
    "Command": {
      "description": "Command describes a step performed as part of the build pipeline.",
      "id": "Command",
      "type": "object",
      "properties": {
        "waitFor": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID(s) of the Command(s) that this Command depends on."
        },
        "dir": {
          "description": "Working directory (relative to project source root) used when running this Command.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Command-line arguments used when executing this Command."
        },
        "name": {
          "description": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Environment variables set before running this Command."
        },
        "id": {
          "type": "string",
          "description": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig",
      "description": "GitConfig is a configuration for git operations.",
      "properties": {
        "http": {
          "description": "Configuration for HTTP related git operations.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig"
        }
      }
    },
    "Occurrence": {
      "description": "`Occurrence` includes information about analysis occurrences for an image.",
      "properties": {
        "aiSkillAnalysis": {
          "description": "This represents an AI skill analysis occurrence",
          "$ref": "AISkillAnalysisOccurrence"
        },
        "secret": {
          "$ref": "SecretOccurrence",
          "description": "This represents a secret occurrence"
        },
        "upgrade": {
          "description": "Describes an upgrade.",
          "$ref": "UpgradeOccurrence"
        },
        "compliance": {
          "description": "Describes whether or not a resource passes compliance checks.",
          "$ref": "ComplianceOccurrence"
        },
        "noteName": {
          "description": "An analysis note associated with this image, in the form \"providers/{provider_id}/notes/{NOTE_ID}\" This field can be used as a filter in list requests.",
          "type": "string"
        },
        "spdxFile": {
          "$ref": "FileOccurrence",
          "description": "Describes a specific SPDX File."
        },
        "installation": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "Installation"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this `Occurrence` was last updated.",
          "type": "string"
        },
        "remediation": {
          "description": "A description of actions that can be taken to remedy the `Note`",
          "type": "string"
        },
        "attestation": {
          "$ref": "Attestation",
          "description": "Describes an attestation of an artifact."
        },
        "kind": {
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ],
          "description": "Output only. This explicitly denotes which of the `Occurrence` details are specified. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "sbom": {
          "description": "Describes a specific software bill of materials document.",
          "$ref": "DocumentOccurrence"
        },
        "spdxPackage": {
          "description": "Describes a specific SPDX Package.",
          "$ref": "PackageInfoOccurrence"
        },
        "discovered": {
          "$ref": "Discovered",
          "description": "Describes the initial scan status for this resource."
        },
        "spdxRelationship": {
          "description": "Describes a specific relationship between SPDX elements.",
          "$ref": "RelationshipOccurrence"
        },
        "sbomReference": {
          "$ref": "SBOMReferenceOccurrence",
          "description": "This represents an SBOM reference occurrence"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "Deployment"
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "https://github.com/secure-systems-lab/dsse"
        },
        "resource": {
          "description": " The resource for which the `Occurrence` applies.",
          "$ref": "Resource"
        },
        "name": {
          "description": "Output only. The name of the `Occurrence` in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
          "type": "string"
        },
        "derivedImage": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "Derived"
        },
        "resourceUrl": {
          "description": "The unique URL of the image or the container for which the `Occurrence` applies. For example, https://gcr.io/project/image@sha256:foo This field can be used as a filter in list requests.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this `Occurrence` was created.",
          "type": "string"
        },
        "dsseAttestation": {
          "$ref": "DSSEAttestationOccurrence",
          "description": "This represents a DSSE attestation occurrence"
        },
        "buildDetails": {
          "$ref": "BuildDetails",
          "description": "Build details for a verifiable build."
        },
        "vulnerabilityDetails": {
          "$ref": "VulnerabilityDetails",
          "description": "Details of a security vulnerability note."
        }
      },
      "type": "object",
      "id": "Occurrence"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId"
        },
        "aliasContext": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
          "description": "An alias, which may be a branch or tag."
        }
      },
      "type": "object",
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo."
    },
    "DSSEHint": {
      "id": "DSSEHint",
      "properties": {
        "humanReadableName": {
          "description": "Required. The human readable name of this attestation authority, for example \"cloudbuild-prod\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify."
    },
    "DocumentOccurrence": {
      "id": "DocumentOccurrence",
      "description": "DocumentOccurrence represents an SPDX Document Creation Information section: https://spdx.github.io/spdx-spec/2-document-creation-information/",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Identify when the SPDX file was originally created. The date is to be specified according to combined date and time in UTC format as specified in ISO 8601 standard"
        },
        "namespace": {
          "description": "Provide an SPDX document specific namespace as a unique absolute Uniform Resource Identifier (URI) as specified in RFC-3986, with the exception of the ‘#’ delimiter",
          "type": "string"
        },
        "documentComment": {
          "description": "A field for creators of the SPDX file content to provide comments to the consumers of the SPDX document",
          "type": "string"
        },
        "id": {
          "description": "Identify the current SPDX document which may be referenced in relationships by other files, packages internally and documents externally",
          "type": "string"
        },
        "creatorComment": {
          "type": "string",
          "description": "A field for creators of the SPDX file to provide general comments about the creation of the SPDX file or any other relevant comment not included in the other fields"
        },
        "externalDocumentRefs": {
          "type": "array",
          "description": "Identify any external SPDX documents referenced within this SPDX document",
          "items": {
            "type": "string"
          }
        },
        "licenseListVersion": {
          "description": "A field for creators of the SPDX file to provide the version of the SPDX License List used when the SPDX file was created",
          "type": "string"
        },
        "title": {
          "description": "Identify name of this document as designated by creator",
          "type": "string"
        },
        "creators": {
          "items": {
            "type": "string"
          },
          "description": "Identify who (or what, in the case of a tool) created the SPDX file. If the SPDX file was created by an individual, indicate the person's name",
          "type": "array"
        }
      }
    },
    "Location": {
      "description": "An occurrence of a particular package installation found within a system's filesystem. e.g. glibc was found in /var/lib/dpkg/status",
      "id": "Location",
      "type": "object",
      "properties": {
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        },
        "cpeUri": {
          "description": "Deprecated. The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        }
      }
    },
    "StorageSource": {
      "properties": {
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Google Cloud Storage generation for the object."
        },
        "bucket": {
          "description": "Google Cloud Storage bucket containing source (see [Bucket Name Requirements] (https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing source."
        }
      },
      "description": "StorageSource describes the location of the source in an archive file in Google Cloud Storage.",
      "id": "StorageSource",
      "type": "object"
    },
    "FileLocation": {
      "type": "object",
      "id": "FileLocation",
      "description": "Indicates the location at which a package was found.",
      "properties": {
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        },
        "lineNumber": {
          "description": "Line number in the file where the package is found. Optional field that only applies to source repository scanning.",
          "type": "integer",
          "format": "int32"
        },
        "layerDetails": {
          "description": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package).",
          "$ref": "LayerDetails"
        }
      }
    },
    "FindingLocation": {
      "type": "object",
      "properties": {
        "lineNumber": {
          "type": "string",
          "description": "Optional. Line number (1-based), or 0 if whole File / unknown.",
          "format": "int64"
        },
        "filePath": {
          "description": "Optional. Relative path of the file containing the finding.",
          "type": "string"
        }
      },
      "description": "Location details with file path and line number.",
      "id": "FindingLocation"
    },
    "VulnerabilityType": {
      "properties": {
        "cvssVersion": {
          "description": "CVSS version used to populate cvss_score and severity.",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ],
          "enumDescriptions": [
            "CVSS Version unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "type": "string"
        },
        "cvssScore": {
          "type": "number",
          "description": "The CVSS score for this Vulnerability.",
          "format": "float"
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The full description of the CVSS for version 2."
        },
        "cvssV4": {
          "description": "Optional. The full description of the CVSS for version 4.",
          "$ref": "CVSS"
        },
        "cwe": {
          "description": "A list of CWE for this vulnerability. For details, see: https://cwe.mitre.org/index.html",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "description": "Note provider assigned impact of the vulnerability"
        },
        "advisoryPublishTime": {
          "description": "Time this advisory was published by the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "details": {
          "items": {
            "$ref": "Detail"
          },
          "type": "array",
          "description": "All information about the package to specifically identify this vulnerability. One entry per (version range and cpe_uri) the package vulnerability has manifested in."
        }
      },
      "type": "object",
      "id": "VulnerabilityType",
      "description": "VulnerabilityType provides metadata about a security vulnerability."
    },
    "StepResult": {
      "properties": {
        "attestationContentName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "attestationType": {
          "type": "string"
        }
      },
      "description": "StepResult is the declaration of a result for a build step.",
      "id": "StepResult",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository": {
      "properties": {
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
        },
        "repository": {
          "description": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository",
      "description": "Location of the source in a 2nd-gen Google Cloud Build repository resource.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval": {
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
          "description": "Output only. Result of manual approval for this Build.",
          "readOnly": true
        },
        "config": {
          "description": "Output only. Configuration for manual approval of this build.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of this build's approval.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ]
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume": {
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume",
      "properties": {
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        },
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentNote": {
      "description": "DocumentNote represents an SPDX Document Creation Infromation section: https://spdx.github.io/spdx-spec/2-document-creation-information/",
      "type": "object",
      "id": "DocumentNote",
      "properties": {
        "dataLicence": {
          "description": "Compliance with the SPDX specification includes populating the SPDX fields therein with data related to such fields (\"SPDX-Metadata\")",
          "type": "string"
        },
        "spdxVersion": {
          "description": "Provide a reference number that can be used to understand how to parse and interpret the rest of the file",
          "type": "string"
        }
      }
    },
    "ExploitPredictionScoringSystem": {
      "properties": {
        "score": {
          "description": "Optional. The EPSS score representing the probability [0-1] of exploitation in the wild in the next 30 days",
          "type": "number",
          "format": "double"
        },
        "percentile": {
          "description": "Optional. The percentile of the current score, the proportion of all scored vulnerabilities with the same or a lower EPSS score",
          "type": "number",
          "format": "double"
        }
      },
      "description": "ExploitPredictionScoringSystem provides information about the Exploit Prediction Scoring System (EPSS) score and percentile.",
      "id": "ExploitPredictionScoringSystem",
      "type": "object"
    },
    "ComplianceNote": {
      "id": "ComplianceNote",
      "description": "ComplianceNote encapsulates all information about a specific compliance check.",
      "type": "object",
      "properties": {
        "scanInstructions": {
          "type": "string",
          "description": "Serialized scan instructions with a predefined format.",
          "format": "byte"
        },
        "version": {
          "description": "The OS and config versions the benchmark applies to.",
          "items": {
            "$ref": "ComplianceVersion"
          },
          "type": "array"
        },
        "remediation": {
          "description": "A description of remediation steps if the compliance check fails.",
          "type": "string"
        },
        "cisBenchmark": {
          "description": "Right now we only have one compliance type, but we may add additional types in the future.",
          "$ref": "CisBenchmark"
        },
        "rationale": {
          "description": "A rationale for the existence of this compliance check.",
          "type": "string"
        },
        "description": {
          "description": "A description about this compliance check.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title that identifies this compliance check."
        },
        "impact": {
          "description": "Potential impact of the suggested remediation",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Dependency": {
      "description": "A dependency that the Cloud Build worker will fetch before executing user steps.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Dependency",
      "properties": {
        "empty": {
          "type": "boolean",
          "description": "If set to true disable all dependency fetching (ignoring the default source as well)."
        },
        "genericArtifact": {
          "description": "Represents a generic artifact as a build dependency.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency"
        },
        "gitSource": {
          "description": "Represents a git repository as a build dependency.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency"
        }
      }
    },
    "License": {
      "type": "object",
      "properties": {
        "comments": {
          "description": "Comments",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\"."
        }
      },
      "id": "License",
      "description": "License information."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial": {
      "type": "object",
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Collection of cryptographic digests for the contents of this artifact.",
          "type": "object"
        },
        "uri": {
          "type": "string",
          "description": "The method by which this artifact was referenced during the build."
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial"
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "type": "object",
      "description": "A list of scan configs for the project.",
      "properties": {
        "scanConfigs": {
          "description": "The set of scan configs.",
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          }
        },
        "nextPageToken": {
          "description": "A page token to pass in order to get more scan configs.",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
      "type": "object",
      "properties": {
        "approverAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
        },
        "url": {
          "type": "string",
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
        },
        "approvalTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the approval decision was made."
        },
        "comment": {
          "type": "string",
          "description": "Optional. An optional comment for this manual approval result."
        },
        "decision": {
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "description": "Required. The decision of this manual approval.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
    },
    "UpgradeOccurrence": {
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability).",
      "id": "UpgradeOccurrence",
      "properties": {
        "parsedVersion": {
          "description": "Required - The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        },
        "package": {
          "type": "string",
          "description": "Required - The package this Upgrade is for."
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep": {
      "description": "A step in the build pipeline.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
        },
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "type": "array"
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "results": {
          "type": "array",
          "description": "Declaration of results for this build step.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult"
          }
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ]
        },
        "volumes": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          },
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "timeout": {
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "type": "string",
          "format": "google-duration"
        },
        "allowExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence."
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "pullTiming": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "readOnly": true
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption."
        },
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        },
        "waitFor": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
        },
        "allowFailure": {
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field.",
          "type": "boolean"
        },
        "exitCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Return code from running the step."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource",
      "description": "Location of the source in a Google Cloud Source Repository.",
      "properties": {
        "invertRegex": {
          "type": "boolean",
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "projectId": {
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "repoName": {
          "description": "Required. Name of the Cloud Source Repository.",
          "type": "string"
        },
        "substitutions": {
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tagName": {
          "type": "string",
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "branchName": {
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        }
      }
    },
    "Metadata": {
      "description": "Other properties of the build.",
      "properties": {
        "buildFinishedOn": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of when the build completed."
        },
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "Completeness"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        }
      },
      "type": "object",
      "id": "Metadata"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedGenericArtifact": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedGenericArtifact",
      "description": "A generic artifact uploaded to Artifact Registry using the GenericArtifact directive.",
      "properties": {
        "pushTiming": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact."
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        },
        "artifactFingerprint": {
          "description": "Output only. The hash of the whole artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. URI of the uploaded artifact. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "type": "string",
          "readOnly": true
        },
        "fileHashes": {
          "description": "Output only. The file hashes that make up the generic artifact.",
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
          },
          "readOnly": true,
          "type": "object"
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "description": "This config defines the location of a source through Developer Connect.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
      "type": "object",
      "properties": {
        "gitRepositoryLink": {
          "type": "string",
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
        },
        "dir": {
          "description": "Required. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        },
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest"
    },
    "PackageIssue": {
      "properties": {
        "fixedLocation": {
          "description": "The location of the available fix for vulnerability.",
          "$ref": "VulnerabilityLocation"
        },
        "affectedLocation": {
          "description": "The location of the vulnerability.",
          "$ref": "VulnerabilityLocation"
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when distro or language system has not yet assigned a severity for this vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "readOnly": true
        },
        "severityName": {
          "type": "string"
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PackageIssue",
      "description": "This message wraps a location affected by a vulnerability and its associated fix (if one is available)."
    },
    "Basis": {
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the base image.",
          "$ref": "Fingerprint"
        },
        "resourceUrl": {
          "type": "string",
          "description": "The resource_url for the resource representing the basis of associated occurrence images."
        }
      },
      "type": "object",
      "id": "Basis",
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url."
    },
    "FileNote": {
      "description": "FileNote represents an SPDX File Information section: https://spdx.github.io/spdx-spec/4-file-information/",
      "properties": {
        "title": {
          "description": "Identify the full path and filename that corresponds to the file information in this section",
          "type": "string"
        },
        "checksum": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Provide a unique identifier to match analysis information on each specific file in a package"
        },
        "fileType": {
          "description": "This field provides information about the type of file identified",
          "type": "string",
          "enum": [
            "FILE_TYPE_UNSPECIFIED",
            "SOURCE",
            "BINARY",
            "ARCHIVE",
            "APPLICATION",
            "AUDIO",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "DOCUMENTATION",
            "SPDX",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified",
            "The file is human readable source code (.c, .html, etc.)",
            "The file is a compiled object, target image or binary executable (.o, .a, etc.)",
            "The file represents an archive (.tar, .jar, etc.)",
            "The file is associated with a specific application type (MIME type of application/*)",
            "The file is associated with an audio file (MIME type of audio/* , e.g. .mp3)",
            "The file is associated with an picture image file (MIME type of image/*, e.g., .jpg, .gif)",
            "The file is human readable text file (MIME type of text/*)",
            "The file is associated with a video file type (MIME type of video/*)",
            "The file serves as documentation",
            "The file is an SPDX document",
            "The file doesn't fit into the above categories (generated artifacts, data files, etc.)"
          ]
        }
      },
      "id": "FileNote",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption",
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "type": "object"
    },
    "Discovery": {
      "properties": {
        "analysisKind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ],
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "description": "The kind of analysis that is handled by this discovery."
        }
      },
      "id": "Discovery",
      "type": "object",
      "description": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis. The occurrence's operation will indicate the status of the analysis. Absence of an occurrence linked to this note for a resource indicates that analysis hasn't started."
    },
    "RunDetails": {
      "id": "RunDetails",
      "properties": {
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "BuildMetadata"
        },
        "builder": {
          "$ref": "ProvenanceBuilder"
        }
      },
      "type": "object"
    },
    "PgpSignedAttestation": {
      "properties": {
        "contentType": {
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "type": "string",
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema)."
        },
        "pgpKeyId": {
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload."
        }
      },
      "id": "PgpSignedAttestation",
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "type": "object"
    },
    "PackageInfoOccurrence": {
      "type": "object",
      "id": "PackageInfoOccurrence",
      "properties": {
        "filename": {
          "type": "string",
          "description": "Provide the actual file name of the package, or path of the directory being treated as a package"
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Identify the full name of the package as given by the Package Originator",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "A place for the SPDX file creator to record any general comments about the package being described"
        },
        "homePage": {
          "description": "Output only. Provide a place for the SPDX file creator to record a web site that serves as the package's home page",
          "readOnly": true,
          "type": "string"
        },
        "licenseConcluded": {
          "description": "package or alternative values, if the governing license cannot be determined",
          "$ref": "License"
        },
        "id": {
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements",
          "type": "string"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Identify the version of the package",
          "type": "string"
        },
        "summaryDescription": {
          "readOnly": true,
          "description": "Output only. A short description of the package",
          "type": "string"
        },
        "sourceInfo": {
          "type": "string",
          "description": "Provide a place for the SPDX file creator to record any relevant background information or additional comments about the origin of the package"
        },
        "packageType": {
          "description": "Output only. The type of package: OS, MAVEN, GO, GO_STDLIB, etc.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "PackageInfoOccurrence represents an SPDX Package Information section: https://spdx.github.io/spdx-spec/3-package-information/"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SecretLocation": {
      "type": "object",
      "description": "The location of the secret.",
      "properties": {
        "fileLocation": {
          "$ref": "FileLocation",
          "description": "The secret is found from a file."
        }
      },
      "id": "SecretLocation"
    },
    "VulnerabilityLocation": {
      "properties": {
        "fileLocation": {
          "type": "array",
          "description": "The file location at which this package was found.",
          "items": {
            "$ref": "FileLocation"
          }
        },
        "package": {
          "description": "The package being described.",
          "type": "string"
        },
        "version": {
          "description": "The version of the package being described. This field can be used as a filter in list requests.",
          "$ref": "Version"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests."
        }
      },
      "type": "object",
      "id": "VulnerabilityLocation",
      "description": "The location of the vulnerability"
    },
    "Deployable": {
      "type": "object",
      "id": "Deployable",
      "properties": {
        "resourceUri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource URI for the artifact being deployed."
        }
      },
      "description": "An artifact that can be deployed in some runtime."
    },
    "Justification": {
      "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Additional details on why this justification was chosen."
        },
        "justificationType": {
          "enum": [
            "JUSTIFICATION_TYPE_UNSPECIFIED",
            "COMPONENT_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH",
            "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY",
            "INLINE_MITIGATIONS_ALREADY_EXIST"
          ],
          "description": "The justification type for this vulnerability.",
          "enumDescriptions": [
            "JUSTIFICATION_TYPE_UNSPECIFIED.",
            "The vulnerable component is not present in the product.",
            "The vulnerable code is not present. Typically this case occurs when source code is configured or built in a way that excludes the vulnerable code.",
            "The vulnerable code can not be executed. Typically this case occurs when the product includes the vulnerable code but does not call or use the vulnerable code.",
            "The vulnerable code cannot be controlled by an attacker to exploit the vulnerability.",
            "The product includes built-in protections or features that prevent exploitation of the vulnerability. These built-in protections cannot be subverted by the attacker and cannot be configured or disabled by the user. These mitigations completely prevent exploitation based on known attack vectors."
          ],
          "type": "string"
        }
      },
      "id": "Justification"
    },
    "SBOMReferenceOccurrence": {
      "type": "object",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "properties": {
        "signatures": {
          "description": "The signatures over the payload.",
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        },
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        },
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        }
      },
      "id": "SBOMReferenceOccurrence"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult",
      "properties": {
        "name": {
          "description": "Required. The name of the result.",
          "type": "string"
        },
        "attestationContent": {
          "type": "string",
          "description": "Optional. The content of the attestation to be generated."
        },
        "attestationType": {
          "description": "Optional. The type of attestation to be generated.",
          "type": "string"
        }
      },
      "description": "StepResult is the declaration of a result for a build step."
    },
    "WorkspacePolicyResult": {
      "properties": {
        "verdict": {
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "type": "string",
          "description": "Optional. Verdict of the scan.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "scanState": {
          "readOnly": true,
          "enum": [
            "SCAN_STATE_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan state.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Output only. State of the scan.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WorkspacePolicyResult",
      "description": "Result of Workspace Policy scan."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest": {
      "type": "object",
      "description": "Location of the source manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
      "properties": {
        "bucket": {
          "description": "Required. Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source manifest. This object must be a JSON file."
        },
        "generation": {
          "description": "Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest"
    },
    "Recipe": {
      "id": "Recipe",
      "properties": {
        "arguments": {
          "type": "array",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64",
          "type": "string"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "type": "object"
    },
    "SlsaProvenance": {
      "type": "object",
      "id": "SlsaProvenance",
      "properties": {
        "metadata": {
          "description": "metadata is the metadata of the provenance",
          "$ref": "SlsaMetadata"
        },
        "materials": {
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "$ref": "Material"
          }
        },
        "builder": {
          "$ref": "SlsaBuilder",
          "description": "builder is the builder of this provenance"
        },
        "recipe": {
          "$ref": "SlsaRecipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible)."
        }
      },
      "description": "SlsaProvenance is the slsa provenance as defined by the slsa spec."
    },
    "Note": {
      "id": "Note",
      "description": "Provides a detailed description of a `Note`.",
      "type": "object",
      "properties": {
        "longDescription": {
          "type": "string",
          "description": "A detailed description of this `Note`."
        },
        "kind": {
          "description": "Output only. This explicitly denotes which kind of note is specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ]
        },
        "spdxPackage": {
          "$ref": "PackageInfoNote",
          "description": "A note describing an SPDX Package."
        },
        "upgrade": {
          "description": "A note describing an upgrade.",
          "$ref": "UpgradeNote"
        },
        "package": {
          "$ref": "Package",
          "description": "A note describing a package hosted by various package managers."
        },
        "aiSkillAnalysis": {
          "description": "A note describing an AI skill analysis.",
          "$ref": "AISkillAnalysisNote"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests."
        },
        "sbomReference": {
          "$ref": "SBOMReferenceNote",
          "description": "A note describing a reference to an SBOM."
        },
        "buildType": {
          "$ref": "BuildType",
          "description": "Build provenance type for a verifiable build."
        },
        "deployable": {
          "description": "A note describing something that can be deployed.",
          "$ref": "Deployable"
        },
        "vulnerabilityType": {
          "$ref": "VulnerabilityType",
          "description": "A package vulnerability type of note."
        },
        "vulnerabilityAssessment": {
          "$ref": "VulnerabilityAssessmentNote",
          "description": "A note describing a vulnerability assessment."
        },
        "baseImage": {
          "description": "A note describing a base image.",
          "$ref": "Basis"
        },
        "spdxFile": {
          "description": "A note describing an SPDX File.",
          "$ref": "FileNote"
        },
        "compliance": {
          "description": "A note describing a compliance check.",
          "$ref": "ComplianceNote"
        },
        "spdxRelationship": {
          "description": "A note describing a relationship between SPDX elements.",
          "$ref": "RelationshipNote"
        },
        "dsseAttestation": {
          "$ref": "DSSEAttestationNote",
          "description": "A note describing a dsse attestation note."
        },
        "expirationTime": {
          "type": "string",
          "description": "Time of expiration for this note, null if note does not expire.",
          "format": "google-datetime"
[...]
