{
  "revision": "20260825",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1mainQaQuestionTag": {
      "type": "object",
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc.",
      "id": "GoogleCloudContactcenterinsightsV1mainQaQuestionTag",
      "properties": {
        "displayName": {
          "description": "Required. A user-specified display name for the tag.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the question tag was created.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the question tag was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "qaQuestionIds": {
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAuthorizedViewsResponse": {
      "type": "object",
      "properties": {
        "authorizedViews": {
          "type": "array",
          "description": "The AuthorizedViews under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response from a ListAuthorizedViews request.",
      "id": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment",
      "properties": {
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio that the data applies to.",
          "format": "int32"
        },
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "Data specifying sentiment."
        }
      },
      "type": "object",
      "description": "One channel of conversation-level sentiment data."
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput": {
      "properties": {
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        },
        "generatorName": {
          "type": "string",
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`"
        },
        "querySource": {
          "type": "string",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "description": "Query source for the answer."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput",
      "type": "object",
      "description": "Explicit input used for generating the answer"
    },
    "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest": {
      "type": "object",
      "properties": {},
      "description": "The message to finalize an assessment. Finalizing makes an assessment and its notes immutable.",
      "id": "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest"
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource": {
      "type": "object",
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource",
      "properties": {
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue"
        },
        "sourceType": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "description": "What created the answer.",
          "type": "string",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ]
        }
      }
    },
    "GoogleCloudCesV1mainAgentTransfer": {
      "type": "object",
      "id": "GoogleCloudCesV1mainAgentTransfer",
      "properties": {
        "targetAgent": {
          "type": "string",
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the agent.",
          "type": "string"
        }
      },
      "description": "Represents an event indicating the transfer of a conversation to a different agent."
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList": {
      "description": "Container for a list of scorecards.",
      "properties": {
        "qaScorecardRevisions": {
          "type": "array",
          "description": "List of QaScorecardRevisions.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestion": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestion",
      "type": "object",
      "properties": {
        "predefinedQuestionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig",
          "description": "The configuration of the predefined question. This field will only be set if the Question Type is predefined."
        },
        "qaQuestionDataOptions": {
          "description": "Options for configuring the data used to generate the QA question.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionQaQuestionDataOptions"
        },
        "tuningMetadata": {
          "description": "Metadata about the tuning operation for the question.This field will only be populated if and only if the question is part of a scorecard revision that has been tuned.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata"
        },
        "tags": {
          "description": "Questions are tagged for categorization and scoring. Tags can either be: - Default Tags: These are predefined categories. They are identified by their string value (e.g., \"BUSINESS\", \"COMPLIANCE\", and \"CUSTOMER\"). - Custom Tags: These are user-defined categories. They are identified by their full resource name (e.g., projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag}). Both default and custom tags are used to group questions and to influence the scoring of each question.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "questionBody": {
          "description": "Question text. E.g., \"Did the agent greet the customer?\"",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32",
          "description": "Defines the order of the question within its parent scorecard revision."
        },
        "createTime": {
          "description": "Output only. The time at which this question was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the question was updated.",
          "type": "string",
          "readOnly": true
        },
        "metrics": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionMetrics",
          "description": "Metrics of the underlying tuned LLM over a holdout/test set while fine tuning the underlying LLM for the given question. This field will only be populated if and only if the question is part of a scorecard revision that has been tuned."
        },
        "abbreviation": {
          "description": "Short, descriptive string, used in the UI where it's not practical to display the full question body. E.g., \"Greeting\".",
          "type": "string"
        },
        "questionType": {
          "description": "The type of question.",
          "enum": [
            "QA_QUESTION_TYPE_UNSPECIFIED",
            "CUSTOMIZABLE",
            "PREDEFINED"
          ],
          "enumDescriptions": [
            "The type of the question is unspecified.",
            "The default question type. The question is fully customizable by the user.",
            "The question type is using a predefined model provided by CCAI teams. Users are not allowed to edit the question_body, answer_choices, upload feedback labels for the question nor fine-tune the question. However, users may edit other fields like question tags, question order, etc."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}"
        },
        "answerChoices": {
          "description": "A list of valid answers to the question, which the LLM must choose from.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice"
          },
          "type": "array"
        },
        "answerInstructions": {
          "description": "Instructions describing how to determine the answer.",
          "type": "string"
        }
      },
      "description": "A single question to be scored by the Insights QA feature."
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse",
      "description": "Response from export issue model",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "double",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1]."
        },
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then."
        },
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        }
      },
      "description": "Information about the issue."
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to deploy."
        }
      },
      "description": "The request to deploy an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1StreamChatResponse": {
      "id": "GoogleCloudContactcenterinsightsV1StreamChatResponse",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "The unique ID of the event."
        },
        "eventTime": {
          "description": "The time when the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "chunk": {
          "description": "A chunk of the assistant response message.",
          "$ref": "GoogleCloudContactcenterinsightsV1AssistantChunk"
        },
        "statusMessage": {
          "type": "string",
          "description": "A status message."
        }
      },
      "description": "Response from streaming chat."
    },
    "GoogleCloudContactcenterinsightsV1AutoLabelingRule": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the rule.",
          "type": "string"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition"
          },
          "description": "Conditions to apply for auto-labeling the label_key. Representing sequential block of if .. else if .. else statements. The value of the first matching condition will be used.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this rule was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time at which the rule was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "labelKeyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified label key type.",
            "The label key is custom defined by the user."
          ],
          "description": "The type of the label key.",
          "enum": [
            "LABEL_KEY_TYPE_UNSPECIFIED",
            "LABEL_KEY_TYPE_CUSTOM"
          ]
        },
        "displayName": {
          "description": "The user-provided display name of the rule.",
          "type": "string"
        },
        "active": {
          "description": "Whether the rule is active.",
          "type": "boolean"
        },
        "labelKey": {
          "type": "string",
          "description": "The label key. This is also the {auto_labeling_rule} in the resource name. Only settable if label_key_type is LABEL_KEY_TYPE_CUSTOM."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the auto-labeling rule. Format: projects/{project}/locations/{location}/autoLabelingRules/{auto_labeling_rule}"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AutoLabelingRule",
      "description": "Rule for auto-labeling conversations."
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResult": {
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResult",
      "type": "object",
      "description": "The results of scoring a single conversation against a QaScorecard. Contains a collection of QaAnswers and aggregate score.",
      "properties": {
        "qaTagResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult"
          },
          "description": "Collection of tags and their scores.",
          "type": "array"
        },
        "conversation": {
          "description": "The conversation scored by this result.",
          "type": "string"
        },
        "qaAnswers": {
          "description": "Set of QaAnswers represented in the result.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswer"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "agentId": {
          "description": "ID of the agent that handled the conversation.",
          "type": "string"
        },
        "scoreSources": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource"
          },
          "type": "array",
          "description": "List of all individual score sets."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the scorecard result. Format: projects/{project}/locations/{location}/qaScorecardResults/{qa_scorecard_result}"
        },
        "qaScorecardRevision": {
          "type": "string",
          "description": "The QaScorecardRevision scored by this result."
        },
        "score": {
          "format": "double",
          "description": "The overall numerical score of the result, incorporating any manual edits if they exist.",
          "type": "number"
        },
        "potentialScore": {
          "format": "double",
          "type": "number",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation."
        },
        "normalizedScore": {
          "type": "number",
          "format": "double",
          "description": "The normalized score, which is the score divided by the potential score. Any manual edits are included if they exist."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsMetadata",
      "properties": {
        "resultIsTruncated": {
          "type": "boolean",
          "description": "Whether the result rows were truncated because the result row size is too large to materialize."
        }
      },
      "type": "object",
      "description": "The metadata from querying metrics."
    },
    "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse": {
      "properties": {
        "labelResult": {
          "description": "The result of the test auto labeling rule.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleResponse",
      "description": "The response message for testing auto labeling rules.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleRule": {
      "type": "object",
      "properties": {
        "conversationFilter": {
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations.",
          "type": "string"
        },
        "dimension": {
          "type": "string",
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'."
        },
        "samplePercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100]."
        },
        "sampleRow": {
          "description": "Number of the conversations that we should sample based on the dimension.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Message for sampling conversations.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleRule"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "type": "object",
      "description": "A media part.",
      "properties": {
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        },
        "alternativeText": {
          "type": "string",
          "description": "Optional. Alternative text description."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse": {
      "type": "object",
      "properties": {
        "successfulAnalysisCount": {
          "description": "Count of successful analyses.",
          "format": "int32",
          "type": "integer"
        },
        "failedAnalysisCount": {
          "description": "Count of failed analyses.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse",
      "description": "The response for a bulk analyze conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
          "description": "The original request for deployment."
        }
      },
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationRule": {
      "description": "A correlation rule that defines how to join conversations for a given correlation type.",
      "id": "GoogleCloudContactcenterinsightsV1CorrelationRule",
      "type": "object",
      "properties": {
        "joinKeyExpression": {
          "description": "Optional. A cel expression (go/cel) to be evaluated as a string value. This string value will be used as the join key for the correlation.",
          "type": "string"
        },
        "ruleId": {
          "description": "Required. The unique identifier of the rule.",
          "type": "string"
        },
        "constraintExpression": {
          "description": "Optional. A cel expression (go/cel) to be evaluated as a boolean value. Two variables conversation_a and conversation_b will be available for evaluation. This expression should evaluate to true if conversation_a and conversation_b should be joined. This is used as an extra constraint on top of the join_key_expression to further refine the group of conversations that are joined together and will be evaluated in both directions. for two conversations c1 and c2 and the result will be OR'd. We will evaluate: f(c1, c2) OR f(c2, c1)",
          "type": "string"
        },
        "active": {
          "description": "Optional. Whether the config is active to be evaluated.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "properties": {
        "chips": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip"
          },
          "description": "Optional. List of suggestion chips.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A suggestion chips part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart"
    },
    "GoogleCloudContactcenterinsightsV1mainGcsSource": {
      "description": "A Cloud Storage source of conversation data.",
      "properties": {
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        },
        "audioUri": {
          "description": "Immutable. Deprecated: Use `audio_uris` instead. Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string",
          "deprecated": true
        },
        "audioUris": {
          "type": "array",
          "description": "Immutable. Cloud Storage URIs that point to files that contain the conversation audio. Supports both single audio files and multi-leg session recordings (e.g., call transfers, rolling recording buffers).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainGcsSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata",
      "properties": {
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata used for export issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata": {
      "properties": {
        "partialErrors": {
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "sampledConversations": {
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "ingestConversationsStats": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats",
          "description": "Output only. Statistics for IngestConversations operation."
        },
        "request": {
          "description": "Output only. The original request for ingest.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata",
      "description": "The metadata for an IngestConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata": {
      "properties": {},
      "description": "The metadata for querying performance overview.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest": {
      "description": "The request to test correlation config.",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Filter to select conversations to test correlation against. Conversations matching this filter will be sampled based on start time. The most recent `max_sample_count` conversations will be selected. If no conversations match the filter, the request will fail with an `INVALID_ARGUMENT` error.",
          "type": "string"
        },
        "conversations": {
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations",
          "description": "Optional. A list of conversations to test against."
        },
        "correlationConfig": {
          "description": "Required. The correlation config to test.",
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
        },
        "maxSampleCount": {
          "type": "integer",
          "description": "Optional. The maximum number of conversations to sample when using the `filter`. If not set, defaults to 1000. Values greater than 1000 are coerced to 1000. This field is ignored if `conversations` is provided.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ListAllFeedbackLabelsResponse": {
      "properties": {
        "feedbackLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
          },
          "description": "The feedback labels that match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ListAllFeedbackLabelsResponse",
      "description": "The response for listing all feedback labels.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata": {
      "description": "Metadata about the client sentiment category dimension.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata",
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation": {
      "description": "An annotation that was generated during the customer and agent interaction.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation",
      "properties": {
        "endBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnswerFeedback"
        },
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSmartReplyData",
          "description": "Agent Assist Smart Reply data."
        },
        "faqAnswer": {
          "description": "Agent Assist FAQ answer data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainFaqAnswerData"
        },
        "cesEndSessionAnnotation": {
          "description": "The CES end session annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainCesEndSessionAnnotation"
        },
        "userInput": {
          "description": "Explicit input used for generating the answer",
          "$ref": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationUserInput"
        },
        "cesTurnAnnotation": {
          "description": "The CES turn annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation"
        },
        "dialogflowInteraction": {
          "description": "Dialogflow interaction data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowInteractionData"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this annotation was created."
        },
        "annotationId": {
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}",
          "type": "string"
        },
        "conversationSummarizationSuggestion": {
          "description": "Conversation summarization suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData"
        },
        "startBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "smartComposeSuggestion": {
          "description": "Agent Assist Smart Compose suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSmartComposeSuggestionData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
      "description": "Request to import an issue model.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "description": "A custom payload part.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Optional. Arbitrary structured payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "payloadType": {
          "description": "Optional. Type identifier for the payload.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage",
      "description": "The user message.",
      "properties": {
        "text": {
          "type": "string",
          "description": "A message from the user that is interacting with the system."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
      "properties": {
        "runEntityAnnotator": {
          "description": "Whether to run the entity annotator.",
          "type": "boolean"
        },
        "issueModels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
        },
        "runQaAnnotator": {
          "description": "Whether to run the QA annotator.",
          "type": "boolean"
        },
        "runInterruptionAnnotator": {
          "type": "boolean",
          "description": "Whether to run the interruption annotator."
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "qaConfig": {
          "description": "Configuration for the QA annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfig"
        },
        "runIssueModelAnnotator": {
          "type": "boolean",
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect."
        },
        "phraseMatchers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "runSentimentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the sentiment annotator."
        },
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig"
        },
        "runAutoLabelingAnnotator": {
          "description": "Optional. Whether to run the auto-labeling annotator. If true, the auto-labeling annotator will be run. This is a non-billable operation designed for fixing or backfilling custom labels.",
          "type": "boolean"
        },
        "runPhraseMatcherAnnotator": {
          "description": "Whether to run the active phrase matcher annotator(s).",
          "type": "boolean"
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Selector of all available annotators and phrase matchers to run."
    },
    "GoogleCloudContactcenterinsightsV1SilenceData": {
      "properties": {},
      "description": "The data for a silence annotation.",
      "id": "GoogleCloudContactcenterinsightsV1SilenceData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest",
      "description": "The request to delete conversations in bulk.",
      "properties": {
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
        },
        "maxDeleteCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of conversations to delete."
        },
        "parent": {
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata": {
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest",
          "readOnly": true,
          "description": "Output only. The original request for delete."
        },
        "partialErrors": {
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata",
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1mainListAllFeedbackLabelsResponse": {
      "type": "object",
      "properties": {
        "feedbackLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "description": "The feedback labels that match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainListAllFeedbackLabelsResponse",
      "description": "The response for listing all feedback labels."
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse",
      "type": "object",
      "properties": {},
      "description": "The response to an IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice",
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dimension"
          },
          "description": "A unique combination of dimensions that this slice represents."
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
        },
        "timeSeries": {
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig": {
      "properties": {
        "runtimeIntegrationAnalysisPercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of conversations created using Dialogflow runtime integration to analyze automatically, between [0, 100]."
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "uploadConversationAnalysisPercentage": {
          "description": "Percentage of conversations created using the UploadConversation endpoint to analyze automatically, between [0, 100].",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig",
      "description": "Default configuration when creating Analyses in Insights.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartCitationPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartCitationPart",
      "description": "A citation part.",
      "properties": {
        "sourceUri": {
          "type": "string",
          "description": "Optional. The cited source URI."
        },
        "sourceTitle": {
          "description": "Optional. The cited source title.",
          "type": "string"
        },
        "snippet": {
          "description": "Optional. Snippet of the cited text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest": {
      "properties": {
        "naturalLanguageQuery": {
          "type": "string",
          "description": "The natural language query specified by the user. If this field is specified, `sql_query` will be ignored."
        },
        "chart": {
          "type": "string",
          "description": "The full name of the chart resource this request corresponds to. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "comparisonFilter": {
          "type": "string",
          "description": "Optional. Filter for the data that can be specified in addition to the natural language query. This `filter` is specifically used for charts where comparisons are possible. For example, \"compare to last month\" or \"compare to previous quarter\"."
        },
        "sqlComparisonKey": {
          "description": "Optional. For charts with comparison, this key will determine the metric that will be compared between the current and another dataset.",
          "type": "string"
        },
        "sqlQuery": {
          "type": "string",
          "description": "Optional. The SQL query specified by the user. This query must be in BigQuery SQL dialect. The `filter` field will also be ignored, as it is assumed that any filtering is already included in the SQL query."
        },
        "revisionId": {
          "description": "Optional. The revision id that maps to the state of the chart state revision. When specified, the backend will reload the chart with the sql and visual spec from that revision.",
          "type": "string"
        },
        "userProvidedChartSpec": {
          "type": "object",
          "description": "Optional. The user provided chart spec for the chart. This will be used to override the visual spec generated by the LLM.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sessionId": {
          "type": "string",
          "description": "Optional. The session id of the conversation. If the session id is not specified, backend will generate a random session id. If the session id is specified, will associate user-provided user_query with the provided session id."
        },
        "filter": {
          "description": "Filter for the data that can be specified in addition to the natural language query. Users are encouraged to use this field to populate time-windows.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for generative insights.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "type": "object",
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The thought or reasoning text.",
          "type": "string"
        }
      },
      "description": "A thought part.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text of the list item.",
          "type": "string"
        },
        "subItems": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "description": "Optional. Nested sub-items."
        }
      },
      "description": "An item in a list."
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata": {
      "description": "Metadata used for import issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
          "description": "The original import request."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource": {
      "type": "object",
      "description": "The entity whose performance is being queried is a single agent.",
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequestAgentSource",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Required. Agent id to query performance overview for."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "type": "object",
      "properties": {
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileEndToEndLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level."
        },
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
        },
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        }
      },
      "description": "The measure related to dialogflow interactions.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata": {
      "type": "object",
      "properties": {
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "partialErrors": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
          "description": "The original request for bulk analyze."
        },
        "relabel": {
          "readOnly": true,
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        },
        "totalRequestedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request."
        },
        "failedAnalysesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of requested analyses that have failed so far."
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for a bulk analyze conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata",
      "properties": {
        "resultIsTruncated": {
          "description": "Whether the result rows were truncated because the result row size is too large to materialize.",
          "type": "boolean"
        }
      },
      "description": "The metadata from querying metrics.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart": {
      "description": "A thought part.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The thought or reasoning text.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo",
      "description": "Information about an agent involved in the conversation.",
      "properties": {
        "teams": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User-specified strings representing the agent's teams."
        },
        "agentType": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "description": "The agent type, e.g. HUMAN_AGENT.",
          "type": "string"
        },
        "entrySubagentId": {
          "type": "string",
          "description": "The entry subagent's ID."
        },
        "displayName": {
          "description": "The agent's name.",
          "type": "string"
        },
        "deploymentDisplayName": {
          "type": "string",
          "description": "The agent's deployment display name. Only applicable to automated agents."
        },
        "deploymentId": {
          "type": "string",
          "description": "The agent's deployment ID. Only applicable to automated agents."
        },
        "entrySubagentDisplayName": {
          "description": "The entry subagent's display name.",
          "type": "string"
        },
        "dispositionCode": {
          "type": "string",
          "description": "A user-provided string indicating the outcome of the agent's segment of the call."
        },
        "versionId": {
          "description": "The agent's version ID. Only applicable to automated agents.",
          "type": "string"
        },
        "location": {
          "description": "The agent's location.",
          "type": "string"
        },
        "versionDisplayName": {
          "description": "The agent's version display name. Only applicable to automated agents.",
          "type": "string"
        },
        "agentId": {
          "description": "A user-specified string representing the agent.",
          "type": "string"
        },
        "team": {
          "description": "A user-specified string representing the agent's team. Deprecated in favor of the `teams` field.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSilenceData": {
      "properties": {},
      "type": "object",
      "description": "The data for a silence annotation.",
      "id": "GoogleCloudContactcenterinsightsV1mainSilenceData"
    },
    "GoogleCloudContactcenterinsightsV1QaScorecard": {
      "description": "A QaScorecard represents a collection of questions to be scored during analysis.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecard",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this scorecard was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the scorecard was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "A text description explaining the intent of the scorecard."
        },
        "source": {
          "enum": [
            "QA_SCORECARD_SOURCE_UNSPECIFIED",
            "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
            "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE",
            "QA_SCORECARD_SOURCE_INTENT_TAXONOMY"
          ],
          "readOnly": true,
          "description": "Output only. The source of the scorecard.",
          "type": "string",
          "enumDescriptions": [
            "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
            "The scorecard is a custom scorecard created by the user.",
            "The scorecard is a scorecard created through discovery engine deployment.",
            "The scorecard is derived from the custom intent taxonomy. Customers can edit question content, but cannot delete the scorecard or add/remove questions."
          ]
        },
        "displayName": {
          "description": "The user-specified display name of the scorecard.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether the scorecard is the default one for the project. A default scorecard cannot be deleted and will always appear first in scorecard selector."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The scorecard name. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT."
        }
      },
      "description": "Metadata about the conversation medium dimension."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse": {
      "properties": {
        "summaryText": {
          "type": "string",
          "description": "The summary text of the performance."
        }
      },
      "description": "The response for querying performance overview.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse": {
      "description": "The response for querying metrics.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponse",
      "properties": {
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The metrics last update time."
        },
        "slices": {
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
          },
          "type": "array"
        },
        "location": {
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest": {
      "description": "The request to sample conversations to a dataset.",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDataset",
          "description": "The dataset resource to copy the sampled conversations to."
        },
        "sampleRule": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSampleRule",
          "description": "Optional. The sample rule used for sampling conversations."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the dataset."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "description": "An error that occurred during correlation for a specific conversation.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status."
        },
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`",
          "type": "string"
        }
      },
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "type": "object",
      "description": "A media part.",
      "properties": {
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        },
        "alternativeText": {
          "description": "Optional. Alternative text description.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsResponse",
      "type": "object",
      "description": "The response to an SampleConversations operation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata",
      "description": "The metadata for generative insights.",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The error message when the generative insights request fails."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Dashboard": {
      "description": "Configurable dashboard",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Filter applied to all charts in the dashboard. Should support scope later."
        },
        "rootContainer": {
          "$ref": "GoogleCloudContactcenterinsightsV1Container",
          "description": "The dashboard's root widget container. We want to display the dashboard layout in a tree-like structure, where the root container contains other widgets (containers or charts) as children."
        },
        "readOnly": {
          "description": "Output only. Whether the dashboard is read-only. All predefined dashboards are read-only and cannot be modified by the user.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "description": "User provided display name of the dashboard.",
          "type": "string"
        },
        "dateRangeConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig",
          "description": "Date range config applied to all charts in the dashboard."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Dashboard resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Dashboard creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Dashboard last update time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Dashboard description"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Dashboard"
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest",
      "description": "The request to export insights.",
      "properties": {
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
        },
        "writeDisposition": {
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "description": "Options for what to do if the destination table already exists.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination"
        },
        "exportSchemaVersion": {
          "type": "string",
          "description": "Optional. Version of the export schema.",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ]
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelMetadata": {
      "description": "Metadata for undeploying an issue model.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest",
          "description": "The original request for undeployment."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "properties": {
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        }
      },
      "description": "An error that occurred during correlation for a specific conversation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for deletion.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest"
        }
      },
      "description": "Metadata for deleting an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "description": "Explicit input used for generating the answer",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput",
      "properties": {
        "querySource": {
          "type": "string",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "description": "Query source for the answer.",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ]
        },
        "query": {
          "type": "string",
          "description": "Query text. Article Search uses this to store the input query used to generate the search results."
        },
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "properties": {
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new conversations."
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig"
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
        },
        "sampleSize": {
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "format": "int32",
          "type": "integer"
        },
        "conversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig",
          "description": "Configuration that applies to all conversations."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
      "description": "The request to ingest conversations."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text content.",
          "type": "string"
        }
      },
      "description": "A text part.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "type": "object",
      "description": "A message representing a rule in the phrase matcher.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "description": "Required. The type of this phrase match rule group.",
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "type": "string"
        },
        "phraseMatchRules": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          },
          "type": "array",
          "description": "A list of phrase match rules that are included in this group."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "type": "object",
      "description": "The issue model resource.",
      "properties": {
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "description": "Type of the model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ]
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig"
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "description": "Output only. State of the model.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "readOnly": true
        },
        "issueCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of issues in this issue model.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this issue model was created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the issue model was updated."
        },
        "trainingStats": {
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueModel"
    },
    "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest": {
      "id": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest",
      "type": "object",
      "description": "The message to publish an assessment. Draft and appealed assessments can be published. Publishing simply changes the state of the assessment to published, allowing the console and authorized views to filter on the state.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1RegexMatchConfig": {
      "properties": {},
      "description": "Regex match configuration.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1RegexMatchConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPart": {
      "properties": {
        "suggestionChips": {
          "description": "Optional. Suggestion chips or interactive buttons.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart"
        },
        "citation": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart",
          "description": "Optional. Citation or reference to grounding material."
        },
        "video": {
          "description": "Optional. Video media.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
        },
        "productCollection": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
          "description": "Optional. Product collection or carousel."
        },
        "link": {
          "description": "Optional. Web link or URL.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart"
        },
        "image": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
          "description": "Optional. Image media."
        },
        "text": {
          "description": "Optional. Plain text content.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart"
        },
        "list": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
          "description": "Optional. Ordered or unordered list."
        },
        "customPayload": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
          "description": "Optional. Generic custom structured payload."
        },
        "table": {
          "description": "Optional. Tabular data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart"
        },
        "thought": {
          "description": "Optional. Model thought or internal reasoning.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPart",
      "type": "object",
      "description": "A structured component/part of a transcript segment."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest": {
      "description": "The request to analyze conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
      "type": "object",
      "properties": {
        "relabel": {
          "type": "boolean",
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations."
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "analysisPercentage": {
          "format": "float",
          "type": "number",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100]."
        },
        "filter": {
          "type": "string",
          "description": "Required. Filter used to select the subset of conversations to analyze."
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsRequest": {
      "description": "The request to sample conversations to a dataset.",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule"
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ArticleSuggestionData": {
      "id": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData",
      "description": "Agent Assist Article Suggestion data.",
      "type": "object",
      "properties": {
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from."
        },
        "uri": {
          "type": "string",
          "description": "Article URI."
        },
        "confidenceScore": {
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "float"
        },
        "title": {
          "type": "string",
          "description": "Article title."
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadata",
      "description": "Metadata for testing correlation config.",
      "properties": {
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        },
        "dataset": {
          "description": "The dataset used for sampling conversations.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse": {
      "description": "The response for listing feedback labels.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        },
        "feedbackLabels": {
          "description": "The feedback labels that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata",
      "type": "object",
      "description": "The metadata for a bulk analyze conversations operation.",
      "properties": {
        "completedAnalysesCount": {
          "type": "integer",
          "description": "The number of requested analyses that have completed successfully so far.",
          "format": "int32"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "failedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have failed so far.",
          "type": "integer"
        },
        "partialErrors": {
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "totalRequestedAnalysesCount": {
          "format": "int32",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "type": "integer"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
        },
        "relabel": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest",
      "type": "object",
      "properties": {
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig"
        },
        "sampleSize": {
          "type": "integer",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "format": "int32"
        },
        "conversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig",
          "description": "Configuration that applies to all conversations."
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestTranscriptObjectConfig"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        }
      },
      "description": "The request to ingest conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time at which the analysis ended.",
          "format": "google-datetime"
        },
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata"
        }
      },
      "description": "The result of an analysis."
    },
    "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation": {
      "properties": {
        "endSession": {
          "$ref": "GoogleCloudCesV1mainEndSession",
          "description": "End session signal from CES."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation",
      "description": "The CES end session annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "type": "object",
      "description": "A product collection part.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          },
          "description": "Optional. List of products."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata": {
      "description": "Metadata for an export insights operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata",
      "properties": {
        "failedExportCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that failed to be exported."
        },
        "completedExportCount": {
          "format": "int32",
          "description": "The number of conversations that were exported successfully.",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during export operation that might cause the operation output to be incomplete."
        },
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
[...]
