{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "canonicalName": "Container Analysis",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    }
  },
  "servicePath": "",
  "id": "containeranalysis:v1alpha1",
  "name": "containeranalysis",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260901",
  "version": "v1alpha1",
  "basePath": "",
  "version_module": true,
  "title": "Container Analysis API",
  "resources": {
    "providers": {
      "resources": {
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "id": "containeranalysis.providers.notes.occurrences.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences",
                  "path": "v1alpha1/{+name}/occurrences",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^providers/[^/]+/notes/[^/]+$",
                      "type": "string",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of notes to return in the list."
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "testIamPermissions": {
              "id": "containeranalysis.providers.notes.testIamPermissions",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            },
            "create": {
              "description": "Creates a new `Note`.",
              "parameters": {
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "type": "string",
                  "location": "query"
                },
                "noteId": {
                  "location": "query",
                  "description": "The ID to use for this note.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "required": true,
                  "pattern": "^providers/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Note"
              },
              "request": {
                "$ref": "Note"
              },
              "id": "containeranalysis.providers.notes.create",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}/notes"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              },
              "description": "Updates an existing `Note`.",
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.providers.notes.patch",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "request": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "id": "containeranalysis.providers.notes.getIamPolicy",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes"
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "query",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^providers/[^/]+$",
                  "location": "path",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Number of notes to return in the list.",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListNotesResponse"
              },
              "id": "containeranalysis.providers.notes.list",
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}/notes",
              "description": "Lists all `Notes` for a given project.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "Returns the requested `Note`.",
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "id": "containeranalysis.providers.notes.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}"
            },
            "setIamPolicy": {
              "id": "containeranalysis.providers.notes.setIamPolicy",
              "httpMethod": "POST",
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the given `Note` from the system.",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.providers.notes.delete",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "notes": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Note"
              },
              "description": "Updates an existing `Note`.",
              "id": "containeranalysis.projects.notes.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}"
            },
            "getIamPolicy": {
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "parameterOrder": [
                "resource"
              ]
            },
            "list": {
              "description": "Lists all `Notes` for a given project.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Number of notes to return in the list."
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "query",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.notes.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              }
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the given `Note` from the system.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Note"
              },
              "id": "containeranalysis.projects.notes.get",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the requested `Note`.",
              "parameterOrder": [
                "name"
              ]
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "httpMethod": "POST",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "path": "v1alpha1/{+parent}/notes",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "noteId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID to use for this note."
                }
              },
              "id": "containeranalysis.projects.notes.create",
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "request": {
                "$ref": "Note"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              },
              "httpMethod": "POST",
              "description": "Creates a new `Note`."
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST"
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Number of notes to return in the list."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    }
                  },
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "path": "v1alpha1/{+name}/occurrences",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects."
                }
              }
            }
          }
        },
        "occurrences": {
          "methods": {
            "getVulnerabilitySummary": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "description": "Gets a summary of the number and severity of occurrences.",
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "parameters": {
                "parent": {
                  "description": "This contains the project Id for example: projects/{project_id}",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              }
            },
            "patch": {
              "id": "containeranalysis.projects.occurrences.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Occurrence"
              },
              "description": "Updates an existing occurrence.",
              "response": {
                "$ref": "Occurrence"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The fields to update.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.occurrences.get",
              "httpMethod": "GET",
              "description": "Returns the requested `Occurrence`.",
              "path": "v1alpha1/{+name}"
            },
            "getNotes": {
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "path": "v1alpha1/{+name}/notes",
              "httpMethod": "GET",
              "id": "containeranalysis.projects.occurrences.getNotes",
              "response": {
                "$ref": "Note"
              }
            },
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "id": "containeranalysis.projects.occurrences.delete"
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.list",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "parameters": {
                "pageSize": {
                  "description": "Number of occurrences to return in the list.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "This contains the project Id for example: projects/{project_id}.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "name": {
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "kind": {
                  "description": "The kind of occurrences to filter on.",
                  "location": "query",
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE",
                    "COMPLIANCE",
                    "SBOM",
                    "SPDX_PACKAGE",
                    "SPDX_FILE",
                    "SPDX_RELATIONSHIP",
                    "DSSE_ATTESTATION",
                    "VULNERABILITY_ASSESSMENT",
                    "SBOM_REFERENCE",
                    "SECRET",
                    "AI_SKILL_ANALYSIS"
                  ],
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade.",
                    "This represents a compliance check that can be applied to a resource.",
                    "This represents a software bill of materials.",
                    "This represents an SPDX Package.",
                    "This represents an SPDX File.",
                    "This represents an SPDX Relationship.",
                    "This represents a DSSE attestation Note",
                    "This represents a Vulnerability Assessment.",
                    "This represents a reference to an SBOM.",
                    "This represents a secret.",
                    "This represents an AI skill analysis."
                  ],
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                }
              },
              "description": "Lists active `Occurrences` for a given project matching the filters.",
              "path": "v1alpha1/{+parent}/occurrences",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Occurrence"
              },
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "This field contains the project Id for example: \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "path": "v1alpha1/{+parent}/occurrences",
              "id": "containeranalysis.projects.occurrences.create",
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy"
            }
          }
        },
        "operations": {
          "methods": {
            "patch": {
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.projects.operations.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates an existing operation returns an error if operation does not exist. The only valid operations are to update mark the done bit change the result.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the Operation. Should be of the form \"projects/{provider_id}/operations/{operation_id}\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "UpdateOperationRequest"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateOperationRequest"
              },
              "description": "Creates a new `Operation`.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The project Id that this operation should be created under.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+parent}/operations",
              "flatPath": "v1alpha1/projects/{projectsId}/operations",
              "httpMethod": "POST",
              "id": "containeranalysis.projects.operations.create",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "scanConfigs": {
          "methods": {
            "list": {
              "path": "v1alpha1/{+parent}/scanConfigs",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs",
              "id": "containeranalysis.projects.scanConfigs.list",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The page token to use for the next request.",
                  "type": "string"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The number of items to return.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "This containers the project Id i.e.: projects/{project_id}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists scan configurations for a project."
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "ScanConfig"
              },
              "httpMethod": "GET",
              "description": "Gets a specific scan configuration for a project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "id": "containeranalysis.projects.scanConfigs.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "The name of the ScanConfig in the form projects/{project_id}/scanConfigs/{scan_config_id}",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "The scan config to update of the form projects/{project_id}/scanConfigs/{scan_config_id}.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "The fields to update."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ScanConfig"
              },
              "path": "v1alpha1/{+name}",
              "description": "Updates the scan configuration to a new value.",
              "id": "containeranalysis.projects.scanConfigs.patch",
              "request": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "protocol": "rest",
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo": {
      "description": "A fatal problem encountered during the execution of the build.",
      "type": "object",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explains the failure issue in more detail using hard-coded text."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ],
          "description": "The name of the failure.",
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ]
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo"
    },
    "Finding": {
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "id": "Finding",
      "type": "object",
      "properties": {
        "category": {
          "description": "Optional. Category of the finding.",
          "type": "string"
        },
        "location": {
          "$ref": "FindingLocation",
          "description": "Optional. Location (path and line) where the finding was detected."
        },
        "scanner": {
          "type": "string",
          "description": "Optional. Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ],
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ]
        },
        "details": {
          "type": "string",
          "description": "Optional. Description of the finding category."
        },
        "severity": {
          "description": "Optional. Severity of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        }
      }
    },
    "TokenUsage": {
      "id": "TokenUsage",
      "type": "object",
      "properties": {
        "toolUsePromptCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Prompt tokens for using tools.",
          "format": "int64"
        },
        "cacheCount": {
          "description": "Output only. Cache matched tokens for implicit cache.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "promptCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Tokens in the user request.",
          "format": "int64"
        },
        "thinkingCount": {
          "description": "Output only. Tokens in the thinking output.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "candidateCount": {
          "description": "Output only. Tokens in the model response.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Token usage associated with an AI scan."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
      "description": "An alias to a repo revision.",
      "properties": {
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "description": "The alias kind.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ]
        },
        "name": {
          "description": "The alias name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
      "type": "object",
      "properties": {
        "repoId": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
          "description": "The ID of the repo."
        },
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource",
      "type": "object",
      "description": "Location of the source in a Google Cloud Source Repository.",
      "properties": {
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
        },
        "repoName": {
          "type": "string",
          "description": "Required. Name of the Cloud Source Repository."
        },
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "substitutions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "branchName": {
          "type": "string",
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "invertRegex": {
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex.",
          "type": "boolean"
        }
      }
    },
    "Subject": {
      "id": "Subject",
      "properties": {
        "name": {
          "type": "string",
          "description": "name is the name of the Subject used here"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "\"\": \"\" Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/v1/digest_set.md.",
          "type": "object"
        }
      },
      "description": "Subject refers to the subject of the intoto statement",
      "type": "object"
    },
    "Justification": {
      "id": "Justification",
      "type": "object",
      "properties": {
        "justificationType": {
          "type": "string",
          "enumDescriptions": [
            "JUSTIFICATION_TYPE_UNSPECIFIED.",
            "The vulnerable component is not present in the product.",
            "The vulnerable code is not present. Typically this case occurs when source code is configured or built in a way that excludes the vulnerable code.",
            "The vulnerable code can not be executed. Typically this case occurs when the product includes the vulnerable code but does not call or use the vulnerable code.",
            "The vulnerable code cannot be controlled by an attacker to exploit the vulnerability.",
            "The product includes built-in protections or features that prevent exploitation of the vulnerability. These built-in protections cannot be subverted by the attacker and cannot be configured or disabled by the user. These mitigations completely prevent exploitation based on known attack vectors."
          ],
          "enum": [
            "JUSTIFICATION_TYPE_UNSPECIFIED",
            "COMPONENT_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH",
            "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY",
            "INLINE_MITIGATIONS_ALREADY_EXIST"
          ],
          "description": "The justification type for this vulnerability."
        },
        "details": {
          "description": "Additional details on why this justification was chosen.",
          "type": "string"
        }
      },
      "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED."
    },
    "Note": {
      "description": "Provides a detailed description of a `Note`.",
      "properties": {
        "upgrade": {
          "description": "A note describing an upgrade.",
          "$ref": "UpgradeNote"
        },
        "shortDescription": {
          "type": "string",
          "description": "A one sentence description of this `Note`."
        },
        "buildType": {
          "$ref": "BuildType",
          "description": "Build provenance type for a verifiable build."
        },
        "spdxPackage": {
          "$ref": "PackageInfoNote",
          "description": "A note describing an SPDX Package."
        },
        "sbomReference": {
          "$ref": "SBOMReferenceNote",
          "description": "A note describing a reference to an SBOM."
        },
        "package": {
          "description": "A note describing a package hosted by various package managers.",
          "$ref": "Package"
        },
        "vulnerabilityType": {
          "description": "A package vulnerability type of note.",
          "$ref": "VulnerabilityType"
        },
        "updateTime": {
          "description": "Output only. The time this note was last updated. This field can be used as a filter in list requests.",
          "format": "google-datetime",
          "type": "string"
        },
        "aiSkillAnalysis": {
          "description": "A note describing an AI skill analysis.",
          "$ref": "AISkillAnalysisNote"
        },
        "name": {
          "description": "The name of the note in the form \"projects/{provider_project_id}/notes/{NOTE_ID}\"",
          "type": "string"
        },
        "deployable": {
          "$ref": "Deployable",
          "description": "A note describing something that can be deployed."
        },
        "longDescription": {
          "type": "string",
          "description": "A detailed description of this `Note`."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "spdxFile": {
          "description": "A note describing an SPDX File.",
          "$ref": "FileNote"
        },
        "compliance": {
          "$ref": "ComplianceNote",
          "description": "A note describing a compliance check."
        },
        "relatedUrl": {
          "description": "URLs associated with this note",
          "type": "array",
          "items": {
            "$ref": "RelatedUrl"
          }
        },
        "discovery": {
          "$ref": "Discovery",
          "description": "A note describing a provider/analysis type."
        },
        "spdxRelationship": {
          "description": "A note describing a relationship between SPDX elements.",
          "$ref": "RelationshipNote"
        },
        "secret": {
          "$ref": "SecretNote",
          "description": "A note describing a secret."
        },
        "vulnerabilityAssessment": {
          "description": "A note describing a vulnerability assessment.",
          "$ref": "VulnerabilityAssessmentNote"
        },
        "baseImage": {
          "$ref": "Basis",
          "description": "A note describing a base image."
        },
        "dsseAttestation": {
          "description": "A note describing a dsse attestation note.",
          "$ref": "DSSEAttestationNote"
        },
        "expirationTime": {
          "type": "string",
          "description": "Time of expiration for this note, null if note does not expire.",
          "format": "google-datetime"
        },
        "sbom": {
          "description": "A note describing a software bill of materials.",
          "$ref": "DocumentNote"
        },
        "attestationAuthority": {
          "description": "A note describing an attestation role.",
          "$ref": "AttestationAuthority"
        },
        "kind": {
          "description": "Output only. This explicitly denotes which kind of note is specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ]
        }
      },
      "id": "Note",
      "type": "object"
    },
    "BuildMetadata": {
      "properties": {
        "invocationId": {
          "type": "string"
        },
        "startedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "finishedOn": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuildMetadata"
    },
    "PerScannerVerdict": {
      "properties": {
        "maliciousContentLlmResult": {
          "description": "Optional. Malicious Content LLM scan result.",
          "$ref": "MaliciousContentLLMResult"
        },
        "workspacePolicy": {
          "$ref": "WorkspacePolicyResult",
          "description": "Optional. Workspace Policy scan result."
        },
        "malwareScan": {
          "$ref": "MalwareScanResult",
          "description": "Optional. Malware scan result."
        },
        "maliciousContentStaticResult": {
          "description": "Optional. Malicious Content Static scan result.",
          "$ref": "MaliciousContentStaticResult"
        }
      },
      "id": "PerScannerVerdict",
      "description": "Per scanner verdict details.",
      "type": "object"
    },
    "InTotoStatement": {
      "properties": {
        "slsaProvenanceZeroTwo": {
          "$ref": "SlsaProvenanceZeroTwo",
          "description": "SLSA 0.2 provenance."
        },
        "predicateType": {
          "description": "\"https://slsa.dev/provenance/v0.1\" for SlsaProvenance.",
          "type": "string"
        },
        "provenance": {
          "description": "Generic Grafeas provenance.",
          "$ref": "InTotoProvenance"
        },
        "_type": {
          "description": "Always \"https://in-toto.io/Statement/v0.1\".",
          "type": "string"
        },
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "description": "subject is the subjects of the intoto statement",
          "type": "array"
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance",
          "description": "SLSA 0.1 provenance."
        }
      },
      "type": "object",
      "id": "InTotoStatement",
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\"."
    },
    "Discovered": {
      "type": "object",
      "description": "Provides information about the scan status of a discovered resource.",
      "properties": {
        "files": {
          "description": "Optional. Files that make up the resource described by the occurrence.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "continuousAnalysis": {
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unknown",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "description": "Whether the resource is continuously analyzed.",
          "type": "string"
        },
        "analysisStatus": {
          "description": "The status of discovery for the resource.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has completed",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "COMPLETE",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ]
        },
        "lastVulnerabilityUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The last time vulnerability scan results changed."
        },
        "vulnerabilityAttestation": {
          "description": "Output only. The status of a vulnerability attestation generation.",
          "readOnly": true,
          "$ref": "VulnerabilityAttestation"
        },
        "archiveTime": {
          "format": "google-datetime",
          "description": "The time occurrences related to this discovery occurrence were archived.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. An operation that indicates the status of the current scan. This field is deprecated, do not use.",
          "$ref": "Operation"
        },
        "cpe": {
          "type": "string",
          "description": "The CPE of the resource being scanned."
        },
        "analysisError": {
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "sbomStatus": {
          "readOnly": true,
          "description": "Output only. The status of an SBOM generation.",
          "$ref": "SBOMStatus"
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted",
          "description": "The list of analysis that were completed for a resource."
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage output only and populated by the API.",
          "$ref": "Status"
        },
        "lastScanTime": {
          "type": "string",
          "description": "The last time this resource was scanned.",
          "format": "google-datetime"
        }
      },
      "id": "Discovered"
    },
    "File": {
      "description": "A file as part of a resource.",
      "type": "object",
      "id": "File",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the file."
        },
        "digest": {
          "description": "Optional. The digest(s) of the file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CVSS": {
      "type": "object",
      "description": "Common Vulnerability Scoring System. This message is compatible with CVSS v2 and v3. For CVSS v2 details, see https://www.first.org/cvss/v2/guide CVSS v2 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v2-calculator For CVSS v3 details, see https://www.first.org/cvss/specification-document CVSS v3 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator For CVSS v4 details, see https://www.first.org/cvss/v4.0/user-guide CVSS v4 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v4-calculator",
      "id": "CVSS",
      "properties": {
        "exploitMaturity": {
          "enum": [
            "EXPLOIT_MATURITY_UNSPECIFIED",
            "EXPLOIT_MATURITY_NOT_DEFINED",
            "EXPLOIT_MATURITY_ATTACKED",
            "EXPLOIT_MATURITY_POC",
            "EXPLOIT_MATURITY_UNREPORTED"
          ],
          "type": "string",
          "description": "Optional. Exploit Maturity (E). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Exploit maturity: Not defined (E:X). Defined in CVSS v4.",
            "Exploit maturity: Attacked (E:A). Defined in CVSS v4.",
            "Exploit maturity: Proof-of-concept (E:P). Defined in CVSS v4.",
            "Exploit maturity: Unreported (E:U). Defined in CVSS v4."
          ]
        },
        "subsequentSystemAvailabilityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Optional. Subsequent System Availability Impact (SA). Defined in CVSS v4.",
          "type": "string"
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Optional. Integrity Impact (I). Defined in CVSS v2, v3.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string"
        },
        "subsequentSystemIntegrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Optional. Subsequent System Integrity Impact (SI). Defined in CVSS v4.",
          "type": "string"
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "userInteraction": {
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction (UI:P). Defined in CVSS v4.",
            "Active user interaction (UI:A). Defined in CVSS v4."
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ],
          "type": "string",
          "description": "Optional. User Interaction (UI). Defined in CVSS v3, v4."
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ],
          "type": "string",
          "description": "Optional. Scope (S). Defined in CVSS v3."
        },
        "vulnerableSystemIntegrityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "description": "Optional. Vulnerable System Integrity Impact (VI). Defined in CVSS v4."
        },
        "vulnerableSystemAvailabilityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Optional. Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
          "type": "string"
        },
        "privilegesRequired": {
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ],
          "type": "string",
          "description": "Optional. Privileges Required (PR). Defined in CVSS v3, v4."
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "description": "Optional. Availability Impact (A). Defined in CVSS v2, v3."
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "description": "Optional. Confidentiality Impact (C). Defined in CVSS v2, v3.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "exploitabilityScore": {
          "format": "float",
          "type": "number"
        },
        "authentication": {
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "description": "Optional. Authentication (Au). Defined in CVSS v2.",
          "type": "string"
        },
        "vulnerableSystemConfidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "description": "Optional. Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4."
        },
        "baseScore": {
          "type": "number",
          "description": "Optional. The base score is a function of the base metric scores.",
          "format": "float"
        },
        "attackRequirements": {
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ],
          "description": "Optional. Attack Requirements (AT). Defined in CVSS v4.",
          "type": "string"
        },
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ],
          "type": "string",
          "description": "Optional. Attack Vector (AV). Defined in CVSS v2, v3, v4."
        },
        "attackComplexity": {
          "description": "Optional. Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ]
        },
        "subsequentSystemConfidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "description": "Optional. Subsequent System Confidentiality Impact (SC). Defined in CVSS v4.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        }
      }
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "VulnerabilityLocation": {
      "id": "VulnerabilityLocation",
      "type": "object",
      "description": "The location of the vulnerability",
      "properties": {
        "fileLocation": {
          "description": "The file location at which this package was found.",
          "type": "array",
          "items": {
            "$ref": "FileLocation"
          }
        },
        "package": {
          "type": "string",
          "description": "The package being described."
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "version": {
          "description": "The version of the package being described. This field can be used as a filter in list requests.",
          "$ref": "Version"
        }
      }
    },
    "Command": {
      "properties": {
        "waitFor": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID(s) of the Command(s) that this Command depends on."
        },
        "name": {
          "description": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        },
        "env": {
          "description": "Environment variables set before running this Command.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dir": {
          "type": "string",
          "description": "Working directory (relative to project source root) used when running this Command."
        },
        "id": {
          "type": "string",
          "description": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency."
        },
        "args": {
          "description": "Command-line arguments used when executing this Command.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Command describes a step performed as part of the build pipeline.",
      "type": "object",
      "id": "Command"
    },
    "DSSEHint": {
      "type": "object",
      "description": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify.",
      "properties": {
        "humanReadableName": {
          "description": "Required. The human readable name of this attestation authority, for example \"cloudbuild-prod\".",
          "type": "string"
        }
      },
      "id": "DSSEHint"
    },
    "SlsaRecipe": {
      "properties": {
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "definedInMaterial": {
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string"
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "SlsaRecipe",
      "type": "object"
    },
    "AttestationAuthority": {
      "id": "AttestationAuthority",
      "properties": {
        "hint": {
          "$ref": "AttestationAuthorityHint"
        }
      },
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project.",
      "type": "object"
    },
    "RunDetails": {
      "type": "object",
      "id": "RunDetails",
      "properties": {
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "metadata": {
          "$ref": "BuildMetadata"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash",
      "properties": {
        "type": {
          "description": "The type of hash that was performed.",
          "type": "string",
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ]
        },
        "value": {
          "type": "string",
          "format": "byte",
[...]
