{
  "discoveryVersion": "v1",
  "revision": "20260825",
  "title": "Kubernetes Engine API",
  "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/container.read-only": {
          "description": "See your Google Kubernetes Engine data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/container": {
          "description": "See, edit, configure, and delete your Google Kubernetes Engine data and see the email address for your Google Account"
        }
      }
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://container.googleapis.com/",
  "id": "container:v1",
  "version": "v1",
  "schemas": {
    "RegistryHeader": {
      "type": "object",
      "description": "RegistryHeader configures headers for the registry.",
      "id": "RegistryHeader",
      "properties": {
        "key": {
          "description": "Key configures the header key.",
          "type": "string"
        },
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Value configures the header value."
        }
      }
    },
    "CertificateConfigPair": {
      "properties": {
        "key": {
          "description": "Key configures the client private key. Optional.",
          "$ref": "CertificateConfig"
        },
        "cert": {
          "description": "Cert configures the client certificate.",
          "$ref": "CertificateConfig"
        }
      },
      "id": "CertificateConfigPair",
      "description": "CertificateConfigPair configures pairs of certificates, which is used for client certificate and key pairs under a registry.",
      "type": "object"
    },
    "UsableSubnetwork": {
      "id": "UsableSubnetwork",
      "type": "object",
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range.",
      "properties": {
        "ipCidrRange": {
          "description": "The range of internal addresses that are owned by this subnetwork.",
          "type": "string"
        },
        "secondaryIpRanges": {
          "description": "Secondary IP ranges.",
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          }
        },
        "network": {
          "type": "string",
          "description": "Network Name. Example: projects/my-project/global/networks/my-network"
        },
        "statusMessage": {
          "type": "string",
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message."
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        }
      }
    },
    "MasterAuth": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "deprecated": true,
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        },
        "clientKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Base64-encoded private key used by clients to authenticate to the cluster endpoint."
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true,
          "type": "string"
        },
        "clusterCaCertificate": {
          "description": "Output only. Base64-encoded public certificate that is the root of trust for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "clientCertificate": {
          "description": "Output only. Base64-encoded public certificate used by clients to authenticate to the cluster endpoint. Issued only if client_certificate_config is set.",
          "type": "string",
          "readOnly": true
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        }
      },
      "id": "MasterAuth",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates."
    },
    "Fleet": {
      "description": "Fleet is the fleet configuration for the cluster.",
      "type": "object",
      "properties": {
        "membershipType": {
          "type": "string",
          "description": "The type of the cluster's fleet membership.",
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ]
        },
        "project": {
          "description": "The Fleet host project(project ID or project number) where this cluster will be registered to. This field cannot be changed after the cluster has been registered.",
          "type": "string"
        },
        "membership": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full resource name of the registered fleet membership of the cluster, in the format `//gkehub.googleapis.com/projects/*/locations/*/memberships/*`."
        },
        "preRegistered": {
          "type": "boolean",
          "description": "Output only. Whether the cluster has been registered through the fleet API.",
          "readOnly": true
        }
      },
      "id": "Fleet"
    },
    "PlacementPolicy": {
      "id": "PlacementPolicy",
      "type": "object",
      "description": "PlacementPolicy defines the placement policy used by the node pool.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "COMPACT"
          ],
          "description": "The type of placement.",
          "type": "string",
          "enumDescriptions": [
            "TYPE_UNSPECIFIED specifies no requirements on nodes placement.",
            "COMPACT specifies node placement in the same availability domain to ensure low communication latency."
          ]
        },
        "policyName": {
          "description": "If set, refers to the name of a custom resource policy supplied by the user. The resource policy must be in the same project and region as the node pool. If not found, InvalidArgument error is returned.",
          "type": "string"
        },
        "tpuTopology": {
          "description": "Optional. TPU placement topology for pod slice node pool. https://cloud.google.com/tpu/docs/types-topologies#tpu_topologies",
          "type": "string"
        }
      }
    },
    "CompliancePostureConfig": {
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Compliance Posture features on the cluster.",
            "Enables Compliance Posture features on the cluster."
          ],
          "description": "Defines the enablement mode for Compliance Posture.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "complianceStandards": {
          "description": "List of enabled compliance standards.",
          "type": "array",
          "items": {
            "$ref": "ComplianceStandard"
          }
        }
      },
      "id": "CompliancePostureConfig",
      "type": "object",
      "deprecated": true,
      "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. CompliancePostureConfig defines the settings needed to enable/disable features for the Compliance Posture."
    },
    "BootDiskProfile": {
      "type": "object",
      "properties": {
        "swapSizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Specifies the size of the swap space in gibibytes (GiB)."
        },
        "swapSizePercent": {
          "type": "integer",
          "description": "Specifies the size of the swap space as a percentage of the boot disk size.",
          "format": "int32"
        }
      },
      "description": "Swap on the node's boot disk.",
      "id": "BootDiskProfile"
    },
    "IPEndpointsConfig": {
      "properties": {
        "globalAccess": {
          "description": "Controls whether the control plane's private endpoint is accessible from sources in other regions. It is invalid to specify both PrivateClusterMasterGlobalAccessConfig.enabled and this field at the same time.",
          "type": "boolean"
        },
        "publicEndpoint": {
          "readOnly": true,
          "description": "Output only. The external IP address of this cluster's control plane. Only populated if enabled.",
          "type": "string"
        },
        "enabled": {
          "description": "Controls whether to allow direct IP access.",
          "type": "boolean"
        },
        "privateEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The internal IP address of this cluster's control plane. Only populated if enabled."
        },
        "authorizedNetworksConfig": {
          "description": "Configuration of authorized networks. If enabled, restricts access to the control plane based on source IP. It is invalid to specify both Cluster.masterAuthorizedNetworksConfig and this field at the same time.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "privateEndpointSubnetwork": {
          "type": "string",
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. It is invalid to specify both PrivateClusterConfig.privateEndpointSubnetwork and this field at the same time."
        },
        "enablePublicEndpoint": {
          "description": "Controls whether the control plane allows access through a public IP. It is invalid to specify both PrivateClusterConfig.enablePrivateEndpoint and this field at the same time.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "IP endpoints configuration.",
      "id": "IPEndpointsConfig"
    },
    "NodePoolDefaults": {
      "properties": {
        "nodeConfigDefaults": {
          "description": "Subset of NodeConfig message that has defaults.",
          "$ref": "NodeConfigDefaults"
        }
      },
      "type": "object",
      "description": "Subset of Nodepool message that has defaults.",
      "id": "NodePoolDefaults"
    },
    "HttpCacheControlResponseHeader": {
      "type": "object",
      "id": "HttpCacheControlResponseHeader",
      "properties": {
        "expires": {
          "description": "14.21 response cache expires, in RFC 1123 date format",
          "type": "string"
        },
        "age": {
          "format": "int64",
          "description": "14.6 response cache age, in seconds since the response is generated",
          "type": "string"
        },
        "directive": {
          "type": "string",
          "description": "14.9 request and response directives"
        }
      },
      "description": "RFC-2616: cache control support"
    },
    "SecurityPostureConfig": {
      "id": "SecurityPostureConfig",
      "type": "object",
      "description": "SecurityPostureConfig defines the flags needed to enable/disable features for the Security Posture API.",
      "properties": {
        "vulnerabilityMode": {
          "enumDescriptions": [
            "Default value not specified.",
            "Disables vulnerability scanning on the cluster.",
            "Deprecated: Basic vulnerability scanning is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Applies basic vulnerability scanning on the cluster.",
            "Applies the Security Posture's vulnerability on cluster Enterprise level features."
          ],
          "type": "string",
          "description": "Sets which mode to use for vulnerability scanning.",
          "enum": [
            "VULNERABILITY_MODE_UNSPECIFIED",
            "VULNERABILITY_DISABLED",
            "VULNERABILITY_BASIC",
            "VULNERABILITY_ENTERPRISE"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ]
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "BASIC",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Security Posture features on the cluster.",
            "Applies Security Posture features on the cluster.",
            "Deprecated: Security Posture Enterprise features are no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Applies the Security Posture off cluster Enterprise level features."
          ],
          "type": "string",
          "description": "Sets which mode to use for Security Posture features.",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ]
        }
      }
    },
    "TaintConfig": {
      "id": "TaintConfig",
      "properties": {
        "architectureTaintBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Specifies that the behavior is unspecified, defaults to ARM.",
            "Disables default architecture taints on the node pool.",
            "Taints all the nodes in the node pool with the default ARM taint."
          ],
          "description": "Optional. Controls architecture tainting behavior.",
          "enum": [
            "ARCHITECTURE_TAINT_BEHAVIOR_UNSPECIFIED",
            "NONE",
            "ARM"
          ]
        }
      },
      "description": "TaintConfig contains the configuration for the taints of the node pool.",
      "type": "object"
    },
    "NodeTaints": {
      "description": "Collection of Kubernetes [node taints](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration).",
      "id": "NodeTaints",
      "properties": {
        "taints": {
          "type": "array",
          "description": "List of node taints.",
          "items": {
            "$ref": "NodeTaint"
          }
        }
      },
      "type": "object"
    },
    "KubeletCertInfo": {
      "type": "object",
      "properties": {
        "tpmBootstrapCertExpireTime": {
          "type": "string",
          "description": "Output only.",
          "format": "google-datetime",
          "readOnly": true
        },
        "nonTpmBootstrapCertExpireTime": {
          "type": "string",
          "description": "Output only.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "KubeletCertInfo",
      "description": "Contains expiry information about the kubelet certificate."
    },
    "ParallelstoreCsiDriverConfig": {
      "id": "ParallelstoreCsiDriverConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Cloud Storage Parallelstore CSI driver is enabled for this cluster."
        }
      },
      "description": "Configuration for the Cloud Storage Parallelstore CSI driver."
    },
    "ControlPlaneEndpointsConfig": {
      "description": "Configuration for all of the cluster's control plane endpoints.",
      "properties": {
        "dnsEndpointConfig": {
          "$ref": "DNSEndpointConfig",
          "description": "DNS endpoint configuration."
        },
        "ipEndpointsConfig": {
          "description": "IP endpoints configuration.",
          "$ref": "IPEndpointsConfig"
        }
      },
      "type": "object",
      "id": "ControlPlaneEndpointsConfig"
    },
    "ClusterUpgradeInfo": {
      "properties": {
        "endOfExtendedSupportTimestamp": {
          "description": "The cluster's current minor version's end of extended support timestamp.",
          "type": "string"
        },
        "pausedReason": {
          "type": "array",
          "items": {
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "CLUSTER_DISRUPTION_BUDGET",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE",
              "SYSTEM_CONFIG"
            ],
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "CLUSTER_DISRUPTION_BUDGET indicates the cluster is outside the cluster disruption budget.",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE indicates the cluster is outside the cluster disruption budget for minor version upgrade.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ],
            "type": "string"
          },
          "description": "The auto upgrade paused reason."
        },
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The cluster's current minor version's end of standard support timestamp."
        },
        "autoUpgradeStatus": {
          "description": "The auto upgrade status.",
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ],
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "type": "string"
          }
        },
        "rollbackSafeUpgradeStatus": {
          "readOnly": true,
          "$ref": "RollbackSafeUpgradeStatus",
          "description": "Output only. The cluster's rollback-safe upgrade status."
        },
        "minorTargetVersion": {
          "description": "minor_target_version indicates the target version for minor upgrade.",
          "type": "string"
        },
        "patchTargetVersion": {
          "description": "patch_target_version indicates the target version for patch upgrade.",
          "type": "string"
        },
        "upgradeDetails": {
          "items": {
            "$ref": "UpgradeDetails"
          },
          "type": "array",
          "description": "The list of past auto upgrades."
        }
      },
      "type": "object",
      "description": "ClusterUpgradeInfo contains the upgrade information of a cluster.",
      "id": "ClusterUpgradeInfo"
    },
    "NodeKernelModuleLoading": {
      "properties": {
        "policy": {
          "enum": [
            "POLICY_UNSPECIFIED",
            "ENFORCE_SIGNED_MODULES",
            "DO_NOT_ENFORCE_SIGNED_MODULES"
          ],
          "enumDescriptions": [
            "Default behavior. GKE selects the image based on node type. For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not.",
            "Enforced signature verification: Node pools will use a Container-Optimized OS image configured to allow loading of *Google-signed* external kernel modules. Loadpin is enabled but configured to exclude modules, and kernel module signature checking is enforced.",
            "Mirrors existing DEFAULT behavior: For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not."
          ],
          "type": "string",
          "description": "Set the node module loading policy for nodes in the node pool."
        }
      },
      "description": "Configuration for kernel module loading on nodes.",
      "id": "NodeKernelModuleLoading",
      "type": "object"
    },
    "ComplianceStandard": {
      "id": "ComplianceStandard",
      "description": "Defines the details of a compliance standard.",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Name of the compliance standard."
        }
      },
      "type": "object"
    },
    "UpdateNodePoolRequest": {
      "id": "UpdateNodePoolRequest",
      "properties": {
        "taints": {
          "$ref": "NodeTaints",
          "description": "The desired node taints to be applied to all nodes in the node pool. If this field is not present, the taints will not be changed. Otherwise, the existing node taints will be *replaced* with the provided taints."
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The desired workload metadata config for the node pool."
        },
        "queuedProvisioning": {
          "$ref": "QueuedProvisioning",
          "description": "Specifies the configuration of queued provisioning."
        },
        "resourceLabels": {
          "$ref": "ResourceLabels",
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources."
        },
        "fastSocket": {
          "description": "Enable or disable NCCL fast socket for the node pool.",
          "$ref": "FastSocket"
        },
        "flexStart": {
          "description": "Flex Start flag for enabling Flex Start VM.",
          "type": "boolean"
        },
        "nodePoolId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "windowsNodeConfig": {
          "description": "Parameters that can be configured on Windows nodes.",
          "$ref": "WindowsNodeConfig"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The desired [Google Compute Engine machine type](https://cloud.google.com/compute/docs/machine-types) for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified machine type."
        },
        "maxRunDuration": {
          "description": "The maximum duration for the nodes to exist. If unspecified, the nodes can exist indefinitely.",
          "format": "google-duration",
          "type": "string"
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "type": "array"
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the node pool's nodes should be located. Changing the locations for a node pool will result in nodes being either created or removed from the node pool, depending on whether locations are being added or removed. Warning: It is recommended to update node pool locations in a standalone API call. Do not combine a location update with changes to other fields (such as `tags`, `labels`, `taints`, etc.) in the same request. Otherwise, the API performs a structural modification where changes to other fields will only apply to newly created nodes and will not be applied to existing nodes in the node pool. To ensure all nodes are updated consistently, use a separate API call for location changes."
        },
        "etag": {
          "type": "string",
          "description": "The current etag of the node pool. If an etag is provided and does not match the current etag of the node pool, update will be blocked and an ABORTED error will be returned."
        },
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "The desired name of the image name to use for this node. This is used to create clusters using a custom image."
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "consolidationDelay": {
          "format": "google-duration",
          "description": "Consolidation delay defines duration after which the Cluster Autoscaler can scale down underutilized nodes. If not set, nodes are scaled down by default behavior, i.e. according to the chosen autoscaling profile.",
          "type": "string"
        },
        "gvnic": {
          "description": "Enable or disable gvnic on the node pool.",
          "$ref": "VirtualNIC"
        },
        "confidentialNodes": {
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled.",
          "$ref": "ConfidentialNodes"
        },
        "imageType": {
          "type": "string",
          "description": "Required. The desired image type for the node pool. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types."
        },
        "nodeNetworkConfig": {
          "description": "Node network config.",
          "$ref": "NodeNetworkConfig"
        },
        "nodeVersion": {
          "type": "string",
          "description": "Required. The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version"
        },
        "nodeDrainConfig": {
          "$ref": "NodeDrainConfig",
          "description": "The desired node drain configuration for nodes in the node pool."
        },
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "tags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags to be applied to all nodes in the node pool. If this field is not present, the tags will not be changed. Otherwise, the existing network tags will be *replaced* with the provided tags."
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Optional. The desired disk size for nodes in the node pool specified in GB. The smallest allowed disk size is 10GB. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk size.",
          "format": "int64"
        },
        "maintenancePolicy": {
          "description": "Optional. Specifies the maintenance policy for the node pool, including maintenance exclusion options.",
          "$ref": "NodePoolMaintenancePolicy"
        },
        "labels": {
          "description": "The desired node labels to be applied to all nodes in the node pool. If this field is not present, the labels will not be changed. Otherwise, the existing node labels will be *replaced* with the provided labels.",
          "$ref": "NodeLabels"
        },
        "taintConfig": {
          "description": "The taint configuration for the node pool.",
          "$ref": "TaintConfig"
        },
        "loggingConfig": {
          "description": "Logging configuration.",
          "$ref": "NodePoolLoggingConfig"
        },
        "containerdConfig": {
          "description": "The desired containerd config for nodes in the node pool. Initiates an upgrade operation that recreates the nodes with the new config.",
          "$ref": "ContainerdConfig"
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "The desired boot disk config for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified boot disk config."
        },
        "linuxNodeConfig": {
          "description": "Parameters that can be configured on Linux nodes.",
          "$ref": "LinuxNodeConfig"
        },
        "imageProject": {
          "description": "The project containing the desired image to use for this node pool. This is used to create clusters using a custom image.",
          "type": "string"
        },
        "kubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "Node kubelet configs."
        },
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS config."
        },
        "diskType": {
          "type": "string",
          "description": "Optional. The desired disk type (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk type."
        },
        "resourceManagerTags": {
          "description": "Desired resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Existing tags will be replaced with new values.",
          "$ref": "ResourceManagerTags"
        },
        "storagePools": {
          "items": {
            "type": "string"
          },
          "description": "List of Storage Pools where boot disks are provisioned. Existing Storage Pools will be replaced with storage-pools.",
          "type": "array"
        }
      },
      "description": "UpdateNodePoolRequests update a node pool's image and/or version.",
      "type": "object"
    },
    "NodePoolLoggingConfig": {
      "properties": {
        "variantConfig": {
          "$ref": "LoggingVariantConfig",
          "description": "Logging variant configuration."
        }
      },
      "id": "NodePoolLoggingConfig",
      "description": "NodePoolLoggingConfig specifies logging configuration for node pools.",
      "type": "object"
    },
    "SecondaryBootDisk": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "MODE_UNSPECIFIED is when mode is not set.",
            "CONTAINER_IMAGE_CACHE is for using the secondary boot disk as a container image cache."
          ],
          "description": "Disk mode (container image cache, etc.)",
          "enum": [
            "MODE_UNSPECIFIED",
            "CONTAINER_IMAGE_CACHE"
          ],
          "type": "string"
        },
        "diskImage": {
          "type": "string",
          "description": "Fully-qualified resource ID for an existing disk image."
        }
      },
      "description": "SecondaryBootDisk represents a persistent disk attached to a node with special configurations based on its mode.",
      "type": "object",
      "id": "SecondaryBootDisk"
    },
    "PubSub": {
      "description": "Pub/Sub specific notification config.",
      "id": "PubSub",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "Allows filtering to one or more specific event types. If no filter is specified, or if a filter is specified with no event types, all event types will be sent"
        },
        "enabled": {
          "description": "Enable notifications for Pub/Sub.",
          "type": "boolean"
        },
        "topic": {
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetMasterAuthRequest": {
      "properties": {
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "MasterAuth"
        },
        "action": {
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ],
          "type": "string",
          "description": "Required. The exact form of action to be taken on the master auth.",
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ]
        },
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object",
      "description": "SetMasterAuthRequest updates the admin password of a cluster.",
      "id": "SetMasterAuthRequest"
    },
    "EphemeralStorageLocalSsdConfig": {
      "type": "object",
      "properties": {
        "localSsdCount": {
          "description": "Number of local SSDs to use to back ephemeral storage. Uses NVMe interfaces. A zero (or unset) value has different meanings depending on machine type being used: 1. For pre-Gen3 machines, which support flexible numbers of local ssds, zero (or unset) means to disable using local SSDs as ephemeral storage. The limit for this value is dependent upon the maximum number of disk available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information. 2. For Gen3 machines which dictate a specific number of local ssds, zero (or unset) means to use the default number of local ssds that goes with that machine type. For example, for a c3-standard-8-lssd machine, 2 local ssds would be provisioned. For c3-standard-8 (which doesn't support local ssds), 0 will be provisioned. See https://cloud.google.com/compute/docs/disks/local-ssd#choose_number_local_ssds for more info.",
          "type": "integer",
          "format": "int32"
        },
        "dataCacheCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of local SSDs to use for GKE Data Cache."
        }
      },
      "id": "EphemeralStorageLocalSsdConfig",
      "description": "EphemeralStorageLocalSsdConfig contains configuration for the node ephemeral storage using Local SSDs."
    },
    "FastSocket": {
      "description": "Configuration of Fast Socket feature.",
      "id": "FastSocket",
      "properties": {
        "enabled": {
          "description": "Whether Fast Socket features are enabled in the node pool.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SyncRotationConfig": {
      "properties": {
        "rotationInterval": {
          "description": "The interval between two consecutive rotations. Default rotation interval is 2 minutes.",
          "format": "google-duration",
          "type": "string"
        },
        "enabled": {
          "description": "Whether the rotation is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "SyncRotationConfig is config for secret manager auto rotation.",
      "id": "SyncRotationConfig"
    },
    "CustomImageInfo": {
      "properties": {
        "upgradeMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-readable upgrade message for the custom image."
        }
      },
      "type": "object",
      "description": "Contains the custom image info for a node pool.",
      "id": "CustomImageInfo"
    },
    "UpgradeDetails": {
      "properties": {
        "targetEmulatedVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The emulated version after the upgrade."
        },
        "initialEmulatedVersion": {
          "type": "string",
          "description": "Output only. The emulated version before the upgrade.",
          "readOnly": true
        },
        "initialVersion": {
          "description": "The version before the upgrade.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the upgrade.",
          "enumDescriptions": [
            "Upgrade state is unknown.",
            "Upgrade has failed with an error.",
            "Upgrade has succeeded.",
            "Upgrade has been canceled.",
            "Upgrade is running."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "FAILED",
            "SUCCEEDED",
            "CANCELED",
            "RUNNING"
          ]
        },
        "targetVersion": {
          "description": "The version after the upgrade.",
          "type": "string"
        },
        "startTime": {
          "description": "The start timestamp of the upgrade.",
          "format": "google-datetime",
          "type": "string"
        },
        "startType": {
          "type": "string",
          "enumDescriptions": [
            "Upgrade start type is unspecified.",
            "Upgrade started automatically.",
            "Upgrade started manually."
          ],
          "enum": [
            "START_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "The start type of the upgrade."
        },
        "endTime": {
          "type": "string",
          "description": "The end timestamp of the upgrade.",
          "format": "google-datetime"
        }
      },
      "id": "UpgradeDetails",
      "description": "UpgradeDetails contains detailed information of each individual upgrade operation.",
      "type": "object"
    },
    "DesiredEnterpriseConfig": {
      "properties": {
        "desiredTier": {
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ],
          "description": "desired_tier specifies the desired tier of the cluster.",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "deprecated": true,
      "description": "DesiredEnterpriseConfig is a wrapper used for updating enterprise_config. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
      "id": "DesiredEnterpriseConfig"
    },
    "CrashLoopBackOffConfig": {
      "description": "Contains config to modify node-level parameters for container restart behavior.",
      "type": "object",
      "properties": {
        "maxContainerRestartPeriod": {
          "type": "string",
          "description": "Optional. The maximum duration the backoff delay can accrue to for container restarts, minimum 1 second, maximum 300 seconds. If not set, defaults to the internal crashloopbackoff maximum. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". See https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#configurable-container-restart-delay for more details."
        }
      },
      "id": "CrashLoopBackOffConfig"
    },
    "UserManagedKeysConfig": {
      "description": "UserManagedKeysConfig holds the resource address to Keys which are used for signing certs and token that are used for communication within cluster.",
      "properties": {
        "etcdApiCa": {
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd API CA in this cluster.",
          "type": "string"
        },
        "etcdPeerCa": {
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd peer CA in this cluster.",
          "type": "string"
        },
        "serviceAccountVerificationKeys": {
          "description": "The Cloud KMS cryptoKeyVersions to use for verifying service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "controlPlaneDiskEncryptionKeyVersions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. All of the versions of the Cloud KMS cryptoKey that are used by Confidential Hyperdisks on the control plane nodes.",
          "type": "array"
        },
        "controlPlaneDiskEncryptionKey": {
          "type": "string",
          "description": "The Cloud KMS cryptoKey to use for Confidential Hyperdisk on the control plane nodes."
        },
        "aggregationCa": {
          "description": "The Certificate Authority Service caPool to use for the aggregation CA in this cluster.",
          "type": "string"
        },
        "serviceAccountSigningKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Cloud KMS cryptoKeyVersions to use for signing service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`"
        },
        "clusterCa": {
          "description": "The Certificate Authority Service caPool to use for the cluster CA in this cluster.",
          "type": "string"
        },
        "gkeopsEtcdBackupEncryptionKey": {
          "type": "string",
          "description": "Resource path of the Cloud KMS cryptoKey to use for encryption of internal etcd backups."
        }
      },
      "type": "object",
      "id": "UserManagedKeysConfig"
    },
    "PrivilegedAdmissionConfig": {
      "description": "PrivilegedAdmissionConfig stores the list of authorized allowlist paths for the cluster.",
      "properties": {
        "allowlistPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The customer allowlist Cloud Storage paths for the cluster. These paths are used with the `--autopilot-privileged-admission` flag to authorize privileged workloads in Autopilot clusters. Paths can be GKE-owned, in the format `gke:////`, or customer-owned, in the format `gs:///`. Wildcards (`*`) are supported to authorize all allowlists under specific paths or directories. Example: `gs://my-bucket/*` will authorize all allowlists under the `my-bucket` bucket."
        }
      },
      "type": "object",
      "id": "PrivilegedAdmissionConfig"
    },
    "Jwk": {
      "id": "Jwk",
      "properties": {
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        },
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "use": {
          "description": "Permitted uses for the public keys.",
          "type": "string"
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "n": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        }
      },
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "type": "object"
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "type": "object",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
      "properties": {
        "autoUpgradeStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "description": {
          "type": "string",
          "description": "Output only. This field is set when upgrades are about to commence with the description of the upgrade.",
          "readOnly": true
        }
      }
    },
    "MemoryManager": {
      "type": "object",
      "description": "The option enables the Kubernetes NUMA-aware Memory Manager feature. Detailed description about the feature can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/).",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Controls the memory management policy on the Node. See https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/#policies The following values are allowed. * \"none\" * \"static\" The default value is 'none' if unspecified."
        }
      },
      "id": "MemoryManager"
    },
    "UpgradeSettings": {
      "type": "object",
      "id": "UpgradeSettings",
      "properties": {
        "blueGreenSettings": {
          "description": "Settings for blue-green upgrade strategy.",
          "$ref": "BlueGreenSettings"
        },
        "maxUnavailable": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready."
        },
        "maxSurge": {
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "format": "int32",
          "type": "integer"
        },
        "strategy": {
          "enumDescriptions": [
            "Default value if unset. GKE internally defaults the update strategy to SURGE for unspecified strategies.",
            "blue-green upgrade.",
            "SURGE is the traditional way of upgrade a node pool. max_surge and max_unavailable determines the level of upgrade parallelism.",
            "SHORT_LIVED is the dedicated upgrade strategy for QueuedProvisioning and flex start node pools scaled up only by enqueueing to the Dynamic Workload Scheduler (DWS)."
          ],
          "enum": [
            "NODE_POOL_UPDATE_STRATEGY_UNSPECIFIED",
            "BLUE_GREEN",
            "SURGE",
            "SHORT_LIVED"
          ],
          "type": "string",
          "description": "Update strategy of the node pool."
        }
      },
      "description": "These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available. These upgrade settings configure the upgrade strategy for the node pool. Use strategy to switch between the strategies applied to the node pool. If the strategy is ROLLING, use max_surge and max_unavailable to control the level of parallelism and the level of disruption caused by upgrade. 1. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. 2. maxUnavailable controls the number of nodes that can be simultaneously unavailable. 3. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). If the strategy is BLUE_GREEN, use blue_green_settings to configure the blue-green upgrade related settings. 1. standard_rollout_policy is the default policy. The policy is used to control the way blue pool gets drained. The draining is executed in the batch mode. The batch size could be specified as either percentage of the node pool size or the number of nodes. batch_soak_duration is the soak time after each batch gets drained. 2. node_pool_soak_duration is the soak time after all blue nodes are drained. After this period, the blue pool nodes will be deleted."
    },
    "ServerConfig": {
      "properties": {
        "validImageTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid image types."
        },
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        },
        "validNodeVersions": {
          "items": {
            "type": "string"
          },
          "description": "List of valid node upgrade target versions, in descending order.",
          "type": "array"
        },
        "validMasterVersions": {
          "items": {
            "type": "string"
          },
          "description": "List of valid master versions, in descending order.",
          "type": "array"
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "channels": {
          "description": "List of release channel configurations.",
          "items": {
            "$ref": "ReleaseChannelConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Kubernetes Engine service configuration.",
      "id": "ServerConfig"
    },
    "LustreCsiDriverConfig": {
      "id": "LustreCsiDriverConfig",
      "type": "object",
      "properties": {
        "enableLegacyLustrePort": {
          "deprecated": true,
          "description": "If set to true, the Lustre CSI driver will install Lustre kernel modules using port 6988. This serves as a workaround for a port conflict with the gke-metadata-server. This field is required ONLY under the following conditions: 1. The GKE node version is older than 1.33.2-gke.4655000. 2. You're connecting to a Lustre instance that has the 'gke-support-enabled' flag. Deprecated: This flag is no longer required as of GKE node version 1.33.2-gke.4655000, unless you are connecting to a Lustre instance that has the `gke-support-enabled` flag.",
          "type": "boolean"
        },
        "disableMultiNic": {
          "type": "boolean",
          "description": "When set to true, this disables multi-NIC support for the Lustre CSI driver. By default, GKE enables multi-NIC support, which allows the Lustre CSI driver to automatically detect and configure all suitable network interfaces on a node to maximize I/O performance for demanding workloads."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the Lustre CSI driver is enabled for this cluster."
        }
      },
      "description": "Configuration for the Lustre CSI driver."
    },
    "WorkloadIdentityConfig": {
      "properties": {
        "workloadPool": {
          "type": "string",
          "description": "The workload pool to attach all Kubernetes service accounts to."
        }
      },
      "id": "WorkloadIdentityConfig",
      "type": "object",
      "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies."
    },
    "NodeConfig": {
      "type": "object",
      "properties": {
        "fastSocket": {
          "$ref": "FastSocket",
          "description": "Enable or disable NCCL fast socket for the node pool."
        },
        "secondaryBootDisks": {
          "items": {
            "$ref": "SecondaryBootDisk"
          },
          "description": "List of secondary boot disks attached to the nodes.",
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-os-login\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB."
        },
        "taintConfig": {
          "description": "Optional. The taint configuration for the node pool.",
          "$ref": "TaintConfig"
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ephemeralStorageLocalSsdConfig": {
          "$ref": "EphemeralStorageLocalSsdConfig",
          "description": "Parameters for the node ephemeral storage using Local SSDs. If unspecified, ephemeral storage is backed by the boot disk."
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more information about preemptible VM instances.",
          "type": "boolean"
        },
        "nodeGroup": {
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes).",
          "type": "string"
        },
        "oauthScopes": {
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Artifact Registry](https://cloud.google.com/artifact-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceManagerTags": {
          "description": "A map of resource manager tag keys and values to be attached to the nodes.",
          "$ref": "ResourceManagerTags"
        },
        "windowsNodeConfig": {
          "$ref": "WindowsNodeConfig",
          "description": "Parameters that can be configured on Windows nodes."
        },
        "bootDiskKmsKey": {
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
          "type": "string"
        },
        "flexStart": {
          "type": "boolean",
          "description": "Flex Start flag for enabling Flex Start VM."
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array",
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs."
        },
        "loggingConfig": {
          "description": "Logging configuration.",
          "$ref": "NodePoolLoggingConfig"
        },
        "enableConfidentialStorage": {
          "type": "boolean",
          "description": "Optional. Reserved for future use."
        },
        "taints": {
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array",
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/"
        },
        "reservationAffinity": {
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this node pool.",
          "$ref": "ReservationAffinity"
        },
        "soleTenantConfig": {
          "description": "Parameters for node pools to be backed by shared sole tenant node groups.",
          "$ref": "SoleTenantConfig"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 15 GB for node pools running GKE versions 1.36.3-gke.1480000 or later. Or, for earlier versions, the smallest allowed disk size is 12 GB. If unspecified, the default disk size is 100GB.",
          "type": "integer"
        },
        "secondaryBootDiskUpdateStrategy": {
          "$ref": "SecondaryBootDiskUpdateStrategy",
          "description": "Secondary boot disk update strategy."
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types) If unspecified, the default machine type is `e2-medium`."
        },
        "containerdConfig": {
          "$ref": "ContainerdConfig",
          "description": "Parameters for containerd customization."
        },
        "effectiveCgroupMode": {
          "enum": [
            "EFFECTIVE_CGROUP_MODE_UNSPECIFIED",
            "EFFECTIVE_CGROUP_MODE_V1",
            "EFFECTIVE_CGROUP_MODE_V2"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. effective_cgroup_mode is the cgroup mode actually used by the node pool. It is determined by the cgroup mode specified in the LinuxNodeConfig or the default cgroup mode based on the cluster creation version.",
          "enumDescriptions": [
            "EFFECTIVE_CGROUP_MODE_UNSPECIFIED means the cgroup configuration for the node pool is unspecified, i.e. the node pool is a Windows node pool.",
            "CGROUP_MODE_V1 means the node pool is configured to use cgroupv1 for the cgroup configuration.",
            "CGROUP_MODE_V2 means the node pool is configured to use cgroupv2 for the cgroup configuration."
          ]
        },
        "gvnic": {
          "$ref": "VirtualNIC",
          "description": "Enable or disable gvnic in the node pool."
        },
        "maxRunDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The maximum duration for the nodes to exist. If unspecified, the nodes can exist indefinitely."
        },
        "workloadMetadataConfig": {
          "description": "The workload metadata configuration for this node.",
          "$ref": "WorkloadMetadataConfig"
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Advanced features for the Compute Engine VM."
        },
        "consolidationDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "Consolidation delay defines duration after which the Cluster Autoscaler can scale down underutilized nodes. If not set, nodes are scaled down by default behavior, i.e. according to the chosen autoscaling profile."
        },
        "kubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "Node kubelet configs."
        },
        "gpuDirectConfig": {
          "description": "The configuration for GPU Direct",
          "$ref": "GPUDirectConfig"
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
          "type": "string"
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types."
        },
        "localNvmeSsdBlockConfig": {
          "description": "Parameters for using raw-block Local NVMe SSDs.",
          "$ref": "LocalNvmeSsdBlockConfig"
        },
        "localSsdCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information."
        },
        "sandboxConfig": {
          "$ref": "SandboxConfig",
          "description": "Sandbox configuration for this node."
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used."
        },
        "storagePools": {
          "items": {
            "type": "string"
          },
          "description": "List of Storage Pools where boot disks are provisioned.",
          "type": "array"
        },
        "nodeImageConfig": {
          "$ref": "CustomImageConfig",
          "description": "The node image configuration to use for this node pool. Note that this is only applicable for node pools using image_type=CUSTOM."
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "The boot disk configuration for the node pool."
        },
        "localSsdEncryptionMode": {
          "enum": [
            "LOCAL_SSD_ENCRYPTION_MODE_UNSPECIFIED",
            "STANDARD_ENCRYPTION",
            "EPHEMERAL_KEY_ENCRYPTION"
          ],
          "description": "Specifies which method should be used for encrypting the Local SSDs attached to the node.",
          "enumDescriptions": [
            "The given node will be encrypted using keys managed by Google infrastructure and the keys will be deleted when the node is deleted.",
            "The given node will be encrypted using keys managed by Google infrastructure and the keys will be deleted when the node is deleted.",
            "The given node will opt-in for using ephemeral key for encryption of Local SSDs. The Local SSDs will not be able to recover data in case of node crash."
          ],
          "type": "string"
        },
        "resourceLabels": {
          "type": "object",
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'"
        },
        "spot": {
          "type": "boolean",
          "description": "Spot flag for enabling Spot VM, which is a rebrand of the existing preemptible flag."
        },
        "gcfsConfig": {
          "description": "Google Container File System (image streaming) configs.",
          "$ref": "GcfsConfig"
        },
        "labels": {
          "description": "The Kubernetes labels (key/value pairs) to apply to each node. The values in this field are added to the set of default labels Kubernetes applies to nodes. This field has the following restrictions: * Labels must use a valid Kubernetes syntax and character set, as defined in https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set. * This field supports up to 1,024 total characters in a single request. Depending on the Kubernetes version, keys in this field might conflict with the keys of the default labels, which might change which of your labels are applied to the nodes. Assume that the behavior is unpredictable and avoid label key conflicts. For more information about the default labels, see: https://kubernetes.io/docs/reference/labels-annotations-taints/",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        }
      },
      "id": "NodeConfig",
      "description": "Parameters that describe the nodes in a cluster. GKE Autopilot clusters do not recognize parameters in `NodeConfig`. Use AutoprovisioningNodePoolDefaults instead."
    },
    "BlueGreenSettings": {
      "id": "BlueGreenSettings",
      "description": "Settings for blue-green upgrade.",
      "type": "object",
      "properties": {
        "standardRolloutPolicy": {
          "description": "Standard policy for the blue-green upgrade.",
          "$ref": "StandardRolloutPolicy"
        },
        "autoscaledRolloutPolicy": {
          "description": "Autoscaled policy for cluster autoscaler enabled blue-green upgrade.",
          "$ref": "AutoscaledRolloutPolicy"
        },
        "nodePoolSoakDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time needed after draining entire blue pool. After this period, blue pool will be cleaned up."
        }
      }
    },
    "RotationConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the rotation is enabled."
        },
        "rotationInterval": {
          "format": "google-duration",
          "description": "The interval between two consecutive rotations. Default rotation interval is 2 minutes.",
          "type": "string"
        }
      },
      "id": "RotationConfig",
      "type": "object",
      "description": "RotationConfig is config for secret manager auto rotation."
    },
    "ILBSubsettingConfig": {
      "description": "ILBSubsettingConfig contains the desired config of L4 Internal LoadBalancer subsetting on this cluster.",
      "properties": {
        "enabled": {
          "description": "Enables l4 ILB subsetting for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ILBSubsettingConfig"
    },
    "ConsumptionMeteringConfig": {
      "id": "ConsumptionMeteringConfig",
      "description": "Parameters for controlling consumption metering.",
      "properties": {
        "enabled": {
          "description": "Whether to enable consumption metering for this cluster. If enabled, a second BigQuery table will be created to hold resource consumption records.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "NodePoolAutoscaling": {
      "type": "object",
      "properties": {
        "totalMinNodeCount": {
          "description": "Minimum number of nodes in the node pool. Must be greater than or equal to 0 and less than or equal to total_max_node_count. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "format": "int32",
          "type": "integer"
        },
        "totalMaxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of nodes in the node pool. Must be greater than or equal to total_min_node_count. There has to be enough quota to scale up the cluster. The total_*_node_count fields are mutually exclusive with the *_node_count fields."
        },
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        },
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of nodes for one location in the node pool. Must be >= min_node_count. There has to be enough quota to scale up the cluster."
        },
        "autoprovisioned": {
          "type": "boolean",
          "description": "Can this node pool be deleted automatically."
        },
        "locationPolicy": {
          "enum": [
            "LOCATION_POLICY_UNSPECIFIED",
            "BALANCED",
            "ANY"
          ],
          "enumDescriptions": [
            "Not set.",
            "BALANCED is a best effort policy that aims to balance the sizes of different zones.",
            "ANY policy picks zones that have the highest capacity available."
          ],
          "description": "Location policy used when scaling up a node pool.",
          "type": "string"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "Minimum number of nodes for one location in the node pool. Must be greater than or equal to 0 and less than or equal to max_node_count.",
          "type": "integer"
        }
      },
      "id": "NodePoolAutoscaling",
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage."
    },
    "RayOperatorConfig": {
      "id": "RayOperatorConfig",
      "description": "Configuration options for the Ray Operator add-on.",
      "type": "object",
      "properties": {
        "rayClusterMonitoringConfig": {
          "description": "Optional. Monitoring configuration for Ray clusters.",
          "$ref": "RayClusterMonitoringConfig"
        },
        "rayClusterLoggingConfig": {
          "description": "Optional. Logging configuration for Ray clusters.",
          "$ref": "RayClusterLoggingConfig"
        },
        "enabled": {
          "description": "Whether the Ray Operator addon is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "Autopilot": {
      "id": "Autopilot",
      "type": "object",
      "properties": {
        "privilegedAdmissionConfig": {
          "description": "PrivilegedAdmissionConfig is the configuration related to privileged admission control.",
          "$ref": "PrivilegedAdmissionConfig"
        },
        "clusterPolicyConfig": {
          "$ref": "ClusterPolicyConfig",
          "description": "ClusterPolicyConfig denotes cluster level policies that are enforced for the cluster."
        },
        "workloadPolicyConfig": {
          "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
          "$ref": "WorkloadPolicyConfig"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable Autopilot"
        }
      },
      "description": "Autopilot is the configuration for Autopilot settings on the cluster."
    },
    "StartIPRotationRequest": {
      "properties": {
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      },
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "id": "StartIPRotationRequest",
      "type": "object"
    },
    "NotificationConfig": {
      "properties": {
        "pubsub": {
          "description": "Notification config for Pub/Sub.",
          "$ref": "PubSub"
        }
      },
      "description": "NotificationConfig is the configuration of notifications.",
      "id": "NotificationConfig",
      "type": "object"
    },
    "NodePoolAutoConfig": {
      "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
      "id": "NodePoolAutoConfig",
      "properties": {
        "resourceManagerTags": {
          "description": "Resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies.",
          "$ref": "ResourceManagerTags"
        },
        "networkTags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster creation. Each tag within the list must comply with RFC1035.",
          "$ref": "NetworkTags"
        },
        "nodeKubeletConfig": {
          "description": "NodeKubeletConfig controls the defaults for autoprovisioned node-pools. Currently only `insecure_kubelet_readonly_port_enabled` can be set here.",
          "$ref": "NodeKubeletConfig"
        },
        "linuxNodeConfig": {
          "description": "Output only. Configuration options for Linux nodes.",
          "readOnly": true,
          "$ref": "LinuxNodeConfig"
        }
      },
      "type": "object"
    },
    "GCPSecretManagerCertificateConfig": {
      "description": "GCPSecretManagerCertificateConfig configures a secret from [Secret Manager](https://cloud.google.com/secret-manager).",
      "type": "object",
      "properties": {
        "secretUri": {
          "description": "Secret URI, in the form \"projects/$PROJECT_ID/secrets/$SECRET_NAME/versions/$VERSION\". Version can be fixed (e.g. \"2\") or \"latest\"",
          "type": "string"
        }
      },
      "id": "GCPSecretManagerCertificateConfig"
    },
    "NetworkPerformanceConfig": {
      "id": "NetworkPerformanceConfig",
      "type": "object",
      "description": "Configuration of all network bandwidth tiers",
      "properties": {
        "totalEgressBandwidthTier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "description": "Specifies the total network bandwidth tier for the NodePool.",
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ]
        }
      }
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "id": "SetLocationsRequest",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        },
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object"
    },
    "IdentityServiceConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable the Identity Service component"
        }
      },
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API",
      "id": "IdentityServiceConfig"
    },
    "MonitoringConfig": {
      "id": "MonitoringConfig",
      "description": "MonitoringConfig is cluster monitoring configuration.",
      "type": "object",
      "properties": {
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "ManagedPrometheusConfig"
        },
        "advancedDatapathObservabilityConfig": {
          "$ref": "AdvancedDatapathObservabilityConfig",
          "description": "Configuration of Advanced Datapath Observability features."
        },
        "componentConfig": {
          "$ref": "MonitoringComponentConfig",
          "description": "Monitoring components configuration"
        }
      }
    },
    "NodeAffinity": {
      "type": "object",
      "description": "Specifies the NodeAffinity key, values, and affinity operator according to [shared sole tenant node group affinities](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes#node_affinity_and_anti-affinity).",
      "id": "NodeAffinity",
      "properties": {
        "operator": {
          "description": "Operator for NodeAffinity.",
          "type": "string",
          "enumDescriptions": [
            "Invalid or unspecified affinity operator.",
            "Affinity operator.",
            "Anti-affinity operator."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values for NodeAffinity."
        },
        "key": {
          "description": "Key for NodeAffinity.",
          "type": "string"
        }
      }
    },
    "AutoIpamConfig": {
      "type": "object",
      "id": "AutoIpamConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The flag that enables Auto IPAM on this cluster"
        }
      },
      "description": "AutoIpamConfig contains all information related to Auto IPAM"
    },
    "ShieldedNodes": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster."
        }
      },
      "description": "Configuration of Shielded Nodes feature.",
      "id": "ShieldedNodes",
      "type": "object"
    },
    "NodeManagement": {
      "properties": {
        "upgradeOptions": {
          "description": "Specifies the Auto Upgrade knobs for the node pool.",
          "$ref": "AutoUpgradeOptions"
        },
        "autoRepair": {
          "description": "A flag that specifies whether the node auto-repair is enabled for the node pool. If enabled, the nodes in this node pool will be monitored and, if they fail health checks too many times, an automatic repair action will be triggered.",
          "type": "boolean"
        },
        "autoUpgrade": {
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node pool. If enabled, node auto-upgrade helps keep the nodes in your node pool up to date with the latest release version of Kubernetes.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "NodeManagement defines the set of node management services turned on for the node pool.",
      "id": "NodeManagement"
    },
    "Date": {
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "AdditionalIPRangesConfig": {
      "description": "AdditionalIPRangesConfig is the configuration for individual additional subnetwork attached to the cluster",
      "id": "AdditionalIPRangesConfig",
      "properties": {
        "podIpv4RangeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of secondary ranges names within this subnetwork that can be used for pod IPs. Example1: gke-pod-range1 Example2: gke-pod-range1,gke-pod-range2"
        },
        "subnetwork": {
          "description": "Name of the subnetwork. This can be the full path of the subnetwork or just the name. Example1: my-subnet Example2: projects/gke-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Not set, same as ACTIVE.",
            "ACTIVE status indicates that the subnet is available for new node pool creation.",
            "DRAINING status indicates that the subnet is not used for new node pool creation."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "ACTIVE",
            "DRAINING"
          ],
          "type": "string",
          "description": "Draining status of the additional subnet."
        }
      },
      "type": "object"
    },
    "AutoMonitoringConfig": {
      "id": "AutoMonitoringConfig",
      "type": "object",
      "properties": {
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "ALL",
            "NONE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Auto-Monitoring is enabled for all supported applications.",
            "Disable Auto-Monitoring."
          ],
          "description": "Scope for GKE Workload Auto-Monitoring.",
          "type": "string"
        }
      },
      "description": "AutoMonitoringConfig defines the configuration for GKE Workload Auto-Monitoring."
    },
    "GcsFuseCsiDriverConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Cloud Storage Fuse CSI driver is enabled for this cluster."
        }
      },
      "id": "GcsFuseCsiDriverConfig",
      "description": "Configuration for the Cloud Storage Fuse CSI driver."
    },
    "UpdateMasterRequest": {
      "id": "UpdateMasterRequest",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "masterVersion": {
          "type": "string",
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "clusterId": {
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "UpdateMasterRequest updates the master of the cluster."
    },
    "ParentProductConfig": {
      "id": "ParentProductConfig",
      "description": "ParentProductConfig is the configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of a GKE cluster and take the ownership of the cluster.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels contain the configuration of the parent product.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productName": {
          "description": "Name of the parent product associated with the cluster.",
          "type": "string"
        }
      }
    },
    "GkeAutoUpgradeConfig": {
      "type": "object",
      "properties": {
        "patchMode": {
          "description": "PatchMode specifies how auto upgrade patch builds should be selected.",
          "type": "string",
          "enumDescriptions": [
            "PATCH_MODE_UNSPECIFIED defaults to using the upgrade target from the channel's patch upgrade targets as the upgrade target for the version.",
            "ACCELERATED denotes that the latest patch build in the channel should be used as the upgrade target for the version."
          ],
          "enum": [
            "PATCH_MODE_UNSPECIFIED",
            "ACCELERATED"
          ]
        }
      },
      "id": "GkeAutoUpgradeConfig",
      "description": "GkeAutoUpgradeConfig is the configuration for GKE auto upgrades."
    },
    "EphemeralLocalSsdProfile": {
      "description": "Swap on the local SSD shared with pod ephemeral storage.",
      "type": "object",
      "properties": {
        "swapSizeGib": {
          "description": "Specifies the size of the swap space in gibibytes (GiB).",
          "format": "int64",
          "type": "string"
        },
        "swapSizePercent": {
          "type": "integer",
          "description": "Specifies the size of the swap space as a percentage of the ephemeral local SSD capacity.",
          "format": "int32"
        }
      },
      "id": "EphemeralLocalSsdProfile"
    },
    "PrivateRegistryAccessConfig": {
      "description": "PrivateRegistryAccessConfig contains access configuration for private container registries.",
      "properties": {
        "certificateAuthorityDomainConfig": {
          "description": "Private registry access configuration.",
          "type": "array",
          "items": {
            "$ref": "CertificateAuthorityDomainConfig"
          }
        },
        "enabled": {
          "description": "Private registry access is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PrivateRegistryAccessConfig"
    },
    "RangeInfo": {
      "id": "RangeInfo",
      "type": "object",
      "properties": {
        "rangeName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of a range."
        },
        "utilization": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. The utilization of the range."
        }
      },
      "description": "RangeInfo contains the range name and the range utilization by this cluster."
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "properties": {
        "resourceVersion": {
          "type": "string",
[...]
