{
  "basePath": "",
  "servicePath": "",
  "title": "Contact Center AI Insights API",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Contactcenterinsights",
  "version_module": true,
  "id": "contactcenterinsights:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "contactcenterinsights",
  "ownerDomain": "google.com",
  "description": "",
  "revision": "20260910",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "updateCorrelationConfig": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "id": "contactcenterinsights.projects.locations.updateCorrelationConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. The list of fields to be updated.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "httpMethod": "PATCH",
              "description": "Updates correlation config."
            },
            "getCorrelationConfig": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "id": "contactcenterinsights.projects.locations.getCorrelationConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the correlation config resource to get. Format: projects/{project}/locations/{location}/correlationConfig",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets correlation config."
            },
            "testCorrelationConfig": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:testCorrelationConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "location"
              ],
              "parameters": {
                "location": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location to test correlation config. Format: projects/{project}/locations/{location}",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest"
              },
              "id": "contactcenterinsights.projects.locations.testCorrelationConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Tests correlation config on a conversation.",
              "path": "v1/{+location}:testCorrelationConfig"
            },
            "getEncryptionSpec": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "id": "contactcenterinsights.projects.locations.getEncryptionSpec",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the encryption spec resource to get.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets location-level encryption key specification."
            },
            "queryMetrics": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+location}:queryMetrics",
              "description": "Query metrics.",
              "parameterOrder": [
                "location"
              ],
              "parameters": {
                "location": {
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "contactcenterinsights.projects.locations.queryMetrics",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryMetrics",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "bulkUploadFeedbackLabels": {
              "id": "contactcenterinsights.projects.locations.bulkUploadFeedbackLabels",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkUploadFeedbackLabels",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource for new feedback labels.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}:bulkUploadFeedbackLabels",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
              }
            },
            "getSettings": {
              "parameterOrder": [
                "name"
              ],
              "id": "contactcenterinsights.projects.locations.getSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the settings resource to get.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "description": "Gets project-level settings."
            },
            "queryPerformanceOverview": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryPerformanceOverview",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource of the conversations to derive performance stats from. \"projects/{project}/locations/{location}\"",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}:queryPerformanceOverview",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "contactcenterinsights.projects.locations.queryPerformanceOverview",
              "description": "Generates a summary of predefined performance metrics for a set of conversations. Conversations can be specified by specifying a time window and an agent id, for now. The summary includes a comparison of metrics computed for conversations in the previous time period, and also a comparison with peers in the same time period."
            },
            "bulkDeleteFeedbackLabels": {
              "id": "contactcenterinsights.projects.locations.bulkDeleteFeedbackLabels",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDeleteFeedbackLabels",
              "description": "Delete feedback labels in bulk using a filter.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
              },
              "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource for new feedback labels.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            },
            "bulkDownloadFeedbackLabels": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDownloadFeedbackLabels",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource for new feedback labels.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
              "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
              "id": "contactcenterinsights.projects.locations.bulkDownloadFeedbackLabels"
            },
            "listAllFeedbackLabels": {
              "path": "v1/{+parent}:listAllFeedbackLabels",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource of all feedback labels per project.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "List all feedback labels by project number.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:listAllFeedbackLabels",
              "id": "contactcenterinsights.projects.locations.listAllFeedbackLabels"
            },
            "updateSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "id": "contactcenterinsights.projects.locations.updateSettings",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "description": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings"
                }
              },
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "description": "Updates project-level settings.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}"
            },
            "generativeInsights": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generativeInsights",
              "description": "Natural language based Insights which powers the next generation of dashboards in Insights. Next generation of QueryMetrics.",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.generativeInsights",
              "parameters": {
                "location": {
                  "type": "string",
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "path": "v1/{+location}:generativeInsights"
            }
          },
          "resources": {
            "views": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the view. Required. The location to create a view for. Format: `projects//locations/` or `projects//locations/`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/views",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.views.create",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "description": "Creates a view.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenterinsights.projects.locations.views.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "httpMethod": "GET",
                  "description": "Gets a view.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the view to get.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views",
                  "description": "Lists views.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of views to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListViewsResponse`; indicates that this is a continuation of a prior `ListViews` call and the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource of the views."
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.views.list",
                  "path": "v1/{+parent}/views",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListViewsResponse"
                  }
                },
                "delete": {
                  "description": "Deletes a view.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the view to delete."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "id": "contactcenterinsights.projects.locations.views.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "description": "Updates a view.",
                  "path": "v1/{+name}",
                  "id": "contactcenterinsights.projects.locations.views.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Immutable. The resource name of the view. Format: projects/{project}/locations/{location}/views/{view}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "assessmentRules": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource of the assessment rule. Required. The location to create a assessment rule for. Format: `projects//locations/` or `projects//locations/`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "assessmentRuleId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique ID for the new AssessmentRule. This ID will become the final component of the AssessmentRule's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
                    }
                  },
                  "description": "Creates an assessment rule.",
                  "path": "v1/{+parent}/assessmentRules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.assessmentRules.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the assessment rule to get."
                    }
                  },
                  "description": "Get an assessment rule.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists assessment rules.",
                  "path": "v1/{+parent}/assessmentRules",
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of assessment rule to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAssessmentRulesResponse`; indicates that this is a continuation of a prior `ListAssessmentRules` call and the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the assessment rules.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an assessment rule.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "id": "contactcenterinsights.projects.locations.assessmentRules.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated. If the update_mask is not provided, the update will be applied to all fields.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "description": "Identifier. The resource name of the assessment rule. Format: projects/{project}/locations/{location}/assessmentRules/{assessment_rule}",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the assessment rule to delete.",
                      "required": true
                    }
                  },
                  "description": "Deletes an assessment rule.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "assistantSessions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assistantSessions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contactcenterinsights.projects.locations.assistantSessions.list",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAssistantSessionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource, which owns this collection of assistant sessions. Format: `projects/{project}/locations/{location}`"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to reduce results to a specific subset."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of assistant sessions to return in a single response. If unspecified, at most 100 assistant sessions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListAssistantSessions` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    }
                  },
                  "description": "Lists assistant sessions.",
                  "path": "v1/{+parent}/assistantSessions"
                },
                "streamChat": {
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1StreamChatRequest"
                  },
                  "description": "Streams chat messages from the assistant.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the assistant session to stream chat. Format: `projects/{project}/locations/{location}/assistantSessions/{assistant_session}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/assistantSessions/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1StreamChatResponse"
                  },
                  "id": "contactcenterinsights.projects.locations.assistantSessions.streamChat",
                  "path": "v1/{+name}:streamChat",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assistantSessions/{assistantSessionsId}:streamChat"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssistantSession"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets an assistant session.",
                  "id": "contactcenterinsights.projects.locations.assistantSessions.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assistantSessions/{assistantSessionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/assistantSessions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the assistant session to retrieve. Format: `projects/{project}/locations/{location}/assistantSessions/{assistant_session}`"
                    }
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssistantSession"
                  },
                  "description": "Creates an assistant session.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssistantSession"
                  },
                  "id": "contactcenterinsights.projects.locations.assistantSessions.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "assistantSessionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the assistant session, which will become the final component of the assistant session's resource name. If not provided, a random UUID will be generated by the server. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`."
                    },
                    "parent": {
                      "description": "Required. The parent resource where this assistant session will be created. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assistantSessions",
                  "path": "v1/{+parent}/assistantSessions"
                }
              }
            },
            "qaQuestionTags": {
              "methods": {
                "patch": {
                  "description": "Updates a QaQuestionTag.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaQuestionTags/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags/{qaQuestionTagsId}",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags/{qaQuestionTagsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaQuestionTags/[^/]+$",
                      "description": "Required. The name of the QaQuestionTag to delete.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a QaQuestionTag.",
                  "httpMethod": "DELETE",
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags",
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the question tags.",
                  "path": "v1/{+parent}/qaQuestionTags",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the QaQuestionTags.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A filter to reduce results to a specific subset. Supports conjunctions (ie. AND operators). Supported fields include the following: * `project_id` - id of the project to list tags for * `qa_scorecard_id` - id of the scorecard to list tags for * `revision_id` - id of the scorecard revision to list tags for` * `qa_question_id - id of the question to list tags for`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListQaQuestionTagsResponse"
                  }
                },
                "create": {
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the QaQuestionTag."
                    },
                    "qaQuestionTagId": {
                      "description": "Optional. A unique ID for the new QaQuestionTag. This ID will become the final component of the QaQuestionTag's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/qaQuestionTags",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  },
                  "description": "Creates a QaQuestionTag.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaQuestionTags/{qaQuestionTagsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the QaQuestionTag to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaQuestionTags/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets a QaQuestionTag.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTag"
                  },
                  "id": "contactcenterinsights.projects.locations.qaQuestionTags.get"
                }
              }
            },
            "conversations": {
              "methods": {
                "get": {
                  "id": "contactcenterinsights.projects.locations.conversations.get",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                        "Populates all fields in the conversation.",
                        "Populates all fields in the conversation except the transcript.",
                        "Populates all fields in the conversation, including the structured transcript parts."
                      ],
                      "description": "The level of details of the conversation. Default is `FULL`.",
                      "enum": [
                        "CONVERSATION_VIEW_UNSPECIFIED",
                        "FULL",
                        "BASIC",
                        "FULL_WITH_STRUCTURED_TRANSCRIPT"
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the conversation to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "description": "Gets a conversation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "httpMethod": "GET"
                },
                "bulkDelete": {
                  "description": "Deletes multiple conversations in a single request.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations:bulkDelete",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/conversations:bulkDelete",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "contactcenterinsights.projects.locations.conversations.bulkDelete",
                  "httpMethod": "POST"
                },
                "generateSignedAudio": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
                  },
                  "description": "Gets the signed URI for the audio for the given conversation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:generateSignedAudio",
                  "id": "contactcenterinsights.projects.locations.conversations.generateSignedAudio",
                  "httpMethod": "GET",
                  "path": "v1/{+name}:generateSignedAudio",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the conversation to sign.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                    }
                  }
                },
                "upload": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations:upload",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the conversation."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a long-running conversation upload operation. This method differs from `CreateConversation` by allowing audio transcription and optional DLP redaction.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/conversations:upload",
                  "id": "contactcenterinsights.projects.locations.conversations.upload",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1UploadConversationRequest"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists conversations.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.conversations.list",
                  "path": "v1/{+parent}/conversations",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource of the conversation.",
                      "type": "string"
                    },
                    "view": {
                      "description": "The level of details of the conversation. Default is `BASIC`.",
                      "location": "query",
                      "enum": [
                        "CONVERSATION_VIEW_UNSPECIFIED",
                        "FULL",
                        "BASIC",
                        "FULL_WITH_STRUCTURED_TRANSCRIPT"
                      ],
                      "enumDescriptions": [
                        "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                        "Populates all fields in the conversation.",
                        "Populates all fields in the conversation except the transcript.",
                        "Populates all fields in the conversation, including the structured transcript parts."
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of conversations to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data."
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter to reduce results to a specific subset. Useful for querying conversations with specific properties.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The attribute by which to order conversations in the response. If empty, conversations will be ordered by descending creation time. Supported values are one of the following: * create_time * customer_satisfaction_rating * duration * latest_analysis * start_time * turn_count The default sort order is ascending. To specify order, append `asc` or `desc` (`create_time desc`). For more details, see [Google AIPs Ordering](https://google.aip.dev/132#ordering)."
                    }
                  }
                },
                "ingest": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for new conversations."
                    }
                  },
                  "description": "Imports conversations and processes them according to the user's configuration.",
                  "id": "contactcenterinsights.projects.locations.conversations.ingest",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations:ingest",
                  "path": "v1/{+parent}/conversations:ingest"
                },
                "bulkAnalyze": {
                  "path": "v1/{+parent}/conversations:bulkAnalyze",
                  "description": "Analyzes multiple conversations in a single request.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "contactcenterinsights.projects.locations.conversations.bulkAnalyze",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource to create analyses in.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations:bulkAnalyze"
                },
                "calculateStats": {
                  "description": "Gets conversation statistics.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
                  },
                  "path": "v1/{+location}/conversations:calculateStats",
                  "id": "contactcenterinsights.projects.locations.conversations.calculateStats",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "A filter to reduce results to a specific subset. This field is useful for getting statistics about conversations with specific properties.",
                      "location": "query"
                    },
                    "location": {
                      "description": "Required. The location of the conversations.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations:calculateStats"
                },
                "sample": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the dataset.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/conversations:sample",
                  "id": "contactcenterinsights.projects.locations.conversations.sample",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations:sample",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Samples conversations based on user configuration and handles the sampled conversations for different use cases.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                  },
                  "id": "contactcenterinsights.projects.locations.conversations.create",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations",
                  "parameters": {
                    "conversationId": {
                      "type": "string",
                      "location": "query",
                      "description": "A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the conversation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/conversations",
                  "description": "Creates a conversation. Note that this method does not support audio transcription or redaction. Use `conversations.upload` instead.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "contactcenterinsights.projects.locations.conversations.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "description": "Required. The name of the conversation to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "force": {
                      "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "description": "Deletes a conversation.",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "id": "contactcenterinsights.projects.locations.conversations.patch",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                  },
                  "description": "Updates a conversation.",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `agent_id` * `language_code` * `labels` * `metadata` * `quality_metadata` * `call_metadata` * `start_time` * `expire_time` or `ttl` * `data_source.gcs_source.audio_uri` or * `data_source.dialogflow_source.audio_uri` * `data_source.screen_recordings`"
                    },
                    "name": {
                      "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                    },
                    "allowMissing": {
                      "description": "Optional. Defaults to false. If set to true, and the conversation is not found, a new conversation will be created. In this situation, `update_mask` is ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "conversationAutoLabelingUpdateConfig.allowAutoLabelingUpdate": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, the conversation will be updated with auto labeling results."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}"
                }
              },
              "resources": {
                "segments": {
                  "methods": {
                    "bulkAnalyze": {
                      "description": "Analyzes multiple conversations in a single request.",
                      "path": "v1/{+parent}/segments:bulkAnalyze",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource to create analyses in.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "contactcenterinsights.projects.locations.conversations.segments.bulkAnalyze",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/segments:bulkAnalyze",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "assessments": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                          "description": "Required. The name of the assessment to get.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}",
                      "httpMethod": "GET",
                      "id": "contactcenterinsights.projects.locations.conversations.assessments.get",
                      "description": "Get Assessment."
                    },
                    "publish": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.conversations.assessments.publish",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:publish",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the assessment to publish.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}:publish",
                      "description": "Publish an Assessment."
                    },
                    "finalize": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                      },
                      "description": "Finalize an Assessment.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:finalize",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}:finalize",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the assessment to finalize.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "contactcenterinsights.projects.locations.conversations.assessments.finalize",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource of the assessment.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "contactcenterinsights.projects.locations.conversations.assessments.create",
                      "path": "v1/{+parent}/assessments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                      },
                      "description": "Create Assessment.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "description": "Delete an Assessment.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}",
                      "id": "contactcenterinsights.projects.locations.conversations.assessments.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "force": {
                          "description": "Optional. If set to true, all of this assessment's notes will also be deleted. Otherwise, the request will only succeed if it has no notes.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the assessment to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "appeal": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the assessment to appeal."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Assessment"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1AppealAssessmentRequest"
                      },
                      "description": "Appeal an Assessment.",
                      "id": "contactcenterinsights.projects.locations.conversations.assessments.appeal",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}:appeal",
                      "path": "v1/{+name}:appeal"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/assessments",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListAssessmentsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List Assessments.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "description": "Required. The parent resource of the assessments. To list all assessments in a location, substitute the conversation ID with a '-' character.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A filter to reduce results to a specific subset. Supported filters include: * `state` - The state of the assessment * `agent_info.agent_id` - The ID of the agent the assessment is for"
                        },
                        "pageToken": {
                          "description": "Optional. The value returned by the last `ListAssessmentRulesResponse`; indicates that this is a continuation of a prior `ListAssessmentRules` call and the system should return the next page of data.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of assessments to list. If zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments",
                      "id": "contactcenterinsights.projects.locations.conversations.assessments.list"
                    }
                  },
                  "resources": {
                    "notes": {
                      "methods": {
                        "patch": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes/{notesId}",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1Note"
                          },
                          "description": "Update Note.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+/notes/[^/]+$"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "description": "Optional. The list of fields to be updated. If the update_mask is empty, all updateable fields will be updated. Acceptable fields include: * `content`",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "contactcenterinsights.projects.locations.conversations.assessments.notes.patch",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1Note"
                          },
                          "path": "v1/{+name}"
                        },
                        "create": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+$",
                              "location": "path",
                              "description": "Required. The parent resource of the note.",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1Note"
                          },
                          "id": "contactcenterinsights.projects.locations.conversations.assessments.notes.create",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1Note"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/notes",
                          "description": "Create Note."
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes/{notesId}",
                          "id": "contactcenterinsights.projects.locations.conversations.assessments.notes.delete",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the note to delete.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+/notes/[^/]+$"
                            }
                          },
                          "description": "Deletes a Note.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "description": "List Notes.",
                          "path": "v1/{+parent}/notes",
                          "id": "contactcenterinsights.projects.locations.conversations.assessments.notes.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of notes to return in the response. If zero the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The value returned by the last `ListNotesResponse`. This value indicates that this is a continuation of a prior `ListNotes` call and that the system should return the next page of data.",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent resource of the notes.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/assessments/[^/]+$"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/assessments/{assessmentsId}/notes",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListNotesResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "feedbackLabels": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                      },
                      "id": "contactcenterinsights.projects.locations.conversations.feedbackLabels.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. The list of fields to be updated.",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                      },
                      "description": "Update feedback label.",
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                      "id": "contactcenterinsights.projects.locations.conversations.feedbackLabels.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                          "description": "Required. The name of the feedback label to delete.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Delete feedback label.",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "id": "contactcenterinsights.projects.locations.conversations.feedbackLabels.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the feedback label to get.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                      "description": "Get feedback label.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/feedbackLabels",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource of the feedback labels.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "filter": {
                          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Automatically sorts by conversation ID. To sort by all feedback labels in a project see ListAllFeedbackLabels. Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The value returned by the last `ListFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListFeedbackLabels` call and that the system should return the next page of data.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/feedbackLabels",
                      "description": "List feedback labels.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "contactcenterinsights.projects.locations.conversations.feedbackLabels.list",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                      },
                      "path": "v1/{+parent}/feedbackLabels",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
[...]
