{
  "id": "contentwarehouse:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "ownerName": "Google",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "canonicalName": "contentwarehouse",
  "revision": "20250206",
  "version": "v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "name": "contentwarehouse",
  "documentationLink": "https://cloud.google.com/document-warehouse",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "contentwarehouse.projects.locations.operations.get"
                }
              }
            },
            "synonymSets": {
              "methods": {
                "create": {
                  "id": "contentwarehouse.projects.locations.synonymSets.create",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}."
                    }
                  },
                  "path": "v1/{+parent}/synonymSets",
                  "description": "Creates a SynonymSet for a single context. Throws an ALREADY_EXISTS exception if a synonymset already exists for the context.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListSynonymSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSynonymSets` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of synonymSets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}."
                    }
                  },
                  "description": "Returns all SynonymSets (for all contexts) for the specified location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "id": "contentwarehouse.projects.locations.synonymSets.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListSynonymSetsResponse"
                  },
                  "path": "v1/{+parent}/synonymSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "contentwarehouse.projects.locations.synonymSets.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the synonymSet to delete Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$"
                    }
                  },
                  "description": "Deletes a SynonymSet for a given context. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the synonymSet to update Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Remove the existing SynonymSet for the context and replaces it with a new one. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "id": "contentwarehouse.projects.locations.synonymSets.patch",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the synonymSet to retrieve Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "description": "Gets a SynonymSet for a particular context. Throws a NOT_FOUND exception if the Synonymset does not exist",
                  "id": "contentwarehouse.projects.locations.synonymSets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "ruleSets": {
              "methods": {
                "delete": {
                  "id": "contentwarehouse.projects.locations.ruleSets.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a ruleset. Returns NOT_FOUND if the document does not exist.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the rule set to delete. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}."
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the rule set to retrieve. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.ruleSets.get",
                  "description": "Gets a ruleset. Returns NOT_FOUND if the ruleset does not exist.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Creates a ruleset.",
                  "id": "contentwarehouse.projects.locations.ruleSets.create",
                  "path": "v1/{+parent}/ruleSets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists rulesets.",
                  "id": "contentwarehouse.projects.locations.ruleSets.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/ruleSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListRuleSetsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of rule sets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of document. Format: projects/{project_number}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListRuleSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRuleSets` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateRuleSetRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a ruleset. Returns INVALID_ARGUMENT if the name of the ruleset is non-empty and does not equal the existing name.",
                  "id": "contentwarehouse.projects.locations.ruleSets.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the rule set to update. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "documents": {
              "resources": {
                "referenceId": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1Document"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:get",
                      "id": "contentwarehouse.projects.locations.documents.referenceId.get",
                      "httpMethod": "POST",
                      "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "PATCH",
                      "id": "contentwarehouse.projects.locations.documents.referenceId.patch"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}:delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contentwarehouse.projects.locations.documents.referenceId.delete",
                      "httpMethod": "POST",
                      "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                      }
                    }
                  }
                },
                "documentLinks": {
                  "methods": {
                    "create": {
                      "path": "v1/{+parent}/documentLinks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Create a link between a source document and a target document.",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Parent of the document-link to be created. parent of document-link should be a document. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$"
                        }
                      },
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks/{documentLinksId}:delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}:delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the document-link to be deleted. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}/documentLinks/{document_link_id}.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+/documentLinks/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.delete",
                      "httpMethod": "POST",
                      "description": "Remove the link between the source and target documents."
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:delete",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:delete",
                  "id": "contentwarehouse.projects.locations.documents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a document. Returns NOT_FOUND if the document does not exist."
                },
                "fetchAcl": {
                  "id": "contentwarehouse.projects.locations.documents.fetchAcl",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
                  },
                  "path": "v1/{+resource}:fetchAcl",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:fetchAcl",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true,
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
                    }
                  }
                },
                "linkedSources": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedSources",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the document, for which all source links are returned. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.linkedSources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/linkedSources",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse"
                  },
                  "description": "Return all source document-links from the document."
                },
                "linkedTargets": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document, for which all target links are returned. Format: projects/{project_number}/locations/{location}/documents/{target_document_id}.",
                      "type": "string"
                    }
                  },
                  "description": "Return all target document-links from the document.",
                  "path": "v1/{+parent}/linkedTargets",
                  "id": "contentwarehouse.projects.locations.documents.linkedTargets",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedTargets",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsResponse"
                  }
                },
                "setAcl": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.setAcl",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
                  },
                  "description": "Sets the access control policy for a resource. Replaces any existing policy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:setAcl",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setAcl",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
                  }
                },
                "search": {
                  "id": "contentwarehouse.projects.locations.documents.search",
                  "httpMethod": "POST",
                  "description": "Searches for documents using provided SearchDocumentsRequest. This call only returns documents that the caller has permission to search against.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents:search",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of documents. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/documents:search"
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/documents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentRequest"
                  },
                  "description": "Creates a document."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}",
                  "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                  },
                  "id": "contentwarehouse.projects.locations.documents.patch",
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                  },
                  "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                  "id": "contentwarehouse.projects.locations.documents.get",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:get",
                  "path": "v1/{+name}:get"
                },
                "lock": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to lock. Format: projects/{project_number}/locations/{location}/documents/{document}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.lock",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:lock",
                  "httpMethod": "POST",
                  "description": "Lock the document so the document cannot be updated by other users.",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1LockDocumentRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:lock"
                }
              }
            },
            "documentSchemas": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "id": "contentwarehouse.projects.locations.documentSchemas.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "description": "Required. The name of the document schema to update. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Updates a Document Schema. Returns INVALID_ARGUMENT if the name of the Document Schema is non-empty and does not equal the existing name. Supports only appending new properties, adding new ENUM possible values, and updating the EnumTypeOptions.validation_check_disabled flag for ENUM possible values. Updating existing properties will result into INVALID_ARGUMENT.",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "description": "Required. The name of the document schema to delete.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.documentSchemas.delete",
                  "description": "Deletes a document schema. Returns NOT_FOUND if the document schema does not exist. Returns BAD_REQUEST if the document schema has documents depending on it."
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of document schemas. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListDocumentSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDocumentSchemas` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of document schemas to return. The service may return fewer than this value. If unspecified, at most 50 document schemas will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "path": "v1/{+parent}/documentSchemas",
                  "id": "contentwarehouse.projects.locations.documentSchemas.list",
                  "httpMethod": "GET",
                  "description": "Lists document schemas."
                },
                "create": {
                  "path": "v1/{+parent}/documentSchemas",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "id": "contentwarehouse.projects.locations.documentSchemas.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent name.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a document schema.",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a document schema. Returns NOT_FOUND if the document schema does not exist.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "description": "Required. The name of the document schema to retrieve.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contentwarehouse.projects.locations.documentSchemas.get"
                }
              }
            }
          },
          "methods": {
            "runPipeline": {
              "path": "v1/{+name}:runPipeline",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:runPipeline",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The resource name which owns the resources of the pipeline. Format: projects/{project_number}/locations/{location}."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1RunPipelineRequest"
              },
              "id": "contentwarehouse.projects.locations.runPipeline",
              "description": "Run a predefined pipeline."
            },
            "initialize": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:initialize",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1InitializeProjectRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "description": "Required. The location to be initialized Format: projects/{project_number}/locations/{location}.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+location}:initialize",
              "description": "Provisions resources for given tenant project. Returns a long running operation.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "location"
              ],
              "id": "contentwarehouse.projects.locations.initialize"
            },
            "getStatus": {
              "parameterOrder": [
                "location"
              ],
              "path": "v1/{+location}:getStatus",
              "response": {
                "$ref": "GoogleCloudContentwarehouseV1ProjectStatus"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "location": {
                  "description": "Required. The location to be queried Format: projects/{project_number}/locations/{location}.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:getStatus",
              "description": "Get the project status.",
              "id": "contentwarehouse.projects.locations.getStatus"
            }
          }
        }
      },
      "methods": {
        "fetchAcl": {
          "id": "contentwarehouse.projects.fetchAcl",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects/{projectsId}:fetchAcl",
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
          },
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
          },
          "path": "v1/{+resource}:fetchAcl",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
            }
          }
        },
        "setAcl": {
          "id": "contentwarehouse.projects.setAcl",
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
          },
          "flatPath": "v1/projects/{projectsId}:setAcl",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
          },
          "description": "Sets the access control policy for a resource. Replaces any existing policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+resource}:setAcl",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
            }
          },
          "parameterOrder": [
            "resource"
          ]
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://contentwarehouse.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GoogleCloudDocumentaiV1Document": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1Document",
      "properties": {
        "textStyles": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentStyle"
          },
          "description": "Styles for the Document.text."
        },
        "textChanges": {
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextChange"
          },
          "type": "array"
        },
        "content": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64."
        },
        "entities": {
          "type": "array",
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error that occurred while processing this document."
        },
        "revisions": {
          "description": "Placeholder. Revision history of this document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentRevision"
          },
          "type": "array"
        },
        "pages": {
          "description": "Visual page layout for the Document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPage"
          },
          "type": "array"
        },
        "entityRelations": {
          "type": "array",
          "description": "Placeholder. Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityRelation"
          }
        },
        "chunkedDocument": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
          "description": "Document chunked based on chunking config."
        },
        "uri": {
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris).",
          "type": "string"
        },
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
        },
        "documentLayout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayout",
          "description": "Parsed layout of the document."
        },
        "shardInfo": {
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified.",
          "$ref": "GoogleCloudDocumentaiV1DocumentShardInfo"
        }
      },
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality."
    },
    "GoogleApiServiceconsumermanagementV1PolicyBinding": {
      "type": "object",
      "description": "Translates to IAM Policy bindings (without auditing at this level)",
      "id": "GoogleApiServiceconsumermanagementV1PolicyBinding",
      "properties": {
        "role": {
          "description": "Role. (https://cloud.google.com/iam/docs/understanding-roles) For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Uses the same format as in IAM policy. `member` must include both a prefix and ID. For example, `user:{emailId}`, `serviceAccount:{emailId}`, `group:{emailId}`.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1SynonymSet": {
      "id": "GoogleCloudContentwarehouseV1SynonymSet",
      "type": "object",
      "properties": {
        "context": {
          "description": "This is a freeform field. Example contexts can be \"sales,\" \"engineering,\" \"real estate,\" \"accounting,\" etc. The context can be supplied during search requests.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the SynonymSet This is mandatory for google.api.resource. Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "description": "List of Synonyms for the context.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SynonymSetSynonym"
          }
        }
      },
      "description": "Represents a list of synonyms for a given context. For example a context \"sales\" could contain: Synonym 1: sale, invoice, bill, order Synonym 2: money, credit, finance, payment Synonym 3: shipping, freight, transport Each SynonymSets should be disjoint"
    },
    "GoogleCloudContentwarehouseV1ListRuleSetsResponse": {
      "description": "Response message for RuleSetService.ListRuleSets.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1ListRuleSetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "ruleSets": {
          "description": "The rule sets from the specified parent.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1RuleSet"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContentwarehouseV1IntegerArray": {
      "id": "GoogleCloudContentwarehouseV1IntegerArray",
      "description": "Integer values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "List of integer values.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1WeightedSchemaProperty": {
      "description": "Specifies the schema property name.",
      "type": "object",
      "properties": {
        "documentSchemaName": {
          "type": "string",
          "description": "The document schema name."
        },
        "propertyNames": {
          "description": "The property definition names in the schema.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudContentwarehouseV1WeightedSchemaProperty"
    },
    "CloudAiPlatformTenantresourceTenantResource": {
      "description": "A collection of tenant resources.",
      "type": "object",
      "properties": {
        "tenantProjectResources": {
          "description": "A list of tenant projects and tenant resources to provision or deprovision.",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceTenantProjectResource"
          },
          "type": "array"
        },
        "p4ServiceAccounts": {
          "description": "A list of P4 service accounts (go/p4sa) to provision or deprovision.",
          "type": "array",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceServiceAccountIdentity"
          }
        }
      },
      "id": "CloudAiPlatformTenantresourceTenantResource"
    },
    "GoogleCloudContentwarehouseV1HistogramQueryPropertyNameFilter": {
      "type": "object",
      "properties": {
        "propertyNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "It is optional. It will perform histogram for all the property names if it is not set. The properties need to be defined with the is_filterable flag set to true and the name of the property should be in the format: \"schemaId.propertyName\". The property needs to be defined in the schema. Example: the schema id is abc. Then the name of property for property MORTGAGE_TYPE will be \"abc.MORTGAGE_TYPE\"."
        },
        "documentSchemas": {
          "type": "array",
          "description": "This filter specifies the exact document schema(s) Document.document_schema_name to run histogram query against. It is optional. It will perform histogram for property names for all the document schemas if it is not set. At most 10 document schema names are allowed. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}.",
          "items": {
            "type": "string"
          }
        },
        "yAxis": {
          "type": "string",
          "enum": [
            "HISTOGRAM_YAXIS_DOCUMENT",
            "HISTOGRAM_YAXIS_PROPERTY"
          ],
          "enumDescriptions": [
            "Count the documents per property name.",
            "Count the properties per property name."
          ],
          "description": "By default, the y_axis is HISTOGRAM_YAXIS_DOCUMENT if this field is not set."
        }
      },
      "id": "GoogleCloudContentwarehouseV1HistogramQueryPropertyNameFilter"
    },
    "GoogleCloudContentwarehouseV1CustomWeightsMetadata": {
      "properties": {
        "weightedSchemaProperties": {
          "type": "array",
          "description": "List of schema and property name. Allows a maximum of 10 schemas to be specified for relevance boosting.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1WeightedSchemaProperty"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1CustomWeightsMetadata",
      "description": "To support the custom weighting across document schemas."
    },
    "GoogleCloudContentwarehouseV1beta1InitializeProjectResponse": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Clients should never see this.",
            "Finished project initialization without error.",
            "Finished project initialization with an error.",
            "Client canceled the LRO.",
            "Ask the customer to check the operation for results."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RUNNING"
          ],
          "type": "string",
          "description": "The state of the project initialization process."
        },
        "message": {
          "description": "The message of the project initialization process.",
          "type": "string"
        }
      },
      "description": "Response message for projectService.InitializeProject",
      "id": "GoogleCloudContentwarehouseV1beta1InitializeProjectResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
      "properties": {
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array",
          "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry",
      "type": "object",
      "description": "Represents an entry in the list."
    },
    "GoogleCloudContentwarehouseV1AddToFolderAction": {
      "type": "object",
      "properties": {
        "folders": {
          "items": {
            "type": "string"
          },
          "description": "Names of the folder under which new document is to be added. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "type": "array"
        }
      },
      "description": "Represents the action responsible for adding document under a folder.",
      "id": "GoogleCloudContentwarehouseV1AddToFolderAction"
    },
    "GoogleCloudContentwarehouseV1HistogramQueryResult": {
      "description": "Histogram result that matches HistogramQuery specified in searches.",
      "id": "GoogleCloudContentwarehouseV1HistogramQueryResult",
      "type": "object",
      "properties": {
        "histogram": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "A map from the values of the facet associated with distinct values to the number of matching entries with corresponding value. The key format is: * (for string histogram) string values stored in the field.",
          "type": "object"
        },
        "histogramQuery": {
          "type": "string",
          "description": "Requested histogram expression."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment",
      "properties": {
        "startIndex": {
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "type": "string",
          "format": "int64"
        },
        "endIndex": {
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Confidence of detected language. Range `[0, 1]`.",
          "type": "number"
        },
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest": {
      "type": "object",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of document-links to return. The service may return fewer than this value. If unspecified, at most 50 document-links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer"
        },
        "requestMetadata": {
          "description": "The meta information collected about the document creator, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        },
        "pageToken": {
          "description": "A page token, received from a previous `ListLinkedSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedSources` must match the call that provided the page token.",
          "type": "string"
        }
      },
      "description": "Response message for DocumentLinkService.ListLinkedSources.",
      "id": "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest"
    },
    "GoogleCloudContentwarehouseV1FetchAclRequest": {
      "description": "Request message for DocumentService.FetchAcl",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1FetchAclRequest",
      "properties": {
        "projectOwner": {
          "type": "boolean",
          "description": "For Get Project ACL only. Authorization check for end user will be ignored when project_owner=true."
        },
        "requestMetadata": {
          "description": "The meta information collected about the end user, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Footer in text format."
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the footer."
        }
      },
      "description": "Represents the page footer associated with the chunk.",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
    },
    "GoogleCloudDocumentaiV1DocumentStyle": {
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "id": "GoogleCloudDocumentaiV1DocumentStyle",
      "type": "object",
      "properties": {
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1DocumentStyleFontSize"
        },
        "backgroundColor": {
          "description": "Text background color.",
          "$ref": "GoogleTypeColor"
        },
        "textDecoration": {
          "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. ",
          "type": "string"
        },
        "fontWeight": {
          "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`.",
          "type": "string"
        },
        "textStyle": {
          "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`.",
          "type": "string"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "fontFamily": {
          "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp",
          "type": "string"
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "Text color."
        }
      }
    },
    "GoogleCloudContentwarehouseV1RunPipelineRequest": {
      "description": "Request message for DocumentService.RunPipeline.",
      "id": "GoogleCloudContentwarehouseV1RunPipelineRequest",
      "type": "object",
      "properties": {
        "gcsIngestPipeline": {
          "$ref": "GoogleCloudContentwarehouseV1GcsIngestPipeline",
          "description": "Cloud Storage ingestion pipeline."
        },
        "exportCdwPipeline": {
          "$ref": "GoogleCloudContentwarehouseV1ExportToCdwPipeline",
          "description": "Export docuemnts from Document Warehouse to CDW for training purpose."
        },
        "gcsIngestWithDocAiProcessorsPipeline": {
          "$ref": "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline",
          "description": "Use DocAI processors to process documents in Cloud Storage and ingest them to Document Warehouse."
        },
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the end user, used to enforce access control for the service."
        },
        "processWithDocAiPipeline": {
          "description": "Use a DocAI processor to process documents in Document Warehouse, and re-ingest the updated results into Document Warehouse.",
          "$ref": "GoogleCloudContentwarehouseV1ProcessWithDocAiPipeline"
        }
      }
    },
    "GoogleCloudDocumentaiV1BoundingPoly": {
      "id": "GoogleCloudDocumentaiV1BoundingPoly",
      "type": "object",
      "description": "A bounding polygon for the detected image annotation.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Vertex"
          },
          "description": "The bounding polygon vertices.",
          "type": "array"
        },
        "normalizedVertices": {
          "type": "array",
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NormalizedVertex"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1SetAclResponse": {
      "id": "GoogleCloudContentwarehouseV1SetAclResponse",
      "description": "Response message for DocumentService.SetAcl.",
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudContentwarehouseV1ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request tracking id."
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "The policy will be attached to a resource (e.g. projecct, document)."
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1DateTimeTypeOptions": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1DateTimeTypeOptions",
      "description": "Configurations for a date time property."
    },
    "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest": {
      "properties": {
        "documentLink": {
          "description": "Required. Document links associated with the source documents (source_document_id).",
          "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
        },
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the document creator, used to enforce access control for the service."
        }
      },
      "description": "Request message for DocumentLinkService.CreateDocumentLink.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest"
    },
    "GoogleCloudDocumentaiV1DocumentEntity": {
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "type": "object",
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          },
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document."
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityNormalizedValue"
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        },
        "type": {
          "type": "string",
          "description": "Required. Entity type from a schema e.g. `Address`."
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "pageAnchor": {
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageAnchor"
        },
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        },
        "mentionText": {
          "description": "Optional. Text value of the entity e.g. `1600 Amphitheatre Pkwy`.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentEntity"
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentRequest": {
      "properties": {
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the end user, used to enforce access control for the service."
        },
        "updateOptions": {
          "$ref": "GoogleCloudContentwarehouseV1UpdateOptions",
          "description": "Options for the update operation."
        },
        "document": {
          "$ref": "GoogleCloudContentwarehouseV1Document",
          "description": "Required. The document to update."
        },
        "cloudAiDocumentOption": {
          "description": "Request Option for processing Cloud AI Document in Document Warehouse. This field offers limited support for mapping entities from Cloud AI Document to Warehouse Document. Please consult with product team before using this field and other available options.",
          "$ref": "GoogleCloudContentwarehouseV1CloudAIDocumentOption"
        }
      },
      "description": "Request message for DocumentService.UpdateDocument.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayout": {
      "properties": {
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array",
          "description": "List of blocks in the document."
        }
      },
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayout",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentShardInfo": {
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "id": "GoogleCloudDocumentaiV1DocumentShardInfo",
      "properties": {
        "shardIndex": {
          "type": "string",
          "description": "The 0-based index of this shard.",
          "format": "int64"
        },
        "textOffset": {
          "format": "int64",
          "type": "string",
          "description": "The index of the first character in Document.text in the overall document global text."
        },
        "shardCount": {
          "type": "string",
          "description": "Total number of shards.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudContentwarehouseV1PropertyFilter": {
      "id": "GoogleCloudContentwarehouseV1PropertyFilter",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string",
          "description": "The filter condition. The syntax for this expression is a subset of SQL syntax. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, `>=`, and `~~` where the left of the operator is a property name and the right of the operator is a number or a quoted string. You must escape backslash (\\\\) and quote (\\\") characters. `~~` is the LIKE operator. The right of the operator must be a string. The only supported property data type for LIKE is text_values. It provides semantic search functionality by parsing, stemming and doing synonyms expansion against the input query. It matches if the property contains semantic similar content to the query. It is not regex matching or wildcard matching. For example, \"property.company ~~ \\\"google\\\"\" will match records whose property `property.compnay` have values like \"Google Inc.\", \"Google LLC\" or \"Google Company\". Supported functions are `LOWER([property_name])` to perform a case insensitive match and `EMPTY([property_name])` to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 100 comparisons or functions are allowed in the expression. The expression must be < 6000 bytes in length. Only properties that are marked filterable are allowed (PropertyDefinition.is_filterable). Property names do not need to be prefixed by the document schema id (as is the case with histograms), however property names will need to be prefixed by its parent hierarchy, if any. For example: top_property_name.sub_property_name. Sample Query: `(LOWER(driving_license)=\"class \\\"a\\\"\" OR EMPTY(driving_license)) AND driving_years > 10` CMEK compliant deployment only supports: * Operators: `=`, `<`, `<=`, `>`, and `>=`. * Boolean expressions: AND and OR."
        },
        "documentSchemaName": {
          "type": "string",
          "description": "The Document schema name Document.document_schema_name. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudContentwarehouseV1ProcessWithDocAiPipeline": {
      "id": "GoogleCloudContentwarehouseV1ProcessWithDocAiPipeline",
      "description": "The configuration of processing documents in Document Warehouse with DocAi processors pipeline.",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The list of all the resource names of the documents to be processed. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "type": "array"
        },
        "processorResultsFolderPath": {
          "description": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`.",
          "type": "string"
        },
        "processorInfo": {
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo",
          "description": "The CDW processor information."
        },
        "exportFolderPath": {
          "type": "string",
          "description": "The Cloud Storage folder path used to store the exported documents before being sent to CDW. Format: `gs:///`."
        }
      }
    },
    "GoogleCloudDocumentaiV1NormalizedVertex": {
      "properties": {
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "type": "number",
          "format": "float"
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        }
      },
      "id": "GoogleCloudDocumentaiV1NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline": {
      "type": "object",
      "properties": {
        "extractProcessorInfos": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
          },
          "description": "The extract processors information. One matched extract processor will be used to process documents based on the classify processor result. If no classify processor is specified, the first extract processor will be used.",
          "type": "array"
        },
        "skipIngestedDocuments": {
          "description": "The flag whether to skip ingested documents. If it is set to true, documents in Cloud Storage contains key \"status\" with value \"status=ingested\" in custom metadata will be skipped to ingest.",
          "type": "boolean"
        },
        "inputPath": {
          "description": "The input Cloud Storage folder. All files under this folder will be imported to Document Warehouse. Format: `gs:///`.",
          "type": "string"
        },
        "splitClassifyProcessorInfo": {
          "description": "The split and classify processor information. The split and classify result will be used to find a matched extract processor.",
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
        },
        "processorResultsFolderPath": {
          "type": "string",
          "description": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`."
        },
        "pipelineConfig": {
          "description": "Optional. The config for the Cloud Storage Ingestion with DocAI Processors pipeline. It provides additional customization options to run the pipeline and can be skipped if it is not applicable.",
          "$ref": "GoogleCloudContentwarehouseV1IngestPipelineConfig"
        }
      },
      "description": "The configuration of the Cloud Storage Ingestion with DocAI Processors pipeline.",
      "id": "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline"
    },
    "GoogleCloudDocumentaiV1DocumentPageImage": {
      "id": "GoogleCloudDocumentaiV1DocumentPageImage",
      "type": "object",
      "description": "Rendered image contents for this page.",
      "properties": {
        "content": {
          "description": "Raw byte content of the image.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "height": {
          "description": "Height of the image in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "format": "int32",
          "description": "Width of the image in pixels.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchor": {
      "type": "object",
      "properties": {
        "textSegments": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
          },
          "description": "The text segments from the Document.text.",
          "type": "array"
        },
        "content": {
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields.",
          "type": "string"
        }
      },
      "description": "Text reference indexing into the Document.text.",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchor"
    },
    "GoogleCloudDocumentaiV1Barcode": {
      "type": "object",
      "description": "Encodes the detailed information of a barcode.",
      "id": "GoogleCloudDocumentaiV1Barcode",
      "properties": {
        "valueFormat": {
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license.",
          "type": "string"
        },
        "rawValue": {
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.",
          "type": "string"
        },
        "format": {
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "properties": {
        "width": {
          "format": "float",
          "type": "number",
          "description": "Page width."
        },
        "height": {
          "description": "Page height.",
          "format": "float",
          "type": "number"
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension",
      "type": "object",
      "description": "Dimension for the page."
    },
    "GoogleCloudContentwarehouseV1QAResultHighlight": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1QAResultHighlight",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Start index of the highlight."
        },
        "endIndex": {
          "type": "integer",
          "description": "End index of the highlight, exclusive.",
          "format": "int32"
        }
      },
      "description": "A text span in the search text snippet that represents a highlighted section (answer context, highly relevant sentence, etc.)."
    },
    "GoogleCloudContentwarehouseV1UserInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "A unique user identification string, as determined by the client. The maximum number of allowed characters is 255. Allowed characters include numbers 0 to 9, uppercase and lowercase letters, and restricted special symbols (:, @, +, -, _, ~) The format is \"user:xxxx@example.com\";",
          "type": "string"
        },
        "groupIds": {
          "description": "The unique group identifications which the user is belong to. The format is \"group:yyyy@example.com\";",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The user information.",
      "id": "GoogleCloudContentwarehouseV1UserInfo"
    },
    "GoogleCloudContentwarehouseV1CloudAIDocumentOption": {
      "type": "object",
      "description": "Request Option for processing Cloud AI Document in CW Document.",
      "id": "GoogleCloudContentwarehouseV1CloudAIDocumentOption",
      "properties": {
        "enableEntitiesConversions": {
          "description": "Whether to convert all the entities to properties.",
          "type": "boolean"
        },
        "customizedEntitiesPropertiesConversions": {
          "type": "object",
          "description": "If set, only selected entities will be converted to properties.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1RuleEvaluatorOutput": {
      "description": "Represents the output of the Rule Evaluator.",
      "id": "GoogleCloudContentwarehouseV1RuleEvaluatorOutput",
      "properties": {
        "triggeredRules": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Rule"
          },
          "type": "array",
          "description": "List of rules fetched from database for the given request trigger type."
        },
        "invalidRules": {
[...]
