{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "baseUrl": "https://contentwarehouse.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/document-warehouse",
  "name": "contentwarehouse",
  "canonicalName": "contentwarehouse",
  "id": "contentwarehouse:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://contentwarehouse.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "setAcl": {
          "description": "Sets the access control policy for a resource. Replaces any existing policy.",
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "contentwarehouse.projects.setAcl",
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
          },
          "path": "v1/{+resource}:setAcl",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects/{projectsId}:setAcl",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path"
            }
          }
        },
        "fetchAcl": {
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
          },
          "flatPath": "v1/projects/{projectsId}:fetchAcl",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
          },
          "path": "v1/{+resource}:fetchAcl",
          "id": "contentwarehouse.projects.fetchAcl",
          "parameters": {
            "resource": {
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "parameterOrder": [
            "resource"
          ]
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "initialize": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+location}:initialize",
              "id": "contentwarehouse.projects.locations.initialize",
              "description": "Provisions resources for given tenant project. Returns a long running operation.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location to be initialized Format: projects/{project_number}/locations/{location}.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:initialize",
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1InitializeProjectRequest"
              },
              "httpMethod": "POST"
            },
            "runPipeline": {
              "id": "contentwarehouse.projects.locations.runPipeline",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:runPipeline",
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1RunPipelineRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name which owns the resources of the pipeline. Format: projects/{project_number}/locations/{location}."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Run a predefined pipeline.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:runPipeline",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getStatus": {
              "response": {
                "$ref": "GoogleCloudContentwarehouseV1ProjectStatus"
              },
              "parameterOrder": [
                "location"
              ],
              "id": "contentwarehouse.projects.locations.getStatus",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. The location to be queried Format: projects/{project_number}/locations/{location}.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:getStatus",
              "description": "Get the project status.",
              "path": "v1/{+location}:getStatus",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "synonymSets": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListSynonymSetsResponse"
                  },
                  "description": "Returns all SynonymSets (for all contexts) for the specified location.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/synonymSets",
                  "id": "contentwarehouse.projects.locations.synonymSets.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListSynonymSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSynonymSets` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of synonymSets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/synonymSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Creates a SynonymSet for a single context. Throws an ALREADY_EXISTS exception if a synonymset already exists for the context.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "id": "contentwarehouse.projects.locations.synonymSets.create"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.synonymSets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the synonymSet to retrieve Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a SynonymSet for a particular context. Throws a NOT_FOUND exception if the Synonymset does not exist"
                },
                "patch": {
                  "id": "contentwarehouse.projects.locations.synonymSets.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the synonymSet to update Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Remove the existing SynonymSet for the context and replaces it with a new one. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "id": "contentwarehouse.projects.locations.synonymSets.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the synonymSet to delete Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a SynonymSet for a given context. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}"
                }
              }
            },
            "documents": {
              "resources": {
                "referenceId": {
                  "methods": {
                    "get": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}:get",
                      "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1Document"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contentwarehouse.projects.locations.documents.referenceId.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:get"
                    },
                    "delete": {
                      "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                      "httpMethod": "POST",
                      "id": "contentwarehouse.projects.locations.documents.referenceId.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}:delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "contentwarehouse.projects.locations.documents.referenceId.patch",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                      }
                    }
                  }
                },
                "documentLinks": {
                  "methods": {
                    "create": {
                      "description": "Create a link between a source document and a target document.",
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.create",
                      "path": "v1/{+parent}/documentLinks",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                          "description": "Required. Parent of the document-link to be created. parent of document-link should be a document. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:delete",
                      "description": "Remove the link between the source and target documents.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+/documentLinks/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the document-link to be deleted. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}/documentLinks/{document_link_id}.",
                          "type": "string"
                        }
                      },
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks/{documentLinksId}:delete",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest"
                      }
                    }
                  }
                }
              },
              "methods": {
                "fetchAcl": {
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.fetchAcl",
                  "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:fetchAcl",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:fetchAcl",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:delete",
                  "id": "contentwarehouse.projects.locations.documents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:delete"
                },
                "lock": {
                  "description": "Lock the document so the document cannot be updated by other users.",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:lock",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the document to lock. Format: projects/{project_number}/locations/{location}/documents/{document}.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:lock",
                  "id": "contentwarehouse.projects.locations.documents.lock",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1LockDocumentRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  }
                },
                "get": {
                  "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:get",
                  "id": "contentwarehouse.projects.locations.documents.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}."
                    }
                  },
                  "path": "v1/{+parent}/documents",
                  "description": "Creates a document.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.create"
                },
                "linkedSources": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedSources",
                  "id": "contentwarehouse.projects.locations.documents.linkedSources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the document, for which all source links are returned. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Return all source document-links from the document.",
                  "path": "v1/{+parent}/linkedSources"
                },
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.search",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of documents. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents:search",
                  "path": "v1/{+parent}/documents:search",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsResponse"
                  },
                  "description": "Searches for documents using provided SearchDocumentsRequest. This call only returns documents that the caller has permission to search against.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsRequest"
                  }
                },
                "linkedTargets": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedTargets",
                  "description": "Return all target document-links from the document.",
                  "path": "v1/{+parent}/linkedTargets",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document, for which all target links are returned. Format: projects/{project_number}/locations/{location}/documents/{target_document_id}.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.linkedTargets"
                },
                "setAcl": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
                  },
                  "description": "Sets the access control policy for a resource. Replaces any existing policy.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:setAcl",
                  "id": "contentwarehouse.projects.locations.documents.setAcl",
                  "path": "v1/{+resource}:setAcl",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                  },
                  "id": "contentwarehouse.projects.locations.documents.patch",
                  "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name."
                }
              }
            },
            "ruleSets": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "contentwarehouse.projects.locations.ruleSets.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path"
                    }
                  },
                  "description": "Creates a ruleset.",
                  "path": "v1/{+parent}/ruleSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets"
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a ruleset. Returns NOT_FOUND if the ruleset does not exist.",
                  "id": "contentwarehouse.projects.locations.ruleSets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the rule set to retrieve. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/ruleSets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of rule sets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListRuleSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRuleSets` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of document. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "contentwarehouse.projects.locations.ruleSets.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists rulesets.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListRuleSetsResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "description": "Required. The name of the rule set to delete. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}."
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "id": "contentwarehouse.projects.locations.ruleSets.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a ruleset. Returns NOT_FOUND if the document does not exist."
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contentwarehouse.projects.locations.ruleSets.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the rule set to update. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateRuleSetRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a ruleset. Returns INVALID_ARGUMENT if the name of the ruleset is non-empty and does not equal the existing name.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "httpMethod": "PATCH"
                }
              }
            },
            "documentSchemas": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/documentSchemas",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.documentSchemas.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse"
                  },
                  "description": "Lists document schemas.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListDocumentSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDocumentSchemas` must match the call that provided the page token."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent, which owns this collection of document schemas. Format: projects/{project_number}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of document schemas to return. The service may return fewer than this value. If unspecified, at most 50 document schemas will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "description": "Required. The name of the document schema to update. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates a Document Schema. Returns INVALID_ARGUMENT if the name of the Document Schema is non-empty and does not equal the existing name. Supports only appending new properties, adding new ENUM possible values, and updating the EnumTypeOptions.validation_check_disabled flag for ENUM possible values. Updating existing properties will result into INVALID_ARGUMENT.",
                  "id": "contentwarehouse.projects.locations.documentSchemas.patch",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.documentSchemas.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "description": "Required. The name of the document schema to delete.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a document schema. Returns NOT_FOUND if the document schema does not exist. Returns BAD_REQUEST if the document schema has documents depending on it.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the document schema to retrieve."
                    }
                  },
                  "description": "Gets a document schema. Returns NOT_FOUND if the document schema does not exist.",
                  "id": "contentwarehouse.projects.locations.documentSchemas.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "path": "v1/{+name}"
                },
                "create": {
                  "id": "contentwarehouse.projects.locations.documentSchemas.create",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent name."
                    }
                  },
                  "description": "Creates a document schema.",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/documentSchemas"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "revision": "20250206",
  "ownerName": "Google",
  "basePath": "",
  "version": "v1",
  "rootUrl": "https://contentwarehouse.googleapis.com/",
  "schemas": {
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1ActionOutput": {
      "id": "GoogleCloudContentwarehouseV1ActionOutput",
      "properties": {
        "outputMessage": {
          "description": "Action execution output message.",
          "type": "string"
        },
        "actionState": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTION_SUCCEEDED",
            "ACTION_FAILED",
            "ACTION_TIMED_OUT",
            "ACTION_PENDING"
          ],
          "description": "State of an action.",
          "enumDescriptions": [
            "The unknown state.",
            "State indicating action executed successfully.",
            "State indicating action failed.",
            "State indicating action timed out.",
            "State indicating action is pending."
          ]
        },
        "actionId": {
          "type": "string",
          "description": "ID of the action."
        }
      },
      "description": "Represents the result of executing an action.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentMetadata": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentMetadata",
      "properties": {},
      "description": "Metadata object for UpdateDocument request (currently empty)."
    },
    "GoogleCloudContentwarehouseV1ProcessorInfo": {
      "description": "The DocAI processor information.",
      "type": "object",
      "properties": {
        "documentType": {
          "type": "string",
          "description": "The processor will process the documents with this document type."
        },
        "processorName": {
          "description": "The processor resource name. Format is `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        },
        "schemaName": {
          "type": "string",
          "description": "The Document schema resource name. All documents processed by this processor will use this schema. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}."
        }
      },
      "id": "GoogleCloudContentwarehouseV1ProcessorInfo"
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "description": "Detected break type."
        }
      },
      "type": "object",
      "description": "Detected break at the end of a Token."
    },
    "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline": {
      "id": "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline",
      "type": "object",
      "properties": {
        "skipIngestedDocuments": {
          "description": "The flag whether to skip ingested documents. If it is set to true, documents in Cloud Storage contains key \"status\" with value \"status=ingested\" in custom metadata will be skipped to ingest.",
          "type": "boolean"
        },
        "inputPath": {
          "type": "string",
          "description": "The input Cloud Storage folder. All files under this folder will be imported to Document Warehouse. Format: `gs:///`."
        },
        "splitClassifyProcessorInfo": {
          "description": "The split and classify processor information. The split and classify result will be used to find a matched extract processor.",
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
        },
        "pipelineConfig": {
          "$ref": "GoogleCloudContentwarehouseV1IngestPipelineConfig",
          "description": "Optional. The config for the Cloud Storage Ingestion with DocAI Processors pipeline. It provides additional customization options to run the pipeline and can be skipped if it is not applicable."
        },
        "processorResultsFolderPath": {
          "description": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`.",
          "type": "string"
        },
        "extractProcessorInfos": {
          "type": "array",
          "description": "The extract processors information. One matched extract processor will be used to process documents based on the classify processor result. If no classify processor is specified, the first extract processor will be used.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
          }
        }
      },
      "description": "The configuration of the Cloud Storage Ingestion with DocAI Processors pipeline."
    },
    "GoogleCloudContentwarehouseV1FileTypeFilter": {
      "properties": {
        "fileType": {
          "enumDescriptions": [
            "Default document type. If set, disables the filter.",
            "Returns all document types, including folders.",
            "Returns only folders.",
            "Returns only non-folder documents.",
            "Returns only root folders"
          ],
          "type": "string",
          "enum": [
            "FILE_TYPE_UNSPECIFIED",
            "ALL",
            "FOLDER",
            "DOCUMENT",
            "ROOT_FOLDER"
          ],
          "description": "The type of files to return."
        }
      },
      "description": "Filter for the specific types of documents returned.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1FileTypeFilter"
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentRequest": {
      "properties": {
        "cloudAiDocumentOption": {
          "description": "Request Option for processing Cloud AI Document in Document Warehouse. This field offers limited support for mapping entities from Cloud AI Document to Warehouse Document. Please consult with product team before using this field and other available options.",
          "$ref": "GoogleCloudContentwarehouseV1CloudAIDocumentOption"
        },
        "document": {
          "$ref": "GoogleCloudContentwarehouseV1Document",
          "description": "Required. The document to update."
        },
        "updateOptions": {
          "$ref": "GoogleCloudContentwarehouseV1UpdateOptions",
          "description": "Options for the update operation."
        },
        "requestMetadata": {
          "description": "The meta information collected about the end user, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      },
      "type": "object",
      "description": "Request message for DocumentService.UpdateDocument.",
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
    },
    "GoogleCloudContentwarehouseV1PropertyDefinitionSchemaSource": {
      "type": "object",
      "properties": {
        "processorType": {
          "description": "The Doc AI processor type name.",
          "type": "string"
        },
        "name": {
          "description": "The schema name in the source.",
          "type": "string"
        }
      },
      "description": "The schema source information.",
      "id": "GoogleCloudContentwarehouseV1PropertyDefinitionSchemaSource"
    },
    "GoogleCloudContentwarehouseV1LockDocumentRequest": {
      "type": "object",
      "properties": {
        "lockingUser": {
          "description": "The user information who locks the document.",
          "$ref": "GoogleCloudContentwarehouseV1UserInfo"
        },
        "collectionId": {
          "description": "The collection the document connects to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContentwarehouseV1LockDocumentRequest",
      "description": "Request message for DocumentService.LockDocument."
    },
    "GoogleCloudContentwarehouseV1ListLinkedTargetsRequest": {
      "description": "Request message for DocumentLinkService.ListLinkedTargets.",
      "properties": {
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the document creator, used to enforce access control for the service."
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1ListLinkedTargetsRequest"
    },
    "GoogleCloudContentwarehouseV1UpdateOptions": {
      "description": "Options for Update operations.",
      "properties": {
        "mergeFieldsOptions": {
          "$ref": "GoogleCloudContentwarehouseV1MergeFieldsOptions",
          "description": "Options for merging."
        },
        "updateType": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to full replace behavior, ie. FULL_REPLACE.",
            "Fully replace all the fields (including previously linked raw document). Any field masks will be ignored.",
            "Merge the fields into the existing entities.",
            "Inserts the properties by names.",
            "Replace the properties by names.",
            "Delete the properties by names.",
            "For each of the property, replaces the property if the it exists, otherwise inserts a new property. And for the rest of the fields, merge them based on update mask and merge fields options."
          ],
          "description": "Type for update.",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "UPDATE_TYPE_REPLACE",
            "UPDATE_TYPE_MERGE",
            "UPDATE_TYPE_INSERT_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_REPLACE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_DELETE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_MERGE_AND_REPLACE_OR_INSERT_PROPERTIES_BY_NAMES"
          ]
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Field mask for merging Document fields. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
          "type": "string"
        }
      },
      "id": "GoogleCloudContentwarehouseV1UpdateOptions",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "id": "GoogleIamV1Binding"
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores",
      "type": "object",
      "properties": {
        "detectedDefects": {
          "description": "A list of detected defects.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
          },
          "type": "array"
        },
        "qualityScore": {
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Image quality scores for the page image."
    },
    "GoogleCloudDocumentaiV1DocumentProvenanceParent": {
      "id": "GoogleCloudDocumentaiV1DocumentProvenanceParent",
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision."
        },
        "id": {
          "format": "int32",
          "description": "The id of the parent provenance.",
          "type": "integer",
          "deprecated": true
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the index into current revision's parent_ids list."
        }
      }
    },
    "CloudAiPlatformTenantresourceInfraSpannerConfig": {
      "type": "object",
      "description": "The configuration for a spanner database provisioning. Next ID: 8",
      "properties": {
        "spannerNamespace": {
          "type": "string"
        },
        "kmsKeyReference": {
          "type": "string",
          "description": "Input [Optional]. The KMS key name or the KMS grant name used for CMEK encryption. Only set this field when provisioning new Infra Spanner databases. For existing Infra Spanner databases, this field will be ignored because CMEK re-encryption is not supported. For example, projects//locations//keyRings//cryptoKeys/"
        },
        "spannerLocalNamePrefix": {
          "type": "string"
        },
        "createDatabaseOptions": {
          "$ref": "CloudAiPlatformTenantresourceInfraSpannerConfigCreateDatabaseOptions",
          "description": "Input [Optional]. The options to create a spanner database. Note: give the right options to ensure the right KMS key access audit logging and AxT logging in expected logging category."
        },
        "spannerUniverse": {
          "type": "string",
          "description": "Input [Required]. Every database in Spanner can be identified by the following path name: /span//:"
        },
        "sdlBundlePath": {
          "description": "Input [Required]. The file path to the spanner SDL bundle.",
          "type": "string"
        },
        "spannerBorgServiceAccount": {
          "type": "string",
          "description": "Input [Optional]. The spanner borg service account for delegating the kms key to. For example, spanner-infra-cmek-nonprod@system.gserviceaccount.com, for the nonprod universe."
        }
      },
      "id": "CloudAiPlatformTenantresourceInfraSpannerConfig"
    },
    "GoogleCloudContentwarehouseV1DeleteDocumentRequest": {
      "id": "GoogleCloudContentwarehouseV1DeleteDocumentRequest",
      "properties": {
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the end user, used to enforce access control for the service."
        }
      },
      "type": "object",
      "description": "Request message for DocumentService.DeleteDocument."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1SearchDocumentsResponse": {
      "description": "Response message for DocumentService.SearchDocuments.",
      "id": "GoogleCloudContentwarehouseV1SearchDocumentsResponse",
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudContentwarehouseV1ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request tracking id."
        },
        "matchingDocuments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument"
          },
          "description": "The document entities that match the specified SearchDocumentsRequest."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of matched documents which is available only if the client set SearchDocumentsRequest.require_total_size to `true` or set SearchDocumentsRequest.total_result_size to `ESTIMATED_SIZE` or `ACTUAL_SIZE`. Otherwise, the value will be `-1`. Typically a UI would handle this condition by displaying \"of many\", for example: \"Displaying 10 of many\".",
          "format": "int32"
        },
        "questionAnswer": {
          "description": "Experimental. Question answer from the query against the document.",
          "type": "string"
        },
        "histogramQueryResults": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1HistogramQueryResult"
          },
          "description": "The histogram results that match with the specified SearchDocumentsRequest.histogram_queries.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token that specifies the starting position of the next page of results. This field is empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleApiServiceconsumermanagementV1BillingConfig": {
      "description": "Describes the billing configuration for a new tenant project.",
      "id": "GoogleApiServiceconsumermanagementV1BillingConfig",
      "type": "object",
      "properties": {
        "billingAccount": {
          "description": "Name of the billing account. For example `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1DocumentQuery": {
      "properties": {
        "propertyFilter": {
          "type": "array",
          "description": "This filter specifies a structured syntax to match against the PropertyDefinition.is_filterable marked as `true`. The relationship between the PropertyFilters is OR.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyFilter"
          }
        },
        "folderNameFilter": {
          "type": "string",
          "description": "Search all the documents under this specified folder. Format: projects/{project_number}/locations/{location}/documents/{document_id}."
        },
        "customPropertyFilter": {
          "deprecated": true,
          "description": "This filter specifies a structured syntax to match against the [PropertyDefinition].is_filterable marked as `true`. The syntax for this expression is a subset of SQL syntax. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, and `>=` where the left of the operator is a property name and the right of the operator is a number or a quoted string. You must escape backslash (\\\\) and quote (\\\") characters. Supported functions are `LOWER([property_name])` to perform a case insensitive match and `EMPTY([property_name])` to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 100 comparisons or functions are allowed in the expression. The expression must be < 6000 bytes in length. Sample Query: `(LOWER(driving_license)=\"class \\\"a\\\"\" OR EMPTY(driving_license)) AND driving_years > 10`",
          "type": "string"
        },
        "documentCreatorFilter": {
          "type": "array",
          "description": "The exact creator(s) of the documents to search against. If a value isn't specified, documents within the search results are associated with any creator. If multiple values are specified, documents within the search results may be associated with any of the specified creators.",
          "items": {
            "type": "string"
          }
        },
        "documentSchemaNames": {
          "type": "array",
          "description": "This filter specifies the exact document schema Document.document_schema_name of the documents to search against. If a value isn't specified, documents within the search results are associated with any schema. If multiple values are specified, documents within the search results may be associated with any of the specified schemas. At most 20 document schema names are allowed.",
          "items": {
            "type": "string"
          }
        },
        "documentNameFilter": {
          "items": {
            "type": "string"
          },
          "description": "Search the documents in the list. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "type": "array"
        },
        "isNlQuery": {
          "description": "Experimental, do not use. If the query is a natural language question. False by default. If true, then the question-answering feature will be used instead of search, and `result_count` in SearchDocumentsRequest must be set. In addition, all other input fields related to search (pagination, histograms, etc.) will be ignored.",
          "type": "boolean"
        },
        "query": {
          "type": "string",
          "description": "The query string that matches against the full text of the document and the searchable properties. The query partially supports [Google AIP style syntax](https://google.aip.dev/160). Specifically, the query supports literals, logical operators, negation operators, comparison operators, and functions. Literals: A bare literal value (examples: \"42\", \"Hugo\") is a value to be matched against. It searches over the full text of the document and the searchable properties. Logical operators: \"AND\", \"and\", \"OR\", and \"or\" are binary logical operators (example: \"engineer OR developer\"). Negation operators: \"NOT\" and \"!\" are negation operators (example: \"NOT software\"). Comparison operators: support the binary comparison operators =, !=, <, >, <= and >= for string, numeric, enum, boolean. Also support like operator `~~` for string. It provides semantic search functionality by parsing, stemming and doing synonyms expansion against the input query. To specify a property in the query, the left hand side expression in the comparison must be the property ID including the parent. The right hand side must be literals. For example: \"\\\"projects/123/locations/us\\\".property_a < 1\" matches results whose \"property_a\" is less than 1 in project 123 and us location. The literals and comparison expression can be connected in a single query (example: \"software engineer \\\"projects/123/locations/us\\\".salary > 100\"). Functions: supported functions are `LOWER([property_name])` to perform a case insensitive match and `EMPTY([property_name])` to filter on the existence of a key. Support nested expressions connected using parenthesis and logical operators. The default logical operators is `AND` if there is no operators between expressions. The query can be used with other filters e.g. `time_filters` and `folder_name_filter`. They are connected with `AND` operator under the hood. The maximum number of allowed characters is 255."
        },
        "timeFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1TimeFilter"
          },
          "description": "Documents created/updated within a range specified by this filter are searched against."
        },
        "fileTypeFilter": {
          "$ref": "GoogleCloudContentwarehouseV1FileTypeFilter",
          "description": "This filter specifies the types of files to return: ALL, FOLDER, or FILE. If FOLDER or FILE is specified, then only either folders or files will be returned, respectively. If ALL is specified, both folders and files will be returned. If no value is specified, ALL files will be returned."
        },
        "customWeightsMetadata": {
          "description": "To support the custom weighting across document schemas, customers need to provide the properties to be used to boost the ranking in the search request. For a search query with CustomWeightsMetadata specified, only the RetrievalImportance for the properties in the CustomWeightsMetadata will be honored.",
          "$ref": "GoogleCloudContentwarehouseV1CustomWeightsMetadata"
        },
        "queryContext": {
          "description": "For custom synonyms. Customers provide the synonyms based on context. One customer can provide multiple set of synonyms based on different context. The search query will be expanded based on the custom synonyms of the query context set. By default, no custom synonyms wll be applied if no query context is provided. It is not supported for CMEK compliant deployment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1DocumentQuery"
    },
    "GoogleCloudContentwarehouseV1SynonymSet": {
      "id": "GoogleCloudContentwarehouseV1SynonymSet",
      "properties": {
        "context": {
          "description": "This is a freeform field. Example contexts can be \"sales,\" \"engineering,\" \"real estate,\" \"accounting,\" etc. The context can be supplied during search requests.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the SynonymSet This is mandatory for google.api.resource. Format: projects/{project_number}/locations/{location}/synonymSets/{context}."
        },
        "synonyms": {
          "type": "array",
          "description": "List of Synonyms for the context.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SynonymSetSynonym"
          }
        }
      },
      "type": "object",
      "description": "Represents a list of synonyms for a given context. For example a context \"sales\" could contain: Synonym 1: sale, invoice, bill, order Synonym 2: money, credit, finance, payment Synonym 3: shipping, freight, transport Each SynonymSets should be disjoint"
    },
    "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument": {
      "id": "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument",
      "properties": {
        "document": {
          "$ref": "GoogleCloudContentwarehouseV1Document",
          "description": "Document that matches the specified SearchDocumentsRequest. This document only contains indexed metadata information."
        },
        "matchedTokenPageIndices": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Return the 1-based page indices where those pages have one or more matched tokens."
        },
        "searchTextSnippet": {
          "description": "Contains snippets of text from the document full raw text that most closely match a search query's keywords, if available. All HTML tags in the original fields are stripped when returned in this field, and matching query keywords are enclosed in HTML bold tags. If the question-answering feature is enabled, this field will instead contain a snippet that answers the user's natural-language query. No HTML bold tags will be present, and highlights in the answer snippet can be found in QAResult.highlights.",
          "type": "string"
        },
        "qaResult": {
          "description": "Experimental. Additional result info if the question-answering feature is enabled.",
          "$ref": "GoogleCloudContentwarehouseV1QAResult"
        }
      },
      "description": "Document entry with metadata inside SearchDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "properties": {
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "width": {
          "format": "float",
          "type": "number",
          "description": "Page width."
        },
        "height": {
          "type": "number",
          "description": "Page height.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension",
      "description": "Dimension for the page."
    },
    "GoogleCloudContentwarehouseV1HistogramQuery": {
      "description": "The histogram request.",
      "id": "GoogleCloudContentwarehouseV1HistogramQuery",
      "properties": {
        "filters": {
          "$ref": "GoogleCloudContentwarehouseV1HistogramQueryPropertyNameFilter",
          "description": "Optional. Filter the result of histogram query by the property names. It only works with histogram query count('FilterableProperties'). It is an optional. It will perform histogram on all the property names for all the document schemas. Setting this field will have a better performance."
        },
        "histogramQuery": {
          "type": "string",
          "description": "An expression specifies a histogram request against matching documents for searches. See SearchDocumentsRequest.histogram_queries for details about syntax."
        },
        "requirePreciseResultSize": {
          "description": "Controls if the histogram query requires the return of a precise count. Enable this flag may adversely impact performance. Defaults to true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CloudAiPlatformTenantresourceTenantProjectConfig": {
      "properties": {
        "billingConfig": {
          "$ref": "GoogleApiServiceconsumermanagementV1BillingConfig",
          "description": "Input/Output [Required]. The billing account properties to create the tenant project."
        },
        "policyBindings": {
          "items": {
            "$ref": "GoogleApiServiceconsumermanagementV1PolicyBinding"
          },
          "description": "Input/Output [Required]. The policy bindings that are applied to the tenant project during creation. At least one binding must have the role `roles/owner` with either `user` or `group` type.",
          "type": "array"
        },
        "services": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Input/Output [Required]. The API services that are enabled on the tenant project during creation."
        },
        "folder": {
          "description": "Input/Output [Required]. The folder that holds tenant projects and folder-level permissions will be automatically granted to all tenant projects under the folder. Note: the valid folder format is `folders/{folder_number}`.",
          "type": "string"
        }
      },
      "id": "CloudAiPlatformTenantresourceTenantProjectConfig",
      "type": "object",
      "description": "The identity to configure a tenant project."
    },
    "GoogleCloudContentwarehouseV1ExportToCdwPipeline": {
      "id": "GoogleCloudContentwarehouseV1ExportToCdwPipeline",
      "type": "object",
      "description": "The configuration of exporting documents from the Document Warehouse to CDW pipeline.",
      "properties": {
        "trainingSplitRatio": {
          "description": "Ratio of training dataset split. When importing into Document AI Workbench, documents will be automatically split into training and test split category with the specified ratio. This field is required if doc_ai_dataset is set.",
          "type": "number",
          "format": "float"
        },
        "docAiDataset": {
          "description": "Optional. The CDW dataset resource name. This field is optional. If not set, the documents will be exported to Cloud Storage only. Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
          "type": "string"
        },
        "documents": {
          "description": "The list of all the resource names of the documents to be processed. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportFolderPath": {
          "description": "The Cloud Storage folder path used to store the exported documents before being sent to CDW. Format: `gs:///`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata": {
      "properties": {
        "docAiDataset": {
          "description": "The output CDW dataset resource name.",
          "type": "string"
        },
        "outputPath": {
          "description": "The output Cloud Storage folder in this pipeline.",
          "type": "string"
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The input list of all the resource names of the documents to be exported.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata",
      "type": "object",
      "description": "The metadata message for Export-to-CDW pipeline."
    },
    "GoogleCloudContentwarehouseV1TextArray": {
      "id": "GoogleCloudContentwarehouseV1TextArray",
      "type": "object",
      "description": "String/text values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "List of text values.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContentwarehouseV1IntegerArray": {
      "properties": {
        "values": {
          "description": "List of integer values.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContentwarehouseV1IntegerArray",
      "description": "Integer values.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1ListRuleSetsResponse": {
      "id": "GoogleCloudContentwarehouseV1ListRuleSetsResponse",
      "description": "Response message for RuleSetService.ListRuleSets.",
      "type": "object",
      "properties": {
        "ruleSets": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1RuleSet"
          },
          "type": "array",
          "description": "The rule sets from the specified parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleTypePostalAddress": {
      "id": "GoogleTypePostalAddress",
[...]
