{
  "discoveryVersion": "v1",
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "name": "containeranalysis",
  "servicePath": "",
  "title": "Container Analysis API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://containeranalysis.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://containeranalysis.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://containeranalysis.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://containeranalysis.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://containeranalysis.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://containeranalysis.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://containeranalysis.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://containeranalysis.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://containeranalysis.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://containeranalysis.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://containeranalysis.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://containeranalysis.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://containeranalysis.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://containeranalysis.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://containeranalysis.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://containeranalysis.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://containeranalysis.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://containeranalysis.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://containeranalysis.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://containeranalysis.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://containeranalysis.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://containeranalysis.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://containeranalysis.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://containeranalysis.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://containeranalysis.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://containeranalysis.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://containeranalysis.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://containeranalysis.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "id": "containeranalysis:v1alpha1",
  "version": "v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "providers": {
      "resources": {
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+name}/occurrences",
                  "parameters": {
                    "name": {
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "required": true,
                      "type": "string",
                      "pattern": "^providers/[^/]+/notes/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Number of notes to return in the list."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression."
                    }
                  },
                  "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences",
                  "httpMethod": "GET",
                  "id": "containeranalysis.providers.notes.occurrences.list",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "getIamPolicy": {
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "id": "containeranalysis.providers.notes.getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
              "id": "containeranalysis.providers.notes.setIamPolicy"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "parameters": {
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "pattern": "^providers/[^/]+$",
                  "location": "path"
                },
                "noteId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID to use for this note."
                }
              },
              "httpMethod": "POST",
              "id": "containeranalysis.providers.notes.create",
              "request": {
                "$ref": "Note"
              },
              "path": "v1alpha1/{+name}/notes",
              "parameterOrder": [
                "name"
              ],
              "description": "Creates a new `Note`.",
              "response": {
                "$ref": "Note"
              }
            },
            "list": {
              "response": {
                "$ref": "ListNotesResponse"
              },
              "path": "v1alpha1/{+name}/notes",
              "id": "containeranalysis.providers.notes.list",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists all `Notes` for a given project.",
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "query",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\"."
                },
                "filter": {
                  "description": "The filter expression.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Number of notes to return in the list.",
                  "type": "integer"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^providers/[^/]+$",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated",
                  "required": true
                }
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes the given `Note` from the system.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "id": "containeranalysis.providers.notes.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}"
            },
            "patch": {
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "containeranalysis.providers.notes.patch",
              "request": {
                "$ref": "Note"
              },
              "description": "Updates an existing `Note`.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Note"
              }
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "id": "containeranalysis.providers.notes.testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "Note"
              },
              "id": "containeranalysis.providers.notes.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "description": "Returns the requested `Note`."
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a specific scan configuration for a project.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the ScanConfig in the form projects/{project_id}/scanConfigs/{scan_config_id}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                }
              },
              "id": "containeranalysis.projects.scanConfigs.get",
              "response": {
                "$ref": "ScanConfig"
              },
              "path": "v1alpha1/{+name}"
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The scan config to update of the form projects/{project_id}/scanConfigs/{scan_config_id}.",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The fields to update.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ScanConfig"
              },
              "id": "containeranalysis.projects.scanConfigs.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "description": "Updates the scan configuration to a new value."
            },
            "list": {
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.scanConfigs.list",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/scanConfigs",
              "description": "Lists scan configurations for a project.",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The page token to use for the next request.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The number of items to return.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "This containers the project Id i.e.: projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression."
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The project Id that this operation should be created under.",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/operations",
              "path": "v1alpha1/{+parent}/operations",
              "id": "containeranalysis.projects.operations.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates a new `Operation`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "CreateOperationRequest"
              }
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "UpdateOperationRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the Operation. Should be of the form \"projects/{provider_id}/operations/{operation_id}\"."
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}",
              "id": "containeranalysis.projects.operations.patch",
              "description": "Updates an existing operation returns an error if operation does not exist. The only valid operations are to update mark the done bit change the result."
            }
          }
        },
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "path": "v1alpha1/{+name}/occurrences",
                  "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Number of notes to return in the list."
                    },
                    "name": {
                      "required": true,
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects."
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "noteId": {
                  "description": "The ID to use for this note.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Note"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/notes",
              "response": {
                "$ref": "Note"
              },
              "id": "containeranalysis.projects.notes.create",
              "description": "Creates a new `Note`."
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Note"
              },
              "description": "Updates an existing `Note`.",
              "response": {
                "$ref": "Note"
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "id": "containeranalysis.projects.notes.patch"
            },
            "testIamPermissions": {
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.notes.list",
              "description": "Lists all `Notes` for a given project.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Number of notes to return in the list.",
                  "format": "int32"
                }
              },
              "path": "v1alpha1/{+parent}/notes",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListNotesResponse"
              }
            },
            "setIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Note"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Returns the requested `Note`.",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.notes.get",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}"
            },
            "getIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy"
            },
            "delete": {
              "id": "containeranalysis.projects.notes.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the given `Note` from the system.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+name}"
            }
          }
        },
        "occurrences": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "This contains the project Id for example: projects/{project_id}."
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade.",
                    "This represents a compliance check that can be applied to a resource.",
                    "This represents a software bill of materials.",
                    "This represents an SPDX Package.",
                    "This represents an SPDX File.",
                    "This represents an SPDX Relationship.",
                    "This represents a DSSE attestation Note",
                    "This represents a Vulnerability Assessment.",
                    "This represents a reference to an SBOM.",
                    "This represents a secret.",
                    "This represents an AI skill analysis."
                  ],
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE",
                    "COMPLIANCE",
                    "SBOM",
                    "SPDX_PACKAGE",
                    "SPDX_FILE",
                    "SPDX_RELATIONSHIP",
                    "DSSE_ATTESTATION",
                    "VULNERABILITY_ASSESSMENT",
                    "SBOM_REFERENCE",
                    "SECRET",
                    "AI_SKILL_ANALYSIS"
                  ],
                  "description": "The kind of occurrences to filter on."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Number of occurrences to return in the list.",
                  "location": "query"
                },
                "name": {
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.occurrences.list",
              "path": "v1alpha1/{+parent}/occurrences",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "description": "Lists active `Occurrences` for a given project matching the filters."
            },
            "delete": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "type": "string",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.occurrences.delete",
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "getVulnerabilitySummary": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "This contains the project Id for example: projects/{project_id}"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a summary of the number and severity of occurrences.",
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              }
            },
            "getIamPolicy": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "description": "Returns the requested `Occurrence`.",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.get"
            },
            "getNotes": {
              "path": "v1alpha1/{+name}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "httpMethod": "GET",
              "response": {
                "$ref": "Note"
              },
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "id": "containeranalysis.projects.occurrences.getNotes",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "testIamPermissions": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy"
            },
            "create": {
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "path": "v1alpha1/{+parent}/occurrences",
              "response": {
                "$ref": "Occurrence"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "This field contains the project Id for example: \"projects/{project_id}\""
                }
              },
              "request": {
                "$ref": "Occurrence"
              },
              "id": "containeranalysis.projects.occurrences.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "id": "containeranalysis.projects.occurrences.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Occurrence"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "description": "Updates an existing occurrence."
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "schemas": {
    "BaseImage": {
      "description": "BaseImage describes a base image of a container image.",
      "properties": {
        "registry": {
          "description": "The registry of the base image.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "The repository name in which the base image is from."
        },
        "layerCount": {
          "type": "integer",
          "description": "The number of layers that the base image is composed of.",
          "format": "int32"
        },
        "name": {
          "description": "The name of the base image.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BaseImage"
    },
    "AnalysisCompleted": {
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "properties": {
        "analysisType": {
          "description": "type of analysis that were completed on a resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AnalysisCompleted"
    },
    "RelationshipNote": {
      "type": "object",
      "id": "RelationshipNote",
      "properties": {
        "type": {
          "enum": [
            "RELATIONSHIP_TYPE_UNSPECIFIED",
            "DESCRIBES",
            "DESCRIBED_BY",
            "CONTAINS",
            "CONTAINED_BY",
            "DEPENDS_ON",
            "DEPENDENCY_OF",
            "DEPENDENCY_MANIFEST_OF",
            "BUILD_DEPENDENCY_OF",
            "DEV_DEPENDENCY_OF",
            "OPTIONAL_DEPENDENCY_OF",
            "PROVIDED_DEPENDENCY_OF",
            "TEST_DEPENDENCY_OF",
            "RUNTIME_DEPENDENCY_OF",
            "EXAMPLE_OF",
            "GENERATES",
            "GENERATED_FROM",
            "ANCESTOR_OF",
            "DESCENDANT_OF",
            "VARIANT_OF",
            "DISTRIBUTION_ARTIFACT",
            "PATCH_FOR",
            "PATCH_APPLIED",
            "COPY_OF",
            "FILE_ADDED",
            "FILE_DELETED",
            "FILE_MODIFIED",
            "EXPANDED_FROM_ARCHIVE",
            "DYNAMIC_LINK",
            "STATIC_LINK",
            "DATA_FILE_OF",
            "TEST_CASE_OF",
            "BUILD_TOOL_OF",
            "DEV_TOOL_OF",
            "TEST_OF",
            "TEST_TOOL_OF",
            "DOCUMENTATION_OF",
            "OPTIONAL_COMPONENT_OF",
            "METAFILE_OF",
            "PACKAGE_OF",
            "AMENDS",
            "PREREQUISITE_FOR",
            "HAS_PREREQUISITE",
            "OTHER"
          ],
          "type": "string",
          "description": "The type of relationship between the source and target SPDX elements",
          "enumDescriptions": [
            "Unspecified",
            "Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A",
            "Is to be used when SPDXRef-A is described by SPDXREF-Document",
            "Is to be used when SPDXRef-A contains SPDXRef-B",
            "Is to be used when SPDXRef-A is contained by SPDXRef-B",
            "Is to be used when SPDXRef-A depends on SPDXRef-B",
            "Is to be used when SPDXRef-A is dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a manifest file that lists a set of dependencies for SPDXRef-B",
            "Is to be used when SPDXRef-A is a build dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a development dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a to be provided dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a test dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a dependency required for the execution of SPDXRef-B",
            "Is to be used when SPDXRef-A is an example of SPDXRef-B",
            "Is to be used when SPDXRef-A generates SPDXRef-B",
            "Is to be used when SPDXRef-A was generated from SPDXRef-B",
            "Is to be used when SPDXRef-A is an ancestor (same lineage but pre-dates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a descendant of (same lineage but postdates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a variant of (same lineage but not clear which came first) SPDXRef-B",
            "Is to be used when distributing SPDXRef-A requires that SPDXRef-B also be distributed",
            "Is to be used when SPDXRef-A is a patch file for (to be applied to) SPDXRef-B",
            "Is to be used when SPDXRef-A is a patch file that has been applied to SPDXRef-B",
            "Is to be used when SPDXRef-A is an exact copy of SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was added to SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was deleted from SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was modified from SPDXRef-B",
            "Is to be used when SPDXRef-A is expanded from the archive SPDXRef-B",
            "Is to be used when SPDXRef-A dynamically links to SPDXRef-B",
            "Is to be used when SPDXRef-A statically links to SPDXRef-B",
            "Is to be used when SPDXRef-A is a data file used in SPDXRef-B",
            "Is to be used when SPDXRef-A is a test case used in testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used to build SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a development tool for SPDXRef-B",
            "Is to be used when SPDXRef-A is used for testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B",
            "Is to be used when SPDXRef-A provides documentation of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional component of SPDXRef-B",
            "Is to be used when SPDXRef-A is a metafile of SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a package as part of SPDXRef-B",
            "Is to be used when (current) SPDXRef-DOCUMENT amends the SPDX information in SPDXRef-B",
            "Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B",
            "Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B",
            "Is to be used for a relationship which has not been defined in the formal SPDX specification. A description of the relationship should be included in the Relationship comments field"
          ]
        }
      },
      "description": "RelationshipNote represents an SPDX Relationship section: https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1RepoId": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
      "description": "A unique identifier for a Cloud Repo.",
      "properties": {
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
        },
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig": {
      "description": "HttpConfig is a configuration for HTTP related git operations.",
      "properties": {
        "proxySecretVersionName": {
          "description": "SecretVersion resource of the HTTP proxy URL. The Service Account used in the build (either the default Service Account or user-specified Service Account) should have `secretmanager.versions.access` permissions on this secret. The proxy URL should be in format `protocol://@]proxyhost[:port]`.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig",
      "type": "object"
    },
    "Location": {
      "description": "An occurrence of a particular package installation found within a system's filesystem. e.g. glibc was found in /var/lib/dpkg/status",
      "id": "Location",
      "type": "object",
      "properties": {
        "cpeUri": {
          "description": "Deprecated. The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        },
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
      "type": "object",
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
      "properties": {
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        },
        "approverAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
        },
        "decision": {
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "description": "Required. The decision of this manual approval.",
          "type": "string"
        },
        "approvalTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the approval decision was made.",
          "format": "google-datetime"
        },
        "url": {
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
          "type": "string"
        }
      }
    },
    "PackageIssue": {
      "id": "PackageIssue",
      "description": "This message wraps a location affected by a vulnerability and its associated fix (if one is available).",
      "type": "object",
      "properties": {
        "effectiveSeverity": {
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when distro or language system has not yet assigned a severity for this vulnerability."
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "severityName": {
          "type": "string"
        },
        "fixedLocation": {
          "$ref": "VulnerabilityLocation",
          "description": "The location of the available fix for vulnerability."
        },
        "affectedLocation": {
          "description": "The location of the vulnerability.",
          "$ref": "VulnerabilityLocation"
        }
      }
    },
    "RelatedUrl": {
      "type": "object",
      "description": "Metadata for any related URL information",
      "properties": {
        "label": {
          "description": "Label to describe usage of the URL",
          "type": "string"
        },
        "url": {
          "description": "Specific URL to associate with the note",
          "type": "string"
        }
      },
      "id": "RelatedUrl"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency",
      "properties": {
        "resource": {
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "type": "string"
        },
        "destPath": {
          "type": "string",
          "description": "Required. Where the artifact files should be placed on the worker."
        }
      },
      "type": "object",
      "description": "Represents a generic artifact as a build dependency."
    },
    "ListNotesResponse": {
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "The occurrences requested",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the list response. It should be used as page_token for the following request. An empty value means no more result."
        }
      },
      "description": "Response including listed notes.",
      "id": "ListNotesResponse",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions",
      "properties": {
        "diskSizeGb": {
          "type": "string",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error.",
          "format": "int64"
        },
        "sourceProvenanceHash": {
          "type": "array",
          "items": {
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ],
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ],
            "type": "string"
          },
          "description": "Requested hash for SourceProvenance."
        },
        "logging": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "type": "string",
          "description": "Option to specify the logging mode, which determines if and where build logs are stored."
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption"
        },
        "logStreamingOption": {
          "type": "string",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Cloud Storage.",
            "Build logs should not be streamed to Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Cloud Storage."
        },
        "machineType": {
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU.",
            "E2 machine with 2 CPUs."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "description": "Compute Engine machine type on which to run the build.",
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM",
            "E2_STANDARD_2"
          ]
        },
        "enableStructuredLogging": {
          "type": "boolean",
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs."
        },
        "substitutionOption": {
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ],
          "type": "string",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file."
        },
        "resolvedWorkerRelease": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Worker release resolved from the release channel."
        },
        "defaultLogsBucketBehavior": {
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ],
          "description": "Optional. Option to specify how default logs buckets are setup."
        },
        "workerRelease": {
          "description": "Optional. Option to specify which release or release channel (rapid|regular|stable) to use to run this build.",
          "type": "string"
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for all build steps."
        },
        "secretEnv": {
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "requestedVerifyOption": {
          "type": "string",
          "description": "Requested verifiability options.",
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ]
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "workerPool": {
          "deprecated": true,
          "description": "This field deprecated; please use `pool.name` instead.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "pubsubTopic": {
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates.",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage",
      "properties": {
        "uri": {
          "description": "URI of the uploaded npm package.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "fileHashes": {
          "description": "Hash types and values of the npm package.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive."
    },
    "Justification": {
      "type": "object",
      "id": "Justification",
      "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
      "properties": {
        "details": {
          "type": "string",
          "description": "Additional details on why this justification was chosen."
        },
        "justificationType": {
          "enum": [
            "JUSTIFICATION_TYPE_UNSPECIFIED",
            "COMPONENT_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH",
            "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY",
            "INLINE_MITIGATIONS_ALREADY_EXIST"
          ],
          "description": "The justification type for this vulnerability.",
          "enumDescriptions": [
            "JUSTIFICATION_TYPE_UNSPECIFIED.",
            "The vulnerable component is not present in the product.",
            "The vulnerable code is not present. Typically this case occurs when source code is configured or built in a way that excludes the vulnerable code.",
            "The vulnerable code can not be executed. Typically this case occurs when the product includes the vulnerable code but does not call or use the vulnerable code.",
            "The vulnerable code cannot be controlled by an attacker to exploit the vulnerability.",
            "The product includes built-in protections or features that prevent exploitation of the vulnerability. These built-in protections cannot be subverted by the attacker and cannot be configured or disabled by the user. These mitigations completely prevent exploitation based on known attack vectors."
          ],
          "type": "string"
        }
      }
    },
    "EnvelopeSignature": {
      "id": "EnvelopeSignature",
      "type": "object",
      "description": "A DSSE signature",
      "properties": {
        "sig": {
          "description": "The signature itself",
          "format": "byte",
          "type": "string"
        },
        "keyid": {
          "description": "A reference id to the key being used for signing",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildResourceUsage": {
      "description": "Aggregated/summary metrics over the entire build lifecycle.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildResourceUsage",
      "properties": {
        "averageMemoryUtilization": {
          "type": "number",
          "description": "Output only. The average memory utilization ratio over the duration of the build, expressed as a fraction in the range [0.0, 1.0].",
          "format": "float",
          "readOnly": true
        },
        "averageCpuUtilization": {
          "description": "Output only. The average CPU utilization ratio across all vCPUs over the duration of the build, expressed as a fraction in the range [0.0, 1.0].",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "peakMemoryUtilization": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The highest memory utilization ratio observed over the duration of the build, expressed as a fraction in the range [0.0, 1.0]."
        },
        "peakCpuUtilization": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. The highest CPU utilization ratio across all vCPUs observed over the duration of the build, expressed as a fraction in the range [0.0, 1.0].",
          "type": "number"
        },
        "totalCpuDuration": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Total CPU execution time consumed across all cores during build execution.",
          "type": "string"
        }
      }
    },
    "BuildStep": {
      "description": "A step in the build pipeline. Next ID: 23",
      "properties": {
        "env": {
          "items": {
            "type": "string"
          },
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "type": "array"
        },
        "dir": {
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
          "type": "string"
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption."
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        },
        "waitFor": {
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exitCode": {
          "format": "int32",
          "description": "Output only. Return code from running the step.",
          "type": "integer"
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        },
        "timeout": {
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "type": "string",
          "format": "google-duration"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "pullTiming": {
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "$ref": "TimeSpan"
        },
        "allowFailure": {
          "type": "boolean",
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "StepResult"
          }
        },
        "status": {
          "type": "string",
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build has been received and is being queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ]
        },
        "secretEnv": {
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "$ref": "TimeSpan"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "type": "array"
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "allowExitCodes": {
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
        },
        "remoteConfig": {
          "type": "string",
          "description": "Remote configuration for the build step."
        }
      },
      "id": "BuildStep",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository": {
      "description": "Location of the source in a 2nd-gen Google Cloud Build repository resource.",
      "properties": {
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
        },
        "repository": {
          "description": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository"
    },
    "Occurrence": {
      "description": "`Occurrence` includes information about analysis occurrences for an image.",
      "properties": {
        "secret": {
          "description": "This represents a secret occurrence",
          "$ref": "SecretOccurrence"
        },
        "deployment": {
          "$ref": "Deployment",
          "description": "Describes the deployment of an artifact on a runtime."
        },
        "buildDetails": {
          "description": "Build details for a verifiable build.",
          "$ref": "BuildDetails"
        },
        "spdxPackage": {
          "description": "Describes a specific SPDX Package.",
          "$ref": "PackageInfoOccurrence"
        },
        "vulnerabilityDetails": {
          "description": "Details of a security vulnerability note.",
          "$ref": "VulnerabilityDetails"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this `Occurrence` was created."
        },
        "resource": {
          "description": " The resource for which the `Occurrence` applies.",
          "$ref": "Resource"
        },
        "aiSkillAnalysis": {
          "$ref": "AISkillAnalysisOccurrence",
          "description": "This represents an AI skill analysis occurrence"
        },
        "discovered": {
[...]
