{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "resources": {
    "projects": {
      "methods": {
        "setAcl": {
          "description": "Sets the access control policy for a resource. Replaces any existing policy.",
          "parameters": {
            "resource": {
              "required": true,
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:setAcl",
          "flatPath": "v1/projects/{projectsId}:setAcl",
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
          },
          "id": "contentwarehouse.projects.setAcl"
        },
        "fetchAcl": {
          "flatPath": "v1/projects/{projectsId}:fetchAcl",
          "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
          "path": "v1/{+resource}:fetchAcl",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
          },
          "id": "contentwarehouse.projects.fetchAcl",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
            }
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "getStatus": {
              "id": "contentwarehouse.projects.locations.getStatus",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:getStatus",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudContentwarehouseV1ProjectStatus"
              },
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location to be queried Format: projects/{project_number}/locations/{location}.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+location}:getStatus",
              "parameterOrder": [
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get the project status."
            },
            "runPipeline": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name which owns the resources of the pipeline. Format: projects/{project_number}/locations/{location}.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1RunPipelineRequest"
              },
              "httpMethod": "POST",
              "description": "Run a predefined pipeline.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:runPipeline",
              "id": "contentwarehouse.projects.locations.runPipeline",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:runPipeline",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "initialize": {
              "parameterOrder": [
                "location"
              ],
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The location to be initialized Format: projects/{project_number}/locations/{location}."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Provisions resources for given tenant project. Returns a long running operation.",
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1InitializeProjectRequest"
              },
              "path": "v1/{+location}:initialize",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:initialize",
              "id": "contentwarehouse.projects.locations.initialize"
            }
          },
          "resources": {
            "synonymSets": {
              "methods": {
                "create": {
                  "description": "Creates a SynonymSet for a single context. Throws an ALREADY_EXISTS exception if a synonymset already exists for the context.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "path": "v1/{+parent}/synonymSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.synonymSets.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the synonymSet to delete Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.synonymSets.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "description": "Deletes a SynonymSet for a given context. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of synonymSets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListSynonymSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSynonymSets` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/synonymSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns all SynonymSets (for all contexts) for the specified location.",
                  "id": "contentwarehouse.projects.locations.synonymSets.list",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListSynonymSetsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "description": "Gets a SynonymSet for a particular context. Throws a NOT_FOUND exception if the Synonymset does not exist",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "id": "contentwarehouse.projects.locations.synonymSets.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "description": "Required. The name of the synonymSet to retrieve Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "contentwarehouse.projects.locations.synonymSets.patch",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the synonymSet to update Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Remove the existing SynonymSet for the context and replaces it with a new one. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  }
                }
              }
            },
            "documentSchemas": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "description": "Creates a document schema.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent name.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/documentSchemas",
                  "id": "contentwarehouse.projects.locations.documentSchemas.create"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the document schema to retrieve.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$"
                    }
                  },
                  "description": "Gets a document schema. Returns NOT_FOUND if the document schema does not exist.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "id": "contentwarehouse.projects.locations.documentSchemas.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/documentSchemas",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse"
                  },
                  "id": "contentwarehouse.projects.locations.documentSchemas.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists document schemas.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of document schemas. Format: projects/{project_number}/locations/{location}.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of document schemas to return. The service may return fewer than this value. If unspecified, at most 50 document schemas will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListDocumentSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDocumentSchemas` must match the call that provided the page token."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest"
                  },
                  "id": "contentwarehouse.projects.locations.documentSchemas.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a Document Schema. Returns INVALID_ARGUMENT if the name of the Document Schema is non-empty and does not equal the existing name. Supports only appending new properties, adding new ENUM possible values, and updating the EnumTypeOptions.validation_check_disabled flag for ENUM possible values. Updating existing properties will result into INVALID_ARGUMENT.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document schema to update. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "description": "Required. The name of the document schema to delete.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "id": "contentwarehouse.projects.locations.documentSchemas.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes a document schema. Returns NOT_FOUND if the document schema does not exist. Returns BAD_REQUEST if the document schema has documents depending on it.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "contentwarehouse.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            },
            "ruleSets": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets a ruleset. Returns NOT_FOUND if the ruleset does not exist.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.ruleSets.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the rule set to retrieve. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "description": "Lists rulesets.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of rule sets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of document. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListRuleSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRuleSets` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.ruleSets.list",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListRuleSetsResponse"
                  },
                  "path": "v1/{+parent}/ruleSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the rule set to update. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Updates a ruleset. Returns INVALID_ARGUMENT if the name of the ruleset is non-empty and does not equal the existing name.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "id": "contentwarehouse.projects.locations.ruleSets.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateRuleSetRequest"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/ruleSets",
                  "httpMethod": "POST",
                  "id": "contentwarehouse.projects.locations.ruleSets.create",
                  "description": "Creates a ruleset.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contentwarehouse.projects.locations.ruleSets.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the rule set to delete. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a ruleset. Returns NOT_FOUND if the document does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            },
            "documents": {
              "resources": {
                "documentLinks": {
                  "methods": {
                    "create": {
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.create",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest"
                      },
                      "path": "v1/{+parent}/documentLinks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Create a link between a source document and a target document.",
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                          "required": true,
                          "description": "Required. Parent of the document-link to be created. parent of document-link should be a document. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the document-link to be deleted. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}/documentLinks/{document_link_id}.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+/documentLinks/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks/{documentLinksId}:delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest"
                      },
                      "path": "v1/{+name}:delete",
                      "description": "Remove the link between the source and target documents.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.delete"
                    }
                  }
                },
                "referenceId": {
                  "methods": {
                    "delete": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                      },
                      "path": "v1/{+name}:delete",
                      "id": "contentwarehouse.projects.locations.documents.referenceId.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a document. Returns NOT_FOUND if the document does not exist."
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                      },
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                      },
                      "id": "contentwarehouse.projects.locations.documents.referenceId.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1Document"
                      },
                      "id": "contentwarehouse.projects.locations.documents.referenceId.get",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:get",
                      "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "search": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/documents:search",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of documents. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Searches for documents using provided SearchDocumentsRequest. This call only returns documents that the caller has permission to search against.",
                  "id": "contentwarehouse.projects.locations.documents.search",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchAcl": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:fetchAcl",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:fetchAcl",
                  "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
                  "id": "contentwarehouse.projects.locations.documents.fetchAcl"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "id": "contentwarehouse.projects.locations.documents.get",
                  "path": "v1/{+name}:get"
                },
                "lock": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1LockDocumentRequest"
                  },
                  "path": "v1/{+name}:lock",
                  "description": "Lock the document so the document cannot be updated by other users.",
                  "httpMethod": "POST",
                  "id": "contentwarehouse.projects.locations.documents.lock",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document to lock. Format: projects/{project_number}/locations/{location}/documents/{document}.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:lock"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}."
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "contentwarehouse.projects.locations.documents.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                  }
                },
                "setAcl": {
                  "description": "Sets the access control policy for a resource. Replaces any existing policy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.setAcl",
                  "parameters": {
                    "resource": {
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:setAcl",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
                  },
                  "path": "v1/{+resource}:setAcl"
                },
                "linkedTargets": {
                  "id": "contentwarehouse.projects.locations.documents.linkedTargets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedTargets",
                  "path": "v1/{+parent}/linkedTargets",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the document, for which all target links are returned. Format: projects/{project_number}/locations/{location}/documents/{target_document_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsResponse"
                  },
                  "description": "Return all target document-links from the document.",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "linkedSources": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/linkedSources",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedSources",
                  "description": "Return all source document-links from the document.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document, for which all source links are returned. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.linkedSources"
                },
                "delete": {
                  "id": "contentwarehouse.projects.locations.documents.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:delete",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                  },
                  "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "description": "Creates a document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.create",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/documents",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "schemas": {
    "GoogleCloudDocumentaiV1Document": {
      "id": "GoogleCloudDocumentaiV1Document",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
        },
        "textChanges": {
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextChange"
          }
        },
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "format": "byte"
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
        },
        "chunkedDocument": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
          "description": "Document chunked based on chunking config."
        },
        "pages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPage"
          },
          "type": "array",
          "description": "Visual page layout for the Document."
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentRevision"
          },
          "description": "Placeholder. Revision history of this document."
        },
        "documentLayout": {
          "description": "Parsed layout of the document.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayout"
        },
        "error": {
          "description": "Any error that occurred while processing this document.",
          "$ref": "GoogleRpcStatus"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          },
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "type": "array"
        },
        "entityRelations": {
          "description": "Placeholder. Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityRelation"
          },
          "type": "array"
        },
        "textStyles": {
          "type": "array",
          "deprecated": true,
          "description": "Styles for the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentStyle"
          }
        }
      },
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1InitializeProjectRequest": {
      "id": "GoogleCloudContentwarehouseV1InitializeProjectRequest",
      "properties": {
        "databaseType": {
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Internal Spanner",
            "Cloud Sql with a Postgres Sql instance"
          ],
          "enum": [
            "DB_UNKNOWN",
            "DB_INFRA_SPANNER",
            "DB_CLOUD_SQL_POSTGRES"
          ],
          "type": "string",
          "description": "Required. The type of database used to store customer data",
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "accessControlMode": {
          "enum": [
            "ACL_MODE_UNKNOWN",
            "ACL_MODE_UNIVERSAL_ACCESS",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_BYOID",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_GCI"
          ],
          "type": "string",
          "description": "Required. The access control mode for accessing the customer data",
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Universal Access: No document level access control.",
            "Document level access control with customer own Identity Service.",
            "Document level access control using Google Cloud Identity."
          ]
        },
        "documentCreatorDefaultRole": {
          "enum": [
            "DOCUMENT_CREATOR_DEFAULT_ROLE_UNSPECIFIED",
            "DOCUMENT_ADMIN",
            "DOCUMENT_EDITOR",
            "DOCUMENT_VIEWER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, will be default to document admin role.",
            "Document Admin, same as contentwarehouse.googleapis.com/documentAdmin.",
            "Document Editor, same as contentwarehouse.googleapis.com/documentEditor.",
            "Document Viewer, same as contentwarehouse.googleapis.com/documentViewer."
          ],
          "description": "Optional. The default role for the person who create a document."
        },
        "enableCalUserEmailLogging": {
          "description": "Optional. Whether to enable CAL user email logging.",
          "type": "boolean"
        },
        "kmsKey": {
          "description": "Optional. The KMS key used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the kms_key is left empty, no encryption will be enforced.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for projectService.InitializeProject"
    },
    "GoogleCloudContentwarehouseV1Action": {
      "properties": {
        "accessControl": {
          "description": "Action triggering access control operations.",
          "$ref": "GoogleCloudContentwarehouseV1AccessControlAction"
        },
        "addToFolder": {
          "description": "Action triggering create document link operation.",
          "$ref": "GoogleCloudContentwarehouseV1AddToFolderAction"
        },
        "dataValidation": {
          "$ref": "GoogleCloudContentwarehouseV1DataValidationAction",
          "description": "Action triggering data validation operations."
        },
        "publishToPubSub": {
          "description": "Action publish to Pub/Sub operation.",
          "$ref": "GoogleCloudContentwarehouseV1PublishAction"
        },
        "dataUpdate": {
          "description": "Action triggering data update operations.",
          "$ref": "GoogleCloudContentwarehouseV1DataUpdateAction"
        },
        "deleteDocumentAction": {
          "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentAction",
          "description": "Action deleting the document."
        },
        "actionId": {
          "type": "string",
          "description": "ID of the action. Managed internally."
        },
        "removeFromFolderAction": {
          "description": "Action removing a document from a folder.",
          "$ref": "GoogleCloudContentwarehouseV1RemoveFromFolderAction"
        }
      },
      "id": "GoogleCloudContentwarehouseV1Action",
      "type": "object",
      "description": "Represents the action triggered by Rule Engine when the rule is true."
    },
    "GoogleCloudContentwarehouseV1MapProperty": {
      "id": "GoogleCloudContentwarehouseV1MapProperty",
      "type": "object",
      "description": "Map property value. Represents a structured entries of key value pairs, consisting of field names which map to dynamically typed values.",
      "properties": {
        "fields": {
          "description": "Unordered map of dynamically typed values.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContentwarehouseV1Value"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1GetDocumentRequest": {
      "id": "GoogleCloudContentwarehouseV1GetDocumentRequest",
      "type": "object",
      "description": "Request message for DocumentService.GetDocument.",
      "properties": {
        "requestMetadata": {
          "description": "The meta information collected about the end user, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentShardInfo": {
      "properties": {
        "textOffset": {
          "type": "string",
          "format": "int64",
          "description": "The index of the first character in Document.text in the overall document global text."
        },
        "shardCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of shards."
        },
        "shardIndex": {
          "type": "string",
          "format": "int64",
          "description": "The 0-based index of this shard."
        }
      },
      "type": "object",
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "id": "GoogleCloudDocumentaiV1DocumentShardInfo"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk",
      "description": "Represents a chunk.",
      "type": "object",
      "properties": {
        "pageFooters": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "description": "Page footers associated with the chunk.",
          "type": "array"
        },
        "pageHeaders": {
          "type": "array",
          "description": "Page headers associated with the chunk.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
          }
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "sourceBlockIds": {
          "items": {
            "type": "string"
          },
          "description": "Unused.",
          "type": "array"
        },
        "chunkId": {
          "type": "string",
          "description": "ID of the chunk."
        },
        "content": {
          "description": "Text content of the chunk.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "type": "object",
      "properties": {
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        },
        "agent": {
          "description": "If the change was made by a person specify the name or id of that person.",
          "type": "string"
        },
        "humanReview": {
          "description": "Human Review information of this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview"
        },
        "parent": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "type": "array",
          "deprecated": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create."
        },
        "parentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field."
        },
        "id": {
          "type": "string",
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentRevision"
    },
    "GoogleCloudContentwarehouseV1TextArray": {
      "id": "GoogleCloudContentwarehouseV1TextArray",
      "description": "String/text values.",
      "properties": {
        "values": {
          "type": "array",
          "description": "List of text values.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1RuleEvaluatorOutput": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1RuleEvaluatorOutput",
      "description": "Represents the output of the Rule Evaluator.",
      "properties": {
        "invalidRules": {
          "description": "A subset of triggered rules that failed the validation check(s) after parsing.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1InvalidRule"
          }
        },
        "triggeredRules": {
          "type": "array",
          "description": "List of rules fetched from database for the given request trigger type.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Rule"
          }
        },
        "matchedRules": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Rule"
          },
          "description": "A subset of triggered rules that are evaluated true for a given request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "properties": {
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        },
        "bodyRows": {
          "description": "Body rows containing main table content.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array"
        },
        "headerRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Header rows at the top of the table."
        }
      },
      "type": "object",
      "description": "Represents a table type block.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
    },
    "GoogleCloudContentwarehouseV1UpdateOptions": {
      "description": "Options for Update operations.",
      "id": "GoogleCloudContentwarehouseV1UpdateOptions",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Field mask for merging Document fields. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
          "type": "string"
        },
        "mergeFieldsOptions": {
          "$ref": "GoogleCloudContentwarehouseV1MergeFieldsOptions",
          "description": "Options for merging."
        },
        "updateType": {
          "description": "Type for update.",
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "UPDATE_TYPE_REPLACE",
            "UPDATE_TYPE_MERGE",
            "UPDATE_TYPE_INSERT_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_REPLACE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_DELETE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_MERGE_AND_REPLACE_OR_INSERT_PROPERTIES_BY_NAMES"
          ],
          "enumDescriptions": [
            "Defaults to full replace behavior, ie. FULL_REPLACE.",
            "Fully replace all the fields (including previously linked raw document). Any field masks will be ignored.",
            "Merge the fields into the existing entities.",
            "Inserts the properties by names.",
            "Replace the properties by names.",
            "Delete the properties by names.",
            "For each of the property, replaces the property if the it exists, otherwise inserts a new property. And for the rest of the fields, merge them based on update mask and merge fields options."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTable": {
      "description": "A table representation similar to HTML table structure.",
      "id": "GoogleCloudDocumentaiV1DocumentPageTable",
      "type": "object",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Table."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Header rows of the table."
        },
        "provenance": {
          "deprecated": true,
          "description": "The history of this table.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "bodyRows": {
          "description": "Body rows of the table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1DocumentSchema": {
      "description": "A document schema used to define document structure.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Schema description.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the document schema is last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document schema. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}. The name is ignored when creating a document schema."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the document schema is created.",
          "type": "string"
        },
        "documentIsFolder": {
          "description": "Document Type, true refers the document is a folder, otherwise it is a typical document.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. Name of the schema given by the user. Must be unique per project.",
          "type": "string"
        },
        "propertyDefinitions": {
          "type": "array",
          "description": "Document details.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyDefinition"
          }
        }
      },
      "id": "GoogleCloudContentwarehouseV1DocumentSchema"
    },
    "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument": {
      "id": "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument",
      "type": "object",
      "description": "Document entry with metadata inside SearchDocumentsResponse",
      "properties": {
        "document": {
          "$ref": "GoogleCloudContentwarehouseV1Document",
          "description": "Document that matches the specified SearchDocumentsRequest. This document only contains indexed metadata information."
        },
        "qaResult": {
          "description": "Experimental. Additional result info if the question-answering feature is enabled.",
          "$ref": "GoogleCloudContentwarehouseV1QAResult"
        },
        "searchTextSnippet": {
          "description": "Contains snippets of text from the document full raw text that most closely match a search query's keywords, if available. All HTML tags in the original fields are stripped when returned in this field, and matching query keywords are enclosed in HTML bold tags. If the question-answering feature is enabled, this field will instead contain a snippet that answers the user's natural-language query. No HTML bold tags will be present, and highlights in the answer snippet can be found in QAResult.highlights.",
          "type": "string"
        },
        "matchedTokenPageIndices": {
          "type": "array",
          "description": "Return the 1-based page indices where those pages have one or more matched tokens.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentProvenance": {
      "properties": {
        "parents": {
          "type": "array",
          "description": "References to the original elements that are replaced.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentProvenanceParent"
          }
        },
        "id": {
          "deprecated": true,
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "The type of provenance operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "type": "string"
        },
        "revision": {
          "description": "The index of the revision that produced this element.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentProvenance",
      "description": "Structure to identify provenance relationships between annotations in different revisions."
    },
    "GoogleCloudContentwarehouseV1Value": {
      "description": "`Value` represents a dynamically typed value which can be either be a float, a integer, a string, or a datetime value. A producer of value is expected to set one of these variants. Absence of any variant indicates an error.",
      "id": "GoogleCloudContentwarehouseV1Value",
      "type": "object",
      "properties": {
        "timestampValue": {
          "description": "Represents a timestamp value.",
          "$ref": "GoogleCloudContentwarehouseV1TimestampValue"
        },
        "enumValue": {
          "description": "Represents an enum value.",
          "$ref": "GoogleCloudContentwarehouseV1EnumValue"
        },
        "floatValue": {
          "description": "Represents a float value.",
          "type": "number",
          "format": "float"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "datetimeValue": {
          "description": "Represents a datetime value.",
          "$ref": "GoogleTypeDateTime"
        },
        "intValue": {
          "type": "integer",
          "description": "Represents a integer value.",
          "format": "int32"
        },
        "booleanValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageBlock": {
      "id": "GoogleCloudDocumentaiV1DocumentPageBlock",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "provenance": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this annotation."
        }
      },
      "type": "object",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
    },
    "GoogleCloudContentwarehouseV1SynonymSetSynonym": {
      "properties": {
        "words": {
          "description": "For example: sale, invoice, bill, order",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents a list of words given by the customer All these words are synonyms of each other.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1SynonymSetSynonym"
    },
    "GoogleCloudContentwarehouseV1DataValidationAction": {
      "properties": {
        "conditions": {
          "type": "object",
          "description": "Map of (K, V) -> (field, string condition to be evaluated on the field) E.g., (\"age\", \"age > 18 && age < 60\") entry triggers validation of field age with the given condition. Map entries will be ANDed during validation.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Represents the action responsible for data validation operations.",
      "id": "GoogleCloudContentwarehouseV1DataValidationAction",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1PropertyDefinition": {
      "description": "Defines the metadata for a schema property.",
      "properties": {
        "displayName": {
          "description": "The display-name for the property, used for front-end.",
          "type": "string"
        },
        "textTypeOptions": {
          "description": "Text/string property.",
          "$ref": "GoogleCloudContentwarehouseV1TextTypeOptions"
        },
        "name": {
          "description": "Required. The name of the metadata property. Must be unique within a document schema and is case insensitive. Names must be non-blank, start with a letter, and can contain alphanumeric characters and: /, :, -, _, and .",
          "type": "string"
        },
        "integerTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1IntegerTypeOptions",
          "description": "Integer property."
        },
        "schemaSources": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyDefinitionSchemaSource"
          },
          "description": "The mapping information between this property to another schema source.",
          "type": "array"
        },
        "isFilterable": {
          "description": "Whether the property can be filtered. If this is a sub-property, all the parent properties must be marked filterable.",
          "type": "boolean"
        },
        "floatTypeOptions": {
          "description": "Float property.",
          "$ref": "GoogleCloudContentwarehouseV1FloatTypeOptions"
        },
        "dateTimeTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1DateTimeTypeOptions",
          "description": "Date time property. It is not supported by CMEK compliant deployment."
        },
        "propertyTypeOptions": {
          "description": "Nested structured data property.",
          "$ref": "GoogleCloudContentwarehouseV1PropertyTypeOptions"
        },
        "isSearchable": {
          "description": "Indicates that the property should be included in a global search.",
          "type": "boolean"
        },
        "retrievalImportance": {
          "type": "string",
          "enum": [
            "RETRIEVAL_IMPORTANCE_UNSPECIFIED",
            "HIGHEST",
            "HIGHER",
            "HIGH",
            "MEDIUM",
            "LOW",
            "LOWEST"
          ],
          "description": "The retrieval importance of the property during search.",
          "enumDescriptions": [
            "No importance specified. Default medium importance.",
            "Highest importance.",
            "Higher importance.",
            "High importance.",
            "Medium importance.",
            "Low importance (negative).",
            "Lowest importance (negative)."
          ]
        },
        "timestampTypeOptions": {
          "description": "Timestamp property. It is not supported by CMEK compliant deployment.",
          "$ref": "GoogleCloudContentwarehouseV1TimestampTypeOptions"
        },
        "enumTypeOptions": {
          "description": "Enum/categorical property.",
          "$ref": "GoogleCloudContentwarehouseV1EnumTypeOptions"
        },
        "mapTypeOptions": {
          "description": "Map property.",
          "$ref": "GoogleCloudContentwarehouseV1MapTypeOptions"
        },
        "isMetadata": {
          "description": "Whether the property is user supplied metadata. This out-of-the box placeholder setting can be used to tag derived properties. Its value and interpretation logic should be implemented by API user.",
          "type": "boolean"
        },
        "isRequired": {
          "description": "Whether the property is mandatory. Default is 'false', i.e. populating property value can be skipped. If 'true' then user must populate the value for this property.",
          "type": "boolean"
        },
        "isRepeatable": {
          "type": "boolean",
          "description": "Whether the property can have multiple values."
        }
      },
      "id": "GoogleCloudContentwarehouseV1PropertyDefinition",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1LockDocumentRequest": {
      "id": "GoogleCloudContentwarehouseV1LockDocumentRequest",
      "description": "Request message for DocumentService.LockDocument.",
      "properties": {
        "collectionId": {
          "description": "The collection the document connects to.",
          "type": "string"
        },
        "lockingUser": {
          "description": "The user information who locks the document.",
          "$ref": "GoogleCloudContentwarehouseV1UserInfo"
        }
      },
      "type": "object"
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "properties": {
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "alpha": {
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number"
        },
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter",
      "description": "Represents the page footer associated with the chunk.",
      "properties": {
        "pageSpan": {
          "description": "Page span of the footer.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1FetchAclResponse": {
      "properties": {
        "metadata": {
          "description": "Additional information for the API invocation, such as the request tracking id.",
          "$ref": "GoogleCloudContentwarehouseV1ResponseMetadata"
        },
        "policy": {
          "description": "The IAM policy.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "id": "GoogleCloudContentwarehouseV1FetchAclResponse",
      "type": "object",
      "description": "Response message for DocumentService.FetchAcl."
    },
    "GoogleCloudDocumentaiV1Barcode": {
      "description": "Encodes the detailed information of a barcode.",
      "id": "GoogleCloudDocumentaiV1Barcode",
      "properties": {
        "valueFormat": {
          "type": "string",
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
        },
        "rawValue": {
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type."
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1InitializeProjectResponse": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1InitializeProjectResponse",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the project initialization process."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Clients should never see this.",
            "Finished project initialization without error.",
            "Finished project initialization with an error.",
            "Client canceled the LRO.",
            "Ask the customer to check the operation for results."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RUNNING"
          ],
          "description": "The state of the project initialization process."
        }
      },
      "description": "Response message for projectService.InitializeProject"
    },
    "CloudAiPlatformTenantresourceGcsBucketConfig": {
      "type": "object",
      "description": "The identity to configure a GCS bucket.",
      "id": "CloudAiPlatformTenantresourceGcsBucketConfig",
      "properties": {
        "kmsKeyReference": {
          "description": "Input/Output [Optional]. The KMS key name or the KMS grant name used for CMEK encryption. Only set this field when provisioning new GCS bucket. For existing GCS bucket, this field will be ignored because CMEK re-encryption is not supported.",
          "type": "string"
        },
        "ttlDays": {
          "description": "Input/Output [Optional]. Only needed when the content in bucket need to be garbage collected within some amount of days.",
          "format": "int32",
          "type": "integer"
        },
        "entityName": {
          "type": "string",
          "description": "Input/Output [Optional]. Only needed for per-entity tenant GCP resources. During Deprovision API, the on-demand deletion will only cover the tenant GCP resources with the specified entity name."
        },
        "bucketName": {
          "description": "Input/Output [Optional]. The name of a GCS bucket with max length of 63 chars. If not set, a random UUID will be generated as bucket name.",
          "type": "string"
        },
        "admins": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "viewers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Input/Output [Required]. IAM roles (viewer/admin) put on the bucket."
        }
      }
    },
    "GoogleCloudContentwarehouseV1DataUpdateAction": {
      "properties": {
        "entries": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of (K, V) -> (valid name of the field, new value of the field) E.g., (\"age\", \"60\") entry triggers update of field age with a value of 60. If the field is not present then new entry is added. During update action execution, value strings will be casted to appropriate types."
        }
      },
      "description": "Represents the action responsible for properties update operations.",
      "id": "GoogleCloudContentwarehouseV1DataUpdateAction",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1UserInfo": {
      "id": "GoogleCloudContentwarehouseV1UserInfo",
      "description": "The user information.",
      "type": "object",
      "properties": {
        "groupIds": {
          "description": "The unique group identifications which the user is belong to. The format is \"group:yyyy@example.com\";",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "A unique user identification string, as determined by the client. The maximum number of allowed characters is 255. Allowed characters include numbers 0 to 9, uppercase and lowercase letters, and restricted special symbols (:, @, +, -, _, ~) The format is \"user:xxxx@example.com\";",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest": {
      "id": "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest",
      "properties": {
        "requestMetadata": {
          "description": "The meta information collected about the document creator, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      },
      "description": "Request message for DocumentLinkService.DeleteDocumentLink.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1IngestPipelineConfig": {
      "id": "GoogleCloudContentwarehouseV1IngestPipelineConfig",
      "type": "object",
      "properties": {
        "folder": {
          "description": "Optional. The name of the folder to which all ingested documents will be linked during ingestion process. Format is `projects/{project}/locations/{location}/documents/{folder_id}`",
          "type": "string"
        },
        "documentAclPolicy": {
          "$ref": "GoogleIamV1Policy",
[...]
