{
  "name": "contactcenterinsights",
  "id": "contactcenterinsights:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "title": "Contact Center AI Insights API",
  "basePath": "",
  "canonicalName": "Contactcenterinsights",
  "version_module": true,
  "ownerName": "Google",
  "description": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "servicePath": "",
  "revision": "20261002",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData": {
      "properties": {
        "metadata": {
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string",
          "description": "Article URI."
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        },
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        }
      },
      "description": "Agent Assist Article Suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice": {
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainDimension"
          },
          "description": "A unique combination of dimensions that this slice represents.",
          "type": "array"
        },
        "timeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceTimeSeries",
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE."
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSlice",
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
      "description": "Metadata about the conversation profile dimension.",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The conversation profile ID."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. Run in validate only mode, no fine tuning will actually run. Data quality validations like training data distributions will run. Even when set to false, the data quality validations will still run but once the validations complete we will proceed with the fine tune, if applicable.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Required. Filter for selecting the feedback labels that needs to be used for training. This filter can be used to limit the feedback labels used for tuning to a feedback labels created or updated for a specific time-window etc."
        }
      },
      "description": "Request for TuneQaScorecardRevision endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig": {
      "properties": {
        "trainingConversationsCount": {
          "description": "Output only. Number of conversations used in training. Output only.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
        },
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Configs for the input data used to create the issue model.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig"
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResult": {
      "type": "object",
      "description": "The result of an analysis.",
      "properties": {
        "endTime": {
          "description": "The time at which the analysis ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResult"
    },
    "GoogleCloudContactcenterinsightsV1StreamChatRequest": {
      "properties": {
        "message": {
          "description": "Required. The message to send to the assistant.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1StreamChatRequest",
      "description": "Request to stream chat.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse": {
      "description": "The response for a bulk analyze conversations operation.",
      "type": "object",
      "properties": {
        "successfulAnalysisCount": {
          "format": "int32",
          "description": "Count of successful analyses.",
          "type": "integer"
        },
        "failedAnalysisCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of failed analyses."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource",
      "properties": {
        "bucketObjectType": {
          "type": "string",
          "enumDescriptions": [
            "The object type is unspecified and will default to `TRANSCRIPT`.",
            "The object is a transcript.",
            "The object is an audio file."
          ],
          "enum": [
            "BUCKET_OBJECT_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "AUDIO"
          ],
          "description": "Optional. Specifies the type of the objects in `bucket_uri`. Avoid passing this. This is inferred from the `transcript_bucket_uri`, `audio_bucket_uri`."
        },
        "audioBucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage path to the conversation audio file. Note that: [1] Audio files will be transcribed if not already. [2] Audio files and transcript files must be in separate buckets / folders. [3] A source file and its corresponding audio file must share the same name to be properly ingested, E.g. `gs://bucket/transcript/conversation1.json` and `gs://bucket/audio/conversation1.mp3`."
        },
        "metadataBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation metadata. Note that: [1] Metadata files are expected to be in JSON format. [2] Metadata and source files (transcripts or audio) must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "transcriptBucketUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage path to the conversation transcripts. Note that: [1] Transcript files are expected to be in JSON format. [2] Transcript, audio, metadata files must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`."
        },
        "bucketUri": {
          "description": "Optional. The Cloud Storage bucket containing source objects. Avoid passing this. Pass this through one of `transcript_bucket_uri` or `audio_bucket_uri`.",
          "type": "string"
        },
        "customMetadataKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 100 labels per conversation."
        }
      },
      "description": "Configuration for Cloud Storage bucket sources.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Note": {
      "properties": {
        "qaQuestionNote": {
          "$ref": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
          "description": "The note is associated with a QA question in one of the conversation's scorecard results."
        },
        "conversationTurnNote": {
          "$ref": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote",
          "description": "The note is associated with a conversation turn."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}"
        },
        "content": {
          "description": "The note content.",
          "type": "string"
        },
        "assessmentNote": {
          "description": "The note is associated to the entire parent assessment.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote"
        },
        "noteCreator": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1UserInfo",
          "description": "Output only. The user that created the note."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the note was last updated."
        },
        "createTime": {
          "description": "Output only. The time at which the note was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Note",
      "description": "The conversation assessment note resource."
    },
    "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest",
      "description": "The request to undeploy a QaScorecardRevision",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata": {
      "properties": {
        "agentChannel": {
          "description": "The audio channel that contains the agent.",
          "type": "integer",
          "format": "int32"
        },
        "customerChannel": {
          "type": "integer",
          "description": "The audio channel that contains the customer.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
      "description": "Call-specific metadata."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "properties": {
        "systemMessages": {
          "description": "A message from the system in response to the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage"
          }
        }
      },
      "description": "A wrapper for system messages per turn.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages"
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsRequest": {
      "description": "The request to sample conversations to a dataset.",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule"
        },
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1Dataset",
          "description": "The dataset resource to copy the sampled conversations to."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationParticipant": {
      "type": "object",
      "properties": {
        "dialogflowParticipant": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        },
        "role": {
          "description": "The role of the participant.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ]
        }
      },
      "description": "The call participant speaking for a given utterance.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationParticipant"
    },
    "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec": {
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
          "type": "string"
        },
        "kmsKey": {
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Whether this resource is zone isolated.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest",
      "description": "Request to import an issue model.",
      "type": "object",
      "properties": {
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource",
          "description": "Google Cloud Storage source message."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The issue model to deploy.",
          "type": "string"
        }
      },
      "description": "The request to deploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1FaqAnswerData": {
      "properties": {
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}."
        },
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "answer": {
          "description": "The piece of text from the `source` knowledge base document.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from."
        },
        "confidenceScore": {
          "format": "float",
          "type": "number",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1FaqAnswerData",
      "type": "object",
      "description": "Agent Assist frequently-asked-question answer data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary": {
      "properties": {
        "wordIndex": {
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "format": "int32",
          "type": "integer"
        },
        "transcriptIndex": {
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
      "description": "A point in a conversation that marks the start or the end of an annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadata": {
      "description": "Metadata for the BulkDownloadFeedbackLabel endpoint.",
      "type": "object",
      "properties": {
        "downloadStats": {
          "description": "Output only. Statistics for BulkDownloadFeedbackLabels operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadataDownloadStats",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "request": {
          "readOnly": true,
          "description": "Output only. The original request for download.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainCallAnnotation": {
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainHoldData"
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainInterruptionData"
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "phraseMatchData": {
          "description": "Data specifying a phrase match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData"
        },
        "channelTag": {
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32",
          "type": "integer"
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueMatchData"
        },
        "silenceData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSilenceData",
          "description": "Data specifying silence."
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "intentMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIntentMatchData",
          "description": "Data specifying an intent match."
        },
        "entityMentionData": {
          "description": "Data specifying an entity mention.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainEntityMentionData"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCallAnnotation",
      "type": "object",
      "description": "A piece of metadata that applies to a window of a call."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartChip": {
      "description": "A suggestion chip.",
      "properties": {
        "actionUri": {
          "type": "string",
          "description": "Optional. Optional action or destination URI triggered by the chip."
        },
        "text": {
          "description": "Optional. The chip label or text.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartChip"
    },
    "GoogleCloudContactcenterinsightsV1FeedbackLabel": {
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "id": "GoogleCloudContactcenterinsightsV1FeedbackLabel",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time of the label.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "label": {
          "description": "String label used for Topic Modeling.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the label.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is zone isolated."
        },
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        },
        "labeledResource": {
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`",
          "type": "string"
        },
        "qaAnswerLabel": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
          "description": "QaAnswer label used for Quality AI example conversations."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDialogflowInteractionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDialogflowInteractionData",
      "description": "Dialogflow interaction data.",
      "properties": {
        "dialogflowIntentId": {
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult": {
      "type": "object",
      "properties": {
        "tag": {
          "description": "The tag the score applies to.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "The score the tag applies to."
        },
        "potentialScore": {
          "type": "number",
          "description": "The potential score the tag applies to.",
          "format": "double"
        },
        "normalizedScore": {
          "description": "The normalized score the tag applies to.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult",
      "description": "Tags and their corresponding results."
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "type": "object",
      "properties": {
        "alternativeText": {
          "description": "Optional. Alternative text description.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        }
      },
      "description": "A media part."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest",
      "description": "Request for the BulkDeleteFeedbackLabels endpoint.",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelResult": {
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainIssueAssignment"
          },
          "description": "All the matched issues."
        },
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelResult",
      "description": "Issue Modeling result on a conversation."
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse": {
      "description": "The response to an IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1PublishAssessmentRequest",
      "description": "The message to publish an assessment. Draft and appealed assessments can be published. Publishing simply changes the state of the assessment to published, allowing the console and authorized views to filter on the state."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "type": "object",
      "properties": {
        "phraseMatchRules": {
          "description": "A list of phrase match rules that are included in this group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          }
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "type": "string",
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "description": "Required. The type of this phrase match rule group."
        }
      },
      "description": "A message representing a rule in the phrase matcher.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
    },
    "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue": {
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "id": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key."
        },
        "skipValue": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated."
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "strValue": {
          "description": "String value.",
          "type": "string"
        },
        "numValue": {
          "format": "double",
          "type": "number",
          "description": "Numerical value."
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        },
        "normalizedScore": {
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "potentialScore": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. The maximum potential score of the question."
        },
        "score": {
          "description": "Output only. Numerical score of the answer.",
          "type": "number",
          "format": "double",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart",
      "description": "A structured component/part of a transcript segment.",
      "properties": {
        "productCollection": {
          "description": "Optional. Product collection or carousel.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart"
        },
        "text": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart",
          "description": "Optional. Plain text content."
        },
        "suggestionChips": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
          "description": "Optional. Suggestion chips or interactive buttons."
        },
        "link": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
          "description": "Optional. Web link or URL."
        },
        "image": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
          "description": "Optional. Image media."
        },
        "thought": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
          "description": "Optional. Model thought or internal reasoning."
        },
        "video": {
          "description": "Optional. Video media.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
        },
        "customPayload": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
          "description": "Optional. Generic custom structured payload."
        },
        "list": {
          "description": "Optional. Ordered or unordered list.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart"
        },
        "table": {
          "description": "Optional. Tabular data.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart"
        },
        "citation": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart",
          "description": "Optional. Citation or reference to grounding material."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for deleting a QaQuestionTag Resource.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart",
      "properties": {
        "title": {
          "description": "Optional. Optional title for the table.",
          "type": "string"
        },
        "rows": {
          "description": "Optional. Table rows.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
          }
        },
        "headers": {
          "description": "Optional. Table column headers.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A table part."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsMetadata": {
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsMetadata",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete."
        },
        "request": {
          "description": "Output only. The original request for delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainInterruptionData": {
      "description": "The data for an interruption annotation.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainInterruptionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData": {
      "properties": {
        "suggestion": {
          "type": "string",
          "description": "The content of the suggestion."
        },
        "metadata": {
          "description": "Map that contains metadata about the Smart Compose suggestion and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "confidenceScore": {
          "format": "double",
          "description": "The system's confidence score that this suggestion is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData",
      "type": "object",
      "description": "Agent Assist Smart Compose suggestion data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "type": "object",
      "properties": {
        "averageTagNormalizedScore": {
          "type": "number",
          "format": "double",
          "description": "Average tag normalized score per tag."
        },
        "tag": {
          "type": "string",
          "description": "Tag name."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "description": "Average QA normalized score for the tag."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata": {
      "description": "The metadata for a bulk delete conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata",
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest",
          "description": "The original request for bulk delete."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "partialErrors": {
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment": {
      "description": "One channel of conversation-level sentiment data.",
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "channelTag": {
          "description": "The channel of the audio that the data applies to.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationLevelSentiment"
    },
    "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest": {
      "description": "The message to finalize an assessment. Finalizing makes an assessment and its notes immutable.",
      "id": "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadataSampleConversationsStats": {
      "properties": {
        "successfulSampleCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of new conversations added during this sample operation.",
          "type": "integer"
        },
        "failedSampleCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field."
        }
      },
      "type": "object",
      "description": "Statistics for SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadataSampleConversationsStats"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata",
      "description": "The metadata for a bulk delete conversations operation.",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "request": {
          "description": "The original request for bulk delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow": {
      "description": "A row in a table.",
      "type": "object",
      "properties": {
        "cells": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The cell values in the row.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
    },
    "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
      "properties": {
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        }
      },
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match."
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination",
      "description": "Google Sheets document details to write the feedback labels to.",
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA. The spreadsheet ID written to will be returned as `file_names` in the BulkDownloadFeedbackLabelsMetadata.",
          "type": "string"
        },
        "sheetTitle": {
          "description": "Optional. The title of the new sheet to write the feedback labels to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig": {
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        },
        "disableWordTimeOffsets": {
          "type": "boolean",
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false."
        }
      },
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedView": {
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedView",
      "description": "An AuthorizedView represents a view of accessible Insights resources (for example, Conversation and Scorecard). Who have read access to the AuthorizedView resource will have access to these Insight resources as well.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the AuthorizedView. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}/authorizedViews/{authorized_view}",
          "type": "string"
        },
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the authorized view was created.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time at which the authorized view was updated."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is zone separated."
        },
        "conversationFilter": {
          "description": "A filter to reduce conversation results to a specific subset. The AuthorizedView's assigned permission (read/write) could be applied to the subset of conversations. If conversation_filter is empty, there is no restriction on the conversations that the AuthorizedView can access. Having *authorizedViews.get* access to the AuthorizedView means having the same read/write access to the Conversations (as well as metadata/annotations linked to the conversation) that this AuthorizedView has.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart": {
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Table column headers."
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
          },
          "type": "array",
          "description": "Optional. Table rows."
        },
        "title": {
          "type": "string",
          "description": "Optional. Optional title for the table."
        }
      },
      "description": "A table part.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "properties": {
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        },
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "properties": {
        "trainingStats": {
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats"
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "issueCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of issues in this issue model.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "readOnly": true
        },
        "modelType": {
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "description": "Type of the model.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "type": "string"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this issue model was created.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the model.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ]
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueModel",
      "type": "object",
      "description": "The issue model resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource",
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "properties": {
        "sourceType": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "type": "string",
          "description": "What created the answer."
        },
        "answerValue": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead."
        }
      },
      "type": "object"
    },
    "GoogleCloudCesV1mainAgentTransfer": {
      "type": "object",
      "id": "GoogleCloudCesV1mainAgentTransfer",
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "properties": {
        "displayName": {
          "description": "Output only. Display name of the agent.",
          "readOnly": true,
          "type": "string"
        },
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation": {
      "type": "object",
      "description": "The CES diagnostic information.",
      "properties": {
        "rootSpan": {
          "description": "The root span of the action processing.",
          "$ref": "GoogleCloudCesV1mainSpan"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "description": "The messages in the turn."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest",
      "description": "The request to export insights.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties."
        },
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ]
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "writeDisposition": {
          "description": "Options for what to do if the destination table already exists.",
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        },
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainListFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainListFeedbackLabelsResponse",
      "properties": {
        "feedbackLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "description": "The feedback labels that match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        }
      },
      "type": "object",
      "description": "The response for listing feedback labels."
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest",
          "description": "The original request for deployment."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      },
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1AssistantChunk": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AssistantChunk",
      "description": "A chunk of data in an assistant message.",
      "properties": {
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "description": "The original import request.",
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        }
      },
      "description": "Metadata used for import issue model."
    },
    "GoogleCloudCesV1mainToolsetTool": {
      "id": "GoogleCloudCesV1mainToolsetTool",
      "properties": {
        "toolId": {
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for.",
          "type": "string"
        },
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        }
      },
      "type": "object",
      "description": "A tool that is created from a toolset."
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest",
      "properties": {
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDataset"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the dataset."
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSampleRule"
        }
      },
      "description": "The request to sample conversations to a dataset.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition": {
      "id": "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition",
      "description": "Condition for auto-labeling conversations.",
      "properties": {
        "condition": {
          "type": "string",
          "description": "A optional CEL expression to be evaluated as a boolean value. Once evaluated as true, then we will proceed with the value evaluation. An empty condition will be auto evaluated as true."
        },
        "value": {
          "type": "string",
          "description": "CEL expression to be evaluated as the value."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "description": "A product collection part.",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          },
          "type": "array",
          "description": "Optional. List of products."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart"
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest": {
      "type": "object",
      "description": "The request to initialize a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced.",
          "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse": {
      "properties": {},
      "description": "The response to an SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "description": "The request to ingest conversations.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
      "properties": {
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig"
        },
        "gcsSource": {
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource"
        },
        "transcriptObjectConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig",
          "description": "Configuration for when `source` contains conversation transcripts."
        },
        "sampleSize": {
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "type": "integer",
          "format": "int32"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig"
        },
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "properties": {},
      "type": "object",
      "description": "Response from export issue model",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "description": "Issue Modeling result on a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "type": "object",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Dimension": {
      "id": "GoogleCloudContactcenterinsightsV1Dimension",
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses.",
      "type": "object",
      "properties": {
        "labelDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about conversation labels.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionLabelDimensionMetadata"
        },
        "conversationalAgentsToolDimensionMetadata": {
          "description": "Output only. Metadata about the Conversational Agents tool dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata",
          "readOnly": true
        },
        "mediumDimensionMetadata": {
          "description": "Output only. Metadata about the conversation medium dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata",
          "readOnly": true
        },
        "conversationProfileDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the conversation profile dimension."
        },
        "conversationalAgentsPlaybookDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the Conversational Agents playbook dimension."
        },
        "issueDimensionMetadata": {
          "description": "Output only. Metadata about the issue dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata"
        },
        "agentDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata",
          "description": "Output only. Metadata about the agent dimension."
        },
        "qaQuestionDimensionMetadata": {
          "description": "Output only. Metadata about the QA question dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionDimensionMetadata"
        },
        "qaScorecardDimensionMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata",
          "description": "Output only. Metadata about the QA scorecard dimension.",
          "readOnly": true
        },
        "dimensionKey": {
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ],
          "description": "The key of the dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ]
        },
        "qaQuestionAnswerDimensionMetadata": {
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata"
        },
        "clientSentimentCategoryDimensionMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the client sentiment category dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainFeedbackLabel": {
      "id": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel",
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time of the label."
        },
        "qaAnswerLabel": {
          "description": "QaAnswer label used for Quality AI example conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue"
        },
        "createTime": {
          "description": "Output only. Create time of the label.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Whether this resource is zone isolated.",
          "type": "boolean",
          "readOnly": true
        },
        "labeledResource": {
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`",
          "type": "string"
        },
        "label": {
          "description": "String label used for Topic Modeling.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        }
      }
    },
    "GoogleCloudCesV1mainImage": {
      "id": "GoogleCloudCesV1mainImage",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the image."
        },
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        }
      },
      "type": "object",
      "description": "Represents an image input or output in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest",
      "description": "The request for generative insights.",
      "type": "object",
      "properties": {
        "chart": {
          "type": "string",
          "description": "The full name of the chart resource this request corresponds to. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "revisionId": {
          "type": "string",
          "description": "Optional. The revision id that maps to the state of the chart state revision. When specified, the backend will reload the chart with the sql and visual spec from that revision."
        },
        "comparisonFilter": {
          "type": "string",
          "description": "Optional. Filter for the data that can be specified in addition to the natural language query. This `filter` is specifically used for charts where comparisons are possible. For example, \"compare to last month\" or \"compare to previous quarter\"."
        },
        "naturalLanguageQuery": {
          "type": "string",
          "description": "The natural language query specified by the user. If this field is specified, `sql_query` will be ignored."
        },
        "filter": {
          "description": "Filter for the data that can be specified in addition to the natural language query. Users are encouraged to use this field to populate time-windows.",
          "type": "string"
        },
        "sessionId": {
          "description": "Optional. The session id of the conversation. If the session id is not specified, backend will generate a random session id. If the session id is specified, will associate user-provided user_query with the provided session id.",
          "type": "string"
        },
        "sqlComparisonKey": {
          "description": "Optional. For charts with comparison, this key will determine the metric that will be compared between the current and another dataset.",
          "type": "string"
        },
        "userProvidedChartSpec": {
          "type": "object",
          "description": "Optional. The user provided chart spec for the chart. This will be used to override the visual spec generated by the LLM.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sqlQuery": {
          "type": "string",
          "description": "Optional. The SQL query specified by the user. This query must be in BigQuery SQL dialect. The `filter` field will also be ignored, as it is assumed that any filtering is already included in the SQL query."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse",
      "type": "object",
      "properties": {
        "autoLabelingRules": {
          "description": "The auto labeling rules.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response message for listing auto labeling rules."
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "properties": {
        "intentUniqueId": {
          "type": "string",
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip": {
      "properties": {
        "actionUri": {
          "type": "string",
          "description": "Optional. Optional action or destination URI triggered by the chip."
        },
        "text": {
          "description": "Optional. The chip label or text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A suggestion chip.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip"
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse",
      "description": "The response to undeploy an issue model.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelResponse": {
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueModel",
          "description": "The issue model that was imported."
        }
      },
      "description": "Response from import issue model",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata": {
      "properties": {
        "dataset": {
          "type": "string",
          "description": "The dataset used for sampling conversations."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "stats": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStats",
          "description": "The statistics for the operation."
        }
      },
      "description": "Metadata for testing correlation config.",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsRequest": {
      "description": "The request for calculating conversation statistics.",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsRequest",
      "properties": {
        "filter": {
          "description": "A filter to reduce results to a specific subset. This field is useful for getting statistics about conversations with specific properties.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainRedactionConfig": {
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist.",
      "id": "GoogleCloudContactcenterinsightsV1mainRedactionConfig",
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest",
      "type": "object",
      "description": "The request to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1ListDatasetsResponse": {
      "properties": {
        "datasets": {
          "description": "The datasets that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse",
      "description": "The response to list datasets."
    },
    "GoogleCloudContactcenterinsightsV1ConversationQualityMetadata": {
      "properties": {
        "menuPath": {
          "description": "An arbitrary string value specifying the menu path the customer took.",
          "type": "string"
        },
        "waitDuration": {
          "format": "google-duration",
          "description": "The amount of time the customer waited to connect with an agent.",
          "type": "string"
        },
        "feedbackLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
          },
          "description": "Input only. The feedback labels associated with the conversation."
        },
        "customerSatisfactionRating": {
          "type": "integer",
          "description": "An arbitrary integer value indicating the customer's satisfaction rating.",
          "format": "int32"
        },
        "agentInfo": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadataAgentInfo"
          },
          "description": "Information about agents involved in the call.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadata",
      "type": "object",
      "description": "Conversation metadata related to quality management."
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadata",
      "type": "object",
      "description": "The metadata for an IngestConversations operation.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequest",
          "description": "Output only. The original request for ingest.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "sampledConversations": {
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "partialErrors": {
          "type": "array",
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "ingestConversationsStats": {
          "readOnly": true,
          "description": "Output only. Statistics for IngestConversations operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "type": "object",
      "properties": {
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        },
        "percentileLlmCallLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level."
        },
        "percentileEndToEndLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level."
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        }
      },
      "description": "The measure related to dialogflow interactions."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource": {
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource",
      "properties": {
        "potentialScore": {
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "format": "double",
          "type": "number"
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "The overall numerical score of the result."
        },
        "qaTagResults": {
          "type": "array",
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult"
          }
        },
        "normalizedScore": {
          "description": "The normalized score, which is the score divided by the potential score.",
          "format": "double",
          "type": "number"
        },
        "sourceType": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ],
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ],
          "description": "What created the score.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsMetadata": {
[...]
