{
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "containeranalysis",
  "id": "containeranalysis:v1alpha1",
  "resources": {
    "providers": {
      "resources": {
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "path": "v1alpha1/{+name}/occurrences",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "id": "containeranalysis.providers.notes.occurrences.list",
                  "parameters": {
                    "name": {
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "location": "path",
                      "pattern": "^providers/[^/]+/notes/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Number of notes to return in the list.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression."
                    }
                  },
                  "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences"
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "containeranalysis.providers.notes.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Returns the requested `Note`.",
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}"
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "id": "containeranalysis.providers.notes.setIamPolicy",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists all `Notes` for a given project.",
              "id": "containeranalysis.providers.notes.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "parent": {
                  "location": "query",
                  "type": "string",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\"."
                },
                "name": {
                  "pattern": "^providers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Number of notes to return in the list.",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}/notes",
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              }
            },
            "getIamPolicy": {
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "id": "containeranalysis.providers.notes.getIamPolicy",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "create": {
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "path": "v1alpha1/{+name}/notes",
              "description": "Creates a new `Note`.",
              "parameters": {
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^providers/[^/]+$",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "location": "path"
                },
                "noteId": {
                  "description": "The ID to use for this note.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Note"
              },
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.providers.notes.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "description": "Updates an existing `Note`.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Note"
              },
              "id": "containeranalysis.providers.notes.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "The fields to update.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "testIamPermissions": {
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "httpMethod": "POST",
              "id": "containeranalysis.providers.notes.testIamPermissions",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the given `Note` from the system.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.providers.notes.delete",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "occurrences": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "path": "v1alpha1/{+parent}/occurrences",
              "description": "Lists active `Occurrences` for a given project matching the filters.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "parent": {
                  "description": "This contains the project Id for example: projects/{project_id}.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Number of occurrences to return in the list.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated"
                },
                "kind": {
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade.",
                    "This represents a compliance check that can be applied to a resource.",
                    "This represents a software bill of materials.",
                    "This represents an SPDX Package.",
                    "This represents an SPDX File.",
                    "This represents an SPDX Relationship.",
                    "This represents a DSSE attestation Note",
                    "This represents a Vulnerability Assessment.",
                    "This represents a reference to an SBOM.",
                    "This represents a secret.",
                    "This represents an AI skill analysis."
                  ],
                  "type": "string",
                  "description": "The kind of occurrences to filter on.",
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE",
                    "COMPLIANCE",
                    "SBOM",
                    "SPDX_PACKAGE",
                    "SPDX_FILE",
                    "SPDX_RELATIONSHIP",
                    "DSSE_ATTESTATION",
                    "VULNERABILITY_ASSESSMENT",
                    "SBOM_REFERENCE",
                    "SECRET",
                    "AI_SKILL_ANALYSIS"
                  ],
                  "location": "query"
                }
              },
              "id": "containeranalysis.projects.occurrences.list"
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "httpMethod": "POST",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy"
            },
            "getNotes": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}/notes",
              "id": "containeranalysis.projects.occurrences.getNotes",
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes"
            },
            "getIamPolicy": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes"
            },
            "create": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+parent}/occurrences",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "This field contains the project Id for example: \"projects/{project_id}\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "name": {
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated",
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.occurrences.create",
              "request": {
                "$ref": "Occurrence"
              }
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "httpMethod": "POST",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "parameterOrder": [
                "resource"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.patch",
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "Occurrence"
              },
              "response": {
                "$ref": "Occurrence"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing occurrence.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}"
            },
            "getVulnerabilitySummary": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "This contains the project Id for example: projects/{project_id}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression.",
                  "location": "query"
                }
              },
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              },
              "description": "Gets a summary of the number and severity of occurrences.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the requested `Occurrence`.",
              "response": {
                "$ref": "Occurrence"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.get"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.delete",
              "httpMethod": "DELETE",
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource."
            }
          }
        },
        "scanConfigs": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "id": "containeranalysis.projects.scanConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of items to return.",
                  "location": "query"
                },
                "parent": {
                  "description": "This containers the project Id i.e.: projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The page token to use for the next request.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs",
              "description": "Lists scan configurations for a project.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/scanConfigs"
            },
            "patch": {
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "id": "containeranalysis.projects.scanConfigs.patch",
              "response": {
                "$ref": "ScanConfig"
              },
              "httpMethod": "PATCH",
              "description": "Updates the scan configuration to a new value.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The scan config to update of the form projects/{project_id}/scanConfigs/{scan_config_id}.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ScanConfig"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "The name of the ScanConfig in the form projects/{project_id}/scanConfigs/{scan_config_id}"
                }
              },
              "description": "Gets a specific scan configuration for a project.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "ScanConfig"
              },
              "id": "containeranalysis.projects.scanConfigs.get",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\""
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Number of notes to return in the list."
                    },
                    "filter": {
                      "description": "The filter expression.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+name}/occurrences",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "id": "containeranalysis.projects.notes.occurrences.list"
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists all `Notes` for a given project.",
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.notes.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of notes to return in the list.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "path": "v1alpha1/{+parent}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
                }
              },
              "description": "Deletes the given `Note` from the system.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.notes.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "description": "Returns the requested `Note`.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Note"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "type": "string"
                }
              }
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "httpMethod": "POST",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.notes.testIamPermissions"
            },
            "create": {
              "id": "containeranalysis.projects.notes.create",
              "parameters": {
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "name": {
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "location": "query",
                  "type": "string"
                },
                "noteId": {
                  "location": "query",
                  "description": "The ID to use for this note.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Note"
              },
              "response": {
                "$ref": "Note"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/notes",
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "description": "Creates a new `Note`.",
              "parameterOrder": [
                "parent"
              ]
            },
            "setIamPolicy": {
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes"
            },
            "patch": {
              "description": "Updates an existing `Note`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "containeranalysis.projects.notes.patch",
              "request": {
                "$ref": "Note"
              }
            },
            "getIamPolicy": {
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy"
            }
          }
        },
        "operations": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The project Id that this operation should be created under.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.operations.create",
              "flatPath": "v1alpha1/projects/{projectsId}/operations",
              "path": "v1alpha1/{+parent}/operations",
              "httpMethod": "POST",
              "description": "Creates a new `Operation`.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateOperationRequest"
              }
            },
            "patch": {
              "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.projects.operations.patch",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the Operation. Should be of the form \"projects/{provider_id}/operations/{operation_id}\".",
                  "location": "path"
                }
              },
              "description": "Updates an existing operation returns an error if operation does not exist. The only valid operations are to update mark the done bit change the result.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UpdateOperationRequest"
              }
            }
          }
        }
      }
    }
  },
  "title": "Container Analysis API",
  "version_module": true,
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "endpoints": [
    {
      "location": "asia-east1",
      "endpointUrl": "https://containeranalysis.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://containeranalysis.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://containeranalysis.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://containeranalysis.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://containeranalysis.europe-southwest1.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://containeranalysis.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://containeranalysis.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://containeranalysis.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://containeranalysis.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://containeranalysis.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://containeranalysis.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://containeranalysis.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-west4.rep.googleapis.com/"
    },
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://containeranalysis.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://containeranalysis.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "revision": "20260929",
  "canonicalName": "Container Analysis",
  "version": "v1alpha1",
  "batchPath": "batch",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "schemas": {
    "MalwareScanResult": {
      "description": "Result of Malware scan.",
      "type": "object",
      "properties": {
        "verdict": {
          "description": "Optional. Verdict of the scan.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ]
        },
        "scanState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified scan state.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Output only. State of the scan.",
          "type": "string",
          "enum": [
            "SCAN_STATE_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        }
      },
      "id": "MalwareScanResult"
    },
    "Discovered": {
      "description": "Provides information about the scan status of a discovered resource.",
      "properties": {
        "analysisCompleted": {
          "description": "The list of analysis that were completed for a resource.",
          "$ref": "AnalysisCompleted"
        },
        "lastVulnerabilityUpdateTime": {
          "format": "google-datetime",
          "description": "Optional. The last time vulnerability scan results changed.",
          "type": "string"
        },
        "sbomStatus": {
          "description": "Output only. The status of an SBOM generation.",
          "readOnly": true,
          "$ref": "SBOMStatus"
        },
        "analysisError": {
          "type": "array",
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "items": {
            "$ref": "Status"
          }
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage output only and populated by the API."
        },
        "continuousAnalysis": {
          "type": "string",
          "description": "Whether the resource is continuously analyzed.",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unknown",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ]
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "archiveTime": {
          "format": "google-datetime",
          "description": "The time occurrences related to this discovery occurrence were archived.",
          "type": "string"
        },
        "vulnerabilityAttestation": {
          "readOnly": true,
          "description": "Output only. The status of a vulnerability attestation generation.",
          "$ref": "VulnerabilityAttestation"
        },
        "analysisStatus": {
          "enumDescriptions": [
            "Unknown",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has completed",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "type": "string",
          "description": "The status of discovery for the resource.",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "COMPLETE",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ]
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. An operation that indicates the status of the current scan. This field is deprecated, do not use."
        },
        "files": {
          "type": "array",
          "description": "Optional. Files that make up the resource described by the occurrence.",
          "items": {
            "$ref": "File"
          }
        }
      },
      "type": "object",
      "id": "Discovered"
    },
    "VulnerabilityDetails": {
      "description": "Used by Occurrence to point to where the vulnerability exists and how to fix it.",
      "id": "VulnerabilityDetails",
      "type": "object",
      "properties": {
        "effectiveSeverity": {
          "type": "string",
          "description": "The distro assigned severity for this vulnerability when that is available and note provider assigned severity when distro has not yet assigned a severity for this vulnerability. When there are multiple package issues for this vulnerability, they can have different effective severities because some might come from the distro and some might come from installed language packs (e.g. Maven JARs or Go binaries). For this reason, it is advised to use the effective severity on the PackageIssue level, as this field may eventually be deprecated. In the case where multiple PackageIssues have different effective severities, the one set here will be the highest severity of any of the PackageIssues.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ]
        },
        "type": {
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc). This may be deprecated in the future because we can have multiple PackageIssues with different package types.",
          "type": "string"
        },
        "cvssV4": {
          "description": "Optional. The CVSS v4 score of this vulnerability.",
          "$ref": "CVSS"
        },
        "risk": {
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc.",
          "$ref": "Risk"
        },
        "extraDetails": {
          "type": "string",
          "description": "Occurrence-specific extra details about the vulnerability."
        },
        "vexAssessment": {
          "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability for this resource.",
          "$ref": "VexAssessment"
        },
        "cvssVersion": {
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "enumDescriptions": [
            "CVSS Version unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ]
        },
        "packageIssue": {
          "items": {
            "$ref": "PackageIssue"
          },
          "description": "The set of affected locations and their fixes (if available) within the associated resource.",
          "type": "array"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "Output only. The note provider assigned Severity of the vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cvssV2": {
          "description": "The CVSS v2 score of this vulnerability.",
          "$ref": "CVSS"
        },
        "cvssV3": {
          "description": "The CVSS v3 score of this vulnerability.",
          "$ref": "CVSS"
        },
        "cvssScore": {
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0-10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "parameters": {
          "description": "If true, the builder claims that invocation.parameters is complete.",
          "type": "boolean"
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that invocation.environment is complete."
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials is complete."
        }
      },
      "type": "object"
    },
    "SeverityCount": {
      "id": "SeverityCount",
      "type": "object",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "The severity of the occurrences.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences with the severity.",
          "format": "int64"
        }
      },
      "description": "The number of occurrences created for a specific severity."
    },
    "SecretOccurrence": {
      "description": "The occurrence provides details of a secret.",
      "id": "SecretOccurrence",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Required. Type of secret.",
          "enum": [
            "SECRET_KIND_UNSPECIFIED",
            "SECRET_KIND_UNKNOWN",
            "SECRET_KIND_GCP_SERVICE_ACCOUNT_KEY",
            "SECRET_KIND_GCP_API_KEY",
            "SECRET_KIND_GCP_OAUTH2_CLIENT_CREDENTIALS",
            "SECRET_KIND_GCP_OAUTH2_ACCESS_TOKEN",
            "SECRET_KIND_ANTHROPIC_ADMIN_API_KEY",
            "SECRET_KIND_ANTHROPIC_API_KEY",
            "SECRET_KIND_AZURE_ACCESS_TOKEN",
            "SECRET_KIND_AZURE_IDENTITY_TOKEN",
            "SECRET_KIND_DOCKER_HUB_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_APP_REFRESH_TOKEN",
            "SECRET_KIND_GITHUB_APP_SERVER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_APP_USER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_CLASSIC_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_FINE_GRAINED_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_OAUTH_TOKEN",
            "SECRET_KIND_HUGGINGFACE_API_KEY",
            "SECRET_KIND_OPENAI_API_KEY",
            "SECRET_KIND_PERPLEXITY_API_KEY",
            "SECRET_KIND_STRIPE_SECRET_KEY",
            "SECRET_KIND_STRIPE_RESTRICTED_KEY",
            "SECRET_KIND_STRIPE_WEBHOOK_SECRET"
          ],
          "enumDescriptions": [
            "Unspecified",
            "The secret kind is unknown.",
            "A Google Cloud service account key per: https://cloud.google.com/iam/docs/creating-managing-service-account-keys",
            "A Google Cloud API key per: https://cloud.google.com/docs/authentication/api-keys",
            "A Google Cloud OAuth2 client credentials per: https://developers.google.com/identity/protocols/oauth2",
            "A Google Cloud OAuth2 access token per: https://cloud.google.com/docs/authentication/token-types#access",
            "An Anthropic Admin API key. This is called Workspace API key in Scalibr.",
            "An Anthropic API key. This is called Model key in Scalibr.",
            "An Azure access token.",
            "An Azure Identity Platform ID token.",
            "A Docker Hub personal access token.",
            "A GitHub App refresh token.",
            "A GitHub App server-to-server token.",
            "A GitHub App user-to-server token.",
            "A GitHub personal access token (classic).",
            "A GitHub fine-grained personal access token.",
            "A GitHub OAuth token.",
            "A Hugging Face API key.",
            "An OpenAI API key.",
            "A Perplexity API key.",
            "A Stripe secret key.",
            "A Stripe restricted key.",
            "A Stripe webhook secret."
          ],
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "SecretLocation"
          },
          "description": "Optional. Locations where the secret is detected."
        },
        "statuses": {
          "description": "Optional. Status of the secret.",
          "type": "array",
          "items": {
            "$ref": "SecretStatus"
          }
        }
      }
    },
    "IdentifierHelper": {
      "id": "IdentifierHelper",
      "type": "object",
      "description": "Helps in identifying the underlying product. This should be treated like a one-of field. Only one field should be set in this proto. This is a workaround because spanner indexes on one-of fields restrict addition and deletion of fields.",
      "properties": {
        "genericUri": {
          "type": "string",
          "description": "Contains a URI which is vendor-specific. Example: The artifact repository URL of an image."
        },
        "field": {
          "enum": [
            "IDENTIFIER_HELPER_FIELD_UNSPECIFIED",
            "GENERIC_URI"
          ],
          "enumDescriptions": [
            "The helper isn't set.",
            "The generic_uri one-of field is set."
          ],
          "type": "string",
          "description": "The field that is set in the API proto."
        }
      }
    },
    "CVSS": {
      "type": "object",
      "id": "CVSS",
      "properties": {
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "description": "Optional. Attack Vector (AV). Defined in CVSS v2, v3, v4."
        },
        "privilegesRequired": {
          "description": "Optional. Privileges Required (PR). Defined in CVSS v3, v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "subsequentSystemAvailabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Optional. Subsequent System Availability Impact (SA). Defined in CVSS v4."
        },
        "vulnerableSystemAvailabilityImpact": {
          "description": "Optional. Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "attackRequirements": {
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ],
          "description": "Optional. Attack Requirements (AT). Defined in CVSS v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ]
        },
        "vulnerableSystemIntegrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Optional. Vulnerable System Integrity Impact (VI). Defined in CVSS v4.",
          "type": "string"
        },
        "scope": {
          "description": "Optional. Scope (S). Defined in CVSS v3.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "subsequentSystemIntegrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Optional. Subsequent System Integrity Impact (SI). Defined in CVSS v4."
        },
        "baseScore": {
          "format": "float",
          "type": "number",
          "description": "Optional. The base score is a function of the base metric scores."
        },
        "exploitabilityScore": {
          "format": "float",
          "type": "number"
        },
        "exploitMaturity": {
          "enum": [
            "EXPLOIT_MATURITY_UNSPECIFIED",
            "EXPLOIT_MATURITY_NOT_DEFINED",
            "EXPLOIT_MATURITY_ATTACKED",
            "EXPLOIT_MATURITY_POC",
            "EXPLOIT_MATURITY_UNREPORTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Exploit maturity: Not defined (E:X). Defined in CVSS v4.",
            "Exploit maturity: Attacked (E:A). Defined in CVSS v4.",
            "Exploit maturity: Proof-of-concept (E:P). Defined in CVSS v4.",
            "Exploit maturity: Unreported (E:U). Defined in CVSS v4."
          ],
          "type": "string",
          "description": "Optional. Exploit Maturity (E). Defined in CVSS v4."
        },
        "subsequentSystemConfidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "description": "Optional. Subsequent System Confidentiality Impact (SC). Defined in CVSS v4.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "description": "Optional. Availability Impact (A). Defined in CVSS v2, v3.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Optional. Confidentiality Impact (C). Defined in CVSS v2, v3.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "attackComplexity": {
          "description": "Optional. Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ],
          "type": "string"
        },
        "integrityImpact": {
          "description": "Optional. Integrity Impact (I). Defined in CVSS v2, v3.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "authentication": {
          "description": "Optional. Authentication (Au). Defined in CVSS v2.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ]
        },
        "userInteraction": {
          "description": "Optional. User Interaction (UI). Defined in CVSS v3, v4.",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction (UI:P). Defined in CVSS v4.",
            "Active user interaction (UI:A). Defined in CVSS v4."
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "vulnerableSystemConfidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "description": "Optional. Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        }
      },
      "description": "Common Vulnerability Scoring System. This message is compatible with CVSS v2 and v3. For CVSS v2 details, see https://www.first.org/cvss/v2/guide CVSS v2 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v2-calculator For CVSS v3 details, see https://www.first.org/cvss/specification-document CVSS v3 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator For CVSS v4 details, see https://www.first.org/cvss/v4.0/user-guide CVSS v4 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v4-calculator"
    },
    "ResourceDescriptor": {
      "type": "object",
      "id": "ResourceDescriptor",
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "downloadLocation": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "properties": {
        "repoName": {
          "description": "The name of the repo. Leave empty for the default repo.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId",
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "properties": {
        "volumes": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "enableStructuredLogging": {
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs.",
          "type": "boolean"
        },
        "workerRelease": {
          "type": "string",
          "description": "Optional. Option to specify which release or release channel (rapid|regular|stable) to use to run this build."
        },
        "diskSizeGb": {
          "format": "int64",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error.",
          "type": "string"
        },
        "workerPool": {
          "description": "This field deprecated; please use `pool.name` instead.",
          "deprecated": true,
          "type": "string"
        },
        "requestedVerifyOption": {
          "description": "Requested verifiability options.",
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ],
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "type": "string"
        },
        "logging": {
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "type": "string",
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ]
        },
        "sourceProvenanceHash": {
          "type": "array",
          "description": "Requested hash for SourceProvenance.",
          "items": {
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ],
            "type": "string",
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ]
          }
        },
        "defaultLogsBucketBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "description": "Optional. Option to specify how default logs buckets are setup.",
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ]
        },
        "env": {
          "type": "array",
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          }
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "resolvedWorkerRelease": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Worker release resolved from the release channel."
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates."
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption"
        },
        "secretEnv": {
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "substitutionOption": {
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ],
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file."
        },
        "machineType": {
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU.",
            "E2 machine with 2 CPUs."
          ],
          "description": "Compute Engine machine type on which to run the build.",
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM",
            "E2_STANDARD_2"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "logStreamingOption": {
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "enumDescriptions": [
[...]
