{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://contentwarehouse.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/document-warehouse",
  "id": "contentwarehouse:v1",
  "rootUrl": "https://contentwarehouse.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "documents": {
              "resources": {
                "documentLinks": {
                  "methods": {
                    "delete": {
                      "path": "v1/{+name}:delete",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentLinkRequest"
                      },
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks/{documentLinksId}:delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Remove the link between the source and target documents.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+/documentLinks/[^/]+$",
                          "description": "Required. The name of the document-link to be deleted. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}/documentLinks/{document_link_id}."
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/documentLinks",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest"
                      },
                      "id": "contentwarehouse.projects.locations.documents.documentLinks.create",
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/documentLinks",
                      "description": "Create a link between a source document and a target document.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent of the document-link to be created. parent of document-link should be a document. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "referenceId": {
                  "methods": {
                    "delete": {
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                      },
                      "id": "contentwarehouse.projects.locations.documents.referenceId.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:delete",
                      "httpMethod": "POST",
                      "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}:delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                      },
                      "id": "contentwarehouse.projects.locations.documents.referenceId.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}:get",
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1Document"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                      "path": "v1/{+name}:get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/documents/referenceId/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/referenceId/{referenceIdId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contentwarehouse.projects.locations.documents.referenceId.patch",
                      "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name."
                    }
                  }
                }
              },
              "methods": {
                "fetchAcl": {
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
                      "type": "string"
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.fetchAcl",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:fetchAcl",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:fetchAcl"
                },
                "delete": {
                  "path": "v1/{+name}:delete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the document to delete. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "required": true
                    }
                  },
                  "id": "contentwarehouse.projects.locations.documents.delete",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a document. Returns NOT_FOUND if the document does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:delete"
                },
                "setAcl": {
                  "path": "v1/{+resource}:setAcl",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy for a resource. Replaces any existing policy.",
                  "id": "contentwarehouse.projects.locations.documents.setAcl",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:setAcl",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
                    }
                  }
                },
                "lock": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to lock. Format: projects/{project_number}/locations/{location}/documents/{document}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Lock the document so the document cannot be updated by other users.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:lock",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:lock",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.lock",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1LockDocumentRequest"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}:get",
                  "description": "Gets a document. Returns NOT_FOUND if the document does not exist.",
                  "path": "v1/{+name}:get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document to retrieve. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1GetDocumentRequest"
                  },
                  "httpMethod": "POST",
                  "id": "contentwarehouse.projects.locations.documents.get",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1Document"
                  }
                },
                "search": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents:search",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of documents. Format: projects/{project_number}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.search",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsResponse"
                  },
                  "path": "v1/{+parent}/documents:search",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsRequest"
                  },
                  "description": "Searches for documents using provided SearchDocumentsRequest. This call only returns documents that the caller has permission to search against."
                },
                "linkedSources": {
                  "path": "v1/{+parent}/linkedSources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.documents.linkedSources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse"
                  },
                  "description": "Return all source document-links from the document.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedSources",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the document, for which all source links are returned. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}."
                    }
                  }
                },
                "linkedTargets": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/linkedTargets",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListLinkedTargetsResponse"
                  },
                  "id": "contentwarehouse.projects.locations.documents.linkedTargets",
                  "description": "Return all target document-links from the document.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}/linkedTargets",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the document, for which all target links are returned. Format: projects/{project_number}/locations/{location}/documents/{target_document_id}."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/documents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents",
                  "id": "contentwarehouse.projects.locations.documents.create",
                  "description": "Creates a document.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1CreateDocumentResponse"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.documents.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documents/{documentsId}",
                  "description": "Updates a document. Returns INVALID_ARGUMENT if the name of the document is non-empty and does not equal the existing name.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the document to update. Format: projects/{project_number}/locations/{location}/documents/{document_id} or projects/{project_number}/locations/{location}/documents/referenceId/{reference_id}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentResponse"
                  }
                }
              }
            },
            "documentSchemas": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "httpMethod": "DELETE",
                  "id": "contentwarehouse.projects.locations.documentSchemas.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document schema to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a document schema. Returns NOT_FOUND if the document schema does not exist. Returns BAD_REQUEST if the document schema has documents depending on it.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of document schemas. Format: projects/{project_number}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of document schemas to return. The service may return fewer than this value. If unspecified, at most 50 document schemas will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListDocumentSchemas` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDocumentSchemas` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists document schemas.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListDocumentSchemasResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "path": "v1/{+parent}/documentSchemas",
                  "id": "contentwarehouse.projects.locations.documentSchemas.list"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "id": "contentwarehouse.projects.locations.documentSchemas.create",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent name.",
                      "type": "string"
                    }
                  },
                  "description": "Creates a document schema.",
                  "path": "v1/{+parent}/documentSchemas"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "description": "Gets a document schema. Returns NOT_FOUND if the document schema does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contentwarehouse.projects.locations.documentSchemas.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the document schema to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$"
                    }
                  },
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/documentSchemas/{documentSchemasId}",
                  "description": "Updates a Document Schema. Returns INVALID_ARGUMENT if the name of the Document Schema is non-empty and does not equal the existing name. Supports only appending new properties, adding new ENUM possible values, and updating the EnumTypeOptions.validation_check_disabled flag for ENUM possible values. Updating existing properties will result into INVALID_ARGUMENT.",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
                  },
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.documentSchemas.patch",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document schema to update. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/documentSchemas/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "id": "contentwarehouse.projects.locations.operations.get"
                }
              }
            },
            "synonymSets": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes a SynonymSet for a given context. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the synonymSet to delete Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.synonymSets.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListSynonymSetsResponse"
                  },
                  "description": "Returns all SynonymSets (for all contexts) for the specified location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.synonymSets.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of synonymSets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListSynonymSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSynonymSets` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/synonymSets"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.synonymSets.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the synonymSet to update Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Remove the existing SynonymSet for the context and replaces it with a new one. Throws a NOT_FOUND exception if the SynonymSet is not found.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/synonymSets",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "contentwarehouse.projects.locations.synonymSets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a SynonymSet for a single context. Throws an ALREADY_EXISTS exception if a synonymset already exists for the context."
                },
                "get": {
                  "id": "contentwarehouse.projects.locations.synonymSets.get",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a SynonymSet for a particular context. Throws a NOT_FOUND exception if the Synonymset does not exist",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/synonymSets/{synonymSetsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the synonymSet to retrieve Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/synonymSets/[^/]+$"
                    }
                  }
                }
              }
            },
            "ruleSets": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a ruleset. Returns NOT_FOUND if the document does not exist.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the rule set to delete. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "id": "contentwarehouse.projects.locations.ruleSets.delete"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/ruleSets",
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "id": "contentwarehouse.projects.locations.ruleSets.create",
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent name. Format: projects/{project_number}/locations/{location}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a ruleset.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists rulesets.",
                  "path": "v1/{+parent}/ruleSets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets",
                  "id": "contentwarehouse.projects.locations.ruleSets.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of rule sets to return. The service may return fewer than this value. If unspecified, at most 50 rule sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of document. Format: projects/{project_number}/locations/{location}.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListRuleSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRuleSets` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1ListRuleSetsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "description": "Gets a ruleset. Returns NOT_FOUND if the ruleset does not exist.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the rule set to retrieve. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contentwarehouse.projects.locations.ruleSets.get",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContentwarehouseV1UpdateRuleSetRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudContentwarehouseV1RuleSet"
                  },
                  "id": "contentwarehouse.projects.locations.ruleSets.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ruleSets/{ruleSetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ruleSets/[^/]+$",
                      "description": "Required. The name of the rule set to update. Format: projects/{project_number}/locations/{location}/ruleSets/{rule_set_id}.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Updates a ruleset. Returns INVALID_ARGUMENT if the name of the ruleset is non-empty and does not equal the existing name."
                }
              }
            }
          },
          "methods": {
            "getStatus": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:getStatus",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get the project status.",
              "response": {
                "$ref": "GoogleCloudContentwarehouseV1ProjectStatus"
              },
              "id": "contentwarehouse.projects.locations.getStatus",
              "parameters": {
                "location": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The location to be queried Format: projects/{project_number}/locations/{location}.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+location}:getStatus",
              "parameterOrder": [
                "location"
              ]
            },
            "runPipeline": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name which owns the resources of the pipeline. Format: projects/{project_number}/locations/{location}.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Run a predefined pipeline.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1RunPipelineRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:runPipeline",
              "parameterOrder": [
                "name"
              ],
              "id": "contentwarehouse.projects.locations.runPipeline",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:runPipeline",
              "httpMethod": "POST"
            },
            "initialize": {
              "path": "v1/{+location}:initialize",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:initialize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContentwarehouseV1InitializeProjectRequest"
              },
              "id": "contentwarehouse.projects.locations.initialize",
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The location to be initialized Format: projects/{project_number}/locations/{location}.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Provisions resources for given tenant project. Returns a long running operation.",
              "parameterOrder": [
                "location"
              ]
            }
          }
        }
      },
      "methods": {
        "setAcl": {
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclResponse"
          },
          "description": "Sets the access control policy for a resource. Replaces any existing policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}."
            }
          },
          "id": "contentwarehouse.projects.setAcl",
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1SetAclRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+resource}:setAcl",
          "flatPath": "v1/projects/{projectsId}:setAcl"
        },
        "fetchAcl": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectsId}:fetchAcl",
          "request": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclRequest"
          },
          "response": {
            "$ref": "GoogleCloudContentwarehouseV1FetchAclResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:fetchAcl",
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "description": "Required. REQUIRED: The resource for which the policy is being requested. Format for document: projects/{project_number}/locations/{location}/documents/{document_id}. Format for collection: projects/{project_number}/locations/{location}/collections/{collection_id}. Format for project: projects/{project_number}.",
              "required": true,
              "type": "string"
            }
          },
          "id": "contentwarehouse.projects.fetchAcl",
          "description": "Gets the access control policy for a resource. Returns NOT_FOUND error if the resource does not exist. Returns an empty policy if the resource exists but does not have a policy set."
        }
      }
    }
  },
  "title": "Document AI Warehouse API",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "name": "contentwarehouse",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version_module": true,
  "baseUrl": "https://contentwarehouse.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "batchPath": "batch",
  "revision": "20250206",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDocumentaiV1DocumentChunkedDocument": {
      "description": "Represents the chunks that the document is divided into.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
      "properties": {
        "chunks": {
          "type": "array",
          "description": "List of chunks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1InitializeProjectRequest": {
      "type": "object",
      "description": "Request message for projectService.InitializeProject",
      "id": "GoogleCloudContentwarehouseV1InitializeProjectRequest",
      "properties": {
        "databaseType": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "DB_UNKNOWN",
            "DB_INFRA_SPANNER",
            "DB_CLOUD_SQL_POSTGRES"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Internal Spanner",
            "Cloud Sql with a Postgres Sql instance"
          ],
          "description": "Required. The type of database used to store customer data"
        },
        "documentCreatorDefaultRole": {
          "enumDescriptions": [
            "Unspecified, will be default to document admin role.",
            "Document Admin, same as contentwarehouse.googleapis.com/documentAdmin.",
            "Document Editor, same as contentwarehouse.googleapis.com/documentEditor.",
            "Document Viewer, same as contentwarehouse.googleapis.com/documentViewer."
          ],
          "enum": [
            "DOCUMENT_CREATOR_DEFAULT_ROLE_UNSPECIFIED",
            "DOCUMENT_ADMIN",
            "DOCUMENT_EDITOR",
            "DOCUMENT_VIEWER"
          ],
          "type": "string",
          "description": "Optional. The default role for the person who create a document."
        },
        "enableCalUserEmailLogging": {
          "description": "Optional. Whether to enable CAL user email logging.",
          "type": "boolean"
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. The KMS key used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the kms_key is left empty, no encryption will be enforced."
        },
        "accessControlMode": {
          "description": "Required. The access control mode for accessing the customer data",
          "enum": [
            "ACL_MODE_UNKNOWN",
            "ACL_MODE_UNIVERSAL_ACCESS",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_BYOID",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_GCI"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Universal Access: No document level access control.",
            "Document level access control with customer own Identity Service.",
            "Document level access control using Google Cloud Identity."
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageTableTableCell": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTableTableCell",
      "description": "A cell representation inside the table.",
      "properties": {
        "colSpan": {
          "format": "int32",
          "type": "integer",
          "description": "How many columns this cell spans."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "layout": {
          "description": "Layout for TableCell.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "rowSpan": {
          "format": "int32",
          "type": "integer",
          "description": "How many rows this cell spans."
        }
      },
      "type": "object"
    },
    "CloudAiPlatformTenantresourceGcsBucketConfig": {
      "description": "The identity to configure a GCS bucket.",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Input/Output [Optional]. The name of a GCS bucket with max length of 63 chars. If not set, a random UUID will be generated as bucket name."
        },
        "viewers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Input/Output [Required]. IAM roles (viewer/admin) put on the bucket."
        },
        "kmsKeyReference": {
          "type": "string",
          "description": "Input/Output [Optional]. The KMS key name or the KMS grant name used for CMEK encryption. Only set this field when provisioning new GCS bucket. For existing GCS bucket, this field will be ignored because CMEK re-encryption is not supported."
        },
        "ttlDays": {
          "format": "int32",
          "type": "integer",
          "description": "Input/Output [Optional]. Only needed when the content in bucket need to be garbage collected within some amount of days."
        },
        "entityName": {
          "description": "Input/Output [Optional]. Only needed for per-entity tenant GCP resources. During Deprovision API, the on-demand deletion will only cover the tenant GCP resources with the specified entity name.",
          "type": "string"
        },
        "admins": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CloudAiPlatformTenantresourceGcsBucketConfig",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata": {
      "description": "The metadata message for Export-to-CDW pipeline.",
      "type": "object",
      "properties": {
        "docAiDataset": {
          "description": "The output CDW dataset resource name.",
          "type": "string"
        },
        "outputPath": {
          "description": "The output Cloud Storage folder in this pipeline.",
          "type": "string"
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input list of all the resource names of the documents to be exported."
        }
      },
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentPageVisualElement": {
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "id": "GoogleCloudDocumentaiV1DocumentPageVisualElement",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for VisualElement."
        },
        "type": {
          "description": "Type of the VisualElement.",
          "type": "string"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "description": "Detected break type."
        }
      },
      "type": "object",
      "description": "Detected break at the end of a Token."
    },
    "GoogleCloudContentwarehouseV1Value": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1Value",
      "description": "`Value` represents a dynamically typed value which can be either be a float, a integer, a string, or a datetime value. A producer of value is expected to set one of these variants. Absence of any variant indicates an error.",
      "properties": {
        "floatValue": {
          "description": "Represents a float value.",
          "format": "float",
          "type": "number"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "enumValue": {
          "description": "Represents an enum value.",
          "$ref": "GoogleCloudContentwarehouseV1EnumValue"
        },
        "intValue": {
          "type": "integer",
          "format": "int32",
          "description": "Represents a integer value."
        },
        "timestampValue": {
          "$ref": "GoogleCloudContentwarehouseV1TimestampValue",
          "description": "Represents a timestamp value."
        },
        "datetimeValue": {
          "description": "Represents a datetime value.",
          "$ref": "GoogleTypeDateTime"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1PublishAction": {
      "description": "Represents the action responsible for publishing messages to a Pub/Sub topic.",
      "id": "GoogleCloudContentwarehouseV1PublishAction",
      "type": "object",
      "properties": {
        "topicId": {
          "type": "string",
          "description": "The topic id in the Pub/Sub service for which messages will be published to."
        },
        "messages": {
          "items": {
            "type": "string"
          },
          "description": "Messages to be published.",
          "type": "array"
        }
      }
    },
    "GoogleApiServiceconsumermanagementV1BillingConfig": {
      "properties": {
        "billingAccount": {
          "description": "Name of the billing account. For example `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleApiServiceconsumermanagementV1BillingConfig",
      "description": "Describes the billing configuration for a new tenant project."
    },
    "GoogleCloudDocumentaiV1DocumentRevisionHumanReview": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview",
      "properties": {
        "state": {
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`.",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        }
      },
      "description": "Human Review information of the document."
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect",
      "description": "Image Quality Defects",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTableTableRow": {
      "properties": {
        "cells": {
          "description": "Cells that make up this row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableCell"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageTableTableRow",
      "type": "object",
      "description": "A row of table cells."
    },
    "GoogleTypeInterval": {
      "id": "GoogleTypeInterval",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "properties": {
        "endIndex": {
          "format": "int64",
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "type": "string"
        },
        "startIndex": {
          "type": "string",
          "format": "int64",
          "description": "TextSegment start UTF-8 char index in the Document.text."
        }
      }
    },
    "GoogleCloudContentwarehouseV1FileTypeFilter": {
      "type": "object",
      "description": "Filter for the specific types of documents returned.",
      "properties": {
        "fileType": {
          "enum": [
            "FILE_TYPE_UNSPECIFIED",
            "ALL",
            "FOLDER",
            "DOCUMENT",
            "ROOT_FOLDER"
          ],
          "description": "The type of files to return.",
          "enumDescriptions": [
            "Default document type. If set, disables the filter.",
            "Returns all document types, including folders.",
            "Returns only folders.",
            "Returns only non-folder documents.",
            "Returns only root folders"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudContentwarehouseV1FileTypeFilter"
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadata": {
      "properties": {
        "exportToCdwPipelineMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RunPipelineMetadataExportToCdwPipelineMetadata",
          "description": "The pipeline metadata for Export-to-CDW pipeline."
        },
        "individualDocumentStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1RunPipelineMetadataIndividualDocumentStatus"
          },
          "type": "array"
        },
        "failedFileCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of files that have failed at some point in the pipeline."
        },
        "totalFileCount": {
          "description": "Number of files that were processed by the pipeline.",
          "format": "int32",
          "type": "integer"
        },
        "userInfo": {
          "$ref": "GoogleCloudContentwarehouseV1UserInfo",
          "description": "User unique identification and groups information."
        },
        "gcsIngestPipelineMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RunPipelineMetadataGcsIngestPipelineMetadata",
          "description": "The pipeline metadata for GcsIngest pipeline."
        },
        "processWithDocAiPipelineMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata",
          "description": "The pipeline metadata for Process-with-DocAi pipeline."
        }
      },
      "description": "Metadata message of RunPipeline method.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadata"
    },
    "GoogleCloudContentwarehouseV1TextTypeOptions": {
      "description": "Configurations for a text property.",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1TextTypeOptions",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1UpdateOptions": {
      "description": "Options for Update operations.",
      "id": "GoogleCloudContentwarehouseV1UpdateOptions",
      "properties": {
        "mergeFieldsOptions": {
          "$ref": "GoogleCloudContentwarehouseV1MergeFieldsOptions",
          "description": "Options for merging."
        },
        "updateType": {
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "UPDATE_TYPE_REPLACE",
            "UPDATE_TYPE_MERGE",
            "UPDATE_TYPE_INSERT_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_REPLACE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_DELETE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_MERGE_AND_REPLACE_OR_INSERT_PROPERTIES_BY_NAMES"
          ],
          "description": "Type for update.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to full replace behavior, ie. FULL_REPLACE.",
            "Fully replace all the fields (including previously linked raw document). Any field masks will be ignored.",
            "Merge the fields into the existing entities.",
            "Inserts the properties by names.",
            "Replace the properties by names.",
            "Delete the properties by names.",
            "For each of the property, replaces the property if the it exists, otherwise inserts a new property. And for the rest of the fields, merge them based on update mask and merge fields options."
          ]
        },
        "updateMask": {
          "description": "Field mask for merging Document fields. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudAiPlatformTenantresourceCloudSqlInstanceConfig": {
      "description": "The identity to configure a CloudSQL instance provisioned via SLM Terraform.",
      "properties": {
        "mdbRolesForCorpAccess": {
          "items": {
            "type": "string"
          },
          "description": "Input [Optional]. MDB roles for corp access to CloudSQL instance.",
          "type": "array"
        },
        "cloudSqlInstanceName": {
          "description": "Input/Output [Optional]. The CloudSQL instance name within SLM instance. If not set, a random UUIC will be generated as instance name.",
          "type": "string"
        },
        "slmInstanceTemplate": {
          "description": "Input [Required]. The SLM instance template to provision CloudSQL.",
          "type": "string"
        },
        "cloudSqlInstanceConnectionName": {
          "description": "Output only. The CloudSQL instance connection name.",
          "type": "string"
        },
        "slmInstanceName": {
          "type": "string",
          "description": "Output only. The SLM instance's full resource name."
        },
        "kmsKeyReference": {
          "description": "Input [Optional]. The KMS key name or the KMS grant name used for CMEK encryption. Only set this field when provisioning new CloudSQL instances. For existing CloudSQL instances, this field will be ignored because CMEK re-encryption is not supported.",
          "type": "string"
        },
        "slmInstanceType": {
          "type": "string",
          "description": "Input [Required]. The SLM instance type to provision CloudSQL."
        }
      },
      "type": "object",
      "id": "CloudAiPlatformTenantresourceCloudSqlInstanceConfig"
    },
    "GoogleCloudContentwarehouseV1MapProperty": {
      "id": "GoogleCloudContentwarehouseV1MapProperty",
      "type": "object",
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudContentwarehouseV1Value"
          },
          "type": "object",
          "description": "Unordered map of dynamically typed values."
        }
      },
      "description": "Map property value. Represents a structured entries of key value pairs, consisting of field names which map to dynamically typed values."
    },
    "GoogleCloudContentwarehouseV1GcsIngestPipeline": {
      "description": "The configuration of the Cloud Storage Ingestion pipeline.",
      "properties": {
        "schemaName": {
          "type": "string",
          "description": "The Document Warehouse schema resource name. All documents processed by this pipeline will use this schema. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}."
        },
        "skipIngestedDocuments": {
          "description": "The flag whether to skip ingested documents. If it is set to true, documents in Cloud Storage contains key \"status\" with value \"status=ingested\" in custom metadata will be skipped to ingest.",
          "type": "boolean"
        },
        "inputPath": {
          "type": "string",
          "description": "The input Cloud Storage folder. All files under this folder will be imported to Document Warehouse. Format: `gs:///`."
        },
        "processorType": {
          "description": "The Doc AI processor type name. Only used when the format of ingested files is Doc AI Document proto format.",
          "type": "string"
        },
        "pipelineConfig": {
          "$ref": "GoogleCloudContentwarehouseV1IngestPipelineConfig",
          "description": "Optional. The config for the Cloud Storage Ingestion pipeline. It provides additional customization options to run the pipeline and can be skipped if it is not applicable."
        }
      },
      "id": "GoogleCloudContentwarehouseV1GcsIngestPipeline",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchor": {
      "description": "Text reference indexing into the Document.text.",
      "properties": {
        "content": {
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields.",
          "type": "string"
        },
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchor"
    },
    "GoogleCloudContentwarehouseV1Action": {
      "id": "GoogleCloudContentwarehouseV1Action",
      "description": "Represents the action triggered by Rule Engine when the rule is true.",
      "properties": {
        "dataValidation": {
          "$ref": "GoogleCloudContentwarehouseV1DataValidationAction",
          "description": "Action triggering data validation operations."
        },
        "accessControl": {
          "$ref": "GoogleCloudContentwarehouseV1AccessControlAction",
          "description": "Action triggering access control operations."
        },
        "addToFolder": {
          "description": "Action triggering create document link operation.",
          "$ref": "GoogleCloudContentwarehouseV1AddToFolderAction"
        },
        "actionId": {
          "description": "ID of the action. Managed internally.",
          "type": "string"
        },
        "deleteDocumentAction": {
          "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentAction",
          "description": "Action deleting the document."
        },
        "dataUpdate": {
          "description": "Action triggering data update operations.",
          "$ref": "GoogleCloudContentwarehouseV1DataUpdateAction"
        },
        "removeFromFolderAction": {
          "$ref": "GoogleCloudContentwarehouseV1RemoveFromFolderAction",
          "description": "Action removing a document from a folder."
        },
        "publishToPubSub": {
          "description": "Action publish to Pub/Sub operation.",
          "$ref": "GoogleCloudContentwarehouseV1PublishAction"
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1MergeFieldsOptions": {
      "description": "Options for merging updated fields.",
      "id": "GoogleCloudContentwarehouseV1MergeFieldsOptions",
      "type": "object",
      "properties": {
        "replaceMessageFields": {
          "description": "When merging message fields, the default behavior is to merge the content of two message fields together. If you instead want to use the field from the source message to replace the corresponding field in the destination message, set this flag to true. When this flag is set, specified submessage fields that are missing in source will be cleared in destination.",
          "type": "boolean"
        },
        "replaceRepeatedFields": {
          "description": "When merging repeated fields, the default behavior is to append entries from the source repeated field to the destination repeated field. If you instead want to keep only the entries from the source repeated field, set this flag to true. If you want to replace a repeated field within a message field on the destination message, you must set both replace_repeated_fields and replace_message_fields to true, otherwise the repeated fields will be appended.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock",
      "properties": {
        "textBlock": {
          "description": "Block consisting of text content.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
        },
        "blockId": {
          "type": "string",
          "description": "ID of the block."
        },
        "pageSpan": {
          "description": "Page span of the block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
        },
        "listBlock": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
          "description": "Block consisting of list content/structure."
        },
        "tableBlock": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
          "description": "Block consisting of table content/structure."
        }
      },
      "type": "object",
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported."
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentStyleFontSize": {
      "type": "object",
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1DocumentStyleFontSize",
      "properties": {
        "size": {
          "format": "float",
          "description": "Font size for the text.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
        }
      }
    },
    "GoogleCloudContentwarehouseV1ExportToCdwPipeline": {
      "properties": {
        "documents": {
          "description": "The list of all the resource names of the documents to be processed. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "trainingSplitRatio": {
          "format": "float",
          "type": "number",
          "description": "Ratio of training dataset split. When importing into Document AI Workbench, documents will be automatically split into training and test split category with the specified ratio. This field is required if doc_ai_dataset is set."
        },
        "docAiDataset": {
          "type": "string",
          "description": "Optional. The CDW dataset resource name. This field is optional. If not set, the documents will be exported to Cloud Storage only. Format: projects/{project}/locations/{location}/processors/{processor}/dataset"
        },
        "exportFolderPath": {
          "type": "string",
          "description": "The Cloud Storage folder path used to store the exported documents before being sent to CDW. Format: `gs:///`."
        }
      },
      "type": "object",
      "description": "The configuration of exporting documents from the Document Warehouse to CDW pipeline.",
      "id": "GoogleCloudContentwarehouseV1ExportToCdwPipeline"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "properties": {
        "caption": {
          "type": "string",
          "description": "Table caption/title."
        },
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array",
          "description": "Body rows containing main table content."
        },
        "headerRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Header rows at the top of the table."
        }
      },
      "description": "Represents a table type block."
    },
    "GoogleCloudContentwarehouseV1DataUpdateAction": {
      "properties": {
        "entries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of (K, V) -> (valid name of the field, new value of the field) E.g., (\"age\", \"60\") entry triggers update of field age with a value of 60. If the field is not present then new entry is added. During update action execution, value strings will be casted to appropriate types."
        }
      },
      "description": "Represents the action responsible for properties update operations.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1DataUpdateAction"
    },
    "GoogleCloudContentwarehouseV1ProjectStatus": {
      "description": "Status of a project, including the project state, dbType, aclMode and etc.",
      "id": "GoogleCloudContentwarehouseV1ProjectStatus",
      "properties": {
        "accessControlMode": {
          "description": "Access control mode.",
          "enum": [
            "ACL_MODE_UNKNOWN",
            "ACL_MODE_UNIVERSAL_ACCESS",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_BYOID",
            "ACL_MODE_DOCUMENT_LEVEL_ACCESS_CONTROL_GCI"
          ],
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Universal Access: No document level access control.",
            "Document level access control with customer own Identity Service.",
            "Document level access control using Google Cloud Identity."
          ],
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default status, required by protobuf best practices.",
            "The project is in the middle of a provision process.",
            "All dependencies have been provisioned.",
            "A provision process was previously initiated, but failed.",
            "The project is in the middle of a deletion process.",
            "A deleting process was initiated, but failed.",
            "The project is deleted.",
            "The project is not found."
          ],
          "type": "string",
          "enum": [
            "PROJECT_STATE_UNSPECIFIED",
            "PROJECT_STATE_PENDING",
            "PROJECT_STATE_COMPLETED",
            "PROJECT_STATE_FAILED",
            "PROJECT_STATE_DELETING",
            "PROJECT_STATE_DELETING_FAILED",
            "PROJECT_STATE_DELETED",
            "PROJECT_STATE_NOT_FOUND"
          ],
          "description": "State of the project."
        },
        "location": {
          "description": "The location of the queried project.",
          "type": "string"
        },
        "documentCreatorDefaultRole": {
          "description": "The default role for the person who create a document.",
          "type": "string"
        },
        "qaEnabled": {
          "description": "If the qa is enabled on this project.",
          "type": "boolean"
        },
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "This value is required by protobuf best practices",
            "Internal Spanner",
            "Cloud Sql with a Postgres Sql instance"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "DB_UNKNOWN",
            "DB_INFRA_SPANNER",
            "DB_CLOUD_SQL_POSTGRES"
          ],
          "description": "Database type."
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1TimestampTypeOptions": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1TimestampTypeOptions",
      "description": "Configurations for a timestamp property."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader": {
      "description": "Represents the page header associated with the chunk.",
      "type": "object",
      "properties": {
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the header."
        },
        "text": {
          "type": "string",
          "description": "Header in text format."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "description": "Represents a cell in a table row.",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks."
        },
        "rowSpan": {
          "description": "How many rows this cell spans.",
          "format": "int32",
          "type": "integer"
        },
        "colSpan": {
          "description": "How many columns this cell spans.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1DocumentLink": {
      "description": "A document-link between source and target document.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the documentLink is created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Name of this document-link. It is required that the parent derived form the name to be consistent with the source document reference. Otherwise an exception will be thrown. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}/documentLinks/{document_link_id}.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of this document-link."
        },
        "sourceDocumentReference": {
          "description": "Document references of the source document.",
          "$ref": "GoogleCloudContentwarehouseV1DocumentReference"
        },
        "targetDocumentReference": {
          "$ref": "GoogleCloudContentwarehouseV1DocumentReference",
          "description": "Document references of the target document."
        },
        "state": {
          "description": "The state of the documentlink. If target node has been deleted, the link is marked as invalid. Removing a source node will result in removal of all associated links.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SOFT_DELETED"
          ],
          "enumDescriptions": [
            "Unknown state of documentlink.",
            "The documentlink has both source and target documents detected.",
            "Target document is deleted, and mark the documentlink as soft-deleted."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the documentLink is last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContentwarehouseV1DocumentLink",
[...]
