{
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1ListNotesResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListNotesResponse",
      "description": "The response of listing notes.",
      "properties": {
        "notes": {
          "type": "array",
          "description": "The notes that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Note"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig": {
      "description": "Configuration for processing transcript objects.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig",
      "type": "object",
      "properties": {
        "medium": {
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Required. The medium transcript objects represent.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Container": {
      "properties": {
        "height": {
          "type": "integer",
          "description": "The height of the container in grid units.",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "Container description"
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the container in grid units."
        },
        "dateRangeConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig",
          "description": "Date range config applied to all charts in the container."
        },
        "containerId": {
          "type": "string",
          "description": "Output only. Unique ID for the container.",
          "readOnly": true
        },
        "filter": {
          "type": "string",
          "description": "Filter applied to all charts in the container. Should support scope later."
        },
        "widgets": {
          "type": "array",
          "description": "Widgets in the Container.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Widget"
          }
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the Container."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Container",
      "description": "Configurable dashboard's container. Container can contain multiple widgets."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata": {
      "type": "object",
      "properties": {
        "sampledConversations": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "type": "array",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
          "description": "Output only. The original request for ingest.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "partialErrors": {
          "type": "array",
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true
        },
        "ingestConversationsStats": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats",
          "description": "Output only. Statistics for IngestConversations operation."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata",
      "description": "The metadata for an IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysis": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}"
        },
        "requestTime": {
          "description": "Output only. The time at which the analysis was requested.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Whether this resource is zone isolated.",
          "type": "boolean",
          "readOnly": true
        },
        "analysisResult": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResult",
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this resource is zone separated."
        }
      },
      "type": "object",
      "description": "The analysis resource.",
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysis"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowIntent": {
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowIntent",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `qa_question_tag_name` - the name of the tag * `qa_question_ids` - the list of questions the tag applies to"
        },
        "qaQuestionTag": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQaQuestionTag",
          "description": "Required. The QaQuestionTag to update."
        }
      },
      "description": "The request for updating a QaQuestionTag.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainUpdateQaQuestionTagRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "description": "A suggestion chips part.",
      "properties": {
        "chips": {
          "description": "Optional. List of suggestion chips.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartChip"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig": {
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "agentChannel": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        },
        "customerChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        },
        "agentId": {
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Analysis": {
      "id": "GoogleCloudContactcenterinsightsV1Analysis",
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated.",
          "readOnly": true
        },
        "analysisResult": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResult",
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes."
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the analysis was requested.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Whether this resource is zone separated.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}"
        }
      },
      "description": "The analysis resource."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProduct": {
      "description": "A product in a product collection.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. Product URL or deep link."
        },
        "displayName": {
          "description": "Optional. Product display name.",
          "type": "string"
        },
        "id": {
          "description": "Optional. Product ID.",
          "type": "string"
        },
        "imageUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Product image URLs."
        },
        "price": {
          "$ref": "GoogleTypeMoney",
          "description": "Optional. Product price."
        },
        "description": {
          "description": "Optional. Product description.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartProduct"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModel": {
      "type": "object",
      "description": "The issue model resource.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of the model.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ]
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "displayName": {
          "description": "The representative name for the issue model.",
          "type": "string"
        },
        "trainingStats": {
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "issueCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of issues in this issue model."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this issue model was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the issue model was updated."
        },
        "modelType": {
          "description": "Type of the model.",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModel"
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequestGcsDestination": {
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequestGcsDestination",
      "type": "object",
      "description": "Google Cloud Storage Object URI to save the issue model to."
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsMetadata",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete."
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest",
          "description": "The original request for bulk delete."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for a bulk delete conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats": {
      "properties": {
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        },
        "labeledConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of conversations attached to the issue at this point in time."
        }
      },
      "description": "Aggregated statistics about an issue.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest": {
      "type": "object",
      "description": "Request to upload a conversation.",
      "properties": {
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Conversation"
        },
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the conversation."
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList": {
      "description": "Container for a list of scorecards.",
      "type": "object",
      "properties": {
        "qaScorecardRevisions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of QaScorecardRevisions."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata": {
      "type": "object",
      "properties": {
        "analysisOperation": {
          "readOnly": true,
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        },
        "appliedRedactionConfig": {
          "description": "Output only. The redaction config applied to the uploaded conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata",
      "description": "The metadata for an `UploadConversation` operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse",
      "properties": {},
      "description": "The response to an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsMetadata": {
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint.",
      "properties": {
        "request": {
          "description": "Output only. The original request for delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest",
          "readOnly": true
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT."
        }
      },
      "type": "object",
      "description": "Metadata about the conversation medium dimension."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData",
      "description": "Dialogflow interaction data.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "dialogflowIntentId": {
          "type": "string",
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsRequest": {
      "description": "The request for querying metrics.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. Filter to select a subset of conversations to compute the metrics. Must specify a window of the conversation create time to compute the metrics. The returned metrics will be from the range [DATE(starting create time), DATE(ending create time)). "
        },
        "timeGranularity": {
          "description": "The time granularity of each data point in the time series. Defaults to NONE if this field is unspecified.",
          "type": "string",
          "enum": [
            "TIME_GRANULARITY_UNSPECIFIED",
            "NONE",
            "DAILY",
            "HOURLY",
            "PER_MINUTE",
            "PER_5_MINUTES",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "The time granularity is unspecified and will default to NONE.",
            "No time granularity. The response won't contain a time series. This is the default value if no time granularity is specified.",
            "Data points in the time series will aggregate at a daily granularity. 1 day means [midnight to midnight).",
            "Data points in the time series will aggregate at a daily granularity. 1 HOUR means [01:00 to 02:00).",
            "Data points in the time series will aggregate at a daily granularity. PER_MINUTE means [01:00 to 01:01).",
            "Data points in the time series will aggregate at a 1 minute granularity. PER_5_MINUTES means [01:00 to 01:05).",
            "Data points in the time series will aggregate at a monthly granularity. 1 MONTH means [01st of the month to 1st of the next month)."
          ]
        },
        "measureMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Measures to return. Defaults to all measures if this field is unspecified. A valid mask should traverse from the `measure` field from the response. For example, a path from a measure mask to get the conversation count is \"conversation_measure.count\"."
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dimension"
          },
          "description": "The dimensions that determine the grouping key for the query. Defaults to no dimension if this field is unspecified. If a dimension is specified, its key must also be specified. Each dimension's key must be unique. If a time granularity is also specified, metric values in the dimension will be bucketed by this granularity. Up to one dimension is supported for now.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue.",
          "type": "string"
        },
        "issue": {
          "description": "Required. The values for the new issue.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssue"
        }
      },
      "type": "object",
      "description": "The request to create an issue.",
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest",
          "description": "Output only. The original request for initialization.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for initializing a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecMetadata"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage": {
      "description": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system.",
      "type": "object",
      "properties": {
        "userProvidedChartSpec": {
          "description": "Optional. User provided chart spec",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "chartSpec": {
          "description": "Chart spec from LLM",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "userProvidedSqlQuery": {
          "type": "string",
          "description": "Optional. User provided SQL query"
        },
        "generatedSqlQuery": {
          "type": "string",
          "description": "Raw SQL from LLM, before templatization"
        },
        "textMessage": {
          "description": "A direct natural language response to the user message.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelResponse": {
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel",
          "description": "The issue model that was imported."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelResponse",
      "description": "Response from import issue model",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SearchAuthorizedViewsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1SearchAuthorizedViewsResponse",
      "type": "object",
      "description": "The response from a ListAuthorizedViews request.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "authorizedViews": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
          },
          "description": "The AuthorizedViews under the parent.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponseTextOutput": {
      "properties": {
        "textType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "enumDescriptions": [
            "The type is unspecified.",
            "The text is part of LLM reasoning.",
            "The text is the final answer from LLM.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "description": "The type of text output."
        },
        "text": {
          "items": {
            "type": "string"
          },
          "description": "The text output from the LLM.",
          "type": "array"
        }
      },
      "description": "Wrapper for text output.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponseTextOutput"
    },
    "GoogleCloudContactcenterinsightsV1CallAnnotation": {
      "properties": {
        "intentMatchData": {
          "description": "Data specifying an intent match.",
          "$ref": "GoogleCloudContactcenterinsightsV1IntentMatchData"
        },
        "phraseMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchData",
          "description": "Data specifying a phrase match."
        },
        "holdData": {
          "$ref": "GoogleCloudContactcenterinsightsV1HoldData",
          "description": "Data specifying a hold."
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1SilenceData"
        },
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData",
          "description": "Data specifying sentiment."
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueMatchData"
        },
        "annotationStartBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "channelTag": {
          "format": "int32",
          "type": "integer",
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated."
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1InterruptionData"
        },
        "entityMentionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1EntityMentionData",
          "description": "Data specifying an entity mention."
        }
      },
      "description": "A piece of metadata that applies to a window of a call.",
      "id": "GoogleCloudContactcenterinsightsV1CallAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorSummarizationConfig",
      "properties": {
        "generator": {
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/",
          "type": "string"
        },
        "conversationProfile": {
          "type": "string",
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}"
        },
        "summarizationModel": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "description": "Default summarization model to be used."
        }
      },
      "description": "Configuration for summarization."
    },
    "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse": {
      "description": "The response from a GenerateConversationSignedAudio request.",
      "properties": {
        "signedAudioUris": {
          "description": "The signed uris for the audio.",
          "$ref": "GoogleCloudContactcenterinsightsV1SignedAudioUris"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsToolDimensionMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsToolDimensionMetadata",
      "description": "Metadata about the Conversational Agents tool dimension.",
      "properties": {
        "toolId": {
          "type": "string",
          "description": "Optional. The dialogflow tool ID."
        },
        "toolDisplayName": {
          "type": "string",
          "description": "Optional. The dialogflow tool display name."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewMetadata": {
      "properties": {},
      "type": "object",
      "description": "The metadata for querying performance overview.",
      "id": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ConversationDataOptions": {
      "type": "object",
      "properties": {
        "includeDialogflowInteractionData": {
          "type": "boolean",
          "description": "Whether to include the per turn Dialogflow interaction data in conversation transcript."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationDataOptions",
      "description": "Options for configuring what metadata is included in the conversation data used in QAI and Discovery Engine."
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
          "description": "The original import request."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        }
      },
      "description": "Metadata used for import issue model."
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "type": "object",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          }
        }
      },
      "description": "Issue Modeling result on a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult"
    },
    "GoogleCloudContactcenterinsightsV1ListDatasetsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse",
      "description": "The response to list datasets.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "datasets": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
          },
          "type": "array",
          "description": "The datasets that match the request."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest": {
      "type": "object",
      "description": "The request to undeploy a QaScorecardRevision",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats": {
      "type": "object",
      "properties": {
        "labeledConversationsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of conversations attached to the issue at this point in time."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the issue."
        },
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelLabelStatsIssueStats",
      "description": "Aggregated statistics about an issue."
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1CreateIssueRequest",
          "description": "The original request for creation."
        }
      },
      "description": "Metadata for creating an issue.",
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueRequest",
          "description": "The original request for creation."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueMetadata",
      "description": "Metadata for creating an issue."
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelResponse",
      "type": "object",
      "properties": {},
      "description": "Response from export issue model"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "description": "A custom payload part.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
      "properties": {
        "payloadType": {
          "description": "Optional. Type identifier for the payload.",
          "type": "string"
        },
        "payload": {
          "description": "Optional. Arbitrary structured payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "properties": {
        "chips": {
          "type": "array",
          "description": "Optional. List of suggestion chips.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartChip"
          }
        }
      },
      "description": "A suggestion chips part.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart"
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest",
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      },
      "description": "The request to delete an issue model."
    },
    "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo": {
      "description": "Info for correlating across conversations.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo",
      "properties": {
        "mergedFullConversationCorrelationId": {
          "description": "Output only. The full conversation correlation id this conversation is a merged conversation of.",
          "readOnly": true,
          "type": "string"
        },
        "correlationTypes": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Default value for unspecified.",
              "This conversation represents a segment of a full conversation. The lowest level of granularity.",
              "This conversation represents a partial conversation of potentially multiple segments but is not a full conversation.",
              "This conversation represents a full conversation of potentially multiple segments.",
              "This conversation represents a synthetic conversation."
            ],
            "type": "string",
            "enum": [
              "CORRELATION_TYPE_UNSPECIFIED",
              "SEGMENT",
              "PARTIAL",
              "FULL",
              "SYNTHETIC"
            ]
          },
          "description": "Output only. The correlation types of this conversation. A single conversation can have multiple correlation types. For example a conversation that only has a single segment is both a SEGMENT and a FULL_CONVERSATION.",
          "type": "array"
        },
        "fullConversationCorrelationId": {
          "type": "string",
          "description": "Output only. The full conversation correlation id this conversation is a segment of.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AssistantChunk": {
      "description": "A chunk of data in an assistant message.",
      "properties": {
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AssistantChunk"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats",
      "description": "Statistics for TestCorrelationConfig operation.",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "sampledConversationsCount": {
          "description": "The number of conversations sampled.",
          "type": "integer",
          "format": "int32"
        },
        "correlatedConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations correlated."
        },
        "conversationCorrelationErrors": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          },
          "description": "A list of errors that occurred during correlation, one for each conversation that failed.",
          "type": "array"
        },
        "failedConversationsCount": {
          "description": "The number of conversations that failed correlation.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Entity": {
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type."
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "description": "The aggregate sentiment expressed for this entity in the conversation."
        },
        "salience": {
          "type": "number",
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient."
        },
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1Entity",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart",
      "properties": {
        "sourceTitle": {
          "type": "string",
          "description": "Optional. The cited source title."
        },
        "sourceUri": {
          "description": "Optional. The cited source URI.",
          "type": "string"
        },
        "snippet": {
          "description": "Optional. Snippet of the cited text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A citation part."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListPart": {
      "properties": {
        "listType": {
          "type": "string",
          "enum": [
            "LIST_TYPE_UNSPECIFIED",
            "UNORDERED",
            "ORDERED_NUMBER",
            "ORDERED_ALPHA"
          ],
          "enumDescriptions": [
            "Unspecified list type.",
            "Unordered list.",
            "Ordered numbered list.",
            "Ordered alphabetic list."
          ],
          "description": "Optional. The type of list."
        },
        "items": {
          "type": "array",
          "description": "Optional. List items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
      "description": "A list part.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult": {
      "properties": {
        "p90": {
          "format": "double",
          "description": "The 90th percentile value.",
          "type": "number"
        },
        "p99": {
          "description": "The 99th percentile value.",
          "type": "number",
          "format": "double"
        },
        "p50": {
          "format": "double",
          "type": "number",
          "description": "The 50th percentile value."
        }
      },
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "description": "An item in a list.",
      "properties": {
        "subItems": {
          "description": "Optional. Nested sub-items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array"
        },
        "text": {
          "type": "string",
          "description": "Optional. The text of the list item."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SpeechConfig": {
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1SpeechConfig",
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "type": "string",
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`"
        },
        "disableWordTimeOffsets": {
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats": {
      "description": "Statistics for IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "failedIngestCount": {
          "format": "int32",
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "type": "integer",
          "readOnly": true
        },
        "successfulIngestCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "type": "integer"
        },
        "duplicatesSkippedCount": {
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "processedObjectCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of objects processed during the ingest operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata": {
      "properties": {
        "errorMessages": {
          "description": "The error message when the generative insights request fails.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The metadata for generative insights.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ListDashboardsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data.",
          "type": "string"
        },
        "dashboards": {
          "type": "array",
          "description": "The dashboards under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse",
      "description": "The response of listing dashboards."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteFeedbackLabelsRequest",
      "description": "Request for the BulkDeleteFeedbackLabels endpoint.",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint": {
      "type": "object",
      "properties": {
        "conversationMeasure": {
          "description": "The measure related to conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure"
        },
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint",
      "description": "A data point contains the metric values mapped to an interval."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult",
      "properties": {
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        },
        "constraintMet": {
          "type": "boolean",
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A)."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the constraint expression failed to evaluate."
        }
      },
      "description": "The result of a single constraint rule on the pair of conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig": {
      "id": "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig",
      "properties": {
        "uploadConversationAnalysisPercentage": {
          "type": "number",
          "description": "Percentage of conversations created using the UploadConversation endpoint to analyze automatically, between [0, 100].",
          "format": "double"
        },
        "runtimeIntegrationAnalysisPercentage": {
          "description": "Percentage of conversations created using Dialogflow runtime integration to analyze automatically, between [0, 100].",
          "format": "double",
          "type": "number"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        }
      },
      "type": "object",
      "description": "Default configuration when creating Analyses in Insights."
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
          "description": "The original request for deployment."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata",
      "description": "Metadata for deploying an issue model."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo": {
      "type": "object",
      "properties": {
        "word": {
          "type": "string",
          "description": "The word itself. Includes punctuation marks that surround the word."
        },
        "endOffset": {
          "type": "string",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset of the start of this word relative to the beginning of the total conversation."
        },
        "confidence": {
          "type": "number",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "format": "float"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo",
      "description": "Word-level info for words in a transcript."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetrics": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetrics",
      "description": "Request data that use the existing QueryMetrics.",
      "properties": {
        "request": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListIssuesResponse": {
      "description": "The response of listing issues.",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Issue"
          },
          "description": "The issues that match the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListIssuesResponse"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
      "description": "A product collection part.",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProduct"
          },
          "type": "array",
          "description": "Optional. List of products."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "description": "The data for a sentiment annotation.",
      "id": "GoogleCloudContactcenterinsightsV1SentimentData",
      "properties": {
        "score": {
          "format": "float",
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "failedAnalysesCount": {
          "type": "integer",
          "description": "The number of requested analyses that have failed so far.",
          "format": "int32"
        },
        "partialErrors": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "totalRequestedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest",
          "description": "The original request for bulk analyze."
        },
        "relabel": {
          "readOnly": true,
          "description": "Output only. Deprecated: Use `request.annotator_selector.run_auto_labeling_annotator` instead. If true, the labeling rules will be re-evaluated for the conversations.",
          "deprecated": true,
          "type": "boolean"
        },
        "completedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have completed successfully so far."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata": {
      "description": "Metadata used for import issue model.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
          "description": "The original import request."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SentimentData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
      "properties": {
        "score": {
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score."
        }
      },
      "description": "The data for a sentiment annotation."
    },
    "GoogleCloudContactcenterinsightsV1CesTurnAnnotation": {
      "description": "The CES diagnostic information.",
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "description": "The messages in the turn.",
          "type": "array"
        },
        "rootSpan": {
          "description": "The root span of the action processing.",
          "$ref": "GoogleCloudCesV1mainSpan"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CesTurnAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "type": "object",
      "description": "A link part.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. Target URI."
        },
        "text": {
          "description": "Optional. Anchor or display text.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "type": "object",
      "description": "An error that occurred during correlation for a specific conversation.",
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult": {
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "type": "object",
      "properties": {
        "p90": {
          "format": "double",
          "type": "number",
          "description": "The 90th percentile value."
        },
        "p99": {
          "format": "double",
          "description": "The 99th percentile value.",
          "type": "number"
        },
        "p50": {
          "format": "double",
          "type": "number",
          "description": "The 50th percentile value."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTablePart": {
      "type": "object",
      "description": "A table part.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTablePart",
      "properties": {
        "title": {
          "description": "Optional. Optional title for the table.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "description": "Optional. Table column headers.",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "description": "Optional. Table rows.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse": {
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
          "description": "The issue model that was imported."
        }
      },
      "description": "Response from import issue model",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice",
      "properties": {
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dimension"
          },
          "description": "A unique combination of dimensions that this slice represents."
        },
        "timeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceTimeSeries",
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE."
        }
      },
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]"
    },
    "GoogleCloudContactcenterinsightsV1ConversationCallMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
      "description": "Call-specific metadata.",
      "type": "object",
      "properties": {
        "customerChannel": {
          "format": "int32",
          "description": "The audio channel that contains the customer.",
          "type": "integer"
        },
        "agentChannel": {
          "format": "int32",
          "description": "The audio channel that contains the agent.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1InterruptionData": {
      "type": "object",
      "description": "The data for an interruption annotation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData"
    },
    "GoogleCloudContactcenterinsightsV1mainEntity": {
      "type": "object",
      "properties": {
        "salience": {
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number"
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "description": "The entity type."
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        }
      },
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "id": "GoogleCloudContactcenterinsightsV1mainEntity"
    },
    "GoogleCloudContactcenterinsightsV1UploadConversationMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UploadConversationMetadata",
      "description": "The metadata for an `UploadConversation` operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "appliedRedactionConfig": {
          "description": "Output only. The redaction config applied to the uploaded conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig"
        },
        "analysisOperation": {
          "readOnly": true,
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "type": "string"
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1UploadConversationRequest"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1StreamChatRequest": {
      "properties": {
        "message": {
          "description": "Required. The message to send to the assistant.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1StreamChatRequest",
      "type": "object",
      "description": "Request to stream chat."
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasureQaTagScore",
      "type": "object",
      "description": "Average QA normalized score for the tag.",
      "properties": {
        "averageTagNormalizedScore": {
          "type": "number",
          "description": "Average tag normalized score per tag.",
          "format": "double"
        },
        "tag": {
          "description": "Tag name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueMatchData": {
      "description": "The data for an issue match annotation.",
      "id": "GoogleCloudContactcenterinsightsV1IssueMatchData",
      "type": "object",
      "properties": {
        "issueAssignment": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment",
          "description": "Information about the issue's assignment."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AnalysisRule": {
      "id": "GoogleCloudContactcenterinsightsV1AnalysisRule",
      "properties": {
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Whether this resource is zone separated.",
          "readOnly": true
        },
        "annotatorSelector": {
          "description": "Selector of annotators to run and the phrase matchers to use for conversations that matches the conversation_filter. If not specified, NO annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this resource is zone isolated."
        },
        "active": {
          "type": "boolean",
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive and saved as a draft."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the analysis rule."
        },
        "conversationFilter": {
          "type": "string",
          "description": "Filter for the conversations that should apply this analysis rule. An empty filter means this analysis rule applies to all conversations. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this analysis rule was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time at which this analysis rule was updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}",
          "type": "string"
        },
        "analysisPercentage": {
          "description": "Percentage of conversations that we should apply this analysis setting automatically, between [0, 1]. For example, 0.1 means 10%. Conversations are sampled in a determenestic way. The original runtime_percentage & upload percentage will be replaced by defining filters on the conversation.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "The CCAI Insights project wide analysis rule. This rule will be applied to all conversations that match the filter defined in the rule. For a conversation matches the filter, the annotators specified in the rule will be run. If a conversation matches multiple rules, a union of all the annotators will be run. One project can have multiple analysis rules."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResultRuleCorrelationResult": {
      "type": "object",
      "description": "The result of a single correlation rule.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResultRuleCorrelationResult",
      "properties": {
        "correlationId": {
          "description": "The correlation ID generated by the join key expression.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the join key expression failed to evaluate."
        },
        "ruleId": {
          "type": "string",
          "description": "The rule ID."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Filter used to select the subset of conversations to delete."
        },
        "force": {
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
          "type": "boolean"
        },
        "maxDeleteCount": {
          "description": "Maximum number of conversations to delete.",
          "type": "integer",
          "format": "int32"
        },
        "parent": {
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
          "type": "string"
        }
      },
      "description": "The request to delete conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewResponse",
      "description": "The response for querying performance overview.",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart",
      "properties": {
        "productCollection": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
          "description": "Optional. Product collection or carousel."
        },
        "image": {
          "description": "Optional. Image media.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
        },
        "text": {
          "description": "Optional. Plain text content.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart"
        },
        "video": {
          "description": "Optional. Video media.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
        },
        "citation": {
          "description": "Optional. Citation or reference to grounding material.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart"
        },
        "table": {
          "description": "Optional. Tabular data.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart"
        },
        "suggestionChips": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
          "description": "Optional. Suggestion chips or interactive buttons."
        },
        "list": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
          "description": "Optional. Ordered or unordered list."
        },
        "link": {
          "description": "Optional. Web link or URL.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart"
        },
        "thought": {
          "description": "Optional. Model thought or internal reasoning.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart"
        },
        "customPayload": {
          "description": "Optional. Generic custom structured payload.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart"
        }
      },
      "description": "A structured component/part of a transcript segment.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueMetadata": {
      "description": "Metadata for creating an issue.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput",
      "description": "Explicit input used for generating the answer",
      "type": "object",
      "properties": {
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query text. Article Search uses this to store the input query used to generate the search results."
        },
        "querySource": {
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "description": "Query source for the answer."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationParticipant": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationParticipant",
      "type": "object",
      "description": "The call participant speaking for a given utterance.",
      "properties": {
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "description": "The role of the participant."
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest": {
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
      "properties": {
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "type": "string",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ]
        },
        "writeDisposition": {
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "type": "string",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Options for what to do if the destination table already exists."
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination"
        }
      },
      "type": "object",
      "description": "The request to export insights."
    },
    "GoogleCloudContactcenterinsightsV1mainCesEndSessionAnnotation": {
      "type": "object",
      "properties": {
        "endSession": {
          "$ref": "GoogleCloudCesV1mainEndSession",
          "description": "End session signal from CES."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCesEndSessionAnnotation",
      "description": "The CES end session annotation."
    },
    "GoogleCloudContactcenterinsightsV1InterruptionData": {
      "description": "The data for an interruption annotation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1InterruptionData",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The issue model to deploy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest",
      "type": "object",
      "description": "The request to deploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagMetadata": {
[...]
