{
  "servicePath": "",
  "canonicalName": "Contactcenterinsights",
  "ownerName": "Google",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1ExactMatchConfig": {
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "Whether to consider case sensitivity when performing an exact match."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
      "type": "object",
      "description": "Exact match configuration."
    },
    "GoogleCloudContactcenterinsightsV1InterruptionData": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1InterruptionData",
      "description": "The data for an interruption annotation."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
      "type": "object",
      "properties": {
        "medium": {
          "type": "string",
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT."
        }
      },
      "description": "Metadata about the conversation medium dimension."
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "type": "object",
      "description": "Explicit input used for generating the answer",
      "properties": {
        "generatorName": {
          "type": "string",
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`"
        },
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        },
        "querySource": {
          "description": "Query source for the answer.",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata": {
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
      "description": "Metadata about the conversation profile dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
        }
      },
      "type": "object",
      "description": "Request for the BulkDeleteFeedbackLabels endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage": {
      "properties": {
        "generatedSqlQuery": {
          "type": "string",
          "description": "Raw SQL from LLM, before templatization"
        },
        "textMessage": {
          "description": "A direct natural language response to the user message.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput"
        },
        "userProvidedSqlQuery": {
          "description": "Optional. User provided SQL query",
          "type": "string"
        },
        "chartSpec": {
          "type": "object",
          "description": "Chart spec from LLM",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "userProvidedChartSpec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. User provided chart spec"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage",
      "type": "object",
      "description": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system."
    },
    "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationUserInput": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Query text. Article Search uses this to store the input query used to generate the search results."
        },
        "querySource": {
          "type": "string",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "description": "Query source for the answer."
        },
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        }
      },
      "description": "Explicit input used for generating the answer",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationUserInput"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata",
      "description": "Metadata for an export insights operation.",
      "properties": {
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "failedExportCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations that failed to be exported."
        },
        "completedExportCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of conversations that were exported successfully."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ListAllFeedbackLabelsResponse": {
      "type": "object",
      "description": "The response for listing all feedback labels.",
      "properties": {
        "feedbackLabels": {
          "description": "The feedback labels that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ListAllFeedbackLabelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
        },
        "trainingConversationsCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of conversations used in training. Output only.",
          "readOnly": true
        },
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Configs for the input data used to create the issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig"
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecResponse": {
      "description": "The response to initialize a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult": {
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "type": "object",
      "properties": {
        "p50": {
          "format": "double",
          "description": "The 50th percentile value.",
          "type": "number"
        },
        "p90": {
          "description": "The 90th percentile value.",
          "type": "number",
          "format": "double"
        },
        "p99": {
          "format": "double",
          "type": "number",
          "description": "The 99th percentile value."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
      "description": "Request to import an issue model.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata": {
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "qaQuestionId": {
          "type": "string",
          "description": "Optional. The QA question ID."
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "answerValue": {
          "type": "string",
          "description": "Optional. The full body of the question."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionAnswerDimensionMetadata",
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTableRow": {
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The cell values in the row."
        }
      },
      "description": "A row in a table.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTableRow"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "properties": {
        "conversationCount": {
          "format": "int32",
          "description": "The total number of conversations.",
          "type": "integer"
        },
        "averageTurnCount": {
          "description": "The average number of turns per conversation.",
          "type": "integer",
          "format": "int32"
        },
        "customHighlighterMatches": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations.",
          "type": "object"
        },
        "averageDuration": {
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "type": "string",
          "format": "google-duration"
        },
        "issueMatches": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "deprecated": true,
          "type": "object"
        },
        "smartHighlighterMatches": {
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "type": "object"
        },
        "conversationCountTimeSeries": {
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria.",
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries"
        },
        "issueMatchesStats": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          },
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "type": "object"
        }
      },
      "description": "The response for calculating conversation statistics.",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint": {
      "type": "object",
      "properties": {
        "conversationMeasure": {
          "description": "The measure related to conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure"
        },
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        }
      },
      "description": "A data point contains the metric values mapped to an interval.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint"
    },
    "GoogleCloudContactcenterinsightsV1SampleRule": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SampleRule",
      "description": "Message for sampling conversations.",
      "properties": {
        "dimension": {
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'.",
          "type": "string"
        },
        "sampleRow": {
          "format": "int64",
          "type": "string",
          "description": "Number of the conversations that we should sample based on the dimension."
        },
        "samplePercentage": {
          "type": "number",
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "format": "double"
        },
        "conversationFilter": {
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsMetadataIngestConversationsStats",
      "type": "object",
      "description": "Statistics for IngestConversations operation.",
      "properties": {
        "failedIngestCount": {
          "type": "integer",
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "format": "int32",
          "readOnly": true
        },
        "duplicatesSkippedCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "type": "integer"
        },
        "successfulIngestCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true
        },
        "processedObjectCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of objects processed during the ingest operation.",
          "readOnly": true
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest": {
      "properties": {
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig"
        },
        "conversationId": {
          "type": "string",
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`"
        },
        "speechConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSpeechConfig",
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings."
        },
        "conversation": {
          "description": "Required. The conversation resource to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversation"
        },
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        }
      },
      "description": "Request to upload a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagRequest",
          "description": "Output only. The original request."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1UpdateQaQuestionTagMetadata",
      "description": "The metadata for updating a QaQuestionTag Resource."
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination": {
      "properties": {
        "spreadsheetUri": {
          "type": "string",
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA. The spreadsheet ID written to will be returned as `file_names` in the BulkDownloadFeedbackLabelsMetadata."
        },
        "sheetTitle": {
          "description": "Optional. The title of the new sheet to write the feedback labels to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google Sheets document details to write the feedback labels to.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice",
      "properties": {
        "dimensions": {
          "description": "A unique combination of dimensions that this slice represents.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dimension"
          },
          "type": "array"
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
        },
        "timeSeries": {
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries"
        }
      },
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationCallMetadata": {
      "properties": {
        "customerChannel": {
          "format": "int32",
          "description": "The audio channel that contains the customer.",
          "type": "integer"
        },
        "agentChannel": {
          "format": "int32",
          "type": "integer",
          "description": "The audio channel that contains the agent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
      "description": "Call-specific metadata.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "assessmentRules": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
          },
          "type": "array",
          "description": "The assessment rules that match the request."
        }
      },
      "type": "object",
      "description": "The response of listing assessment rules.",
      "id": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig": {
      "type": "object",
      "description": "Configuration for summarization.",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "generator": {
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/",
          "type": "string"
        },
        "summarizationModel": {
          "description": "Default summarization model to be used.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation": {
      "description": "An annotation that was generated during the customer and agent interaction.",
      "id": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation",
      "type": "object",
      "properties": {
        "dialogflowInteraction": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowInteractionData",
          "description": "Dialogflow interaction data."
        },
        "endBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "faqAnswer": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainFaqAnswerData",
          "description": "Agent Assist FAQ answer data."
        },
        "smartReply": {
          "description": "Agent Assist Smart Reply data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSmartReplyData"
        },
        "articleSuggestion": {
          "description": "Agent Assist Article Suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainArticleSuggestionData"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnswerFeedback",
          "description": "The feedback that the customer has about the answer in `data`."
        },
        "userInput": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationUserInput",
          "description": "Explicit input used for generating the answer"
        },
        "annotationId": {
          "type": "string",
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}"
        },
        "cesTurnAnnotation": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainCesTurnAnnotation",
          "description": "The CES turn annotation."
        },
        "cesEndSessionAnnotation": {
          "description": "The CES end session annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainCesEndSessionAnnotation"
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time at which this annotation was created.",
          "type": "string"
        },
        "smartComposeSuggestion": {
          "description": "Agent Assist Smart Compose suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSmartComposeSuggestionData"
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GcsSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
      "properties": {
        "audioUri": {
          "deprecated": true,
          "type": "string",
          "description": "Immutable. Deprecated: Use `audio_uris` instead. Cloud Storage URI that points to a file that contains the conversation audio."
        },
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        },
        "audioUris": {
          "type": "array",
          "description": "Immutable. Cloud Storage URIs that point to files that contain the conversation audio. Supports both single audio files and multi-leg session recordings (e.g., call transfers, rolling recording buffers).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A Cloud Storage source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData": {
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
      "properties": {
        "entityUniqueId": {
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to.",
          "type": "string"
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "description": "Sentiment expressed for this mention of the entity."
        },
        "type": {
          "type": "string",
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIntent": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of the intent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIntent",
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest": {
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel",
          "description": "Required. The issue model to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        }
      },
      "description": "The request to create an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CesEndSessionAnnotation": {
      "properties": {
        "endSession": {
          "$ref": "GoogleCloudCesV1mainEndSession",
          "description": "End session signal from CES."
        }
      },
      "description": "The CES end session annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CesEndSessionAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Anchor or display text."
        },
        "uri": {
          "type": "string",
          "description": "Optional. Target URI."
        }
      },
      "description": "A link part."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to deploy."
        }
      },
      "type": "object",
      "description": "The request to deploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1SignedAudioUris": {
      "description": "Signed audio URIs for a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1SignedAudioUris",
      "properties": {
        "signedGcsAudioUris": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The signed URIs for the audio from the Cloud Storage conversation source when multiple audio files exist (e.g. multi-leg conversations)."
        },
        "signedDialogflowAudioUri": {
          "description": "The signed URI for the audio from the Dialogflow conversation source.",
          "type": "string"
        },
        "signedGcsAudioUri": {
          "type": "string",
          "description": "The signed URI for the audio from the Cloud Storage conversation source."
        },
        "signedTurnLevelAudios": {
          "type": "array",
          "description": "The signed URI for the audio corresponding to each turn in the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "properties": {
        "qaScorecardId": {
          "type": "string",
          "description": "Optional. The QA scorecard ID."
        },
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ListFeedbackLabelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        },
        "feedbackLabels": {
          "type": "array",
          "description": "The feedback labels that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
          }
        }
      },
      "description": "The response for listing feedback labels.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ListFeedbackLabelsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig",
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`."
        },
        "agentChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        },
        "customerChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata": {
      "description": "Conversation metadata related to quality management.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata",
      "type": "object",
      "properties": {
        "feedbackLabels": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          },
          "description": "Input only. The feedback labels associated with the conversation.",
          "type": "array"
        },
        "menuPath": {
          "description": "An arbitrary string value specifying the menu path the customer took.",
          "type": "string"
        },
        "waitDuration": {
          "type": "string",
          "description": "The amount of time the customer waited to connect with an agent.",
          "format": "google-duration"
        },
        "agentInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo"
          },
          "description": "Information about agents involved in the call."
        },
        "customerSatisfactionRating": {
          "format": "int32",
          "description": "An arbitrary integer value indicating the customer's satisfaction rating.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "properties": {
        "containedConversationRatio": {
          "type": "number",
          "format": "double",
          "description": "The percentage of conversations that were contained."
        },
        "dialogflowWebhookFailureRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of dialogflow webhook calls that failed."
        },
        "dialogflowWebhookTimeoutRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of dialogflow webhook calls that timed out."
        },
        "aiCoachSuggestionAgentUsageCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of Ai Coach Suggestion that has been used by agents."
        },
        "averageClientSentimentScore": {
          "format": "float",
          "type": "number",
          "description": "The average client's sentiment score."
        },
        "knowledgeAssistResultCount": {
          "format": "int32",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user.",
          "type": "integer"
        },
        "conversationTotalAgentMessageCount": {
          "description": "The agent message count.",
          "type": "integer",
          "format": "int32"
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "type": "number",
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "format": "double"
        },
        "averageSummarizationSuggestionEditDistance": {
          "type": "number",
          "format": "double",
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion."
        },
        "avgConversationClientTurnSentimentEma": {
          "format": "double",
          "description": "The exponential moving average of the sentiment score of client turns in the conversation.",
          "type": "number"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback.",
          "format": "double",
          "type": "number"
        },
        "knowledgeSearchUriClickRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked."
        },
        "dialogflowConversationsEscalationRatio": {
          "description": "Proportion of conversations that was handed off from virtual agent to human agent.",
          "type": "number",
          "format": "double"
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "format": "double",
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion.",
          "type": "number"
        },
        "summarizationSuggestionResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of summarization suggestions results."
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "type": "integer",
          "description": "The number of conversations transferred to a human agent.",
          "format": "int32"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations scanned by the AA human supervisor."
        },
        "dialogflowConversationsEscalationCount": {
          "format": "double",
          "description": "count of conversations that was handed off from virtual agent to human agent.",
          "type": "number"
        },
        "averageQaNormalizedScore": {
          "format": "double",
          "type": "number",
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID."
        },
        "conversationCount": {
          "description": "The conversation count.",
          "format": "int32",
          "type": "integer"
        },
        "knowledgeSearchResultCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user."
        },
        "averageSilencePercentage": {
          "type": "number",
          "format": "float",
          "description": "The average silence percentage."
        },
        "conversationTotalCustomerMessageCount": {
          "format": "int32",
          "type": "integer",
          "description": "The customer message count."
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          }
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "type": "integer",
          "format": "int32"
        },
        "aaSupervisorEscalatedConversationsCount": {
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention.",
          "type": "integer",
          "format": "int32"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback.",
          "type": "number",
          "format": "double"
        },
        "averageCustomerSatisfactionRating": {
          "type": "number",
          "format": "double",
          "description": "The average customer satisfaction rating."
        },
        "knowledgeAssistNegativeFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number",
          "format": "double"
        },
        "conversationalAgentsAverageTtsLatency": {
          "format": "double",
          "type": "number",
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations."
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of Ai Coach Suggestion that has been used by agents."
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion."
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made.",
          "type": "number"
        },
        "averageTurnCount": {
          "type": "number",
          "format": "float",
          "description": "The average turn count."
        },
        "averageAgentSentimentScore": {
          "type": "number",
          "description": "The average agent's sentiment score.",
          "format": "float"
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "type": "integer",
          "format": "int32"
        },
        "conversationAiCoachSuggestionRatio": {
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "format": "double",
          "type": "number"
        },
        "dialogflowInteractionsNoMatchRatio": {
          "description": "Proportion of dialogflow interactions that has no intent match for the input.",
          "type": "number",
          "format": "double"
        },
        "dialogflowInteractionsNoInputRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of dialogflow interactions that has empty input."
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "type": "number",
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations.",
          "format": "double"
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "type": "number",
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made."
        },
        "knowledgeAssistUriClickRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked."
        },
        "conversationAiCoachSuggestionCount": {
          "description": "Count of conversations that has Ai Coach Suggestions.",
          "type": "integer",
          "format": "int32"
        },
        "conversationalAgentsAverageLlmCallLatency": {
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "dialogflowAverageWebhookLatency": {
          "description": "Average latency of dialogflow webhook calls.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorAssignedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that were assigned to an AA human supervisor.",
          "type": "integer"
        },
        "conversationSuggestedSummaryRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of conversations that had a suggested summary."
        },
        "summarizationSuggestionEditRatio": {
          "format": "double",
          "type": "number",
          "description": "Proportion of summarization suggestions that were manually edited."
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "type": "number",
          "format": "double"
        },
        "averageQaQuestionNormalizedScore": {
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID.",
          "format": "double",
          "type": "number"
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "description": "Count of agent messages that triggered an Ai Coach Suggestion.",
          "format": "int32",
          "type": "integer"
        },
        "averageDuration": {
          "type": "string",
          "description": "The average duration.",
          "format": "google-duration"
        },
        "aaSupervisorDroppedConversationsCount": {
          "type": "integer",
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "format": "int32"
        },
        "containedConversationCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of conversations that were contained."
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "type": "number",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback.",
          "format": "double"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure",
      "type": "object",
      "description": "The measure related to conversations."
    },
    "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse": {
      "properties": {
        "issueModels": {
          "description": "The issue models that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
          }
        }
      },
      "type": "object",
      "description": "The response of listing issue models.",
      "id": "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadata": {
      "type": "object",
      "description": "The metadata for an SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "description": "Output only. The original request for sample conversations to dataset.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete."
        },
        "sampleConversationsStats": {
          "readOnly": true,
          "description": "Output only. Statistics for SampleConversations operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsMetadataSampleConversationsStats"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
      "description": "The request to export insights.",
      "properties": {
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "writeDisposition": {
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Options for what to do if the destination table already exists."
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination"
        },
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ]
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainFaqAnswerData": {
      "type": "object",
      "description": "Agent Assist frequently-asked-question answer data.",
      "properties": {
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "confidenceScore": {
          "type": "number",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float"
        },
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        },
        "answer": {
          "type": "string",
          "description": "The piece of text from the `source` knowledge base document."
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainFaqAnswerData"
    },
    "GoogleCloudContactcenterinsightsV1QaQuestion": {
      "type": "object",
      "description": "A single question to be scored by the Insights QA feature.",
      "properties": {
        "questionType": {
          "enumDescriptions": [
            "The type of the question is unspecified.",
            "The default question type. The question is fully customizable by the user.",
            "The question type is using a predefined model provided by CCAI teams. Users are not allowed to edit the question_body, answer_choices, upload feedback labels for the question nor fine-tune the question. However, users may edit other fields like question tags, question order, etc."
          ],
          "description": "The type of question.",
          "type": "string",
          "enum": [
            "QA_QUESTION_TYPE_UNSPECIFIED",
            "CUSTOMIZABLE",
            "PREDEFINED"
          ]
        },
        "predefinedQuestionConfig": {
          "description": "The configuration of the predefined question. This field will only be set if the Question Type is predefined.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionPredefinedQuestionConfig"
        },
        "order": {
          "description": "Defines the order of the question within its parent scorecard revision.",
          "format": "int32",
          "type": "integer"
        },
        "answerInstructions": {
          "description": "Instructions describing how to determine the answer.",
          "type": "string"
        },
        "answerChoices": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionAnswerChoice"
          },
          "type": "array",
          "description": "A list of valid answers to the question, which the LLM must choose from."
        },
        "abbreviation": {
          "description": "Short, descriptive string, used in the UI where it's not practical to display the full question body. E.g., \"Greeting\".",
          "type": "string"
        },
        "tags": {
          "description": "Questions are tagged for categorization and scoring. Tags can either be: - Default Tags: These are predefined categories. They are identified by their string value (e.g., \"BUSINESS\", \"COMPLIANCE\", and \"CUSTOMER\"). - Custom Tags: These are user-defined categories. They are identified by their full resource name (e.g., projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag}). Both default and custom tags are used to group questions and to influence the scoring of each question.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "qaQuestionDataOptions": {
          "description": "Options for configuring the data used to generate the QA question.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionQaQuestionDataOptions"
        },
        "metrics": {
          "description": "Metrics of the underlying tuned LLM over a holdout/test set while fine tuning the underlying LLM for the given question. This field will only be populated if and only if the question is part of a scorecard revision that has been tuned.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionMetrics"
        },
        "questionBody": {
          "description": "Question text. E.g., \"Did the agent greet the customer?\"",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the question was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "tuningMetadata": {
          "description": "Metadata about the tuning operation for the question.This field will only be populated if and only if the question is part of a scorecard revision that has been tuned.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata"
        },
        "name": {
          "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this question was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaQuestion"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata",
      "description": "Call-specific metadata.",
      "type": "object",
      "properties": {
        "agentChannel": {
          "type": "integer",
          "description": "The audio channel that contains the agent.",
          "format": "int32"
        },
        "customerChannel": {
          "type": "integer",
          "format": "int32",
          "description": "The audio channel that contains the customer."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscript": {
      "properties": {
        "transcriptSegments": {
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
      "type": "object",
      "description": "A message representing the transcript of a conversation."
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "description": "An error that occurred during correlation for a specific conversation.",
      "type": "object",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "type": "object",
      "description": "The response of listing conversations.",
      "properties": {
        "conversations": {
          "description": "The conversations that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1ListAuthorizedViewsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewsResponse",
      "description": "The response from a ListAuthorizedViews request.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "authorizedViews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
          },
          "description": "The AuthorizedViews under the parent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest",
      "properties": {
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig"
        },
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
        },
        "gcsSource": {
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource"
        },
        "sampleSize": {
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "format": "int32",
          "type": "integer"
        },
        "conversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
          "description": "Configuration that applies to all conversations."
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings."
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request to ingest conversations."
    },
    "GoogleCloudContactcenterinsightsV1IssueMatchData": {
      "properties": {
        "issueAssignment": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment",
          "description": "Information about the issue's assignment."
        }
      },
      "description": "The data for an issue match annotation.",
      "id": "GoogleCloudContactcenterinsightsV1IssueMatchData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource": {
      "properties": {
        "potentialScore": {
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "format": "double",
          "type": "number"
        },
        "score": {
          "description": "The overall numerical score of the result.",
          "format": "double",
          "type": "number"
        },
        "sourceType": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ],
          "description": "What created the score.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ],
          "type": "string"
        },
        "normalizedScore": {
          "description": "The normalized score, which is the score divided by the potential score.",
          "type": "number",
          "format": "double"
        },
        "qaTagResults": {
          "type": "array",
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult"
          }
        }
      },
      "type": "object",
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse": {
      "properties": {
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript"
        },
        "generativeResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse"
          },
          "description": "The full list of generative responses. Each response is ordered by time."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse",
      "description": "The response for generative insights."
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "properties": {
        "textType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "type": "string",
          "description": "The type of the text message."
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parts of the message."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "description": "A text output message from the system."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartProduct": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartProduct",
      "description": "A product in a product collection.",
      "properties": {
        "id": {
          "description": "Optional. Product ID.",
          "type": "string"
        },
        "imageUris": {
          "type": "array",
          "description": "Optional. Product image URLs.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Product display name."
        },
        "description": {
          "type": "string",
          "description": "Optional. Product description."
        },
        "uri": {
          "type": "string",
          "description": "Optional. Product URL or deep link."
        },
        "price": {
          "description": "Optional. Product price.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIssueModelInputDataConfig": {
      "properties": {
        "medium": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`."
        },
        "trainingConversationsCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of conversations used in training. Output only.",
          "format": "int64"
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIssueModelInputDataConfig",
      "type": "object",
      "description": "Configs for the input data used to create the issue model."
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfig": {
      "properties": {
        "scorecardList": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfigScorecardList",
          "description": "A manual list of scorecards to score."
        }
      },
      "type": "object",
      "description": "Configuration for the QA feature.",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorQaConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfigScorecardList": {
      "description": "Container for a list of scorecards.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfigScorecardList",
      "properties": {
        "qaScorecardRevisions": {
          "description": "List of QaScorecardRevisions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata": {
      "properties": {
        "resultIsTruncated": {
          "description": "Whether the result rows were truncated because the result row size is too large to materialize.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata",
      "description": "The metadata from querying metrics.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest": {
      "type": "object",
      "description": "The request for deleting a QaQuestionTag.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the QaQuestionTag to delete."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UploadConversationRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UploadConversationRequest",
      "description": "Request to upload a conversation.",
      "properties": {
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        },
        "conversation": {
          "$ref": "GoogleCloudContactcenterinsightsV1Conversation",
          "description": "Required. The conversation resource to create."
        },
        "conversationId": {
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart": {
      "properties": {
        "alternativeText": {
          "type": "string",
          "description": "Optional. Alternative text description."
        },
        "uri": {
          "description": "Optional. URI or URL to the media.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
      "description": "A media part.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination",
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "type": "object",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object",
      "properties": {
        "completedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have completed successfully so far."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest"
        },
        "totalRequestedAnalysesCount": {
          "type": "integer",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32"
        },
        "failedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have failed so far."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "relabel": {
          "readOnly": true,
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
      "description": "Agent Assist Article Suggestion data.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "type": "object"
        },
        "title": {
          "type": "string",
          "description": "Article title."
        },
        "confidenceScore": {
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "float"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "uri": {
          "description": "Article URI.",
          "type": "string"
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest",
      "description": "The message to finalize an assessment. Finalizing makes an assessment and its notes immutable.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscript",
      "properties": {
        "transcriptSegments": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegment"
          },
          "type": "array",
          "description": "A list of sequential transcript segments that comprise the conversation."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "properties": {
        "correctnessLevel": {
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "description": "The correctness level of an answer.",
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ]
        },
        "clicked": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was clicked by the human agent."
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceTimeSeries": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceTimeSeries",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint"
          },
          "description": "The data points that make up the time series .",
          "type": "array"
        }
      },
      "description": "A time series of metric values.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponse",
      "description": "Wrapper for storing the generative response for a chart.",
      "type": "object",
      "properties": {
        "textMessage": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput"
        },
        "generatedSqlQuery": {
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource.",
          "type": "string"
        },
        "textOutput": {
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "deprecated": true,
          "type": "string"
        },
        "chartSpec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "description": "The measure related to dialogflow interactions.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "type": "object",
      "properties": {
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileLlmCallLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level."
        },
        "percentileToolUseLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart": {
      "properties": {
        "productCollection": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
          "description": "Optional. Product collection or carousel."
        },
        "customPayload": {
          "description": "Optional. Generic custom structured payload.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart"
        },
        "suggestionChips": {
          "description": "Optional. Suggestion chips or interactive buttons.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart"
        },
        "video": {
          "description": "Optional. Video media.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
        },
        "list": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
          "description": "Optional. Ordered or unordered list."
        },
        "link": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
          "description": "Optional. Web link or URL."
        },
        "thought": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
          "description": "Optional. Model thought or internal reasoning."
        },
        "text": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart",
          "description": "Optional. Plain text content."
        },
        "table": {
          "description": "Optional. Tabular data.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart"
        },
        "citation": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart",
          "description": "Optional. Citation or reference to grounding material."
        },
        "image": {
          "description": "Optional. Image media.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart"
        }
      },
      "description": "A structured component/part of a transcript segment.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainCallAnnotation": {
      "description": "A piece of metadata that applies to a window of a call.",
      "properties": {
        "interruptionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainInterruptionData",
          "description": "Data specifying an interruption."
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSilenceData"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "channelTag": {
          "format": "int32",
          "type": "integer",
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated."
        },
        "entityMentionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainEntityMentionData",
          "description": "Data specifying an entity mention."
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueMatchData"
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "intentMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIntentMatchData",
          "description": "Data specifying an intent match."
        },
        "holdData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainHoldData",
          "description": "Data specifying a hold."
        },
        "phraseMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData",
          "description": "Data specifying a phrase match."
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainCallAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest",
      "description": "The request to undeploy an issue model.",
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData": {
      "description": "Conversation summarization suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
      "type": "object",
      "properties": {
        "answerRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The summarization content that is concatenated into one string."
        },
        "generatorId": {
          "description": "Agent Assist generator ID.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the summarization.",
          "format": "float"
        },
        "textSections": {
          "type": "object",
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conversationModel": {
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map that contains metadata about the summarization and the document from which it originates."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "type": "object",
      "properties": {},
      "description": "The data for a hold annotation.",
      "id": "GoogleCloudContactcenterinsightsV1HoldData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest",
      "description": "The request to delete conversations in bulk.",
      "properties": {
        "parent": {
          "type": "string",
[...]
