{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "contactcenterinsights",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    }
  },
  "id": "contactcenterinsights:v1",
  "revision": "20260905",
  "canonicalName": "Contactcenterinsights",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResultRuleCorrelationResult": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationResultRuleCorrelationResult",
      "type": "object",
      "description": "The result of a single correlation rule.",
      "properties": {
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        },
        "error": {
          "description": "The error status if the join key expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        },
        "correlationId": {
          "description": "The correlation ID generated by the join key expression.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation finished running."
        },
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest"
        }
      },
      "description": "Metadata used for export issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1Dataset": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1Dataset",
      "properties": {
        "ttl": {
          "description": "Optional. Option TTL for the dataset.",
          "type": "string",
          "format": "google-duration"
        },
        "type": {
          "enumDescriptions": [
            "Default value for unspecified.",
            "For evals only.",
            "Dataset with new conversations coming in regularly (Insights legacy conversations and AI trainer)"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EVAL",
            "LIVE"
          ],
          "type": "string",
          "description": "Dataset usage type."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Dataset create time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Dataset update time."
        },
        "displayName": {
          "description": "Display name for the dataaset",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Dataset description."
        }
      },
      "type": "object",
      "description": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionMediumDimensionMetadata",
      "description": "Metadata about the conversation medium dimension.",
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Intent": {
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Intent",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of the intent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsResponse",
      "description": "Response for the BulkDownloadFeedbackLabel endpoint.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionIssueDimensionMetadata": {
      "properties": {
        "issueId": {
          "description": "The issue ID.",
          "type": "string"
        },
        "issueModelId": {
          "description": "The parent issue model ID.",
          "type": "string"
        },
        "issueDisplayName": {
          "type": "string",
          "description": "The issue display name."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionIssueDimensionMetadata",
      "description": "Metadata about the issue dimension."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint": {
      "description": "A data point contains the metric values mapped to an interval.",
      "properties": {
        "conversationMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasure",
          "description": "The measure related to conversations."
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        },
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo": {
      "description": "Word-level info for words in a transcript.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "format": "float"
        },
        "endOffset": {
          "type": "string",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset of the start of this word relative to the beginning of the total conversation."
        },
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionDimensionMetadata": {
      "description": "Metadata about the QA question dimension.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionDimensionMetadata",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
          "type": "string",
          "description": "Optional. The full body of the question."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Anchor or display text."
        },
        "uri": {
          "description": "Optional. Target URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "description": "A link part."
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse": {
      "description": "The response to undeploy an issue model.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList": {
      "properties": {
        "qaScorecardRevisions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of QaScorecardRevisions."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList",
      "type": "object",
      "description": "Container for a list of scorecards."
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageUserMessage": {
      "type": "object",
      "properties": {
        "text": {
          "description": "A message from the user that is interacting with the system.",
          "type": "string"
        }
      },
      "description": "The user message.",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageUserMessage"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewMetadata",
      "type": "object",
      "properties": {},
      "description": "The metadata for querying performance overview."
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "description": "Wrapper for detailed, step-by-step results.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults",
      "properties": {
        "joinKeyResults": {
          "description": "A list of join key correlation results for each conversation tested.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult"
          },
          "type": "array"
        },
        "constraintResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult"
          },
          "description": "A list of constraint evaluation results for each pair of conversations."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio": {
      "description": "A wrapper for holding the audio for any given turn.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio",
      "type": "object",
      "properties": {
        "audioDuration": {
          "type": "string",
          "description": "The duration of the audio.",
          "format": "google-duration"
        },
        "audioGcsUri": {
          "description": "The Cloud Storage URI of the audio for any given turn.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCesV1mainBlob": {
      "id": "GoogleCloudCesV1mainBlob",
      "type": "object",
      "description": "Represents a blob input or output in the conversation.",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest",
      "properties": {
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dataset"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the dataset."
        },
        "sampleRule": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleRule",
          "description": "Optional. The sample rule used for sampling conversations."
        }
      },
      "description": "The request to sample conversations to a dataset."
    },
    "GoogleIamV1Policy": {
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse": {
      "properties": {},
      "type": "object",
      "description": "The response to an SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1Settings": {
      "description": "The CCAI Insights project wide settings. Use these settings to configure the behavior of Insights. View these settings with [`getsettings`](https://cloud.google.com/contact-center/insights/docs/reference/rest/v1/projects.locations/getSettings) and change the settings with [`updateSettings`](https://cloud.google.com/contact-center/insights/docs/reference/rest/v1/projects.locations/updateSettings).",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone applied to the project. This is a string representation of the time zone, for example, \"America/New_York\". This field follows the IANA TZ database format. See https://www.iana.org/time-zones for a list of valid values. If no value is set the user time zone will be used."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the settings were last updated."
        },
        "analysisConfig": {
          "description": "Default analysis settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings"
        },
        "pubsubNotificationSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map that maps a notification trigger to a Pub/Sub topic. Each time a specified trigger occurs, Insights will notify the corresponding Pub/Sub topic. Keys are notification triggers. Supported keys are: * \"all-triggers\": Notify each time any of the supported triggers occurs. * \"create-analysis\": Notify each time an analysis is created. * \"create-conversation\": Notify each time a conversation is created. * \"export-insights-data\": Notify each time an export is complete. * \"ingest-conversations\": Notify each time an IngestConversations LRO is complete. * \"update-conversation\": Notify each time a conversation is updated via UpdateConversation. * \"upload-conversation\": Notify when an UploadConversation LRO is complete. * \"update-or-analyze-conversation\": Notify when an analysis for a conversation is completed or when the conversation is updated. The message will contain the conversation with transcript, analysis and other metadata. Values are Pub/Sub topics. The format of each Pub/Sub topic is: projects/{project}/topics/{topic}"
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig",
          "description": "Default DLP redaction resources to be applied while ingesting conversations. This applies to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversations coming from CCAI Platform."
        },
        "speechConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig",
          "description": "Optional. Default Speech-to-Text resources to use while ingesting audio files. Optional, CCAI Insights will create a default if not provided. This applies to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversations coming from CCAI Platform."
        },
        "createTime": {
          "description": "Output only. The time at which the settings was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "screenRecordingBucketUri": {
          "type": "string",
          "description": "Optional. The path to a Cloud Storage bucket containing conversation screen recordings. If provided, Insights will search in the bucket for a screen recording file matching the conversation data source object name prefix. If matches are found, these file URIs will be stored in the conversation screen recordings field."
        },
        "conversationTtl": {
          "type": "string",
          "description": "The default TTL for newly-created conversations. If a conversation has a specified expiration, that value will be used instead. Changing this value will not change the expiration of existing conversations. Conversations with no expire time persist until they are deleted.",
          "format": "google-duration"
        },
        "languageCode": {
          "description": "A language code to be applied to each transcript segment unless the segment already specifies a language code. Language code defaults to \"en-US\" if it is neither specified on the segment nor here.",
          "type": "string"
        },
        "diagnosticMetricConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1SettingsDiagnosticMetricConfig",
          "description": "Optional. Configuration for diagnostic metrics."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Settings",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for deployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest"
        }
      },
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1CorrelationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1CorrelationConfig",
      "description": "A configuration that defines how to correlate conversations for a given a given project.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the correlation config was last updated."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the correlation config was created."
        },
        "fullConversationConfig": {
          "description": "The correlation type config for full conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1CorrelationTypeConfig"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. Anchor or display text."
        },
        "uri": {
          "description": "Optional. Target URI.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A link part."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata": {
      "description": "Call-specific metadata.",
      "properties": {
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "format": "int32",
          "type": "integer"
        },
        "agentChannel": {
          "type": "integer",
          "format": "int32",
          "description": "The audio channel that contains the agent."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageUserMessage": {
      "properties": {
        "text": {
          "description": "A message from the user that is interacting with the system.",
          "type": "string"
        }
      },
      "description": "The user message.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageUserMessage"
    },
    "GoogleCloudContactcenterinsightsV1mainGcsSource": {
      "type": "object",
      "description": "A Cloud Storage source of conversation data.",
      "properties": {
        "audioUri": {
          "type": "string",
          "deprecated": true,
          "description": "Immutable. Deprecated: Use `audio_uris` instead. Cloud Storage URI that points to a file that contains the conversation audio."
        },
        "audioUris": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. Cloud Storage URIs that point to files that contain the conversation audio. Supports both single audio files and multi-leg session recordings (e.g., call transfers, rolling recording buffers).",
          "type": "array"
        },
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainGcsSource"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination",
      "properties": {
        "spreadsheetUri": {
          "type": "string",
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA. The spreadsheet ID written to will be returned as `file_names` in the BulkDownloadFeedbackLabelsMetadata."
        },
        "sheetTitle": {
          "description": "Optional. The title of the new sheet to write the feedback labels to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google Sheets document details to write the feedback labels to."
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "type": "object",
      "description": "Explicit input used for generating the answer",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput",
      "properties": {
        "generatorName": {
          "type": "string",
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`"
        },
        "querySource": {
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ],
          "description": "Query source for the answer.",
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ]
        },
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse": {
      "description": "The response for a bulk analyze conversations operation.",
      "properties": {
        "successfulAnalysisCount": {
          "description": "Count of successful analyses.",
          "type": "integer",
          "format": "int32"
        },
        "failedAnalysisCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of failed analyses."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "type": "object",
      "properties": {
        "exactMatchConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
          "description": "The configuration for the exact match rule."
        },
        "regexMatchConfig": {
          "description": "The configuration for the regex match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1RegexMatchConfig"
        }
      },
      "description": "Configuration information of a phrase match rule.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig"
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "properties": {
        "score": {
          "format": "double",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number"
        },
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then."
        }
      },
      "description": "Information about the issue."
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSilence": {
      "description": "Conversation-level silence data.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSilence",
      "properties": {
        "silencePercentage": {
          "format": "float",
          "description": "Percentage of the total conversation spent in silence.",
          "type": "number"
        },
        "silenceDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Amount of time calculated to be in silence."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata",
      "properties": {
        "playbookDisplayName": {
          "type": "string",
          "description": "Optional. The dialogflow playbook display name."
        },
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListDatasetsResponse": {
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
          },
          "description": "The datasets that match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse",
      "description": "The response to list datasets."
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData": {
      "properties": {
        "confidenceScore": {
          "type": "number",
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "double"
        },
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "reply": {
          "type": "string",
          "description": "The content of the reply."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData",
      "description": "Agent Assist Smart Reply data.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SignedAudioUris": {
      "id": "GoogleCloudContactcenterinsightsV1SignedAudioUris",
      "type": "object",
      "properties": {
        "signedDialogflowAudioUri": {
          "description": "The signed URI for the audio from the Dialogflow conversation source.",
          "type": "string"
        },
        "signedGcsAudioUri": {
          "description": "The signed URI for the audio from the Cloud Storage conversation source.",
          "type": "string"
        },
        "signedGcsAudioUris": {
          "description": "Output only. The signed URIs for the audio from the Cloud Storage conversation source when multiple audio files exist (e.g. multi-leg conversations).",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "signedTurnLevelAudios": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
          },
          "description": "The signed URI for the audio corresponding to each turn in the conversation."
        }
      },
      "description": "Signed audio URIs for a conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
      "description": "The request to delete an issue model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAuthorizedViewsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "authorizedViews": {
          "description": "The AuthorizedViews under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
          }
        }
      },
      "description": "The response from a ListAuthorizedViews request.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text content."
        }
      },
      "description": "A text part.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartTextPart"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowIntent": {
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowIntent",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource": {
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA.",
          "type": "string"
        }
      },
      "description": "Google Sheets document details to get the feedback label file from.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest": {
      "description": "The request to deploy an issue model.",
      "properties": {
        "name": {
          "description": "Required. The issue model to deploy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice": {
      "type": "object",
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dimension"
          },
          "type": "array",
          "description": "A unique combination of dimensions that this slice represents."
        },
        "timeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries",
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE."
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
        }
      },
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice"
    },
    "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig": {
      "description": "Default configuration when creating Analyses in Insights.",
      "properties": {
        "uploadConversationAnalysisPercentage": {
          "type": "number",
          "format": "double",
          "description": "Percentage of conversations created using the UploadConversation endpoint to analyze automatically, between [0, 100]."
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "runtimeIntegrationAnalysisPercentage": {
          "description": "Percentage of conversations created using Dialogflow runtime integration to analyze automatically, between [0, 100].",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GcsSource": {
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Immutable. Deprecated: Use `audio_uris` instead. Cloud Storage URI that points to a file that contains the conversation audio.",
          "deprecated": true
        },
        "audioUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Immutable. Cloud Storage URIs that point to files that contain the conversation audio. Supports both single audio files and multi-leg session recordings (e.g., call transfers, rolling recording buffers)."
        },
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
      "description": "A Cloud Storage source of conversation data.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessage",
      "type": "object",
      "properties": {
        "userProvidedSqlQuery": {
          "type": "string",
          "description": "Optional. User provided SQL query"
        },
        "chartSpec": {
          "description": "Chart spec from LLM",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "userProvidedChartSpec": {
          "description": "Optional. User provided chart spec",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textMessage": {
          "description": "A direct natural language response to the user message.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput"
        },
        "generatedSqlQuery": {
          "type": "string",
          "description": "Raw SQL from LLM, before templatization"
        }
      },
      "description": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchData": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        },
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        }
      },
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainSentimentData": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive)."
        },
        "magnitude": {
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainSentimentData",
      "description": "The data for a sentiment annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1StreamChatResponse": {
      "properties": {
        "eventTime": {
          "description": "The time when the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "description": "The unique ID of the event.",
          "type": "string"
        },
        "chunk": {
          "$ref": "GoogleCloudContactcenterinsightsV1AssistantChunk",
          "description": "A chunk of the assistant response message."
        },
        "statusMessage": {
          "description": "A status message.",
          "type": "string"
        }
      },
      "description": "Response from streaming chat.",
      "id": "GoogleCloudContactcenterinsightsV1StreamChatResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest": {
      "description": "The request to undeploy an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest",
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage": {
      "properties": {
        "systemMessageWrapper": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages",
          "description": "A wrapper for system messages per turn."
        },
        "messageId": {
          "type": "string",
          "description": "The message id of the message."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "type": "string"
        },
        "userMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage",
          "description": "A message from the user that is interacting with the system."
        }
      },
      "type": "object",
      "description": "The message in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage"
    },
    "GoogleCloudContactcenterinsightsV1MetricDefinition": {
      "id": "GoogleCloudContactcenterinsightsV1MetricDefinition",
      "properties": {
        "sourceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the underlying Insights primitive (e.g., Tag or QaQuestion) used to calculate this metric."
        },
        "displayName": {
          "description": "Output only. The user-visible name of the metric (e.g., \"Containment Rate\").",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A definition for a metric to be calculated during analysis.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "properties": {},
      "description": "The data for a hold annotation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1HoldData"
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotation": {
      "type": "object",
      "description": "An annotation that was generated during the customer and agent interaction.",
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation",
      "properties": {
        "userInput": {
          "description": "Explicit input used for generating the answer",
          "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput"
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnswerFeedback"
        },
        "annotationId": {
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}",
          "type": "string"
        },
        "articleSuggestion": {
          "description": "Agent Assist Article Suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData"
        },
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1SmartReplyData",
          "description": "Agent Assist Smart Reply data."
        },
        "smartComposeSuggestion": {
          "description": "Agent Assist Smart Compose suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData"
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "cesEndSessionAnnotation": {
          "$ref": "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation",
          "description": "The CES end session annotation."
        },
        "conversationSummarizationSuggestion": {
          "description": "Conversation summarization suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData"
        },
        "createTime": {
          "description": "The time at which this annotation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "cesTurnAnnotation": {
          "description": "The CES turn annotation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CesTurnAnnotation"
        },
        "faqAnswer": {
          "description": "Agent Assist FAQ answer data.",
          "$ref": "GoogleCloudContactcenterinsightsV1FaqAnswerData"
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "dialogflowInteraction": {
          "description": "Dialogflow interaction data.",
          "$ref": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart": {
      "description": "A suggestion chips part.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
      "type": "object",
      "properties": {
        "chips": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentTranscriptPartChip"
          },
          "description": "Optional. List of suggestion chips."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse",
      "description": "Response for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata": {
      "type": "object",
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata",
      "properties": {
        "answerValue": {
          "type": "string",
          "description": "Optional. The full body of the question."
        },
        "qaQuestionId": {
          "type": "string",
          "description": "Optional. The QA question ID."
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaScorecardId": {
          "type": "string",
          "description": "Optional. The QA scorecard ID."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats": {
      "type": "object",
      "properties": {
        "failedSampleCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field."
        },
        "successfulSampleCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of new conversations added during this sample operation."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats",
      "description": "Statistics for SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata": {
      "description": "Metadata about the issue dimension.",
      "type": "object",
      "properties": {
        "issueModelId": {
          "description": "The parent issue model ID.",
          "type": "string"
        },
        "issueDisplayName": {
          "description": "The issue display name.",
          "type": "string"
        },
        "issueId": {
          "type": "string",
          "description": "The issue ID."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "type": "object",
      "properties": {
        "trainingConversationsCount": {
          "description": "Output only. Number of conversations used in training. Output only.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "medium": {
          "deprecated": true,
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "type": "string"
        },
        "filter": {
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        }
      },
      "description": "Configs for the input data used to create the issue model."
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "properties": {
        "failedConversationsCount": {
          "description": "The number of conversations that failed correlation.",
          "type": "integer",
          "format": "int32"
        },
        "correlatedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations correlated.",
          "type": "integer"
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "sampledConversationsCount": {
          "description": "The number of conversations sampled.",
          "type": "integer",
          "format": "int32"
        },
        "conversationCorrelationErrors": {
          "description": "A list of errors that occurred during correlation, one for each conversation that failed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStats",
      "description": "Statistics for TestCorrelationConfig operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest",
      "description": "The request to delete conversations in bulk.",
      "type": "object",
      "properties": {
        "maxDeleteCount": {
          "format": "int32",
          "description": "Maximum number of conversations to delete.",
          "type": "integer"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
        },
        "force": {
          "type": "boolean",
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
        },
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "properties": {
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string",
          "description": "The correctness level of an answer."
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata",
      "description": "Metadata for creating an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest",
          "description": "Output only. The original request for delete.",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionDimensionMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionDimensionMetadata",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
          "type": "string",
          "description": "Optional. The full body of the question."
        }
      },
      "description": "Metadata about the QA question dimension."
    },
    "GoogleCloudContactcenterinsightsV1AnswerFeedback": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnswerFeedback",
      "properties": {
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "description": "The correctness level of an answer.",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "type": "string"
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object",
      "properties": {
        "relabel": {
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "readOnly": true,
          "type": "boolean"
        },
        "partialErrors": {
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "totalRequestedAnalysesCount": {
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        },
        "failedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have failed so far.",
          "type": "integer"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest",
          "description": "The original request for bulk analyze."
        },
        "completedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have completed successfully so far.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResult": {
      "description": "The result of an analysis.",
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResult",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time at which the analysis ended.",
          "format": "google-datetime"
        },
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
      "properties": {
        "agentChannel": {
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32"
        },
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`."
        },
        "customerChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Configuration that applies to all conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "description": "A custom payload part.",
      "properties": {
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Arbitrary structured payload."
        },
        "payloadType": {
          "description": "Optional. Type identifier for the payload.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart"
    },
    "GoogleCloudContactcenterinsightsV1ListAnalysisRulesResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListAnalysisRulesResponse",
      "description": "The response of listing views.",
      "properties": {
        "analysisRules": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AnalysisRule"
          },
          "type": "array",
          "description": "The analysis_rule that match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatcher": {
      "description": "The phrase matcher resource.",
      "type": "object",
      "properties": {
        "versionTag": {
          "type": "string",
          "description": "The customized version tag to use for the phrase matcher. If not specified, it will default to `revision_id`."
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp of when the revision was created. It is also the create time when a new matcher is added.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "activationUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the activation status was updated.",
          "readOnly": true
        },
        "roleMatch": {
          "description": "The role whose utterances the phrase matcher should be matched against. If the role is ROLE_UNSPECIFIED it will be matched against any utterances in the transcript.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ]
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the phrase matcher. A new revision is committed whenever the matcher is changed, except when it is activated or deactivated. A server generated random ID will be used. Example: locations/global/phraseMatchers/my-first-matcher@1234567",
          "type": "string",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "Applies the phrase matcher only when it is active."
        },
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rule groups or there is no match.",
            "If any of the phrase match rule groups are met, there is a match."
          ],
          "enum": [
            "PHRASE_MATCHER_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "description": "Required. The type of this phrase matcher.",
          "type": "string"
        },
        "phraseMatchRuleGroups": {
          "description": "A list of phase match rule groups that are included in this matcher.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the phrase matcher was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource": {
      "description": "Google Cloud Storage Object URI to get the issue model file from.",
      "type": "object",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowInteractionData": {
      "properties": {
        "confidence": {
          "format": "float",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "dialogflowIntentId": {
          "type": "string",
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}"
        }
      },
      "description": "Dialogflow interaction data.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Dataset": {
      "type": "object",
      "description": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "For evals only.",
            "Dataset with new conversations coming in regularly (Insights legacy conversations and AI trainer)"
          ],
          "description": "Dataset usage type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EVAL",
            "LIVE"
          ]
        },
        "ttl": {
          "type": "string",
          "description": "Optional. Option TTL for the dataset.",
          "format": "google-duration"
        },
        "name": {
          "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Dataset create time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Dataset update time.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the dataaset"
        },
        "description": {
          "description": "Dataset description.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Dataset"
    },
    "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse": {
      "id": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse",
      "description": "The response from a GenerateConversationSignedAudio request.",
      "properties": {
        "signedAudioUris": {
          "$ref": "GoogleCloudContactcenterinsightsV1SignedAudioUris",
          "description": "The signed uris for the audio."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleRequest": {
      "type": "object",
      "description": "The request message for testing auto labeling rules.",
      "properties": {
        "conversation": {
          "$ref": "GoogleCloudContactcenterinsightsV1Conversation",
          "description": "Required. Conversation data to test rules against."
        },
        "autoLabelingRule": {
          "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRule",
          "description": "Required. The auto labeling rule to test."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestAutoLabelingRuleRequest"
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "description": "Output only. State of the model.",
          "type": "string",
          "readOnly": true
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        },
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "description": "Type of the model.",
          "type": "string"
        },
        "trainingStats": {
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this issue model was created."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "issueCount": {
          "description": "Output only. Number of issues in this issue model.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "displayName": {
          "description": "The representative name for the issue model.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the issue model was updated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueModel",
      "description": "The issue model resource."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest": {
      "type": "object",
      "description": "The request to analyze conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "relabel": {
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "analysisPercentage": {
          "format": "float",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "type": "number"
        },
        "filter": {
          "type": "string",
          "description": "Required. Filter used to select the subset of conversations to analyze."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse",
      "properties": {},
      "type": "object",
      "description": "The response to deploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource": {
      "type": "object",
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "properties": {
        "normalizedScore": {
          "format": "double",
          "description": "The normalized score, which is the score divided by the potential score.",
          "type": "number"
        },
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ],
          "description": "What created the score."
        },
        "score": {
          "format": "double",
          "description": "The overall numerical score of the result.",
          "type": "number"
        },
        "qaTagResults": {
          "description": "Collection of tags and their scores.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardResultQaTagResult"
          }
        },
        "potentialScore": {
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1QaScorecardResultScoreSource"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse",
      "description": "The response to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "description": "A text output message from the system.",
      "properties": {
        "text": {
          "type": "array",
          "description": "The parts of the message.",
          "items": {
            "type": "string"
          }
        },
        "textType": {
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "type": "string",
          "description": "The type of the text message."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput"
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput": {
      "properties": {
        "text": {
          "description": "The text output from the LLM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "description": "The type of text output.",
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified.",
            "The text is part of LLM reasoning.",
            "The text is the final answer from LLM.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ]
        }
      },
      "type": "object",
      "description": "Wrapper for text output.",
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsResponseGenerativeResponseTextOutput"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text of the list item.",
          "type": "string"
        },
        "subItems": {
          "description": "Optional. Nested sub-items.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListItem",
      "description": "An item in a list."
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest": {
      "description": "The request to sample conversations to a dataset.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the dataset."
        },
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDataset",
          "description": "The dataset resource to copy the sampled conversations to."
        },
        "sampleRule": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSampleRule",
          "description": "Optional. The sample rule used for sampling conversations."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1InterruptionData": {
      "description": "The data for an interruption annotation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CesEndSessionAnnotation",
      "properties": {
        "endSession": {
          "$ref": "GoogleCloudCesV1mainEndSession",
          "description": "End session signal from CES."
        }
      },
      "description": "The CES end session annotation."
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudContactcenterinsightsV1alpha1HoldData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1HoldData",
      "properties": {},
      "type": "object",
      "description": "The data for a hold annotation."
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination": {
      "type": "object",
      "properties": {
        "alwaysPrintEmptyFields": {
          "description": "Optional. Always print fields with no presence. This is useful for printing fields that are not set, like implicit 0 value or empty lists/maps. Only applicable for JSON format.",
          "type": "boolean"
        },
        "addWhitespace": {
          "type": "boolean",
          "description": "Optional. Add whitespace to the JSON file. Makes easier to read, but increases file size. Only applicable for JSON format."
        },
        "objectUri": {
          "description": "Required. The Google Cloud Storage URI to write the feedback labels to. The file name will be used as a prefix for the files written to the bucket if the output needs to be split across multiple files, otherwise it will be used as is. The file extension will be appended to the file name based on the format selected. E.g. `gs://bucket_name/object_uri_prefix`",
          "type": "string"
        },
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format. 1,000 labels are stored per CSV file by default.",
            "JSON format. 1 label stored per JSON file by default."
          ],
          "description": "Required. File format in which the labels will be exported.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ]
        },
        "recordsPerFileCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of records per file. Applicable for either format."
        }
      },
      "description": "Google Cloud Storage Object details to write the feedback labels to.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponse": {
      "description": "The response for generative insights.",
      "properties": {
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscript"
        },
        "generativeResponses": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse"
          },
          "type": "array",
          "description": "The full list of generative responses. Each response is ordered by time."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponse"
    },
[...]
