{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://containeranalysis.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://containeranalysis.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://containeranalysis.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://containeranalysis.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://containeranalysis.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://containeranalysis.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://containeranalysis.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://containeranalysis.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://containeranalysis.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://containeranalysis.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://containeranalysis.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://containeranalysis.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "version_module": true,
  "version": "v1alpha1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "name": "containeranalysis",
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "canonicalName": "Container Analysis",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "title": "Container Analysis API",
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Source": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Source",
      "type": "object",
      "properties": {
        "repoSource": {
          "description": "If provided, get the source from this location in a Cloud Source Repository.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
        },
        "developerConnectConfig": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
          "description": "If provided, get the source from this Developer Connect config."
        },
        "gitSource": {
          "description": "If provided, get the source from this Git repository.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource"
        },
        "storageSourceManifest": {
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest"
        },
        "storageSource": {
          "description": "If provided, get the source from this location in Cloud Storage.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource"
        },
        "connectedRepository": {
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository"
        }
      },
      "description": "Location of the source in a supported storage service."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix."
        },
        "packagePath": {
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        },
        "pushTiming": {
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "fileHashes": {
          "description": "Hash types and values of the Maven Artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
        },
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact",
      "description": "A Maven artifact uploaded using the MavenArtifact directive."
    },
    "RepoSource": {
      "description": "RepoSource describes the location of the source in a Google Cloud Source Repository.",
      "id": "RepoSource",
      "type": "object",
      "deprecated": true,
      "properties": {
        "tagName": {
          "type": "string",
          "description": "Name of the tag to build."
        },
        "branchName": {
          "type": "string",
          "description": "Name of the branch to build."
        },
        "repoName": {
          "type": "string",
          "description": "Name of the repo."
        },
        "projectId": {
          "description": "ID of the project that owns the repo.",
          "type": "string"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        },
        "cpeUri": {
          "description": "Deprecated. The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "An occurrence of a particular package installation found within a system's filesystem. e.g. glibc was found in /var/lib/dpkg/status"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial": {
      "type": "object",
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The method by which this artifact was referenced during the build."
        },
        "digest": {
          "type": "object",
          "description": "Collection of cryptographic digests for the contents of this artifact.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial"
    },
    "FileNote": {
      "type": "object",
      "properties": {
        "fileType": {
          "enumDescriptions": [
            "Unspecified",
            "The file is human readable source code (.c, .html, etc.)",
            "The file is a compiled object, target image or binary executable (.o, .a, etc.)",
            "The file represents an archive (.tar, .jar, etc.)",
            "The file is associated with a specific application type (MIME type of application/*)",
            "The file is associated with an audio file (MIME type of audio/* , e.g. .mp3)",
            "The file is associated with an picture image file (MIME type of image/*, e.g., .jpg, .gif)",
            "The file is human readable text file (MIME type of text/*)",
            "The file is associated with a video file type (MIME type of video/*)",
            "The file serves as documentation",
            "The file is an SPDX document",
            "The file doesn't fit into the above categories (generated artifacts, data files, etc.)"
          ],
          "description": "This field provides information about the type of file identified",
          "type": "string",
          "enum": [
            "FILE_TYPE_UNSPECIFIED",
            "SOURCE",
            "BINARY",
            "ARCHIVE",
            "APPLICATION",
            "AUDIO",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "DOCUMENTATION",
            "SPDX",
            "OTHER"
          ]
        },
        "checksum": {
          "items": {
            "type": "string"
          },
          "description": "Provide a unique identifier to match analysis information on each specific file in a package",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Identify the full path and filename that corresponds to the file information in this section"
        }
      },
      "id": "FileNote",
      "description": "FileNote represents an SPDX File Information section: https://spdx.github.io/spdx-spec/4-file-information/"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "type": "object",
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId",
      "properties": {
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        },
        "repoName": {
          "description": "The name of the repo. Leave empty for the default repo.",
          "type": "string"
        }
      }
    },
    "Note": {
      "description": "Provides a detailed description of a `Note`.",
      "properties": {
        "baseImage": {
          "$ref": "Basis",
          "description": "A note describing a base image."
        },
        "buildType": {
          "description": "Build provenance type for a verifiable build.",
          "$ref": "BuildType"
        },
        "spdxPackage": {
          "$ref": "PackageInfoNote",
          "description": "A note describing an SPDX Package."
        },
        "longDescription": {
          "type": "string",
          "description": "A detailed description of this `Note`."
        },
        "sbomReference": {
          "description": "A note describing a reference to an SBOM.",
          "$ref": "SBOMReferenceNote"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this note was last updated. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "spdxFile": {
          "description": "A note describing an SPDX File.",
          "$ref": "FileNote"
        },
        "deployable": {
          "description": "A note describing something that can be deployed.",
          "$ref": "Deployable"
        },
        "name": {
          "type": "string",
          "description": "The name of the note in the form \"projects/{provider_project_id}/notes/{NOTE_ID}\""
        },
        "package": {
          "description": "A note describing a package hosted by various package managers.",
          "$ref": "Package"
        },
        "compliance": {
          "$ref": "ComplianceNote",
          "description": "A note describing a compliance check."
        },
        "dsseAttestation": {
          "description": "A note describing a dsse attestation note.",
          "$ref": "DSSEAttestationNote"
        },
        "upgrade": {
          "description": "A note describing an upgrade.",
          "$ref": "UpgradeNote"
        },
        "vulnerabilityType": {
          "description": "A package vulnerability type of note.",
          "$ref": "VulnerabilityType"
        },
        "expirationTime": {
          "type": "string",
          "description": "Time of expiration for this note, null if note does not expire.",
          "format": "google-datetime"
        },
        "relatedUrl": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "URLs associated with this note",
          "type": "array"
        },
        "aiSkillAnalysis": {
          "description": "A note describing an AI skill analysis.",
          "$ref": "AISkillAnalysisNote"
        },
        "attestationAuthority": {
          "description": "A note describing an attestation role.",
          "$ref": "AttestationAuthority"
        },
        "kind": {
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ],
          "description": "Output only. This explicitly denotes which kind of note is specified. This field can be used as a filter in list requests."
        },
        "discovery": {
          "description": "A note describing a provider/analysis type.",
          "$ref": "Discovery"
        },
        "createTime": {
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests.",
          "type": "string",
          "format": "google-datetime"
        },
        "sbom": {
          "description": "A note describing a software bill of materials.",
          "$ref": "DocumentNote"
        },
        "secret": {
          "description": "A note describing a secret.",
          "$ref": "SecretNote"
        },
        "vulnerabilityAssessment": {
          "$ref": "VulnerabilityAssessmentNote",
          "description": "A note describing a vulnerability assessment."
        },
        "spdxRelationship": {
          "description": "A note describing a relationship between SPDX elements.",
          "$ref": "RelationshipNote"
        },
        "shortDescription": {
          "type": "string",
          "description": "A one sentence description of this `Note`."
        }
      },
      "id": "Note",
      "type": "object"
    },
    "Digest": {
      "description": "Digest information.",
      "properties": {
        "digestBytes": {
          "type": "string",
          "format": "byte",
          "description": "Value of the digest."
        },
        "algo": {
          "description": "`SHA1`, `SHA512` etc.",
          "type": "string"
        }
      },
      "id": "Digest",
      "type": "object"
    },
    "UpdateOperationRequest": {
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        },
        "updateMask": {
          "type": "string",
          "description": "The fields to update.",
          "format": "google-fieldmask"
        }
      },
      "description": "Request for updating an existing operation",
      "type": "object",
      "id": "UpdateOperationRequest"
    },
    "BuilderConfig": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuilderConfig"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule": {
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule",
      "type": "object",
      "properties": {
        "repositoryProjectId": {
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project.",
          "type": "string"
        },
        "sourcePath": {
          "type": "string",
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage"
        },
        "repositoryName": {
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo",
          "type": "string"
        },
        "modulePath": {
          "type": "string",
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2"
        },
        "repositoryLocation": {
          "type": "string",
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location."
        },
        "moduleVersion": {
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5",
          "type": "string"
        }
      }
    },
    "PgpSignedAttestation": {
      "properties": {
        "contentType": {
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ]
        },
        "signature": {
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload.",
          "type": "string"
        },
        "pgpKeyId": {
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.",
          "type": "string"
        }
      },
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "id": "PgpSignedAttestation",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig",
      "properties": {
        "http": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig",
          "description": "Configuration for HTTP related git operations."
        }
      },
      "type": "object",
      "description": "GitConfig is a configuration for git operations."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ListNotesResponse": {
      "description": "Response including listed notes.",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "type": "array",
          "description": "The occurrences requested"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the list response. It should be used as page_token for the following request. An empty value means no more result."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness",
      "type": "object",
      "properties": {
        "environment": {
          "description": "If true, the builder claims that invocation.environment is complete.",
          "type": "boolean"
        },
        "parameters": {
          "description": "If true, the builder claims that invocation.parameters is complete.",
          "type": "boolean"
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials is complete."
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete."
    },
    "Material": {
      "description": "Material is a material used in the generation of the provenance",
      "id": "Material",
      "properties": {
        "uri": {
          "description": "uri is the uri of the material",
          "type": "string"
        },
        "digest": {
          "type": "object",
          "description": "digest is a map from a hash algorithm (e.g. sha256) to the value in the material",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AnalysisCompleted": {
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "id": "AnalysisCompleted",
      "properties": {
        "analysisType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "type of analysis that were completed on a resource."
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "FileLocation": {
      "description": "Indicates the location at which a package was found.",
      "properties": {
        "layerDetails": {
          "description": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package).",
          "$ref": "LayerDetails"
        },
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        },
        "lineNumber": {
          "description": "Line number in the file where the package is found. Optional field that only applies to source repository scanning.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FileLocation",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      }
    },
    "UpgradeNote": {
      "properties": {
        "distributions": {
          "description": "Metadata about the upgrade for each specific operating system.",
          "type": "array",
          "items": {
            "$ref": "UpgradeDistribution"
          }
        },
        "package": {
          "description": "Required - The package this Upgrade is for.",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Required - The version of the package in machine + human readable form."
        }
      },
      "description": "An Upgrade Note represents a potential upgrade of a package to a given version. For each package version combination (i.e. bash 4.0, bash 4.1, bash 4.1.2), there will be a Upgrade Note.",
      "type": "object",
      "id": "UpgradeNote"
    },
    "BuildSignature": {
      "type": "object",
      "id": "BuildSignature",
      "description": "Message encapsulating the signature of the verified build.",
      "properties": {
        "signature": {
          "description": "Signature of the related `BuildProvenance`, encoded in a base64 string.",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service)."
        },
        "publicKey": {
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`",
          "type": "string"
        },
        "keyType": {
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ],
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`"
        }
      }
    },
    "SBOMReferenceOccurrence": {
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "id": "SBOMReferenceOccurrence",
      "properties": {
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        },
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "description": "The signatures over the payload.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Discovered": {
      "id": "Discovered",
      "description": "Provides information about the scan status of a discovered resource.",
      "type": "object",
      "properties": {
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. An operation that indicates the status of the current scan. This field is deprecated, do not use."
        },
        "lastVulnerabilityUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The last time vulnerability scan results changed."
        },
        "analysisStatus": {
          "type": "string",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "COMPLETE",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has completed",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ]
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage output only and populated by the API."
        },
        "vulnerabilityAttestation": {
          "description": "Output only. The status of a vulnerability attestation generation.",
          "$ref": "VulnerabilityAttestation",
          "readOnly": true
        },
        "sbomStatus": {
          "description": "Output only. The status of an SBOM generation.",
          "readOnly": true,
          "$ref": "SBOMStatus"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "Optional. Files that make up the resource described by the occurrence."
        },
        "continuousAnalysis": {
          "enumDescriptions": [
            "Unknown",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Whether the resource is continuously analyzed."
        },
        "archiveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time occurrences related to this discovery occurrence were archived."
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted",
          "description": "The list of analysis that were completed for a resource."
        },
        "analysisError": {
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "SecretNote": {
      "id": "SecretNote",
      "type": "object",
      "properties": {},
      "description": "The note representing a secret."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "SecretLocation": {
      "description": "The location of the secret.",
      "id": "SecretLocation",
      "properties": {
        "fileLocation": {
          "$ref": "FileLocation",
          "description": "The secret is found from a file."
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource": {
      "properties": {
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "branchName": {
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "substitutions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        },
        "invertRegex": {
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex.",
          "type": "boolean"
        },
        "repoName": {
          "type": "string",
          "description": "Required. Name of the Cloud Source Repository."
        },
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        }
      },
      "description": "Location of the source in a Google Cloud Source Repository.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
    },
    "Basis": {
      "id": "Basis",
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url.",
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "The resource_url for the resource representing the basis of associated occurrence images."
        },
        "fingerprint": {
          "description": "The fingerprint of the base image.",
          "$ref": "Fingerprint"
        }
      },
      "type": "object"
    },
    "IdentifierHelper": {
      "description": "Helps in identifying the underlying product. This should be treated like a one-of field. Only one field should be set in this proto. This is a workaround because spanner indexes on one-of fields restrict addition and deletion of fields.",
      "id": "IdentifierHelper",
      "properties": {
        "field": {
          "enumDescriptions": [
            "The helper isn't set.",
            "The generic_uri one-of field is set."
          ],
          "type": "string",
          "enum": [
            "IDENTIFIER_HELPER_FIELD_UNSPECIFIED",
            "GENERIC_URI"
          ],
          "description": "The field that is set in the API proto."
        },
        "genericUri": {
          "description": "Contains a URI which is vendor-specific. Example: The artifact repository URL of an image.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpgradeDistribution": {
      "id": "UpgradeDistribution",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "type": "object",
      "properties": {
        "cve": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The cve that would be resolved by this upgrade."
        },
        "severity": {
          "description": "The severity as specified by the upstream operating system.",
          "type": "string"
        },
        "classification": {
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed.",
          "type": "string"
        },
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        }
      }
    },
    "AttestationAuthority": {
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project.",
      "properties": {
        "hint": {
          "$ref": "AttestationAuthorityHint"
        }
      },
      "id": "AttestationAuthority",
      "type": "object"
    },
    "TokenUsage": {
      "properties": {
        "candidateCount": {
          "description": "Output only. Tokens in the model response.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "promptCount": {
          "description": "Output only. Tokens in the user request.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "toolUsePromptCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Prompt tokens for using tools.",
          "format": "int64"
        },
        "thinkingCount": {
          "description": "Output only. Tokens in the thinking output.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "cacheCount": {
          "description": "Output only. Cache matched tokens for implicit cache.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "TokenUsage",
      "description": "Token usage associated with an AI scan.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets": {
      "description": "Secrets and secret environment variables.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets",
      "properties": {
        "secretManager": {
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret"
          }
        },
        "inline": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret"
          },
          "description": "Secrets encrypted with KMS key and the associated secret environment variable."
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret": {
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret",
      "properties": {
        "kmsKeyName": {
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*",
          "type": "string"
        },
        "envMap": {
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "type": "object",
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        }
      },
      "type": "object"
    },
    "Source": {
      "properties": {
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
        },
        "additionalContexts": {
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
          },
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "type": "array"
        },
        "fileHashes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file."
        },
        "artifactStorageSource": {
          "description": "If provided, the input binary artifacts for the build came from this location.",
          "$ref": "StorageSource"
        },
        "storageSource": {
          "deprecated": true,
          "description": "If provided, get the source from this location in Google Cloud Storage.",
          "$ref": "StorageSource"
        },
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get source from this location in a Cloud Repo.",
          "deprecated": true
        }
      },
      "description": "Source describes the location of the source used for the build.",
      "id": "Source",
      "type": "object"
    },
    "Product": {
      "description": "Product contains information about a product and how to uniquely identify it.",
      "id": "Product",
      "properties": {
        "identifierHelper": {
          "description": "Helps in identifying the underlying product.",
          "$ref": "IdentifierHelper"
        },
        "name": {
          "type": "string",
          "description": "Name of the product."
        },
        "id": {
          "type": "string",
          "description": "Token that identifies a product so that it can be referred to from other parts in the document. There is no predefined format as long as it uniquely identifies a group in the context of the current document."
        }
      },
      "type": "object"
    },
    "BuildDetails": {
      "id": "BuildDetails",
      "type": "object",
      "properties": {
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "The actual provenance"
        },
        "inTotoSlsaProvenanceV1": {
          "$ref": "InTotoSlsaProvenanceV1",
          "description": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance."
        },
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the `BuildSignature` in the corresponding Result. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        }
      },
      "description": "Message encapsulating build provenance details."
    },
    "Version": {
      "id": "Version",
      "description": "Version contains structured information about the version of the package. For a discussion of this in Debian/Ubuntu: http://serverfault.com/questions/604541/debian-packages-version-convention For a discussion of this in Redhat/Fedora/Centos: http://blog.jasonantman.com/2014/07/how-yum-and-rpm-compare-versions/",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The main part of the version name."
        },
        "epoch": {
          "format": "int32",
          "description": "Used to correct mistakes in the version numbering scheme.",
          "type": "integer"
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is vulnerable, when defining the version bounds. For example, if the minimum version is 2.0, inclusive=true would say 2.0 is vulnerable, while inclusive=false would say it's not"
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "kind": {
          "type": "string",
          "enum": [
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "enumDescriptions": [
            "A standard package version, defined by the other fields.",
            "A special version representing negative infinity, other fields are ignored.",
            "A special version representing positive infinity, other fields are ignored."
          ],
          "description": "Distinguish between sentinel MIN/MAX versions and normal versions. If kind is not NORMAL, then the other fields are ignored."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
      "description": "Start and end times for a build execution phase.",
      "properties": {
        "startTime": {
          "description": "Start of time span.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End of time span.",
          "type": "string"
        }
      }
    },
    "VulnerabilityLocation": {
      "description": "The location of the vulnerability",
      "id": "VulnerabilityLocation",
      "properties": {
        "fileLocation": {
          "type": "array",
          "description": "The file location at which this package was found.",
          "items": {
            "$ref": "FileLocation"
          }
        },
        "package": {
          "type": "string",
          "description": "The package being described."
        },
        "version": {
          "description": "The version of the package being described. This field can be used as a filter in list requests.",
          "$ref": "Version"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests."
        }
      },
      "type": "object"
    },
    "Occurrence": {
      "properties": {
        "aiSkillAnalysis": {
          "$ref": "AISkillAnalysisOccurrence",
          "description": "This represents an AI skill analysis occurrence"
        },
        "sbom": {
          "description": "Describes a specific software bill of materials document.",
          "$ref": "DocumentOccurrence"
        },
        "compliance": {
          "description": "Describes whether or not a resource passes compliance checks.",
          "$ref": "ComplianceOccurrence"
        },
        "spdxRelationship": {
          "$ref": "RelationshipOccurrence",
          "description": "Describes a specific relationship between SPDX elements."
        },
        "attestation": {
          "description": "Describes an attestation of an artifact.",
          "$ref": "Attestation"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this `Occurrence` was last updated.",
          "format": "google-datetime"
        },
        "upgrade": {
          "description": "Describes an upgrade.",
          "$ref": "UpgradeOccurrence"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "Deployment"
        },
        "vulnerabilityDetails": {
          "description": "Details of a security vulnerability note.",
          "$ref": "VulnerabilityDetails"
        },
        "discovered": {
          "description": "Describes the initial scan status for this resource.",
          "$ref": "Discovered"
        },
        "secret": {
          "description": "This represents a secret occurrence",
          "$ref": "SecretOccurrence"
        },
        "installation": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "Installation"
        },
        "spdxPackage": {
          "description": "Describes a specific SPDX Package.",
          "$ref": "PackageInfoOccurrence"
        },
        "kind": {
          "description": "Output only. This explicitly denotes which of the `Occurrence` details are specified. This field can be used as a filter in list requests.",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ]
        },
        "resource": {
          "description": " The resource for which the `Occurrence` applies.",
          "$ref": "Resource"
        },
        "name": {
          "description": "Output only. The name of the `Occurrence` in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
          "type": "string"
        },
        "spdxFile": {
          "$ref": "FileOccurrence",
          "description": "Describes a specific SPDX File."
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the `Note`"
        },
        "sbomReference": {
          "$ref": "SBOMReferenceOccurrence",
          "description": "This represents an SBOM reference occurrence"
        },
        "noteName": {
          "description": "An analysis note associated with this image, in the form \"providers/{provider_id}/notes/{NOTE_ID}\" This field can be used as a filter in list requests.",
          "type": "string"
        },
        "resourceUrl": {
          "type": "string",
          "description": "The unique URL of the image or the container for which the `Occurrence` applies. For example, https://gcr.io/project/image@sha256:foo This field can be used as a filter in list requests."
        },
        "createTime": {
          "description": "Output only. The time this `Occurrence` was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "dsseAttestation": {
          "$ref": "DSSEAttestationOccurrence",
          "description": "This represents a DSSE attestation occurrence"
        },
        "derivedImage": {
          "$ref": "Derived",
          "description": "Describes how this resource derives from the basis in the associated note."
        },
        "buildDetails": {
          "$ref": "BuildDetails",
          "description": "Build details for a verifiable build."
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "https://github.com/secure-systems-lab/dsse"
        }
      },
      "type": "object",
      "id": "Occurrence",
      "description": "`Occurrence` includes information about analysis occurrences for an image."
    },
    "Assessment": {
      "id": "Assessment",
      "description": "Assessment provides all information that is related to a single vulnerability for this product.",
      "properties": {
        "justification": {
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
          "$ref": "Justification"
        },
        "vulnerabilityId": {
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc.",
          "type": "string"
        },
        "relatedUris": {
          "items": {
            "$ref": "URI"
          },
          "type": "array",
          "description": "Holds a list of references associated with this vulnerability item and assessment. These uris have additional information about the vulnerability and the assessment itself. E.g. Link to a document which details how this assessment concluded the state of this vulnerability."
        },
        "longDescription": {
          "description": "A detailed description of this Vex.",
          "type": "string"
        },
        "remediations": {
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "type": "array",
          "items": {
            "$ref": "Remediation"
          }
        },
        "cve": {
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability.",
          "type": "string"
        },
        "shortDescription": {
          "description": "A one sentence description of this Vex.",
          "type": "string"
        },
        "impacts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Contains information about the impact of this vulnerability, this will change with time."
        },
        "state": {
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "description": "Provides the state of this Vulnerability assessment."
        }
      },
      "type": "object"
    },
    "ComplianceVersion": {
      "id": "ComplianceVersion",
      "properties": {
        "benchmarkDocument": {
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\".",
          "type": "string"
        },
        "cpeUri": {
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
          "type": "string"
        },
        "version": {
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in.",
          "type": "string"
        }
      },
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version.",
      "type": "object"
    },
    "SlsaRecipe": {
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "environment": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64",
          "type": "string"
        },
        "arguments": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        }
      },
      "id": "SlsaRecipe",
      "type": "object"
    },
    "Command": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Command-line arguments used when executing this Command."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Environment variables set before running this Command."
        },
        "dir": {
          "description": "Working directory (relative to project source root) used when running this Command.",
          "type": "string"
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the Command(s) that this Command depends on.",
          "type": "array"
        },
        "name": {
          "description": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Command",
      "description": "Command describes a step performed as part of the build pipeline."
    },
    "Finding": {
      "id": "Finding",
      "type": "object",
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "properties": {
        "scanner": {
          "type": "string",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ],
          "description": "Optional. Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ]
        },
        "details": {
          "description": "Optional. Description of the finding category.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Optional. Category of the finding."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "description": "Optional. Severity of the finding.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ]
        },
        "location": {
          "$ref": "FindingLocation",
          "description": "Optional. Location (path and line) where the finding was detected."
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time that this operation was marked completed or failed.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata",
      "description": "Metadata for all operations used and required for all operations that created by Container Analysis Providers"
    },
    "ExternalRef": {
      "id": "ExternalRef",
      "type": "object",
      "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package",
      "properties": {
        "comment": {
          "type": "string",
          "description": "Human-readable information about the purpose and target of the reference"
        },
        "locator": {
          "description": "The unique string with no spaces necessary to access the package-specific information, metadata, or content within the target location",
          "type": "string"
        },
        "type": {
          "description": "Type of category (e.g. 'npm' for the PACKAGE_MANAGER category)",
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "Unspecified",
            "Security (e.g. cpe22Type, cpe23Type)",
            "Package Manager (e.g. maven-central, npm, nuget, bower, purl)",
            "Persistent-Id (e.g. swh)",
            "Other"
          ],
          "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package",
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "SECURITY",
            "PACKAGE_MANAGER",
            "PERSISTENT_ID",
            "OTHER"
          ]
        }
      }
    },
    "Completeness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Completeness"
    },
    "Recipe": {
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "type": "object",
      "id": "Recipe",
      "properties": {
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "definedInMaterial": {
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64"
        },
        "arguments": {
          "type": "array",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
      "type": "object",
      "properties": {
        "approvalTime": {
          "description": "Output only. The time when the approval decision was made.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "decision": {
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "description": "Required. The decision of this manual approval.",
          "type": "string",
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ]
        },
        "url": {
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
          "type": "string"
        },
        "approverAccount": {
          "readOnly": true,
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called.",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "Optional. An optional comment for this manual approval result."
        }
      },
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
    },
    "ResourceDescriptor": {
      "properties": {
        "name": {
          "type": "string"
        },
        "downloadLocation": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceDescriptor"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StepResult",
      "description": "StepResult is the declaration of a result for a build step.",
      "properties": {
        "attestationContent": {
          "type": "string",
          "description": "Optional. The content of the attestation to be generated."
        },
        "attestationType": {
          "type": "string",
          "description": "Optional. The type of attestation to be generated."
        },
        "name": {
          "description": "Required. The name of the result.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Envelope": {
      "properties": {
        "payload": {
          "format": "byte",
          "type": "string",
          "description": "The bytes being signed"
        },
        "payloadType": {
          "type": "string",
          "description": "The type of payload being signed"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array",
          "description": "The signatures over the payload"
        }
      },
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "type": "object",
      "id": "Envelope"
    },
    "CreateOperationRequest": {
      "properties": {
        "operation": {
          "description": "The operation to create.",
          "$ref": "Operation"
        },
        "operationId": {
          "type": "string",
          "description": "The ID to use for this operation."
        }
      },
      "id": "CreateOperationRequest",
      "description": "Request for creating an operation",
      "type": "object"
    },
    "PackageIssue": {
      "id": "PackageIssue",
      "type": "object",
      "description": "This message wraps a location affected by a vulnerability and its associated fix (if one is available).",
      "properties": {
        "affectedLocation": {
          "description": "The location of the vulnerability.",
          "$ref": "VulnerabilityLocation"
        },
        "fixedLocation": {
          "description": "The location of the available fix for vulnerability.",
          "$ref": "VulnerabilityLocation"
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when distro or language system has not yet assigned a severity for this vulnerability."
        },
        "severityName": {
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository",
      "properties": {
        "developerConnect": {
          "type": "string",
          "description": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
        },
        "url": {
          "type": "string",
          "description": "Location of the Git repository."
        }
      },
      "description": "A repository for a git source."
    },
    "DSSEAttestationOccurrence": {
      "properties": {
        "envelope": {
          "$ref": "Envelope",
          "description": "If doing something security critical, make sure to verify the signatures in this metadata."
        },
        "statement": {
          "$ref": "InTotoStatement"
        }
      },
      "type": "object",
      "description": "An occurrence describing an attestation on a resource",
      "id": "DSSEAttestationOccurrence"
    },
    "InTotoProvenance": {
      "id": "InTotoProvenance",
      "type": "object",
      "properties": {
        "materials": {
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recipe": {
          "$ref": "Recipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "builderConfig": {
          "$ref": "BuilderConfig",
          "description": "required"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "WorkspacePolicyResult": {
      "properties": {
        "verdict": {
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "description": "Optional. Verdict of the scan.",
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ]
        },
        "scanState": {
          "description": "Output only. State of the scan.",
          "enum": [
            "SCAN_STATE_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan state.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Result of Workspace Policy scan.",
      "type": "object",
      "id": "WorkspacePolicyResult"
    },
    "FileHashes": {
      "type": "object",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "description": "Collection of file hashes.",
          "type": "array"
        }
      },
      "id": "FileHashes",
      "description": "Container message for hashes of byte content of files, used in Source messages to verify integrity of source input to the build."
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "properties": {
        "builtArtifacts": {
          "items": {
            "$ref": "Artifact"
          },
          "description": "Output of the build.",
          "type": "array"
        },
        "logsBucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket where logs were written."
        },
        "startTime": {
          "type": "string",
          "description": "Time at which execution of the build was started.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Time at which the build was created.",
          "format": "google-datetime"
        },
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        },
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "description": "Commands requested by the build.",
          "type": "array"
        },
        "finishTime": {
          "description": "Time at which execution of the build was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier of the build.",
          "type": "string"
        }
      },
      "id": "BuildProvenance",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions",
      "properties": {
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "machineType": {
          "description": "Compute Engine machine type on which to run the build.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM",
            "E2_STANDARD_2"
          ],
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU.",
            "E2 machine with 2 CPUs."
          ]
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption"
        },
        "defaultLogsBucketBehavior": {
          "type": "string",
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "description": "Optional. Option to specify how default logs buckets are setup."
        },
        "logging": {
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "type": "string"
        },
        "requestedVerifyOption": {
          "description": "Requested verifiability options.",
          "type": "string",
          "enumDescriptions": [
[...]
