{
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://contentwarehouse.googleapis.com/",
  "documentationLink": "https://cloud.google.com/document-warehouse",
  "id": "contentwarehouse:v1",
  "mtlsRootUrl": "https://contentwarehouse.mtls.googleapis.com/",
  "version_module": true,
  "title": "Document AI Warehouse API",
  "description": "",
  "name": "contentwarehouse",
  "revision": "20250206",
  "batchPath": "batch",
  "basePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "canonicalName": "contentwarehouse",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudContentwarehouseV1HistogramQuery": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1HistogramQuery",
      "description": "The histogram request.",
      "properties": {
        "requirePreciseResultSize": {
          "type": "boolean",
          "description": "Controls if the histogram query requires the return of a precise count. Enable this flag may adversely impact performance. Defaults to true."
        },
        "histogramQuery": {
          "description": "An expression specifies a histogram request against matching documents for searches. See SearchDocumentsRequest.histogram_queries for details about syntax.",
          "type": "string"
        },
        "filters": {
          "$ref": "GoogleCloudContentwarehouseV1HistogramQueryPropertyNameFilter",
          "description": "Optional. Filter the result of histogram query by the property names. It only works with histogram query count('FilterableProperties'). It is an optional. It will perform histogram on all the property names for all the document schemas. Setting this field will have a better performance."
        }
      }
    },
    "GoogleCloudContentwarehouseV1CustomWeightsMetadata": {
      "properties": {
        "weightedSchemaProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1WeightedSchemaProperty"
          },
          "description": "List of schema and property name. Allows a maximum of 10 schemas to be specified for relevance boosting."
        }
      },
      "description": "To support the custom weighting across document schemas.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1CustomWeightsMetadata"
    },
    "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest": {
      "properties": {
        "documentLink": {
          "$ref": "GoogleCloudContentwarehouseV1DocumentLink",
          "description": "Required. Document links associated with the source documents (source_document_id)."
        },
        "requestMetadata": {
          "description": "The meta information collected about the document creator, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      },
      "id": "GoogleCloudContentwarehouseV1CreateDocumentLinkRequest",
      "description": "Request message for DocumentLinkService.CreateDocumentLink.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata": {
      "description": "The metadata message for Process-with-DocAi pipeline.",
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataProcessWithDocAiPipelineMetadata",
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "description": "The input list of all the resource names of the documents to be processed.",
          "items": {
            "type": "string"
          }
        },
        "processorInfo": {
          "description": "The DocAI processor to process the documents with.",
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
        }
      }
    },
    "GoogleCloudContentwarehouseV1EnumTypeOptions": {
      "type": "object",
      "description": "Configurations for an enum/categorical property.",
      "id": "GoogleCloudContentwarehouseV1EnumTypeOptions",
      "properties": {
        "possibleValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of possible enum values."
        },
        "validationCheckDisabled": {
          "type": "boolean",
          "description": "Make sure the Enum property value provided in the document is in the possile value list during document creation. The validation check runs by default."
        }
      }
    },
    "CloudAiPlatformTenantresourceTenantProjectConfig": {
      "type": "object",
      "description": "The identity to configure a tenant project.",
      "properties": {
        "policyBindings": {
          "description": "Input/Output [Required]. The policy bindings that are applied to the tenant project during creation. At least one binding must have the role `roles/owner` with either `user` or `group` type.",
          "type": "array",
          "items": {
            "$ref": "GoogleApiServiceconsumermanagementV1PolicyBinding"
          }
        },
        "folder": {
          "description": "Input/Output [Required]. The folder that holds tenant projects and folder-level permissions will be automatically granted to all tenant projects under the folder. Note: the valid folder format is `folders/{folder_number}`.",
          "type": "string"
        },
        "billingConfig": {
          "$ref": "GoogleApiServiceconsumermanagementV1BillingConfig",
          "description": "Input/Output [Required]. The billing account properties to create the tenant project."
        },
        "services": {
          "type": "array",
          "description": "Input/Output [Required]. The API services that are enabled on the tenant project during creation.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CloudAiPlatformTenantresourceTenantProjectConfig"
    },
    "CloudAiPlatformTenantresourceInfraSpannerConfig": {
      "id": "CloudAiPlatformTenantresourceInfraSpannerConfig",
      "type": "object",
      "description": "The configuration for a spanner database provisioning. Next ID: 8",
      "properties": {
        "spannerBorgServiceAccount": {
          "description": "Input [Optional]. The spanner borg service account for delegating the kms key to. For example, spanner-infra-cmek-nonprod@system.gserviceaccount.com, for the nonprod universe.",
          "type": "string"
        },
        "spannerNamespace": {
          "type": "string"
        },
        "createDatabaseOptions": {
          "$ref": "CloudAiPlatformTenantresourceInfraSpannerConfigCreateDatabaseOptions",
          "description": "Input [Optional]. The options to create a spanner database. Note: give the right options to ensure the right KMS key access audit logging and AxT logging in expected logging category."
        },
        "kmsKeyReference": {
          "type": "string",
          "description": "Input [Optional]. The KMS key name or the KMS grant name used for CMEK encryption. Only set this field when provisioning new Infra Spanner databases. For existing Infra Spanner databases, this field will be ignored because CMEK re-encryption is not supported. For example, projects//locations//keyRings//cryptoKeys/"
        },
        "spannerUniverse": {
          "type": "string",
          "description": "Input [Required]. Every database in Spanner can be identified by the following path name: /span//:"
        },
        "sdlBundlePath": {
          "type": "string",
          "description": "Input [Required]. The file path to the spanner SDL bundle."
        },
        "spannerLocalNamePrefix": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageLine": {
      "id": "GoogleCloudDocumentaiV1DocumentPageLine",
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Line."
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1Rule": {
      "properties": {
        "actions": {
          "description": "List of actions that are executed when the rule is satisfied.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Action"
          },
          "type": "array"
        },
        "ruleId": {
          "description": "ID of the rule. It has to be unique across all the examples. This is managed internally.",
          "type": "string"
        },
        "triggerType": {
          "enumDescriptions": [
            "Trigger for unknown action.",
            "Trigger for create document action.",
            "Trigger for update document action.",
            "Trigger for create link action.",
            "Trigger for delete link action."
          ],
          "description": "Identifies the trigger type for running the policy.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ON_CREATE",
            "ON_UPDATE",
            "ON_CREATE_LINK",
            "ON_DELETE_LINK"
          ]
        },
        "condition": {
          "description": "Represents the conditional expression to be evaluated. Expression should evaluate to a boolean result. When the condition is true actions are executed. Example: user_role = \"hsbc_role_1\" AND doc.salary > 20000",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Short description of the rule and its context."
        }
      },
      "description": "Represents the rule for a content warehouse trigger.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1Rule"
    },
    "GoogleCloudContentwarehouseV1FetchAclResponse": {
      "id": "GoogleCloudContentwarehouseV1FetchAclResponse",
      "properties": {
        "policy": {
          "description": "The IAM policy.",
          "$ref": "GoogleIamV1Policy"
        },
        "metadata": {
          "$ref": "GoogleCloudContentwarehouseV1ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request tracking id."
        }
      },
      "type": "object",
      "description": "Response message for DocumentService.FetchAcl."
    },
    "GoogleCloudContentwarehouseV1RunPipelineMetadataIndividualDocumentStatus": {
      "type": "object",
      "properties": {
        "documentId": {
          "description": "Document identifier of an existing document.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status processing the document."
        }
      },
      "description": "The status of processing a document.",
      "id": "GoogleCloudContentwarehouseV1RunPipelineMetadataIndividualDocumentStatus"
    },
    "GoogleCloudContentwarehouseV1TextTypeOptions": {
      "type": "object",
      "description": "Configurations for a text property.",
      "id": "GoogleCloudContentwarehouseV1TextTypeOptions",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "type": "object",
      "description": "Represents a chunk.",
      "properties": {
        "pageFooters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "description": "Page footers associated with the chunk."
        },
        "chunkId": {
          "type": "string",
          "description": "ID of the chunk."
        },
        "content": {
          "description": "Text content of the chunk.",
          "type": "string"
        },
        "sourceBlockIds": {
          "description": "Unused.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the chunk."
        },
        "pageHeaders": {
          "type": "array",
          "description": "Page headers associated with the chunk.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
    },
    "GoogleCloudContentwarehouseV1SynonymSet": {
      "id": "GoogleCloudContentwarehouseV1SynonymSet",
      "description": "Represents a list of synonyms for a given context. For example a context \"sales\" could contain: Synonym 1: sale, invoice, bill, order Synonym 2: money, credit, finance, payment Synonym 3: shipping, freight, transport Each SynonymSets should be disjoint",
      "properties": {
        "synonyms": {
          "description": "List of Synonyms for the context.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SynonymSetSynonym"
          },
          "type": "array"
        },
        "context": {
          "description": "This is a freeform field. Example contexts can be \"sales,\" \"engineering,\" \"real estate,\" \"accounting,\" etc. The context can be supplied during search requests.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the SynonymSet This is mandatory for google.api.resource. Format: projects/{project_number}/locations/{location}/synonymSets/{context}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "id": "GoogleCloudDocumentaiV1DocumentEntityRelation",
      "properties": {
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        }
      },
      "type": "object",
      "description": "Relationship between Entities."
    },
    "GoogleCloudContentwarehouseV1Property": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1Property",
      "description": "Property of a document.",
      "properties": {
        "integerValues": {
          "$ref": "GoogleCloudContentwarehouseV1IntegerArray",
          "description": "Integer property values."
        },
        "dateTimeValues": {
          "$ref": "GoogleCloudContentwarehouseV1DateTimeArray",
          "description": "Date time property values. It is not supported by CMEK compliant deployment."
        },
        "propertyValues": {
          "$ref": "GoogleCloudContentwarehouseV1PropertyArray",
          "description": "Nested structured data property values."
        },
        "mapProperty": {
          "$ref": "GoogleCloudContentwarehouseV1MapProperty",
          "description": "Map property values."
        },
        "enumValues": {
          "description": "Enum property values.",
          "$ref": "GoogleCloudContentwarehouseV1EnumArray"
        },
        "floatValues": {
          "$ref": "GoogleCloudContentwarehouseV1FloatArray",
          "description": "Float property values."
        },
        "timestampValues": {
          "description": "Timestamp property values. It is not supported by CMEK compliant deployment.",
          "$ref": "GoogleCloudContentwarehouseV1TimestampArray"
        },
        "textValues": {
          "description": "String/text property values.",
          "$ref": "GoogleCloudContentwarehouseV1TextArray"
        },
        "name": {
          "type": "string",
          "description": "Required. Must match the name of a PropertyDefinition in the DocumentSchema."
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
      "description": "Represents a text type block.",
      "properties": {
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`."
        },
        "text": {
          "description": "Text content stored in the block.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1ProcessWithDocAiPipeline": {
      "id": "GoogleCloudContentwarehouseV1ProcessWithDocAiPipeline",
      "description": "The configuration of processing documents in Document Warehouse with DocAi processors pipeline.",
      "properties": {
        "documents": {
          "description": "The list of all the resource names of the documents to be processed. Format: projects/{project_number}/locations/{location}/documents/{document_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportFolderPath": {
          "description": "The Cloud Storage folder path used to store the exported documents before being sent to CDW. Format: `gs:///`.",
          "type": "string"
        },
        "processorInfo": {
          "description": "The CDW processor information.",
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
        },
        "processorResultsFolderPath": {
          "description": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageSymbol": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageSymbol",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        }
      },
      "description": "A detected symbol."
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores",
      "properties": {
        "qualityScore": {
          "type": "number",
          "format": "float",
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality."
        },
        "detectedDefects": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
          },
          "description": "A list of detected defects.",
          "type": "array"
        }
      },
      "description": "Image quality scores for the page image."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayout": {
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "List of blocks in the document."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayout"
    },
    "CloudAiPlatformTenantresourceTenantResource": {
      "description": "A collection of tenant resources.",
      "type": "object",
      "properties": {
        "p4ServiceAccounts": {
          "type": "array",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceServiceAccountIdentity"
          },
          "description": "A list of P4 service accounts (go/p4sa) to provision or deprovision."
        },
        "tenantProjectResources": {
          "description": "A list of tenant projects and tenant resources to provision or deprovision.",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceTenantProjectResource"
          },
          "type": "array"
        }
      },
      "id": "CloudAiPlatformTenantresourceTenantResource"
    },
    "GoogleCloudDocumentaiV1DocumentPageTableTableRow": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTableTableRow",
      "description": "A row of table cells.",
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "description": "Cells that make up this row.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableCell"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1CreateDocumentRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "Default document policy during creation. This refers to an Identity and Access (IAM) policy, which specifies access controls for the Document. Conditions defined in the policy will be ignored."
        },
        "createMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Field mask for creating Document fields. If mask path is empty, it means all fields are masked. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask."
        },
        "document": {
          "$ref": "GoogleCloudContentwarehouseV1Document",
          "description": "Required. The document to create."
        },
        "cloudAiDocumentOption": {
          "description": "Request Option for processing Cloud AI Document in Document Warehouse. This field offers limited support for mapping entities from Cloud AI Document to Warehouse Document. Please consult with product team before using this field and other available options.",
          "$ref": "GoogleCloudContentwarehouseV1CloudAIDocumentOption"
        },
        "requestMetadata": {
          "description": "The meta information collected about the end user, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      },
      "description": "Request message for DocumentService.CreateDocument.",
      "id": "GoogleCloudContentwarehouseV1CreateDocumentRequest"
    },
    "GoogleCloudDocumentaiV1DocumentTextChange": {
      "description": "This message is used for text changes aka. OCR corrections.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentTextChange",
      "properties": {
        "provenance": {
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
          },
          "description": "The history of this annotation.",
          "type": "array"
        },
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        }
      }
    },
    "GoogleCloudContentwarehouseV1Action": {
      "description": "Represents the action triggered by Rule Engine when the rule is true.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1Action",
      "properties": {
        "removeFromFolderAction": {
          "description": "Action removing a document from a folder.",
          "$ref": "GoogleCloudContentwarehouseV1RemoveFromFolderAction"
        },
        "dataValidation": {
          "description": "Action triggering data validation operations.",
          "$ref": "GoogleCloudContentwarehouseV1DataValidationAction"
        },
        "deleteDocumentAction": {
          "$ref": "GoogleCloudContentwarehouseV1DeleteDocumentAction",
          "description": "Action deleting the document."
        },
        "dataUpdate": {
          "$ref": "GoogleCloudContentwarehouseV1DataUpdateAction",
          "description": "Action triggering data update operations."
        },
        "accessControl": {
          "description": "Action triggering access control operations.",
          "$ref": "GoogleCloudContentwarehouseV1AccessControlAction"
        },
        "actionId": {
          "type": "string",
          "description": "ID of the action. Managed internally."
        },
        "publishToPubSub": {
          "description": "Action publish to Pub/Sub operation.",
          "$ref": "GoogleCloudContentwarehouseV1PublishAction"
        },
        "addToFolder": {
          "description": "Action triggering create document link operation.",
          "$ref": "GoogleCloudContentwarehouseV1AddToFolderAction"
        }
      }
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest": {
      "description": "Request message for DocumentSchemaService.UpdateDocumentSchema.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentSchemaRequest",
      "properties": {
        "documentSchema": {
          "description": "Required. The document schema to update with.",
          "$ref": "GoogleCloudContentwarehouseV1DocumentSchema"
        }
      }
    },
    "CloudAiPlatformTenantresourceTenantProjectResource": {
      "type": "object",
      "description": "The tenant project and tenant resources. Next ID: 10",
      "id": "CloudAiPlatformTenantresourceTenantProjectResource",
      "properties": {
        "iamPolicyBindings": {
          "items": {
            "$ref": "CloudAiPlatformTenantresourceIamPolicyBinding"
          },
          "type": "array",
          "description": "The dynamic IAM bindings that are granted under the tenant project. Note: this should only add new bindings to the project if they don't exist and the existing bindings won't be affected."
        },
        "tenantProjectId": {
          "type": "string",
          "description": "Output only. The tenant project ID that has been created."
        },
        "infraSpannerConfigs": {
          "description": "The Infra Spanner databases that are provisioned under the tenant project. Note: this is an experimental feature.",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceInfraSpannerConfig"
          },
          "type": "array"
        },
        "tenantProjectConfig": {
          "$ref": "CloudAiPlatformTenantresourceTenantProjectConfig",
          "description": "The configurations of a tenant project."
        },
        "tag": {
          "type": "string",
          "description": "Input/Output [Required]. The tag that uniquely identifies a tenant project within a tenancy unit. Note: for the same tenant project tag, all tenant manager operations should be idempotent."
        },
        "tenantProjectNumber": {
          "description": "Output only. The tenant project number that has been created.",
          "format": "int64",
          "type": "string"
        },
        "tenantServiceAccounts": {
          "items": {
            "$ref": "CloudAiPlatformTenantresourceTenantServiceAccountIdentity"
          },
          "type": "array",
          "description": "The service account identities (or enabled API service's P4SA) that are expclicitly created under the tenant project (before JIT provisioning during enabled API services)."
        },
        "gcsBuckets": {
          "type": "array",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceGcsBucketConfig"
          },
          "description": "The GCS buckets that are provisioned under the tenant project."
        },
        "cloudSqlInstances": {
          "type": "array",
          "items": {
            "$ref": "CloudAiPlatformTenantresourceCloudSqlInstanceConfig"
          },
          "description": "The CloudSQL instances that are provisioned under the tenant project."
        }
      }
    },
    "GoogleCloudContentwarehouseV1beta1InitializeProjectResponse": {
      "properties": {
        "state": {
          "description": "The state of the project initialization process.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RUNNING"
          ],
          "enumDescriptions": [
            "Clients should never see this.",
            "Finished project initialization without error.",
            "Finished project initialization with an error.",
            "Client canceled the LRO.",
            "Ask the customer to check the operation for results."
          ],
          "type": "string"
        },
        "message": {
          "description": "The message of the project initialization process.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for projectService.InitializeProject",
      "id": "GoogleCloudContentwarehouseV1beta1InitializeProjectResponse"
    },
    "GoogleCloudContentwarehouseV1PropertyFilter": {
      "type": "object",
      "properties": {
        "documentSchemaName": {
          "type": "string",
          "description": "The Document schema name Document.document_schema_name. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}."
        },
        "condition": {
          "description": "The filter condition. The syntax for this expression is a subset of SQL syntax. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, `>=`, and `~~` where the left of the operator is a property name and the right of the operator is a number or a quoted string. You must escape backslash (\\\\) and quote (\\\") characters. `~~` is the LIKE operator. The right of the operator must be a string. The only supported property data type for LIKE is text_values. It provides semantic search functionality by parsing, stemming and doing synonyms expansion against the input query. It matches if the property contains semantic similar content to the query. It is not regex matching or wildcard matching. For example, \"property.company ~~ \\\"google\\\"\" will match records whose property `property.compnay` have values like \"Google Inc.\", \"Google LLC\" or \"Google Company\". Supported functions are `LOWER([property_name])` to perform a case insensitive match and `EMPTY([property_name])` to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 100 comparisons or functions are allowed in the expression. The expression must be < 6000 bytes in length. Only properties that are marked filterable are allowed (PropertyDefinition.is_filterable). Property names do not need to be prefixed by the document schema id (as is the case with histograms), however property names will need to be prefixed by its parent hierarchy, if any. For example: top_property_name.sub_property_name. Sample Query: `(LOWER(driving_license)=\"class \\\"a\\\"\" OR EMPTY(driving_license)) AND driving_years > 10` CMEK compliant deployment only supports: * Operators: `=`, `<`, `<=`, `>`, and `>=`. * Boolean expressions: AND and OR.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContentwarehouseV1PropertyFilter"
    },
    "GoogleCloudContentwarehouseV1SearchDocumentsResponse": {
      "type": "object",
      "properties": {
        "matchingDocuments": {
          "description": "The document entities that match the specified SearchDocumentsRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SearchDocumentsResponseMatchingDocument"
          }
        },
        "metadata": {
          "description": "Additional information for the API invocation, such as the request tracking id.",
          "$ref": "GoogleCloudContentwarehouseV1ResponseMetadata"
        },
        "totalSize": {
          "description": "The total number of matched documents which is available only if the client set SearchDocumentsRequest.require_total_size to `true` or set SearchDocumentsRequest.total_result_size to `ESTIMATED_SIZE` or `ACTUAL_SIZE`. Otherwise, the value will be `-1`. Typically a UI would handle this condition by displaying \"of many\", for example: \"Displaying 10 of many\".",
          "format": "int32",
          "type": "integer"
        },
        "questionAnswer": {
          "type": "string",
          "description": "Experimental. Question answer from the query against the document."
        },
        "nextPageToken": {
          "description": "The token that specifies the starting position of the next page of results. This field is empty if there are no more results.",
          "type": "string"
        },
        "histogramQueryResults": {
          "type": "array",
          "description": "The histogram results that match with the specified SearchDocumentsRequest.histogram_queries.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1HistogramQueryResult"
          }
        }
      },
      "description": "Response message for DocumentService.SearchDocuments.",
      "id": "GoogleCloudContentwarehouseV1SearchDocumentsResponse"
    },
    "GoogleCloudContentwarehouseV1UpdateOptions": {
      "type": "object",
      "description": "Options for Update operations.",
      "id": "GoogleCloudContentwarehouseV1UpdateOptions",
      "properties": {
        "updateMask": {
          "description": "Field mask for merging Document fields. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
          "type": "string",
          "format": "google-fieldmask"
        },
        "updateType": {
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "UPDATE_TYPE_REPLACE",
            "UPDATE_TYPE_MERGE",
            "UPDATE_TYPE_INSERT_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_REPLACE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_DELETE_PROPERTIES_BY_NAMES",
            "UPDATE_TYPE_MERGE_AND_REPLACE_OR_INSERT_PROPERTIES_BY_NAMES"
          ],
          "description": "Type for update.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to full replace behavior, ie. FULL_REPLACE.",
            "Fully replace all the fields (including previously linked raw document). Any field masks will be ignored.",
            "Merge the fields into the existing entities.",
            "Inserts the properties by names.",
            "Replace the properties by names.",
            "Delete the properties by names.",
            "For each of the property, replaces the property if the it exists, otherwise inserts a new property. And for the rest of the fields, merge them based on update mask and merge fields options."
          ]
        },
        "mergeFieldsOptions": {
          "description": "Options for merging.",
          "$ref": "GoogleCloudContentwarehouseV1MergeFieldsOptions"
        }
      }
    },
    "GoogleCloudContentwarehouseV1PropertyDefinition": {
      "id": "GoogleCloudContentwarehouseV1PropertyDefinition",
      "properties": {
        "isRepeatable": {
          "type": "boolean",
          "description": "Whether the property can have multiple values."
        },
        "name": {
          "description": "Required. The name of the metadata property. Must be unique within a document schema and is case insensitive. Names must be non-blank, start with a letter, and can contain alphanumeric characters and: /, :, -, _, and .",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display-name for the property, used for front-end."
        },
        "timestampTypeOptions": {
          "description": "Timestamp property. It is not supported by CMEK compliant deployment.",
          "$ref": "GoogleCloudContentwarehouseV1TimestampTypeOptions"
        },
        "integerTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1IntegerTypeOptions",
          "description": "Integer property."
        },
        "dateTimeTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1DateTimeTypeOptions",
          "description": "Date time property. It is not supported by CMEK compliant deployment."
        },
        "isFilterable": {
          "description": "Whether the property can be filtered. If this is a sub-property, all the parent properties must be marked filterable.",
          "type": "boolean"
        },
        "isMetadata": {
          "type": "boolean",
          "description": "Whether the property is user supplied metadata. This out-of-the box placeholder setting can be used to tag derived properties. Its value and interpretation logic should be implemented by API user."
        },
        "mapTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1MapTypeOptions",
          "description": "Map property."
        },
        "schemaSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyDefinitionSchemaSource"
          },
          "description": "The mapping information between this property to another schema source."
        },
        "enumTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1EnumTypeOptions",
          "description": "Enum/categorical property."
        },
        "textTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1TextTypeOptions",
          "description": "Text/string property."
        },
        "retrievalImportance": {
          "description": "The retrieval importance of the property during search.",
          "enumDescriptions": [
            "No importance specified. Default medium importance.",
            "Highest importance.",
            "Higher importance.",
            "High importance.",
            "Medium importance.",
            "Low importance (negative).",
            "Lowest importance (negative)."
          ],
          "type": "string",
          "enum": [
            "RETRIEVAL_IMPORTANCE_UNSPECIFIED",
            "HIGHEST",
            "HIGHER",
            "HIGH",
            "MEDIUM",
            "LOW",
            "LOWEST"
          ]
        },
        "propertyTypeOptions": {
          "description": "Nested structured data property.",
          "$ref": "GoogleCloudContentwarehouseV1PropertyTypeOptions"
        },
        "isSearchable": {
          "type": "boolean",
          "description": "Indicates that the property should be included in a global search."
        },
        "floatTypeOptions": {
          "$ref": "GoogleCloudContentwarehouseV1FloatTypeOptions",
          "description": "Float property."
        },
        "isRequired": {
          "description": "Whether the property is mandatory. Default is 'false', i.e. populating property value can be skipped. If 'true' then user must populate the value for this property.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Defines the metadata for a schema property."
    },
    "GoogleCloudDocumentaiV1DocumentPageTable": {
      "description": "A table representation similar to HTML table structure.",
      "id": "GoogleCloudDocumentaiV1DocumentPageTable",
      "properties": {
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Body rows of the table."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "deprecated": true,
          "description": "The history of this table."
        },
        "headerRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "description": "Header rows of the table."
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1beta1UpdateDocumentMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1beta1UpdateDocumentMetadata",
      "description": "Metadata object for UpdateDocument request (currently empty)."
    },
    "GoogleCloudContentwarehouseV1TimestampValue": {
      "type": "object",
      "properties": {
        "textValue": {
          "description": "The string must represent a valid instant in UTC and is parsed using java.time.format.DateTimeFormatter.ISO_INSTANT. e.g. \"2013-09-29T18:46:19Z\"",
          "type": "string"
        },
        "timestampValue": {
          "description": "Timestamp value",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContentwarehouseV1TimestampValue",
      "description": "Timestamp value type."
    },
    "GoogleCloudContentwarehouseV1DeleteDocumentAction": {
      "description": "Represents the action responsible for deleting the document.",
      "type": "object",
      "properties": {
        "enableHardDelete": {
          "type": "boolean",
          "description": "Boolean field to select between hard vs soft delete options. Set 'true' for 'hard delete' and 'false' for 'soft delete'."
        }
      },
      "id": "GoogleCloudContentwarehouseV1DeleteDocumentAction"
    },
    "GoogleCloudContentwarehouseV1TextArray": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of text values."
        }
      },
      "description": "String/text values.",
      "id": "GoogleCloudContentwarehouseV1TextArray"
    },
    "GoogleCloudContentwarehouseV1LockDocumentRequest": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1LockDocumentRequest",
      "description": "Request message for DocumentService.LockDocument.",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection the document connects to."
        },
        "lockingUser": {
          "$ref": "GoogleCloudContentwarehouseV1UserInfo",
          "description": "The user information who locks the document."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "properties": {
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "TextSegment start UTF-8 char index in the Document.text."
        },
        "endIndex": {
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
    },
    "GoogleCloudContentwarehouseV1ListRuleSetsResponse": {
      "id": "GoogleCloudContentwarehouseV1ListRuleSetsResponse",
      "description": "Response message for RuleSetService.ListRuleSets.",
      "properties": {
        "ruleSets": {
          "description": "The rule sets from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1RuleSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1MergeFieldsOptions": {
      "type": "object",
      "description": "Options for merging updated fields.",
      "properties": {
        "replaceRepeatedFields": {
          "description": "When merging repeated fields, the default behavior is to append entries from the source repeated field to the destination repeated field. If you instead want to keep only the entries from the source repeated field, set this flag to true. If you want to replace a repeated field within a message field on the destination message, you must set both replace_repeated_fields and replace_message_fields to true, otherwise the repeated fields will be appended.",
          "type": "boolean"
        },
        "replaceMessageFields": {
          "description": "When merging message fields, the default behavior is to merge the content of two message fields together. If you instead want to use the field from the source message to replace the corresponding field in the destination message, set this flag to true. When this flag is set, specified submessage fields that are missing in source will be cleared in destination.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContentwarehouseV1MergeFieldsOptions"
    },
    "GoogleCloudContentwarehouseV1GetDocumentRequest": {
      "description": "Request message for DocumentService.GetDocument.",
      "properties": {
        "requestMetadata": {
          "description": "The meta information collected about the end user, used to enforce access control for the service.",
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1GetDocumentRequest"
    },
    "GoogleCloudDocumentaiV1DocumentPageImage": {
      "id": "GoogleCloudDocumentaiV1DocumentPageImage",
      "description": "Rendered image contents for this page.",
      "properties": {
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "Width of the image in pixels.",
          "type": "integer"
        },
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Raw byte content of the image."
        },
        "height": {
          "format": "int32",
          "description": "Height of the image in pixels.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1FloatTypeOptions": {
      "description": "Configurations for a float property.",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1FloatTypeOptions",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1EnumArray": {
      "id": "GoogleCloudContentwarehouseV1EnumArray",
      "type": "object",
      "description": "Enum values.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of enum values."
        }
      }
    },
    "GoogleCloudContentwarehouseV1TimestampArray": {
      "description": "Timestamp values.",
      "properties": {
        "values": {
          "description": "List of timestamp values.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1TimestampValue"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContentwarehouseV1TimestampArray",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
      "description": "Represents a list type block.",
      "properties": {
        "type": {
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`.",
          "type": "string"
        },
        "listEntries": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "type": "array",
          "description": "List entries that constitute a list block."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentStyleFontSize": {
      "type": "object",
      "properties": {
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`).",
          "type": "string"
        },
        "size": {
          "description": "Font size for the text.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1DocumentStyleFontSize"
    },
    "CloudAiPlatformTenantresourceTenantServiceAccountIdentity": {
      "description": "The identity of service accounts that have been explicitly created under tenant projects.",
      "id": "CloudAiPlatformTenantresourceTenantServiceAccountIdentity",
      "type": "object",
      "properties": {
        "serviceAccountEmail": {
          "description": "Output only. The email address of the generated service account.",
          "type": "string"
        },
        "serviceName": {
          "description": "Input/Output [Required]. The service that the service account belongs to. (e.g. cloudbuild.googleapis.com for GCB service accounts)",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1RuleActionsPair": {
      "description": "Represents a rule and outputs of associated actions.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1RuleActionsPair",
      "properties": {
        "actionOutputs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1ActionOutput"
          },
          "description": "Outputs of executing the actions associated with the above rule."
        },
        "rule": {
          "$ref": "GoogleCloudContentwarehouseV1Rule",
          "description": "Represents the rule."
        }
      }
    },
    "GoogleCloudContentwarehouseV1DateTimeTypeOptions": {
      "description": "Configurations for a date time property.",
      "id": "GoogleCloudContentwarehouseV1DateTimeTypeOptions",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1ActionExecutorOutput": {
      "properties": {
        "ruleActionsPairs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1RuleActionsPair"
          },
          "description": "List of rule and corresponding actions result."
        }
      },
      "id": "GoogleCloudContentwarehouseV1ActionExecutorOutput",
      "description": "Represents the output of the Action Executor.",
      "type": "object"
    },
    "GoogleCloudContentwarehouseV1IngestPipelineConfig": {
      "properties": {
        "folder": {
          "description": "Optional. The name of the folder to which all ingested documents will be linked during ingestion process. Format is `projects/{project}/locations/{location}/documents/{folder_id}`",
          "type": "string"
        },
        "documentAclPolicy": {
          "description": "The document level acl policy config. This refers to an Identity and Access (IAM) policy, which specifies access controls for all documents ingested by the pipeline. The role and members under the policy needs to be specified. The following roles are supported for document level acl control: * roles/contentwarehouse.documentAdmin * roles/contentwarehouse.documentEditor * roles/contentwarehouse.documentViewer The following members are supported for document level acl control: * user:user-email@example.com * group:group-email@example.com Note that for documents searched with LLM, only single level user or group acl check is supported.",
          "$ref": "GoogleIamV1Policy"
        },
        "cloudFunction": {
          "type": "string",
          "description": "The Cloud Function resource name. The Cloud Function needs to live inside consumer project and is accessible to Document AI Warehouse P4SA. Only Cloud Functions V2 is supported. Cloud function execution should complete within 5 minutes or this file ingestion may fail due to timeout. Format: `https://{region}-{project_id}.cloudfunctions.net/{cloud_function}` The following keys are available the request json payload. * display_name * properties * plain_text * reference_id * document_schema_name * raw_document_path * raw_document_file_type The following keys from the cloud function json response payload will be ingested to the Document AI Warehouse as part of Document proto content and/or related information. The original values will be overridden if any key is present in the response. * display_name * properties * plain_text * document_acl_policy * folder"
        },
        "enableDocumentTextExtraction": {
          "type": "boolean",
          "description": "The document text extraction enabled flag. If the flag is set to true, DWH will perform text extraction on the raw document."
        }
      },
      "type": "object",
      "description": "The ingestion pipeline config.",
      "id": "GoogleCloudContentwarehouseV1IngestPipelineConfig"
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of detected language. Range `[0, 1]`.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "description": "Detected language for a structural component."
    },
    "GoogleCloudContentwarehouseV1DocumentSchema": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the document schema is created.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the document schema is last updated.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Schema description."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document schema. Format: projects/{project_number}/locations/{location}/documentSchemas/{document_schema_id}. The name is ignored when creating a document schema."
        },
        "propertyDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1PropertyDefinition"
          },
          "description": "Document details."
        },
        "documentIsFolder": {
          "description": "Document Type, true refers the document is a folder, otherwise it is a typical document.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Name of the schema given by the user. Must be unique per project."
        }
      },
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1DocumentSchema",
      "description": "A document schema used to define document structure."
    },
    "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse": {
      "type": "object",
      "description": "Response message for DocumentLinkService.ListLinkedSources.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "documentLinks": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1DocumentLink"
          },
          "description": "Source document-links.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContentwarehouseV1ListLinkedSourcesResponse"
    },
    "GoogleCloudDocumentaiV1Document": {
      "id": "GoogleCloudDocumentaiV1Document",
      "properties": {
        "content": {
          "format": "byte",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string"
        },
        "entityRelations": {
          "description": "Placeholder. Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityRelation"
          },
          "type": "array"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          },
          "type": "array",
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error that occurred while processing this document."
        },
        "revisions": {
          "description": "Placeholder. Revision history of this document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentRevision"
          }
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
        },
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "pages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPage"
          },
          "type": "array",
          "description": "Visual page layout for the Document."
        },
        "documentLayout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayout",
          "description": "Parsed layout of the document."
        },
        "chunkedDocument": {
          "description": "Document chunked based on chunking config.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocument"
        },
        "textChanges": {
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextChange"
          },
          "type": "array"
        },
        "textStyles": {
          "description": "Styles for the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentStyle"
          },
          "type": "array",
          "deprecated": true
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
        }
      },
      "type": "object",
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality."
    },
    "GoogleCloudContentwarehouseV1SynonymSetSynonym": {
      "description": "Represents a list of words given by the customer All these words are synonyms of each other.",
      "id": "GoogleCloudContentwarehouseV1SynonymSetSynonym",
      "type": "object",
      "properties": {
        "words": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For example: sale, invoice, bill, order"
        }
      }
    },
    "GoogleCloudContentwarehouseV1SetAclRequest": {
      "type": "object",
      "properties": {
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the end user, used to enforce access control for the service."
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "Required. REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. This refers to an Identity and Access (IAM) policy, which specifies access controls for the Document. You can set ACL with condition for projects only. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, and `>=` where the left of the operator is `DocumentSchemaId` or property name and the right of the operator is a number or a quoted string. You must escape backslash (\\\\) and quote (\\\") characters. Boolean expressions (AND/OR) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR D) AND E\"), a maximum of 10 comparisons are allowed in the expression. The expression must be < 6000 bytes in length. Sample condition: `\"DocumentSchemaId = \\\"some schema id\\\" OR SchemaId.floatPropertyName >= 10\"`"
        },
        "projectOwner": {
          "description": "For Set Project ACL only. Authorization check for end user will be ignored when project_owner=true.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContentwarehouseV1SetAclRequest",
      "description": "Request message for DocumentService.SetAcl."
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
      "description": "Represents an entry in the list.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry",
      "properties": {
        "blocks": {
          "type": "array",
          "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudContentwarehouseV1IntegerTypeOptions": {
      "id": "GoogleCloudContentwarehouseV1IntegerTypeOptions",
      "type": "object",
      "properties": {},
      "description": "Configurations for an integer property."
    },
    "GoogleCloudContentwarehouseV1beta1CreateDocumentMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1beta1CreateDocumentMetadata",
      "description": "Metadata object for CreateDocument request (currently empty)."
    },
    "GoogleCloudContentwarehouseV1PropertyDefinitionSchemaSource": {
      "id": "GoogleCloudContentwarehouseV1PropertyDefinitionSchemaSource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The schema name in the source."
        },
        "processorType": {
          "description": "The Doc AI processor type name.",
          "type": "string"
        }
      },
      "description": "The schema source information."
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentRequest": {
      "properties": {
        "updateOptions": {
          "description": "Options for the update operation.",
          "$ref": "GoogleCloudContentwarehouseV1UpdateOptions"
        },
        "document": {
          "description": "Required. The document to update.",
          "$ref": "GoogleCloudContentwarehouseV1Document"
        },
        "requestMetadata": {
          "$ref": "GoogleCloudContentwarehouseV1RequestMetadata",
          "description": "The meta information collected about the end user, used to enforce access control for the service."
        },
        "cloudAiDocumentOption": {
          "description": "Request Option for processing Cloud AI Document in Document Warehouse. This field offers limited support for mapping entities from Cloud AI Document to Warehouse Document. Please consult with product team before using this field and other available options.",
          "$ref": "GoogleCloudContentwarehouseV1CloudAIDocumentOption"
        }
      },
      "description": "Request message for DocumentService.UpdateDocument.",
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentRequest"
    },
    "GoogleCloudContentwarehouseV1IntegerArray": {
      "type": "object",
      "description": "Integer values.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "List of integer values."
        }
      },
      "id": "GoogleCloudContentwarehouseV1IntegerArray"
    },
    "GoogleCloudDocumentaiV1Barcode": {
      "id": "GoogleCloudDocumentaiV1Barcode",
      "description": "Encodes the detailed information of a barcode.",
      "type": "object",
      "properties": {
        "format": {
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type.",
          "type": "string"
        },
        "valueFormat": {
          "type": "string",
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
        },
        "rawValue": {
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1ActionOutput": {
      "properties": {
        "outputMessage": {
          "type": "string",
          "description": "Action execution output message."
        },
        "actionState": {
          "enumDescriptions": [
            "The unknown state.",
            "State indicating action executed successfully.",
            "State indicating action failed.",
            "State indicating action timed out.",
            "State indicating action is pending."
          ],
          "description": "State of an action.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTION_SUCCEEDED",
            "ACTION_FAILED",
            "ACTION_TIMED_OUT",
            "ACTION_PENDING"
          ]
        },
        "actionId": {
          "description": "ID of the action.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContentwarehouseV1ActionOutput",
      "description": "Represents the result of executing an action.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "properties": {
        "bodyRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Body rows containing main table content."
        },
        "caption": {
          "type": "string",
          "description": "Table caption/title."
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array",
          "description": "Header rows at the top of the table."
        }
      },
      "type": "object",
      "description": "Represents a table type block."
    },
    "GoogleCloudDocumentaiV1DocumentStyle": {
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "properties": {
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1DocumentStyleFontSize"
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "Text color."
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        },
        "textDecoration": {
          "type": "string",
          "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. "
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Text background color."
        },
        "textStyle": {
          "type": "string",
          "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`."
        },
        "fontFamily": {
          "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp",
          "type": "string"
        },
        "fontWeight": {
          "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentStyle"
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "description": "Dimension for the page.",
      "properties": {
        "height": {
          "description": "Page height.",
          "format": "float",
          "type": "number"
        },
        "width": {
          "type": "number",
          "description": "Page width.",
          "format": "float"
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension"
    },
    "GoogleCloudContentwarehouseV1RuleEngineOutput": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1RuleEngineOutput",
      "properties": {
        "ruleEvaluatorOutput": {
          "$ref": "GoogleCloudContentwarehouseV1RuleEvaluatorOutput",
          "description": "Output from Rule Evaluator containing matched, unmatched and invalid rules."
        },
        "documentName": {
          "description": "Name of the document against which the rules and actions were evaluated.",
          "type": "string"
        },
        "actionExecutorOutput": {
          "$ref": "GoogleCloudContentwarehouseV1ActionExecutorOutput",
          "description": "Output from Action Executor containing rule and corresponding actions execution result."
        }
      },
      "description": "Records the output of Rule Engine including rule evaluation and actions result."
    },
    "GoogleCloudContentwarehouseV1UpdateDocumentMetadata": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1UpdateDocumentMetadata",
      "properties": {},
      "description": "Metadata object for UpdateDocument request (currently empty)."
    },
    "GoogleCloudContentwarehouseV1DocumentLink": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of this document-link."
        },
        "targetDocumentReference": {
          "description": "Document references of the target document.",
          "$ref": "GoogleCloudContentwarehouseV1DocumentReference"
        },
        "name": {
          "description": "Name of this document-link. It is required that the parent derived form the name to be consistent with the source document reference. Otherwise an exception will be thrown. Format: projects/{project_number}/locations/{location}/documents/{source_document_id}/documentLinks/{document_link_id}.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the documentLink is last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the documentLink is created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceDocumentReference": {
          "$ref": "GoogleCloudContentwarehouseV1DocumentReference",
          "description": "Document references of the source document."
        },
        "state": {
          "enumDescriptions": [
            "Unknown state of documentlink.",
            "The documentlink has both source and target documents detected.",
            "Target document is deleted, and mark the documentlink as soft-deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SOFT_DELETED"
          ],
          "description": "The state of the documentlink. If target node has been deleted, the link is marked as invalid. Removing a source node will result in removal of all associated links."
        }
      },
      "description": "A document-link between source and target document.",
      "id": "GoogleCloudContentwarehouseV1DocumentLink"
    },
    "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1GcsIngestWithDocAiProcessorsPipeline",
      "description": "The configuration of the Cloud Storage Ingestion with DocAI Processors pipeline.",
      "properties": {
        "splitClassifyProcessorInfo": {
          "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo",
          "description": "The split and classify processor information. The split and classify result will be used to find a matched extract processor."
        },
        "skipIngestedDocuments": {
          "description": "The flag whether to skip ingested documents. If it is set to true, documents in Cloud Storage contains key \"status\" with value \"status=ingested\" in custom metadata will be skipped to ingest.",
          "type": "boolean"
        },
        "inputPath": {
          "type": "string",
          "description": "The input Cloud Storage folder. All files under this folder will be imported to Document Warehouse. Format: `gs:///`."
        },
        "pipelineConfig": {
          "description": "Optional. The config for the Cloud Storage Ingestion with DocAI Processors pipeline. It provides additional customization options to run the pipeline and can be skipped if it is not applicable.",
          "$ref": "GoogleCloudContentwarehouseV1IngestPipelineConfig"
        },
        "extractProcessorInfos": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1ProcessorInfo"
          },
          "description": "The extract processors information. One matched extract processor will be used to process documents based on the classify processor result. If no classify processor is specified, the first extract processor will be used.",
          "type": "array"
        },
        "processorResultsFolderPath": {
          "type": "string",
          "description": "The Cloud Storage folder path used to store the raw results from processors. Format: `gs:///`."
        }
      }
    },
    "GoogleCloudContentwarehouseV1MapTypeOptions": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContentwarehouseV1MapTypeOptions",
      "description": "Configurations for a Map property."
    },
    "GoogleCloudContentwarehouseV1WeightedSchemaProperty": {
      "type": "object",
      "id": "GoogleCloudContentwarehouseV1WeightedSchemaProperty",
      "description": "Specifies the schema property name.",
      "properties": {
        "propertyNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The property definition names in the schema."
        },
        "documentSchemaName": {
          "description": "The document schema name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContentwarehouseV1EnumValue": {
      "id": "GoogleCloudContentwarehouseV1EnumValue",
      "type": "object",
      "description": "Represents the string value of the enum field.",
      "properties": {
        "value": {
          "description": "String value of the enum field. This must match defined set of enums in document schema using EnumTypeOptions.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode": {
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode",
      "type": "object",
      "description": "A detected barcode.",
      "properties": {
        "layout": {
          "description": "Layout for DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1Barcode"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentShardInfo": {
      "type": "object",
      "properties": {
        "shardIndex": {
          "description": "The 0-based index of this shard.",
          "type": "string",
          "format": "int64"
        },
        "textOffset": {
          "format": "int64",
          "type": "string",
          "description": "The index of the first character in Document.text in the overall document global text."
        },
        "shardCount": {
          "description": "Total number of shards.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentShardInfo",
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is."
    },
    "GoogleCloudContentwarehouseV1ListSynonymSetsResponse": {
      "type": "object",
      "properties": {
        "synonymSets": {
          "description": "The synonymSets from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1SynonymSet"
          }
        },
        "nextPageToken": {
          "description": "A page token, received from a previous `ListSynonymSets` call. Provide this to retrieve the subsequent page.",
          "type": "string"
        }
      },
      "description": "Response message for SynonymSetService.ListSynonymSets.",
      "id": "GoogleCloudContentwarehouseV1ListSynonymSetsResponse"
    },
    "GoogleCloudContentwarehouseV1RuleEvaluatorOutput": {
      "properties": {
        "triggeredRules": {
          "type": "array",
          "description": "List of rules fetched from database for the given request trigger type.",
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Rule"
          }
        },
        "matchedRules": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1Rule"
          },
          "description": "A subset of triggered rules that are evaluated true for a given request.",
          "type": "array"
        },
        "invalidRules": {
          "items": {
            "$ref": "GoogleCloudContentwarehouseV1InvalidRule"
          },
          "type": "array",
          "description": "A subset of triggered rules that failed the validation check(s) after parsing."
        }
      },
      "type": "object",
      "description": "Represents the output of the Rule Evaluator.",
      "id": "GoogleCloudContentwarehouseV1RuleEvaluatorOutput"
    },
    "GoogleCloudDocumentaiV1DocumentPageVisualElement": {
      "id": "GoogleCloudDocumentaiV1DocumentPageVisualElement",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for VisualElement."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page."
    },
    "GoogleCloudDocumentaiV1DocumentProvenance": {
      "properties": {
        "type": {
          "description": "The type of provenance operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ],
          "type": "string"
        },
        "parents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentProvenanceParent"
          },
          "type": "array",
          "description": "References to the original elements that are replaced."
        },
        "id": {
          "deprecated": true,
          "format": "int32",
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "type": "integer"
        },
        "revision": {
          "description": "The index of the revision that produced this element.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "id": "GoogleCloudDocumentaiV1DocumentProvenance"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
[...]
