{
  "ownerDomain": "google.com",
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "id": "content:v2.1",
  "ownerName": "Google",
  "batchPath": "batch",
  "name": "content",
  "basePath": "/content/v2.1/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "version": "v2.1",
  "canonicalName": "Shopping Content",
  "servicePath": "content/v2.1/",
  "title": "Content API for Shopping",
  "revision": "20260826",
  "schemas": {
    "PostalCodeGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the postal code group, referred to in headers. Required."
        },
        "postalCodeRanges": {
          "type": "array",
          "items": {
            "$ref": "PostalCodeRange"
          },
          "description": "A range of postal codes. Required."
        },
        "country": {
          "type": "string",
          "description": "The CLDR territory code of the country the postal code group applies to. Required."
        }
      },
      "id": "PostalCodeGroup"
    },
    "PromotionPromotionStatusDestinationStatus": {
      "description": "The destination status of the promotion.",
      "properties": {
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "status": {
          "enumDescriptions": [
            "Unknown promotion state.",
            "The promotion is under review.",
            "The promotion is disapproved",
            "The promotion is approved and active.",
            "The promotion is stopped by merchant.",
            "The promotion is no longer active.",
            "The promotion is not stopped, and all reviews are approved, but the active date is in the future."
          ],
          "type": "string",
          "description": "The status for the specified destination.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_REVIEW",
            "REJECTED",
            "LIVE",
            "STOPPED",
            "EXPIRED",
            "PENDING"
          ]
        }
      },
      "id": "PromotionPromotionStatusDestinationStatus",
      "type": "object"
    },
    "AccountstatusesCustomBatchResponse": {
      "type": "object",
      "id": "AccountstatusesCustomBatchResponse",
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccountstatusesCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountstatusesCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "DatafeedstatusesCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch datafeedstatuses request.",
      "type": "object",
      "id": "DatafeedstatusesCustomBatchRequestEntry",
      "properties": {
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "datafeedId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the data feed to get."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        },
        "country": {
          "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided, then `language` must also be provided. Note that for multi-target datafeeds this parameter is required.",
          "type": "string"
        },
        "feedLabel": {
          "description": "The feed label to get the datafeed status for. If this parameter is provided, then `language` must also be provided. Note that for multi-target datafeeds this parameter is required.",
          "type": "string"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "language": {
          "description": "The language to get the datafeed status for. If this parameter is provided then `country` must also be provided. Note that for multi-target datafeeds this parameter is required.",
          "type": "string"
        }
      }
    },
    "LoyaltyProgram": {
      "id": "LoyaltyProgram",
      "description": "Allows the setting up of loyalty program benefits (for example price or points). https://support.google.com/merchants/answer/12922446",
      "properties": {
        "programLabel": {
          "description": "Required. The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a merchant entity and a loyalty program entity. It must be provided so that system can associate the assets below (for example, price and points) with a merchant. The corresponding program must be linked to the merchant account.",
          "type": "string"
        },
        "tierLabel": {
          "type": "string",
          "description": "Required. The label of the tier within the loyalty program. Must match one of the labels within the program."
        },
        "loyaltyPoints": {
          "type": "string",
          "description": "Optional. The amount of loyalty points earned on a purchase.",
          "format": "int64"
        },
        "cashbackForFutureUse": {
          "$ref": "Price",
          "description": "Optional. The cashback that can be used for future purchases."
        },
        "memberPriceEffectiveDate": {
          "description": "Optional. A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "type": "string"
        },
        "shippingLabel": {
          "description": "Optional. The shipping label for the loyalty program. You can use this label to indicate whether this offer has the loyalty shipping benefit. If not specified, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "price": {
          "description": "Optional. The price for members of the given tier (instant discount price). Must be smaller or equal to the regular price.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "HolidaysHoliday": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" "
        },
        "deliveryGuaranteeDate": {
          "type": "string",
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. For example, \"2016-12-24\" for 24th December 2016. Always present."
        },
        "date": {
          "description": "Date of the holiday, in ISO 8601 format. For example, \"2016-12-25\" for Christmas 2016. Always present.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present.",
          "type": "string"
        },
        "countryCode": {
          "description": "The CLDR territory code of the country in which the holiday is available. For example, \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present.",
          "type": "string"
        },
        "deliveryGuaranteeHour": {
          "format": "uint64",
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
          "type": "string"
        }
      },
      "id": "HolidaysHoliday",
      "type": "object"
    },
    "AccounttaxListResponse": {
      "properties": {
        "resources": {
          "items": {
            "$ref": "AccountTax"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of account tax settings.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxListResponse`\".",
          "type": "string"
        }
      },
      "id": "AccounttaxListResponse",
      "type": "object"
    },
    "LocalInventory": {
      "id": "LocalInventory",
      "type": "object",
      "description": "Local inventory resource. For accepted attribute values, see the local product inventory feed specification.",
      "properties": {
        "price": {
          "description": "The price of the product.",
          "$ref": "Price"
        },
        "storeCode": {
          "description": "Required. The store code of this local inventory resource.",
          "type": "string"
        },
        "pickupMethod": {
          "type": "string",
          "description": "The supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the local product inventory feed specification."
        },
        "salePrice": {
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined.",
          "$ref": "Price"
        },
        "pickupSla": {
          "type": "string",
          "description": "The expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the local product inventory feed specification."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localInventory`\"",
          "type": "string"
        },
        "customAttributes": {
          "description": "A list of custom (merchant-provided) attributes. Can also be used to submit any attribute of the feed specification in its generic form, for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "availability": {
          "description": "The availability of the product. For accepted attribute values, see the local product inventory feed specification.",
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "description": "The quantity of the product. Must be nonnegative.",
          "format": "uint32"
        },
        "salePriceEffectiveDate": {
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates may be specified as 'null' if undecided.",
          "type": "string"
        },
        "instoreProductLocation": {
          "description": "The in-store product location.",
          "type": "string"
        }
      }
    },
    "AttributionSettings": {
      "properties": {
        "conversionType": {
          "type": "array",
          "description": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time.",
          "items": {
            "$ref": "AttributionSettingsConversionType"
          }
        },
        "attributionLookbackWindowInDays": {
          "description": "Required. Lookback windows (in days) used for attribution in this source. Supported values are 7, 30, 40.",
          "type": "integer",
          "format": "int32"
        },
        "attributionModel": {
          "enumDescriptions": [
            "",
            "Cross-channel Last Click model.",
            "Ads-preferred Last Click model.",
            "Cross-channel Data Driven model.",
            "Cross-channel First Click model.",
            "Cross-channel Linear model.",
            "Cross-channel Position Based model.",
            "Cross-channel Time Decay model."
          ],
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_LAST_CLICK",
            "ADS_PREFERRED_LAST_CLICK",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents attribution settings for conversion sources receiving pre-attribution data.",
      "id": "AttributionSettings"
    },
    "PosDataProvidersPosDataProvider": {
      "properties": {
        "providerId": {
          "format": "uint64",
          "description": "The ID of the account.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of Pos data Provider.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name of this POS data Provider.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PosDataProvidersPosDataProvider"
    },
    "LiaOmnichannelExperience": {
      "id": "LiaOmnichannelExperience",
      "properties": {
        "country": {
          "type": "string",
          "description": "The CLDR country code (for example, \"US\")."
        },
        "lsfType": {
          "description": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here.",
          "type": "string"
        },
        "pickupTypes": {
          "items": {
            "type": "string"
          },
          "description": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" ",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Omnichannel experience details."
    },
    "LiaPosDataProvider": {
      "properties": {
        "posDataProviderId": {
          "format": "uint64",
          "description": "The ID of the POS data provider.",
          "type": "string"
        },
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS data provider.",
          "type": "string"
        }
      },
      "id": "LiaPosDataProvider",
      "type": "object"
    },
    "Installment": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "creditType": {
          "description": "Optional. Type of installment payments. Supported values are: - \"`finance`\" - \"`lease`\" ",
          "type": "string"
        },
        "downpayment": {
          "description": "Optional. The initial down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "months": {
          "type": "string",
          "description": "The number of installments the buyer has to pay.",
          "format": "int64"
        }
      },
      "id": "Installment",
      "description": "Details of a monthly installment payment offering. [Learn more](https://support.google.com/merchants/answer/6324474) about installments."
    },
    "ShoppingAdsProgramStatus": {
      "properties": {
        "regionStatuses": {
          "items": {
            "$ref": "ShoppingAdsProgramStatusRegionStatus"
          },
          "description": "Status of the program in each region. Regions with the same status and review eligibility are grouped together in `regionCodes`.",
          "type": "array"
        },
        "globalState": {
          "type": "string",
          "description": "State of the program. `ENABLED` if there are offers for at least one region.",
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "NOT_ENABLED",
            "NO_OFFERS_UPLOADED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "State is unknown.",
            "Program is not enabled for any country.",
            "No products have been uploaded for any region. Upload products to Merchant Center.",
            "Program is enabled and offers are uploaded for at least one country."
          ]
        }
      },
      "description": "Response message for GetShoppingAdsProgramStatus.",
      "type": "object",
      "id": "ShoppingAdsProgramStatus"
    },
    "Collection": {
      "properties": {
        "id": {
          "description": "Required. The REST ID of the collection. Content API methods that operate on collections take this as their collectionId parameter. The REST ID for a collection is of the form collectionId. [id attribute](https://support.google.com/merchants/answer/9649290)",
          "type": "string"
        },
        "featuredProduct": {
          "type": "array",
          "description": "This identifies one or more products associated with the collection. Used as a lookup to the corresponding product ID in your product feeds. Provide a maximum of 100 featuredProduct (for collections). Provide up to 10 featuredProduct (for Shoppable Images only) with ID and X and Y coordinates. [featured_product attribute](https://support.google.com/merchants/answer/9703736)",
          "items": {
            "$ref": "CollectionFeaturedProduct"
          }
        },
        "mobileLink": {
          "type": "string",
          "description": "A collection’s mobile-optimized landing page when you have a different URL for mobile and desktop traffic. [mobile_link attribute](https://support.google.com/merchants/answer/9646123)"
        },
        "customLabel4": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "headline": {
          "type": "array",
          "description": "Your collection's name. [headline attribute](https://support.google.com/merchants/answer/9673580)",
          "items": {
            "type": "string"
          }
        },
        "imageLink": {
          "items": {
            "type": "string"
          },
          "description": "The URL of a collection’s image. [image_link attribute](https://support.google.com/merchants/answer/9703236)",
          "type": "array"
        },
        "language": {
          "type": "string",
          "description": "The language of a collection and the language of any featured products linked to the collection. [language attribute](https://support.google.com/merchants/answer/9673781)"
        },
        "productCountry": {
          "description": "[product_country attribute](https://support.google.com/merchants/answer/9674155)",
          "type": "string"
        },
        "customLabel0": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns. [Custom label](https://support.google.com/merchants/answer/9674217)",
          "type": "string"
        },
        "customLabel2": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "customLabel3": {
          "type": "string",
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns."
        },
        "customLabel1": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "link": {
          "description": "A collection’s landing page. URL directly linking to your collection's page on your website. [link attribute](https://support.google.com/merchants/answer/9673983)",
          "type": "string"
        }
      },
      "description": "The collection message.",
      "id": "Collection",
      "type": "object"
    },
    "GoogleAnalyticsLink": {
      "id": "GoogleAnalyticsLink",
      "type": "object",
      "properties": {
        "propertyId": {
          "type": "string",
          "description": "Required. Immutable. ID of the Google Analytics property the merchant is linked to.",
          "format": "int64"
        },
        "propertyName": {
          "type": "string",
          "description": "Output only. Name of the Google Analytics property the merchant is linked to.",
          "readOnly": true
        },
        "attributionSettings": {
          "readOnly": true,
          "$ref": "AttributionSettings",
          "description": "Output only. Attribution settings for the linked Google Analytics property."
        }
      },
      "description": "\"Google Analytics Link\" sources can be used to get conversion data from an existing Google Analytics property into the linked Merchant Center account."
    },
    "RenderProductIssuesRequestPayload": {
      "type": "object",
      "id": "RenderProductIssuesRequestPayload",
      "description": "The payload for configuring how the content should be rendered.",
      "properties": {
        "contentOption": {
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Returns the detail of the issue as a pre-rendered HTML text."
          ],
          "enum": [
            "CONTENT_OPTION_UNSPECIFIED",
            "PRE_RENDERED_HTML"
          ],
          "description": "Optional. How the detailed content should be returned. Default option is to return the content as a pre-rendered HTML text.",
          "type": "string"
        },
        "userInputActionOption": {
          "enum": [
            "USER_INPUT_ACTION_RENDERING_OPTION_UNSPECIFIED",
            "REDIRECT_TO_MERCHANT_CENTER",
            "BUILT_IN_USER_INPUT_ACTIONS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Actions that require user input are represented only as links that points merchant to Merchant Center where they can request the action. Provides easier to implement alternative to `BUILT_IN_USER_INPUT_ACTIONS`.",
            "Returns content and input form definition for each complex action. Your application needs to display this content and input form to the merchant before they can request processing of the action. To start the action, your application needs to call the `triggeraction` method."
          ],
          "description": "Optional. How actions with user input form should be handled. If not provided, actions will be returned as links that points merchant to Merchant Center where they can request the action."
        }
      }
    },
    "PosCustomBatchResponse": {
      "type": "object",
      "id": "PosCustomBatchResponse",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "PosCustomBatchResponseEntry"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponse`\"."
        }
      }
    },
    "Promotion": {
      "id": "Promotion",
      "type": "object",
      "description": "Represents a promotion. See the following articles for more details. * [Promotions feed specification](https://support.google.com/merchants/answer/2906014) * [Local promotions feed specification](https://support.google.com/merchants/answer/10146130) * [Promotions on Buy on Google product data specification](https://support.google.com/merchants/answer/9173673)",
      "properties": {
        "orderLimit": {
          "format": "int32",
          "type": "integer",
          "description": "Order limit for the promotion."
        },
        "minimumPurchaseAmount": {
          "$ref": "PriceAmount",
          "description": "Minimum purchase amount for the promotion."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The REST promotion ID to uniquely identify the promotion. Content API methods that operate on promotions take this as their `promotionId` parameter. The REST ID for a promotion is of the form channel:contentLanguage:targetCountry:promotionId The `channel` field has a value of `\"online\"`, `\"in_store\"`, or `\"online_in_store\"`."
        },
        "promotionStatus": {
          "description": "Output only. The current status of the promotion.",
          "$ref": "PromotionPromotionStatus",
          "readOnly": true
        },
        "moneyBudget": {
          "$ref": "PriceAmount",
          "description": "Cost cap for the promotion."
        },
        "storeCodeExclusion": {
          "type": "array",
          "description": "Store codes to exclude for the promotion.",
          "items": {
            "type": "string"
          }
        },
        "freeGiftItemId": {
          "type": "string",
          "description": "Free gift item ID for the promotion."
        },
        "promotionId": {
          "description": "Required. The user provided promotion ID to uniquely identify the promotion.",
          "type": "string"
        },
        "limitValue": {
          "description": "Maximum purchase value for the promotion.",
          "$ref": "PriceAmount"
        },
        "freeGiftValue": {
          "$ref": "PriceAmount",
          "description": "Free gift value for the promotion."
        },
        "redemptionRestriction": {
          "description": "The redemption restriction for the promotion.",
          "enum": [
            "REDEMPTION_RESTRICTION_UNSPECIFIED",
            "SUBSCRIBE_AND_SAVE",
            "FIRST_ORDER",
            "SIGN_UP_FOR_EMAIL",
            "SIGN_UP_FOR_TEXT",
            "FORMS_OF_PAYMENT",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "The redemption restriction is unspecified.",
            "The customer must subscribe to the merchant's channel to redeem the promotion.",
            "The customer must be a first-time customer to redeem the promotion.",
            "The customer must sign up for email's to redeem the promotion.",
            "The customer must sign up for text to redeem the promotion.",
            "The customer must use a specific form of payment to redeem the promotion.",
            "The customer must meet a custom restriction to redeem the promotion. If selected, the `custom_redemption_restriction` field must be set."
          ],
          "type": "string"
        },
        "offerType": {
          "type": "string",
          "description": "Required. Type of the promotion.",
          "enumDescriptions": [
            "Unknown offer type.",
            "Offer type without a code.",
            "Offer type with a code."
          ],
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "NO_CODE",
            "GENERIC_CODE"
          ]
        },
        "itemGroupIdExclusion": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Product filter by item group ID exclusion for the promotion."
        },
        "productType": {
          "type": "array",
          "description": "Product filter by product type for the promotion.",
          "items": {
            "type": "string"
          }
        },
        "couponValueType": {
          "type": "string",
          "description": "Required. Coupon value type for the promotion.",
          "enum": [
            "COUPON_VALUE_TYPE_UNSPECIFIED",
            "MONEY_OFF",
            "PERCENT_OFF",
            "BUY_M_GET_N_MONEY_OFF",
            "BUY_M_GET_N_PERCENT_OFF",
            "BUY_M_GET_MONEY_OFF",
            "BUY_M_GET_PERCENT_OFF",
            "FREE_GIFT",
            "FREE_GIFT_WITH_VALUE",
            "FREE_GIFT_WITH_ITEM_ID",
            "FREE_SHIPPING_STANDARD",
            "FREE_SHIPPING_OVERNIGHT",
            "FREE_SHIPPING_TWO_DAY"
          ],
          "enumDescriptions": [
            "Indicates that the coupon value type is unspecified.",
            "Money off coupon value type.",
            "Percent off coupon value type.",
            "Buy M quantity, get N money off coupon value type. `buy_this_quantity` and `get_this_quantity` must be present. `money_off_amount` must also be present.",
            "Buy M quantity, get N percent off coupon value type. `buy_this_quantity` and `get_this_quantity` must be present. `percent_off_percentage` must also be present.",
            "Buy M quantity, get money off. `buy_this_quantity` and `money_off_amount` must be present.",
            "Buy M quantity, get money off. `buy_this_quantity` and `percent_off_percentage` must be present.",
            "Free gift with description only.",
            "Free gift with value (description is optional).",
            "Free gift with item ID (description is optional).",
            "Standard free shipping coupon value type.",
            "Overnight free shipping coupon value type.",
            "Two day free shipping coupon value type."
          ]
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The content language used as part of the unique identifier. `en` content language is available for all target countries. `fr` content language is available for `CA` and `FR` target countries. `de` content language is available for `DE` target country. `nl` content language is available for `NL` target country. `it` content language is available for `IT` target country. `pt` content language is available for `BR` target country. `ja` content language is available for `JP` target country. `ko` content language is available for `KR` target country."
        },
        "storeCode": {
          "items": {
            "type": "string"
          },
          "description": "Store codes to include for the promotion.",
          "type": "array"
        },
        "productTypeExclusion": {
          "items": {
            "type": "string"
          },
          "description": "Product filter by product type exclusion for the promotion.",
          "type": "array"
        },
        "longTitle": {
          "description": "Required. Long title for the promotion.",
          "type": "string"
        },
        "itemIdExclusion": {
          "type": "array",
          "description": "Product filter by item ID exclusion for the promotion.",
          "items": {
            "type": "string"
          }
        },
        "brandExclusion": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Product filter by brand exclusion for the promotion."
        },
        "percentOff": {
          "format": "int32",
          "type": "integer",
          "description": "The percentage discount offered in the promotion."
        },
        "productApplicability": {
          "enum": [
            "PRODUCT_APPLICABILITY_UNSPECIFIED",
            "ALL_PRODUCTS",
            "SPECIFIC_PRODUCTS"
          ],
          "enumDescriptions": [
            "Which products the promotion applies to is unknown.",
            "Applicable to all products.",
            "Applicable to only a single product or list of products."
          ],
          "description": "Required. Applicability of the promotion to either all products or only specific products.",
          "type": "string"
        },
        "moneyOffAmount": {
          "$ref": "PriceAmount",
          "description": "The money off amount offered in the promotion."
        },
        "brand": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Product filter by brand for the promotion."
        },
        "limitQuantity": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum purchase quantity for the promotion."
        },
        "getThisQuantityDiscounted": {
          "description": "The number of items discounted in the promotion.",
          "format": "int32",
          "type": "integer"
        },
        "genericRedemptionCode": {
          "type": "string",
          "description": "Generic redemption code for the promotion. To be used with the `offerType` field."
        },
        "promotionDisplayTimePeriod": {
          "description": "`TimePeriod` representation of the promotion's display dates.",
          "$ref": "TimePeriod"
        },
        "promotionEffectiveDates": {
          "description": "String representation of the promotion effective dates. Deprecated. Use `promotion_effective_time_period` instead.",
          "deprecated": true,
          "type": "string"
        },
        "shippingServiceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Shipping service names for the promotion."
        },
        "minimumPurchaseQuantity": {
          "format": "int32",
          "description": "Minimum purchase quantity for the promotion.",
          "type": "integer"
        },
        "itemId": {
          "items": {
            "type": "string"
          },
          "description": "Product filter by item ID for the promotion.",
          "type": "array"
        },
        "customRedemptionRestriction": {
          "type": "string",
          "description": "The custom redemption restriction for the promotion. If the `redemption_restriction` field is set to `CUSTOM`, this field must be set."
        },
        "redemptionChannel": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "REDEMPTION_CHANNEL_UNSPECIFIED",
              "IN_STORE",
              "ONLINE"
            ],
            "enumDescriptions": [
              "Indicates that the channel is unspecified.",
              "Indicates that the channel is in store.",
              "Indicates that the channel is online."
            ]
          },
          "description": "Required. Redemption channel for the promotion. At least one channel is required."
        },
        "itemGroupId": {
          "items": {
            "type": "string"
          },
          "description": "Product filter by item group ID for the promotion.",
          "type": "array"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The target country used as part of the unique identifier. Can be `AU`, `CA`, `DE`, `FR`, `GB`, `IN`, `US`, `BR`, `ES`, `NL`, `JP`, `IT` or `KR`."
        },
        "promotionEffectiveTimePeriod": {
          "description": "Required. `TimePeriod` representation of the promotion's effective dates.",
          "$ref": "TimePeriod"
        },
        "storeApplicability": {
          "enum": [
            "STORE_APPLICABILITY_UNSPECIFIED",
            "ALL_STORES",
            "SPECIFIC_STORES"
          ],
          "enumDescriptions": [
            "Which store codes the promotion applies to is unknown.",
            "Promotion applies to all stores.",
            "Promotion applies to only the specified stores."
          ],
          "type": "string",
          "description": "Whether the promotion applies to all stores, or only specified stores. Local Inventory ads promotions throw an error if no store applicability is included. An INVALID_ARGUMENT error is thrown if store_applicability is set to ALL_STORES and store_code or score_code_exclusion is set to a value."
        },
        "promotionDisplayDates": {
          "type": "string",
          "description": "String representation of the promotion display dates. Deprecated. Use `promotion_display_time_period` instead.",
          "deprecated": true
        },
        "maxDiscountAmount": {
          "$ref": "PriceAmount",
          "description": "The maximum monetary discount a customer can receive for the promotion. This field is only supported with the `Percent off` coupon value type."
        },
        "promotionDestinationIds": {
          "items": {
            "type": "string"
          },
          "description": "Destination ID for the promotion.",
          "type": "array"
        },
        "promotionUrl": {
          "description": "URL to the page on the merchant's site where the promotion shows. Local Inventory ads promotions throw an error if no promo url is included. URL is used to confirm that the promotion is valid and can be redeemed.",
          "type": "string"
        },
        "freeGiftDescription": {
          "description": "Free gift description for the promotion.",
          "type": "string"
        }
      }
    },
    "AccountsUpdateLabelsRequest": {
      "type": "object",
      "properties": {
        "labelIds": {
          "items": {
            "type": "string",
            "format": "uint64"
          },
          "type": "array",
          "description": "The IDs of labels that should be assigned to the account."
        }
      },
      "id": "AccountsUpdateLabelsRequest"
    },
    "RenderAccountIssuesResponse": {
      "id": "RenderAccountIssuesResponse",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "AccountIssue"
          },
          "description": "List of account issues for a given account. This list can be shown with compressed, expandable items. In the compressed form, the title and impact should be shown for each issue. Once the issue is expanded, the detailed content and available actions should be rendered."
        },
        "alternateDisputeResolution": {
          "deprecated": true,
          "$ref": "AlternateDisputeResolution",
          "description": "Alternate Dispute Resolution (ADR) is deprecated. Use `prerendered_out_of_court_dispute_settlement` instead."
        }
      },
      "type": "object",
      "description": "Response containing support content and actions for listed account issues."
    },
    "InsertCheckoutSettingsRequest": {
      "type": "object",
      "id": "InsertCheckoutSettingsRequest",
      "properties": {
        "uriSettings": {
          "description": "Required. The `UrlSettings` for the request. The presence of URL settings indicates `Checkout` enrollment.",
          "$ref": "UrlSettings"
        }
      },
      "description": "Request message for the `InsertCheckoutSettings` method."
    },
    "LinkService": {
      "type": "object",
      "id": "LinkService",
      "properties": {
        "service": {
          "description": "Service provided to or by the linked account. Acceptable values are: - \"`shoppingActionsOrderManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingAdsProductManagement`\" - \"`paymentProcessing`\" ",
          "type": "string"
        },
        "status": {
          "description": "Status of the link Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      }
    },
    "ListCssesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "csses": {
          "description": "The CSS domains affiliated with the specified CSS group.",
          "type": "array",
          "items": {
            "$ref": "Css"
          }
        }
      },
      "description": "The response message for the `ListCsses` method",
      "id": "ListCssesResponse"
    },
    "InputFieldChoiceInputChoiceInputOption": {
      "description": "A choice that merchant can select.",
      "id": "InputFieldChoiceInputChoiceInputOption",
      "type": "object",
      "properties": {
        "additionalInput": {
          "$ref": "InputField",
          "description": "Input that should be displayed when this option is selected. The additional input will not contain a `ChoiceInput`."
        },
        "label": {
          "description": "Short description of the choice option. There may be more information to be shown as a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "id": {
          "description": "Not for display but need to be sent back for the selected choice option.",
          "type": "string"
        }
      }
    },
    "AlternateDisputeResolution": {
      "type": "object",
      "properties": {
        "label": {
          "description": "The label for the alternate dispute resolution link.",
          "type": "string"
        },
        "uri": {
          "description": "The URL pointing to a page, where merchant can request alternative dispute resolution with an [external body](https://support.google.com/european-union-digital-services-act-redress-options/answer/13535501).",
          "type": "string"
        }
      },
      "id": "AlternateDisputeResolution",
      "description": "The Alternate Dispute Resolution (ADR) that may be available to merchants in some regions. If present, the link should be shown on the same page as the list of issues."
    },
    "DatafeedstatusesCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DatafeedstatusesCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "DatafeedstatusesCustomBatchRequest"
    },
    "AccountConversionSettings": {
      "type": "object",
      "properties": {
        "freeListingsAutoTaggingEnabled": {
          "type": "boolean",
          "description": "When enabled, free listing URLs have a parameter to enable conversion tracking for products owned by the current merchant account. See [auto-tagging](https://support.google.com/merchants/answer/11127659)."
        }
      },
      "id": "AccountConversionSettings",
      "description": "Settings for conversion tracking."
    },
    "CollectionStatusDestinationStatus": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The status for the specified destination in the collections target country."
        },
        "pendingCountries": {
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is pending approval.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disapprovedCountries": {
          "type": "array",
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is disapproved.",
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Country codes (ISO 3166-1 alpha-2) where the collection is approved."
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Destination status message.",
      "id": "CollectionStatusDestinationStatus"
    },
    "CloudExportAdditionalProperties": {
      "properties": {
        "unitCode": {
          "type": "string",
          "description": "Unit of the given property. For example, \"Pixels\" for a TV product. Maximum string size is 256 bytes."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value of the given property. For example for a TV product, \"True\" or \"False\" if the screen is UHD."
        },
        "propertyName": {
          "type": "string",
          "description": "Name of the given property. For example, \"Screen-Resolution\" for a TV product. Maximum string size is 256 characters."
        },
        "floatValue": {
          "description": "Float values of the given property. For example for a TV product 1.2345. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "maxValue": {
          "format": "float",
          "description": "Maximum float value of the given property. For example for a TV product 100.00.",
          "type": "number"
        },
        "intValue": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Integer values of the given property. For example, 1080 for a screen resolution of a TV product. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order.",
          "type": "array"
        },
        "minValue": {
          "format": "float",
          "type": "number",
          "description": "Minimum float value of the given property. For example for a TV product 1.00."
        },
        "textValue": {
          "items": {
            "type": "string"
          },
          "description": "Text value of the given property. For example, \"8K(UHD)\" could be a text value for a TV product. Maximum number of specified values for this field is 400. Values are stored in an arbitrary but consistent order. Maximum string size is 256 characters.",
          "type": "array"
        }
      },
      "id": "CloudExportAdditionalProperties",
      "type": "object",
      "description": "Product property for the Cloud Retail API. For example, properties for a TV product could be \"Screen-Resolution\" or \"Screen-Size\"."
    },
    "PosSaleRequest": {
      "type": "object",
      "id": "PosSaleRequest",
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "Required. The price of the item."
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Required. The relative change of the available quantity. Negative for items returned."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "saleId": {
          "description": "A unique ID to group items from the same sale event.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        }
      }
    },
    "ReturnPolicyOnlineReturnShippingFee": {
      "id": "ReturnPolicyOnlineReturnShippingFee",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of return shipping fee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customer will pay the actual return shipping fee."
          ],
          "type": "string"
        },
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is FIXED. We will treat the return shipping fee as free if type is FIXED and this value is not set.",
          "$ref": "PriceAmount"
        }
      },
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost."
    },
    "PaymentServiceProviderLinkInfo": {
      "id": "PaymentServiceProviderLinkInfo",
      "type": "object",
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "The id used by the third party service provider to identify the merchant."
        },
        "externalAccountBusinessCountry": {
          "description": "The business country of the merchant account as identified by the third party service provider.",
          "type": "string"
        }
      },
      "description": "Additional information required for PAYMENT_SERVICE_PROVIDER link type."
    },
    "ProductsCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "ProductsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "id": "ProductsCustomBatchRequest",
      "type": "object"
    },
    "ProductsCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch products request.",
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "updateMask": {
          "description": "The comma-separated list of product attributes to be updated. Example: `\"title,salePrice\"`. Attributes specified in the update mask without a value specified in the body will be deleted from the product. *You must specify the update mask to delete attributes.* Only top-level product attributes can be updated. If not defined, product attributes with set values will be updated and other attributes will stay unchanged. Only defined if the method is `update`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "feedId": {
          "description": "The Content API Supplemental Feed ID. If present then product insertion or deletion applies to a supplemental feed instead of primary Content API feed.",
          "type": "string",
          "format": "uint64"
        },
        "product": {
          "description": "The product to insert or update. Only required if the method is `insert` or `update`. If the `update` method is used with `updateMask` only to delete a field, then this isn't required. For example, setting `salePrice` on the `updateMask` and not providing a `product` will result in an existing sale price on the product specified by `productId` being deleted.",
          "$ref": "Product"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to get or mutate. Only defined if the method is `get`, `delete`, or `update`."
        }
      },
      "type": "object",
      "id": "ProductsCustomBatchRequestEntry"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "Account data. After the creation of a new account it may take a few minutes before it's fully operational. The methods delete, insert, and update require the admin role.",
      "properties": {
        "automaticLabelIds": {
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "Automatically created label IDs that are assigned to the account by CSS Center."
        },
        "automaticImprovements": {
          "description": "The automatic improvements of the account can be used to automatically update items, improve images and shipping. Each section inside AutomaticImprovements is updated separately.",
          "$ref": "AccountAutomaticImprovements"
        },
        "youtubeChannelLinks": {
          "description": "Linked YouTube channels that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected in the YT Creator Studio interface. To delete an active link, or to cancel a link request, remove it from the list.",
          "type": "array",
          "items": {
            "$ref": "AccountYouTubeChannelLink"
          }
        },
        "users": {
          "items": {
            "$ref": "AccountUser"
          },
          "description": "Users with access to the account. Every account (except for subaccounts) must have at least one admin user.",
          "type": "array"
        },
        "accountManagement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. How the account is managed. Acceptable values are: - \"`manual`\" - \"`automatic`\" "
        },
        "websiteUrl": {
          "description": "The merchant's website.",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "description": "Manually created label IDs that are assigned to the account by CSS.",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        },
        "cssId": {
          "type": "string",
          "format": "uint64",
          "description": "ID of CSS the account belongs to."
        },
        "adsLinks": {
          "type": "array",
          "items": {
            "$ref": "AccountAdsLink"
          },
          "description": "Linked Ads accounts that are active or pending approval. To create a new link request, add a new link with status `active` to the list. It will remain in a `pending` state until approved or rejected either in the Ads interface or through the Google Ads API. To delete an active link, or to cancel a link request, remove it from the list."
        },
        "businessInformation": {
          "$ref": "AccountBusinessInformation",
          "description": "The business information of the account."
        },
        "id": {
          "type": "string",
          "format": "uint64",
          "description": "Required. 64-bit Merchant Center account ID."
        },
        "businessIdentity": {
          "$ref": "AccountBusinessIdentity",
          "description": "The business identity attributes can be used to self-declare attributes that let customers know more about your business."
        },
        "adultContent": {
          "type": "boolean",
          "description": "Indicates whether the merchant sells adult content."
        },
        "sellerId": {
          "description": "Client-specific, locally-unique, internal ID for the child account.",
          "type": "string"
        },
        "conversionSettings": {
          "$ref": "AccountConversionSettings",
          "description": "Settings for conversion tracking."
        },
        "name": {
          "type": "string",
          "description": "Required. Display name for the account."
        },
        "googleMyBusinessLink": {
          "$ref": "AccountGoogleMyBusinessLink",
          "description": "The Business Profile which is linked or in the process of being linked with the Merchant Center account."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#account`\".",
          "type": "string"
        }
      }
    },
    "TransitTableTransitTimeRowTransitTimeValue": {
      "properties": {
        "maxTransitTimeInDays": {
          "description": "Must be greater than or equal to `minTransitTimeInDays`.",
          "type": "integer",
          "format": "uint32"
        },
        "minTransitTimeInDays": {
          "description": "Transit time range (min-max) in business days. 0 means same day delivery, 1 means next day delivery.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "TransitTableTransitTimeRowTransitTimeValue",
      "type": "object"
    },
    "Value": {
      "id": "Value",
      "type": "object",
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `noShipping`, `flatRate`, `pricePercentage`, `carrierRateName`, `subtableName` must be set.",
      "properties": {
        "pricePercentage": {
          "description": "A percentage of the price represented as a number in decimal notation (for example, `\"5.4\"`). Can only be set if all other fields are not set.",
          "type": "string"
        },
        "subtableName": {
          "description": "The name of a subtable. Can only be set in table cells (not for single values), and only if all other fields are not set.",
          "type": "string"
        },
        "carrierRateName": {
          "type": "string",
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set."
        },
        "noShipping": {
          "description": "If true, then the product can't ship. Must be true when set, can only be set if all other fields are not set.",
          "type": "boolean"
        },
        "flatRate": {
          "description": "A flat rate. Can only be set if all other fields are not set.",
          "$ref": "Price"
        }
      }
    },
    "ShippingsettingsGetSupportedHolidaysResponse": {
      "properties": {
        "holidays": {
          "items": {
            "$ref": "HolidaysHoliday"
          },
          "description": "A list of holidays applicable for delivery guarantees. May be empty.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsGetSupportedHolidaysResponse`\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ShippingsettingsGetSupportedHolidaysResponse"
    },
    "ListConversionSourcesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be used to fetch the next results page."
        },
        "conversionSources": {
          "items": {
            "$ref": "ConversionSource"
          },
          "description": "List of conversion sources.",
          "type": "array"
        }
      },
      "id": "ListConversionSourcesResponse",
      "description": "Response message for the ListConversionSources method."
    },
    "ExternalAction": {
      "description": "Action that is implemented and performed outside of the third-party application. It should redirect the merchant to the provided URL of an external system where they can perform the action. For example to request a review in the Merchant Center.",
      "id": "ExternalAction",
      "properties": {
        "type": {
          "enum": [
            "EXTERNAL_ACTION_TYPE_UNSPECIFIED",
            "REVIEW_PRODUCT_ISSUE_IN_MERCHANT_CENTER",
            "REVIEW_ACCOUNT_ISSUE_IN_MERCHANT_CENTER",
            "LEGAL_APPEAL_IN_HELP_CENTER",
            "VERIFY_IDENTITY_IN_MERCHANT_CENTER"
          ],
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their product.",
            "Redirect to Merchant Center where the merchant can request a review for issue related to their account.",
            "Redirect to the form in Help Center where the merchant can request a legal appeal for the issue.",
            "Redirect to Merchant Center where the merchant can perform identity verification."
          ],
          "description": "The type of external action.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URL to external system, for example Merchant Center, where the merchant can perform the action."
        }
      },
      "type": "object"
    },
    "CutoffTime": {
      "id": "CutoffTime",
      "type": "object",
      "properties": {
        "minute": {
          "type": "integer",
          "format": "uint32",
          "description": "Minute of the cutoff time until which an order has to be placed to be processed in the same day. Required."
        },
        "timezone": {
          "description": "Timezone identifier for the cutoff time (for example, \"Europe/Zurich\"). List of identifiers. Required.",
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "description": "Hour of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
          "format": "uint32"
        }
      }
    },
    "DeliveryArea": {
      "id": "DeliveryArea",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "Required. The country that the product can be delivered to. Submit a [unicode CLDR region](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) such as `US` or `CH`.",
          "type": "string"
        },
        "regionCode": {
          "description": "A state, territory, or prefecture. This is supported for the United States, Australia, and Japan. Provide a subdivision code from the ISO 3166-2 code tables ([US](https://en.wikipedia.org/wiki/ISO_3166-2:US), [AU](https://en.wikipedia.org/wiki/ISO_3166-2:AU), or [JP](https://en.wikipedia.org/wiki/ISO_3166-2:JP)) without country prefix (for example, `\"NY\"`, `\"NSW\"`, `\"03\"`).",
          "type": "string"
        },
        "postalCodeRange": {
          "description": "A postal code, postal code range or postal code prefix that defines this area. Limited to US and AUS.",
          "$ref": "DeliveryAreaPostalCodeRange"
        }
      },
      "description": "A delivery area for the product. Only one of `countryCode` or `postalCodeRange` must be set."
    },
    "ListPromotionResponse": {
      "description": "Response message for Promotions.List method.",
      "id": "ListPromotionResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "items": {
            "$ref": "Promotion"
          },
          "type": "array",
          "description": "List of all available promotions for the merchant."
        }
      },
      "type": "object"
    },
    "Css": {
      "type": "object",
      "id": "Css",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The CSS domain's display name, used when space is constrained."
        },
        "cssGroupId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Immutable. The ID of the CSS group this CSS domain is affiliated with. Only populated for CSS group users.",
          "readOnly": true
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Immutable. The CSS domain's homepage.",
          "type": "string"
        },
        "labelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of label IDs that are assigned to this CSS domain by its CSS group. Only populated for CSS group users.",
          "type": "array"
        },
        "cssDomainId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS domain ID."
        },
        "fullName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS domain's full name."
        }
      },
      "description": "Information about CSS domain."
    },
    "ProductStatusDestinationStatus": {
      "type": "object",
      "id": "ProductStatusDestinationStatus",
      "properties": {
        "status": {
          "description": "Deprecated. Destination approval status in `targetCountry` of the offer.",
          "deprecated": true,
          "type": "string"
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "channel": {
          "type": "string",
          "description": "The channel of the destination."
        },
        "approvedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
        },
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "LiaSettings": {
      "description": "Local Inventory ads (LIA) settings. All methods except listposdataproviders require the admin role.",
      "id": "LiaSettings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liaSettings`\""
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the account to which these LIA settings belong. Ignored upon update, always present in get request responses.",
          "format": "uint64"
        },
        "countrySettings": {
          "type": "array",
          "description": "The LIA settings for each country.",
          "items": {
            "$ref": "LiaCountrySettings"
          }
        }
      },
      "type": "object"
    },
    "ProductSustainabilityIncentive": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "Optional. The fixed amount of the incentive."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ],
          "description": "Required. Sustainability incentive program."
        },
        "percentage": {
          "type": "number",
          "description": "Optional. The percentage of the sale price that the incentive is applied to.",
          "format": "double"
        }
      },
      "id": "ProductSustainabilityIncentive",
      "description": "Information regarding sustainability related incentive programs such as rebates or tax relief."
    },
    "GmbAccountsGmbAccount": {
      "id": "GmbAccountsGmbAccount",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the Business Profile (User or Business)."
        },
        "email": {
          "description": "The email which identifies the Business Profile.",
          "type": "string"
        },
        "listingCount": {
          "format": "uint64",
          "type": "string",
          "description": "Number of listings under this account."
        },
        "name": {
          "type": "string",
          "description": "The name of the Business Profile."
        }
      },
      "type": "object"
    },
    "ActionInput": {
      "id": "ActionInput",
      "type": "object",
      "description": "Input provided by the merchant.",
      "properties": {
        "inputValues": {
          "items": {
            "$ref": "InputValue"
          },
          "type": "array",
          "description": "Required. Values for input fields."
        },
        "actionFlowId": {
          "description": "Required. Id of the selected action flow.",
          "type": "string"
        }
      }
    },
    "PosCustomBatchResponseEntry": {
      "type": "object",
      "properties": {
        "errors": {
          "description": "A list of errors defined if, and only if, the request failed.",
          "$ref": "Errors"
        },
        "store": {
          "description": "The retrieved or updated store information.",
          "$ref": "PosStore"
        },
        "sale": {
          "$ref": "PosSale",
          "description": "The updated sale information."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "inventory": {
          "$ref": "PosInventory",
          "description": "The updated inventory information."
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry to which this entry responds."
        }
      },
      "id": "PosCustomBatchResponseEntry"
    },
    "RenderProductIssuesResponse": {
      "id": "RenderProductIssuesResponse",
      "type": "object",
      "description": "Response containing support content and actions for listed product issues.",
      "properties": {
        "alternateDisputeResolution": {
          "description": "Alternate Dispute Resolution (ADR) is deprecated. Use `prerendered_out_of_court_dispute_settlement` instead.",
          "deprecated": true,
          "$ref": "AlternateDisputeResolution"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "ProductIssue"
          },
          "description": "List of issues for a given product. This list can be shown with compressed, expandable items. In the compressed form, the title and impact should be shown for each issue. Once the issue is expanded, the detailed content and available actions should be rendered."
        }
      }
    },
    "RecommendationDescription": {
      "description": "Google-provided description for the recommendation.",
      "properties": {
        "type": {
          "enum": [
            "DESCRIPTION_TYPE_UNSPECIFIED",
            "SHORT",
            "LONG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Short description.",
            "Long description."
          ],
          "readOnly": true,
          "description": "Output only. Type of the description."
        },
        "text": {
          "type": "string",
          "description": "Output only. Text of the description.",
          "readOnly": true
        }
      },
      "id": "RecommendationDescription",
      "type": "object"
    },
    "LiasettingsCustomBatchRequestEntry": {
      "id": "LiasettingsCustomBatchRequestEntry",
      "properties": {
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS provider.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`getAccessibleGmbAccounts`\" - \"`requestGmbAccess`\" - \"`requestInventoryVerification`\" - \"`setInventoryVerificationContact`\" - \"`update`\" "
        },
        "contactName": {
          "type": "string",
          "description": "Inventory validation contact name. Required only for SetInventoryValidationContact."
        },
        "country": {
          "type": "string",
          "description": "The country code. Required only for RequestInventoryVerification."
        },
        "contactEmail": {
          "description": "Inventory validation contact email. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "omnichannelExperience": {
          "description": "The omnichannel experience for a country. Required only for SetOmnichannelExperience.",
          "$ref": "LiaOmnichannelExperience"
        },
        "gmbEmail": {
          "description": "The Business Profile. Required only for RequestGmbAccess.",
          "type": "string"
        },
        "liaSettings": {
          "description": "The account Lia settings to update. Only defined if the method is `update`.",
          "$ref": "LiaSettings"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "accountId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the account for which to get/update account LIA settings."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "posDataProviderId": {
          "description": "The ID of POS data provider. Required only for SetPosProvider.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Error": {
      "id": "Error",
      "description": "An error returned by the API.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain of the error."
        }
      }
    },
    "ListAccountReturnCarrierResponse": {
      "id": "ListAccountReturnCarrierResponse",
      "properties": {
        "accountReturnCarriers": {
          "items": {
            "$ref": "AccountReturnCarrier"
          },
          "type": "array",
          "description": "List of all available account return carriers for the merchant."
        }
      },
      "description": "Response for listing account return carriers.",
      "type": "object"
    },
    "PosCustomBatchRequestEntry": {
      "properties": {
        "inventory": {
          "description": "The inventory to submit. This should be set only if the method is `inventory`.",
          "$ref": "PosInventory"
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "storeCode": {
          "description": "The store code. This should be set only if the method is `delete` or `get`.",
          "type": "string"
        },
        "store": {
          "$ref": "PosStore",
          "description": "The store information to submit. This should be set only if the method is `insert`."
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`inventory`\" - \"`sale`\" "
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the POS data provider."
        },
        "sale": {
          "description": "The sale information to submit. This should be set only if the method is `sale`.",
          "$ref": "PosSale"
        },
        "targetMerchantId": {
          "type": "string",
          "description": "The ID of the account for which to get/submit data.",
          "format": "uint64"
        }
      },
      "id": "PosCustomBatchRequestEntry",
      "type": "object"
    },
    "RegionGeoTargetArea": {
      "id": "RegionGeoTargetArea",
      "properties": {
        "geotargetCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (e.g., state)."
        }
      },
      "type": "object",
      "description": "A list of geotargets that defines the region area."
    },
    "DatafeedstatusesCustomBatchResponse": {
      "id": "DatafeedstatusesCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "DatafeedstatusesCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedstatusesCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "ProductCluster": {
      "description": "Product cluster fields. A product cluster is a grouping for different offers that represent the same product. Values are only set for fields requested explicitly in the request's search query.",
      "type": "object",
      "id": "ProductCluster",
      "properties": {
        "brand": {
          "type": "string",
          "description": "Brand of the product cluster."
        },
        "brandInventoryStatus": {
          "description": "Tells if there is at least one product of the brand currently `IN_STOCK` in your product feed across multiple countries, all products are `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY`. The field doesn't take the Best Sellers report country filter into account.",
          "type": "string",
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ],
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ]
        },
        "categoryL2": {
          "description": "Product category (2nd level) of the product cluster, represented in Google's product taxonomy.",
          "type": "string"
        },
        "inventoryStatus": {
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ],
          "description": "Tells whether the product cluster is `IN_STOCK` in your product feed across multiple countries, `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY` at all. The field doesn't take the Best Sellers report country filter into account.",
          "type": "string",
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ]
        },
        "categoryL4": {
          "description": "Product category (4th level) of the product cluster, represented in Google's product taxonomy.",
          "type": "string"
        },
        "variantGtins": {
          "items": {
            "type": "string"
          },
          "description": "GTINs of example variants of the product cluster.",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Title of the product cluster."
        },
        "categoryL5": {
          "type": "string",
          "description": "Product category (5th level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL3": {
          "type": "string",
          "description": "Product category (3rd level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL1": {
          "description": "Product category (1st level) of the product cluster, represented in Google's product taxonomy.",
          "type": "string"
        }
      }
    },
    "Segments": {
      "id": "Segments",
      "type": "object",
      "properties": {
        "week": {
          "$ref": "Date",
          "description": "First day of the week (Monday) of the metrics date in the merchant timezone."
        },
        "productTypeL4": {
          "type": "string",
          "description": "[Product type (4th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy."
        },
        "categoryL4": {
          "type": "string",
          "description": "[Product category (4th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy."
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of products."
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of products."
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of products.",
          "type": "string"
        },
        "brand": {
          "description": "Brand of the product.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the product."
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of products."
        },
        "date": {
          "description": "Date in the merchant timezone to which metrics apply.",
          "$ref": "Date"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of products."
        },
        "productTypeL3": {
          "type": "string",
          "description": "[Product type (3rd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy."
        },
        "productTypeL5": {
          "description": "[Product type (5th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy.",
          "type": "string"
        },
        "categoryL2": {
          "type": "string",
          "description": "[Product category (2nd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy."
        },
        "offerId": {
          "type": "string",
          "description": "Merchant-provided id of the product."
        },
        "productTypeL1": {
          "type": "string",
          "description": "[Product type (1st level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy."
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency in which price metrics are represented, for example, if you select `ordered_item_sales_micros`, the returned value will be represented by this currency."
        },
        "customerCountryCode": {
          "type": "string",
          "description": "Code of the country where the customer is located at the time of the event. Represented in the ISO 3166 format. If the customer country cannot be determined, a special 'ZZ' code is returned."
        },
        "categoryL5": {
          "type": "string",
          "description": "[Product category (5th level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy."
        },
        "program": {
          "type": "string",
          "enum": [
            "PROGRAM_UNSPECIFIED",
            "SHOPPING_ADS",
            "FREE_PRODUCT_LISTING",
            "FREE_LOCAL_PRODUCT_LISTING",
            "BUY_ON_GOOGLE_LISTING"
          ],
          "description": "Program to which metrics apply, for example, Free Product Listing.",
          "enumDescriptions": [
            "Not specified.",
            "Shopping Ads.",
            "Free Product Listing.",
            "Free Local Product Listing.",
            "*Deprecated*: This value is no longer supported. Retrieving all metrics for the `BUY_ON_GOOGLE_LISTING` program returns 0 starting from May 2024. Buy on Google Listing."
          ]
        },
        "productTypeL2": {
          "type": "string",
          "description": "[Product type (2nd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in merchant's own product taxonomy."
        },
        "categoryL3": {
          "type": "string",
          "description": "[Product category (3rd level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy."
        },
        "categoryL1": {
          "description": "[Product category (1st level)](https://developers.google.com/shopping-content/guides/reports/segmentation#category_and_product_type) in Google's product taxonomy.",
          "type": "string"
        }
      },
      "description": "Dimensions according to which metrics are segmented in the response. Values of product dimensions, such as `offer_id`, reflect the state of a product at the time of the corresponding event, for example, impression or order. Segment fields cannot be selected in queries without also selecting at least one metric field. Values are only set for dimensions requested explicitly in the request's search query."
    },
    "InputValueCheckboxInputValue": {
      "type": "object",
      "description": "Value for checkbox input field.",
      "properties": {
        "value": {
          "type": "boolean",
          "description": "Required. True if the merchant checked the box field. False otherwise."
        }
      },
      "id": "InputValueCheckboxInputValue"
    },
    "DatafeedsCustomBatchRequestEntry": {
      "id": "DatafeedsCustomBatchRequestEntry",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "datafeedId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the data feed to get, delete or fetch."
        },
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The data feed to insert."
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeeds request."
    },
    "RateGroup": {
      "id": "RateGroup",
      "properties": {
        "applicableShippingLabels": {
          "description": "A list of shipping labels defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service. Required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mainTable": {
          "description": "A table defining the rate group, when `singleValue` is not expressive enough. Can only be set if `singleValue` is not set.",
          "$ref": "Table"
        },
        "singleValue": {
          "description": "The value of the rate group (for example, flat rate $10). Can only be set if `mainTable` and `subtables` are not set.",
          "$ref": "Value"
        },
        "name": {
          "type": "string",
          "description": "Name of the rate group. Optional. If set has to be unique within shipping service."
        },
        "carrierRates": {
          "items": {
            "$ref": "CarrierRate"
          },
          "type": "array",
          "description": "A list of carrier rates that can be referred to by `mainTable` or `singleValue`."
        },
        "subtables": {
          "description": "A list of subtables referred to by `mainTable`. Can only be set if `mainTable` is set.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        }
      },
      "type": "object"
    },
    "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails": {
      "description": "Additional details for review ineligibility reasons.",
      "type": "object",
      "properties": {
        "cooldownTime": {
          "description": "This timestamp represents end of cooldown period for review ineligbility reason `IN_COOLDOWN_PERIOD`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails"
    },
    "RenderAccountIssuesRequestPayload": {
      "description": "The payload for configuring how the content should be rendered.",
      "type": "object",
      "properties": {
        "contentOption": {
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Returns the detail of the issue as a pre-rendered HTML text."
          ],
          "type": "string",
          "enum": [
            "CONTENT_OPTION_UNSPECIFIED",
            "PRE_RENDERED_HTML"
          ],
          "description": "Optional. How the detailed content should be returned. Default option is to return the content as a pre-rendered HTML text."
        },
        "userInputActionOption": {
          "enum": [
            "USER_INPUT_ACTION_RENDERING_OPTION_UNSPECIFIED",
            "REDIRECT_TO_MERCHANT_CENTER",
            "BUILT_IN_USER_INPUT_ACTIONS"
          ],
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Actions that require user input are represented only as links that points merchant to Merchant Center where they can request the action. Provides easier to implement alternative to `BUILT_IN_USER_INPUT_ACTIONS`.",
            "Returns content and input form definition for each complex action. Your application needs to display this content and input form to the merchant before they can request processing of the action. To start the action, your application needs to call the `triggeraction` method."
          ],
          "description": "Optional. How actions with user input form should be handled. If not provided, actions will be returned as links that points merchant to Merchant Center where they can request the action.",
          "type": "string"
        }
      },
      "id": "RenderAccountIssuesRequestPayload"
    },
    "ShippingsettingsCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch shipping settings response.",
      "type": "object",
      "id": "ShippingsettingsCustomBatchResponseEntry",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry to which this entry responds.",
          "format": "uint32"
        },
        "shippingSettings": {
          "description": "The retrieved or updated account shipping settings.",
          "$ref": "ShippingSettings"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      }
    },
    "DatafeedsCustomBatchResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsCustomBatchResponse`\"."
        },
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "DatafeedsCustomBatchResponseEntry"
          }
        }
      },
      "type": "object",
      "id": "DatafeedsCustomBatchResponse"
    },
    "AccounttaxCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "accountTax": {
          "$ref": "AccountTax",
          "description": "The account tax settings to update. Only defined if the method is `update`."
        },
        "merchantId": {
          "format": "uint64",
          "description": "The ID of the managing account.",
          "type": "string"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the account for which to get/update account tax settings.",
          "format": "uint64"
        }
      },
      "id": "AccounttaxCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch accounttax request."
    },
    "ProductViewItemIssue": {
      "description": "Item issue associated with the product.",
      "type": "object",
      "id": "ProductViewItemIssue",
      "properties": {
        "severity": {
          "description": "Item issue severity.",
          "$ref": "ProductViewItemIssueItemIssueSeverity"
        },
        "issueType": {
          "$ref": "ProductViewItemIssueItemIssueType",
          "description": "Item issue type."
        },
        "resolution": {
          "enumDescriptions": [
            "Unknown resolution type.",
            "The merchant has to fix the issue.",
            "The issue will be resolved automatically (for example, image crawl), or Google review. No merchant action is required now. Resolution might lead to another issue (for example, if crawl fails)."
          ],
          "enum": [
            "UNKNOWN",
            "MERCHANT_ACTION",
            "PENDING_PROCESSING"
          ],
          "type": "string",
          "description": "Item issue resolution."
        }
      }
    },
    "ShippingsettingsGetSupportedPickupServicesResponse": {
      "type": "object",
      "id": "ShippingsettingsGetSupportedPickupServicesResponse",
      "properties": {
        "pickupServices": {
          "description": "A list of supported pickup services. May be empty.",
          "items": {
            "$ref": "PickupServicesPickupService"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsGetSupportedPickupServicesResponse`\".",
          "type": "string"
        }
      }
    },
    "CustomAttribute": {
      "properties": {
        "name": {
          "description": "The name of the attribute. Underscores will be replaced by spaces upon insertion.",
          "type": "string"
        },
        "value": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Subattributes within this attribute group. Exactly one of value or groupValues must be provided."
        }
      },
      "type": "object",
      "description": "A message that represents custom attributes. Exactly one of `value` or `groupValues` must be provided. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per merchant, with total size of 102.4kB.",
      "id": "CustomAttribute"
    },
    "DatafeedsCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch datafeeds response.",
      "type": "object",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        },
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The requested data feed. Defined if and only if the request was successful."
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "DatafeedsCustomBatchResponseEntry"
    },
    "MinimumOrderValueTable": {
      "properties": {
        "storeCodeSetWithMovs": {
[...]
