{
  "kind": "discovery#restDescription",
  "name": "containeranalysis",
  "ownerDomain": "google.com",
  "id": "containeranalysis:v1beta1",
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "servicePath": "",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "version": "v1beta1",
  "ownerName": "Google",
  "basePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://containeranalysis.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://containeranalysis.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://containeranalysis.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://containeranalysis.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://containeranalysis.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://containeranalysis.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://containeranalysis.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://containeranalysis.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://containeranalysis.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://containeranalysis.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://containeranalysis.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://containeranalysis.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://containeranalysis.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://containeranalysis.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://containeranalysis.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://containeranalysis.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://containeranalysis.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://containeranalysis.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://containeranalysis.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://containeranalysis.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://containeranalysis.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://containeranalysis.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://containeranalysis.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://containeranalysis.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://containeranalysis.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "batchPath": "batch",
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Container Analysis API",
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
      "type": "object",
      "properties": {
        "approvalTime": {
          "description": "Output only. The time when the approval decision was made.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "approverAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
        },
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        },
        "decision": {
          "type": "string",
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Required. The decision of this manual approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ]
        },
        "url": {
          "type": "string",
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
    },
    "RelationshipNote": {
      "type": "object",
      "id": "RelationshipNote",
      "description": "RelationshipNote represents an SPDX Relationship section: https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified",
            "Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A",
            "Is to be used when SPDXRef-A is described by SPDXREF-Document",
            "Is to be used when SPDXRef-A contains SPDXRef-B",
            "Is to be used when SPDXRef-A is contained by SPDXRef-B",
            "Is to be used when SPDXRef-A depends on SPDXRef-B",
            "Is to be used when SPDXRef-A is dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a manifest file that lists a set of dependencies for SPDXRef-B",
            "Is to be used when SPDXRef-A is a build dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a development dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a to be provided dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a test dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a dependency required for the execution of SPDXRef-B",
            "Is to be used when SPDXRef-A is an example of SPDXRef-B",
            "Is to be used when SPDXRef-A generates SPDXRef-B",
            "Is to be used when SPDXRef-A was generated from SPDXRef-B",
            "Is to be used when SPDXRef-A is an ancestor (same lineage but pre-dates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a descendant of (same lineage but postdates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a variant of (same lineage but not clear which came first) SPDXRef-B",
            "Is to be used when distributing SPDXRef-A requires that SPDXRef-B also be distributed",
            "Is to be used when SPDXRef-A is a patch file for (to be applied to) SPDXRef-B",
            "Is to be used when SPDXRef-A is a patch file that has been applied to SPDXRef-B",
            "Is to be used when SPDXRef-A is an exact copy of SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was added to SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was deleted from SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was modified from SPDXRef-B",
            "Is to be used when SPDXRef-A is expanded from the archive SPDXRef-B",
            "Is to be used when SPDXRef-A dynamically links to SPDXRef-B",
            "Is to be used when SPDXRef-A statically links to SPDXRef-B",
            "Is to be used when SPDXRef-A is a data file used in SPDXRef-B",
            "Is to be used when SPDXRef-A is a test case used in testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used to build SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a development tool for SPDXRef-B",
            "Is to be used when SPDXRef-A is used for testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B",
            "Is to be used when SPDXRef-A provides documentation of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional component of SPDXRef-B",
            "Is to be used when SPDXRef-A is a metafile of SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a package as part of SPDXRef-B",
            "Is to be used when (current) SPDXRef-DOCUMENT amends the SPDX information in SPDXRef-B",
            "Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B",
            "Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B",
            "Is to be used for a relationship which has not been defined in the formal SPDX specification. A description of the relationship should be included in the Relationship comments field"
          ],
          "description": "The type of relationship between the source and target SPDX elements",
          "type": "string",
          "enum": [
            "RELATIONSHIP_TYPE_UNSPECIFIED",
            "DESCRIBES",
            "DESCRIBED_BY",
            "CONTAINS",
            "CONTAINED_BY",
            "DEPENDS_ON",
            "DEPENDENCY_OF",
            "DEPENDENCY_MANIFEST_OF",
            "BUILD_DEPENDENCY_OF",
            "DEV_DEPENDENCY_OF",
            "OPTIONAL_DEPENDENCY_OF",
            "PROVIDED_DEPENDENCY_OF",
            "TEST_DEPENDENCY_OF",
            "RUNTIME_DEPENDENCY_OF",
            "EXAMPLE_OF",
            "GENERATES",
            "GENERATED_FROM",
            "ANCESTOR_OF",
            "DESCENDANT_OF",
            "VARIANT_OF",
            "DISTRIBUTION_ARTIFACT",
            "PATCH_FOR",
            "PATCH_APPLIED",
            "COPY_OF",
            "FILE_ADDED",
            "FILE_DELETED",
            "FILE_MODIFIED",
            "EXPANDED_FROM_ARCHIVE",
            "DYNAMIC_LINK",
            "STATIC_LINK",
            "DATA_FILE_OF",
            "TEST_CASE_OF",
            "BUILD_TOOL_OF",
            "DEV_TOOL_OF",
            "TEST_OF",
            "TEST_TOOL_OF",
            "DOCUMENTATION_OF",
            "OPTIONAL_COMPONENT_OF",
            "METAFILE_OF",
            "PACKAGE_OF",
            "AMENDS",
            "PREREQUISITE_FOR",
            "HAS_PREREQUISITE",
            "OTHER"
          ]
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule": {
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "properties": {
        "moduleVersion": {
          "type": "string",
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5"
        },
        "repositoryLocation": {
          "type": "string",
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location."
        },
        "sourcePath": {
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
          "type": "string"
        },
        "modulePath": {
          "type": "string",
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2"
        },
        "repositoryName": {
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo",
          "type": "string"
        },
        "repositoryProjectId": {
          "type": "string",
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project."
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGoModule"
    },
    "MaliciousContentStaticResult": {
      "description": "Result of Malicious Content Static scan.",
      "id": "MaliciousContentStaticResult",
      "type": "object",
      "properties": {
        "maxSeverity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Tracks max severity found.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        },
        "scanStatus": {
          "description": "Status of the scan.",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        }
      }
    },
    "AliasContext": {
      "description": "An alias to a repo revision.",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "description": "The alias kind."
        },
        "name": {
          "description": "The alias name.",
          "type": "string"
        }
      },
      "id": "AliasContext",
      "type": "object"
    },
    "GrafeasV1beta1DeploymentDetails": {
      "id": "GrafeasV1beta1DeploymentDetails",
      "description": "Details of a deployment occurrence.",
      "properties": {
        "deployment": {
          "description": "Required. Deployment history for the resource.",
          "$ref": "Deployment"
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash": {
      "description": "Container message for hash values.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash",
      "properties": {
        "value": {
          "type": "string",
          "description": "The hash value.",
          "format": "byte"
        },
        "type": {
          "type": "string",
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ],
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "description": "The type of hash that was performed."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact": {
      "type": "object",
      "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        },
        "groupId": {
          "description": "Maven `groupId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry."
        },
        "path": {
          "type": "string",
          "description": "Optional. Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar."
        },
        "version": {
          "type": "string",
          "description": "Maven `version` value used when uploading the artifact to Artifact Registry."
        },
        "deployFolder": {
          "description": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact"
    },
    "Finding": {
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Severity of the finding."
        },
        "location": {
          "description": "Location (path and line) where the finding was detected.",
          "$ref": "FindingLocation"
        },
        "category": {
          "description": "Category of the finding.",
          "type": "string"
        },
        "scanner": {
          "type": "string",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ],
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ],
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding."
        },
        "details": {
          "description": "Description of the finding category.",
          "type": "string"
        }
      },
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "id": "Finding",
      "type": "object"
    },
    "Note": {
      "description": "A type of analysis that can be done for a resource.",
      "properties": {
        "sbomReference": {
          "description": "A note describing an SBOM reference.",
          "$ref": "SBOMReferenceNote"
        },
        "spdxRelationship": {
          "description": "A note describing an SPDX File.",
          "$ref": "RelationshipNote"
        },
        "relatedUrl": {
          "description": "URLs associated with this note.",
          "type": "array",
          "items": {
            "$ref": "RelatedUrl"
          }
        },
        "updateTime": {
          "description": "Output only. The time this note was last updated. This field can be used as a filter in list requests.",
          "type": "string",
          "format": "google-datetime"
        },
        "sbom": {
          "$ref": "DocumentNote",
          "description": "A note describing a software bill of materials."
        },
        "vulnerability": {
          "description": "A note describing a package vulnerability.",
          "$ref": "Vulnerability"
        },
        "build": {
          "description": "A note describing build provenance for a verifiable build.",
          "$ref": "Build"
        },
        "shortDescription": {
          "description": "A one sentence description of this note.",
          "type": "string"
        },
        "attestationAuthority": {
          "description": "A note describing an attestation role.",
          "$ref": "Authority"
        },
        "spdxPackage": {
          "description": "A note describing an SPDX Package.",
          "$ref": "PackageInfoNote"
        },
        "package": {
          "$ref": "Package",
          "description": "A note describing a package hosted by various package managers."
        },
        "intoto": {
          "$ref": "InToto",
          "description": "A note describing an in-toto link."
        },
        "kind": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an in-toto link.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a Vulnerability Assessment.",
            "This represents an SBOM Reference.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "type": "string",
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "INTOTO",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ],
          "description": "Output only. The type of analysis. This field can be used as a filter in list requests."
        },
        "relatedNoteNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Other notes related to this note."
        },
        "longDescription": {
          "type": "string",
          "description": "A detailed description of this note."
        },
        "secret": {
          "description": "A note describing a secret.",
          "$ref": "SecretNote"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`."
        },
        "createTime": {
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests.",
          "type": "string",
          "format": "google-datetime"
        },
        "deployable": {
          "$ref": "Deployable",
          "description": "A note describing something that can be deployed."
        },
        "spdxFile": {
          "description": "A note describing an SPDX File.",
          "$ref": "FileNote"
        },
        "expirationTime": {
          "type": "string",
          "description": "Time of expiration for this note. Empty if note does not expire.",
          "format": "google-datetime"
        },
        "baseImage": {
          "description": "A note describing a base image.",
          "$ref": "Basis"
        },
        "aiSkillAnalysis": {
          "$ref": "AISkillAnalysisNote",
          "description": "A note describing an AI Skill analysis."
        },
        "discovery": {
          "description": "A note describing the initial analysis of a resource.",
          "$ref": "Discovery"
        },
        "vulnerabilityAssessment": {
          "description": "A note describing a vulnerability assessment.",
          "$ref": "VulnerabilityAssessmentNote"
        }
      },
      "id": "Note",
      "type": "object"
    },
    "Attestation": {
      "type": "object",
      "properties": {
        "genericSignedAttestation": {
          "$ref": "GenericSignedAttestation"
        },
        "pgpSignedAttestation": {
          "$ref": "PgpSignedAttestation",
          "description": "A PGP signed attestation."
        }
      },
      "id": "Attestation",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for look-up (how to find this attestation if you already know the authority and artifact to be verified) and intent (which authority was this attestation intended to sign for)."
    },
    "LicensesSummary": {
      "properties": {
        "count": {
          "description": "The number of fixable vulnerabilities associated with this resource.",
          "type": "string",
          "format": "int64"
        },
        "license": {
          "type": "string",
          "description": "The license of the package. Note that the format of this value is not guaranteed. It may be nil, an empty string, a boolean value (A | B), a differently formed boolean value (A OR B), etc..."
        }
      },
      "type": "object",
      "description": "Per license count",
      "id": "LicensesSummary"
    },
    "ListOccurrencesResponse": {
      "id": "ListOccurrencesResponse",
      "description": "Response for listing occurrences.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable regions. Populated for requests from the global region when `return_partial_success` is set. Format: `projects/[PROJECT_ID]/locations/[LOCATION]`",
          "type": "array"
        },
        "occurrences": {
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          },
          "description": "The occurrences requested."
        },
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource": {
      "description": "Location of the source in any accessible Git repository.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
        },
        "revision": {
          "type": "string",
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
      "type": "object",
      "description": "A fatal problem encountered during the execution of the build.",
      "properties": {
        "detail": {
          "description": "Explains the failure issue in more detail using hard-coded text.",
          "type": "string"
        },
        "type": {
          "description": "The name of the failure.",
          "type": "string",
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ],
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ]
        }
      }
    },
    "SigningKey": {
      "description": "This defines the format used to record keys used in the software supply chain. An in-toto link is attested using one or more keys defined in the in-toto layout. An example of this is: { \"key_id\": \"776a00e29f3559e0141b3b096f696abc6cfb0c657ab40f441132b345b0...\", \"key_type\": \"rsa\", \"public_key_value\": \"-----BEGIN PUBLIC KEY-----\\nMIIBojANBgkqhkiG9w0B...\", \"key_scheme\": \"rsassa-pss-sha256\" } The format for in-toto's key definition can be found in section 4.2 of the in-toto specification.",
      "type": "object",
      "properties": {
        "publicKeyValue": {
          "type": "string",
          "description": "This field contains the actual public key."
        },
        "keyType": {
          "description": "This field identifies the specific signing method. Eg: \"rsa\", \"ed25519\", and \"ecdsa\".",
          "type": "string"
        },
        "keyScheme": {
          "description": "This field contains the corresponding signature scheme. Eg: \"rsassa-pss-sha256\".",
          "type": "string"
        },
        "keyId": {
          "description": "key_id is an identifier for the signing key.",
          "type": "string"
        }
      },
      "id": "SigningKey"
    },
    "EnvelopeSignature": {
      "properties": {
        "sig": {
          "format": "byte",
          "type": "string"
        },
        "keyid": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnvelopeSignature"
    },
    "CVSS": {
      "id": "CVSS",
      "description": "Common Vulnerability Scoring System. This message is compatible with CVSS v2, v3, and v4. For CVSS v2 details, see https://www.first.org/cvss/v2/guide CVSS v2 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v2-calculator For CVSS v3 details, see https://www.first.org/cvss/specification-document CVSS v3 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator For CVSS v4 details, see https://www.first.org/cvss/v4.0/user-guide CVSS v4 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v4-calculator",
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ],
          "description": "Scope (S). Defined in CVSS v3."
        },
        "vulnerableSystemIntegrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Confidentiality Impact (C). Defined in CVSS v2, v3."
        },
        "integrityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Integrity Impact (I). Defined in CVSS v2, v3."
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "vulnerableSystemAvailabilityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ],
          "description": "User Interaction (UI). Defined in CVSS v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction required (UI:P). Defined in CVSS v4.",
            "Active user interaction required (UI:A). Defined in CVSS v4."
          ]
        },
        "subsequentSystemAvailabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Subsequent System Availability Impact (SA). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ],
          "description": "Attack Complexity (AC). Defined in CVSS v2, v3, v4."
        },
        "attackRequirements": {
          "type": "string",
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ],
          "description": "Attack Requirements (AT). Defined in CVSS v4."
        },
        "attackVector": {
          "description": "Attack Vector (AV). Defined in CVSS v2, v3, v4.",
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ]
        },
        "vulnerableSystemConfidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ],
          "description": "Privileges Required (PR). Defined in CVSS v3, v4.",
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "subsequentSystemIntegrityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Subsequent System Integrity Impact (SI). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "authentication": {
          "type": "string",
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "description": "Authentication (Au). Defined in CVSS v2."
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "baseScore": {
          "type": "number",
          "description": "The base score is a function of the base metric scores.",
          "format": "float"
        },
        "subsequentSystemConfidentialityImpact": {
          "description": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "exploitMaturity": {
          "description": "Exploit Maturity (E). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "EXPLOIT_MATURITY_UNSPECIFIED",
            "EXPLOIT_MATURITY_NOT_DEFINED",
            "EXPLOIT_MATURITY_ATTACKED",
            "EXPLOIT_MATURITY_POC",
            "EXPLOIT_MATURITY_UNREPORTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Exploit maturity: Not defined (E:X). Defined in CVSS v4.",
            "Exploit maturity: Attacked (E:A). Defined in CVSS v4.",
            "Exploit maturity: Proof-of-concept (E:P). Defined in CVSS v4.",
            "Exploit maturity: Unreported (E:U). Defined in CVSS v4."
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Availability Impact (A). Defined in CVSS v2, v3.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource": {
      "properties": {
        "generation": {
          "format": "int64",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "sourceFetcher": {
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "type": "string",
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ]
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
        }
      },
      "description": "Location of the source in an archive file in Cloud Storage.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource"
    },
    "Envelope": {
      "id": "Envelope",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        },
        "payloadType": {
          "type": "string"
        },
        "payload": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type."
    },
    "Artifact": {
      "id": "Artifact",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        },
        "checksum": {
          "type": "string",
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
        },
        "names": {
          "type": "array",
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Artifact describes a build product."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency": {
      "description": "Represents a git repository as a build dependency.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency",
      "type": "object",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Required. The revision that we will fetch the repo at."
        },
        "destPath": {
          "description": "Required. Where should the files be placed on the worker.",
          "type": "string"
        },
        "recurseSubmodules": {
          "type": "boolean",
          "description": "Optional. True if submodules should be fetched too (default false)."
        },
        "fetchTags": {
          "type": "boolean",
          "description": "Optional. True if remote tags should be fetched too (default false). Note: when depth is 1 (default), git fetch only retrieves tags pointing to commits within the shallow boundary. Set depth to -1 to fetch all historical tags."
        },
        "repository": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository",
          "description": "Required. The kind of repo (url or dev connect)."
        },
        "depth": {
          "type": "string",
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history).",
          "format": "int64"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval": {
      "properties": {
        "config": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
          "description": "Output only. Configuration for manual approval of this build."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "description": "Output only. The state of this build's approval."
        },
        "result": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
          "description": "Output only. Result of manual approval for this Build.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval",
      "description": "BuildApproval describes a build's approval configuration, state, and result."
    },
    "SecretStatus": {
      "properties": {
        "message": {
          "description": "Optional. Optional message about the status code.",
          "type": "string"
        },
        "updateTime": {
          "description": "Optional. The time the secret status was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "UNKNOWN",
            "VALID",
            "INVALID"
          ],
          "enumDescriptions": [
            "Unspecified",
            "The status of the secret is unknown.",
            "The secret is valid.",
            "The secret is invalid."
          ],
          "description": "Optional. The status of the secret."
        }
      },
      "id": "SecretStatus",
      "type": "object",
      "description": "The status of the secret with a timestamp."
    },
    "SbomReferenceIntotoPayload": {
      "description": "The actual payload that contains the SBOM Reference data. The payload follows the intoto statement specification. See https://github.com/in-toto/attestation/blob/main/spec/v1.0/statement.md for more details.",
      "type": "object",
      "id": "SbomReferenceIntotoPayload",
      "properties": {
        "predicateType": {
          "description": "URI identifying the type of the Predicate.",
          "type": "string"
        },
        "subject": {
          "description": "Set of software artifacts that the attestation applies to. Each element represents a single software artifact.",
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "_type": {
          "description": "Identifier for the schema of the Statement.",
          "type": "string"
        },
        "predicate": {
          "description": "Additional parameters of the Predicate. Includes the actual data about the SBOM.",
          "$ref": "SbomReferenceIntotoPredicate"
        }
      }
    },
    "Discovered": {
      "properties": {
        "analysisStatus": {
          "type": "string",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported"
          ],
          "description": "The status of discovery for the resource."
        },
        "files": {
          "description": "Files that make up the resource described by the occurrence.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API.",
          "$ref": "Status"
        },
        "lastAnalysisTime": {
          "type": "string",
          "description": "The last time continuous analysis was done for this resource. Deprecated, do not use.",
          "format": "google-datetime"
        },
        "sbomStatus": {
          "description": "The status of an SBOM generation.",
          "$ref": "SBOMStatus"
        },
        "lastVulnerabilityUpdateTime": {
          "format": "google-datetime",
          "description": "The last time vulnerability scan results changed.",
          "type": "string"
        },
        "analysisError": {
          "items": {
            "$ref": "Status"
          },
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "type": "array"
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "lastScanTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time this resource was scanned."
        },
        "continuousAnalysis": {
          "description": "Whether the resource is continuously analyzed.",
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      },
      "description": "Provides information about the analysis status of a discovered resource.",
      "id": "Discovered",
      "type": "object"
    },
    "FindingLocation": {
      "description": "Location details with file path and line number.",
      "type": "object",
      "id": "FindingLocation",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "Relative path of the file containing the finding."
        },
        "lineNumber": {
          "description": "Line number (1-based), or 0 if whole File / unknown.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SbomReferenceIntotoPredicate": {
      "type": "object",
      "properties": {
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the SBOM."
        },
        "digest": {
          "type": "object",
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "description": "The location of the SBOM.",
          "type": "string"
        }
      },
      "description": "A predicate which describes the SBOM being referenced.",
      "id": "SbomReferenceIntotoPredicate"
    },
    "TokenUsage": {
      "type": "object",
      "id": "TokenUsage",
      "description": "Token usage associated with an AI scan.",
      "properties": {
        "promptCount": {
          "format": "int64",
          "description": "Tokens in the user request.",
          "type": "string"
        },
        "toolUsePromptCount": {
          "type": "string",
          "description": "Prompt tokens for using tools.",
          "format": "int64"
        },
        "cacheCount": {
          "description": "Cache matched tokens for implicit cache.",
          "format": "int64",
          "type": "string"
        },
        "candidateCount": {
          "format": "int64",
          "description": "Tokens in the model response.",
          "type": "string"
        },
        "thinkingCount": {
          "format": "int64",
          "description": "Tokens in the thinking output.",
          "type": "string"
        }
      }
    },
    "Digest": {
      "properties": {
        "algo": {
          "type": "string",
          "description": "`SHA1`, `SHA512` etc."
        },
        "digestBytes": {
          "type": "string",
          "format": "byte",
          "description": "Value of the digest."
        }
      },
      "id": "Digest",
      "type": "object",
      "description": "Digest information."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact",
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
        },
        "folder": {
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions",
      "type": "object",
      "properties": {
        "diskSizeGb": {
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error.",
          "type": "string",
          "format": "int64"
        },
        "enableStructuredLogging": {
          "type": "boolean",
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs."
        },
        "logStreamingOption": {
          "type": "string",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Cloud Storage.",
            "Build logs should not be streamed to Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Cloud Storage."
        },
        "env": {
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "volumes": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "sourceProvenanceHash": {
          "description": "Requested hash for SourceProvenance.",
          "items": {
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ],
            "type": "string",
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ]
          },
          "type": "array"
        },
        "substitutionOption": {
          "type": "string",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ],
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file."
        },
        "requestedVerifyOption": {
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "description": "Requested verifiability options.",
          "type": "string",
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ]
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "machineType": {
          "description": "Compute Engine machine type on which to run the build.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM",
            "E2_STANDARD_2"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU.",
            "E2 machine with 2 CPUs."
          ]
        },
        "secretEnv": {
          "type": "array",
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.",
          "items": {
            "type": "string"
          }
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption"
        },
        "pubsubTopic": {
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates.",
          "type": "string"
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for all build steps."
        },
        "workerPool": {
          "description": "This field deprecated; please use `pool.name` instead.",
          "deprecated": true,
          "type": "string"
        },
        "logging": {
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "type": "string",
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ]
        },
        "defaultLogsBucketBehavior": {
          "type": "string",
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "description": "Optional. Option to specify how default logs buckets are setup."
        }
      }
    },
    "Hash": {
      "properties": {
        "type": {
          "description": "Required. The type of hash that was performed.",
          "type": "string",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ],
          "enumDescriptions": [
            "Unknown.",
            "A SHA-256 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded. See b/244466565 and https://github.com/in-toto/attestation/pull/108.",
            "A SHA-512 hash.",
            "A Dirsum SHA-256 hash."
          ]
        },
        "value": {
          "description": "Required. The hash value.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Container message for hash values.",
      "id": "Hash",
      "type": "object"
    },
    "SlsaProvenanceV1": {
      "description": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts.",
      "properties": {
        "buildDefinition": {
          "$ref": "BuildDefinition"
        },
        "runDetails": {
          "$ref": "RunDetails"
        }
      },
      "type": "object",
      "id": "SlsaProvenanceV1"
    },
    "SBOMReferenceOccurrence": {
      "id": "SBOMReferenceOccurrence",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "type": "object",
      "properties": {
        "payload": {
          "$ref": "SbomReferenceIntotoPayload",
          "description": "The actual payload that contains the SBOM reference data."
        },
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "description": "The signatures over the payload.",
          "type": "array"
        }
      }
    },
    "BatchCreateNotesRequest": {
      "description": "Request to create notes in batch.",
      "properties": {
        "notes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Note"
          },
          "description": "Required. The notes to create, the key is expected to be the note ID. Max allowed length is 1000."
        }
      },
      "type": "object",
      "id": "BatchCreateNotesRequest"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Source": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Source",
      "properties": {
        "connectedRepository": {
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository"
        },
        "storageSourceManifest": {
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest"
        },
        "developerConnectConfig": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
          "description": "If provided, get the source from this Developer Connect config."
        },
        "storageSource": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource",
          "description": "If provided, get the source from this location in Cloud Storage."
        },
        "repoSource": {
          "description": "If provided, get the source from this location in a Cloud Source Repository.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
        },
        "gitSource": {
          "description": "If provided, get the source from this Git repository.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource"
        }
      },
      "description": "Location of the source in a supported storage service.",
      "type": "object"
    },
    "Layer": {
      "id": "Layer",
      "type": "object",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "properties": {
        "directive": {
          "description": "Required. The recovered Dockerfile directive used to construct this layer.",
          "enumDescriptions": [
            "Default value for unsupported/missing directive.",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/"
          ],
          "type": "string",
          "enum": [
            "DIRECTIVE_UNSPECIFIED",
            "MAINTAINER",
            "RUN",
            "CMD",
            "LABEL",
            "EXPOSE",
            "ENV",
            "ADD",
            "COPY",
            "ENTRYPOINT",
            "VOLUME",
            "USER",
            "WORKDIR",
            "ARG",
            "ONBUILD",
            "STOPSIGNAL",
            "HEALTHCHECK",
            "SHELL"
          ]
        },
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        }
      }
    },
    "CloudRepoSourceContext": {
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        },
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        }
      },
      "id": "CloudRepoSourceContext",
      "type": "object",
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo."
    },
    "SourceContext": {
      "id": "SourceContext",
      "properties": {
        "labels": {
          "description": "Labels with user defined metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "CloudRepoSourceContext"
        },
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GerritSourceContext"
        }
      },
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
      "description": "Start and end times for a build execution phase.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End of time span.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Start of time span.",
          "format": "google-datetime"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage",
      "type": "object",
      "properties": {
        "packagePath": {
          "type": "string",
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified."
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      },
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps."
    },
    "Assessment": {
      "description": "Assessment provides all information that is related to a single vulnerability for this product.",
      "type": "object",
      "id": "Assessment",
      "properties": {
        "state": {
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ],
          "description": "Provides the state of this Vulnerability assessment.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ]
        },
        "impacts": {
          "items": {
            "type": "string"
          },
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "type": "array"
        },
        "cve": {
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability. Deprecated: Use vulnerability_id instead to denote CVEs.",
          "type": "string",
          "deprecated": true
        },
        "shortDescription": {
          "description": "A one sentence description of this Vex.",
          "type": "string"
        },
        "relatedUris": {
          "type": "array",
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Holds a list of references associated with this vulnerability item and assessment. These uris have additional information about the vulnerability and the assessment itself. E.g. Link to a document which details how this assessment concluded the state of this vulnerability."
        },
        "longDescription": {
          "type": "string",
          "description": "A detailed description of this Vex."
        },
        "remediations": {
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "type": "array",
          "items": {
            "$ref": "Remediation"
          }
        },
        "justification": {
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
          "$ref": "Justification"
        },
        "vulnerabilityId": {
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc.",
          "type": "string"
        }
      }
    },
    "FileLocation": {
      "id": "FileLocation",
      "description": "Indicates the location at which a package was found.",
      "type": "object",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        }
      }
    },
    "GrafeasV1beta1ImageDetails": {
      "type": "object",
      "description": "Details of an image occurrence.",
      "id": "GrafeasV1beta1ImageDetails",
      "properties": {
        "derivedImage": {
          "description": "Required. Immutable. The child image derived from the base image.",
          "$ref": "Derived"
        }
      }
    },
    "BatchCreateOccurrencesRequest": {
      "properties": {
        "occurrences": {
          "description": "Required. The occurrences to create. Max allowed length is 1000.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        }
      },
      "id": "BatchCreateOccurrencesRequest",
      "type": "object",
      "description": "Request to create occurrences in batch."
    },
    "InToto": {
      "id": "InToto",
      "properties": {
        "signingKeys": {
          "description": "This field contains the public keys that can be used to verify the signatures on the step metadata.",
          "type": "array",
          "items": {
            "$ref": "SigningKey"
          }
        },
        "expectedCommand": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This field contains the expected command used to perform the step."
        },
        "expectedMaterials": {
          "items": {
            "$ref": "ArtifactRule"
          },
          "description": "The following fields contain in-toto artifact rules identifying the artifacts that enter this supply chain step, and exit the supply chain step, i.e. materials and products of the step.",
          "type": "array"
        },
        "stepName": {
          "description": "This field identifies the name of the step in the supply chain.",
          "type": "string"
        },
        "expectedProducts": {
          "type": "array",
          "items": {
            "$ref": "ArtifactRule"
          }
        },
        "threshold": {
          "type": "string",
          "format": "int64",
          "description": "This field contains a value that indicates the minimum number of keys that need to be used to sign the step's in-toto link."
        }
      },
      "description": "This contains the fields corresponding to the definition of a software supply chain step in an in-toto layout. This information goes into a Grafeas note.",
      "type": "object"
    },
    "Justification": {
      "type": "object",
      "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
      "id": "Justification",
      "properties": {
        "details": {
          "description": "Additional details on why this justification was chosen.",
          "type": "string"
        },
        "justificationType": {
          "enumDescriptions": [
            "JUSTIFICATION_TYPE_UNSPECIFIED.",
            "The vulnerable component is not present in the product.",
            "The vulnerable code is not present. Typically this case occurs when source code is configured or built in a way that excludes the vulnerable code.",
            "The vulnerable code can not be executed. Typically this case occurs when the product includes the vulnerable code but does not call or use the vulnerable code.",
            "The vulnerable code cannot be controlled by an attacker to exploit the vulnerability.",
            "The product includes built-in protections or features that prevent exploitation of the vulnerability. These built-in protections cannot be subverted by the attacker and cannot be configured or disabled by the user. These mitigations completely prevent exploitation based on known attack vectors."
          ],
          "description": "The justification type for this vulnerability.",
          "type": "string",
          "enum": [
            "JUSTIFICATION_TYPE_UNSPECIFIED",
            "COMPONENT_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH",
            "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY",
            "INLINE_MITIGATIONS_ALREADY_EXIST"
          ]
        }
      }
    },
    "StepResult": {
      "properties": {
        "attestationType": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "attestationContentName": {
          "type": "string"
        }
      },
      "id": "StepResult",
      "type": "object",
      "description": "StepResult is the declaration of a result for a build step."
    },
    "Deployable": {
      "description": "An artifact that can be deployed in some runtime.",
      "id": "Deployable",
      "type": "object",
      "properties": {
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Resource URI for the artifact being deployed."
        }
      }
    },
    "SecretLocation": {
      "description": "The location of the secret.",
      "type": "object",
      "id": "SecretLocation",
      "properties": {
        "fileLocation": {
          "description": "The secret is found from a file.",
          "$ref": "FileLocation"
        }
      }
    },
    "GrafeasV1beta1DiscoveryDetails": {
      "description": "Details of a discovery occurrence.",
      "type": "object",
      "id": "GrafeasV1beta1DiscoveryDetails",
      "properties": {
        "discovered": {
          "description": "Required. Analysis status for the discovered resource.",
          "$ref": "Discovered"
        }
      }
    },
    "SBOMStatus": {
      "description": "The status of an SBOM generation.",
      "id": "SBOMStatus",
      "type": "object",
      "properties": {
        "sbomState": {
          "description": "The progress of the SBOM generation.",
          "type": "string",
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ]
        },
        "error": {
          "description": "If there was an error generating an SBOM, this will indicate what that error was.",
          "type": "string"
        }
      }
    },
    "FixableTotalByDigest": {
      "id": "FixableTotalByDigest",
      "description": "Per resource and severity counts of fixable and total vulnerabilities.",
      "type": "object",
      "properties": {
        "fixableCount": {
          "description": "The number of fixable vulnerabilities associated with this resource.",
          "format": "int64",
          "type": "string"
        },
        "resource": {
          "description": "The affected resource.",
          "$ref": "Resource"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The severity for this count. SEVERITY_UNSPECIFIED indicates total across all severities.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "totalCount": {
          "description": "The total number of vulnerabilities associated with this resource.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Signature": {
      "properties": {
        "signature": {
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload.",
          "type": "string",
          "format": "byte"
        },
        "publicKeyId": {
          "type": "string",
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
        }
      },
      "id": "Signature",
      "type": "object",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature)."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage",
      "properties": {
        "fileHashes": {
          "description": "Hash types and values of the npm package.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
        },
        "uri": {
          "type": "string",
          "description": "URI of the uploaded npm package."
        },
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Distribution": {
      "properties": {
        "architecture": {
          "description": "The CPU architecture for which packages in this distribution channel were built.",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ]
        },
        "url": {
          "description": "The distribution channel-specific homepage for this package.",
          "type": "string"
        },
        "cpeUri": {
          "description": "Required. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        },
        "maintainer": {
          "description": "A freeform string denoting the maintainer of this package.",
          "type": "string"
        },
        "latestVersion": {
          "$ref": "Version",
          "description": "The latest available version of this package in this distribution channel."
        },
        "description": {
          "type": "string",
          "description": "The distribution channel-specific description of this package."
        }
      },
      "type": "object",
      "id": "Distribution",
      "description": "This represents a particular channel of distribution for a given package. E.g., Debian's jessie-backports dpkg mirror."
    },
    "Build": {
[...]
