{
  "id": "container:v1",
  "discoveryVersion": "v1",
  "rootUrl": "https://container.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "name": "container",
  "protocol": "rest",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "batchPath": "batch",
  "schemas": {
    "AdditionalNodeNetworkConfig": {
      "type": "object",
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message",
      "id": "AdditionalNodeNetworkConfig",
      "properties": {
        "subnetwork": {
          "description": "Name of the subnetwork where the additional interface belongs",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Name of the VPC where the additional interface belongs"
        }
      }
    },
    "ConfidentialNodes": {
      "id": "ConfidentialNodes",
      "properties": {
        "enabled": {
          "description": "Whether Confidential Nodes feature is enabled.",
          "type": "boolean"
        },
        "confidentialInstanceType": {
          "type": "string",
          "description": "Defines the type of technology used by the confidential node.",
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ],
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "AMD Secure Encrypted Virtualization.",
            "AMD Secure Encrypted Virtualization - Secure Nested Paging.",
            "Intel Trust Domain eXtension."
          ]
        }
      },
      "type": "object",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs."
    },
    "BinaryAuthorization": {
      "properties": {
        "enabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored."
        },
        "evaluationMode": {
          "type": "string",
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ]
        }
      },
      "type": "object",
      "description": "Configuration for Binary Authorization.",
      "id": "BinaryAuthorization"
    },
    "RecurringMaintenanceWindow": {
      "id": "RecurringMaintenanceWindow",
      "type": "object",
      "description": "Represents an arbitrary window of time that recurs. Will replace RecurringTimeWindow.",
      "properties": {
        "windowDuration": {
          "description": "Required. Duration of the window.",
          "type": "string",
          "format": "google-duration"
        },
        "delayUntil": {
          "$ref": "Date",
          "description": "Optional. Specifies the date before which will not be scheduled. Depending on the recurrence, this may be the date the first window appears. Days are measured in the UTC timezone. This setting must be used when INTERVAL>1 or FREQ=WEEKLY/MONTHLY and no BYDAY specified."
        },
        "recurrence": {
          "description": "Required. An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window recurs. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        },
        "windowStartTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Start time of the window on days that it is scheduled, assuming UTC timezone."
        }
      }
    },
    "UpgradeInfoEvent": {
      "type": "object",
      "id": "UpgradeInfoEvent",
      "properties": {
        "targetEmulatedVersion": {
          "type": "string",
          "description": "Output only. The target emulated version for the upgrade.",
          "readOnly": true
        },
        "endTime": {
          "description": "The time when the operation ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "STARTED",
            "SUCCEEDED",
            "FAILED",
            "CANCELED"
          ],
          "enumDescriptions": [
            "STATE_UNSPECIFIED indicates the state is unspecified.",
            "SCHEDULED indicates the upgrade was scheduled.",
            "STARTED indicates the upgrade has started.",
            "SUCCEEDED indicates the upgrade has completed successfully.",
            "FAILED indicates the upgrade has failed.",
            "CANCELED indicates the upgrade has canceled."
          ],
          "description": "Output only. The state of the upgrade.",
          "type": "string",
          "readOnly": true
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "description": "The resource type associated with the upgrade."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time when the operation was started.",
          "type": "string"
        },
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        },
        "targetVersion": {
          "description": "The target version for the upgrade.",
          "type": "string"
        },
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "currentEmulatedVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current emulated version before the upgrade."
        },
        "eventType": {
          "enumDescriptions": [
            "EVENT_TYPE_UNSPECIFIED indicates the event type is unspecified.",
            "END_OF_SUPPORT indicates GKE version reaches end of support, check standard_support_end_time and extended_support_end_time for more details.",
            "COS_MILESTONE_VERSION_UPDATE indicates that the COS node image will update COS milestone version for new patch versions starting with the one in the description.",
            "UPGRADE_LIFECYCLE indicates the event is about the upgrade lifecycle.",
            "DISRUPTION_EVENT indicates the event is about the disruption."
          ],
          "description": "The type of the event.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "END_OF_SUPPORT",
            "COS_MILESTONE_VERSION_UPDATE",
            "UPGRADE_LIFECYCLE",
            "DISRUPTION_EVENT"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the event."
        },
        "extendedSupportEndTime": {
          "format": "google-datetime",
          "description": "The end of extended support timestamp.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        },
        "disruptionEvent": {
          "description": "The information about the disruption event. This field is only populated when event_type is DISRUPTION_EVENT.",
          "$ref": "DisruptionEvent"
        },
        "standardSupportEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of standard support timestamp."
        }
      },
      "description": "UpgradeInfoEvent is a notification sent to customers about the upgrade information of a resource."
    },
    "NodeCreationConfig": {
      "type": "object",
      "properties": {
        "nodeCreationMode": {
          "enumDescriptions": [
            "When no user input is provided.",
            "Kubelet registers itself.",
            "gcp-controller-manager automatically creates the node object after CSR approval."
          ],
          "type": "string",
          "description": "The mode of node creation.",
          "enum": [
            "MODE_UNSPECIFIED",
            "VIA_KUBELET",
            "VIA_CONTROL_PLANE"
          ]
        }
      },
      "id": "NodeCreationConfig",
      "description": "NodeCreationConfig defines the settings of node creation mode."
    },
    "HttpLoadBalancing": {
      "id": "HttpLoadBalancing",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      }
    },
    "DiskIoScheduler": {
      "type": "object",
      "properties": {
        "nodeAttachedDiskIoScheduler": {
          "description": "Optional. Configures the IO scheduler for the attached disks. Supported values are `mq-deadline`, `bfq`, `kyber`, `none`.",
          "type": "string"
        },
        "nodeSystemIoScheduler": {
          "description": "Optional. Configures the IO scheduler for the boot disk or ephemeral lssd that runs node system workloads. Supported values are `mq-deadline`, `bfq`, `kyber`, `none`.",
          "type": "string"
        }
      },
      "id": "DiskIoScheduler",
      "description": "DiskIoScheduler contains the configuration for the disk IO scheduler."
    },
    "ScheduleUpgradeConfig": {
      "id": "ScheduleUpgradeConfig",
      "type": "object",
      "description": "Configuration for scheduled upgrades on the cluster.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether or not scheduled upgrades are enabled.",
          "type": "boolean"
        }
      }
    },
    "PrivilegedAdmissionConfig": {
      "description": "PrivilegedAdmissionConfig stores the list of authorized allowlist paths for the cluster.",
      "properties": {
        "allowlistPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The customer allowlist Cloud Storage paths for the cluster. These paths are used with the `--autopilot-privileged-admission` flag to authorize privileged workloads in Autopilot clusters. Paths can be GKE-owned, in the format `gke:////`, or customer-owned, in the format `gs:///`. Wildcards (`*`) are supported to authorize all allowlists under specific paths or directories. Example: `gs://my-bucket/*` will authorize all allowlists under the `my-bucket` bucket."
        }
      },
      "type": "object",
      "id": "PrivilegedAdmissionConfig"
    },
    "CostManagementConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the feature is enabled or not."
        }
      },
      "id": "CostManagementConfig",
      "description": "Configuration for fine-grained cost allocation feature."
    },
    "AddonsConfig": {
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
      "id": "AddonsConfig",
      "type": "object",
      "properties": {
        "parallelstoreCsiDriverConfig": {
          "description": "Deprecated: The Parallelstore CSI driver is no longer supported. Configuration for the Cloud Storage Parallelstore CSI driver.",
          "$ref": "ParallelstoreCsiDriverConfig",
          "deprecated": true
        },
        "networkPolicyConfig": {
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
          "$ref": "NetworkPolicyConfig"
        },
        "nodeReadinessConfig": {
          "$ref": "NodeReadinessConfig",
          "description": "Optional. Configuration for NodeReadinessController add-on."
        },
        "horizontalPodAutoscaling": {
          "$ref": "HorizontalPodAutoscaling",
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
        },
        "httpLoadBalancing": {
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
          "$ref": "HttpLoadBalancing"
        },
        "podSnapshotConfig": {
          "description": "Optional. Configuration for the Pod Snapshot feature.",
          "$ref": "PodSnapshotConfig"
        },
        "highScaleCheckpointingConfig": {
          "description": "Configuration for the High Scale Checkpointing add-on.",
          "$ref": "HighScaleCheckpointingConfig"
        },
        "gcsFuseCsiDriverConfig": {
          "description": "Configuration for the Cloud Storage Fuse CSI driver.",
          "$ref": "GcsFuseCsiDriverConfig"
        },
        "agentSandboxConfig": {
          "description": "Optional. Configuration for the AgentSandbox addon.",
          "$ref": "AgentSandboxConfig"
        },
        "sliceControllerConfig": {
          "$ref": "SliceControllerConfig",
          "description": "Optional. Configuration for the slice controller add-on."
        },
        "gkeBackupAgentConfig": {
          "$ref": "GkeBackupAgentConfig",
          "description": "Configuration for the Backup for GKE agent addon."
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "$ref": "KubernetesDashboard",
          "deprecated": true
        },
        "gcePersistentDiskCsiDriverConfig": {
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver.",
          "$ref": "GcePersistentDiskCsiDriverConfig"
        },
        "dnsCacheConfig": {
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes",
          "$ref": "DnsCacheConfig"
        },
        "configConnectorConfig": {
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted Google Cloud services through the Kubernetes API.",
          "$ref": "ConfigConnectorConfig"
        },
        "cloudRunConfig": {
          "description": "Configuration for the Cloud Run addon, which allows the user to use a managed Knative service.",
          "$ref": "CloudRunConfig"
        },
        "statefulHaConfig": {
          "description": "Optional. Configuration for the StatefulHA add-on.",
          "$ref": "StatefulHAConfig"
        },
        "slurmOperatorConfig": {
          "description": "Configuration for the Slurm Operator.",
          "$ref": "SlurmOperatorConfig"
        },
        "gcpFilestoreCsiDriverConfig": {
          "$ref": "GcpFilestoreCsiDriverConfig",
          "description": "Configuration for the Filestore CSI driver."
        },
        "rayOperatorConfig": {
          "description": "Optional. Configuration for Ray Operator addon.",
          "$ref": "RayOperatorConfig"
        },
        "lustreCsiDriverConfig": {
          "description": "Configuration for the Lustre CSI driver.",
          "$ref": "LustreCsiDriverConfig"
        }
      }
    },
    "SandboxConfig": {
      "id": "SandboxConfig",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "GVISOR",
            "MICROVM"
          ],
          "description": "Type of the sandbox to use for the node.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor.",
            "Run sandbox using MicroVM."
          ]
        }
      },
      "description": "SandboxConfig contains configurations of the sandbox to use for the node."
    },
    "InitScript": {
      "type": "object",
      "description": "InitScript provide a simply bash script to be executed on the node.",
      "properties": {
        "gcsGeneration": {
          "description": "The generation of the init script stored in Gloud Storage. This is the required field to identify the version of the init script. User can get the genetaion from `gcloud storage objects describe gs://BUCKET_NAME/OBJECT_NAME --format=\"value(generation)\"` or from the \"Version history\" tab of the object in the Cloud Console UI.",
          "format": "int64",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI for storing the init script. Format: gs://BUCKET_NAME/OBJECT_NAME The service account on the node pool must have read access to the object. User can't configure both gcs_uri and gcp_secret_manager_secret_uri."
        },
        "gcpSecretManagerSecretUri": {
          "description": "The resource name of the secret manager secret hosting the init script. Both global and regional secrets are supported with format below: Global secret: projects/{project}/secrets/{secret}/versions/{version} Regional secret: projects/{project}/locations/{location}/secrets/{secret}/versions/{version} Example: projects/1234567890/secrets/script_1/versions/1. Accept version number only, not support version alias. User can't configure both gcp_secret_manager_secret_uri and gcs_uri.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The optional arguments line to be passed to the init script.",
          "type": "array"
        }
      },
      "id": "InitScript"
    },
    "BlueGreenInfo": {
      "id": "BlueGreenInfo",
      "description": "Information relevant to blue-green upgrade.",
      "properties": {
        "phase": {
          "enum": [
            "PHASE_UNSPECIFIED",
            "UPDATE_STARTED",
            "CREATING_GREEN_POOL",
            "CORDONING_BLUE_POOL",
            "DRAINING_BLUE_POOL",
            "NODE_POOL_SOAKING",
            "DELETING_BLUE_POOL",
            "ROLLBACK_STARTED"
          ],
          "enumDescriptions": [
            "Unspecified phase.",
            "blue-green upgrade has been initiated.",
            "Start creating green pool nodes.",
            "Start cordoning blue pool nodes.",
            "Start draining blue pool nodes.",
            "Start soaking time after draining entire blue pool.",
            "Start deleting blue nodes.",
            "Rollback has been initiated."
          ],
          "description": "Current blue-green upgrade phase.",
          "type": "string"
        },
        "greenInstanceGroupUrls": {
          "type": "array",
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with green pool.",
          "items": {
            "type": "string"
          }
        },
        "bluePoolDeletionStartTime": {
          "description": "Time to start deleting blue pool to complete blue-green upgrade, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "blueInstanceGroupUrls": {
          "type": "array",
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with blue pool.",
          "items": {
            "type": "string"
          }
        },
        "greenPoolVersion": {
          "description": "Version of green pool.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BootDiskProfile": {
      "properties": {
        "swapSizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Specifies the size of the swap space in gibibytes (GiB)."
        },
        "swapSizePercent": {
          "format": "int32",
          "description": "Specifies the size of the swap space as a percentage of the boot disk size.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Swap on the node's boot disk.",
      "id": "BootDiskProfile"
    },
    "SetAddonsConfigRequest": {
      "properties": {
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Required. The desired configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "id": "SetAddonsConfigRequest",
      "description": "SetAddonsConfigRequest sets the addons associated with the cluster.",
      "type": "object"
    },
    "GPUSharingConfig": {
      "type": "object",
      "description": "GPUSharingConfig represents the GPU sharing configuration for Hardware Accelerators.",
      "id": "GPUSharingConfig",
      "properties": {
        "maxSharedClientsPerGpu": {
          "description": "The max number of containers that can share a physical GPU.",
          "format": "int64",
          "type": "string"
        },
        "gpuSharingStrategy": {
          "description": "The type of GPU sharing strategy to enable on the GPU node.",
          "enum": [
            "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "TIME_SHARING",
            "MPS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "GPUs are time-shared between containers.",
            "GPUs are shared between containers with NVIDIA MPS."
          ]
        }
      }
    },
    "DesiredEnterpriseConfig": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "desiredTier": {
          "type": "string",
          "description": "desired_tier specifies the desired tier of the cluster.",
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ],
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ]
        }
      },
      "id": "DesiredEnterpriseConfig",
      "description": "DesiredEnterpriseConfig is a wrapper used for updating enterprise_config. Deprecated: GKE Enterprise features are now available without an Enterprise tier."
    },
    "NodeTaints": {
      "id": "NodeTaints",
      "type": "object",
      "description": "Collection of Kubernetes [node taints](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration).",
      "properties": {
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "List of node taints."
        }
      }
    },
    "Cluster": {
      "properties": {
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Configuration for Binary Authorization."
        },
        "controlPlaneEgress": {
          "$ref": "ControlPlaneEgress",
          "description": "Configuration for control plane egress control."
        },
        "servicesIpv4Cidr": {
          "description": "Output only. The IP address range of the Kubernetes services in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR.",
          "type": "string",
          "readOnly": true
        },
        "locations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "items": {
            "type": "string"
          }
        },
        "notificationConfig": {
          "description": "Notification configuration of the cluster.",
          "$ref": "NotificationConfig"
        },
        "nodeConfig": {
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead.",
          "deprecated": true,
          "$ref": "NodeConfig"
        },
        "enableTpu": {
          "description": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25.",
          "type": "boolean",
          "deprecated": true
        },
        "masterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.authorized_networks_config instead.",
          "deprecated": true
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources.",
          "type": "object"
        },
        "securityPostureConfig": {
          "$ref": "SecurityPostureConfig",
          "description": "Optional. Enable/Disable Security Posture API features for the cluster."
        },
        "enableK8sBetaApis": {
          "$ref": "K8sBetaAPIConfig",
          "description": "Beta APIs Config"
        },
        "identityServiceConfig": {
          "description": "Configuration for Identity Service component.",
          "$ref": "IdentityServiceConfig"
        },
        "workloadIdentityConfig": {
          "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies.",
          "$ref": "WorkloadIdentityConfig"
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "monitoringConfig": {
          "description": "Monitoring configuration for the cluster.",
          "$ref": "MonitoringConfig"
        },
        "defaultMaxPodsConstraint": {
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support.",
          "$ref": "MaxPodsConstraint"
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
          "type": "boolean"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "anonymousAuthenticationConfig": {
          "description": "Configuration for limiting anonymous access to all endpoints except the health checks.",
          "$ref": "AnonymousAuthenticationConfig"
        },
        "secretSyncConfig": {
          "$ref": "SecretSyncConfig",
          "description": "Configuration for sync Secret Manager secrets as k8s secrets."
        },
        "resourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified."
        },
        "meshCertificates": {
          "$ref": "MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "currentMasterVersion": {
          "type": "string",
          "description": "Output only. The current software version of the master endpoint.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available.",
          "type": "string",
          "deprecated": true,
          "readOnly": true
        },
        "alphaClusterFeatureGates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of user specified Kubernetes feature gates. Each string represents the activation status of a feature gate (e.g. \"featureX=true\" or \"featureX=false\")"
        },
        "nodePoolDefaults": {
          "$ref": "NodePoolDefaults",
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
        },
        "zone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead.",
          "deprecated": true
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "gkeAutoUpgradeConfig": {
          "description": "Configuration for GKE auto upgrades.",
          "$ref": "GkeAutoUpgradeConfig"
        },
        "nodePoolAutoConfig": {
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NodePoolAutoConfig"
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Configure the maintenance policy for this cluster."
        },
        "nodeCreationConfig": {
          "description": "Optional. Configuration for Node Creation Mode.",
          "$ref": "NodeCreationConfig"
        },
        "tpuIpv4CidrBlock": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. The IP address range of the Cloud TPUs in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
        },
        "podAutoscaling": {
          "description": "The config for pod autoscaling.",
          "$ref": "PodAutoscaling"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected."
        },
        "managedMachineLearningDiagnosticsConfig": {
          "description": "Configuration for Managed Machine Learning Diagnostics.",
          "$ref": "ManagedMachineLearningDiagnosticsConfig"
        },
        "network": {
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "The IP address range of the container pods in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
        },
        "currentNodeCount": {
          "deprecated": true,
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "format": "int32"
        },
        "legacyAbac": {
          "$ref": "LegacyAbac",
          "description": "Configuration for the legacy ABAC authorization mode."
        },
        "databaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "autopilot": {
          "$ref": "Autopilot",
          "description": "Autopilot configuration for the cluster."
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "name": {
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
          "type": "string"
        },
        "loggingConfig": {
          "description": "Logging configuration for the cluster.",
          "$ref": "LoggingConfig"
        },
        "scheduleUpgradeConfig": {
          "$ref": "ScheduleUpgradeConfig",
          "description": "Optional. Configuration for scheduled upgrades."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique id for the cluster.",
          "readOnly": true
        },
        "addonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "description": "Which conditions caused the current cluster state.",
          "type": "array"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "rbacBindingConfig": {
          "$ref": "RBACBindingConfig",
          "description": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created."
        },
        "parentProductConfig": {
          "description": "The configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of the GKE cluster and take the ownership of the cluster.",
          "$ref": "ParentProductConfig"
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "initialNodeCount": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead."
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "enterpriseConfig": {
          "$ref": "EnterpriseConfig",
          "deprecated": true,
          "description": "GKE Enterprise Configuration. Deprecated: GKE Enterprise features are now available without an Enterprise tier."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of cluster fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding."
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "authenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "endpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information."
        },
        "expireTime": {
          "description": "Output only. The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "type": "string"
        },
        "networkConfig": {
          "description": "Configuration for cluster networking.",
          "$ref": "NetworkConfig"
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "Release channel configuration. If left unspecified on cluster creation and a version is specified, the cluster is enrolled in the most mature release channel where the version is available (first checking STABLE, then REGULAR, and finally RAPID). Otherwise, if no release channel configuration and no version is specified, the cluster is enrolled in the REGULAR channel with its default version."
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "ipAllocationPolicy": {
          "description": "Configuration for cluster IP allocation.",
          "$ref": "IPAllocationPolicy"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "nodePools": {
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "fleet": {
          "description": "Fleet information for the cluster.",
          "$ref": "Fleet"
        },
        "rollbackSafeUpgrade": {
          "$ref": "RollbackSafeUpgrade",
          "description": "Optional. The rollback safe upgrade information of the cluster. This field is used when user manually triggers a rollback safe upgrade."
        },
        "instanceGroupUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated. Use node_pools.instance_group_urls."
        },
        "shieldedNodes": {
          "description": "Shielded Nodes configuration.",
          "$ref": "ShieldedNodes"
        },
        "currentNodeVersion": {
          "readOnly": true,
          "description": "Output only. Deprecated, use [NodePools.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes.",
          "type": "string",
          "deprecated": true
        },
        "costManagementConfig": {
          "description": "Configuration for the fine-grained cost allocation feature.",
          "$ref": "CostManagementConfig"
        },
        "userManagedKeysConfig": {
          "description": "The Custom keys configuration for the cluster.",
          "$ref": "UserManagedKeysConfig"
        },
        "compliancePostureConfig": {
          "$ref": "CompliancePostureConfig",
          "deprecated": true,
          "description": "Optional. Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster."
        },
        "secretManagerConfig": {
          "description": "Secret CSI driver configuration.",
          "$ref": "SecretManagerConfig"
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is unusable. It will be automatically deleted. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current status of this cluster."
        },
        "controlPlaneEndpointsConfig": {
          "$ref": "ControlPlaneEndpointsConfig",
          "description": "Configuration for all cluster's control plane endpoints."
        },
        "labelFingerprint": {
          "description": "The fingerprint of the set of labels for this cluster.",
          "type": "string"
        },
        "currentEmulatedVersion": {
          "type": "string",
          "description": "Output only. The current emulated version of the master endpoint. The version is in minor version format, e.g. 1.30. No value or empty string means the cluster has no emulated version.",
          "readOnly": true
        },
        "managedOpentelemetryConfig": {
          "$ref": "ManagedOpenTelemetryConfig",
          "description": "Configuration for Managed OpenTelemetry pipeline."
        },
        "nodeIpv4CidrSize": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode."
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled."
        }
      },
      "id": "Cluster",
      "type": "object",
      "description": "A Google Kubernetes Engine cluster."
    },
    "NodeManagement": {
      "type": "object",
      "description": "NodeManagement defines the set of node management services turned on for the node pool.",
      "properties": {
        "autoRepair": {
          "description": "A flag that specifies whether the node auto-repair is enabled for the node pool. If enabled, the nodes in this node pool will be monitored and, if they fail health checks too many times, an automatic repair action will be triggered.",
          "type": "boolean"
        },
        "autoUpgrade": {
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node pool. If enabled, node auto-upgrade helps keep the nodes in your node pool up to date with the latest release version of Kubernetes.",
          "type": "boolean"
        },
        "upgradeOptions": {
          "$ref": "AutoUpgradeOptions",
          "description": "Specifies the Auto Upgrade knobs for the node pool."
        }
      },
      "id": "NodeManagement"
    },
    "ManagedPrometheusConfig": {
      "properties": {
        "enabled": {
          "description": "Enable Managed Collection.",
          "type": "boolean"
        },
        "autoMonitoringConfig": {
          "description": "GKE Workload Auto-Monitoring Configuration.",
          "$ref": "AutoMonitoringConfig"
        }
      },
      "description": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus.",
      "id": "ManagedPrometheusConfig",
      "type": "object"
    },
    "NetworkConfig": {
      "properties": {
        "dnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "enableMultiNetworking": {
          "type": "boolean",
          "description": "Whether multi-networking is enabled for this cluster."
        },
        "inTransitEncryptionConfig": {
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ],
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ],
          "type": "string",
          "description": "Specify the details of in-transit encryption. Now named inter-node transparent encryption."
        },
        "privateIpv6GoogleAccess": {
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ]
        },
        "enableIntraNodeVisibility": {
          "type": "boolean",
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network."
        },
        "enableL4ilbSubsetting": {
          "type": "boolean",
          "description": "Whether L4ILB Subsetting is enabled for this cluster."
        },
        "datapathProvider": {
          "type": "string",
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ]
        },
        "networkPerformanceConfig": {
          "$ref": "ClusterNetworkPerformanceConfig",
          "description": "Network bandwidth tier configuration."
        },
        "defaultEnablePrivateNodes": {
          "description": "Controls whether by default nodes have private IP addresses only. It is invalid to specify both PrivateClusterConfig.enablePrivateNodes and this field at the same time. To update the default setting, use ClusterUpdate.desired_default_enable_private_nodes",
          "type": "boolean"
        },
        "serviceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not."
        },
        "enableCiliumClusterwideNetworkPolicy": {
          "description": "Whether CiliumClusterwideNetworkPolicy is enabled on this cluster.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string",
          "readOnly": true
        },
        "disableL4LbFirewallReconciliation": {
          "type": "boolean",
          "description": "Disable L4 load balancer VPC firewalls to enable firewall policies."
        },
        "network": {
          "readOnly": true,
          "description": "Output only. The relative name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "enableFqdnNetworkPolicy": {
          "description": "Whether FQDN Network Policy is enabled on this cluster.",
          "type": "boolean"
        },
        "gatewayApiConfig": {
          "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "dataplaneV2Config": {
          "description": "Optional. DataplaneV2Config specifies the DPv2 configuration.",
          "$ref": "DataplaneV2Config"
        },
        "defaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic."
        }
      },
      "id": "NetworkConfig",
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "type": "object"
    },
    "EnterpriseConfig": {
      "description": "EnterpriseConfig is the cluster enterprise configuration. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
      "id": "EnterpriseConfig",
      "type": "object",
      "deprecated": true,
      "properties": {
        "desiredTier": {
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ],
          "type": "string",
          "description": "desired_tier specifies the desired tier of the cluster.",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ]
        },
        "clusterTier": {
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ],
          "type": "string",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "description": "Output only. cluster_tier indicates the effective tier of the cluster.",
          "readOnly": true
        }
      }
    },
    "NodeTaint": {
      "description": "Kubernetes taint is composed of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key for taint.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for taint."
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "type": "string",
          "description": "Effect for taint."
        }
      },
      "id": "NodeTaint"
    },
    "GcpFilestoreCsiDriverConfig": {
      "description": "Configuration for the Filestore CSI driver.",
      "properties": {
        "enabled": {
          "description": "Whether the Filestore CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GcpFilestoreCsiDriverConfig"
    },
    "OperationError": {
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the CloudKMS error was seen."
        },
        "keyName": {
          "type": "string",
          "description": "CloudKMS key resource that had the error."
        },
        "errorMessage": {
          "description": "Description of the error seen during the operation.",
          "type": "string"
        }
      },
      "description": "OperationError records errors seen from CloudKMS keys encountered during updates to DatabaseEncryption configuration.",
      "id": "OperationError"
    },
    "SecurityBulletinEvent": {
      "type": "object",
      "description": "SecurityBulletinEvent is a notification sent to customers when a security bulletin has been posted that they are vulnerable to.",
      "id": "SecurityBulletinEvent",
      "properties": {
        "bulletinUri": {
          "type": "string",
          "description": "The URI link to the bulletin on the website for more information."
        },
        "suggestedUpgradeTarget": {
          "description": "This represents a version selected from the patched_versions field that the cluster receiving this notification should most likely want to upgrade to based on its current version. Note that if this notification is being received by a given cluster, it means that this version is currently available as an upgrade target in that cluster's location.",
          "type": "string"
        },
        "mitigatedVersions": {
          "type": "array",
          "description": "The GKE versions where this vulnerability is mitigated.",
          "items": {
            "type": "string"
          }
        },
        "patchedVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The GKE versions where this vulnerability is patched."
        },
        "bulletinId": {
          "description": "The ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        },
        "affectedSupportedMinors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The GKE minor versions affected by this vulnerability."
        },
        "resourceTypeAffected": {
          "type": "string",
          "description": "The resource type (node/control plane) that has the vulnerability. Multiple notifications (1 notification per resource type) will be sent for a vulnerability that affects > 1 resource type."
        },
        "briefDescription": {
          "description": "A brief description of the bulletin. See the bulletin pointed to by the bulletin_uri field for an expanded description.",
          "type": "string"
        },
        "manualStepsRequired": {
          "description": "If this field is specified, it means there are manual steps that the user must take to make their clusters safe.",
          "type": "boolean"
        },
        "cveIds": {
          "description": "The CVEs associated with this bulletin.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "description": "The severity of this bulletin as it relates to GKE.",
          "type": "string"
        }
      }
    },
    "AutoIpamConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The flag that enables Auto IPAM on this cluster"
        }
      },
      "description": "AutoIpamConfig contains all information related to Auto IPAM",
      "id": "AutoIpamConfig"
    },
    "StartIPRotationRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "id": "StartIPRotationRequest"
    },
    "ReservedResourcesConfig": {
      "description": "ReservedResourcesConfig contains the configuration for the reserved resources on the node.",
      "type": "object",
      "id": "ReservedResourcesConfig",
      "properties": {
        "cpuReservedMillicore": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The amount of CPU to reserve for system daemons. This is a user-specified value. If unspecified, GKE decides the default based on node version using different formula."
        },
        "effectiveMemoryReservedMib": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The effective amount of memory reserved for system daemons. If `memory_reserved_mib` is specified, the user-specified value is used. Otherwise the GKE default is applied.",
          "format": "int64"
        },
        "memoryReservedMib": {
          "description": "Optional. The amount of memory to reserve for system daemons (in MiB). This is a user-specified value. If unspecified, GKE decides the default based on node version using different formula.",
          "type": "string",
          "format": "int64"
        },
        "effectiveCpuReservedMillicore": {
          "readOnly": true,
          "description": "Output only. The effective amount of CPU reserved for system daemons. If `cpu_reserved_millicore` is specified, user-specified value is used. Otherwise the GKE default is applied.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "IPEndpointsConfig": {
      "type": "object",
      "description": "IP endpoints configuration.",
      "id": "IPEndpointsConfig",
      "properties": {
        "globalAccess": {
          "description": "Controls whether the control plane's private endpoint is accessible from sources in other regions. It is invalid to specify both PrivateClusterMasterGlobalAccessConfig.enabled and this field at the same time.",
          "type": "boolean"
        },
        "publicEndpoint": {
          "description": "Output only. The external IP address of this cluster's control plane. Only populated if enabled.",
          "readOnly": true,
          "type": "string"
        },
        "authorizedNetworksConfig": {
          "description": "Configuration of authorized networks. If enabled, restricts access to the control plane based on source IP. It is invalid to specify both Cluster.masterAuthorizedNetworksConfig and this field at the same time.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "enabled": {
          "type": "boolean",
          "description": "Controls whether to allow direct IP access."
        },
        "enablePublicEndpoint": {
          "type": "boolean",
          "description": "Controls whether the control plane allows access through a public IP. It is invalid to specify both PrivateClusterConfig.enablePrivateEndpoint and this field at the same time."
        },
        "privateEndpointSubnetwork": {
          "type": "string",
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. It is invalid to specify both PrivateClusterConfig.privateEndpointSubnetwork and this field at the same time."
        },
        "privateEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The internal IP address of this cluster's control plane. Only populated if enabled."
        }
      }
    },
    "VirtualNIC": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether gVNIC features are enabled in the node pool."
        }
      },
      "id": "VirtualNIC",
      "type": "object",
      "description": "Configuration of gVNIC feature."
    },
    "UpdateClusterRequest": {
      "type": "object",
      "properties": {
        "update": {
          "$ref": "ClusterUpdate",
          "description": "Required. A description of the update."
        },
        "zone": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "id": "UpdateClusterRequest"
    },
    "CompleteIPRotationRequest": {
      "id": "CompleteIPRotationRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode."
    },
    "RayClusterMonitoringConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable metrics collection for Ray clusters."
        }
      },
      "type": "object",
      "description": "RayClusterMonitoringConfig specifies monitoring configuration for Ray clusters.",
      "id": "RayClusterMonitoringConfig"
    },
    "PodCIDROverprovisionConfig": {
      "id": "PodCIDROverprovisionConfig",
      "properties": {
        "disable": {
          "description": "Whether Pod CIDR overprovisioning is disabled. Note: Pod CIDR overprovisioning is enabled by default.",
          "type": "boolean"
        }
      },
      "description": "[PRIVATE FIELD] Config for pod CIDR size overprovisioning.",
      "type": "object"
    },
    "FastSocket": {
      "description": "Configuration of Fast Socket feature.",
      "id": "FastSocket",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Fast Socket features are enabled in the node pool."
        }
      },
      "type": "object"
    },
    "AdvancedMachineFeatures": {
      "properties": {
        "performanceMonitoringUnit": {
          "description": "Type of Performance Monitoring Unit (PMU) requested on node pool instances. If unset, PMU will not be available to the node.",
          "type": "string",
          "enum": [
            "PERFORMANCE_MONITORING_UNIT_UNSPECIFIED",
            "ARCHITECTURAL",
            "STANDARD",
            "ENHANCED"
          ],
          "enumDescriptions": [
            "PMU not enabled.",
            "Architecturally defined non-LLC events.",
            "Most documented core/L2 events.",
            "Most documented core/L2 and LLC events."
          ]
        },
        "threadsPerCore": {
          "format": "int64",
          "description": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
          "type": "string"
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Whether or not to enable nested virtualization (defaults to false)."
        }
      },
      "id": "AdvancedMachineFeatures",
      "description": "Specifies options for controlling advanced machine features.",
      "type": "object"
    },
    "MaintenancePolicy": {
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "properties": {
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        },
        "resourceVersion": {
          "type": "string",
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy."
        },
        "disruptionBudget": {
          "$ref": "DisruptionBudget",
          "description": "Optional. The upgrade disruption budget for the cluster control plane."
        }
      },
      "id": "MaintenancePolicy",
      "type": "object"
    },
    "SlurmOperatorConfig": {
      "description": "Configuration for the Slurm Operator.",
      "id": "SlurmOperatorConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "When enabled, it runs a Slurm Operator that manages the set of compute pods for Slurm Cluster.",
          "type": "boolean"
        }
      }
    },
    "StatusCondition": {
      "properties": {
        "canonicalCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Canonical code of the condition.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Human-friendly representation of the condition"
        },
        "code": {
          "deprecated": true,
          "description": "Machine-friendly representation of the condition Deprecated. Use canonical_code instead.",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates that Google Compute Engine resources are temporarily unavailable.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot service account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for etcd level encryption.",
            "Cluster CA is expiring soon.",
            "Node service account is missing permissions.",
            "Cloud KMS key version used for etcd level encryption has been destroyed. This is a permanent error."
          ],
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR",
            "CA_EXPIRING",
            "NODE_SERVICE_ACCOUNT_MISSING_PERMISSIONS",
            "CLOUD_KMS_KEY_DESTROYED"
          ]
        }
      },
      "type": "object",
      "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED).",
      "id": "StatusCondition"
    },
    "DedicatedLocalSsdProfile": {
      "id": "DedicatedLocalSsdProfile",
      "description": "Provisions a new, separate local NVMe SSD exclusively for swap.",
      "type": "object",
      "properties": {
        "diskCount": {
          "description": "The number of physical local NVMe SSD disks to attach.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "KubeletCertInfo": {
      "description": "Contains expiry information about the kubelet certificate.",
      "type": "object",
      "properties": {
        "nonTpmBootstrapCertExpireTime": {
          "format": "google-datetime",
          "description": "Output only.",
          "type": "string",
          "readOnly": true
        },
        "tpmBootstrapCertExpireTime": {
          "description": "Output only.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "KubeletCertInfo"
    },
    "WorkloadMetadataConfig": {
      "id": "WorkloadMetadataConfig",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ],
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ]
        }
      },
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool.",
      "type": "object"
    },
    "RBACBindingConfig": {
      "properties": {
        "enableInsecureBindingSystemUnauthenticated": {
          "type": "boolean",
          "description": "Setting this to true will allow any ClusterRoleBinding and RoleBinding with subjets system:anonymous or system:unauthenticated."
        },
        "enableInsecureBindingSystemAuthenticated": {
          "description": "Setting this to true will allow any ClusterRoleBinding and RoleBinding with subjects system:authenticated.",
          "type": "boolean"
        }
      },
      "id": "RBACBindingConfig",
      "type": "object",
      "description": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created."
    },
    "NodeNetworkConfig": {
      "id": "NodeNetworkConfig",
      "description": "Parameters for node pool-level network config.",
      "type": "object",
      "properties": {
        "additionalNodeNetworkConfigs": {
          "type": "array",
          "items": {
            "$ref": "AdditionalNodeNetworkConfig"
          },
          "description": "We specify the additional node networks for this node pool using this list. Each node network corresponds to an additional interface"
        },
        "createPodRange": {
          "type": "boolean",
          "description": "Input only. Whether to create a new range for pod IPs in this node pool. Defaults are provided for `pod_range` and `pod_ipv4_cidr_block` if they are not specified. If neither `create_pod_range` or `pod_range` are specified, the cluster-level default (`ip_allocation_policy.cluster_ipv4_cidr_block`) is used. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "podRange": {
          "description": "The ID of the secondary range for pod IPs. If `create_pod_range` is true, this ID is used for the new range. If `create_pod_range` is false, uses an existing secondary range with this ID. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "additionalPodNetworkConfigs": {
          "items": {
            "$ref": "AdditionalPodNetworkConfig"
          },
          "type": "array",
          "description": "We specify the additional pod networks for this node pool using this list. Each pod network corresponds to an additional alias IP range for the node"
        },
        "acceleratorNetworkProfile": {
          "type": "string",
          "description": "Immutable. The accelerator network profile for the node pool. For now the only valid value is \"auto\". If specified, the network configuration of the nodes in this node pool will be managed by this profile for the supported machine types, zone, etc."
        },
        "networkTierConfig": {
          "description": "Output only. The network tier configuration for the node pool inherits from the cluster-level configuration and remains immutable throughout the node pool's lifecycle, including during upgrades.",
          "readOnly": true,
          "$ref": "NetworkTierConfig"
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "NetworkPerformanceConfig"
        },
        "podCidrOverprovisionConfig": {
          "$ref": "PodCIDROverprovisionConfig",
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the node pool. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is rounded off to next power of 2 and we then double that to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled."
        },
        "enablePrivateNodes": {
          "description": "Whether nodes have internal IP addresses only. If enable_private_nodes is not specified, then the value is derived from Cluster.NetworkConfig.default_enable_private_nodes",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "Optional. The subnetwork name/path for the node pool. Format: projects/{project}/regions/{region}/subnetworks/{subnetwork} If the cluster is associated with multiple subnetworks, the subnetwork can be either: - A user supplied subnetwork name during node pool creation (e.g., `my-subnet`). The name must be between 1 and 63 characters long, start with a letter, contain only letters, numbers, and hyphens, and end with a letter or a number. - A full subnetwork path during node pool creation, such as `projects/gke-project/regions/us-central1/subnetworks/my-subnet` - A subnetwork path picked based on the IP utilization during node pool creation and is immutable.",
          "type": "string"
        },
        "podIpv4RangeUtilization": {
          "description": "Output only. The utilization of the IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "podIpv4CidrBlock": {
          "description": "The IP address range for pod IPs in this node pool. Only applicable if `create_pod_range` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) to pick a specific range to use. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The VPC network for the node pool."
        }
      }
    },
    "HostConfig": {
      "type": "object",
      "description": "HostConfig configures the registry host under a given Server.",
      "properties": {
        "dialTimeout": {
          "description": "Specifies the maximum duration allowed for a connection attempt to complete. A shorter timeout helps reduce delays when falling back to the original registry if the mirror is unreachable. Maximum allowed value is 180s. If not set, containerd sets default 30s. The value should be a decimal number of seconds with an `s` suffix.",
          "type": "string",
          "format": "google-duration"
        },
        "host": {
          "type": "string",
          "description": "Host configures the registry host/mirror. It supports fully qualified domain names (FQDNs) and IP addresses. Specifying scheme, port or path is supported. Scheme can only be http or https. Wildcards are NOT supported. Examples: - `my.customdomain.com` - `https://my.customdomain.com/path` - `10.0.1.2:5000`"
        },
        "capabilities": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "UNKNOWN should never be set.",
              "Pull represents the capability to fetch manifests and blobs by digest.",
              "Resolve represents the capability to fetch manifests by name.",
              "Push represents the capability to push blobs and manifests."
            ],
            "enum": [
              "HOST_CAPABILITY_UNSPECIFIED",
              "HOST_CAPABILITY_PULL",
              "HOST_CAPABILITY_RESOLVE",
              "HOST_CAPABILITY_PUSH"
            ]
          },
          "description": "Capabilities represent the capabilities of the registry host, specifying what operations a host is capable of performing. If not set, containerd enables all capabilities by default."
        },
        "overridePath": {
          "type": "boolean",
          "description": "OverridePath is used to indicate the host's API root endpoint is defined in the URL path rather than by the API specification. This may be used with non-compliant OCI registries which are missing the /v2 prefix. If not set, containerd sets default false."
        },
        "ca": {
          "type": "array",
          "description": "CA configures the registry host certificate.",
          "items": {
            "$ref": "CertificateConfig"
          }
        },
        "client": {
          "type": "array",
          "items": {
            "$ref": "CertificateConfigPair"
          },
          "description": "Client configures the registry host client certificate and key."
        },
        "header": {
          "items": {
            "$ref": "RegistryHeader"
          },
          "description": "Header configures the registry host headers.",
          "type": "array"
        }
      },
      "id": "HostConfig"
    },
    "DesiredAdditionalIPRangesConfig": {
      "description": "DesiredAdditionalIPRangesConfig is a wrapper used for cluster update operation and contains multiple AdditionalIPRangesConfigs.",
      "id": "DesiredAdditionalIPRangesConfig",
      "properties": {
        "additionalIpRangesConfigs": {
          "type": "array",
          "items": {
            "$ref": "AdditionalIPRangesConfig"
          },
          "description": "List of additional IP ranges configs where each AdditionalIPRangesConfig corresponds to one subnetwork's IP ranges"
        }
      },
      "type": "object"
    },
    "AutopilotConfig": {
      "id": "AutopilotConfig",
      "properties": {
        "enabled": {
          "description": "Denotes that nodes belonging to this node pool are Autopilot nodes.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "AutopilotConfig contains configuration of autopilot feature for this node pool."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "EvictionSignals": {
      "id": "EvictionSignals",
      "description": "Eviction signals are the current state of a particular resource at a specific point in time. The kubelet uses eviction signals to make eviction decisions by comparing the signals to eviction thresholds, which are the minimum amount of the resource that should be available on the node.",
      "properties": {
        "memoryAvailable": {
          "description": "Optional. Memory available (i.e. capacity - workingSet), in bytes. Defines the amount of \"memory.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. Format: positive number + unit, e.g. 100Ki, 10Mi, 5Gi. Valid units are Ki, Mi, Gi. Must be >= 100Mi and <= 50% of the node's memory. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "nodefsInodesFree": {
          "type": "string",
          "description": "Optional. Amount of inodes available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. It takses percentage value for now. Sample format: \"30%\". Must be >= 5% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "imagefsAvailable": {
          "type": "string",
          "description": "Optional. Amount of storage available on filesystem that container runtime uses for storing images layers. If the container filesystem and image filesystem are not separate, then imagefs can store both image layers and writeable layers. Defines the amount of \"imagefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 15% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "nodefsAvailable": {
          "type": "string",
          "description": "Optional. Amount of storage available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 10% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "imagefsInodesFree": {
          "description": "Optional. Amount of inodes available on filesystem that container runtime uses for storing images layers. Defines the amount of \"imagefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. It takses percentage value for now. Sample format: \"30%\". Must be >= 5% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "pidAvailable": {
          "type": "string",
          "description": "Optional. Amount of PID available for pod allocation. Defines the amount of \"pid.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. It takses percentage value for now. Sample format: \"30%\". Must be >= 10% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        }
      },
      "type": "object"
    },
    "AuthenticatorGroupsConfig": {
      "id": "AuthenticatorGroupsConfig",
      "properties": {
        "enabled": {
          "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups.",
          "type": "boolean"
        },
        "securityGroup": {
          "description": "The name of the security group-of-groups to be used. Only relevant if enabled = true.",
          "type": "string"
        }
      },
      "description": "Configuration for returning group information from authenticators.",
      "type": "object"
    },
    "RegistryHeader": {
      "id": "RegistryHeader",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key configures the header key.",
          "type": "string"
        },
        "value": {
          "type": "array",
          "description": "Value configures the header value.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "RegistryHeader configures headers for the registry."
    },
[...]
