{
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "name": "css",
  "id": "css:v1",
  "schemas": {
    "ProductWeight": {
      "description": "The weight of the product.",
      "id": "ProductWeight",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\""
        }
      }
    },
    "ProductDetail": {
      "description": "The product details.",
      "id": "ProductDetail",
      "type": "object",
      "properties": {
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        },
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        }
      }
    },
    "HeadlineOfferInstallment": {
      "description": "A message that represents installment.",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "months": {
          "type": "string",
          "format": "int64",
          "description": "The number of installments the buyer has to pay."
        },
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        }
      },
      "type": "object",
      "id": "HeadlineOfferInstallment"
    },
    "ListCssProductsResponse": {
      "properties": {
        "cssProducts": {
          "items": {
            "$ref": "CssProduct"
          },
          "type": "array",
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListCssProductsResponse",
      "type": "object",
      "description": "Response message for the ListCssProducts method."
    },
    "ListQuotaGroupsResponse": {
      "id": "ListQuotaGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          }
        }
      },
      "description": "Response message for the ListMethodGroups method."
    },
    "Price": {
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "description": "The price represented as a number and currency.",
      "type": "object",
      "id": "Price"
    },
    "Account": {
      "description": "Information about CSS/MC account.",
      "id": "Account",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\""
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "type": "string",
          "readOnly": true
        },
        "accountType": {
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "description": "Output only. The type of this account.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The label resource name. Format: accounts/{account}"
        },
        "labelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account."
        },
        "automaticLabelIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Automatically created label IDs assigned to the MC account by CSS Center."
        },
        "displayName": {
          "type": "string",
          "description": "The CSS/MC account's short display name."
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's homepage."
        }
      }
    },
    "CssProductStatus": {
      "id": "CssProductStatus",
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "type": "object",
      "properties": {
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The intended destinations for the product."
        },
        "lastUpdateDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "googleExpirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "A list of all issues associated with the product.",
          "items": {
            "$ref": "ItemLevelIssue"
          }
        },
        "creationDate": {
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "properties": {
        "groupValues": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        }
      },
      "id": "CustomAttribute",
      "type": "object"
    },
    "CssProduct": {
      "properties": {
        "feedLabel": {
          "description": "Output only. The feed label for the product.",
          "type": "string",
          "readOnly": true
        },
        "attributes": {
          "readOnly": true,
          "description": "Output only. A list of product attributes.",
          "$ref": "Attributes"
        },
        "name": {
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`",
          "type": "string"
        },
        "customAttributes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "rawProvidedId": {
          "description": "Output only. Your unique raw identifier for the product.",
          "readOnly": true,
          "type": "string"
        },
        "cssProductStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true,
          "$ref": "CssProductStatus"
        },
        "contentLanguage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product."
        }
      },
      "type": "object",
      "id": "CssProduct",
      "description": "The processed CSS Product."
    },
    "QuotaGroup": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaLimit": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "type": "string"
        },
        "quotaMinuteLimit": {
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "methodDetails": {
          "description": "Output only. List of all methods group quota applies to.",
          "items": {
            "$ref": "MethodDetails"
          },
          "type": "array",
          "readOnly": true
        },
        "quotaUsage": {
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "QuotaGroup",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "UpdateAccountLabelsRequest": {
      "type": "object",
      "properties": {
        "labelIds": {
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        }
      },
      "id": "UpdateAccountLabelsRequest",
      "description": "The request message for the `UpdateLabels` method."
    },
    "ItemLevelIssue": {
      "description": "The ItemLevelIssue of the product status.",
      "type": "object",
      "properties": {
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "applicableCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product."
        },
        "attribute": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "servability": {
          "description": "How this issue affects serving of the CSS Product.",
          "type": "string"
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        }
      },
      "id": "ItemLevelIssue"
    },
    "Attributes": {
      "type": "object",
      "id": "Attributes",
      "properties": {
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "cppAdsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
        },
        "multipack": {
          "type": "string",
          "format": "int64",
          "description": "The number of identical products in a merchant-defined multipack."
        },
        "cppLink": {
          "type": "string",
          "description": "URL directly linking to your the Product Detail Page of the CSS."
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "expirationDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted."
        },
        "headlineOfferMobileLink": {
          "type": "string",
          "description": "Mobile Link to the headline offer."
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "headlineOfferCondition": {
          "description": "Condition of the headline offer.",
          "type": "string"
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "minRating": {
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "additionalImageLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional URL of images of the item."
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "maxRating": {
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "productHeight": {
          "$ref": "ProductDimension",
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item."
        },
        "headlineOfferInstallment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "HeadlineOfferInstallment"
        },
        "brand": {
          "description": "Product Related Attributes.[14-36] Brand of the item.",
          "type": "string"
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "format": "double",
          "type": "number"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "includedDestinations": {
          "items": {
            "type": "string"
          },
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "type": "array"
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "productTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406))."
        },
        "itemGroupId": {
          "type": "string",
          "description": "Shared identifier for all variants of the same product."
        },
        "reviewCount": {
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64",
          "type": "string"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item."
        },
        "excludedDestinations": {
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "productDetails": {
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array",
          "description": "Technical specification or additional product details."
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "certifications": {
          "type": "array",
          "items": {
            "$ref": "Certification"
          },
          "description": "A list of certificates claimed by the CSS for the given product."
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product."
        },
        "numberOfOffers": {
          "format": "int64",
          "description": "The number of CSS Products.",
          "type": "string"
        }
      },
      "description": "Attributes for CSS Product."
    },
    "MethodDetails": {
      "type": "object",
      "description": "The method details per method in the CSS API.",
      "properties": {
        "version": {
          "description": "Output only. The API version that the method belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "method": {
          "readOnly": true,
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "type": "string"
        },
        "subapi": {
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "type": "string",
          "readOnly": true
        },
        "path": {
          "readOnly": true,
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "type": "string"
        }
      },
      "id": "MethodDetails"
    },
    "Certification": {
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product.",
      "type": "object",
      "id": "Certification",
      "properties": {
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        },
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        }
      }
    },
    "ProductDimension": {
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      },
      "type": "object",
      "id": "ProductDimension",
      "description": "The dimension of the product."
    },
    "HeadlineOfferSubscriptionCost": {
      "id": "HeadlineOfferSubscriptionCost",
      "properties": {
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "period": {
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "type": "string",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ]
        }
      },
      "type": "object",
      "description": "The SubscriptionCost of the product."
    },
    "ListAccountLabelsResponse": {
      "type": "object",
      "properties": {
        "accountLabels": {
          "type": "array",
          "description": "The labels from the specified account.",
          "items": {
            "$ref": "AccountLabel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAccountLabelsResponse",
      "description": "Response message for the `ListAccountLabels` method."
    },
    "DestinationStatus": {
      "properties": {
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved."
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The destination status of the product status.",
      "id": "DestinationStatus"
    },
    "CssProductInput": {
      "type": "object",
      "id": "CssProductInput",
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "properties": {
        "freshnessTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "deprecated": true
        },
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "customAttributes": {
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "finalName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \""
        },
        "rawProvidedId": {
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France."
        }
      }
    },
    "ListChildAccountsResponse": {
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the `ListChildAccounts` method.",
      "type": "object",
      "id": "ListChildAccountsResponse"
    },
    "AccountLabel": {
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "id": "AccountLabel",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of account this label belongs to.",
          "format": "int64"
        },
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "labelId": {
          "readOnly": true,
          "description": "Output only. The ID of the label.",
          "type": "string",
          "format": "int64"
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "type": "string",
          "description": "Output only. The type of this label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "readOnly": true
        }
      }
    }
  },
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "kind": "discovery#restDescription",
  "rootUrl": "https://css.googleapis.com/",
  "title": "CSS API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "baseUrl": "https://css.googleapis.com/",
  "revision": "20260821",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "css.accounts.get",
          "flatPath": "v1/accounts/{accountsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a single CSS/MC account by ID.",
          "response": {
            "$ref": "Account"
          },
          "path": "v1/{+name}"
        },
        "updateLabels": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The label resource name. Format: accounts/{account}",
              "location": "path",
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "css.accounts.updateLabels",
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "path": "v1/{+name}:updateLabels",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          }
        },
        "listChildAccounts": {
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "path": "v1/{+parent}:listChildAccounts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "fullName": {
              "type": "string",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "required": true,
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            },
            "labelId": {
              "format": "int64",
              "location": "query",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "type": "string"
            }
          },
          "id": "css.accounts.listChildAccounts",
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "cssProductInputs": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "id": "css.accounts.cssProductInputs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "parameters": {
                "supplementalFeedId": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$"
                }
              },
              "httpMethod": "DELETE"
            },
            "patch": {
              "path": "v1/{+name}",
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "request": {
                "$ref": "CssProductInput"
              },
              "id": "css.accounts.cssProductInputs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}"
            },
            "insert": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "feedId": {
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "type": "string",
                  "deprecated": true,
                  "format": "int64",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "required": true
                }
              },
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "id": "css.accounts.cssProductInputs.insert",
              "request": {
                "$ref": "CssProductInput"
              },
              "path": "v1/{+parent}/cssProductInputs:insert",
              "response": {
                "$ref": "CssProductInput"
              }
            }
          }
        },
        "cssProducts": {
          "methods": {
            "get": {
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "response": {
                "$ref": "CssProduct"
              },
              "path": "v1/{+name}",
              "id": "css.accounts.cssProducts.get"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "path": "v1/{+parent}/cssProducts",
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.cssProducts.list"
            }
          }
        },
        "labels": {
          "methods": {
            "list": {
              "id": "css.accounts.labels.list",
              "path": "v1/{+parent}/labels",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the labels owned by an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+parent}/labels",
              "response": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Creates a new label, not assigned to any account.",
              "id": "css.accounts.labels.create"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "required": true
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.labels.delete",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "response": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "id": "css.accounts.labels.patch",
              "request": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+name}",
              "description": "Updates a label.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/quotas",
              "id": "css.accounts.quotas.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "canonicalName": "Css"
}