{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "css",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "title": "CSS API",
  "revision": "20260910",
  "baseUrl": "https://css.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "canonicalName": "Css",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "id": "css:v1",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "accounts": {
      "resources": {
        "labels": {
          "methods": {
            "list": {
              "flatPath": "v1/accounts/{accountsId}/labels",
              "path": "v1/{+parent}/labels",
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.labels.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "description": "Lists the labels owned by an account.",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new label, not assigned to any account.",
              "id": "css.accounts.labels.create",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "response": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+parent}/labels"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$"
                }
              },
              "id": "css.accounts.labels.delete",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}"
            },
            "patch": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a label.",
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$"
                }
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "id": "css.accounts.labels.patch"
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                }
              },
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.quotas.list",
              "path": "v1/{+parent}/quotas"
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "patch": {
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "id": "css.accounts.cssProductInputs.patch",
              "response": {
                "$ref": "CssProductInput"
              },
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "parameterOrder": [
                "name"
              ]
            },
            "insert": {
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "path": "v1/{+parent}/cssProductInputs:insert",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "location": "path"
                },
                "feedId": {
                  "format": "int64",
                  "location": "query",
                  "deprecated": true,
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CssProductInput"
              },
              "id": "css.accounts.cssProductInputs.insert",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CssProductInput"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.cssProductInputs.delete",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "supplementalFeedId": {
                  "format": "int64",
                  "type": "string",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "cssProducts": {
          "methods": {
            "list": {
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "id": "css.accounts.cssProducts.list",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+parent}/cssProducts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved."
            },
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "CssProduct"
              },
              "id": "css.accounts.cssProducts.get"
            }
          }
        }
      },
      "methods": {
        "listChildAccounts": {
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "id": "css.accounts.listChildAccounts",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "labelId": {
              "type": "string",
              "format": "int64",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "location": "query"
            },
            "fullName": {
              "type": "string",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query",
              "format": "int32"
            }
          },
          "path": "v1/{+parent}:listChildAccounts",
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updateLabels": {
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "v1/{+name}:updateLabels",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The label resource name. Format: accounts/{account}",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "id": "css.accounts.updateLabels",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "response": {
            "$ref": "Account"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "id": "css.accounts.get",
          "path": "v1/{+name}",
          "flatPath": "v1/accounts/{accountsId}",
          "description": "Retrieves a single CSS/MC account by ID.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "type": "string",
              "location": "path",
              "required": true
            },
            "parent": {
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    }
  },
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "rootUrl": "https://css.googleapis.com/",
  "schemas": {
    "Price": {
      "id": "Price",
      "type": "object",
      "description": "The price represented as a number and currency.",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      }
    },
    "HeadlineOfferSubscriptionCost": {
      "properties": {
        "periodLength": {
          "format": "int64",
          "type": "string",
          "description": "The number of subscription periods the buyer has to pay."
        },
        "period": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\""
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        }
      },
      "description": "The SubscriptionCost of the product.",
      "id": "HeadlineOfferSubscriptionCost",
      "type": "object"
    },
    "UpdateAccountLabelsRequest": {
      "description": "The request message for the `UpdateLabels` method.",
      "properties": {
        "labelIds": {
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        }
      },
      "id": "UpdateAccountLabelsRequest",
      "type": "object"
    },
    "CssProduct": {
      "description": "The processed CSS Product.",
      "properties": {
        "contentLanguage": {
          "type": "string",
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true
        },
        "feedLabel": {
          "readOnly": true,
          "description": "Output only. The feed label for the product.",
          "type": "string"
        },
        "name": {
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`",
          "type": "string"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google."
        },
        "cssProductStatus": {
          "$ref": "CssProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Output only. Your unique raw identifier for the product.",
          "readOnly": true
        },
        "attributes": {
          "readOnly": true,
          "$ref": "Attributes",
          "description": "Output only. A list of product attributes."
        }
      },
      "id": "CssProduct",
      "type": "object"
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "The name of the destination"
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved."
        },
        "approvedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved."
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "type": "array"
        }
      },
      "description": "The destination status of the product status."
    },
    "AccountLabel": {
      "type": "object",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "properties": {
        "labelId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the label.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}"
        },
        "accountId": {
          "description": "Output only. The ID of account this label belongs to.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "labelType": {
          "type": "string",
          "description": "Output only. The type of this label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of this label."
        }
      },
      "id": "AccountLabel"
    },
    "ListAccountLabelsResponse": {
      "type": "object",
      "properties": {
        "accountLabels": {
          "type": "array",
          "description": "The labels from the specified account.",
          "items": {
            "$ref": "AccountLabel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the `ListAccountLabels` method.",
      "id": "ListAccountLabelsResponse"
    },
    "ListQuotaGroupsResponse": {
      "description": "Response message for the ListMethodGroups method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "quotaGroups": {
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          },
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage."
        }
      },
      "id": "ListQuotaGroupsResponse",
      "type": "object"
    },
    "ProductWeight": {
      "type": "object",
      "description": "The weight of the product.",
      "id": "ProductWeight",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        },
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "description": "The dimension of the product.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\"",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        }
      }
    },
    "CssProductInput": {
      "properties": {
        "finalName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \""
        },
        "freshnessTime": {
          "deprecated": true,
          "format": "google-datetime",
          "type": "string",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown."
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A list of CSS Product attributes."
        },
        "customAttributes": {
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "feedLabel": {
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
        }
      },
      "type": "object",
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "id": "CssProductInput"
    },
    "ItemLevelIssue": {
      "properties": {
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the CSS Product."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "applicableCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        }
      },
      "description": "The ItemLevelIssue of the product status.",
      "id": "ItemLevelIssue",
      "type": "object"
    },
    "HeadlineOfferInstallment": {
      "type": "object",
      "description": "A message that represents installment.",
      "properties": {
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        }
      },
      "id": "HeadlineOfferInstallment"
    },
    "ListCssProductsResponse": {
      "type": "object",
      "description": "Response message for the ListCssProducts method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cssProducts": {
          "items": {
            "$ref": "CssProduct"
          },
          "type": "array",
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        }
      },
      "id": "ListCssProductsResponse"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "QuotaGroup": {
      "type": "object",
      "id": "QuotaGroup",
      "properties": {
        "methodDetails": {
          "type": "array",
          "description": "Output only. List of all methods group quota applies to.",
          "readOnly": true,
          "items": {
            "$ref": "MethodDetails"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaUsage": {
          "type": "string",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "readOnly": true,
          "format": "int64"
        },
        "quotaLimit": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum number of calls allowed per day for the group."
        },
        "quotaMinuteLimit": {
          "format": "int64",
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned."
    },
    "Certification": {
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        },
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        }
      },
      "id": "Certification"
    },
    "Attributes": {
      "description": "Attributes for CSS Product.",
      "type": "object",
      "properties": {
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant highlights of a product.",
          "type": "array"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "cppMobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS."
        },
        "minRating": {
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "headlineOfferCondition": {
          "type": "string",
          "description": "Condition of the headline offer."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "certifications": {
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          },
          "type": "array"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "excludedDestinations": {
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "type": "number",
          "format": "double"
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional URL of images of the item.",
          "type": "array"
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "Technical specification or additional product details."
        },
        "highPrice": {
          "$ref": "Price",
          "description": "High Price of the CSS Product."
        },
        "cppAdsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "numberOfOffers": {
          "type": "string",
          "format": "int64",
          "description": "The number of CSS Products."
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Product Related Attributes.[14-36] Brand of the item."
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item.",
          "type": "string"
        },
        "expirationDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted."
        },
        "productTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406))."
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "headlineOfferLink": {
          "type": "string",
          "description": "Link to the headline offer."
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "multipack": {
          "type": "string",
          "format": "int64",
          "description": "The number of identical products in a merchant-defined multipack."
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "includedDestinations": {
          "type": "array",
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          }
        },
        "cppLink": {
          "description": "URL directly linking to your the Product Detail Page of the CSS.",
          "type": "string"
        },
        "sizeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497)."
        },
        "maxRating": {
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64",
          "type": "string"
        },
        "isBundle": {
          "type": "boolean",
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price."
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "reviewCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "headlineOfferInstallment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "HeadlineOfferInstallment"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "description": "Mobile Link to the headline offer.",
          "type": "string"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        }
      },
      "id": "Attributes"
    },
    "CustomAttribute": {
      "type": "object",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        }
      },
      "id": "CustomAttribute"
    },
    "ProductDetail": {
      "id": "ProductDetail",
      "properties": {
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        }
      },
      "description": "The product details.",
      "type": "object"
    },
    "ListChildAccountsResponse": {
      "id": "ListChildAccountsResponse",
      "description": "Response message for the `ListChildAccounts` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The CSS/MC accounts returned for the specified CSS parent account."
        }
      }
    },
    "Account": {
      "description": "Information about CSS/MC account.",
      "id": "Account",
      "properties": {
        "labelIds": {
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "parent": {
          "type": "string",
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\""
        },
        "displayName": {
          "type": "string",
          "description": "The CSS/MC account's short display name."
        },
        "homepageUri": {
          "description": "Output only. Immutable. The CSS/MC account's homepage.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "accountType": {
          "readOnly": true,
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "description": "Output only. The type of this account.",
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "type": "string"
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "type": "string",
          "readOnly": true
        },
        "automaticLabelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Automatically created label IDs assigned to the MC account by CSS Center."
        }
      },
      "type": "object"
    },
    "MethodDetails": {
      "description": "The method details per method in the CSS API.",
      "type": "object",
      "properties": {
        "subapi": {
          "type": "string",
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "readOnly": true
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`."
        },
        "method": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`."
        },
        "version": {
          "description": "Output only. The API version that the method belongs to.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "MethodDetails"
    },
    "CssProductStatus": {
      "properties": {
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          }
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        },
        "creationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array",
          "description": "The intended destinations for the product."
        }
      },
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "type": "object",
      "id": "CssProductStatus"
    }
  },
  "protocol": "rest"
}