{
  "ownerDomain": "google.com",
  "version_module": true,
  "rootUrl": "https://css.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "CSS API",
  "protocol": "rest",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "version": "v1",
  "name": "css",
  "canonicalName": "Css",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "updateLabels": {
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The label resource name. Format: accounts/{account}"
            }
          },
          "path": "v1/{+name}:updateLabels",
          "id": "css.accounts.updateLabels",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain."
        },
        "get": {
          "path": "v1/{+name}",
          "flatPath": "v1/accounts/{accountsId}",
          "description": "Retrieves a single CSS/MC account by ID.",
          "id": "css.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "required": true
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
            }
          },
          "httpMethod": "GET"
        },
        "listChildAccounts": {
          "path": "v1/{+parent}:listChildAccounts",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "id": "css.accounts.listChildAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "labelId": {
              "format": "int64",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "type": "integer"
            },
            "fullName": {
              "type": "string",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            }
          },
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "cssProducts": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/cssProducts",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.cssProducts.list",
              "response": {
                "$ref": "ListCssProductsResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "CssProduct"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "css.accounts.cssProducts.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                }
              },
              "id": "css.accounts.quotas.list",
              "httpMethod": "GET",
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "path": "v1/{+parent}/quotas"
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "CssProductInput"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "request": {
                "$ref": "CssProductInput"
              },
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "id": "css.accounts.cssProductInputs.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
                }
              }
            },
            "delete": {
              "parameters": {
                "supplementalFeedId": {
                  "format": "int64",
                  "type": "string",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "css.accounts.cssProductInputs.delete",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}"
            },
            "insert": {
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "id": "css.accounts.cssProductInputs.insert",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "required": true
                },
                "feedId": {
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "deprecated": true
                }
              },
              "httpMethod": "POST",
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "response": {
                "$ref": "CssProductInput"
              },
              "path": "v1/{+parent}/cssProductInputs:insert"
            }
          }
        },
        "labels": {
          "methods": {
            "create": {
              "response": {
                "$ref": "AccountLabel"
              },
              "description": "Creates a new label, not assigned to any account.",
              "path": "v1/{+parent}/labels",
              "request": {
                "$ref": "AccountLabel"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.labels.create",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels",
              "httpMethod": "POST"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the labels owned by an account.",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "path": "v1/{+parent}/labels",
              "id": "css.accounts.labels.list"
            },
            "patch": {
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.labels.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a label.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "AccountLabel"
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "PATCH"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "type": "string"
                }
              },
              "id": "css.accounts.labels.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "description": "Deletes a label and removes it from all accounts to which it was assigned."
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://css.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListChildAccountsResponse": {
      "description": "Response message for the `ListChildAccounts` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        }
      },
      "id": "ListChildAccountsResponse",
      "type": "object"
    },
    "QuotaGroup": {
      "properties": {
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "methodDetails": {
          "description": "Output only. List of all methods group quota applies to.",
          "items": {
            "$ref": "MethodDetails"
          },
          "type": "array",
          "readOnly": true
        },
        "quotaMinuteLimit": {
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaUsage": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC."
        }
      },
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "type": "object",
      "id": "QuotaGroup"
    },
    "ItemLevelIssue": {
      "type": "object",
      "description": "The ItemLevelIssue of the product status.",
      "id": "ItemLevelIssue",
      "properties": {
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the CSS Product."
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        },
        "applicableCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        }
      }
    },
    "DestinationStatus": {
      "properties": {
        "pendingCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "items": {
            "type": "string"
          }
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved."
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination"
        },
        "approvedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DestinationStatus",
      "description": "The destination status of the product status.",
      "type": "object"
    },
    "CssProductStatus": {
      "type": "object",
      "properties": {
        "itemLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "description": "A list of all issues associated with the product."
        },
        "destinationStatuses": {
          "description": "The intended destinations for the product.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "googleExpirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        },
        "creationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        }
      },
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "id": "CssProductStatus"
    },
    "HeadlineOfferInstallment": {
      "id": "HeadlineOfferInstallment",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "months": {
          "type": "string",
          "format": "int64",
          "description": "The number of installments the buyer has to pay."
        },
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        }
      },
      "description": "A message that represents installment."
    },
    "MethodDetails": {
      "id": "MethodDetails",
      "properties": {
        "path": {
          "readOnly": true,
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "type": "string"
        },
        "method": {
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The API version that the method belongs to.",
          "type": "string"
        },
        "subapi": {
          "type": "string",
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The method details per method in the CSS API."
    },
    "ProductDetail": {
      "description": "The product details.",
      "type": "object",
      "id": "ProductDetail",
      "properties": {
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        },
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        }
      }
    },
    "HeadlineOfferSubscriptionCost": {
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "period": {
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ]
        },
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        }
      },
      "description": "The SubscriptionCost of the product.",
      "id": "HeadlineOfferSubscriptionCost",
      "type": "object"
    },
    "ListAccountLabelsResponse": {
      "description": "Response message for the `ListAccountLabels` method.",
      "id": "ListAccountLabelsResponse",
      "type": "object",
      "properties": {
        "accountLabels": {
          "type": "array",
          "items": {
            "$ref": "AccountLabel"
          },
          "description": "The labels from the specified account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "AccountLabel": {
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "id": "AccountLabel",
      "properties": {
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of account this label belongs to.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "labelId": {
          "description": "Output only. The ID of the label.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "displayName": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "readOnly": true,
          "description": "Output only. The type of this label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductDimension": {
      "description": "The dimension of the product.",
      "id": "ProductDimension",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      },
      "type": "object"
    },
    "ListCssProductsResponse": {
      "description": "Response message for the ListCssProducts method.",
      "type": "object",
      "id": "ListCssProductsResponse",
      "properties": {
        "cssProducts": {
          "type": "array",
          "items": {
            "$ref": "CssProduct"
          },
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Account": {
      "properties": {
        "homepageUri": {
          "description": "Output only. Immutable. The CSS/MC account's homepage.",
          "type": "string",
          "readOnly": true
        },
        "labelIds": {
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "accountType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "description": "Output only. The type of this account.",
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ]
        },
        "parent": {
          "type": "string",
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\""
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "type": "string",
          "readOnly": true
        },
        "automaticLabelIds": {
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Information about CSS/MC account.",
      "id": "Account"
    },
    "CssProduct": {
      "id": "CssProduct",
      "description": "The processed CSS Product.",
      "type": "object",
      "properties": {
        "attributes": {
          "readOnly": true,
          "$ref": "Attributes",
          "description": "Output only. A list of product attributes."
        },
        "cssProductStatus": {
          "$ref": "CssProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true
        },
        "customAttributes": {
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true
        },
        "feedLabel": {
          "type": "string",
          "description": "Output only. The feed label for the product.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`",
          "type": "string"
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Output only. Your unique raw identifier for the product.",
          "readOnly": true
        }
      }
    },
    "Certification": {
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product.",
      "properties": {
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database."
        },
        "code": {
          "type": "string",
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels."
        }
      },
      "id": "Certification",
      "type": "object"
    },
    "UpdateAccountLabelsRequest": {
      "description": "The request message for the `UpdateLabels` method.",
      "id": "UpdateAccountLabelsRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
        },
        "labelIds": {
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ProductWeight": {
      "id": "ProductWeight",
      "description": "The weight of the product.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        },
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "type": "object",
      "id": "Price",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      }
    },
    "CssProductInput": {
      "id": "CssProductInput",
      "type": "object",
      "properties": {
        "finalName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \""
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A list of CSS Product attributes."
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google."
        },
        "freshnessTime": {
          "type": "string",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "rawProvidedId": {
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string"
        }
      },
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces."
    },
    "CustomAttribute": {
      "properties": {
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        }
      },
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "id": "CustomAttribute",
      "type": "object"
    },
    "ListQuotaGroupsResponse": {
      "id": "ListQuotaGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "quotaGroups": {
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          },
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage."
        }
      },
      "description": "Response message for the ListMethodGroups method.",
      "type": "object"
    },
    "Attributes": {
      "id": "Attributes",
      "properties": {
        "sizeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497)."
        },
        "headlineOfferSubscriptionCost": {
          "$ref": "HeadlineOfferSubscriptionCost",
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "headlineOfferInstallment": {
          "$ref": "HeadlineOfferInstallment",
          "description": "Number and amount of installments to pay for an item."
        },
        "productWidth": {
          "$ref": "ProductDimension",
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "headlineOfferPrice": {
          "$ref": "Price",
          "description": "Headline Price of the CSS Product."
        },
        "expirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted."
        },
        "productTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406))."
        },
        "reviewCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "multipack": {
          "format": "int64",
          "description": "The number of identical products in a merchant-defined multipack.",
          "type": "string"
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "numberOfOffers": {
          "format": "int64",
          "description": "The number of CSS Products.",
          "type": "string"
        },
        "maxRating": {
          "format": "int64",
          "type": "string",
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item.",
          "type": "string"
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "rating": {
          "format": "double",
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "type": "number"
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "size": {
          "type": "string",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition))."
        },
        "cppLink": {
          "description": "URL directly linking to your the Product Detail Page of the CSS.",
          "type": "string"
        },
        "highPrice": {
          "$ref": "Price",
          "description": "High Price of the CSS Product."
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "certifications": {
          "type": "array",
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "minRating": {
          "type": "string",
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
        },
        "brand": {
          "description": "Product Related Attributes.[14-36] Brand of the item.",
          "type": "string"
        },
        "productHighlights": {
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product.",
          "items": {
            "type": "string"
          }
        },
        "color": {
          "type": "string",
          "description": "Color of the item."
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "excludedDestinations": {
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          }
        },
        "cppAdsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "productDetails": {
          "type": "array",
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "description": "Mobile Link to the headline offer.",
          "type": "string"
        },
        "includedDestinations": {
          "type": "array",
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          }
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "additionalImageLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional URL of images of the item."
        },
        "productHeight": {
          "$ref": "ProductDimension",
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "headlineOfferCondition": {
          "description": "Condition of the headline offer.",
          "type": "string"
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "isBundle": {
          "type": "boolean",
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price."
        }
      },
      "type": "object",
      "description": "Attributes for CSS Product."
    }
  },
  "revision": "20260902",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "css:v1"
}