{
  "servicePath": "",
  "rootUrl": "https://css.googleapis.com/",
  "revision": "20260903",
  "title": "CSS API",
  "batchPath": "batch",
  "version": "v1",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://css.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "css",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "description": "Retrieves a single CSS/MC account by ID.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1/accounts/{accountsId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true
            },
            "parent": {
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "css.accounts.get"
        },
        "listChildAccounts": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "id": "css.accounts.listChildAccounts",
          "path": "v1/{+parent}:listChildAccounts",
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "fullName": {
              "location": "query",
              "type": "string",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned."
            },
            "pageSize": {
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            },
            "labelId": {
              "type": "string",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "format": "int64",
              "location": "query"
            }
          }
        },
        "updateLabels": {
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The label resource name. Format: accounts/{account}",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "POST",
          "id": "css.accounts.updateLabels",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "path": "v1/{+name}:updateLabels"
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "path": "v1/{+parent}/labels",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "id": "css.accounts.labels.list",
              "description": "Lists the labels owned by an account.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "AccountLabel"
              },
              "description": "Updates a label.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.labels.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$"
                }
              }
            },
            "delete": {
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "css.accounts.labels.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}"
            },
            "create": {
              "id": "css.accounts.labels.create",
              "description": "Creates a new label, not assigned to any account.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "location": "path"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels",
              "path": "v1/{+parent}/labels",
              "response": {
                "$ref": "AccountLabel"
              }
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "insert": {
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "id": "css.accounts.cssProductInputs.insert",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "location": "path"
                },
                "feedId": {
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "deprecated": true,
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "path": "v1/{+parent}/cssProductInputs:insert",
              "response": {
                "$ref": "CssProductInput"
              },
              "request": {
                "$ref": "CssProductInput"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "required": true
                },
                "supplementalFeedId": {
                  "format": "int64",
                  "location": "query",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "id": "css.accounts.cssProductInputs.delete",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}"
            },
            "patch": {
              "response": {
                "$ref": "CssProductInput"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "parameters": {
                "updateMask": {
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$"
                }
              },
              "request": {
                "$ref": "CssProductInput"
              },
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.cssProductInputs.patch",
              "path": "v1/{+name}"
            }
          }
        },
        "cssProducts": {
          "methods": {
            "get": {
              "response": {
                "$ref": "CssProduct"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "id": "css.accounts.cssProducts.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/cssProducts",
              "id": "css.accounts.cssProducts.list"
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "path": "v1/{+parent}/quotas",
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.quotas.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query"
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "css:v1",
  "protocol": "rest",
  "canonicalName": "Css",
  "schemas": {
    "ListQuotaGroupsResponse": {
      "description": "Response message for the ListMethodGroups method.",
      "properties": {
        "quotaGroups": {
          "items": {
            "$ref": "QuotaGroup"
          },
          "type": "array",
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListQuotaGroupsResponse"
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "id": "Price",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      },
      "type": "object"
    },
    "CssProduct": {
      "id": "CssProduct",
      "type": "object",
      "properties": {
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true,
          "type": "string"
        },
        "rawProvidedId": {
          "description": "Output only. Your unique raw identifier for the product.",
          "type": "string",
          "readOnly": true
        },
        "feedLabel": {
          "description": "Output only. The feed label for the product.",
          "readOnly": true,
          "type": "string"
        },
        "cssProductStatus": {
          "$ref": "CssProductStatus",
          "readOnly": true,
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously."
        },
        "customAttributes": {
          "type": "array",
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "attributes": {
          "description": "Output only. A list of product attributes.",
          "readOnly": true,
          "$ref": "Attributes"
        },
        "name": {
          "type": "string",
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`"
        }
      },
      "description": "The processed CSS Product."
    },
    "ListCssProductsResponse": {
      "type": "object",
      "id": "ListCssProductsResponse",
      "description": "Response message for the ListCssProducts method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "cssProducts": {
          "type": "array",
          "items": {
            "$ref": "CssProduct"
          },
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        }
      }
    },
    "MethodDetails": {
      "id": "MethodDetails",
      "type": "object",
      "properties": {
        "version": {
          "description": "Output only. The API version that the method belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`."
        },
        "method": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`."
        },
        "subapi": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`."
        }
      },
      "description": "The method details per method in the CSS API."
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "accountType": {
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of this account."
        },
        "labelIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account."
        },
        "name": {
          "type": "string",
          "description": "The label resource name. Format: accounts/{account}"
        },
        "parent": {
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\"",
          "type": "string"
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "fullName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's full name."
        },
        "homepageUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The CSS/MC account's homepage."
        },
        "automaticLabelIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Automatically created label IDs assigned to the MC account by CSS Center."
        }
      },
      "description": "Information about CSS/MC account."
    },
    "ListAccountLabelsResponse": {
      "properties": {
        "accountLabels": {
          "type": "array",
          "description": "The labels from the specified account.",
          "items": {
            "$ref": "AccountLabel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAccountLabelsResponse",
      "description": "Response message for the `ListAccountLabels` method."
    },
    "Attributes": {
      "type": "object",
      "id": "Attributes",
      "description": "Attributes for CSS Product.",
      "properties": {
        "productTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406))."
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "certifications": {
          "description": "A list of certificates claimed by the CSS for the given product.",
          "type": "array",
          "items": {
            "$ref": "Certification"
          }
        },
        "headlineOfferInstallment": {
          "$ref": "HeadlineOfferInstallment",
          "description": "Number and amount of installments to pay for an item."
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "maxRating": {
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64",
          "type": "string"
        },
        "size": {
          "type": "string",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition))."
        },
        "brand": {
          "type": "string",
          "description": "Product Related Attributes.[14-36] Brand of the item."
        },
        "cppLink": {
          "type": "string",
          "description": "URL directly linking to your the Product Detail Page of the CSS."
        },
        "headlineOfferShippingPrice": {
          "$ref": "Price",
          "description": "Headline Price of the CSS Product."
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "productDetails": {
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array",
          "description": "Technical specification or additional product details."
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "headlineOfferCondition": {
          "description": "Condition of the headline offer.",
          "type": "string"
        },
        "headlineOfferPrice": {
          "$ref": "Price",
          "description": "Headline Price of the CSS Product."
        },
        "reviewCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "includedDestinations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`."
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "type": "array"
        },
        "rating": {
          "format": "double",
          "type": "number",
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used."
        },
        "headlineOfferMobileLink": {
          "description": "Mobile Link to the headline offer.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "headlineOfferLink": {
          "type": "string",
          "description": "Link to the headline offer."
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "productHighlights": {
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "numberOfOffers": {
          "description": "The number of CSS Products.",
          "format": "int64",
          "type": "string"
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "additionalImageLinks": {
          "description": "Additional URL of images of the item.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item.",
          "type": "string"
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "multipack": {
          "description": "The number of identical products in a merchant-defined multipack.",
          "type": "string",
          "format": "int64"
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "itemGroupId": {
          "type": "string",
          "description": "Shared identifier for all variants of the same product."
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "cppAdsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "pattern": {
          "type": "string",
          "description": "The item's pattern (e.g. polka dots)."
        },
        "minRating": {
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64",
          "type": "string"
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ProductWeight": {
      "description": "The weight of the product.",
      "id": "ProductWeight",
      "properties": {
        "value": {
          "type": "number",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\""
        }
      },
      "type": "object"
    },
    "CssProductStatus": {
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "properties": {
        "lastUpdateDate": {
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "googleExpirationDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "itemLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "description": "A list of all issues associated with the product."
        },
        "destinationStatuses": {
          "description": "The intended destinations for the product.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "creationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        }
      },
      "type": "object",
      "id": "CssProductStatus"
    },
    "HeadlineOfferSubscriptionCost": {
      "id": "HeadlineOfferSubscriptionCost",
      "description": "The SubscriptionCost of the product.",
      "properties": {
        "periodLength": {
          "format": "int64",
          "type": "string",
          "description": "The number of subscription periods the buyer has to pay."
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "period": {
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\""
        }
      },
      "type": "object"
    },
    "ProductDetail": {
      "id": "ProductDetail",
      "type": "object",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        },
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        }
      },
      "description": "The product details."
    },
    "CustomAttribute": {
      "type": "object",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "id": "CustomAttribute",
      "properties": {
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "groupValues": {
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      }
    },
    "CssProductInput": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A list of CSS Product attributes."
        },
        "freshnessTime": {
          "format": "google-datetime",
          "deprecated": true,
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "type": "string"
        },
        "finalName": {
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "type": "string",
          "readOnly": true
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France."
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google."
        }
      },
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "type": "object",
      "id": "CssProductInput"
    },
    "ItemLevelIssue": {
      "type": "object",
      "description": "The ItemLevelIssue of the product status.",
      "id": "ItemLevelIssue",
      "properties": {
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "servability": {
          "description": "How this issue affects serving of the CSS Product.",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "applicableCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product."
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        }
      }
    },
    "HeadlineOfferInstallment": {
      "properties": {
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        },
        "months": {
          "type": "string",
          "format": "int64",
          "description": "The number of installments the buyer has to pay."
        },
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "A message that represents installment.",
      "id": "HeadlineOfferInstallment"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "description": "The dimension of the product.",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        }
      }
    },
    "QuotaGroup": {
      "id": "QuotaGroup",
      "type": "object",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "properties": {
        "quotaMinuteLimit": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        },
        "quotaUsage": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "type": "string"
        },
        "quotaLimit": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "format": "int64"
        },
        "methodDetails": {
          "type": "array",
          "items": {
            "$ref": "MethodDetails"
          },
          "readOnly": true,
          "description": "Output only. List of all methods group quota applies to."
        }
      }
    },
    "UpdateAccountLabelsRequest": {
      "type": "object",
      "id": "UpdateAccountLabelsRequest",
      "properties": {
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted."
        }
      },
      "description": "The request message for the `UpdateLabels` method."
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "description": "The destination status of the product status.",
      "properties": {
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "pendingCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Certification": {
      "id": "Certification",
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product.",
      "properties": {
        "authority": {
          "type": "string",
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU."
        },
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels."
        }
      },
      "type": "object"
    },
    "ListChildAccountsResponse": {
      "description": "Response message for the `ListChildAccounts` method.",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The CSS/MC accounts returned for the specified CSS parent account."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChildAccountsResponse",
      "type": "object"
    },
    "AccountLabel": {
      "type": "object",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "id": "AccountLabel",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "labelId": {
          "readOnly": true,
          "description": "Output only. The ID of the label.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "labelType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "description": "Output only. The type of this label.",
          "type": "string",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "accountId": {
          "readOnly": true,
          "description": "Output only. The ID of account this label belongs to.",
          "type": "string",
          "format": "int64"
        }
      }
    }
  },
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview"
}