{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "servicePath": "",
  "baseUrl": "https://css.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "name": "css",
  "canonicalName": "Css",
  "version_module": true,
  "version": "v1",
  "title": "CSS API",
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "revision": "20260923",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "basePath": "",
  "schemas": {
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "ProductDimension": {
      "description": "The dimension of the product.",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places.",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      },
      "id": "ProductDimension"
    },
    "CssProductInput": {
      "type": "object",
      "id": "CssProductInput",
      "properties": {
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "freshnessTime": {
          "format": "google-datetime",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google."
        },
        "finalName": {
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "type": "string",
          "readOnly": true
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France."
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        }
      },
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces."
    },
    "CssProductStatus": {
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "type": "object",
      "properties": {
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "type": "array"
        },
        "destinationStatuses": {
          "type": "array",
          "description": "The intended destinations for the product.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "creationDate": {
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        }
      },
      "id": "CssProductStatus"
    },
    "AccountLabel": {
      "type": "object",
      "id": "AccountLabel",
      "properties": {
        "labelType": {
          "type": "string",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "description": "Output only. The type of this label.",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "accountId": {
          "description": "Output only. The ID of account this label belongs to.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "labelId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the label."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}"
        }
      },
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts."
    },
    "CustomAttribute": {
      "properties": {
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        },
        "groupValues": {
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          }
        }
      },
      "type": "object",
      "id": "CustomAttribute",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty."
    },
    "QuotaGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern."
        },
        "quotaUsage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "format": "int64"
        },
        "quotaMinuteLimit": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "type": "string"
        },
        "methodDetails": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of all methods group quota applies to.",
          "items": {
            "$ref": "MethodDetails"
          }
        },
        "quotaLimit": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "readOnly": true
        }
      },
      "id": "QuotaGroup",
      "type": "object",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned."
    },
    "Attributes": {
      "properties": {
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "cppLink": {
          "description": "URL directly linking to your the Product Detail Page of the CSS.",
          "type": "string"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "numberOfOffers": {
          "type": "string",
          "description": "The number of CSS Products.",
          "format": "int64"
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "type": "number",
          "format": "double"
        },
        "headlineOfferCondition": {
          "type": "string",
          "description": "Condition of the headline offer."
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "headlineOfferPrice": {
          "$ref": "Price",
          "description": "Headline Price of the CSS Product."
        },
        "reviewCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "headlineOfferMobileLink": {
          "type": "string",
          "description": "Mobile Link to the headline offer."
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "certifications": {
          "type": "array",
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "cppAdsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "multipack": {
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack.",
          "format": "int64"
        },
        "lowPrice": {
          "$ref": "Price",
          "description": "Low Price of the CSS Product."
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "brand": {
          "type": "string",
          "description": "Product Related Attributes.[14-36] Brand of the item."
        },
        "expirationDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted."
        },
        "additionalImageLinks": {
          "description": "Additional URL of images of the item.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minRating": {
          "type": "string",
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "headlineOfferInstallment": {
          "$ref": "HeadlineOfferInstallment",
          "description": "Number and amount of installments to pay for an item."
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "headlineOfferSubscriptionCost": {
          "$ref": "HeadlineOfferSubscriptionCost",
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract."
        },
        "productHighlights": {
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "productTypes": {
          "type": "array",
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406)).",
          "items": {
            "type": "string"
          }
        },
        "maxRating": {
          "type": "string",
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "size": {
          "type": "string",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition))."
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign."
        },
        "pause": {
          "type": "string",
          "description": "Publication of this item will be temporarily paused."
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "excludedDestinations": {
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          }
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item."
        }
      },
      "description": "Attributes for CSS Product.",
      "id": "Attributes",
      "type": "object"
    },
    "ProductDetail": {
      "id": "ProductDetail",
      "type": "object",
      "properties": {
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        },
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        }
      },
      "description": "The product details."
    },
    "ProductWeight": {
      "type": "object",
      "description": "The weight of the product.",
      "id": "ProductWeight",
      "properties": {
        "value": {
          "format": "double",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\""
        }
      }
    },
    "DestinationStatus": {
      "description": "The destination status of the product status.",
      "type": "object",
      "properties": {
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "type": "array"
        },
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        }
      },
      "id": "DestinationStatus"
    },
    "Account": {
      "type": "object",
      "id": "Account",
      "description": "Information about CSS/MC account.",
      "properties": {
        "parent": {
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\"",
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. Immutable. The CSS/MC account's homepage.",
          "readOnly": true,
          "type": "string"
        },
        "automaticLabelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Automatically created label IDs assigned to the MC account by CSS Center."
        },
        "accountType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "description": "Output only. The type of this account.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "readOnly": true
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "readOnly": true,
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account."
        }
      }
    },
    "CssProduct": {
      "description": "The processed CSS Product.",
      "type": "object",
      "properties": {
        "rawProvidedId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Your unique raw identifier for the product."
        },
        "cssProductStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true,
          "$ref": "CssProductStatus"
        },
        "contentLanguage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product."
        },
        "feedLabel": {
          "description": "Output only. The feed label for the product.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`"
        },
        "customAttributes": {
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "attributes": {
          "readOnly": true,
          "description": "Output only. A list of product attributes.",
          "$ref": "Attributes"
        }
      },
      "id": "CssProduct"
    },
    "ListAccountLabelsResponse": {
      "type": "object",
      "description": "Response message for the `ListAccountLabels` method.",
      "id": "ListAccountLabelsResponse",
      "properties": {
        "accountLabels": {
          "items": {
            "$ref": "AccountLabel"
          },
          "description": "The labels from the specified account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "HeadlineOfferSubscriptionCost": {
      "id": "HeadlineOfferSubscriptionCost",
      "type": "object",
      "properties": {
        "period": {
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "type": "string"
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "periodLength": {
          "format": "int64",
          "type": "string",
          "description": "The number of subscription periods the buyer has to pay."
        }
      },
      "description": "The SubscriptionCost of the product."
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "id": "Price",
      "type": "object"
    },
    "ListCssProductsResponse": {
      "description": "Response message for the ListCssProducts method.",
      "properties": {
        "cssProducts": {
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds.",
          "type": "array",
          "items": {
            "$ref": "CssProduct"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListCssProductsResponse",
      "type": "object"
    },
    "ListQuotaGroupsResponse": {
      "properties": {
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "items": {
            "$ref": "QuotaGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ListMethodGroups method.",
      "id": "ListQuotaGroupsResponse"
    },
    "ListChildAccountsResponse": {
      "description": "Response message for the `ListChildAccounts` method.",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChildAccountsResponse"
    },
    "Certification": {
      "type": "object",
      "id": "Certification",
      "properties": {
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database."
        },
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        }
      },
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product."
    },
    "UpdateAccountLabelsRequest": {
      "type": "object",
      "description": "The request message for the `UpdateLabels` method.",
      "id": "UpdateAccountLabelsRequest",
      "properties": {
        "labelIds": {
          "type": "array",
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "parent": {
          "type": "string",
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
        }
      }
    },
    "ItemLevelIssue": {
      "description": "The ItemLevelIssue of the product status.",
      "properties": {
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "attribute": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the CSS Product."
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "type": "array"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        }
      },
      "id": "ItemLevelIssue",
      "type": "object"
    },
    "MethodDetails": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "readOnly": true
        },
        "subapi": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`."
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The API version that the method belongs to.",
          "type": "string"
        },
        "path": {
          "readOnly": true,
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "type": "string"
        }
      },
      "id": "MethodDetails",
      "description": "The method details per method in the CSS API."
    },
    "HeadlineOfferInstallment": {
      "type": "object",
      "description": "A message that represents installment.",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "months": {
          "format": "int64",
          "description": "The number of installments the buyer has to pay.",
          "type": "string"
        }
      },
      "id": "HeadlineOfferInstallment"
    }
  },
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "id": "css.accounts.get",
          "flatPath": "v1/accounts/{accountsId}",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Retrieves a single CSS/MC account by ID.",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "location": "path",
              "type": "string",
              "required": true
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
            }
          }
        },
        "updateLabels": {
          "id": "css.accounts.updateLabels",
          "path": "v1/{+name}:updateLabels",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The label resource name. Format: accounts/{account}",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          }
        },
        "listChildAccounts": {
          "path": "v1/{+parent}:listChildAccounts",
          "id": "css.accounts.listChildAccounts",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32"
            },
            "parent": {
              "location": "path",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            },
            "fullName": {
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "type": "string",
              "location": "query"
            },
            "labelId": {
              "type": "string",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "format": "int64",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts"
        }
      },
      "resources": {
        "cssProductInputs": {
          "methods": {
            "insert": {
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "feedId": {
                  "location": "query",
                  "deprecated": true,
                  "format": "int64",
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "css.accounts.cssProductInputs.insert",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "path": "v1/{+parent}/cssProductInputs:insert",
              "response": {
                "$ref": "CssProductInput"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "parameters": {
                "supplementalFeedId": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "id": "css.accounts.cssProductInputs.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "request": {
                "$ref": "CssProductInput"
              },
              "id": "css.accounts.cssProductInputs.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
                },
                "updateMask": {
                  "type": "string",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "CssProductInput"
              }
            }
          }
        },
        "cssProducts": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "id": "css.accounts.cssProducts.get",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "response": {
                "$ref": "CssProduct"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.cssProducts.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/cssProducts",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/cssProducts"
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "id": "css.accounts.quotas.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/quotas",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "flatPath": "v1/accounts/{accountsId}/quotas"
            }
          }
        },
        "labels": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a label.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "id": "css.accounts.labels.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AccountLabel"
              }
            },
            "list": {
              "path": "v1/{+parent}/labels",
              "description": "Lists the labels owned by an account.",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "css.accounts.labels.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.labels.delete",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "create": {
              "id": "css.accounts.labels.create",
              "description": "Creates a new label, not assigned to any account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels",
              "request": {
                "$ref": "AccountLabel"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+parent}/labels"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "css:v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "rootUrl": "https://css.googleapis.com/"
}