{
  "revision": "20260826",
  "kind": "discovery#restDescription",
  "name": "css",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "canonicalName": "Css",
  "rootUrl": "https://css.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "description": "Retrieves a single CSS/MC account by ID.",
          "path": "v1/{+name}",
          "id": "css.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "v1/accounts/{accountsId}",
          "parameters": {
            "parent": {
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "type": "string"
            }
          }
        },
        "updateLabels": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "css.accounts.updateLabels",
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The label resource name. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Account"
          },
          "path": "v1/{+name}:updateLabels",
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "httpMethod": "POST",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          }
        },
        "listChildAccounts": {
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "id": "css.accounts.listChildAccounts",
          "path": "v1/{+parent}:listChildAccounts",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "fullName": {
              "type": "string",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "labelId": {
              "type": "string",
              "location": "query",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "format": "int64"
            },
            "parent": {
              "type": "string",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts"
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+parent}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "description": "Creates a new label, not assigned to any account.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "css.accounts.labels.create",
              "request": {
                "$ref": "AccountLabel"
              }
            },
            "delete": {
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "httpMethod": "DELETE",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "id": "css.accounts.labels.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "AccountLabel"
              },
              "path": "v1/{+name}",
              "description": "Updates a label.",
              "id": "css.accounts.labels.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "id": "css.accounts.labels.list",
              "path": "v1/{+parent}/labels",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the labels owned by an account.",
              "flatPath": "v1/accounts/{accountsId}/labels",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "type": "string"
                }
              }
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "location": "path"
                }
              },
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "path": "v1/{+parent}/quotas",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "httpMethod": "GET",
              "id": "css.accounts.quotas.list"
            }
          }
        },
        "cssProducts": {
          "methods": {
            "list": {
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "httpMethod": "GET",
              "id": "css.accounts.cssProducts.list",
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/cssProducts",
              "parameters": {
                "parent": {
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CssProduct"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$"
                }
              },
              "id": "css.accounts.cssProducts.get"
            }
          }
        },
        "cssProductInputs": {
          "methods": {
            "insert": {
              "path": "v1/{+parent}/cssProductInputs:insert",
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "id": "css.accounts.cssProductInputs.insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "feedId": {
                  "location": "query",
                  "format": "int64",
                  "deprecated": true,
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "type": "string"
                }
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "id": "css.accounts.cssProductInputs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "parameters": {
                "supplementalFeedId": {
                  "format": "int64",
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "CssProductInput"
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.cssProductInputs.patch",
              "parameters": {
                "updateMask": {
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "id": "css:v1",
  "version": "v1",
  "servicePath": "",
  "title": "CSS API",
  "ownerDomain": "google.com",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "ListCssProductsResponse": {
      "description": "Response message for the ListCssProducts method.",
      "properties": {
        "cssProducts": {
          "type": "array",
          "items": {
            "$ref": "CssProduct"
          },
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListCssProductsResponse",
      "type": "object"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "description": "The dimension of the product.",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\"",
          "type": "string"
        }
      }
    },
    "MethodDetails": {
      "properties": {
        "method": {
          "type": "string",
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The API version that the method belongs to.",
          "type": "string"
        },
        "path": {
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`.",
          "readOnly": true,
          "type": "string"
        },
        "subapi": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`."
        }
      },
      "type": "object",
      "id": "MethodDetails",
      "description": "The method details per method in the CSS API."
    },
    "CssProduct": {
      "id": "CssProduct",
      "description": "The processed CSS Product.",
      "properties": {
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "readOnly": true
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Output only. A list of product attributes.",
          "readOnly": true
        },
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string",
          "readOnly": true
        },
        "cssProductStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true,
          "$ref": "CssProductStatus"
        },
        "rawProvidedId": {
          "description": "Output only. Your unique raw identifier for the product.",
          "readOnly": true,
          "type": "string"
        },
        "feedLabel": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The feed label for the product."
        },
        "name": {
          "type": "string",
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`"
        }
      },
      "type": "object"
    },
    "ListChildAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChildAccountsResponse",
      "description": "Response message for the `ListChildAccounts` method."
    },
    "DestinationStatus": {
      "description": "The destination status of the product status.",
      "properties": {
        "pendingCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval."
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved."
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DestinationStatus",
      "type": "object"
    },
    "CssProductInput": {
      "type": "object",
      "properties": {
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "freshnessTime": {
          "deprecated": true,
          "format": "google-datetime",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "type": "string"
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France."
        },
        "name": {
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
          "type": "string"
        },
        "customAttributes": {
          "type": "array",
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A list of CSS Product attributes."
        },
        "finalName": {
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "type": "string",
          "readOnly": true
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details."
        }
      },
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "id": "CssProductInput"
    },
    "CssProductStatus": {
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "id": "CssProductStatus",
      "type": "object",
      "properties": {
        "lastUpdateDate": {
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        },
        "creationDate": {
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "description": "The intended destinations for the product.",
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array"
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "type": "array",
          "description": "A list of all issues associated with the product."
        }
      }
    },
    "Attributes": {
      "id": "Attributes",
      "properties": {
        "isBundle": {
          "type": "boolean",
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price."
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "type": "string",
          "description": "Mobile Link to the headline offer."
        },
        "numberOfOffers": {
          "description": "The number of CSS Products.",
          "type": "string",
          "format": "int64"
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "expirationDate": {
          "format": "google-datetime",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "type": "string"
        },
        "includedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`."
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "productHighlights": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant highlights of a product."
        },
        "certifications": {
          "type": "array",
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "multipack": {
          "description": "The number of identical products in a merchant-defined multipack.",
          "format": "int64",
          "type": "string"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "headlineOfferInstallment": {
          "$ref": "HeadlineOfferInstallment",
          "description": "Number and amount of installments to pay for an item."
        },
        "lowPrice": {
          "description": "Low Price of the CSS Product.",
          "$ref": "Price"
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "productWidth": {
          "$ref": "ProductDimension",
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "cppMobileLink": {
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS.",
          "type": "string"
        },
        "productTypes": {
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406)).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional URL of images of the item."
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "reviewCount": {
          "format": "int64",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string"
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "type": "number",
          "format": "double"
        },
        "gender": {
          "description": "Target gender of the item.",
          "type": "string"
        },
        "cppAdsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "minRating": {
          "format": "int64",
          "type": "string",
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "cppLink": {
          "description": "URL directly linking to your the Product Detail Page of the CSS.",
          "type": "string"
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center)."
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item.",
          "type": "string"
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "headlineOfferPrice": {
          "$ref": "Price",
          "description": "Headline Price of the CSS Product."
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "headlineOfferCondition": {
          "type": "string",
          "description": "Condition of the headline offer."
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item."
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "maxRating": {
          "type": "string",
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "brand": {
          "description": "Product Related Attributes.[14-36] Brand of the item.",
          "type": "string"
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Attributes for CSS Product."
    },
    "Certification": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        },
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        }
      },
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product.",
      "id": "Certification"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "ListQuotaGroupsResponse": {
      "properties": {
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListQuotaGroupsResponse",
      "type": "object",
      "description": "Response message for the ListMethodGroups method."
    },
    "ItemLevelIssue": {
      "type": "object",
      "properties": {
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the CSS Product."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        }
      },
      "id": "ItemLevelIssue",
      "description": "The ItemLevelIssue of the product status."
    },
    "ProductWeight": {
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        },
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The weight of the product.",
      "id": "ProductWeight"
    },
    "UpdateAccountLabelsRequest": {
      "description": "The request message for the `UpdateLabels` method.",
      "id": "UpdateAccountLabelsRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        },
        "labelIds": {
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListAccountLabelsResponse": {
      "type": "object",
      "description": "Response message for the `ListAccountLabels` method.",
      "id": "ListAccountLabelsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountLabels": {
          "items": {
            "$ref": "AccountLabel"
          },
          "type": "array",
          "description": "The labels from the specified account."
        }
      }
    },
    "QuotaGroup": {
      "id": "QuotaGroup",
      "type": "object",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "properties": {
        "quotaMinuteLimit": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per minute for the group."
        },
        "quotaLimit": {
          "readOnly": true,
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "format": "int64",
          "type": "string"
        },
        "quotaUsage": {
          "readOnly": true,
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern."
        },
        "methodDetails": {
          "description": "Output only. List of all methods group quota applies to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MethodDetails"
          }
        }
      }
    },
    "HeadlineOfferSubscriptionCost": {
      "id": "HeadlineOfferSubscriptionCost",
      "description": "The SubscriptionCost of the product.",
      "properties": {
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64",
          "type": "string"
        },
        "period": {
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "type": "string",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ]
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        }
      },
      "type": "object"
    },
    "AccountLabel": {
      "id": "AccountLabel",
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "properties": {
        "displayName": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "labelId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of the label."
        },
        "accountId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of account this label belongs to.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "labelType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "description": "Output only. The type of this label."
        }
      },
      "type": "object"
    },
    "Price": {
      "type": "object",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "id": "Price",
      "description": "The price represented as a number and currency."
    },
    "ProductDetail": {
      "properties": {
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        },
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        }
      },
      "id": "ProductDetail",
      "description": "The product details.",
      "type": "object"
    },
    "HeadlineOfferInstallment": {
      "id": "HeadlineOfferInstallment",
      "description": "A message that represents installment.",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "months": {
          "type": "string",
          "format": "int64",
          "description": "The number of installments the buyer has to pay."
        }
      },
      "type": "object"
    },
    "CustomAttribute": {
      "id": "CustomAttribute",
      "type": "object",
      "properties": {
        "groupValues": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute."
        }
      },
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty."
    },
    "Account": {
      "description": "Information about CSS/MC account.",
      "type": "object",
      "id": "Account",
      "properties": {
        "labelIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account."
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\""
        },
        "name": {
          "description": "The label resource name. Format: accounts/{account}",
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. Immutable. The CSS/MC account's homepage.",
          "type": "string",
          "readOnly": true
        },
        "automaticLabelIds": {
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "accountType": {
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of this account.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ]
        },
        "fullName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's full name."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "protocol": "rest",
  "baseUrl": "https://css.googleapis.com/",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "basePath": ""
}