{
  "version": "v1",
  "title": "CSS API",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "HeadlineOfferInstallment": {
      "description": "A message that represents installment.",
      "type": "object",
      "id": "HeadlineOfferInstallment",
      "properties": {
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        },
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "format": "int64",
          "type": "string"
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        }
      }
    },
    "Attributes": {
      "description": "Attributes for CSS Product.",
      "type": "object",
      "properties": {
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "type": "string",
          "description": "Mobile Link to the headline offer."
        },
        "cppLink": {
          "description": "URL directly linking to your the Product Detail Page of the CSS.",
          "type": "string"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "lowPrice": {
          "$ref": "Price",
          "description": "Low Price of the CSS Product."
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "maxRating": {
          "format": "int64",
          "type": "string",
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "type": "array"
        },
        "material": {
          "type": "string",
          "description": "The material of which the item is made."
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant highlights of a product.",
          "type": "array"
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "Technical specification or additional product details."
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item.",
          "type": "string"
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "headlineOfferShippingPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "productWidth": {
          "$ref": "ProductDimension",
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "reviewCount": {
          "type": "string",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productHeight": {
          "$ref": "ProductDimension",
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "multipack": {
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack.",
          "format": "int64"
        },
        "certifications": {
          "description": "A list of certificates claimed by the CSS for the given product.",
          "items": {
            "$ref": "Certification"
          },
          "type": "array"
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "minRating": {
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "numberOfOffers": {
          "description": "The number of CSS Products.",
          "format": "int64",
          "type": "string"
        },
        "headlineOfferLink": {
          "type": "string",
          "description": "Link to the headline offer."
        },
        "cppMobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS."
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "headlineOfferInstallment": {
          "$ref": "HeadlineOfferInstallment",
          "description": "Number and amount of installments to pay for an item."
        },
        "headlineOfferCondition": {
          "type": "string",
          "description": "Condition of the headline offer."
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "productTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406))."
        },
        "additionalImageLinks": {
          "type": "array",
          "description": "Additional URL of images of the item.",
          "items": {
            "type": "string"
          }
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "format": "double",
          "type": "number"
        },
        "pattern": {
          "description": "The item's pattern (e.g. polka dots).",
          "type": "string"
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition)).",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Product Related Attributes.[14-36] Brand of the item."
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "cppAdsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "sizeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497)."
        },
        "headlineOfferSubscriptionCost": {
          "$ref": "HeadlineOfferSubscriptionCost",
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract."
        }
      },
      "id": "Attributes"
    },
    "ListCssProductsResponse": {
      "description": "Response message for the ListCssProducts method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cssProducts": {
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds.",
          "type": "array",
          "items": {
            "$ref": "CssProduct"
          }
        }
      },
      "id": "ListCssProductsResponse"
    },
    "Price": {
      "properties": {
        "amountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "id": "Price",
      "description": "The price represented as a number and currency.",
      "type": "object"
    },
    "CssProductInput": {
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
        },
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        },
        "finalName": {
          "readOnly": true,
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \"",
          "type": "string"
        },
        "rawProvidedId": {
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string"
        },
        "customAttributes": {
          "type": "array",
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "feedLabel": {
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France.",
          "type": "string"
        },
        "freshnessTime": {
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown.",
          "type": "string",
          "deprecated": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CssProductInput"
    },
    "ListChildAccountsResponse": {
      "properties": {
        "accounts": {
          "description": "The CSS/MC accounts returned for the specified CSS parent account.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChildAccountsResponse",
      "description": "Response message for the `ListChildAccounts` method.",
      "type": "object"
    },
    "CssProductStatus": {
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "id": "CssProductStatus",
      "properties": {
        "creationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "type": "array",
          "description": "The intended destinations for the product.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "A list of all issues associated with the product.",
          "items": {
            "$ref": "ItemLevelIssue"
          }
        },
        "lastUpdateDate": {
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ItemLevelIssue": {
      "description": "The ItemLevelIssue of the product status.",
      "type": "object",
      "id": "ItemLevelIssue",
      "properties": {
        "applicableCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the CSS Product."
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        }
      }
    },
    "CustomAttribute": {
      "type": "object",
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "id": "CustomAttribute",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "groupValues": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        }
      }
    },
    "MethodDetails": {
      "id": "MethodDetails",
      "properties": {
        "method": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`."
        },
        "subapi": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`."
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`."
        },
        "version": {
          "type": "string",
          "description": "Output only. The API version that the method belongs to.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The method details per method in the CSS API."
    },
    "QuotaGroup": {
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "id": "QuotaGroup",
      "properties": {
        "quotaUsage": {
          "format": "int64",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC.",
          "readOnly": true,
          "type": "string"
        },
        "methodDetails": {
          "items": {
            "$ref": "MethodDetails"
          },
          "description": "Output only. List of all methods group quota applies to.",
          "readOnly": true,
          "type": "array"
        },
        "quotaLimit": {
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "quotaMinuteLimit": {
          "description": "Output only. The maximum number of calls allowed per minute for the group.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern."
        }
      },
      "type": "object"
    },
    "UpdateAccountLabelsRequest": {
      "type": "object",
      "description": "The request message for the `UpdateLabels` method.",
      "properties": {
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted."
        },
        "parent": {
          "type": "string",
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
        }
      },
      "id": "UpdateAccountLabelsRequest"
    },
    "ListQuotaGroupsResponse": {
      "properties": {
        "quotaGroups": {
          "items": {
            "$ref": "QuotaGroup"
          },
          "type": "array",
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListMethodGroups method.",
      "id": "ListQuotaGroupsResponse",
      "type": "object"
    },
    "ProductDimension": {
      "type": "object",
      "id": "ProductDimension",
      "properties": {
        "value": {
          "type": "number",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places.",
          "format": "double"
        },
        "unit": {
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\"",
          "type": "string"
        }
      },
      "description": "The dimension of the product."
    },
    "CssProduct": {
      "properties": {
        "feedLabel": {
          "type": "string",
          "description": "Output only. The feed label for the product.",
          "readOnly": true
        },
        "rawProvidedId": {
          "description": "Output only. Your unique raw identifier for the product.",
          "readOnly": true,
          "type": "string"
        },
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`"
        },
        "customAttributes": {
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array"
        },
        "cssProductStatus": {
          "readOnly": true,
          "$ref": "CssProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously."
        },
        "attributes": {
          "description": "Output only. A list of product attributes.",
          "readOnly": true,
          "$ref": "Attributes"
        }
      },
      "type": "object",
      "description": "The processed CSS Product.",
      "id": "CssProduct"
    },
    "AccountLabel": {
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "displayName": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "labelType": {
          "description": "Output only. The type of this label.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ]
        },
        "labelId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of the label."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of account this label belongs to."
        }
      },
      "id": "AccountLabel"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Account": {
      "description": "Information about CSS/MC account.",
      "id": "Account",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\""
        },
        "automaticLabelIds": {
          "description": "Automatically created label IDs assigned to the MC account by CSS Center.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "fullName": {
          "description": "Output only. Immutable. The CSS/MC account's full name.",
          "type": "string",
          "readOnly": true
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's homepage."
        },
        "accountType": {
          "description": "Output only. The type of this account.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account."
        },
        "name": {
          "type": "string",
          "description": "The label resource name. Format: accounts/{account}"
        }
      },
      "type": "object"
    },
    "ListAccountLabelsResponse": {
      "description": "Response message for the `ListAccountLabels` method.",
      "id": "ListAccountLabelsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accountLabels": {
          "items": {
            "$ref": "AccountLabel"
          },
          "description": "The labels from the specified account.",
          "type": "array"
        }
      }
    },
    "ProductDetail": {
      "description": "The product details.",
      "id": "ProductDetail",
      "type": "object",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        },
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        }
      }
    },
    "ProductWeight": {
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        }
      },
      "type": "object",
      "description": "The weight of the product.",
      "id": "ProductWeight"
    },
    "Certification": {
      "type": "object",
      "id": "Certification",
      "properties": {
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels."
        },
        "authority": {
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU.",
          "type": "string"
        }
      },
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product."
    },
    "HeadlineOfferSubscriptionCost": {
      "properties": {
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64",
          "type": "string"
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "period": {
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\"",
          "type": "string",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ]
        }
      },
      "id": "HeadlineOfferSubscriptionCost",
      "description": "The SubscriptionCost of the product.",
      "type": "object"
    },
    "DestinationStatus": {
      "type": "object",
      "description": "The destination status of the product status.",
      "properties": {
        "disapprovedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "type": "array"
        },
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        }
      },
      "id": "DestinationStatus"
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "cssProductInputs": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "CssProductInput"
              },
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "id": "css.accounts.cssProductInputs.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CssProductInput"
              },
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved."
            },
            "insert": {
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "path": "v1/{+parent}/cssProductInputs:insert",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "feedId": {
                  "format": "int64",
                  "location": "query",
                  "deprecated": true,
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CssProductInput"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.cssProductInputs.insert",
              "request": {
                "$ref": "CssProductInput"
              },
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "httpMethod": "POST"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available.",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "id": "css.accounts.cssProductInputs.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$"
                },
                "supplementalFeedId": {
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                }
              }
            }
          }
        },
        "cssProducts": {
          "methods": {
            "list": {
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "path": "v1/{+parent}/cssProducts",
              "id": "css.accounts.cssProducts.list",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned.",
                  "type": "integer"
                }
              },
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`"
                }
              },
              "id": "css.accounts.cssProducts.get",
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "CssProduct"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}"
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                }
              },
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "id": "css.accounts.quotas.list",
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/quotas",
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              }
            }
          }
        },
        "labels": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists the labels owned by an account.",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/labels",
              "id": "css.accounts.labels.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/labels"
            },
            "create": {
              "flatPath": "v1/accounts/{accountsId}/labels",
              "request": {
                "$ref": "AccountLabel"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/labels",
              "description": "Creates a new label, not assigned to any account.",
              "id": "css.accounts.labels.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "css.accounts.labels.delete",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}"
            },
            "patch": {
              "description": "Updates a label.",
              "path": "v1/{+name}",
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "id": "css.accounts.labels.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
                  "required": true
                }
              },
              "response": {
                "$ref": "AccountLabel"
              }
            }
          }
        }
      },
      "methods": {
        "updateLabels": {
          "id": "css.accounts.updateLabels",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The label resource name. Format: accounts/{account}",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "path": "v1/{+name}:updateLabels",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "flatPath": "v1/accounts/{accountsId}:updateLabels"
        },
        "get": {
          "path": "v1/{+name}",
          "description": "Retrieves a single CSS/MC account by ID.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "flatPath": "v1/accounts/{accountsId}",
          "id": "css.accounts.get",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "listChildAccounts": {
          "path": "v1/{+parent}:listChildAccounts",
          "id": "css.accounts.listChildAccounts",
          "httpMethod": "GET",
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "labelId": {
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "fullName": {
              "type": "string",
              "location": "query",
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned."
            },
            "parent": {
              "location": "path",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "fullyEncodeReservedExpansion": true,
  "id": "css:v1",
  "revision": "20260903",
  "protocol": "rest",
  "rootUrl": "https://css.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "batchPath": "batch",
  "servicePath": "",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "canonicalName": "Css",
  "ownerDomain": "google.com",
  "name": "css",
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "ownerName": "Google",
  "baseUrl": "https://css.googleapis.com/"
}