{
  "canonicalName": "Css",
  "title": "CSS API",
  "id": "css:v1",
  "name": "css",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "accounts": {
      "resources": {
        "cssProductInputs": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the CSS product input resource to delete. Format: accounts/{account}/cssProductInputs/{css_product_input}, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
                },
                "supplementalFeedId": {
                  "description": "The Content API Supplemental Feed ID. The field must not be set if the action applies to a primary feed. If the field is set, then product action applies to a supplemental feed instead of primary Content API feed.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "css.accounts.cssProductInputs.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a CSS Product input from your CSS Center account. After a delete it may take several minutes until the input is no longer available."
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The list of CSS product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the CSS product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full CSS product replacement is not supported.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/cssProductInputs/[^/]+$",
                  "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Updates the existing Css Product input in your CSS Center account. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed Css Product can be retrieved.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CssProductInput"
              },
              "path": "v1/{+name}",
              "id": "css.accounts.cssProductInputs.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "CssProductInput"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs/{cssProductInputsId}"
            },
            "insert": {
              "path": "v1/{+parent}/cssProductInputs:insert",
              "request": {
                "$ref": "CssProductInput"
              },
              "description": "Uploads a CssProductInput to your CSS Center account. If an input with the same contentLanguage, identity, feedLabel and feedId already exists, this method replaces that entry. After inserting, updating, or deleting a CSS Product input, it may take several minutes before the processed CSS Product can be retrieved.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account where this CSS Product will be inserted. Format: accounts/{account}"
                },
                "feedId": {
                  "format": "int64",
                  "description": "Optional. DEPRECATED. Feed id is not required for CSS Products. The primary or supplemental feed id. If CSS Product already exists and feed id provided is different, then the CSS Product will be moved to a new feed. Note: For now, CSSs do not need to provide feed ids as we create feeds on the fly. We do not have supplemental feed support for CSS Products yet.",
                  "deprecated": true,
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/accounts/{accountsId}/cssProductInputs:insert",
              "id": "css.accounts.cssProductInputs.insert",
              "response": {
                "$ref": "CssProductInput"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "description": "Lists the daily call quota and usage per group for your CSS Center account.",
              "httpMethod": "GET",
              "id": "css.accounts.quotas.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/quotas",
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+parent}/quotas",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The CSS account that owns the collection of method quotas and resources. In most cases, this is the CSS domain. Format: accounts/{account}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
                }
              }
            }
          }
        },
        "cssProducts": {
          "methods": {
            "list": {
              "flatPath": "v1/accounts/{accountsId}/cssProducts",
              "id": "css.accounts.cssProducts.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/cssProducts",
              "response": {
                "$ref": "ListCssProductsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the processed CSS Products in your CSS Center account. The response might contain fewer items than specified by pageSize. Rely on pageToken to determine if there are more items to be requested. After inserting, updating, or deleting a CSS product input, it may take several minutes before the updated processed CSS product can be retrieved.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListCssProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCssProducts` must match the call that provided the page token."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The account/domain to list processed CSS Products for. Format: accounts/{account}"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of CSS Products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of CSS products will be returned."
                }
              }
            },
            "get": {
              "response": {
                "$ref": "CssProduct"
              },
              "flatPath": "v1/accounts/{accountsId}/cssProducts/{cssProductsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the CSS product to retrieve. Format: `accounts/{account}/cssProducts/{css_product}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/cssProducts/[^/]+$",
                  "required": true
                }
              },
              "description": "Retrieves the processed CSS Product from your CSS Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "httpMethod": "GET",
              "id": "css.accounts.cssProducts.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "labels": {
          "methods": {
            "create": {
              "request": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent account. Format: accounts/{account}"
                }
              },
              "path": "v1/{+parent}/labels",
              "id": "css.accounts.labels.create",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels",
              "description": "Creates a new label, not assigned to any account.",
              "response": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "id": "css.accounts.labels.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the label to delete. Format: accounts/{account}/labels/{label}",
                  "pattern": "^accounts/[^/]+/labels/[^/]+$"
                }
              },
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "httpMethod": "GET",
              "id": "css.accounts.labels.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the labels owned by an account.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent account. Format: accounts/{account}",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v1/{+parent}/labels",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels"
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates a label.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/labels/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}"
                }
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/labels/{labelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "css.accounts.labels.patch",
              "path": "v1/{+name}"
            }
          }
        }
      },
      "methods": {
        "updateLabels": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The label resource name. Format: accounts/{account}"
            }
          },
          "description": "Updates labels assigned to CSS/MC accounts by a CSS domain.",
          "request": {
            "$ref": "UpdateAccountLabelsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "css.accounts.updateLabels",
          "response": {
            "$ref": "Account"
          },
          "path": "v1/{+name}:updateLabels",
          "flatPath": "v1/accounts/{accountsId}:updateLabels",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "v1/accounts/{accountsId}",
          "description": "Retrieves a single CSS/MC account by ID.",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Optional. Only required when retrieving MC account information. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the managed CSS/MC account. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "id": "css.accounts.get"
        },
        "listChildAccounts": {
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "id": "css.accounts.listChildAccounts",
          "flatPath": "v1/accounts/{accountsId}:listChildAccounts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}:listChildAccounts",
          "description": "Lists all the accounts under the specified CSS account ID, and optionally filters by label ID and account name.",
          "parameters": {
            "labelId": {
              "format": "int64",
              "type": "string",
              "description": "If set, only the MC accounts with the given label ID will be returned.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "fullName": {
              "description": "If set, only the MC accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The parent account. Must be a CSS group or domain. Format: accounts/{account}"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "servicePath": "",
  "baseUrl": "https://css.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "Programmatically manage your Comparison Shopping Service (CSS) account data at scale.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/comparison-shopping-services/api/overview",
  "version_module": true,
  "mtlsRootUrl": "https://css.mtls.googleapis.com/",
  "batchPath": "batch",
  "version": "v1",
  "rootUrl": "https://css.googleapis.com/",
  "revision": "20260901",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "Price": {
      "type": "object",
      "id": "Price",
      "description": "The price represented as a number and currency.",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      }
    },
    "HeadlineOfferInstallment": {
      "type": "object",
      "id": "HeadlineOfferInstallment",
      "properties": {
        "months": {
          "format": "int64",
          "description": "The number of installments the buyer has to pay.",
          "type": "string"
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        }
      },
      "description": "A message that represents installment."
    },
    "DestinationStatus": {
      "description": "The destination status of the product status.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "approvedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is approved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pendingCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disapprovedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the CSS Product is disapproved.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DestinationStatus"
    },
    "ProductWeight": {
      "id": "ProductWeight",
      "type": "object",
      "description": "The weight of the product.",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        },
        "value": {
          "format": "double",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "number"
        }
      }
    },
    "Certification": {
      "type": "object",
      "description": "The certification for the product. Use the this attribute to describe certifications, such as energy efficiency ratings, associated with a product.",
      "properties": {
        "authority": {
          "type": "string",
          "description": "The authority or certification body responsible for issuing the certification. At this time, the most common value is \"EC\" or “European_Commission” for energy labels in the EU."
        },
        "code": {
          "description": "The code of the certification. For example, for the EPREL certificate with the link https://eprel.ec.europa.eu/screen/product/dishwashers2019/123456 the code is 123456. The code is required for European Energy Labels.",
          "type": "string"
        },
        "name": {
          "description": "The name of the certification. At this time, the most common value is \"EPREL\", which represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
          "type": "string"
        }
      },
      "id": "Certification"
    },
    "ListAccountLabelsResponse": {
      "description": "Response message for the `ListAccountLabels` method.",
      "type": "object",
      "id": "ListAccountLabelsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accountLabels": {
          "type": "array",
          "description": "The labels from the specified account.",
          "items": {
            "$ref": "AccountLabel"
          }
        }
      }
    },
    "MethodDetails": {
      "properties": {
        "version": {
          "description": "Output only. The API version that the method belongs to.",
          "type": "string",
          "readOnly": true
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path for the method such as `v1/cssproductsservice.listcssproducts`."
        },
        "method": {
          "description": "Output only. The name of the method for example `cssproductsservice.listcssproducts`.",
          "type": "string",
          "readOnly": true
        },
        "subapi": {
          "description": "Output only. The sub-API that the method belongs to. In the CSS API, this is always `css`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The method details per method in the CSS API.",
      "type": "object",
      "id": "MethodDetails"
    },
    "ListChildAccountsResponse": {
      "id": "ListChildAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The CSS/MC accounts returned for the specified CSS parent account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the `ListChildAccounts` method.",
      "type": "object"
    },
    "CssProductInput": {
      "type": "object",
      "properties": {
        "finalName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the processed CSS Product. Format: `accounts/{account}/cssProducts/{css_product}` \""
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the CSS Product. Feed Label is synonymous to \"target country\" and hence should always be a valid region code. For example: 'DE' for Germany, 'FR' for France."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the CSS Product input. Format: `accounts/{account}/cssProductInputs/{css_product_input}`, where the last section `css_product_input` consists of 3 parts: contentLanguage~feedLabel~offerId. Example: accounts/123/cssProductInputs/de~DE~rawProvidedId123"
        },
        "rawProvidedId": {
          "type": "string",
          "description": "Required. Your unique identifier for the CSS Product. This is the same for the CSS Product input and processed CSS Product. We only allow ids with alphanumerics, underscores and dashes. See the [products feed specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "freshnessTime": {
          "format": "google-datetime",
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED. Use expiration_date instead. Represents the existing version (freshness) of the CSS Product, which can be used to preserve the right order when multiple updates are done at the same time. This field must not be set to the future time. If set, the update is prevented if a newer version of the item already exists in our system (that is the last update time of the existing CSS products is later than the freshness time set in the update). If the update happens, the last update time is then set to this freshness time. If not set, the update will not be prevented and the last update time will default to when this request was received by the CSS API. If the operation is prevented, the aborted exception will be thrown."
        },
        "contentLanguage": {
          "description": "Required. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the CSS Product.",
          "type": "string"
        },
        "attributes": {
          "description": "A list of CSS Product attributes.",
          "$ref": "Attributes"
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (CSS-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example: `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google."
        }
      },
      "description": "This resource represents input data you submit for a CSS Product, not the processed CSS Product that you see in CSS Center, in Shopping Ads, or across Google surfaces.",
      "id": "CssProductInput"
    },
    "ProductDetail": {
      "description": "The product details.",
      "id": "ProductDetail",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        },
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        }
      },
      "type": "object"
    },
    "Account": {
      "properties": {
        "fullName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's full name."
        },
        "displayName": {
          "description": "The CSS/MC account's short display name.",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "description": "Manually created label IDs assigned to the CSS/MC account by a CSS parent account.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "homepageUri": {
          "type": "string",
          "description": "Output only. Immutable. The CSS/MC account's homepage.",
          "readOnly": true
        },
        "accountType": {
          "enumDescriptions": [
            "Unknown account type.",
            "CSS group account.",
            "CSS domain account.",
            "MC Primary CSS MCA account.",
            "MC CSS MCA account.",
            "MC Marketplace MCA account.",
            "MC Other MCA account.",
            "MC Standalone account.",
            "MC MCA sub-account."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "CSS_GROUP",
            "CSS_DOMAIN",
            "MC_PRIMARY_CSS_MCA",
            "MC_CSS_MCA",
            "MC_MARKETPLACE_MCA",
            "MC_OTHER_MCA",
            "MC_STANDALONE",
            "MC_MCA_SUBACCOUNT"
          ],
          "description": "Output only. The type of this account.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The label resource name. Format: accounts/{account}"
        },
        "automaticLabelIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Automatically created label IDs assigned to the MC account by CSS Center."
        },
        "parent": {
          "description": "The CSS/MC account's parent resource. CSS group for CSS domains; CSS domain for MC accounts. Returned only if the user has access to the parent account. Note: For MC sub-accounts, this is also the CSS domain that is the parent resource of the MCA account, since we are effectively flattening the hierarchy.\"",
          "type": "string"
        }
      },
      "id": "Account",
      "type": "object",
      "description": "Information about CSS/MC account."
    },
    "ProductDimension": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      },
      "description": "The dimension of the product.",
      "id": "ProductDimension"
    },
    "AccountLabel": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Output only. The ID of account this label belongs to.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the label. Format: accounts/{account}/labels/{label}",
          "type": "string"
        },
        "labelType": {
          "description": "Output only. The type of this label.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of this label."
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "labelId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the label."
        }
      },
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "id": "AccountLabel"
    },
    "Attributes": {
      "type": "object",
      "id": "Attributes",
      "properties": {
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "headlineOfferCondition": {
          "description": "Condition of the headline offer.",
          "type": "string"
        },
        "includedDestinations": {
          "type": "array",
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          }
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "cppLink": {
          "type": "string",
          "description": "URL directly linking to your the Product Detail Page of the CSS."
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided (see [size type](https://support.google.com/merchants/answer/6324497).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "headlineOfferPrice": {
          "description": "Headline Price of the CSS Product.",
          "$ref": "Price"
        },
        "color": {
          "type": "string",
          "description": "Color of the item."
        },
        "numberOfOffers": {
          "description": "The number of CSS Products.",
          "type": "string",
          "format": "int64"
        },
        "cppAdsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "headlineOfferInstallment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "HeadlineOfferInstallment"
        },
        "productDetails": {
          "type": "array",
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "cppMobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of the Product Detail Page of the CSS."
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "itemGroupId": {
          "type": "string",
          "description": "Shared identifier for all variants of the same product."
        },
        "highPrice": {
          "description": "High Price of the CSS Product.",
          "$ref": "Price"
        },
        "pause": {
          "description": "Publication of this item will be temporarily paused.",
          "type": "string"
        },
        "headlineOfferSubscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "HeadlineOfferSubscriptionCost"
        },
        "lowPrice": {
          "$ref": "Price",
          "description": "Low Price of the CSS Product."
        },
        "excludedDestinations": {
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxRating": {
          "type": "string",
          "description": "Maximum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "format": "int64"
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "headlineOfferMobileLink": {
          "description": "Mobile Link to the headline offer.",
          "type": "string"
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
        },
        "minRating": {
          "description": "Minimum rating score of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used.",
          "type": "string",
          "format": "int64"
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "size": {
          "type": "string",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see [https://support.google.com/merchants/answer/6324492](size definition))."
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "certifications": {
          "items": {
            "$ref": "Certification"
          },
          "description": "A list of certificates claimed by the CSS for the given product.",
          "type": "array"
        },
        "gtin": {
          "description": "Global Trade Item Number ([GTIN](https://support.google.com/merchants/answer/188494#gtin)) of the item.",
          "type": "string"
        },
        "brand": {
          "description": "Product Related Attributes.[14-36] Brand of the item.",
          "type": "string"
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "headlineOfferShippingPrice": {
          "$ref": "Price",
          "description": "Headline Price of the CSS Product."
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign."
        },
        "headlineOfferLink": {
          "description": "Link to the headline offer.",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "The item's pattern (e.g. polka dots)."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/188494#mpn)) of the item."
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "productHighlights": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant highlights of a product."
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "multipack": {
          "format": "int64",
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack."
        },
        "reviewCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of reviews of the product. Required if `rating` is provided. This field is for an upcoming feature and is not yet used."
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "expirationDate": {
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future. Note: It may take 2+ days from the expiration date for the item to actually get deleted.",
          "format": "google-datetime"
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional URL of images of the item."
        },
        "productTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in [products data specification](https://support.google.com/merchants/answer/6324406))."
        },
        "rating": {
          "description": "Average rating score of the product. The value must be within the range of [`min_rating`, `max_rating`], inclusive. When displayed on the product page, this rating is normalized to a scale of [1, 5] with one decimal place. If provided, `review_count`, `min_rating`, and `max_rating` are also required. This field is for an upcoming feature and is not yet used.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Attributes for CSS Product."
    },
    "HeadlineOfferSubscriptionCost": {
      "description": "The SubscriptionCost of the product.",
      "properties": {
        "periodLength": {
          "description": "The number of subscription periods the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "period": {
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year."
          ],
          "type": "string",
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\""
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        }
      },
      "type": "object",
      "id": "HeadlineOfferSubscriptionCost"
    },
    "ListCssProductsResponse": {
      "description": "Response message for the ListCssProducts method.",
      "properties": {
        "cssProducts": {
          "items": {
            "$ref": "CssProduct"
          },
          "type": "array",
          "description": "The processed CSS products from the specified account. These are your processed CSS products after applying rules and supplemental feeds."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListCssProductsResponse",
      "type": "object"
    },
    "QuotaGroup": {
      "properties": {
        "methodDetails": {
          "items": {
            "$ref": "MethodDetails"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all methods group quota applies to."
        },
        "quotaLimit": {
          "format": "int64",
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "type": "string",
          "readOnly": true
        },
        "quotaUsage": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC."
        },
        "quotaMinuteLimit": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum number of calls allowed per minute for the group."
        },
        "name": {
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Example: `accounts/12345678/quotas/css-products-insert` Note: The {group} part is not guaranteed to follow a specific pattern.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The group information for methods in the CSS API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "id": "QuotaGroup"
    },
    "ItemLevelIssue": {
      "properties": {
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the CSS Product."
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the CSS Product."
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        }
      },
      "description": "The ItemLevelIssue of the product status.",
      "id": "ItemLevelIssue",
      "type": "object"
    },
    "CustomAttribute": {
      "id": "CustomAttribute",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "groupValues": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        }
      },
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty."
    },
    "CssProduct": {
      "type": "object",
      "description": "The processed CSS Product.",
      "id": "CssProduct",
      "properties": {
        "feedLabel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The feed label for the product."
        },
        "cssProductStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true,
          "$ref": "CssProductStatus"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Output only. A list of product attributes.",
          "readOnly": true
        },
        "rawProvidedId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Your unique raw identifier for the product."
        },
        "name": {
          "description": "The name of the CSS Product. Format: `\"accounts/{account}/cssProducts/{css_product}\"`",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true
        },
        "customAttributes": {
          "description": "Output only. A list of custom (CSS-provided) attributes. It can also be used to submit any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "readOnly": true
        }
      }
    },
    "UpdateAccountLabelsRequest": {
      "id": "UpdateAccountLabelsRequest",
      "type": "object",
      "description": "The request message for the `UpdateLabels` method.",
      "properties": {
        "parent": {
          "description": "Optional. Only required when updating MC account labels. The CSS domain that is the parent resource of the MC account. Format: accounts/{account}",
          "type": "string"
        },
        "labelIds": {
          "description": "The list of label IDs to overwrite the existing account label IDs. If the list is empty, all currently assigned label IDs will be deleted.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "CssProductStatus": {
      "type": "object",
      "description": "The status of the Css Product, data validation issues, that is, information about the Css Product computed asynchronously.",
      "properties": {
        "googleExpirationDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "lastUpdateDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "destinationStatuses": {
          "type": "array",
          "description": "The intended destinations for the product.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "creationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "type": "array",
          "description": "A list of all issues associated with the product."
        }
      },
      "id": "CssProductStatus"
    },
    "ListQuotaGroupsResponse": {
      "description": "Response message for the ListMethodGroups method.",
      "id": "ListQuotaGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "quotaGroups": {
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage.",
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          }
        }
      },
      "type": "object"
    }
  }
}