{
  "canonicalName": "CurationPartners",
  "kind": "discovery#restDescription",
  "id": "curationpartners:v1",
  "documentationLink": "https://developers.google.com/authorized-buyers/curation/apis/guides/curationpartners/overview",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "baseUrl": "https://curationpartners.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/curation-partners": {
          "description": "See, create, edit, and delete data entities in your Curation account."
        }
      }
    }
  },
  "schemas": {
    "ListReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "reports": {
          "type": "array",
          "description": "The `Report` objects from the specified network.",
          "items": {
            "$ref": "Report"
          }
        },
        "totalSize": {
          "description": "Total number of `Report` objects. If a filter was included in the request, this reflects the total number after the filtering is applied. `total_size` won't be calculated in the response unless it has been included in a response field mask. The response field mask can be provided to the method by using the URL parameter `$fields` or `fields`, or by using the HTTP/gRPC header `X-Goog-FieldMask`. For more information, see https://developers.google.com/ad-manager/api/beta/field-masks",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ListReportsResponse",
      "description": "Response object for `ListReportsResponse` containing matching `Report` objects."
    },
    "Sort": {
      "type": "object",
      "id": "Sort",
      "description": "Represents a sorting in a report.",
      "properties": {
        "descending": {
          "description": "Optional. The sort order. If true the sort will be descending.",
          "type": "boolean"
        },
        "field": {
          "description": "Required. A field (dimension or metric) to sort by.",
          "$ref": "Field"
        }
      }
    },
    "PackagePublisherProvidedSignalsTargeting": {
      "description": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed.",
      "id": "PackagePublisherProvidedSignalsTargeting",
      "type": "object",
      "properties": {
        "videoAndAudioSignalsTargeting": {
          "description": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals.",
          "$ref": "StringTargetingDimension"
        },
        "audienceTargeting": {
          "$ref": "TaxonomyTargeting",
          "description": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)"
        },
        "contentTargeting": {
          "description": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)",
          "$ref": "TaxonomyTargeting"
        }
      }
    },
    "AccessControlSettings": {
      "properties": {
        "allowlistedMediaPlanners": {
          "items": {
            "type": "string"
          },
          "description": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`",
          "type": "array"
        }
      },
      "type": "object",
      "id": "AccessControlSettings",
      "description": "Settings for controlling access to a curated package."
    },
    "Report": {
      "description": "The `Report` resource.",
      "id": "Report",
      "type": "object",
      "properties": {
        "locale": {
          "description": "Output only. The locale of this report. Locale is set from the user's locale at the time of the request. Locale can't be modified.",
          "readOnly": true,
          "type": "string"
        },
        "reportDefinition": {
          "description": "Required. The report definition of the report.",
          "$ref": "ReportDefinition"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The instant this report was last modified.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the report."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The instant this report was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the report. Report resource name have the form: `curators/{account_id}/reports/{report_id}`",
          "type": "string"
        },
        "reportId": {
          "description": "Output only. Report ID.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "Field": {
      "properties": {
        "dimension": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The domain of the advertiser.",
            "Display name of a country.",
            "The ID of the data segment created by a curator.",
            "The response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
            "The localized display name of the response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
            "The type of curation service (e.g. packaging or data segment).",
            "Date.",
            "Deal ID.",
            "Deal name.",
            "Display name of the detected advertiser.",
            "Display name of the DSP.",
            "DSP Seat ID.",
            "The user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
            "The localized display name of the user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
            "Display name of the holding company.",
            "Hour.",
            "Mobile App ID.",
            "Mobile App Name.",
            "Mobile operating system.",
            "Month.",
            "The visibility of the package fee (e.g. disclosed or non-disclosed).",
            "Platform, e.g. \"desktop\" vs. \"mobile\".",
            "Publisher domain.",
            "Publisher identifier.",
            "Publisher name.",
            "Week."
          ],
          "description": "The dimension this field represents.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ADVERTISER_DOMAIN",
            "COUNTRY",
            "CURATION_DATA_SEGMENT_ID",
            "CURATION_DATA_SEGMENT_RESPONSE_STATUS",
            "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME",
            "CURATOR_FEE_TYPE",
            "DATE",
            "DEAL_ID",
            "DEAL_NAME",
            "DETECTED_ADVERTISER_NAME",
            "DSP_NAME",
            "DSP_SEAT_ID",
            "ENVIRONMENT",
            "ENVIRONMENT_NAME",
            "HOLDING_COMPANY_NAME",
            "HOUR",
            "MOBILE_APP_ID",
            "MOBILE_APP_NAME",
            "MOBILE_OS",
            "MONTH",
            "PACKAGE_FEE_VISIBILITY",
            "PLATFORM",
            "PUBLISHER_DOMAIN",
            "PUBLISHER_ID",
            "PUBLISHER_NAME",
            "WEEK"
          ]
        },
        "metric": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Active View measurability rate.",
            "Active View measurable.",
            "Active view viewability rate.",
            "Active View viewable imps.",
            "Auctions won.",
            "Bids.",
            "Bids in auction.",
            "Bid requests.",
            "Clicks.",
            "Curator fee. This will be redacted to 0.00 if the package's visibility is set to non-disclosed. Use the PACKAGE_FEE_VISIBILITY dimension to check if the package's fee is disclosed.",
            "Number of data segment requests sent in the Real-time curation.",
            "Impressions.",
            "Spend in reporting currency specified in the request. Defaults to USD."
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "ACTIVE_VIEW_MEASURABILITY_RATE",
            "ACTIVE_VIEW_MEASURABLE",
            "ACTIVE_VIEW_VIEWABILITY_RATE",
            "ACTIVE_VIEW_VIEWABLE",
            "AUCTIONS_WON",
            "BIDS",
            "BIDS_IN_AUCTION",
            "BID_REQUESTS",
            "CLICKS",
            "CURATION_PARTNER_FEE",
            "DATA_SEGMENT_REQUESTS",
            "IMPRESSIONS",
            "SPEND"
          ],
          "description": "The metric this field represents."
        }
      },
      "type": "object",
      "id": "Field",
      "description": "A dimension or a metric in a report."
    },
    "DataSegment": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The data segment is active.",
            "The data segment is inactive.",
            "The data segment is suspended and cannot be activated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "SUSPENDED"
          ],
          "description": "Output only. The state of the data segment.",
          "type": "string"
        },
        "userListId": {
          "type": "string",
          "description": "Optional. Immutable. The ID of the User List wrapped by this Data Segment. Curators with a linked Data Partner account can create a data segment that wraps a user list owned by the linked Data Partner account. User lists can be uploaded and managed using the [Data Manager API](https://developers.google.com/data-manager/api/data-partners/audiences). Linking a user list to a data segment lets you define a segment of inventory that is based on an audience you create."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the data segment was created."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. Format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`"
        },
        "cpmFee": {
          "$ref": "Money",
          "description": "Optional. A fixed fee charged per thousand impressions. Once set, the currency code cannot be changed."
        },
        "millipercentOfMediaFee": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time the data segment was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "DataSegment",
      "type": "object",
      "description": "Defines an identifier for a segment of inventory that can be targeted by curators or media planners in the deals or auction packages UI. Curation of inventory is done by curators on external platforms. -- Next ID: 9 --"
    },
    "Filter": {
      "id": "Filter",
      "type": "object",
      "description": "A filter over one or more fields.",
      "properties": {
        "fieldFilter": {
          "description": "A filter on a single field.",
          "$ref": "FieldFilter"
        },
        "andFilter": {
          "description": "A list of filters whose results are AND-ed.",
          "$ref": "FilterList"
        },
        "orFilter": {
          "description": "A list of filters whose results are OR-ed.",
          "$ref": "FilterList"
        },
        "notFilter": {
          "$ref": "Filter",
          "description": "A filter whose result is negated."
        }
      }
    },
    "AdSize": {
      "type": "object",
      "properties": {
        "height": {
          "format": "int64",
          "type": "string",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The type of the ad slot size.",
          "type": "string"
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize"
    },
    "FieldFilter": {
      "properties": {
        "operation": {
          "enum": [
            "IN",
            "NOT_IN",
            "CONTAINS",
            "NOT_CONTAINS",
            "LESS_THAN",
            "LESS_THAN_EQUALS",
            "GREATER_THAN",
            "GREATER_THAN_EQUALS",
            "BETWEEN",
            "MATCHES",
            "NOT_MATCHES"
          ],
          "description": "Required. The operation of this filter.",
          "enumDescriptions": [
            "For scalar operands, checks if the operand is in the set of provided filter values. For list operands, checks if any element in the operand is in the set of provided filter values. Default value.",
            "For scalar operands, checks that the operand is not in the set of provided filter values. For list operands, checks that none of the elements in the operand is in the set of provided filter values.",
            "For scalar string operands, checks if the operand contains any of the provided filter substrings. For string list operands, checks if any string in the operand contains any of the provided filter substrings.",
            "For scalar string operands, checks that the operand contains none of the provided filter substrings. For string list operands, checks that none of the strings in the operand contain none of the provided filter substrings.",
            "Operand is less than the provided filter value.",
            "Operand is less than or equal to provided filter value.",
            "Operand is greater than provided filter value.",
            "Operand is greater than or equal to provided filter value.",
            "Operand is between provided filter values.",
            "Operand matches against a regular expression or set of regular expressions (one must match).",
            "Operand negative matches against a regular expression or set of regular expressions (none must match)."
          ],
          "type": "string"
        },
        "field": {
          "$ref": "Field",
          "description": "Required. The field to filter on."
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "ReportValue"
          },
          "description": "Required. Values to filter to."
        }
      },
      "type": "object",
      "description": "A filter on a specific field.",
      "id": "FieldFilter"
    },
    "RunReportResponse": {
      "id": "RunReportResponse",
      "type": "object",
      "description": "Response message for a completed `RunReport` operation.",
      "properties": {
        "reportResult": {
          "description": "The unique name of the generated result. Use with `FetchReportResultRows` to retrieve data.",
          "type": "string"
        }
      }
    },
    "FetchReportResultRowsResponse": {
      "properties": {
        "totalRowCount": {
          "type": "integer",
          "description": "The total number of rows available from this report. Useful for pagination. Only returned with the first page of results (when page_token is not included in the request).",
          "format": "int32"
        },
        "dateRanges": {
          "items": {
            "$ref": "FixedDateRange"
          },
          "description": "The computed fixed date ranges this report includes. Only returned with the first page of results (when page_token is not included in the request).",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "runTime": {
          "description": "The time at which the report was scheduled to run. For non-scheduled reports, this is the time at which the report was requested to be run.",
          "type": "string",
          "format": "google-datetime"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Up to `page_size` rows of report data."
        }
      },
      "id": "FetchReportResultRowsResponse",
      "description": "The response message for the fetch report result rows endpoint.",
      "type": "object"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "FilterList": {
      "description": "A list of filters.",
      "id": "FilterList",
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "Required. A list of filters."
        }
      }
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "properties": {
        "dimensionValues": {
          "description": "The order of the dimension values is the same as the order of the dimensions specified in the request.",
          "items": {
            "$ref": "ReportValue"
          },
          "type": "array"
        },
        "metricValueGroups": {
          "type": "array",
          "description": " The length of the metric_value_groups field will be equal to the length of the date_ranges field in the fetch response. The metric_value_groups field is ordered such that each index corresponds to the date_range at the same index. For example, given date_ranges [x, y], metric_value_groups will have a length of two. The first entry in metric_value_groups represents the metrics for date x and the second entry in metric_value_groups represents the metrics for date y.",
          "items": {
            "$ref": "MetricValueGroup"
          }
        }
      },
      "description": "A row of report data."
    },
    "ListDataSegmentsResponse": {
      "type": "object",
      "id": "ListDataSegmentsResponse",
      "description": "Response message for listing data segments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results."
        },
        "dataSegments": {
          "description": "The list of data segments.",
          "type": "array",
          "items": {
            "$ref": "DataSegment"
          }
        }
      }
    },
    "ActivateCuratedPackageRequest": {
      "type": "object",
      "properties": {},
      "id": "ActivateCuratedPackageRequest",
      "description": "Request message for ActivateCuratedPackage."
    },
    "DeactivateDataSegmentRequest": {
      "properties": {},
      "id": "DeactivateDataSegmentRequest",
      "description": "Request message for deactivating a data segment",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "DateRange": {
      "description": "A date range for a report.",
      "properties": {
        "relative": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The date the report is run.",
            "The date a day before the date that the report is run.",
            "From the beginning of the calendar week in which the up to and including the day the report is run.",
            "From the beginning of the calendar week in which the report is run, up to and including the day before the report is run.",
            "From the beginning of the calendar month in which the report is run, to up to and including the day the report is run.",
            "From the beginning of the calendar month in which the report is run, up to and including the day before the report is run.",
            "From the beginning of the calendar quarter in which the report is run, up to and including the day the report is run.",
            "From the beginning of the calendar quarter in which the report is run, up to and including the day before the report is run.",
            "From the beginning of the calendar year in which the report is run, to up to and including the day the report is run.",
            "From the beginning of the calendar year in which the report is run, to up to and including the day before the report is run.",
            "The entire previous calendar week, Monday to Sunday (inclusive), preceding the calendar week the report is run.",
            "The entire previous calendar week, Sunday to Saturday (inclusive), preceding the calendar week the report is run.",
            "The entire previous calendar month preceding the calendar month the report is run.",
            "The entire previous calendar quarter preceding the calendar quarter the report is run.",
            "The entire previous calendar year preceding the calendar year the report is run.",
            "The 7 days preceding the day the report is run.",
            "The 30 days preceding the day the report is run.",
            "The 60 days preceding the day the report is run.",
            "The 90 days preceding the day the report is run.",
            "The 93 days preceding the day the report is run.",
            "The 180 days preceding the day the report is run.",
            "The 360 days preceding the day the report is run.",
            "The 365 days preceding the day the report is run.",
            "The entire previous 3 calendar months preceding the calendar month the report is run.",
            "The entire previous 6 calendar months preceding the calendar month the report is run.",
            "The entire previous 12 calendar months preceding the calendar month the report is run.",
            "From 3 years before the report is run, to the day before the report is run, inclusive."
          ],
          "description": "A relative date range.",
          "enum": [
            "RELATIVE_DATE_RANGE_UNSPECIFIED",
            "TODAY",
            "YESTERDAY",
            "THIS_WEEK_TO_DATE",
            "THIS_WEEK_TO_YESTERDAY",
            "THIS_MONTH_TO_DATE",
            "THIS_MONTH_TO_YESTERDAY",
            "THIS_QUARTER_TO_DATE",
            "THIS_QUARTER_TO_YESTERDAY",
            "THIS_YEAR_TO_DATE",
            "THIS_YEAR_TO_YESTERDAY",
            "LAST_WEEK",
            "LAST_WEEK_STARTING_SUNDAY",
            "LAST_MONTH",
            "LAST_QUARTER",
            "LAST_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_60_DAYS",
            "LAST_90_DAYS",
            "LAST_93_DAYS",
            "LAST_180_DAYS",
            "LAST_360_DAYS",
            "LAST_365_DAYS",
            "LAST_3_MONTHS",
            "LAST_6_MONTHS",
            "LAST_12_MONTHS",
            "ALL_AVAILABLE"
          ],
          "type": "string"
        },
        "fixed": {
          "description": "A fixed date range.",
          "$ref": "FixedDateRange"
        }
      },
      "type": "object",
      "id": "DateRange"
    },
    "StringList": {
      "description": "A list of string values.",
      "id": "StringList",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListCuratedPackagesResponse": {
      "id": "ListCuratedPackagesResponse",
      "description": "Response message for ListCuratedPackages.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results."
        },
        "curatedPackages": {
          "items": {
            "$ref": "CuratedPackage"
          },
          "description": "The list of curated packages.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "VideoPlcmtTargeting": {
      "description": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field.",
      "type": "object",
      "id": "VideoPlcmtTargeting",
      "properties": {
        "selectionType": {
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "description": "Required. The selection type for the list of video plcmts.",
          "type": "string"
        },
        "videoPlcmtTypes": {
          "description": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "VIDEO_PLCMT_TYPE_UNSPECIFIED",
              "INSTREAM",
              "ACCOMPANYING_CONTENT",
              "INTERSTITIAL",
              "NO_CONTENT"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during or after the streaming video content that the consumer has requested. Instream video must be set to “sound on” by default at player start, or have explicitly clear user intent to watch the video content. While there may be other content surrounding the player, the video content must be the focus of the user’s visit. It should remain the primary content on the page and the only video player in-view capable of audio when playing. If the player converts to floating/sticky, subsequent ad calls should accurately convey the updated player size.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during, or after streaming video content. The video player loads and plays before, between, or after paragraphs of text or graphical content, and starts playing only when it enters the viewport. Accompanying content should only start playback upon entering the viewport. It may convert to a floating/sticky player as it scrolls off the page.",
              "Video ads that are played without video content. During playback, it must be the primary focus of the page and take up the majority of the viewport and cannot be scrolled out of view. This can be in placements like in-app video or slideshows.",
              "Video ads that are played without streaming video content. This can be in placements like slideshows, native feeds, in-content or sticky/floating."
            ]
          }
        }
      }
    },
    "IntList": {
      "properties": {
        "values": {
          "description": "The values",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "IntList",
      "description": "A list of integer values."
    },
    "MetricValueGroup": {
      "type": "object",
      "description": "Contains all metric values requested for a single date range and set of column dimension values (returned in the columns field of the response). The order of the metrics in each field corresponds to the order of the metrics specified in the request.",
      "id": "MetricValueGroup",
      "properties": {
        "primaryValues": {
          "description": "Data for the PRIMARY MetricValueType.",
          "items": {
            "$ref": "ReportValue"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "MediaPlanner": {
      "id": "MediaPlanner",
      "description": "Represents a media planner account.",
      "properties": {
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}`. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "deprecated": true,
          "description": "Output only. Account ID of the media planner.",
          "readOnly": true
        },
        "ancestorNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}`. Can be used to filter the response of the mediaPlanners.list method."
        }
      },
      "type": "object"
    },
    "DeactivateCuratedPackageRequest": {
      "description": "Request message for DeactivateCuratedPackage.",
      "type": "object",
      "id": "DeactivateCuratedPackageRequest",
      "properties": {}
    },
    "CriteriaTargeting": {
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "id": "CriteriaTargeting",
      "type": "object",
      "properties": {
        "targetedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be included.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "excludedCriteriaIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "A list of numeric IDs to be excluded.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListMediaPlannersResponse": {
      "type": "object",
      "description": "A response containing media planner account information.",
      "properties": {
        "mediaPlanners": {
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          },
          "description": "List of media planners."
        },
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the ListMediaPlanners method to retrieve the next page of results in ListMediaPlannersRequest.page_token.",
          "type": "string"
        }
      },
      "id": "ListMediaPlannersResponse"
    },
    "DoubleList": {
      "properties": {
        "values": {
          "type": "array",
          "description": "The values",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "id": "DoubleList",
      "description": "A list of double values.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ActivateDataSegmentRequest": {
      "description": "Request message for activating a data segment",
      "type": "object",
      "properties": {},
      "id": "ActivateDataSegmentRequest"
    },
    "ReportDefinition": {
      "description": "The definition of how a report should be run.",
      "properties": {
        "metrics": {
          "description": "Required. The list of metrics to report on. If empty, the report will have no metrics.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Active View measurability rate.",
              "Active View measurable.",
              "Active view viewability rate.",
              "Active View viewable imps.",
              "Auctions won.",
              "Bids.",
              "Bids in auction.",
              "Bid requests.",
              "Clicks.",
              "Curator fee. This will be redacted to 0.00 if the package's visibility is set to non-disclosed. Use the PACKAGE_FEE_VISIBILITY dimension to check if the package's fee is disclosed.",
              "Number of data segment requests sent in the Real-time curation.",
              "Impressions.",
              "Spend in reporting currency specified in the request. Defaults to USD."
            ],
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "ACTIVE_VIEW_MEASURABILITY_RATE",
              "ACTIVE_VIEW_MEASURABLE",
              "ACTIVE_VIEW_VIEWABILITY_RATE",
              "ACTIVE_VIEW_VIEWABLE",
              "AUCTIONS_WON",
              "BIDS",
              "BIDS_IN_AUCTION",
              "BID_REQUESTS",
              "CLICKS",
              "CURATION_PARTNER_FEE",
              "DATA_SEGMENT_REQUESTS",
              "IMPRESSIONS",
              "SPEND"
            ]
          }
        },
        "filters": {
          "description": "Optional. The filters for this report.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "Required. The primary date range of this report."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. If time_zone_source is PROVIDED, this is the time zone to use for this report. Leave empty for any other time zone source. Time zone in IANA format. For example, \"America/New_York\"."
        },
        "timeZoneSource": {
          "description": "Optional. Where to get the time zone for this report. Defaults to using the Pacific time zone (PT). If source is PROVIDED, the time_zone field in the report definition must also set a time zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified default value.",
            "Use the Pacific time zone(PT).",
            "Use UTC time zone.",
            "Use the time zone provided in the ReportDefinition.time_zone field. Reports may take longer to run since the dates are dynamically calculated at request time."
          ],
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "AD_EXCHANGE",
            "UTC",
            "PROVIDED"
          ]
        },
        "currencyCode": {
          "description": "Optional. The ISO 4217 currency code for this report. Defaults to account currency code if not specified.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "description": "Required. The list of dimensions to report on. If empty, the report will have no dimensions, and any metrics will be totals.",
          "items": {
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "ADVERTISER_DOMAIN",
              "COUNTRY",
              "CURATION_DATA_SEGMENT_ID",
              "CURATION_DATA_SEGMENT_RESPONSE_STATUS",
              "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME",
              "CURATOR_FEE_TYPE",
              "DATE",
              "DEAL_ID",
              "DEAL_NAME",
              "DETECTED_ADVERTISER_NAME",
              "DSP_NAME",
              "DSP_SEAT_ID",
              "ENVIRONMENT",
              "ENVIRONMENT_NAME",
              "HOLDING_COMPANY_NAME",
              "HOUR",
              "MOBILE_APP_ID",
              "MOBILE_APP_NAME",
              "MOBILE_OS",
              "MONTH",
              "PACKAGE_FEE_VISIBILITY",
              "PLATFORM",
              "PUBLISHER_DOMAIN",
              "PUBLISHER_ID",
              "PUBLISHER_NAME",
              "WEEK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The domain of the advertiser.",
              "Display name of a country.",
              "The ID of the data segment created by a curator.",
              "The response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
              "The localized display name of the response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
              "The type of curation service (e.g. packaging or data segment).",
              "Date.",
              "Deal ID.",
              "Deal name.",
              "Display name of the detected advertiser.",
              "Display name of the DSP.",
              "DSP Seat ID.",
              "The user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
              "The localized display name of the user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
              "Display name of the holding company.",
              "Hour.",
              "Mobile App ID.",
              "Mobile App Name.",
              "Mobile operating system.",
              "Month.",
              "The visibility of the package fee (e.g. disclosed or non-disclosed).",
              "Platform, e.g. \"desktop\" vs. \"mobile\".",
              "Publisher domain.",
              "Publisher identifier.",
              "Publisher name.",
              "Week."
            ]
          }
        },
        "sorts": {
          "type": "array",
          "items": {
            "$ref": "Sort"
          },
          "description": "Optional. Default sorts to apply to this report."
        }
      },
      "id": "ReportDefinition",
      "type": "object"
    },
    "RunReportRequest": {
      "id": "RunReportRequest",
      "properties": {},
      "description": "Request message for a running a report.",
      "type": "object"
    },
    "PackageVideoTargeting": {
      "properties": {
        "includedContentDeliveryMethod": {
          "type": "string",
          "description": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method.",
          "enum": [
            "CONTENT_DELIVERY_METHOD_UNSPECIFIED",
            "CONTENT_DELIVERY_METHOD_STREAMING",
            "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets video content that is being broadcast live.",
            "Targets video content that is transferred incrementally as client's playback requires."
          ]
        },
        "includedPlayerSizeTargeting": {
          "description": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size.",
          "$ref": "VideoPlayerSizeTargeting"
        },
        "includedMaximumAdDurationTargeting": {
          "description": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration.",
          "enum": [
            "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED",
            "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Applies to video ads with a duration up to 15 seconds (0 < duration <= 15s).",
            "Applies to video ads with a duration up to 20 seconds (0 < duration <= 20s).",
            "Applies to video ads with a duration up to 30 seconds (0 < duration <= 30s).",
            "Applies to video ads with a duration up to 60 seconds (0 < duration <= 60s).",
            "Applies to video ads with a duration up to 90 seconds (0 < duration <= 90s).",
            "Applies to video ads with a duration up to 120 seconds (0 < duration <= 120s)."
          ],
          "type": "string"
        },
        "includedPlaybackMethods": {
          "description": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method.",
          "items": {
            "type": "string",
            "enum": [
              "PLAYBACK_METHOD_UNSPECIFIED",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF",
              "PLAYBACK_METHOD_CLICK_TO_PLAY"
            ],
            "enumDescriptions": [
              "Unspecified video playback method. Should not be used.",
              "Playback starts automatically when the page/content loads.",
              "Playback starts automatically when the page/content loads, but with sound off.",
              "Playback is initiated by a user action (e.g., clicking a play button)."
            ]
          },
          "type": "array"
        },
        "plcmtTargeting": {
          "$ref": "VideoPlcmtTargeting",
          "description": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type."
        },
        "includedPositionTypes": {
          "description": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type.",
          "type": "array",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "POSITION_TYPE_MIDROLL",
              "POSITION_TYPE_POSTROLL",
              "POSITION_TYPE_PREROLL"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "The ad is played in the middle of the video content.",
              "The ad is played after the video content.",
              "The ad is played before the video content."
            ],
            "type": "string"
          }
        },
        "minimumPredictedCompletionRatePercentage": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate."
        },
        "includedMimeTypes": {
          "type": "array",
          "description": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type.",
          "items": {
            "enum": [
              "VIDEO_MIME_TYPE_UNSPECIFIED",
              "VIDEO_MIME_TYPE_THREEGPP",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGURL",
              "VIDEO_MIME_TYPE_MP4",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH",
              "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT",
              "VIDEO_MIME_TYPE_WEBM"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "3GPP container format used on 3G phones.",
              "HLS/M3U8",
              "MPEG-4 container typically with H.264 codec.",
              "DASH.",
              "JavaScript (used for VPAID ads).",
              "WebM container assuming VP9 codec."
            ],
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PackageVideoTargeting",
      "description": "Video specific targeting criteria."
    },
    "VideoPlayerSizeTargeting": {
      "properties": {
        "minimumWidth": {
          "format": "int64",
          "type": "string",
          "description": "Required. The minimum width of the video player in pixels."
        },
        "minimumHeight": {
          "type": "string",
          "format": "int64",
          "description": "Required. The minimum height of the video player in pixels."
        }
      },
      "description": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values.",
      "type": "object",
      "id": "VideoPlayerSizeTargeting"
    },
    "ReportValue": {
      "description": "Represents a single value in a report.",
      "type": "object",
      "id": "ReportValue",
      "properties": {
        "doubleListValue": {
          "$ref": "DoubleList",
          "description": "For lists of double values."
        },
        "intListValue": {
          "$ref": "IntList",
          "description": "For lists of integer values."
        },
        "doubleValue": {
          "description": "For double values.",
          "format": "double",
          "type": "number"
        },
        "stringListValue": {
          "description": "For lists of string values.",
          "$ref": "StringList"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "For integer values."
        },
        "bytesValue": {
          "description": "For bytes values.",
          "format": "byte",
          "type": "string"
        },
        "stringValue": {
          "description": "For string values.",
          "type": "string"
        },
        "boolValue": {
          "description": "For boolean values.",
          "type": "boolean"
        }
      }
    },
    "TaxonomyTargeting": {
      "properties": {
        "excludedTaxonomyIds": {
          "description": "Optional. The list of excluded content taxonomy IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetedTaxonomyIds": {
          "description": "Optional. The list of targeted content taxonomy IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TaxonomyTargeting",
      "description": "Defines targeting criteria for handling the IAB audience and content Taxonomy ID space.",
      "type": "object"
    },
    "CuratedPackage": {
      "description": "Represents a curated package of inventory created and managed by a Curator.",
      "id": "CuratedPackage",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string"
        },
        "accessSettings": {
          "description": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource.",
          "$ref": "AccessControlSettings"
        },
        "targeting": {
          "description": "Optional. Targeting criteria for the curated package.",
          "$ref": "PackageTargeting"
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "description": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method."
        },
        "name": {
          "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The curated package is active.",
            "The curated package is inactive."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "feeCpm": {
          "$ref": "Money",
          "description": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method."
        },
        "curationFeeVisibility": {
          "enumDescriptions": [
            "The total curation fee visibility is unspecified.",
            "The total curation fee is visible to all buyers. This is the default value if not set.",
            "The total curation fee is not visible to all buyers."
          ],
          "enum": [
            "CURATION_FEE_VISIBILITY_UNSPECIFIED",
            "DISCLOSED",
            "NON_DISCLOSED"
          ],
          "type": "string",
          "description": "Optional. Immutable. The visibility of the combined curation package fee and data segment fees (the total curation fee)."
        },
        "millipercentOfMediaFee": {
          "format": "int64",
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the curated package, provided by the curator."
        }
      }
    },
    "FixedDateRange": {
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Required. The start date of this date range."
        },
        "endDate": {
          "description": "Required. The end date (inclusive) of this date range.",
          "$ref": "Date"
        }
      },
      "id": "FixedDateRange",
      "type": "object",
      "description": "A date range between two fixed dates (inclusive of end date)."
    },
    "PackageTargeting": {
      "properties": {
        "languageTargeting": {
          "description": "Optional. The languages to target. If unset, inventory will be targeted regardless of language. See https://developers.google.com/google-ads/api/data/codes-formats#languages for the list of supported language codes.",
          "$ref": "StringTargetingDimension"
        },
        "minimumPredictedViewabilityPercentage": {
          "description": "Optional. The targeted minimum predicted viewability percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% viewability. An unset value indicates inventory will be targeted regardless of predicted viewability.",
          "type": "string",
          "format": "int64"
        },
        "includedDataSegments": {
          "type": "array",
          "description": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`",
          "items": {
            "type": "string"
          }
        },
        "includedDeviceTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets desktop or laptop computers.",
              "Targets connected TVs: devices that stream TV content, including smart TVs, gaming consoles, and streaming boxes/sticks.",
              "Targets high-end mobile devices.",
              "Targets tablet devices."
            ],
            "enum": [
              "DEVICE_TYPE_UNSPECIFIED",
              "DEVICE_TYPE_PERSONAL_COMPUTER",
              "DEVICE_TYPE_CONNECTED_TV",
              "DEVICE_TYPE_PHONE",
              "DEVICE_TYPE_TABLET"
            ]
          },
          "description": "Optional. The list of included device types to target. If empty, all device types are targeted."
        },
        "includedRestrictedCategories": {
          "description": "Optional. The list of targeted restricted categories. If empty, inventory will be targeted regardless of restricted categories.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "RESTRICTED_CATEGORY_ALCOHOL",
              "RESTRICTED_CATEGORY_GAMBLING"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where alcohol ads are allowed by the publisher.",
              "Targets inventory where gambling ads are allowed by the publisher."
            ]
          }
        },
        "publisherTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The targeted publishers. If unset, inventory will be targeted regardless of publisher. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details."
        },
        "includedNativeInventoryTypes": {
          "description": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type.",
          "items": {
            "enum": [
              "NATIVE_INVENTORY_TYPE_UNSPECIFIED",
              "NATIVE_INVENTORY_TYPE_NATIVE_ONLY",
              "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets ad slots that *only* accept and render native ads.",
              "Targets ad slots that accept and render either native or banner ads."
            ]
          },
          "type": "array"
        },
        "publisherProvidedSignalsTargeting": {
          "description": "Optional. The publisher provided signals to target. If unset, inventory will be targeted regardless of publisher provided signals.",
          "$ref": "PackagePublisherProvidedSignalsTargeting"
        },
        "verticalTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Optional. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals. If unset, inventory will be targeted regardless of vertical."
        },
        "includedAcceleratedMobilePageType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory on standard web pages not using any AMP framework.",
            "Targets inventory on pages built using the core AMP HTML framework.",
            "Targets inventory on pages using the AMP Story (STAMP) format, which is optimized for visual storytelling (e.g., tappable full-screen experiences)."
          ],
          "description": "Optional. The targeted accelerated mobile page type. If unset, inventory will be targeted regardless of AMP status.",
          "enum": [
            "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED",
            "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY"
          ]
        },
        "includedRewardedType": {
          "type": "string",
          "description": "Optional. The targeted rewarded type. If unset, inventory will be targeted regardless of rewarded type.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory that does NOT offer an explicit reward to the user for watching or interacting with the ad.",
            "Targets inventory that offers a reward to the user in exchange for watching or engaging with the ad."
          ],
          "enum": [
            "REWARDED_TYPE_UNSPECIFIED",
            "REWARDED_TYPE_NON_REWARDED",
            "REWARDED_TYPE_REWARDED"
          ]
        },
        "placementTargeting": {
          "description": "Optional. Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PackagePlacementTargeting"
        },
        "includedAuthorizedSellerStatuses": {
          "items": {
            "enum": [
              "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
              "AUTHORIZED_SELLER_STATUS_DIRECT",
              "AUTHORIZED_SELLER_STATUS_RESELLER"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where the seller is declared as 'DIRECT'. This indicates the publisher (content owner) directly controls the seller account and has a direct business contract with the advertising system for this account.",
              "Targets inventory where the seller is declared as 'RESELLER'. This indicates the publisher has authorized another entity to operate the listed seller account and resell their ad space."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The included list of targeted authorized seller statuses. If empty, inventory will be targeted regardless of seller status."
        },
        "includedAdSizes": {
          "type": "array",
          "description": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes.",
          "items": {
            "$ref": "AdSize"
          }
        },
        "minimumPredictedClickThroughRatePercentageMillis": {
          "type": "string",
          "description": "Optional. The targeted minimum predicted click through rate, ranging in values [10, 10000] (0.01% - 10%). A value of 50 means that the configuration will only match adslots for which we predict at least 0.05% click through rate. An unset value indicates inventory will be targeted regardless of predicted click through rate.",
          "format": "int64"
        },
        "includedCreativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "CREATIVE_FORMAT_DISPLAY",
            "CREATIVE_FORMAT_VIDEO",
            "CREATIVE_FORMAT_AUDIO"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets ad slots intended for HTML display creatives.",
            "Targets ad slots intended for video creatives.",
            "Targets ad slots intended for audio creatives."
          ],
          "description": "Optional. The creative format to target. If unset, all creative markup types are targeted.",
          "type": "string"
        },
        "includedOpenMeasurementTypes": {
          "items": {
            "enum": [
              "OPEN_MEASUREMENT_TYPE_UNSPECIFIED",
              "OPEN_MEASUREMENT_TYPE_OMID_V1"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory that supports the v1 Open Measurement Interface Definition (OMID)."
            ]
          },
          "type": "array",
          "description": "Optional. The list of targeted open measurement types. If empty, inventory will be targeted regardless of Open Measurement support."
        },
        "includedEnvironment": {
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_SITE",
            "ENVIRONMENT_APP"
          ],
          "description": "Optional. The environment to target. If unspecified, all environments are targeted.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory rendered within an ad-supported website.",
            "Targets inventory within a mobile application."
          ]
        },
        "videoTargeting": {
          "description": "Optional. Video specific targeting criteria.",
          "$ref": "PackageVideoTargeting"
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo."
        }
      },
      "id": "PackageTargeting",
      "description": "Targeting criteria for curated and auction packages.",
      "type": "object"
    },
    "PackagePlacementTargeting": {
      "type": "object",
      "properties": {
        "uriTargeting": {
          "description": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url.",
          "$ref": "StringTargetingDimension"
        },
        "includedMobileAppCategoryTargeting": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of targeted mobile app categories."
        },
        "mobileAppTargeting": {
          "description": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
          "$ref": "StringTargetingDimension"
        }
      },
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "id": "PackagePlacementTargeting"
    },
    "StringTargetingDimension": {
      "id": "StringTargetingDimension",
      "description": "Generic targeting with string values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The values specified."
        },
        "selectionType": {
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "description": "Required. How the items in this list should be targeted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunReportMetadata": {
      "properties": {
        "report": {
          "description": "The result's parent report.",
          "type": "string"
        },
        "percentComplete": {
          "format": "int32",
          "description": "An estimate of how close this report is to being completed. Will always be 100 for failed and completed reports.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "RunReportMetadata",
      "description": "`RunReport` operation metadata."
    }
  },
  "description": "Curation partners API is an externally available HTTP API for curators to programmatically manage their data segments and curated packages used by ad agencies.",
  "title": "Curation Partners API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "curators": {
      "resources": {
        "dataSegments": {
          "methods": {
            "patch": {
              "description": "Updates a data segment.",
              "id": "curationpartners.curators.dataSegments.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "request": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. Format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "httpMethod": "PATCH"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "id": "curationpartners.curators.dataSegments.create",
              "request": {
                "$ref": "DataSegment"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/dataSegments",
              "response": {
                "$ref": "DataSegment"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource where this data segment will be created. Format: `curators/{accountId}`"
                }
              },
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "flatPath": "v1/curators/{curatorsId}/dataSegments"
            },
            "deactivate": {
              "description": "Deactivates a data segment.",
              "path": "v1/{+name}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to deactivate. Format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "type": "string",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "curationpartners.curators.dataSegments.deactivate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}:deactivate"
            },
            "list": {
              "path": "v1/{+parent}/dataSegments",
              "description": "List the data segments owned by a curator.",
              "id": "curationpartners.curators.dataSegments.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^curators/[^/]+$",
                  "description": "Required. Name of the parent curator that can access the data segment. Format: `curators/{accountId}`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "response": {
                "$ref": "ListDataSegmentsResponse"
              },
              "flatPath": "v1/curators/{curatorsId}/dataSegments"
            },
            "activate": {
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}:activate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of data segment to activate. Format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "DataSegment"
              },
              "path": "v1/{+name}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "id": "curationpartners.curators.dataSegments.activate",
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              },
              "description": "Activates a data segment.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "Gets a data segment given its name.",
              "response": {
                "$ref": "DataSegment"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of data segment to get. Format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$"
                }
              },
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}",
              "id": "curationpartners.curators.dataSegments.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            }
          }
        },
        "reports": {
          "resources": {
            "results": {
              "methods": {
                "fetchRows": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "curationpartners.curators.reports.results.fetchRows",
                  "scopes": [
                    "https://www.googleapis.com/auth/curation-partners"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}:fetchRows",
                  "response": {
                    "$ref": "FetchReportResultRowsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FetchReportResultRows` call. Provide this to retrieve the second and subsequent batches of rows.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^curators/[^/]+/reports/[^/]+/results/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The report result being fetched. Format: `curators/{account_id}/reports/{report_id}/results/{report_result_id}`",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 1,000 rows will be returned. The maximum value is 10,000; values greater than 10,000 will be reduced to 10,000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "description": "Returns the result rows from a completed report. The caller must have previously called `RunReport` and waited for that operation to complete. The rows will be returned according to the order specified by the `sorts` member of the report definition.",
                  "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}/results/{resultsId}:fetchRows"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^curators/[^/]+/reports/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "curationpartners.curators.reports.operations.get",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/curation-partners"
                  ],
                  "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "flatPath": "v1/curators/{curatorsId}/reports",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListReportsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "description": "Required. The parent, which owns this collection of reports. Format: `curators/{account_id}`",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Expression to filter the response. See syntax details at https://developers.google.com/ad-manager/api/beta/filters"
                },
                "skip": {
                  "type": "integer",
                  "description": "Optional. Number of individual resources to skip while paginating.",
                  "format": "int32",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of `Reports` to return. The service may return fewer than this value. If unspecified, at most 50 `Reports` will be returned. The maximum value is 1000; values greater than 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReports` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Expression to specify sorting order. See syntax details at https://developers.google.com/ad-manager/api/beta/filters#order"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/reports",
              "id": "curationpartners.curators.reports.list",
              "description": "Lists `Report` objects."
            },
            "run": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "location": "path",
                  "description": "Required. The report to run. Format: `curators/{account_id}/reports/{report_id}`",
                  "type": "string"
                }
              },
              "description": "Initiates the execution of an existing report asynchronously. Users can get the report by polling this operation using `OperationsService.GetOperation`. Poll every 5 seconds initially, with an exponential backoff. Once a report is complete, the operation will contain a `RunReportResponse` in its response field containing a report_result that can be passed to the `FetchReportResultRows` method to retrieve the report data.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}:run",
              "request": {
                "$ref": "RunReportRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "id": "curationpartners.curators.reports.run",
              "path": "v1/{+name}:run"
            },
            "create": {
              "response": {
                "$ref": "Report"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource where this `Report` will be created. Format: `curators/{account_id}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^curators/[^/]+$"
                }
              },
              "path": "v1/{+parent}/reports",
              "flatPath": "v1/curators/{curatorsId}/reports",
              "request": {
                "$ref": "Report"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a `Report` object.",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "id": "curationpartners.curators.reports.create"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "curationpartners.curators.reports.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}",
              "description": "Deletes a `Report` object.",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the report to delete. Format: `curators/{account_id}/reports/{report_id}`",
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "description": "Retrieves a `Report` object.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Report"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the report. Format: `curators/{account_id}/reports/{report_id}`",
                  "type": "string",
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}",
              "id": "curationpartners.curators.reports.get",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a `Report` object.",
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name of the report. Report resource name have the form: `curators/{account_id}/reports/{report_id}`",
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Report"
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Report"
              },
              "id": "curationpartners.curators.reports.patch"
            }
          }
        },
        "curatedPackages": {
          "methods": {
            "deactivate": {
              "flatPath": "v1/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "path": "v1/{+name}:deactivate",
              "description": "Deactivates an existing curated package.",
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "id": "curationpartners.curators.curatedPackages.deactivate",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "CuratedPackage"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$"
                }
              },
              "flatPath": "v1/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "description": "Gets a curated package given its resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "curationpartners.curators.curatedPackages.get",
              "path": "v1/{+name}"
            },
            "list": {
              "id": "curationpartners.curators.curatedPackages.list",
              "flatPath": "v1/curators/{curatorsId}/curatedPackages",
              "path": "v1/{+parent}/curatedPackages",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page."
                },
                "parent": {
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`",
                  "pattern": "^curators/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
[...]
