{
  "servicePath": "",
  "discoveryVersion": "v1",
  "id": "dataproc:v1",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "ownerName": "Google",
  "revision": "20260818",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        }
      }
    }
  },
  "basePath": "",
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    }
  ],
  "version": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "SoftwareConfig": {
      "type": "object",
      "description": "Specifies the selection and config of software inside the cluster.",
      "id": "SoftwareConfig",
      "properties": {
        "imageVersion": {
          "type": "string",
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Image Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported-dataproc-image-versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version."
        },
        "optionalComponents": {
          "type": "array",
          "description": "Optional. The set of components to activate on the cluster.",
          "items": {
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DELTA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "HUDI",
              "ICEBERG",
              "JUPYTER",
              "PIG",
              "PRESTO",
              "TRINO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER",
              "JUPYTER_KERNEL_GATEWAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda component is no longer supported or applicable to supported Dataproc on Compute Engine image versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-version-clusters#supported-dataproc-image-versions). It cannot be activated on clusters created with supported Dataproc on Compute Engine image versions.",
              "Delta Lake.",
              "Docker",
              "The Druid query engine. (alpha)",
              "Flink",
              "HBase. (beta)",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "Hudi.",
              "Iceberg.",
              "The Jupyter Notebook.",
              "The Pig component.",
              "The Presto query engine.",
              "The Trino query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service.",
              "The Jupyter Kernel Gateway."
            ]
          }
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties)."
        }
      }
    },
    "HiveJob": {
      "id": "HiveJob",
      "properties": {
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";)."
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "type": "object"
    },
    "AccessSparkApplicationResponse": {
      "type": "object",
      "description": "A summary of Spark Application",
      "id": "AccessSparkApplicationResponse",
      "properties": {
        "application": {
          "description": "Output only. High level information corresponding to an application.",
          "$ref": "ApplicationInfo",
          "readOnly": true
        }
      }
    },
    "QueryList": {
      "id": "QueryList",
      "properties": {
        "queries": {
          "type": "array",
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A list of queries to run on a cluster.",
      "type": "object"
    },
    "ResourceInformation": {
      "id": "ResourceInformation",
      "properties": {
        "name": {
          "type": "string"
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Batch": {
      "id": "Batch",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the batch.",
          "type": "string"
        },
        "sparkSqlBatch": {
          "description": "Optional. SparkSql batch config.",
          "$ref": "SparkSqlBatch"
        },
        "operation": {
          "description": "Output only. The resource name of the operation associated with this batch.",
          "type": "string",
          "readOnly": true
        },
        "uuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A batch UUID (Unique Universal Identifier). The service generates this value when it creates the batch."
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The email address of the user who created the batch.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the batch was created."
        },
        "stateHistory": {
          "description": "Output only. Historical state information for the batch.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "StateHistory"
          }
        },
        "stateMessage": {
          "description": "Output only. Batch state details, such as a failure description if the state is FAILED.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ],
          "description": "Output only. The state of the batch."
        },
        "sparkRBatch": {
          "description": "Optional. SparkR batch config.",
          "$ref": "SparkRBatch"
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the batch entered a current state.",
          "type": "string"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime configuration for the batch execution."
        },
        "pysparkNotebookBatch": {
          "description": "Optional. PySpark notebook batch config.",
          "$ref": "PySparkNotebookBatch"
        },
        "labels": {
          "description": "Optional. The labels to associate with this batch. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a batch.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for the batch execution.",
          "$ref": "EnvironmentConfig"
        },
        "pysparkBatch": {
          "description": "Optional. PySpark batch config.",
          "$ref": "PySparkBatch"
        },
        "runtimeInfo": {
          "description": "Output only. Runtime information about batch execution.",
          "$ref": "RuntimeInfo",
          "readOnly": true
        },
        "sparkBatch": {
          "description": "Optional. Spark batch config.",
          "$ref": "SparkBatch"
        }
      },
      "description": "A representation of a batch workload in the service.",
      "type": "object"
    },
    "SearchSessionSparkApplicationSqlQueriesResponse": {
      "id": "SearchSessionSparkApplicationSqlQueriesResponse",
      "properties": {
        "sparkApplicationSqlQueries": {
          "readOnly": true,
          "items": {
            "$ref": "SqlExecutionUiData"
          },
          "description": "Output only. SQL Execution Data",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationSqlQueriesRequest."
        }
      },
      "description": "List of all queries for a Spark Application.",
      "type": "object"
    },
    "ApplicationAttemptInfo": {
      "id": "ApplicationAttemptInfo",
      "properties": {
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime"
        },
        "durationMillis": {
          "type": "string",
          "format": "int64"
        },
        "attemptId": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "sparkUser": {
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "appSparkVersion": {
          "type": "string"
        },
        "completed": {
          "type": "boolean"
        }
      },
      "description": "Specific attempt of an application.",
      "type": "object"
    },
    "ValueInfo": {
      "id": "ValueInfo",
      "properties": {
        "overriddenValue": {
          "type": "string",
          "description": "Optional. Value which was replaced by the corresponding component."
        },
        "annotation": {
          "description": "Annotation, comment or explanation why the property was set.",
          "type": "string"
        },
        "value": {
          "description": "Property value.",
          "type": "string"
        }
      },
      "description": "Annotatated property value.",
      "type": "object"
    },
    "SearchSessionSparkApplicationsResponse": {
      "id": "SearchSessionSparkApplicationsResponse",
      "properties": {
        "sparkApplications": {
          "type": "array",
          "description": "Output only. High level information corresponding to an application.",
          "readOnly": true,
          "items": {
            "$ref": "SparkApplication"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationsRequest."
        }
      },
      "description": "A list of summary of Spark Applications",
      "type": "object"
    },
    "StreamBlockData": {
      "id": "StreamBlockData",
      "properties": {
        "deserialized": {
          "type": "boolean"
        },
        "memSize": {
          "type": "string",
          "format": "int64"
        },
        "storageLevel": {
          "type": "string"
        },
        "useDisk": {
          "type": "boolean"
        },
        "hostPort": {
          "type": "string"
        },
        "useMemory": {
          "type": "boolean"
        },
        "diskSize": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "executorId": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Stream Block Data."
    },
    "AccessSparkApplicationJobResponse": {
      "id": "AccessSparkApplicationJobResponse",
      "properties": {
        "jobData": {
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true,
          "$ref": "JobData"
        }
      },
      "type": "object",
      "description": "Details of a particular job associated with Spark Application"
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "properties": {
        "maxInstances": {
          "format": "int32",
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer"
        },
        "weight": {
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "type": "integer",
          "format": "int32"
        },
        "minInstances": {
          "format": "int32",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups."
    },
    "SpeculationStageSummary": {
      "description": "Details of the speculation task when speculative execution is enabled.",
      "type": "object",
      "id": "SpeculationStageSummary",
      "properties": {
        "numTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numActiveTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StageInputMetrics": {
      "id": "StageInputMetrics",
      "properties": {
        "bytesRead": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Metrics about the input read by the stage.",
      "type": "object"
    },
    "WorkflowTemplate": {
      "id": "WorkflowTemplate",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. The labels to associate with this template. These labels will be propagated to all jobs and clusters created by the workflow instance.Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).No more than 32 labels can be associated with a template.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time template was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time template was created."
        },
        "parameters": {
          "items": {
            "$ref": "TemplateParameter"
          },
          "description": "Optional. Template parameters whose values are substituted into the template. Values for parameters must be provided when the template is instantiated.",
          "type": "array"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for encrypting workflow template job arguments.",
          "$ref": "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Used to perform a consistent read-modify-write.This field should be left blank for a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request, and must match the current server version. A typical update template flow would fetch the current template with a GetWorkflowTemplate request, which will return the current template with the version field filled in with the current server version. The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate request."
        },
        "dagTimeout": {
          "type": "string",
          "description": "Optional. Timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). The timeout duration must be from 10 minutes (\"600s\") to 24 hours (\"86400s\"). The timer begins when the first job is submitted. If the workflow is running at the end of the timeout period, any remaining jobs are cancelled, the workflow is ended, and if the workflow was running on a managed cluster, the cluster is deleted.",
          "format": "google-duration"
        },
        "name": {
          "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string"
        },
        "placement": {
          "description": "Required. WorkflowTemplate scheduling information.",
          "$ref": "WorkflowTemplatePlacement"
        },
        "jobs": {
          "items": {
            "$ref": "OrderedJob"
          },
          "type": "array",
          "description": "Required. The Directed Acyclic Graph of Jobs to submit."
        }
      },
      "description": "A Dataproc workflow template resource.",
      "type": "object"
    },
    "ShuffleReadMetrics": {
      "description": "Shuffle data read by the task.",
      "type": "object",
      "id": "ShuffleReadMetrics",
      "properties": {
        "remoteBlocksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "shufflePushReadMetrics": {
          "$ref": "ShufflePushReadMetrics"
        },
        "remoteBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "remoteReqsDuration": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        },
        "remoteBytesReadToDisk": {
          "type": "string",
          "format": "int64"
        },
        "fetchWaitTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "localBlocksFetched": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "StartupConfig": {
      "type": "object",
      "description": "Configuration to handle the startup of instances during cluster create and update process.",
      "id": "StartupConfig",
      "properties": {
        "requiredRegistrationFraction": {
          "type": "number",
          "description": "Optional. The config setting to enable cluster creation/ updation to be successful only after required_registration_fraction of instances are up and running. This configuration is applicable to only secondary workers for now. The cluster will fail if required_registration_fraction of instances are not available. This will include instance creation, agent registration, and service registration (if enabled).",
          "format": "double"
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "properties": {
        "details": {
          "type": "string",
          "description": "Optional. Job state details, such as an error description if the state is ERROR."
        },
        "stateStartTime": {
          "description": "Output only. The time when this state was entered.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "description": "Output only. A state message specifying the overall job state."
        },
        "substate": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "type": "string",
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it might be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which can be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ]
        }
      },
      "type": "object",
      "description": "Dataproc job status."
    },
    "SqlExecutionUiData": {
      "id": "SqlExecutionUiData",
      "properties": {
        "description": {
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "modifiedConfigs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "stages": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "metricValues": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rootExecutionId": {
          "type": "string",
          "format": "int64"
        },
        "details": {
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "format": "int64"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "metricValuesIsNull": {
          "type": "boolean"
        },
        "physicalPlanDescription": {
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "SqlPlanMetric"
          },
          "type": "array"
        },
        "jobs": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "JOB_EXECUTION_STATUS_UNSPECIFIED",
              "JOB_EXECUTION_STATUS_RUNNING",
              "JOB_EXECUTION_STATUS_SUCCEEDED",
              "JOB_EXECUTION_STATUS_FAILED",
              "JOB_EXECUTION_STATUS_UNKNOWN"
            ]
          }
        }
      },
      "description": "SQL Execution Data",
      "type": "object"
    },
    "AccessSparkApplicationSqlQueryResponse": {
      "id": "AccessSparkApplicationSqlQueryResponse",
      "properties": {
        "executionData": {
          "description": "SQL Execution Data",
          "$ref": "SqlExecutionUiData"
        }
      },
      "type": "object",
      "description": "Details of a query for a Spark Application"
    },
    "ProcessSummary": {
      "type": "object",
      "description": "Process Summary",
      "id": "ProcessSummary",
      "properties": {
        "isActive": {
          "type": "boolean"
        },
        "processId": {
          "type": "string"
        },
        "totalCores": {
          "type": "integer",
          "format": "int32"
        },
        "hostPort": {
          "type": "string"
        },
        "removeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "processLogs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "addTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SummarizeSparkApplicationJobsResponse": {
      "id": "SummarizeSparkApplicationJobsResponse",
      "properties": {
        "jobsSummary": {
          "$ref": "JobsSummary",
          "description": "Summary of a Spark Application Jobs"
        }
      },
      "type": "object",
      "description": "Summary of a Spark Application jobs."
    },
    "ExecutorResourceRequest": {
      "type": "object",
      "description": "Resources used per executor used by the application.",
      "id": "ExecutorResourceRequest",
      "properties": {
        "amount": {
          "type": "string",
          "format": "int64"
        },
        "discoveryScript": {
          "type": "string"
        },
        "vendor": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        }
      }
    },
    "Quantiles": {
      "type": "object",
      "description": "Quantile metrics data related to Tasks. Units can be seconds, bytes, milliseconds, etc depending on the message type.",
      "id": "Quantiles",
      "properties": {
        "percentile75": {
          "type": "string",
          "format": "int64"
        },
        "sum": {
          "type": "string",
          "format": "int64"
        },
        "percentile25": {
          "type": "string",
          "format": "int64"
        },
        "percentile50": {
          "type": "string",
          "format": "int64"
        },
        "maximum": {
          "type": "string",
          "format": "int64"
        },
        "minimum": {
          "type": "string",
          "format": "int64"
        },
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ConfidentialInstanceConfig": {
      "id": "ConfidentialInstanceConfig",
      "properties": {
        "confidentialInstanceType": {
          "description": "Optional. Defines the type of Confidential Compute technology to use.",
          "type": "string",
          "enumDescriptions": [
            "Confidential Instance Type is not specified.",
            "AMD Secure Encrypted Virtualization (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#amd_sev)",
            "AMD Secure Encrypted Virtualization-Secure Nested Paging (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#amd_sev-snp)",
            "Intel Trust Domain Extensions (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#intel_tdx)"
          ],
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ]
        },
        "enableConfidentialCompute": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use 'confidential_instance_type' instead. Defines whether the instance should have confidential compute enabled.",
          "type": "boolean"
        }
      },
      "description": "Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/confidential-computing/confidential-vm/docs)",
      "type": "object"
    },
    "StreamingQueryData": {
      "type": "object",
      "description": "Streaming",
      "id": "StreamingQueryData",
      "properties": {
        "name": {
          "type": "string"
        },
        "runId": {
          "type": "string"
        },
        "exception": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "startTimestamp": {
          "type": "string",
          "format": "int64"
        },
        "streamingQueryId": {
          "type": "string"
        },
        "endTimestamp": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TaskQuantileMetrics": {
      "type": "object",
      "id": "TaskQuantileMetrics",
      "properties": {
        "diskBytesSpilled": {
          "$ref": "Quantiles"
        },
        "executorRunTimeMillis": {
          "$ref": "Quantiles"
        },
        "executorCpuTimeNanos": {
          "$ref": "Quantiles"
        },
        "resultSerializationTimeMillis": {
          "$ref": "Quantiles"
        },
        "gettingResultTimeMillis": {
          "$ref": "Quantiles"
        },
        "outputMetrics": {
          "$ref": "OutputQuantileMetrics"
        },
        "jvmGcTimeMillis": {
          "$ref": "Quantiles"
        },
        "peakExecutionMemoryBytes": {
          "$ref": "Quantiles"
        },
        "resultSize": {
          "$ref": "Quantiles"
        },
        "memoryBytesSpilled": {
          "$ref": "Quantiles"
        },
        "schedulerDelayMillis": {
          "$ref": "Quantiles"
        },
        "shuffleWriteMetrics": {
          "$ref": "ShuffleWriteQuantileMetrics"
        },
        "executorDeserializeTimeMillis": {
          "$ref": "Quantiles"
        },
        "shuffleReadMetrics": {
          "$ref": "ShuffleReadQuantileMetrics"
        },
        "inputMetrics": {
          "$ref": "InputQuantileMetrics"
        },
        "executorDeserializeCpuTimeNanos": {
          "$ref": "Quantiles"
        },
        "durationMillis": {
          "$ref": "Quantiles"
        }
      }
    },
    "MetastoreConfig": {
      "id": "MetastoreConfig",
      "properties": {
        "dataprocMetastoreService": {
          "description": "Required. Resource name of an existing Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]",
          "type": "string"
        }
      },
      "description": "Specifies a Metastore configuration.",
      "type": "object"
    },
    "StopClusterRequest": {
      "type": "object",
      "description": "A request to stop a cluster.",
      "id": "StopClusterRequest",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "SearchSparkApplicationNativeSqlQueriesResponse": {
      "id": "SearchSparkApplicationNativeSqlQueriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationNativeSqlQueriesRequest.",
          "type": "string"
        },
        "sparkApplicationNativeSqlQueries": {
          "readOnly": true,
          "items": {
            "$ref": "NativeSqlExecutionUiData"
          },
          "type": "array",
          "description": "Output only. Native SQL Execution Data"
        }
      },
      "type": "object",
      "description": "List of all Native SQL queries details for a Spark Application."
    },
    "EndpointConfig": {
      "id": "EndpointConfig",
      "properties": {
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        },
        "httpPorts": {
          "type": "object",
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Endpoint config for this cluster"
    },
    "AuthenticationConfig": {
      "description": "Authentication configuration for a workload is used to set the default identity for the workload execution. The config specifies the type of identity (service account or user) that will be used by workloads to access resources on the project(s).",
      "type": "object",
      "id": "AuthenticationConfig",
      "properties": {
        "userWorkloadAuthenticationType": {
          "description": "Optional. Authentication type for the user workload running in containers.",
          "type": "string",
          "enumDescriptions": [
            "If AuthenticationType is unspecified then END_USER_CREDENTIALS is used for 3.0 and newer runtimes, and SERVICE_ACCOUNT is used for older runtimes.",
            "Use service account credentials for authenticating to other services.",
            "Use OAuth credentials associated with the workload creator/user for authenticating to other services."
          ],
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SERVICE_ACCOUNT",
            "END_USER_CREDENTIALS"
          ]
        }
      }
    },
    "DiskConfig": {
      "type": "object",
      "description": "Specifies the config of boot disk and attached disk options for a group of VM instances.",
      "id": "DiskConfig",
      "properties": {
        "bootDiskSizeGb": {
          "description": "Optional. Size in GB of the boot disk (default is 500GB).",
          "type": "integer",
          "format": "int32"
        },
        "numLocalSsds": {
          "description": "Optional. Number of attached SSDs, from 0 to 8 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.Note: Local SSD options may vary by machine type and number of vCPUs selected.",
          "type": "integer",
          "format": "int32"
        },
        "bootDiskType": {
          "type": "string",
          "description": "Optional. Type of the boot disk (default is pd-standard). Valid values: pd-balanced (Persistent Disk Balanced Solid State Drive), pd-ssd (Persistent Disk Solid State Drive), or pd-standard (Persistent Disk Hard Disk Drive). See Disk types (https://cloud.google.com/compute/docs/disks#disk-types)."
        },
        "localSsdInterface": {
          "type": "string",
          "description": "Optional. Interface type of local SSDs (default is scsi). Valid values: scsi (Small Computer System Interface), nvme (Non-Volatile Memory Express). See local SSD performance (https://cloud.google.com/compute/docs/disks/local-ssd#performance)."
        },
        "bootDiskProvisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput mb per second that the disk can handle. Values must be greater than or equal to 1. This field is supported only if boot_disk_type is hyperdisk-balanced.",
          "type": "string",
          "format": "int64"
        },
        "bootDiskProvisionedIops": {
          "type": "string",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. This field is supported only if boot_disk_type is hyperdisk-balanced.",
          "format": "int64"
        },
        "attachedDiskConfigs": {
          "type": "array",
          "description": "Optional. A list of attached disk configs for a group of VM instances.",
          "items": {
            "$ref": "AttachedDiskConfig"
          }
        }
      }
    },
    "SearchSparkApplicationSqlQueriesResponse": {
      "id": "SearchSparkApplicationSqlQueriesResponse",
      "properties": {
        "sparkApplicationSqlQueries": {
          "readOnly": true,
          "items": {
            "$ref": "SqlExecutionUiData"
          },
          "type": "array",
          "description": "Output only. SQL Execution Data"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationSqlQueriesRequest."
        }
      },
      "type": "object",
      "description": "List of all queries for a Spark Application."
    },
    "MemoryMetrics": {
      "id": "MemoryMetrics",
      "properties": {
        "usedOffHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOffHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "usedOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "RddPartitionInfo": {
      "description": "Information about RDD partitions.",
      "type": "object",
      "id": "RddPartitionInfo",
      "properties": {
        "storageLevel": {
          "type": "string"
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "blockName": {
          "type": "string"
        },
        "executors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExecutorMetricsDistributions": {
      "id": "ExecutorMetricsDistributions",
      "properties": {
        "outputRecords": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "taskTimeMillis": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "inputBytes": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "shuffleWrite": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "outputBytes": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "shuffleRead": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "inputRecords": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "shuffleReadRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "quantiles": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "failedTasks": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "memoryBytesSpilled": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "shuffleWriteRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "peakMemoryMetrics": {
          "$ref": "ExecutorPeakMetricsDistributions"
        },
        "diskBytesSpilled": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "succeededTasks": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "killedTasks": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SparkPlanGraphEdge": {
      "id": "SparkPlanGraphEdge",
      "properties": {
        "toId": {
          "type": "string",
          "format": "int64"
        },
        "fromId": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Represents a directed edge in the spark plan tree from child to parent."
    },
    "BasicYarnAutoscalingConfig": {
      "id": "BasicYarnAutoscalingConfig",
      "properties": {
        "scaleDownFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "format": "google-duration",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string"
        },
        "scaleUpMinWorkerFraction": {
          "format": "double",
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        },
        "scaleDownMinWorkerFraction": {
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number"
        },
        "scaleUpFactor": {
          "type": "number",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "format": "double"
        }
      },
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object"
    },
    "NodeInitializationAction": {
      "id": "NodeInitializationAction",
      "properties": {
        "executableFile": {
          "type": "string",
          "description": "Required. Cloud Storage URI of executable file."
        },
        "executionTimeout": {
          "format": "google-duration",
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.",
          "type": "string"
        }
      },
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "type": "object"
    },
    "SessionTemplate": {
      "id": "SessionTemplate",
      "properties": {
        "sparkConnectSession": {
          "description": "Optional. Spark connect session config.",
          "$ref": "SparkConnectConfig"
        },
        "updateTime": {
          "description": "Output only. The time the template was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels to associate with sessions created using this template. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for session execution.",
          "$ref": "EnvironmentConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the template was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Brief description of the template."
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user who created the template."
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for session execution.",
          "$ref": "RuntimeConfig"
        },
        "uuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A session template UUID (Unique Universal Identifier). The service generates this value when it creates the session template."
        },
        "jupyterSession": {
          "$ref": "JupyterConfig",
          "description": "Optional. Jupyter session config."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the session template."
        }
      },
      "description": "A representation of a session template.",
      "type": "object"
    },
    "SparkConnectExecutionInfo": {
      "id": "SparkConnectExecutionInfo",
      "properties": {
        "jobTag": {
          "type": "string",
          "description": "Required. Job tag of the execution."
        },
        "finishTimestamp": {
          "format": "int64",
          "description": "Timestamp when the execution finished.",
          "type": "string"
        },
        "sqlExecIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of sql execution ids associated with the execution.",
          "type": "array"
        },
        "userId": {
          "description": "User ID of the user who started the execution.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_STARTED",
            "EXECUTION_STATE_COMPILED",
            "EXECUTION_STATE_READY",
            "EXECUTION_STATE_CANCELED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_FINISHED",
            "EXECUTION_STATE_CLOSED"
          ],
          "description": "Output only. Current state of the execution.",
          "type": "string",
          "enumDescriptions": [
            "Execution state is unknown.",
            "Execution state is started.",
            "Execution state is compiled.",
            "Execution state is ready.",
            "Execution state is canceled.",
            "Execution state is failed.",
            "Execution state is finished.",
            "Execution state is closed."
          ]
        },
        "sparkSessionTags": {
          "type": "array",
          "description": "Optional. Tags associated with the Spark session.",
          "items": {
            "type": "string"
          }
        },
        "jobIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of job ids associated with the execution."
        },
        "statement": {
          "description": "statement of the execution.",
          "type": "string"
        },
        "startTimestamp": {
          "type": "string",
          "description": "Timestamp when the execution started.",
          "format": "int64"
        },
        "detail": {
          "type": "string",
          "description": "Detailed information about the execution."
        },
        "operationId": {
          "description": "Unique identifier for the operation.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Session ID, ties the execution to a specific Spark Connect session."
        },
        "closeTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp when the execution was closed."
        }
      },
      "description": "Represents the lifecycle and details of an Execution via Spark Connect",
      "type": "object"
    },
    "AnalyzeBatchRequest": {
      "id": "AnalyzeBatchRequest",
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two AnalyzeBatchRequest (http://cloud/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.AnalyzeBatchRequest)s with the same request_id, the second request is ignored and the Operation that corresponds to the first request created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "requestorId": {
          "deprecated": true,
          "description": "Optional. The requestor ID is used to identify if the request comes from a GCA investigation or the old Ask Gemini Experience. ",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to analyze a batch workload."
    },
    "AccessSessionSparkApplicationResponse": {
      "type": "object",
      "description": "A summary of Spark Application",
      "id": "AccessSessionSparkApplicationResponse",
      "properties": {
        "application": {
          "description": "Output only. High level information corresponding to an application.",
          "readOnly": true,
          "$ref": "ApplicationInfo"
        }
      }
    },
    "KubernetesClusterConfig": {
      "id": "KubernetesClusterConfig",
      "properties": {
        "kubernetesNamespace": {
          "description": "Optional. A namespace within the Kubernetes cluster to deploy into. If this namespace does not exist, it is created. If it exists, Dataproc verifies that another Dataproc VirtualCluster is not installed into it. If not specified, the name of the Dataproc Cluster is used.",
          "type": "string"
        },
        "gkeClusterConfig": {
          "$ref": "GkeClusterConfig",
          "description": "Required. The configuration for running the Dataproc cluster on GKE."
        },
        "kubernetesSoftwareConfig": {
          "description": "Optional. The software configuration for this Dataproc cluster running on Kubernetes.",
          "$ref": "KubernetesSoftwareConfig"
        }
      },
      "type": "object",
      "description": "The configuration for running the Dataproc cluster on Kubernetes."
    },
    "SearchSessionSparkApplicationStageAttemptsResponse": {
      "id": "SearchSessionSparkApplicationStageAttemptsResponse",
      "properties": {
        "sparkApplicationStageAttempts": {
          "description": "Output only. Data corresponding to a stage attempts",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "StageData"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStageAttemptsRequest."
        }
      },
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "type": "object"
    },
    "ManagedGroupConfig": {
      "type": "object",
      "description": "Specifies the resources used to actively manage an instance group.",
      "id": "ManagedGroupConfig",
      "properties": {
        "instanceTemplateName": {
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "type": "string",
          "readOnly": true
        },
        "instanceGroupManagerName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Instance Group Manager for this group."
        },
        "instanceGroupManagerUri": {
          "description": "Output only. The partial URI to the instance group manager for this group. E.g. projects/my-project/regions/us-central1/instanceGroupManagers/my-igm.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RepositoryConfig": {
      "description": "Configuration for dependency repositories",
      "type": "object",
      "id": "RepositoryConfig",
      "properties": {
        "pypiRepositoryConfig": {
          "description": "Optional. Configuration for PyPi repository.",
          "$ref": "PyPiRepositoryConfig"
        }
      }
    },
    "RepairClusterRequest": {
      "type": "object",
      "description": "A request to repair a cluster.",
      "id": "RepairClusterRequest",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairClusterRequests with the same ID, the second request is ignored, and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "nodePools": {
          "description": "Optional. Node pools and corresponding repair action to be taken. All node pools should be unique in this request. i.e. Multiple entries for the same node pool id are not allowed.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "parentOperationId": {
          "type": "string",
          "description": "Optional. operation id of the parent operation sending the repair request"
        },
        "gracefulDecommissionTimeout": {
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning facilitates the removal of cluster nodes without interrupting jobs in progress. The timeout specifies the amount of time to wait for jobs finish before forcefully removing nodes. The default timeout is 0 for forceful decommissioning, and the maximum timeout period is 1 day. (see JSON Mapping—Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).graceful_decommission_timeout is supported in image versions 1.2+.",
          "type": "string",
          "format": "google-duration"
        },
        "dataprocSuperUser": {
          "description": "Optional. Whether the request is submitted by a super user. If true, IAM will check 'dataproc.clusters.repair' permission instead of 'dataproc.clusters.update' permission. This is to give Dataproc superuser the ability to repair clusters without granting the overly broad update permission.",
          "type": "boolean"
        },
        "cluster": {
          "$ref": "ClusterToRepair",
          "description": "Optional. Cluster to be repaired"
        }
      }
    },
    "Session": {
      "type": "object",
      "description": "A representation of a session.",
      "id": "Session",
      "properties": {
        "runtimeInfo": {
          "readOnly": true,
          "$ref": "RuntimeInfo",
          "description": "Output only. Runtime information about session execution."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with the session. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session."
        },
        "environmentConfig": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Environment configuration for the session execution."
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the session entered the current state.",
          "type": "string"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime configuration for the session execution."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ],
          "description": "Output only. A state of the session."
        },
        "sparkConnectSession": {
          "description": "Optional. Spark connect session config.",
          "$ref": "SparkConnectConfig"
        },
        "user": {
          "type": "string",
          "description": "Optional. The email address of the user who owns the session."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the session was created."
        },
        "stateHistory": {
          "readOnly": true,
          "items": {
            "$ref": "SessionStateHistory"
          },
          "type": "array",
          "description": "Output only. Historical state information for the session."
        },
        "stateMessage": {
          "readOnly": true,
          "description": "Output only. Session state details, such as the failure description if the state is FAILED.",
          "type": "string"
        },
        "jupyterSession": {
          "description": "Optional. Jupyter session config.",
          "$ref": "JupyterConfig"
        },
        "uuid": {
          "type": "string",
          "description": "Output only. A session UUID (Unique Universal Identifier). The service generates this value when it creates the session.",
          "readOnly": true
        },
        "creator": {
          "type": "string",
          "description": "Output only. The email address of the user who created the session.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the session."
        },
        "sessionTemplate": {
          "description": "Optional. The session template used by the session.Only resource names, including project ID and location, are valid.Example: * https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id] * projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id]The template must be in the same project and Dataproc region as the session.",
          "type": "string"
        }
      }
    },
    "OutputQuantileMetrics": {
      "type": "object",
      "id": "OutputQuantileMetrics",
      "properties": {
        "bytesWritten": {
          "$ref": "Quantiles"
        },
        "recordsWritten": {
          "$ref": "Quantiles"
        }
      }
    },
    "AccessSessionSparkApplicationNativeSqlQueryResponse": {
      "description": "Details of a native query for a Spark Application",
      "type": "object",
      "id": "AccessSessionSparkApplicationNativeSqlQueryResponse",
      "properties": {
        "executionData": {
          "$ref": "NativeSqlExecutionUiData",
          "description": "Native SQL Execution Data"
        }
      }
    },
    "AccessSessionSparkApplicationNativeBuildInfoResponse": {
      "description": "Details of a native build info for a Spark Application",
      "type": "object",
      "id": "AccessSessionSparkApplicationNativeBuildInfoResponse",
      "properties": {
        "executionData": {
          "$ref": "NativeBuildInfoUiData",
          "description": "Native SQL Execution Data"
        }
      }
    },
    "TrinoJob": {
      "id": "TrinoJob",
      "properties": {
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "clientTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Trino client tags to attach to this query"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats",
          "type": "string"
        }
      },
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster.",
      "type": "object"
    },
    "SparkWrapperObject": {
      "description": "Outer message that contains the data obtained from spark listener, packaged with information that is required to process it.",
      "type": "object",
      "id": "SparkWrapperObject",
      "properties": {
        "taskData": {
          "$ref": "TaskData"
        },
        "stageData": {
          "$ref": "StageData"
        },
        "streamingQueryData": {
          "$ref": "StreamingQueryData"
        },
        "executorSummary": {
          "$ref": "ExecutorSummary"
        },
        "streamingQueryProgress": {
          "$ref": "StreamingQueryProgress"
        },
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo"
        },
        "applicationInfo": {
          "$ref": "ApplicationInfo"
        },
        "nativeBuildInfoUiData": {
          "$ref": "NativeBuildInfoUiData",
          "description": "Native Build Info"
        },
        "nativeSqlExecutionUiData": {
          "description": "Native SQL Execution Info",
          "$ref": "NativeSqlExecutionUiData"
        },
        "processSummary": {
          "$ref": "ProcessSummary"
        },
        "applicationId": {
          "type": "string",
          "description": "Application Id created by Spark."
        },
        "sparkConnectSessionInfo": {
          "$ref": "SparkConnectSessionInfo",
          "description": "Spark Connect Session Info"
        },
        "rddOperationGraph": {
          "$ref": "RddOperationGraph"
        },
        "sqlExecutionUiData": {
          "$ref": "SqlExecutionUiData"
        },
        "jobData": {
          "$ref": "JobData"
        },
        "sparkConnectExecutionInfo": {
          "description": "Spark Connect Execution Info",
          "$ref": "SparkConnectExecutionInfo"
        },
        "resourceProfileInfo": {
          "$ref": "ResourceProfileInfo"
        },
        "appSummary": {
          "$ref": "AppSummary"
        },
        "poolData": {
          "$ref": "PoolData"
        },
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph"
        },
        "eventTimestamp": {
          "description": "VM Timestamp associated with the data object.",
          "type": "string",
          "format": "google-datetime"
        },
        "speculationStageSummary": {
          "$ref": "SpeculationStageSummary"
        },
        "streamBlockData": {
          "$ref": "StreamBlockData"
        },
        "rddStorageInfo": {
          "$ref": "RddStorageInfo"
        },
        "executorStageSummary": {
          "$ref": "ExecutorStageSummary"
        }
      }
    },
    "InstanceSelectionResult": {
      "type": "object",
      "description": "Defines a mapping from machine types to the number of VMs that are created with each machine type.",
      "id": "InstanceSelectionResult",
      "properties": {
        "vmCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of VM provisioned with the machine_type.",
          "type": "integer"
        },
        "machineType": {
          "description": "Output only. Full machine-type names, e.g. \"n1-standard-16\".",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "JupyterConfig": {
      "id": "JupyterConfig",
      "properties": {
        "kernel": {
          "enum": [
            "KERNEL_UNSPECIFIED",
            "PYTHON",
            "SCALA"
          ],
          "type": "string",
          "enumDescriptions": [
            "The kernel is unknown.",
            "Python kernel.",
            "Scala kernel."
          ],
          "description": "Optional. Kernel"
        },
        "displayName": {
          "description": "Optional. Display name, shown in the Jupyter kernelspec card.",
          "type": "string"
        }
      },
      "description": "Jupyter configuration for an interactive session.",
      "type": "object"
    },
    "SessionOperationMetadata": {
      "id": "SessionOperationMetadata",
      "properties": {
        "session": {
          "type": "string",
          "description": "Name of the session for the operation."
        },
        "doneTime": {
          "format": "google-datetime",
          "description": "The time when the operation was finished.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered during operation execution.",
          "type": "array"
        },
        "sessionUuid": {
          "description": "Session UUID for the operation.",
          "type": "string"
        },
        "operationType": {
          "enum": [
            "SESSION_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "TERMINATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Session operation type is unknown.",
            "Create Session operation type.",
            "Terminate Session operation type.",
            "Delete Session operation type."
          ],
          "description": "The operation type."
        },
        "labels": {
          "type": "object",
          "description": "Labels associated with the operation.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Metadata describing the Session operation."
    },
    "ExecutorStageSummary": {
      "id": "ExecutorStageSummary",
      "properties": {
        "shuffleReadRecords": {
          "type": "string",
          "format": "int64"
        },
        "inputRecords": {
          "type": "string",
          "format": "int64"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "taskTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "inputBytes": {
          "type": "string",
          "format": "int64"
        },
        "outputRecords": {
          "type": "string",
          "format": "int64"
        },
        "outputBytes": {
          "type": "string",
          "format": "int64"
        },
        "shuffleRead": {
          "type": "string",
          "format": "int64"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "shuffleWrite": {
          "type": "string",
          "format": "int64"
        },
        "isExcludedForStage": {
          "type": "boolean"
        },
        "executorId": {
          "type": "string"
        },
        "succeededTasks": {
          "type": "integer",
          "format": "int32"
        },
        "killedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "diskBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "shuffleWriteRecords": {
          "type": "string",
          "format": "int64"
        },
        "peakMemoryMetrics": {
          "$ref": "ExecutorMetrics"
        },
        "failedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "memoryBytesSpilled": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Executor resources consumed by a stage.",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have Secure Boot enabled."
        },
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have integrity monitoring enabled."
        }
      }
    },
    "JobMetadata": {
      "id": "JobMetadata",
      "properties": {
        "jobId": {
          "readOnly": true,
          "description": "Output only. The job id.",
          "type": "string"
        },
        "operationType": {
          "description": "Output only. Operation type.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Job submission time.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "$ref": "JobStatus",
          "description": "Output only. Most recent job status."
        }
      },
      "description": "Job Operation metadata.",
      "type": "object"
    },
    "JobScheduling": {
      "id": "JobScheduling",
      "properties": {
        "maxFailuresTotal": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum total number of times a driver can be restarted as a result of the driver exiting with a non-zero code. After the maximum number is reached, the job will be reported as failed.Maximum value is 240.Note: Currently, this restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template)."
        },
        "maxFailuresPerHour": {
          "format": "int32",
          "description": "Optional. Maximum number of times per hour a driver can be restarted as a result of driver exiting with non-zero code before job is reported failed.A job might be reported as thrashing if the driver exits with a non-zero code four times within a 10-minute window.Maximum value is 10.Note: This restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Job scheduling options."
    },
    "AccessSessionSparkApplicationSqlQueryResponse": {
      "description": "Details of a query for a Spark Application",
      "type": "object",
      "id": "AccessSessionSparkApplicationSqlQueryResponse",
      "properties": {
        "executionData": {
          "$ref": "SqlExecutionUiData",
          "description": "SQL Execution Data"
        }
      }
    },
    "DiagnoseClusterRequest": {
      "description": "A request to collect cluster diagnostic information.",
      "type": "object",
      "id": "DiagnoseClusterRequest",
      "properties": {
        "job": {
          "deprecated": true,
          "description": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "type": "string"
        },
        "tarballGcsDir": {
          "description": "Optional. (Optional) The output Cloud Storage directory for the diagnostic tarball. If not specified, a task-specific directory in the cluster's staging bucket will be used.",
          "type": "string"
        },
        "jobs": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "type": "array"
        },
        "tarballAccess": {
          "enum": [
            "TARBALL_ACCESS_UNSPECIFIED",
            "GOOGLE_CLOUD_SUPPORT",
            "GOOGLE_DATAPROC_DIAGNOSE"
          ],
          "description": "Optional. (Optional) The access type to the diagnostic tarball. If not specified, falls back to default access of the bucket",
          "type": "string",
          "enumDescriptions": [
            "Tarball Access unspecified. Falls back to default access of the bucket",
            "Google Cloud Support group has read access to the diagnostic tarball",
            "The diagnose service account has read access to the diagnostic tarball"
          ]
        },
        "diagnosisInterval": {
          "description": "Optional. Time interval in which diagnosis should be carried out on the cluster.",
          "$ref": "Interval"
        },
        "yarnApplicationId": {
          "type": "string",
          "description": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed.",
          "deprecated": true
        },
        "yarnApplicationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed.",
          "type": "array"
        }
      }
    },
    "SparkRBatch": {
      "type": "object",
      "description": "A configuration for running an Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) batch workload.",
      "id": "SparkRBatch",
      "properties": {
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the Spark driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "type": "array"
        },
        "mainRFileUri": {
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R or .r file.",
          "type": "string"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array"
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AutoscalingConfig": {
      "description": "Autoscaling Policy config associated with the cluster.",
      "type": "object",
      "id": "AutoscalingConfig",
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and region.",
          "type": "string"
        }
      }
    },
    "IdentityConfig": {
      "id": "IdentityConfig",
      "properties": {
        "userServiceAccountMapping": {
          "type": "object",
          "description": "Required. Map of user to service account.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableSsh": {
          "type": "boolean",
          "description": "Optional. Whether to enable SSH access for the cluster. The default is true for image versions prior to 3.1 and false for image versions 3.1 and later. The default behavior can be changed when creating clusters using image versions 2.3.30 and later."
        }
      },
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "type": "object"
    },
    "AccessSessionSparkApplicationEnvironmentInfoResponse": {
      "id": "AccessSessionSparkApplicationEnvironmentInfoResponse",
      "properties": {
        "applicationEnvironmentInfo": {
          "description": "Details about the Environment that the application is running in.",
          "$ref": "ApplicationEnvironmentInfo"
        }
      },
      "description": "Environment details of a Saprk Application.",
      "type": "object"
    },
    "AutotuningConfig": {
      "id": "AutotuningConfig",
      "properties": {
        "scenarios": {
          "items": {
            "enum": [
              "SCENARIO_UNSPECIFIED",
              "SCALING",
              "BROADCAST_HASH_JOIN",
              "MEMORY",
              "NONE",
              "AUTO"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Scaling recommendations such as initialExecutors.",
              "Adding hints for potential relation broadcasts.",
              "Memory management for workloads.",
              "No autotuning.",
              "Automatic selection of scenarios."
            ]
          },
          "type": "array",
          "description": "Optional. Scenarios for which tunings are applied."
        }
      },
      "description": "Autotuning configuration of the workload.",
      "type": "object"
    },
    "StageMetrics": {
      "id": "StageMetrics",
      "properties": {
        "executorDeserializeCpuTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "executorDeserializeTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "memoryBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "stageShuffleReadMetrics": {
          "$ref": "StageShuffleReadMetrics"
        },
        "stageShuffleWriteMetrics": {
          "$ref": "StageShuffleWriteMetrics"
        },
        "resultSerializationTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "jvmGcTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "peakExecutionMemoryBytes": {
          "type": "string",
          "format": "int64"
        },
        "resultSize": {
          "type": "string",
          "format": "int64"
        },
        "diskBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "executorRunTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "executorCpuTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "stageInputMetrics": {
          "$ref": "StageInputMetrics"
        },
        "stageOutputMetrics": {
          "$ref": "StageOutputMetrics"
        }
      },
      "type": "object",
      "description": "Stage Level Aggregated Metrics"
    },
    "RddStorageInfo": {
      "description": "Overall data about RDD storage.",
      "type": "object",
      "id": "RddStorageInfo",
      "properties": {
        "numCachedPartitions": {
          "type": "integer",
          "format": "int32"
        },
        "rddStorageId": {
          "type": "integer",
          "format": "int32"
        },
        "numPartitions": {
          "type": "integer",
          "format": "int32"
        },
        "dataDistribution": {
          "type": "array",
          "items": {
            "$ref": "RddDataDistribution"
          }
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "partitions": {
          "type": "array",
          "items": {
            "$ref": "RddPartitionInfo"
          }
        },
        "storageLevel": {
          "type": "string"
        }
      }
    },
    "InstanceSelection": {
      "id": "InstanceSelection",
      "properties": {
        "rank": {
          "description": "Optional. Preference of this instance selection. Lower number means higher preference. The service will first try to create a VM based on the machine-type with priority rank and fallback to next rank based on availability. Machine types and instance selections with the same priority have the same preference.",
          "type": "integer",
          "format": "int32"
        },
        "machineTypes": {
          "type": "array",
          "description": "Optional. Full machine-type names, e.g. \"n1-standard-16\".",
          "items": {
            "type": "string"
          }
        },
        "diskConfig": {
          "description": "Optional. Disk configuration to apply to the instances in this instance selection. If specified on any entry in instanceSelectionList, then it must be specified on every entry in instanceSelectionList and the instanceGroupConfig must not specify any diskConfig.",
          "$ref": "DiskConfig"
        }
      },
      "description": "Defines machines types and a rank to which the machines types belong.",
      "type": "object"
    },
    "Job": {
      "description": "A Dataproc job resource.",
      "type": "object",
      "id": "Job",
      "properties": {
        "trinoJob": {
          "$ref": "TrinoJob",
          "description": "Optional. Job is a Trino job."
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "flinkJob": {
          "description": "Optional. Job is a Flink job.",
          "$ref": "FlinkJob"
        },
        "done": {
          "readOnly": true,
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled.",
          "type": "boolean"
        },
        "hadoopJob": {
          "$ref": "HadoopJob",
          "description": "Optional. Job is a Hadoop job."
        },
        "status": {
          "description": "Output only. The job status. Additional application-specific status information might be contained in the type_job and yarn_applications fields.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "yarnApplications": {
[...]
