{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "id": "dataflow:v1b3",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dataflow",
  "canonicalName": "Dataflow",
  "servicePath": "",
  "baseUrl": "https://dataflow.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "Histogram": {
      "properties": {
        "firstBucketOffset": {
          "format": "int32",
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer"
        },
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Histogram",
      "type": "object",
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported."
    },
    "SourceOperationRequest": {
      "type": "object",
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "properties": {
        "originalName": {
          "type": "string",
          "description": "System-defined name for the Read instruction for this source in the original workflow graph."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow."
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow."
        },
        "split": {
          "$ref": "SourceSplitRequest",
          "description": "Information about a request to split a source."
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "name": {
          "type": "string",
          "description": "User-provided name of the Read instruction for this source."
        }
      },
      "id": "SourceOperationRequest"
    },
    "ComponentSource": {
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComponentSource"
    },
    "BucketOptions": {
      "type": "object",
      "properties": {
        "linear": {
          "$ref": "Linear",
          "description": "Bucket boundaries grow linearly."
        },
        "exponential": {
          "description": "Bucket boundaries grow exponentially.",
          "$ref": "Base2Exponent"
        }
      },
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram.",
      "id": "BucketOptions"
    },
    "BigTableIODetails": {
      "id": "BigTableIODetails",
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "TableId accessed in the connection."
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkerShutdownNotice": {
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "type": "object",
      "id": "WorkerShutdownNotice",
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      }
    },
    "Disk": {
      "properties": {
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "sizeGb": {
          "type": "integer",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        }
      },
      "id": "Disk",
      "description": "Describes the data disk used by a workflow job.",
      "type": "object"
    },
    "DisplayData": {
      "properties": {
        "shortStrValue": {
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip.",
          "type": "string"
        },
        "key": {
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system.",
          "type": "string"
        },
        "strValue": {
          "description": "Contains value if the data is of string type.",
          "type": "string"
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "type": "string",
          "format": "int64"
        },
        "timestampValue": {
          "type": "string",
          "description": "Contains value if the data is of timestamp type.",
          "format": "google-datetime"
        },
        "boolValue": {
          "description": "Contains value if the data is of a boolean type.",
          "type": "boolean"
        },
        "url": {
          "description": "An optional full URL.",
          "type": "string"
        },
        "namespace": {
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering.",
          "type": "string"
        },
        "floatValue": {
          "type": "number",
          "format": "float",
          "description": "Contains value if the data is of float type."
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "Contains value if the data is of duration type."
        },
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        }
      },
      "type": "object",
      "id": "DisplayData",
      "description": "Data provided with a pipeline or transform to provide descriptive info."
    },
    "ComponentTransform": {
      "type": "object",
      "description": "Description of a transform executed as part of an execution stage.",
      "properties": {
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        }
      },
      "id": "ComponentTransform"
    },
    "OutlierStats": {
      "description": "Statistics for the underflow and overflow bucket.",
      "id": "OutlierStats",
      "type": "object",
      "properties": {
        "overflowMean": {
          "description": "Mean of values in the overflow bucket.",
          "type": "number",
          "format": "double"
        },
        "overflowCount": {
          "format": "int64",
          "description": "Number of values that are larger than the upper bound of the largest bucket.",
          "type": "string"
        },
        "underflowMean": {
          "description": "Mean of values in the undeflow bucket.",
          "type": "number",
          "format": "double"
        },
        "underflowCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of values that are smaller than the lower bound of the smallest bucket."
        }
      }
    },
    "SdkVersion": {
      "type": "object",
      "id": "SdkVersion",
      "description": "The version of the SDK used to run the job.",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "description": "The support status for this SDK version.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ]
        },
        "versionDisplayName": {
          "type": "string",
          "description": "A readable string describing the version of the SDK."
        },
        "bugs": {
          "items": {
            "$ref": "SdkBug"
          },
          "description": "Output only. Known bugs found in this SDK version.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "Linear": {
      "id": "Linear",
      "description": "Linear buckets with the following boundaries for indices in 0 to n-1. - i in [0, n-1]: [start + (i)*width, start + (i+1)*width)",
      "properties": {
        "numberOfBuckets": {
          "type": "integer",
          "description": "Must be greater than 0.",
          "format": "int32"
        },
        "start": {
          "description": "Lower bound of the first bucket.",
          "format": "double",
          "type": "number"
        },
        "width": {
          "type": "number",
          "format": "double",
          "description": "Distance between bucket boundaries. Must be greater than 0."
        }
      },
      "type": "object"
    },
    "WorkerMessageCode": {
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages."
        }
      },
      "id": "WorkerMessageCode"
    },
    "GPUUsage": {
      "type": "object",
      "id": "GPUUsage",
      "description": "Information about the GPU usage on the worker.",
      "properties": {
        "utilization": {
          "description": "Required. Utilization info about the GPU.",
          "$ref": "GPUUtilization"
        },
        "timestamp": {
          "description": "Required. Timestamp of the measurement.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Stack": {
      "type": "object",
      "id": "Stack",
      "description": "A structuredstacktrace for a process running on the worker.",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp at which the stack was captured.",
          "type": "string"
        },
        "stackContent": {
          "type": "string",
          "description": "The raw stack trace."
        },
        "threadName": {
          "description": "Thread name. For example, \"CommitThread-0,10,main\"",
          "type": "string"
        },
        "threadCount": {
          "description": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this.",
          "type": "integer",
          "format": "int32"
        },
        "threadState": {
          "type": "string",
          "description": "The state of the thread. For example, \"WAITING\"."
        }
      }
    },
    "Base2Exponent": {
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))",
      "id": "Base2Exponent",
      "type": "object",
      "properties": {
        "scale": {
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "type": "integer",
          "format": "int32"
        },
        "numberOfBuckets": {
          "type": "integer",
          "description": "Must be greater than 0.",
          "format": "int32"
        }
      }
    },
    "WorkItem": {
      "id": "WorkItem",
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifies this WorkItem.",
          "type": "string",
          "format": "int64"
        },
        "projectId": {
          "description": "Identifies the cloud project this WorkItem belongs to.",
          "type": "string"
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "leaseExpireTime": {
          "description": "Time when the lease on this Work will expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        },
        "seqMapTask": {
          "description": "Additional information for SeqMapTask WorkItems.",
          "$ref": "SeqMapTask"
        },
        "mapTask": {
          "description": "Additional information for MapTask WorkItems.",
          "$ref": "MapTask"
        },
        "jobId": {
          "description": "Identifies the workflow job this WorkItem belongs to.",
          "type": "string"
        },
        "streamingComputationTask": {
          "description": "Additional information for StreamingComputationTask WorkItems.",
          "$ref": "StreamingComputationTask"
        },
        "initialReportIndex": {
          "format": "int64",
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "type": "string"
        },
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "streamingSetupTask": {
          "$ref": "StreamingSetupTask",
          "description": "Additional information for StreamingSetupTask WorkItems."
        },
        "packages": {
          "description": "Any required packages that need to be fetched in order to execute this WorkItem.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "reportStatusInterval": {
          "type": "string",
          "description": "Recommended reporting interval.",
          "format": "google-duration"
        }
      }
    },
    "StringList": {
      "id": "StringList",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      },
      "description": "A metric value representing a list of strings.",
      "type": "object"
    },
    "FailedLocation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        }
      },
      "id": "FailedLocation",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data."
    },
    "SdkBug": {
      "description": "A bug found in the Dataflow SDK.",
      "properties": {
        "severity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. How severe the SDK bug is.",
          "enumDescriptions": [
            "A bug of unknown severity.",
            "A minor bug that that may reduce reliability or performance for some jobs. Impact will be minimal or non-existent for most jobs.",
            "A bug that has some likelihood of causing performance degradation, data loss, or job failures.",
            "A bug with extremely significant impact. Jobs may fail erroneously, performance may be severely degraded, and data loss may be very likely."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOTICE",
            "WARNING",
            "SEVERE"
          ]
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Link to more information on the bug.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown issue with this SDK.",
            "Catch-all for SDK bugs that don't fit in the below categories.",
            "Using this version of the SDK may result in degraded performance.",
            "Using this version of the SDK may cause data loss."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GENERAL",
            "PERFORMANCE",
            "DATALOSS"
          ],
          "description": "Output only. Describes the impact of this SDK bug.",
          "readOnly": true
        }
      },
      "id": "SdkBug",
      "type": "object"
    },
    "StreamLocation": {
      "properties": {
        "sideInputLocation": {
          "description": "The stream is a streaming side input.",
          "$ref": "StreamingSideInputLocation"
        },
        "customSourceLocation": {
          "description": "The stream is a custom source.",
          "$ref": "CustomSourceLocation"
        },
        "pubsubLocation": {
          "description": "The stream is a pubsub stream.",
          "$ref": "PubsubLocation"
        },
        "streamingStageLocation": {
          "description": "The stream is part of another computation within the current streaming Dataflow job.",
          "$ref": "StreamingStageLocation"
        }
      },
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "id": "StreamLocation",
      "type": "object"
    },
    "RuntimeUpdatableParams": {
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation.",
      "properties": {
        "maxNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs."
        },
        "schedules": {
          "description": "Optional. The schedule for autoscaling.",
          "items": {
            "$ref": "AutoscalingSchedule"
          },
          "type": "array"
        },
        "latencyTier": {
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "type": "string"
        },
        "autoscalingTier": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\"."
        },
        "acceptableBacklogDuration": {
          "type": "string",
          "format": "google-duration",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative."
        },
        "minNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs."
        },
        "workerUtilizationHint": {
          "format": "double",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline).",
          "type": "number"
        }
      },
      "id": "RuntimeUpdatableParams",
      "type": "object"
    },
    "StreamingConfigTask": {
      "properties": {
        "userWorkerRunnerV1Settings": {
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker.",
          "type": "string"
        },
        "userWorkerRunnerV2Settings": {
          "format": "byte",
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker."
        },
        "streamingEngineStateTagEncodingVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The state tag encoding format version for streaming engine jobs."
        },
        "streamingComputationConfigs": {
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information.",
          "type": "array"
        },
        "operationalLimits": {
          "$ref": "StreamingOperationalLimits",
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend."
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user step names to state families."
        },
        "getDataStreamChunkSizeBytes": {
          "format": "int64",
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string"
        },
        "windmillServicePort": {
          "type": "string",
          "format": "int64",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        },
        "maxWorkItemCommitBytes": {
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill."
        }
      },
      "id": "StreamingConfigTask",
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object"
    },
    "StreamingComputationTask": {
      "id": "StreamingComputationTask",
      "type": "object",
      "properties": {
        "taskType": {
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "type": "string",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "description": "A type of streaming computation task."
        },
        "computationRanges": {
          "description": "Contains ranges of a streaming computation this task should apply to.",
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "type": "array"
        },
        "dataDisks": {
          "type": "array",
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          }
        }
      },
      "description": "A task which describes what action should be performed for the specified streaming computation ranges."
    },
    "ApproximateProgress": {
      "properties": {
        "remainingTime": {
          "description": "Obsolete.",
          "deprecated": true,
          "type": "string",
          "format": "google-duration"
        },
        "position": {
          "description": "Obsolete.",
          "$ref": "Position",
          "deprecated": true
        },
        "percentComplete": {
          "description": "Obsolete.",
          "type": "number",
          "deprecated": true,
          "format": "float"
        }
      },
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "type": "object",
      "id": "ApproximateProgress"
    },
    "CounterStructuredNameAndMetadata": {
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        }
      },
      "id": "CounterStructuredNameAndMetadata",
      "type": "object"
    },
    "AutoscalingEvent": {
      "type": "object",
      "id": "AutoscalingEvent",
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "properties": {
        "time": {
          "description": "The time this event was emitted to indicate a new target or current num_workers value.",
          "format": "google-datetime",
          "type": "string"
        },
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "type": "string",
          "format": "int64"
        },
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to.",
          "type": "string"
        },
        "description": {
          "$ref": "StructuredMessage",
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers."
        },
        "targetNumWorkers": {
          "type": "string",
          "description": "The target number of workers the worker pool wants to resize to use.",
          "format": "int64"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "description": "The type of autoscaling event to report."
        }
      }
    },
    "TaskRunnerSettings": {
      "description": "Taskrunner configuration settings.",
      "type": "object",
      "id": "TaskRunnerSettings",
      "properties": {
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API.",
          "type": "array"
        },
        "dataflowApiVersion": {
          "type": "string",
          "description": "The API version of endpoint, e.g. \"v1b3\""
        },
        "streamingWorkerMainClass": {
          "description": "The streaming worker main class name.",
          "type": "string"
        },
        "continueOnException": {
          "type": "boolean",
          "description": "Whether to continue taskrunner if an exception is hit."
        },
        "commandlinesFileName": {
          "description": "The file to store preprocessing commands in.",
          "type": "string"
        },
        "taskUser": {
          "type": "string",
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\"."
        },
        "harnessCommand": {
          "description": "The command to launch the worker harness.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "workflowFileName": {
          "type": "string",
          "description": "The file to store the workflow in."
        },
        "baseTaskDir": {
          "description": "The location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "languageHint": {
          "description": "The suggested backend language.",
          "type": "string"
        },
        "logToSerialconsole": {
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console.",
          "type": "boolean"
        },
        "logDir": {
          "description": "The directory on the VM to store logs.",
          "type": "string"
        },
        "parallelWorkerSettings": {
          "description": "The settings to pass to the parallel worker harness.",
          "$ref": "WorkerSettings"
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The ID string of the VM."
        },
        "baseUrl": {
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "alsologtostderr": {
          "description": "Whether to also send taskrunner log info to stderr.",
          "type": "boolean"
        }
      }
    },
    "AutoscalingSchedule": {
      "type": "object",
      "description": "A schedule for autoscaling.",
      "id": "AutoscalingSchedule",
      "properties": {
        "crontab": {
          "description": "Optional. A crontab specification of when this schedule should trigger applying overrides. The overrides will be applied from the trigger time until the specified duration elapses.",
          "type": "string"
        },
        "duration": {
          "description": "Optional. The duration for which the parameter overrides for this schedule will be applied when triggered by the crontab.",
          "type": "string",
          "format": "google-duration"
        },
        "parameters": {
          "$ref": "Parameters",
          "description": "Optional. The parameters to use for autoscaling when this schedule is active."
        },
        "priority": {
          "format": "int64",
          "description": "Optional. Specifies the priority of the schedule. If two schedules overlap, the one with the higher priority will be used. The higher the value, the higher the priority of the schedule.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the customer last updated the schedule.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the schedule."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone for the schedule. The value of this field must be a time zone name from the [tz database](http://en.wikipedia.org/wiki/Tz_database). The default value is UTC."
        }
      }
    },
    "LaunchFlexTemplateResponse": {
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template.",
      "id": "LaunchFlexTemplateResponse"
    },
    "JobExecutionStageInfo": {
      "id": "JobExecutionStageInfo",
      "properties": {
        "stepName": {
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
      "type": "object"
    },
    "ConfigStoreSetting": {
      "description": "A ConfigStoreSetting resource.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the setting.",
          "type": "string"
        },
        "value": {
          "$ref": "ConfigStoreSettingValue",
          "description": "Required. The dynamic value of the setting."
        }
      },
      "type": "object",
      "id": "ConfigStoreSetting"
    },
    "WorkerPool": {
      "type": "object",
      "id": "WorkerPool",
      "properties": {
        "taskrunnerSettings": {
          "$ref": "TaskRunnerSettings",
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "packages": {
          "description": "Packages to be installed on workers.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "kind": {
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "teardownPolicy": {
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ]
        },
        "numWorkers": {
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API."
        },
        "defaultPackageSet": {
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "type": "string",
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ],
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ]
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\"."
        },
        "diskProvisionedThroughputMibps": {
          "type": "string",
          "description": "Optional. Throughput provisioned for the root disk for VMs.",
          "format": "int64"
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "diskProvisionedIops": {
          "type": "string",
          "description": "Optional. IOPS provisioned for the root disk for VMs.",
          "format": "int64"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        },
        "dataDisks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array"
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "poolArgs": {
          "description": "Extra arguments for this worker pool.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "numThreadsPerWorker": {
          "type": "integer",
          "format": "int32",
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming)."
        },
        "sdkHarnessContainerImages": {
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "items": {
            "$ref": "SdkHarnessContainerImage"
          },
          "type": "array"
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "diskSourceImage": {
          "type": "string",
          "description": "Fully qualified source image for disks."
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "description": "Configuration for VM IPs.",
          "type": "string"
        }
      },
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job."
    },
    "MetricStructuredName": {
      "type": "object",
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "id": "MetricStructuredName",
      "properties": {
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        },
        "context": {
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        }
      }
    },
    "KeyRangeDataDiskAssignment": {
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "id": "KeyRangeDataDiskAssignment",
      "type": "object",
      "properties": {
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        }
      }
    },
    "ReportWorkItemStatusRequest": {
      "description": "Request to report the status of WorkItems.",
      "type": "object",
      "properties": {
        "unifiedWorkerRequest": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          }
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        },
        "projectNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The project number of the project which owns the WorkItem's job."
        },
        "currentWorkerTime": {
          "format": "google-datetime",
          "description": "The current timestamp at the worker.",
          "type": "string"
        }
      },
      "id": "ReportWorkItemStatusRequest"
    },
    "ApproximateSplitRequest": {
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "properties": {
        "fractionOfRemainder": {
          "format": "double",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number"
        },
        "fractionConsumed": {
          "type": "number",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "format": "double"
        },
        "position": {
          "$ref": "Position",
          "description": "A Position at which to split the work item."
        }
      },
      "type": "object",
      "id": "ApproximateSplitRequest"
    },
    "StageSource": {
      "properties": {
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "sizeBytes": {
          "type": "string",
          "description": "Size of the source, if measurable.",
          "format": "int64"
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StageSource",
      "description": "Description of an input or output of an execution stage."
    },
    "DatastoreIODetails": {
      "type": "object",
      "description": "Metadata for a Datastore connector used by the job.",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Namespace used in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "id": "DatastoreIODetails"
    },
    "ConfigStoreSettingValue": {
      "description": "Represents a dynamically typed value.",
      "type": "object",
      "id": "ConfigStoreSettingValue",
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "WorkItemStatus": {
      "type": "object",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "properties": {
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "errors": {
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "stopPosition": {
          "$ref": "Position",
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc."
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "totalThrottlerWaitTimeSeconds": {
          "type": "number",
          "description": "Total time the worker spent being throttled by external systems.",
          "format": "double"
        },
        "reportIndex": {
          "type": "string",
          "format": "int64",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service."
        },
        "sourceFork": {
          "deprecated": true,
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split."
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "description": "Worker output counters for this WorkItem.",
          "type": "array"
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "progress": {
          "deprecated": true,
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "format": "google-duration",
          "type": "string"
        },
        "metricUpdates": {
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "deprecated": true,
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "completed": {
          "type": "boolean",
          "description": "True if the WorkItem was completed (successfully or unsuccessfully)."
        }
      },
      "id": "WorkItemStatus"
    },
    "ServiceResources": {
      "type": "object",
      "description": "Resources used by the Dataflow Service to run the job.",
      "id": "ServiceResources",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "Sdk": {
      "type": "object",
      "properties": {
        "stacks": {
          "items": {
            "$ref": "Stack"
          },
          "type": "array",
          "description": "The stacktraces for the processes running on the SDK harness."
        },
        "sdkId": {
          "type": "string",
          "description": "The SDK harness id."
        }
      },
      "id": "Sdk",
      "description": "A structured representation of an SDK."
    },
    "ReportWorkItemStatusResponse": {
      "description": "Response from a request to report the status of WorkItems.",
      "type": "object",
      "id": "ReportWorkItemStatusResponse",
      "properties": {
        "workItemServiceStates": {
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "type": "array"
        },
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker.",
          "type": "object"
        }
      }
    },
    "GPUUtilization": {
      "properties": {
        "rate": {
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1].",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GPUUtilization",
      "description": "Utilization details about the GPU.",
      "type": "object"
    },
    "JobMessage": {
      "description": "A particular message pertaining to a Dataflow job.",
      "properties": {
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the message."
        },
        "id": {
          "type": "string",
          "description": "Deprecated."
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        },
        "messageImportance": {
          "type": "string",
          "description": "Importance level of the message.",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ]
        }
      },
      "type": "object",
      "id": "JobMessage"
    },
    "TemplateMetadata": {
      "id": "TemplateMetadata",
      "type": "object",
      "properties": {
        "streaming": {
          "description": "Optional. Indicates if the template is streaming or not.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the template."
        },
        "supportsExactlyOnce": {
          "description": "Optional. Indicates if the streaming template supports exactly once mode.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the template."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "supportsAtLeastOnce": {
          "description": "Optional. Indicates if the streaming template supports at least once mode.",
          "type": "boolean"
        },
        "yamlDefinition": {
          "type": "string",
          "description": "Optional. For future use."
        },
        "defaultStreamingMode": {
          "description": "Optional. Indicates the default streaming mode for a streaming template. Only valid if both supports_at_least_once and supports_exactly_once are true. Possible values: UNSPECIFIED, EXACTLY_ONCE and AT_LEAST_ONCE",
          "type": "string"
        }
      },
      "description": "Metadata describing a template."
    },
    "CounterMetadata": {
      "properties": {
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        },
        "standardUnits": {
          "type": "string",
          "description": "System defined Units, see above enum.",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "description": "Counter aggregation kind."
        }
      },
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "type": "object",
      "id": "CounterMetadata"
    },
    "StreamingOperationalLimits": {
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "properties": {
        "maxTagBytes": {
          "type": "string",
          "description": "The maximum size for a state tag.",
          "format": "int64"
        },
        "maxValueBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a value state field."
        },
        "maxBagElementBytes": {
          "format": "int64",
          "description": "The maximum size for an element in bag state.",
          "type": "string"
        },
        "maxKeyBytes": {
          "type": "string",
          "description": "The maximum size allowed for a key.",
          "format": "int64"
        },
        "maxProductionOutputBytes": {
          "description": "The maximum size for a single output element.",
          "format": "int64",
          "type": "string"
        },
        "maxSortedListElementBytes": {
          "description": "The maximum size for an element in sorted list state.",
          "type": "string",
          "format": "int64"
        },
        "maxSourceStateBytes": {
          "type": "string",
          "description": "The maximum size for a source state update.",
          "format": "int64"
        },
        "maxGlobalDataBytes": {
          "type": "string",
          "description": "The maximum size for an element in global data.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "StreamingOperationalLimits"
    },
    "StreamingSideInputLocation": {
      "properties": {
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        },
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "description": "Identifies the location of a streaming side input.",
      "id": "StreamingSideInputLocation",
      "type": "object"
    },
    "RuntimeMetadata": {
      "description": "RuntimeMetadata describing a runtime environment.",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The parameters for the template.",
          "items": {
            "$ref": "ParameterMetadata"
          }
        },
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        }
      },
      "id": "RuntimeMetadata",
      "type": "object"
    },
    "GetDebugConfigResponse": {
      "id": "GetDebugConfigResponse",
      "properties": {
        "config": {
          "description": "The encoded debug configuration for the requested component.",
          "type": "string"
        }
      },
      "description": "Response to a get debug configuration request.",
      "type": "object"
    },
    "ReportedParallelism": {
      "id": "ReportedParallelism",
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "type": "object",
      "properties": {
        "isInfinite": {
          "type": "boolean",
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Specifies the level of parallelism in case it is finite."
        }
      }
    },
    "DistributionUpdate": {
      "properties": {
        "histogram": {
          "$ref": "Histogram",
          "description": "(Optional) Histogram of value counts for the distribution."
        },
        "sum": {
          "$ref": "SplitInt64",
          "description": "Use an int64 since we'd prefer the added precision. If overflow is a common problem we can detect it and use an additional int64 or a double."
        },
        "max": {
          "description": "The maximum value present in the distribution.",
          "$ref": "SplitInt64"
        },
        "sumOfSquares": {
          "type": "number",
          "format": "double",
          "description": "Use a double since the sum of squares is likely to overflow int64."
        },
        "count": {
          "description": "The count of the number of elements present in the distribution.",
          "$ref": "SplitInt64"
        },
        "min": {
          "description": "The minimum value present in the distribution.",
          "$ref": "SplitInt64"
        }
      },
      "id": "DistributionUpdate",
      "description": "A metric value representing a distribution.",
      "type": "object"
    },
    "IntegerMean": {
      "id": "IntegerMean",
      "description": "A representation of an integer mean metric contribution.",
      "type": "object",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        }
      }
    },
    "DebugOptions": {
      "type": "object",
      "id": "DebugOptions",
      "properties": {
        "enableHotKeyLogging": {
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        },
        "dataSampling": {
          "$ref": "DataSamplingConfig",
          "description": "Configuration options for sampling elements from a running pipeline."
        }
      },
      "description": "Describes any options that have an effect on the debugging of pipelines."
    },
    "LaunchTemplateParameters": {
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "type": "object",
      "id": "LaunchTemplateParameters",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The runtime parameters to pass to the job."
        },
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "transformNameMapping": {
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Sink": {
      "description": "A sink that records can be encoded and written to.",
      "type": "object",
      "id": "Sink",
      "properties": {
        "spec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The sink to write to, plus its parameters."
        },
        "codec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data written to the sink."
        }
      }
    },
    "StreamingScalingReport": {
      "properties": {
        "maximumBytes": {
          "description": "Maximum bytes.",
          "format": "int64",
          "type": "string"
        },
        "outstandingBundleCount": {
          "format": "int32",
          "type": "integer",
          "description": "Current outstanding bundle count."
        },
        "activeThreadCount": {
          "description": "Current acive thread count.",
          "format": "int32",
          "type": "integer"
        },
        "maximumThreadCount": {
          "description": "Maximum thread count limit.",
          "type": "integer",
          "format": "int32"
        },
        "maximumBytesCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "activeBundleCount": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "maximumBundleCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum bundle count."
        },
        "outstandingBytesCount": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "outstandingBytes": {
          "description": "Current outstanding bytes.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StreamingScalingReport",
      "description": "Contains per-user worker telemetry used in streaming autoscaling."
    },
    "DataflowHistogramValue": {
      "type": "object",
      "properties": {
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Describes the bucket boundaries used in the histogram."
        },
        "count": {
          "format": "int64",
          "description": "Number of values recorded in this histogram.",
          "type": "string"
        },
        "bucketCounts": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0."
        },
        "outlierStats": {
          "description": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries.",
          "$ref": "OutlierStats"
        }
      },
      "id": "DataflowHistogramValue",
      "description": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing."
    },
    "IntegerGauge": {
      "description": "A metric value representing temporal values of a variable.",
      "properties": {
        "value": {
          "$ref": "SplitInt64",
          "description": "The value of the variable represented by this gauge."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IntegerGauge"
    },
    "Parameters": {
      "description": "The parameters to use for autoscaling when this schedule is active.",
      "type": "object",
      "properties": {
        "latencyTarget": {
          "description": "Optional. The target latency for this schedule.",
          "type": "string"
        },
        "minWorkerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minimum number of workers for this schedule."
        },
        "cpuUtilizationTarget": {
          "format": "double",
          "description": "Optional. The target CPU utilization for this schedule.",
          "type": "number"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers for this schedule.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Parameters"
    },
    "WorkerSettings": {
      "type": "object",
      "properties": {
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        },
        "servicePath": {
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        }
      },
      "description": "Provides data to pass through to the worker harness.",
      "id": "WorkerSettings"
    },
    "SendWorkerMessagesRequest": {
      "id": "SendWorkerMessagesRequest",
      "properties": {
        "workerMessages": {
          "items": {
            "$ref": "WorkerMessage"
          },
          "type": "array",
          "description": "The WorkerMessages to send."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request for sending worker messages to the service."
    },
    "JobExecutionDetails": {
      "description": "Information about the execution of a job.",
      "properties": {
        "stages": {
          "description": "The stages of the job execution.",
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          }
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      },
      "id": "JobExecutionDetails",
      "type": "object"
    },
    "SourceFork": {
      "id": "SourceFork",
      "properties": {
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "residualSource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        }
      },
      "type": "object",
      "description": "DEPRECATED in favor of DynamicSourceSplit."
    },
    "Parameter": {
      "properties": {
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        }
      },
      "type": "object",
      "id": "Parameter",
      "description": "Structured data associated with this message."
    },
    "SourceGetMetadataResponse": {
      "properties": {
        "metadata": {
          "description": "The computed metadata.",
          "$ref": "SourceMetadata"
        }
      },
      "description": "The result of a SourceGetMetadataOperation.",
      "id": "SourceGetMetadataResponse",
      "type": "object"
    },
    "FileIODetails": {
      "description": "Metadata for a File connector used by the job.",
      "id": "FileIODetails",
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "File Pattern used to access files by the connector.",
          "type": "string"
        }
      }
    },
    "IntegerList": {
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list."
        }
      },
      "description": "A metric value representing a list of integers.",
      "id": "IntegerList",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Step": {
      "id": "Step",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of step in the Cloud Dataflow job."
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce."
    },
    "ApproximateReportedProgress": {
      "description": "A progress measurement of a WorkItem by a worker.",
      "id": "ApproximateReportedProgress",
      "type": "object",
      "properties": {
        "consumedParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite."
        },
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed)."
        },
        "remainingParallelism": {
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off.",
          "$ref": "ReportedParallelism"
        }
      }
    },
    "SeqMapTaskOutputInfo": {
      "id": "SeqMapTaskOutputInfo",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write the output value to."
        }
      },
      "description": "Information about an output of a SeqMapTask."
    },
    "Position": {
      "type": "object",
      "id": "Position",
      "properties": {
        "concatPosition": {
          "$ref": "ConcatPosition",
          "description": "CloudPosition is a concat position."
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "recordIndex": {
          "format": "int64",
          "description": "Position is a record index.",
          "type": "string"
        },
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        },
        "byteOffset": {
          "type": "string",
          "format": "int64",
          "description": "Position is a byte offset."
        }
      },
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index."
    },
    "StreamingStragglerInfo": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "End time of this straggler.",
          "type": "string",
          "format": "google-datetime"
        },
        "dataWatermarkLag": {
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this straggler."
        },
        "systemWatermarkLag": {
          "description": "The system watermark lag at the time of the straggler detection.",
          "format": "google-duration",
          "type": "string"
        },
        "workerName": {
          "description": "Name of the worker where the straggler was detected.",
          "type": "string"
        }
      },
      "id": "StreamingStragglerInfo",
      "description": "Information useful for streaming straggler identification and debugging."
    },
    "ProgressTimeseries": {
      "id": "ProgressTimeseries",
      "type": "object",
      "description": "Information about the progress of some component of job execution.",
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "History of progress for the component. Points are sorted by time.",
          "items": {
            "$ref": "Point"
          }
        },
        "currentProgress": {
          "description": "The current progress of the component, in the range [0,1].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug information is sent."
        },
        "dataFormat": {
          "type": "string",
          "description": "Format for the data field above (id=5).",
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ]
        },
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The encoded debug information."
        }
      },
      "id": "SendDebugCaptureRequest",
      "description": "Request to send encoded debug information. Next ID: 8"
    },
    "ParameterMetadata": {
      "type": "object",
      "description": "Metadata for a specific parameter.",
      "properties": {
        "enumOptions": {
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          },
          "type": "array",
          "description": "Optional. The options shown when ENUM ParameterType is specified."
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean."
        },
        "groupName": {
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided.",
          "type": "string"
        },
        "parentName": {
          "type": "string",
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field."
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "hiddenUi": {
          "description": "Optional. Whether the parameter should be hidden in the UI.",
          "type": "boolean"
        },
        "regexes": {
          "type": "array",
          "description": "Optional. Regexes that the parameter must match.",
          "items": {
            "type": "string"
          }
        },
        "customMetadata": {
[...]
