{
  "rootUrl": "https://datalineage.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/data-catalog",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datalineage.readonly": {
          "description": "See your Google Cloud Data Lineage data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/datalineage.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Data Lineage data and see the email address for your Google Account"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "processOpenLineageRunEvent": {
              "request": {
                "type": "object",
                "additionalProperties": {
                  "type": "any",
                  "description": "Properties of the object."
                }
              },
              "id": "datalineage.projects.locations.processOpenLineageRunEvent",
              "path": "v1/{+parent}:processOpenLineageRunEvent",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the project and its location that should own the process, run, and lineage event.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "requestId": {
                  "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:processOpenLineageRunEvent",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates new lineage events together with their parents: process and run. Updates the process and run if they already exist. Mapped from Open Lineage specification: https://github.com/OpenLineage/OpenLineage/blob/main/spec/OpenLineage.json."
            },
            "searchLineageStreaming": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieves a streaming response of lineage links connected to the requested assets by performing a breadth-first search in the given direction. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. This method retrieves links from all valid locations provided in the request. This method supports Column-Level Lineage (CLL) along with wildcard support to retrieve all CLL for an Entity FQN. Following permissions are required to retrieve links: * `datalineage.events.get` permission for the project where the link is stored for entity-level lineage. * `datalineage.events.getFields` permission for the project where the link is stored for column-level lineage. This method also returns processes that created the links if explicitly requested by setting [max_process_per_link](google.cloud.datacatalog.lineage.v1.SearchLineageStreamingRequest.limits.max_process_per_link) is non-zero and full process details are requested via `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask). Permission required to retrieve processes: * `datalineage.processes.get` permission for the project where the process is stored.",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest"
              },
              "id": "datalineage.projects.locations.searchLineageStreaming",
              "path": "v1/{+parent}:searchLineageStreaming",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The project and location to initiate the search from.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datalineage.read-write",
                "https://www.googleapis.com/auth/datalineage.readonly"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLineageStreaming",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse"
              }
            },
            "batchSearchLinkProcesses": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve information about LineageProcesses associated with specific links. LineageProcesses are transformation pipelines that result in data flowing from **source** to **target** assets. Links between assets represent this operation. If you have specific link names, you can use this method to verify which LineageProcesses contribute to creating those links. See the SearchLinks method for more information on how to retrieve link name. You can retrieve the LineageProcess information in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "id": "datalineage.projects.locations.batchSearchLinkProcesses",
              "path": "v1/{+parent}:batchSearchLinkProcesses",
              "parameters": {
                "parent": {
                  "description": "Required. The project and location where you want to search.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:batchSearchLinkProcesses",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse"
              }
            },
            "searchLinks": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLinks",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksResponse"
              },
              "id": "datalineage.projects.locations.searchLinks",
              "path": "v1/{+parent}:searchLinks",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The project and location you want search in.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve a list of links connected to a specific asset. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. You can retrieve links in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "datalineage.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "id": "datalineage.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "datalineage.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "id": "datalineage.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "config": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the Config for a given resource.",
                  "id": "datalineage.projects.locations.config.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  }
                },
                "patch": {
                  "id": "datalineage.projects.locations.config.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update the Config for a given resource."
                }
              }
            },
            "processes": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new process.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "id": "datalineage.projects.locations.processes.create",
                  "path": "v1/{+parent}/processes",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the project and its location that should own the process.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "datalineage.projects.locations.processes.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the process to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of the specified process."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "id": "datalineage.projects.locations.processes.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true and the process is not found, the request inserts it.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a process."
                },
                "list": {
                  "id": "datalineage.projects.locations.processes.list",
                  "path": "v1/{+parent}/processes",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of processes to return. The service may return fewer than this value. If unspecified, at most 50 processes are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token received from a previous `ListProcesses` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the project and its location that owns this collection of processes.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1ListProcessesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List processes in the given project and location. List order is descending by insertion time."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the process with the specified name.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalineage.projects.locations.processes.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the process to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true and the process is not found, the request succeeds but the server doesn't perform any actions.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                }
              },
              "resources": {
                "runs": {
                  "methods": {
                    "create": {
                      "id": "datalineage.projects.locations.processes.runs.create",
                      "path": "v1/{+parent}/runs",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the process that should own the run.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new run."
                    },
                    "get": {
                      "id": "datalineage.projects.locations.processes.runs.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the run to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the details of the specified run."
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the run with the specified name.",
                      "id": "datalineage.projects.locations.processes.runs.delete",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the run to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "required": true
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If set to true and the run is not found, the request succeeds but the server doesn't perform any actions.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists runs in the given project and location. List order is descending by `start_time`.",
                      "id": "datalineage.projects.locations.processes.runs.list",
                      "path": "v1/{+parent}/runs",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The name of process that owns this collection of runs.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of runs to return. The service may return fewer than this value. If unspecified, at most 50 runs are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The page token received from a previous `ListRuns` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1ListRunsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "id": "datalineage.projects.locations.processes.runs.patch",
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "required": true
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set to true and the run is not found, the request creates it."
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a run."
                    }
                  },
                  "resources": {
                    "lineageEvents": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes the lineage event with the specified name.",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.delete",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The name of the lineage event to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "allowMissing": {
                              "location": "query",
                              "description": "Optional. If set to true and the lineage event is not found, the request succeeds but the server doesn't perform any actions.",
                              "type": "boolean"
                            }
                          },
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "list": {
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.list",
                          "path": "v1/{+parent}/lineageEvents",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the run that owns the collection of lineage events to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of lineage events to return. The service may return fewer events than this value. If unspecified, at most 50 events are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The page token received from a previous `ListLineageEvents` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists lineage events in the given project and location. The list order is not defined."
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a new lineage event.",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.create",
                          "path": "v1/{+parent}/lineageEvents",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the run that should own the lineage event.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$"
                            },
                            "requestId": {
                              "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST"
                        },
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.get",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the lineage event to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets details of a specified lineage event."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "get": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "datalineage.folders.locations.config.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the Config for a given resource."
                },
                "patch": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.folders.locations.config.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update the Config for a given resource."
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update the Config for a given resource.",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.organizations.locations.config.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  }
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalineage.organizations.locations.config.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the Config for a given resource."
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://datalineage.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Data Lineage API",
  "protocol": "rest",
  "batchPath": "batch",
  "name": "datalineage",
  "version": "v1",
  "id": "datalineage:v1",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.africa-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://datalineage.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://datalineage.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://datalineage.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://datalineage.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://datalineage.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-north3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-north3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://datalineage.europe-west15.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://datalineage.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://datalineage.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://datalineage.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://datalineage.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://datalineage.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://datalineage.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://datalineage.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://datalineage.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://datalineage.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://datalineage.us-west8.rep.googleapis.com/"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "revision": "20260808",
  "schemas": {
    "GoogleCloudDatacatalogLineageV1MultipleEntityReference": {
      "id": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Optional. The list of entities to search for links. The maximum number of entities is 20.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
          },
          "type": "array"
        }
      },
      "description": "Multiple entity reference for SearchLinksRequest."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Optional. The entities to initiate the search from. Entities can be specified by FQN only, or by FQN and field. To search by FQN and all available fields for that FQN, use the wildcard `*` as the field value.",
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference"
        }
      },
      "description": "Criteria for the root of the search."
    },
    "GoogleCloudDatacatalogLineageV1LineageEvent": {
      "description": "A lineage event represents an operation on assets. Within the operation, the data flows from the source to the target defined in the links field.",
      "id": "GoogleCloudDatacatalogLineageV1LineageEvent",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. The end of the transformation which resulted in this lineage event. For streaming scenarios, it should be the end of the period from which the lineage is being reported.",
          "format": "google-datetime"
        },
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EventLink"
          },
          "type": "array",
          "description": "Optional. List of source-target pairs. Can't contain more than 100 tuples."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the lineage event. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`. Can be specified or auto-assigned. {lineage_event} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
        },
        "startTime": {
          "description": "Required. The beginning of the transformation which resulted in this lineage event. For streaming scenarios, it should be the beginning of the period from which the lineage is being reported.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters",
      "type": "object",
      "properties": {
        "dependencyTypes": {
          "description": "Optional. Types of dependencies between entities to retrieve. If unspecified, all dependency types are returned.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Dependency type unspecified.",
              "Exact data copy without any change.",
              "Other types of dependencies like filtering or grouping."
            ],
            "enum": [
              "DEPENDENCY_TYPE_UNSPECIFIED",
              "EXACT_COPY",
              "OTHER"
            ],
            "type": "string"
          }
        },
        "timeRange": {
          "description": "Optional. Time interval to search for lineage. If unspecified, all lineage is returned. Currently, at most one of `start_time` and `end_time` can be set.",
          "$ref": "GoogleTypeInterval"
        },
        "entitySet": {
          "type": "string",
          "description": "Optional. Entity set restriction. If unspecified, the method returns all entities.",
          "enumDescriptions": [
            "The entity set is unspecified. Returns all the data.",
            "Returns entities with only FQN specified. For example, entities with the `field` field set are not returned."
          ],
          "enum": [
            "ENTITY_SET_UNSPECIFIED",
            "ENTITIES"
          ]
        }
      },
      "description": "Filters for the search."
    },
    "GoogleCloudDatacatalogLineageV1OperationMetadata": {
      "id": "GoogleCloudDatacatalogLineageV1OperationMetadata",
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [relative name] (https://cloud.google.com//apis/design/resource_names#relative_resource_name) of the resource being operated on."
        },
        "operationType": {
          "description": "Output only. The type of the operation being performed.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The resource deletion operation.",
            "The resource creation operation."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DELETE",
            "CREATE"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the operation submission to the server.",
          "format": "google-datetime"
        },
        "resourceUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The UUID of the resource being operated on."
        },
        "endTime": {
          "description": "Output only. The timestamp of the operation termination, regardless of its success. This field is unset if the operation is still ongoing.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running and did not succeed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current operation state."
        }
      },
      "description": "Metadata describing the operation."
    },
    "GoogleCloudDatacatalogLineageV1ListProcessesResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ListProcessesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages."
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Process"
          },
          "description": "The processes from the specified project and location."
        }
      },
      "description": "Response message for ListProcesses."
    },
    "GoogleCloudDatacatalogLineageV1EventLink": {
      "description": "A lineage between source and target entities.",
      "id": "GoogleCloudDatacatalogLineageV1EventLink",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. Reference to the source entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "target": {
          "description": "Required. Reference to the target entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "dependencyInfo": {
          "description": "Optional. Describes how the target depends on the source.",
          "$ref": "GoogleCloudDatacatalogLineageV1DependencyInfo"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksResponse": {
      "description": "Response message for SearchLinks.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksResponse",
      "type": "object",
      "properties": {
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Link"
          },
          "type": "array",
          "description": "The list of links for a given asset. Can be empty if the asset has no relations of requested type (source or target)."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response."
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. If true, ingestion of lineage should be enabled. If false, it should be disabled. If unspecified, the system default value is used."
        }
      },
      "description": "Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children."
    },
    "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse": {
      "description": "Response message for ListLineageEvents.",
      "id": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse",
      "type": "object",
      "properties": {
        "lineageEvents": {
          "description": "Lineage events from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
          }
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse": {
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response."
        },
        "processLinks": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinks"
          },
          "type": "array",
          "description": "An array of processes associated with the specified links."
        }
      },
      "description": "Response message for BatchSearchLinkProcesses."
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse",
      "type": "object",
      "properties": {
        "links": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLink"
          },
          "type": "array",
          "description": "Output only. The lineage links that match the search criteria. Can be empty if no links match."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. If non-empty, the result set might be incomplete. Currently, only locations are supported. Format: `projects/[PROJECT_NUMBER]/locations/[LOCATION]` Example: projects/123456789/locations/us-east1",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for SearchLineageStreaming."
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinks": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinks",
      "type": "object",
      "properties": {
        "links": {
          "description": "An array containing link details objects of the links provided in the original request. A single process can result in creating multiple links. If any of the links you provide in the request are created by the same process, they all are included in this array.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo"
          },
          "type": "array"
        },
        "process": {
          "type": "string",
          "description": "The process name in the format of `projects/{project}/locations/{location}/processes/{process}`."
        }
      },
      "description": "Links associated with a specific process."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest": {
      "description": "Request message for SearchLineageStreaming.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest",
      "type": "object",
      "properties": {
        "limits": {
          "description": "Optional. Limits for the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits"
        },
        "rootCriteria": {
          "description": "Required. Criteria for the root of the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria"
        },
        "direction": {
          "type": "string",
          "description": "Required. Direction of the search.",
          "enumDescriptions": [
            "Direction is unspecified.",
            "Retrieve links that lead from the specified asset to downstream assets.",
            "Retrieve links that lead from upstream assets to the specified asset."
          ],
          "enum": [
            "SEARCH_DIRECTION_UNSPECIFIED",
            "DOWNSTREAM",
            "UPSTREAM"
          ]
        },
        "filters": {
          "description": "Optional. Filters for the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters"
        },
        "locations": {
          "description": "Required. The locations to search in. This list should contain the location from the `parent` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse": {
      "description": "Response message for ProcessOpenLineageRunEvent.",
      "id": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse",
      "type": "object",
      "properties": {
        "lineageEvents": {
          "description": "Created lineage event names. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "run": {
          "type": "string",
          "description": "Created run name. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`."
        },
        "process": {
          "type": "string",
          "description": "Created process name. Format: `projects/{project}/locations/{location}/processes/{process}`."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1Config": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1Config",
      "type": "object",
      "properties": {
        "ingestion": {
          "description": "Optional. Ingestion rule for Data Lineage ingestion.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a config from overwriting each other. It is required that systems make use of the `etag` in the read-modify-write cycle to perform config updates in order to avoid race conditions: An `etag` is returned in the response to `GetConfig`, and systems are expected to put that etag in the request to `UpdateConfig` to ensure that their change will be applied to the same version of the config. If an `etag` is not provided in the call to `UpdateConfig`, then the existing config, if any, will be overwritten.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
          "type": "string"
        }
      },
      "description": "Configuration for Data Lineage. Defines different configuration options for Lineage customers to control behaviour of lineage systems."
    },
    "GoogleCloudDatacatalogLineageV1ListRunsResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ListRunsResponse",
      "type": "object",
      "properties": {
        "runs": {
          "description": "The runs from the specified project and location.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Run"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListRuns."
    },
    "GoogleCloudDatacatalogLineageV1EntityReference": {
      "description": "The soft reference to everything you can attach a lineage event to.",
      "id": "GoogleCloudDatacatalogLineageV1EntityReference",
      "type": "object",
      "properties": {
        "field": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Field path within the entity. Each nesting level should be a separate value in the repeated field. The order matters. Must be empty for asset level lineage For example to address \"salary.net\" subfield where \"salary\" is a column and \"net\" is a proto field two values in the `field` should be reported, the first is \"salary\" and the second is \"net\". Each field length is limited to 500 characters. Maximum supported nesting level is 20."
        },
        "fullyQualifiedName": {
          "type": "string",
          "description": "Required. [Fully Qualified Name (FQN)](https://cloud.google.com/dataplex/docs/fully-qualified-names) of the entity."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksRequest": {
      "description": "Request message for SearchLinks.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksRequest",
      "type": "object",
      "properties": {
        "target": {
          "description": "Optional. Send asset information in the **target** field to retrieve all links that lead from upstream assets to the specified asset.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "sources": {
          "description": "Optional. Send a list of asset information in the **sources** field to retrieve all links that lead from the specified assets to downstream assets. This field is similar to the `source` source field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`.",
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference"
        },
        "source": {
          "description": "Optional. Send asset information in the **source** field to retrieve all links that lead from the specified asset to downstream assets.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "pageSize": {
          "description": "Optional. The maximum number of links to return in a single page of the response. A page may contain fewer links than this value. If unspecified, at most 10 links are returned. Maximum value is 100; values greater than 100 are reduced to 100.",
          "format": "int32",
          "type": "integer"
        },
        "targets": {
          "description": "Optional. Send a list of asset information in the **targets** field to retrieve all links that lead from upstream assets to the specified assets. This field is similar to the `target` target field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`.",
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference"
        },
        "pageToken": {
          "description": "Optional. The page token received from a previous `SearchLinksRequest` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest": {
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. An array of links to check for their associated LineageProcesses. The maximum number of items in this array is 100. If the request contains more than 100 links, it returns the `INVALID_ARGUMENT` error. Format: `projects/{project}/locations/{location}/links/{link}`."
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of processes to return in a single page of the response. A page may contain fewer results than this value.",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The page token received from a previous `BatchSearchLinkProcesses` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request."
        }
      },
      "description": "Request message for BatchSearchLinkProcesses."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess": {
      "description": "Process metadata for the link.",
      "id": "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess",
      "type": "object",
      "properties": {
        "process": {
          "description": "Process that created the link.",
          "$ref": "GoogleCloudDatacatalogLineageV1Process"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinkInfo": {
      "description": "Link details.",
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end of the last event establishing this link-process tuple.",
          "format": "google-datetime"
        },
        "link": {
          "type": "string",
          "description": "The name of the link in the format of `projects/{project}/locations/{location}/links/{link}`."
        },
        "startTime": {
          "description": "The start of the first event establishing this link-process tuple.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector",
      "type": "object",
      "properties": {
        "integration": {
          "description": "Required. Integration to which the rule applies. This field can be used to specify the integration against which the ingestion rule should be applied.",
          "enumDescriptions": [
            "Integration is Unspecified",
            "BigQuery",
            "Dataproc",
            "Looker Core",
            "Managed Service for Apache Airflow (formerly known as Cloud Composer)"
          ],
          "enum": [
            "INTEGRATION_UNSPECIFIED",
            "BIGQUERY",
            "DATAPROC",
            "LOOKER_CORE",
            "MANAGED_AIRFLOW"
          ],
          "type": "string"
        }
      },
      "description": "Integration selector of the rule. The rule is only applied to the Integration selected by the selector."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits",
      "type": "object",
      "properties": {
        "maxResults": {
          "description": "Optional. The maximum number of links to return in the response. The default value is 1_000 and the maximum value is 10_000.",
          "format": "int32",
          "type": "integer"
        },
        "maxDepth": {
          "description": "Optional. The maximum depth of the search. The default value is 5 and maximum value is 100.",
          "format": "int32",
          "type": "integer"
        },
        "maxProcessPerLink": {
          "description": "Optional. The maximum number of processes to return per link. The default value is 0 and the maximum value is 100. If this value is non-zero, the response will contain process names for the links. To retrieve full process details in the response, include `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Limits for the search results."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule": {
      "description": "Ingestion rule for Data Lineage ingestion.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule",
      "type": "object",
      "properties": {
        "integrationSelector": {
          "description": "Required. Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector"
        },
        "lineageEnablement": {
          "description": "Required. Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children. If unspecified, the ingestion will be enabled only if it was configured in the resource's parent.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo": {
      "description": "Dependency info describes how one entity is dependent on another.",
      "id": "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo",
      "type": "object",
      "properties": {
        "dependencyType": {
          "type": "string",
          "description": "The type of dependency.",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1Origin": {
      "description": "Origin of a process.",
      "id": "GoogleCloudDatacatalogLineageV1Origin",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "Type of the source. Use of a source_type other than `CUSTOM` for process creation or updating is highly discouraged. It might be restricted in the future without notice. There will be increase in cost if you use any of the source types other than `CUSTOM`.",
          "enumDescriptions": [
            "Source is Unspecified",
            "A custom source",
            "BigQuery",
            "Data Fusion",
            "Composer",
            "Looker Studio",
            "Dataproc",
            "Vertex AI",
            "Dataflow",
            "Looker Core"
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CUSTOM",
            "BIGQUERY",
            "DATA_FUSION",
            "COMPOSER",
            "LOOKER_STUDIO",
            "DATAPROC",
            "VERTEX_AI",
            "DATAFLOW",
            "LOOKER_CORE"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "If the source_type isn't CUSTOM, the value of this field should be a Google Cloud resource name of the system, which reports lineage. The project and location parts of the resource name must match the project and location of the lineage resource being created. Examples: - `{source_type: COMPOSER, name: \"projects/foo/locations/us/environments/bar\"}` - `{source_type: BIGQUERY, name: \"projects/foo/locations/eu\"}` - `{source_type: CUSTOM, name: \"myCustomIntegration\"}`"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1DependencyInfo": {
      "id": "GoogleCloudDatacatalogLineageV1DependencyInfo",
      "type": "object",
      "properties": {
        "dependencyType": {
          "type": "string",
          "description": "Required. Type of dependency.",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ]
        }
      },
      "description": "Dependency info describes how one entity depends on another."
    },
    "GoogleTypeInterval": {
      "id": "GoogleTypeInterval",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "GoogleCloudDatacatalogLineageV1Link": {
      "id": "GoogleCloudDatacatalogLineageV1Link",
      "type": "object",
      "properties": {
        "target": {
          "description": "The pointer to the entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The name of the link. Format: `projects/{project}/locations/{location}/links/{link}`."
        },
        "source": {
          "description": "The pointer to the entity that is the **source** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "startTime": {
          "type": "string",
          "description": "The start of the first event establishing this link.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the last event establishing this link.",
          "format": "google-datetime"
        },
        "dependencyInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LinkDependencyInfo"
          },
          "description": "Optional. The dependency info of the link (applies only to column level links)."
        }
      },
      "description": "Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are created when LineageEvents record data transformation between related assets."
    },
    "GoogleCloudDatacatalogLineageV1LinkDependencyInfo": {
      "id": "GoogleCloudDatacatalogLineageV1LinkDependencyInfo",
      "type": "object",
      "properties": {
        "dependencyType": {
          "description": "The type of dependency.",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ],
          "type": "string"
        }
      },
      "description": "Dependency info describes how one entity depends on another."
    },
[...]
