{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "datastore:v1beta3",
  "name": "datastore",
  "schemas": {
    "LookupRequest": {
      "properties": {
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this lookup request."
        },
        "propertyMask": {
          "$ref": "PropertyMask",
          "description": "The properties to return. Defaults to returning all properties. If this field is set and an entity has a property not referenced in the mask, it will be absent from LookupResponse.found.entity.properties. The entity's key is always returned."
        },
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "description": "Required. Keys of entities to look up.",
          "type": "array"
        }
      },
      "id": "LookupRequest",
      "type": "object",
      "description": "The request for Datastore.Lookup."
    },
    "ExecutionStats": {
      "description": "Execution statistics for the query.",
      "properties": {
        "resultsReturned": {
          "format": "int64",
          "description": "Total number of results returned, including documents, projections, aggregation results, keys.",
          "type": "string"
        },
        "readOperations": {
          "type": "string",
          "format": "int64",
          "description": "Total billable read operations."
        },
        "executionDuration": {
          "type": "string",
          "description": "Total time to execute the query in the backend.",
          "format": "google-duration"
        },
        "debugStats": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }"
        }
      },
      "type": "object",
      "id": "ExecutionStats"
    },
    "CompositeFilter": {
      "description": "A filter that merges multiple other filters using the given operator.",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ],
          "description": "The operator for combining multiple filters.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ]
        },
        "filters": {
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "id": "CompositeFilter",
      "type": "object"
    },
    "Aggregation": {
      "type": "object",
      "id": "Aggregation",
      "properties": {
        "count": {
          "$ref": "Count",
          "description": "Count aggregator."
        },
        "avg": {
          "$ref": "Avg",
          "description": "Average aggregator."
        },
        "alias": {
          "description": "Optional. Optional name of the property to store the result of the aggregation. If not provided, Datastore will pick a default name following the format `property_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS property_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS property_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to entity property name limitations.",
          "type": "string"
        },
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "Sum"
        }
      },
      "description": "Defines an aggregation that produces a single result."
    },
    "TransactionOptions": {
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "properties": {
        "readOnly": {
          "description": "The transaction should only allow reads.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction should allow both reads and writes."
        }
      },
      "type": "object",
      "id": "TransactionOptions"
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "properties": {
        "properties": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "type": "object"
        },
        "key": {
          "$ref": "Key",
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
        }
      },
      "description": "A Datastore data object. Must not exceed 1 MiB - 4 bytes."
    },
    "PlanSummary": {
      "id": "PlanSummary",
      "properties": {
        "indexesUsed": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]",
          "type": "array"
        }
      },
      "description": "Planning phase information for the query.",
      "type": "object"
    },
    "RollbackResponse": {
      "type": "object",
      "properties": {},
      "id": "RollbackResponse",
      "description": "The response for Datastore.Rollback. (an empty message)."
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
        }
      },
      "type": "object"
    },
    "PathElement": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes.",
          "type": "string"
        },
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes.",
          "type": "string"
        }
      },
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "type": "object",
      "id": "PathElement"
    },
    "GoogleDatastoreAdminV1Progress": {
      "id": "GoogleDatastoreAdminV1Progress",
      "properties": {
        "workCompleted": {
          "format": "int64",
          "type": "string",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated."
        },
        "workEstimated": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
        }
      },
      "type": "object",
      "description": "Measures the progress of a particular metric."
    },
    "GoogleDatastoreAdminV1MigrationProgressEvent": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1MigrationProgressEvent",
      "description": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "properties": {
        "step": {
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ],
          "description": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state.",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ]
        },
        "redirectWritesStepDetails": {
          "description": "Details for the `REDIRECT_WRITES` step.",
          "$ref": "GoogleDatastoreAdminV1RedirectWritesStepDetails"
        },
        "prepareStepDetails": {
          "description": "Details for the `PREPARE` step.",
          "$ref": "GoogleDatastoreAdminV1PrepareStepDetails"
        }
      }
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the Operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise."
        },
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest."
        }
      },
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "description": "Metadata common to all Datastore Admin operations.",
      "type": "object"
    },
    "PropertyMask": {
      "id": "PropertyMask",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The paths to the properties covered by this mask. A path is a list of property names separated by dots (`.`), for example `foo.bar` means the property `bar` inside the entity property `foo` inside the entity associated with this path. If a property name contains a dot `.` or a backslash `\\`, then that name must be escaped. A path must not be empty, and may not reference a value inside an array value."
        }
      },
      "type": "object",
      "description": "The set of arbitrarily nested property paths used to restrict an operation to only a subset of properties in an entity."
    },
    "ReadOnly": {
      "type": "object",
      "id": "ReadOnly",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Reads entities at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        }
      },
      "description": "Options specific to read-only transactions."
    },
    "ExplainMetrics": {
      "description": "Explain metrics for the query.",
      "properties": {
        "executionStats": {
          "description": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true.",
          "$ref": "ExecutionStats"
        },
        "planSummary": {
          "$ref": "PlanSummary",
          "description": "Planning phase information for the query."
        }
      },
      "type": "object",
      "id": "ExplainMetrics"
    },
    "BeginTransactionRequest": {
      "description": "The request for Datastore.BeginTransaction.",
      "properties": {
        "transactionOptions": {
          "description": "Options for a new transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "type": "object",
      "id": "BeginTransactionRequest"
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "id": "GoogleDatastoreAdminV1EntityFilter",
      "type": "object",
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "properties": {
        "kinds": {
          "description": "If empty, then this represents all kinds.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "namespaceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
        }
      }
    },
    "Value": {
      "id": "Value",
      "type": "object",
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "entityValue": {
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key.",
          "$ref": "Entity"
        },
        "excludeFromIndexes": {
          "description": "If the value should be excluded from all indexes including those defined explicitly.",
          "type": "boolean"
        },
        "keyValue": {
          "description": "A key value.",
          "$ref": "Key"
        },
        "blobValue": {
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "arrayValue": {
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`.",
          "$ref": "ArrayValue"
        },
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value."
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes."
        },
        "meaning": {
          "format": "int32",
          "description": "The `meaning` field should only be populated for backwards compatibility.",
          "type": "integer"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "timestampValue": {
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A message that can hold any of the supported value types and associated metadata."
    },
    "GoogleDatastoreAdminV1MigrationStateEvent": {
      "description": "An event signifying a change in state of a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "type": "object",
      "id": "GoogleDatastoreAdminV1MigrationStateEvent",
      "properties": {
        "state": {
          "description": "The new state of the migration.",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ]
        }
      }
    },
    "GoogleDatastoreAdminV1PrepareStepDetails": {
      "description": "Details for the `PREPARE` step.",
      "id": "GoogleDatastoreAdminV1PrepareStepDetails",
      "properties": {
        "concurrencyMode": {
          "description": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step.",
          "type": "string",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ]
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities.",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "type": "object"
    },
    "LookupResponse": {
      "type": "object",
      "description": "The response for Datastore.Lookup.",
      "id": "LookupResponse",
      "properties": {
        "found": {
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "deferred": {
          "type": "array",
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "items": {
            "$ref": "Key"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which these entities were read or found missing."
        },
        "missing": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array"
        }
      }
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "type": "object",
      "properties": {
        "propertyMask": {
          "$ref": "PropertyMask",
          "description": "The properties to return. This field must not be set for a projection query. See LookupRequest.property_mask."
        },
        "gqlQuery": {
          "description": "The GQL query to run. This query must be a non-aggregation query.",
          "$ref": "GqlQuery"
        },
        "partitionId": {
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID.",
          "$ref": "PartitionId"
        },
        "query": {
          "description": "The query to run.",
          "$ref": "Query"
        },
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this query."
        },
        "explainOptions": {
          "$ref": "ExplainOptions",
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
        }
      },
      "description": "The request for Datastore.RunQuery."
    },
    "RunAggregationQueryRequest": {
      "id": "RunAggregationQueryRequest",
      "description": "The request for Datastore.RunAggregationQuery.",
      "type": "object",
      "properties": {
        "aggregationQuery": {
          "$ref": "AggregationQuery",
          "description": "The query to run."
        },
        "gqlQuery": {
          "$ref": "GqlQuery",
          "description": "The GQL query to run. This query must be an aggregation query."
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
        }
      }
    },
    "PropertyOrder": {
      "description": "The desired order for a specific property.",
      "properties": {
        "property": {
          "description": "The property to order by.",
          "$ref": "PropertyReference"
        },
        "direction": {
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ]
        }
      },
      "id": "PropertyOrder",
      "type": "object"
    },
    "RunQueryResponse": {
      "type": "object",
      "description": "The response for Datastore.RunQuery.",
      "id": "RunQueryResponse",
      "properties": {
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "batch": {
          "$ref": "QueryResultBatch",
          "description": "A batch of query results. This is always present unless running a query under explain-only mode: RunQueryRequest.explain_options was provided and ExplainOptions.analyze was set to false."
        },
        "query": {
          "$ref": "Query",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        }
      }
    },
    "Sum": {
      "description": "Sum of the values of the requested property. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers.",
      "id": "Sum",
      "properties": {
        "property": {
          "description": "The property to aggregate on.",
          "$ref": "PropertyReference"
        }
      },
      "type": "object"
    },
    "FindNearest": {
      "id": "FindNearest",
      "properties": {
        "distanceThreshold": {
          "type": "number",
          "description": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: WHERE distance <= distance_threshold * For DOT_PRODUCT: WHERE distance >= distance_threshold",
          "format": "double"
        },
        "distanceMeasure": {
          "description": "Required. The Distance Measure to use, required.",
          "type": "string",
          "enum": [
            "DISTANCE_MEASURE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE",
            "DOT_PRODUCT"
          ],
          "enumDescriptions": [
            "Should not be set.",
            "Measures the EUCLIDEAN distance between the vectors. See [Euclidean](https://en.wikipedia.org/wiki/Euclidean_distance) to learn more. The resulting distance decreases the more similar two vectors are.",
            "COSINE distance compares vectors based on the angle between them, which allows you to measure similarity that isn't based on the vectors magnitude. We recommend using DOT_PRODUCT with unit normalized vectors instead of COSINE distance, which is mathematically equivalent with better performance. See [Cosine Similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to learn more about COSINE similarity and COSINE distance. The resulting COSINE distance decreases the more similar two vectors are.",
            "Similar to cosine but is affected by the magnitude of the vectors. See [Dot Product](https://en.wikipedia.org/wiki/Dot_product) to learn more. The resulting distance increases the more similar two vectors are."
          ]
        },
        "limit": {
          "format": "int32",
          "description": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 100.",
          "type": "integer"
        },
        "vectorProperty": {
          "description": "Required. An indexed vector property to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned.",
          "$ref": "PropertyReference"
        },
        "distanceResultProperty": {
          "description": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to entity property limitations.",
          "type": "string"
        },
        "queryVector": {
          "$ref": "Value",
          "description": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions."
        }
      },
      "type": "object",
      "description": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries."
    },
    "GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1RedirectWritesStepDetails",
      "description": "Details for the `REDIRECT_WRITES` step.",
      "properties": {
        "concurrencyMode": {
          "type": "string",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "description": "The concurrency mode for this database.",
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ]
        }
      }
    },
    "LatLng": {
      "type": "object",
      "id": "LatLng",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "RunAggregationQueryResponse": {
      "id": "RunAggregationQueryResponse",
      "type": "object",
      "properties": {
        "batch": {
          "description": "A batch of aggregation results. Always present.",
          "$ref": "AggregationResultBatch"
        },
        "query": {
          "description": "The parsed form of the `GqlQuery` from the request, if it was set.",
          "$ref": "AggregationQuery"
        },
        "explainMetrics": {
          "$ref": "ExplainMetrics",
          "description": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
        }
      },
      "description": "The response for Datastore.RunAggregationQuery."
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time that work began on the operation.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The current state of the Operation."
        },
        "operationType": {
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ]
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise."
        }
      },
      "description": "Metadata common to all Datastore Admin operations."
    },
    "ReserveIdsRequest": {
      "description": "The request for Datastore.ReserveIds.",
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated."
        }
      },
      "type": "object",
      "id": "ReserveIdsRequest"
    },
    "AllocateIdsResponse": {
      "type": "object",
      "description": "The response for Datastore.AllocateIds.",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID."
        }
      },
      "id": "AllocateIdsResponse"
    },
    "PropertyFilter": {
      "description": "A filter on a specific property.",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `property` is less than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is less than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is equal to the given `value`.",
            "The given `property` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No `NOT_IN` is in the same query.",
            "The given `property` is not equal to the given `value`. Requires: * No other `NOT_EQUAL` or `NOT_IN` is in the same query. * That `property` comes first in the `order_by`.",
            "Limit the result set to the given entity and its descendants. Requires: * That `value` is an entity key. * All evaluated disjunctions must have the same `HAS_ANCESTOR` filter.",
            "The value of the `property` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `OR`, `IN`, `NOT_IN`, `NOT_EQUAL` is in the same query. * That `field` comes first in the `order_by`."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "IN",
            "NOT_EQUAL",
            "HAS_ANCESTOR",
            "NOT_IN"
          ],
          "description": "The operator to filter by."
        },
        "value": {
          "description": "The value to compare the property to.",
          "$ref": "Value"
        },
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to filter by."
        }
      },
      "type": "object",
      "id": "PropertyFilter"
    },
    "CommitResponse": {
      "description": "The response for Datastore.Commit.",
      "id": "CommitResponse",
      "properties": {
        "mutationResults": {
          "items": {
            "$ref": "MutationResult"
          },
          "type": "array",
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request."
        },
        "commitTime": {
          "description": "The transaction commit timestamp. Not set for non-transactional commits.",
          "format": "google-datetime",
          "type": "string"
        },
        "indexUpdates": {
          "description": "The number of index entries updated during the commit, or zero if none were updated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AggregationQuery": {
      "description": "Datastore query for running an aggregation over a Query.",
      "id": "AggregationQuery",
      "type": "object",
      "properties": {
        "nestedQuery": {
          "$ref": "Query",
          "description": "Nested query for aggregation"
        },
        "aggregations": {
          "type": "array",
          "description": "Optional. Series of aggregations to apply over the results of the `nested_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "items": {
            "$ref": "Aggregation"
          }
        }
      }
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "properties": {
        "distinctOn": {
          "type": "array",
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned). Requires: * If `order` is specified, the set of distinct on properties must appear before the non-distinct on properties in `order`.",
          "items": {
            "$ref": "PropertyReference"
          }
        },
        "limit": {
          "type": "integer",
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be >= 0 if specified.",
          "format": "int32"
        },
        "startCursor": {
          "format": "byte",
          "type": "string",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
        },
        "endCursor": {
          "type": "string",
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "offset": {
          "type": "integer",
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be >= 0 if specified.",
          "format": "int32"
        },
        "kind": {
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified.",
          "items": {
            "$ref": "KindExpression"
          },
          "type": "array"
        },
        "filter": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "findNearest": {
          "$ref": "FindNearest",
          "description": "Optional. A potential Nearest Neighbors Search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector."
        },
        "order": {
          "type": "array",
          "items": {
            "$ref": "PropertyOrder"
          },
          "description": "The order to apply to the query results (if empty, order is unspecified)."
        },
        "projection": {
          "items": {
            "$ref": "Projection"
          },
          "description": "The projection to return. Defaults to returning all properties.",
          "type": "array"
        }
      },
      "description": "A query for entities. The query stages are executed in the following order: 1. kind 2. filter 3. projection 4. order + start_cursor + end_cursor 5. offset 6. limit 7. find_nearest"
    },
    "PartitionId": {
      "type": "object",
      "id": "PartitionId",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        }
      },
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state."
    },
    "ReserveIdsResponse": {
      "type": "object",
      "description": "The response for Datastore.ReserveIds.",
      "id": "ReserveIdsResponse",
      "properties": {}
    },
    "Key": {
      "id": "Key",
      "type": "object",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "PartitionId"
        },
        "path": {
          "type": "array",
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements.",
          "items": {
            "$ref": "PathElement"
          }
        }
      },
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts."
    },
    "Avg": {
      "type": "object",
      "id": "Avg",
      "properties": {
        "property": {
          "description": "The property to aggregate on.",
          "$ref": "PropertyReference"
        }
      },
      "description": "Average of the values of the requested property. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double."
    },
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "type": "object",
      "description": "Metadata for ImportEntities operations.",
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
      "properties": {
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of which entities are being imported."
        }
      }
    },
    "EntityResult": {
      "properties": {
        "createTime": {
          "description": "The time at which the entity was created. This field is set for `FULL` entity results. If this entity is missing, this field will not be set.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "The time at which the entity was last changed. This field is set for `FULL` entity results. If this entity is missing, this field will not be set.",
          "type": "string",
          "format": "google-datetime"
        },
        "cursor": {
          "format": "byte",
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message.",
          "type": "string"
        },
        "version": {
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads.",
          "format": "int64",
          "type": "string"
        },
        "entity": {
          "$ref": "Entity",
          "description": "The resulting entity."
        }
      },
      "type": "object",
      "id": "EntityResult",
      "description": "The result of fetching an entity from Datastore."
    },
    "AggregationResult": {
      "description": "The result of a single bucket from a Datastore aggregation query. The keys of `aggregate_properties` are the same for all results in an aggregation query, unlike entity queries which can have different fields present for each result.",
      "properties": {
        "aggregateProperties": {
          "type": "object",
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_entities`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "id": "AggregationResult",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        },
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata"
    },
    "CommitRequest": {
      "type": "object",
      "description": "The request for Datastore.Commit.",
      "id": "CommitRequest",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ],
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ]
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction."
        },
        "mutations": {
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity.",
          "type": "array",
          "items": {
            "$ref": "Mutation"
          }
        }
      }
    },
    "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "properties": {
        "migrationState": {
          "description": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "type": "string",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ]
        },
        "migrationStep": {
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ],
          "description": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata",
      "description": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\"",
      "type": "object"
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "properties": {
        "values": {
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "description": "An array value.",
      "type": "object"
    },
    "PropertyReference": {
      "description": "A reference to a property relative to the kind expressions.",
      "properties": {
        "name": {
          "description": "A reference to a property. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to entity property name limitations.",
          "type": "string"
        }
      },
      "id": "PropertyReference",
      "type": "object"
    },
    "Projection": {
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to project."
        }
      },
      "description": "A representation of a property in a projection.",
      "type": "object",
      "id": "Projection"
    },
    "ReadOptions": {
      "description": "The options shared by read requests.",
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction."
        },
        "readConsistency": {
          "description": "The non-transactional read consistency to use.",
          "type": "string",
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ]
        },
        "readTime": {
          "type": "string",
          "description": "Reads entities as they were at the given time. This value is only supported for Cloud Firestore in Datastore mode. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        }
      },
      "id": "ReadOptions"
    },
    "Mutation": {
      "id": "Mutation",
      "description": "A mutation to apply to an entity.",
      "type": "object",
      "properties": {
        "propertyMask": {
          "description": "The properties to write in this mutation. None of the properties in the mask may have a reserved name, except for `__key__`. This field is ignored for `delete`. If the entity already exists, only properties referenced in the mask are updated, others are left untouched. Properties referenced in the mask but not in the entity are deleted.",
          "$ref": "PropertyMask"
        },
        "propertyTransforms": {
          "items": {
            "$ref": "PropertyTransform"
          },
          "description": "Optional. The transforms to perform on the entity. This field can be set only when the operation is `insert`, `update`, or `upsert`. If present, the transforms are be applied to the entity regardless of the property mask, in order, after the operation.",
          "type": "array"
        },
        "upsert": {
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "delete": {
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only.",
          "$ref": "Key"
        },
        "baseVersion": {
          "type": "string",
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts.",
          "format": "int64"
        },
        "updateTime": {
          "description": "The update time of the entity that this mutation is being applied to. If this does not match the current update time on the server, the mutation conflicts.",
          "type": "string",
          "format": "google-datetime"
        },
        "update": {
          "description": "The entity to update. The entity must already exist. Must have a complete key path.",
          "$ref": "Entity"
        },
        "conflictResolutionStrategy": {
          "enumDescriptions": [
            "Unspecified. Defaults to `SERVER_VALUE`.",
            "The server entity is kept.",
            "The whole commit request fails."
          ],
          "description": "The strategy to use when a conflict is detected. Defaults to `SERVER_VALUE`. If this is set, then `conflict_detection_strategy` must also be set.",
          "type": "string",
          "enum": [
            "STRATEGY_UNSPECIFIED",
            "SERVER_VALUE",
            "FAIL"
          ]
        },
        "insert": {
          "$ref": "Entity",
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete."
        }
      }
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter",
      "properties": {
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
        },
        "kinds": {
          "items": {
            "type": "string"
          },
          "description": "If empty, then this represents all kinds.",
          "type": "array"
        }
      },
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']"
    },
    "ReadWrite": {
      "description": "Options specific to read / write transactions.",
      "properties": {
        "previousTransaction": {
          "format": "byte",
          "type": "string",
          "description": "The transaction identifier of the transaction being retried."
        }
      },
      "type": "object",
      "id": "ReadWrite"
    },
    "AggregationResultBatch": {
      "properties": {
        "moreResults": {
          "type": "string",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ],
          "description": "The state of the query after the current batch. Only COUNT(*) aggregations are supported in the initial launch. Therefore, expected result type is limited to `NO_MORE_RESULTS`."
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Read timestamp this batch was returned from. In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches."
        },
        "aggregationResults": {
          "description": "The aggregation results for this batch.",
          "items": {
            "$ref": "AggregationResult"
          },
          "type": "array"
        }
      },
      "description": "A batch of aggregation results produced by an aggregation query.",
      "type": "object",
      "id": "AggregationResultBatch"
    },
    "GqlQuery": {
      "type": "object",
      "properties": {
        "allowLiterals": {
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is.",
          "type": "boolean"
        },
        "queryString": {
          "type": "string",
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
        },
        "namedBindings": {
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`.",
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          },
          "type": "object"
        },
        "positionalBindings": {
          "type": "array",
          "items": {
            "$ref": "GqlQueryParameter"
          },
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true."
        }
      },
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "id": "GqlQuery"
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "properties": {
        "workCompleted": {
          "type": "string",
          "format": "int64",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated."
        },
        "workEstimated": {
          "type": "string",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64"
        }
      },
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1Progress"
    },
    "GqlQueryParameter": {
      "properties": {
        "cursor": {
          "type": "string",
          "format": "byte",
          "description": "A query cursor. Query cursors are returned in query result batches."
        },
        "value": {
          "description": "A value parameter.",
          "$ref": "Value"
        }
      },
      "description": "A binding parameter for a GQL query.",
      "type": "object",
      "id": "GqlQueryParameter"
    },
    "AllocateIdsRequest": {
      "type": "object",
      "properties": {
        "keys": {
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "id": "AllocateIdsRequest",
      "description": "The request for Datastore.AllocateIds."
    },
    "BeginTransactionResponse": {
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "The transaction identifier (always present).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for Datastore.BeginTransaction.",
      "id": "BeginTransactionResponse"
    },
    "Count": {
      "properties": {
        "upTo": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Optional constraint on the maximum number of entities to count. This provides a way to set an upper bound on the number of entities to scan, limiting latency, and cost. Unspecified is interpreted as no bound. If a zero value is provided, a count result of zero should always be expected. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be non-negative when present."
        }
      },
      "id": "Count",
      "description": "Count of entities that match the query. The `COUNT(*)` aggregation function operates on the entire entity so it does not require a field reference.",
      "type": "object"
    },
    "ExplainOptions": {
      "id": "ExplainOptions",
      "type": "object",
      "properties": {
        "analyze": {
          "description": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics.",
          "type": "boolean"
        }
      },
      "description": "Explain options for the query."
    },
    "PropertyTransform": {
      "description": "A transformation of an entity property.",
      "properties": {
        "appendMissingElements": {
          "$ref": "ArrayValue",
          "description": "Appends the given elements in order if they are not already present in the current property value. If the property is not an array, or if the property does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and the null value is equal to the null value. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform result will be the null value."
        },
        "increment": {
          "$ref": "Value",
          "description": "Adds the given value to the property's current value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the given value. If either of the given value or the current property value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follows IEEE 754 semantics. If there is positive/negative integer overflow, the property is resolved to the largest magnitude positive/negative integer."
        },
        "setToServerValue": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple properties (same or different entities) in a transaction, all the properties will get the same server timestamp."
          ],
          "description": "Sets the property to the given server value.",
          "type": "string",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ]
        },
        "property": {
          "type": "string",
          "description": "Optional. The name of the property. Property paths (a list of property names separated by dots (`.`)) may be used to refer to properties inside entity values. For example `foo.bar` means the property `bar` inside the entity property `foo`. If a property name contains a dot `.` or a backlslash `\\`, then that name must be escaped."
        },
        "minimum": {
          "$ref": "Value",
          "description": "Sets the property to the minimum of its current value and the given value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the input value. If a minimum operation is applied where the property and the input value are of mixed types (that is - one is an integer and one is a double) the property takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the property does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN."
        },
        "maximum": {
          "description": "Sets the property to the maximum of its current value and the given value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the given value. If a maximum operation is applied where the property and the input value are of mixed types (that is - one is an integer and one is a double) the property takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the property does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "removeAllFromArray": {
          "$ref": "ArrayValue",
          "description": "Removes all of the given elements from the array in the property. If the property is not an array, or if the property does not yet exist, it is set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and the null value is equal to the null value. This will remove all equivalent values if there are duplicates. The corresponding transform result will be the null value."
        }
      },
      "id": "PropertyTransform",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "description": "Metadata for ImportEntities operations.",
      "properties": {
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata"
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "properties": {
        "transaction": {
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "The request for Datastore.Rollback."
    },
    "QueryResultBatch": {
      "description": "A batch of results produced by a query.",
      "properties": {
        "skippedResults": {
          "format": "int32",
          "type": "integer",
          "description": "The number of results skipped, typically because of an offset."
        },
        "snapshotVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries."
        },
        "skippedCursor": {
          "format": "byte",
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0.",
          "type": "string"
        },
        "entityResults": {
          "description": "The results for this batch.",
          "items": {
            "$ref": "EntityResult"
          },
          "type": "array"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Read timestamp this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches. This value will not be set for eventually consistent queries in Cloud Datastore."
        },
        "moreResults": {
          "type": "string",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "description": "The state of the query after the current batch.",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "entityResultType": {
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ],
          "type": "string",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ],
          "description": "The result type for every entity in `entity_results`."
        },
        "endCursor": {
          "description": "A cursor that points to the position after the last result in the batch.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "QueryResultBatch",
      "type": "object"
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for Index operations.",
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata",
      "properties": {
        "indexId": {
          "type": "string",
          "description": "The index resource ID that this operation is acting on."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        }
      },
      "type": "object"
    },
    "KindExpression": {
      "description": "A representation of a kind.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the kind."
        }
      },
      "id": "KindExpression",
      "type": "object"
    },
    "Filter": {
      "properties": {
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "propertyFilter": {
          "$ref": "PropertyFilter",
          "description": "A filter on a property."
        }
      },
      "id": "Filter",
      "type": "object",
      "description": "A holder for any type of filter."
    },
    "MutationResult": {
      "id": "MutationResult",
      "description": "The result of applying a mutation.",
      "type": "object",
      "properties": {
        "transformResults": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "The results of applying each PropertyTransform, in the same order of the request."
        },
        "createTime": {
          "type": "string",
          "description": "The create time of the entity. This field will not be set after a 'delete'.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "The update time of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the timestamp will be the update timestamp of the current entity. This field will not be set after a 'delete'.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity."
        },
        "key": {
          "description": "The automatically allocated key. Set only when the mutation allocated a key.",
          "$ref": "Key"
        },
        "conflictDetected": {
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation.",
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "revision": "20260818",
  "basePath": "",
  "resources": {
    "projects": {
      "methods": {
        "beginTransaction": {
          "path": "v1beta3/projects/{projectId}:beginTransaction",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "BeginTransactionResponse"
          },
          "id": "datastore.projects.beginTransaction",
          "description": "Begins a new transaction.",
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:beginTransaction"
        },
        "reserveIds": {
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "request": {
            "$ref": "ReserveIdsRequest"
          },
          "id": "datastore.projects.reserveIds",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1beta3/projects/{projectId}:reserveIds",
          "path": "v1beta3/projects/{projectId}:reserveIds",
          "httpMethod": "POST"
        },
        "rollback": {
          "httpMethod": "POST",
          "response": {
            "$ref": "RollbackResponse"
          },
          "path": "v1beta3/projects/{projectId}:rollback",
          "id": "datastore.projects.rollback",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Rolls back a transaction.",
          "request": {
            "$ref": "RollbackRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1beta3/projects/{projectId}:rollback",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the project against which to make the request."
            }
          }
        },
        "runAggregationQuery": {
          "flatPath": "v1beta3/projects/{projectId}:runAggregationQuery",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1beta3/projects/{projectId}:runAggregationQuery",
          "request": {
            "$ref": "RunAggregationQueryRequest"
          },
          "id": "datastore.projects.runAggregationQuery",
          "response": {
            "$ref": "RunAggregationQueryResponse"
          },
          "description": "Runs an aggregation query.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST"
        },
        "runQuery": {
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Queries for entities.",
          "response": {
            "$ref": "RunQueryResponse"
          },
          "request": {
            "$ref": "RunQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "path": "v1beta3/projects/{projectId}:runQuery",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:runQuery",
          "id": "datastore.projects.runQuery"
        },
        "lookup": {
          "description": "Looks up entities by key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "path": "v1beta3/projects/{projectId}:lookup",
          "response": {
            "$ref": "LookupResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "LookupRequest"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "id": "datastore.projects.lookup",
          "flatPath": "v1beta3/projects/{projectId}:lookup"
        },
        "commit": {
          "response": {
            "$ref": "CommitResponse"
          },
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "CommitRequest"
          },
          "id": "datastore.projects.commit",
          "path": "v1beta3/projects/{projectId}:commit",
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1beta3/projects/{projectId}:commit"
        },
        "allocateIds": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted.",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1beta3/projects/{projectId}:allocateIds",
          "id": "datastore.projects.allocateIds",
          "response": {
            "$ref": "AllocateIdsResponse"
          },
          "httpMethod": "POST",
          "path": "v1beta3/projects/{projectId}:allocateIds",
          "request": {
            "$ref": "AllocateIdsRequest"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://datastore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://datastore.googleapis.com/",
  "documentationLink": "https://cloud.google.com/datastore/",
  "version": "v1beta3",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://datastore.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastore.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://datastore.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://datastore.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://datastore.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://datastore.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://datastore.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://datastore.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://datastore.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastore.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://datastore.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://datastore.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://datastore.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://datastore.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://datastore.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://datastore.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://datastore.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://datastore.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://datastore.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastore.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datastore.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://datastore.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://datastore.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://datastore.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastore.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://datastore.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://datastore.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://datastore.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
[...]
