{
  "ownerDomain": "google.com",
  "basePath": "",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://datamigration.googleapis.com/",
  "canonicalName": "Database Migration Service",
  "mtlsRootUrl": "https://datamigration.mtls.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "schemas": {
    "ConvertJobDetails": {
      "id": "ConvertJobDetails",
      "type": "object",
      "description": "Details regarding a Convert background job.",
      "properties": {
        "filter": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. AIP-160 based filter used to specify the entities to convert"
        }
      }
    },
    "FunctionEntity": {
      "id": "FunctionEntity",
      "description": "Function's parent is a schema.",
      "type": "object",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the function.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "InstanceNetworkConfig": {
      "properties": {
        "authorizedExternalNetworks": {
          "description": "Optional. A list of external network authorized to access this instance.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedNetwork"
          }
        },
        "enableOutboundPublicIp": {
          "type": "boolean",
          "description": "Optional. Enabling an outbound public IP address to support a database server sending requests out into the internet."
        },
        "enablePublicIp": {
          "description": "Optional. Enabling public ip for the instance.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Metadata related to instance level network configuration.",
      "id": "InstanceNetworkConfig"
    },
    "MappingRuleFilter": {
      "properties": {
        "parentEntity": {
          "type": "string",
          "description": "Optional. The rule should be applied to entities whose parent entity (fully qualified name) matches the given value. For example, if the rule applies to a table entity, the expected value should be a schema (schema). If the rule applies to a column or index entity, the expected value can be either a schema (schema) or a table (schema.table)"
        },
        "entityNamePrefix": {
          "description": "Optional. The rule should be applied to entities whose non-qualified name starts with the given prefix.",
          "type": "string"
        },
        "entityNameSuffix": {
          "type": "string",
          "description": "Optional. The rule should be applied to entities whose non-qualified name ends with the given suffix."
        },
        "entityNameContains": {
          "type": "string",
          "description": "Optional. The rule should be applied to entities whose non-qualified name contains the given string."
        },
        "entities": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The rule should be applied to specific entities defined by their fully qualified names.",
          "type": "array"
        }
      },
      "id": "MappingRuleFilter",
      "description": "A filter defining the entities that a mapping rule should be applied to. When more than one field is specified, the rule is applied only to entities which match all the fields.",
      "type": "object"
    },
    "SqlServerDagConfig": {
      "description": "Configuration for distributed availability group (DAG) for the SQL Server homogeneous migration.",
      "id": "SqlServerDagConfig",
      "type": "object",
      "properties": {
        "sourceAg": {
          "type": "string",
          "description": "Required. The name of the source availability group. Only used by DAG migrations."
        },
        "linkedServer": {
          "description": "Required. The name of the linked server that points to the source SQL Server instance. Only used by DAG migrations.",
          "type": "string"
        }
      }
    },
    "IndexEntity": {
      "description": "Index is not used as an independent entity, it is retrieved as part of a Table entity.",
      "properties": {
        "unique": {
          "type": "boolean",
          "description": "Boolean value indicating whether the index is unique."
        },
        "tableColumns": {
          "description": "Table columns used as part of the Index, for example B-TREE index should list the columns which constitutes the index.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the index."
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tableColumnsDescending": {
          "type": "array",
          "description": "For each table_column, mark whether it's sorting order is ascending (false) or descending (true). If no value is defined, assume all columns are sorted in ascending order. Otherwise, the number of items must match that of table_columns with each value specifying the direction of the matched column by its index.",
          "items": {
            "type": "boolean"
          }
        },
        "type": {
          "description": "Type of index, for example B-TREE.",
          "type": "string"
        }
      },
      "id": "IndexEntity",
      "type": "object"
    },
    "PrivateConnection": {
      "properties": {
        "displayName": {
          "description": "The private connection display name.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource labels for private connections to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object"
        },
        "pscInterfaceConfig": {
          "description": "PSC Interface configuration.",
          "$ref": "PscInterfaceConfig"
        },
        "reservedPublicIpConfig": {
          "description": "Reserved Public IP configuration.",
          "$ref": "ReservedPublicIpConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The create time of the resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC peering configuration."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error details in case of state FAILED."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update time of the resource.",
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE",
            "DELETED"
          ],
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state.",
            "The private connection has been deleted."
          ],
          "readOnly": true,
          "description": "Output only. The state of the private connection.",
          "type": "string"
        }
      },
      "description": "The PrivateConnection resource is used to establish private connectivity with the customer's network.",
      "id": "PrivateConnection",
      "type": "object"
    },
    "DataCacheConfig": {
      "type": "object",
      "id": "DataCacheConfig",
      "properties": {
        "dataCacheEnabled": {
          "description": "Optional. Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      },
      "description": "Data cache is an optional feature available for Cloud SQL for MySQL Enterprise Plus edition only. For more information on data cache, see [Data cache overview](https://cloud.google.com/sql/help/mysql-data-cache) in Cloud SQL documentation."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "ImportRulesJobDetails": {
      "properties": {
        "fileFormat": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ],
          "description": "Output only. The requested file format.",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ]
        },
        "files": {
          "readOnly": true,
          "description": "Output only. File names used for the import rules job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ImportRulesJobDetails",
      "description": "Details regarding an Import Rules background job."
    },
    "MigrationJob": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state of the migration job is unknown.",
            "The migration job is down for maintenance.",
            "The migration job is in draft mode and no resources are created.",
            "The migration job is being created.",
            "The migration job is created and not started.",
            "The migration job is running.",
            "The migration job failed.",
            "The migration job has been completed.",
            "The migration job is being deleted.",
            "The migration job is being stopped.",
            "The migration job is currently stopped.",
            "The migration job has been deleted.",
            "The migration job is being updated.",
            "The migration job is starting.",
            "The migration job is restarting.",
            "The migration job is resuming."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "MAINTENANCE",
            "DRAFT",
            "CREATING",
            "NOT_STARTED",
            "RUNNING",
            "FAILED",
            "COMPLETED",
            "DELETING",
            "STOPPING",
            "STOPPED",
            "DELETED",
            "UPDATING",
            "STARTING",
            "RESTARTING",
            "RESUMING"
          ],
          "description": "The current migration job state.",
          "type": "string"
        },
        "labels": {
          "description": "The resource labels for migration job to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sqlserverHomogeneousMigrationJobConfig": {
          "$ref": "SqlServerHomogeneousMigrationJobConfig",
          "description": "Optional. Configuration for SQL Server homogeneous migration."
        },
        "purpose": {
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "MIGRATE",
            "FAILBACK"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown purpose. Will be defaulted to MIGRATE.",
            "Standard migration job.",
            "Failback replication job."
          ],
          "description": "Output only. Migration job mode. Migration jobs can be standard forward jobs or failback migration jobs."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If the migration job is completed, the time when it was completed.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the migration job resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
        },
        "staticIpConnectivity": {
          "$ref": "StaticIpConnectivity",
          "description": "static ip connectivity data (default, no additional details needed)."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the migration job resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
        },
        "objectsConfig": {
          "$ref": "MigrationJobObjectsConfig",
          "description": "Optional. The objects that need to be migrated."
        },
        "dumpPath": {
          "description": "The path to the dump file in Google Cloud Storage, in the format: (gs://[BUCKET_NAME]/[OBJECT_NAME]). This field and the \"dump_flags\" field are mutually exclusive.",
          "type": "string"
        },
        "destinationDatabase": {
          "description": "The database engine type and provider of the destination.",
          "$ref": "DatabaseType"
        },
        "source": {
          "description": "Required. The resource name (URI) of the source connection profile.",
          "type": "string"
        },
        "originalMigrationName": {
          "description": "Optional. A failback replication pointer to the resource name (URI) of the original migration job.",
          "type": "string"
        },
        "duration": {
          "description": "Output only. The duration of the migration job (in seconds). A duration in seconds with up to nine fractional digits, terminated by 's'. Example: \"3.5s\".",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        },
        "performanceConfig": {
          "$ref": "PerformanceConfig",
          "description": "Optional. Data dump parallelism settings used by the migration."
        },
        "sqlserverToPostgresConfig": {
          "description": "Configuration for heterogeneous **SQL Server to Cloud SQL for PostgreSQL** migrations.",
          "$ref": "SqlServerToPostgresConfig"
        },
        "reverseSshConnectivity": {
          "description": "The details needed to communicate to the source over Reverse SSH tunnel connectivity.",
          "$ref": "ReverseSshConnectivity"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "destination": {
          "description": "Required. The resource name (URI) of the destination connection profile.",
          "type": "string"
        },
        "phase": {
          "readOnly": true,
          "enumDescriptions": [
            "The phase of the migration job is unknown.",
            "The migration job is in the full dump phase.",
            "The migration job is CDC phase.",
            "The migration job is running the promote phase.",
            "Only RDS flow - waiting for source writes to stop",
            "Only RDS flow - the sources writes stopped, waiting for dump to begin",
            "The migration job is ready to be promoted."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "FULL_DUMP",
            "CDC",
            "PROMOTE_IN_PROGRESS",
            "WAITING_FOR_SOURCE_WRITES_TO_STOP",
            "PREPARING_THE_DUMP",
            "READY_FOR_PROMOTE"
          ],
          "description": "Output only. The current migration job phase.",
          "type": "string"
        },
        "displayName": {
          "description": "The migration job display name.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "This field can be used to select the entities to migrate as part of the migration job. It uses AIP-160 notation to select a subset of the entities configured on the associated conversion-workspace. This field should not be set on migration-jobs that are not associated with a conversion workspace."
        },
        "name": {
          "description": "The name (URI) of this migration job resource, in the form of: projects/{project}/locations/{location}/migrationJobs/{migrationJob}.",
          "type": "string"
        },
        "sourceDatabase": {
          "$ref": "DatabaseType",
          "description": "The database engine type and provider of the source."
        },
        "cmekKeyName": {
          "description": "The CMEK (customer-managed encryption key) fully qualified key name used for the migration job. This field supports all migration jobs types except for: * Mysql to Mysql (use the cmek field in the cloudsql connection profile instead). * PostrgeSQL to PostgreSQL (use the cmek field in the cloudsql connection profile instead). * PostgreSQL to AlloyDB (use the kms_key_name field in the alloydb connection profile instead). Each Cloud CMEK key has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The type of the migration job is unknown.",
            "The migration job is a one time migration.",
            "The migration job is a continuous migration."
          ],
          "description": "Required. The migration job type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "CONTINUOUS"
          ]
        },
        "mysqlHomogeneousConfig": {
          "$ref": "MySqlHomogeneousConfig",
          "description": "Optional. Configuration for MySQL homogeneous migration."
        },
        "error": {
          "description": "Output only. The error details in case of state FAILED.",
          "readOnly": true,
          "$ref": "Status"
        },
        "postgresHomogeneousConfig": {
          "$ref": "PostgresHomogeneousConfig",
          "description": "Optional. Configuration for PostgreSQL homogeneous migration."
        },
        "dumpType": {
          "enumDescriptions": [
            "If not specified, defaults to LOGICAL",
            "Logical dump.",
            "Physical file-based dump. Supported for MySQL to CloudSQL for MySQL migrations only."
          ],
          "description": "Optional. The type of the data dump. Supported for MySQL to CloudSQL for MySQL migrations only.",
          "type": "string",
          "enum": [
            "DUMP_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ]
        },
        "conversionWorkspace": {
          "description": "The conversion workspace used by the migration.",
          "$ref": "ConversionWorkspaceInfo"
        },
        "dumpFlags": {
          "description": "The initial dump flags. This field and the \"dump_path\" field are mutually exclusive.",
          "$ref": "DumpFlags"
        },
        "postgresToSqlserverConfig": {
          "description": "Configuration for heterogeneous failback migrations from **PostgreSQL to SQL Server**.",
          "$ref": "PostgresToSqlServerConfig"
        },
        "oracleToPostgresConfig": {
          "$ref": "OracleToPostgresConfig",
          "description": "Configuration for heterogeneous **Oracle to Cloud SQL for PostgreSQL** and **Oracle to AlloyDB for PostgreSQL** migrations."
        },
        "vpcPeeringConnectivity": {
          "$ref": "VpcPeeringConnectivity",
          "description": "The details of the VPC network that the source database is located in."
        }
      },
      "type": "object",
      "description": "Represents a Database Migration Service migration job object.",
      "id": "MigrationJob"
    },
    "MigrationJobObjectsConfig": {
      "id": "MigrationJobObjectsConfig",
      "type": "object",
      "properties": {
        "sourceObjectsConfig": {
          "$ref": "SourceObjectsConfig",
          "description": "The list of the migration job objects."
        }
      },
      "description": "Configuration for the objects to be migrated."
    },
    "SynonymEntity": {
      "properties": {
        "sourceEntity": {
          "type": "string",
          "description": "The name of the entity for which the synonym is being created (the source)."
        },
        "sourceType": {
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "The type of the entity for which the synonym is being created (usually a table or a sequence).",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "Synonym's parent is a schema.",
      "id": "SynonymEntity",
      "type": "object"
    },
    "ConvertRowIdToColumn": {
      "properties": {
        "onlyIfNoPrimaryKey": {
          "description": "Required. Only work on tables without primary key defined",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ConvertRowIdToColumn",
      "description": "Options to configure rule type ConvertROWIDToColumn. The rule is used to add column rowid to destination tables based on an Oracle rowid function/property. The rule filter field can refer to one or more entities. The rule scope can be one of: Table. This rule requires additional filter to be specified beyond the basic rule filter field, which is whether or not to work on tables which already have a primary key defined."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "ImportMappingRulesRequest": {
      "id": "ImportMappingRulesRequest",
      "type": "object",
      "description": "Request message for 'ImportMappingRules' request.",
      "properties": {
        "rulesFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "description": "Required. The format of the rules content file.",
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ]
        },
        "autoCommit": {
          "type": "boolean",
          "description": "Required. Should the conversion workspace be committed automatically after the import operation."
        },
        "rulesFiles": {
          "type": "array",
          "items": {
            "$ref": "RulesFile"
          },
          "description": "Required. One or more rules files."
        }
      }
    },
    "MaterializedViewEntity": {
      "type": "object",
      "description": "MaterializedView's parent is a schema.",
      "properties": {
        "indices": {
          "description": "View indices.",
          "type": "array",
          "items": {
            "$ref": "IndexEntity"
          }
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features.",
          "type": "object"
        },
        "sqlCode": {
          "type": "string",
          "description": "The SQL code which creates the view."
        }
      },
      "id": "MaterializedViewEntity"
    },
    "SqlServerToPostgresConfig": {
      "properties": {
        "sqlserverSourceConfig": {
          "description": "Optional. Configuration for SQL Server source.",
          "$ref": "SqlServerSourceConfig"
        },
        "postgresDestinationConfig": {
          "description": "Optional. Configuration for Postgres destination.",
          "$ref": "PostgresDestinationConfig"
        }
      },
      "id": "SqlServerToPostgresConfig",
      "description": "Configuration for heterogeneous **SQL Server to Cloud SQL for PostgreSQL** migrations.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "SqlAclEntry": {
      "id": "SqlAclEntry",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example: `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The time-to-leave of this access control entry.",
          "format": "google-duration"
        },
        "value": {
          "type": "string",
          "description": "The allowlisted value for the access control list."
        },
        "label": {
          "type": "string",
          "description": "A label to identify this entry."
        }
      },
      "description": "An entry for an Access Control list."
    },
    "DatabaseInstanceEntity": {
      "type": "object",
      "description": "DatabaseInstance acts as a parent entity to other database entities.",
      "id": "DatabaseInstanceEntity",
      "properties": {
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom engine specific features."
        }
      }
    },
    "ViewEntity": {
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the view.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "constraints": {
          "type": "array",
          "description": "View constraints.",
          "items": {
            "$ref": "ConstraintEntity"
          }
        }
      },
      "description": "View's parent is a schema.",
      "type": "object",
      "id": "ViewEntity"
    },
    "SqlServerSourceConfig": {
      "description": "Configuration for SQL Server as a source in a migration.",
      "type": "object",
      "id": "SqlServerSourceConfig",
      "properties": {
        "skipFullDump": {
          "type": "boolean",
          "description": "Optional. Whether to skip full dump or not."
        },
        "cdcStartPosition": {
          "type": "string",
          "description": "Optional. The log sequence number (LSN) to start CDC data migration from."
        },
        "maxConcurrentFullDumpConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the source for full dump phase.",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentCdcConnections": {
          "format": "int32",
          "description": "Optional. Maximum number of connections Database Migration Service will open to the source for CDC phase.",
          "type": "integer"
        }
      }
    },
    "StoredProcedureEntity": {
      "description": "Stored procedure's parent is a schema.",
      "type": "object",
      "id": "StoredProcedureEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the stored procedure.",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "DatabaseEngineInfo": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. Engine version, for example \"12.c.1\"."
        },
        "engine": {
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is SQL Server.",
            "The source engine is Oracle."
          ],
          "description": "Required. Engine type.",
          "type": "string",
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "SQLSERVER",
            "ORACLE"
          ]
        }
      },
      "type": "object",
      "description": "The type and version of a source or destination database.",
      "id": "DatabaseEngineInfo"
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "description": "Response message for 'ListPrivateConnections' request.",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "privateConnections": {
          "description": "List of private connections.",
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          }
        }
      },
      "type": "object"
    },
    "DescribeConversionWorkspaceRevisionsResponse": {
      "type": "object",
      "description": "Response message for 'DescribeConversionWorkspaceRevisions' request.",
      "properties": {
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "ConversionWorkspace"
          },
          "description": "The list of conversion workspace revisions."
        }
      },
      "id": "DescribeConversionWorkspaceRevisionsResponse"
    },
    "StopMigrationJobRequest": {
      "id": "StopMigrationJobRequest",
      "description": "Request message for 'StopMigrationJob' request.",
      "type": "object",
      "properties": {}
    },
    "DescribeDatabaseEntitiesResponse": {
      "type": "object",
      "properties": {
        "databaseEntities": {
          "type": "array",
          "items": {
            "$ref": "DatabaseEntity"
          },
          "description": "The list of database entities for the conversion workspace."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "DescribeDatabaseEntitiesResponse",
      "description": "Response message for 'DescribeDatabaseEntities' request."
    },
    "ErrorInfo": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ErrorInfo",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "StartMigrationJobRequest": {
      "description": "Request message for 'StartMigrationJob' request.",
      "id": "StartMigrationJobRequest",
      "properties": {
        "skipValidation": {
          "type": "boolean",
          "description": "Optional. Start the migration job without running prior configuration verification. Defaults to `false`."
        }
      },
      "type": "object"
    },
    "ResourceInfo": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\"."
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED."
        },
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        },
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        }
      },
      "id": "ResourceInfo",
      "description": "Describes the resource that is being accessed."
    },
    "SourceNumericFilter": {
      "type": "object",
      "properties": {
        "sourceMinPrecisionFilter": {
          "description": "Optional. The filter will match columns with precision greater than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "numericFilterOption": {
          "enum": [
            "NUMERIC_FILTER_OPTION_UNSPECIFIED",
            "NUMERIC_FILTER_OPTION_ALL",
            "NUMERIC_FILTER_OPTION_LIMIT",
            "NUMERIC_FILTER_OPTION_LIMITLESS"
          ],
          "type": "string",
          "description": "Required. Enum to set the option defining the datatypes numeric filter has to be applied to",
          "enumDescriptions": [
            "Numeric filter option unspecified",
            "Numeric filter option that matches all numeric columns.",
            "Numeric filter option that matches columns having numeric datatypes with specified precision and scale within the limited range of filter.",
            "Numeric filter option that matches only the numeric columns with no precision and scale specified."
          ]
        },
        "sourceMinScaleFilter": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The filter will match columns with scale greater than or equal to this number."
        },
        "sourceMaxScaleFilter": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The filter will match columns with scale smaller than or equal to this number."
        },
        "sourceMaxPrecisionFilter": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The filter will match columns with precision smaller than or equal to this number."
        }
      },
      "description": "Filter for fixed point number data types such as NUMERIC/NUMBER",
      "id": "SourceNumericFilter"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "OracleAsmLogFileAccess": {
      "properties": {},
      "id": "OracleAsmLogFileAccess",
      "description": "Configuration to use Oracle ASM to access the log files.",
      "type": "object"
    },
    "SourceObjectConfig": {
      "id": "SourceObjectConfig",
      "description": "Config for a single migration job object.",
      "type": "object",
      "properties": {
        "objectIdentifier": {
          "description": "Optional. The object identifier.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "SshScript": {
      "description": "Response message for 'GenerateSshScript' request.",
      "properties": {
        "script": {
          "description": "The ssh configuration script.",
          "type": "string"
        }
      },
      "id": "SshScript",
      "type": "object"
    },
    "UDTEntity": {
      "id": "UDTEntity",
      "description": "UDT's parent is a schema.",
      "type": "object",
      "properties": {
        "udtBody": {
          "description": "The SQL code which creates the udt body.",
          "type": "string"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features.",
          "type": "object"
        },
        "udtSqlCode": {
          "type": "string",
          "description": "The SQL code which creates the udt."
        }
      }
    },
    "EntityIssue": {
      "properties": {
        "ddl": {
          "description": "The ddl which caused the issue, if relevant.",
          "type": "string"
        },
        "id": {
          "description": "Unique Issue ID.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "ISSUE_SEVERITY_UNSPECIFIED",
            "ISSUE_SEVERITY_INFO",
            "ISSUE_SEVERITY_WARNING",
            "ISSUE_SEVERITY_ERROR"
          ],
          "description": "Severity of the issue",
          "type": "string",
          "enumDescriptions": [
            "Unspecified issue severity",
            "Info",
            "Warning",
            "Error"
          ]
        },
        "message": {
          "type": "string",
          "description": "Issue detailed message"
        },
        "type": {
          "description": "The type of the issue.",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "ISSUE_TYPE_DDL",
            "ISSUE_TYPE_APPLY",
            "ISSUE_TYPE_CONVERT",
            "ISSUE_TYPE_PULL_SCHEMA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified issue type.",
            "Issue originated from the DDL",
            "Issue originated during the apply process",
            "Issue originated during the convert process",
            "Issue originated during the pull schema process"
          ]
        },
        "code": {
          "description": "Error/Warning code",
          "type": "string"
        },
        "position": {
          "description": "The position of the issue found, if relevant.",
          "$ref": "Position"
        },
        "entityType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "description": "The entity type (if the DDL is for a sub entity).",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        }
      },
      "id": "EntityIssue",
      "description": "Issue related to the entity.",
      "type": "object"
    },
    "SslConfig": {
      "id": "SslConfig",
      "description": "SSL configuration information.",
      "properties": {
        "clientCertificate": {
          "description": "Input only. The x509 PEM-encoded certificate that will be used by the replica to authenticate against the source database server.If this field is used then the 'client_key' field is mandatory.",
          "type": "string"
        },
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. The x509 PEM-encoded certificate of the CA that signed the source database server's certificate. The replica will use this certificate to verify it's connecting to the right host."
        },
        "clientKey": {
          "type": "string",
          "description": "Input only. The unencrypted PKCS#1 or PKCS#8 PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' field is mandatory."
        },
        "sslFlags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. SSL flags used for establishing SSL connection to the source database. Only source specific flags are supported. An object containing a list of \"key\": \"value\" pairs. Example: { \"server_certificate_hostname\": \"server.com\"}."
        },
        "type": {
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "SERVER_ONLY",
            "SERVER_CLIENT",
            "REQUIRED",
            "NONE"
          ],
          "description": "Optional. The ssl config type according to 'client_key', 'client_certificate' and 'ca_certificate'.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Only 'ca_certificate' specified.",
            "Both server ('ca_certificate'), and client ('client_key', 'client_certificate') specified.",
            "Mandates SSL encryption for all connections. This does not require certificate verification.",
            "Connection is not encrypted."
          ]
        }
      },
      "type": "object"
    },
    "AuthorizedNetwork": {
      "description": "AuthorizedNetwork contains metadata for an authorized network.",
      "type": "object",
      "id": "AuthorizedNetwork",
      "properties": {
        "cidrRange": {
          "type": "string",
          "description": "Optional. CIDR range for one authorzied network of the instance."
        }
      }
    },
    "SourceSqlChange": {
      "description": "Options to configure rule type SourceSqlChange. The rule is used to alter the sql code for database entities. The rule filter field can refer to one entity. The rule scope can be: StoredProcedure, Function, Trigger, View",
      "id": "SourceSqlChange",
      "type": "object",
      "properties": {
        "sqlCode": {
          "type": "string",
          "description": "Required. Sql code for source (stored procedure, function, trigger or view)"
        }
      }
    },
    "OracleAsmConfig": {
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the Oracle ASM connection."
        },
        "ssl": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "SslConfig"
        },
        "asmService": {
          "description": "Required. ASM service name for the Oracle ASM connection.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle ASM connection."
        },
        "passwordSet": {
          "description": "Output only. Indicates whether a new password is included in the request.",
          "type": "boolean",
          "readOnly": true
        },
        "port": {
          "description": "Required. Port for the Oracle ASM connection.",
          "type": "integer",
          "format": "int32"
        },
        "password": {
          "description": "Required. Input only. Password for the Oracle ASM connection.",
          "type": "string"
        }
      },
      "id": "OracleAsmConfig",
      "type": "object",
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection."
    },
    "ListMigrationJobsResponse": {
      "description": "Response message for 'ListMigrationJobs' request.",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "migrationJobs": {
          "type": "array",
          "items": {
            "$ref": "MigrationJob"
          },
          "description": "The list of migration jobs objects."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListMigrationJobsResponse"
    },
    "SeedConversionWorkspaceRequest": {
      "properties": {
        "destinationConnectionProfile": {
          "description": "Optional. Fully qualified (Uri) name of the destination connection profile.",
          "type": "string"
        },
        "autoCommit": {
          "type": "boolean",
          "description": "Should the conversion workspace be committed automatically after the seed operation."
        },
        "sourceConnectionProfile": {
          "type": "string",
          "description": "Optional. Fully qualified (Uri) name of the source connection profile."
        }
      },
      "description": "Request message for 'SeedConversionWorkspace' request.",
      "type": "object",
      "id": "SeedConversionWorkspaceRequest"
    },
    "VerifyMigrationJobRequest": {
      "type": "object",
      "description": "Request message for 'VerifyMigrationJob' request.",
      "id": "VerifyMigrationJobRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. Field mask is used to specify the changed fields to be verified. It will not update the migration job.",
          "format": "google-fieldmask"
        },
        "migrationJob": {
          "$ref": "MigrationJob",
          "description": "Optional. The changed migration job parameters to verify. It will not update the migration job."
        }
      }
    },
    "Link": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      },
      "id": "Link",
      "type": "object",
      "description": "Describes a URL link."
    },
    "ValueTransformation": {
      "description": "Description of data transformation during migration as part of the ConditionalColumnSetValue.",
      "id": "ValueTransformation",
      "type": "object",
      "properties": {
        "assignMinValue": {
          "description": "Optional. Set to min_value - if integer or numeric, will use int.minvalue, etc",
          "$ref": "Empty"
        },
        "roundScale": {
          "$ref": "RoundToScale",
          "description": "Optional. Allows the data to change scale"
        },
        "applyHash": {
          "$ref": "ApplyHash",
          "description": "Optional. Applies a hash function on the data"
        },
        "doubleComparison": {
          "$ref": "DoubleComparisonFilter",
          "description": "Optional. Filter on relation between source value and compare value of type double."
        },
        "intComparison": {
          "description": "Optional. Filter on relation between source value and compare value of type integer.",
          "$ref": "IntComparisonFilter"
        },
        "assignSpecificValue": {
          "description": "Optional. Set to a specific value (value is converted to fit the target data type)",
          "$ref": "AssignSpecificValue"
        },
        "isNull": {
          "$ref": "Empty",
          "description": "Optional. Value is null"
        },
        "assignNull": {
          "description": "Optional. Set to null",
          "$ref": "Empty"
        },
        "valueList": {
          "$ref": "ValueListFilter",
          "description": "Optional. Value is found in the specified list."
        },
        "assignMaxValue": {
          "description": "Optional. Set to max_value - if integer or numeric, will use int.maxvalue, etc",
          "$ref": "Empty"
        }
      }
    },
    "BinaryLogParser": {
      "id": "BinaryLogParser",
      "properties": {
        "oracleAsmLogFileAccess": {
          "$ref": "OracleAsmLogFileAccess",
          "description": "Use Oracle ASM."
        },
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        }
      },
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "type": "object"
    },
    "BadRequest": {
      "type": "object",
      "id": "BadRequest",
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "type": "array",
          "description": "Describes all violations in a client request."
        }
      },
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request."
    },
    "MySqlHomogeneousConfig": {
      "description": "Configuration for MySQL to MySQL migrations.",
      "id": "MySqlHomogeneousConfig",
      "type": "object",
      "properties": {
        "isPrimaryDestination": {
          "description": "Optional. Whether the destination for the migration job is a primary instance.",
          "type": "boolean"
        }
      }
    },
    "ConditionalColumnSetValue": {
      "properties": {
        "sourceNumericFilter": {
          "$ref": "SourceNumericFilter",
          "description": "Optional. Optional filter on source column precision and scale. Used for fixed point numbers such as NUMERIC/NUMBER data types."
        },
        "customFeatures": {
          "description": "Optional. Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "valueTransformation": {
          "description": "Required. Description of data transformation during migration.",
          "$ref": "ValueTransformation"
        },
        "sourceTextFilter": {
          "description": "Optional. Optional filter on source column length. Used for text based data types like varchar.",
          "$ref": "SourceTextFilter"
        }
      },
      "description": "Options to configure rule type ConditionalColumnSetValue. The rule is used to transform the data which is being replicated/migrated. The rule filter field can refer to one or more entities. The rule scope can be one of: Column.",
      "type": "object",
      "id": "ConditionalColumnSetValue"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "DatabaseType": {
      "id": "DatabaseType",
      "type": "object",
      "description": "A message defining the database engine and provider.",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Use this value for on-premise source database instances and ORACLE.",
            "Cloud SQL is the source instance provider.",
            "Amazon RDS is the source instance provider.",
            "Amazon Aurora is the source instance provider.",
            "AlloyDB for PostgreSQL is the source instance provider.",
            "Microsoft Azure Database for MySQL/PostgreSQL."
          ],
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB",
            "AZURE_DATABASE"
          ],
          "type": "string",
          "description": "The database provider."
        },
        "engine": {
          "type": "string",
          "description": "The database engine.",
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is SQL Server.",
            "The source engine is Oracle."
          ],
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "SQLSERVER",
            "ORACLE"
          ]
        }
      }
    },
    "MachineConfig": {
      "properties": {
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of CPU's in the VM instance."
        },
        "machineType": {
          "description": "Optional. Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        }
      },
      "description": "MachineConfig describes the configuration of a machine.",
      "type": "object",
      "id": "MachineConfig"
    },
    "SourceObjectsConfig": {
      "properties": {
        "objectsSelectionType": {
          "description": "Optional. The objects selection type of the migration job.",
          "type": "string",
          "enum": [
            "OBJECTS_SELECTION_TYPE_UNSPECIFIED",
            "ALL_OBJECTS",
            "SPECIFIED_OBJECTS"
          ],
          "enumDescriptions": [
            "The type of the objects selection is unknown, indicating that the migration job is at instance level.",
            "Migrate all of the objects.",
            "Migrate specific objects."
          ]
        },
        "objectConfigs": {
          "type": "array",
          "items": {
            "$ref": "SourceObjectConfig"
          },
          "description": "Optional. The list of the objects to be migrated."
        }
      },
      "description": "List of configurations for the source objects to be migrated.",
      "type": "object",
      "id": "SourceObjectsConfig"
    },
    "Policy": {
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object"
    },
    "IntComparisonFilter": {
      "description": "Filter based on relation between source value and compare value of type integer in ConditionalColumnSetValue",
      "type": "object",
      "id": "IntComparisonFilter",
      "properties": {
        "valueComparison": {
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ],
          "description": "Required. Relation between source value and compare value",
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ],
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Required. Integer compare value to be used"
        }
      }
    },
    "RollbackConversionWorkspaceRequest": {
      "properties": {},
      "id": "RollbackConversionWorkspaceRequest",
      "type": "object",
      "description": "Request message for 'RollbackConversionWorkspace' request."
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "Position": {
      "type": "object",
      "description": "Issue position.",
      "properties": {
        "line": {
          "description": "Issue line number",
          "format": "int32",
          "type": "integer"
        },
        "offset": {
          "description": "Issue offset",
          "format": "int32",
          "type": "integer"
        },
        "column": {
          "type": "integer",
          "description": "Issue column number",
          "format": "int32"
        },
        "length": {
          "format": "int32",
          "type": "integer",
          "description": "Issue length"
        }
      },
      "id": "Position"
    },
    "ConvertConversionWorkspaceRequest": {
      "id": "ConvertConversionWorkspaceRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter the entities to convert. Leaving this field empty will convert all of the entities. Supports Google AIP-160 style filtering."
        },
        "convertFullPath": {
          "type": "boolean",
          "description": "Optional. Automatically convert the full entity path for each entity specified by the filter. For example, if the filter specifies a table, that table schema (and database if there is one) will also be converted."
        },
        "autoCommit": {
          "type": "boolean",
          "description": "Optional. Specifies whether the conversion workspace is to be committed automatically after the conversion."
        }
      },
      "description": "Request message for 'ConvertConversionWorkspace' request.",
      "type": "object"
    },
    "ConstraintEntity": {
      "properties": {
        "name": {
          "description": "The name of the table constraint.",
          "type": "string"
        },
        "referenceColumns": {
          "description": "Reference columns which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full names of referenced columns by the foreign key.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features."
        },
        "referenceTable": {
          "description": "Reference table which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full name of the referenced table by the foreign key.",
          "type": "string"
        },
        "tableColumns": {
          "items": {
            "type": "string"
          },
          "description": "Table columns used as part of the Constraint, for example primary key constraint should list the columns which constitutes the key.",
          "type": "array"
        },
        "tableName": {
          "description": "Table which is associated with the constraint. In case the constraint is defined on a table, this field is left empty as this information is stored in parent_name. However, if constraint is defined on a view, this field stores the table name on which the view is defined.",
          "type": "string"
        },
        "type": {
          "description": "Type of constraint, for example unique, primary key, foreign key (currently only primary key is supported).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConstraintEntity",
      "description": "Constraint is not used as an independent entity, it is retrieved as part of another entity such as Table or View."
    },
    "PostgresSourceConfig": {
      "id": "PostgresSourceConfig",
      "description": "Configuration for Postgres as a source in a migration.",
      "properties": {
        "skipFullDump": {
          "type": "boolean",
          "description": "Optional. Whether to skip full dump or not."
        }
      },
      "type": "object"
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The error details in case of state FAILED."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for connection profile to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`."
        },
        "provider": {
          "type": "string",
          "enumDescriptions": [
            "Use this value for on-premise source database instances and ORACLE.",
            "Cloud SQL is the source instance provider.",
            "Amazon RDS is the source instance provider.",
            "Amazon Aurora is the source instance provider.",
            "AlloyDB for PostgreSQL is the source instance provider.",
            "Microsoft Azure Database for MySQL/PostgreSQL."
          ],
          "description": "The database provider.",
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB",
            "AZURE_DATABASE"
          ]
        },
        "cloudsql": {
          "$ref": "CloudSqlConnectionProfile",
          "description": "A CloudSQL database connection profile."
        },
        "oracle": {
          "description": "An Oracle database connection profile.",
          "$ref": "OracleConnectionProfile"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "postgresql": {
          "$ref": "PostgreSqlConnectionProfile",
          "description": "A PostgreSQL database connection profile."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The connection profile display name."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the connection profile is unknown.",
            "The connection profile is in draft mode and fully editable.",
            "The connection profile is being created.",
            "The connection profile is ready.",
            "The connection profile is being updated.",
            "The connection profile is being deleted.",
            "The connection profile has been deleted.",
            "The last action on the connection profile failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DELETED",
            "FAILED"
          ],
          "description": "The current connection profile state (e.g. DRAFT, READY, or FAILED)."
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "enumDescriptions": [
            "The role is unspecified.",
            "The role is source.",
            "The role is destination."
          ],
          "description": "Optional. The connection profile role."
        },
        "name": {
          "type": "string",
          "description": "The name of this connection profile resource in the form of projects/{project}/locations/{location}/connectionProfiles/{connectionProfile}."
        },
        "mysql": {
          "$ref": "MySqlConnectionProfile",
          "description": "A MySQL database connection profile."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
        },
        "sqlserver": {
          "description": "Connection profile for a SQL Server data source.",
          "$ref": "SqlServerConnectionProfile"
        },
        "alloydb": {
          "description": "An AlloyDB cluster connection profile.",
          "$ref": "AlloyDbConnectionProfile"
        }
      },
      "description": "A connection profile definition."
    },
    "MultiEntityRename": {
      "properties": {
        "newNamePattern": {
          "description": "Optional. The pattern used to generate the new entity's name. This pattern must include the characters '{name}', which will be replaced with the name of the original entity. For example, the pattern 't_{name}' for an entity name jobs would be converted to 't_jobs'. If unspecified, the default value for this field is '{name}'",
          "type": "string"
        },
        "sourceNameTransformation": {
          "enumDescriptions": [
            "Entity name transformation unspecified.",
            "No transformation.",
            "Transform to lower case.",
            "Transform to upper case.",
            "Transform to capitalized case."
          ],
          "description": "Optional. Additional transformation that can be done on the source entity name before it is being used by the new_name_pattern, for example lower case. If no transformation is desired, use NO_TRANSFORMATION",
          "type": "string",
          "enum": [
            "ENTITY_NAME_TRANSFORMATION_UNSPECIFIED",
            "ENTITY_NAME_TRANSFORMATION_NO_TRANSFORMATION",
            "ENTITY_NAME_TRANSFORMATION_LOWER_CASE",
            "ENTITY_NAME_TRANSFORMATION_UPPER_CASE",
            "ENTITY_NAME_TRANSFORMATION_CAPITALIZED_CASE"
          ]
        }
      },
      "id": "MultiEntityRename",
      "description": "Options to configure rule type MultiEntityRename. The rule is used to rename multiple entities. The rule filter field can refer to one or more entities. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT",
      "type": "object"
    },
    "CommitConversionWorkspaceRequest": {
      "properties": {
        "commitName": {
          "type": "string",
          "description": "Optional. Optional name of the commit."
        }
      },
      "id": "CommitConversionWorkspaceRequest",
      "type": "object",
      "description": "Request message for 'CommitConversionWorkspace' request."
    },
    "CloudSqlConnectionProfile": {
      "properties": {
        "publicIp": {
          "description": "Output only. The Cloud SQL database instance's public IP.",
          "type": "string",
          "readOnly": true
        },
        "cloudSqlId": {
          "type": "string",
          "description": "Output only. The Cloud SQL instance ID that this connection profile is associated with.",
          "readOnly": true
        },
        "additionalPublicIp": {
          "readOnly": true,
          "description": "Output only. The Cloud SQL database instance's additional (outgoing) public IP. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available).",
          "type": "string"
        },
        "settings": {
          "$ref": "CloudSqlSettings",
          "description": "Immutable. Metadata used to create the destination Cloud SQL database."
        },
        "privateIp": {
          "readOnly": true,
          "description": "Output only. The Cloud SQL database instance's private IP.",
          "type": "string"
        }
      },
      "description": "Specifies required connection parameters, and, optionally, the parameters required to create a Cloud SQL destination database instance.",
      "id": "CloudSqlConnectionProfile",
      "type": "object"
    },
    "PreconditionFailure": {
      "id": "PreconditionFailure",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "type": "array",
          "description": "Describes all precondition violations."
        }
      }
    },
    "GenerateTcpProxyScriptRequest": {
      "description": "Request message for 'GenerateTcpProxyScript' request.",
      "type": "object",
      "properties": {
        "vmName": {
          "description": "Required. The name of the Compute instance that will host the proxy.",
          "type": "string"
        },
        "vmZone": {
          "type": "string",
          "description": "Optional. The Google Cloud Platform zone to create the VM in. The fully qualified name of the zone must be specified, including the region name, for example \"us-central1-b\". If not specified, uses the \"-b\" zone of the destination Connection Profile's region."
        },
        "vmMachineType": {
          "type": "string",
          "description": "Required. The type of the Compute instance that will host the proxy."
        },
        "vmSubnet": {
          "type": "string",
          "description": "Required. The name of the subnet the Compute instance will use for private connectivity. Must be supplied in the form of projects/{project}/regions/{region}/subnetworks/{subnetwork}. Note: the region for the subnet must match the Compute instance region."
        }
      },
      "id": "GenerateTcpProxyScriptRequest"
    },
    "SequenceEntity": {
      "description": "Sequence's parent is a schema.",
      "type": "object",
      "id": "SequenceEntity",
      "properties": {
        "startValue": {
          "type": "string",
          "description": "Start number for the sequence represented as bytes to accommodate large. numbers",
          "format": "byte"
        },
        "cycle": {
          "description": "Indicates whether the sequence value should cycle through.",
          "type": "boolean"
        },
        "cache": {
          "format": "int64",
          "type": "string",
          "description": "Indicates number of entries to cache / precreate."
        },
        "minValue": {
          "type": "string",
          "format": "byte",
          "description": "Minimum number for the sequence represented as bytes to accommodate large. numbers"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "increment": {
          "format": "int64",
          "description": "Increment value for the sequence.",
          "type": "string"
        },
        "maxValue": {
          "format": "byte",
          "description": "Maximum number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string"
        }
      }
    },
    "ListMigrationJobObjectsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        },
        "migrationJobObjects": {
          "description": "List of migration job objects.",
          "items": {
            "$ref": "MigrationJobObject"
          },
          "type": "array"
        }
      },
      "id": "ListMigrationJobObjectsResponse",
      "type": "object",
      "description": "Response containing the objects for a migration job."
    },
    "SourceObjectIdentifier": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type of the migration job object is unknown.",
            "The migration job object is a database.",
            "The migration job object is a schema.",
            "The migration job object is a table."
          ],
          "enum": [
            "MIGRATION_JOB_OBJECT_TYPE_UNSPECIFIED",
            "DATABASE",
            "SCHEMA",
            "TABLE"
          ],
          "description": "Required. The type of the migration job object.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Optional. The schema name. This will be required only if the object uses a schema name as part of its unique identifier."
        },
        "table": {
          "description": "Optional. The table name. This will be required only if the object is a level below database or schema.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The database name. This will be required only if the object uses a database name as part of its unique identifier.",
          "type": "string"
        }
      },
      "id": "SourceObjectIdentifier",
      "description": "An identifier for the Migration Job Object.",
      "type": "object"
    },
    "CloudSqlSettings": {
      "type": "object",
      "properties": {
        "databaseFlags": {
          "description": "The database flags passed to the Cloud SQL instance at startup. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ipConfig": {
          "$ref": "SqlIpConfig",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled."
        },
        "sourceId": {
          "type": "string",
          "description": "The Database Migration Service source connection profile ID, in the format: `projects/my_project_name/locations/us-central1/connectionProfiles/connection_profile_ID`"
        },
        "cmekKeyName": {
          "type": "string",
          "description": "The KMS key name used for the csql instance."
        },
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an enterprise plus edition."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "description": "Optional. The edition of the given Cloud SQL instance."
        },
        "rootPassword": {
          "description": "Input only. Initial root password.",
          "type": "string"
        },
        "rootPasswordSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates If this connection profile root password is stored."
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example: `db-n1-standard-1` (MySQL instances) or `db-custom-1-3840` (PostgreSQL instances). For more information, see [Cloud SQL Instance Settings](https://cloud.google.com/sql/docs/mysql/instance-settings).",
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "description": "The resource labels for a Cloud SQL instance to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"18kg\", \"count\": \"3\" }`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataDiskType": {
          "enumDescriptions": [
            "Unspecified.",
            "SSD disk.",
            "HDD disk.",
            "A Hyperdisk Balanced data disk."
          ],
          "type": "string",
          "description": "The type of storage: `PD_SSD` (default) or `PD_HDD` or `HYPERDISK_BALANCED`.",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "HYPERDISK_BALANCED"
          ]
        },
        "secondaryZone": {
          "type": "string",
          "description": "Optional. The Google Cloud Platform zone where the failover Cloud SQL database instance is located. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available)."
        },
        "databaseVersion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "MySQL 8.4.",
            "PostgreSQL 9.6.",
            "PostgreSQL 11.",
            "PostgreSQL 10.",
            "PostgreSQL 12.",
            "PostgreSQL 13.",
            "PostgreSQL 14.",
            "PostgreSQL 15.",
            "PostgreSQL 16."
          ],
          "description": "The database engine type and version. Deprecated. Use database_version_name instead.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_4",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "POSTGRES_10",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16"
          ]
        },
        "dataDiskProvisionedThroughput": {
          "format": "int64",
          "description": "Optional. Provisioned throughput measured in MiB per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "type": "string"
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL default instance level collation."
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string",
          "format": "int64"
        },
        "dataDiskSizeGb": {
          "description": "The storage capacity available to the database, in GB. The minimum (and default) size is 10GB.",
          "format": "int64",
          "type": "string"
        },
        "dataCacheConfig": {
          "description": "Optional. Data cache is an optional feature available for Cloud SQL for MySQL Enterprise Plus edition only. For more information on data cache, see [Data cache overview](https://cloud.google.com/sql/help/mysql-data-cache) in Cloud SQL documentation.",
          "$ref": "DataCacheConfig"
        },
        "zone": {
          "description": "The Google Cloud Platform zone where your Cloud SQL database instance is located.",
          "type": "string"
        },
        "databaseVersionName": {
          "description": "Optional. The database engine type and version name.",
          "type": "string"
        },
        "autoStorageIncrease": {
          "description": "[default: ON] If you enable this setting, Cloud SQL checks your available storage every 30 seconds. If the available storage falls below a threshold size, Cloud SQL automatically adds additional storage capacity. If the available storage repeatedly falls below the threshold size, Cloud SQL continues to add storage until it reaches the maximum of 30 TB.",
          "type": "boolean"
        },
        "availabilityType": {
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal availablility instance.",
            "Regional availability instance."
          ],
          "type": "string",
[...]
