{
  "version_module": true,
  "version": "v1beta1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "name": "dataform",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    }
  },
  "title": "Dataform API",
  "rootUrl": "https://dataform.googleapis.com/",
  "baseUrl": "https://dataform.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "revision": "20260920",
  "id": "dataform:v1beta1",
  "protocol": "rest",
  "schemas": {
    "FetchFileDiffResponse": {
      "type": "object",
      "id": "FetchFileDiffResponse",
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      },
      "description": "`FetchFileDiff` response message."
    },
    "CodeCompilationConfig": {
      "description": "Configures various aspects of Dataform code compilation.",
      "properties": {
        "assertionSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions.",
          "type": "string"
        },
        "defaultSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID)."
        },
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository."
        },
        "vars": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "type": "object"
        },
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "databaseSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names."
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        },
        "defaultNotebookRuntimeOptions": {
          "$ref": "NotebookRuntimeOptions",
          "description": "Optional. The default notebook runtime options."
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "defaultLocation": {
          "type": "string",
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations."
        }
      },
      "type": "object",
      "id": "CodeCompilationConfig"
    },
    "ReleaseConfig": {
      "type": "object",
      "properties": {
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "releaseCompilationResult": {
          "type": "string",
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of compilation results."
        },
        "recentScheduledReleaseRecords": {
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true,
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "type": "array"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig"
    },
    "BranchMetadata": {
      "type": "object",
      "id": "BranchMetadata",
      "description": "Contains metadata about a branch.",
      "properties": {
        "branchName": {
          "type": "string",
          "description": "The branch name."
        },
        "lastCommit": {
          "$ref": "CommitLogEntry",
          "description": "The last commit on the branch."
        }
      }
    },
    "BigQueryUnitTest": {
      "properties": {
        "displayName": {
          "description": "The name of the unit test.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action."
        },
        "testQuery": {
          "description": "Test query to execute.",
          "type": "string"
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "expectedOutputQuery": {
          "type": "string",
          "description": "Expected output query to compare against the test query."
        }
      },
      "id": "BigQueryUnitTest",
      "description": "Represents a BigQuery unit test.",
      "type": "object"
    },
    "DataPreparation": {
      "type": "object",
      "id": "DataPreparation",
      "properties": {
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        }
      },
      "description": "Defines a compiled Data Preparation entity"
    },
    "RelationDescriptor": {
      "properties": {
        "columns": {
          "type": "array",
          "description": "A list of descriptions of columns within the relation.",
          "items": {
            "$ref": "ColumnDescriptor"
          }
        },
        "bigqueryLabels": {
          "description": "A set of BigQuery labels that should be applied to the relation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "A text description of the relation.",
          "type": "string"
        }
      },
      "description": "Describes a relation and its columns.",
      "id": "RelationDescriptor",
      "type": "object"
    },
    "ResetWorkspaceChangesRequest": {
      "type": "object",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset."
        },
        "clean": {
          "description": "Optional. If set to true, untracked files will be deleted.",
          "type": "boolean"
        }
      },
      "id": "ResetWorkspaceChangesRequest",
      "description": "`ResetWorkspaceChanges` request message."
    },
    "IncrementalTableConfig": {
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "properties": {
        "uniqueKeyParts": {
          "type": "array",
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "items": {
            "type": "string"
          }
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        },
        "incrementalPostOperations": {
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updatePartitionFilter": {
          "type": "string",
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information)."
        },
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        },
        "incrementalPreOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before inserting new rows into the relation."
        }
      },
      "type": "object",
      "id": "IncrementalTableConfig"
    },
    "Declaration": {
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "id": "Declaration",
      "type": "object",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions."
    },
    "RemoveDirectoryResponse": {
      "id": "RemoveDirectoryResponse",
      "type": "object",
      "description": "`RemoveDirectory` response message.",
      "properties": {}
    },
    "DeleteRepositoryLongRunningRequest": {
      "type": "object",
      "id": "DeleteRepositoryLongRunningRequest",
      "description": "`DeleteRepositoryLongRunning` request message.",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, child resources of this repository (compilation results and workflow invocations) will also be deleted. Otherwise, the request will only succeed if the repository has no child resources. **Note:** *This flag doesn't support deletion of workspaces, release configs or workflow configs. If any of such resources exists in the repository, the request will fail.*"
        }
      }
    },
    "EndUserAuthConfig": {
      "description": "Includes configuration options for repository end user authentication.",
      "properties": {
        "oauthConfig": {
          "description": "Optional. OAuth configuration for repository end user authentication.",
          "$ref": "OAuthConfig"
        }
      },
      "id": "EndUserAuthConfig",
      "type": "object"
    },
    "WorkflowConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Disables automatic creation of workflow invocations.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "recentScheduledExecutionRecords": {
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "readOnly": true,
          "type": "array"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "type": "string"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "workflowTriggerConfig": {
          "$ref": "WorkflowTriggerConfig",
          "description": "Optional. Trigger configuration for this workflow. If present, the workflow will be triggered based on the specified triggers."
        },
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Optional. If left unset, a default InvocationConfig will be used."
        },
        "name": {
          "description": "Identifier. The workflow config's name.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig"
    },
    "Operations": {
      "id": "Operations",
      "description": "Represents a list of arbitrary database operations.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action."
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "queries": {
          "description": "A list of arbitrary SQL statements that will be executed without alteration.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ListWorkflowInvocationsResponse": {
      "type": "object",
      "id": "ListWorkflowInvocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workflowInvocations": {
          "type": "array",
          "description": "List of workflow invocations.",
          "items": {
            "$ref": "WorkflowInvocation"
          }
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "`ListWorkflowInvocations` response message."
    },
    "FileSearchResult": {
      "description": "Client-facing representation of a file entry in search results.",
      "id": "FileSearchResult",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the file tree root."
        }
      },
      "type": "object"
    },
    "LoadConfig": {
      "type": "object",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "SimpleLoadMode"
        },
        "unique": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "IncrementalLoadMode"
        }
      },
      "description": "Simplified load configuration for actions",
      "id": "LoadConfig"
    },
    "ActionErrorTable": {
      "type": "object",
      "id": "ActionErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "WorkflowTriggerConfig": {
      "type": "object",
      "id": "WorkflowTriggerConfig",
      "properties": {
        "recentTriggerEvaluationRecords": {
          "type": "array",
          "description": "Output only. Records of the 10 most recent trigger evaluations, ordered in descending order of `evaluation_time`. Updated whenever the service evaluates the trigger conditions (via polling or upon receiving a push event).",
          "items": {
            "$ref": "TriggerEvaluationRecord"
          },
          "readOnly": true
        },
        "condition": {
          "enumDescriptions": [
            "If CONDITION_UNSPECIFIED, the default value is ANY.",
            "If ALL, all the trigger config conditions must be met before a workflow is invoked.",
            "If ANY, at least one of the trigger config conditions must be met before a workflow is invoked."
          ],
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "ALL",
            "ANY"
          ],
          "description": "Optional. The condition to use when triggering the workflow."
        },
        "workflowTriggers": {
          "description": "Required. The trigger definitions to invoke a workflow.",
          "type": "array",
          "items": {
            "$ref": "WorkflowTrigger"
          }
        },
        "lastSuccessfulEvaluationTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last successful trigger evaluation.",
          "type": "string",
          "readOnly": true
        },
        "minExecutionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Minimum duration between two consecutive executions. If not specified, the workflow will be executed every time trigger conditions are met and there is no ongoing workflow execution."
        },
        "maxWaitDuration": {
          "description": "Optional. The effective maximum wait time duration for the trigger condition to be met. If not specified, the workflow won't be triggered until conditions are met.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Represents a trigger configuration for a workflow."
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "TeamFolderSearchResult": {
      "description": "Represents a single content entry.",
      "properties": {
        "teamFolder": {
          "$ref": "TeamFolder",
          "description": "A TeamFolder resource that is in the project / location."
        }
      },
      "id": "TeamFolderSearchResult",
      "type": "object"
    },
    "Interval": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "id": "Interval"
    },
    "IamPolicyOverrideView": {
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Whether the IAM policy encoded in this view is active."
        },
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        }
      },
      "id": "IamPolicyOverrideView",
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "properties": {
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        },
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MoveDirectoryRequest",
      "description": "`MoveDirectory` request message.",
      "type": "object"
    },
    "FolderContentsEntry": {
      "id": "FolderContentsEntry",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        },
        "repository": {
          "$ref": "Repository",
          "description": "A repository."
        }
      },
      "description": "Represents a single content entry.",
      "type": "object"
    },
    "WorkflowInvocation": {
      "description": "Represents a single invocation of a compilation result.",
      "id": "WorkflowInvocation",
      "properties": {
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This workflow invocation's timing details.",
          "$ref": "Interval"
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped."
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. Only set if the repository has a KMS Key.",
          "$ref": "DataEncryptionState"
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "pipelineConfig": {
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "readOnly": true,
          "$ref": "PipelineConfig"
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "resolvedCompilationResult": {
          "type": "string",
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "readOnly": true
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The workflow invocation's name."
        },
        "state": {
          "description": "Output only. This workflow invocation's current state.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ]
        }
      },
      "type": "object"
    },
    "RemoveFileResponse": {
      "id": "RemoveFileResponse",
      "description": "`RemoveFile` response message.",
      "type": "object",
      "properties": {}
    },
    "SearchResult": {
      "description": "Client-facing representation of a search result entry.",
      "type": "object",
      "id": "SearchResult",
      "properties": {
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        },
        "file": {
          "$ref": "FileSearchResult",
          "description": "Details when search result is a file."
        }
      }
    },
    "InstallNpmPackagesRequest": {
      "type": "object",
      "description": "`InstallNpmPackages` request message.",
      "id": "InstallNpmPackagesRequest",
      "properties": {
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      }
    },
    "ActionIncrementalLoadMode": {
      "properties": {
        "column": {
          "type": "string",
          "description": "Column name for incremental load modes"
        }
      },
      "description": "Load definition for incremental load modes",
      "type": "object",
      "id": "ActionIncrementalLoadMode"
    },
    "ErrorTable": {
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed."
        }
      },
      "description": "Error table information, used to write error data into a BigQuery table.",
      "id": "ErrorTable",
      "type": "object"
    },
    "RootContentsEntry": {
      "id": "RootContentsEntry",
      "description": "Represents a single content entry.",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "type": "object"
    },
    "Repository": {
      "type": "object",
      "description": "Represents a Dataform Git repository.",
      "id": "Repository",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the repository was created."
        },
        "setAuthenticatedUserAdmin": {
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository. To modify access to the created repository later apply setIamPolicy from https://cloud.google.com/dataform/reference/rest#rest-resource:-v1beta1.projects.locations.repositories",
          "type": "boolean"
        },
        "workspaceCompilationOverrides": {
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information.",
          "$ref": "WorkspaceCompilationOverrides"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Repository user labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The repository's name."
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format.",
          "type": "string"
        },
        "endUserAuthConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Includes configuration options for end user authentication."
        },
        "teamFolderName": {
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder.",
          "type": "string"
        },
        "containingFolder": {
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The repository's user-friendly name.",
          "type": "string"
        },
        "gitRemoteSettings": {
          "$ref": "GitRemoteSettings",
          "description": "Optional. If set, configures this repository to be linked to a Git remote."
        }
      }
    },
    "SqlDefinition": {
      "description": "Definition of a SQL Data Preparation",
      "type": "object",
      "id": "SqlDefinition",
      "properties": {
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        },
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        }
      }
    },
    "FetchRepositoryHistoryResponse": {
      "id": "FetchRepositoryHistoryResponse",
      "description": "`FetchRepositoryHistory` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "commits": {
          "description": "A list of commit logs, ordered by 'git log' default order.",
          "items": {
            "$ref": "CommitLogEntry"
          },
          "type": "array"
        }
      }
    },
    "FetchFileGitStatusesResponse": {
      "properties": {
        "uncommittedFileChanges": {
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "type": "array",
          "items": {
            "$ref": "UncommittedFileChange"
          }
        }
      },
      "description": "`FetchFileGitStatuses` response message.",
      "type": "object",
      "id": "FetchFileGitStatusesResponse"
    },
    "DirectorySearchResult": {
      "id": "DirectorySearchResult",
      "type": "object",
      "description": "Client-facing representation of a directory entry in search results.",
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "MakeDirectoryRequest": {
      "type": "object",
      "id": "MakeDirectoryRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "description": "`MakeDirectory` request message."
    },
    "TeamFolderContentsEntry": {
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "$ref": "Repository",
          "description": "A repository."
        }
      },
      "id": "TeamFolderContentsEntry"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "ListWorkflowConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "workflowConfigs": {
          "description": "List of workflow configs.",
          "items": {
            "$ref": "WorkflowConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "`ListWorkflowConfigs` response message.",
      "id": "ListWorkflowConfigsResponse"
    },
    "CommitWorkspaceChangesRequest": {
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      },
      "id": "CommitWorkspaceChangesRequest",
      "description": "`CommitWorkspaceChanges` request message.",
      "type": "object"
    },
    "ColumnDescriptor": {
      "properties": {
        "bigqueryPolicyTags": {
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "path": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting."
        },
        "description": {
          "type": "string",
          "description": "A textual description of the column."
        }
      },
      "type": "object",
      "description": "Describes a column.",
      "id": "ColumnDescriptor"
    },
    "MoveFileRequest": {
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "type": "string",
          "description": "Required. The file's new path including filename, relative to the workspace root."
        }
      },
      "id": "MoveFileRequest",
      "description": "`MoveFile` request message."
    },
    "DeleteFile": {
      "properties": {},
      "id": "DeleteFile",
      "description": "Represents the delete file operation.",
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "List of repositories."
        }
      },
      "description": "`ListRepositories` response message.",
      "id": "ListRepositoriesResponse"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "PullGitCommitsResponse": {
      "description": "`PullGitCommits` response message.",
      "type": "object",
      "id": "PullGitCommitsResponse",
      "properties": {}
    },
    "TriggerEvaluationRecord": {
      "description": "A record of an attempt to evaluate trigger conditions.",
      "type": "object",
      "id": "TriggerEvaluationRecord",
      "properties": {
        "evaluationTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of this trigger evaluation attempt.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Output only. The status of the trigger evaluation. Success is indicated by a code of 0 (OK). Message will only be present if the status code is non-zero.",
          "readOnly": true,
          "$ref": "Status"
        }
      }
    },
    "ReadRepositoryFileResponse": {
      "id": "ReadRepositoryFileResponse",
      "properties": {
        "contents": {
          "type": "string",
          "description": "The file's contents.",
          "format": "byte"
        }
      },
      "description": "`ReadRepositoryFile` response message.",
      "type": "object"
    },
    "WriteFileResponse": {
      "description": "`WriteFile` response message.",
      "id": "WriteFileResponse",
      "properties": {},
      "type": "object"
    },
    "CommitAuthor": {
      "id": "CommitAuthor",
      "type": "object",
      "description": "Represents the author of a Git commit.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Required. The commit author's email address."
        },
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        }
      }
    },
    "Config": {
      "properties": {
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "defaultKmsKeyName": {
          "type": "string",
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created."
        },
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        }
      },
      "description": "Config for all repositories in a given project and location.",
      "id": "Config",
      "type": "object"
    },
    "DirectoryEntry": {
      "id": "DirectoryEntry",
      "description": "Represents a single entry in a directory.",
      "type": "object",
      "properties": {
        "file": {
          "description": "A file in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        },
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        },
        "directory": {
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        }
      }
    },
    "CompilationError": {
      "id": "CompilationError",
      "type": "object",
      "properties": {
        "stack": {
          "description": "Output only. The error's full stack trace.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root."
        },
        "actionTarget": {
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "$ref": "Target",
          "readOnly": true
        },
        "message": {
          "description": "Output only. The error's top level message.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An error encountered when attempting to compile a Dataform project."
    },
    "WorkflowInvocationAction": {
      "type": "object",
      "id": "WorkflowInvocationAction",
      "properties": {
        "bigqueryUnitTestAction": {
          "$ref": "BigQueryUnitTestAction",
          "readOnly": true,
          "description": "Output only. The workflow action's unit test details."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "state": {
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "description": "Output only. This action's current state."
        },
        "bigqueryAction": {
          "$ref": "BigQueryAction",
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true
        },
        "dataPreparationAction": {
          "readOnly": true,
          "description": "Output only. The workflow action's data preparation action details.",
          "$ref": "DataPreparationAction"
        },
        "notebookAction": {
          "readOnly": true,
          "$ref": "NotebookAction",
          "description": "Output only. The workflow action's notebook action details."
        },
        "target": {
          "$ref": "Target",
          "readOnly": true,
          "description": "Output only. This action's identifier. Unique within the workflow invocation."
        },
        "invocationTiming": {
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "$ref": "Interval",
          "readOnly": true
        },
        "canonicalTarget": {
          "$ref": "Target",
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "readOnly": true
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If and only if action's state is FAILED a failure reason is set."
        }
      },
      "description": "Represents a single action in a workflow invocation."
    },
    "WorkflowTrigger": {
      "type": "object",
      "id": "WorkflowTrigger",
      "properties": {
        "tableUpdateTrigger": {
          "description": "The table update trigger configuration.",
          "$ref": "TableUpdateTrigger"
        }
      },
      "description": "The trigger definition to invoke a workflow."
    },
    "PullGitCommitsRequest": {
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
        }
      },
      "type": "object",
      "id": "PullGitCommitsRequest",
      "description": "`PullGitCommits` request message."
    },
    "Folder": {
      "id": "Folder",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "creatorIamPrincipal": {
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "teamFolderName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder."
        },
        "createTime": {
          "description": "Output only. The timestamp of when the Folder was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RemoveFileRequest": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      },
      "type": "object",
      "id": "RemoveFileRequest",
      "description": "`RemoveFile` request message."
    },
    "CompilationResult": {
      "properties": {
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "createTime": {
          "description": "Output only. The timestamp of when the compilation result was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gitCommitish": {
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "dataformCoreVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of `@dataform/core` that was used for compilation."
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "readOnly": true,
          "$ref": "PrivateResourceMetadata"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The compilation result's name."
        },
        "compilationErrors": {
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          },
          "readOnly": true,
          "description": "Output only. Errors encountered during project compilation."
        },
        "releaseConfig": {
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "workspace": {
          "type": "string",
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`."
        },
        "gcsRepositorySnapshotMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks.",
          "$ref": "GcsRepositorySnapshotMetadata"
        },
        "resolvedGitCommitSha": {
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "readOnly": true,
          "type": "string"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key."
        }
      },
      "id": "CompilationResult",
      "description": "Represents the result of compiling a Dataform project.",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "SearchTeamFoldersResponse": {
      "id": "SearchTeamFoldersResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "TeamFolderSearchResult"
          },
          "description": "List of TeamFolders that match the search query."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`SearchTeamFolders` response message."
    },
    "DeleteBranchRequest": {
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, any non-pushed commits on the branch will be deleted. Upstream branch name will be the same as the branch to delete."
        },
        "branch": {
          "description": "Required. The name of the branch in the Git repository to delete.",
          "type": "string"
        }
      },
      "id": "DeleteBranchRequest",
      "description": "`DeleteBranch` request message.",
      "type": "object"
    },
    "ActionSimpleLoadMode": {
      "type": "object",
      "properties": {},
      "id": "ActionSimpleLoadMode",
      "description": "Simple load definition"
    },
    "BigQueryUnitTestAction": {
      "description": "Represents a workflow action that will run a BigQuery unit test.",
      "type": "object",
      "properties": {
        "expectedResultsSqlScript": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. SQL script for the expected results."
        },
        "totalBilledBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total bytes billed for this action. Combined total for actual and expected jobs.",
          "type": "string"
        },
        "actualResultsJobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Job ID for the actual results."
        },
        "actualResultsSqlScript": {
          "type": "string",
          "description": "Output only. SQL script for the actual results.",
          "readOnly": true
        },
        "totalProcessedBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total bytes processed for this action. Combined total for actual and expected jobs.",
          "format": "int64"
        },
        "expectedResultsJobId": {
          "description": "Output only. Job ID for the expected results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BigQueryUnitTestAction"
    },
    "Relation": {
      "id": "Relation",
      "description": "Represents a database relation.",
      "properties": {
        "storageUri": {
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "additionalOptions": {
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connection": {
          "type": "string",
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT."
        },
        "relationType": {
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "description": "The type of this relation."
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "fileFormat": {
          "description": "Optional. The file format for the BigQuery table.",
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ]
        },
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which this relation should contain."
        },
        "tableFormat": {
          "type": "string",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "description": "Optional. The table format for the BigQuery table."
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "partitionExpirationDays": {
          "format": "int32",
          "description": "Sets the partition expiration in days.",
          "type": "integer"
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "preOperations": {
          "description": "SQL statements to be executed before creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
        },
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "clusterExpressions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of columns or SQL expressions used to cluster the table."
        },
        "postOperations": {
          "type": "array",
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Workspace": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The workspace's name.",
          "type": "string"
        },
        "enableBranchManagement": {
          "type": "boolean",
          "description": "Immutable. Controls the enablement of branch checkout for the workspace. When set to True, the workspace will be allowed to checkout branches."
        },
        "shallow": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, the workspace was created as a shallow clone. Will be set to true if the depth field is set to a value greater than 0, otherwise it will be set to false."
        },
        "depth": {
          "type": "integer",
          "description": "Optional. Input only. Immutable. The maximum depth of the Git repository to checkout for this workspace. If defined and greater than 0, the Git repository will be created as a shallow clone with the given depth, otherwise a full clone will be performed. This field is available only for GitHub, GitLab and 1p repositories with enabled branch management.",
          "format": "int32"
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`.",
          "readOnly": true
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the workspace was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "disableMoves": {
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted.",
          "type": "boolean"
        },
        "originalBranch": {
          "type": "string",
          "description": "Optional. Input only. Immutable. The name of the default upstream branch for all pull/push operations in the remote repository for this workspace. If empty, the HEAD branch from repository will be used."
        }
      },
      "id": "Workspace",
      "description": "Represents a Dataform Git workspace."
    },
    "WorkspaceCompilationOverrides": {
      "description": "Configures workspace compilation overrides for a repository. Primarily used by the UI (`console.cloud.google.com`). `schema_suffix` and `table_prefix` can have a special expression - `${workspaceName}`, which refers to the workspace name from which the compilation results will be created. API callers are expected to resolve the expression in these overrides and provide them explicitly in `code_compilation_config` (https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories.compilationResults#codecompilationconfig) when creating workspace-scoped compilation results.",
      "type": "object",
      "id": "WorkspaceCompilationOverrides",
      "properties": {
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object"
    },
    "ScheduledExecutionRecord": {
      "type": "object",
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "properties": {
        "errorStatus": {
          "$ref": "Status",
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful."
        },
        "executionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of this execution attempt."
        },
        "workflowInvocation": {
          "type": "string",
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`."
        }
      },
      "id": "ScheduledExecutionRecord"
    },
    "ScheduledReleaseRecord": {
      "type": "object",
      "description": "A record of an attempt to create a compilation result for this release config.",
      "properties": {
        "compilationResult": {
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "errorStatus": {
          "$ref": "Status",
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful."
        },
        "releaseTime": {
          "description": "Output only. The timestamp of this release attempt.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ScheduledReleaseRecord"
    },
    "CommitRepositoryChangesResponse": {
      "type": "object",
      "description": "`CommitRepositoryChanges` response message.",
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      },
      "id": "CommitRepositoryChangesResponse"
    },
    "MoveFolderRequest": {
      "description": "`MoveFolder` request message.",
      "id": "MoveFolderRequest",
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      }
    },
    "FetchRemoteBranchesResponse": {
      "id": "FetchRemoteBranchesResponse",
      "properties": {
        "branches": {
          "description": "The remote repository's branch names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "`FetchRemoteBranches` response message.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "DataPreparationAction": {
      "properties": {
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "ActionSqlDefinition"
        },
        "contentsYaml": {
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow.",
          "readOnly": true,
          "type": "string"
        },
        "generatedSql": {
          "type": "string",
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a workflow action that will run a Data Preparation.",
      "id": "DataPreparationAction"
    },
    "SearchFilesResponse": {
      "description": "Client-facing representation of a file search response.",
      "type": "object",
      "id": "SearchFilesResponse",
      "properties": {
        "searchResults": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "List of matched results."
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DeleteBranchResponse": {
      "type": "object",
      "id": "DeleteBranchResponse",
      "description": "`DeleteBranch` response message.",
      "properties": {}
    },
    "MoveRepositoryRequest": {
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      },
      "description": "`MoveRepository` request message.",
      "type": "object",
      "id": "MoveRepositoryRequest"
    },
    "MakeDirectoryResponse": {
      "id": "MakeDirectoryResponse",
      "type": "object",
      "properties": {},
      "description": "`MakeDirectory` response message."
    },
    "PushGitCommitsResponse": {
      "type": "object",
      "id": "PushGitCommitsResponse",
      "properties": {},
      "description": "`PushGitCommits` response message."
    },
    "FilesystemEntryMetadata": {
      "type": "object",
      "description": "Represents metadata for a single entry in a filesystem.",
      "properties": {
        "sizeBytes": {
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Represents the time of the last modification of the entry.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "FilesystemEntryMetadata"
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "type": "object",
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "properties": {
        "tokenStatus": {
          "type": "string",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "description": "Indicates the status of the Git access token."
        }
      }
    },
    "GitRemoteSettings": {
      "description": "Controls Git remote configuration for a repository.",
      "id": "GitRemoteSettings",
      "properties": {
        "authenticationTokenSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "gitRepositoryLink": {
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`",
          "type": "string"
        },
        "tokenStatus": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: The field does not contain any token status information. Instead use https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories/computeAccessTokenStatus",
          "type": "string"
        },
        "defaultBranch": {
          "type": "string",
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used."
        },
        "sshAuthenticationConfig": {
          "description": "Optional. Authentication fields for remote uris using SSH protocol.",
          "$ref": "SshAuthenticationConfig"
        },
        "effectiveDefaultBranch": {
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The Git remote's URL."
        }
      },
      "type": "object"
    },
    "CommitMetadata": {
      "id": "CommitMetadata",
      "description": "Represents a Dataform Git commit.",
      "type": "object",
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        }
      }
    },
    "InvocationConfig": {
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "type": "object",
      "id": "InvocationConfig",
      "properties": {
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "queryPriority": {
          "type": "string",
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ],
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ]
        },
        "executionMode": {
          "enumDescriptions": [
            "Default value.",
            "Default execution mode, which runs all actions except unit tests. Same as ALL_EXCEPT_UNIT_TESTS.",
            "Run all actions except unit tests.",
            "Run unit tests only."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_MODE_UNSPECIFIED",
            "DEFAULT",
            "ALL_EXCEPT_UNIT_TESTS",
            "UNIT_TESTS_ONLY"
          ],
          "description": "Optional. Specifies the execution mode for the workflow invocation."
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "description": "Optional. When set to true, any incremental tables will be fully refreshed.",
          "type": "boolean"
        },
        "includedTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The set of tags to include."
        },
        "transitiveDependentsIncluded": {
          "type": "boolean",
          "description": "Optional. When set to true, transitive dependents of included actions will be executed."
        },
        "includedTargets": {
          "type": "array",
          "description": "Optional. The set of action identifiers to include.",
          "items": {
            "$ref": "Target"
          }
        },
        "endUserAuthConfig": {
          "$ref": "EndUserAuthenticationConfig",
          "description": "Optional. Configuration for end user authentication. Note that this should not be set when `service_account` is used."
        }
      }
    },
    "Assertion": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the assertion's automatically-generated view and its columns."
        },
        "parentAction": {
          "$ref": "Target",
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated."
        }
      },
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "id": "Assertion",
      "type": "object"
    },
    "Notebook": {
      "description": "Represents a notebook.",
      "type": "object",
      "id": "Notebook",
      "properties": {
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "contents": {
          "description": "The contents of the notebook.",
          "type": "string"
        }
      }
    },
    "ListReleaseConfigsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "releaseConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReleaseConfig"
          },
          "description": "List of release configs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListReleaseConfigsResponse",
      "description": "`ListReleaseConfigs` response message.",
      "type": "object"
    },
    "NotebookRuntimeOptions": {
      "id": "NotebookRuntimeOptions",
      "description": "Configures various aspects of Dataform notebook runtime.",
      "properties": {
        "gcsOutputBucket": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`."
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications.",
          "type": "string"
        },
        "gcsRepositorySnapshotDestination": {
          "$ref": "GcsRepositorySnapshotDestination",
          "description": "Optional. The Google Cloud Storage destination to upload the snapshot to. For empty URI it defaults to the provided gcs_output_bucket. Format: `gs://bucket-name/path/`."
        }
      },
      "type": "object"
    },
    "ReadFileResponse": {
      "description": "`ReadFile` response message.",
      "id": "ReadFileResponse",
      "type": "object",
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "DataEncryptionState": {
      "id": "DataEncryptionState",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "description": "Required. The KMS key version name with which data of a resource is encrypted.",
          "type": "string"
        }
      },
      "description": "Describes encryption state of a resource."
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
[...]
