{
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://datastream.googleapis.com/",
  "id": "datastream:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "version_module": true,
  "endpoints": [
    {
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    }
  ],
  "version": "v1",
  "basePath": "",
  "servicePath": "",
  "batchPath": "batch",
  "rootUrl": "https://datastream.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "PscInterfaceConfig": {
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC.",
      "type": "object",
      "id": "PscInterfaceConfig",
      "properties": {
        "networkAttachment": {
          "type": "string",
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`"
        }
      }
    },
    "BackfillAllStrategy": {
      "properties": {
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "mongodbExcludedObjects": {
          "$ref": "MongodbCluster",
          "description": "MongoDB data source objects to avoid backfilling"
        },
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        },
        "spannerExcludedObjects": {
          "$ref": "SpannerDatabase",
          "description": "Spanner data source objects to avoid backfilling."
        },
        "postgresqlExcludedObjects": {
          "description": "PostgreSQL data source objects to avoid backfilling.",
          "$ref": "PostgresqlRdbms"
        },
        "salesforceExcludedObjects": {
          "description": "Salesforce data source objects to avoid backfilling",
          "$ref": "SalesforceOrg"
        },
        "sqlServerExcludedObjects": {
          "description": "SQLServer data source objects to avoid backfilling",
          "$ref": "SqlServerRdbms"
        },
        "saasExcludedObjects": {
          "$ref": "SourceCatalog",
          "description": "Source catalog data source objects to avoid backfilling. This is mainly used to represent SaaS applications objects."
        }
      },
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "type": "object",
      "id": "BackfillAllStrategy"
    },
    "OracleTable": {
      "description": "Oracle table.",
      "id": "OracleTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "OracleColumn"
          }
        }
      },
      "type": "object"
    },
    "BlmtConfig": {
      "type": "object",
      "id": "BlmtConfig",
      "description": "The configuration for BLMT.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. The Cloud Storage bucket name."
        },
        "rootPath": {
          "type": "string",
          "description": "The root path inside the Cloud Storage bucket."
        },
        "tableFormat": {
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ],
          "type": "string",
          "description": "Required. The table format.",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        },
        "fileFormat": {
          "description": "Required. The file format.",
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ],
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ]
        },
        "connectionName": {
          "type": "string",
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`"
        }
      }
    },
    "MongodbField": {
      "type": "object",
      "properties": {
        "field": {
          "description": "The field name.",
          "type": "string"
        }
      },
      "description": "MongoDB Field.",
      "id": "MongodbField"
    },
    "GcsDestinationConfig": {
      "properties": {
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        },
        "fileRotationInterval": {
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "type": "string",
          "format": "google-duration"
        },
        "jsonFileFormat": {
          "$ref": "JsonFileFormat",
          "description": "JSON file format configuration."
        },
        "fileRotationMb": {
          "description": "The maximum file size to be saved in the bucket.",
          "format": "int32",
          "type": "integer"
        },
        "path": {
          "type": "string",
          "description": "Path inside the Cloud Storage bucket to write data to."
        }
      },
      "type": "object",
      "description": "Google Cloud Storage destination configuration",
      "id": "GcsDestinationConfig"
    },
    "DropLargeObjects": {
      "properties": {},
      "id": "DropLargeObjects",
      "type": "object",
      "description": "Configuration to drop large object values."
    },
    "VpcPeeringConfig": {
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "type": "object",
      "properties": {
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        },
        "vpc": {
          "type": "string",
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`"
        }
      },
      "id": "VpcPeeringConfig"
    },
    "SalesforceMarketingCloudSourceConfig": {
      "type": "object",
      "id": "SalesforceMarketingCloudSourceConfig",
      "description": "Configuration for syncing data from a Salesforce Marketing Cloud source.",
      "properties": {
        "fullRefreshPollingInterval": {
          "type": "string",
          "description": "Required. Specifies the polling interval for a full refresh of objects that do not support incremental sync. If not set, a default value of 24 hours is used. The duration must be between 1 and 24 hours, inclusive.",
          "format": "google-duration"
        },
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        },
        "pollingInterval": {
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string"
        }
      }
    },
    "CustomizationRule": {
      "id": "CustomizationRule",
      "type": "object",
      "description": "A customization rule to apply to a set of objects.",
      "properties": {
        "bigqueryPartitioning": {
          "$ref": "BigQueryPartitioning",
          "description": "BigQuery partitioning rule."
        },
        "bigqueryClustering": {
          "$ref": "BigQueryClustering",
          "description": "BigQuery clustering rule."
        }
      }
    },
    "QuotaFailure": {
      "properties": {
        "violations": {
          "description": "Describes all quota violations.",
          "type": "array",
          "items": {
            "$ref": "QuotaFailureViolation"
          }
        }
      },
      "id": "QuotaFailure",
      "type": "object",
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure."
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EncryptionAndServerValidation": {
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option.",
      "type": "object",
      "id": "EncryptionAndServerValidation",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate.",
          "type": "string"
        }
      }
    },
    "PostgresqlProfile": {
      "description": "Profile for connecting to a PostgreSQL source.",
      "type": "object",
      "id": "PostgresqlProfile",
      "properties": {
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "type": "integer"
        },
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)",
          "$ref": "PostgresqlSslConfig"
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      }
    },
    "DatasetTemplate": {
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information.",
          "type": "string"
        },
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "datasetIdPrefix": {
          "description": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Dataset template used for dynamic dataset creation.",
      "id": "DatasetTemplate"
    },
    "OauthClientCredentials": {
      "description": "OAuth Client Credentials.",
      "type": "object",
      "id": "OauthClientCredentials",
      "properties": {
        "clientSecret": {
          "description": "Required. Client secret for OAuth Client Credentials.",
          "$ref": "Secret"
        },
        "clientId": {
          "description": "Required. Client ID for OAuth Client Credentials.",
          "type": "string"
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "type": "object",
      "properties": {},
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "id": "StaticServiceIpConnectivity"
    },
    "SalesforceObject": {
      "properties": {
        "objectName": {
          "description": "The object name.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "SalesforceField"
          },
          "description": "Salesforce fields. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing."
        }
      },
      "id": "SalesforceObject",
      "description": "Salesforce object.",
      "type": "object"
    },
    "ListConnectionProfilesResponse": {
      "description": "Response message for listing connection profiles.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connectionProfiles": {
          "items": {
            "$ref": "ConnectionProfile"
          },
          "description": "List of connection profiles.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListConnectionProfilesResponse"
    },
    "ListStreamObjectsResponse": {
      "type": "object",
      "description": "Response containing the objects for a stream.",
      "properties": {
        "streamObjects": {
          "items": {
            "$ref": "StreamObject"
          },
          "description": "List of stream objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      },
      "id": "ListStreamObjectsResponse"
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "type": "object",
      "properties": {
        "staticIps": {
          "description": "list of static ips by account",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for a 'FetchStaticIps' response."
    },
    "OracleAsmConfig": {
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection.",
      "type": "object",
      "properties": {
        "asmService": {
          "description": "Required. ASM service name for the Oracle ASM connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle ASM connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the Oracle ASM connection.",
          "type": "string"
        },
        "connectionAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Connection string attributes"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Port for the Oracle ASM connection."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the Oracle ASM connection."
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the Oracle ASM connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        }
      },
      "id": "OracleAsmConfig"
    },
    "Stream": {
      "id": "Stream",
      "description": "A resource representing streaming data from a source to a destination.",
      "properties": {
        "errors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors on the Stream."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The stream's name.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update time of the stream."
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backfillAll": {
          "$ref": "BackfillAllStrategy",
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded."
        },
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Required. Source connection profile configuration."
        },
        "state": {
          "description": "The state of the stream.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ]
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "ruleSets": {
          "items": {
            "$ref": "RuleSet"
          },
          "description": "Optional. Rule sets to apply to the stream.",
          "type": "array"
        },
        "destinationConfig": {
          "$ref": "DestinationConfig",
          "description": "Required. Destination connection profile configuration."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        },
        "lastRecoveryTime": {
          "format": "google-datetime",
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "LogMiner": {
      "id": "LogMiner",
      "description": "Configuration to use LogMiner CDC method.",
      "properties": {},
      "type": "object"
    },
    "PostgresqlObjectIdentifier": {
      "id": "PostgresqlObjectIdentifier",
      "description": "PostgreSQL data source object identifier.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        }
      },
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "description": "Describes a URL link.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiscoverConnectionProfileResponse": {
      "type": "object",
      "properties": {
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Enriched PostgreSQL RDBMS object."
        },
        "spannerDatabase": {
          "description": "Enriched Spanner database.",
          "$ref": "SpannerDatabase"
        },
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        },
        "salesforceOrg": {
          "description": "Enriched Salesforce organization.",
          "$ref": "SalesforceOrg"
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        },
        "sourceCatalog": {
          "description": "Enriched source catalog. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        },
        "sqlServerRdbms": {
          "description": "Enriched SQLServer RDBMS object.",
          "$ref": "SqlServerRdbms"
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Enriched MongoDB cluster."
        }
      },
      "description": "Response from a discover request.",
      "id": "DiscoverConnectionProfileResponse"
    },
    "PostgresqlSslConfig": {
      "type": "object",
      "id": "PostgresqlSslConfig",
      "properties": {
        "serverVerification": {
          "$ref": "ServerVerification",
          "description": " If this field is set, the communication will be encrypted with TLS encryption and the server identity will be authenticated."
        },
        "serverAndClientVerification": {
          "description": "If this field is set, the communication will be encrypted with TLS encryption and both the server identity and the client identity will be authenticated.",
          "$ref": "ServerAndClientVerification"
        }
      },
      "description": "PostgreSQL SSL configuration information."
    },
    "SqlServerRdbms": {
      "type": "object",
      "description": "SQLServer database structure.",
      "properties": {
        "schemas": {
          "items": {
            "$ref": "SqlServerSchema"
          },
          "description": "SQLServer schemas in the database server.",
          "type": "array"
        }
      },
      "id": "SqlServerRdbms"
    },
    "SalesforceObjectIdentifier": {
      "description": "Salesforce data source object identifier.",
      "id": "SalesforceObjectIdentifier",
      "properties": {
        "objectName": {
          "type": "string",
          "description": "Required. The object name."
        }
      },
      "type": "object"
    },
    "StopBackfillJobRequest": {
      "type": "object",
      "id": "StopBackfillJobRequest",
      "description": "Request for manually stopping a running backfill job for a specific stream object.",
      "properties": {}
    },
    "ValidationResult": {
      "properties": {
        "validations": {
          "type": "array",
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "items": {
            "$ref": "Validation"
          }
        }
      },
      "type": "object",
      "description": "Contains the current validation results.",
      "id": "ValidationResult"
    },
    "Route": {
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "type": "object",
      "id": "Route",
      "properties": {
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The update time of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "type": "string",
          "readOnly": true
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The create time of the resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        }
      }
    },
    "SqlServerColumn": {
      "properties": {
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "precision": {
          "format": "int32",
          "description": "Column precision.",
          "type": "integer"
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "dataType": {
          "type": "string",
          "description": "The SQLServer data type."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "type": "integer",
          "format": "int32",
          "description": "The ordinal position of the column in the table."
        }
      },
      "description": "SQLServer Column.",
      "type": "object",
      "id": "SqlServerColumn"
    },
    "SalesforceField": {
      "description": "Salesforce field.",
      "properties": {
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "dataType": {
          "description": "The data type.",
          "type": "string"
        },
        "nillable": {
          "type": "boolean",
          "description": "Indicates whether the field can accept nil values."
        }
      },
      "id": "SalesforceField",
      "type": "object"
    },
    "MongodbObjectIdentifier": {
      "description": "MongoDB data source object identifier.",
      "type": "object",
      "properties": {
        "collection": {
          "type": "string",
          "description": "Required. The collection name."
        },
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        }
      },
      "id": "MongodbObjectIdentifier"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "validationResult": {
          "$ref": "ValidationResult",
          "readOnly": true,
          "description": "Output only. Results of executed validations if there are any."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "description": "Request message for 'discover' ConnectionProfile request.",
      "id": "DiscoverConnectionProfileRequest",
      "properties": {
        "fullHierarchy": {
          "type": "boolean",
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE)."
        },
        "connectionProfile": {
          "$ref": "ConnectionProfile",
          "description": "Optional. An ad-hoc connection profile configuration."
        },
        "spannerDatabase": {
          "description": "Optional. Spanner database to enrich with child data objects and metadata.",
          "$ref": "SpannerDatabase"
        },
        "salesforceOrg": {
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata.",
          "$ref": "SalesforceOrg"
        },
        "hierarchyDepth": {
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved.",
          "type": "integer",
          "format": "int32"
        },
        "mongodbCluster": {
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata.",
          "$ref": "MongodbCluster"
        },
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata."
        },
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata."
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata."
        },
        "sourceCatalog": {
          "$ref": "SourceCatalog",
          "description": "Optional. Source catalog to enrich with child data objects and metadata. This is mainly used to represent SaaS sources databases."
        },
        "connectionProfileName": {
          "description": "Optional. A reference to an existing connection profile.",
          "type": "string"
        },
        "sqlServerRdbms": {
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata.",
          "$ref": "SqlServerRdbms"
        }
      },
      "type": "object"
    },
    "SqlServerSchema": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "The schema name."
        },
        "tables": {
          "type": "array",
          "description": "Tables in the schema.",
          "items": {
            "$ref": "SqlServerTable"
          }
        }
      },
      "description": "SQLServer schema.",
      "id": "SqlServerSchema"
    },
    "PreconditionFailure": {
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "id": "PreconditionFailure",
      "properties": {
        "violations": {
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "type": "array",
          "description": "Describes all precondition violations."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "SpannerProfile": {
      "description": "Profile for connecting to a Spanner source.",
      "type": "object",
      "properties": {
        "host": {
          "description": "Optional. The Spanner endpoint to connect to. Defaults to the global endpoint (https://spanner.googleapis.com). Must be in the format: https://spanner.{region}.rep.googleapis.com.",
          "type": "string"
        },
        "database": {
          "description": "Required. Immutable. Cloud Spanner database resource. This field is immutable. Must be in the format: projects/{project}/instances/{instance}/databases/{database_id}.",
          "type": "string"
        }
      },
      "id": "SpannerProfile"
    },
    "WorkdaySourceConfig": {
      "id": "WorkdaySourceConfig",
      "properties": {
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive."
        },
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        }
      },
      "description": "Configuration for syncing data from a Workday source.",
      "type": "object"
    },
    "ListStreamsResponse": {
      "description": "Response message for listing streams.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "streams": {
          "type": "array",
          "items": {
            "$ref": "Stream"
          },
          "description": "List of streams"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListStreamsResponse",
      "type": "object"
    },
    "FieldViolation": {
      "properties": {
        "reason": {
          "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message."
        }
      },
      "id": "FieldViolation",
      "description": "A message type used to describe a single bad request field.",
      "type": "object"
    },
    "PreconditionFailureViolation": {
      "id": "PreconditionFailureViolation",
      "type": "object",
      "description": "A message type used to describe a single precondition failure.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
        },
        "type": {
          "type": "string",
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
        },
        "subject": {
          "type": "string",
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
        }
      }
    },
    "EncryptionNotEnforced": {
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility.",
      "properties": {},
      "type": "object",
      "id": "EncryptionNotEnforced"
    },
    "DestinationConfig": {
      "type": "object",
      "id": "DestinationConfig",
      "description": "The configuration of the stream destination.",
      "properties": {
        "destinationConnectionProfile": {
          "type": "string",
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        },
        "bigqueryDestinationConfig": {
          "description": "BigQuery destination configuration.",
          "$ref": "BigQueryDestinationConfig"
        },
        "gcsDestinationConfig": {
          "$ref": "GcsDestinationConfig",
          "description": "A configuration for how data should be loaded to Cloud Storage."
        }
      }
    },
    "ObjectFilter": {
      "type": "object",
      "id": "ObjectFilter",
      "description": "Object filter to apply the rules to.",
      "properties": {
        "sourceObjectIdentifier": {
          "$ref": "SourceObjectIdentifier",
          "description": "Specific source object identifier."
        }
      }
    },
    "MysqlRdbms": {
      "description": "MySQL database structure",
      "properties": {
        "mysqlDatabases": {
          "items": {
            "$ref": "MysqlDatabase"
          },
          "description": "Mysql databases on the server",
          "type": "array"
        }
      },
      "type": "object",
      "id": "MysqlRdbms"
    },
    "SqlServerChangeTables": {
      "description": "Configuration to use Change Tables CDC read method.",
      "id": "SqlServerChangeTables",
      "properties": {},
      "type": "object"
    },
    "SalesforceOrg": {
      "id": "SalesforceOrg",
      "properties": {
        "objects": {
          "description": "Salesforce objects in the database server.",
          "type": "array",
          "items": {
            "$ref": "SalesforceObject"
          }
        }
      },
      "type": "object",
      "description": "Salesforce organization structure."
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "type": "object"
        }
      },
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
    },
    "PostgresqlColumn": {
      "id": "PostgresqlColumn",
      "description": "PostgreSQL Column.",
      "type": "object",
      "properties": {
        "scale": {
          "type": "integer",
          "format": "int32",
          "description": "Column scale."
        },
        "dataType": {
          "type": "string",
          "description": "The PostgreSQL data type."
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "length": {
          "format": "int32",
          "type": "integer",
          "description": "Column length."
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "column": {
          "type": "string",
          "description": "The column name."
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SalesforceSourceConfig": {
      "type": "object",
      "description": "Configuration for syncing data from a Salesforce source.",
      "properties": {
        "includeObjects": {
          "description": "The Salesforce objects to retrieve from the source.",
          "$ref": "SalesforceOrg"
        },
        "pollingInterval": {
          "format": "google-duration",
          "description": "Required. Salesforce objects polling interval. The interval at which new changes will be polled for each object. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string"
        },
        "excludeObjects": {
          "description": "The Salesforce objects to exclude from the stream.",
          "$ref": "SalesforceOrg"
        }
      },
      "id": "SalesforceSourceConfig"
    },
    "StreamObject": {
      "properties": {
        "name": {
          "description": "Output only. Identifier. The object resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation time of the object."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "description": "Output only. Active errors on the object.",
          "type": "array"
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update time of the object."
        },
        "customizationRules": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CustomizationRule"
          },
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object."
        }
      },
      "description": "A specific stream object (e.g a specific DB table).",
      "id": "StreamObject",
      "type": "object"
    },
    "StandardConnectionFormat": {
      "type": "object",
      "description": "Standard connection format.",
      "id": "StandardConnectionFormat",
      "properties": {
        "directConnection": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI.",
          "type": "boolean"
        }
      }
    },
    "ValidationMessage": {
      "type": "object",
      "id": "ValidationMessage",
      "description": "Represent user-facing validation result message.",
      "properties": {
        "message": {
          "type": "string",
          "description": "The result of the validation."
        },
        "metadata": {
          "description": "Additional metadata related to the result.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "description": "Message severity level (warning or error).",
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "type": "string"
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        }
      }
    },
    "SpannerChangeStreamPosition": {
      "type": "object",
      "description": "Represents a position in a Spanner change stream from which to start replicating.",
      "id": "SpannerChangeStreamPosition",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp to start change stream queries from. The timestamp must be a positive value.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BigQueryProfile": {
      "type": "object",
      "description": "Profile for connecting to a BigQuery destination.",
      "id": "BigQueryProfile",
      "properties": {}
    },
    "IntegerRangePartition": {
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range",
      "properties": {
        "start": {
          "type": "string",
          "description": "Required. The starting value for range partitioning (inclusive).",
          "format": "int64"
        },
        "end": {
          "type": "string",
          "format": "int64",
          "description": "Required. The ending value for range partitioning (exclusive)."
        },
        "interval": {
          "type": "string",
          "format": "int64",
          "description": "Required. The interval of each range within the partition."
        },
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        }
      },
      "id": "IntegerRangePartition",
      "type": "object"
    },
    "SqlServerSourceConfig": {
      "id": "SqlServerSourceConfig",
      "type": "object",
      "properties": {
        "maxConcurrentCdcTasks": {
          "description": "Max concurrent CDC tasks.",
          "format": "int32",
          "type": "integer"
        },
        "includeObjects": {
          "$ref": "SqlServerRdbms",
          "description": "The SQLServer objects to include in the stream."
        },
        "excludeObjects": {
          "description": "The SQLServer objects to exclude from the stream.",
          "$ref": "SqlServerRdbms"
        },
        "changeTables": {
          "description": "CDC reader reads from change tables.",
          "$ref": "SqlServerChangeTables"
        },
        "transactionLogs": {
          "$ref": "SqlServerTransactionLogs",
          "description": "CDC reader reads from transaction logs."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Max concurrent backfill tasks.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for syncing data from a SQLServer source."
    },
    "MysqlProfile": {
      "properties": {
        "password": {
          "description": "Optional. Input only. Password for the MySQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the MySQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the MySQL connection.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Port for the MySQL connection, default value is 3306.",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the MySQL connection."
        },
        "sslConfig": {
          "description": "SSL configuration for the MySQL connection.",
          "$ref": "MysqlSslConfig"
        }
      },
      "id": "MysqlProfile",
      "type": "object",
      "description": "Profile for connecting to a MySQL source."
    },
    "OracleRdbms": {
      "id": "OracleRdbms",
      "type": "object",
      "description": "Oracle database structure.",
      "properties": {
        "oracleSchemas": {
          "type": "array",
          "items": {
            "$ref": "OracleSchema"
          },
          "description": "Oracle schemas/databases in the database server."
        }
      }
    },
    "JsonFileFormat": {
      "id": "JsonFileFormat",
      "type": "object",
      "description": "JSON file format configuration.",
      "properties": {
        "schemaFileFormat": {
          "description": "The schema file format along JSON data files.",
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ]
        },
        "compression": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "description": "Compression of the loaded JSON file."
        }
      }
    },
    "Gtid": {
      "description": "Use GTID based replication.",
      "properties": {},
      "id": "Gtid",
      "type": "object"
    },
    "StreamLargeObjects": {
      "description": "Configuration to stream large object values.",
      "id": "StreamLargeObjects",
      "type": "object",
      "properties": {}
    },
    "PostgresqlSourceConfig": {
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "properties": {
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        },
        "includeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to include in the stream."
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer"
        },
        "excludeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to exclude from the stream."
        }
      },
      "type": "object",
      "id": "PostgresqlSourceConfig"
    },
    "SourceObjectIdentifier": {
      "description": "Represents an identifier of an object in the data source.",
      "id": "SourceObjectIdentifier",
      "properties": {
        "oracleIdentifier": {
          "description": "Oracle data source object identifier.",
          "$ref": "OracleObjectIdentifier"
        },
        "sqlServerIdentifier": {
          "$ref": "SqlServerObjectIdentifier",
          "description": "SQLServer data source object identifier."
        },
        "mongodbIdentifier": {
          "$ref": "MongodbObjectIdentifier",
          "description": "MongoDB data source object identifier."
        },
        "salesforceIdentifier": {
          "description": "Salesforce data source object identifier.",
          "$ref": "SalesforceObjectIdentifier"
        },
        "mysqlIdentifier": {
          "$ref": "MysqlObjectIdentifier",
          "description": "Mysql data source object identifier."
        },
        "spannerIdentifier": {
          "description": "Spanner data source object identifier.",
          "$ref": "SpannerObjectIdentifier"
        },
        "postgresqlIdentifier": {
          "$ref": "PostgresqlObjectIdentifier",
          "description": "PostgreSQL data source object identifier."
        }
      },
      "type": "object"
    },
    "OauthRefreshTokenCredentials": {
      "properties": {
        "refreshToken": {
          "$ref": "Secret",
          "description": "Required. Specifies the OAuth Refresh Token."
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Specifies the OAuth Client Credentials."
        }
      },
      "id": "OauthRefreshTokenCredentials",
      "description": "OAuth Refresh Token Credentials.",
      "type": "object"
    },
    "ConnectionProfile": {
      "properties": {
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "oracleProfile": {
          "$ref": "OracleProfile",
          "description": "Profile for connecting to an Oracle source."
        },
        "sqlServerProfile": {
          "description": "Profile for connecting to a SQLServer source.",
          "$ref": "SqlServerProfile"
        },
        "forwardSshConnectivity": {
          "$ref": "ForwardSshTunnelConnectivity",
          "description": "Forward SSH tunnel connectivity."
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "postgresqlProfile": {
          "$ref": "PostgresqlProfile",
          "description": "Profile for connecting to a PostgreSQL source."
        },
        "salesforceMarketingCloudProfile": {
          "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
          "$ref": "SalesforceMarketingCloudProfile"
        },
        "staticServiceIpConnectivity": {
          "$ref": "StaticServiceIpConnectivity",
          "description": "Static Service IP connectivity."
        },
        "mongodbProfile": {
          "description": "Profile for connecting to a MongoDB source.",
          "$ref": "MongodbProfile"
        },
        "spannerProfile": {
          "description": "Profile for connecting to a Spanner source.",
          "$ref": "SpannerProfile"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "dataverseProfile": {
          "description": "Profile for connecting to a Dataverse source.",
          "$ref": "DataverseProfile"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the resource."
        },
        "bigqueryProfile": {
          "description": "Profile for connecting to a BigQuery destination.",
          "$ref": "BigQueryProfile"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "serviceNowProfile": {
          "$ref": "ServiceNowProfile",
          "description": "Profile for connecting to a ServiceNow source."
        },
        "gcsProfile": {
          "description": "Profile for connecting to a Cloud Storage destination.",
          "$ref": "GcsProfile"
        },
        "mysqlProfile": {
          "description": "Profile for connecting to a MySQL source.",
          "$ref": "MysqlProfile"
        },
        "salesforceProfile": {
          "$ref": "SalesforceProfile",
          "description": "Profile for connecting to a Salesforce source."
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource's name.",
          "type": "string"
        },
        "workdayProfile": {
          "description": "Optional. Profile for connecting to a Workday source.",
          "$ref": "WorkdayProfile"
        }
      },
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream.",
      "type": "object",
      "id": "ConnectionProfile"
    },
    "ListPrivateConnectionsResponse": {
      "type": "object",
      "id": "ListPrivateConnectionsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "type": "array",
          "description": "List of private connectivity configurations.",
          "items": {
            "$ref": "PrivateConnection"
          }
        }
      },
      "description": "Response containing a list of private connection configurations."
    },
    "SpannerSourceConfig": {
      "id": "SpannerSourceConfig",
      "type": "object",
      "properties": {
        "excludeObjects": {
          "description": "Optional. The Spanner objects to avoid retrieving. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "spannerRpcPriority": {
          "enumDescriptions": [
            "Unspecified RPC priority.",
            "Low RPC priority.",
            "Medium RPC priority.",
            "High RPC priority."
          ],
          "type": "string",
          "enum": [
            "SPANNER_RPC_PRIORITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Optional. The RPC priority to use for the stream."
        },
        "backfillDataBoostEnabled": {
          "description": "Optional. Whether to use Data Boost for Spanner backfills. Defaults to false if not set.",
          "type": "boolean"
        },
        "includeObjects": {
          "description": "Optional. The Spanner objects to retrieve from the data source. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "fgacRole": {
          "type": "string",
          "description": "Optional. The FGAC role to use for the stream."
        },
        "changeStreamName": {
          "description": "Required. Immutable. The change stream name to use for the stream.",
          "type": "string"
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "description": "Optional. Maximum number of concurrent backfill tasks.",
          "type": "integer"
        },
        "maxConcurrentCdcTasks": {
          "format": "int32",
          "description": "Optional. Maximum number of concurrent CDC tasks.",
          "type": "integer"
        }
      },
      "description": "Configuration for syncing data from a Spanner source."
    },
    "RequestInfo": {
      "properties": {
        "servingData": {
          "type": "string",
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
        },
        "requestId": {
          "type": "string",
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs."
        }
      },
      "type": "object",
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "id": "RequestInfo"
    },
    "GcsProfile": {
      "type": "object",
      "description": "Profile for connecting to a Cloud Storage destination.",
      "id": "GcsProfile",
      "properties": {
        "rootPath": {
          "description": "Optional. The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        }
      }
    },
    "MostRecentStartPosition": {
      "type": "object",
      "id": "MostRecentStartPosition",
      "properties": {},
      "description": "CDC strategy to start replicating from the most recent position in the source."
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "A title that explains the reason for the error."
        },
        "errorTime": {
          "description": "The time when the error occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A message containing more information about the error that occurred."
        },
        "errorUuid": {
          "type": "string",
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses."
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional information about the error."
        }
      },
      "description": "Represent a user-facing Error."
    },
    "ListRoutesResponse": {
      "id": "ListRoutesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "routes": {
          "type": "array",
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          }
        }
      },
      "description": "Route list response."
    },
    "RetryInfo": {
      "id": "RetryInfo",
      "type": "object",
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "properties": {
        "retryDelay": {
          "format": "google-duration",
          "description": "Clients should wait at least this long between retrying the same request.",
          "type": "string"
        }
      }
    },
    "StartBackfillJobResponse": {
      "id": "StartBackfillJobResponse",
      "type": "object",
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "properties": {
        "object": {
          "description": "The stream object resource a backfill job was started for.",
          "$ref": "StreamObject"
        }
      }
    },
    "SourceCatalog": {
      "properties": {
        "objects": {
          "description": "Optional. Source objects in the catalog.",
          "type": "array",
          "items": {
            "$ref": "SourceObject"
          }
        }
      },
      "id": "SourceCatalog",
      "type": "object",
      "description": "Source catalog."
    },
    "OracleSslConfig": {
      "properties": {
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "serverCertificateDistinguishedName": {
          "type": "string",
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced."
        },
        "caCertificateSet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile."
        }
      },
      "id": "OracleSslConfig",
      "type": "object",
      "description": "Oracle SSL configuration information."
    },
    "BackfillNoneStrategy": {
      "id": "BackfillNoneStrategy",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "properties": {},
      "type": "object"
    },
    "LogFileDirectories": {
      "properties": {
        "onlineLogDirectory": {
          "description": "Required. Oracle directory for online logs.",
          "type": "string"
        },
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "id": "LogFileDirectories"
    },
    "OracleAsmLogFileAccess": {
      "type": "object",
      "id": "OracleAsmLogFileAccess",
      "properties": {},
      "description": "Configuration to use Oracle ASM to access the log files."
    },
    "RuleSet": {
      "properties": {
        "objectFilter": {
          "$ref": "ObjectFilter",
          "description": "Required. Object filter to apply the customization rules to."
        },
        "customizationRules": {
          "description": "Required. List of customization rules to apply.",
          "type": "array",
          "items": {
            "$ref": "CustomizationRule"
          }
        }
      },
      "type": "object",
      "id": "RuleSet",
      "description": "A set of rules to apply to a set of objects."
    },
    "PostgresqlSchema": {
      "type": "object",
      "description": "PostgreSQL schema.",
      "id": "PostgresqlSchema",
      "properties": {
        "schema": {
          "type": "string",
          "description": "The schema name."
        },
        "postgresqlTables": {
          "type": "array",
          "items": {
            "$ref": "PostgresqlTable"
          },
          "description": "Tables in the schema."
        }
      }
    },
    "ServiceNowProfile": {
      "description": "Profile for connecting to a ServiceNow source.",
      "properties": {
        "userPasswordCredentials": {
          "description": "User-password authentication.",
          "$ref": "UserPasswordCredentials"
        },
        "instance": {
          "description": "Required. The instance of the ServiceNow account. This is the `` part of the URL `https://.service-now.com`.",
          "type": "string"
        },
        "oauthClientCredentials": {
          "description": "Credentials for authenticating with the ServiceNow API.",
          "$ref": "OauthClientCredentials"
        }
      },
      "type": "object",
      "id": "ServiceNowProfile"
    },
    "DataverseSourceConfig": {
      "id": "DataverseSourceConfig",
      "properties": {
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        },
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        }
      },
      "description": "Configuration for syncing data from a Dataverse source.",
      "type": "object"
    },
    "SpannerObjectIdentifier": {
      "type": "object",
      "id": "SpannerObjectIdentifier",
      "description": "Spanner data source object identifier.",
      "properties": {
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "StopBackfillJobResponse": {
      "id": "StopBackfillJobResponse",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      },
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "OracleScnPosition": {
      "description": "Oracle SCN position",
      "type": "object",
      "properties": {
        "scn": {
          "type": "string",
          "description": "Required. SCN number from where Logs will be read",
          "format": "int64"
        }
      },
      "id": "OracleScnPosition"
    },
    "QuotaFailureViolation": {
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "type": "object",
      "properties": {
        "quotaValue": {
          "format": "int64",
          "type": "string",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity."
        },
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\".",
          "type": "string"
        },
        "futureQuotaValue": {
          "type": "string",
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "format": "int64"
        },
        "apiService": {
          "type": "string",
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
        },
        "quotaDimensions": {
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "quotaMetric": {
          "type": "string",
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
        }
      },
      "id": "QuotaFailureViolation"
    },
    "CdcStrategy": {
      "description": "The strategy that the stream uses for CDC replication.",
      "id": "CdcStrategy",
      "properties": {
        "specificStartPosition": {
          "description": "Optional. Start replicating from a specific position in the source.",
          "$ref": "SpecificStartPosition"
        },
        "mostRecentStartPosition": {
          "description": "Optional. Start replicating from the most recent position in the source.",
          "$ref": "MostRecentStartPosition"
        },
        "nextAvailableStartPosition": {
          "$ref": "NextAvailableStartPosition",
          "description": "Optional. Resume replication from the next available position in the source."
        }
      },
      "type": "object"
    },
    "PrivateConnection": {
      "type": "object",
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "pscInterfaceConfig": {
          "$ref": "PscInterfaceConfig",
          "description": "PSC Interface Config."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the Private Connection.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ]
        },
        "error": {
          "$ref": "Error",
          "readOnly": true,
          "description": "Output only. In case of error, the details of the error in a user-friendly format."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
[...]
