{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "rootUrl": "https://dataplex.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDataplexV1ListGlossaryCategoriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that the service couldn't reach."
        },
        "categories": {
          "description": "Lists the GlossaryCategories in the specified parent.",
          "items": {
            "$ref": "GoogleCloudDataplexV1GlossaryCategory"
          },
          "type": "array"
        }
      },
      "description": "List GlossaryCategories Response",
      "id": "GoogleCloudDataplexV1ListGlossaryCategoriesResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1CreateGlossaryCategoryRequest": {
      "id": "GoogleCloudDataplexV1CreateGlossaryCategoryRequest",
      "description": "Creates a new GlossaryCategory under the specified Glossary.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource where this GlossaryCategory will be created. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} where locationId refers to a Google Cloud region.",
          "type": "string"
        },
        "category": {
          "description": "Required. The GlossaryCategory to create.",
          "$ref": "GoogleCloudDataplexV1GlossaryCategory"
        },
        "categoryId": {
          "description": "Required. GlossaryCategory identifier.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Glossary": {
      "id": "GoogleCloudDataplexV1Glossary",
      "description": "A Glossary represents a collection of GlossaryCategories and GlossaryTerms defined by the user. Glossary is a top level resource and is the Google Cloud parent resource of all the GlossaryCategories and GlossaryTerms within it.",
      "properties": {
        "categoryCount": {
          "type": "integer",
          "description": "Output only. The number of GlossaryCategories in the Glossary.",
          "readOnly": true,
          "format": "int32"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the Glossary. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}"
        },
        "createTime": {
          "description": "Output only. The time at which the Glossary was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the Glossary was last updated.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly display name of the Glossary. This is user-mutable. This will be same as the GlossaryId, if not specified.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Needed for resource freshness validation. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The user-mutable description of the Glossary.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated unique id for the Glossary. This ID will be different if the Glossary is deleted and re-created with the same name.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels for the Glossary."
        },
        "termCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of GlossaryTerms in the Glossary."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "properties": {
        "job": {
          "description": "DataScanJob created by RunDataScan request.",
          "$ref": "GoogleCloudDataplexV1DataScanJob"
        }
      },
      "id": "GoogleCloudDataplexV1RunDataScanResponse",
      "description": "Run DataScan Response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpec",
      "properties": {
        "vpcNetwork": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
          "description": "Vpc network."
        },
        "containerImage": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime",
          "description": "Container Image Runtime Configuration."
        },
        "batch": {
          "description": "Compute resources needed for a Task when using Dataproc Serverless.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources"
        }
      },
      "description": "Configuration for the underlying infrastructure used to run workloads."
    },
    "GoogleCloudDataplexV1AspectTypeMetadataTemplate": {
      "type": "object",
      "description": "MetadataTemplate definition for an AspectType.",
      "properties": {
        "type": {
          "description": "Required. The datatype of this field. The following values are supported:Primitive types: string int bool double datetime. Must be of the format RFC3339 UTC \"Zulu\" (Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\").Complex types: enum array map record",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "description": "Optional. Index is used to encode Template messages. The value of index can range between 1 and 2,147,483,647. Index must be unique within all fields in a Template. (Nested Templates can reuse indexes). Once a Template is defined, the index cannot be changed, because it identifies the field in the actual storage format. Index is a mandatory field, but it is optional for top level fields, and map/array \"values\" definitions.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the field."
        },
        "arrayItems": {
          "description": "Optional. If the type is array, set array_items. array_items can refer to a primitive field or a complex (record only) field. To specify a primitive field, you only need to set name and type in the nested MetadataTemplate. The recommended value for the name field is item, as this isn't used in the actual payload.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
        },
        "typeRef": {
          "description": "Optional. A reference to another field definition (not an inline definition). The value must be equal to the value of an id field defined elsewhere in the MetadataTemplate. Only fields with record type can refer to other fields.",
          "type": "string"
        },
        "constraints": {
          "description": "Optional. Specifies the constraints on this field.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints"
        },
        "mapItems": {
          "description": "Optional. If the type is map, set map_items. map_items can refer to a primitive field or a complex (record only) field. To specify a primitive field, you only need to set name and type in the nested MetadataTemplate. The recommended value for the name field is item, as this isn't used in the actual payload.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
        },
        "enumValues": {
          "description": "Optional. The list of values for an enum type. You must define it if the type is enum.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplateEnumValue"
          }
        },
        "recordFields": {
          "items": {
            "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
          },
          "description": "Optional. Field definition. You must specify it if the type is record. It defines the nested fields.",
          "type": "array"
        },
        "annotations": {
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplateAnnotations",
          "description": "Optional. Specifies annotations on this field."
        },
        "typeId": {
          "description": "Optional. You can use type id if this definition of the field needs to be reused later. The type id must be unique across the entire template. You can only specify it if the field type is record.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
    },
    "GoogleCloudDataplexV1Zone": {
      "properties": {
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data in this zone."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the zone. This ID will be different if the zone is deleted and re-created with the same name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the zone was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "assetStatus": {
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the zone."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the zone was last updated.",
          "type": "string"
        },
        "resourceSpec": {
          "$ref": "GoogleCloudDataplexV1ZoneResourceSpec",
          "description": "Required. Specification of the resources that are referenced by the assets within this zone."
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the zone."
        },
        "type": {
          "description": "Required. Immutable. The type of the zone.",
          "enumDescriptions": [
            "Zone type not specified.",
            "A zone that contains data that needs further processing before it is considered generally ready for consumption and analytics workloads.",
            "A zone that contains data that is considered to be ready for broader consumption and analytics workloads. Curated structured data stored in Cloud Storage must conform to certain file formats (parquet, avro and orc) and organized in a hive-compatible directory layout."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "RAW",
            "CURATED"
          ]
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User defined labels for the zone."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}."
        },
        "description": {
          "description": "Optional. Description of the zone.",
          "type": "string"
        }
      },
      "description": "A zone represents a logical group of related assets within a lake. A zone can be used to map to organizational structure or represent stages of data readiness from raw to curated. It provides managing behavior that is shared or inherited by all contained assets.",
      "type": "object",
      "id": "GoogleCloudDataplexV1Zone"
    },
    "GoogleCloudDataplexV1DataQualitySpec": {
      "properties": {
        "catalogPublishingEnabled": {
          "description": "Optional. If set, the latest DataScan job result will be published as Dataplex Universal Catalog metadata.",
          "type": "boolean"
        },
        "enableCatalogBasedRules": {
          "type": "boolean",
          "description": "Optional. If enabled, the data scan will retrieve rules defined in the dataplex-types.global.data-rules aspect on all paths of the catalog entry corresponding to the BigQuery table resource and all attached glossary terms. The path that data-rules aspect is attached on the table entry defines the column that the rule will be evaluated against. For glossary terms, the path that the terms are attached on the table entry defines the column that the rule will be evaluated against. At the start of scan execution, the rules reflect the latest state retrieved from the catalog entry and any updates on the rules thereafter are ignored for that execution. The updates will be reflected from the next execution. Rules defined in the datascan must be empty if this field is enabled."
        },
        "rules": {
          "description": "Required. The list of rules to evaluate against a data source. At least one rule is required.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRule"
          }
        },
        "postScanActions": {
          "description": "Optional. Actions to take upon job completion.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActions"
        },
        "rowFilter": {
          "type": "string",
          "description": "Optional. A filter applied to all rows in a single DataScan job. The filter needs to be a valid SQL expression for a WHERE clause in GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#where_clause).Example: col1 >= 0 AND col2 < 10"
        },
        "samplingPercent": {
          "description": "Optional. The percentage of the records to be selected from the dataset for DataScan. Value can range between 0.0 and 100.0 with up to 3 significant decimal digits. Sampling is not applied if sampling_percent is not specified, 0 or 100.",
          "type": "number",
          "format": "float"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter for selectively running a subset of rules. You can filter the request by the name or attribute key-value pairs defined on the rule. If not specified, all rules are run. The filter is applicable to both, the rules retrieved from catalog and explicitly defined rules in the scan. Please see filter syntax (https://docs.cloud.google.com/dataplex/docs/auto-data-quality-overview#rule-filtering) for more details."
        }
      },
      "id": "GoogleCloudDataplexV1DataQualitySpec",
      "description": "DataQualityScan related setting.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult": {
      "id": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult",
      "description": "The result of post scan actions of DataQualityScan job.",
      "type": "object",
      "properties": {
        "bigqueryExportResult": {
          "$ref": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult",
          "readOnly": true,
          "description": "Output only. The result of BigQuery export post scan action."
        }
      }
    },
    "GoogleCloudDataplexV1EntrySource": {
      "id": "GoogleCloudDataplexV1EntrySource",
      "type": "object",
      "description": "Information related to the source system of the data resource that is represented by the entry.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the resource was created in the source system.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time when the resource was last updated in the source system. If the entry exists in the system and its EntrySource has update_time populated, further updates to the EntrySource of the entry must provide incremental updates to its update_time.",
          "type": "string"
        },
        "system": {
          "description": "The name of the source system. Maximum length is 64 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "A user-friendly display name. Maximum length is 500 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the data resource. Maximum length is 2,000 characters."
        },
        "ancestors": {
          "items": {
            "$ref": "GoogleCloudDataplexV1EntrySourceAncestor"
          },
          "description": "Immutable. The entries representing the ancestors of the data resource in the source system.",
          "type": "array"
        },
        "platform": {
          "description": "The platform containing the source system. Maximum length is 64 characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels. The maximum size of keys and values is 128 characters each."
        },
        "resource": {
          "type": "string",
          "description": "The name of the resource in the source system. Maximum length is 4,000 characters."
        },
        "location": {
          "description": "Output only. Location of the resource in the source system. You can search the entry by this location. By default, this should match the location of the entry group containing this entry. A different value allows capturing the source location for data external to Google Cloud.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJob": {
      "id": "GoogleCloudDataplexV1MetadataJob",
      "description": "A metadata job resource.",
      "properties": {
        "exportSpec": {
          "description": "Export job specification.",
          "$ref": "GoogleCloudDataplexV1MetadataJobExportJobSpec"
        },
        "importSpec": {
          "description": "Import job specification.",
          "$ref": "GoogleCloudDataplexV1MetadataJobImportJobSpec"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Metadata job status.",
          "$ref": "GoogleCloudDataplexV1MetadataJobStatus"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the metadata job was created.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The name of the resource that the configuration is applied to, in the format projects/{project_number}/locations/{location_id}/metadataJobs/{metadata_job_id}."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT"
          ],
          "type": "string",
          "description": "Required. Metadata job type.",
          "enumDescriptions": [
            "Unspecified.",
            "Import job.",
            "Export job."
          ]
        },
        "uid": {
          "description": "Output only. A system-generated, globally unique ID for the metadata job. If the metadata job is deleted and then re-created with the same name, this ID is different.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the metadata job was updated."
        },
        "importResult": {
          "description": "Output only. Import job result.",
          "$ref": "GoogleCloudDataplexV1MetadataJobImportJobResult",
          "readOnly": true
        },
        "exportResult": {
          "$ref": "GoogleCloudDataplexV1MetadataJobExportJobResult",
          "description": "Output only. Export job result.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleRuleSource": {
      "description": "Represents the rule source information from Catalog.",
      "properties": {
        "rulePathElements": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElement"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Rule path elements represent information about the individual items in the relationship path between the scan resource and rule origin in that order."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleRuleSource"
    },
    "GoogleCloudDataplexV1ActionInvalidDataOrganization": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
      "properties": {},
      "description": "Action details for invalid data arrangement.",
      "type": "object"
    },
    "GoogleCloudDataplexV1BusinessGlossaryEvent": {
      "id": "GoogleCloudDataplexV1BusinessGlossaryEvent",
      "description": "Payload associated with Business Glossary related log events.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "An unspecified event type.",
            "Glossary create event.",
            "Glossary update event.",
            "Glossary delete event.",
            "Glossary category create event.",
            "Glossary category update event.",
            "Glossary category delete event.",
            "Glossary term create event.",
            "Glossary term update event.",
            "Glossary term delete event."
          ],
          "type": "string",
          "description": "The type of the event.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "GLOSSARY_CREATE",
            "GLOSSARY_UPDATE",
            "GLOSSARY_DELETE",
            "GLOSSARY_CATEGORY_CREATE",
            "GLOSSARY_CATEGORY_UPDATE",
            "GLOSSARY_CATEGORY_DELETE",
            "GLOSSARY_TERM_CREATE",
            "GLOSSARY_TERM_UPDATE",
            "GLOSSARY_TERM_DELETE"
          ]
        },
        "resource": {
          "type": "string",
          "description": "Name of the resource."
        }
      }
    },
    "GoogleCloudDataplexV1AspectSource": {
      "properties": {
        "dataVersion": {
          "description": "The version of the data format used to produce this data. This field is used to indicated when the underlying data format changes (e.g., schema modifications, changes to the source URL format definition, etc).",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the aspect was last updated in the source system."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the aspect was created in the source system."
        }
      },
      "description": "Information related to the source system of the aspect.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AspectSource"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo",
      "properties": {
        "averageLength": {
          "description": "Output only. Average length of non-null values in the scanned data.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "minLength": {
          "readOnly": true,
          "description": "Output only. Minimum length of non-null values in the scanned data.",
          "format": "int64",
          "type": "string"
        },
        "maxLength": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Maximum length of non-null values in the scanned data."
        }
      },
      "type": "object",
      "description": "The profile information for a string type field."
    },
    "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResultSet": {
      "id": "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResultSet",
      "description": "Contains all results from a debug query.",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult"
          },
          "readOnly": true,
          "description": "Output only. Contains all results. Up to 10 results can be returned.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1TriggerOnDemand": {
      "description": "The scan runs once via RunDataScan API.",
      "id": "GoogleCloudDataplexV1TriggerOnDemand",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "properties": {
        "endpoint": {
          "description": "The URI of the endpoint used to access the Metastore service.",
          "type": "string"
        },
        "message": {
          "description": "Additional information about the current status.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach/detach is in progress.",
            "Attach/detach could not be done due to errors."
          ],
          "type": "string",
          "description": "Current state of association."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last update time of the metastore status of the lake."
        }
      },
      "id": "GoogleCloudDataplexV1LakeMetastoreStatus",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply": {
      "properties": {
        "asset": {
          "description": "Resource name of one of the assets with failing security policy application. Populated for a lake or zone resource only.",
          "type": "string"
        }
      },
      "description": "Failed to apply security policy to the managed resource(s) under a lake, zone or an asset. For a lake or zone resource, one or more underlying assets has a failure applying security policy to the associated managed resource.",
      "id": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply",
      "type": "object"
    },
    "GoogleCloudDataplexV1MetadataJobImportJobSpec": {
      "id": "GoogleCloudDataplexV1MetadataJobImportJobSpec",
      "type": "object",
      "description": "Job specification for a metadata import job.You can run the following kinds of metadata import jobs: Full sync of entries with incremental import of their aspects. Supported for custom entries. Incremental import of aspects only. Supported for aspects that belong to custom entries and system entries. For custom entries, you can modify both optional aspects and required aspects. For system entries, you can modify optional aspects.",
      "properties": {
        "scope": {
          "description": "Required. A boundary on the scope of impact that the metadata import job can have.",
          "$ref": "GoogleCloudDataplexV1MetadataJobImportJobSpecImportJobScope"
        },
        "sourceCreateTime": {
          "format": "google-datetime",
          "description": "Optional. The time when the process that created the metadata import files began.",
          "type": "string"
        },
        "aspectSyncMode": {
          "type": "string",
          "enum": [
            "SYNC_MODE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "NONE"
          ],
          "enumDescriptions": [
            "Sync mode unspecified.",
            "All resources in the job's scope are modified. If a resource exists in Dataplex Universal Catalog but isn't included in the metadata import file, the resource is deleted when you run the metadata job. Use this mode to perform a full sync of the set of entries in the job scope.This sync mode is supported for entries.",
            "Only the resources that are explicitly included in the metadata import file are modified. Use this mode to modify a subset of resources while leaving unreferenced resources unchanged.This sync mode is supported for aspects.",
            "If entry sync mode is NONE, then aspects are modified according to the aspect sync mode. Other metadata that belongs to entries in the job's scope isn't modified.This sync mode is supported for entries."
          ],
          "description": "Required. The sync mode for aspects."
        },
        "entrySyncMode": {
          "description": "Required. The sync mode for entries.",
          "enumDescriptions": [
            "Sync mode unspecified.",
            "All resources in the job's scope are modified. If a resource exists in Dataplex Universal Catalog but isn't included in the metadata import file, the resource is deleted when you run the metadata job. Use this mode to perform a full sync of the set of entries in the job scope.This sync mode is supported for entries.",
            "Only the resources that are explicitly included in the metadata import file are modified. Use this mode to modify a subset of resources while leaving unreferenced resources unchanged.This sync mode is supported for aspects.",
            "If entry sync mode is NONE, then aspects are modified according to the aspect sync mode. Other metadata that belongs to entries in the job's scope isn't modified.This sync mode is supported for entries."
          ],
          "type": "string",
          "enum": [
            "SYNC_MODE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "NONE"
          ]
        },
        "logLevel": {
          "enumDescriptions": [
            "Log level unspecified.",
            "Debug-level logging. Captures detailed logs for each import item. Use debug-level logging to troubleshoot issues with specific import items. For example, use debug-level logging to identify resources that are missing from the job scope, entries or aspects that don't conform to the associated entry type or aspect type, or other misconfigurations with the metadata import file.Depending on the size of your metadata job and the number of logs that are generated, debug-level logging might incur additional costs (https://cloud.google.com/stackdriver/pricing).",
            "Info-level logging. Captures logs at the overall job level. Includes aggregate logs about import items, but doesn't specify which import item has an error."
          ],
          "type": "string",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO"
          ],
          "description": "Optional. The level of logs to write to Cloud Logging for this job.Debug-level logs provide highly-detailed information for troubleshooting, but their increased verbosity could incur additional costs (https://cloud.google.com/stackdriver/pricing) that might not be merited for all jobs.If unspecified, defaults to INFO."
        },
        "sourceStorageUri": {
          "description": "Optional. The URI of a Cloud Storage bucket or folder (beginning with gs:// and ending with /) that contains the metadata import files for this job.A metadata import file defines the values to set for each of the entries and aspects in a metadata import job. For more information about how to create a metadata import file and the file requirements, see Metadata import file (https://cloud.google.com/dataplex/docs/import-metadata#metadata-import-file).You can provide multiple metadata import files in the same metadata job. The bucket or folder must contain at least one metadata import file, in JSON Lines format (either .json or .jsonl file extension).In FULL entry sync mode, don't save the metadata import file in a folder named SOURCE_STORAGE_URI/deletions/.Caution: If the metadata import file contains no data, all entries and aspects that belong to the job's scope are deleted.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1LookupContextRequest": {
      "id": "GoogleCloudDataplexV1LookupContextRequest",
      "properties": {
        "options": {
          "type": "object",
          "description": "Optional. Allows to configure the context.Supported options: format - The format of the context (one of yaml, xml, json, default is yaml). context_budget - If provided, the output will be intelligently truncated on a best-effort basis to contain approximately the desired amount of characters. There is no guarantee to achieve the specific amount. all_schema_fields - If set to true, all schema fields will be returned in the context (regardless of context_budget value). Otherwise, the list of schema fields is truncated. Default is false.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The entry names to look up the context for. The maximum number of resources for a request is limited to 10.Examples:projects/{project}/locations/{location}/entryGroups/{entry_group}/entries/{entry}"
        }
      },
      "description": "Lookup Context using permissions in the source system.",
      "type": "object"
    },
    "GoogleCloudDataplexV1JobEvent": {
      "properties": {
        "state": {
          "description": "The job state on completion.",
          "enumDescriptions": [
            "Unspecified job state.",
            "Job successfully completed.",
            "Job was unsuccessful.",
            "Job was cancelled by the user.",
            "Job was cancelled or aborted via the service executing the job."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "ABORTED"
          ]
        },
        "jobId": {
          "description": "The unique id identifying the job.",
          "type": "string"
        },
        "retries": {
          "format": "int32",
          "description": "The number of retries.",
          "type": "integer"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "service": {
          "enumDescriptions": [
            "Unspecified service.",
            "Cloud Dataproc."
          ],
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "description": "The service used to execute the job.",
          "type": "string"
        },
        "executionTrigger": {
          "enumDescriptions": [
            "The job execution trigger is unspecified.",
            "The job was triggered by Dataplex Universal Catalog based on trigger spec from task definition.",
            "The job was triggered by the explicit call of Task API."
          ],
          "description": "Job execution trigger.",
          "type": "string",
          "enum": [
            "EXECUTION_TRIGGER_UNSPECIFIED",
            "TASK_CONFIG",
            "RUN_REQUEST"
          ]
        },
        "type": {
          "description": "The type of the job.",
          "enumDescriptions": [
            "Unspecified job type.",
            "Spark jobs.",
            "Notebook jobs."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPARK",
            "NOTEBOOK"
          ],
          "type": "string"
        },
        "endTime": {
          "description": "The time when the job ended running.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The time when the job started running.",
          "type": "string",
          "format": "google-datetime"
        },
        "serviceJob": {
          "description": "The reference to the job within the service.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1JobEvent",
      "description": "The payload associated with Job logs that contains events describing jobs that have run within a Lake."
    },
    "GoogleCloudDataplexV1DataDiscoveryResultBigQueryPublishing": {
      "id": "GoogleCloudDataplexV1DataDiscoveryResultBigQueryPublishing",
      "type": "object",
      "properties": {
        "location": {
          "description": "Output only. The location of the BigQuery publishing dataset.",
          "type": "string",
          "readOnly": true
        },
        "dataset": {
          "readOnly": true,
          "description": "Output only. The BigQuery dataset the discovered tables are published to.",
          "type": "string"
        }
      },
      "description": "Describes BigQuery publishing configurations."
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions",
      "properties": {
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer",
          "format": "int32"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter being used to separate values. This defaults to ','."
        },
        "disableTypeInference": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings."
        }
      },
      "description": "Describe CSV and similar semi-structured data formats.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Contacts": {
      "id": "GoogleCloudDataplexV1Contacts",
      "properties": {
        "identities": {
          "type": "array",
          "description": "Required. Identities of the business contacts.",
          "items": {
            "$ref": "GoogleCloudDataplexV1ContactIdentity"
          }
        }
      },
      "type": "object",
      "description": "Business contacts part of business context of a Data Domain. Corresponds to the Contacts Aspect in Dataplex Universal Catalog."
    },
    "GoogleCloudDataplexV1EntryLinkEvent": {
      "type": "object",
      "id": "GoogleCloudDataplexV1EntryLinkEvent",
      "description": "Payload associated with Entry related log events.",
      "properties": {
        "resource": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ENTRY_LINK_CREATE",
            "ENTRY_LINK_DELETE"
          ],
          "type": "string",
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "EntryLink create event.",
            "EntryLink delete event."
          ]
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Lake": {
      "properties": {
        "assetStatus": {
          "description": "Output only. Aggregated status of the underlying assets of the lake.",
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "type": "string",
          "description": "Output only. Current state of the lake.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "readOnly": true
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake.",
          "type": "string"
        },
        "metastoreStatus": {
          "description": "Output only. Metastore status of the lake.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the lake was created.",
          "format": "google-datetime"
        },
        "metastore": {
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association.",
          "$ref": "GoogleCloudDataplexV1LakeMetastore"
        },
        "labels": {
          "description": "Optional. User-defined labels for the lake.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the lake was last updated.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the lake.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Lake",
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata."
    },
    "GoogleCloudDataplexV1DataQualityRuleSetExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleSetExpectation",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Optional. Expected values for the column value.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Evaluates whether each column value is contained by a specified set."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs": {
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs",
      "properties": {
        "samplingPercent": {
          "description": "The percentage of the records selected from the dataset for DataScan. Value ranges between 0.0 and 100.0. Value 0.0 or 100.0 imply that sampling was not applied.",
          "format": "float",
          "type": "number"
        },
        "rowFilterApplied": {
          "type": "boolean",
          "description": "Boolean indicating whether a row filter was applied in the DataScan job."
        },
        "columnFilterApplied": {
          "type": "boolean",
          "description": "Boolean indicating whether a column filter was applied in the DataScan job."
        }
      },
      "type": "object",
      "description": "Applied configs for data profile type data scan job."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo": {
      "description": "The profile information for a double type field.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo",
      "type": "object",
      "properties": {
        "min": {
          "description": "Output only. Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "standardDeviation": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "double"
        },
        "quartiles": {
          "readOnly": true,
          "description": "Output only. A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        },
        "max": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Output only. Maximum of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "average": {
          "description": "Output only. Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDataplexV1CancelJobRequest": {
      "id": "GoogleCloudDataplexV1CancelJobRequest",
      "properties": {},
      "description": "Cancel task jobs.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResult": {
      "id": "GoogleCloudDataplexV1DataProfileResult",
      "properties": {
        "scannedData": {
          "description": "Output only. The data scanned for this result.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1ScannedData"
        },
        "postScanActionsResult": {
          "description": "Output only. The result of post scan actions.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResultPostScanActionsResult"
        },
        "rowCount": {
          "type": "string",
          "description": "Output only. The count of rows scanned.",
          "readOnly": true,
          "format": "int64"
        },
        "profile": {
          "description": "Output only. The profile information per field.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfile"
        },
        "catalogPublishingStatus": {
          "description": "Output only. The status of publishing the data scan as Dataplex Universal Catalog metadata.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataScanCatalogPublishingStatus"
        }
      },
      "type": "object",
      "description": "DataProfileResult defines the output of DataProfileScan. Each field of the table will have field type specific profile result."
    },
    "GoogleIamV1Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "type": "array"
        }
      },
      "description": "Associates members, or principals, with a role.",
      "type": "object",
      "id": "GoogleIamV1Binding"
    },
    "GoogleCloudDataplexV1RejectChangeRequestRequest": {
      "description": "Request message for RejectChangeRequest.",
      "id": "GoogleCloudDataplexV1RejectChangeRequestRequest",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. The etag of the ChangeRequest."
        },
        "comment": {
          "type": "string",
          "description": "Optional. The reason for rejecting the ChangeRequest."
        }
      }
    },
    "GoogleCloudDataplexV1ListEncryptionConfigsResponse": {
      "type": "object",
      "properties": {
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "encryptionConfigs": {
          "items": {
            "$ref": "GoogleCloudDataplexV1EncryptionConfig"
          },
          "description": "The list of EncryptionConfigs under the given parent location.",
          "type": "array"
        }
      },
      "description": "List EncryptionConfigs Response",
      "id": "GoogleCloudDataplexV1ListEncryptionConfigsResponse"
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "id": "GoogleCloudDataplexV1SchemaPartitionField",
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore.."
        },
        "type": {
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "description": "Required. Immutable. The type of field."
        }
      }
    },
    "GoogleCloudDataplexV1ZoneResourceSpec": {
      "id": "GoogleCloudDataplexV1ZoneResourceSpec",
      "properties": {
        "locationType": {
          "enumDescriptions": [
            "Unspecified location type.",
            "Resources that are associated with a single region.",
            "Resources that are associated with a multi-region location."
          ],
          "description": "Required. Immutable. The location type of the resources that are allowed to be attached to the assets within this zone.",
          "type": "string",
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "SINGLE_REGION",
            "MULTI_REGION"
          ]
        }
      },
      "description": "Settings for resources attached as assets within a zone.",
      "type": "object"
    },
    "GoogleCloudDataplexV1GraphProfileEdgeType": {
      "type": "object",
      "id": "GoogleCloudDataplexV1GraphProfileEdgeType",
      "description": "Represents a type of edge (relationship) in the graph.",
      "properties": {
        "foreignKeys": {
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileEdgeTypeForeignKey"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Defines the Foreign Key constraints for the edge."
        },
        "name": {
          "description": "Output only. Name of the edge type.",
          "readOnly": true,
          "type": "string"
        },
        "sourceNodeType": {
          "description": "Output only. Source node type.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the edge type.",
          "readOnly": true,
          "type": "string"
        },
        "fields": {
          "type": "array",
          "description": "Output only. Fields of the edge type.",
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileField"
          },
          "readOnly": true
        },
        "extractionHints": {
          "description": "Output only. Extraction hints for the edge.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1GraphProfileEdgeTypeExtractionHints"
        },
        "targetNodeType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Target node type."
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJobImportJobSpecImportJobScope": {
      "id": "GoogleCloudDataplexV1MetadataJobImportJobSpecImportJobScope",
      "description": "A boundary on the scope of impact that the metadata import job can have.",
      "type": "object",
      "properties": {
        "entryTypes": {
          "description": "Required. The entry types that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/entryTypes/{entry_type_id}. The job modifies only the entries and aspects that belong to these entry types.If the metadata import file attempts to modify an entry whose type isn't included in this list, the import job is halted before modifying any entries or aspects.The location of an entry type must either match the location of the job, or the entry type must be global.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referencedEntryScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Defines the scope of entries that can be referenced in the entry links.Currently, projects are supported as valid scopes. Format: projects/{project_number_or_id}If the metadata import file attempts to create an entry link which references an entry that is not in the scope, the import job will skip that entry link.",
          "type": "array"
        },
        "glossaries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The glossaries that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/glossaries/{glossary_id}.While importing Business Glossary entries, the user must provide glossaries. While importing entries, the user does not have to provide glossaries. If the metadata import file attempts to modify Business Glossary entries whose glossary isn't included in this list, the import job will skip those entries.The location of a glossary must either match the location of the job, or the glossary must be global."
        },
        "aspectTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The aspect types that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/aspectTypes/{aspect_type_id}. The job modifies only the aspects that belong to these aspect types.This field is required when creating an aspect-only import job.If the metadata import file attempts to modify an aspect whose type isn't included in this list, the import job is halted before modifying any entries or aspects.The location of an aspect type must either match the location of the job, or the aspect type must be global."
        },
        "entryLinkTypes": {
          "type": "array",
          "description": "Optional. The entry link types that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/entryLinkTypes/{entry_link_type_id}. The job modifies only the entryLinks that belong to these entry link types.If the metadata import file attempts to create or delete an entry link whose entry link type isn't included in this list, the import job will skip those entry links.",
          "items": {
            "type": "string"
          }
        },
        "entryGroups": {
          "description": "Required. The entry groups that are in scope for the import job, specified as relative resource names in the format projects/{project_number_or_id}/locations/{location_id}/entryGroups/{entry_group_id}. Only entries and aspects that belong to the specified entry groups are affected by the job.The entry groups and the job must be in the same location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "description": "Action details for resource references in assets that cannot be located.",
      "properties": {}
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "type": "object",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified."
        }
      },
      "description": "Describes JSON data format."
    },
    "GoogleCloudDataplexV1ListAspectTypesResponse": {
      "type": "object",
      "description": "List AspectTypes response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "aspectTypes": {
          "items": {
            "$ref": "GoogleCloudDataplexV1AspectType"
          },
          "type": "array",
          "description": "AspectTypes under the given parent location."
        },
        "unreachableLocations": {
          "description": "Locations that the service couldn't reach.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDataplexV1ListAspectTypesResponse"
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility": {
      "properties": {
        "reason": {
          "description": "Output only. Provides additional detail if the entity is incompatible with the metadata store.",
          "type": "string",
          "readOnly": true
        },
        "compatible": {
          "type": "boolean",
          "description": "Output only. Whether the entity is compatible and can be represented in the metadata store.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
      "type": "object",
      "description": "Provides compatibility information for a specific metadata store."
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileResult": {
      "type": "object",
      "description": "Data profile result for data scan job.",
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileResult",
      "properties": {
        "dcuConsumed": {
          "format": "double",
          "description": "Dataplex Compute Units (DCUs) used in the data scan job.",
          "type": "number"
        },
        "rowCount": {
          "description": "The count of rows processed in the data scan job.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDataplexV1ListGlossariesResponse": {
      "description": "List Glossaries Response",
      "type": "object",
      "properties": {
        "glossaries": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Glossary"
          },
          "description": "Lists the Glossaries in the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that the service couldn't reach."
        }
      },
      "id": "GoogleCloudDataplexV1ListGlossariesResponse"
    },
    "GoogleCloudDataplexV1EncryptionConfigFailureDetails": {
      "type": "object",
      "description": "Details of the failure if anything related to Cmek db fails.",
      "id": "GoogleCloudDataplexV1EncryptionConfigFailureDetails",
      "properties": {
        "errorMessage": {
          "description": "Output only. The error message will be shown to the user. Set only if the error code is REQUIRE_USER_ACTION.",
          "readOnly": true,
          "type": "string"
        },
        "errorCode": {
          "description": "Output only. The error code for the failure.",
          "enumDescriptions": [
            "The error code is not specified",
            "Error because of internal server error, will be retried automatically.",
            "User action is required to resolve the error."
          ],
          "enum": [
            "UNKNOWN",
            "INTERNAL_ERROR",
            "REQUIRE_USER_ACTION"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJobImportJobResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1MetadataJobImportJobResult",
      "description": "Results from a metadata import job.",
      "properties": {
        "updatedEntries": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total number of entries that were updated."
        },
        "createdEntries": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The total number of entries that were created."
        },
        "deletedEntries": {
          "description": "Output only. The total number of entries that were deleted.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "unchangedEntryLinks": {
          "format": "int64",
          "description": "Output only. The total number of entry links that were left unchanged.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the status was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "recreatedEntries": {
          "description": "Output only. The total number of entries that were recreated.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "deletedEntryLinks": {
          "description": "Output only. The total number of entry links that were successfully deleted.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "createdEntryLinks": {
          "readOnly": true,
          "description": "Output only. The total number of entry links that were successfully created.",
          "format": "int64",
          "type": "string"
        },
        "unchangedEntries": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The total number of entries that were unchanged."
        }
      }
    },
    "GoogleCloudDataplexV1Partition": {
      "id": "GoogleCloudDataplexV1Partition",
      "properties": {
        "values": {
          "description": "Required. Immutable. The set of values representing the partition, which correspond to the partition schema defined in the parent entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. Partition values used in the HTTP URL must be double encoded. For example, url_encode(url_encode(value)) can be used to encode \"US:CA/CA#Sunnyvale so that the request URL ends with \"/partitions/US%253ACA/CA%2523Sunnyvale\". The name field in the response retains the encoded format.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this partition.",
          "type": "string",
          "deprecated": true
        },
        "location": {
          "description": "Required. Immutable. The location of the entity data within the partition, for example, gs://bucket/path/to/entity/key1=value1/key2=value2. Or projects//datasets//tables/",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents partition metadata contained within entity instances."
    },
    "GoogleCloudDataplexV1ListTasksResponse": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ListTasksResponse",
      "description": "List tasks response.",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Task"
          },
          "description": "Tasks under the given parent lake."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1UpdateEntryRequest": {
      "type": "object",
      "properties": {
        "aspectKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The map keys of the Aspects which the service should modify. It supports the following syntaxes: - matches an aspect of the given type and empty path. @path - matches an aspect of the given type and specified path. For example, to attach an aspect to a field that is specified by the schema aspect, the path should have the format Schema.. @* - matches aspects of the given type for all paths. *@path - matches aspects of all types on the given path.The service will not remove existing aspects matching the syntax unless delete_missing_aspects is set to true.If this field is left empty, the service treats it as specifying exactly those Aspects present in the request."
        },
        "deleteMissingAspects": {
          "type": "boolean",
          "description": "Optional. If set to true and the aspect_keys specify aspect ranges, the service deletes any existing aspects from that range that weren't provided in the request."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. Mask of fields to update. To update Aspects, the update_mask must contain the value \"aspects\".If the update_mask is empty, the service will update all modifiable fields present in the request."
        },
        "allowMissing": {
          "description": "Optional. If set to true and the entry doesn't exist, the service will create it.",
          "type": "boolean"
        },
        "entry": {
          "description": "Required. Entry resource.",
          "$ref": "GoogleCloudDataplexV1Entry"
        }
      },
      "id": "GoogleCloudDataplexV1UpdateEntryRequest",
      "description": "Update Entry request."
    },
    "GoogleCloudDataplexV1DataAttribute": {
      "deprecated": true,
      "properties": {
        "parentId": {
          "description": "Optional. The ID of the parent DataAttribute resource, should belong to the same data taxonomy. Circular dependency in parent chain is not valid. Maximum depth of the hierarchy allowed is 4. a -> b -> c -> d -> e, depth = 4",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the DataAttribute was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the dataAttribute, of the form: projects/{project_number}/locations/{location_id}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}.",
          "readOnly": true
        },
        "dataAccessSpec": {
          "description": "Optional. Specified when applied to data stored on the resource (eg: rows, columns in BigQuery Tables).",
          "$ref": "GoogleCloudDataplexV1DataAccessSpec"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the DataAttribute was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the DataAttribute.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the DataAttribute. This ID will be different if the DataAttribute is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "attributeCount": {
          "description": "Output only. The number of child attributes present for this attribute.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DataAttribute."
        },
        "resourceAccessSpec": {
          "$ref": "GoogleCloudDataplexV1ResourceAccessSpec",
          "description": "Optional. Specified when applied to a resource (eg: Cloud Storage bucket, BigQuery dataset, BigQuery table)."
        }
      },
      "type": "object",
      "description": "Denotes one dataAttribute in a dataTaxonomy, for example, PII. DataAttribute resources can be defined in a hierarchy. A single dataAttribute resource can contain specs of multiple types PII - ResourceAccessSpec : - readers :foo@bar.com - DataAccessSpec : - readers :bar@foo.com ",
      "id": "GoogleCloudDataplexV1DataAttribute"
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "type": "object",
      "properties": {
        "sampledDataLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of data locations sampled and used for format/schema inference."
        },
        "table": {
          "type": "string",
          "description": "The name of the table containing invalid data."
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "existingSchema": {
          "type": "string",
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types."
        },
        "schemaChange": {
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "type": "string",
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ]
        }
      },
      "description": "Action details for incompatible schemas detected by discovery."
    },
    "GoogleCloudDataplexV1SessionEventQueryDetail": {
      "type": "object",
      "id": "GoogleCloudDataplexV1SessionEventQueryDetail",
      "properties": {
        "engine": {
          "enumDescriptions": [
            "An unspecified Engine type.",
            "Spark-sql engine is specified in Query.",
            "BigQuery engine is specified in Query."
          ],
          "type": "string",
          "description": "Query Execution engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "SPARK_SQL",
            "BIGQUERY"
          ]
        },
        "resultSizeBytes": {
          "type": "string",
          "description": "The size of results the query produced.",
          "format": "int64"
        },
        "queryText": {
          "description": "The query text executed.",
          "type": "string"
        },
        "duration": {
          "description": "Time taken for execution of the query.",
          "type": "string",
          "format": "google-duration"
        },
        "dataProcessedBytes": {
          "format": "int64",
          "description": "The data processed by the query.",
          "type": "string"
        },
        "queryId": {
          "description": "The unique Query id identifying the query.",
          "type": "string"
        }
      },
      "description": "Execution details of the query."
    },
    "GoogleCloudDataplexV1DataDocumentationResultTableResult": {
      "properties": {
        "queries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultQuery"
          },
          "description": "Output only. Sample SQL queries for the table."
        },
        "overview": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Generated description of the table."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service-qualified full resource name of the cloud resource. Ex: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID"
        },
        "schema": {
          "description": "Output only. Schema of the table with generated metadata of the columns in the schema.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchema"
        }
      },
      "description": "Insights for a table resource.",
      "id": "GoogleCloudDataplexV1DataDocumentationResultTableResult",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataDiscoveryResultScanStatistics": {
      "description": "Describes result statistics of a data scan discovery job.",
      "type": "object",
      "properties": {
        "filesetsCreated": {
          "description": "The number of filesets created.",
          "format": "int32",
          "type": "integer"
        },
        "filesetsUpdated": {
          "description": "The number of filesets updated.",
          "format": "int32",
          "type": "integer"
        },
        "tablesDeleted": {
          "format": "int32",
          "description": "The number of tables deleted.",
          "type": "integer"
        },
        "dataProcessedBytes": {
          "format": "int64",
          "type": "string",
          "description": "The data processed in bytes."
        },
        "tablesCreated": {
          "type": "integer",
          "format": "int32",
          "description": "The number of tables created."
        },
        "scannedFileCount": {
          "description": "The number of files scanned.",
          "format": "int32",
          "type": "integer"
        },
        "filesetsDeleted": {
          "type": "integer",
          "format": "int32",
          "description": "The number of filesets deleted."
        },
        "tablesUpdated": {
          "type": "integer",
          "format": "int32",
          "description": "The number of tables updated."
        },
        "filesExcluded": {
          "description": "The number of files excluded.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDataplexV1DataDiscoveryResultScanStatistics"
    },
    "GoogleCloudDataplexV1RequestDataProductAccessResponse": {
      "id": "GoogleCloudDataplexV1RequestDataProductAccessResponse",
      "description": "Response message for requesting access to a Data Product.",
      "type": "object",
      "properties": {
        "changeRequestName": {
          "description": "The resource name of the created ChangeRequest. Format: projects/{project_number}/locations/{location_id}/changeRequests/{change_request_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataAttributeBindingsResponse": {
      "type": "object",
      "description": "List DataAttributeBindings response.",
      "properties": {
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "dataAttributeBindings": {
          "type": "array",
          "description": "DataAttributeBindings under the given parent Location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBinding"
          }
        }
      },
      "id": "GoogleCloudDataplexV1ListDataAttributeBindingsResponse"
    },
    "GoogleCloudDataplexV1StorageFormat": {
      "id": "GoogleCloudDataplexV1StorageFormat",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The mime type descriptor for the data. Must match the pattern {type}/{subtype}. Supported values: application/x-parquet application/x-avro application/x-orc application/x-tfrecord application/x-parquet+iceberg application/x-avro+iceberg application/x-orc+iceberg application/json application/{subtypes} text/csv text/ image/{image subtype} video/{video subtype} audio/{audio subtype}"
        },
        "compressionFormat": {
          "enumDescriptions": [
            "CompressionFormat unspecified. Implies uncompressed data.",
            "GZip compressed set of files.",
            "BZip2 compressed set of files."
          ],
          "enum": [
            "COMPRESSION_FORMAT_UNSPECIFIED",
            "GZIP",
            "BZIP2"
          ],
          "description": "Optional. The compression type associated with the stored data. If unspecified, the data is uncompressed.",
          "type": "string"
        },
        "csv": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatCsvOptions"
        },
        "format": {
          "enumDescriptions": [
            "Format unspecified.",
            "Parquet-formatted structured data.",
            "Avro-formatted structured data.",
            "Orc-formatted structured data.",
            "Csv-formatted semi-structured data.",
            "Json-formatted semi-structured data.",
            "Image data formats (such as jpg and png).",
            "Audio data formats (such as mp3, and wav).",
            "Video data formats (such as mp4 and mpg).",
            "Textual data formats (such as txt and xml).",
            "TensorFlow record format.",
            "Data that doesn't match a specific format.",
            "Data of an unknown format."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARQUET",
            "AVRO",
            "ORC",
            "CSV",
            "JSON",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "TEXT",
            "TFRECORD",
            "OTHER",
            "UNKNOWN"
          ],
          "description": "Output only. The data format associated with the stored data, which represents content type values. The value is inferred from mime type."
        },
        "iceberg": {
          "$ref": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
          "description": "Optional. Additional information about iceberg tables."
        },
        "json": {
          "$ref": "GoogleCloudDataplexV1StorageFormatJsonOptions",
[...]
