{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://datastream.googleapis.com/",
  "basePath": "",
  "title": "Datastream API",
  "canonicalName": "Datastream",
  "protocol": "rest",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/datastream/",
  "version_module": true,
  "discoveryVersion": "v1",
  "id": "datastream:v1",
  "description": "",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "streams": {
              "resources": {
                "objects": {
                  "methods": {
                    "lookup": {
                      "path": "v1/{+parent}/objects:lookup",
                      "httpMethod": "POST",
                      "description": "Use this method to look up a stream object by its source object identifier.",
                      "id": "datastream.projects.locations.streams.objects.lookup",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "LookupStreamObjectRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects:lookup",
                      "response": {
                        "$ref": "StreamObject"
                      }
                    },
                    "stopBackfillJob": {
                      "parameterOrder": [
                        "object"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "path": "v1/{+object}:stopBackfillJob",
                      "description": "Use this method to stop a backfill job for the specified stream object.",
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "StopBackfillJobRequest"
                      },
                      "parameters": {
                        "object": {
                          "location": "path",
                          "description": "Required. The name of the stream object resource to stop the backfill job for.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob"
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token."
                        }
                      },
                      "id": "datastream.projects.locations.streams.objects.list",
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects",
                      "description": "Use this method to list the objects of a specific stream.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/objects"
                    },
                    "startBackfillJob": {
                      "description": "Use this method to start a backfill job for the specified stream object.",
                      "httpMethod": "POST",
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob",
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "parameters": {
                        "object": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "description": "Required. The name of the stream object resource to start a backfill job for."
                        }
                      },
                      "path": "v1/{+object}:startBackfillJob",
                      "parameterOrder": [
                        "object"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "StartBackfillJobRequest"
                      }
                    },
                    "get": {
                      "description": "Use this method to get details about a stream object.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "id": "datastream.projects.locations.streams.objects.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the stream object resource to get.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListStreamsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams",
                  "path": "v1/{+parent}/streams",
                  "description": "Use this method to list streams in a project and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent that owns the collection of streams."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token received from a previous `ListStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreams` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter request."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of streams to return. If unspecified, at most 50 streams will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Order by fields for the result.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.streams.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "response": {
                    "$ref": "Stream"
                  },
                  "description": "Use this method to get details about a stream.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.streams.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "description": "Required. The name of the stream resource to get.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "description": "Use this method to delete a stream.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the stream resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.streams.delete",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "required": true,
                      "description": "Output only. Identifier. The stream's name.",
                      "location": "path"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. Update the stream without validating it.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Only validate the stream with the changes, without actually updating it. The default is false."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Stream"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Use this method to update the configuration of a stream.",
                  "id": "datastream.projects.locations.streams.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/streams",
                  "id": "datastream.projects.locations.streams.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Stream"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Use this method to create a stream.",
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of streams."
                    },
                    "streamId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The stream identifier."
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the stream, but don't create any resources. The default is false.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Create the stream without validating it."
                    }
                  }
                },
                "run": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:run",
                  "description": "Use this method to start, resume or recover a stream with a non default CDC strategy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RunStreamRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the stream resource to start, in the format: projects/{project_id}/locations/{location}/streams/{stream_name}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}:run",
                  "id": "datastream.projects.locations.streams.run"
                }
              }
            },
            "connectionProfiles": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListConnectionProfilesResponse"
                  },
                  "description": "Use this method to list connection profiles created in a project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "path": "v1/{+parent}/connectionProfiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of connection profiles.",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of connection profiles to return. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.list",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "description": "Required. The name of the connection profile resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to delete a connection profile."
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ConnectionProfile"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to get details about a connection profile.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "description": "Required. The name of the connection profile resource to get.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "datastream.projects.locations.connectionProfiles.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Output only. Identifier. The resource's name.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. Update the connection profile without validating it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. Only validate the connection profile, but don't update any resources. The default is false.",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ConnectionProfile resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Use this method to update the parameters of a connection profile.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "datastream.projects.locations.connectionProfiles.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "discover": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the connection profile type. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/connectionProfiles:discover",
                  "description": "Use this method to discover a connection profile. The discover API call exposes the data objects and metadata belonging to the profile. Typically, a request returns children data objects of a parent data object that's optionally supplied in the request.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles:discover",
                  "request": {
                    "$ref": "DiscoverConnectionProfileRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "DiscoverConnectionProfileResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.discover"
                },
                "create": {
                  "id": "datastream.projects.locations.connectionProfiles.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. Only validate the connection profile, but don't create any resources. The default is false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of ConnectionProfiles.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "force": {
                      "description": "Optional. Create the connection profile without validating it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "connectionProfileId": {
                      "location": "query",
                      "description": "Required. The connection profile identifier.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/connectionProfiles",
                  "description": "Use this method to create a connection profile in a project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles"
                }
              }
            },
            "privateConnections": {
              "resources": {
                "routes": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent that owns the collection of Routess.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter request.",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Order by fields for the result.",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListRoutes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRoutes` must match the call that provided the page token."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Maximum number of Routes to return. The service may return fewer than this value. If unspecified, at most 50 Routes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        }
                      },
                      "path": "v1/{+parent}/routes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "response": {
                        "$ref": "ListRoutesResponse"
                      },
                      "description": "Use this method to list routes created for a private connectivity configuration in a project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datastream.projects.locations.privateConnections.routes.list"
                    },
                    "create": {
                      "path": "v1/{+parent}/routes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Use this method to create a route for a private connectivity configuration in a project and location.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "request": {
                        "$ref": "Route"
                      },
                      "id": "datastream.projects.locations.privateConnections.routes.create",
                      "parameters": {
                        "routeId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The Route identifier."
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent that owns the collection of Routes."
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. The name of the Route resource to delete.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Use this method to delete a route.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "id": "datastream.projects.locations.privateConnections.routes.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "description": "Use this method to get details about a route.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "datastream.projects.locations.privateConnections.routes.get",
                      "response": {
                        "$ref": "Route"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Route resource to get.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "response": {
                    "$ref": "PrivateConnection"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the private connectivity configuration to get.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datastream.projects.locations.privateConnections.get",
                  "description": "Use this method to get details about a private connectivity configuration.",
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "datastream.projects.locations.privateConnections.create",
                  "request": {
                    "$ref": "PrivateConnection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/privateConnections",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Use this method to create a private connectivity configuration.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent that owns the collection of PrivateConnections.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "privateConnectionId": {
                      "description": "Required. The private connectivity identifier.",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, will skip validations.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. When supplied with PSC Interface config, will get/create the tenant project required for the customer to allow list and won't actually create the private connection.",
                      "type": "boolean"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the private connectivity configuration to delete."
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, any child routes that belong to this PrivateConnection will also be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.privateConnections.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "description": "Use this method to delete a private connectivity configuration."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of private connectivity configurations to return. If unspecified, at most 50 private connectivity configurations that will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token."
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter request.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent that owns the collection of private connectivity configurations.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "response": {
                    "$ref": "ListPrivateConnectionsResponse"
                  },
                  "path": "v1/{+parent}/privateConnections",
                  "id": "datastream.projects.locations.privateConnections.list",
                  "description": "Use this method to list private connectivity configurations in a project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "datastream.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "datastream.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.operations.get"
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "datastream.projects.locations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "datastream.projects.locations.get",
              "response": {
                "$ref": "Location"
              }
            },
            "fetchStaticIps": {
              "id": "datastream.projects.locations.fetchStaticIps",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListStaticIps` call. will likely not be specified.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format `projects/*/locations/*`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Maximum number of Ips to return, will likely not be specified.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FetchStaticIpsResponse"
              },
              "path": "v1/{+name}:fetchStaticIps",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "description": "The FetchStaticIps API call exposes the static IP addresses used by Datastream."
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "revision": "20260818",
  "schemas": {
    "Gtid": {
      "properties": {},
      "id": "Gtid",
      "description": "Use GTID based replication.",
      "type": "object"
    },
    "AppendOnly": {
      "properties": {},
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table.",
      "id": "AppendOnly",
      "type": "object"
    },
    "ServerVerification": {
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option.",
      "type": "object",
      "id": "ServerVerification",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      }
    },
    "OauthRefreshTokenCredentials": {
      "id": "OauthRefreshTokenCredentials",
      "properties": {
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Specifies the OAuth Client Credentials."
        },
        "refreshToken": {
          "$ref": "Secret",
          "description": "Required. Specifies the OAuth Refresh Token."
        }
      },
      "type": "object",
      "description": "OAuth Refresh Token Credentials."
    },
    "BadRequest": {
      "id": "BadRequest",
      "properties": {
        "fieldViolations": {
          "type": "array",
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "Describes all violations in a client request."
        }
      },
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "type": "object"
    },
    "PostgresqlColumn": {
      "description": "PostgreSQL Column.",
      "id": "PostgresqlColumn",
      "properties": {
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "format": "int32",
          "type": "integer",
          "description": "Column scale."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "length": {
          "format": "int32",
          "description": "Column length.",
          "type": "integer"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "ordinalPosition": {
          "type": "integer",
          "format": "int32",
          "description": "The ordinal position of the column in the table."
        },
        "dataType": {
          "description": "The PostgreSQL data type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "validationResult": {
          "$ref": "ValidationResult",
          "readOnly": true,
          "description": "Output only. Results of executed validations if there are any."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "PostgresqlTable": {
      "type": "object",
      "id": "PostgresqlTable",
      "properties": {
        "postgresqlColumns": {
          "items": {
            "$ref": "PostgresqlColumn"
          },
          "type": "array",
          "description": "PostgreSQL columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything."
        },
        "table": {
          "description": "The table name.",
          "type": "string"
        }
      },
      "description": "PostgreSQL table."
    },
    "EventFilter": {
      "id": "EventFilter",
      "description": "Represents a filter for included data on a stream object.",
      "type": "object",
      "properties": {
        "sqlWhereClause": {
          "type": "string",
          "description": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`"
        }
      }
    },
    "SqlServerObjectIdentifier": {
      "properties": {
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "description": "SQLServer data source object identifier.",
      "id": "SqlServerObjectIdentifier",
      "type": "object"
    },
    "RequestInfo": {
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "type": "object",
      "id": "RequestInfo",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs."
        },
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        }
      }
    },
    "MostRecentStartPosition": {
      "description": "CDC strategy to start replicating from the most recent position in the source.",
      "id": "MostRecentStartPosition",
      "properties": {},
      "type": "object"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "type": "object",
      "properties": {
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\"."
        },
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        },
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        }
      },
      "description": "Describes the resource that is being accessed."
    },
    "SqlServerSchema": {
      "type": "object",
      "id": "SqlServerSchema",
      "description": "SQLServer schema.",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "tables": {
          "items": {
            "$ref": "SqlServerTable"
          },
          "description": "Tables in the schema.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "MongodbSslConfig": {
      "type": "object",
      "description": "MongoDB SSL configuration information.",
      "id": "MongodbSslConfig",
      "properties": {
        "clientCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "clientKeySet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true
        },
        "caCertificateSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "type": "boolean"
        },
        "secretManagerStoredClientKey": {
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        }
      }
    },
    "Route": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "description": "Destination port for connection",
          "format": "int32"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        }
      },
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "id": "Route"
    },
    "GcsProfile": {
      "type": "object",
      "description": "Profile for connecting to a Cloud Storage destination.",
      "id": "GcsProfile",
      "properties": {
        "rootPath": {
          "description": "Optional. The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        }
      }
    },
    "MysqlSourceConfig": {
      "id": "MysqlSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from a MySQL source.",
      "properties": {
        "binaryLogPosition": {
          "$ref": "BinaryLogPosition",
          "description": "Use Binary log position based replication."
        },
        "includeObjects": {
          "$ref": "MysqlRdbms",
          "description": "The MySQL objects to retrieve from the source."
        },
        "maxConcurrentCdcTasks": {
          "description": "Maximum number of concurrent CDC tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "format": "int32",
          "type": "integer"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        },
        "excludeObjects": {
          "$ref": "MysqlRdbms",
          "description": "The MySQL objects to exclude from the stream."
        },
        "gtid": {
          "description": "Use GTID based replication.",
          "$ref": "Gtid"
        }
      }
    },
    "MongodbProfile": {
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "standardConnectionFormat": {
          "description": "Standard connection format.",
          "$ref": "StandardConnectionFormat"
        },
        "srvConnectionFormat": {
          "$ref": "SrvConnectionFormat",
          "description": "Srv connection format."
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "replicaSet": {
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified.",
          "type": "string"
        },
        "additionalOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "hostAddresses": {
          "type": "array",
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "items": {
            "$ref": "HostAddress"
          }
        }
      },
      "description": "Profile for connecting to a MongoDB source.",
      "id": "MongodbProfile"
    },
    "OracleColumn": {
      "type": "object",
      "id": "OracleColumn",
      "properties": {
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "column": {
          "type": "string",
          "description": "The column name."
        },
        "precision": {
          "type": "integer",
          "description": "Column precision.",
          "format": "int32"
        },
        "scale": {
          "type": "integer",
          "format": "int32",
          "description": "Column scale."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "dataType": {
          "description": "The Oracle data type.",
          "type": "string"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "encoding": {
          "description": "Column encoding.",
          "type": "string"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Oracle Column."
    },
    "LogFileDirectories": {
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "type": "object",
      "id": "LogFileDirectories",
      "properties": {
        "onlineLogDirectory": {
          "description": "Required. Oracle directory for online logs.",
          "type": "string"
        },
        "archivedLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for archived logs."
        }
      }
    },
    "StartBackfillJobRequest": {
      "id": "StartBackfillJobRequest",
      "properties": {
        "eventFilter": {
          "description": "Optional. Optional event filter. If not set, or empty, the backfill will be performed on the entire object. This is currently used for partial backfill and only supported for SQL sources.",
          "$ref": "EventFilter"
        }
      },
      "description": "Request for manually initiating a backfill job for a specific stream object.",
      "type": "object"
    },
    "SourceConfig": {
      "description": "The configuration of the stream source.",
      "id": "SourceConfig",
      "properties": {
        "serviceNowSourceConfig": {
          "$ref": "ServiceNowSourceConfig",
          "description": "ServiceNow data source configuration."
        },
        "dataverseSourceConfig": {
          "description": "Dataverse data source configuration.",
          "$ref": "DataverseSourceConfig"
        },
        "salesforceMarketingCloudSourceConfig": {
          "description": "Salesforce Marketing Cloud data source configuration.",
          "$ref": "SalesforceMarketingCloudSourceConfig"
        },
        "workdaySourceConfig": {
          "$ref": "WorkdaySourceConfig",
          "description": "Optional. Workday data source configuration."
        },
        "mongodbSourceConfig": {
          "$ref": "MongodbSourceConfig",
          "description": "MongoDB data source configuration."
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration."
        },
        "postgresqlSourceConfig": {
          "description": "PostgreSQL data source configuration.",
          "$ref": "PostgresqlSourceConfig"
        },
        "spannerSourceConfig": {
          "$ref": "SpannerSourceConfig",
          "description": "Spanner data source configuration."
        },
        "sqlServerSourceConfig": {
          "description": "SQLServer data source configuration.",
          "$ref": "SqlServerSourceConfig"
        },
        "mysqlSourceConfig": {
          "$ref": "MysqlSourceConfig",
          "description": "MySQL data source configuration."
        },
        "sourceConnectionProfile": {
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "salesforceSourceConfig": {
          "$ref": "SalesforceSourceConfig",
          "description": "Salesforce data source configuration."
        }
      },
      "type": "object"
    },
    "SrvConnectionFormat": {
      "description": "Srv connection format.",
      "id": "SrvConnectionFormat",
      "type": "object",
      "properties": {}
    },
    "PostgresqlSourceConfig": {
      "id": "PostgresqlSourceConfig",
      "properties": {
        "publication": {
          "type": "string",
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "format": "int32",
          "type": "integer"
        },
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "includeObjects": {
          "description": "The PostgreSQL objects to include in the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "replicationSlot": {
          "type": "string",
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin."
        }
      },
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "type": "object"
    },
    "DropLargeObjects": {
      "properties": {},
      "type": "object",
      "id": "DropLargeObjects",
      "description": "Configuration to drop large object values."
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "id": "LocalizedMessage",
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        }
      }
    },
    "DebugInfo": {
      "properties": {
        "stackEntries": {
          "description": "The stack trace entries indicating where the error occurred.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "detail": {
          "type": "string",
          "description": "Additional debugging information provided by the server."
        }
      },
      "id": "DebugInfo",
      "description": "Describes additional debugging info.",
      "type": "object"
    },
    "PreconditionFailure": {
      "properties": {
        "violations": {
          "description": "Describes all precondition violations.",
          "type": "array",
          "items": {
            "$ref": "PreconditionFailureViolation"
          }
        }
      },
      "type": "object",
      "id": "PreconditionFailure",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message."
    },
    "StreamLargeObjects": {
      "properties": {},
      "type": "object",
      "id": "StreamLargeObjects",
      "description": "Configuration to stream large object values."
    },
    "SalesforceObjectIdentifier": {
      "description": "Salesforce data source object identifier.",
      "type": "object",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      },
      "id": "SalesforceObjectIdentifier"
    },
    "BigQueryDestinationConfig": {
      "properties": {
        "blmtConfig": {
          "$ref": "BlmtConfig",
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration."
        },
        "singleTargetDataset": {
          "description": "Single destination dataset.",
          "$ref": "SingleTargetDataset"
        },
        "sourceHierarchyDatasets": {
          "description": "Source hierarchy datasets.",
          "$ref": "SourceHierarchyDatasets"
        },
        "dataFreshness": {
          "type": "string",
          "format": "google-duration",
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost."
        },
        "merge": {
          "description": "The standard mode",
          "$ref": "Merge"
        },
        "appendOnly": {
          "description": "Append only mode",
          "$ref": "AppendOnly"
        }
      },
      "id": "BigQueryDestinationConfig",
      "type": "object",
      "description": "BigQuery destination configuration"
    },
    "OracleProfile": {
      "properties": {
        "port": {
          "description": "Port for the Oracle connection, default value is 1521.",
          "type": "integer",
          "format": "int32"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle connection.",
          "type": "string"
        },
        "connectionAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Connection string attributes",
          "type": "object"
        },
        "username": {
          "description": "Required. Username for the Oracle connection.",
          "type": "string"
        },
        "databaseService": {
          "type": "string",
          "description": "Required. Database for the Oracle connection."
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        },
        "oracleAsmConfig": {
          "description": "Optional. Configuration for Oracle ASM connection.",
          "$ref": "OracleAsmConfig"
        }
      },
      "id": "OracleProfile",
      "type": "object",
      "description": "Profile for connecting to an Oracle source."
    },
    "SpannerColumn": {
      "description": "Spanner column.",
      "type": "object",
      "id": "SpannerColumn",
      "properties": {
        "ordinalPosition": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The ordinal position of the column in the table."
        },
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "column": {
          "description": "Required. The column name.",
          "type": "string"
        },
        "isPrimaryKey": {
          "type": "boolean",
          "description": "Optional. Whether or not the column is a primary key."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "SqlServerTable": {
      "type": "object",
      "description": "SQLServer table.",
      "id": "SqlServerTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "columns": {
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "SqlServerColumn"
          },
          "type": "array"
        }
      }
    },
    "SourceObjectIdentifier": {
      "id": "SourceObjectIdentifier",
      "properties": {
        "postgresqlIdentifier": {
          "description": "PostgreSQL data source object identifier.",
          "$ref": "PostgresqlObjectIdentifier"
        },
        "salesforceIdentifier": {
          "$ref": "SalesforceObjectIdentifier",
          "description": "Salesforce data source object identifier."
        },
        "sqlServerIdentifier": {
          "$ref": "SqlServerObjectIdentifier",
          "description": "SQLServer data source object identifier."
        },
        "mysqlIdentifier": {
          "description": "Mysql data source object identifier.",
          "$ref": "MysqlObjectIdentifier"
        },
        "mongodbIdentifier": {
          "description": "MongoDB data source object identifier.",
          "$ref": "MongodbObjectIdentifier"
        },
        "spannerIdentifier": {
          "description": "Spanner data source object identifier.",
          "$ref": "SpannerObjectIdentifier"
        },
        "oracleIdentifier": {
          "$ref": "OracleObjectIdentifier",
          "description": "Oracle data source object identifier."
        }
      },
      "description": "Represents an identifier of an object in the data source.",
      "type": "object"
    },
    "StreamObject": {
      "type": "object",
      "description": "A specific stream object (e.g a specific DB table).",
      "id": "StreamObject",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time of the object.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. The object resource's name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last update time of the object.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "backfillJob": {
          "$ref": "BackfillJob",
          "description": "The latest backfill job that was initiated for the stream object."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Active errors on the object.",
          "readOnly": true
        },
        "customizationRules": {
          "type": "array",
          "readOnly": true,
[...]
