{
  "version_module": true,
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://dataform.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://dataform.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://dataform.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://dataform.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://dataform.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://dataform.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://dataform.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://dataform.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://dataform.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://dataform.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://dataform.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://dataform.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://dataform.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://dataform.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://dataform.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://dataform.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://dataform.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://dataform.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://dataform.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dataform.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://dataform.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://dataform.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://dataform.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://dataform.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    }
  ],
  "batchPath": "batch",
  "revision": "20260829",
  "version": "v1",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "dataform",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "baseUrl": "https://dataform.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://dataform.googleapis.com/",
  "description": "Service to develop, version control, and operationalize SQL pipelines in BigQuery.",
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "schemas": {
    "QueryCompilationResultActionsResponse": {
      "properties": {
        "compilationResultActions": {
          "description": "List of compilation result actions.",
          "items": {
            "$ref": "CompilationResultAction"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`QueryCompilationResultActions` response message.",
      "id": "QueryCompilationResultActionsResponse",
      "type": "object"
    },
    "PipelineConfig": {
      "properties": {
        "path": {
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located.",
          "type": "string"
        },
        "pipelineType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ],
          "description": "Required. The type of the pipeline."
        }
      },
      "description": "Defines the pipeline type and path within the Git repository.",
      "id": "PipelineConfig",
      "type": "object"
    },
    "PushGitCommitsRequest": {
      "id": "PushGitCommitsRequest",
      "type": "object",
      "description": "`PushGitCommits` request message.",
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used."
        }
      }
    },
    "SearchTeamFoldersResponse": {
      "type": "object",
      "description": "`SearchTeamFolders` response message.",
      "properties": {
        "results": {
          "description": "List of TeamFolders that match the search query.",
          "items": {
            "$ref": "TeamFolderSearchResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "SearchTeamFoldersResponse"
    },
    "TeamFolderContentsEntry": {
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "$ref": "Repository",
          "description": "A repository."
        }
      },
      "id": "TeamFolderContentsEntry",
      "type": "object",
      "description": "Represents a single content entry."
    },
    "RemoveFileResponse": {
      "description": "`RemoveFile` response message.",
      "type": "object",
      "properties": {},
      "id": "RemoveFileResponse"
    },
    "DeleteFolderTreeRequest": {
      "id": "DeleteFolderTreeRequest",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "description": "`DeleteFolderTree` request message."
    },
    "InstallNpmPackagesResponse": {
      "description": "`InstallNpmPackages` response message.",
      "id": "InstallNpmPackagesResponse",
      "properties": {},
      "type": "object"
    },
    "ListCompilationResultsResponse": {
      "type": "object",
      "description": "`ListCompilationResults` response message.",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "compilationResults": {
          "items": {
            "$ref": "CompilationResult"
          },
          "description": "List of compilation results.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListCompilationResultsResponse"
    },
    "DeleteFile": {
      "description": "Represents the delete file operation.",
      "id": "DeleteFile",
      "properties": {},
      "type": "object"
    },
    "RootContentsEntry": {
      "type": "object",
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        }
      },
      "id": "RootContentsEntry",
      "description": "Represents a single content entry."
    },
    "CancelWorkflowInvocationRequest": {
      "type": "object",
      "properties": {},
      "description": "`CancelWorkflowInvocation` request message.",
      "id": "CancelWorkflowInvocationRequest"
    },
    "PullGitCommitsRequest": {
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used.",
          "type": "string"
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
        }
      },
      "id": "PullGitCommitsRequest",
      "type": "object",
      "description": "`PullGitCommits` request message."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "InstallNpmPackagesRequest": {
      "type": "object",
      "id": "InstallNpmPackagesRequest",
      "properties": {
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      },
      "description": "`InstallNpmPackages` request message."
    },
    "QueryUserRootContentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "RootContentsEntry"
          }
        }
      },
      "description": "`QueryUserRootContents` response message.",
      "type": "object",
      "id": "QueryUserRootContentsResponse"
    },
    "MakeDirectoryRequest": {
      "description": "`MakeDirectory` request message.",
      "id": "MakeDirectoryRequest",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommitAuthor": {
      "id": "CommitAuthor",
      "description": "Represents the author of a Git commit.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        }
      }
    },
    "CancelWorkflowInvocationResponse": {
      "properties": {},
      "id": "CancelWorkflowInvocationResponse",
      "type": "object",
      "description": "`CancelWorkflowInvocation` response message."
    },
    "MoveFileResponse": {
      "id": "MoveFileResponse",
      "description": "`MoveFile` response message.",
      "type": "object",
      "properties": {}
    },
    "WorkflowInvocationAction": {
      "properties": {
        "dataPreparationAction": {
          "description": "Output only. The workflow action's data preparation action details.",
          "readOnly": true,
          "$ref": "DataPreparationAction"
        },
        "canonicalTarget": {
          "readOnly": true,
          "$ref": "Target",
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "bigqueryAction": {
          "$ref": "BigQueryAction",
          "readOnly": true,
          "description": "Output only. The workflow action's bigquery action details."
        },
        "failureReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If and only if action's state is FAILED a failure reason is set."
        },
        "state": {
          "description": "Output only. This action's current state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ]
        },
        "notebookAction": {
          "$ref": "NotebookAction",
          "description": "Output only. The workflow action's notebook action details.",
          "readOnly": true
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "$ref": "Target",
          "readOnly": true
        },
        "invocationTiming": {
          "readOnly": true,
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state."
        }
      },
      "id": "WorkflowInvocationAction",
      "description": "Represents a single action in a workflow invocation.",
      "type": "object"
    },
    "Config": {
      "id": "Config",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        }
      },
      "description": "Config for all repositories in a given project and location."
    },
    "WriteFileRequest": {
      "type": "object",
      "id": "WriteFileRequest",
      "description": "`WriteFile` request message.",
      "properties": {
        "path": {
          "description": "Required. The file.",
          "type": "string"
        },
        "contents": {
          "description": "Required. The file's contents.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "SearchFilesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "searchResults": {
          "type": "array",
          "description": "List of matched results.",
          "items": {
            "$ref": "SearchResult"
          }
        }
      },
      "type": "object",
      "id": "SearchFilesResponse",
      "description": "Client-facing representation of a file search response."
    },
    "ListWorkspacesResponse": {
      "description": "`ListWorkspaces` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "type": "array",
          "description": "List of workspaces."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        }
      },
      "id": "ListWorkspacesResponse",
      "type": "object"
    },
    "TeamFolderSearchResult": {
      "id": "TeamFolderSearchResult",
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "teamFolder": {
          "$ref": "TeamFolder",
          "description": "A TeamFolder resource that is in the project / location."
        }
      }
    },
    "WorkflowConfig": {
      "id": "WorkflowConfig",
      "type": "object",
      "description": "Represents a Dataform workflow configuration.",
      "properties": {
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config."
        },
        "invocationConfig": {
          "description": "Optional. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the WorkflowConfig was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The workflow config's name.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of workflow invocations."
        },
        "releaseConfig": {
          "type": "string",
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "recentScheduledExecutionRecords": {
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "CompilationError": {
      "id": "CompilationError",
      "type": "object",
      "description": "An error encountered when attempting to compile a Dataform project.",
      "properties": {
        "path": {
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "readOnly": true,
          "description": "Output only. The error's top level message.",
          "type": "string"
        },
        "actionTarget": {
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "readOnly": true,
          "$ref": "Target"
        },
        "stack": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error's full stack trace."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "hasOutput": {
          "type": "boolean",
          "description": "Whether these operations produce an output relation."
        }
      },
      "id": "Operations",
      "type": "object"
    },
    "ActionLoadConfig": {
      "id": "ActionLoadConfig",
      "type": "object",
      "description": "Simplified load configuration for actions",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "$ref": "ActionIncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        }
      }
    },
    "ErrorTable": {
      "id": "ErrorTable",
      "type": "object",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "properties": {
        "target": {
          "$ref": "Target",
          "description": "Error Table target."
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed."
        }
      }
    },
    "SimpleLoadMode": {
      "properties": {},
      "type": "object",
      "id": "SimpleLoadMode",
      "description": "Simple load definition"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ResetWorkspaceChangesRequest": {
      "description": "`ResetWorkspaceChanges` request message.",
      "id": "ResetWorkspaceChangesRequest",
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset."
        },
        "clean": {
          "type": "boolean",
          "description": "Optional. If set to true, untracked files will be deleted."
        }
      }
    },
    "ListReleaseConfigsResponse": {
      "type": "object",
      "id": "ListReleaseConfigsResponse",
      "description": "`ListReleaseConfigs` response message.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releaseConfigs": {
          "items": {
            "$ref": "ReleaseConfig"
          },
          "type": "array",
          "description": "List of release configs."
        }
      }
    },
    "GcsRepositorySnapshotDestination": {
      "properties": {
        "repositorySnapshotUri": {
          "description": "Optional. The Google Cloud Storage destination to upload the repository snapshot to. Format: `gs://bucket-name/path/`.",
          "type": "string"
        }
      },
      "id": "GcsRepositorySnapshotDestination",
      "type": "object",
      "description": "Configures the destination for a repository snapshot."
    },
    "Assertion": {
      "id": "Assertion",
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "type": "object",
      "properties": {
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        }
      }
    },
    "Relation": {
      "properties": {
        "clusterExpressions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of columns or SQL expressions used to cluster the table."
        },
        "partitionExpirationDays": {
          "description": "Sets the partition expiration in days.",
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "storageUri": {
          "type": "string",
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`."
        },
        "additionalOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported."
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "type": "string"
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the relation and its columns."
        },
        "incrementalTableConfig": {
          "$ref": "IncrementalTableConfig",
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`."
        },
        "preOperations": {
          "description": "SQL statements to be executed before creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        },
        "tableFormat": {
          "description": "Optional. The table format for the BigQuery table.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        },
        "partitionExpression": {
          "type": "string",
          "description": "The SQL expression used to partition the relation."
        },
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "description": "Optional. The file format for the BigQuery table.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ]
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        }
      },
      "description": "Represents a database relation.",
      "id": "Relation",
      "type": "object"
    },
    "ActionSimpleLoadMode": {
      "description": "Simple load definition",
      "id": "ActionSimpleLoadMode",
      "type": "object",
      "properties": {}
    },
    "ReleaseConfig": {
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig",
      "properties": {
        "name": {
          "description": "Identifier. The release config's name.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "gitCommitish": {
          "type": "string",
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "recentScheduledReleaseRecords": {
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "type": "array",
          "readOnly": true
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of compilation results."
        }
      },
      "type": "object"
    },
    "DataPreparationAction": {
      "id": "DataPreparationAction",
      "type": "object",
      "description": "Represents a workflow action that will run a Data Preparation.",
      "properties": {
        "generatedSql": {
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "type": "string",
          "readOnly": true
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "ActionSqlDefinition"
        },
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        },
        "contentsYaml": {
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MoveRepositoryRequest": {
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      },
      "description": "`MoveRepository` request message.",
      "id": "MoveRepositoryRequest",
      "type": "object"
    },
    "WriteFile": {
      "id": "WriteFile",
      "type": "object",
      "description": "Represents the write file operation (for files added or modified).",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      }
    },
    "CommitLogEntry": {
      "id": "CommitLogEntry",
      "description": "Represents a single commit log.",
      "properties": {
        "commitTime": {
          "type": "string",
          "description": "Commit timestamp.",
          "format": "google-datetime"
        },
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        },
        "commitSha": {
          "description": "The commit SHA for this commit log entry.",
          "type": "string"
        },
        "commitMessage": {
          "description": "The commit message for this commit log entry.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FileOperation": {
      "description": "Represents a single file operation to the repository.",
      "type": "object",
      "properties": {
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        },
        "deleteFile": {
          "$ref": "DeleteFile",
          "description": "Represents the delete operation."
        }
      },
      "id": "FileOperation"
    },
    "CommitRepositoryChangesRequest": {
      "properties": {
        "fileOperations": {
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "type": "object"
        },
        "requiredHeadCommitSha": {
          "type": "string",
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed."
        },
        "commitMetadata": {
          "$ref": "CommitMetadata",
          "description": "Required. The changes to commit to the repository."
        }
      },
      "description": "`CommitRepositoryChanges` request message.",
      "type": "object",
      "id": "CommitRepositoryChangesRequest"
    },
    "UncommittedFileChange": {
      "description": "Represents the Git state of a file with uncommitted changes.",
      "properties": {
        "path": {
          "description": "The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "description": "Output only. Indicates the status of the file."
        }
      },
      "id": "UncommittedFileChange",
      "type": "object"
    },
    "RemoveDirectoryRequest": {
      "description": "`RemoveDirectory` request message.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "type": "object",
      "id": "RemoveDirectoryRequest"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "CompilationResult": {
      "id": "CompilationResult",
      "type": "object",
      "description": "Represents the result of compiling a Dataform project.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the compilation result was created.",
          "readOnly": true
        },
        "releaseConfig": {
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "resolvedGitCommitSha": {
          "type": "string",
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "readOnly": true
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. Only set if the repository has a KMS Key.",
          "$ref": "DataEncryptionState"
        },
        "gcsRepositorySnapshotMetadata": {
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks.",
          "readOnly": true,
          "$ref": "GcsRepositorySnapshotMetadata"
        },
        "dataformCoreVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of `@dataform/core` that was used for compilation."
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "$ref": "PrivateResourceMetadata",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The compilation result's name.",
          "type": "string",
          "readOnly": true
        },
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "compilationErrors": {
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          },
          "description": "Output only. Errors encountered during project compilation.",
          "readOnly": true
        }
      }
    },
    "InvocationConfig": {
      "properties": {
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "queryPriority": {
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ],
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ]
        },
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "includedTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "Optional. The set of action identifiers to include.",
          "type": "array"
        },
        "includedTags": {
          "description": "Optional. The set of tags to include.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "type": "boolean",
          "description": "Optional. When set to true, any incremental tables will be fully refreshed."
        }
      },
      "id": "InvocationConfig",
      "type": "object",
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included."
    },
    "MoveDirectoryRequest": {
      "description": "`MoveDirectory` request message.",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      },
      "id": "MoveDirectoryRequest",
      "type": "object"
    },
    "SearchResult": {
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "$ref": "DirectorySearchResult",
          "description": "Details when search result is a directory."
        }
      },
      "id": "SearchResult",
      "type": "object",
      "description": "Client-facing representation of a search result entry."
    },
    "FolderContentsEntry": {
      "id": "FolderContentsEntry",
      "properties": {
        "repository": {
          "$ref": "Repository",
          "description": "A repository."
        },
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        }
      },
      "description": "Represents a single content entry.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "CodeCompilationConfig": {
      "id": "CodeCompilationConfig",
      "description": "Configures various aspects of Dataform code compilation.",
      "properties": {
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        },
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "databaseSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names."
        },
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        },
        "vars": {
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommitRepositoryChangesResponse": {
      "id": "CommitRepositoryChangesResponse",
      "type": "object",
      "description": "`CommitRepositoryChanges` response message.",
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      }
    },
    "SqlDefinition": {
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "errorTable": {
          "$ref": "ErrorTable",
          "description": "Error table configuration,"
        },
        "load": {
          "$ref": "LoadConfig",
          "description": "Load configuration."
        }
      },
      "type": "object",
      "description": "Definition of a SQL Data Preparation",
      "id": "SqlDefinition"
    },
    "Workspace": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The workspace's name."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        },
        "createTime": {
          "description": "Output only. The timestamp of when the workspace was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`."
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "readOnly": true
        }
      },
      "description": "Represents a Dataform Git workspace.",
      "id": "Workspace",
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "description": "`ListRepositories` response message.",
      "type": "object",
      "properties": {
        "repositories": {
          "type": "array",
          "description": "List of repositories.",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "NotebookRuntimeOptions": {
      "type": "object",
      "id": "NotebookRuntimeOptions",
      "description": "Configures various aspects of Dataform notebook runtime.",
      "properties": {
        "gcsOutputBucket": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`."
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications."
        },
        "gcsRepositorySnapshotDestination": {
          "description": "Optional. The Google Cloud Storage destination to upload the snapshot to. For empty URI it defaults to the provided gcs_output_bucket. Format: `gs://bucket-name/path/`.",
          "$ref": "GcsRepositorySnapshotDestination"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ReadFileResponse": {
      "description": "`ReadFile` response message.",
      "type": "object",
      "id": "ReadFileResponse",
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GcsRepositorySnapshotMetadata": {
      "id": "GcsRepositorySnapshotMetadata",
      "type": "object",
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "properties": {
        "repositorySnapshotUri": {
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "type": "string",
          "readOnly": true
        },
        "generation": {
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "crc32cChecksum": {
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "properties": {
        "tokenStatus": {
          "type": "string",
          "description": "Indicates the status of the Git access token.",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ]
        }
      },
      "type": "object",
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "description": "`ComputeRepositoryAccessTokenStatus` response message."
    },
    "FetchRepositoryHistoryResponse": {
      "properties": {
        "commits": {
          "description": "A list of commit logs, ordered by 'git log' default order.",
          "type": "array",
          "items": {
            "$ref": "CommitLogEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`FetchRepositoryHistory` response message.",
      "type": "object",
      "id": "FetchRepositoryHistoryResponse"
    },
    "ListWorkflowConfigsResponse": {
      "id": "ListWorkflowConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workflowConfigs": {
          "type": "array",
          "description": "List of workflow configs.",
          "items": {
            "$ref": "WorkflowConfig"
          }
        }
      },
      "type": "object",
      "description": "`ListWorkflowConfigs` response message."
    },
    "WriteFileResponse": {
      "description": "`WriteFile` response message.",
      "properties": {},
      "type": "object",
      "id": "WriteFileResponse"
    },
    "NotebookAction": {
      "properties": {
        "contents": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The code contents of a Notebook to be run."
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run.",
          "type": "string"
        },
        "filePath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path to the notebook file in the repository."
        }
      },
      "id": "NotebookAction",
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "type": "object"
    },
    "TeamFolder": {
      "type": "object",
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "id": "TeamFolder",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was last updated.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The TeamFolder's user-friendly name.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The TeamFolder's name.",
          "type": "string"
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder.",
          "type": "string",
          "readOnly": true
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GitRemoteSettings": {
      "description": "Controls Git remote configuration for a repository.",
      "type": "object",
      "properties": {
        "gitRepositoryLink": {
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`",
          "type": "string"
        },
        "defaultBranch": {
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used.",
          "type": "string"
        },
        "tokenStatus": {
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "readOnly": true,
          "description": "Output only. Deprecated: The field does not contain any token status information.",
          "deprecated": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "type": "string"
        },
        "effectiveDefaultBranch": {
          "type": "string",
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true
        },
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "sshAuthenticationConfig": {
          "$ref": "SshAuthenticationConfig",
          "description": "Optional. Authentication fields for remote uris using SSH protocol."
        }
      },
      "id": "GitRemoteSettings"
    },
    "Folder": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The Folder's name."
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of when the Folder was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. The Folder's user-friendly name."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true,
          "type": "string"
        },
        "teamFolderName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder."
        }
      },
      "id": "Folder",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls."
    },
    "PrivateResourceMetadata": {
      "type": "object",
      "description": "Metadata used to identify if a resource is user scoped.",
      "properties": {
        "userScoped": {
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "PrivateResourceMetadata"
    },
    "DirectoryEntry": {
      "properties": {
        "directory": {
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        },
        "file": {
          "type": "string",
          "description": "A file in the directory. The path is returned including the full folder structure from the root."
        },
        "metadata": {
          "$ref": "FilesystemEntryMetadata",
          "description": "Entry with metadata."
        }
      },
      "type": "object",
      "id": "DirectoryEntry",
      "description": "Represents a single entry in a directory."
    },
    "MoveFileRequest": {
      "id": "MoveFileRequest",
      "type": "object",
      "description": "`MoveFile` request message.",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "type": "string",
          "description": "Required. The file's new path including filename, relative to the workspace root."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "CommitWorkspaceChangesResponse": {
      "properties": {},
      "id": "CommitWorkspaceChangesResponse",
      "type": "object",
      "description": "`CommitWorkspaceChanges` response message."
    },
    "DataEncryptionState": {
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Required. The KMS key version name with which data of a resource is encrypted."
        }
      },
      "type": "object",
      "description": "Describes encryption state of a resource.",
      "id": "DataEncryptionState"
    },
    "QueryTeamFolderContentsResponse": {
      "description": "`QueryTeamFolderContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "description": "List of entries in the TeamFolder.",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          },
          "type": "array"
        }
      },
      "id": "QueryTeamFolderContentsResponse"
    },
    "RemoveDirectoryResponse": {
      "description": "`RemoveDirectory` response message.",
      "properties": {},
      "type": "object",
      "id": "RemoveDirectoryResponse"
    },
    "FileSearchResult": {
      "id": "FileSearchResult",
      "description": "Client-facing representation of a file entry in search results.",
      "type": "object",
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "CommitMetadata": {
      "id": "CommitMetadata",
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      },
      "description": "Represents a Dataform Git commit.",
      "type": "object"
    },
    "WorkspaceCompilationOverrides": {
      "properties": {
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        }
      },
      "id": "WorkspaceCompilationOverrides",
      "description": "Configures workspace compilation overrides for a repository.",
      "type": "object"
    },
    "FetchGitAheadBehindResponse": {
      "properties": {
        "commitsAhead": {
          "type": "integer",
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "format": "int32"
        },
        "commitsBehind": {
          "type": "integer",
          "format": "int32",
          "description": "The number of commits in the workspace that are not in the remote branch."
        }
      },
      "id": "FetchGitAheadBehindResponse",
      "description": "`FetchGitAheadBehind` response message.",
      "type": "object"
    },
    "FetchFileGitStatusesResponse": {
      "properties": {
        "uncommittedFileChanges": {
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "type": "array",
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file."
        }
      },
      "id": "FetchFileGitStatusesResponse",
      "type": "object",
      "description": "`FetchFileGitStatuses` response message."
    },
    "Target": {
      "properties": {
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. The action's database (Google Cloud project ID) ."
        },
        "name": {
          "type": "string",
          "description": "Optional. The action's name, within `database` and `schema`."
        }
      },
      "id": "Target",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object"
    },
    "DataPreparation": {
      "description": "Defines a compiled Data Preparation entity",
      "type": "object",
      "id": "DataPreparation",
      "properties": {
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "contentsYaml": {
          "type": "string",
          "description": "The data preparation definition, stored as a YAML string."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CompilationResultAction": {
      "properties": {
        "relation": {
          "$ref": "Relation",
          "description": "The database relation created/updated by this action."
        },
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "filePath": {
          "type": "string",
          "description": "The full path including filename in which this action is located, relative to the workspace root."
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        }
      },
      "id": "CompilationResultAction",
      "type": "object",
      "description": "Represents a single Dataform action in a compilation result."
    },
    "ReadRepositoryFileResponse": {
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "The file's contents."
        }
      },
      "id": "ReadRepositoryFileResponse",
      "description": "`ReadRepositoryFile` response message."
    },
    "ResetWorkspaceChangesResponse": {
      "description": "`ResetWorkspaceChanges` response message.",
      "properties": {},
      "id": "ResetWorkspaceChangesResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "RemoveFileRequest": {
      "type": "object",
      "description": "`RemoveFile` request message.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      },
      "id": "RemoveFileRequest"
    },
    "PolicyName": {
      "properties": {
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        },
        "type": {
          "type": "string",
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc."
        },
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        }
      },
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "id": "PolicyName",
      "type": "object"
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "type": "object",
      "id": "QueryRepositoryDirectoryContentsResponse",
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "properties": {
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array",
          "description": "List of entries in the directory."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ActionIncrementalLoadMode": {
      "properties": {
        "column": {
          "type": "string",
          "description": "Column name for incremental load modes"
        }
      },
      "description": "Load definition for incremental load modes",
      "id": "ActionIncrementalLoadMode",
      "type": "object"
    },
    "MoveFolderRequest": {
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "description": "`MoveFolder` request message.",
      "type": "object",
      "id": "MoveFolderRequest"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        }
      }
    },
    "ScheduledExecutionRecord": {
      "type": "object",
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "properties": {
        "executionTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of this execution attempt.",
          "format": "google-datetime",
          "type": "string"
        },
        "workflowInvocation": {
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`.",
          "type": "string"
        },
        "errorStatus": {
          "$ref": "Status",
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful."
        }
      },
      "id": "ScheduledExecutionRecord"
    },
    "IncrementalTableConfig": {
      "properties": {
        "uniqueKeyParts": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
