{
  "name": "datalineage",
  "version": "v1",
  "title": "Data Lineage API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://datalineage.mtls.googleapis.com/",
  "revision": "20260822",
  "rootUrl": "https://datalineage.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "servicePath": "",
  "basePath": "",
  "canonicalName": "Datalineage",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datalineage.readonly": {
          "description": "See your Google Cloud Data Lineage data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/datalineage.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Data Lineage data and see the email address for your Google Account"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/data-catalog",
  "protocol": "rest",
  "endpoints": [
    {
      "endpointUrl": "https://datalineage.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://datalineage.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://datalineage.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://datalineage.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://datalineage.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://datalineage.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://datalineage.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://datalineage.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datalineage.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://datalineage.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://datalineage.europe-west9.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://datalineage.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://datalineage.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://datalineage.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datalineage.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://datalineage.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://datalineage.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://datalineage.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://datalineage.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://datalineage.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://datalineage.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://datalineage.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://datalineage.us-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://datalineage.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://datalineage.eu.rep.googleapis.com/"
    }
  ],
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudDatacatalogLineageV1EntityReference": {
      "id": "GoogleCloudDatacatalogLineageV1EntityReference",
      "properties": {
        "fullyQualifiedName": {
          "type": "string",
          "description": "Required. [Fully Qualified Name (FQN)](https://cloud.google.com/dataplex/docs/fully-qualified-names) of the entity."
        },
        "field": {
          "type": "array",
          "description": "Optional. Field path within the entity. Each nesting level should be a separate value in the repeated field. The order matters. Must be empty for asset level lineage For example to address \"salary.net\" subfield where \"salary\" is a column and \"net\" is a proto field two values in the `field` should be reported, the first is \"salary\" and the second is \"net\". Each field length is limited to 500 characters. Maximum supported nesting level is 20.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The soft reference to everything you can attach a lineage event to.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse",
      "description": "Response message for ProcessOpenLineageRunEvent.",
      "properties": {
        "lineageEvents": {
          "type": "array",
          "description": "Created lineage event names. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`.",
          "items": {
            "type": "string"
          }
        },
        "process": {
          "description": "Created process name. Format: `projects/{project}/locations/{location}/processes/{process}`.",
          "type": "string"
        },
        "run": {
          "description": "Created run name. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1Link": {
      "description": "Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are created when LineageEvents record data transformation between related assets.",
      "id": "GoogleCloudDatacatalogLineageV1Link",
      "type": "object",
      "properties": {
        "target": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "The pointer to the entity that is the **target** of this link."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The name of the link. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "type": "string"
        },
        "startTime": {
          "description": "The start of the first event establishing this link.",
          "format": "google-datetime",
          "type": "string"
        },
        "dependencyInfo": {
          "type": "array",
          "description": "Optional. The dependency info of the link (applies only to column level links).",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LinkDependencyInfo"
          }
        },
        "source": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "The pointer to the entity that is the **source** of this link."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the last event establishing this link."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ListProcessesResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1ListProcessesResponse",
      "description": "Response message for ListProcesses.",
      "properties": {
        "processes": {
          "description": "The processes from the specified project and location.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Process"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleTypeInterval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "GoogleTypeInterval",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1OperationMetadata": {
      "description": "Metadata describing the operation.",
      "properties": {
        "operationType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DELETE",
            "CREATE"
          ],
          "description": "Output only. The type of the operation being performed.",
          "enumDescriptions": [
            "Unused.",
            "The resource deletion operation.",
            "The resource creation operation."
          ]
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [relative name] (https://cloud.google.com//apis/design/resource_names#relative_resource_name) of the resource being operated on."
        },
        "endTime": {
          "description": "Output only. The timestamp of the operation termination, regardless of its success. This field is unset if the operation is still ongoing.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of the operation submission to the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceUuid": {
          "readOnly": true,
          "description": "Output only. The UUID of the resource being operated on.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running and did not succeed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current operation state."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1OperationMetadata"
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinks": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinks",
      "description": "Links associated with a specific process.",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo"
          },
          "description": "An array containing link details objects of the links provided in the original request. A single process can result in creating multiple links. If any of the links you provide in the request are created by the same process, they all are included in this array."
        },
        "process": {
          "description": "The process name in the format of `projects/{project}/locations/{location}/processes/{process}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1MultipleEntityReference": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
          },
          "description": "Optional. The list of entities to search for links. The maximum number of entities is 20.",
          "type": "array"
        }
      },
      "description": "Multiple entity reference for SearchLinksRequest."
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest": {
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest",
      "description": "Request message for BatchSearchLinkProcesses.",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "description": "Required. An array of links to check for their associated LineageProcesses. The maximum number of items in this array is 100. If the request contains more than 100 links, it returns the `INVALID_ARGUMENT` error. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "items": {
            "type": "string"
          }
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The page token received from a previous `BatchSearchLinkProcesses` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of processes to return in a single page of the response. A page may contain fewer results than this value."
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector": {
      "type": "object",
      "properties": {
        "integration": {
          "type": "string",
          "enum": [
            "INTEGRATION_UNSPECIFIED",
            "BIGQUERY",
            "DATAPROC",
            "LOOKER_CORE",
            "MANAGED_AIRFLOW"
          ],
          "description": "Required. Integration to which the rule applies. This field can be used to specify the integration against which the ingestion rule should be applied.",
          "enumDescriptions": [
            "Integration is Unspecified",
            "BigQuery",
            "Dataproc",
            "Looker Core",
            "Managed Service for Apache Airflow (formerly known as Cloud Composer)"
          ]
        }
      },
      "description": "Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector"
    },
    "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo": {
      "properties": {
        "dependencyType": {
          "description": "The type of dependency.",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "type": "string",
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ]
        }
      },
      "description": "Dependency info describes how one entity is dependent on another.",
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksRequest": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksRequest",
      "description": "Request message for SearchLinks.",
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of links to return in a single page of the response. A page may contain fewer links than this value. If unspecified, at most 10 links are returned. Maximum value is 100; values greater than 100 are reduced to 100.",
          "type": "integer",
          "format": "int32"
        },
        "source": {
          "description": "Optional. Send asset information in the **source** field to retrieve all links that lead from the specified asset to downstream assets.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "sources": {
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
          "description": "Optional. Send a list of asset information in the **sources** field to retrieve all links that lead from the specified assets to downstream assets. This field is similar to the `source` source field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`."
        },
        "targets": {
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
          "description": "Optional. Send a list of asset information in the **targets** field to retrieve all links that lead from upstream assets to the specified assets. This field is similar to the `target` target field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`."
        },
        "target": {
          "description": "Optional. Send asset information in the **target** field to retrieve all links that lead from upstream assets to the specified asset.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The page token received from a previous `SearchLinksRequest` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest": {
      "type": "object",
      "description": "Request message for SearchLineageStreaming.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest",
      "properties": {
        "limits": {
          "description": "Optional. Limits for the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits"
        },
        "filters": {
          "description": "Optional. Filters for the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters"
        },
        "direction": {
          "description": "Required. Direction of the search.",
          "enumDescriptions": [
            "Direction is unspecified.",
            "Retrieve links that lead from the specified asset to downstream assets.",
            "Retrieve links that lead from upstream assets to the specified asset."
          ],
          "type": "string",
          "enum": [
            "SEARCH_DIRECTION_UNSPECIFIED",
            "DOWNSTREAM",
            "UPSTREAM"
          ]
        },
        "rootCriteria": {
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria",
          "description": "Required. Criteria for the root of the search."
        },
        "locations": {
          "description": "Required. The locations to search in. This list should contain the location from the `parent` field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse": {
      "description": "Response message for ListLineageEvents.",
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse",
      "properties": {
        "lineageEvents": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
          },
          "description": "Lineage events from the specified project and location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1Run": {
      "id": "GoogleCloudDatacatalogLineageV1Run",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. The timestamp of the end of the run.",
          "format": "google-datetime"
        },
        "attributes": {
          "type": "object",
          "description": "Optional. The attributes of the run. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the run). Up to 100 attributes are allowed.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "state": {
          "description": "Required. The state of the run.",
          "enumDescriptions": [
            "The state is unknown. The true state may be any of the below or a different state that is not supported here explicitly.",
            "The run is still executing.",
            "The run completed.",
            "The run failed.",
            "The run aborted."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "STARTED",
            "COMPLETED",
            "FAILED",
            "ABORTED"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The timestamp of the start of the run."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
        },
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        }
      },
      "description": "A lineage run represents an execution of a process that creates lineage events."
    },
    "GoogleCloudDatacatalogLineageV1ListRunsResponse": {
      "description": "Response message for ListRuns.",
      "id": "GoogleCloudDatacatalogLineageV1ListRunsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "runs": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Run"
          },
          "type": "array",
          "description": "The runs from the specified project and location."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogLineageV1Process": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`"
        },
        "origin": {
          "$ref": "GoogleCloudDatacatalogLineageV1Origin",
          "description": "Optional. The origin of this process and its runs and lineage events."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
        },
        "attributes": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Optional. The attributes of the process. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the process). Up to 100 attributes are allowed.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "A process is the definition of a data transformation operation.",
      "id": "GoogleCloudDatacatalogLineageV1Process"
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits",
      "properties": {
        "maxResults": {
          "type": "integer",
          "description": "Optional. The maximum number of links to return in the response. The default value is 1_000 and the maximum value is 10_000.",
          "format": "int32"
        },
        "maxProcessPerLink": {
          "format": "int32",
          "description": "Optional. The maximum number of processes to return per link. The default value is 0 and the maximum value is 100. If this value is non-zero, the response will contain process names for the links. To retrieve full process details in the response, include `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask).",
          "type": "integer"
        },
        "maxDepth": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum depth of the search. The default value is 5 and maximum value is 100."
        }
      },
      "description": "Limits for the search results.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
      "description": "Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. If true, ingestion of lineage should be enabled. If false, it should be disabled. If unspecified, the system default value is used."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse",
      "type": "object",
      "properties": {
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLink"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The lineage links that match the search criteria. Can be empty if no links match."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. If non-empty, the result set might be incomplete. Currently, only locations are supported. Format: `projects/[PROJECT_NUMBER]/locations/[LOCATION]` Example: projects/123456789/locations/us-east1"
        }
      },
      "description": "Response message for SearchLineageStreaming."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1Origin": {
      "properties": {
        "sourceType": {
          "description": "Type of the source. Use of a source_type other than `CUSTOM` for process creation or updating is highly discouraged. It might be restricted in the future without notice. There will be increase in cost if you use any of the source types other than `CUSTOM`.",
          "enumDescriptions": [
            "Source is Unspecified",
            "A custom source",
            "BigQuery",
            "Data Fusion",
            "Composer",
            "Looker Studio",
            "Dataproc",
            "Vertex AI",
            "Dataflow",
            "Looker Core"
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CUSTOM",
            "BIGQUERY",
            "DATA_FUSION",
            "COMPOSER",
            "LOOKER_STUDIO",
            "DATAPROC",
            "VERTEX_AI",
            "DATAFLOW",
            "LOOKER_CORE"
          ]
        },
        "name": {
          "description": "If the source_type isn't CUSTOM, the value of this field should be a Google Cloud resource name of the system, which reports lineage. The project and location parts of the resource name must match the project and location of the lineage resource being created. Examples: - `{source_type: COMPOSER, name: \"projects/foo/locations/us/environments/bar\"}` - `{source_type: BIGQUERY, name: \"projects/foo/locations/eu\"}` - `{source_type: CUSTOM, name: \"myCustomIntegration\"}`",
          "type": "string"
        }
      },
      "description": "Origin of a process.",
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1Origin"
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria": {
      "properties": {
        "entities": {
          "description": "Optional. The entities to initiate the search from. Entities can be specified by FQN only, or by FQN and field. To search by FQN and all available fields for that FQN, use the wildcard `*` as the field value.",
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference"
        }
      },
      "description": "Criteria for the root of the search.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion",
      "properties": {
        "rules": {
          "description": "Optional. List of rules for Data Lineage ingestion.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule"
          }
        }
      },
      "description": "Defines how Lineage should be ingested for a given resource.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule": {
      "type": "object",
      "description": "Ingestion rule for Data Lineage ingestion.",
      "properties": {
        "integrationSelector": {
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector",
          "description": "Required. Integration selector of the rule. The rule is only applied to the Integration selected by the selector."
        },
        "lineageEnablement": {
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
          "description": "Required. Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children. If unspecified, the ingestion will be enabled only if it was configured in the resource's parent."
        }
      },
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule"
    },
    "GoogleCloudDatacatalogLineageV1LineageEvent": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1LineageEvent",
      "description": "A lineage event represents an operation on assets. Within the operation, the data flows from the source to the target defined in the links field.",
      "properties": {
        "links": {
          "description": "Optional. List of source-target pairs. Can't contain more than 100 tuples.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EventLink"
          },
          "type": "array"
        },
        "startTime": {
          "description": "Required. The beginning of the transformation which resulted in this lineage event. For streaming scenarios, it should be the beginning of the period from which the lineage is being reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end of the transformation which resulted in this lineage event. For streaming scenarios, it should be the end of the period from which the lineage is being reported.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the lineage event. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`. Can be specified or auto-assigned. {lineage_event} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse": {
      "properties": {
        "processLinks": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinks"
          },
          "type": "array",
          "description": "An array of processes associated with the specified links."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response."
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse",
      "type": "object",
      "description": "Response message for BatchSearchLinkProcesses."
    },
    "GoogleCloudDatacatalogLineageV1LineageLink": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1LineageLink",
      "properties": {
        "source": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "The entity that is the **source** of this link."
        },
        "location": {
          "description": "The location where the LineageEvent that created the link is stored.",
          "type": "string"
        },
        "depth": {
          "format": "int32",
          "description": "Depth of the current link in the graph starting from 1.",
          "type": "integer"
        },
        "processes": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess"
          },
          "type": "array",
          "description": "Processes metadata associated with the link."
        },
        "target": {
          "description": "The entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "dependencyInfo": {
          "type": "array",
          "description": "Describes how the target entity is dependent on the source entity.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo"
          }
        }
      },
      "description": "Lineage link between two entities."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters": {
      "description": "Filters for the search.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters",
      "type": "object",
      "properties": {
        "timeRange": {
          "$ref": "GoogleTypeInterval",
          "description": "Optional. Time interval to search for lineage. If unspecified, all lineage is returned. Currently, at most one of `start_time` and `end_time` can be set."
        },
        "dependencyTypes": {
          "items": {
            "type": "string",
            "enum": [
              "DEPENDENCY_TYPE_UNSPECIFIED",
              "EXACT_COPY",
              "OTHER"
            ],
            "enumDescriptions": [
              "Dependency type unspecified.",
              "Exact data copy without any change.",
              "Other types of dependencies like filtering or grouping."
            ]
          },
          "description": "Optional. Types of dependencies between entities to retrieve. If unspecified, all dependency types are returned.",
          "type": "array"
        },
        "entitySet": {
          "type": "string",
          "enum": [
            "ENTITY_SET_UNSPECIFIED",
            "ENTITIES"
          ],
          "description": "Optional. Entity set restriction. If unspecified, the method returns all entities.",
          "enumDescriptions": [
            "The entity set is unspecified. Returns all the data.",
            "Returns entities with only FQN specified. For example, entities with the `field` field set are not returned."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1DependencyInfo": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1DependencyInfo",
      "properties": {
        "dependencyType": {
          "description": "Required. Type of dependency.",
          "type": "string",
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ],
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ]
        }
      },
      "description": "Dependency info describes how one entity depends on another."
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response.",
          "type": "string"
        },
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Link"
          },
          "description": "The list of links for a given asset. Can be empty if the asset has no relations of requested type (source or target).",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksResponse",
      "description": "Response message for SearchLinks."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1Config": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1Config",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a config from overwriting each other. It is required that systems make use of the `etag` in the read-modify-write cycle to perform config updates in order to avoid race conditions: An `etag` is returned in the response to `GetConfig`, and systems are expected to put that etag in the request to `UpdateConfig` to ensure that their change will be applied to the same version of the config. If an `etag` is not provided in the call to `UpdateConfig`, then the existing config, if any, will be overwritten."
        },
        "ingestion": {
          "description": "Optional. Ingestion rule for Data Lineage ingestion.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion"
        }
      },
      "description": "Configuration for Data Lineage. Defines different configuration options for Lineage customers to control behaviour of lineage systems."
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinkInfo": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo",
      "type": "object",
      "description": "Link details.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the last event establishing this link-process tuple."
        },
        "link": {
          "description": "The name of the link in the format of `projects/{project}/locations/{location}/links/{link}`.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the first event establishing this link-process tuple."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1LinkDependencyInfo": {
      "description": "Dependency info describes how one entity depends on another.",
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1LinkDependencyInfo",
      "properties": {
        "dependencyType": {
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "type": "string",
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ],
          "description": "The type of dependency."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess": {
      "type": "object",
      "properties": {
        "process": {
          "description": "Process that created the link.",
          "$ref": "GoogleCloudDatacatalogLineageV1Process"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess",
      "description": "Process metadata for the link."
    },
    "GoogleCloudDatacatalogLineageV1EventLink": {
      "description": "A lineage between source and target entities.",
      "id": "GoogleCloudDatacatalogLineageV1EventLink",
      "type": "object",
      "properties": {
        "target": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "Required. Reference to the target entity"
        },
        "dependencyInfo": {
          "description": "Optional. Describes how the target depends on the source.",
          "$ref": "GoogleCloudDatacatalogLineageV1DependencyInfo"
        },
        "source": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "Required. Reference to the source entity"
        }
      }
    }
  },
  "batchPath": "batch",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "datalineage:v1",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "processOpenLineageRunEvent": {
              "request": {
                "additionalProperties": {
                  "type": "any",
                  "description": "Properties of the object."
                },
                "type": "object"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:processOpenLineageRunEvent",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse"
              },
              "description": "Creates new lineage events together with their parents: process and run. Updates the process and run if they already exist. Mapped from Open Lineage specification: https://github.com/OpenLineage/OpenLineage/blob/main/spec/OpenLineage.json.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalineage.projects.locations.processOpenLineageRunEvent",
              "path": "v1/{+parent}:processOpenLineageRunEvent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The name of the project and its location that should own the process, run, and lineage event."
                },
                "requestId": {
                  "location": "query",
                  "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                  "type": "string"
                }
              }
            },
            "searchLinks": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksRequest"
              },
              "httpMethod": "POST",
              "description": "Retrieve a list of links connected to a specific asset. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. You can retrieve links in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The project and location you want search in.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "datalineage.projects.locations.searchLinks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLinks",
              "path": "v1/{+parent}:searchLinks",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksResponse"
              }
            },
            "batchSearchLinkProcesses": {
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse"
              },
              "id": "datalineage.projects.locations.batchSearchLinkProcesses",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:batchSearchLinkProcesses",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The project and location where you want to search.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1/{+parent}:batchSearchLinkProcesses",
              "description": "Retrieve information about LineageProcesses associated with specific links. LineageProcesses are transformation pipelines that result in data flowing from **source** to **target** assets. Links between assets represent this operation. If you have specific link names, you can use this method to verify which LineageProcesses contribute to creating those links. See the SearchLinks method for more information on how to retrieve link name. You can retrieve the LineageProcess information in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "searchLineageStreaming": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The project and location to initiate the search from.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datalineage.read-write",
                "https://www.googleapis.com/auth/datalineage.readonly"
              ],
              "description": "Retrieves a streaming response of lineage links connected to the requested assets by performing a breadth-first search in the given direction. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. This method retrieves links from all valid locations provided in the request. This method supports Column-Level Lineage (CLL) along with wildcard support to retrieve all CLL for an Entity FQN. Following permissions are required to retrieve links: * `datalineage.events.get` permission for the project where the link is stored for entity-level lineage. * `datalineage.events.getFields` permission for the project where the link is stored for column-level lineage. This method also returns processes that created the links if explicitly requested by setting [max_process_per_link](google.cloud.datacatalog.lineage.v1.SearchLineageStreamingRequest.limits.max_process_per_link) is non-zero and full process details are requested via `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask). Permission required to retrieve processes: * `datalineage.processes.get` permission for the project where the process is stored.",
              "path": "v1/{+parent}:searchLineageStreaming",
              "httpMethod": "POST",
              "id": "datalineage.projects.locations.searchLineageStreaming",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLineageStreaming",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse"
              }
            }
          },
          "resources": {
            "processes": {
              "resources": {
                "runs": {
                  "resources": {
                    "lineageEvents": {
                      "methods": {
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "parameters": {
                            "requestId": {
                              "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The name of the run that should own the lineage event.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.create",
                          "path": "v1/{+parent}/lineageEvents",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a new lineage event.",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "allowMissing": {
                              "description": "Optional. If set to true and the lineage event is not found, the request succeeds but the server doesn't perform any actions.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Required. The name of the lineage event to delete.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "type": "string"
                            }
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.delete",
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes the lineage event with the specified name."
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/lineageEvents",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "description": "Lists lineage events in the given project and location. The list order is not defined.",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The page token received from a previous `ListLineageEvents` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token."
                            },
                            "parent": {
                              "description": "Required. The name of the run that owns the collection of lineage events to get.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of lineage events to return. The service may return fewer events than this value. If unspecified, at most 50 events are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                              "format": "int32"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse"
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.list"
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets details of a specified lineage event.",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.get",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the lineage event to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "datalineage.projects.locations.processes.runs.get",
                      "description": "Gets the details of the specified run.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "description": "Required. The name of the run to get.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "path": "v1/{+parent}/runs",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "id": "datalineage.projects.locations.processes.runs.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the process that should own the run."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                        }
                      },
                      "description": "Creates a new run.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "description": "Updates a run.",
                      "id": "datalineage.projects.locations.processes.runs.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true and the run is not found, the request creates it."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The list of fields to update. Currently not used. The whole message is updated."
                        }
                      }
                    },
                    "delete": {
                      "parameters": {
                        "allowMissing": {
                          "description": "Optional. If set to true and the run is not found, the request succeeds but the server doesn't perform any actions.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the run to delete."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "datalineage.projects.locations.processes.runs.delete",
                      "path": "v1/{+name}",
                      "description": "Deletes the run with the specified name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "list": {
                      "path": "v1/{+parent}/runs",
                      "description": "Lists runs in the given project and location. List order is descending by `start_time`.",
                      "id": "datalineage.projects.locations.processes.runs.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The page token received from a previous `ListRuns` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of runs to return. The service may return fewer than this value. If unspecified, at most 50 runs are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of process that owns this collection of runs."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1ListRunsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token received from a previous `ListProcesses` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the project and its location that owns this collection of processes.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of processes to return. The service may return fewer than this value. If unspecified, at most 50 processes are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1ListProcessesResponse"
                  },
                  "path": "v1/{+parent}/processes",
                  "description": "List processes in the given project and location. List order is descending by insertion time.",
                  "id": "datalineage.projects.locations.processes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/processes",
                  "description": "Creates a new process.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datalineage.projects.locations.processes.create",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the project and its location that should own the process.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true and the process is not found, the request inserts it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "id": "datalineage.projects.locations.processes.patch",
                  "description": "Updates a process.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}"
                },
                "delete": {
                  "id": "datalineage.projects.locations.processes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the process to delete."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true and the process is not found, the request succeeds but the server doesn't perform any actions.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Deletes the process with the specified name.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the process to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "id": "datalineage.projects.locations.processes.get",
                  "description": "Gets the details of the specified process.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "datalineage.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "datalineage.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "datalineage.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "datalineage.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            },
            "config": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Get the Config for a given resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "id": "datalineage.projects.locations.config.get",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`"
                    }
                  },
                  "description": "Update the Config for a given resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.projects.locations.config.patch",
                  "httpMethod": "PATCH"
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Get the Config for a given resource.",
                  "id": "datalineage.folders.locations.config.get",
[...]
