{
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Dataproc",
  "title": "Cloud Dataproc API",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "baseUrl": "https://dataproc.googleapis.com/",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dataproc",
  "protocol": "rest",
  "version": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260911",
  "resources": {
    "projects": {
      "resources": {
        "regions": {
          "resources": {
            "autoscalingPolicies": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}"
                    }
                  },
                  "description": "Retrieves autoscaling policy.",
                  "id": "dataproc.projects.regions.autoscalingPolicies.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "httpMethod": "GET"
                },
                "update": {
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "type": "string",
                      "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates (replaces) autoscaling policy.Disabled check for update_mask, because all updates will be full replacements.",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "id": "dataproc.projects.regions.autoscalingPolicies.update"
                },
                "getIamPolicy": {
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "dataproc.projects.regions.autoscalingPolicies.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies",
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/regions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.create, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.create, the resource name of the location has the following format: projects/{project_id}/locations/{location}"
                    }
                  },
                  "description": "Creates new autoscaling policy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+parent}/autoscalingPolicies",
                  "id": "dataproc.projects.regions.autoscalingPolicies.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "id": "dataproc.projects.regions.autoscalingPolicies.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ]
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "id": "dataproc.projects.regions.autoscalingPolicies.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors."
                },
                "list": {
                  "response": {
                    "$ref": "ListAutoscalingPoliciesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return in each response. Must be less than or equal to 1000. Defaults to 100.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/regions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}"
                    },
                    "pageToken": {
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "httpMethod": "GET",
                  "id": "dataproc.projects.regions.autoscalingPolicies.list",
                  "description": "Lists autoscaling policies in the project.",
                  "path": "v1/{+parent}/autoscalingPolicies",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataproc.projects.regions.autoscalingPolicies.delete",
                  "description": "Deletes an autoscaling policy. It is an error to delete an autoscaling policy that is in use by one or more clusters.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "id": "dataproc.projects.regions.operations.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "dataproc.projects.regions.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
                  "id": "dataproc.projects.regions.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel"
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:getIamPolicy",
                  "id": "dataproc.projects.regions.operations.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ]
                },
                "testIamPermissions": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "id": "dataproc.projects.regions.operations.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "dataproc.projects.regions.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "id": "dataproc.projects.regions.operations.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations"
                }
              }
            },
            "workflowTemplates": {
              "methods": {
                "instantiate": {
                  "request": {
                    "$ref": "InstantiateWorkflowTemplateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+name}:instantiate",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "dataproc.projects.regions.workflowTemplates.instantiate",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}:instantiate",
                  "description": "Instantiates a template and begins execution.The returned Operation can be used to track execution of workflow by polling operations.get. The Operation will complete when entire workflow is finished.The running workflow can be aborted via operations.cancel. This will cause any inflight jobs to be cancelled and workflow-owned clusters to be deleted.The Operation.metadata will be WorkflowMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#workflowmetadata). Also see Using WorkflowMetadata (https://cloud.google.com/dataproc/docs/concepts/workflows/debugging#using_workflowmetadata).On successful completion, Operation.response will be Empty.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataproc.projects.regions.workflowTemplates.delete",
                  "parameters": {
                    "version": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The version of workflow template to delete. If specified, will only delete the template if the current server version matches specified version."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.delete, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a workflow template. It does not cancel in-progress workflows.",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ]
                },
                "list": {
                  "description": "Lists workflows that match the specified filter in the request.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListWorkflowTemplatesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/regions/[^/]+$",
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return in each response."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "path": "v1/{+parent}/workflowTemplates",
                  "id": "dataproc.projects.regions.workflowTemplates.list"
                },
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "POST",
                  "id": "dataproc.projects.regions.workflowTemplates.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  }
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "id": "dataproc.projects.regions.workflowTemplates.testIamPermissions"
                },
                "get": {
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}",
                  "parameters": {
                    "version": {
                      "description": "Optional. The version of workflow template to retrieve. Only previously instantiated versions can be retrieved.If unspecified, retrieves the current version.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.get, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.get, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.regions.workflowTemplates.get",
                  "httpMethod": "GET",
                  "description": "Retrieves the latest workflow template.Can retrieve previously instantiated template by specifying optional version parameter.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "description": "Creates new workflow template.",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates",
                  "id": "dataproc.projects.regions.workflowTemplates.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.create, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.create, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/workflowTemplates"
                },
                "update": {
                  "description": "Updates (replaces) workflow template. The updated template must contain version that matches the current server version.",
                  "path": "v1/{+name}",
                  "id": "dataproc.projects.regions.workflowTemplates.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}"
                },
                "instantiateInline": {
                  "id": "dataproc.projects.regions.workflowTemplates.instantiateInline",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+parent}/workflowTemplates:instantiateInline",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates:instantiateInline",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/regions/[^/]+$",
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,instantiateinline, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.instantiateinline, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    }
                  },
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "description": "Instantiates a template and begins execution.This method is equivalent to executing the sequence CreateWorkflowTemplate, InstantiateWorkflowTemplate, DeleteWorkflowTemplate.The returned Operation can be used to track execution of workflow by polling operations.get. The Operation will complete when entire workflow is finished.The running workflow can be aborted via operations.cancel. This will cause any inflight jobs to be cancelled and workflow-owned clusters to be deleted.The Operation.metadata will be WorkflowMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#workflowmetadata). Also see Using WorkflowMetadata (https://cloud.google.com/dataproc/docs/concepts/workflows/debugging#using_workflowmetadata).On successful completion, Operation.response will be Empty."
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "id": "dataproc.projects.regions.workflowTemplates.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:setIamPolicy"
                }
              }
            },
            "clusters": {
              "methods": {
                "stop": {
                  "request": {
                    "$ref": "StopClusterRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "description": "Stops a cluster in a project.",
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:stop",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "id": "dataproc.projects.regions.clusters.stop",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "region": {
                      "type": "string",
                      "description": "Required. The region in which to handle the request.",
                      "location": "path",
                      "required": true
                    },
                    "clusterName": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The cluster name.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "id": "dataproc.projects.regions.clusters.patch",
                  "httpMethod": "PATCH",
                  "description": "Updates a cluster in a project. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#clusteroperationmetadata). The cluster must be in a RUNNING state or an error is returned.",
                  "parameters": {
                    "gracefulDecommissionTimeout": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning allows removing nodes from the cluster without interrupting jobs in progress. Timeout specifies how long to wait for jobs in progress to finish before forcefully removing nodes (and potentially interrupting jobs). Default timeout is 0 (for forceful decommission), and the maximum allowed timeout is 1 day. (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Supported in image versions 1.2 and higher.",
                      "format": "google-duration"
                    },
                    "clusterName": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The cluster name."
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to."
                    },
                    "updateMask": {
                      "description": "Required. Specifies the path, relative to Cluster, of the field to update. For example, to change the number of workers in a cluster to 5, the update_mask parameter would be specified as config.worker_config.num_instances, and the PATCH request body would specify the new value, as follows: { \"config\":{ \"workerConfig\":{ \"numInstances\":\"5\" } } } Similarly, to change the number of preemptible workers in a cluster to 5, the update_mask parameter would be config.secondary_worker_config.num_instances, and the PATCH request body would be set as follows: { \"config\":{ \"secondaryWorkerConfig\":{ \"numInstances\":\"5\" } } } *Note:* Currently, only the following fields can be updated: *Mask* *Purpose* *labels* Update labels *config.worker_config.num_instances* Resize primary worker group *config.secondary_worker_config.num_instances* Resize secondary worker group config.autoscaling_config.policy_uri Use, stop using, or change autoscaling policies ",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "region": {
                      "description": "Required. The region in which to handle the request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the server receives two UpdateClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.UpdateClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Cluster"
                  }
                },
                "diagnose": {
                  "parameters": {
                    "region": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The region in which to handle the request.",
                      "type": "string"
                    },
                    "clusterName": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The cluster name."
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to."
                    }
                  },
                  "id": "dataproc.projects.regions.clusters.diagnose",
                  "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:diagnose",
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:diagnose",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "description": "Gets cluster diagnostic information. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#clusteroperationmetadata). After the operation completes, Operation.response contains DiagnoseClusterResults (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#diagnoseclusterresults).",
                  "request": {
                    "$ref": "DiagnoseClusterRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ]
                },
                "start": {
                  "description": "Starts a cluster in a project.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:start",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to."
                    },
                    "region": {
                      "type": "string",
                      "description": "Required. The region in which to handle the request.",
                      "location": "path",
                      "required": true
                    },
                    "clusterName": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The cluster name.",
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.regions.clusters.start",
                  "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:start",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "StartClusterRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "id": "dataproc.projects.regions.clusters.delete",
                  "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique ID used to identify the request. If the server receives two DeleteClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.DeleteClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    },
                    "clusterUuid": {
                      "description": "Optional. Specifying the cluster_uuid means the RPC should fail (with error NOT_FOUND) if cluster with specified UUID does not exist.",
                      "type": "string",
                      "location": "query"
                    },
                    "region": {
                      "description": "Required. The region in which to handle the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "location": "path",
                      "required": true
                    },
                    "gracefulTerminationTimeout": {
                      "type": "string",
                      "description": "Optional. The graceful termination timeout for the deletion of the cluster. Indicate the time the request will wait to complete the running jobs on the cluster before its forceful deletion. Default value is 0 indicating that the user has not enabled the graceful termination. Value can be between 60 second and 6 Hours, in case the graceful termination is enabled. (There is no separate flag to check the enabling or disabling of graceful termination, it can be checked by the values in the field).",
                      "location": "query",
                      "format": "google-duration"
                    },
                    "clusterName": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The cluster name."
                    }
                  },
                  "description": "Deletes a cluster in a project. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#clusteroperationmetadata).",
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "id": "dataproc.projects.regions.clusters.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "actionOnFailedPrimaryWorkers": {
                      "description": "Optional. Failure action when primary worker creation fails.",
                      "enum": [
                        "FAILURE_ACTION_UNSPECIFIED",
                        "NO_ACTION",
                        "DELETE"
                      ],
                      "enumDescriptions": [
                        "When FailureAction is unspecified, failure action defaults to NO_ACTION.",
                        "Take no action on failure to create a cluster resource. NO_ACTION is the default.",
                        "Delete the failed cluster resource."
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the server receives two CreateClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.CreateClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "region": {
                      "description": "Required. The region in which to handle the request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Creates a cluster in a project. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#clusteroperationmetadata).",
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/regions/{region}/clusters",
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "dataproc.projects.regions.clusters.create"
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dataproc.projects.regions.clusters.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST"
                },
                "repair": {
                  "request": {
                    "$ref": "RepairClusterRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "region": {
                      "type": "string",
                      "description": "Required. The region in which to handle the request.",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to.",
                      "type": "string"
                    },
                    "clusterName": {
                      "type": "string",
                      "description": "Required. The cluster name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dataproc.projects.regions.clusters.repair",
                  "description": "Repairs a cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:repair",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:repair",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "injectCredentials": {
                  "request": {
                    "$ref": "InjectCredentialsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:injectCredentials",
                  "parameters": {
                    "project": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to, of the form projects/.",
                      "pattern": "^projects/[^/]+$"
                    },
                    "cluster": {
                      "pattern": "^clusters/[^/]+$",
                      "description": "Required. The cluster, in the form clusters/.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "region": {
                      "description": "Required. The region containing the cluster, of the form regions/.",
                      "type": "string",
                      "pattern": "^regions/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "project",
                    "region",
                    "cluster"
                  ],
                  "id": "dataproc.projects.regions.clusters.injectCredentials",
                  "description": "Inject encrypted credentials into all of the VMs in a cluster.The target cluster must be a personal auth cluster assigned to the user who is issuing the RPC.",
                  "path": "v1/{+project}/{+region}/{+cluster}:injectCredentials"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "parameters": {
                    "region": {
                      "type": "string",
                      "description": "Required. The region in which to handle the request.",
                      "location": "path",
                      "required": true
                    },
                    "clusterName": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The cluster name."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "description": "Gets the resource representation for a cluster in a project.",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "id": "dataproc.projects.regions.clusters.get",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ]
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "POST",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "dataproc.projects.regions.clusters.getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:getIamPolicy"
                },
                "list": {
                  "id": "dataproc.projects.regions.clusters.list",
                  "path": "v1/projects/{projectId}/regions/{region}/clusters",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of clusters to return in each response. The service may return fewer than this value. If unspecified, the default value is 200. The maximum value is 1000."
                    },
                    "region": {
                      "description": "Required. The region in which to handle the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token received from a previous ListClusters call. Provide this token to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A filter constraining the clusters to list. Filters are case-sensitive and have the following syntax:field = value AND field = value ...where field is one of status.state, clusterName, or labels.[KEY], and [KEY] is a label key. value can be \"*\" to match all values. status.state can be one of the following: ACTIVE, INACTIVE, CREATING, RUNNING, ERROR, DELETING, UPDATING, STOPPING, or STOPPED. ACTIVE contains the CREATING, UPDATING, and RUNNING states. INACTIVE contains the DELETING, ERROR, STOPPING, and STOPPED states. clusterName is the name of the cluster provided at creation time. Only the logical AND operator is supported; space-separated items are treated as having an implicit AND operator.Example filter:status.state = ACTIVE AND clusterName = mycluster AND labels.env = staging AND labels.starred = *",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists all regions/{region}/clusters in a project alphabetically.",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "flatPath": "v1/projects/{projectId}/regions/{region}/clusters",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "nodeGroups": {
                  "methods": {
                    "create": {
                      "id": "dataproc.projects.regions.clusters.nodeGroups.create",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. A unique ID used to identify the request. If the server receives two CreateNodeGroupRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.CreateNodeGroupRequest) with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                          "type": "string",
                          "location": "query"
                        },
                        "parentOperationId": {
                          "type": "string",
                          "description": "Optional. operation id of the parent operation sending the create request",
                          "location": "query"
                        },
                        "nodeGroupId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional node group ID. Generated if not specified.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of from 3 to 33 characters."
                        },
                        "parent": {
                          "description": "Required. The parent resource where this node group will be created. Format: projects/{project}/regions/{region}/clusters/{cluster}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Creates a node group in a cluster. The returned Operation.metadata is NodeGroupOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#nodegroupoperationmetadata).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "NodeGroup"
                      },
                      "path": "v1/{+parent}/nodeGroups",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}/nodeGroups"
                    },
                    "resize": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}/nodeGroups/{nodeGroupsId}:resize",
                      "request": {
                        "$ref": "ResizeNodeGroupRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataproc.projects.regions.clusters.nodeGroups.resize",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+/nodeGroups/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the node group to resize. Format: projects/{project}/regions/{region}/clusters/{cluster}/nodeGroups/{nodeGroup}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc"
                      ],
                      "description": "Resizes a node group in a cluster. The returned Operation.metadata is NodeGroupOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#nodegroupoperationmetadata).",
                      "path": "v1/{+name}:resize"
                    },
                    "repair": {
                      "path": "v1/{+name}:repair",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Repair nodes in a node group.",
                      "request": {
                        "$ref": "RepairNodeGroupRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}/nodeGroups/{nodeGroupsId}:repair",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+/nodeGroups/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the node group to resize. Format: projects/{project}/regions/{region}/clusters/{cluster}/nodeGroups/{nodeGroup}"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc"
                      ],
                      "id": "dataproc.projects.regions.clusters.nodeGroups.repair"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+/nodeGroups/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the node group to retrieve. Format: projects/{project}/regions/{region}/clusters/{cluster}/nodeGroups/{nodeGroup}",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets the resource representation for a node group in a cluster.",
                      "id": "dataproc.projects.regions.clusters.nodeGroups.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}/nodeGroups/{nodeGroupsId}",
                      "response": {
                        "$ref": "NodeGroup"
                      }
                    }
                  }
                }
              }
            },
            "jobs": {
              "methods": {
                "submitAsOperation": {
                  "id": "dataproc.projects.regions.jobs.submitAsOperation",
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "flatPath": "v1/projects/{projectId}/regions/{region}/jobs:submitAsOperation",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "region": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The Dataproc region in which to handle the request."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/regions/{region}/jobs:submitAsOperation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "SubmitJobRequest"
                  },
                  "description": "Submits job to a cluster.",
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "jobId"
                  ],
                  "path": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "id": "dataproc.projects.regions.jobs.patch",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "parameters": {
                    "region": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Specifies the path, relative to Job, of the field to update. For example, to update the labels of a Job the update_mask parameter would be specified as labels, and the PATCH request body would specify the new value. *Note:* Currently, labels is the only field that can be updated.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "jobId": {
                      "description": "Required. The job ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "description": "Updates a job in a project."
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "id": "dataproc.projects.regions.jobs.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/jobs/{jobsId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "path": "v1/{+resource}:getIamPolicy"
                },
                "testIamPermissions": {
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/jobs/{jobsId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/jobs/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "id": "dataproc.projects.regions.jobs.testIamPermissions"
                },
                "get": {
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "jobId"
                  ],
                  "description": "Gets the resource representation for a job in a project.",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The job ID.",
                      "type": "string"
                    },
                    "region": {
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dataproc.projects.regions.jobs.get"
                },
                "submit": {
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true
                    },
                    "region": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "SubmitJobRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/regions/{region}/jobs:submit",
                  "path": "v1/projects/{projectId}/regions/{region}/jobs:submit",
                  "httpMethod": "POST",
                  "description": "Submits a job to a cluster.",
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "scopes": [
[...]
