{
  "revision": "20260813",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://databasecenter.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "canonicalName": "Database Center",
  "ownerDomain": "google.com",
  "version": "v1beta",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ResourceId": {
      "type": "object",
      "id": "ResourceId",
      "description": "ResourceId contains the identifier for a database resource, including the full resource name, resource type, and product.",
      "properties": {
        "product": {
          "$ref": "Product",
          "description": "The product of the resource, including the type, engine, and version."
        },
        "resourceType": {
          "description": "The type of the resource. sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance",
          "type": "string"
        },
        "fullResourceName": {
          "description": "The full resource name of the resource.",
          "type": "string"
        }
      }
    },
    "IssueCount": {
      "type": "object",
      "id": "IssueCount",
      "description": "Count of issues for a group of signals.",
      "properties": {
        "displayName": {
          "description": "Title of a signal group corresponding to the request.",
          "type": "string"
        },
        "issueCount": {
          "format": "int32",
          "description": "The count of the number of issues associated with those resources that are explicitly filtered in by the filters present in the request. A signal is an issue when its SignalStatus field is set to SIGNAL_STATUS_ISSUE.",
          "type": "integer"
        }
      }
    },
    "UpcomingMaintenance": {
      "id": "UpcomingMaintenance",
      "description": "Upcoming maintenance window for the database resource.",
      "properties": {
        "startTime": {
          "description": "Output only. Start time of the upcoming maintenance. Start time is always populated when an upcoming maintenance is scheduled.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. End time of the upcoming maintenance. This is only populated for an engine, if end time is public for the engine.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Dimension": {
      "type": "object",
      "id": "Dimension",
      "description": "Dimension used to aggregate the fleet.",
      "properties": {
        "labelSource": {
          "description": "Label source of the resource.",
          "type": "string"
        },
        "container": {
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project.",
          "type": "string"
        },
        "hasDenyMaintenanceSchedules": {
          "description": "Whether the resource has deny maintenance schedules.",
          "type": "boolean"
        },
        "edition": {
          "description": "The edition of the resource.",
          "enumDescriptions": [
            "Default, to make it consistent with instance edition enum.",
            "Represents the enterprise edition.",
            "Represents the enterprise plus edition.",
            "Represents the standard edition."
          ],
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ]
        },
        "resourceCategory": {
          "description": "The category of the resource.",
          "enumDescriptions": [
            "Unspecified.",
            "A resource that is an Instance.",
            "A resource that is a Cluster.",
            "A resource that is a Database.",
            "A resource that is a Dataset.",
            "A resource that is a Reservation."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_CATEGORY_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER",
            "DATABASE",
            "DATASET",
            "RESERVATION"
          ]
        },
        "managementType": {
          "description": "The management type of the resource.",
          "enumDescriptions": [
            "Unspecified.",
            "Google-managed resource.",
            "Self-managed resource."
          ],
          "type": "string",
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "MANAGEMENT_TYPE_GCP_MANAGED",
            "MANAGEMENT_TYPE_SELF_MANAGED"
          ]
        },
        "productVersion": {
          "description": "Version of the underlying database engine",
          "type": "string"
        },
        "tagSource": {
          "description": "Tag source of the resource.",
          "type": "string"
        },
        "location": {
          "description": "The location of the resources. It supports returning only regional locations in Google Cloud.",
          "type": "string"
        },
        "labelValue": {
          "description": "Label value of the resource.",
          "type": "string"
        },
        "hasMaintenanceSchedule": {
          "description": "Whether the resource has a maintenance schedule.",
          "type": "boolean"
        },
        "productEngine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "ENGINE_POSTGRES",
            "ENGINE_SQL_SERVER",
            "ENGINE_NATIVE",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORSTORE_FOR_VALKEY",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_OTHER"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Engine refers to underlying database binary running in an instance.",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Deprecated: Use ENGINE_MEMORYSTORE_FOR_VALKEY instead.",
            "Memorystore with Valkey dialect.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine.",
            "Firestore with MongoDB compatibility.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum."
          ]
        },
        "subResourceType": {
          "description": "Subtype of the resource specified at creation time.",
          "enumDescriptions": [
            "Unspecified.",
            "A resource acting as a primary.",
            "A resource acting as a secondary.",
            "A resource acting as a read-replica.",
            "A resource acting as an external primary.",
            "A resource acting as a read pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For the rest of the categories."
          ],
          "type": "string",
          "enum": [
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ]
        },
        "tagInherited": {
          "description": "Tag inheritance value of the resource.",
          "type": "boolean"
        },
        "productType": {
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "description": "Type to identify a product",
          "enumDescriptions": [
            "PRODUCT_TYPE_UNSPECIFIED means product type is not known or that the user didn't provide this field in the request.",
            "Cloud SQL product area in Google Cloud",
            "AlloyDB product area in Google Cloud",
            "Spanner product area in Google Cloud",
            "Bigtable product area in Google Cloud",
            "Memorystore product area in Google Cloud",
            "Firestore product area in Google Cloud",
            "Compute Engine self managed databases",
            "Oracle product area in Google Cloud",
            "BigQuery product area in Google Cloud",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ]
        },
        "labelKey": {
          "description": "Label key of the resource.",
          "type": "string"
        },
        "tagKey": {
          "description": "Tag key of the resource.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of resource defined according to the pattern: {Service Name}/{Type}. Ex: sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance spanner.googleapis.com/Instance",
          "type": "string"
        },
        "tagValue": {
          "description": "Tag value of the resource.",
          "type": "string"
        }
      }
    },
    "ResourceMaintenanceDenySchedule": {
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Optional. The start date of the deny maintenance period.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Optional. Deny period end date."
        },
        "time": {
          "description": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "ResourceMaintenanceDenySchedule",
      "description": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer."
    },
    "DeltaDetails": {
      "type": "object",
      "properties": {
        "increasedResources": {
          "description": "Details of resources that have increased.",
          "items": {
            "$ref": "ResourceDetails"
          },
          "type": "array"
        },
        "decreasedResources": {
          "description": "Details of resources that have decreased.",
          "type": "array",
          "items": {
            "$ref": "ResourceDetails"
          }
        }
      },
      "id": "DeltaDetails",
      "description": "Captures the details of items that have increased or decreased in some bucket when compared to some point in history. It is currently used to capture the delta of resources that have been added or removed in the fleet as well as to capture the resources that have a change in Issue/Signal status."
    },
    "Tag": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "source": {
          "description": "The source of the tag. According to https://cloud.google.com/resource-manager/docs/tags/tags-overview#tags_and_labels, tags can be created only at the project or organization level. Tags can be inherited from different project as well not just the current project where the database resource is present. Format: \"projects/{PROJECT_ID}\", \"projects/{PROJECT_NUMBER}\", \"organizations/{ORGANIZATION_ID}\"",
          "type": "string"
        },
        "value": {
          "description": "The value part of the tag.",
          "type": "string"
        },
        "inherited": {
          "description": "Indicates the inheritance status of a tag value attached to the given resource. If the tag value is inherited from one of the resource's ancestors, inherited will be true. If false, then the tag value is directly attached to the resource.",
          "type": "boolean"
        }
      },
      "id": "Tag",
      "description": "Tag is a key value pair attached to a resource."
    },
    "QueryIssuesResponse": {
      "properties": {
        "resourceIssues": {
          "description": "List of issues and resource details.",
          "items": {
            "$ref": "DatabaseResourceIssue"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "QueryIssuesResponse",
      "description": "QueryIssuesResponse is the response containing a list of issues.",
      "type": "object"
    },
    "ResourceDetails": {
      "id": "ResourceDetails",
      "description": "Capture the resource details for resources that are included in the delta counts.",
      "properties": {
        "container": {
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project.",
          "type": "string"
        },
        "product": {
          "$ref": "Product",
          "description": "Product type of the resource."
        },
        "fullResourceName": {
          "description": "Full resource name of the resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Product": {
      "id": "Product",
      "description": "Product specification for databasecenter resources.",
      "properties": {
        "version": {
          "description": "Optional. Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc. For Postgres, it could be \"14\", \"15\" etc.",
          "type": "string"
        },
        "minorVersion": {
          "description": "Optional. Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.35\", \"5.7.25\" etc. For PostgreSQL, it could be \"14.4\", \"15.5\" etc.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "description": "Optional. Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "PRODUCT_TYPE_UNSPECIFIED means product type is not known or that the user didn't provide this field in the request.",
            "Cloud SQL product area in Google Cloud",
            "AlloyDB product area in Google Cloud",
            "Spanner product area in Google Cloud",
            "Bigtable product area in Google Cloud",
            "Memorystore product area in Google Cloud",
            "Firestore product area in Google Cloud",
            "Compute Engine self managed databases",
            "Oracle product area in Google Cloud",
            "BigQuery product area in Google Cloud",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ]
        },
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "ENGINE_POSTGRES",
            "ENGINE_SQL_SERVER",
            "ENGINE_NATIVE",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORSTORE_FOR_VALKEY",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_OTHER"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Optional. The specific engine that the underlying database is running.",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Deprecated: Use ENGINE_MEMORYSTORE_FOR_VALKEY instead.",
            "Memorystore with Valkey dialect.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine.",
            "Firestore with MongoDB compatibility.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum."
          ]
        }
      },
      "type": "object"
    },
    "SignalFilter": {
      "type": "object",
      "id": "SignalFilter",
      "description": "A filter for Signals. If signal_type is left unset, all signals should be returned. For example, the following filter returns all issues. signal_filter: { signal_status: SIGNAL_STATUS_ISSUE; } Another example, the following filter returns issues of the given type: signal_filter: { type: SIGNAL_TYPE_NO_PROMOTABLE_REPLICA signal_status: ISSUE } If signal_status is left unset or set to SIGNAL_STATE_UNSPECIFIED, an error should be returned.",
      "properties": {
        "signalType": {
          "description": "Optional. Represents the type of the Signal for which the filter is for.",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Deletion Protection Disabled for the resource",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster has suspended resources.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "Replication delay.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Represents a database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
            "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ]
        },
        "signalStatus": {
          "description": "Optional. Represents the status of the Signal for which the filter is for.",
          "enumDescriptions": [
            "Unspecified.",
            "Signal is not applicable to the resource.",
            "Signal is not an issue.",
            "Signal is an issue.",
            "Signal is not enabled for the resource."
          ],
          "type": "string",
          "enum": [
            "SIGNAL_STATUS_UNSPECIFIED",
            "SIGNAL_STATUS_NOT_APPLICABLE",
            "SIGNAL_STATUS_OK",
            "SIGNAL_STATUS_ISSUE",
            "SIGNAL_STATUS_NOT_ENABLED"
          ]
        }
      }
    },
    "QueryIssuesRequest": {
      "properties": {
        "parent": {
          "description": "Required. Parent can be a project, a folder, or an organization. The list is limited to the one attached to resources within the `scope` that a user has access to. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `QueryIssues` call. Provide this to retrieve the subsequent page. All parameters except page size should match the parameters used in the call that provided the page token.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Supported fields are: 'product', `location`, `issue_severity`, 'tags', 'labels',",
          "type": "string"
        },
        "signalProductsFilters": {
          "items": {
            "$ref": "SignalProductsFilters"
          },
          "type": "array",
          "description": "Optional. Filters based on signal and product. The filter list will be ORed across pairs and ANDed within a signal and products pair."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If unspecified, at most 50 issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
        },
        "orderBy": {
          "description": "Optional. Following fields are sortable: SignalType Product Location IssueSeverity The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It only supports a single field at a time.",
          "type": "string"
        }
      },
      "id": "QueryIssuesRequest",
      "description": "QueryIssuesRequest is the request to get a list of issues.",
      "type": "object"
    },
    "ResourceMaintenanceSchedule": {
      "type": "object",
      "properties": {
        "day": {
          "description": "Optional. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "phase": {
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "PHASE_WEEK1",
            "PHASE_WEEK2",
            "PHASE_WEEK5",
            "PHASE_ANY"
          ],
          "description": "Optional. Phase of the maintenance window. This is to capture order of maintenance. For example, for Cloud SQL resources, this can be used to capture if the maintenance window is in Week1, Week2, Week5, etc. Non production resources are usually part of early phase. For more details, refer to Cloud SQL resources - https://cloud.google.com/sql/docs/mysql/maintenance",
          "enumDescriptions": [
            "Phase is unspecified.",
            "Week 1.",
            "Week 2.",
            "Week 5.",
            "Any phase."
          ]
        },
        "startTime": {
          "description": "Optional. Preferred time to start the maintenance operation on the specified day.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "ResourceMaintenanceSchedule",
      "description": "Maintenance window for the database resource. It specifies preferred time and day of the week and phase in some cases, when the maintenance can start."
    },
    "AggregateIssueStatsResponse": {
      "properties": {
        "issueGroupStats": {
          "items": {
            "$ref": "IssueGroupStats"
          },
          "type": "array",
          "description": "List of issue group stats where each group contains stats for resources having a particular combination of relevant issues."
        },
        "totalResourcesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total count of the resources filtered in based on the user given filter."
        },
        "totalResourceGroupsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total count of the resource filtered in based on the user given filter."
        },
        "unreachable": {
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AggregateIssueStatsResponse",
      "description": "The response message containing one of more group of relevant health issues for database resources.",
      "type": "object"
    },
    "AutomatedBackupPolicyInfo": {
      "type": "object",
      "properties": {
        "subResource": {
          "description": "Optional. Sub resource details associated with the signal.",
          "$ref": "SubResource"
        },
        "isEnabled": {
          "description": "Is automated policy enabled.",
          "type": "boolean"
        }
      },
      "id": "AutomatedBackupPolicyInfo",
      "description": "Automated backup policy signal info"
    },
    "AggregateIssueStatsRequest": {
      "type": "object",
      "properties": {
        "signalTypeGroups": {
          "items": {
            "$ref": "SignalTypeGroup"
          },
          "type": "array",
          "description": "Optional. Lists of signal types that are issues."
        },
        "filter": {
          "description": "Optional. The expression to filter resources. Supported fields are: `full_resource_name`, `resource_type`, `container`, `product.type`, `product.engine`, `product.version`, `location`, `labels`, `issues`, fields of availability_info, data_protection_info,'resource_name', etc. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"`",
          "type": "string"
        },
        "parent": {
          "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
          "type": "string"
        },
        "baselineDate": {
          "description": "Optional. The baseline date w.r.t. which the delta counts are calculated. If not set, delta counts are not included in the response and the response indicates the current state of the fleet.",
          "$ref": "Date"
        }
      },
      "id": "AggregateIssueStatsRequest",
      "description": "AggregateIssueStatsRequest represents the input to the AggregateIssueStats method."
    },
    "BackupDRConfig": {
      "type": "object",
      "properties": {
        "backupdrManaged": {
          "description": "Indicates if the resource is managed by BackupDR.",
          "type": "boolean"
        }
      },
      "id": "BackupDRConfig",
      "description": "BackupDRConfig to capture the backup and disaster recovery details of database resource."
    },
    "OutdatedMinorVersionInfo": {
      "type": "object",
      "id": "OutdatedMinorVersionInfo",
      "description": "Info associated with outdated minor version.",
      "properties": {
        "recommendedMinorVersion": {
          "description": "Recommended minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.35\", \"5.7.25\" etc. For PostgreSQL, it could be \"14.4\", \"15.5\" etc.",
          "type": "string"
        }
      }
    },
    "IssueGroupStats": {
      "id": "IssueGroupStats",
      "description": "IssueGroupStats refers to stats for a particulare combination of relevant health issues of database resources.",
      "properties": {
        "resourcesCount": {
          "description": "Total count of resources returned by the filter for which any of the specified issues are applicable.",
          "format": "int32",
          "type": "integer"
        },
        "resourceGroupsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total count of the groups of resources returned by the filter that also have one or more resources for which any of the specified issues are applicable."
        },
        "healthyResourceGroupsCount": {
          "type": "integer",
          "description": "The number of resource groups from the total groups as defined above that are healthy with respect to all of the specified issues.",
          "format": "int32"
        },
        "issueStats": {
          "items": {
            "$ref": "IssueStats"
          },
          "type": "array",
          "description": "List of issues stats containing count of resources having particular issue category."
        },
        "displayName": {
          "description": "Database resource level health card name. This will corresponds to one of the requested input group names.",
          "type": "string"
        },
        "healthyResourcesCount": {
          "description": "The number of resources from the total defined above in field total_resources_count that are healthy with respect to all of the specified issues.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AggregateFleetRow": {
      "type": "object",
      "id": "AggregateFleetRow",
      "description": "Individual row grouped by a particular dimension.",
      "properties": {
        "dimension": {
          "description": "Group by dimension.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Number of resource groups that have a particular dimension.",
          "format": "int32"
        },
        "deltaDetails": {
          "description": "Optional. Delta counts and details of resources which were added to/deleted from fleet.",
          "$ref": "DeltaDetails"
        },
        "resourcesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources that have a particular dimension."
        }
      }
    },
    "QueryMetrics": {
      "id": "QueryMetrics",
      "description": "QueryMetrics contains the metrics related to the query execution.",
      "properties": {
        "metricsWindow": {
          "type": "string",
          "enum": [
            "METRICS_WINDOW_UNSPECIFIED",
            "LAST_ONE_DAY",
            "LAST_ONE_WEEK",
            "LAST_TWO_WEEKS"
          ],
          "description": "The window over which the metrics are aggregated.",
          "enumDescriptions": [
            "Unspecified. Default value.",
            "Metrics are aggregated over the last 1 day.",
            "Metrics are aggregated over the last 7 days.",
            "Metrics are aggregated over the last 14 days."
          ]
        },
        "rowsProcessed": {
          "type": "string",
          "description": "The average number of rows processed by the query across all runs.",
          "format": "int64"
        },
        "totalCpuTime": {
          "description": "The total CPU time consumed by the query across all runs.",
          "format": "google-duration",
          "type": "string"
        },
        "executionCount": {
          "format": "int64",
          "description": "The number of times the query was executed.",
          "type": "string"
        },
        "avgCpuTime": {
          "description": "The average execution period of the query across all runs.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdditionalDetail": {
      "type": "object",
      "properties": {
        "maintenanceRecommendationInfo": {
          "description": "Maintenance recommendation information applies to signals with type SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES.",
          "$ref": "MaintenanceRecommendationInfo"
        },
        "signalSource": {
          "type": "string",
          "enum": [
            "SIGNAL_SOURCE_UNSPECIFIED",
            "SIGNAL_SOURCE_RESOURCE_METADATA",
            "SIGNAL_SOURCE_SECURITY_FINDINGS",
            "SIGNAL_SOURCE_RECOMMENDER",
            "SIGNAL_SOURCE_MODERN_OBSERVABILITY"
          ],
          "description": "Where the signal is coming from.",
          "enumDescriptions": [
            "Unspecified.",
            "Signal comes from resource metadata.",
            "Signal comes from SCC findings.",
            "Signal comes from recommender hub.",
            "Signal comes from modern observability platform."
          ]
        },
        "inefficientQueryInfo": {
          "$ref": "InefficientQueryInfo",
          "description": "Inefficient query information applies to signals with type SIGNAL_TYPE_INEFFICIENT_QUERY."
        },
        "outdatedMinorVersionInfo": {
          "$ref": "OutdatedMinorVersionInfo",
          "description": "Outdated minor version information applies to signals with type SIGNAL_TYPE_OUTDATED_MINOR_VERSION."
        },
        "resourceSuspensionInfo": {
          "$ref": "ResourceSuspensionInfo",
          "description": "Resource suspension information applies to signals with type SIGNAL_TYPE_RESOURCE_SUSPENDED."
        },
        "backupRunInfo": {
          "description": "Backup run information applies to signals with types SIGNAL_TYPE_LAST_BACKUP_FAILED and SIGNAL_TYPE_LAST_BACKUP_OLD.",
          "$ref": "BackupRunInfo"
        },
        "signalType": {
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
            "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "description": "Type of the signal.",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Deletion Protection Disabled for the resource",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster has suspended resources.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "Replication delay.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Represents a database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ]
        },
        "deletionProtectionInfo": {
          "$ref": "DeletionProtectionInfo",
          "description": "Deletion protection information applies to signals with type SIGNAL_TYPE_NO_DELETION_PROTECTION"
        },
        "automatedBackupPolicyInfo": {
          "description": "Automated backup policy information applies to signals with type SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY.",
          "$ref": "AutomatedBackupPolicyInfo"
        },
        "recommendationInfo": {
          "$ref": "RecommendationInfo",
          "description": "Recommendation information applies to recommendations."
        },
        "signalEventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Event time when signal was recorded by source service."
        },
        "shortBackupRetentionInfo": {
          "$ref": "RetentionSettingsInfo",
          "description": "Short backup retention information applies to signals with type SIGNAL_TYPE_SHORT_BACKUP_RETENTION."
        },
        "sccInfo": {
          "$ref": "SCCInfo",
          "description": "SCC information applies to SCC signals."
        }
      },
      "id": "AdditionalDetail",
      "description": "Details related to signal."
    },
    "Affiliation": {
      "type": "object",
      "id": "Affiliation",
      "description": "Affiliation information of a resource",
      "properties": {
        "lineages": {
          "type": "array",
          "items": {
            "$ref": "Lineage"
          },
          "description": "Optional. Multiple lineages can be created from a resource. For example, a resource can be replicated to multiple target resources. In this case, there will be multiple lineages for the resource, one for each target resource."
        },
        "resourceId": {
          "description": "Optional. resource id of affiliated resource",
          "type": "string"
        },
        "fullResourceName": {
          "description": "Optional. Full resource name",
          "type": "string"
        }
      }
    },
    "MachineConfig": {
      "type": "object",
      "id": "MachineConfig",
      "description": "MachineConfig describes the configuration of a machine specific to a Database Resource.",
      "properties": {
        "vcpuCount": {
          "description": "Optional. The number of vCPUs (if applicable).",
          "format": "double",
          "type": "number"
        },
        "shardCount": {
          "format": "int32",
          "description": "Optional. The number of Shards (if applicable).",
          "type": "integer"
        },
        "maxReservationSlotCount": {
          "type": "string",
          "description": "Optional. Max slots for BigQuery Reservations. Max slots are in increments of 50.",
          "format": "int64"
        },
        "memorySizeBytes": {
          "type": "string",
          "description": "Memory size in bytes.",
          "format": "int64"
        },
        "baselineSlotCount": {
          "description": "Optional. Baseline slots for BigQuery Reservations. Baseline slots are in increments of 50.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "InefficientQueryInfo": {
      "type": "object",
      "properties": {
        "storageCostBytes": {
          "description": "Cost of additional disk usage in bytes",
          "format": "int64",
          "type": "string"
        },
        "impactedQueriesCount": {
          "description": "Count of queries to be impacted if index is applied",
          "format": "int64",
          "type": "string"
        },
        "table": {
          "description": "Name of the table where index is required",
          "type": "string"
        },
        "sqlIndexStatement": {
          "description": "SQL statement of the index. Based on the ddl type, this will be either CREATE INDEX or DROP INDEX.",
          "type": "string"
        },
        "database": {
          "description": "Name of the database where index is required. For example, \"db1\", which is the name of the database present in the instance.",
          "type": "string"
        }
      },
      "id": "InefficientQueryInfo",
      "description": "Metadata about inefficient query signal info for a database resource."
    },
    "QueryStatsInfo": {
      "id": "QueryStatsInfo",
      "description": "QueryStatsInfo contains the aggregated and detailed query stats for a particular combination of relevant query stats for queries having same normalized query.",
      "properties": {
        "aggregatedQueryStats": {
          "$ref": "QueryStats",
          "description": "Aggregated query stats for the resources for same normalized query."
        },
        "queryStats": {
          "description": "List of query stats for the resources in the group. This stats is stats at resource level for the resources having same normalized query.",
          "type": "array",
          "items": {
            "$ref": "QueryStats"
          }
        }
      },
      "type": "object"
    },
    "ResourceSuspensionInfo": {
      "type": "object",
      "id": "ResourceSuspensionInfo",
      "description": "Resource suspension info for a database resource.",
      "properties": {
        "resourceSuspended": {
          "description": "Is resource suspended.",
          "type": "boolean"
        },
        "suspensionReason": {
          "type": "string",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "description": "Suspension reason for the resource.",
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ]
        }
      }
    },
    "QueryDatabaseResourceGroupsRequest": {
      "id": "QueryDatabaseResourceGroupsRequest",
      "description": "QueryDatabaseResourceGroupsRequest is the request to get a list of database groups.",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Optional. If unspecified, at most 50 resource groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "format": "int32"
        },
        "signalProductsFilters": {
          "items": {
            "$ref": "SignalProductsFilters"
          },
          "type": "array",
          "description": "Optional. Filters based on signal and product. The filter list will be ORed across pairs and ANDed within a signal and products pair."
        },
        "orderBy": {
          "description": "Optional. A field that specifies the sort order of the results. The following fields are sortable: * full_resource_name * product.type * product.engine * product.version * container * issue_count * machine_config.vcpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * issue_severity * signal_type * location * resource_type * instance_type * edition * metrics.p99_cpu_utilization * metrics.p95_cpu_utilization * metrics.current_storage_used_bytes * metrics.node_count * metrics.processing_unit_count * metrics.current_memory_used_bytes * metrics.peak_storage_utilization * metrics.peak_number_connections * metrics.peak_memory_utilization The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It only supports a single field at a time. For example: `order_by = \"full_resource_name\"` sorts response in ascending order `order_by = \"full_resource_name DESC\"` sorts response in descending order `order_by = \"issue_count DESC\"` sorts response in descending order of count of all issues associated with a resource. More explicitly, `order_by = \"full_resource_name, product\"` is not supported.",
          "type": "string"
        },
        "signalFilters": {
          "type": "array",
          "items": {
            "$ref": "SignalFilter"
          },
          "description": "Optional. Filters based on signals. The list will be ORed together and then ANDed with the `filters` field above."
        },
        "parent": {
          "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `QueryDatabaseResourceGroupsRequest` call. Provide this to retrieve the subsequent page. All parameters except page_token should match the parameters in the call that provided the page page token.",
          "type": "string"
        },
        "signalTypeGroups": {
          "description": "Optional. Groups of signal types that are requested.",
          "items": {
            "$ref": "SignalTypeGroup"
          },
          "type": "array"
        },
        "filter": {
          "description": "Optional. The expression to filter resources. The following fields are filterable: * full_resource_name * resource_type * container * product.type * product.engine * product.version * location * labels * resource_category * machine_config.cpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * tags * backupdr_config.backupdr_managed * edition The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"` Example: `full_resource_name=~\"test\"` Example: `full_resource_name=~\"test.*master\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaintenanceRecommendationInfo": {
      "type": "object",
      "properties": {
        "resourceMaintenanceSchedules": {
          "type": "array",
          "items": {
            "$ref": "ResourceMaintenanceSchedule"
          },
          "description": "Optional. List of recommended maintenance schedules for the database resource."
        }
      },
      "id": "MaintenanceRecommendationInfo",
      "description": "Info associated with maintenance recommendation."
    },
    "MetricData": {
      "type": "object",
      "properties": {
        "observationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the metric was observed in the metric source service."
        },
        "value": {
          "description": "The value associated with the metric.",
          "$ref": "TypedValue"
        }
      },
      "id": "MetricData",
      "description": "MetricData represents the metric data for a database resource."
    },
    "AggregateQueryStatsRequest": {
      "type": "object",
      "id": "AggregateQueryStatsRequest",
      "description": "AggregateQueryStatsRequest represents the input to the AggregateQueryStats method.",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `AggregateQueryStatsRequest` call. Provide this to retrieve the subsequent page. All parameters except page_token should match the parameters in the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If unspecified, at most 100 query stats will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
        },
        "filter": {
          "description": "Optional. The expression to filter resources. Supported fields are: `full_resource_name`, `resource_type`, `container`, `product.type`, `product.engine`, `product.version`, `location`, `labels`, `issues`, fields of availability_info, data_protection_info,'resource_name', etc. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"` Additional specific fields for query stats are: `metric_window`, `query_hash`, `normalized_query`. Example: `metric_window=\"LAST_ONE_DAY\"` (Possible values for `metric_window` are: `LAST_ONE_DAY`, `LAST_ONE_WEEK`, `LAST_TWO_WEEKS`) Example: `query_hash=\"12345678\"` Example: `normalized_query=\"SELECT * FROM table\"`",
          "type": "string"
        },
        "orderBy": {
          "description": "Optional. The expression to order the results by. Example: `order_by=\"execution_count\"` Example: `order_by=\"execution_count desc\"` Supported order by fields are `execution_count`, `rows_processed`, `total_cpu_time`, `avg_cpu_time`.",
          "type": "string"
        }
      }
    },
    "AggregateQueryStatsResponse": {
      "id": "AggregateQueryStatsResponse",
      "description": "The response message containing relevant query stats for database resources.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "queryStats": {
          "type": "array",
          "items": {
            "$ref": "QueryStatsInfo"
          },
          "description": "List of query stats where each group contains stats for resources having a particular combination of relevant query stats."
        }
      },
      "type": "object"
    },
    "QueryStats": {
      "type": "object",
      "id": "QueryStats",
      "description": "QueryStats contains the stats for a particular combination of query_hash, query_string and resource_type.",
      "properties": {
        "normalizedQuery": {
          "description": "The query string is normalized query without any PII data.",
          "type": "string"
        },
        "queryHash": {
          "description": "The query hash of the query.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of the resource. sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance",
          "type": "string"
        },
        "inefficientQueryInfo": {
          "description": "Information about inefficient query.",
          "$ref": "InefficientQueryInfo"
        },
        "resourceIds": {
          "items": {
            "$ref": "ResourceId"
          },
          "type": "array",
          "description": "The resource ids for which the query stats are collected."
        },
        "queryMetrics": {
          "$ref": "QueryMetrics",
          "description": "Metrics related to the query performance."
        }
      }
    },
    "SCCInfo": {
      "type": "object",
      "id": "SCCInfo",
      "description": "Info associated with SCC signals.",
      "properties": {
        "regulatoryStandards": {
          "description": "Compliances that are associated with the signal.",
          "items": {
            "$ref": "RegulatoryStandard"
          },
          "type": "array"
        },
        "category": {
          "description": "Name by which SCC calls this signal.",
          "type": "string"
        },
        "signal": {
          "description": "Name of the signal.",
          "type": "string"
        },
        "externalUri": {
          "description": "External URI which points to a SCC page associated with the signal.",
          "type": "string"
        }
      }
    },
    "QueryProductsResponse": {
      "type": "object",
      "id": "QueryProductsResponse",
      "description": "QueryProductsResponse represents the response containing a list of products.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages",
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "List of database products returned."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved."
        }
      }
    },
    "SignalTypeGroup": {
      "type": "object",
      "id": "SignalTypeGroup",
      "description": "A group of signal types that specifies what the user is interested in. Used by QueryDatabaseResourceGroups API. Example: signal_type_group { name = \"AVAILABILITY\" types = [SIGNAL_TYPE_NO_PROMOTABLE_REPLICA] }",
      "properties": {
        "displayName": {
          "description": "Required. The display name of a signal group.",
          "type": "string"
        },
        "signalTypes": {
          "description": "Optional. List of signal types present in the group.",
          "items": {
            "type": "string",
            "enum": [
              "SIGNAL_TYPE_UNSPECIFIED",
              "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
              "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
              "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
              "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
              "SIGNAL_TYPE_LAST_BACKUP_FAILED",
              "SIGNAL_TYPE_LAST_BACKUP_OLD",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
              "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
              "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
              "SIGNAL_TYPE_VIOLATES_ISO_27001",
              "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
              "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
              "SIGNAL_TYPE_VIOLATES_HIPAA",
              "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
              "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
              "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
              "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
              "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
              "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_STATS_LOGGED",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
              "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
              "SIGNAL_TYPE_LOGGING_QUERY_STATS",
              "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
              "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
              "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
              "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
              "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
              "SIGNAL_TYPE_NO_ROOT_PASSWORD",
              "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
              "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
              "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
              "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
              "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
              "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
              "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
              "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
              "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
              "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
              "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
              "SIGNAL_TYPE_IDLE",
              "SIGNAL_TYPE_OVERPROVISIONED",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
              "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
              "SIGNAL_TYPE_UNDERPROVISIONED",
              "SIGNAL_TYPE_OUT_OF_DISK",
              "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
              "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
              "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
              "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
              "SIGNAL_TYPE_QUOTA_LIMIT",
              "SIGNAL_TYPE_NO_PASSWORD_POLICY",
              "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
              "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
              "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
              "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
              "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
              "SIGNAL_TYPE_HOT_NODE",
              "SIGNAL_TYPE_NO_DELETION_PROTECTION",
              "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
              "SIGNAL_TYPE_RESOURCE_SUSPENDED",
              "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
              "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
              "SIGNAL_TYPE_INEFFICIENT_QUERY",
              "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
              "SIGNAL_TYPE_MEMORY_LIMIT",
              "SIGNAL_TYPE_MAX_SERVER_MEMORY",
              "SIGNAL_TYPE_LARGE_ROWS",
              "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
              "SIGNAL_TYPE_HIGH_READ_PRESSURE",
              "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
              "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
              "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
              "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
              "SIGNAL_TYPE_REPLICATION_LAG",
              "SIGNAL_TYPE_OUTDATED_CLIENT",
              "SIGNAL_TYPE_DATABOOST_DISABLED",
              "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
              "SIGNAL_TYPE_EXTENDED_SUPPORT",
              "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
              "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
              "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
              "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
              "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
              "Represents if a resource has an automated backup policy.",
              "Represents if a resources has a short backup retention period.",
              "Represents if the last backup of a resource failed.",
              "Represents if the last backup of a resource is older than some threshold value.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
              "Represents if a resource violates CIS Controls 8.0.",
              "Represents if a resource violates NIST 800-53.",
              "Represents if a resource violates NIST 800-53 R5.",
              "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
              "Represents if a resource violates ISO-27001.",
              "Represents if a resource violates ISO 27001 2022.",
              "Represents if a resource violates PCI-DSS v3.2.1.",
              "Represents if a resource violates PCI-DSS v4.0.",
              "Represents if a resource violates Cloud Controls Matrix v4.0.",
              "Represents if a resource violates HIPAA.",
              "Represents if a resource violates SOC2 v2017.",
              "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
              "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
              "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
              "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
              "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
              "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
              "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
              "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
              "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
              "Represents if a resource is exposed to public access.",
              "Represents if a resources requires all incoming connections to use SSL or not.",
              "Represents if a Cloud SQL database has a password configured for the root account or not.",
              "Represents if a Cloud SQL database has a weak password configured for the root account.",
              "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
              "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
              "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
              "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
              "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
              "Represents if public IP is enabled.",
              "Represents idle instance helps to reduce costs.",
              "Represents instances that are unnecessarily large for given workload.",
              "Represents high number of concurrently opened tables.",
              "Represents high table count close to SLA limit.",
              "Represents high number of unvacuumed transactions",
              "Represents need for more CPU and/or memory",
              "Represents out of disk.",
              "Represents server certificate is near expiry.",
              "Represents database auditing is disabled.",
              "Represents not restricted to authorized networks.",
              "Represents violate org policy restrict public ip.",
              "Cluster nearing quota limit",
              "No password policy set on resources",
              "Performance impact of connections settings",
              "Performance impact of temporary tables settings",
              "Performance impact of transaction logs settings",
              "Performance impact of high joins without indexes",
              "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
              "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
              "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
              "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
              "Detects if a database instance is using a weak password hash algorithm.",
              "Detects if a database instance has no user password policy set.",
              "Detects if a database instance/cluster has a hot node.",
              "Deletion Protection Disabled for the resource",
              "Detects if a database instance has no point in time recovery enabled.",
              "Detects if a database instance/cluster has suspended resources.",
              "Detects that expensive commands are being run on a database instance impacting overall performance.",
              "Indicates that the instance does not have a maintenance policy configured.",
              "Indicates that the instance has inefficient queries detected.",
              "Indicates that the instance has read intensive workload.",
              "Indicates that the instance is nearing memory limit.",
              "Indicates that the instance's max server memory is configured higher than the recommended value.",
              "Indicates that the database has large rows beyond the recommended limit.",
[...]
