{
  "kind": "discovery#restDescription",
  "baseUrl": "https://dataform.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "ownerName": "Google",
  "schemas": {
    "SearchFilesResponse": {
      "description": "Client-facing representation of a file search response.",
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "SearchResult"
          },
          "description": "List of matched results.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "SearchFilesResponse",
      "type": "object"
    },
    "QueryTeamFolderContentsResponse": {
      "id": "QueryTeamFolderContentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          },
          "description": "List of entries in the TeamFolder."
        }
      },
      "description": "`QueryTeamFolderContents` response message."
    },
    "ListWorkflowInvocationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workflowInvocations": {
          "type": "array",
          "description": "List of workflow invocations.",
          "items": {
            "$ref": "WorkflowInvocation"
          }
        }
      },
      "description": "`ListWorkflowInvocations` response message.",
      "id": "ListWorkflowInvocationsResponse",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ActionSimpleLoadMode": {
      "type": "object",
      "id": "ActionSimpleLoadMode",
      "properties": {},
      "description": "Simple load definition"
    },
    "DeleteFile": {
      "id": "DeleteFile",
      "properties": {},
      "type": "object",
      "description": "Represents the delete file operation."
    },
    "NotebookRuntimeOptions": {
      "type": "object",
      "description": "Configures various aspects of Dataform notebook runtime.",
      "id": "NotebookRuntimeOptions",
      "properties": {
        "aiPlatformNotebookRuntimeTemplate": {
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications.",
          "type": "string"
        },
        "gcsRepositorySnapshotDestination": {
          "description": "Optional. The Google Cloud Storage destination to upload the snapshot to. For empty URI it defaults to the provided gcs_output_bucket. Format: `gs://bucket-name/path/`.",
          "$ref": "GcsRepositorySnapshotDestination"
        },
        "gcsOutputBucket": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`."
        }
      }
    },
    "QueryWorkflowInvocationActionsResponse": {
      "type": "object",
      "description": "`QueryWorkflowInvocationActions` response message.",
      "id": "QueryWorkflowInvocationActionsResponse",
      "properties": {
        "workflowInvocationActions": {
          "type": "array",
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "description": "List of workflow invocation actions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "RemoveFileRequest": {
      "description": "`RemoveFile` request message.",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RemoveFileRequest"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "CodeCompilationConfig": {
      "properties": {
        "vars": {
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultNotebookRuntimeOptions": {
          "$ref": "NotebookRuntimeOptions",
          "description": "Optional. The default notebook runtime options."
        },
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository."
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultLocation": {
          "type": "string",
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations."
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        }
      },
      "id": "CodeCompilationConfig",
      "description": "Configures various aspects of Dataform code compilation.",
      "type": "object"
    },
    "DataPreparationAction": {
      "id": "DataPreparationAction",
      "type": "object",
      "properties": {
        "generatedSql": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only."
        },
        "contentsSql": {
          "$ref": "ActionSqlDefinition",
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
        },
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        },
        "contentsYaml": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
        }
      },
      "description": "Represents a workflow action that will run a Data Preparation."
    },
    "DataEncryptionState": {
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Required. The KMS key version name with which data of a resource is encrypted."
        }
      },
      "type": "object",
      "description": "Describes encryption state of a resource.",
      "id": "DataEncryptionState"
    },
    "Relation": {
      "description": "Represents a database relation.",
      "properties": {
        "clusterExpressions": {
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "partitionExpirationDays": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the partition expiration in days."
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        },
        "storageUri": {
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`.",
          "type": "string"
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "fileFormat": {
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "description": "Optional. The file format for the BigQuery table."
        },
        "additionalOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported."
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "relationType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "description": "The type of this relation.",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "type": "string"
        },
        "preOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before creating the relation.",
          "type": "array"
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        },
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "tableFormat": {
          "type": "string",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "description": "Optional. The table format for the BigQuery table."
        }
      },
      "type": "object",
      "id": "Relation"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "MoveFileResponse": {
      "type": "object",
      "properties": {},
      "description": "`MoveFile` response message.",
      "id": "MoveFileResponse"
    },
    "RemoveDirectoryResponse": {
      "type": "object",
      "properties": {},
      "description": "`RemoveDirectory` response message.",
      "id": "RemoveDirectoryResponse"
    },
    "PushGitCommitsRequest": {
      "description": "`PushGitCommits` request message.",
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PushGitCommitsRequest"
    },
    "QueryDirectoryContentsResponse": {
      "description": "`QueryDirectoryContents` response message.",
      "type": "object",
      "id": "QueryDirectoryContentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array"
        }
      }
    },
    "LoadConfig": {
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "SimpleLoadMode"
        },
        "unique": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "IncrementalLoadMode"
        }
      },
      "type": "object",
      "description": "Simplified load configuration for actions",
      "id": "LoadConfig"
    },
    "MoveRepositoryRequest": {
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "description": "`MoveRepository` request message.",
      "id": "MoveRepositoryRequest"
    },
    "TeamFolderSearchResult": {
      "type": "object",
      "id": "TeamFolderSearchResult",
      "properties": {
        "teamFolder": {
          "description": "A TeamFolder resource that is in the project / location.",
          "$ref": "TeamFolder"
        }
      },
      "description": "Represents a single content entry."
    },
    "UncommittedFileChange": {
      "id": "UncommittedFileChange",
      "properties": {
        "path": {
          "description": "The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "description": "Output only. Indicates the status of the file.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "readOnly": true
        }
      },
      "description": "Represents the Git state of a file with uncommitted changes.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "WriteFile": {
      "type": "object",
      "description": "Represents the write file operation (for files added or modified).",
      "properties": {
        "contents": {
          "type": "string",
          "description": "The file's contents.",
          "format": "byte"
        }
      },
      "id": "WriteFile"
    },
    "Notebook": {
      "type": "object",
      "properties": {
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "contents": {
          "type": "string",
          "description": "The contents of the notebook."
        }
      },
      "description": "Represents a notebook.",
      "id": "Notebook"
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        },
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "List of repositories."
        }
      },
      "description": "`ListRepositories` response message."
    },
    "IamPolicyOverrideView": {
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Whether the IAM policy encoded in this view is active."
        },
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        }
      },
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "id": "IamPolicyOverrideView",
      "type": "object"
    },
    "ListCompilationResultsResponse": {
      "id": "ListCompilationResultsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "compilationResults": {
          "type": "array",
          "items": {
            "$ref": "CompilationResult"
          },
          "description": "List of compilation results."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`ListCompilationResults` response message."
    },
    "ListWorkflowConfigsResponse": {
      "description": "`ListWorkflowConfigs` response message.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workflowConfigs": {
          "description": "List of workflow configs.",
          "items": {
            "$ref": "WorkflowConfig"
          },
          "type": "array"
        }
      },
      "id": "ListWorkflowConfigsResponse"
    },
    "SshAuthenticationConfig": {
      "type": "object",
      "id": "SshAuthenticationConfig",
      "properties": {
        "userPrivateKeySecretVersion": {
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "hostPublicKey": {
          "type": "string",
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host."
        }
      },
      "description": "Configures fields for performing SSH authentication."
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "properties": {
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "relationDescriptor": {
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true.",
          "$ref": "RelationDescriptor"
        },
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        }
      },
      "id": "Operations",
      "type": "object"
    },
    "Assertion": {
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        }
      },
      "type": "object",
      "id": "Assertion"
    },
    "CommitLogEntry": {
      "id": "CommitLogEntry",
      "description": "Represents a single commit log.",
      "properties": {
        "commitSha": {
          "type": "string",
          "description": "The commit SHA for this commit log entry."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "The commit author for this commit log entry."
        },
        "commitMessage": {
          "description": "The commit message for this commit log entry.",
          "type": "string"
        },
        "commitTime": {
          "type": "string",
          "description": "Commit timestamp.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "QueryCompilationResultActionsResponse": {
      "description": "`QueryCompilationResultActions` response message.",
      "properties": {
        "compilationResultActions": {
          "type": "array",
          "description": "List of compilation result actions.",
          "items": {
            "$ref": "CompilationResultAction"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryCompilationResultActionsResponse",
      "type": "object"
    },
    "NotebookAction": {
      "id": "NotebookAction",
      "properties": {
        "jobId": {
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run.",
          "type": "string",
          "readOnly": true
        },
        "contents": {
          "description": "Output only. The code contents of a Notebook to be run.",
          "type": "string",
          "readOnly": true
        },
        "filePath": {
          "description": "Output only. The path to the notebook file in the repository.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a workflow action that will run against a Notebook runtime."
    },
    "TeamFolder": {
      "type": "object",
      "id": "TeamFolder",
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "properties": {
        "name": {
          "description": "Identifier. The TeamFolder's name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the TeamFolder was last updated."
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. The TeamFolder's user-friendly name."
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "type": "string"
        }
      }
    },
    "RootContentsEntry": {
      "id": "RootContentsEntry",
      "type": "object",
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        }
      },
      "description": "Represents a single content entry."
    },
    "DataPreparation": {
      "properties": {
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        }
      },
      "type": "object",
      "id": "DataPreparation",
      "description": "Defines a compiled Data Preparation entity"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      }
    },
    "FilesystemEntryMetadata": {
      "description": "Represents metadata for a single entry in a filesystem.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Represents the time of the last modification of the entry.",
          "readOnly": true,
          "type": "string"
        },
        "sizeBytes": {
          "readOnly": true,
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FilesystemEntryMetadata"
    },
    "MakeDirectoryResponse": {
      "description": "`MakeDirectory` response message.",
      "type": "object",
      "properties": {},
      "id": "MakeDirectoryResponse"
    },
    "CompilationResult": {
      "description": "Represents the result of compiling a Dataform project.",
      "properties": {
        "resolvedGitCommitSha": {
          "type": "string",
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "readOnly": true
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "readOnly": true,
          "$ref": "PrivateResourceMetadata"
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "gcsRepositorySnapshotMetadata": {
          "readOnly": true,
          "$ref": "GcsRepositorySnapshotMetadata",
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the compilation result was created."
        },
        "releaseConfig": {
          "type": "string",
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "name": {
          "description": "Output only. The compilation result's name.",
          "readOnly": true,
          "type": "string"
        },
        "dataformCoreVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of `@dataform/core` that was used for compilation."
        },
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "compilationErrors": {
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          },
          "readOnly": true,
          "description": "Output only. Errors encountered during project compilation."
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "$ref": "DataEncryptionState",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CompilationResult"
    },
    "InstallNpmPackagesResponse": {
      "description": "`InstallNpmPackages` response message.",
      "id": "InstallNpmPackagesResponse",
      "properties": {},
      "type": "object"
    },
    "FileOperation": {
      "id": "FileOperation",
      "description": "Represents a single file operation to the repository.",
      "properties": {
        "deleteFile": {
          "description": "Represents the delete operation.",
          "$ref": "DeleteFile"
        },
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        }
      },
      "type": "object"
    },
    "PullGitCommitsResponse": {
      "description": "`PullGitCommits` response message.",
      "properties": {},
      "type": "object",
      "id": "PullGitCommitsResponse"
    },
    "FetchGitAheadBehindResponse": {
      "type": "object",
      "id": "FetchGitAheadBehindResponse",
      "properties": {
        "commitsAhead": {
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "type": "integer",
          "format": "int32"
        },
        "commitsBehind": {
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "`FetchGitAheadBehind` response message."
    },
    "PolicyName": {
      "type": "object",
      "id": "PolicyName",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment."
        },
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        },
        "type": {
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc.",
          "type": "string"
        }
      },
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names."
    },
    "EndUserAuthConfig": {
      "description": "Includes configuration options for repository end user authentication.",
      "id": "EndUserAuthConfig",
      "type": "object",
      "properties": {
        "oauthConfig": {
          "description": "Optional. OAuth configuration for repository end user authentication.",
          "$ref": "OAuthConfig"
        }
      }
    },
    "ActionIncrementalLoadMode": {
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ActionIncrementalLoadMode",
      "description": "Load definition for incremental load modes"
    },
    "ScheduledExecutionRecord": {
      "type": "object",
      "id": "ScheduledExecutionRecord",
      "properties": {
        "executionTime": {
          "type": "string",
          "description": "Output only. The timestamp of this execution attempt.",
          "format": "google-datetime",
          "readOnly": true
        },
        "workflowInvocation": {
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`.",
          "type": "string"
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        }
      },
      "description": "A record of an attempt to create a workflow invocation for this workflow config."
    },
    "MoveFolderRequest": {
      "description": "`MoveFolder` request message.",
      "id": "MoveFolderRequest",
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      }
    },
    "QueryUserRootContentsResponse": {
      "type": "object",
      "description": "`QueryUserRootContents` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "description": "List of entries in the folder.",
          "type": "array",
          "items": {
            "$ref": "RootContentsEntry"
          }
        }
      },
      "id": "QueryUserRootContentsResponse"
    },
    "CommitRepositoryChangesRequest": {
      "description": "`CommitRepositoryChanges` request message.",
      "type": "object",
      "properties": {
        "requiredHeadCommitSha": {
          "type": "string",
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed."
        },
        "fileOperations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root."
        },
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        }
      },
      "id": "CommitRepositoryChangesRequest"
    },
    "WriteFileResponse": {
      "id": "WriteFileResponse",
      "type": "object",
      "properties": {},
      "description": "`WriteFile` response message."
    },
    "Config": {
      "properties": {
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        }
      },
      "id": "Config",
      "description": "Config for all repositories in a given project and location.",
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "id": "MoveDirectoryRequest",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      },
      "description": "`MoveDirectory` request message."
    },
    "CommitWorkspaceChangesRequest": {
      "type": "object",
      "id": "CommitWorkspaceChangesRequest",
      "description": "`CommitWorkspaceChanges` request message.",
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GcsRepositorySnapshotDestination": {
      "id": "GcsRepositorySnapshotDestination",
      "properties": {
        "repositorySnapshotUri": {
          "description": "Optional. The Google Cloud Storage destination to upload the repository snapshot to. Format: `gs://bucket-name/path/`.",
          "type": "string"
        }
      },
      "description": "Configures the destination for a repository snapshot.",
      "type": "object"
    },
    "WorkflowInvocation": {
      "description": "Represents a single invocation of a compilation result.",
      "type": "object",
      "properties": {
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This workflow invocation's timing details.",
          "$ref": "Interval"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "description": "Output only. This workflow invocation's current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "type": "string"
        },
        "resolvedCompilationResult": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "readOnly": true
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true,
          "type": "string"
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped."
        }
      },
      "id": "WorkflowInvocation"
    },
    "CommitWorkspaceChangesResponse": {
      "properties": {},
      "description": "`CommitWorkspaceChanges` response message.",
      "type": "object",
      "id": "CommitWorkspaceChangesResponse"
    },
    "Target": {
      "type": "object",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The action's name, within `database` and `schema`."
        },
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The action's database (Google Cloud project ID) .",
          "type": "string"
        }
      },
      "id": "Target"
    },
    "GcsRepositorySnapshotMetadata": {
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "id": "GcsRepositorySnapshotMetadata",
      "properties": {
        "repositorySnapshotUri": {
          "readOnly": true,
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "type": "string"
        },
        "generation": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number."
        },
        "crc32cChecksum": {
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BigQueryAction": {
      "description": "Represents a workflow action that will run against BigQuery.",
      "properties": {
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
        },
        "sqlScript": {
          "type": "string",
          "description": "Output only. The generated BigQuery SQL script that will be executed.",
          "readOnly": true
        }
      },
      "id": "BigQueryAction",
      "type": "object"
    },
    "ActionSqlDefinition": {
      "description": "Definition of a SQL Data Preparation",
      "type": "object",
      "properties": {
        "loadConfig": {
          "$ref": "ActionLoadConfig",
          "description": "Load configuration."
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "errorTable": {
          "$ref": "ActionErrorTable",
          "description": "Error table configuration,"
        }
      },
      "id": "ActionSqlDefinition"
    },
    "ErrorTable": {
      "description": "Error table information, used to write error data into a BigQuery table.",
      "properties": {
        "target": {
          "$ref": "Target",
          "description": "Error Table target."
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed."
        }
      },
      "type": "object",
      "id": "ErrorTable"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "id": "Location"
    },
    "ListWorkspacesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "description": "List of workspaces.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        }
      },
      "type": "object",
      "description": "`ListWorkspaces` response message.",
      "id": "ListWorkspacesResponse"
    },
    "FetchRemoteBranchesResponse": {
      "description": "`FetchRemoteBranches` response message.",
      "id": "FetchRemoteBranchesResponse",
      "type": "object",
      "properties": {
        "branches": {
          "description": "The remote repository's branch names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DirectorySearchResult": {
      "id": "DirectorySearchResult",
      "type": "object",
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      },
      "description": "Client-facing representation of a directory entry in search results."
    },
    "ResetWorkspaceChangesResponse": {
      "description": "`ResetWorkspaceChanges` response message.",
      "id": "ResetWorkspaceChangesResponse",
      "type": "object",
      "properties": {}
    },
    "QueryFolderContentsResponse": {
      "description": "`QueryFolderContents` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "type": "array",
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "FolderContentsEntry"
          }
        }
      },
      "type": "object",
      "id": "QueryFolderContentsResponse"
    },
    "PullGitCommitsRequest": {
      "id": "PullGitCommitsRequest",
      "type": "object",
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
        },
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      },
      "description": "`PullGitCommits` request message."
    },
    "ReadFileResponse": {
      "type": "object",
      "properties": {
        "fileContents": {
          "format": "byte",
          "type": "string",
          "description": "The file's contents."
        }
      },
      "id": "ReadFileResponse",
      "description": "`ReadFile` response message."
    },
    "FileSearchResult": {
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "FileSearchResult",
      "type": "object",
      "description": "Client-facing representation of a file entry in search results."
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "type": "object",
      "id": "QueryRepositoryDirectoryContentsResponse",
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "IncrementalLoadMode": {
      "type": "object",
      "id": "IncrementalLoadMode",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "description": "Load definition for incremental load modes"
    },
    "OAuthConfig": {
      "type": "object",
      "id": "OAuthConfig",
      "description": "OAuth configuration for end user authentication.",
      "properties": {
        "additionalOauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional OAuth scopes to use for BigQuery executions. Scopes always in use: `https://www.googleapis.com/auth/bigquery`"
        }
      }
    },
    "RemoveFileResponse": {
      "description": "`RemoveFile` response message.",
      "properties": {},
      "id": "RemoveFileResponse",
      "type": "object"
    },
    "DeleteFolderTreeRequest": {
      "id": "DeleteFolderTreeRequest",
      "description": "`DeleteFolderTree` request message.",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Folder": {
      "type": "object",
      "properties": {
        "containingFolder": {
          "type": "string",
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder."
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creatorIamPrincipal": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IAM principal identifier of the creator of the Folder."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of when the Folder was created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The Folder's user-friendly name."
        },
        "teamFolderName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder."
        }
      },
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "id": "Folder"
    },
    "FetchFileDiffResponse": {
      "description": "`FetchFileDiff` response message.",
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchFileDiffResponse"
    },
    "SearchTeamFoldersResponse": {
      "description": "`SearchTeamFolders` response message.",
      "id": "SearchTeamFoldersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "TeamFolderSearchResult"
          },
          "type": "array",
          "description": "List of TeamFolders that match the search query."
        }
      },
      "type": "object"
    },
    "SearchResult": {
      "id": "SearchResult",
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        }
      },
      "description": "Client-facing representation of a search result entry.",
      "type": "object"
    },
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "type": "object",
      "properties": {},
      "description": "Simple load definition"
    },
    "CompilationResultAction": {
      "description": "Represents a single Dataform action in a compilation result.",
      "properties": {
        "relation": {
          "description": "The database relation created/updated by this action.",
          "$ref": "Relation"
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "$ref": "Target",
          "description": "This action's identifier. Unique within the compilation result."
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "bigqueryUnitTest": {
          "description": "The unit test executed by this action.",
          "$ref": "BigQueryUnitTest"
        },
        "canonicalTarget": {
          "$ref": "Target",
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CompilationResultAction"
    },
    "WriteFileRequest": {
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "description": "Required. The file's contents.",
          "format": "byte"
        },
        "path": {
          "description": "Required. The file.",
          "type": "string"
        }
      },
      "description": "`WriteFile` request message.",
      "id": "WriteFileRequest"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "ActionErrorTable": {
      "description": "Error table information, used to write error data into a BigQuery table.",
      "properties": {
        "retentionDays": {
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer"
        },
        "target": {
          "$ref": "Target",
          "description": "Error Table target."
        }
      },
      "id": "ActionErrorTable",
      "type": "object"
    },
    "CancelWorkflowInvocationResponse": {
      "properties": {},
      "type": "object",
      "id": "CancelWorkflowInvocationResponse",
      "description": "`CancelWorkflowInvocation` response message."
    },
    "CommitMetadata": {
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      },
      "id": "CommitMetadata",
      "description": "Represents a Dataform Git commit.",
      "type": "object"
    },
    "InvocationConfig": {
      "id": "InvocationConfig",
      "type": "object",
      "properties": {
        "executionMode": {
          "description": "Optional. Specifies the execution mode for the workflow invocation.",
          "enum": [
            "EXECUTION_MODE_UNSPECIFIED",
            "DEFAULT",
            "ALL_EXCEPT_UNIT_TESTS",
            "UNIT_TESTS_ONLY"
          ],
          "enumDescriptions": [
            "Default value.",
            "Default execution mode, which runs all actions except unit tests. Same as ALL_EXCEPT_UNIT_TESTS.",
            "Run all actions except unit tests.",
            "Run unit tests only."
          ],
          "type": "string"
        },
        "includedTags": {
          "type": "array",
          "description": "Optional. The set of tags to include.",
          "items": {
            "type": "string"
          }
        },
        "queryPriority": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ],
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ],
          "type": "string"
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "type": "boolean",
          "description": "Optional. When set to true, any incremental tables will be fully refreshed."
        },
        "endUserAuthConfig": {
          "description": "Optional. Configuration for end user authentication. Note that this should not be set when `service_account` is used.",
          "$ref": "EndUserAuthenticationConfig"
        },
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "includedTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "Optional. The set of action identifiers to include."
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        }
      },
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included."
    },
    "ListReleaseConfigsResponse": {
      "description": "`ListReleaseConfigs` response message.",
      "id": "ListReleaseConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releaseConfigs": {
          "items": {
            "$ref": "ReleaseConfig"
          },
          "type": "array",
          "description": "List of release configs."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "id": "Interval",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "WorkflowInvocationAction": {
      "description": "Represents a single action in a workflow invocation.",
      "id": "WorkflowInvocationAction",
      "type": "object",
      "properties": {
        "canonicalTarget": {
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target",
          "readOnly": true
        },
        "bigqueryAction": {
          "readOnly": true,
          "description": "Output only. The workflow action's bigquery action details.",
          "$ref": "BigQueryAction"
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "$ref": "Interval"
        },
        "dataPreparationAction": {
          "description": "Output only. The workflow action's data preparation action details.",
          "readOnly": true,
          "$ref": "DataPreparationAction"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "notebookAction": {
          "readOnly": true,
          "$ref": "NotebookAction",
          "description": "Output only. The workflow action's notebook action details."
        },
        "bigqueryUnitTestAction": {
          "readOnly": true,
          "$ref": "BigQueryUnitTestAction",
          "description": "Output only. The workflow action's unit test details."
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "$ref": "Target",
          "readOnly": true
        },
        "failureReason": {
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. This action's current state.",
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "type": "string",
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ]
        }
      }
    },
    "CancelWorkflowInvocationRequest": {
      "id": "CancelWorkflowInvocationRequest",
      "type": "object",
      "properties": {},
      "description": "`CancelWorkflowInvocation` request message."
    },
    "ReleaseConfig": {
      "id": "ReleaseConfig",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "recentScheduledReleaseRecords": {
          "type": "array",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of compilation results.",
          "type": "boolean"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform release configuration."
    },
    "PrivateResourceMetadata": {
      "type": "object",
      "id": "PrivateResourceMetadata",
      "properties": {
        "userScoped": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace."
        }
      },
      "description": "Metadata used to identify if a resource is user scoped."
    },
    "FetchFileGitStatusesResponse": {
      "id": "FetchFileGitStatusesResponse",
      "description": "`FetchFileGitStatuses` response message.",
      "properties": {
        "uncommittedFileChanges": {
          "type": "array",
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "items": {
            "$ref": "UncommittedFileChange"
          }
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "BigQueryUnitTestAction": {
      "description": "Represents a workflow action that will run a BigQuery unit test.",
      "type": "object",
      "properties": {
        "actualResultsSqlScript": {
          "description": "Output only. SQL script for the actual results.",
          "readOnly": true,
          "type": "string"
        },
        "totalBilledBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total bytes billed for this action. Combined total for actual and expected jobs.",
          "format": "int64"
        },
        "expectedResultsJobId": {
          "description": "Output only. Job ID for the expected results.",
          "type": "string",
          "readOnly": true
        },
        "totalProcessedBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total bytes processed for this action. Combined total for actual and expected jobs."
        },
        "expectedResultsSqlScript": {
          "description": "Output only. SQL script for the expected results.",
          "readOnly": true,
          "type": "string"
        },
        "actualResultsJobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Job ID for the actual results."
        }
      },
      "id": "BigQueryUnitTestAction"
    },
    "CommitRepositoryChangesResponse": {
      "description": "`CommitRepositoryChanges` response message.",
      "type": "object",
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      },
      "id": "CommitRepositoryChangesResponse"
    },
    "Declaration": {
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "type": "object",
      "id": "Declaration"
    },
    "CommitAuthor": {
      "properties": {
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        }
      },
      "description": "Represents the author of a Git commit.",
      "id": "CommitAuthor",
      "type": "object"
    },
    "MakeDirectoryRequest": {
      "id": "MakeDirectoryRequest",
      "type": "object",
      "description": "`MakeDirectory` request message.",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "Repository": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Repository user labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`."
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "kmsKeyName": {
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`",
          "type": "string"
        },
        "endUserAuthConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Includes configuration options for end user authentication."
        },
        "name": {
          "description": "Identifier. The repository's name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the repository was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format."
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The repository's user-friendly name."
        },
        "setAuthenticatedUserAdmin": {
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository.",
          "type": "boolean"
        },
        "gitRemoteSettings": {
          "description": "Optional. If set, configures this repository to be linked to a Git remote.",
          "$ref": "GitRemoteSettings"
        },
        "teamFolderName": {
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder.",
          "readOnly": true
        },
        "workspaceCompilationOverrides": {
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information.",
          "$ref": "WorkspaceCompilationOverrides"
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        }
      },
      "id": "Repository",
      "description": "Represents a Dataform Git repository."
    },
    "GitRemoteSettings": {
      "description": "Controls Git remote configuration for a repository.",
[...]
