{
  "description": "Cloud Data Fusion is a fully-managed, cloud native, enterprise data integration service for quickly building and managing data pipelines. It provides a graphical interface to increase time efficiency and reduce complexity, and allows business users, developers, and data scientists to easily and reliably build scalable data integration solutions to cleanse, prepare, blend, transfer and transform data without having to wrestle with infrastructure.",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1beta1/{+name}/locations",
              "id": "datafusion.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/locations"
            },
            "removeIamPolicy": {
              "description": "Remove IAM policy that is currently set on the given resource.",
              "response": {
                "$ref": "RemoveIamPolicyResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource on which IAM policy to be removed is attached to."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/{locationsId1}:removeIamPolicy",
              "path": "v1beta1/{+resource}:removeIamPolicy",
              "request": {
                "$ref": "RemoveIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datafusion.projects.locations.removeIamPolicy"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datafusion.projects.locations.get",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "datafusion.projects.locations.operations.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "datafusion.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "datafusion.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1beta1/{+name}:cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datafusion.projects.locations.operations.get",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "versions": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve instance information in the format projects/{project}/locations/{location}.",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    },
                    "latestPatchOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Whether or not to return the latest patch of every available minor version. If true, only the latest patch will be returned. Ex. if allowed versions is [6.1.1, 6.1.2, 6.2.0] then response will be [6.1.2, 6.2.0]"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/versions",
                  "response": {
                    "$ref": "ListAvailableVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists possible versions for Data Fusion instances in the specified project and location.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/versions",
                  "id": "datafusion.projects.locations.versions.list"
                }
              }
            },
            "instances": {
              "resources": {
                "namespaces": {
                  "methods": {
                    "list": {
                      "path": "v1beta1/{+parent}/namespaces",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The instance to list its namespaces."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "NAMESPACE_VIEW_UNSPECIFIED",
                            "NAMESPACE_VIEW_BASIC",
                            "NAMESPACE_VIEW_FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "Default/unset value, which will use BASIC view.",
                            "Show the most basic metadata of a namespace",
                            "Returns all metadata of a namespace"
                          ],
                          "description": "By default, only basic information about a namespace is returned (e.g. name). When `NAMESPACE_VIEW_FULL` is specified, additional information associated with a namespace gets returned (e.g. IAM policy set on the namespace)"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "datafusion.projects.locations.instances.namespaces.list",
                      "response": {
                        "$ref": "ListNamespacesResponse"
                      },
                      "description": "List namespaces in a given instance",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/namespaces"
                    },
                    "getIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "datafusion.projects.locations.instances.namespaces.getIamPolicy",
                      "path": "v1beta1/{+resource}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/namespaces/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        },
                        "options.requestedPolicyVersion": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/namespaces/{namespacesId}:getIamPolicy"
                    },
                    "testIamPermissions": {
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/namespaces/{namespacesId}:testIamPermissions",
                      "httpMethod": "POST",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/namespaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+resource}:testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "id": "datafusion.projects.locations.instances.namespaces.testIamPermissions"
                    },
                    "setIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "path": "v1beta1/{+resource}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/namespaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "datafusion.projects.locations.instances.namespaces.setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/namespaces/{namespacesId}:setIamPolicy"
                    }
                  }
                },
                "dnsPeerings": {
                  "methods": {
                    "create": {
                      "description": "Creates DNS peering on the given resource.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/dnsPeerings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "DnsPeering"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/dnsPeerings",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "description": "Required. The resource on which DNS peering will be created."
                        },
                        "dnsPeeringId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The name of the peering to create."
                        }
                      },
                      "id": "datafusion.projects.locations.instances.dnsPeerings.create",
                      "response": {
                        "$ref": "DnsPeering"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes DNS peering on the given resource.",
                      "id": "datafusion.projects.locations.instances.dnsPeerings.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the DNS peering zone to delete. Format: projects/{project}/locations/{location}/instances/{instance}/dnsPeerings/{dns_peering}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/dnsPeerings/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/dnsPeerings/{dnsPeeringsId}"
                    },
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/dnsPeerings",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists DNS peerings for a given resource.",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListDnsPeerings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDnsPeerings` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of dns peerings to return. The service may return fewer than this value. If unspecified, at most 50 dns peerings will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The parent, which owns this collection of dns peerings. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "datafusion.projects.locations.instances.dnsPeerings.list",
                      "response": {
                        "$ref": "ListDnsPeeringsResponse"
                      },
                      "path": "v1beta1/{+parent}/dnsPeerings"
                    }
                  }
                }
              },
              "methods": {
                "setIamPolicy": {
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datafusion.projects.locations.instances.setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setIamPolicy",
                  "path": "v1beta1/{+resource}:setIamPolicy"
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "id": "datafusion.projects.locations.instances.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The instance's project and location in the format projects/{project}/locations/{location}."
                    },
                    "instanceId": {
                      "description": "Required. The name of the instance to create. Instance name can only contain lowercase alphanumeric characters and hyphens. It must start with a letter and must not end with a hyphen. It can have a maximum of 30 characters.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new Data Fusion instance in the specified project and location.",
                  "path": "v1beta1/{+parent}/instances"
                },
                "restart": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Restart a single Data Fusion instance. At the end of an operation instance is fully restarted.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:restart",
                  "httpMethod": "POST",
                  "id": "datafusion.projects.locations.instances.restart",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the Data Fusion instance which need to be restarted in the form of projects/{project}/locations/{location}/instances/{instance}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "id": "datafusion.projects.locations.instances.list",
                  "path": "v1beta1/{+parent}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "orderBy": {
                      "description": "Sort results. Supported values are \"name\", \"name desc\", or \"\" (unsorted).",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location for which to retrieve instance information in the format projects/{project}/locations/{location}. If the location is specified as '-' (wildcard), then all regions available to the project are queried, and the results are aggregated.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Data Fusion instances in the specified project and location.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "Required. The instance resource name in the format projects/{project}/locations/{location}/instances/{instance}",
                      "required": true,
                      "location": "path"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any nested resources from this instance will also be deleted.",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "id": "datafusion.projects.locations.instances.delete",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Data Fusion instance.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "upgrade": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:upgrade",
                  "description": "Upgrade a single Data Fusion instance. At the end of an operation instance is fully upgraded.",
                  "id": "datafusion.projects.locations.instances.upgrade",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the Data Fusion instance which need to be upgraded in the form of projects/{project}/locations/{location}/instances/{instance} Instance will be upgraded with the latest stable version of the Data Fusion.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "UpgradeInstanceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:upgrade",
                  "httpMethod": "POST"
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "id": "datafusion.projects.locations.instances.testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datafusion.projects.locations.instances.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta1/{+resource}:getIamPolicy"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Instance"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. The instance resource name in the format projects/{project}/locations/{location}/instances/{instance}.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single Data Fusion instance.",
                  "id": "datafusion.projects.locations.instances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}"
                },
                "patch": {
                  "id": "datafusion.projects.locations.instances.patch",
                  "description": "Updates a single Data Fusion instance.",
                  "request": {
                    "$ref": "Instance"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Output only. The name of this instance is in the form of projects/{project}/locations/{location}/instances/{instance}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Field mask is used to specify the fields that the update will overwrite in an instance resource. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask, all the supported fields (labels and options currently) will be overwritten."
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "version_module": true,
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/data-fusion/docs",
  "schemas": {
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object"
    },
    "NetworkConfig": {
      "properties": {
        "connectionType": {
          "enumDescriptions": [
            "No specific connection type was requested, the default value of VPC_PEERING is chosen.",
            "Requests the use of VPC peerings for connecting the consumer and tenant projects.",
            "Requests the use of Private Service Connect Interfaces for connecting the consumer and tenant projects."
          ],
          "type": "string",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "VPC_PEERING",
            "PRIVATE_SERVICE_CONNECT_INTERFACES"
          ],
          "description": "Optional. Type of connection for establishing private IP connectivity between the Data Fusion customer project VPC and the corresponding tenant project from a predefined list of available connection modes. If this field is unspecified for a private instance, VPC peering is used."
        },
        "privateServiceConnectConfig": {
          "$ref": "PrivateServiceConnectConfig",
          "description": "Optional. Configuration for Private Service Connect. This is required only when using connection type PRIVATE_SERVICE_CONNECT_INTERFACES."
        },
        "ipAllocation": {
          "description": "Optional. The IP range in CIDR notation to use for the managed Data Fusion instance nodes. This range must not overlap with any other ranges used in the Data Fusion instance network. This is required only when using connection type VPC_PEERING. Format: a.b.c.d/22 Example: 192.168.0.0/22",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. Name of the network in the customer project with which the Tenant Project will be peered for executing pipelines. In case of shared VPC where the network resides in another host project the network should specified in the form of projects/{host-project-id}/global/networks/{network}. This is only required for connectivity type VPC_PEERING."
        }
      },
      "description": "Network configuration for a Data Fusion instance. These configurations are used for peering with the customer network. Configurations are optional when a public Data Fusion instance is to be created. However, providing these configurations allows several benefits, such as reduced network latency while accessing the customer resources from managed Data Fusion instance nodes, as well as access to the customer on-prem resources.",
      "type": "object",
      "id": "NetworkConfig"
    },
    "LoggingConfig": {
      "id": "LoggingConfig",
      "type": "object",
      "description": "Logging configuration for a Data Fusion instance.",
      "properties": {
        "instanceCloudLoggingDisabled": {
          "description": "Optional. Option to determine whether instance logs should be written to Cloud Logging. By default, instance logs are written to Cloud Logging.",
          "type": "boolean"
        },
        "enableInstanceV2Logs": {
          "type": "boolean",
          "description": "Optional. Option to enable the InstanceV2 logging for this instance. This field is supported only in CDF patch revision versions 6.11.1.1 and above."
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "EventPublishConfig": {
      "properties": {
        "enabled": {
          "description": "Required. Option to enable Event Publishing.",
          "type": "boolean"
        },
        "topic": {
          "type": "string",
          "description": "Required. The resource name of the Pub/Sub topic. Format: projects/{project_id}/topics/{topic_id}"
        }
      },
      "id": "EventPublishConfig",
      "type": "object",
      "description": "Confirguration of PubSubEventWriter."
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ListDnsPeeringsResponse": {
      "description": "Response message for list DNS peerings.",
      "properties": {
        "dnsPeerings": {
          "items": {
            "$ref": "DnsPeering"
          },
          "type": "array",
          "description": "List of dns peering."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListDnsPeeringsResponse"
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "MonitoringConfig": {
      "id": "MonitoringConfig",
      "description": "Monitoring configuration for a Data Fusion instance.",
      "properties": {
        "enableInstanceV2Metrics": {
          "type": "boolean",
          "description": "Optional. Option to enable the instance v2 metrics for this instance. This field is supported only in CDF versions 6.11.1.1 and above."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "PrivateServiceConnectConfig": {
      "description": "Configuration for using Private Service Connect to establish connectivity between the Data Fusion consumer project and the corresponding tenant project.",
      "properties": {
        "unreachableCidrBlock": {
          "type": "string",
          "description": "Optional. Input only. The CIDR block to which the CDF instance can't route traffic to in the consumer project VPC. The size of this block should be at least /25. This range should not overlap with the primary address range of any subnetwork used by the network attachment. This range can be used for other purposes in the consumer VPC as long as there is no requirement for CDF to reach destinations using these addresses. If this value is not provided, the server chooses a non RFC 1918 address range. The format of this field is governed by RFC 4632. Example: 192.168.0.0/25"
        },
        "effectiveUnreachableCidrBlock": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The CIDR block to which the CDF instance can't route traffic to in the consumer project VPC. The size of this block is /25. The format of this field is governed by RFC 4632. Example: 240.0.0.0/25"
        },
        "networkAttachment": {
          "description": "Required. The reference to the network attachment used to establish private connectivity. It will be of the form projects/{project-id}/regions/{region}/networkAttachments/{network-attachment-id}.",
          "type": "string"
        }
      },
      "id": "PrivateServiceConnectConfig",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "UpgradeInstanceRequest": {
      "properties": {},
      "type": "object",
      "id": "UpgradeInstanceRequest",
      "description": "Request message for upgrading a Data Fusion instance. To change the instance properties, instance update should be used."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "ListAvailableVersionsResponse": {
      "id": "ListAvailableVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "description": "Represents a list of all versions.",
          "items": {
            "$ref": "Version"
          }
        },
        "availableVersions": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "Represents a list of versions that are supported. Deprecated: Use versions field instead."
        }
      },
      "type": "object",
      "description": "Response message for the list available versions request."
    },
    "ListNamespacesResponse": {
      "type": "object",
      "id": "ListNamespacesResponse",
      "properties": {
        "namespaces": {
          "type": "array",
          "items": {
            "$ref": "Namespace"
          },
          "description": "List of namespaces"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        }
      },
      "description": "List namespaces response."
    },
    "IAMPolicy": {
      "description": "IAMPolicy encapsulates the IAM policy name, definition and status of policy fetching.",
      "type": "object",
      "id": "IAMPolicy",
      "properties": {
        "policy": {
          "description": "Policy definition if IAM policy fetching is successful, otherwise empty.",
          "$ref": "Policy"
        },
        "status": {
          "$ref": "Status",
          "description": "Status of iam policy fetching."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object"
    },
    "Version": {
      "type": "object",
      "properties": {
        "versionNumber": {
          "type": "string",
          "description": "The version number of the Data Fusion instance, such as '6.0.1.0'."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PREVIEW",
            "TYPE_GENERAL_AVAILABILITY",
            "TYPE_DEPRECATED"
          ],
          "description": "Type represents the release availability of the version",
          "enumDescriptions": [
            "Version does not have availability yet",
            "Version is under development and not considered stable",
            "Version is available for public use",
            "Version is no longer supported."
          ]
        },
        "availableFeatures": {
          "items": {
            "type": "string"
          },
          "description": "Represents a list of available feature names for a given version.",
          "type": "array"
        },
        "defaultVersion": {
          "description": "Whether this is currently the default version for Cloud Data Fusion",
          "type": "boolean"
        }
      },
      "description": "The Data Fusion version.",
      "id": "Version"
    },
    "ListInstancesResponse": {
      "description": "Response message for the list instance request.",
      "properties": {
        "instances": {
          "description": "Represents a list of Data Fusion instances.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListInstancesResponse"
    },
    "DnsPeering": {
      "type": "object",
      "description": "DNS peering configuration. These configurations are used to create DNS peering with the customer Cloud DNS.",
      "properties": {
        "targetProject": {
          "type": "string",
          "description": "Optional. Optional target project to which dns peering should happen."
        },
        "targetNetwork": {
          "type": "string",
          "description": "Optional. Optional target network to which dns peering should happen."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the dns peering zone. Format: projects/{project}/locations/{location}/instances/{instance}/dnsPeerings/{dns_peering}"
        },
        "description": {
          "type": "string",
          "description": "Optional. Optional description of the dns zone."
        },
        "domain": {
          "description": "Required. The dns name suffix of the zone.",
          "type": "string"
        }
      },
      "id": "DnsPeering"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "Accelerator": {
      "properties": {
        "acceleratorType": {
          "enumDescriptions": [
            "Default value, if unspecified.",
            "Change Data Capture accelerator for Cloud Data Fusion.",
            "Reserved for internal use.",
            "Contact Center AI Insights This accelerator is used to enable import and export pipelines custom built to streamline CCAI Insights processing.",
            "Reserved for internal use."
          ],
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "CDC",
            "HEALTHCARE",
            "CCAI_INSIGHTS",
            "CLOUDSEARCH"
          ],
          "description": "Optional. The type of an accelator for a Cloud Data Fusion instance."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "UNKNOWN"
          ],
          "description": "Output only. The state of the accelerator.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Indicates that the accelerator is enabled and available to use.",
            "Indicates that the accelerator is disabled and not available to use.",
            "Indicates that accelerator state is currently unknown. Requests for enable, disable could be retried while in this state."
          ],
          "readOnly": true
        }
      },
      "id": "Accelerator",
      "description": "Identifies Cloud Data Fusion accelerators for an instance.",
      "type": "object"
    },
    "RemoveIamPolicyResponse": {
      "properties": {},
      "id": "RemoveIamPolicyResponse",
      "description": "Response message for RemoveIamPolicy method.",
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "Namespace": {
      "description": "Represents the information of a namespace",
      "properties": {
        "iamPolicy": {
          "$ref": "IAMPolicy",
          "description": "IAM policy associated with this namespace."
        },
        "name": {
          "type": "string",
          "description": "Name of the given namespace."
        }
      },
      "type": "object",
      "id": "Namespace"
    },
    "MaintenanceEvent": {
      "id": "MaintenanceEvent",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The start time of the maintenance event provided in [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. Example: \"2024-01-01T12:04:06-04:00\"",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The end time of the maintenance event provided in [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. Example: \"2024-01-02T12:04:06-06:00\" This field will be empty if the maintenance event is not yet complete.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the maintenance event is unspecified.",
            "The maintenance is scheduled but has not started.",
            "The maintenance has been started.",
            "The maintenance has been completed."
          ],
          "description": "Output only. The state of the maintenance event.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "STARTED",
            "COMPLETED"
          ]
        }
      },
      "description": "Represents a maintenance event.",
      "type": "object"
    },
    "Instance": {
      "description": "Represents a Data Fusion instance.",
      "properties": {
        "tenantProjectId": {
          "type": "string",
          "description": "Output only. The name of the tenant project.",
          "readOnly": true
        },
        "loggingConfig": {
          "description": "Optional. The logging configuration for this instance. This field is supported only in CDF versions 6.11.0 and above.",
          "$ref": "LoggingConfig"
        },
        "workforceIdentityServiceEndpoint": {
          "type": "string",
          "description": "Output only. Endpoint on which the Data Fusion UI is accessible to third-party users.",
          "readOnly": true
        },
        "dataplexDataLineageIntegrationEnabled": {
          "type": "boolean",
          "description": "Optional. Option to enable the Dataplex Lineage Integration feature."
        },
        "updateTime": {
          "description": "Output only. The time the instance was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "gcsBucket": {
          "description": "Output only. Cloud Storage bucket generated by Data Fusion in the customer project.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. Deprecated. Use tenant_project_id instead to extract the tenant project ID.",
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "accelerators": {
          "description": "Output only. List of accelerators enabled for this CDF instance.",
          "readOnly": true,
          "items": {
            "$ref": "Accelerator"
          },
          "type": "array"
        },
        "networkConfig": {
          "description": "Optional. Network configuration options. These are required when a private Data Fusion instance is to be created.",
          "$ref": "NetworkConfig"
        },
        "zone": {
          "description": "Optional. Name of the zone in which the Data Fusion instance will be created. Only DEVELOPER instances use this field.",
          "type": "string"
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "maintenancePolicy": {
          "description": "Optional. Configure the maintenance policy for this instance.",
          "$ref": "MaintenancePolicy"
        },
        "type": {
          "enumDescriptions": [
            "No type specified. The instance creation will fail.",
            "Basic Data Fusion instance. In Basic type, the user will be able to create data pipelines using point and click UI. However, there are certain limitations, such as fewer number of concurrent pipelines, no support for streaming pipelines, etc.",
            "Enterprise Data Fusion instance. In Enterprise type, the user will have all features available, such as support for streaming pipelines, unlimited number of concurrent pipelines, etc.",
            "Developer Data Fusion instance. In Developer type, the user will have all features available but with restrictive capabilities. This is to help enterprises design and develop their data ingestion and integration pipelines at low cost."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BASIC",
            "ENTERPRISE",
            "DEVELOPER"
          ],
          "description": "Required. Instance type."
        },
        "version": {
          "type": "string",
          "description": "Optional. Current version of Data Fusion."
        },
        "maintenanceEvents": {
          "items": {
            "$ref": "MaintenanceEvent"
          },
          "type": "array",
          "description": "Output only. The maintenance events for this instance.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of this instance is in the form of projects/{project}/locations/{location}/instances/{instance}.",
          "readOnly": true,
          "type": "string"
        },
        "availableVersion": {
          "type": "array",
          "description": "Output only. Available versions that the instance can be upgraded to using UpdateInstanceRequest.",
          "items": {
            "$ref": "Version"
          },
          "readOnly": true
        },
        "patchRevision": {
          "type": "string",
          "description": "Optional. Current patch revision of the Data Fusion."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of this Data Fusion instance.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "FAILED",
            "DELETING",
            "UPGRADING",
            "RESTARTING",
            "UPDATING",
            "AUTO_UPDATING",
            "AUTO_UPGRADING",
            "DISABLED",
            "ENABLING"
          ],
          "enumDescriptions": [
            "Instance does not have a state yet",
            "Instance is being created",
            "Instance is running and ready for requests",
            "Instance creation failed",
            "Instance is being deleted",
            "Instance is being upgraded",
            "Instance is being restarted",
            "Instance is being updated on customer request",
            "Instance is being auto-updated",
            "Instance is being auto-upgraded",
            "Instance is disabled",
            "Instance is being enabled."
          ]
        },
        "eventPublishConfig": {
          "description": "Optional. Option to enable and pass metadata for event publishing.",
          "$ref": "EventPublishConfig"
        },
        "disabledReason": {
          "type": "array",
          "description": "Output only. If the instance state is DISABLED, the reason for disabling the instance.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "DISABLED_REASON_UNSPECIFIED",
              "KMS_KEY_ISSUE",
              "PROJECT_STATE_OFF"
            ],
            "enumDescriptions": [
              "This is an unknown reason for disabling.",
              "The KMS key used by the instance is either revoked or denied access to",
              "The consumer project is in a non-ACTIVE state."
            ]
          }
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "enableRbac": {
          "type": "boolean",
          "description": "Optional. Option to enable granular role-based access control."
        },
        "dataprocServiceAccount": {
          "type": "string",
          "description": "Optional. User-managed service account to set on Dataproc when Cloud Data Fusion creates Dataproc to run data processing pipelines. This allows users to have fine-grained access control on Dataproc's accesses to cloud resources."
        },
        "p4ServiceAccount": {
          "description": "Output only. Service agent for the customer project.",
          "type": "string",
          "readOnly": true
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Optional. The monitoring configuration for this instance."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the instance was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "stateMessage": {
          "description": "Output only. Additional information about the current state of this Data Fusion instance if available.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "Optional. A description of this instance.",
          "type": "string"
        },
        "enableZoneSeparation": {
          "description": "Output only. Option to enable zone separation.",
          "type": "boolean",
          "readOnly": true
        },
        "privateInstance": {
          "description": "Optional. Specifies whether the Data Fusion instance should be private. If set to true, all Data Fusion nodes will have private IP addresses and will not be able to access the public internet.",
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "description": "Optional. Option to enable Dataproc Stackdriver Logging.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. Display name for an instance.",
          "type": "string"
        },
        "serviceEndpoint": {
          "description": "Output only. Endpoint on which the Data Fusion UI is accessible.",
          "type": "string",
          "readOnly": true
        },
        "options": {
          "type": "object",
          "description": "Optional. Map of additional options used to configure the behavior of Data Fusion instance.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "The resource labels for instance to use to annotate any related underlying resources such as Compute Engine VMs. The character '=' is not allowed to be used within the labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableStackdriverMonitoring": {
          "description": "Optional. Option to enable Stackdriver Monitoring.",
          "type": "boolean"
        },
        "apiEndpoint": {
          "description": "Output only. Endpoint on which the REST APIs is accessible.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Instance",
      "type": "object"
    },
    "MaintenancePolicy": {
      "properties": {
        "maintenanceExclusionWindow": {
          "$ref": "TimeWindow",
          "description": "Optional. The maintenance exclusion window of the instance."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. The maintenance window of the instance."
        }
      },
      "description": "Maintenance policy of the instance.",
      "id": "MaintenancePolicy",
      "type": "object"
    },
    "TimeWindow": {
      "description": "Represents an arbitrary window of time.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The start time of the time window provided in [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. Example: \"2024-01-01T12:04:06-04:00\""
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The end time of the time window provided in [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. The end time should take place after the start time. Example: \"2024-01-02T12:04:06-06:00\""
        }
      },
      "id": "TimeWindow",
      "type": "object"
    },
    "RestartInstanceRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for restarting a Data Fusion instance.",
      "id": "RestartInstanceRequest"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of a long-running operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "additionalStatus": {
          "description": "Map to hold any additional status info for the operation If there is an accelerator being enabled/disabled/deleted, this will be populated with accelerator name as key and status as ENABLING, DISABLING or DELETING",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation if any."
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "createTime": {
          "type": "string",
[...]
