{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        }
      }
    }
  },
  "id": "dataproc:v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://dataproc.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/"
    }
  ],
  "protocol": "rest",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "name": "dataproc",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "basePath": "",
  "schemas": {
    "ClusterToRepair": {
      "type": "object",
      "id": "ClusterToRepair",
      "properties": {
        "clusterRepairAction": {
          "description": "Required. Repair action to take on the cluster resource.",
          "enumDescriptions": [
            "No action will be taken by default.",
            "Repair cluster in ERROR_DUE_TO_UPDATE states."
          ],
          "enum": [
            "CLUSTER_REPAIR_ACTION_UNSPECIFIED",
            "REPAIR_ERROR_DUE_TO_UPDATE_CLUSTER"
          ],
          "type": "string"
        }
      },
      "description": "Cluster to be repaired"
    },
    "AcceleratorConfig": {
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/).",
      "properties": {
        "acceleratorTypeUri": {
          "type": "string",
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/v1/acceleratorTypes).Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-t4 projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-t4 nvidia-tesla-t4Auto Zone Exception: If you are using Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement), you must use the short name of the accelerator type resource, for example, nvidia-tesla-t4."
        },
        "acceleratorCount": {
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AcceleratorConfig",
      "type": "object"
    },
    "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig": {
      "properties": {
        "kmsKey": {
          "description": "Optional. The Cloud KMS key name to use for encrypting workflow template job arguments.When this this key is provided, the following workflow template job arguments (https://cloud.google.com/dataproc/docs/concepts/workflows/use-workflows#adding_jobs_to_a_template), if present, are CMEK encrypted (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_workflow_template_data): FlinkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/FlinkJob) HadoopJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/HadoopJob) SparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkJob) SparkRJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkRJob) PySparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/PySparkJob) SparkSqlJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkSqlJob) scriptVariables and queryList.queries HiveJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/HiveJob) scriptVariables and queryList.queries PigJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PigJob) scriptVariables and queryList.queries PrestoJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PrestoJob) scriptVariables and queryList.queries",
          "type": "string"
        }
      },
      "description": "Encryption settings for encrypting workflow template job arguments.",
      "type": "object",
      "id": "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig"
    },
    "YarnApplication": {
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "properties": {
        "progress": {
          "description": "Required. The numerical progress of the application, from 1 to 100.",
          "type": "number",
          "format": "float"
        },
        "trackingUrl": {
          "type": "string",
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access."
        },
        "vcoreSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The cumulative CPU time consumed by the application for a job, measured in vcore-seconds."
        },
        "name": {
          "type": "string",
          "description": "Required. The application name."
        },
        "state": {
          "type": "string",
          "description": "Required. The application state.",
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ]
        },
        "memoryMbSeconds": {
          "description": "Optional. The cumulative memory usage of the application for a job, measured in mb-seconds.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "YarnApplication",
      "type": "object"
    },
    "PrestoJob": {
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster.",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "clientTags": {
          "description": "Optional. Presto client tags to attach to this query",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI"
        }
      },
      "id": "PrestoJob",
      "type": "object"
    },
    "BasicYarnAutoscalingConfig": {
      "properties": {
        "scaleDownFactor": {
          "type": "number",
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
        },
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string",
          "format": "google-duration"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object",
      "id": "BasicYarnAutoscalingConfig"
    },
    "GkeNodePoolAcceleratorConfig": {
      "description": "A GkeNodeConfigAcceleratorConfig represents a Hardware Accelerator request for a node pool.",
      "properties": {
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA mig user guide (https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "acceleratorCount": {
          "description": "The number of accelerator cards exposed to an instance.",
          "type": "string",
          "format": "int64"
        },
        "acceleratorType": {
          "type": "string",
          "description": "The accelerator type resource namename (see GPUs on Compute Engine)."
        }
      },
      "id": "GkeNodePoolAcceleratorConfig",
      "type": "object"
    },
    "UsageMetrics": {
      "properties": {
        "acceleratorType": {
          "description": "Optional. Accelerator type being used, if any Deprecated: This field is only used in runtime versions below 3.0.",
          "type": "string"
        },
        "shuffleStorageGbSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Shuffle storage usage in (GB x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        },
        "milliAcceleratorSeconds": {
          "description": "Optional. Accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)). Deprecated: This field is only used in runtime versions below 3.0.",
          "type": "string",
          "format": "int64"
        },
        "milliAcceleratorSecondsA10040": {
          "description": "Optional. A100-40 accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "type": "string",
          "format": "int64"
        },
        "milliAcceleratorSecondsA10080": {
          "type": "string",
          "format": "int64",
          "description": "Optional. A100-80 accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        },
        "milliDcuSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. DCU (Dataproc Compute Units) usage in (milliDCU x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        },
        "updateTime": {
          "description": "Optional. The timestamp of the usage metrics.",
          "type": "string",
          "format": "google-datetime"
        },
        "milliAcceleratorSecondsL4": {
          "type": "string",
          "format": "int64",
          "description": "Optional. L4 accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        }
      },
      "description": "Usage metrics represent approximate total resources consumed by a workload.",
      "type": "object",
      "id": "UsageMetrics"
    },
    "ClusterOperationMetadata": {
      "id": "ClusterOperationMetadata",
      "type": "object",
      "description": "Metadata describing the operation.",
      "properties": {
        "childOperationIds": {
          "description": "Output only. Child operation ids",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "labels": {
          "description": "Output only. Labels associated with the operation",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the cluster for the operation."
        },
        "warnings": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Errors encountered during operation execution.",
          "items": {
            "type": "string"
          }
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Current operation status.",
          "$ref": "ClusterOperationStatus"
        },
        "operationType": {
          "description": "Output only. The operation type.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Short description of operation.",
          "type": "string",
          "readOnly": true
        },
        "statusHistory": {
          "description": "Output only. The previous operation status.",
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "RddPartitionInfo": {
      "properties": {
        "storageLevel": {
          "type": "string"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "blockName": {
          "type": "string"
        },
        "executors": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Information about RDD partitions.",
      "type": "object",
      "id": "RddPartitionInfo"
    },
    "ShuffleWriteMetrics": {
      "id": "ShuffleWriteMetrics",
      "type": "object",
      "description": "Shuffle data written by task.",
      "properties": {
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "writeTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ValueInfo": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Property value."
        },
        "annotation": {
          "description": "Annotation, comment or explanation why the property was set.",
          "type": "string"
        },
        "overriddenValue": {
          "type": "string",
          "description": "Optional. Value which was replaced by the corresponding component."
        }
      },
      "description": "Annotatated property value.",
      "type": "object",
      "id": "ValueInfo"
    },
    "SparkHistoryServerConfig": {
      "type": "object",
      "id": "SparkHistoryServerConfig",
      "properties": {
        "dataprocCluster": {
          "description": "Optional. Resource name of an existing Dataproc Cluster to act as a Spark History Server for the workload.Example: projects/[project_id]/regions/[region]/clusters/[cluster_name]",
          "type": "string"
        }
      },
      "description": "Spark History Server configuration for the workload."
    },
    "BuildInfo": {
      "type": "object",
      "id": "BuildInfo",
      "properties": {
        "buildKey": {
          "description": "Optional. Build key.",
          "type": "string"
        },
        "buildValue": {
          "description": "Optional. Build value.",
          "type": "string"
        }
      },
      "description": "Native Build Info"
    },
    "RegexValidation": {
      "properties": {
        "regexes": {
          "type": "array",
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Validation based on regular expressions.",
      "type": "object",
      "id": "RegexValidation"
    },
    "AppSummary": {
      "properties": {
        "numCompletedJobs": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AppSummary",
      "type": "object"
    },
    "ProvisioningModelMix": {
      "id": "ProvisioningModelMix",
      "type": "object",
      "description": "Defines how to create VMs with a mixture of provisioning models.",
      "properties": {
        "standardCapacityBase": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The base capacity that will always use Standard VMs to avoid risk of more preemption than the minimum capacity you need. The service will create only standard VMs until it reaches standard_capacity_base, then it will start using standard_capacity_percent_above_base to mix Spot with Standard VMs. eg. If 15 instances are requested and standard_capacity_base is 5, the service will create 5 standard VMs and thenstart mixing spot and standard VMs for remaining 10 instances."
        },
        "standardCapacityPercentAboveBase": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The percentage of target capacity that should use Standard VM. The remaining percentage will use Spot VMs. The percentage applies only to the capacity above standard_capacity_base. eg. If 15 instances are requested and standard_capacity_base is 5 and standard_capacity_percent_above_base is 30, the service will create 5 standard VMs and then start mixing spot and standard VMs for remaining 10 instances. The mix will be 30% standard and 70% spot."
        }
      }
    },
    "SummarizeSparkApplicationStagesResponse": {
      "id": "SummarizeSparkApplicationStagesResponse",
      "type": "object",
      "description": "Summary of a Spark Application stages.",
      "properties": {
        "stagesSummary": {
          "description": "Summary of a Spark Application Stages",
          "$ref": "StagesSummary"
        }
      }
    },
    "PyPiRepositoryConfig": {
      "id": "PyPiRepositoryConfig",
      "type": "object",
      "description": "Configuration for PyPi repository",
      "properties": {
        "pypiRepository": {
          "type": "string",
          "description": "Optional. The PyPi repository address. Note: This field is not available for batch workloads."
        }
      }
    },
    "SparkApplication": {
      "type": "object",
      "id": "SparkApplication",
      "properties": {
        "application": {
          "description": "Output only. High level information corresponding to an application.",
          "$ref": "ApplicationInfo",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the spark application",
          "type": "string"
        }
      },
      "description": "A summary of Spark Application"
    },
    "AutotuningConfig": {
      "id": "AutotuningConfig",
      "type": "object",
      "description": "Autotuning configuration of the workload.",
      "properties": {
        "scenarios": {
          "description": "Optional. Scenarios for which tunings are applied.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Scaling recommendations such as initialExecutors.",
              "Adding hints for potential relation broadcasts.",
              "Memory management for workloads.",
              "No autotuning.",
              "Automatic selection of scenarios."
            ],
            "enum": [
              "SCENARIO_UNSPECIFIED",
              "SCALING",
              "BROADCAST_HASH_JOIN",
              "MEMORY",
              "NONE",
              "AUTO"
            ]
          },
          "type": "array"
        }
      }
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "TaskResourceRequest": {
      "description": "Resources used per task created by the application.",
      "properties": {
        "resourceName": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "TaskResourceRequest",
      "type": "object"
    },
    "SparkPlanGraphNode": {
      "properties": {
        "metrics": {
          "items": {
            "$ref": "SqlPlanMetric"
          },
          "type": "array"
        },
        "sparkPlanGraphNodeId": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "desc": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional metadata for the spark plan graph cluster."
        }
      },
      "description": "Represents a node in the spark plan tree.",
      "type": "object",
      "id": "SparkPlanGraphNode"
    },
    "SpeculationStageSummary": {
      "type": "object",
      "id": "SpeculationStageSummary",
      "properties": {
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "numActiveTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Details of the speculation task when speculative execution is enabled."
    },
    "SearchSparkApplicationJobsResponse": {
      "type": "object",
      "id": "SearchSparkApplicationJobsResponse",
      "properties": {
        "sparkApplicationJobs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Data corresponding to a spark job.",
          "items": {
            "$ref": "JobData"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationJobsRequest."
        }
      },
      "description": "A list of Jobs associated with a Spark Application."
    },
    "VirtualClusterConfig": {
      "properties": {
        "stagingBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "auxiliaryServicesConfig": {
          "description": "Optional. Configuration of auxiliary services used by this cluster.",
          "$ref": "AuxiliaryServicesConfig"
        },
        "kubernetesClusterConfig": {
          "description": "Required. The configuration for running the cluster on Kubernetes.",
          "$ref": "KubernetesClusterConfig"
        }
      },
      "description": "The cluster config for a cluster that does not directly control the underlying compute resources, such as a GKE cluster (https://cloud.google.com/dataproc/docs/guides/dpgke/dataproc-gke-overview).",
      "type": "object",
      "id": "VirtualClusterConfig"
    },
    "StageAttemptTasksSummary": {
      "id": "StageAttemptTasksSummary",
      "type": "object",
      "description": "Data related to tasks summary for a Spark Stage Attempt",
      "properties": {
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "numSuccessTasks": {
          "type": "integer",
          "format": "int32"
        },
        "applicationId": {
          "type": "string"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numPendingTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numRunningTasks": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SparkConnectConfig": {
      "id": "SparkConnectConfig",
      "type": "object",
      "description": "Spark connect configuration for an interactive session.",
      "properties": {}
    },
    "RuntimeInfo": {
      "properties": {
        "currentUsage": {
          "readOnly": true,
          "description": "Output only. Snapshot of current workload resource usage.",
          "$ref": "UsageSnapshot"
        },
        "endpoints": {
          "description": "Output only. Map of remote access endpoints (such as web interfaces and APIs) to their URIs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "outputUri": {
          "description": "Output only. A URI pointing to the location of the stdout and stderr of the workload.",
          "type": "string",
          "readOnly": true
        },
        "approximateUsage": {
          "description": "Output only. Approximate workload resource usage, calculated when the workload completes (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).Note: This metric calculation may change in the future, for example, to capture cumulative workload resource consumption during workload execution (see the Dataproc Serverless release notes (https://cloud.google.com/dataproc-serverless/docs/release-notes) for announcements, changes, fixes and other Dataproc developments).",
          "$ref": "UsageMetrics",
          "readOnly": true
        },
        "cohortInfo": {
          "readOnly": true,
          "description": "Output only. Information about the cohort that the workload belongs to.",
          "$ref": "CohortInfo"
        },
        "propertiesInfo": {
          "description": "Optional. Properties of the workload organized by origin.",
          "$ref": "PropertiesInfo"
        },
        "diagnosticOutputUri": {
          "description": "Output only. A URI pointing to the location of the diagnostics tarball.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Runtime information about workload execution.",
      "type": "object",
      "id": "RuntimeInfo"
    },
    "ShufflePushReadMetrics": {
      "properties": {
        "mergedFetchFallbackCount": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBlocksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "corruptMergedBlockChunks": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedBlocksFetched": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedReqsDuration": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ShufflePushReadMetrics"
    },
    "AnalyzeOperationMetadata": {
      "properties": {
        "analyzedWorkloadType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the workload being analyzed.",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "enumDescriptions": [
            "Undefined option",
            "Serverless batch job"
          ]
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Short description of the operation."
        },
        "analyzedWorkloadUuid": {
          "description": "Output only. unique identifier of the workload typically generated by control plane. E.g. batch uuid.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "analyzedWorkloadName": {
          "description": "Output only. name of the workload being analyzed.",
          "readOnly": true,
          "type": "string"
        },
        "warnings": {
          "description": "Output only. Warnings encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "doneTime": {
          "description": "Output only. The time when the operation finished.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Labels associated with the operation."
        }
      },
      "description": "Metadata describing the Analyze operation.",
      "type": "object",
      "id": "AnalyzeOperationMetadata"
    },
    "AccumulableInfo": {
      "type": "object",
      "id": "AccumulableInfo",
      "properties": {
        "name": {
          "type": "string"
        },
        "update": {
          "type": "string"
        },
        "accumullableInfoId": {
          "type": "string",
          "format": "int64"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TaskMetrics": {
      "id": "TaskMetrics",
      "type": "object",
      "description": "Executor Task Metrics",
      "properties": {
        "shuffleWriteMetrics": {
          "$ref": "ShuffleWriteMetrics"
        },
        "resultSize": {
          "type": "string",
          "format": "int64"
        },
        "executorRunTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "outputMetrics": {
          "$ref": "OutputMetrics"
        },
        "shuffleReadMetrics": {
          "$ref": "ShuffleReadMetrics"
        },
        "jvmGcTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "inputMetrics": {
          "$ref": "InputMetrics"
        },
        "executorDeserializeTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "diskBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "memoryBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "resultSerializationTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "executorCpuTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "peakExecutionMemoryBytes": {
          "type": "string",
          "format": "int64"
        },
        "executorDeserializeCpuTimeNanos": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SparkStandaloneAutoscalingConfig": {
      "id": "SparkStandaloneAutoscalingConfig",
      "type": "object",
      "description": "Basic autoscaling configurations for Spark Standalone.",
      "properties": {
        "removeOnlyIdleWorkers": {
          "type": "boolean",
          "description": "Optional. Remove only idle workers when scaling down cluster"
        },
        "scaleUpFactor": {
          "type": "number",
          "format": "double",
          "description": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0."
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decommissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string",
          "format": "google-duration"
        },
        "scaleDownFactor": {
          "type": "number",
          "format": "double",
          "description": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0."
        },
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "RepositoryConfig": {
      "description": "Configuration for dependency repositories",
      "properties": {
        "pypiRepositoryConfig": {
          "description": "Optional. Configuration for PyPi repository.",
          "$ref": "PyPiRepositoryConfig"
        }
      },
      "id": "RepositoryConfig",
      "type": "object"
    },
    "SummarizeSessionSparkApplicationJobsResponse": {
      "description": "Summary of a Spark Application jobs.",
      "properties": {
        "jobsSummary": {
          "description": "Summary of a Spark Application Jobs",
          "$ref": "JobsSummary"
        }
      },
      "id": "SummarizeSessionSparkApplicationJobsResponse",
      "type": "object"
    },
    "SessionOperationMetadata": {
      "description": "Metadata describing the Session operation.",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the operation was finished."
        },
        "labels": {
          "description": "Labels associated with the operation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "description": "The time when the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "session": {
          "type": "string",
          "description": "Name of the session for the operation."
        },
        "sessionUuid": {
          "description": "Session UUID for the operation.",
          "type": "string"
        },
        "operationType": {
          "description": "The operation type.",
          "enumDescriptions": [
            "Session operation type is unknown.",
            "Create Session operation type.",
            "Terminate Session operation type.",
            "Delete Session operation type."
          ],
          "enum": [
            "SESSION_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "TERMINATE",
            "DELETE"
          ],
          "type": "string"
        },
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        }
      },
      "id": "SessionOperationMetadata",
      "type": "object"
    },
    "StagesSummary": {
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "numPendingStages": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numSkippedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numActiveStages": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Data related to Stages page summary",
      "type": "object",
      "id": "StagesSummary"
    },
    "GkeClusterConfig": {
      "description": "The cluster's GKE config.",
      "properties": {
        "nodePoolTarget": {
          "type": "array",
          "description": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings.",
          "items": {
            "$ref": "GkeNodePoolTarget"
          }
        },
        "namespacedGkeDeploymentTarget": {
          "deprecated": true,
          "description": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment.",
          "$ref": "NamespacedGkeDeploymentTarget"
        },
        "gkeClusterTarget": {
          "description": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        }
      },
      "id": "GkeClusterConfig",
      "type": "object"
    },
    "SparkSqlBatch": {
      "id": "SparkSqlBatch",
      "type": "object",
      "description": "A configuration for running Apache Spark SQL (https://spark.apache.org/sql/) queries as a batch workload.",
      "properties": {
        "queryVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        },
        "queryFileUri": {
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute.",
          "type": "string"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListAutoscalingPoliciesResponse": {
      "type": "object",
      "id": "ListAutoscalingPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch."
        },
        "policies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Autoscaling policies list.",
          "items": {
            "$ref": "AutoscalingPolicy"
          }
        }
      },
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "DiagnoseClusterRequest": {
      "id": "DiagnoseClusterRequest",
      "type": "object",
      "description": "A request to collect cluster diagnostic information.",
      "properties": {
        "job": {
          "description": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "deprecated": true,
          "type": "string"
        },
        "tarballGcsDir": {
          "type": "string",
          "description": "Optional. (Optional) The output Cloud Storage directory for the diagnostic tarball. If not specified, a task-specific directory in the cluster's staging bucket will be used."
        },
        "diagnosisInterval": {
          "description": "Optional. Time interval in which diagnosis should be carried out on the cluster.",
          "$ref": "Interval"
        },
        "yarnApplicationIds": {
          "description": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "yarnApplicationId": {
          "description": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed.",
          "deprecated": true,
          "type": "string"
        },
        "jobs": {
          "description": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tarballAccess": {
          "description": "Optional. (Optional) The access type to the diagnostic tarball. If not specified, falls back to default access of the bucket",
          "enumDescriptions": [
            "Tarball Access unspecified. Falls back to default access of the bucket",
            "Google Cloud Support group has read access to the diagnostic tarball",
            "The diagnose service account has read access to the diagnostic tarball"
          ],
          "enum": [
            "TARBALL_ACCESS_UNSPECIFIED",
            "GOOGLE_CLOUD_SUPPORT",
            "GOOGLE_DATAPROC_DIAGNOSE"
          ],
          "type": "string"
        }
      }
    },
    "DiagnoseClusterResults": {
      "id": "DiagnoseClusterResults",
      "type": "object",
      "description": "The location of diagnostic output.",
      "properties": {
        "outputUri": {
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SearchSparkApplicationSqlQueriesResponse": {
      "properties": {
        "sparkApplicationSqlQueries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. SQL Execution Data",
          "items": {
            "$ref": "SqlExecutionUiData"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationSqlQueriesRequest."
        }
      },
      "description": "List of all queries for a Spark Application.",
      "type": "object",
      "id": "SearchSparkApplicationSqlQueriesResponse"
    },
    "PeripheralsConfig": {
      "properties": {
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        },
        "metastoreService": {
          "type": "string",
          "description": "Optional. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[region]/services/[service_id]"
        }
      },
      "description": "Auxiliary services configuration for a workload.",
      "type": "object",
      "id": "PeripheralsConfig"
    },
    "OrderedJob": {
      "id": "OrderedJob",
      "type": "object",
      "description": "A job executed by the workflow.",
      "properties": {
        "sparkJob": {
          "description": "Optional. Job is a Spark job.",
          "$ref": "SparkJob"
        },
        "prerequisiteStepIds": {
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        },
        "trinoJob": {
          "description": "Optional. Job is a Trino job.",
          "$ref": "TrinoJob"
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "flinkJob": {
          "description": "Optional. Job is a Flink job.",
          "$ref": "FlinkJob"
        },
        "scheduling": {
          "description": "Optional. Job scheduling configuration.",
          "$ref": "JobScheduling"
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "labels": {
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "stepId": {
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        }
      }
    },
    "SparkSqlJob": {
      "properties": {
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API might be overwritten."
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        }
      },
      "description": "A Dataproc job for running Apache Spark SQL (https://spark.apache.org/sql/) queries.",
      "type": "object",
      "id": "SparkSqlJob"
    },
    "NodeGroupOperationMetadata": {
      "properties": {
        "warnings": {
          "description": "Output only. Errors encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "nodeGroupId": {
          "description": "Output only. Node group ID for the operation.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Labels associated with the operation."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Short description of operation."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Current operation status.",
          "$ref": "ClusterOperationStatus"
        },
        "statusHistory": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The previous operation status.",
          "items": {
            "$ref": "ClusterOperationStatus"
          }
        },
        "operationType": {
          "type": "string",
          "description": "The operation type.",
          "enumDescriptions": [
            "Node group operation type is unknown.",
            "Create node group operation type.",
            "Update node group operation type.",
            "Delete node group operation type.",
            "Resize node group operation type.",
            "Repair node group operation type.",
            "Update node group label operation type.",
            "Start node group operation type.",
            "Stop node group operation type.",
            "This operation type is used to update the metadata config of a node group. We update the metadata of the VMs in the node group and await for intended config change to be completed at the node group level. Currently, only the identity config update is supported."
          ],
          "enum": [
            "NODE_GROUP_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESIZE",
            "REPAIR",
            "UPDATE_LABELS",
            "START",
            "STOP",
            "UPDATE_METADATA_CONFIG"
          ]
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID associated with the node group operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Metadata describing the node group operation.",
      "type": "object",
      "id": "NodeGroupOperationMetadata"
    },
    "MemoryMetrics": {
      "id": "MemoryMetrics",
      "type": "object",
      "properties": {
        "usedOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "usedOffHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOffHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SummarizeSparkApplicationStageAttemptTasksResponse": {
      "id": "SummarizeSparkApplicationStageAttemptTasksResponse",
      "type": "object",
      "description": "Summary of tasks for a Spark Application stage attempt.",
      "properties": {
        "stageAttemptTasksSummary": {
          "description": "Summary of tasks for a Spark Application Stage Attempt",
          "$ref": "StageAttemptTasksSummary"
        }
      }
    },
    "AccessSparkApplicationStageAttemptResponse": {
      "description": "Stage Attempt for a Stage of a Spark Application",
      "properties": {
        "stageData": {
          "readOnly": true,
          "description": "Output only. Data corresponding to a stage.",
          "$ref": "StageData"
        }
      },
      "id": "AccessSparkApplicationStageAttemptResponse",
      "type": "object"
    },
    "SearchSparkApplicationExecutorsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest.",
          "type": "string"
        },
        "sparkApplicationExecutors": {
          "type": "array",
          "description": "Details about executors used by the application.",
          "items": {
            "$ref": "ExecutorSummary"
          }
        }
      },
      "description": "List of Executors associated with a Spark Application.",
      "type": "object",
      "id": "SearchSparkApplicationExecutorsResponse"
    },
    "LifecycleConfig": {
      "id": "LifecycleConfig",
      "type": "object",
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "properties": {
        "autoStopTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The lifetime duration of the cluster. The cluster will be auto-stopped at the end of this period, calculated from the time of submission of the create or update cluster request. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleStopTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration to keep the cluster started while idling (when no jobs are running). Passing this threshold will cause the cluster to be stopped. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "autoStopTime": {
          "description": "Optional. The time when cluster will be auto-stopped (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-datetime"
        },
        "autoDeleteTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleStartTime": {
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "JobMetadata": {
      "id": "JobMetadata",
      "type": "object",
      "description": "Job Operation metadata.",
      "properties": {
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The job id."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Most recent job status.",
          "$ref": "JobStatus"
        },
        "operationType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operation type."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Job submission time."
        }
      }
    },
    "ProcessSummary": {
      "id": "ProcessSummary",
      "type": "object",
      "description": "Process Summary",
      "properties": {
        "isActive": {
          "type": "boolean"
        },
        "hostPort": {
          "type": "string"
        },
        "totalCores": {
          "type": "integer",
          "format": "int32"
        },
        "removeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "processId": {
          "type": "string"
        },
        "processLogs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "addTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for TestIamPermissions method."
    },
    "NodeGroup": {
      "description": "Node Group. The NodeGroup resource is not related to the NodeGroupAffinity resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Node group resource name (https://aip.dev/122)."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Node group labels. Label keys must consist of from 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty. If specified, they must consist of from 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). The node group must have no more than 32 labels."
        },
        "roles": {
          "description": "Required. Node group roles.",
          "items": {
            "enum": [
              "ROLE_UNSPECIFIED",
              "DRIVER"
            ],
            "enumDescriptions": [
              "Required unspecified role.",
              "Job drivers run on the node pool."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "nodeGroupConfig": {
          "description": "Optional. The node group instance group configuration.",
          "$ref": "InstanceGroupConfig"
        }
      },
      "id": "NodeGroup",
      "type": "object"
    },
    "AccessSparkApplicationStageRddOperationGraphResponse": {
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters.",
      "properties": {
        "rddOperationGraph": {
          "description": "RDD operation graph for a Spark Application Stage.",
          "$ref": "RddOperationGraph"
        }
      },
      "id": "AccessSparkApplicationStageRddOperationGraphResponse",
      "type": "object"
    },
    "BasicAutoscalingAlgorithm": {
      "id": "BasicAutoscalingAlgorithm",
      "type": "object",
      "description": "Basic algorithm for autoscaling.",
      "properties": {
        "sparkStandaloneConfig": {
          "description": "Optional. Spark Standalone autoscaling configuration",
          "$ref": "SparkStandaloneAutoscalingConfig"
        },
        "yarnConfig": {
          "description": "Optional. YARN autoscaling configuration.",
          "$ref": "BasicYarnAutoscalingConfig"
        },
        "cooldownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m."
        }
      }
    },
    "SparkRJob": {
      "properties": {
        "mainRFileUri": {
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file.",
          "type": "string"
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN.",
      "type": "object",
      "id": "SparkRJob"
    },
    "RddOperationEdge": {
      "type": "object",
      "id": "RddOperationEdge",
      "properties": {
        "toId": {
          "type": "integer",
          "format": "int32"
        },
        "fromId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A directed edge representing dependency between two RDDs."
    },
    "NodePool": {
      "type": "object",
      "id": "NodePool",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. A unique id of the node pool. Primary and Secondary workers can be specified using special reserved ids PRIMARY_WORKER_POOL and SECONDARY_WORKER_POOL respectively. Aux node pools can be referenced using corresponding pool id."
        },
        "instanceNames": {
          "description": "Name of instances to be repaired. These instances must belong to specified node pool.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "repairAction": {
          "type": "string",
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "enumDescriptions": [
            "No action will be taken by default.",
            "delete the specified list of nodes."
          ],
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "DELETE"
          ]
        }
      },
      "description": "indicating a list of workers of same type"
    },
    "AttachedDiskConfig": {
      "id": "AttachedDiskConfig",
      "type": "object",
      "description": "Specifies the config of attached disk options for single VM instance.",
      "properties": {
        "provisionedIops": {
          "description": "Optional. Indicates how many IOPS to provision for the attached disk. This sets the number of I/O operations per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features",
          "type": "string",
          "format": "int64"
        },
        "diskType": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "HYPERDISK_BALANCED",
            "HYPERDISK_EXTREME",
            "HYPERDISK_ML",
            "HYPERDISK_THROUGHPUT"
          ],
          "description": "Optional. Disk type.",
          "enumDescriptions": [
            "Required unspecified disk type.",
            "Hyperdisk Balanced disk type.",
            "Hyperdisk Extreme disk type.",
            "Hyperdisk ML disk type.",
            "Hyperdisk Throughput disk type."
          ],
          "type": "string"
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the attached disk. This sets the number of throughput mb per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features",
          "type": "string",
          "format": "int64"
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Disk size in GB."
        }
      }
    },
    "TrinoJob": {
      "id": "TrinoJob",
      "type": "object",
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster.",
      "properties": {
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "clientTags": {
          "type": "array",
          "description": "Optional. Trino client tags to attach to this query",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        }
      }
    },
    "ClusterOperation": {
      "id": "ClusterOperation",
      "type": "object",
      "description": "The cluster operation triggered by a workflow.",
      "properties": {
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the cluster operation."
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error, if operation failed."
        },
        "done": {
          "description": "Output only. Indicates the operation is done.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "SparkPlanGraphNodeWrapper": {
      "properties": {
        "node": {
          "$ref": "SparkPlanGraphNode"
        },
        "cluster": {
          "$ref": "SparkPlanGraphCluster"
        }
      },
      "description": "Wrapper user to represent either a node or a cluster.",
      "type": "object",
      "id": "SparkPlanGraphNodeWrapper"
    },
    "Quantiles": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        },
        "percentile25": {
          "type": "string",
          "format": "int64"
        },
        "maximum": {
          "type": "string",
          "format": "int64"
        },
        "percentile50": {
          "type": "string",
          "format": "int64"
        },
        "minimum": {
          "type": "string",
          "format": "int64"
        },
        "percentile75": {
          "type": "string",
          "format": "int64"
        },
        "sum": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Quantile metrics data related to Tasks. Units can be seconds, bytes, milliseconds, etc depending on the message type.",
      "type": "object",
      "id": "Quantiles"
    },
    "JobPlacement": {
      "properties": {
        "clusterUuid": {
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted.",
          "type": "string",
          "readOnly": true
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The name of the cluster where the job will be submitted."
        },
        "clusterLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Cluster labels to identify a cluster where the job will be submitted."
        }
      },
      "description": "Dataproc job config.",
      "type": "object",
      "id": "JobPlacement"
    },
    "SinkProgress": {
      "properties": {
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "numOutputRows": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SinkProgress"
    },
    "InputMetrics": {
      "type": "object",
      "id": "InputMetrics",
      "properties": {
        "bytesRead": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Metrics about the input data read by the task."
    },
    "ShufflePushReadQuantileMetrics": {
      "properties": {
        "corruptMergedBlockChunks": {
          "$ref": "Quantiles"
        },
        "remoteMergedBlocksFetched": {
          "$ref": "Quantiles"
        },
        "localMergedBlocksFetched": {
          "$ref": "Quantiles"
        },
        "localMergedChunksFetched": {
          "$ref": "Quantiles"
        },
        "remoteMergedBytesRead": {
          "$ref": "Quantiles"
        },
        "remoteMergedChunksFetched": {
          "$ref": "Quantiles"
        },
        "remoteMergedReqsDuration": {
          "$ref": "Quantiles"
        },
        "mergedFetchFallbackCount": {
          "$ref": "Quantiles"
        },
        "localMergedBytesRead": {
          "$ref": "Quantiles"
        }
      },
      "type": "object",
      "id": "ShufflePushReadQuantileMetrics"
    },
    "StopClusterRequest": {
      "type": "object",
      "id": "StopClusterRequest",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "description": "A request to stop a cluster."
    },
    "AccessSessionSparkApplicationResponse": {
      "properties": {
        "application": {
          "readOnly": true,
          "description": "Output only. High level information corresponding to an application.",
          "$ref": "ApplicationInfo"
        }
      },
      "description": "A summary of Spark Application",
      "type": "object",
      "id": "AccessSessionSparkApplicationResponse"
    },
    "ExecutorSummary": {
      "type": "object",
      "id": "ExecutorSummary",
      "properties": {
        "totalCores": {
          "type": "integer",
          "format": "int32"
        },
        "totalShuffleRead": {
          "type": "string",
          "format": "int64"
        },
        "removeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "isExcluded": {
          "type": "boolean"
        },
        "maxMemory": {
          "type": "string",
          "format": "int64"
        },
        "executorId": {
          "type": "string"
        },
        "totalShuffleWrite": {
          "type": "string",
          "format": "int64"
        },
        "resources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ResourceInformation"
          }
        },
        "resourceProfileId": {
          "type": "integer",
          "format": "int32"
        },
        "hostPort": {
          "type": "string"
        },
        "maxTasks": {
          "type": "integer",
          "format": "int32"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "activeTasks": {
          "type": "integer",
          "format": "int32"
        },
        "isActive": {
          "type": "boolean"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "totalInputBytes": {
          "type": "string",
          "format": "int64"
        },
        "peakMemoryMetrics": {
          "$ref": "ExecutorMetrics"
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "failedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "totalTasks": {
          "type": "integer",
          "format": "int32"
        },
        "memoryMetrics": {
          "$ref": "MemoryMetrics"
        },
        "executorLogs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "excludedInStages": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "rddBlocks": {
          "type": "integer",
          "format": "int32"
        },
        "completedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "totalDurationMillis": {
          "type": "string",
          "format": "int64"
        },
        "addTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "totalGcTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "removeReason": {
          "type": "string"
        }
      },
      "description": "Details about executors used by the application."
    },
    "GkeNodeConfig": {
      "description": "Parameters that describe cluster nodes.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Specifies the service account (https://cloud.google.com/dataproc/docs/guides/dpgke/dataproc-gke-iam) to be used by the node pools. Specify the email address of the service account or its full resource name.Format: projects/{project}/serviceAccounts/{service_account_email} or {service_account_email}."
        },
        "spot": {
          "description": "Optional. Whether the nodes are created as Spot VM instances (https://cloud.google.com/compute/docs/instances/spot). Spot VMs are the latest update to legacy preemptible VMs. Spot VMs do not have a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role).",
          "type": "boolean"
        },
        "localSsdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of local SSD disks to attach to the node, which is limited by the maximum number of disks allowable per zone (see Adding Local SSDs (https://cloud.google.com/compute/docs/disks/local-ssd))."
        },
        "preemptible": {
          "description": "Optional. Whether the nodes are created as legacy preemptible VM instances (https://cloud.google.com/compute/docs/instances/preemptible). Also see Spot VMs, preemptible VM instances without a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role).",
          "type": "boolean"
        },
        "accelerators": {
          "description": "Optional. A list of hardware accelerators (https://cloud.google.com/compute/docs/gpus) to attach to each node.",
          "items": {
            "$ref": "GkeNodePoolAcceleratorConfig"
          },
          "type": "array"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Minimum CPU platform (https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) to be used by this instance. The instance may be scheduled on the specified or a newer CPU platform. Specify the friendly names of CPU platforms, such as \"Intel Haswell\"` or Intel Sandy Bridge\"."
        },
        "machineType": {
          "description": "Optional. The name of a Compute Engine machine type (https://cloud.google.com/compute/docs/machine-types).",
          "type": "string"
        },
        "bootDiskKmsKey": {
          "description": "Optional. The Customer Managed Encryption Key (CMEK) (https://cloud.google.com/kubernetes-engine/docs/how-to/using-cmek) used to encrypt the boot disk attached to each node in the node pool. Specify the key using the following format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        }
      },
      "id": "GkeNodeConfig",
      "type": "object"
    },
    "RddOperationNode": {
      "description": "A node in the RDD operation graph. Corresponds to a single RDD.",
      "properties": {
        "barrier": {
          "type": "boolean"
        },
        "nodeId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "callsite": {
          "type": "string"
        },
        "cached": {
          "type": "boolean"
        },
        "outputDeterministicLevel": {
          "enum": [
            "DETERMINISTIC_LEVEL_UNSPECIFIED",
            "DETERMINISTIC_LEVEL_DETERMINATE",
            "DETERMINISTIC_LEVEL_UNORDERED",
            "DETERMINISTIC_LEVEL_INDETERMINATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "RddOperationNode",
      "type": "object"
    },
    "InstantiateWorkflowTemplateRequest": {
      "type": "object",
      "id": "InstantiateWorkflowTemplateRequest",
      "properties": {
        "version": {
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template.",
          "type": "integer",
          "format": "int32"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "parameters": {
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A request to instantiate a workflow template."
    },
    "SummarizeSessionSparkApplicationExecutorsResponse": {
      "type": "object",
      "id": "SummarizeSessionSparkApplicationExecutorsResponse",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "Spark Application Id"
        },
        "activeExecutorSummary": {
          "description": "Consolidated summary for active executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "deadExecutorSummary": {
          "description": "Consolidated summary for dead executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "totalExecutorSummary": {
          "description": "Overall consolidated summary for all executors.",
          "$ref": "ConsolidatedExecutorSummary"
        }
      },
      "description": "Consolidated summary of executors for a Spark Application."
    },
    "WorkflowNode": {
      "description": "The workflow node.",
      "properties": {
        "stepId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the node."
        },
        "state": {
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The node state."
        },
        "error": {
          "description": "Output only. The error detail.",
          "type": "string",
          "readOnly": true
        },
        "prerequisiteStepIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Node's prerequisite nodes.",
          "items": {
            "type": "string"
          }
        },
        "jobId": {
          "description": "Output only. The job id; populated after the node enters RUNNING state.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "WorkflowNode",
      "type": "object"
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "type": "object",
      "description": "Runtime configuration for a workload.",
      "properties": {
        "cohort": {
          "type": "string",
          "description": "Optional. Cohort identifier. Identifies families of the workloads that have the same shape, for example, daily ETL jobs."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, which are used to configure workload execution.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "repositoryConfig": {
          "description": "Optional. Dependency repository configuration.",
          "$ref": "RepositoryConfig"
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the batch runtime."
        },
        "containerImage": {
          "description": "Optional. Optional custom container image for the job runtime environment. If not specified, a default container image will be used.",
          "type": "string"
        },
        "autotuningConfig": {
          "description": "Optional. Autotuning configuration of the workload.",
          "$ref": "AutotuningConfig"
        }
      }
    },
    "InjectCredentialsRequest": {
      "type": "object",
      "id": "InjectCredentialsRequest",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Required. The cluster UUID."
        },
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        }
      },
      "description": "A request to inject credentials into a cluster."
    },
    "RddOperationGraph": {
      "description": "Graph representing RDD dependencies. Consists of edges and a root cluster.",
      "properties": {
        "incomingEdges": {
          "type": "array",
          "items": {
            "$ref": "RddOperationEdge"
          }
        },
        "edges": {
          "items": {
            "$ref": "RddOperationEdge"
          },
          "type": "array"
        },
        "rootCluster": {
          "$ref": "RddOperationCluster"
        },
        "outgoingEdges": {
          "items": {
            "$ref": "RddOperationEdge"
          },
          "type": "array"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RddOperationGraph",
      "type": "object"
    },
    "SessionTemplate": {
      "description": "A representation of a session template.",
      "properties": {
        "labels": {
          "description": "Optional. Labels to associate with sessions created using this template. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A session template UUID (Unique Universal Identifier). The service generates this value when it creates the session template."
        },
        "description": {
          "description": "Optional. Brief description of the template.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time the template was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for session execution.",
          "$ref": "EnvironmentConfig"
        },
        "creator": {
          "description": "Output only. The email address of the user who created the template.",
          "readOnly": true,
          "type": "string"
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for session execution.",
          "$ref": "RuntimeConfig"
        },
        "jupyterSession": {
          "description": "Optional. Jupyter session config.",
          "$ref": "JupyterConfig"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the session template.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the template was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sparkConnectSession": {
          "description": "Optional. Spark connect session config.",
          "$ref": "SparkConnectConfig"
        }
      },
      "id": "SessionTemplate",
      "type": "object"
    },
    "SparkRBatch": {
      "id": "SparkRBatch",
      "type": "object",
      "description": "A configuration for running an Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) batch workload.",
      "properties": {
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R or .r file."
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Optional. The arguments to pass to the Spark driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListBatchesResponse": {
      "properties": {
[...]
