{
  "version": "v1b3",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://dataflow.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Dataflow API",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "servicePath": "",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "schemas": {
    "ComputationTopology": {
      "type": "object",
      "properties": {
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        },
        "keyRanges": {
          "items": {
            "$ref": "KeyRangeLocation"
          },
          "type": "array",
          "description": "The key ranges processed by the computation."
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        },
        "stateFamilies": {
          "type": "array",
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          }
        },
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        },
        "inputs": {
          "description": "The inputs to the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        }
      },
      "id": "ComputationTopology",
      "description": "All configuration data for a particular Computation."
    },
    "Snapshot": {
      "properties": {
        "ttl": {
          "description": "The time after which this snapshot will be automatically deleted.",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "description": "State of the snapshot.",
          "type": "string"
        },
        "creationTime": {
          "description": "The time this snapshot was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "diskSizeBytes": {
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this snapshot."
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "pubsubMetadata": {
          "type": "array",
          "description": "Pub/Sub snapshot metadata.",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          }
        },
        "region": {
          "type": "string",
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\"."
        },
        "projectId": {
          "description": "The project this snapshot belongs to.",
          "type": "string"
        }
      },
      "id": "Snapshot",
      "description": "Represents a snapshot of a job.",
      "type": "object"
    },
    "IntegerGauge": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "SplitInt64",
          "description": "The value of the variable represented by this gauge."
        },
        "timestamp": {
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "IntegerGauge",
      "description": "A metric value representing temporal values of a variable."
    },
    "ReportWorkItemStatusRequest": {
      "description": "Request to report the status of WorkItems.",
      "properties": {
        "workerId": {
          "type": "string",
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response)."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "projectNumber": {
          "description": "Optional. The project number of the project which owns the WorkItem's job.",
          "type": "string",
          "format": "int64"
        },
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "items": {
            "$ref": "WorkItemStatus"
          },
          "type": "array"
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "type": "string",
          "format": "google-datetime"
        },
        "unifiedWorkerRequest": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "ReportWorkItemStatusRequest",
      "type": "object"
    },
    "SdkVersion": {
      "properties": {
        "bugs": {
          "type": "array",
          "items": {
            "$ref": "SdkBug"
          },
          "description": "Output only. Known bugs found in this SDK version.",
          "readOnly": true
        },
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "description": "The support status for this SDK version.",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "type": "string"
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        }
      },
      "id": "SdkVersion",
      "type": "object",
      "description": "The version of the SDK used to run the job."
    },
    "StragglerDebuggingInfo": {
      "id": "StragglerDebuggingInfo",
      "description": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum.",
      "type": "object",
      "properties": {
        "hotKey": {
          "description": "Hot key debugging details.",
          "$ref": "HotKeyDebuggingInfo"
        }
      }
    },
    "MetricUpdate": {
      "type": "object",
      "id": "MetricUpdate",
      "properties": {
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "boundedTrie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field."
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "trie": {
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode.",
          "type": "any"
        },
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime",
          "type": "string"
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        }
      },
      "description": "Describes the state of a metric."
    },
    "StringList": {
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Elements of the list."
        }
      },
      "id": "StringList",
      "description": "A metric value representing a list of strings.",
      "type": "object"
    },
    "FlexTemplateRuntimeEnvironment": {
      "type": "object",
      "properties": {
        "numWorkers": {
          "type": "integer",
          "description": "The initial number of Google Compute Engine instances for the job.",
          "format": "int32"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "streamingMode": {
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "type": "string",
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ]
        },
        "flexrsGoal": {
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "type": "string"
        },
        "launcherMachineType": {
          "description": "The machine type to use for launching the job. If not set, Dataflow will select a default machine type.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "ipConfiguration": {
          "type": "string",
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "dumpHeapOnOom": {
          "description": "If true, when processing time is spent almost entirely on garbage collection (GC), saves a heap dump before ending the thread or process. If false, ends the thread or process without saving a heap dump. Does not save a heap dump when the Java Virtual Machine (JVM) has an out of memory error during processing. The location of the heap file is either echoed back to the user, or the user is given the opportunity to download the heap file.",
          "type": "boolean"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "stagingLocation": {
          "description": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "sdkContainerImage": {
          "description": "Docker registry location of container image to use for the 'worker harness. Default is the container for the version of the SDK. Note this field is only valid for portable pipelines.",
          "type": "string"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Worker disk size, in gigabytes.",
          "format": "int32"
        },
        "maxWorkers": {
          "format": "int32",
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "enableLauncherVmSerialPortLogging": {
          "type": "boolean",
          "description": "If true serial port logging will be enabled for the launcher VM."
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object"
        },
        "additionalPipelineOptions": {
          "description": "Optional. Additional pipeline option flags for the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "saveHeapDumpsToGcsPath": {
          "description": "Cloud Storage bucket (directory) to upload heap dumps to. Enabling this field implies that `dump_heap_on_oom` is set to true.",
          "type": "string"
        },
        "autoscalingAlgorithm": {
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string"
        }
      },
      "description": "The environment values to be set at runtime for flex template.",
      "id": "FlexTemplateRuntimeEnvironment"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      },
      "id": "CustomSourceLocation",
      "type": "object"
    },
    "StreamLocation": {
      "type": "object",
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "properties": {
        "sideInputLocation": {
          "$ref": "StreamingSideInputLocation",
          "description": "The stream is a streaming side input."
        },
        "pubsubLocation": {
          "$ref": "PubsubLocation",
          "description": "The stream is a pubsub stream."
        },
        "streamingStageLocation": {
          "description": "The stream is part of another computation within the current streaming Dataflow job.",
          "$ref": "StreamingStageLocation"
        },
        "customSourceLocation": {
          "description": "The stream is a custom source.",
          "$ref": "CustomSourceLocation"
        }
      },
      "id": "StreamLocation"
    },
    "MetricValue": {
      "properties": {
        "valueHistogram": {
          "$ref": "DataflowHistogramValue",
          "description": "Histogram value of this metric."
        },
        "valueInt64": {
          "type": "string",
          "format": "int64",
          "description": "Integer value of this metric."
        },
        "metric": {
          "description": "Base name for this metric.",
          "type": "string"
        },
        "metricLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of metric labels for this metric."
        },
        "valueGauge64": {
          "description": "Non-cumulative int64 value of this metric.",
          "$ref": "DataflowGaugeValue"
        }
      },
      "description": "The value of a metric along with its name and labels.",
      "id": "MetricValue",
      "type": "object"
    },
    "BucketOptions": {
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram.",
      "id": "BucketOptions",
      "type": "object",
      "properties": {
        "linear": {
          "$ref": "Linear",
          "description": "Bucket boundaries grow linearly."
        },
        "exponential": {
          "description": "Bucket boundaries grow exponentially.",
          "$ref": "Base2Exponent"
        }
      }
    },
    "RuntimeMetadata": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array",
          "description": "The parameters for the template."
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "SDK Info for the template."
        }
      },
      "type": "object",
      "id": "RuntimeMetadata",
      "description": "RuntimeMetadata describing a runtime environment."
    },
    "WorkItemDetails": {
      "description": "Information about an individual work item execution.",
      "type": "object",
      "id": "WorkItemDetails",
      "properties": {
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of this work item attempt.",
          "format": "google-datetime",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "Metrics for this work item.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "state": {
          "type": "string",
          "description": "State of this work item.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "stragglerInfo": {
          "description": "Information about straggler detections for this work item.",
          "$ref": "StragglerInfo"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time."
        }
      }
    },
    "StragglerSummary": {
      "properties": {
        "stragglerCauseCount": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum."
        },
        "totalStragglerCount": {
          "description": "The total count of stragglers.",
          "format": "int64",
          "type": "string"
        },
        "recentStragglers": {
          "items": {
            "$ref": "Straggler"
          },
          "type": "array",
          "description": "The most recent stragglers."
        }
      },
      "description": "Summarized straggler identification details.",
      "type": "object",
      "id": "StragglerSummary"
    },
    "AutoscalingSchedule": {
      "id": "AutoscalingSchedule",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone for the schedule. The value of this field must be a time zone name from the [tz database](http://en.wikipedia.org/wiki/Tz_database). The default value is UTC."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The duration for which the parameter overrides for this schedule will be applied when triggered by the crontab."
        },
        "name": {
          "description": "Optional. The name of the schedule.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the customer last updated the schedule.",
          "type": "string",
          "format": "google-datetime"
        },
        "crontab": {
          "description": "Optional. A crontab specification of when this schedule should trigger applying overrides. The overrides will be applied from the trigger time until the specified duration elapses.",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Specifies the priority of the schedule. If two schedules overlap, the one with the higher priority will be used. The higher the value, the higher the priority of the schedule."
        },
        "parameters": {
          "description": "Optional. The parameters to use for autoscaling when this schedule is active.",
          "$ref": "Parameters"
        }
      },
      "description": "A schedule for autoscaling."
    },
    "WorkerThreadScalingReportResponse": {
      "properties": {
        "recommendedThreadCount": {
          "format": "int32",
          "type": "integer",
          "description": "Recommended number of threads for a worker."
        }
      },
      "type": "object",
      "description": "Contains the thread scaling recommendation for a worker from the backend.",
      "id": "WorkerThreadScalingReportResponse"
    },
    "LaunchTemplateResponse": {
      "id": "LaunchTemplateResponse",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "type": "object",
      "description": "Response to the request to launch a template."
    },
    "SourceSplitOptions": {
      "id": "SourceSplitOptions",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "properties": {
        "desiredShardSizeBytes": {
          "description": "DEPRECATED in favor of desired_bundle_size_bytes.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "desiredBundleSizeBytes": {
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SeqMapTask": {
      "type": "object",
      "properties": {
        "outputInfos": {
          "type": "array",
          "description": "Information about each of the outputs.",
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          }
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the SeqDo operation. Unique across the workflow."
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Information about each of the inputs."
        },
        "name": {
          "description": "The user-provided name of the SeqDo operation.",
          "type": "string"
        },
        "stageName": {
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "userFn": {
          "description": "The user function to invoke.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "Describes a particular function to invoke.",
      "id": "SeqMapTask"
    },
    "IntegerMean": {
      "description": "A representation of an integer mean metric contribution.",
      "type": "object",
      "id": "IntegerMean",
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        },
        "sum": {
          "$ref": "SplitInt64",
          "description": "The sum of all values being aggregated."
        }
      }
    },
    "CounterMetadata": {
      "type": "object",
      "properties": {
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "standardUnits": {
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ],
          "description": "System defined Units, see above enum."
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "type": "string"
        }
      },
      "id": "CounterMetadata",
      "description": "CounterMetadata includes all static non-name non-value counter attributes."
    },
    "LeaseWorkItemRequest": {
      "properties": {
        "requestedLeaseDuration": {
          "type": "string",
          "description": "The initial lease period.",
          "format": "google-duration"
        },
        "workerCapabilities": {
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker."
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "format": "google-datetime",
          "type": "string"
        },
        "workerId": {
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workItemTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Filter for WorkItem type."
        },
        "projectNumber": {
          "format": "int64",
          "description": "Optional. The project number of the project this worker belongs to.",
          "type": "string"
        }
      },
      "description": "Request to lease WorkItems.",
      "id": "LeaseWorkItemRequest",
      "type": "object"
    },
    "Histogram": {
      "type": "object",
      "properties": {
        "firstBucketOffset": {
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "format": "int32",
          "type": "integer"
        },
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "id": "Histogram"
    },
    "DebugOptions": {
      "type": "object",
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "properties": {
        "dataSampling": {
          "$ref": "DataSamplingConfig",
          "description": "Configuration options for sampling elements from a running pipeline."
        },
        "enableHotKeyLogging": {
          "type": "boolean",
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging."
        }
      },
      "id": "DebugOptions"
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object",
      "id": "StreamingConfigTask",
      "properties": {
        "getDataStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for get data streams from the harness to windmill."
        },
        "userWorkerRunnerV1Settings": {
          "type": "string",
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker."
        },
        "commitStreamChunkSizeBytes": {
          "description": "Chunk size for commit streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "userWorkerRunnerV2Settings": {
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "format": "byte"
        },
        "windmillServicePort": {
          "format": "int64",
          "type": "string",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "userStepToStateFamilyNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from user step names to state families."
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "streamingComputationConfigs": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information."
        },
        "streamingEngineStateTagEncodingVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The state tag encoding format version for streaming engine jobs."
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FileIODetails": {
      "description": "Metadata for a File connector used by the job.",
      "id": "FileIODetails",
      "properties": {
        "filePattern": {
          "type": "string",
          "description": "File Pattern used to access files by the connector."
        }
      },
      "type": "object"
    },
    "ConcatPosition": {
      "id": "ConcatPosition",
      "properties": {
        "index": {
          "description": "Index of the inner source.",
          "type": "integer",
          "format": "int32"
        },
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        }
      },
      "type": "object",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources."
    },
    "Step": {
      "properties": {
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL."
        }
      },
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "id": "Step"
    },
    "WorkerShutdownNoticeResponse": {
      "type": "object",
      "id": "WorkerShutdownNoticeResponse",
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
      "properties": {}
    },
    "Base2Exponent": {
      "id": "Base2Exponent",
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))",
      "properties": {
        "scale": {
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "format": "int32",
          "type": "integer"
        },
        "numberOfBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PartialGroupByKeyInstruction": {
      "properties": {
        "sideInputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array",
          "description": "Zero or more side inputs."
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues.",
          "type": "string"
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        },
        "valueCombiningFn": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The value combining function to invoke."
        },
        "inputElementCodec": {
          "description": "The codec to use for interpreting an element in the input PTable.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "PartialGroupByKeyInstruction",
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "type": "object"
    },
    "ProgressTimeseries": {
      "type": "object",
      "id": "ProgressTimeseries",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "Point"
          },
          "description": "History of progress for the component. Points are sorted by time.",
          "type": "array"
        },
        "currentProgress": {
          "type": "number",
          "description": "The current progress of the component, in the range [0,1].",
          "format": "double"
        }
      },
      "description": "Information about the progress of some component of job execution."
    },
    "WorkerMessageCode": {
      "id": "WorkerMessageCode",
      "type": "object",
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages."
        },
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change.",
          "type": "string"
        }
      }
    },
    "WorkerMessageResponse": {
      "properties": {
        "workerHealthReportResponse": {
          "$ref": "WorkerHealthReportResponse",
          "description": "The service's response to a worker's health report."
        },
        "streamingScalingReportResponse": {
          "description": "Service's streaming scaling response for workers.",
          "$ref": "StreamingScalingReportResponse"
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        },
        "workerThreadScalingReportResponse": {
          "description": "Service's thread scaling recommendation for workers.",
          "$ref": "WorkerThreadScalingReportResponse"
        },
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        }
      },
      "type": "object",
      "description": "A worker_message response allows the server to pass information to the sender.",
      "id": "WorkerMessageResponse"
    },
    "ContainerSpec": {
      "description": "Container Spec.",
      "id": "ContainerSpec",
      "type": "object",
      "properties": {
        "imageRepositoryPasswordSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for password to authenticate to private registry."
        },
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        },
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        },
        "imageRepositoryUsernameSecretId": {
          "description": "Secret Manager secret id for username to authenticate to private registry.",
          "type": "string"
        },
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "defaultEnvironment": {
          "description": "Default runtime environment for the job.",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "imageRepositoryCertPath": {
          "description": "Cloud Storage path to self-signed certificate of private registry.",
          "type": "string"
        }
      }
    },
    "SdkBug": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown issue with this SDK.",
            "Catch-all for SDK bugs that don't fit in the below categories.",
            "Using this version of the SDK may result in degraded performance.",
            "Using this version of the SDK may cause data loss."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "GENERAL",
            "PERFORMANCE",
            "DATALOSS"
          ],
          "description": "Output only. Describes the impact of this SDK bug."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link to more information on the bug."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOTICE",
            "WARNING",
            "SEVERE"
          ],
          "type": "string",
          "description": "Output only. How severe the SDK bug is.",
          "enumDescriptions": [
            "A bug of unknown severity.",
            "A minor bug that that may reduce reliability or performance for some jobs. Impact will be minimal or non-existent for most jobs.",
            "A bug that has some likelihood of causing performance degradation, data loss, or job failures.",
            "A bug with extremely significant impact. Jobs may fail erroneously, performance may be severely degraded, and data loss may be very likely."
          ],
          "readOnly": true
        }
      },
      "description": "A bug found in the Dataflow SDK.",
      "id": "SdkBug"
    },
    "PerStepNamespaceMetrics": {
      "id": "PerStepNamespaceMetrics",
      "description": "Metrics for a particular unfused step and namespace. A metric is uniquely identified by the `metrics_namespace`, `original_step`, `metric name` and `metric_labels`.",
      "type": "object",
      "properties": {
        "metricsNamespace": {
          "type": "string",
          "description": "The namespace of these metrics on the worker."
        },
        "originalStep": {
          "description": "The original system name of the unfused step that these metrics are reported from.",
          "type": "string"
        },
        "metricValues": {
          "type": "array",
          "description": "Optional. Metrics that are recorded for this namespace and unfused step.",
          "items": {
            "$ref": "MetricValue"
          }
        }
      }
    },
    "WorkerSettings": {
      "id": "WorkerSettings",
      "type": "object",
      "properties": {
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "workerId": {
          "description": "The ID of the worker running this pipeline.",
          "type": "string"
        },
        "servicePath": {
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".",
          "type": "string"
        },
        "reportingEnabled": {
          "type": "boolean",
          "description": "Whether to send work progress updates to the service."
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        }
      },
      "description": "Provides data to pass through to the worker harness."
    },
    "DerivedSource": {
      "type": "object",
      "id": "DerivedSource",
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        },
        "derivationMode": {
          "description": "What source to base the produced source on (if any).",
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      }
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "type": "object",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "Identifies the particular stream within the streaming Dataflow job."
        }
      }
    },
    "WorkItemServiceState": {
      "properties": {
        "suggestedStopPoint": {
          "deprecated": true,
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress"
        },
        "reportStatusInterval": {
          "type": "string",
          "description": "New recommended reporting interval.",
          "format": "google-duration"
        },
        "hotKeyDetection": {
          "$ref": "HotKeyDetection",
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key."
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "$ref": "Position",
          "deprecated": true
        },
        "harnessData": {
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "leaseExpireTime": {
          "description": "Time at which the current lease will expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "nextReportIndex": {
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "format": "int64",
          "type": "string"
        },
        "metricShortId": {
          "items": {
            "$ref": "MetricShortId"
          },
          "type": "array",
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics."
        },
        "completeWorkStatus": {
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work.",
          "$ref": "Status"
        }
      },
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "type": "object",
      "id": "WorkItemServiceState"
    },
    "DataSamplingConfig": {
      "description": "Configuration options for sampling elements.",
      "type": "object",
      "id": "DataSamplingConfig",
      "properties": {
        "behaviors": {
          "items": {
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ],
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter."
        }
      }
    },
    "BigQueryIODetails": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Project accessed in the connection."
        },
        "dataset": {
          "type": "string",
          "description": "Dataset accessed in the connection."
        }
      },
      "description": "Metadata for a BigQuery connector used by the job.",
      "type": "object",
      "id": "BigQueryIODetails"
    },
    "TransformSummary": {
      "properties": {
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array",
          "description": "Transform-specific display data."
        },
        "outputCollectionName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User names for all collection outputs to this transform."
        },
        "kind": {
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "description": "Type of transform.",
          "type": "string",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "inputCollectionName": {
          "items": {
            "type": "string"
          },
          "description": "User names for all collection inputs to this transform.",
          "type": "array"
        },
        "id": {
          "description": "SDK generated id of this transform instance.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "User provided name for this transform instance."
        }
      },
      "id": "TransformSummary",
      "type": "object",
      "description": "Description of the type, names/ids, and input/outputs for a transform."
    },
    "WorkerShutdownNotice": {
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      },
      "id": "WorkerShutdownNotice",
      "type": "object",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down."
    },
    "StragglerInfo": {
      "type": "object",
      "description": "Information useful for straggler identification and debugging.",
      "id": "StragglerInfo",
      "properties": {
        "causes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          },
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the work item attempt became a straggler."
        }
      }
    },
    "JobExecutionDetails": {
      "description": "Information about the execution of a job.",
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "stages": {
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          },
          "description": "The stages of the job execution."
        }
      },
      "type": "object",
      "id": "JobExecutionDetails"
    },
    "GetDebugConfigResponse": {
      "description": "Response to a get debug configuration request.",
      "id": "GetDebugConfigResponse",
      "type": "object",
      "properties": {
        "config": {
          "description": "The encoded debug configuration for the requested component.",
          "type": "string"
        }
      }
    },
    "StageExecutionDetails": {
      "description": "Information about the workers and work items within a stage.",
      "type": "object",
      "id": "StageExecutionDetails",
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "workers": {
          "description": "Workers that have done work on the stage.",
          "items": {
            "$ref": "WorkerDetails"
          },
          "type": "array"
        }
      }
    },
    "ShellTask": {
      "type": "object",
      "id": "ShellTask",
      "description": "A task which consists of a shell command for the worker to execute.",
      "properties": {
        "exitCode": {
          "type": "integer",
          "description": "Exit code for the task.",
          "format": "int32"
        },
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        }
      }
    },
    "ReportedParallelism": {
      "id": "ReportedParallelism",
      "type": "object",
      "properties": {
        "value": {
          "description": "Specifies the level of parallelism in case it is finite.",
          "format": "double",
          "type": "number"
        },
        "isInfinite": {
          "type": "boolean",
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack."
        }
      },
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker."
    },
    "WorkerLifecycleEvent": {
      "id": "WorkerLifecycleEvent",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "additionalProperties": {
            "type": "string"
          }
        },
        "event": {
          "description": "The event being reported.",
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ]
        },
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto."
    },
    "BoundedTrieNode": {
      "properties": {
        "truncated": {
          "type": "boolean",
          "description": "Whether this node has been truncated. A truncated leaf represents possibly many children with the same prefix."
        },
        "children": {
          "additionalProperties": {
            "$ref": "BoundedTrieNode"
          },
          "description": "Children of this node. Must be empty if truncated is true.",
          "type": "object"
        }
      },
      "id": "BoundedTrieNode",
      "type": "object",
      "description": "A single node in a BoundedTrie."
    },
    "ConfigStoreSettingValue": {
      "id": "ConfigStoreSettingValue",
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        }
      },
      "description": "Represents a dynamically typed value.",
      "type": "object"
    },
    "CreateJobFromTemplateRequest": {
      "type": "object",
      "description": "A request to create a Cloud Dataflow job from a template.",
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
          "type": "string"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gcsPath": {
          "type": "string",
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job."
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        }
      },
      "id": "CreateJobFromTemplateRequest"
    },
    "ApproximateProgress": {
      "properties": {
        "remainingTime": {
          "type": "string",
          "description": "Obsolete.",
          "deprecated": true,
          "format": "google-duration"
        },
        "percentComplete": {
          "deprecated": true,
          "type": "number",
          "format": "float",
          "description": "Obsolete."
        },
        "position": {
          "$ref": "Position",
          "deprecated": true,
          "description": "Obsolete."
        }
      },
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "id": "ApproximateProgress",
      "type": "object"
    },
    "SnapshotJobRequest": {
      "type": "object",
      "id": "SnapshotJobRequest",
      "properties": {
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        },
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "ttl": {
          "description": "TTL for the snapshot.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Request to create a snapshot of a job."
    },
    "CPUTime": {
      "type": "object",
      "properties": {
        "totalMs": {
          "format": "uint64",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "type": "string"
        },
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "type": "number",
          "format": "double"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the measurement."
        }
      },
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime"
    },
    "HotKeyDebuggingInfo": {
      "description": "Information useful for debugging a hot key detection.",
      "type": "object",
      "id": "HotKeyDebuggingInfo",
      "properties": {
        "detectedHotKeys": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          },
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key."
        }
      }
    },
    "DynamicSourceSplit": {
      "properties": {
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        },
        "residual": {
          "$ref": "DerivedSource",
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
        }
      },
      "id": "DynamicSourceSplit",
      "type": "object",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
    },
    "StreamingScalingReportResponse": {
      "properties": {
        "maximumThreadCount": {
          "description": "Maximum thread count limit;",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "StreamingScalingReportResponse",
      "type": "object",
      "description": "Contains per-user-worker streaming scaling recommendation from the backend."
    },
    "KeyRangeDataDiskAssignment": {
      "properties": {
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        }
      },
      "type": "object",
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "id": "KeyRangeDataDiskAssignment"
    },
    "ReportWorkItemStatusResponse": {
      "id": "ReportWorkItemStatusResponse",
      "properties": {
        "workItemServiceStates": {
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "type": "array",
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response."
        },
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "Response from a request to report the status of WorkItems.",
      "type": "object"
    },
    "DataDiskAssignment": {
      "description": "Data disk assignment for a given VM instance.",
      "id": "DataDiskAssignment",
      "properties": {
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        },
        "dataDisks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }."
        }
      },
      "type": "object"
    },
    "JobExecutionInfo": {
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "id": "JobExecutionInfo",
      "type": "object",
      "properties": {
        "stages": {
          "type": "object",
          "description": "A mapping from each stage to the information about that stage.",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      }
    },
    "LaunchFlexTemplateRequest": {
      "properties": {
        "launchParameter": {
          "$ref": "LaunchFlexTemplateParameter",
          "description": "Required. Parameter to launch a job form Flex Template."
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "LaunchFlexTemplateRequest",
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "type": "object"
    },
    "ServiceResources": {
      "id": "ServiceResources",
      "properties": {
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c",
          "readOnly": true
        }
      },
      "description": "Resources used by the Dataflow Service to run the job.",
      "type": "object"
    },
    "GPUUsage": {
      "description": "Information about the GPU usage on the worker.",
      "properties": {
        "utilization": {
          "$ref": "GPUUtilization",
          "description": "Required. Utilization info about the GPU."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Timestamp of the measurement."
        }
      },
      "type": "object",
      "id": "GPUUsage"
    },
    "ResourceUtilizationReport": {
      "id": "ResourceUtilizationReport",
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "type": "object",
      "properties": {
        "gpuUsage": {
          "description": "Optional. GPU usage samples.",
          "items": {
            "$ref": "GPUUsage"
          },
          "type": "array"
        },
        "containers": {
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          },
          "type": "object",
          "description": "Per container information. Key: container name."
        },
        "memoryInfo": {
          "items": {
            "$ref": "MemInfo"
          },
          "type": "array",
          "description": "Memory utilization samples."
        },
        "cpuTime": {
          "type": "array",
          "description": "CPU utilization samples.",
          "items": {
            "$ref": "CPUTime"
          }
        }
      }
    },
    "SendDebugCaptureResponse": {
      "description": "Response to a send capture request. nothing",
      "id": "SendDebugCaptureResponse",
      "properties": {},
      "type": "object"
    },
    "SourceMetadata": {
      "id": "SourceMetadata",
      "properties": {
        "estimatedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader."
        },
        "producesSortedKeys": {
          "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order.",
          "type": "boolean"
        },
        "infinite": {
          "type": "boolean",
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source)."
        }
      },
      "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc.",
      "type": "object"
    },
    "ResolveConfigStoreSettingRequest": {
      "type": "object",
      "id": "ResolveConfigStoreSettingRequest",
      "properties": {},
      "description": "Request message for ResolveConfigStoreSetting."
    },
    "StreamingSetupTask": {
      "type": "object",
      "properties": {
        "workerHarnessPort": {
          "format": "int32",
          "type": "integer",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness."
        },
        "receiveWorkPort": {
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "type": "integer",
          "format": "int32"
        },
        "snapshotConfig": {
          "$ref": "StreamingApplianceSnapshotConfig",
          "description": "Configures streaming appliance snapshot."
        },
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "drain": {
          "type": "boolean",
          "description": "The user has requested drain."
        }
      },
      "description": "A task which initializes part of a streaming Dataflow job.",
      "id": "StreamingSetupTask"
    },
    "StreamingOperationalLimits": {
      "type": "object",
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "properties": {
        "maxProductionOutputBytes": {
          "format": "int64",
          "description": "The maximum size for a single output element.",
          "type": "string"
        },
        "maxBagElementBytes": {
          "type": "string",
          "description": "The maximum size for an element in bag state.",
          "format": "int64"
        },
        "maxGlobalDataBytes": {
          "description": "The maximum size for an element in global data.",
          "format": "int64",
          "type": "string"
        },
        "maxSourceStateBytes": {
          "description": "The maximum size for a source state update.",
          "format": "int64",
          "type": "string"
        },
        "maxTagBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a state tag."
        },
        "maxValueBytes": {
          "description": "The maximum size for a value state field.",
          "format": "int64",
          "type": "string"
        },
        "maxSortedListElementBytes": {
          "type": "string",
          "description": "The maximum size for an element in sorted list state.",
          "format": "int64"
        },
        "maxKeyBytes": {
          "format": "int64",
          "description": "The maximum size allowed for a key.",
          "type": "string"
        }
      },
      "id": "StreamingOperationalLimits"
    },
    "SendWorkerMessagesResponse": {
      "type": "object",
      "id": "SendWorkerMessagesResponse",
      "properties": {
        "workerMessageResponses": {
          "description": "The servers response to the worker messages.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessageResponse"
          }
        }
      },
      "description": "The response to the worker messages."
    },
    "MapTask": {
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "type": "object",
      "properties": {
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "instructions": {
          "description": "The instructions in the MapTask.",
          "type": "array",
          "items": {
            "$ref": "ParallelInstruction"
          }
        },
        "counterPrefix": {
          "type": "string",
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow."
        },
        "stageName": {
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow.",
          "type": "string"
        }
      },
      "id": "MapTask"
    },
    "ComponentSource": {
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        }
      },
      "id": "ComponentSource",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "type": "object"
    },
    "DataflowHistogramValue": {
      "properties": {
        "count": {
          "description": "Number of values recorded in this histogram.",
          "type": "string",
          "format": "int64"
        },
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Describes the bucket boundaries used in the histogram."
        },
        "bucketCounts": {
          "description": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "outlierStats": {
          "$ref": "OutlierStats",
          "description": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries."
        }
      },
      "type": "object",
      "description": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing.",
      "id": "DataflowHistogramValue"
    },
    "HotKeyDetection": {
      "id": "HotKeyDetection",
      "type": "object",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "properties": {
        "hotKeyAge": {
[...]
