{
  "ownerName": "Google",
  "protocol": "rest",
  "revision": "20260920",
  "baseUrl": "https://dataform.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://dataform.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataform.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://dataform.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://dataform.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://dataform.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://dataform.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://dataform.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://dataform.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://dataform.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://dataform.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://dataform.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataform.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://dataform.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://dataform.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://dataform.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://dataform.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    }
  ],
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "dataform",
  "title": "Dataform API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "rootUrl": "https://dataform.googleapis.com/",
  "servicePath": "",
  "id": "dataform:v1beta1",
  "version": "v1beta1",
  "description": "Service to develop, version control, and operationalize SQL pipelines in BigQuery.",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "SqlDefinition": {
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        }
      },
      "description": "Definition of a SQL Data Preparation",
      "type": "object",
      "id": "SqlDefinition"
    },
    "DirectoryEntry": {
      "id": "DirectoryEntry",
      "properties": {
        "directory": {
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        },
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        },
        "file": {
          "description": "A file in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        }
      },
      "description": "Represents a single entry in a directory.",
      "type": "object"
    },
    "ListWorkflowConfigsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workflowConfigs": {
          "items": {
            "$ref": "WorkflowConfig"
          },
          "description": "List of workflow configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`ListWorkflowConfigs` response message.",
      "type": "object",
      "id": "ListWorkflowConfigsResponse"
    },
    "RemoveDirectoryResponse": {
      "description": "`RemoveDirectory` response message.",
      "id": "RemoveDirectoryResponse",
      "properties": {},
      "type": "object"
    },
    "WriteFileResponse": {
      "properties": {},
      "description": "`WriteFile` response message.",
      "id": "WriteFileResponse",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "description": "`ListWorkspaces` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workspaces": {
          "type": "array",
          "description": "List of workspaces.",
          "items": {
            "$ref": "Workspace"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "RemoveFileRequest": {
      "description": "`RemoveFile` request message.",
      "id": "RemoveFileRequest",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "DataPreparation": {
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines a compiled Data Preparation entity",
      "id": "DataPreparation",
      "type": "object"
    },
    "EndUserAuthenticationConfig": {
      "type": "object",
      "id": "EndUserAuthenticationConfig",
      "description": "Includes configuration options for end user authentication.",
      "properties": {
        "userEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the user to run workflow invocations under."
        },
        "oauthConfig": {
          "description": "Optional. OAuth configuration for end user authentication.",
          "$ref": "OAuthConfig"
        }
      }
    },
    "UncommittedFileChange": {
      "properties": {
        "path": {
          "description": "The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "description": "Output only. Indicates the status of the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UncommittedFileChange",
      "description": "Represents the Git state of a file with uncommitted changes.",
      "type": "object"
    },
    "TeamFolderContentsEntry": {
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        }
      },
      "type": "object",
      "id": "TeamFolderContentsEntry",
      "description": "Represents a single content entry."
    },
    "TeamFolderSearchResult": {
      "properties": {
        "teamFolder": {
          "$ref": "TeamFolder",
          "description": "A TeamFolder resource that is in the project / location."
        }
      },
      "description": "Represents a single content entry.",
      "type": "object",
      "id": "TeamFolderSearchResult"
    },
    "Relation": {
      "type": "object",
      "description": "Represents a database relation.",
      "properties": {
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "clusterExpressions": {
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relationType": {
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ]
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "fileFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "description": "Optional. The file format for the BigQuery table.",
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ]
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tableFormat": {
          "description": "Optional. The table format for the BigQuery table.",
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "type": "string",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "connection": {
          "type": "string",
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT."
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "partitionExpirationDays": {
          "format": "int32",
          "description": "Sets the partition expiration in days.",
          "type": "integer"
        },
        "preOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before creating the relation.",
          "type": "array"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        },
        "additionalOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported."
        },
        "storageUri": {
          "type": "string",
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`."
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "partitionExpression": {
          "type": "string",
          "description": "The SQL expression used to partition the relation."
        }
      },
      "id": "Relation"
    },
    "FetchFileGitStatusesResponse": {
      "id": "FetchFileGitStatusesResponse",
      "type": "object",
      "description": "`FetchFileGitStatuses` response message.",
      "properties": {
        "uncommittedFileChanges": {
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "type": "array"
        }
      }
    },
    "SearchTeamFoldersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "results": {
          "items": {
            "$ref": "TeamFolderSearchResult"
          },
          "type": "array",
          "description": "List of TeamFolders that match the search query."
        }
      },
      "description": "`SearchTeamFolders` response message.",
      "type": "object",
      "id": "SearchTeamFoldersResponse"
    },
    "DataEncryptionState": {
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Required. The KMS key version name with which data of a resource is encrypted."
        }
      },
      "id": "DataEncryptionState",
      "description": "Describes encryption state of a resource.",
      "type": "object"
    },
    "CommitMetadata": {
      "description": "Represents a Dataform Git commit.",
      "type": "object",
      "id": "CommitMetadata",
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      }
    },
    "IncrementalLoadMode": {
      "properties": {
        "column": {
          "type": "string",
          "description": "Column name for incremental load modes"
        }
      },
      "description": "Load definition for incremental load modes",
      "type": "object",
      "id": "IncrementalLoadMode"
    },
    "QueryTeamFolderContentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "items": {
            "$ref": "TeamFolderContentsEntry"
          },
          "description": "List of entries in the TeamFolder.",
          "type": "array"
        }
      },
      "description": "`QueryTeamFolderContents` response message.",
      "id": "QueryTeamFolderContentsResponse",
      "type": "object"
    },
    "ScheduledReleaseRecord": {
      "properties": {
        "releaseTime": {
          "description": "Output only. The timestamp of this release attempt.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "compilationResult": {
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        }
      },
      "id": "ScheduledReleaseRecord",
      "type": "object",
      "description": "A record of an attempt to create a compilation result for this release config."
    },
    "CommitRepositoryChangesRequest": {
      "id": "CommitRepositoryChangesRequest",
      "properties": {
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        },
        "fileOperations": {
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileOperation"
          }
        },
        "requiredHeadCommitSha": {
          "type": "string",
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed."
        }
      },
      "type": "object",
      "description": "`CommitRepositoryChanges` request message."
    },
    "SshAuthenticationConfig": {
      "properties": {
        "hostPublicKey": {
          "type": "string",
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host."
        },
        "userPrivateKeySecretVersion": {
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "description": "Configures fields for performing SSH authentication.",
      "type": "object",
      "id": "SshAuthenticationConfig"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "FilesystemEntryMetadata": {
      "description": "Represents metadata for a single entry in a filesystem.",
      "id": "FilesystemEntryMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Represents the time of the last modification of the entry.",
          "readOnly": true
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "FolderContentsEntry": {
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        }
      },
      "id": "FolderContentsEntry",
      "type": "object",
      "description": "Represents a single content entry."
    },
    "PushGitCommitsResponse": {
      "type": "object",
      "properties": {},
      "description": "`PushGitCommits` response message.",
      "id": "PushGitCommitsResponse"
    },
    "ActionLoadConfig": {
      "id": "ActionLoadConfig",
      "description": "Simplified load configuration for actions",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "unique": {
          "$ref": "ActionIncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        }
      },
      "type": "object"
    },
    "QueryWorkflowInvocationActionsResponse": {
      "description": "`QueryWorkflowInvocationActions` response message.",
      "type": "object",
      "properties": {
        "workflowInvocationActions": {
          "description": "List of workflow invocation actions.",
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryWorkflowInvocationActionsResponse"
    },
    "ListReleaseConfigsResponse": {
      "description": "`ListReleaseConfigs` response message.",
      "type": "object",
      "id": "ListReleaseConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releaseConfigs": {
          "description": "List of release configs.",
          "type": "array",
          "items": {
            "$ref": "ReleaseConfig"
          }
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "WorkflowTriggerConfig": {
      "description": "Represents a trigger configuration for a workflow.",
      "id": "WorkflowTriggerConfig",
      "properties": {
        "condition": {
          "description": "Optional. The condition to use when triggering the workflow.",
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "ALL",
            "ANY"
          ],
          "enumDescriptions": [
            "If CONDITION_UNSPECIFIED, the default value is ANY.",
            "If ALL, all the trigger config conditions must be met before a workflow is invoked.",
            "If ANY, at least one of the trigger config conditions must be met before a workflow is invoked."
          ]
        },
        "maxWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The effective maximum wait time duration for the trigger condition to be met. If not specified, the workflow won't be triggered until conditions are met."
        },
        "minExecutionDuration": {
          "type": "string",
          "description": "Optional. Minimum duration between two consecutive executions. If not specified, the workflow will be executed every time trigger conditions are met and there is no ongoing workflow execution.",
          "format": "google-duration"
        },
        "recentTriggerEvaluationRecords": {
          "type": "array",
          "description": "Output only. Records of the 10 most recent trigger evaluations, ordered in descending order of `evaluation_time`. Updated whenever the service evaluates the trigger conditions (via polling or upon receiving a push event).",
          "items": {
            "$ref": "TriggerEvaluationRecord"
          },
          "readOnly": true
        },
        "lastSuccessfulEvaluationTime": {
          "type": "string",
          "description": "Output only. The timestamp of the last successful trigger evaluation.",
          "format": "google-datetime",
          "readOnly": true
        },
        "workflowTriggers": {
          "type": "array",
          "items": {
            "$ref": "WorkflowTrigger"
          },
          "description": "Required. The trigger definitions to invoke a workflow."
        }
      },
      "type": "object"
    },
    "CompilationResultAction": {
      "id": "CompilationResultAction",
      "type": "object",
      "description": "Represents a single Dataform action in a compilation result.",
      "properties": {
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "bigqueryUnitTest": {
          "description": "The unit test executed by this action.",
          "$ref": "BigQueryUnitTest"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "declaration": {
          "$ref": "Declaration",
          "description": "The declaration declared by this action."
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "relation": {
          "description": "The database relation created/updated by this action.",
          "$ref": "Relation"
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        },
        "assertion": {
          "$ref": "Assertion",
          "description": "The assertion executed by this action."
        }
      }
    },
    "MoveDirectoryResponse": {
      "id": "MoveDirectoryResponse",
      "properties": {},
      "type": "object",
      "description": "`MoveDirectory` response message."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      },
      "id": "Interval"
    },
    "MoveDirectoryRequest": {
      "type": "object",
      "id": "MoveDirectoryRequest",
      "description": "`MoveDirectory` request message.",
      "properties": {
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      }
    },
    "FetchGitAheadBehindResponse": {
      "properties": {
        "commitsAhead": {
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "type": "integer",
          "format": "int32"
        },
        "commitsBehind": {
          "format": "int32",
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "type": "integer"
        }
      },
      "id": "FetchGitAheadBehindResponse",
      "type": "object",
      "description": "`FetchGitAheadBehind` response message."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "MoveFolderRequest": {
      "type": "object",
      "id": "MoveFolderRequest",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "description": "`MoveFolder` request message."
    },
    "WorkflowInvocationAction": {
      "id": "WorkflowInvocationAction",
      "description": "Represents a single action in a workflow invocation.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "bigqueryUnitTestAction": {
          "$ref": "BigQueryUnitTestAction",
          "description": "Output only. The workflow action's unit test details.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "type": "string",
          "description": "Output only. This action's current state.",
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ]
        },
        "canonicalTarget": {
          "readOnly": true,
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "dataPreparationAction": {
          "description": "Output only. The workflow action's data preparation action details.",
          "$ref": "DataPreparationAction",
          "readOnly": true
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true
        },
        "bigqueryAction": {
          "description": "Output only. The workflow action's bigquery action details.",
          "$ref": "BigQueryAction",
          "readOnly": true
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "$ref": "Interval"
        },
        "target": {
          "$ref": "Target",
          "readOnly": true,
          "description": "Output only. This action's identifier. Unique within the workflow invocation."
        },
        "notebookAction": {
          "description": "Output only. The workflow action's notebook action details.",
          "$ref": "NotebookAction",
          "readOnly": true
        }
      }
    },
    "SyncWorkspaceRefsRequest": {
      "properties": {
        "deepen": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Can be used to deepen the commit history of shallow clones. Git documentation: https://git-scm.com/docs/git-fetch#Documentation/git-fetch.txt---deependepth"
        },
        "remoteBranchName": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote to which the refs should be fetched for. If left unset, all remote branches will be fetched."
        }
      },
      "description": "`SyncWorkspaceRefs` request message.",
      "id": "SyncWorkspaceRefsRequest",
      "type": "object"
    },
    "BigQueryUnitTest": {
      "type": "object",
      "properties": {
        "expectedOutputQuery": {
          "description": "Expected output query to compare against the test query.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "testQuery": {
          "type": "string",
          "description": "Test query to execute."
        },
        "displayName": {
          "description": "The name of the unit test.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action."
        }
      },
      "id": "BigQueryUnitTest",
      "description": "Represents a BigQuery unit test."
    },
    "ScheduledExecutionRecord": {
      "id": "ScheduledExecutionRecord",
      "type": "object",
      "properties": {
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "executionTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of this execution attempt."
        },
        "workflowInvocation": {
          "type": "string",
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`."
        }
      },
      "description": "A record of an attempt to create a workflow invocation for this workflow config."
    },
    "WorkflowTrigger": {
      "properties": {
        "tableUpdateTrigger": {
          "description": "The table update trigger configuration.",
          "$ref": "TableUpdateTrigger"
        }
      },
      "description": "The trigger definition to invoke a workflow.",
      "id": "WorkflowTrigger",
      "type": "object"
    },
    "GcsRepositorySnapshotDestination": {
      "description": "Configures the destination for a repository snapshot.",
      "type": "object",
      "id": "GcsRepositorySnapshotDestination",
      "properties": {
        "repositorySnapshotUri": {
          "description": "Optional. The Google Cloud Storage destination to upload the repository snapshot to. Format: `gs://bucket-name/path/`.",
          "type": "string"
        }
      }
    },
    "RootContentsEntry": {
      "type": "object",
      "description": "Represents a single content entry.",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "id": "RootContentsEntry"
    },
    "FetchWorkspaceBranchesResponse": {
      "type": "object",
      "properties": {
        "branches": {
          "description": "The branches in the workspace.",
          "items": {
            "$ref": "BranchMetadata"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "FetchWorkspaceBranchesResponse",
      "description": "Response message for `FetchWorkspaceBranches` method."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "DeleteTeamFolderTreeRequest": {
      "description": "`DeleteTeamFolderTree` request message.",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "id": "DeleteTeamFolderTreeRequest"
    },
    "ActionSqlDefinition": {
      "properties": {
        "errorTable": {
          "$ref": "ActionErrorTable",
          "description": "Error table configuration,"
        },
        "loadConfig": {
          "description": "Load configuration.",
          "$ref": "ActionLoadConfig"
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        }
      },
      "description": "Definition of a SQL Data Preparation",
      "id": "ActionSqlDefinition",
      "type": "object"
    },
    "Declaration": {
      "type": "object",
      "properties": {
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata."
        }
      },
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "id": "Declaration"
    },
    "DeleteFolderTreeRequest": {
      "description": "`DeleteFolderTree` request message.",
      "id": "DeleteFolderTreeRequest",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      }
    },
    "IncrementalTableConfig": {
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "id": "IncrementalTableConfig",
      "properties": {
        "updatePartitionFilter": {
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information).",
          "type": "string"
        },
        "incrementalPreOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "type": "array"
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        },
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        },
        "uniqueKeyParts": {
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "incrementalPostOperations": {
          "type": "array",
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "WorkflowInvocation": {
      "description": "Represents a single invocation of a compilation result.",
      "id": "WorkflowInvocation",
      "properties": {
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "invocationTiming": {
          "readOnly": true,
          "$ref": "Interval",
          "description": "Output only. This workflow invocation's timing details."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This workflow invocation's current state.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ]
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true,
          "type": "string"
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "resolvedCompilationResult": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped."
        },
        "pipelineConfig": {
          "readOnly": true,
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      },
      "type": "object"
    },
    "CommitAuthor": {
      "type": "object",
      "description": "Represents the author of a Git commit.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Required. The commit author's email address."
        },
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        }
      },
      "id": "CommitAuthor"
    },
    "PolicyName": {
      "properties": {
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        },
        "type": {
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "id": "PolicyName"
    },
    "DeleteBranchRequest": {
      "type": "object",
      "id": "DeleteBranchRequest",
      "properties": {
        "branch": {
          "type": "string",
          "description": "Required. The name of the branch in the Git repository to delete."
        },
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, any non-pushed commits on the branch will be deleted. Upstream branch name will be the same as the branch to delete."
        }
      },
      "description": "`DeleteBranch` request message."
    },
    "ResetWorkspaceChangesResponse": {
      "type": "object",
      "properties": {},
      "description": "`ResetWorkspaceChanges` response message.",
      "id": "ResetWorkspaceChangesResponse"
    },
    "CodeCompilationConfig": {
      "properties": {
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        },
        "builtinAssertionNamePrefix": {
          "description": "Optional. The prefix to prepend to built-in assertion names.",
          "type": "string"
        },
        "vars": {
          "type": "object",
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "defaultLocation": {
          "type": "string",
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations."
        },
        "defaultSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID)."
        },
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      },
      "description": "Configures various aspects of Dataform code compilation.",
      "id": "CodeCompilationConfig",
      "type": "object"
    },
    "CompilationResult": {
      "id": "CompilationResult",
      "description": "Represents the result of compiling a Dataform project.",
      "properties": {
        "dataformCoreVersion": {
          "readOnly": true,
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "type": "string"
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "$ref": "PrivateResourceMetadata"
        },
        "name": {
          "description": "Output only. The compilation result's name.",
          "type": "string",
          "readOnly": true
        },
        "compilationErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Errors encountered during project compilation.",
          "items": {
            "$ref": "CompilationError"
          }
        },
        "releaseConfig": {
          "type": "string",
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "resolvedGitCommitSha": {
          "readOnly": true,
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "type": "string"
        },
        "gitCommitish": {
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the compilation result was created.",
          "format": "google-datetime"
        },
        "codeCompilationConfig": {
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "gcsRepositorySnapshotMetadata": {
          "$ref": "GcsRepositorySnapshotMetadata",
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "QueryDirectoryContentsResponse": {
      "description": "`QueryDirectoryContents` response message.",
      "id": "QueryDirectoryContentsResponse",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array",
          "description": "List of entries in the directory."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "FileOperation": {
      "id": "FileOperation",
      "properties": {
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        },
        "deleteFile": {
          "description": "Represents the delete operation.",
          "$ref": "DeleteFile"
        }
      },
      "type": "object",
      "description": "Represents a single file operation to the repository."
    },
    "Assertion": {
      "id": "Assertion",
      "properties": {
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the assertion's automatically-generated view and its columns."
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        }
      },
      "type": "object",
      "description": "Represents an assertion upon a SQL query which is required return zero rows."
    },
    "RelationDescriptor": {
      "properties": {
        "columns": {
          "description": "A list of descriptions of columns within the relation.",
          "items": {
            "$ref": "ColumnDescriptor"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A text description of the relation."
        },
        "bigqueryLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A set of BigQuery labels that should be applied to the relation.",
          "type": "object"
        }
      },
      "id": "RelationDescriptor",
      "type": "object",
      "description": "Describes a relation and its columns."
    },
    "TableUpdateTrigger": {
      "type": "object",
      "description": "Represents a table update trigger configuration.",
      "properties": {
        "triggerUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The modification time of this table that resulted in an invocation of the workflow. This would be updated by the triggering service after a successful workflow invocation.",
          "format": "google-datetime"
        },
        "table": {
          "description": "The target table to trigger the workflow.",
          "$ref": "Target"
        }
      },
      "id": "TableUpdateTrigger"
    },
    "ActionSimpleLoadMode": {
      "description": "Simple load definition",
      "type": "object",
      "properties": {},
      "id": "ActionSimpleLoadMode"
    },
    "WriteFileRequest": {
      "description": "`WriteFile` request message.",
      "id": "WriteFileRequest",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "Required. The file's contents.",
          "type": "string"
        },
        "path": {
          "description": "Required. The file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SyncWorkspaceRefsResponse": {
      "description": "`SyncWorkspaceRefs` response message.",
      "type": "object",
      "properties": {},
      "id": "SyncWorkspaceRefsResponse"
    },
    "CancelWorkflowInvocationResponse": {
      "description": "`CancelWorkflowInvocation` response message.",
      "type": "object",
      "id": "CancelWorkflowInvocationResponse",
      "properties": {}
    },
    "Operations": {
      "type": "object",
      "id": "Operations",
      "description": "Represents a list of arbitrary database operations.",
      "properties": {
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        }
      }
    },
    "Target": {
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "properties": {
        "database": {
          "type": "string",
          "description": "Optional. The action's database (Google Cloud project ID) ."
        },
        "name": {
          "description": "Optional. The action's name, within `database` and `schema`.",
          "type": "string"
        },
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Target"
    },
    "ActionIncrementalLoadMode": {
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "description": "Load definition for incremental load modes",
      "id": "ActionIncrementalLoadMode",
      "type": "object"
    },
    "Notebook": {
      "id": "Notebook",
      "type": "object",
      "description": "Represents a notebook.",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "contents": {
          "type": "string",
          "description": "The contents of the notebook."
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object",
      "id": "Expr"
    },
    "PullGitCommitsResponse": {
      "id": "PullGitCommitsResponse",
      "description": "`PullGitCommits` response message.",
      "properties": {},
      "type": "object"
    },
    "Folder": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the Folder was created.",
          "readOnly": true
        },
        "creatorIamPrincipal": {
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the Folder was last updated."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "teamFolderName": {
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "type": "object",
      "id": "Folder"
    },
    "Config": {
      "description": "Config for all repositories in a given project and location.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "defaultKmsKeyName": {
          "type": "string",
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The config name."
        }
      },
      "id": "Config"
    },
    "InstallNpmPackagesRequest": {
      "type": "object",
      "id": "InstallNpmPackagesRequest",
      "description": "`InstallNpmPackages` request message.",
      "properties": {
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      }
    },
    "ReadFileResponse": {
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "`ReadFile` response message.",
      "id": "ReadFileResponse",
      "type": "object"
    },
    "SearchFilesResponse": {
      "id": "SearchFilesResponse",
      "type": "object",
      "description": "Client-facing representation of a file search response.",
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "SearchResult"
          },
          "description": "List of matched results.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ErrorTable": {
      "id": "ErrorTable",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed."
        },
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        }
      },
      "description": "Error table information, used to write error data into a BigQuery table.",
      "type": "object"
    },
    "CommitLogEntry": {
      "description": "Represents a single commit log.",
      "id": "CommitLogEntry",
      "type": "object",
      "properties": {
        "commitMessage": {
          "description": "The commit message for this commit log entry.",
          "type": "string"
        },
        "commitSha": {
          "description": "The commit SHA for this commit log entry.",
          "type": "string"
        },
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        },
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Commit timestamp."
        }
      }
    },
    "CompilationError": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "readOnly": true
        },
        "actionTarget": {
          "$ref": "Target",
          "readOnly": true,
          "description": "Output only. The identifier of the action where this error occurred, if available."
        },
        "stack": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error's full stack trace."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error's top level message."
        }
      },
      "id": "CompilationError",
      "type": "object",
      "description": "An error encountered when attempting to compile a Dataform project."
    },
    "GitRemoteSettings": {
      "properties": {
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "effectiveDefaultBranch": {
          "type": "string",
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true
        },
        "defaultBranch": {
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used.",
          "type": "string"
        },
        "sshAuthenticationConfig": {
          "$ref": "SshAuthenticationConfig",
          "description": "Optional. Authentication fields for remote uris using SSH protocol."
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`"
        },
        "tokenStatus": {
          "type": "string",
          "description": "Output only. Deprecated: The field does not contain any token status information. Instead use https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories/computeAccessTokenStatus",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "deprecated": true,
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GitRemoteSettings",
      "description": "Controls Git remote configuration for a repository."
    },
    "DataPreparationAction": {
      "properties": {
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        },
        "contentsYaml": {
          "readOnly": true,
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow.",
          "type": "string"
        },
        "generatedSql": {
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "readOnly": true,
          "type": "string"
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "ActionSqlDefinition"
        }
      },
      "description": "Represents a workflow action that will run a Data Preparation.",
      "type": "object",
      "id": "DataPreparationAction"
    },
    "QueryCompilationResultActionsResponse": {
      "type": "object",
      "description": "`QueryCompilationResultActions` response message.",
      "id": "QueryCompilationResultActionsResponse",
      "properties": {
        "compilationResultActions": {
          "description": "List of compilation result actions.",
          "items": {
            "$ref": "CompilationResultAction"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "PrivateResourceMetadata": {
      "description": "Metadata used to identify if a resource is user scoped.",
      "type": "object",
      "id": "PrivateResourceMetadata",
      "properties": {
        "userScoped": {
          "readOnly": true,
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace.",
          "type": "boolean"
        }
      }
    },
    "DeleteBranchResponse": {
      "properties": {},
      "description": "`DeleteBranch` response message.",
      "type": "object",
      "id": "DeleteBranchResponse"
    },
    "ListCompilationResultsResponse": {
      "description": "`ListCompilationResults` response message.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "compilationResults": {
          "type": "array",
          "description": "List of compilation results.",
          "items": {
            "$ref": "CompilationResult"
          }
        }
      },
      "id": "ListCompilationResultsResponse",
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "List of repositories."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      },
      "description": "`ListRepositories` response message."
    },
    "WorkflowConfig": {
      "properties": {
        "recentScheduledExecutionRecords": {
          "readOnly": true,
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "type": "array"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "format": "google-datetime"
        },
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Optional. If left unset, a default InvocationConfig will be used."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of workflow invocations."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "workflowTriggerConfig": {
          "description": "Optional. Trigger configuration for this workflow. If present, the workflow will be triggered based on the specified triggers.",
          "$ref": "WorkflowTriggerConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the WorkflowConfig was created.",
          "format": "google-datetime"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "releaseConfig": {
          "type": "string",
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "name": {
          "description": "Identifier. The workflow config's name.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig",
      "type": "object"
    },
    "NotebookAction": {
      "properties": {
        "contents": {
          "readOnly": true,
          "description": "Output only. The code contents of a Notebook to be run.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run."
        },
        "filePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the notebook file in the repository."
        }
      },
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "id": "NotebookAction",
      "type": "object"
    },
    "CancelWorkflowInvocationRequest": {
      "type": "object",
      "id": "CancelWorkflowInvocationRequest",
      "properties": {},
      "description": "`CancelWorkflowInvocation` request message."
    },
    "QueryUserRootContentsResponse": {
      "type": "object",
      "description": "`QueryUserRootContents` response message.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "RootContentsEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryUserRootContentsResponse"
    },
    "FileSearchResult": {
      "id": "FileSearchResult",
      "type": "object",
      "description": "Client-facing representation of a file entry in search results.",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the file tree root."
        }
      }
    },
    "InstallNpmPackagesResponse": {
      "type": "object",
      "id": "InstallNpmPackagesResponse",
      "properties": {},
      "description": "`InstallNpmPackages` response message."
    },
    "Workspace": {
      "properties": {
        "dataEncryptionState": {
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The workspace's name."
        },
        "shallow": {
          "description": "Output only. If set to true, the workspace was created as a shallow clone. Will be set to true if the depth field is set to a value greater than 0, otherwise it will be set to false.",
          "type": "boolean",
          "readOnly": true
        },
        "depth": {
          "description": "Optional. Input only. Immutable. The maximum depth of the Git repository to checkout for this workspace. If defined and greater than 0, the Git repository will be created as a shallow clone with the given depth, otherwise a full clone will be performed. This field is available only for GitHub, GitLab and 1p repositories with enabled branch management.",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the workspace was created.",
          "type": "string",
          "readOnly": true
        },
        "enableBranchManagement": {
          "type": "boolean",
          "description": "Immutable. Controls the enablement of branch checkout for the workspace. When set to True, the workspace will be allowed to checkout branches."
        },
        "originalBranch": {
          "description": "Optional. Input only. Immutable. The name of the default upstream branch for all pull/push operations in the remote repository for this workspace. If empty, the HEAD branch from repository will be used.",
          "type": "string"
        },
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`.",
[...]
