{
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/database-center/docs/overview",
  "rootUrl": "https://databasecenter.googleapis.com/",
  "resources": {
    "organizations": {
      "methods": {
        "aggregateQueryStats": {
          "response": {
            "$ref": "AggregateQueryStatsResponse"
          },
          "path": "v1beta/{+parent}:aggregateQueryStats",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "AggregateQueryStatsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "databasecenter.organizations.aggregateQueryStats",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `parent`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")"
            }
          },
          "description": "AggregateQueryStats provides database resource query execution statistics.",
          "flatPath": "v1beta/organizations/{organizationsId}:aggregateQueryStats"
        }
      }
    },
    "folders": {
      "methods": {
        "aggregateQueryStats": {
          "id": "databasecenter.folders.aggregateQueryStats",
          "flatPath": "v1beta/folders/{foldersId}:aggregateQueryStats",
          "description": "AggregateQueryStats provides database resource query execution statistics.",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `parent`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1beta/{+parent}:aggregateQueryStats",
          "response": {
            "$ref": "AggregateQueryStatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "AggregateQueryStatsRequest"
          },
          "parameterOrder": [
            "parent"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "aggregateQueryStats": {
          "request": {
            "$ref": "AggregateQueryStatsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "path": "v1beta/{+parent}:aggregateQueryStats",
          "response": {
            "$ref": "AggregateQueryStatsResponse"
          },
          "flatPath": "v1beta/projects/{projectsId}:aggregateQueryStats",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `parent`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")"
            }
          },
          "description": "AggregateQueryStats provides database resource query execution statistics.",
          "id": "databasecenter.projects.aggregateQueryStats"
        }
      }
    },
    "v1beta": {
      "methods": {
        "queryProducts": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v1beta:queryProducts",
          "response": {
            "$ref": "QueryProductsResponse"
          },
          "flatPath": "v1beta:queryProducts",
          "description": "QueryProducts provides a list of all possible products which can be used to filter database resources.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLocations` call. Provide this to retrieve the subsequent page. All other parameters except page size should match the call that provided the page page token.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "description": "Required. Parent can be a project, a folder, or an organization. The allowed values are: * projects/{PROJECT_ID}/locations/{LOCATION} (e.g.,\"projects/foo-bar/locations/us-central1\") * projects/{PROJECT_NUMBER}/locations/{LOCATION} (e.g.,\"projects/12345678/locations/us-central1\") * folders/{FOLDER_NUMBER}/locations/{LOCATION} (e.g.,\"folders/1234567/locations/us-central1\") * organizations/{ORGANIZATION_NUMBER}/locations/{LOCATION} (e.g.,\"organizations/123456/locations/us-central1\") * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "id": "databasecenter.queryProducts"
        },
        "aggregateIssueStats": {
          "path": "v1beta:aggregateIssueStats",
          "response": {
            "$ref": "AggregateIssueStatsResponse"
          },
          "request": {
            "$ref": "AggregateIssueStatsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "id": "databasecenter.aggregateIssueStats",
          "flatPath": "v1beta:aggregateIssueStats",
          "httpMethod": "POST",
          "parameters": {},
          "description": "AggregateIssueStats provides database resource issues statistics."
        },
        "aggregateFleet": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AggregateFleetResponse"
          },
          "path": "v1beta:aggregateFleet",
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Optional. The expression to filter resources. Supported fields are: `full_resource_name`, `resource_type`, `container`, `product.type`, `product.engine`, `product.version`, `location`, `labels`, `issues`, fields of availability_info, data_protection_info, 'resource_name', etc. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"`",
              "location": "query"
            },
            "baselineDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "orderBy": {
              "description": "Optional. Valid values to order by are: * resource_groups_count * resources_count * and all fields supported by `group_by` The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It supports ordering using multiple fields. For example: `order_by = \"resource_groups_count\"` sorts response in ascending order `order_by = \"resource_groups_count DESC\"` sorts response in descending order `order_by = \"product.type, product.version DESC, location\"` orders by type in ascending order, version in descending order and location in ascending order",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `AggregateFleet` call. Provide this to retrieve the subsequent page. All other parameters should match the parameters in the call that provided the page token except for page_size which can be different.",
              "location": "query"
            },
            "baselineDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "parent": {
              "type": "string",
              "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. If unspecified, at most 50 items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "groupBy": {
              "description": "Optional. A field that statistics are grouped by. Valid values are any combination of the following: * container * product.type * product.engine * product.version * location * sub_resource_type * management_type * tag.key * tag.value * tag.source * tag.inherited * label.key * label.value * label.source * has_maintenance_schedule * has_deny_maintenance_schedules Comma separated list.",
              "location": "query",
              "type": "string"
            },
            "baselineDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "AggregateFleet provides statistics about the fleet grouped by various fields.",
          "flatPath": "v1beta:aggregateFleet",
          "id": "databasecenter.aggregateFleet"
        },
        "queryIssues": {
          "response": {
            "$ref": "QueryIssuesResponse"
          },
          "path": "v1beta:queryIssues",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "QueryIssuesRequest"
          },
          "id": "databasecenter.queryIssues",
          "description": "QueryIssues provides a list of issues and recommendations that a user has access to and that are within the requested scope.",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1beta:queryIssues"
        },
        "queryDatabaseResourceGroups": {
          "flatPath": "v1beta:queryDatabaseResourceGroups",
          "description": "QueryDatabaseResourceGroups returns paginated results of database groups.",
          "httpMethod": "POST",
          "parameters": {},
          "id": "databasecenter.queryDatabaseResourceGroups",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "QueryDatabaseResourceGroupsRequest"
          },
          "parameterOrder": [],
          "path": "v1beta:queryDatabaseResourceGroups",
          "response": {
            "$ref": "QueryDatabaseResourceGroupsResponse"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://databasecenter.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "endpoints": [
    {
      "endpointUrl": "https://databasecenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Database Center API",
  "basePath": "",
  "name": "databasecenter",
  "version": "v1beta",
  "schemas": {
    "Dimension": {
      "id": "Dimension",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the resources. It supports returning only regional locations in Google Cloud."
        },
        "hasMaintenanceSchedule": {
          "type": "boolean",
          "description": "Whether the resource has a maintenance schedule."
        },
        "subResourceType": {
          "description": "Subtype of the resource specified at creation time.",
          "enumDescriptions": [
            "Unspecified.",
            "A resource acting as a primary.",
            "A resource acting as a secondary.",
            "A resource acting as a read-replica.",
            "A resource acting as an external primary.",
            "A resource acting as a read pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For the rest of the categories."
          ],
          "enum": [
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "type": "string"
        },
        "productVersion": {
          "description": "Version of the underlying database engine",
          "type": "string"
        },
        "tagSource": {
          "type": "string",
          "description": "Tag source of the resource."
        },
        "tagKey": {
          "description": "Tag key of the resource.",
          "type": "string"
        },
        "labelKey": {
          "description": "Label key of the resource.",
          "type": "string"
        },
        "productEngine": {
          "description": "Engine refers to underlying database binary running in an instance.",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Deprecated: Use ENGINE_MEMORYSTORE_FOR_VALKEY instead.",
            "Memorystore with Valkey dialect.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine.",
            "Firestore with MongoDB compatibility.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "ENGINE_POSTGRES",
            "ENGINE_SQL_SERVER",
            "ENGINE_NATIVE",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORSTORE_FOR_VALKEY",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_OTHER"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "resourceType": {
          "description": "The type of resource defined according to the pattern: {Service Name}/{Type}. Ex: sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance spanner.googleapis.com/Instance",
          "type": "string"
        },
        "managementType": {
          "type": "string",
          "description": "The management type of the resource.",
          "enumDescriptions": [
            "Unspecified.",
            "Google-managed resource.",
            "Self-managed resource."
          ],
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "MANAGEMENT_TYPE_GCP_MANAGED",
            "MANAGEMENT_TYPE_SELF_MANAGED"
          ]
        },
        "hasDenyMaintenanceSchedules": {
          "description": "Whether the resource has deny maintenance schedules.",
          "type": "boolean"
        },
        "container": {
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project.",
          "type": "string"
        },
        "edition": {
          "type": "string",
          "description": "The edition of the resource.",
          "enumDescriptions": [
            "Default, to make it consistent with instance edition enum.",
            "Represents the enterprise edition.",
            "Represents the enterprise plus edition.",
            "Represents the standard edition."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ]
        },
        "productType": {
          "type": "string",
          "description": "Type to identify a product",
          "enumDescriptions": [
            "PRODUCT_TYPE_UNSPECIFIED means product type is not known or that the user didn't provide this field in the request.",
            "Cloud SQL product area in Google Cloud",
            "AlloyDB product area in Google Cloud",
            "Spanner product area in Google Cloud",
            "Bigtable product area in Google Cloud",
            "Memorystore product area in Google Cloud",
            "Firestore product area in Google Cloud",
            "Compute Engine self managed databases",
            "Oracle product area in Google Cloud",
            "BigQuery product area in Google Cloud",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ]
        },
        "resourceCategory": {
          "description": "The category of the resource.",
          "enumDescriptions": [
            "Unspecified.",
            "A resource that is an Instance.",
            "A resource that is a Cluster.",
            "A resource that is a Database.",
            "A resource that is a Dataset.",
            "A resource that is a Reservation."
          ],
          "enum": [
            "RESOURCE_CATEGORY_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER",
            "DATABASE",
            "DATASET",
            "RESERVATION"
          ],
          "type": "string"
        },
        "tagValue": {
          "description": "Tag value of the resource.",
          "type": "string"
        },
        "labelSource": {
          "type": "string",
          "description": "Label source of the resource."
        },
        "labelValue": {
          "description": "Label value of the resource.",
          "type": "string"
        },
        "tagInherited": {
          "description": "Tag inheritance value of the resource.",
          "type": "boolean"
        }
      },
      "description": "Dimension used to aggregate the fleet."
    },
    "QueryDatabaseResourceGroupsResponse": {
      "properties": {
        "resourceGroups": {
          "description": "List of database resource groups that pass the filter.",
          "items": {
            "$ref": "DatabaseResourceGroup"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "string",
          "description": "Output only. The total number of resource groups in the entire list.",
          "readOnly": true,
          "format": "int64"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "QueryDatabaseResourceGroupsResponse",
      "type": "object",
      "description": "QueryDatabaseResourceGroupsResponse represents the response message containing a list of resource groups."
    },
    "Metrics": {
      "id": "Metrics",
      "type": "object",
      "properties": {
        "peakMemoryUtilization": {
          "description": "Peak memory utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
          "$ref": "MetricData"
        },
        "peakNumberConnections": {
          "$ref": "MetricData",
          "description": "Peak number of connections observed for the resource. The value is a positive integer."
        },
        "peakStorageUtilization": {
          "description": "Peak storage utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
          "$ref": "MetricData"
        },
        "p95CpuUtilization": {
          "$ref": "MetricData",
          "description": "P95 CPU utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases)."
        },
        "processingUnitCount": {
          "description": "Number of processing units in spanner.",
          "$ref": "MetricData"
        },
        "currentMemoryUsedBytes": {
          "$ref": "MetricData",
          "description": "Current memory used by the resource in bytes."
        },
        "nodeCount": {
          "$ref": "MetricData",
          "description": "Number of nodes in instance for spanner or bigtable."
        },
        "p99CpuUtilization": {
          "$ref": "MetricData",
          "description": "P99 CPU utilization observed for the resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases)."
        },
        "currentStorageUsedBytes": {
          "description": "Current storage used by the resource in bytes.",
          "$ref": "MetricData"
        }
      },
      "description": "Metrics represents the metrics for a database resource."
    },
    "ResourceMaintenanceDenySchedule": {
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Optional. The start date of the deny maintenance period."
        },
        "endDate": {
          "$ref": "Date",
          "description": "Optional. Deny period end date."
        },
        "time": {
          "description": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "ResourceMaintenanceDenySchedule",
      "type": "object",
      "description": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer."
    },
    "DatabaseResourceIssue": {
      "description": "DatabaseResource and Issue associated with it.",
      "properties": {
        "signal": {
          "$ref": "Signal",
          "description": "Signal associated with the issue."
        },
        "resource": {
          "$ref": "DatabaseResource",
          "description": "Resource associated with the issue."
        }
      },
      "id": "DatabaseResourceIssue",
      "type": "object"
    },
    "ResourceId": {
      "description": "ResourceId contains the identifier for a database resource, including the full resource name, resource type, and product.",
      "id": "ResourceId",
      "type": "object",
      "properties": {
        "product": {
          "$ref": "Product",
          "description": "The product of the resource, including the type, engine, and version."
        },
        "fullResourceName": {
          "description": "The full resource name of the resource.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of the resource. sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance",
          "type": "string"
        }
      }
    },
    "RecommendationInfo": {
      "description": "Info associated with recommendation.",
      "properties": {
        "recommenderId": {
          "type": "string",
          "description": "ID of recommender. Examples: \"google.cloudsql.instance.PerformanceRecommender\""
        },
        "recommender": {
          "type": "string",
          "description": "Name of recommendation. Examples: organizations/1234/locations/us-central1/recommenders/google.cloudsql.instance.PerformanceRecommender/recommendations/9876"
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.cloudsql.instance.PerformanceRecommender\", recommender_subtype can be \"MYSQL_HIGH_NUMBER_OF_OPEN_TABLES_BEST_PRACTICE\"/\"POSTGRES_HIGH_TRANSACTION_ID_UTILIZATION_BEST_PRACTICE\""
        }
      },
      "id": "RecommendationInfo",
      "type": "object"
    },
    "BackupDRConfig": {
      "description": "BackupDRConfig to capture the backup and disaster recovery details of database resource.",
      "properties": {
        "backupdrManaged": {
          "type": "boolean",
          "description": "Indicates if the resource is managed by BackupDR."
        }
      },
      "id": "BackupDRConfig",
      "type": "object"
    },
    "SignalProductsFilters": {
      "description": "SignalProductsFilters represents a signal and list of supported products.",
      "id": "SignalProductsFilters",
      "type": "object",
      "properties": {
        "signalType": {
          "type": "string",
          "description": "Optional. The type of signal.",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Deletion Protection Disabled for the resource",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster has suspended resources.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "Replication delay.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Represents a database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
            "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ]
        },
        "products": {
          "description": "Optional. Product type of the resource. The version of the product will be ignored in filtering.",
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        }
      }
    },
    "IssueStats": {
      "description": "IssueStats holds stats for a particular signal category.",
      "id": "IssueStats",
      "type": "object",
      "properties": {
        "issueSeverity": {
          "type": "string",
          "description": "Severity of the issue.",
          "enumDescriptions": [
            "Unspecified.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity.",
            "Irrelevant severity. This means the issue should not be surfaced at all."
          ],
          "enum": [
            "ISSUE_SEVERITY_UNSPECIFIED",
            "ISSUE_SEVERITY_LOW",
            "ISSUE_SEVERITY_MEDIUM",
            "ISSUE_SEVERITY_HIGH",
            "ISSUE_SEVERITY_CRITICAL",
            "ISSUE_SEVERITY_IRRELEVANT"
          ]
        },
        "signalType": {
          "description": "Type of signal which is an issue.",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Deletion Protection Disabled for the resource",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster has suspended resources.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "Replication delay.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Represents a database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
            "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "type": "string"
        },
        "resourceCount": {
          "format": "int32",
          "description": "Number of resources having issues of a given type.",
          "type": "integer"
        },
        "deltaDetails": {
          "description": "Optional. Delta counts and details of resources for which issue was raised or fixed.",
          "$ref": "DeltaDetails"
        }
      }
    },
    "ResourceDetails": {
      "id": "ResourceDetails",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Full resource name of the resource.",
          "type": "string"
        },
        "product": {
          "description": "Product type of the resource.",
          "$ref": "Product"
        },
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "container": {
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project.",
          "type": "string"
        }
      },
      "description": "Capture the resource details for resources that are included in the delta counts."
    },
    "SubResource": {
      "id": "SubResource",
      "type": "object",
      "properties": {
        "container": {
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project.",
          "type": "string"
        },
        "product": {
          "$ref": "Product",
          "description": "Optional. Product information associated with the sub resource where backup retention settings are configured. e.g. ``` product: { type : PRODUCT_TYPE_SPANNER engine : ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT } ``` for Spanner where backup is configured on database within an instance OPTIONAL"
        },
        "resourceType": {
          "description": "Optional. Resource type associated with the sub resource where backup settings are configured. E.g. \"spanner.googleapis.com/Database\" for Spanner where backup retention is configured on database within an instance OPTIONAL",
          "type": "string"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Optional. Resource name associated with the sub resource where backup settings are configured. E.g.\"//spanner.googleapis.com/projects/project1/instances/inst1/databases/db1\" for Spanner where backup retention is configured on database within an instance OPTIONAL"
        }
      },
      "description": "Sub resource details For Spanner/Bigtable instance certain data protection settings are at sub resource level like database/table. This message is used to capture such sub resource details."
    },
    "Label": {
      "description": "Label is a key value pair applied to a resource.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key part of the label."
        },
        "value": {
          "description": "The value part of the label.",
          "type": "string"
        },
        "source": {
          "description": "The source of the Label. Source is empty if the label is directly attached to the resource and not inherited.",
          "type": "string"
        }
      },
      "id": "Label",
      "type": "object"
    },
    "DeltaDetails": {
      "properties": {
        "increasedResources": {
          "description": "Details of resources that have increased.",
          "items": {
            "$ref": "ResourceDetails"
          },
          "type": "array"
        },
        "decreasedResources": {
          "description": "Details of resources that have decreased.",
          "items": {
            "$ref": "ResourceDetails"
          },
          "type": "array"
        }
      },
      "id": "DeltaDetails",
      "type": "object",
      "description": "Captures the details of items that have increased or decreased in some bucket when compared to some point in history. It is currently used to capture the delta of resources that have been added or removed in the fleet as well as to capture the resources that have a change in Issue/Signal status."
    },
    "QueryIssuesResponse": {
      "id": "QueryIssuesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceIssues": {
          "type": "array",
          "description": "List of issues and resource details.",
          "items": {
            "$ref": "DatabaseResourceIssue"
          }
        }
      },
      "description": "QueryIssuesResponse is the response containing a list of issues."
    },
    "AggregateQueryStatsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queryStats": {
          "type": "array",
          "description": "List of query stats where each group contains stats for resources having a particular combination of relevant query stats.",
          "items": {
            "$ref": "QueryStatsInfo"
          }
        }
      },
      "id": "AggregateQueryStatsResponse",
      "type": "object",
      "description": "The response message containing relevant query stats for database resources."
    },
    "Lineage": {
      "properties": {
        "targetFqn": {
          "type": "string",
          "description": "Optional. FQN of target table / column"
        },
        "processFqn": {
          "type": "string",
          "description": "Optional. FQN of process which created the lineage i.e. dataplex, datastream etc."
        },
        "processType": {
          "description": "Optional. Type of process which created the lineage.",
          "enumDescriptions": [
            "Unspecified process type.",
            "Composer process type.",
            "Datastream process type.",
            "Dataflow process type.",
            "Bigquery process type.",
            "Data fusion process type.",
            "Dataproc process type."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "COMPOSER",
            "DATASTREAM",
            "DATAFLOW",
            "BIGQUERY",
            "DATA_FUSION",
            "DATAPROC"
          ],
          "type": "string"
        },
        "sourceFqn": {
          "description": "Optional. FQN of source table / column",
          "type": "string"
        }
      },
      "id": "Lineage",
      "type": "object",
      "description": "lineage information of the affiliated resources This captures source, target and process which created the lineage."
    },
    "BackupRunInfo": {
      "description": "Metadata about latest backup run state for a database resource.",
      "id": "BackupRunInfo",
      "type": "object",
      "properties": {
        "operationErrorType": {
          "type": "string",
          "description": "Optional. OperationErrorType to expose specific error when backup operation of database resource failed, that is state is FAILED.",
          "enumDescriptions": [
            "UNSPECIFIED means operation error type is not known or available.",
            "Key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible.",
            "The zone or region does not have sufficient resources to handle the request at the moment.",
            "User initiated cancellation.",
            "SQL server specific error.",
            "Any other internal error."
          ],
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ]
        },
        "subResource": {
          "description": "Optional. Sub resource details associated with the backup run.",
          "$ref": "SubResource"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the backup operation completed.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of this run.",
          "enumDescriptions": [
            "Unspecified.",
            "The backup succeeded.",
            "The backup was unsuccessful."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the backup operation started.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        }
      }
    },
    "InefficientQueryInfo": {
      "description": "Metadata about inefficient query signal info for a database resource.",
      "properties": {
        "impactedQueriesCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of queries to be impacted if index is applied"
        },
        "storageCostBytes": {
          "type": "string",
          "description": "Cost of additional disk usage in bytes",
          "format": "int64"
        },
        "database": {
          "type": "string",
          "description": "Name of the database where index is required. For example, \"db1\", which is the name of the database present in the instance."
        },
        "table": {
          "type": "string",
          "description": "Name of the table where index is required"
        },
        "sqlIndexStatement": {
          "type": "string",
          "description": "SQL statement of the index. Based on the ddl type, this will be either CREATE INDEX or DROP INDEX."
        }
      },
      "id": "InefficientQueryInfo",
      "type": "object"
    },
    "SignalTypeGroup": {
      "description": "A group of signal types that specifies what the user is interested in. Used by QueryDatabaseResourceGroups API. Example: signal_type_group { name = \"AVAILABILITY\" types = [SIGNAL_TYPE_NO_PROMOTABLE_REPLICA] }",
      "properties": {
        "displayName": {
          "description": "Required. The display name of a signal group.",
          "type": "string"
        },
        "signalTypes": {
          "type": "array",
          "description": "Optional. List of signal types present in the group.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
              "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
              "Represents if a resource has an automated backup policy.",
              "Represents if a resources has a short backup retention period.",
              "Represents if the last backup of a resource failed.",
              "Represents if the last backup of a resource is older than some threshold value.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
              "Represents if a resource violates CIS Controls 8.0.",
              "Represents if a resource violates NIST 800-53.",
              "Represents if a resource violates NIST 800-53 R5.",
              "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
              "Represents if a resource violates ISO-27001.",
              "Represents if a resource violates ISO 27001 2022.",
              "Represents if a resource violates PCI-DSS v3.2.1.",
              "Represents if a resource violates PCI-DSS v4.0.",
              "Represents if a resource violates Cloud Controls Matrix v4.0.",
              "Represents if a resource violates HIPAA.",
              "Represents if a resource violates SOC2 v2017.",
              "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
              "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
              "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
              "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
              "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
              "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
              "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
              "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
              "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
              "Represents if a resource is exposed to public access.",
              "Represents if a resources requires all incoming connections to use SSL or not.",
              "Represents if a Cloud SQL database has a password configured for the root account or not.",
              "Represents if a Cloud SQL database has a weak password configured for the root account.",
              "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
              "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
              "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
              "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
              "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
              "Represents if public IP is enabled.",
              "Represents idle instance helps to reduce costs.",
              "Represents instances that are unnecessarily large for given workload.",
              "Represents high number of concurrently opened tables.",
              "Represents high table count close to SLA limit.",
              "Represents high number of unvacuumed transactions",
              "Represents need for more CPU and/or memory",
              "Represents out of disk.",
              "Represents server certificate is near expiry.",
              "Represents database auditing is disabled.",
              "Represents not restricted to authorized networks.",
              "Represents violate org policy restrict public ip.",
              "Cluster nearing quota limit",
              "No password policy set on resources",
              "Performance impact of connections settings",
              "Performance impact of temporary tables settings",
              "Performance impact of transaction logs settings",
              "Performance impact of high joins without indexes",
              "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
              "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
              "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
              "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
              "Detects if a database instance is using a weak password hash algorithm.",
              "Detects if a database instance has no user password policy set.",
              "Detects if a database instance/cluster has a hot node.",
              "Deletion Protection Disabled for the resource",
              "Detects if a database instance has no point in time recovery enabled.",
              "Detects if a database instance/cluster has suspended resources.",
              "Detects that expensive commands are being run on a database instance impacting overall performance.",
              "Indicates that the instance does not have a maintenance policy configured.",
              "Indicates that the instance has inefficient queries detected.",
              "Indicates that the instance has read intensive workload.",
              "Indicates that the instance is nearing memory limit.",
              "Indicates that the instance's max server memory is configured higher than the recommended value.",
              "Indicates that the database has large rows beyond the recommended limit.",
              "Heavy write pressure on the database rows.",
              "Heavy read pressure on the database rows.",
              "Encryption org policy not satisfied.",
              "Location org policy not satisfied.",
              "Outdated DB minor version.",
              "Schema not optimized.",
              "Replication delay.",
              "Outdated client.",
              "Databoost is disabled.",
              "Recommended maintenance policy.",
              "Resource version is in extended support.",
              "Represents a database version nearing end of life.",
              "Indicates a high risk of maintenance downtime.",
              "Indicates both a low cache hit rate and a risk of maintenance downtime.",
              "Indicates that the resource is missing enhanced protection."
            ],
            "enum": [
              "SIGNAL_TYPE_UNSPECIFIED",
              "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
              "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
              "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
              "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
              "SIGNAL_TYPE_LAST_BACKUP_FAILED",
              "SIGNAL_TYPE_LAST_BACKUP_OLD",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
              "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
              "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
              "SIGNAL_TYPE_VIOLATES_ISO_27001",
              "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
              "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
              "SIGNAL_TYPE_VIOLATES_HIPAA",
              "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
              "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
              "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
              "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
              "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
              "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_STATS_LOGGED",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
              "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
              "SIGNAL_TYPE_LOGGING_QUERY_STATS",
              "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
              "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
              "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
              "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
              "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
              "SIGNAL_TYPE_NO_ROOT_PASSWORD",
              "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
              "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
              "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
              "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
              "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
              "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
              "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
              "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
              "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
              "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
              "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
              "SIGNAL_TYPE_IDLE",
              "SIGNAL_TYPE_OVERPROVISIONED",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
              "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
              "SIGNAL_TYPE_UNDERPROVISIONED",
              "SIGNAL_TYPE_OUT_OF_DISK",
              "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
              "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
              "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
              "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
              "SIGNAL_TYPE_QUOTA_LIMIT",
              "SIGNAL_TYPE_NO_PASSWORD_POLICY",
              "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
              "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
              "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
              "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
              "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
              "SIGNAL_TYPE_HOT_NODE",
              "SIGNAL_TYPE_NO_DELETION_PROTECTION",
              "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
              "SIGNAL_TYPE_RESOURCE_SUSPENDED",
              "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
              "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
              "SIGNAL_TYPE_INEFFICIENT_QUERY",
              "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
              "SIGNAL_TYPE_MEMORY_LIMIT",
              "SIGNAL_TYPE_MAX_SERVER_MEMORY",
              "SIGNAL_TYPE_LARGE_ROWS",
              "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
              "SIGNAL_TYPE_HIGH_READ_PRESSURE",
              "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
              "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
              "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
              "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
              "SIGNAL_TYPE_REPLICATION_LAG",
              "SIGNAL_TYPE_OUTDATED_CLIENT",
              "SIGNAL_TYPE_DATABOOST_DISABLED",
              "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
              "SIGNAL_TYPE_EXTENDED_SUPPORT",
              "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
              "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
              "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
              "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
            ]
          }
        }
      },
      "id": "SignalTypeGroup",
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TimeOfDay",
      "type": "object"
    },
    "SignalGroup": {
      "description": "A group of signals and their counts.",
      "id": "SignalGroup",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Title of a signal group corresponding to the request."
        },
        "issueCount": {
          "format": "int32",
          "description": "When applied to a DatabaseResource represents count of issues associated with the resource. A signal is an issue when its SignalStatus field is set to SIGNAL_STATUS_ISSUE.",
          "type": "integer"
        },
        "signals": {
          "type": "array",
          "description": "List of signals present in the group and associated with the resource. Only applies to a DatabaseResource.",
          "items": {
            "$ref": "Signal"
          }
        }
      }
    },
    "MaintenanceRecommendationInfo": {
      "description": "Info associated with maintenance recommendation.",
      "properties": {
        "resourceMaintenanceSchedules": {
          "description": "Optional. List of recommended maintenance schedules for the database resource.",
          "items": {
            "$ref": "ResourceMaintenanceSchedule"
          },
          "type": "array"
        }
      },
      "id": "MaintenanceRecommendationInfo",
      "type": "object"
    },
    "QueryMetrics": {
      "description": "QueryMetrics contains the metrics related to the query execution.",
      "id": "QueryMetrics",
      "type": "object",
      "properties": {
        "metricsWindow": {
          "description": "The window over which the metrics are aggregated.",
          "enumDescriptions": [
            "Unspecified. Default value.",
            "Metrics are aggregated over the last 1 day.",
            "Metrics are aggregated over the last 7 days.",
            "Metrics are aggregated over the last 14 days."
          ],
          "enum": [
            "METRICS_WINDOW_UNSPECIFIED",
            "LAST_ONE_DAY",
            "LAST_ONE_WEEK",
            "LAST_TWO_WEEKS"
          ],
          "type": "string"
        },
        "executionCount": {
          "type": "string",
          "description": "The number of times the query was executed.",
          "format": "int64"
        },
        "totalCpuTime": {
          "description": "The total CPU time consumed by the query across all runs.",
          "format": "google-duration",
          "type": "string"
        },
        "avgCpuTime": {
          "type": "string",
          "format": "google-duration",
          "description": "The average execution period of the query across all runs."
        },
        "rowsProcessed": {
          "format": "int64",
          "description": "The average number of rows processed by the query across all runs.",
          "type": "string"
        }
      }
    },
    "Product": {
      "description": "Product specification for databasecenter resources.",
      "id": "Product",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "PRODUCT_TYPE_UNSPECIFIED means product type is not known or that the user didn't provide this field in the request.",
            "Cloud SQL product area in Google Cloud",
            "AlloyDB product area in Google Cloud",
            "Spanner product area in Google Cloud",
            "Bigtable product area in Google Cloud",
            "Memorystore product area in Google Cloud",
            "Firestore product area in Google Cloud",
            "Compute Engine self managed databases",
            "Oracle product area in Google Cloud",
            "BigQuery product area in Google Cloud",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "type": "string"
        },
        "engine": {
          "description": "Optional. The specific engine that the underlying database is running.",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Deprecated: Use ENGINE_MEMORYSTORE_FOR_VALKEY instead.",
            "Memorystore with Valkey dialect.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine.",
            "Firestore with MongoDB compatibility.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "ENGINE_POSTGRES",
            "ENGINE_SQL_SERVER",
            "ENGINE_NATIVE",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORSTORE_FOR_VALKEY",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_OTHER"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc. For Postgres, it could be \"14\", \"15\" etc."
        },
        "minorVersion": {
          "description": "Optional. Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.35\", \"5.7.25\" etc. For PostgreSQL, it could be \"14.4\", \"15.5\" etc.",
          "type": "string"
        }
      }
    },
    "QueryDatabaseResourceGroupsRequest": {
      "description": "QueryDatabaseResourceGroupsRequest is the request to get a list of database groups.",
      "id": "QueryDatabaseResourceGroupsRequest",
      "type": "object",
      "properties": {
        "orderBy": {
          "description": "Optional. A field that specifies the sort order of the results. The following fields are sortable: * full_resource_name * product.type * product.engine * product.version * container * issue_count * machine_config.vcpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * issue_severity * signal_type * location * resource_type * instance_type * edition * metrics.p99_cpu_utilization * metrics.p95_cpu_utilization * metrics.current_storage_used_bytes * metrics.node_count * metrics.processing_unit_count * metrics.current_memory_used_bytes * metrics.peak_storage_utilization * metrics.peak_number_connections * metrics.peak_memory_utilization The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It only supports a single field at a time. For example: `order_by = \"full_resource_name\"` sorts response in ascending order `order_by = \"full_resource_name DESC\"` sorts response in descending order `order_by = \"issue_count DESC\"` sorts response in descending order of count of all issues associated with a resource. More explicitly, `order_by = \"full_resource_name, product\"` is not supported.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `QueryDatabaseResourceGroupsRequest` call. Provide this to retrieve the subsequent page. All parameters except page_token should match the parameters in the call that provided the page page token.",
          "type": "string"
        },
        "signalTypeGroups": {
          "description": "Optional. Groups of signal types that are requested.",
          "items": {
            "$ref": "SignalTypeGroup"
          },
          "type": "array"
        },
        "filter": {
          "description": "Optional. The expression to filter resources. The following fields are filterable: * full_resource_name * resource_type * container * product.type * product.engine * product.version * location * labels * resource_category * machine_config.cpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * tags * backupdr_config.backupdr_managed * edition The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"` Example: `full_resource_name=~\"test\"` Example: `full_resource_name=~\"test.*master\"`",
          "type": "string"
        },
        "signalFilters": {
          "description": "Optional. Filters based on signals. The list will be ORed together and then ANDed with the `filters` field above.",
          "items": {
            "$ref": "SignalFilter"
          },
          "type": "array"
        },
        "parent": {
          "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. If unspecified, at most 50 resource groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer"
        },
        "signalProductsFilters": {
          "type": "array",
          "description": "Optional. Filters based on signal and product. The filter list will be ORed across pairs and ANDed within a signal and products pair.",
          "items": {
            "$ref": "SignalProductsFilters"
          }
        }
      }
    },
    "QueryStats": {
      "description": "QueryStats contains the stats for a particular combination of query_hash, query_string and resource_type.",
      "id": "QueryStats",
      "type": "object",
      "properties": {
        "resourceIds": {
          "description": "The resource ids for which the query stats are collected.",
          "items": {
            "$ref": "ResourceId"
          },
          "type": "array"
        },
        "normalizedQuery": {
          "type": "string",
          "description": "The query string is normalized query without any PII data."
        },
        "queryHash": {
          "description": "The query hash of the query.",
          "type": "string"
        },
        "inefficientQueryInfo": {
          "description": "Information about inefficient query.",
          "$ref": "InefficientQueryInfo"
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the resource. sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance"
[...]
