{
  "name": "dataflow",
  "endpoints": [
    {
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "protocol": "rest",
  "id": "dataflow:v1b3",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "title": "Dataflow API",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "kind": "discovery#restDescription",
  "canonicalName": "Dataflow",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "baseUrl": "https://dataflow.googleapis.com/",
  "schemas": {
    "LaunchFlexTemplateResponse": {
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "id": "LaunchFlexTemplateResponse",
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template."
    },
    "WorkerMessageResponse": {
      "description": "A worker_message response allows the server to pass information to the sender.",
      "id": "WorkerMessageResponse",
      "type": "object",
      "properties": {
        "workerMetricsResponse": {
          "$ref": "ResourceUtilizationReportResponse",
          "description": "Service's response to reporting worker metrics (currently empty)."
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        },
        "streamingScalingReportResponse": {
          "description": "Service's streaming scaling response for workers.",
          "$ref": "StreamingScalingReportResponse"
        },
        "workerThreadScalingReportResponse": {
          "$ref": "WorkerThreadScalingReportResponse",
          "description": "Service's thread scaling recommendation for workers."
        },
        "workerHealthReportResponse": {
          "description": "The service's response to a worker's health report.",
          "$ref": "WorkerHealthReportResponse"
        }
      }
    },
    "WorkerHealthReport": {
      "id": "WorkerHealthReport",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "properties": {
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        },
        "reportInterval": {
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "type": "string",
          "format": "google-duration"
        },
        "pods": {
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array"
        },
        "msg": {
          "type": "string",
          "description": "Message describing any unusual health reports."
        },
        "vmBrokenCode": {
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state.",
          "type": "string"
        },
        "vmStartupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the VM was booted."
        },
        "vmIsBroken": {
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DebugOptions": {
      "id": "DebugOptions",
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "type": "object",
      "properties": {
        "dataSampling": {
          "$ref": "DataSamplingConfig",
          "description": "Configuration options for sampling elements from a running pipeline."
        },
        "enableHotKeyLogging": {
          "type": "boolean",
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging."
        }
      }
    },
    "GetDebugConfigRequest": {
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug configuration is requested."
        },
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to get updated debug configuration for component.",
      "id": "GetDebugConfigRequest"
    },
    "JobMetrics": {
      "properties": {
        "metricTime": {
          "type": "string",
          "description": "Timestamp as of which metric values are current.",
          "format": "google-datetime"
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "All metrics for this job.",
          "type": "array"
        }
      },
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. For more information, see [Dataflow job metrics] (https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf). This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "type": "object",
      "id": "JobMetrics"
    },
    "PubsubLocation": {
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "id": "PubsubLocation",
      "type": "object",
      "properties": {
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        },
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "subscription": {
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\"",
          "type": "string"
        },
        "dynamicDestinations": {
          "type": "boolean",
          "description": "If true, then this location represents dynamic topics."
        },
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        }
      }
    },
    "ReportWorkItemStatusResponse": {
      "properties": {
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "type": "array",
          "items": {
            "$ref": "WorkItemServiceState"
          }
        },
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker.",
          "type": "object"
        }
      },
      "description": "Response from a request to report the status of WorkItems.",
      "type": "object",
      "id": "ReportWorkItemStatusResponse"
    },
    "IntegerList": {
      "type": "object",
      "description": "A metric value representing a list of integers.",
      "id": "IntegerList",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "$ref": "SplitInt64"
          }
        }
      }
    },
    "MemInfo": {
      "properties": {
        "currentRssBytes": {
          "description": "Instantenous memory (RSS) size in bytes.",
          "format": "uint64",
          "type": "string"
        },
        "currentOoms": {
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement.",
          "type": "string",
          "format": "int64"
        },
        "totalGbMs": {
          "format": "uint64",
          "type": "string",
          "description": "Total memory (RSS) usage since start up in GB * ms."
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "type": "string",
          "format": "google-datetime"
        },
        "currentLimitBytes": {
          "type": "string",
          "format": "uint64",
          "description": "Instantenous memory limit in bytes."
        }
      },
      "id": "MemInfo",
      "type": "object",
      "description": "Information about the memory usage of a worker or a container within a worker."
    },
    "JobMetadata": {
      "properties": {
        "spannerDetails": {
          "description": "Identification of a Spanner source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "SpannerIODetails"
          }
        },
        "fileDetails": {
          "description": "Identification of a File source used in the Dataflow job.",
          "items": {
            "$ref": "FileIODetails"
          },
          "type": "array"
        },
        "datastoreDetails": {
          "description": "Identification of a Datastore source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "DatastoreIODetails"
          }
        },
        "bigqueryDetails": {
          "type": "array",
          "items": {
            "$ref": "BigQueryIODetails"
          },
          "description": "Identification of a BigQuery source used in the Dataflow job."
        },
        "sdkVersion": {
          "description": "The SDK version used to run the job.",
          "$ref": "SdkVersion"
        },
        "userDisplayProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "List of display properties to help UI filter jobs."
        },
        "pubsubDetails": {
          "type": "array",
          "description": "Identification of a Pub/Sub source used in the Dataflow job.",
          "items": {
            "$ref": "PubSubIODetails"
          }
        },
        "bigTableDetails": {
          "description": "Identification of a Cloud Bigtable source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "BigTableIODetails"
          }
        }
      },
      "type": "object",
      "id": "JobMetadata",
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view."
    },
    "BigQueryIODetails": {
      "id": "BigQueryIODetails",
      "description": "Metadata for a BigQuery connector used by the job.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "query": {
          "description": "Query used to access data in the connection.",
          "type": "string"
        },
        "dataset": {
          "description": "Dataset accessed in the connection.",
          "type": "string"
        }
      }
    },
    "Position": {
      "type": "object",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "id": "Position",
      "properties": {
        "recordIndex": {
          "format": "int64",
          "description": "Position is a record index.",
          "type": "string"
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "byteOffset": {
          "format": "int64",
          "type": "string",
          "description": "Position is a byte offset."
        }
      }
    },
    "StragglerSummary": {
      "description": "Summarized straggler identification details.",
      "type": "object",
      "id": "StragglerSummary",
      "properties": {
        "recentStragglers": {
          "items": {
            "$ref": "Straggler"
          },
          "description": "The most recent stragglers.",
          "type": "array"
        },
        "stragglerCauseCount": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum."
        },
        "totalStragglerCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of stragglers."
        }
      }
    },
    "ListSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "Returned snapshots.",
          "items": {
            "$ref": "Snapshot"
          }
        }
      },
      "id": "ListSnapshotsResponse",
      "type": "object",
      "description": "List of snapshots."
    },
    "ReportedParallelism": {
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "type": "object",
      "id": "ReportedParallelism",
      "properties": {
        "value": {
          "format": "double",
          "description": "Specifies the level of parallelism in case it is finite.",
          "type": "number"
        },
        "isInfinite": {
          "type": "boolean",
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack."
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "properties": {
        "userAgent": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. A description of the process that generated the request."
        },
        "workerPools": {
          "items": {
            "$ref": "WorkerPool"
          },
          "type": "array",
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers."
        },
        "sdkPipelineOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way."
        },
        "serviceKmsKeyName": {
          "description": "Optional. If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY",
          "type": "string"
        },
        "shuffleMode": {
          "readOnly": true,
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "description": "Output only. The shuffle mode used for the job.",
          "type": "string",
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ]
        },
        "serviceOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on)."
        },
        "streamingMode": {
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ],
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "type": "string"
        },
        "experiments": {
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "useStreamingEngineResourceBasedBilling": {
          "readOnly": true,
          "description": "Output only. Whether the job uses the Streaming Engine resource-based billing model.",
          "type": "boolean"
        },
        "dataset": {
          "type": "string",
          "description": "Optional. The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}"
        },
        "internalExperiments": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Experimental settings."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. Identity to run virtual machines as. Defaults to the default account."
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "workerRegion": {
          "description": "Optional. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Optional. Any debugging options to be supplied to the job."
        },
        "version": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A structure describing which components and their versions of the service are required in order to run the job."
        },
        "usePublicIps": {
          "description": "Optional. True when any worker pool that uses public IPs is present.",
          "type": "boolean"
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "workerZone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity."
        },
        "flexResourceSchedulingGoal": {
          "description": "Optional. Which Flexible Resource Scheduling mode to run in.",
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        }
      }
    },
    "SourceGetMetadataResponse": {
      "id": "SourceGetMetadataResponse",
      "type": "object",
      "description": "The result of a SourceGetMetadataOperation.",
      "properties": {
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "The computed metadata."
        }
      }
    },
    "StragglerInfo": {
      "properties": {
        "startTime": {
          "description": "The time when the work item attempt became a straggler.",
          "format": "google-datetime",
          "type": "string"
        },
        "causes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          },
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause."
        }
      },
      "id": "StragglerInfo",
      "type": "object",
      "description": "Information useful for straggler identification and debugging."
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "id": "CustomSourceLocation",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DataflowGaugeValue": {
      "type": "object",
      "properties": {
        "measuredTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the gauge was recorded."
        },
        "value": {
          "description": "The value of the gauge.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DataflowGaugeValue",
      "description": "The gauge value of a metric."
    },
    "CreateJobFromTemplateRequest": {
      "id": "CreateJobFromTemplateRequest",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
          "type": "string"
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A request to create a Cloud Dataflow job from a template.",
      "type": "object"
    },
    "DisplayData": {
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "type": "object",
      "properties": {
        "durationValue": {
          "format": "google-duration",
          "description": "Contains value if the data is of duration type.",
          "type": "string"
        },
        "int64Value": {
          "format": "int64",
          "description": "Contains value if the data is of int64 type.",
          "type": "string"
        },
        "shortStrValue": {
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip.",
          "type": "string"
        },
        "floatValue": {
          "description": "Contains value if the data is of float type.",
          "type": "number",
          "format": "float"
        },
        "timestampValue": {
          "type": "string",
          "description": "Contains value if the data is of timestamp type.",
          "format": "google-datetime"
        },
        "label": {
          "description": "An optional label to display in a dax UI for the element.",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering."
        },
        "key": {
          "type": "string",
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Contains value if the data is of a boolean type."
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "An optional full URL."
        },
        "strValue": {
          "type": "string",
          "description": "Contains value if the data is of string type."
        }
      },
      "id": "DisplayData"
    },
    "StructuredMessage": {
      "id": "StructuredMessage",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The structured data associated with this message.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "messageKey": {
          "type": "string",
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message."
        },
        "messageText": {
          "description": "Human-readable version of message.",
          "type": "string"
        }
      },
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption."
    },
    "LaunchFlexTemplateParameter": {
      "properties": {
        "transformNameMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "type": "object"
        },
        "environment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "The runtime environment for the FlexTemplate job"
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job.",
          "type": "string"
        },
        "launchOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "type": "object"
        },
        "update": {
          "type": "boolean",
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
        }
      },
      "id": "LaunchFlexTemplateParameter",
      "type": "object",
      "description": "Launch FlexTemplate Parameter."
    },
    "SendWorkerMessagesResponse": {
      "type": "object",
      "description": "The response to the worker messages.",
      "id": "SendWorkerMessagesResponse",
      "properties": {
        "workerMessageResponses": {
          "type": "array",
          "items": {
            "$ref": "WorkerMessageResponse"
          },
          "description": "The servers response to the worker messages."
        }
      }
    },
    "SDKInfo": {
      "description": "SDK Information.",
      "type": "object",
      "properties": {
        "language": {
          "enumDescriptions": [
            "UNKNOWN Language.",
            "Java.",
            "Python.",
            "Go.",
            "YAML."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "JAVA",
            "PYTHON",
            "GO",
            "YAML"
          ],
          "description": "Required. The SDK Language."
        },
        "version": {
          "type": "string",
          "description": "Optional. The SDK version."
        }
      },
      "id": "SDKInfo"
    },
    "Straggler": {
      "description": "Information for a straggler.",
      "type": "object",
      "properties": {
        "batchStraggler": {
          "description": "Batch straggler identification and debugging information.",
          "$ref": "StragglerInfo"
        },
        "streamingStraggler": {
          "$ref": "StreamingStragglerInfo",
          "description": "Streaming straggler identification and debugging information."
        }
      },
      "id": "Straggler"
    },
    "ComponentTransform": {
      "type": "object",
      "id": "ComponentTransform",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is most closely associated.",
          "type": "string"
        }
      },
      "description": "Description of a transform executed as part of an execution stage."
    },
    "WriteInstruction": {
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "properties": {
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        }
      },
      "type": "object",
      "id": "WriteInstruction"
    },
    "Point": {
      "type": "object",
      "description": "A point in the timeseries.",
      "id": "Point",
      "properties": {
        "time": {
          "description": "The timestamp of the point.",
          "format": "google-datetime",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the point."
        }
      }
    },
    "StreamingComputationTask": {
      "properties": {
        "taskType": {
          "type": "string",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "description": "A type of streaming computation task."
        },
        "computationRanges": {
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "type": "array",
          "description": "Contains ranges of a streaming computation this task should apply to."
        },
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "type": "array",
          "items": {
            "$ref": "MountedDataDisk"
          }
        }
      },
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "id": "StreamingComputationTask",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Job": {
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "type": "object",
      "properties": {
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "serviceResources": {
          "readOnly": true,
          "description": "Output only. Resources used by the Dataflow Service to run the job.",
          "$ref": "ServiceResources"
        },
        "stageStates": {
          "items": {
            "$ref": "ExecutionStageState"
          },
          "type": "array",
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it."
        },
        "steps": {
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "items": {
            "$ref": "Step"
          },
          "type": "array"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "type": "string"
        },
        "pausable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the job can be paused."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "type": "string"
        },
        "runtimeUpdatableParams": {
          "$ref": "RuntimeUpdatableParams",
          "description": "This field may ONLY be modified at runtime using the projects.jobs.update method to adjust job behavior. This field has no effect when specified at job creation."
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this job. This field is set by the Dataflow service when the job is created, and is immutable for the life of the job."
        },
        "currentStateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp associated with the current state."
        },
        "type": {
          "description": "Optional. The type of Dataflow job.",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ],
          "type": "string"
        },
        "transformNameMapping": {
          "description": "Optional. The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        },
        "name": {
          "description": "Optional. The user-specified Dataflow job name. Only one active job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a job with the same name as an active job that already exists, the attempt returns the existing job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "environment": {
          "description": "Optional. The environment for the job.",
          "$ref": "Environment"
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "stepsLocation": {
          "description": "The Cloud Storage location where the steps are stored.",
          "type": "string"
        },
        "location": {
          "description": "Optional. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the Google Cloud project that the job belongs to."
        },
        "currentState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field might be mutated by the Dataflow service; callers cannot mutate it.",
          "type": "string"
        },
        "clientRequestId": {
          "type": "string",
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it."
        },
        "requestedState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests.",
          "type": "string"
        },
        "tempFiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "readOnly": true,
          "type": "boolean"
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size."
        }
      },
      "id": "Job"
    },
    "StreamingOperationalLimits": {
      "type": "object",
      "id": "StreamingOperationalLimits",
      "properties": {
        "maxKeyBytes": {
          "format": "int64",
          "description": "The maximum size allowed for a key.",
          "type": "string"
        },
        "maxProductionOutputBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a single output element."
        },
        "maxSourceStateBytes": {
          "type": "string",
          "description": "The maximum size for a source state update.",
          "format": "int64"
        },
        "maxValueBytes": {
          "description": "The maximum size for a value state field.",
          "format": "int64",
          "type": "string"
        },
        "maxBagElementBytes": {
          "description": "The maximum size for an element in bag state.",
          "format": "int64",
          "type": "string"
        },
        "maxGlobalDataBytes": {
          "format": "int64",
          "description": "The maximum size for an element in global data.",
          "type": "string"
        },
        "maxSortedListElementBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for an element in sorted list state."
        },
        "maxTagBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for a state tag."
        }
      },
      "description": "Operational limits imposed on streaming jobs by the backend."
    },
    "PubSubIODetails": {
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Subscription used in the connection."
        },
        "topic": {
          "type": "string",
          "description": "Topic accessed in the connection."
        }
      },
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "id": "PubSubIODetails",
      "type": "object"
    },
    "StreamingSideInputLocation": {
      "properties": {
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        },
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "id": "StreamingSideInputLocation",
      "type": "object",
      "description": "Identifies the location of a streaming side input."
    },
    "StreamingComputationConfig": {
      "description": "Configuration information for a single streaming computation.",
      "id": "StreamingComputationConfig",
      "type": "object",
      "properties": {
        "computationId": {
          "description": "Unique identifier for this computation.",
          "type": "string"
        },
        "stageName": {
          "type": "string",
          "description": "Stage name of this computation."
        },
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "Instructions that comprise the computation.",
          "type": "array"
        },
        "systemName": {
          "description": "System defined name for this computation.",
          "type": "string"
        },
        "transformUserNameToStateFamily": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "type": "object"
        }
      }
    },
    "DataDiskAssignment": {
      "type": "object",
      "id": "DataDiskAssignment",
      "properties": {
        "vmInstance": {
          "type": "string",
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\"."
        },
        "dataDisks": {
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Data disk assignment for a given VM instance."
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NameAndKind": {
      "type": "object",
      "description": "Basic metadata about a counter.",
      "properties": {
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "description": "Counter aggregation kind.",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        }
      },
      "id": "NameAndKind"
    },
    "WorkItemDetails": {
      "type": "object",
      "description": "Information about an individual work item execution.",
      "id": "WorkItemDetails",
      "properties": {
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Start time of this work item attempt.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "description": "State of this work item.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "metrics": {
          "description": "Metrics for this work item.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "stragglerInfo": {
          "description": "Information about straggler detections for this work item.",
          "$ref": "StragglerInfo"
        },
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        }
      }
    },
    "MapTask": {
      "type": "object",
      "properties": {
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "The instructions in the MapTask.",
          "type": "array"
        },
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "stageName": {
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "counterPrefix": {
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow.",
          "type": "string"
        }
      },
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "id": "MapTask"
    },
    "ApproximateSplitRequest": {
      "id": "ApproximateSplitRequest",
      "type": "object",
      "properties": {
        "fractionOfRemainder": {
          "format": "double",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input)."
        }
      },
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem."
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "properties": {
        "totalMs": {
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "type": "string",
          "format": "uint64"
        },
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "type": "number",
          "format": "double"
        },
        "timestamp": {
          "type": "string",
          "description": "Timestamp of the measurement.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "description": "Request to report the status of WorkItems.",
      "id": "ReportWorkItemStatusRequest",
      "properties": {
        "workItemStatuses": {
          "items": {
            "$ref": "WorkItemStatus"
          },
          "type": "array",
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here."
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "currentWorkerTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The current timestamp at the worker."
        },
        "projectNumber": {
          "type": "string",
          "description": "Optional. The project number of the project which owns the WorkItem's job.",
          "format": "int64"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        }
      }
    },
    "FloatingPointList": {
      "description": "A metric value representing a list of floating point numbers.",
      "type": "object",
      "id": "FloatingPointList",
      "properties": {
        "elements": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      }
    },
    "WorkItem": {
      "id": "WorkItem",
      "properties": {
        "reportStatusInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Recommended reporting interval."
        },
        "jobId": {
          "description": "Identifies the workflow job this WorkItem belongs to.",
          "type": "string"
        },
        "streamingSetupTask": {
          "description": "Additional information for StreamingSetupTask WorkItems.",
          "$ref": "StreamingSetupTask"
        },
        "streamingComputationTask": {
          "description": "Additional information for StreamingComputationTask WorkItems.",
          "$ref": "StreamingComputationTask"
        },
        "leaseExpireTime": {
          "description": "Time when the lease on this Work will expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Identifies the cloud project this WorkItem belongs to."
        },
        "sourceOperationTask": {
          "$ref": "SourceOperationRequest",
          "description": "Additional information for source operation WorkItems."
        },
        "initialReportIndex": {
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "type": "string",
          "format": "int64"
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "seqMapTask": {
          "$ref": "SeqMapTask",
          "description": "Additional information for SeqMapTask WorkItems."
        },
        "packages": {
          "description": "Any required packages that need to be fetched in order to execute this WorkItem.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "id": {
          "type": "string",
          "description": "Identifies this WorkItem.",
          "format": "int64"
        },
        "mapTask": {
          "$ref": "MapTask",
          "description": "Additional information for MapTask WorkItems."
        }
      },
      "type": "object",
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud."
    },
    "WorkerDetails": {
      "type": "object",
      "id": "WorkerDetails",
      "properties": {
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        },
        "workItems": {
          "items": {
            "$ref": "WorkItemDetails"
          },
          "description": "Work items processed by this worker, sorted by time.",
          "type": "array"
        }
      },
      "description": "Information about a worker"
    },
    "ServiceResources": {
      "type": "object",
      "properties": {
        "zones": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c"
        }
      },
      "id": "ServiceResources",
      "description": "Resources used by the Dataflow Service to run the job."
    },
    "ComponentSource": {
      "id": "ComponentSource",
      "type": "object",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        }
      }
    },
    "ListJobMessagesResponse": {
      "type": "object",
      "description": "Response to a request to list job messages.",
      "properties": {
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array"
        },
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        }
      },
      "id": "ListJobMessagesResponse"
    },
    "DatastoreIODetails": {
      "description": "Metadata for a Datastore connector used by the job.",
      "type": "object",
      "id": "DatastoreIODetails",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        }
      }
    },
    "Stack": {
      "id": "Stack",
      "description": "A structuredstacktrace for a process running on the worker.",
      "properties": {
        "threadName": {
          "type": "string",
          "description": "Thread name. For example, \"CommitThread-0,10,main\""
        },
        "stackContent": {
          "description": "The raw stack trace.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp at which the stack was captured."
        },
        "threadState": {
          "type": "string",
          "description": "The state of the thread. For example, \"WAITING\"."
        },
        "threadCount": {
          "description": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "StreamingStragglerInfo": {
      "type": "object",
      "id": "StreamingStragglerInfo",
      "properties": {
        "dataWatermarkLag": {
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "format": "google-duration",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of this straggler."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start time of this straggler.",
          "type": "string"
        },
        "systemWatermarkLag": {
          "description": "The system watermark lag at the time of the straggler detection.",
          "type": "string",
          "format": "google-duration"
        },
        "workerName": {
          "type": "string",
          "description": "Name of the worker where the straggler was detected."
        }
      },
      "description": "Information useful for streaming straggler identification and debugging."
    },
    "TaskRunnerSettings": {
      "type": "object",
      "properties": {
        "alsologtostderr": {
          "type": "boolean",
          "description": "Whether to also send taskrunner log info to stderr."
        },
        "vmId": {
          "description": "The ID string of the VM.",
          "type": "string"
        },
        "continueOnException": {
          "description": "Whether to continue taskrunner if an exception is hit.",
          "type": "boolean"
        },
        "logToSerialconsole": {
          "type": "boolean",
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console."
        },
        "parallelWorkerSettings": {
          "$ref": "WorkerSettings",
          "description": "The settings to pass to the parallel worker harness."
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "harnessCommand": {
          "type": "string",
          "description": "The command to launch the worker harness."
        },
        "commandlinesFileName": {
          "type": "string",
          "description": "The file to store preprocessing commands in."
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "workflowFileName": {
          "type": "string",
          "description": "The file to store the workflow in."
        },
        "streamingWorkerMainClass": {
          "type": "string",
          "description": "The streaming worker main class name."
        },
        "baseTaskDir": {
          "description": "The location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "baseUrl": {
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "logDir": {
          "type": "string",
          "description": "The directory on the VM to store logs."
        },
        "languageHint": {
          "type": "string",
          "description": "The suggested backend language."
        },
        "oauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API."
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "dataflowApiVersion": {
          "description": "The API version of endpoint, e.g. \"v1b3\"",
          "type": "string"
        },
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".",
          "type": "string"
        }
      },
      "id": "TaskRunnerSettings",
      "description": "Taskrunner configuration settings."
    },
    "ResourceUtilizationReportResponse": {
      "id": "ResourceUtilizationReportResponse",
      "type": "object",
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "properties": {}
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "id": "MultiOutputInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo."
        }
      }
    },
    "SourceSplitShard": {
      "properties": {
        "derivationMode": {
          "description": "DEPRECATED",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ]
        },
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        }
      },
      "type": "object",
      "description": "DEPRECATED in favor of DerivedSource.",
      "id": "SourceSplitShard"
    },
    "BigTableIODetails": {
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "type": "object",
      "properties": {
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "id": "BigTableIODetails"
    },
    "ExecutionStageState": {
      "description": "A message describing the state of a particular execution stage.",
      "type": "object",
      "id": "ExecutionStageState",
      "properties": {
        "executionStageName": {
          "description": "The name of the execution stage.",
          "type": "string"
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the stage transitioned to this state."
        },
        "executionStageState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "type": "string",
          "description": "Executions stage states allow the same set of values as JobState."
        }
      }
    },
    "MetricUpdate": {
      "description": "Describes the state of a metric.",
      "type": "object",
      "id": "MetricUpdate",
      "properties": {
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "trie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode."
        },
        "scalar": {
          "type": "any",
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean."
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "boundedTrie": {
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field.",
          "type": "any"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        }
      }
    },
    "GPUUtilization": {
      "type": "object",
      "description": "Utilization details about the GPU.",
      "id": "GPUUtilization",
      "properties": {
        "rate": {
          "format": "double",
          "type": "number",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1]."
        }
      }
    },
    "StringList": {
      "type": "object",
      "description": "A metric value representing a list of strings.",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringList"
    },
    "WorkItemServiceState": {
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "type": "object",
      "id": "WorkItemServiceState",
      "properties": {
        "reportStatusInterval": {
          "description": "New recommended reporting interval.",
          "type": "string",
          "format": "google-duration"
        },
        "suggestedStopPoint": {
          "$ref": "ApproximateProgress",
          "deprecated": true,
          "description": "DEPRECATED in favor of split_request."
        },
        "metricShortId": {
[...]
