{
  "revision": "20260706",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Google Cloud Data Catalog API",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/data-catalog/docs/",
  "description": "A fully managed and highly scalable data discovery and metadata management service. ",
  "fullyEncodeReservedExpansion": true,
  "id": "datacatalog:v1beta1",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec": {
      "id": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
      "properties": {
        "storageType": {
          "readOnly": true,
          "description": "Output only. Type of underlying storage for the FeatureOnlineStore.",
          "enumDescriptions": [
            "Should not be used.",
            "Underlsying storgae is Bigtable.",
            "Underlying is optimized online server (Lightning)."
          ],
          "type": "string",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "BIGTABLE",
            "OPTIMIZED"
          ]
        }
      },
      "description": "Detail description of the source information of a Vertex Feature Online Store.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
      "properties": {
        "text": {
          "description": "JSON source of the Avro schema.",
          "type": "string"
        }
      },
      "description": "Schema in Avro JSON format.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1EntryGroup": {
      "id": "GoogleCloudDatacatalogV1beta1EntryGroup",
      "properties": {
        "dataCatalogTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about this EntryGroup. Default value is empty timestamps.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the entry group in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id} Note that this EntryGroup and its child resources may not actually be stored in the location in this name.",
          "type": "string"
        },
        "displayName": {
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string.",
          "type": "string"
        },
        "description": {
          "description": "Entry group description, which can consist of several sentences or paragraphs that describe entry group contents. Default value is an empty string.",
          "type": "string"
        }
      },
      "description": "EntryGroup Metadata. An EntryGroup resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping",
      "properties": {
        "column": {
          "description": "Output only. The column in the current table that is part of the foreign key.",
          "type": "string",
          "readOnly": true
        },
        "referenceColumn": {
          "readOnly": true,
          "description": "Output only. The column in the referenced table that is part of the foreign key.",
          "type": "string"
        }
      },
      "description": "Column mapping for a Spanner foreign key.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "description": "Specification for vertex dataset resources.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "properties": {
        "dataItemCount": {
          "description": "The number of DataItems in this Dataset. Only apply for non-structured Dataset.",
          "type": "string",
          "format": "int64"
        },
        "dataType": {
          "description": "Type of the dataset.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "TABLE",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "CONVERSATION",
            "TIME_SERIES",
            "DOCUMENT",
            "TEXT_TO_SPEECH",
            "TRANSLATION",
            "STORE_VISION",
            "ENTERPRISE_KNOWLEDGE_GRAPH",
            "TEXT_PROMPT"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
            "Video dataset which supports VideoClassification, VideoObjectTracking and VideoActionRecognition problems.",
            "Conversation dataset which supports conversation problems.",
            "TimeSeries dataset.",
            "Document dataset which supports DocumentAnnotation problems.",
            "TextToSpeech dataset which supports TextToSpeech problems.",
            "Translation dataset which supports Translation problems.",
            "Store Vision dataset which is used for HITL integration.",
            "Enterprise Knowledge Graph dataset which is used for HITL labeling integration.",
            "Text prompt dataset which supports Large Language Models."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1Entry": {
      "description": "Entry Metadata. A Data Catalog Entry resource represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic), or outside of Google Cloud Platform. Clients can use the `linked_resource` field in the Entry resource to refer to the original resource ID of the source system. An Entry resource contains resource details, such as its schema. An Entry can also be used to attach flexible metadata, such as a Tag.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1Entry",
      "properties": {
        "integratedSystem": {
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub."
          ],
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB"
          ],
          "readOnly": true,
          "description": "Output only. This field indicates the entry's source system that Data Catalog integrates with, such as BigQuery or Pub/Sub."
        },
        "usageSignal": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1beta1UsageSignal",
          "description": "Output only. Statistics on the usage level of the resource."
        },
        "schema": {
          "description": "Schema of the entry. An entry might not have any schema attached to it.",
          "$ref": "GoogleCloudDatacatalogV1beta1Schema"
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. This is only valid on entries of type FILESET.",
          "$ref": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec"
        },
        "name": {
          "description": "Output only. Identifier. The Data Catalog resource name of the entry in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}/entries/{entry_id} Note that this Entry and its child resources may not actually be stored in the location in this name.",
          "type": "string",
          "readOnly": true
        },
        "bigqueryDateShardedSpec": {
          "description": "Specification for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`. Context: https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding.",
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec"
        },
        "sourceSystemTimestamps": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about the underlying resource, not about this Data Catalog entry. Output only when Entry is of type in the EntryType enum. For entries with user_specified_type, this field is optional and defaults to an empty timestamp."
        },
        "userSpecifiedSystem": {
          "description": "This field indicates the entry's source system that Data Catalog does not integrate with. `user_specified_system` strings must begin with a letter or underscore and can only contain letters, numbers, and underscores; are case insensitive; must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "displayName": {
          "description": "Display information such as title and description. A short name to identify the entry, for example, \"Analytics Data - Jan 2011\". Default value is an empty string.",
          "type": "string"
        },
        "userSpecifiedType": {
          "description": "Entry type if it does not fit any of the input-allowed values listed in `EntryType` enum above. When creating an entry, users should check the enum values first, if nothing matches the entry to be created, then provide a custom value, for example \"my_special_type\". `user_specified_type` strings must begin with a letter or underscore and can only contain letters, numbers, and underscores; are case insensitive; must be at least 1 character and at most 64 characters long. Currently, only FILESET enum value is allowed. All other entries created through Data Catalog must use `user_specified_type`.",
          "type": "string"
        },
        "description": {
          "description": "Entry description, which can consist of several sentences or paragraphs that describe entry contents. Default value is an empty string.",
          "type": "string"
        },
        "type": {
          "description": "The type of the entry. Only used for Entries with types in the EntryType enum.",
          "type": "string",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "Output only. The type of entry that has a GoogleSQL schema, including logical views.",
            "Output only. The type of models. https://cloud.google.com/bigquery-ml/docs/bigqueryml-intro",
            "Output only. An entry type which is used for streaming entries. Example: Pub/Sub topic.",
            "An entry type which is a set of files or objects. Example: Cloud Storage fileset."
          ]
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [full name of the resource](https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: * //bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId Output only when Entry is of type in the EntryType enum. For entries with user_specified_type, this field is optional and defaults to an empty string.",
          "type": "string"
        },
        "bigqueryTableSpec": {
          "description": "Specification that applies to a BigQuery table. This is only valid on entries of type `TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "description": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
      "properties": {
        "sqlEngine": {
          "description": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance.",
          "type": "string"
        },
        "instanceHost": {
          "description": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Version of the database engine.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1BigQueryTableSpec": {
      "description": "Describes a BigQuery table.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
      "properties": {
        "tableSourceType": {
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "type": "string",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "readOnly": true,
          "description": "Output only. The table source type."
        },
        "tableSpec": {
          "description": "Spec of a BigQuery table. This field should only be populated if `table_source_type` is `BIGQUERY_TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1beta1TableSpec"
        },
        "viewSpec": {
          "description": "Table view specification. This field should only be populated if `table_source_type` is `BIGQUERY_VIEW`.",
          "$ref": "GoogleCloudDatacatalogV1beta1ViewSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResult": {
      "description": "A result that appears in the response of a search request. Each result captures details of one entry that matches the search.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResult",
      "properties": {
        "modifyTime": {
          "description": "Last-modified timestamp of the entry from the managing system.",
          "type": "string",
          "format": "google-datetime"
        },
        "searchResultType": {
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ],
          "description": "Type of the search result. This field can be used to determine which Get method to call to fetch the full resource.",
          "type": "string",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ]
        },
        "searchResultSubtype": {
          "description": "Sub-type of the search result. This is a dot-delimited description of the resource's full type, and is the same as the value callers would provide in the \"type\" search facet. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`.",
          "type": "string"
        },
        "linkedResource": {
          "description": "The full name of the cloud resource the entry belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name. Example: * `//bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId`",
          "type": "string"
        },
        "relativeResourceName": {
          "description": "The relative resource name of the resource in URL format. Examples: * `projects/{project_id}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}` * `projects/{project_id}/tagTemplates/{tag_template_id}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagFieldEnumValue": {
      "id": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue",
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      },
      "description": "Holds an enum value.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ColumnSchema": {
      "id": "GoogleCloudDatacatalogV1beta1ColumnSchema",
      "properties": {
        "type": {
          "description": "Required. Type of the column.",
          "type": "string"
        },
        "mode": {
          "description": "Optional. A column's mode indicates whether the values in this column are required, nullable, etc. Only `NULLABLE`, `REQUIRED` and `REPEATED` are supported. Default mode is `NULLABLE`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string.",
          "type": "string"
        },
        "column": {
          "description": "Required. Name of the column.",
          "type": "string"
        },
        "subcolumns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          },
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns.",
          "type": "array"
        }
      },
      "description": "Representation of a column within a schema. Columns could be nested inside other columns.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "description": "Marks a CSV-encoded data source.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1TaggedEntry": {
      "id": "GoogleCloudDatacatalogV1TaggedEntry",
      "properties": {
        "absentTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only.",
          "type": "array"
        },
        "presentTags": {
          "description": "Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          }
        },
        "v1Entry": {
          "$ref": "GoogleCloudDatacatalogV1Entry",
          "description": "Non-encrypted Data Catalog v1 Entry."
        }
      },
      "description": "Wrapper containing Entry and information about Tags that should and should not be attached to it.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataSourceConnectionSpec": {
      "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type. Only one of internal specs can be set at the time, and cannot be changed later.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataSourceConnectionSpec",
      "properties": {
        "bigqueryConnectionSpec": {
          "description": "Output only. Fields specific to BigQuery connections.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryConnectionSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec": {
      "description": "Column info specific to Looker System.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Dimension.",
            "Dimension group - parent for Dimension.",
            "Filter.",
            "Measure.",
            "Parameter."
          ],
          "description": "Looker specific column type of this column.",
          "type": "string",
          "enum": [
            "LOOKER_COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "DIMENSION_GROUP",
            "FILTER",
            "MEASURE",
            "PARAMETER"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1TableSpec": {
      "description": "Normal BigQuery table specification.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TableSpec",
      "properties": {
        "groupedEntry": {
          "readOnly": true,
          "description": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1DataSource": {
      "id": "GoogleCloudDatacatalogV1DataSource",
      "properties": {
        "resource": {
          "description": "Full name of a resource as defined by the service. For example: `//bigquery.googleapis.com/projects/{PROJECT_ID}/locations/{LOCATION}/datasets/{DATASET_ID}/tables/{TABLE_ID}`",
          "type": "string"
        },
        "sourceEntry": {
          "readOnly": true,
          "description": "Output only. Data Catalog entry name, if applicable.",
          "type": "string"
        },
        "storageProperties": {
          "$ref": "GoogleCloudDatacatalogV1StorageProperties",
          "description": "Detailed properties of the underlying storage."
        },
        "service": {
          "description": "Service that physically stores the data.",
          "type": "string",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ],
          "enumDescriptions": [
            "Default unknown service.",
            "Google Cloud Storage service.",
            "BigQuery service."
          ]
        }
      },
      "description": "Physical location of an entry.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DumpItem": {
      "id": "GoogleCloudDatacatalogV1DumpItem",
      "properties": {
        "taggedEntry": {
          "$ref": "GoogleCloudDatacatalogV1TaggedEntry",
          "description": "Entry and its tags."
        }
      },
      "description": "Wrapper for any item that can be contained in the dump.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "properties": {
        "text": {
          "description": "Thrift IDL source of the schema.",
          "type": "string"
        }
      },
      "description": "Schema in Thrift format.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse": {
      "description": "Response message for ImportTaxonomies.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "description": "Taxonomies that were imported.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the enum value. Must not be an empty string.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest": {
      "description": "Request message for RenameTagTemplateFieldEnumValue.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest",
      "properties": {
        "newEnumValueDisplayName": {
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey",
      "properties": {
        "columns": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Column names of the primary key.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Specification of a Spanner primary key.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "description": "An enum value.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagField": {
      "description": "Contains the value and supporting information for a field within a Tag.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagField",
      "properties": {
        "boolValue": {
          "description": "Holds the value for a tag field with boolean type.",
          "type": "boolean"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of this field.",
          "type": "string"
        },
        "order": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The order of this field with respect to other fields in this tag. It can be set in Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential.",
          "type": "integer"
        },
        "timestampValue": {
          "format": "google-datetime",
          "description": "Holds the value for a tag field with timestamp type.",
          "type": "string"
        },
        "enumValue": {
          "description": "Holds the value for a tag field with enum type. This value must be one of the allowed values in the definition of this enum.",
          "$ref": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue"
        },
        "doubleValue": {
          "description": "Holds the value for a tag field with double type.",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "description": "Holds the value for a tag field with string type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ServiceSpec": {
      "description": "Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ServiceSpec",
      "properties": {
        "cloudBigtableInstanceSpec": {
          "description": "Specification that applies to Instance entries of `CLOUD_BIGTABLE` system.",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties": {
      "description": "The label and its properties. Each label is associated with a set of properties.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties",
      "properties": {
        "label": {
          "description": "Required. The name of the label.",
          "type": "string"
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty"
          },
          "description": "Optional. The properties associated with the label.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1EntryOverview": {
      "description": "Entry overview fields for rich text descriptions of entries.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1EntryOverview",
      "properties": {
        "overview": {
          "description": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ContactsPerson": {
      "description": "A contact person for the entry.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ContactsPerson",
      "properties": {
        "email": {
          "description": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`.",
          "type": "string"
        },
        "designation": {
          "description": "Designation of the person, for example, Data Steward.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1VertexModelSpec": {
      "id": "GoogleCloudDatacatalogV1VertexModelSpec",
      "properties": {
        "versionDescription": {
          "description": "The description of this version.",
          "type": "string"
        },
        "vertexModelSourceInfo": {
          "description": "Source of a Vertex model.",
          "$ref": "GoogleCloudDatacatalogV1VertexModelSourceInfo"
        },
        "containerImageUri": {
          "description": "URI of the Docker image to be used as the custom container for serving predictions.",
          "type": "string"
        },
        "versionId": {
          "description": "The version ID of the model.",
          "type": "string"
        },
        "versionAliases": {
          "items": {
            "type": "string"
          },
          "description": "User provided version aliases so that a model version can be referenced via alias",
          "type": "array"
        }
      },
      "description": "Specification for vertex model resources.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "description": "Marks an ORC-encoded data source.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1TagField": {
      "id": "GoogleCloudDatacatalogV1TagField",
      "properties": {
        "enumValue": {
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.",
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue"
        },
        "stringValue": {
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.",
          "type": "string"
        },
        "richtextValue": {
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "The value of a tag field with a double type.",
          "type": "number"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of this field.",
          "type": "string"
        },
        "boolValue": {
          "description": "The value of a tag field with a boolean type.",
          "type": "boolean"
        },
        "timestampValue": {
          "description": "The value of a tag field with a timestamp type.",
          "type": "string",
          "format": "google-datetime"
        },
        "order": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.",
          "type": "integer"
        }
      },
      "description": "Contains the value and additional information on a field within a Tag.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1FieldType": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1FieldType",
      "properties": {
        "enumType": {
          "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType",
          "description": "Represents an enum type."
        },
        "primitiveType": {
          "description": "Represents primitive types - string, bool etc.",
          "type": "string",
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP"
          ],
          "enumDescriptions": [
            "This is the default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec",
      "properties": {
        "databaseViewSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
          "description": "Spec what applies to tables that are actually views. Not set for \"real\" tables."
        },
        "type": {
          "description": "Type of this table.",
          "type": "string",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ],
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ]
        },
        "dataplexTable": {
          "readOnly": true,
          "description": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec"
        }
      },
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse": {
      "description": "Response message for ExportTaxonomies.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "description": "List of taxonomies and policy tags in a tree structure.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TableSpec": {
      "description": "Normal BigQuery table spec.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TableSpec",
      "properties": {
        "groupedEntry": {
          "description": "Output only. If the table is a dated shard, i.e., with name pattern `[prefix]YYYYMMDD`, `grouped_entry` is the Data Catalog resource name of the date sharded grouped entry, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`. Otherwise, `grouped_entry` is empty.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1ReconcileTagsMetadata": {
      "description": "Long-running operation metadata message returned by the ReconcileTags.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ReconcileTagsMetadata",
      "properties": {
        "state": {
          "description": "State of the reconciliation operation.",
          "type": "string",
          "enum": [
            "RECONCILIATION_STATE_UNSPECIFIED",
            "RECONCILIATION_QUEUED",
            "RECONCILIATION_IN_PROGRESS",
            "RECONCILIATION_DONE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The reconciliation has been queued and awaits for execution.",
            "The reconciliation is in progress.",
            "The reconciliation has been finished."
          ]
        },
        "errors": {
          "description": "Maps the name of each tagged column (or empty string for a sole entry) to tagging operation status.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1Entry": {
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Entry",
      "properties": {
        "integratedSystem": {
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "readOnly": true,
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore."
        },
        "usageSignal": {
          "$ref": "GoogleCloudDatacatalogV1UsageSignal",
          "description": "Resource usage statistics."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
          "type": "string",
          "readOnly": true
        },
        "featureOnlineStoreSpec": {
          "$ref": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
          "description": "FeatureonlineStore spec for Vertex AI Feature Store."
        },
        "bigqueryDateShardedSpec": {
          "readOnly": true,
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
        },
        "sourceSystemTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp."
        },
        "spannerTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpec",
          "description": "Specification of a Spanner table."
        },
        "cloudBigtableSystemSpec": {
          "description": "Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec"
        },
        "serviceSpec": {
          "$ref": "GoogleCloudDatacatalogV1ServiceSpec",
          "description": "Specification that applies to a Service resource."
        },
        "userSpecifiedSystem": {
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "bigqueryTableSpec": {
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec",
          "readOnly": true
        },
        "personalDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails",
          "description": "Output only. Additional information related to the entry. Private to the current user."
        },
        "fullyQualifiedName": {
          "description": "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. ",
          "type": "string"
        },
        "businessContext": {
          "$ref": "GoogleCloudDatacatalogV1BusinessContext",
          "description": "Business Context of the entry. Not supported for BigQuery datasets"
        },
        "schema": {
          "$ref": "GoogleCloudDatacatalogV1Schema",
          "description": "Schema of the entry. An entry might not have any schema attached to it."
        },
        "lookerSystemSpec": {
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`",
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec"
        },
        "sqlDatabaseSystemSpec": {
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`",
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec"
        },
        "graphSpec": {
          "description": "Spec for graph.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpec"
        },
        "datasetSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatasetSpec",
          "description": "Specification that applies to a dataset."
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec"
        },
        "dataSourceConnectionSpec": {
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type.",
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
        },
        "labels": {
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "filesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec",
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type."
        },
        "databaseTableSpec": {
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec"
        },
        "dataSource": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataSource",
          "description": "Output only. Physical location of the entry."
        },
        "modelSpec": {
          "$ref": "GoogleCloudDatacatalogV1ModelSpec",
          "description": "Model specification."
        },
        "displayName": {
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        },
        "userSpecifiedType": {
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "type": {
          "description": "The type of the entry. For details, see [`EntryType`](#entrytype).",
          "type": "string",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK",
            "FEATURE_ONLINE_STORE",
            "FEATURE_VIEW",
            "FEATURE_GROUP",
            "GRAPH",
            "NODE",
            "EDGE"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "The type of models. For more information, see [Supported models in BigQuery ML](/bigquery/docs/bqml-introduction#supported_models).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Connection to a data source. For example, a BigQuery connection.",
            "Routine, for example, a BigQuery routine.",
            "A Dataplex Universal Catalog lake.",
            "A Dataplex Universal Catalog zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look).",
            "Feature Online Store resource in Vertex AI Feature Store.",
            "Feature View resource in Vertex AI Feature Store.",
            "Feature Group resource in Vertex AI Feature Store.",
            "An entry type for a graph.",
            "An entry type for a graph node.",
            "An entry type for a graph edge."
          ]
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "routineSpec": {
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type.",
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec"
        },
        "description": {
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1GcsFileSpec": {
      "description": "Specification of a single file in Cloud Storage.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1GcsFileSpec",
      "properties": {
        "sizeBytes": {
          "description": "Output only. File size in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "filePath": {
          "description": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        },
        "gcsTimestamps": {
          "readOnly": true,
          "description": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryConnectionSpec": {
      "description": "Specification for the BigQuery connection.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BigQueryConnectionSpec",
      "properties": {
        "hasCredential": {
          "description": "True if there are credentials attached to the BigQuery connection; false otherwise.",
          "type": "boolean"
        },
        "connectionType": {
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud SQL connection."
          ],
          "description": "The type of the BigQuery connection.",
          "type": "string",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CLOUD_SQL"
          ]
        },
        "cloudSql": {
          "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
          "$ref": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequest": {
      "description": "Request message for SearchCatalog.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest",
      "properties": {
        "scope": {
          "description": "Required. The scope of this search request. A `scope` that has empty `include_org_ids`, `include_project_ids` AND false `include_gcp_public_datasets` is considered invalid. Data Catalog will return an error in such a case.",
          "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope"
        },
        "orderBy": {
          "description": "Specifies the ordering of results, currently supported case-sensitive choices are: * `relevance`, only supports descending * `last_modified_timestamp [asc|desc]`, defaults to descending if not specified * `default` that can only be descending If not specified, defaults to `relevance` descending.",
          "type": "string"
        },
        "query": {
          "description": "Optional. The query string in search query syntax. An empty query string will result in all data assets (in the specified scope) that the user has access to. Query strings can be simple as \"x\" or more qualified as: * name:x * column:x * description:y Note: Query tokens need to have a minimum of 3 characters for substring matching to work correctly. See [Data Catalog Search Syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference) for more information.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Number of results in the search page. If <=0 then defaults to 10. Max limit for page_size is 1000. Throws an invalid argument for page_size > 1000.",
          "type": "integer"
        },
        "pageToken": {
          "description": "Optional. Pagination token returned in an earlier SearchCatalogResponse.next_page_token, which indicates that this is a continuation of a prior SearchCatalogRequest call, and that the system should return the next page of data. If empty, the first page is returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResponse": {
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResponse",
      "properties": {
        "totalSize": {
          "description": "The approximate total number of entries matched by the query.",
          "type": "integer",
          "format": "int32"
        },
        "unreachable": {
          "description": "Unreachable locations. Search result does not include data from those locations. Users can get additional information on the error by repeating the search request with a more restrictive parameter -- setting the value for `SearchDataCatalogRequest.scope.restricted_locations`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogResult"
          },
          "description": "Search results.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for SearchCatalog.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1UsageSignal": {
      "id": "GoogleCloudDatacatalogV1beta1UsageSignal",
      "properties": {
        "usageWithinTimeRange": {
          "description": "Usage statistics over each of the pre-defined time ranges, supported strings for time ranges are {\"24H\", \"7D\", \"30D\"}.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1UsageStats"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The timestamp of the end of the usage statistics duration.",
          "type": "string"
        }
      },
      "description": "The set of all usage signals that we store in Data Catalog.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest": {
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest",
      "properties": {
        "inlineSource": {
          "description": "Inline source used for taxonomies to be imported.",
          "$ref": "GoogleCloudDatacatalogV1beta1InlineSource"
        }
      },
      "description": "Request message for ImportTaxonomies.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1GcsFilesetSpec": {
      "description": "Describes a Cloud Storage fileset entry.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec",
      "properties": {
        "filePatterns": {
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. See [Cloud Storage documentation](https://cloud.google.com/storage/docs/wildcards) for more information. Note that bucket wildcards are currently not supported. Examples of valid file_patterns: * `gs://bucket_name/dir/*`: matches all files within `bucket_name/dir` directory. * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` spanning all subdirectories. * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to provide more powerful matches, for example: * `gs://bucket_name/[a-m]??.j*g`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sampleGcsFileSpecs": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1GcsFileSpec"
          },
          "description": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1Tag": {
      "id": "GoogleCloudDatacatalogV1beta1Tag",
      "properties": {
        "templateDisplayName": {
          "readOnly": true,
          "description": "Output only. The display name of the tag template.",
          "type": "string"
        },
        "fields": {
          "description": "Required. This maps the ID of a tag field to the value of and additional information about that field. Valid field IDs are defined by the tag's template. A tag must have at least 1 field and at most 500 fields.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagField"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the tag in URL format. Example: * projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}/tags/{tag_id} where `tag_id` is a system-generated identifier. Note that this Tag may not actually be stored in the location in this name.",
          "type": "string"
        },
        "template": {
          "description": "Required. The resource name of the tag template that this tag uses. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id} This field cannot be modified after creation.",
          "type": "string"
        },
        "column": {
          "description": "Resources like Entry can have schemas associated with them. This scope allows users to attach tags to an individual column based on that schema. For attaching a tag to a nested column, use `.` to separate the column names. Example: * `outer_column.inner_column`",
          "type": "string"
        }
      },
      "description": "Tags are used to attach custom metadata to Data Catalog resources. Tags conform to the specifications within their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "id": "GoogleCloudDatacatalogV1Contacts",
      "properties": {
        "people": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "description": "The list of contact people for the entry.",
          "type": "array"
        }
      },
      "description": "Contact people for the entry.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "description": "Table view specification.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "properties": {
        "viewQuery": {
          "description": "Output only. The query that defines the table view.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "properties": {
        "importedLibraries": {
          "items": {
            "type": "string"
          },
          "description": "Paths of the imported libraries.",
          "type": "array"
        }
      },
      "description": "Fields specific for BigQuery routines.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "description": "Long-running operation response message returned by ReconcileTags.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "properties": {
        "deletedTagsCount": {
          "description": "Number of tags deleted in the request.",
          "type": "string",
          "format": "int64"
        },
        "createdTagsCount": {
          "description": "Number of tags created in the request.",
          "type": "string",
          "format": "int64"
        },
        "updatedTagsCount": {
          "description": "Number of tags updated in the request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
      "properties": {
        "sqlQuery": {
          "description": "SQL query used to generate this view.",
          "type": "string"
        },
        "viewType": {
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ],
          "description": "Type of this view.",
          "type": "string",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ]
        },
        "baseTable": {
          "description": "Name of a singular table this view reflects one to one.",
          "type": "string"
        }
      },
      "description": "Specification that applies to database view.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexSpec": {
      "description": "Common Dataplex Universal Catalog fields.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataplexSpec",
      "properties": {
        "dataFormat": {
          "description": "Format of the data.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchema"
        },
        "compressionFormat": {
          "description": "Compression format of the data, e.g., zip, gzip etc.",
          "type": "string"
        },
        "asset": {
          "description": "Fully qualified resource name of an asset in Dataplex Universal Catalog, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached.",
          "type": "string"
        },
        "projectId": {
          "description": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the corresponding Dataplex Universal Catalog lake / zone / asset.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "description": "Business Context of the entry.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BusinessContext",
      "properties": {
        "entryOverview": {
          "description": "Entry overview fields for rich text descriptions of entries.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        },
        "contacts": {
          "description": "Contact people for the entry.",
          "$ref": "GoogleCloudDatacatalogV1Contacts"
        }
      }
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "id": "GoogleCloudDatacatalogV1CommonUsageStats",
      "properties": {
        "viewCount": {
          "description": "View count in source system.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Common statistics on the entry's usage. They can be set on any system.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "description": "External table registered by Dataplex Universal Catalog. Dataplex Universal Catalog publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable",
      "properties": {
        "system": {
          "description": "Service in which the external table is registered.",
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ]
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the external table.",
          "type": "string"
        },
        "googleCloudResource": {
          "description": "Google Cloud resource name of the external table.",
          "type": "string"
        },
        "dataCatalogEntry": {
          "description": "Name of the Data Catalog entry representing the external table.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "id": "GoogleCloudDatacatalogV1UsageSignal",
      "properties": {
        "usageWithinTimeRange": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          },
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`.",
          "type": "object"
        },
        "favoriteCount": {
          "description": "Favorite count in the source system.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The end timestamp of the duration of usage statistics.",
          "type": "string"
        },
        "commonUsageWithinTimeRange": {
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          }
        }
      },
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey": {
      "description": "Specification of a Spanner foreign key.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey",
      "properties": {
        "entry": {
          "description": "Output only. The table name this foreign key referenced to. Format: `projects/{PROJECT_ID}/locations/{LOCATION}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The constraint_name of the foreign key, for example, FK_CustomerOrder.",
          "type": "string"
        },
        "columnMappings": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping"
          },
          "description": "Output only. The ordered list of column mappings for this foreign key.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec": {
      "description": "Spec for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`. Context: https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec",
      "properties": {
        "shardCount": {
          "description": "Output only. Total number of shards.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "dataset": {
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`.",
          "type": "string",
          "readOnly": true
        },
        "tablePrefix": {
          "readOnly": true,
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`, for example, for shard `MyTable20180101`, the `table_prefix` is `MyTable`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexFilesetSpec": {
      "description": "Entry specification for a Dataplex Universal Catalog fileset.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
      "properties": {
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex Universal Catalog fields."
        }
      }
    },
    "GoogleCloudDatacatalogV1ModelSpec": {
      "description": "Specification that applies to a model. Valid only for entries with the `MODEL` type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ModelSpec",
      "properties": {
        "vertexModelSpec": {
          "$ref": "GoogleCloudDatacatalogV1VertexModelSpec",
          "description": "Specification for vertex model resources."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse": {
      "description": "Response message for ListPolicyTags.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "policyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
          },
          "description": "The policy tags that are in the requested taxonomy.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse": {
      "description": "Response message for ListTaxonomies.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "taxonomies": {
          "description": "Taxonomies that the project contains.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "properties": {
        "shardCount": {
          "description": "Output only. Total number of shards.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "latestShardResource": {
          "readOnly": true,
          "description": "Output only. BigQuery resource name of the latest shard.",
          "type": "string"
        },
        "dataset": {
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`.",
          "type": "string",
          "readOnly": true
        },
        "tablePrefix": {
          "readOnly": true,
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest": {
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest",
      "properties": {
        "newTagTemplateFieldId": {
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`.",
          "type": "string"
        }
      },
      "description": "Request message for RenameTagTemplateField.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1RoutineSpec": {
      "id": "GoogleCloudDatacatalogV1RoutineSpec",
      "properties": {
        "routineType": {
          "enumDescriptions": [
            "Unspecified type.",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ],
          "description": "The type of the routine.",
          "type": "string",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ]
        },
        "returnType": {
          "description": "Return type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "definitionBody": {
          "description": "The body of the routine.",
          "type": "string"
        },
        "bigqueryRoutineSpec": {
          "description": "Fields specific for BigQuery routines.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryRoutineSpec"
        },
        "language": {
          "description": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`",
          "type": "string"
        },
        "routineArguments": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1RoutineSpecArgument"
          },
          "description": "Arguments of the routine.",
          "type": "array"
        }
      },
      "description": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType": {
      "description": "Represents the type of a field element.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType",
      "properties": {
        "type": {
          "description": "Required. The type of a field element. See ColumnSchema.type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1StorageProperties": {
      "id": "GoogleCloudDatacatalogV1StorageProperties",
      "properties": {
        "filePattern": {
          "description": "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileType": {
          "description": "File type in MIME format, for example, `text/plain`.",
          "type": "string"
        }
      },
      "description": "Details the properties of the underlying storage.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SystemTimestamps": {
      "id": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the resource within the given system.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last-modified time of the resource within the given system.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The expiration time of the resource within the given system. Currently only apllicable to BigQuery resources.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Timestamps about this resource according to a particular system.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpec": {
      "id": "GoogleCloudDatacatalogV1GraphSpec",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Fully qualified graph name. e.g. `named_catalog.MyGraph`",
          "type": "string"
        },
        "nodeTables": {
          "description": "Required. Node tables of the graph.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          }
        },
        "edgeTables": {
          "description": "Optional. Edge tables of the graph.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          }
        }
      },
      "description": "Specification that applies to a graph.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "description": "Schema in protocol buffer format.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
      "properties": {
        "text": {
          "description": "Protocol buffer source of the schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchema",
      "properties": {
        "thrift": {
          "description": "Schema in Thrift format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema"
        },
        "protobuf": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
          "description": "Schema in protocol buffer format."
        },
        "orc": {
          "description": "Marks an ORC-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema"
        },
        "parquet": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
          "description": "Marks a Parquet-encoded data source."
        },
        "csv": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
          "description": "Marks a CSV-encoded data source."
        },
        "avro": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
          "description": "Schema in Avro JSON format."
        }
      },
      "description": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data.",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1GcsFileSpec": {
      "description": "Specifications of a single file in Cloud Storage.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1GcsFileSpec",
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The size of the file, in bytes.",
          "type": "string"
        },
        "filePath": {
          "description": "Required. The full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        },
        "gcsTimestamps": {
          "description": "Output only. Timestamps about the Cloud Storage file.",
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1FilesetSpec",
      "properties": {
        "dataplexFileset": {
          "description": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTable": {
      "description": "Element table definition.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable",
      "properties": {
        "inputSource": {
          "enumDescriptions": [
            "Default unknown input source.",
            "Table input source.",
            "View input source."
          ],
          "description": "Required. The input source of the graph element.",
          "type": "string",
          "enum": [
            "INPUT_SOURCE_UNSPECIFIED",
            "TABLE",
            "VIEW"
          ]
        },
        "labelAndProperties": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
          },
          "description": "Required. The labels and their properties for the graph element.",
          "type": "array"
        },
        "elementKeys": {
          "description": "Required. The name of the keys of the elements in the table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dynamicLabelColumn": {
          "description": "Optional. If set, this is the input column for dynamic label in schemaless data model.",
          "type": "string"
        },
        "dataSource": {
          "description": "Required. The name of the data source. This is either a table name or a view name that is used for graph element input source. E.g. `Person` table or `PersonView` view.",
          "type": "string"
        },
        "alias": {
          "description": "Required. The alias name of the graph element.",
          "type": "string"
        },
        "sourceNodeReference": {
          "description": "Optional. The source node reference of the edge.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference"
        },
        "destinationNodeReference": {
          "description": "Optional. The destination node reference of the edge.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference"
        },
        "kind": {
          "description": "Required. The kind of the graph element.",
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "NODE",
            "EDGE"
          ],
          "enumDescriptions": [
            "Default unknown kind.",
            "Node kind.",
            "Edge kind."
          ]
        },
        "dynamicPropertiesColumn": {
          "description": "Optional. If set, this is the input column for dynamic properties in schemaless data model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1Taxonomy": {
      "id": "GoogleCloudDatacatalogV1beta1Taxonomy",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this taxonomy, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{id}\".",
          "type": "string"
        },
        "service": {
          "$ref": "GoogleCloudDatacatalogV1beta1TaxonomyService",
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported.",
          "readOnly": true
        },
        "policyTagCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of policy tags contained in this taxonomy.",
          "type": "integer"
        },
        "activatedPolicyTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine grained access control policy, which enables access control on tagged resources."
            ]
          },
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list.",
          "type": "array"
        },
        "displayName": {
          "description": "Required. User defined name of this taxonomy. It must: contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of this taxonomy. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        },
        "taxonomyTimestamps": {
          "readOnly": true,
          "description": "Output only. Timestamps about this taxonomy. Only create_time and update_time are used.",
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps"
        }
      },
      "description": "A taxonomy is a collection of policy tags that classify data along a common axis. For instance a data *sensitivity* taxonomy could contain policy tags denoting PII such as age, zipcode, and SSN. A data *origin* taxonomy could contain policy tags to distinguish user data, employee data, partner data, public data.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope": {
      "description": "The criteria that select the subspace used for query matching.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope",
      "properties": {
        "includeOrgIds": {
          "description": "The list of organization IDs to search within. To find your organization ID, follow instructions in https://cloud.google.com/resource-manager/docs/creating-managing-organization.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeProjectIds": {
          "description": "The list of project IDs to search within. To learn more about the distinction between project names/IDs/numbers, go to https://cloud.google.com/docs/overview/#projects.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeGcpPublicDatasets": {
          "description": "If `true`, include Google Cloud public datasets in the search results. Info on Google Cloud public datasets is available at https://cloud.google.com/public-datasets/. By default, Google Cloud public datasets are excluded.",
          "type": "boolean"
        },
        "restrictedLocations": {
          "description": "Optional. The list of locations to search within. 1. If empty, search will be performed in all locations; 2. If any of the locations are NOT in the valid locations list, error will be returned; 3. Otherwise, search only the given locations for matching results. Typical usage is to leave this field empty. When a location is unreachable as returned in the `SearchCatalogResponse.unreachable` field, users can repeat the search request with this parameter set to get additional information on the error. Valid locations: * asia-east1 * asia-east2 * asia-northeast1 * asia-northeast2 * asia-northeast3 * asia-south1 * asia-southeast1 * australia-southeast1 * eu * europe-north1 * europe-west1 * europe-west2 * europe-west3 * europe-west4 * europe-west6 * global * northamerica-northeast1 * southamerica-east1 * us * us-central1 * us-east1 * us-east4 * us-west1 * us-west2",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1DatasetSpec": {
      "description": "Specification that applies to a dataset. Valid only for entries with the `DATASET` type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DatasetSpec",
      "properties": {
        "vertexDatasetSpec": {
          "$ref": "GoogleCloudDatacatalogV1VertexDatasetSpec",
          "description": "Vertex AI Dataset specific fields"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1InlineSource": {
      "description": "Inline source used for taxonomies import.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1InlineSource",
      "properties": {
        "taxonomies": {
          "description": "Required. Taxonomies to be imported.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1Tag": {
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Tag",
      "properties": {
        "dataplexTransferStatus": {
          "description": "Output only. Denotes the transfer status of the Tag Template.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ]
        },
        "column": {
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`.",
          "type": "string"
        },
        "template": {
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation.",
          "type": "string"
        },
        "templateDisplayName": {
          "readOnly": true,
          "description": "Output only. The display name of the tag template.",
          "type": "string"
        },
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          },
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListEntriesResponse": {
      "description": "Response message for ListEntries.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListEntriesResponse",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Entry"
          },
          "description": "Entry details.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1UsageStats": {
      "description": "Detailed counts on the entry's usage. Caveats: - Only BigQuery tables have usage stats - The usage stats only include BigQuery query jobs - The usage stats might be underestimated, e.g. wildcard table references are not yet counted in usage computation https://cloud.google.com/bigquery/docs/querying-wildcard-tables",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1UsageStats",
      "properties": {
        "totalFailures": {
          "format": "float",
          "description": "The number of times that the underlying entry was attempted to be used but failed.",
          "type": "number"
        },
        "totalCancellations": {
          "format": "float",
          "description": "The number of times that the underlying entry was attempted to be used but was cancelled by the user.",
          "type": "number"
        },
        "totalCompletions": {
          "format": "float",
          "description": "The number of times that the underlying entry was successfully used.",
          "type": "number"
        },
        "totalExecutionTimeForCompletionsMillis": {
          "description": "Total time spent (in milliseconds) during uses the resulted in completions.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
[...]
