{
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://dataform.googleapis.com/",
  "revision": "20260920",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dataform:v1",
  "batchPath": "batch",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://dataform.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dataform.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://dataform.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://dataform.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://dataform.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://dataform.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://dataform.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://dataform.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://dataform.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://dataform.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://dataform.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://dataform.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://dataform.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://dataform.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://dataform.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://dataform.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://dataform.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataform.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "ownerName": "Google",
  "name": "dataform",
  "description": "Service to develop, version control, and operationalize SQL pipelines in BigQuery.",
  "rootUrl": "https://dataform.googleapis.com/",
  "version": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "version_module": true,
  "schemas": {
    "MoveDirectoryResponse": {
      "description": "`MoveDirectory` response message.",
      "type": "object",
      "properties": {},
      "id": "MoveDirectoryResponse"
    },
    "BigQueryAction": {
      "properties": {
        "sqlScript": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generated BigQuery SQL script that will be executed."
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
        }
      },
      "id": "BigQueryAction",
      "type": "object",
      "description": "Represents a workflow action that will run against BigQuery."
    },
    "Folder": {
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "properties": {
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "teamFolderName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder."
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder."
        },
        "creatorIamPrincipal": {
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the Folder was last updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the Folder was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Folder",
      "type": "object"
    },
    "ActionSimpleLoadMode": {
      "type": "object",
      "id": "ActionSimpleLoadMode",
      "description": "Simple load definition",
      "properties": {}
    },
    "LoadConfig": {
      "type": "object",
      "id": "LoadConfig",
      "description": "Simplified load configuration for actions",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        },
        "maximum": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "append": {
          "$ref": "SimpleLoadMode",
          "description": "Append into destination table"
        }
      }
    },
    "RemoveDirectoryResponse": {
      "id": "RemoveDirectoryResponse",
      "description": "`RemoveDirectory` response message.",
      "properties": {},
      "type": "object"
    },
    "Config": {
      "type": "object",
      "id": "Config",
      "properties": {
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        }
      },
      "description": "Config for all repositories in a given project and location."
    },
    "GitRemoteSettings": {
      "id": "GitRemoteSettings",
      "type": "object",
      "properties": {
        "effectiveDefaultBranch": {
          "type": "string",
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "readOnly": true
        },
        "tokenStatus": {
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Deprecated: The field does not contain any token status information.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ]
        },
        "authenticationTokenSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "defaultBranch": {
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used.",
          "type": "string"
        },
        "gitRepositoryLink": {
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`",
          "type": "string"
        },
        "sshAuthenticationConfig": {
          "$ref": "SshAuthenticationConfig",
          "description": "Optional. Authentication fields for remote uris using SSH protocol."
        },
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        }
      },
      "description": "Controls Git remote configuration for a repository."
    },
    "ReadRepositoryFileResponse": {
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "The file's contents."
        }
      },
      "description": "`ReadRepositoryFile` response message.",
      "id": "ReadRepositoryFileResponse"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "NotebookRuntimeOptions": {
      "type": "object",
      "description": "Configures various aspects of Dataform notebook runtime.",
      "properties": {
        "gcsRepositorySnapshotDestination": {
          "description": "Optional. The Google Cloud Storage destination to upload the snapshot to. For empty URI it defaults to the provided gcs_output_bucket. Format: `gs://bucket-name/path/`.",
          "$ref": "GcsRepositorySnapshotDestination"
        },
        "gcsOutputBucket": {
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`.",
          "type": "string"
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications.",
          "type": "string"
        }
      },
      "id": "NotebookRuntimeOptions"
    },
    "MoveFileRequest": {
      "type": "object",
      "description": "`MoveFile` request message.",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "type": "string",
          "description": "Required. The file's new path including filename, relative to the workspace root."
        }
      },
      "id": "MoveFileRequest"
    },
    "PipelineConfig": {
      "id": "PipelineConfig",
      "description": "Defines the pipeline type and path within the Git repository.",
      "type": "object",
      "properties": {
        "pipelineType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "description": "Required. The type of the pipeline.",
          "type": "string",
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ]
        },
        "path": {
          "type": "string",
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located."
        }
      }
    },
    "TeamFolderContentsEntry": {
      "id": "TeamFolderContentsEntry",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "type": "object",
      "description": "Represents a single content entry."
    },
    "FetchFileGitStatusesResponse": {
      "description": "`FetchFileGitStatuses` response message.",
      "id": "FetchFileGitStatusesResponse",
      "properties": {
        "uncommittedFileChanges": {
          "type": "array",
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file."
        }
      },
      "type": "object"
    },
    "QueryUserRootContentsResponse": {
      "description": "`QueryUserRootContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "description": "List of entries in the folder.",
          "type": "array",
          "items": {
            "$ref": "RootContentsEntry"
          }
        }
      },
      "id": "QueryUserRootContentsResponse"
    },
    "WriteFileRequest": {
      "type": "object",
      "description": "`WriteFile` request message.",
      "id": "WriteFileRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file."
        },
        "contents": {
          "format": "byte",
          "description": "Required. The file's contents.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "SearchResult": {
      "type": "object",
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        }
      },
      "id": "SearchResult",
      "description": "Client-facing representation of a search result entry."
    },
    "RemoveFileResponse": {
      "description": "`RemoveFile` response message.",
      "type": "object",
      "properties": {},
      "id": "RemoveFileResponse"
    },
    "QueryTeamFolderContentsResponse": {
      "id": "QueryTeamFolderContentsResponse",
      "type": "object",
      "properties": {
        "entries": {
          "description": "List of entries in the TeamFolder.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`QueryTeamFolderContents` response message."
    },
    "CommitRepositoryChangesRequest": {
      "description": "`CommitRepositoryChanges` request message.",
      "type": "object",
      "id": "CommitRepositoryChangesRequest",
      "properties": {
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        },
        "fileOperations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root."
        },
        "requiredHeadCommitSha": {
          "type": "string",
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed."
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "SshAuthenticationConfig": {
      "id": "SshAuthenticationConfig",
      "description": "Configures fields for performing SSH authentication.",
      "properties": {
        "hostPublicKey": {
          "type": "string",
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host."
        },
        "userPrivateKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        }
      },
      "type": "object"
    },
    "ScheduledExecutionRecord": {
      "id": "ScheduledExecutionRecord",
      "properties": {
        "workflowInvocation": {
          "type": "string",
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`."
        },
        "executionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of this execution attempt.",
          "readOnly": true
        },
        "errorStatus": {
          "$ref": "Status",
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful."
        }
      },
      "type": "object",
      "description": "A record of an attempt to create a workflow invocation for this workflow config."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "Policy"
    },
    "CodeCompilationConfig": {
      "properties": {
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository."
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "vars": {
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        },
        "assertionSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions.",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID)."
        },
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CodeCompilationConfig",
      "description": "Configures various aspects of Dataform code compilation."
    },
    "FetchGitAheadBehindResponse": {
      "properties": {
        "commitsAhead": {
          "format": "int32",
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "type": "integer"
        },
        "commitsBehind": {
          "type": "integer",
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "format": "int32"
        }
      },
      "id": "FetchGitAheadBehindResponse",
      "description": "`FetchGitAheadBehind` response message.",
      "type": "object"
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "id": "QueryRepositoryDirectoryContentsResponse",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "description": "List of entries in the directory.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "FolderContentsEntry": {
      "id": "FolderContentsEntry",
      "type": "object",
      "description": "Represents a single content entry.",
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        }
      }
    },
    "WorkflowInvocationAction": {
      "description": "Represents a single action in a workflow invocation.",
      "type": "object",
      "properties": {
        "failureReason": {
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true,
          "type": "string"
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "readOnly": true
        },
        "dataPreparationAction": {
          "readOnly": true,
          "description": "Output only. The workflow action's data preparation action details.",
          "$ref": "DataPreparationAction"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "bigqueryAction": {
          "$ref": "BigQueryAction",
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true
        },
        "notebookAction": {
          "description": "Output only. The workflow action's notebook action details.",
          "readOnly": true,
          "$ref": "NotebookAction"
        },
        "state": {
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. This action's current state."
        },
        "canonicalTarget": {
          "readOnly": true,
          "$ref": "Target",
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "$ref": "Target",
          "readOnly": true
        },
        "bigqueryUnitTestAction": {
          "description": "Output only. The workflow action's unit test details.",
          "readOnly": true,
          "$ref": "BigQueryUnitTestAction"
        }
      },
      "id": "WorkflowInvocationAction"
    },
    "RemoveDirectoryRequest": {
      "id": "RemoveDirectoryRequest",
      "description": "`RemoveDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "type": "object",
      "properties": {
        "tokenStatus": {
          "type": "string",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "description": "Indicates the status of the Git access token."
        }
      }
    },
    "CommitWorkspaceChangesRequest": {
      "id": "CommitWorkspaceChangesRequest",
      "type": "object",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed."
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        }
      },
      "description": "`CommitWorkspaceChanges` request message."
    },
    "WorkflowConfig": {
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig",
      "type": "object",
      "properties": {
        "recentScheduledExecutionRecords": {
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "type": "array",
          "readOnly": true
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of workflow invocations."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the WorkflowConfig was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config."
        },
        "invocationConfig": {
          "description": "Optional. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "name": {
          "description": "Identifier. The workflow config's name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NotebookAction": {
      "type": "object",
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "properties": {
        "contents": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The code contents of a Notebook to be run."
        },
        "filePath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path to the notebook file in the repository."
        },
        "jobId": {
          "type": "string",
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run.",
          "readOnly": true
        }
      },
      "id": "NotebookAction"
    },
    "IncrementalLoadMode": {
      "type": "object",
      "description": "Load definition for incremental load modes",
      "id": "IncrementalLoadMode",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      }
    },
    "Declaration": {
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "id": "Declaration",
      "type": "object",
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      }
    },
    "DeleteTeamFolderTreeRequest": {
      "type": "object",
      "description": "`DeleteTeamFolderTree` request message.",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "id": "DeleteTeamFolderTreeRequest"
    },
    "GcsRepositorySnapshotMetadata": {
      "properties": {
        "crc32cChecksum": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded."
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "readOnly": true
        },
        "repositorySnapshotUri": {
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "type": "object",
      "id": "GcsRepositorySnapshotMetadata"
    },
    "MoveDirectoryRequest": {
      "id": "MoveDirectoryRequest",
      "type": "object",
      "description": "`MoveDirectory` request message.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      }
    },
    "BigQueryUnitTest": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The name of the unit test.",
          "type": "string"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testQuery": {
          "description": "Test query to execute.",
          "type": "string"
        },
        "expectedOutputQuery": {
          "description": "Expected output query to compare against the test query.",
          "type": "string"
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        }
      },
      "id": "BigQueryUnitTest",
      "description": "Represents a BigQuery unit test."
    },
    "CommitLogEntry": {
      "type": "object",
      "id": "CommitLogEntry",
      "properties": {
        "commitTime": {
          "description": "Commit timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "commitMessage": {
          "type": "string",
          "description": "The commit message for this commit log entry."
        },
        "commitSha": {
          "type": "string",
          "description": "The commit SHA for this commit log entry."
        },
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        }
      },
      "description": "Represents a single commit log."
    },
    "FilesystemEntryMetadata": {
      "description": "Represents metadata for a single entry in a filesystem.",
      "id": "FilesystemEntryMetadata",
      "properties": {
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Represents the time of the last modification of the entry.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DataEncryptionState": {
      "id": "DataEncryptionState",
      "description": "Describes encryption state of a resource.",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "description": "Required. The KMS key version name with which data of a resource is encrypted.",
          "type": "string"
        }
      }
    },
    "WorkspaceCompilationOverrides": {
      "id": "WorkspaceCompilationOverrides",
      "properties": {
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        }
      },
      "type": "object",
      "description": "Configures workspace compilation overrides for a repository."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "Relation": {
      "id": "Relation",
      "properties": {
        "relationType": {
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ]
        },
        "additionalOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported."
        },
        "storageUri": {
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`.",
          "type": "string"
        },
        "partitionExpirationDays": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the partition expiration in days."
        },
        "clusterExpressions": {
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which this relation should contain."
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "preOperations": {
          "type": "array",
          "description": "SQL statements to be executed before creating the relation.",
          "items": {
            "type": "string"
          }
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "fileFormat": {
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "description": "Optional. The file format for the BigQuery table."
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
        },
        "tableFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "type": "string",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "description": "Optional. The table format for the BigQuery table."
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        }
      },
      "description": "Represents a database relation.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "CompilationResultAction": {
      "description": "Represents a single Dataform action in a compilation result.",
      "type": "object",
      "id": "CompilationResultAction",
      "properties": {
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "canonicalTarget": {
          "$ref": "Target",
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "relation": {
          "$ref": "Relation",
          "description": "The database relation created/updated by this action."
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        },
        "operations": {
          "$ref": "Operations",
          "description": "The database operations executed by this action."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "bigqueryUnitTest": {
          "$ref": "BigQueryUnitTest",
          "description": "The unit test executed by this action."
        }
      }
    },
    "ActionLoadConfig": {
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "$ref": "ActionIncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        },
        "unique": {
          "$ref": "ActionIncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        }
      },
      "id": "ActionLoadConfig",
      "type": "object",
      "description": "Simplified load configuration for actions"
    },
    "InstallNpmPackagesResponse": {
      "description": "`InstallNpmPackages` response message.",
      "type": "object",
      "id": "InstallNpmPackagesResponse",
      "properties": {}
    },
    "DeleteFile": {
      "id": "DeleteFile",
      "properties": {},
      "type": "object",
      "description": "Represents the delete file operation."
    },
    "UncommittedFileChange": {
      "id": "UncommittedFileChange",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "readOnly": true,
          "description": "Output only. Indicates the status of the file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ]
        },
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        }
      },
      "description": "Represents the Git state of a file with uncommitted changes."
    },
    "BigQueryUnitTestAction": {
      "type": "object",
      "properties": {
        "totalProcessedBytes": {
          "description": "Output only. Total bytes processed for this action. Combined total for actual and expected jobs.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "actualResultsJobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Job ID for the actual results."
        },
        "expectedResultsJobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Job ID for the expected results."
        },
        "actualResultsSqlScript": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. SQL script for the actual results."
        },
        "expectedResultsSqlScript": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. SQL script for the expected results."
        },
        "totalBilledBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total bytes billed for this action. Combined total for actual and expected jobs."
        }
      },
      "description": "Represents a workflow action that will run a BigQuery unit test.",
      "id": "BigQueryUnitTestAction"
    },
    "TeamFolder": {
      "id": "TeamFolder",
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The TeamFolder's user-friendly name."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "creatorIamPrincipal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder."
        },
        "name": {
          "description": "Identifier. The TeamFolder's name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the TeamFolder was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Repository": {
      "type": "object",
      "description": "Represents a Dataform Git repository.",
      "id": "Repository",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The repository's user-friendly name."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the repository was created.",
          "format": "google-datetime"
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format."
        },
        "endUserAuthConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Includes configuration options for end user authentication."
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key."
        },
        "containingFolder": {
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`.",
          "type": "string"
        },
        "gitRemoteSettings": {
          "description": "Optional. If set, configures this repository to be linked to a Git remote.",
          "$ref": "GitRemoteSettings"
        },
        "name": {
          "description": "Identifier. The repository's name.",
          "type": "string"
        },
        "setAuthenticatedUserAdmin": {
          "type": "boolean",
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository."
        },
        "workspaceCompilationOverrides": {
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information.",
          "$ref": "WorkspaceCompilationOverrides"
        },
        "kmsKeyName": {
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Repository user labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "teamFolderName": {
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder.",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        }
      }
    },
    "ErrorTable": {
      "type": "object",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "Error table partition expiration in days. Only positive values are allowed."
        }
      },
      "id": "ErrorTable"
    },
    "QueryDirectoryContentsResponse": {
      "description": "`QueryDirectoryContents` response message.",
      "id": "QueryDirectoryContentsResponse",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array",
          "description": "List of entries in the directory."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "QueryCompilationResultActionsResponse": {
      "type": "object",
      "id": "QueryCompilationResultActionsResponse",
      "description": "`QueryCompilationResultActions` response message.",
      "properties": {
        "compilationResultActions": {
          "items": {
            "$ref": "CompilationResultAction"
          },
          "description": "List of compilation result actions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "ListWorkflowConfigsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workflowConfigs": {
          "items": {
            "$ref": "WorkflowConfig"
          },
          "description": "List of workflow configs.",
          "type": "array"
        }
      },
      "id": "ListWorkflowConfigsResponse",
      "description": "`ListWorkflowConfigs` response message."
    },
    "SimpleLoadMode": {
      "description": "Simple load definition",
      "type": "object",
      "id": "SimpleLoadMode",
      "properties": {}
    },
    "DeleteFolderTreeRequest": {
      "description": "`DeleteFolderTree` request message.",
      "id": "DeleteFolderTreeRequest",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      }
    },
    "PullGitCommitsResponse": {
      "id": "PullGitCommitsResponse",
      "properties": {},
      "type": "object",
      "description": "`PullGitCommits` response message."
    },
    "Assertion": {
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        },
        "parentAction": {
          "$ref": "Target",
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated."
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Assertion"
    },
    "ActionIncrementalLoadMode": {
      "type": "object",
      "id": "ActionIncrementalLoadMode",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "description": "Load definition for incremental load modes"
    },
    "EndUserAuthenticationConfig": {
      "id": "EndUserAuthenticationConfig",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "Output only. Email address of the user to run workflow invocations under.",
          "readOnly": true
        },
        "oauthConfig": {
          "description": "Optional. OAuth configuration for end user authentication.",
          "$ref": "OAuthConfig"
        }
      },
      "type": "object",
      "description": "Includes configuration options for end user authentication."
    },
    "EndUserAuthConfig": {
      "description": "Includes configuration options for repository end user authentication.",
      "properties": {
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. OAuth configuration for repository end user authentication."
        }
      },
      "type": "object",
      "id": "EndUserAuthConfig"
    },
    "InstallNpmPackagesRequest": {
      "properties": {
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      },
      "id": "InstallNpmPackagesRequest",
      "type": "object",
      "description": "`InstallNpmPackages` request message."
    },
    "ReleaseConfig": {
      "type": "object",
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig",
      "properties": {
        "recentScheduledReleaseRecords": {
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "type": "array"
        },
        "releaseCompilationResult": {
          "type": "string",
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of compilation results."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        }
      }
    },
    "ActionSqlDefinition": {
      "id": "ActionSqlDefinition",
      "properties": {
        "loadConfig": {
          "$ref": "ActionLoadConfig",
          "description": "Load configuration."
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ActionErrorTable"
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        }
      },
      "description": "Definition of a SQL Data Preparation",
      "type": "object"
    },
    "ActionErrorTable": {
      "properties": {
        "retentionDays": {
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer"
        },
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        }
      },
      "type": "object",
      "id": "ActionErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table."
    },
    "Workspace": {
      "description": "Represents a Dataform Git workspace.",
      "type": "object",
      "properties": {
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key."
        },
        "createTime": {
          "description": "Output only. The timestamp of when the workspace was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The workspace's name.",
          "type": "string"
        },
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`.",
          "$ref": "PrivateResourceMetadata",
          "readOnly": true
        }
      },
      "id": "Workspace"
    },
    "MoveFileResponse": {
      "description": "`MoveFile` response message.",
      "id": "MoveFileResponse",
      "properties": {},
      "type": "object"
    },
    "PolicyName": {
      "type": "object",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "properties": {
        "region": {
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\".",
          "type": "string"
        },
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc."
        }
      },
      "id": "PolicyName"
    },
    "InvocationConfig": {
      "properties": {
        "fullyRefreshIncrementalTablesEnabled": {
          "type": "boolean",
          "description": "Optional. When set to true, any incremental tables will be fully refreshed."
        },
        "includedTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "Optional. The set of action identifiers to include."
        },
        "executionMode": {
          "enumDescriptions": [
            "Default value.",
            "Default execution mode, which runs all actions except unit tests. Same as ALL_EXCEPT_UNIT_TESTS.",
            "Run all actions except unit tests.",
            "Run unit tests only."
          ],
          "description": "Optional. Specifies the execution mode for the workflow invocation.",
          "type": "string",
          "enum": [
            "EXECUTION_MODE_UNSPECIFIED",
            "DEFAULT",
            "ALL_EXCEPT_UNIT_TESTS",
            "UNIT_TESTS_ONLY"
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "transitiveDependentsIncluded": {
          "type": "boolean",
          "description": "Optional. When set to true, transitive dependents of included actions will be executed."
        },
        "queryPriority": {
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ],
          "type": "string",
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ]
        },
        "endUserAuthConfig": {
          "$ref": "EndUserAuthenticationConfig",
          "description": "Optional. Configuration for end user authentication. Note that this should not be set when `service_account` is used."
        },
        "includedTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The set of tags to include."
        }
      },
      "type": "object",
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "id": "InvocationConfig"
    },
    "PushGitCommitsRequest": {
      "id": "PushGitCommitsRequest",
      "description": "`PushGitCommits` request message.",
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommitMetadata": {
      "properties": {
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        }
      },
      "type": "object",
      "description": "Represents a Dataform Git commit.",
      "id": "CommitMetadata"
    },
    "CommitAuthor": {
      "properties": {
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The commit author's name."
        }
      },
      "description": "Represents the author of a Git commit.",
      "id": "CommitAuthor",
      "type": "object"
    },
    "IncrementalTableConfig": {
      "id": "IncrementalTableConfig",
      "type": "object",
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "properties": {
        "incrementalPostOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed after inserting new rows into the relation."
        },
        "uniqueKeyParts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation."
        },
        "updatePartitionFilter": {
          "type": "string",
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information)."
        },
        "refreshDisabled": {
          "type": "boolean",
          "description": "Whether this table should be protected from being refreshed."
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        },
        "incrementalPreOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before inserting new rows into the relation."
        }
      }
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "id": "Operations",
      "type": "object",
      "properties": {
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "queries": {
          "type": "array",
          "description": "A list of arbitrary SQL statements that will be executed without alteration.",
          "items": {
            "type": "string"
          }
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        }
      }
    },
    "RemoveFileRequest": {
      "type": "object",
      "id": "RemoveFileRequest",
      "description": "`RemoveFile` request message.",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "ListCompilationResultsResponse": {
      "description": "`ListCompilationResults` response message.",
      "id": "ListCompilationResultsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
[...]
